[2018-12-10 15:32] kibertoad commented on #2942
@MartinKolarik I can't reproduce it in a test. Could you please specify a Node version that you are using?

[2018-12-10 15:41] MartinKolarik commented on #2942
Was using `10.8.0` but now updated to `10.14.1` (windows) with the same result.

[2018-12-10 15:46] MartinKolarik commented on #2942
https://runkit.com/martinkolarik/5c0e89d0abb5de00174c5b87 (it says knex 0.15.2 which is weird because that isn't the latest version and it even works with that version locally, but still)

[2018-12-10 15:51] kibertoad commented on #2942
@MartinKolarik Thanks! Reproduced, fixed, waiting for review :)

[2018-12-10 15:53] kibertoad commented on #2943
Should be fixed in 0.16.2

[2018-12-10 15:53] #2943 closed

[2018-12-10 15:54] MartinKolarik commented on #2942
@kibertoad amazing, thanks!

[2018-12-10 16:20] #2942 closed

[2018-12-10 16:36] storm732 opened #2945 "Float precision and scale ignored in postgres"
# Environment

Knex version: 0.16.2
Database + version: PostgreSQL 10.5
OS: debian 9 stretch

# Bug

When setting **precision** and **scale**  on a float inside a migration, those values are being ignored.
I set it to `table.float('myfloat', 3, 2);` but it was set to 8, 8 in the database.
I didn't get any error message or warning.

This is the exact code for the migration:
[code]
Note: `knex.userP

[2018-12-10 20:19] kibertoad commented on #2945
This one is actually a bit tricky. Currently Knex uses REAL type for floats, even though PostgreSQL supports SQL-standard FLOAT type as well. REAL does not support precision nor scale, FLOAT only supports precision and NUMERIC supports both precision and scale. Our documentation states that precision and scale are supported, and in PostgreSQL case that's clearly wrong currently.

@elhigu What woul

[2018-12-10 20:21] kibertoad commented on #2945
@storm732 In the mean time, you can use decimal type which should support both scale and precision already.

[2018-12-10 21:37] JenChampagne commented on #2940
Same, I tormented myself for way too long before checking here.

[2018-12-11 08:13] storm732 commented on #2945
@kibertoad Using decimal solves my problem. Thanks for your answer.

[2018-12-11 09:29] capaj opened #2947 "Feature request: multi column increment using object notation"
# Feature discussion / request

1. Explain what is your use case
this already was suggested in another issue here: https://github.com/tgriesser/knex/issues/269#issuecomment-280855866

2. Explain what kind of feature would support this
we just need for increment to be like `where()` or `update()`

3. Give some API proposal, how the feature should work
Since knex allows for object notation almost ev

[2018-12-11 13:50] tulios commented on #2886
Can you add the new definition? I'm currently doing:

[code]

and then

[code]

https://github.com/tgriesser/knex/blob/ff75f1d2bda11ddb8d9679d23364b52dcfa8f268/types/knex.d.ts#L570-L571

[2018-12-11 14:30] JenChampagne commented on #2940
Agreed. Though in my situation, I had something like this with a BlueBird Promise that was kicked off by another different method:

[code]

I understand why it works this way, but it would be nice to have a method to chain on that will prevent the knex query builder from executing in a context like this.

[2018-12-11 14:43] elhigu commented on #2940
Then it would be nice feature to have on every library that implements `thenable` pattern from promise spec. I don't think that is a good idea, since all JS developers should know how promises work and know their way to go around it.

I also learned that in some code that I was writing years ago, which was not related to knex in any way... Also arrow functions is fine way to go around the problem,

[2018-12-11 14:51] ivosabev commented on #2940
Actually @JenChampagne idea is not that bad and it could look similar to the `stream()` function (https://knexjs.org/#Interfaces-Streams).

[code]

Then we can have:
[code]

[2018-12-11 15:03] elhigu commented on #2940
@ivosabev that wouldn't work. Returned `query` would not be `thenable` anymore and for example this wouldn't do anything:

[code]

[2018-12-11 15:16] elhigu commented on #2940
By promise spec, that would require removing or disabling `.then` method from query builder. That would mean that after returning that query builder from `async` method one would have to somehow enable, `.then` method again.. so your code would start to look something like this.

[code]

Unless disable method would be automatically set to re-enable then after it has been resolved for the first tim

[2018-12-11 15:19] serprex commented on #2898
What was the `sql` string?

[2018-12-11 15:56] fl0w opened #5863 "0.16.2 is out on npm but new docs aren't published"
Not sure if intentional but figured I'd drop a reminder.

[2018-12-11 16:51] JenChampagne commented on #2940
That is exactly what I mean by having a way to force it to not be promisified. Though I would be a little more descriptive with the method names. Going back to my earlier example:

[code]

I don't think any of that is necessary. It's not a wildly uncommon feature to call an "execute" type of function to cause an sql query to be sent to the database for processing.

If I didn't understand how Promi

[2018-12-11 16:54] ivosabev commented on #2940
Having `builder()` or `query()` and `execute()` function sounds reasonable and in my opinion it could live in parallel with the current design that returns thenable.

[2018-12-11 20:26] sgoll opened #2948 "Could not find a declaration file for module 'bluebird'"
# Environment

Knex version: 0.16.2
Database + version: any
OS: any

# Bug

The 0.16 release of Knex includes TypeScript definitions, so that `@types/knex` is no longer required.

However, `package.json` fails to mention `@types/bluebird` as dependency: `types/knex.d.ts` fails to compile in line 15 without that: `import Bluebird = require('bluebird');`

The fix would be to include `@types/bluebird

[2018-12-12 02:13] #2948 closed

[2018-12-12 07:03] buzai opened #2950 "cant exit"
# Environment
knex:
latest

db:
Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production

OS:
osx 10.14.1

node:
10.9.0

[code]
this code can print the result, but it cant exit

[2018-12-12 07:52] mrdulin opened #2951 "Behaviors for declaring varchar array type and json array type are not same."
# Environment

Knex version:  `^0.15.2`
Database + version: `psql (PostgreSQL) 9.6.11`
OS: 10.13.6 (17G3025)

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Try to declare `VARCHAR[]` type.

2. Error mes

[2018-12-12 11:54] francoisromain opened #2952 "knex migration doesn't find the config file"
# Environment

Knex version: 0.16.2
Database + version: postgres 11
OS: mac os 10.13.6

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

the knex config file: `/tools/knex/knex.js`
[code]
when I run `npx k

[2018-12-12 12:07] HurSungYun commented on #2947
@kibertoad it has already implemented 2 months ago.

See https://github.com/tgriesser/knex/pull/2740 and have released in 0.16

[2018-12-12 12:07] HurSungYun commented on #2947
@capaj forget to tag. :)

[2018-12-12 12:12] capaj commented on #2947
That is awesome. Someone should update the docs then. Will close this issue then.

[2018-12-12 12:12] #2947 closed

[2018-12-12 12:24] elhigu commented on #2950
you need to call conn.destroy() to release the pool. Also your process.exit(0) line is not executed.

[2018-12-12 12:24] #2950 closed

[2018-12-12 13:32] elhigu commented on #2940
It could live in parallel, but I'm heavily against it, because of various reasons (mostly that it will cause more harm than good for `knex` project which is already too bloated with various APIs it offers):

- it would be more confusing to have multiple types of query builders going around, which some are `thenables` and others are not
- that additional API is not much better than,  just wrapping

[2018-12-13 05:34] stephenhuh commented on #2337
i can pick this up, definitely something i wanted in my use of knex.

[2018-12-13 05:37] buzai commented on #2950
@elhigu thank u

[2018-12-13 11:10] muturgan opened #2953 "Suggestion for method 'orWhere'"
I want to get some table entries with specific ids.

The array of these ids is generated in dynamic and its length can be different.

So, I can't use something like:
knex
   .select()
   .from('users')
   .where('id', 1)
   .orWhere('id',  2)
   .orWhere......

It would be great to be able to do something like:
knex
   .select()
   .from('users')
   .orWhere('id',  [...arr]);

Thank you.

[2018-12-13 11:11] jlsan92 commented on #2952
Same issue here! 💣

[2018-12-13 11:32] elhigu commented on #2953
It would be too ambiguous and opinionated behavior.

[2018-12-13 11:32] #2953 closed

[2018-12-13 13:37] muturgan commented on #2953
exelant, thank you

[2018-12-13 13:53] ianwalter commented on #1506
For other Postgres users looking for a solution to this, I've found that this works well:
[code]

[2018-12-13 17:20] google-master commented on #1795
let r = [];
  for(let i = 0; i < num; i++ ) {
    r.push( await fn() );
  }
//  let r = await Promise.all(Array(num).fill(fn()));
  console.log(r)
...
`select random()`
... then, results are almost the same

[2018-12-13 22:52] brandonros commented on #2665
Why not just use Knex as a query builder and handle the connection on your own?

[2018-12-13 22:58] kibertoad commented on #2952
Could you please provide more details about the use-case? Which directory are you running the command from? Also by the looks of it it doesn't fail to find config file, it fails to find migrations directory - or am I misunderstanding something?

[2018-12-14 08:52] francoisromain commented on #2952
Hello @kibertoad
I run the command from the root of the project with `npx knex --knexfile=./tools/knex/config.js migrate:rollback`. The config file is located at `./tools/knex/knex.js` and the migrations are at `./tools/knex/migrations`.

The error says it look for the migrations directory at its default place (`./migrations`), while the config file indicates it's located at `./tools/knex/migratio

[2018-12-14 09:37] klaemo opened #2955 "@babel/polyfill loaded multiple times"
# Environment

Knex version: 0.16.2
Database + version: Postgres 9 + CockroachDB
OS: macOS + linux

# Bug

[code]

This might happen because we require knex in two different files as we use two different databases. If knex is only to be required once per server/app (which would be weird), I guess that should be mentioned somewhere? Did I miss that?

I think it's not a good practice to include `@ba

[2018-12-15 23:06] kibertoad commented on #2952
I've just reproduced the issue, and as I was suspecting, problem is not with config file resolution - it throws a different error when that happens, "Cannot found module <...>". Problem seems to be with resolving path to migrations. Will try to address it now.

[2018-12-16 14:38] #5861 closed

[2018-12-16 15:07] #1547 closed

[2018-12-16 16:55] jonnolen opened #2957 "Feature Request: ability to extend knex.fn with new methods"
# Feature discussion / request

1. Explain what is your use case

We use uuid's as a id columns in our database and right now the best way to spec the default value using Knex schema builder is `defaultTo(knex.raw('your uuid gen code here')`  we are using specifically `defaultTo(knex.raw('gen_randome_uuid()')` from pg_crypto.  This is fragile because if the uuid implementation (unlikely) were to c

[2018-12-16 18:07] #2955 closed

[2018-12-16 18:17] #5863 closed

[2018-12-16 22:52] elhigu opened #5864 "clearCounters method is in wrong position in sidebar and docs"
PR where docs were added:  https://github.com/knex/documentation/pull/158

Docs should be in the same place where other .clearXXX methods are.

[2018-12-16 22:56] elhigu opened #5865 ".orderBy is having invalid signature"
Signature should declare and array format too, which allows to pass multiple columns for ordering.

Docs for multiple columns were introduced in https://github.com/knex/documentation/pull/143

[2018-12-16 22:57] elhigu opened #5866 ".connection method is missing from sidebar"
Connection method docs were updated here: https://github.com/knex/documentation/pull/138

[2018-12-16 22:59] elhigu opened #5867 ". withUserParams should have also entry in side bar menu"
Docs for the feature were added in PR https://github.com/knex/documentation/pull/135

[2018-12-16 23:36] elhigu opened #5868 "Javascript errors on knex documentation page"
These might be the reason why show full changelog link doesn't work.

[code]

[2018-12-16 23:41] elhigu commented on #2952
I think that the correct default behaviour is to have directories resolved relative to knexfile by default. Not relative to directory where client command has been ran.

[2018-12-16 23:46] kibertoad commented on #2952
@elhigu OK, will do the change now then.

[2018-12-17 00:33] elhigu commented on #2957
I've been writing this kind of helpers for common code to be used in migrations to a separate JS module and just imported it in every migration and also made versioning support for those methods to allow making updates to them later on, while keeping original implementation the same that they were when those migrations were ran to production DB (there are good reasons why old migration files shoul

[2018-12-17 01:04] elhigu commented on #385
I know tens of people who has always written their migrations just by writing only `table.bigincrements('id')` without `.primary()` also for postgresql, because it has been always working like that.

I though there was an extra option, which should be used to tell that the primary key should not be created, but looks like it is not there. At least I didn't find anything for postgres / mysql implem

[2018-12-17 06:39] #5866 closed

[2018-12-17 06:46] #5859 closed

[2018-12-17 12:31] #5864 closed

[2018-12-17 15:48] kukiric commented on #1937
I'll take this one. I have already implemented the functionality for PostgreSQL with some unit + integration tests, but I'll also try to get MySQL/MariaDB support in the PR as well for completeness.

[2018-12-17 19:40] mashaalmemon commented on #1626
@elhigu I was looking for the ability to have view creation/maintainence  in migrations as well.

You mention that knex.raw can be used. Can you give a quick example of how to achieve this using knex.raw? I'm assuming you don't mean create the entire view with knex.raw, but just sub in 'create view' vs 'create table' somehow with knex.

We use postgres in our project.

[2018-12-18 00:06] elhigu commented on #1626
What kind of query you need to have generated?

[2018-12-18 13:54] SkyzohKey commented on #1446
For anyone coming here after the same error, I fixed this by passing the `--migrations-directory migrations/` flag when running my `knex migrate:make` command. I suspect this is because I have no Knexfile setup into my project. :)

[2018-12-18 16:19] mashaalmemon commented on #1626
Something like these (depending on the options we're looking to use at view creation time):

[code]

[2018-12-18 16:33] jmhnilbog commented on #553
@brunolm No clue what I ended up doing. This was three jobs ago! My guess is that I monkey-patched things and kept moving. (I recall this app growing an appendix of monkey-patches, as we locked down dependencies pretty early in development. Relying on npm and accurate semver was a lot sketchier in 2014.

[2018-12-19 05:57] elhigu commented on #2794
@jerfowler there were some updates done in mssql driver and it seems to work ok for now, so there is no urgent plan to migrate out from it right now. But future shows where it leads...

There is not a single knex user in the world, who is using the native Microsoft driver with it. Internally knex always uses tedious with mssql driver (initializations that are hidden inside dialect code should be d

[2018-12-19 07:37] elhigu commented on #2945
Also I cannot think of any situation why one would like to use any other size of floats which are not 32 bits or 64 bits, since that will give the best precision for storage size (always 4 or 8 bytes for floats).

Being able to give scale and precision actually hints to the user that type might be implemented as decimal or with some other exact type which doesn't suffer rounding properties of floa

[2018-12-19 07:41] elhigu commented on #1626
This should work for your cases:

[code]

[2018-12-19 10:57] HurSungYun opened #5869 "sidebar index conflict of .index"
There are two `.index()` functions in Knex. One is in `schema builder` and the other is in `chainable`.

However, the url hash of those functions are same, so the latter one is not redirected correctly now.

https://github.com/knex/documentation/blob/gh-pages/components/Sidebar.jsx#L191

https://github.com/knex/documentation/blob/gh-pages/components/Sidebar.jsx#L201

It should be sorted out.

[2018-12-19 14:54] c0b commented on #179
:+1:

[2018-12-19 15:15] elhigu commented on #179
IMO it would be bad idea to implement this for current knex. It would require pretty much complete rewrite for knex internals. Closing as issue is very old and hasnt been very popular and I dont see that there is a chance to implement this in a way that it would be well tested as well.

[2018-12-19 15:15] #179 closed

[2018-12-19 16:59] kibertoad commented on #2955
0.16.3 is out with a fix for this.

[2018-12-19 17:00] kibertoad commented on #2952
0.16.3 is out with a fix for this.

[2018-12-19 17:00] kibertoad commented on #2952
@francoisromain Could you please check if a new version resolves issue for you?

[2018-12-19 17:04] francoisromain commented on #2952
@kibertoad yes, this works now https://github.com/MTES-MCT/camino-api/commit/043a3899bd7be9743b9588f3680fc4b2eb4e4dc6. Thank you very much for the quick fix.

[2018-12-19 17:07] kibertoad commented on #2952
np!

[2018-12-19 23:44] eastwood opened #2962 "How do you pronounce knex?"
Seriously though, is it `Connex` or `Nex`?

[2018-12-19 23:51] elhigu commented on #2962
Duplicate https://github.com/tgriesser/knex/issues/1879

[2018-12-19 23:51] #2962 closed

[2018-12-19 23:54] eastwood commented on #2962
Thanks @elhigu my qualms have been solved

[2018-12-20 02:11] demisx commented on #2952
This change actually broke the builds for us. We use `knexfile.js` in different places (code and npm scripts), e.g.:

[code]

[code]

It worked properly prior to v 16.3 where both would expect path relative to current dir, but after 16.3 upgrade, now one expects a relative path to current directory and the other one relative to `knexfile.js` location. Not sure how to make them both happy now.

[2018-12-20 05:33] jaskle opened #2964 "Oracle Stream missing metadata event"
# Environment

Knex version:0.16.2
Database + version:Oracle12c
OS:
Windows

# Bug

Oracle Stream missing metadata event, date event data does not include field attribute.

# Feature discussion / request
sql:select user_id,user_name from user ....

code:
stream.on('data', (data) => {
   // pg print:
    data:{
        user_id:123
        user_name :"abc"
    }
   // oracle print:
    data:{

[2018-12-20 06:13] Jay427 opened #2965 "MYSQL ECONNRESET"
# Environment

Knex version:"0.14.6"
Database + version: MYSQL Ver 15.1 Distrib 10.1.31-MariaDB, for Win32 (AMD64)
OS:Windows 10

# Bug

[code]

# Knex connection Function
[code]

#Query Used
const connection = {
	host: 'localhost',
	user: 'root',
	password: 'root',
	database: 'test',
}
const knexTemp = await knexConnection(connection);
const tableData = [{'name' : jack},{'name' : 'marker'}];
cons

[2018-12-20 06:17] gokulsridhar opened #2966 "SUM values"
function cred1() {
     return  knex("main").sum("cr as cr").where('supplier',data.supplier).then(function(res){return res});

   }

This is returning
Promise {
  _bitField: 0,
  _fulfillmentHandler0: undefined,
  _rejectionHandler0: undefined,
  _promise0: undefined,
  _receiver0: undefined }

But  I need sum value

[2018-12-20 10:33] elhigu commented on #1833
@brandonros if it is idle, then connections may be closed by the server or by pool and when new query is done, new connection is fetched to the pool if necessary... So no need to keepalive... you should never get  `Connection terminated unexpectedly` error when you are executing query, unless connection is terminated, after connection has been fetched out from pool (app has made query and connecti

[2018-12-20 10:42] elhigu commented on #2965
Please add complete minimal code for reproduction. Current one cannot just be copy pasted and ran against own DB. Closing until then.

[2018-12-20 10:42] #2965 closed

[2018-12-20 11:41] Aitchy13 commented on #2076
For unit testing, I've only been checking that the queries executed by Knex from my SQL wrapper are formed correctly, by using `toString()` at the end of the query chain. For integration testing, I've been employing the strategy already listed above - that is to cycle: rollback -> migrate -> seed, before every test. Understandably that may be too slow if you cannot keep your seed data small, but m

[2018-12-20 11:55] elhigu commented on #2076
That is really bad way to do it. Running migrations back and forth takes easily hundreds of milliseconds, which is way too slow. You should run migrations only once for whole test suite and then before test just truncate all the tables and populate suitable test data in. It can be done easily 100x faster than rollingback / recreating whole schema.

[2018-12-20 12:14] kibertoad commented on #2952
Hell yeah, one more edgecase :D.
@elhigu Do you think we should modify non-CLI migrations to behave like CLI migrations in this case? Alternatively we may try to strictly reconstruct 0.15.x behavior, but considering that it wasn't documented nor covered with tests...

[2018-12-20 12:14] kibertoad commented on #2952
@demisx Do I understand correctly that problem is with how path to migrations/seeds is resolved?

[2018-12-20 12:50] elhigu commented on #2952
I think its ok to figure out some reasonable set of functionality which enables as wide range use cases as possible and document + test that.  If 0.15.x behavior was good and enables all necessary use cases that would be the preference-

[2018-12-20 12:55] kibertoad commented on #2952
@demisx Could you please check how 0.15.x behaved under your circumstances and if it would be an improvement over how 0.16.3 works for you?

[2018-12-20 12:57] Jay427 commented on #2965
@elhigu

[code.zip](https://github.com/tgriesser/knex/files/2698917/code.zip)

Check this zip file
-Create table with including schema
-Run code using this command node server.js

[2018-12-20 13:05] elhigu commented on #2965
Thanks... I read the code through. I would suspect you are running to maximum SQL statement length. Single SQL statement can be only 65kB with mysql and you are creating insert with 5000 rows which means that unless single row is less than 13 bytes, you will exceed that limit.

[2018-12-20 13:10] elhigu commented on #2965
You can use knex.batchInsert, lodash.chunk (for splitting your rows to insert to smaller batches)  or for example objection's graphInsert to work around that.

[2018-12-20 13:15] ricardograca commented on #2076
You can use [knex-cleaner](https://www.npmjs.com/package/knex-cleaner) for easily truncating all tables:

[code]

Note that there's no need to use the `ignoreTables` part if you're running migrations at the start of each test suite run. This is only needed if you run migrations manually on your test database.

[2018-12-20 13:17] kibertoad commented on #2076
@ricardograca Does it handle cases with foreign keys well? (meaning cleaning won't fail because deletion order is wrong)

[2018-12-20 13:20] elhigu commented on #2076
If not, that is easy to fix (just need to truncate all tables with single query) :)

[2018-12-20 13:21] kibertoad commented on #2076
@elhigu How can you do that?

[2018-12-20 13:48] elhigu commented on #2076
Depends on database, but for example like this: https://github.com/Vincit/knex-db-manager/blob/master/lib/PostgresDatabaseManager.js#L95

[2018-12-20 14:14] edevil opened #2967 "MaxListenersExceededWarning starting from Knex 0.16.x"
# Environment

Knex version: 0.16.1-3
Database + version: Postgres 9.6
OS: MacOS
Node: 10.14.2

# Bug

1. After upgrading my project from 0.15.2 to 0.16, running tests started throwing showing several warnings.

2. Error message
[code]

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to mysql or postgresql, then single file example which

[2018-12-20 14:17] edevil commented on #2844
I'm using this code:
[code]

which works. However, I started obtaining a `MaxListenersExceededWarning` on Knex 0.16. https://github.com/tgriesser/knex/issues/2967

[2018-12-20 15:04] Zolmeister commented on #2936
I'd like to add that there are significant performance gains to be had (20-40% faster queries).
Specifically around this hot spot: https://github.com/tgriesser/knex/blob/master/src/client.js#L307

Workaround (postgres):
[code]

[2018-12-20 16:45] demisx commented on #2952
I've just tried 0.15.2 and didn't notice any difference with 0.16.3. I still had to set different paths in `knexfile.js` depending whether it is required from source code or being passed as a  CLI argument. The version that works the best for us a is the previous 0.16.2. Looks like the path there is relative to the project root directory and all paths in `knexfile.js` are relative to the project r

[2018-12-20 18:51] elhigu commented on #2936
Well... thats hardly complete benchmarking code, so I believe there are also error in benchmarking setup . By looking that "hotspot" sounds like you are actually just taking ready made connections from pool and then putting them back all over again. Also you should first run code against your monkey patched version and then monkey patch it again with Bluebird to have a bit more reliable results fr

[2018-12-20 21:52] kibertoad commented on #2952
@demisx Thanks for checking it!
@elhigu I wonder if we could use some kind of a config switch here?..

[2018-12-20 21:57] kibertoad commented on #2967
I think it is actually related to knex instance being cloned for execution of internal queries, probably we are leaking emitters somewhere there.

[2018-12-20 23:06] #5865 closed

[2018-12-20 23:13] Zolmeister commented on #2936
You are probably correct. I tried to isolate/reproduce it again, but was unsuccessful. Also agree that it shouldn't be an issue (other than perhaps an async scheduling bug in bluebird, but that's unlikely)

[2018-12-20 23:13] kibertoad commented on #2936
Having said that, I still would like to remove bluebird for 0.17.x release next year when support for Node 6 is dropped.

[2018-12-21 06:52] Jay427 commented on #2965
@elhigu Thanks.

[2018-12-21 11:11] ricardograca commented on #2076
@kibertoad Yes, it handles foreign key constraints just fine and deletes everything.

[2018-12-21 11:14] elhigu commented on #2952
You mean switch in command line client or new attribute in knex config? The first solution would be fine, latter solution I would not like. Its hard to think what would be the best solution for this, since I dont know all the use cases nor I have had to put deep though in this.

[2018-12-21 11:15] elhigu commented on #2967
Probably this could be also tested automatically at least partly.

[2018-12-21 12:02] kibertoad commented on #2952
Either would work for me, if you prefer CLI parameter we can go with it.

[2018-12-21 12:46] martinschnurer opened #2970 "typescript .toNative() showing error"
# Environment

Knex version: 0.16.3
Database + version:  PG 9
OS:  OSX Mojave

# Bug
1. Typescript error message .toSQL().toNative()
2. Property 'toNative' does not exist on type 'Sql'.

# Feature  request
- Add feature in order to error not showing again
- Adding type to interface Sql would solve the issue
- add type toNative() to Sql Interface

[2018-12-21 15:35] edevil commented on #2967
FYI, these warning messages also appear when running the migration tests of the Knex testsuite. I even saw a “check_leaks” flag somewhere, so I think this should have caused tests to fail.

I can investigate this after the holidays if it’s not fixed by then.

[2018-12-23 17:00] klaemo commented on #2955
Thank you!

[2018-12-23 18:33] aviyadeveloper commented on #2413
I am having a similar issue, but it is using mySql, which the documentation isn't clear about in regard of support for that format and `.returning()`

[2018-12-24 12:44] elhigu commented on #2413
@aviyadeveloper you are right... documentation is not very clear about it. It kind of hints that when inserting single row, that should work... but IIRC .returning() is not supported at all with mysql.

[2018-12-24 12:46] kibertoad commented on #2413
[code]
Is it ambiguous?..

[2018-12-24 13:00] elhigu commented on #2413
Yes

Yep, also when single row is added, returning doesn't have any effect on mysql. https://runkit.com/embed/sm0iqqrqmrux

[2018-12-25 08:18] leotian opened #2971 "SQL_NO_CACHE"
How to use SQL_NO_CACHE in knex.js？

[2018-12-25 17:12] maximedupre commented on #2761
I think this ticket is invalid, since I'm creating a "date" column, not a "datetime" column and the quote specifically talks about DATETIME:

[2018-12-25 17:12] #2761 closed

[2018-12-25 22:29] Wintereise opened #2972 "Feature Request: seed:run should print the file name of the failing seed"
# Environment

Knex version: 0.15.2
Database + version: PostgreSQL 10.6
OS: Ubuntu Linux

# Feature discussion / request

1. Why

When `seed:run` is called and something goes wrong (perhaps due to a DB constraint), Knex does NOT print which exact seed file the issue happened in. This leaves you with a wild goose chase.

2. Explain what kind of feature would support this

Simply printing the file t

[2018-12-25 22:32] kibertoad commented on #2972
@Wintereise Could you please try 0.16.3? I think it was addressed there.

[2018-12-25 22:33] kibertoad commented on #2972
Ah, seeds. It should work properly for migrations, but it could be that it's not the case for seeds. I'll look into it.

[2018-12-25 22:35] Wintereise commented on #2972
Yep, same behavior on 0.16.3 @kibertoad

[code]

Thank you for looking into it!

[2018-12-25 23:11] kibertoad commented on #2972
@Wintereise Could you please review https://github.com/tgriesser/knex/pull/2973?

[2018-12-27 16:49] alexalexson143 commented on #2410
Thanks, this helped me.

[2018-12-27 16:53] kibertoad commented on #2410
Added to the recipes in wiki for future reference.

[2018-12-27 17:20] #2972 closed

[2018-12-28 07:10] tundebabzy opened #2974 "knex object is not available on knexjs.org"
# Environment
This happens on knexjs.org

# Bug
Users should be able to pop open the console and build queries using the knex object. However, as at today (28 Dec 2018), if you open the console, you will meet an error message:
[code]

[2018-12-28 07:39] muturgan opened #2975 "incorrect handling of empty array in "whereNotIn""
# Environment

Knex version: 0.15.2 (because of there is only @types/knex 0.15.1)
Database + version: mysql  Ver 8.0.13 for Linux on x86_64 (MySQL Community Server - GPL) (it does not matter)
OS: Ubuntu 18.04 (js processing in windows 10 on local developing)

# Bug

my query:
[code]
if filters === {} and topNewsIds === [] it leads to:
select newsId from news where 1 = 1 (I got it via knex.toString

[2018-12-28 08:09] wubzz commented on #2975
There's a discussion about this in #2897

[2018-12-28 09:08] muturgan commented on #2975
I understood. thank you

[2018-12-28 09:08] #2975 closed

[2018-12-28 10:50] kibertoad commented on #2974
Support for WebSQL was dropped, actually. I guess we need to update documentation to remove all references to it.

[2018-12-28 14:54] elhigu commented on #2974
Actually that kind of should work, since all the exam ples in documentation page are built with knex. So query building n browser should work. However there is some js errors on documentation page right now, which might cause this. There is an open issue about it in the documentation repo. Linkin this to the same issue and both can be fixed at the same time https://github.com/knex/documentation/is

[2018-12-28 14:54] #2974 closed

[2018-12-28 20:34] koskimas commented on #2966
All queries are asynchronous and return a promise. You need to `await` the promise to get the result, or chain a `then` call. You should read up on async programming and promises. Something like [this](https://javascript.info/async) could be a good place to start.

[2018-12-28 20:34] #2966 closed

[2018-12-29 03:49] mendrinos opened #2976 "Couchbase support"
# Environment

Knex version: Any
Database + version: Couchbase
OS: Any

# Feature discussion / request

Would be nice to see support for Couchbase, to give the same ODM/ORM feeling when working with the Couchbase Data Platform..

[2018-12-29 04:09] codinggirl commented on #1589
The document says Identifier Syntax, ie, table name, column name, has no place for selecting schema, so if you are doing schemaName.tableName, query might be rendered wrong.

It suggested use `.withSchema('schemaName')` instead.

But I found `.withSchema` only work in one schema all over the builder block.

As so far, I have the following temporary sollutins:

	- Do not use `.withSchema` at all in

[2018-12-29 04:12] codinggirl commented on #1589
The document says Identifier Syntax, ie, table name, column name, has no place for selecting schema, so if you are doing schemaName.tableName, query might be rendered wrong.

It suggested use `.withSchema('schemaName')` instead.

But I found `.withSchema` only work in one schema all over the builder block.

As so far, I have the following temporary sollutins:

- Do not use `.withSchema` at all in

[2019-01-01 11:46] Janso123 commented on #2717
@wubzzI think it is a great idea. It is what I need to end project that I'm working on for a company that I'm working for.

[2019-01-01 13:01] elhigu commented on #2717
You can implement similar helpers directly to your project, no need to wait this for this to get your project finished.

[2019-01-01 14:55] ozergul opened #2978 "Many to many relation does not work expected"
# Environment

Knex version:
Database + version: mysql, 0.16.3
OS: windows

## Introduction

Hello
I am coding simple blog site with admin panel. I have Post, Tag and Category models.

**Post.model**

[code]

**Category.model**

[code]

**Tag.model**

[code]

I am inserting post like this. I know it is a bit long sorry..

[code]

And finally I am getting posts with their categories and tags. Categ

[2019-01-01 15:38] ricardograca commented on #2978
This was already posted on Bookshelf's issue tracker. If you want help, ask on Stack Overflow or try to reduce your question to a single issue, instead of dumping all the code you have.

Closing as this was already asked here: https://github.com/bookshelf/bookshelf/issues/1935

[2019-01-01 15:38] #2978 closed

[2019-01-01 15:38] elhigu commented on #2978
Try to ask from stackoverflow or bookshelf forums.

[2019-01-01 15:39] elhigu commented on #2978
ricardograca was faster :)

[2019-01-01 17:38] Janso123 commented on #2717
can i use his `StandaloneTransaction` (code from above) ? if yes how to make it work if not what else do I need? It is enough to just look at transaction how it is implemented and do the same thing?

[2019-01-01 17:50] elhigu commented on #2717
Depends on what are you trying to do exactly. Anyways that is offtopic from this thread maybe people in stackoverflow can help with solution of your exact problem.

[2019-01-02 08:31] itinsley commented on #2094
Thanks @pineapplemachine . This fixes my issue but feels a little unstable.

[2019-01-02 13:42] edevil commented on #2967
The commit that introduced this behaviour was 1eac063b28baf25b5e3140bd71c6358d056f1695.

[2019-01-02 13:51] kibertoad commented on #2967
@edevil Yup, I'm pretty sure that this is related to cloning of knex instance that was introduced back there. I'll look into this as soon as possible, hopefully this week.

[2019-01-02 20:38] DavidAbgaryan commented on #1713
i removed this  \node_modules\knex\lib\dialects\mssql folder and thats all but i dont need to use mssql that is the reason why i remove this folder and problem is solved

[2019-01-03 15:05] fastidious-magician opened #2980 ""and 1 = 0" Appended to Query String"
# Environment

Knex version:
Database + version: MySQL 5.7.23
OS: Win10

# Bug
The included query below is returned 0 records as a WHERE clause, "and 1 = 0" is being appended to the query string.

      let queryStr = knex.withSchema("MyDb")
            .select(knex.raw("DISTINCT SN"))
            .from("Inspections")
            .where("SN", "LIKE", `${searchTerm}%`)
            .andWhere("IDate"

[2019-01-03 15:06] kibertoad commented on #2980
I assume `dateRange.max` is null?

[2019-01-03 15:08] kibertoad commented on #2980
If yes, then it is pretty much by design. If you want flexible handling of optional params, see how it is done here (or use `knex-utils` directly): https://github.com/kibertoad/knex-utils/blob/master/lib/query.utils.js

[2019-01-03 15:45] elhigu commented on #2980
Cannot reproduce with valid args.

[2019-01-03 15:45] #2980 closed

[2019-01-03 16:41] fastidious-magician commented on #2980
These are the parameters. max and min are allowed to be empty strings and are not null.
The output contains "and 1 = 0" with the following:

        searchTerm = "2330";
        dateRange = {
            min: "2018-01-04",
            max: "2019-01-01"
        };

and

        searchTerm = "2330";
        dateRange = {
            min: "2018-01-04",
            max: ""
        };

and

        sea

[2019-01-03 16:50] kibertoad commented on #2980
@fastidious-magician Could you create a PR with a failing test that would be reproducing this case? Then we could fix it.

[2019-01-04 06:33] miewx commented on #1001
how remove quotes

I find string type id  where cause
[code]

but remove quotes there is no errors
[code]

[2019-01-04 08:21] sjh836 opened #2981 "wrong where clause"
Hi. My project uses only knex. ("knex": "^0.16.3")
The more select, the more past where clause is added.
Therefore, it does not return the correct query result
What is the problem?

## datasource.js
[code]

## dao.js
[code]

## dao.spec.js
[code]

Console output screen.
The second query has an unintended `where id = ? limit ?` The method is also wrong. It is select, not first
The third query has a

[2019-01-04 11:19] elhigu commented on #2981
Sounds like knex usage issue (user error). Please reduce reproduction code to single file without any extra code / wrappers... just plain queries and something that shows that queries are still wrong. People in stackoverflow might want to help with debugging your app.

[2019-01-04 11:19] #2981 closed

[2019-01-04 17:43] wubzz commented on #2981
It's because you are re-using a querybuilder over and over again:
[code]

You would have to call `this.db(this._tableName)` in each respective function instead, so that a new builder is used for each query.

Alternatively define a getter:

[code]

[2019-01-06 00:07] main-dev commented on #385
Any solution?

[2019-01-06 06:08] jimsimon opened #2983 "Migrations: Add lifecycle callbacks"
# Environment

Knex version: 0.16.3
Database + version: all
OS: Mac OSX

# Feature discussion / request

1. Explain what is your use case
I'd like to be able to interact with the connection and/or transaction before any migrations are run.  This would allow for better customization of migration behavior when using them programmatically.  In my specific case, I'd like to be able to run `SET SCHEMA

[2019-01-06 06:13] jimsimon commented on #2983
My current workaround for not being able to set the schema prior to migrations running is to create a new knex instance with a custom `searchPath` for each schema migration.  While this approach works, it's a lot clunkier and eats up extra resources.

[2019-01-06 06:58] DanrwAU opened #2984 "SQLite - query not working as expected"
# Environment

Knex version: latest
Database + version: sqlite
OS: Windows

# Bug

Query not working with Knex - works fine when run as a query directly on the sqlite database.

Original Query
`UPDATE messages SET alias_id = (SELECT id FROM capcodes WHERE messages.address LIKE address ORDER BY REPLACE(address, '_', '%') DESC LIMIT 1)`

Knex Code
[code]

Knex output
[code]

It's currently setting e

[2019-01-06 23:39] elhigu commented on #2984
Generated query looks the way it should look with given query builder. Closing as not a bug. Stackoverflow should be used for knex usage support.

ps. maybe this do what you were trying to do:

[code]

[2019-01-06 23:39] #2984 closed

[2019-01-07 04:34] soumyamishra12 commented on #1901
Hi All,

i am also getting same issue and using below version of knex:
Knex version : 0.14.6
Any work around will be really helpful.i didn't see it fixed in the latest version also.
Please update if any body is having anything

[2019-01-07 13:07] elhigu commented on #2983
If I understood correctly this use case was already covered with https://github.com/tgriesser/knex/issues/2799

[2019-01-07 13:48] elhigu commented on #2971
with knex.raw I suppose.

[2019-01-07 13:48] #2971 closed

[2019-01-07 14:02] elhigu commented on #2094
Generally that is an invalid functionality, since it will make DB to treat local times as if they would be in timezone +00. For example when you cast timestamp with timezone to be in certain timezone in SQL query.

[2019-01-07 14:09] elhigu commented on #2980
@fastidious-magician please read https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md#what-is-minimal-code-to-reproduce-bug-and-why-i-have-to-provide-that-when-i-can-just-tell-whats-the-problem-is

[2019-01-07 16:55] jimsimon commented on #2983
This isn't quite what I'm looking for.  In my case, I don't want the migration author to have to manually specify the schema as it would be pretty easy to forget to add the `.withSchema` call.  The goal is to abstract away the tenant concept so that the migrations appear as though they were written for a single database.  I proposed generic lifecycle methods as a solution so that they may be usefu

[2019-01-07 16:58] kibertoad commented on #2983
@jimsimon Can't you just use knex.withUserParams for that? (https://github.com/knex/documentation/pull/135)

[2019-01-07 17:21] jimsimon commented on #2983
@kibertoad See my last comment -- using that approach would require every migration to include a `.withSchema` call, which I'd like to avoid (to keep things DRY, make the mental model simpler, and avoid issues with people forgetting to add it since in my case I keep the public schema around).

[2019-01-07 17:30] kibertoad commented on #2983
OK, I can see how this is useful. Shouldn't be too complicated to implement either.

[2019-01-07 20:09] jorions commented on #2262
I was having the same issue as an MS SQL Server user.

The point @DHFW and @kirkor made ("It seems that every command is a separate context for MS SQL Server") was playing a role here, it seems, given that the `IDENTITY_INSERT` kept being seen as `OFF` when I had everything in 1 transaction, but framed as 3 separate `.raw`, `.insert`, and `.raw` queries.

I found this to be a bit cleaner:
[code]

[2019-01-07 21:44] jimsimon commented on #2983
Excellent, I can take a stab at it tonight.  It does look pretty straightforward.

[2019-01-08 05:42] jpike88 commented on #2295
This is a major pain in the butt, I have many queries that take in 3-5 bindings, and instead of playing whack a mole I'd like the option to turn on the binding values.

[2019-01-08 06:08] kibertoad commented on #2295
@jpike88 PR is welcome!

[2019-01-08 07:08] elhigu commented on #2983
I would not like to rush to just add new ad-hoc life-cycle methods just for this single use case, before thinking it through first.

Maybe there is a way to write those life cycle methods in a way that they would not be limited only for migrations. Maybe there is some previous discussion somewhere about life cycle methods to check first?

[2019-01-08 15:35] anatoliyklamerdataart commented on #1871
Faced same issue but i need poo size more than 1
So my solution is to use shared memory database
`const knex = require('knex')({
  client: 'sqlite3',
  //connection: ':memory:',
  //connection: { filename: "./mydb.sqlite", },
  connection: {
    filename: "file:memDb1?mode=memory&cache=shared",
  },
  useNullAsDefault: true,
  pool: {
    min: 1,
    max: 10,
    disposeTimeout: 360000 * 1000,

[2019-01-08 15:37] zxxc commented on #1871
Faced same issue but i need pool size more than 1
So my solution is to use shared memory database
[code]

[2019-01-08 15:44] elhigu commented on #1871
I had no idea sqlite3 supported that kind of inmemory database. Thats worderful... however when is that kind of named in memory database purged from memory? At the same moment when the process that created it exists? I suppose that works only when one has single process accessing the named in memory database (so I suppose you cannot run for example migrations in a separate process and access the s

[2019-01-08 19:32] jimsimon commented on #2983
Well, another option would be to provide lifecycle methods around transaction creation in general, which would probably have a larger set of potential use cases.  That being said, competing migration tools have lifecycle hooks.  As an example, Umzug emits [events](https://github.com/sequelize/umzug#events) for each migration and also allows for [configuring a "wrap"](https://github.com/sequelize/u

[2019-01-08 19:53] jimsimon commented on #2983
Proposal 1: Migration lifecycle callbacks
[code]

Proposal 2: Migrations middleware
[code]

This approach could also be expanded to allow for multiple middlewares by doing something like:
[code]

Proposal 3: Same concepts but for knex or trx instance as a whole
Some options might be:
```knex.middleware.query([middleware1, middleware2])```
```knex.middleware.transaction([middleware1, middleware2])`

[2019-01-08 20:31] gmarcz opened #2985 "knex.raw strange behavior"
# Environment

Knex version: 0.14.6
Database + version: PostgreSQL 9.4
OS: macOS Majove 10.14.2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

My knex config is very simple, I use it only to generate SQL

[code]

First case:

[code]

Result:

`insert into "resp" ("respondent_data", "respondent_id") values ({"query": "'3B80OyXQlOX'mode=start"}, ?)`

Second

[2019-01-08 21:44] Gehbrial opened #2986 "MSSQL's batchInsert : The incoming request has too many parameters. The server supports a maximum of 2100 parameters. Reduce the number of parameters and resend the request."
# Environment

Knex version: 0.16.3
Database + version: SQL Server 13.0.4206.0
OS: Windows 10

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

@smorey2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Whenever I try to batch insert records, I quickly ru

[2019-01-08 22:50] jameshowe commented on #2222
Just to update @robbiedhickey's example, you should be able to simply call `aquireConnection()` from the client instance
[code]

[2019-01-08 23:58] toymachiner62 opened #2987 "Why do I have to have a knexfile.js file to use the CLI to generate migrations?"
I don't want to use a `knexfile.js` file for my env configurations b/c I'm using helm/kubernetes and I inject my environment configs during build/deploy.

I tried creating a migration without having a `knexfile.js` file and it blows up with:

[code]

Since using the CLI to generate migrations doesn't actually run any migrations, why is the `knexfile.js` necessary to generate migrations?

[2019-01-09 01:03] kibertoad commented on #2987
It is not necessary in 0.16.3

[2019-01-09 01:03] #2987 closed

[2019-01-09 01:49] elhigu commented on #2986
Sounds like you need to use smaller chunk size. Docs say that "By default, the chunkSize is set to 1000."   in your case I suppose 100-200 would be better.

[2019-01-09 01:49] #2986 closed

[2019-01-09 01:57] kukiric opened #2988 "Upgrade MySQL in Travis to 8.0"
# Environment

Knex version: 0.16.3
Database + version: MySQL 8.0
OS: Not applicable

# Feature discussion / request

Currently, the tests in Travis are run against MySQL 5.7, which means bleeding edge features (such as #2961) cannot have accompanying tests. It would be ideal to upgrade the version of MySQL used during integration tests to 8.0, as it's the latest stable version on the website and

[2019-01-09 06:44] soumyamishra12 opened #2989 "Knex - OracleDB - knex Procedure results REF_CURSR output"
# Environment

Knex version:0.16
Database + version:11g
OS:windows

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Is there any method provided by knex to read the out parameter which is a ref_cursor type and return JSON directly .

2.No error but one extra arsing i am doing to par

[2019-01-09 09:44] ricardograca commented on #2983
I prefer option 1 personally. The intention seems clearer and it doesn't rely on calling `next()` to work. Also, I think you have a typo and the last hook should be named `afterEachMigration`, not `afterAllMigrations`.

Finally, why not drop the `Migrations` part from the names? Seems a bit redundant.

[2019-01-09 11:43] elhigu commented on #2989
This doesn't seem like a bug... to be frankly I really don't understand from description, what is the problem you are having. Stackoverflow is correct place to ask about knex usage. These issues are for bug reporting and discussion of new freatures.

Closing as not bug / feature request.

[2019-01-09 11:43] #2989 closed

[2019-01-09 14:15] soumyamishra12 commented on #2989
Thanks for the reply. But there is issue with knex library using oracledb for store procedure execution same as [](https://github.com/tgriesser/knex/issues/1901) [](url). Any fix for this i have used the latest version of knex but getting the same issue when having out parameters.
Please provide some solution for this.

[2019-01-09 14:31] soumyamishra12 opened #2990 "Knexwith oracledb gives error while executing procedure having out parameters"
# Environment

Knex version:0.14.6
Database + version:
OS:windows

I get what it seems to be a Bluebird error when I try to execute an Oracle stored procedure using raw() :

[code]

This gives error as below:

`Error : TypeError: BEGIN schema.STORED.PROCEDURE(:1, :2); END; - expecting an array or an iterable object but got [object Null]`

[2019-01-09 15:19] elhigu commented on #2989
I suppose current status of how to use oracledb's stored procedure outbindings is discussed here https://github.com/tgriesser/knex/issues/1901

your best hope is to use oracledb driver directly.

[2019-01-09 15:30] soumyamishra12 commented on #2990
@elhigu  That a mistake when i copied my code to modify i am passing 2 parameters only and one is out and one is in. i have scanned through the issue  #1901 but didn't find proper answer to solve it .

If any fix will be available with latest versions it will be helpful.

After adding the above code this works though but this is change in index.js in dialects which is not applicable when installed

[2019-01-09 15:38] elhigu commented on #2990
Currently only recommendation in #1901 is to use oracledb driver directly instead of through knex. Better solution would be to send PR to knex which would add support + tests for that.

[2019-01-09 15:44] soumyamishra12 commented on #2990
Thanks  @elhigu will create a PR

[2019-01-09 20:55] jimsimon commented on #2983
Typo is fixed, thanks for pointing that out!

I put `Migrations` in the name because it made it a little more readable/clearer to me, especially if other callbacks are added later (i.e. `beforeTransaction`, `beforeConnection`, etc).  I'm not opposed to changing the naming if someone feels strongly about it though.

[2019-01-10 04:04] sscovil commented on #1939
A little late to the party, but I thought I'd share a Node script that I run when using docker-compose with a Knex migration service.

[code]

This is in a directory called `db` off of the root directory of my project. The `docker-compose.yml` file looks like this:

[code]

[2019-01-10 10:52] mrdulin opened #2992 "knex docs website throw error, not correct output?"
# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

knex docs website throw an error? I am confused.

I guess you execute the example code  somewhere and show the output if there is no error, otherwise, it will show error.

For example, I picked a code snippet for knex docs website.

[code]
Here is my guess:

[code]

So, I think there is a bug in `sampleExecuto

[2019-01-10 11:10] elhigu commented on #2992
Referred this report from related documentation issue: https://github.com/knex/documentation/issues/163

[2019-01-10 11:10] #2992 closed

[2019-01-10 14:04] fl0w commented on #2985
Sure, Knex parses question marks and binds values.
However, why do you use `knex.raw` anyway? Why not simply a regular string?

[code]

[2019-01-10 14:58] elhigu commented on #2985
Also `.toString` / `.toQuery`  methods are not really useful for even debugging. because they doesn't show what kind of data is sent to driver. You will get better info with .toSQL() which returns sql string and bindings separately.

[2019-01-10 15:00] elhigu commented on #2985
Closing as doesn't look like a bug

[2019-01-10 15:00] #2985 closed

[2019-01-10 18:40] elhigu commented on #2985
that is kind of strange, because sorting update keys was fixed in 0.14.0... #2171 can you show output of toSQL() ? my best bet that .toString() messes them up somehow.

[2019-01-10 19:37] gmarcz commented on #2985
Just tried with the latest knex version 0.16.3 got the same result.

[2019-01-10 19:49] gmarcz commented on #2985
Maybe knex.raw() should escape questions marks automatically if someone is calling it without the bindings params to avoid this situation ?

[2019-01-10 23:03] elhigu commented on #2985
Not a bug. You should not pass values with knex raw, but use bindings and in case when you do it anyways, question marks should be escaped to prevent treating them as bindings. Somewhere in the issues there is more discussion of improvements  how knex.raw should work in future...

That sorting inserted keys is maybe something knex should not do, but so far there has not been any reports it causing

[2019-01-11 23:18] Luizdidier opened #2993 "Knex Js disrespect DataType for my database"
Hi everyone, I have a problem in KnexJs I'm using with postgreSQL, but every time I make a select the knex answers all the data in the table as a string, which is not the case, since there are fields that are numbers and the knex Pass me like string someone would know how to help me I'm desperate.

I already thank you

[2019-01-12 04:50] stoicbuddha opened #2994 "Chaining queries in knex.raw with semicolon causes MariaDB to throw an error"
# Environment

Knex version: 0.16.3
Database + version: MariaDB 10.1.16
OS: CentOS 7

# Bug

Referenced query (passed to knex.raw):

**Expected behavior:**
Since I'm passing an id that exists (15, 16) I expect the values to be updated and MariaDB to process this query successfully.

**Error:**

Note that this query string, when put directly into MySQL Workbench, works fine.  It also works fine whe

[2019-01-12 08:09] wubzz commented on #2994
Unless I'm mistaken current knex build uses mysql driver for MariaDB so I'm guessing this could be related to `multiple statement queries` being disabled by default, unless you've already enabled this option?

Although the error message is a bit odd to be related to multiple statements imo, I'm just guessing..

https://www.npmjs.com/package/mysql#multiple-statement-queries

[2019-01-12 19:47] maulerjan commented on #2651
+1 !!!

[2019-01-13 09:39] darklord1807 opened #2995 "Module not found in CSV-Schema"
# Environment
Windows 10
Knex version: 0.16.3
Database + version:
OS: Windows 10

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1) Trying to update the project https://github.com/timwis/csv-schema to latest Knex version.
2) Getting the following error when compiling:

ERROR in ./~/kn

[2019-01-14 00:46] lanners-marshall opened #2997 "onDelete('CASCADE') not working knex node express"
tbl.increments()

tbl
     .string('post_body', 128)
     .notNullable()

tbl
     .integer('user_id')
     .unsigned()
     .notNullable()
     .references('id')
     .inTable('users')
     .onDelete('CASCADE')

running an sqlite3 database in development and trying out .onDelete('CASCADE'), however when I delete a user all his posts still remain in the database. This is currently a bug? I have be

[2019-01-14 01:48] brunolm opened #2998 "knex 0.16 doesn't support knexfiles written in TypeScript"
# Environment

Knex version: `0.16.3`
Database + version: docker `postgres:10.4`
OS: Windows 10 Pro & Docker `node:8.14.0`

# Bug

1. `knex migrate:make --knexfile knexfile.ts`
2. Error message: `Unexpected token import`

Works normally on `0.15.x`

[2019-01-14 06:19] elhigu commented on #2995
Webpack setup should be fixed in timwis/csv-schema.

[2019-01-14 06:19] #2995 closed

[2019-01-14 08:52] mikl commented on #2998
0.16 now has TypeScript types included in the repo (see #2845 ). You probably need to remove the `@types/knex` from your project for this to work correctly.

[2019-01-14 09:44] elhigu commented on #2997
Please add complete reproduction code and also add output queries that toSQL() returns `knex.schema.createTable(...).toSQL()` If those queries doesn't seem to be correct lets reopen.

[2019-01-14 09:44] #2997 closed

[2019-01-14 16:57] stoicbuddha commented on #2994
@elhigu Why is this? The reason I'm doing this is to save on calls to the database. While there are only 2 in the code in my bug report, it could end up being quite a few more, and each one would end up being a call to the db otherwise.

[2019-01-14 16:58] kibertoad commented on #2994
@stoicbuddha It's up to driver whether or not it will process multiply queries combined in a same call. Hence it is fragile, hence it is not recommended.

[2019-01-14 17:01] stoicbuddha commented on #2994
@kibertoad I appreciate the response.  That makes sense.  I don't think it would be a huge issue for my project at this stage, but I could see it being more of an issue down the road, so I'll try to figure something else out.  Thanks!

[2019-01-14 17:05] kibertoad commented on #2994
@stoicbuddha You don't necessarily need to figure something different out if you are pretty sure that you are not migrating from MariaDB anywhere. Which driver are you using? For `mysql` you can do this: https://www.npmjs.com/package/mysql#multiple-statement-queries

[2019-01-14 17:45] elhigu commented on #2994
IIRC one can not use parameter bindings when using that multiple statements in a single query feature of mysql driver. If that was the case one should overuse that feature either. For saving amount of roundtrips to db it is probably premature optimization since pooling prevents the overhead of creating connections for every query separately. Though there are some very special situations where that

[2019-01-14 18:01] stoicbuddha commented on #2994
Honestly, from what you guys have said, I doubt my use case makes this particularly necessary. If I can't bind with multiple queries, then that is the last direction I want to go. My app is still in the super early development stages, so it does sound like I may be jumping the gun here as far as what I need to optimize at this stage of the game.

[2019-01-15 01:52] brunolm commented on #2998
I uninstalled `@types/knex` but I still got the error.

[code]

[2019-01-15 15:33] mmouterde commented on #2948
Please could you describe the bug more precisely.

I guess this is a wrong solution, `@types/bluebird` should be in `devDependencies`, in any case typings
should be bundled in the runtime dependencies, Typescript by definition can not be used in runtime level.

[2019-01-15 15:34] mmouterde opened #2999 "@babel/polyfill & @types/bluebird should be declared as dev dependencies"
# Environment

Knex version:0.16.3
Database + version: pg 10
OS: Linux

# Bug

Some dependencies are declared in the `dependencies` scope instead of the `dev-dependencies` scope

Please see : https://github.com/tgriesser/knex/issues/2948#issuecomment-454435008

[2019-01-15 15:36] kibertoad commented on #2999
Imagine that you are using knex as a dependency. If bluebird typings are not `dependencies`, then you don't get them transitively and you don't have typings even though you are using bluebird interfaces in your code (as knex returns bluebird promises).

Polyfill gets called during knex startup, how can you avoid bundling it?

[2019-01-15 15:58] mmouterde commented on #2999
Ok, sorry, forget about it... bluebird use typescript 2.8, I use 2.6 and there is a breaking change in syntax :/

[2019-01-15 15:59] kibertoad commented on #2999
@mmouterde 2.6 is more than year old, are you sure you don't want to update?

[2019-01-15 16:02] mmouterde commented on #2999
yep, updated. Thah works. sorry.

[2019-01-16 08:17] HurSungYun opened #3001 "missing `.queryContext` type definition for knex.Raw"
# Environment

Knex version: 0.16.3
Database + version: mysql 5.7
OS: macOS X

# Bug

I tried to compile this query,

[code]

and Typescript error message is,

[code]

the type definition is missing, so it should be fixed.

[2019-01-18 02:10] eioo opened #3003 "migrate:make fails with TypeScript"
# Environment

Knex version: 0.16.3 (Using TypeScript knexfile)
Database + version: PostgreSQL 10.5
OS: Windows 10 Pro 64 Bit

# Bug

When running `knex migrate:make somename`, this is the output:
[code]

This is the content of my `knexfile.ts`:

[code]

Some additional details:
- `knex migrate:make somename` works if I change knexfile extension to `.js`. (knex 0.16.3)
- `knex migrate:make somenam

[2019-01-18 09:01] elhigu commented on #2998
`knex migrate:make --knexfile knexfile.ts` isn't that trying to run typescript code with plain node? I have no idea how that could have worked with 0.15 either.

How does your knexfile look like? is there any import statements?

[2019-01-18 14:41] araujoyuri commented on #2247
I'm having the same problem, but I have 3 huge queries and I don't want to duplicate them just for this. Any suggestions?

[2019-01-18 14:44] kibertoad commented on #2247
@araujoyuri This https://github.com/tgriesser/knex/pull/2869 would address your issue. Would you consider picking it up, addressing comments and writing documentation for it?

[2019-01-18 14:55] araujoyuri commented on #2247
@kibertoad my problem is that I don't save the query in an object, I just return the result of the promise. To be honest, I didn't understood very well the issue you referenced.

[2019-01-18 15:23] kibertoad commented on #2247
@araujoyuri Can you explain your request then? Referenced issue is about being able to take query builder and reset previously set limit on it.

[2019-01-18 16:08] elhigu commented on #2247
@araujoyuri why you dont want to duplicate them? It is simple .clone() command in query builderchain...

[2019-01-18 16:11] elhigu commented on #2247
As kibertoad mentioned we need to see some code to actually understand what are you trying to do to be able to offer any useful guidance...

[2019-01-18 17:09] araujoyuri commented on #2247
@elhigu @kibertoad Here's my code:

[code]

So, I don't want to replicate those 3 queries just to remove the limit. Is there another option?

[2019-01-18 17:11] araujoyuri commented on #2247
Just so we're clear: I didn't designed this architecture and now I have to keep this thing working

[2019-01-18 17:42] elhigu commented on #2247
You can refactor that to something like:

[code]

[2019-01-18 17:58] araujoyuri commented on #2247
@elhigu Yeah, I've seen that I could store the query in an object, I'm just trying to avoid to change this code as best as I can because it's already hard to maintain and we'll soon deprecate it. But I'm really thankful for your help, I'm gonna do what you've suggested above :)

[2019-01-18 19:46] mikl commented on #2998
I have no idea why that would work with 0.15. As the error `Unexpected token import` tells you, the `import * as knex from 'knex'` is not understood by Node.js (not in the configuration you're using, at least).

You'll either need to compile your knexfile to JavaScript, use a Node.js version that understands the import syntax, or revert the file to use the old `require()` syntax.

[2019-01-18 20:39] brunolm commented on #2998
It does a 100% read the knexfile, I use it in more than a single project with different migration folders and connection data.

On version `0.15` it was compiling or maybe using `ts-node` automatically to run the file.

[2019-01-18 20:45] brunolm commented on #3003
I think this is probably related: https://github.com/tgriesser/knex/issues/2998

[2019-01-18 20:51] elhigu commented on #2998
I just tested it... you are right, both versions are trying to register ts-node stuff. Sounds like that feature is not tested. Not sure if even documented.

[2019-01-18 21:03] elhigu commented on #2998
nope... now really tested it with necessary stuff installed on node 8

[code]

[2019-01-18 21:04] elhigu commented on #2998
cannot reproduce, but it is totally possible feature to be implemented, since knex already uses ts-node to compile actual typescript migration files and seeds

[2019-01-18 21:06] elhigu commented on #3003
Nope, this is different issue. and I can confirm that #2998 cannot be reproduced with given information.

[2019-01-18 21:13] elhigu commented on #3003
Sounds like automatic knexfile resolving does not look for knexfile.ts, you can pass `--knexfile knexfile.ts` argument to command or give path directly to the migration generator command with:

[code]

I suppose client should look for knexfile.ts automatically though.

[2019-01-18 21:20] brunolm commented on #2998
I've setup a full example in case you want to investigate why it works on 0.15 and not on 0.16

Branch: `knex16` has `0.16.3` installed
https://github.com/brunolm/knex16bug/tree/knex16

Branch: `knex15` has `0.15.2` installed
https://github.com/brunolm/knex16bug/tree/knex15

Switch to the branch you want to check and run on the root folder:

[code]

If it works you should see a migration called `t

[2019-01-18 22:35] elhigu commented on #2998
after installing also some more packages (ts-node ts-node-dev typescript) it seems that both, 0.15 and 0.16 works just fine here... but indeed your docker setup with node 0.16 is failing and I have no idea why

[code]

[2019-01-18 23:06] elhigu commented on #2998
If I moved knexfile in your container to /usr/src/app it did try to compile correctly... I cannot reproduce that behavior locally though. Here everything works even if knexfile.ts is inside subdirectories...

[2019-01-18 23:35] brunolm commented on #2998
I think I found maybe a bug on 0.16, or just something weird.

On 0.15 `launch` is called with `configPath`
https://github.com/tgriesser/knex/blob/0.15.2/bin/cli.js#L260

But on 0.16 it's called with

[code]
https://github.com/tgriesser/knex/blob/0.16.3/bin/cli.js#L303-L304

LiftOff calls `var env = this.buildEnvironment(opts);` which calls `findConfig({` passing `configPath` (which is no longer p

[2019-01-18 23:49] brunolm commented on #2998
# `knex@0.15.2`

Uninstally typescript / ts-node I get this

[code]

I don't see this message at all on 16, it just breaks.

[2019-01-19 00:11] brunolm commented on #2998
@elhigu I figured it out, I made a PR, can you check it?
https://github.com/tgriesser/knex/pull/3005

[2019-01-19 12:54] elhigu commented on #2998
Reopening since this probably is a bug somewhere... even that I don't know how to reproduce it on osx.

[2019-01-19 18:02] developer239 commented on #2952
I am using typescript my `knexfile.ts` looks like this:

[code]

I had to tell knex that it has to look for `knexfile.ts`.

![image](https://user-images.githubusercontent.com/14946081/51430515-b1d99700-1c1c-11e9-95ff-8be30a3e77e4.png)

[2019-01-20 00:52] zefexdeveloper commented on #2844
How is the progress to merge this PR @kibertoad ?

[2019-01-20 08:16] kibertoad commented on #2844
@zefexdeveloper See #2968. It was already merged.

[2019-01-21 13:15] verdie-g opened #3007 "TypeError: Property 'log' does not exist on type 'Config'"
# Environment

Knex version: 0.16.3
Database + version: PostgreSQL 11.1
OS: up-to-date Arch Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

As mentioned in the doc, the config object of knex can contain a "log" field but it is missing in the [type definition](https://github.com/tgriesser/knex/blob/master/types/knex.d.ts#L668).

2. Error message

[cod

[2019-01-21 14:38] Ratikant01 opened #3008 "Issue in rollback when error in inner query"
Knex version: 0.15.2
Database + version: mysql 5.5
OS: Windows 10

I knowingly made one column name wrong in inner insert query; it fails to inset the records but the outer query inserts the record and does not get reverted back / rollback on error in inner query! Where I am doing wrong? I need the promise to be returned to router where I am handling the response!

[code]

[2019-01-21 14:41] Ratikant01 commented on #3008
I tried different ways mentioned in documentations; nothing is working! I am creating pool like below in different file:
[code]

[2019-01-21 18:26] kirrg001 opened #3009 "`instanceof Raw` is not reliable"
# Environment

Knex version: latest
Database + version: any
OS: any

# Bug

Extracted from https://github.com/tgriesser/knex/issues/2763:

I am running into trouble having two versions of knex in one project.

- Ghost uses knex 0.14.6 in our model layer
- knex creates an instance of raw when using `orderByRaw` ([see](https://github.com/tgriesser/knex/blob/0.14.6/src/query/builder.js#L486))
- our m

[2019-01-22 10:10] ondrejbudai opened #3010 "stinct"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2019-01-22 10:11] ondrejbudai commented on #3010
Sorry, misclick.

[2019-01-22 10:11] #3010 closed

[2019-01-22 17:44] akhll commented on #756
this work
knex version 0.15.2

[code]

[2019-01-23 00:38] tgriesser commented on #3009
We should probably switch to using symbols `Symbol.for('@knex/raw')` and expose predicates so we can use those e.g. `isRaw(...)` rather than `instanceof Raw` checks for situations like this, though there might be some minor inconsistencies between different versions.

Really though we should fix the underlying issues so you don't need two versions in the first place. Sorry I'm just catching back u

[2019-01-23 12:07] zefexdeveloper commented on #2844
Thank you @kibertoad

[2019-01-23 23:02] Msea commented on #285
I am trying to use Listen with knex. Using @farzher 's idea I accessed the raw pg connection on app startup and was able to listen on my channels.
However, because I am using a single raw connection and not the connection pool if my database goes down, I lose the connection. Is there a way around this? Can I use my knex connection to poll for when by db comes back up?

[2019-01-24 09:14] KevinCepria opened #3011 "knex.raw and trx.commit in knex.transactions"
Hello. Im just new to knex and came across Transactions. I think its useful to use since it has a rollback feature. Tried using it (see code below)

 await knex.transaction(trx => {
` knex.raw(`delete from myTable where "id" = 1 `).transacting(trx)
           .then(trx.commitl)
           .catch(trx.rollback)
 })`

I just wanted to delete a row with a certain id nothing more and less.
Works fine,

[2019-01-24 15:43] Zakini opened #3012 "Setting text column type in MySQL is case sensitive"
# Environment

Knex version: 0.16.3
Database + version: MySQL 5.7.21
OS: macOS 10.13.6

# Bug

Setting the type of a MySQL TEXT column only works if the type is lower case. MySQL is case insensitive for this kind of thing, so I'd expect knex to do the same.

[code]

[2019-01-24 22:15] elhigu commented on #3012
Clearly it tries to validate the input somehow. Would be reasonable to throw an error if input value is invalid instead of silent ignore.

[2019-01-24 23:17] rodhoward commented on #148
I'm still having trouble with partial migrations. my code looks like this:
[code]
[code]

The tags sql is applied and the stays in the database even after the roles_tags sql fails.

I'm guessing there is either an issue with the way I'm using transactions or transaction.raw() isn't actually executed in a transaction.  I'm connecting to mysql:
'innodb_version', '8.0.13'
'protocol_version', '10'
'tl

[2019-01-25 08:33] #3011 closed

[2019-01-25 08:41] elhigu commented on #2844
Sounds like this was done. Closing.

[2019-01-25 08:41] #2844 closed

[2019-01-25 09:14] elhigu commented on #3008
Please add complete reproduction code in single file. Check contributing for more information. AFAIK code above should work and does work. Can be reopened if proper reproduction code is added, which is easy to run and verify by others. There are tests that knex transactions actually do work.

[2019-01-25 09:14] #3008 closed

[2019-01-25 17:48] lmedson commented on #1173
Thanks

[2019-01-27 00:40] Ubiquitous23 opened #3013 "Knex createTable doesn't return the correct SQL syntax when primaryKey() is chained"
# Environment

Knex version: 0.16.3
Database + version: MYSQL version 8.0.13 and npm mysql version 2.16.0
OS: OSX 10.13

# Bug

When trying to create migrations I came across this. The SQL syntax for primaryKey chaining is incorrect but no error is thrown unless I console.log out the createTable function.

[code]

It returns this SQL syntax:
[code]

However, this is incorrect SQL syntax and it sho

[2019-01-27 12:09] Ubiquitous23 commented on #3013
Although using toString to print this out, still returns the wrong SQL syntax. It seems that the problem was with SequelPro rather than KnexJS directly.

[2019-01-27 12:09] #3013 closed

[2019-01-27 23:19] ClintDavis opened #3014 "AWS Aurora - Web Service Data API"
AWS Aurora MySQL has feature 'Web Service Data API', this is an HTTP layer for making SQL queries, and its intention is to remove the need for VPC's between serverless functions (lambda) and a relational database. Similar to how DynamoDB is queried.

Implementing this as a dialect of Knex will help with the serverless movement.
Note (28/01/2019): The feature is Beta and seems to currently suffer f

[2019-01-28 11:01] Alextunchii opened #3015 "Query falls on timeout if returns a large number of "count" operator"
Knex version: 0.16.3
Database + version: mssql
OS: IOS
client: 'mssql', version: 4.1.0

Hi! I struggle, as for me, with a simple thing, but maybe I'm doing something wrong just in case or it's really knex's disability.

All queries I use for tests are with operator `count(distinct something)`. I always return just a number, ex. 500
But if the result is more than 500K, 1M and so on I can't wait for

[2019-01-28 12:50] elhigu commented on #3015
Please add complete and minimal reproduction code if you think this is a knex bug check CONTRIBUTING.md . Otherwise if this is just a knex usage question please use gitter or stackoverflow for that (as it is instructed in the issue template).

Sounds like you have just written too slow queries and timeouts are happening because of that. Also you do not provide enough information how things fail if

[2019-01-28 12:50] #3015 closed

[2019-01-28 13:45] Alextunchii commented on #3015
I think it's related to knex, because using just client: 'mssql' and sending just a string of this built(in knex) query I have a returned number.
Using naked mssql and sending a query(just string) 3 times larger takes: 1m 25sec
Using knex and sending this query:

[code]
:Another File(where I import this class with querybuilder for tests)

[code]

Let me to change the meaning, let's forget about o.

[2019-01-28 15:25] wubzz commented on #3015
Do you mean via the SQL Server Management Studio? If so, you could try to run the same query using only the driver module _(without knex)_ to see if there's a difference.

I would guess more on a driver issue than knex issue, since knex just generates the sql string and passes it to the driver. A `count` query doesn't return much data either, so it can't be a parsing issue.

[2019-01-28 20:13] benny-medflyt commented on #2535
I would just like to point out that this is probably not as useful as you guys are hoping.

If you hook up a callback to the "row" event that is being discussed, then you must process the data synchronously (as opposed to asynchronously). For example, your callback could perform filtering of the rows, or calculate aggregate results. But such a usage is an anti-pattern and is discouraged, because i

[2019-01-29 06:59] Ratikant01 commented on #3008
Strange!!! I tried all possible ways; but this does not rollback when inner query fails!!

[2019-01-29 08:03] elhigu commented on #2535
Nothing prevents handling data asynchronously in anyways. The same way with streams.

Sometimes it is a bad thing sometimes not... however if one needs to do it to so big data block that one needs to do it with row by row event handling, there probably is too much data to handle and it would be better to do it on DB side. Anyways this bad use case is irrelevant. AFAIK It has never been the reason

[2019-01-29 08:11] elhigu commented on #3014
There is information about how and where to implement new dialects in CONTRIBUTING.md

[2019-01-29 08:11] #3014 closed

[2019-01-29 09:09] Ratikant01 opened #3017 "Does rollback really work?"
Knex version: 0.16.3
Database + version: mysql, 5.5
OS: Windows

I am making the inner query fail by adding a wrong column! Inner query fails, but does not rollback whole transaction! Here is my code:

[code]

I tried with trx.rollback();  trx.rollback(error) or even throwing Error; with promise return and without promise return. It falls in both error blocks (inner and outer); still surprisingly

[2019-01-29 09:23] Ratikant01 commented on #3017
I even tried this: https://github.com/tgriesser/knex/issues/2083
No luck! can you confirm if this works for mysql v5.5?

[code]

[2019-01-29 10:15] benny-medflyt commented on #2535
No, this will not work just fine. You use `fs.createWriteStream` and then you `write` to your file stream from the "row" event callback. But the problem is that you must be prepared for the `write` function to return false. Quoting the [docs](https://nodejs.org/api/stream.html#stream_writable_write_chunk_encoding_callback):

So if you get false, then you must wait. But you can't wait, you are gonn

[2019-01-29 10:32] benny-medflyt commented on #2535
btw, the [pg-query-stream](https://github.com/brianc/node-pg-query-stream) library does actually give us an actual honest-to-god node stream of query result rows. But a look at the source shows that it is indeed a thin wrapper around a database Cursor.

[2019-01-29 12:53] elhigu commented on #3017
Complete reproduction code please... something that creates necessary tables and shows that the code above does not work. Check CONTRIBUTING.md why and what minimal reproduction code means.

[2019-01-29 12:53] #3017 closed

[2019-01-29 12:54] elhigu commented on #3017
Here is the test code that this should work:

https://github.com/tgriesser/knex/blob/master/test/tape/transactions.js#L37

[2019-01-29 13:57] flesler commented on #2535
If node-pg doesn't provide a way to implement back-pressure, it won't be possible. But the worst case scenario where that happens, you are still better off than now, buffering only temporary chunks of data in memory until you can flush again. The fact that it might not be perfect does not mean it's a magnitude better than the current scenario.

It's not that you _must_ wait, but rather you **shoul

[2019-01-29 19:12] sanrodari commented on #2222
MSSQL example:

[code]

[2019-01-30 01:39] Osuriel opened #3018 ".toString() and .toSql() still run query against the database"
# Environment

"knex": "^0.16.3",
"mysql": "^2.16.0"

I'm trying to do a lot of things and test out stuff and I keep polluting my test database with random data. ideally, I'd just like to do things and see what the output query would be instead of running it against the actual database to see if it actually worked.

I was told I need to add .toString() .toSql() at the end of my query builder. but

[2019-01-30 01:56] tgriesser commented on #3018
You have the entire query in one statement. Try breaking it up:

[code]
The queries don't get executed until they're awaited and/or `.then()` is called. Also if you need more debugging start your app with [DEBUG](https://knexjs.org/#faq) `DEBUG=knex* node index.js` from the terminal

[2019-01-30 01:56] #3018 closed

[2019-01-30 06:41] Ratikant01 commented on #3017
Thanks for reply! I am not sure how much code I can provide here. Anyways, I am trying as much as code I can put here to help you get the issue.

**express app: app.js**
[code]
**router: user.js**
[code]

**service: user-service.js**
[code]

**connection pool: app-connection.js**
[code]
**config: db-config.js**
[code]

Any idea where I am doing wrong?

[2019-01-30 06:54] wubzz commented on #3017
Try changing `trx.batchInsert` to `appKnex.batchInsert('department', fields, 10).transaction(trx)`

[2019-01-30 07:34] elhigu commented on #3017
@Ratikant01

Did you read the CONTRIBUTING.md where I have pointed you already 3 times?

It says:

[code]

The code you provided was still not minimal nor complete reproduction code :( I hope @wubzz tip is helpful though.

[2019-01-30 08:59] Ratikant01 commented on #3017
@elhigu  sorry for that! It seems; once the outer INSERT query is successful, it is getting auto-committed (in mysql v5.5 db); hence not getting rollback when there is any error in inner INSERT query! The solution provided by @wubzz did not work as well. Below is simplest code to forcefully fail the transaction; but still in this case transaction does not rollback; even I tried to set autocommit=0

[2019-01-30 09:31] elhigu commented on #3017
Mysql autocommit should not have effect inside transactions anyways. You are doing something wrong... there is a testcase which shows that the case you are trying to do actually work in knex...

[2019-01-30 09:42] Ratikant01 commented on #3017
![image](https://user-images.githubusercontent.com/5038421/51972452-69826a80-24a1-11e9-809b-7dea27be049c.png)

[2019-01-30 09:46] Janso123 commented on #2764
tediousjs/node-mssql
[code]

[2019-01-30 09:48] ricardograca commented on #3017
I'm pretty sure this is not an issue with Knex, but just with MySQL itself: https://dev.mysql.com/doc/refman/5.5/en/commit.html

[2019-01-30 09:59] Ratikant01 commented on #3017
Yep, it could be issue with mysql v5.5. Is there any way we can handle this in knex?

[2019-01-30 10:46] elhigu commented on #3017
@ricardograca  What do you mean by that? Transactions works just fine with mysql 5.5... autocommit is related to queries done outside of transaction and in this case I don't see any DDL queries which would cause implicit commit (which should not be confused with autocommit that is completely different thing).

From the pasted error it looks like everything is going just as expected and nothing is

[2019-01-30 10:48] elhigu commented on #3017
Yes, you could provide that reproduction code I've been asking for already too many times... It is no use to try to figure out where the problem is when no one else can reproduce your problem.

[2019-01-30 11:18] Ratikant01 commented on #3017
After transaction failed; I refreshed the database table and as usual the row was inserted already (outer query executed successfully without any rollback). I have no idea what extra code I should provide to reproduce this issue from your end, but I will try same code with another database and will update if the same code works there. Thanks a lot for putting your time to help me out!

[2019-01-30 11:40] Ratikant01 commented on #3017
This is for mysql v5.5 - I will try with other database and will post my findings..

[2019-01-30 11:57] elhigu commented on #3017
@Ratikant01

Did you read the contributing.md?

https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md#what-is-minimal-code-to-reproduce-bug-and-why-i-have-to-provide-that-when-i-can-just-tell-whats-the-problem-is

There is described what is minimal reproduction code and why it is important to provide. Was there something that you did not understand in that document? If there was something

[2019-01-30 13:37] wubzz commented on #2955
Imho it feels a bit strange to have a dependency in a project which is only used for a specific Node version.

Could we either

**A)** Remove the dependency and attempt a vanilla fix for Node 6? _(Not sure what the fix is for, maybe it's too complex?)_

**B)** Force the *user* to install the dependency the very same way we force users to install the db drivers?

CC @elhigu @kibertoad @tgriesser

[2019-01-30 13:39] kibertoad commented on #2955
@wubzz Vanilla fix is going to be complex, e. g. we don't really want to implement Object.values by hand. I'm OK with forcing user to install the dependency, but it also means that he would need to manually require it as well. This would mean that our tests are not going to pass on Node 6. Maybe we should just drop Node 6 support already and release 0.17.0?

[2019-01-30 13:43] wubzz commented on #2955
Similarly to how dialects are handled we could just `try/catch` the require in linked PR and notify the user to install the dependency if it's not already installed. So user doesn't have to have their own require. *(This is how dialects are required afaik)*

As for our tests we could still use it if need be, as a devDependency.

This is not a big issue it just hit me when upgrading from 0.15.

[2019-01-30 13:45] kibertoad commented on #2955
Sure, that sounds reasonable. I'll cook up a PR today if I have any spare time.

[2019-01-30 14:04] dmytropanontko opened #3019 "[BUG] loadExtensions works unright way"
# Environment

Knex version: `0.16.3`
DB: `Postgres 10.6`
OS: `Ubuntu 18.04`

I tried to run migration

[code]

I use TypeScript and create source map for all my fiels with extensions `.d.ts`. When I was running migration I got following error message:

![image](https://user-images.githubusercontent.com/37536815/51985897-aea99b00-24a7-11e9-842b-c64694e1b944.png)

After that I go to `/node_modules/

[2019-01-30 14:04] Ratikant01 commented on #3017
Yeah, I went through the contributing.md, but probably it is going to take some time for me to create a reproducible code in current situation. I have "sqlite3" version of same database. I will try that once and update my findings here.

[2019-01-30 14:07] kibertoad commented on #3019
It was fixed in unreleased version: https://github.com/tgriesser/knex/pull/2969

Hopefully we release 0.16.4 with a fix soon (@elhigu wink-wink)

[2019-01-30 14:07] #3019 closed

[2019-01-30 14:09] dmytropanontko commented on #3019
@kibertoad I need this fix ASAP. Could you release some beta version?

[2019-01-30 14:09] kibertoad commented on #3019
Unfortunately, I can't, but @elhigu can.

[2019-01-30 14:11] dmytropanontko commented on #3019
Hi @elhigu , please release beta version of `0.16.4`. Thanks
@kibertoad Thanks and have a nice day.

[2019-01-30 15:47] joscelynjean commented on #2665
As suggested by @brandonros , we started to handle the connection ourselves by providing it explicitly  to Knex (available since 0.16.1). This allow us to use the proxy user functionality from Oracle using Oracledb driver introduced since 2.3.0.

It works great for simple query using the query builder but is there any way to explicitly tell Knex to use a connection in a transaction? It doesn't see

[2019-01-30 15:48] kibertoad commented on #2665
@joscelynjean https://knexjs.org/#Builder-connection Is this what you are looking for?

[2019-01-30 15:48] kibertoad commented on #2665
If not, could you describe what kind of API you would like to have for it that you currently don't?

[2019-01-30 16:05] joscelynjean commented on #2665
Just to describe with code what I am trying to do.

To do a simple insert using the query builder, I am doing this (and it works great)!

`
const conn = await getConnectionWithProxyUser('some user');  // This return a Oracle connection
await knex({ client: 'oracledb' })
          .from('A_TABLE')
          .insert(object)
          .connection(conn);
`

If I try to run the exact same statement but

[2019-01-30 16:05] kibertoad commented on #2665
@joscelynjean I'll add it to my ToDo list, thank you!

[2019-01-30 16:10] joscelynjean commented on #2665
Thank you @kibertoad , as soon as there is something available, we will test it on our side.

[2019-01-30 22:25] vjpr opened #3020 "mssql: `TypeError: The "config.server" property is required and must be of type string.`"
`This knex version only supports mssql driver versions 4.1.0 and 5.0.0+`

# Environment

Knex version: knex@0.16.3
Database + version: mssql
OS: macos
mssql version: 5.0.0-alpha.5

[2019-01-31 02:02] Nemoden commented on #1800
While this is been marked as resolved, the issue is still there.

[code]

[code]

[code]

Actual query, which's being executed against mysql server (general_log = 1):

[code]

[2019-01-31 02:30] elhigu commented on #1800
Thats really really old knex. It shouldn't support json column / dialect version attribute at all. So probably you are really using 0.16.2 or something like that..

This issue only added support that schema allows to create json type of columns. You need to check from mysql driver docs, in which format it requires JSON input to be inserted. Maybe you need to call JSON.stringify() before insert wit

[2019-01-31 02:33] elhigu commented on #3020
Error tells you that 5.0.0-alpha.5 is less than 5.0.0. You need to update your mssql driver.

[2019-01-31 02:33] #3020 closed

[2019-01-31 02:50] Nemoden commented on #1800
Sorry, that was a typo, "1" has "slipped away" from the second version offset to the third.
`knex` version I'm using is indeed `0.16.2`.

Yeah, fair enough. That was the reason why I've tried `mysql2` instead of `mysql`. I think I'll go with `JSON.stringify` if the client is MySQL.

Not a `knex`'s concern.

[2019-01-31 03:04] elhigu commented on #3020
hmm.. sounds like alpha should work, since I just did ran all the tests suite against it a minute ago. So I cannot reproduce this error.

[2019-01-31 03:08] elhigu commented on #3020
Is this about  missing typings or what...? Will re-open if clarifications are added.

[2019-01-31 03:42] elhigu commented on #3019
0.16.4-next1 is now in npm

[2019-01-31 04:40] apurvshah opened #3021 "Oracle : Not able to lock tables on oracle database using transaction"
# Environment
node: v8.9.2
Knex version: 0.16.2
oracledb: 3.0.1
Database + version: Oracle 11g/12C
OS: Windows8.1 Pro

Select applicable tempalate from below.
If issue is about oracledb@3.0.1 support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. In Oracle database tables are not getting locked. I am using 'knex.transaction(trx)' and then subsequent trans

[2019-01-31 05:02] elhigu commented on #3021
Transaction itself should not lock any tables. Please add reproduction code. There are tests for example that select for update works and locks everything correctly.

That being said, I would not be surprised if there are still bugs in oracledb client's transaction implementation.

Closing as cannot reproduce. Can be re-opened if repro code is added. More info about minimal reproduction case is fo

[2019-01-31 05:02] #3021 closed

[2019-01-31 13:06] Ratikant01 commented on #3017
I now can confirm; rollback does not work in mysql v5.5 (though not sure about higher versions). Here is the code I tested in sqlite3 and it just rollback the transaction when there is any issue in inner one; but same code does not work when I switch to mysql.

[code]
![image](https://user-images.githubusercontent.com/5038421/52056009-066b0380-2587-11e9-9df6-dd189017c09b.png)

[2019-01-31 13:20] elhigu commented on #3017
You still haven't confirmed anything because no one else has not confirmed your results... and im not sure if this a troll or not anymore :(

If you would have done that, your problem would have been resolved ages ago.

[2019-01-31 14:58] Ratikant01 commented on #3017
I am using knex in 2 of my projects; and I am very impressed with this API - so no troll :-) And as I have already mentioned, I am not very comfortable with creating a reproducible code; but if you smell any coding related issue in previous code, please let me know. I now feel this issue could be related to pool / connection creation part or mysql itself (because it works for sqlite3) if it is not

[2019-01-31 19:13] montera82 commented on #203
this may also be a helpful workaround
http://blog.victorquinn.com/full-text-search-with-bookshelfjs

[2019-02-01 01:44] estaub opened #3025 "Cannot set default Date on timestamp column."
### Environment

Knex version: 0.16.3
Database + version: Postgresql 10.3
OS: MacOS

### Problem

Trying to set a Date as timestamp column default fails:

[code]
complains
[code]
This works:
[code]

[2019-02-01 06:06] elhigu commented on #3025
Looks like .defaultTo is not using bindings to pass the value (not sure if db drivers even support using bindinds there).

That could be fixed or documented better.

Anyways it seems that if object is passed there .toString() is used to convert the value to SQL and server does not understand that timeformat. You could do .defaultTo(new Date(0).toISOString()) to use iso format for passing the datet

[2019-02-03 15:44] patrickdet opened #3026 "knex.ref missing from typescript definitions"
# Environment

Knex version: 0.16.3
Database + version: Postgres 10
OS: macOS

# Bug

I am using Knex with typescript and noticed that `knex.ref` is missing from the definition which means I cannot use the following statement from the documenation:

[code]

## Error message

"Property 'ref' does not exist on type 'Knex'".

[2019-02-03 22:41] E-Kuerschner opened #3027 "Failing to only load compiled Typescript (.js) files in migrations directory"
# Environment
Node v8.1.4
Typescript v3.1.6

Knex version: 0.16.3
Database + version: Microsoft SQL Server 2017 (RTM-CU3-GDR) (KB4052987) - 14.0.3015.40 (X64)
OS: macOS 10.14.2 (18C54)

# Bug
*Disclaimer*: This could be a duplicate of #2756

`knex migrate:latest` fails on an invalid syntax error `SyntaxError: Unexpected token import` when it attempts to load `database/migrations/20180405225010_cre

[2019-02-03 22:55] E-Kuerschner commented on #3027
As I started the pull request for this, I noticed the changes I were about to make have already been merged into master... I guess I'm just waiting on a new release then?

[2019-02-03 22:56] kibertoad commented on #3027
You can try 0.16.4-next release

[2019-02-04 04:48] Zeeeeta opened #3028 "oracledb insert/update Buffer to BLOB - Error: NJS-044"
# Environment

Knex version: 0.16.3
Database + version: Oracle 11g & node-oracledb 3.1.1
OS: Win7 & Node.js v10.14.1

If issue is about oracledb support tag @atiertant.

# Feature discussion / request

**Explain what is your use case**

Build sql&bindings to be executable by node-oracledb for inserting/updating JS Buffer to Oracle BLOB column.

I want to have control over the DB execution and just

[2019-02-04 18:03] capaj opened #3029 "docs: parameters missing for distinct()"
![image](https://user-images.githubusercontent.com/1305378/52227250-48f64e00-28af-11e9-94d5-59b8e03ae025.png)

I believe it should be:
[code]

It would also be nice if it mentioned that it falls back to `*` when no parameters are supplied.

[2019-02-04 18:10] reediculous456 opened #3030 "Knex not passing client connection settings to database driver (Postgres)"
# Environment

- Knex version: have used 0.13.0, 0.14.X, 0.15.0, 0.16.3 (currently using 0.15.0 because that is the highest bookshelf is compatible with)
- pg version: 7.8.0
- Database + version: Postgres 8.4.20
- OS: MacOS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Knex does not pass the connection configuration to the Postgres Database Driver (pg). I

[2019-02-04 19:14] ricardograca commented on #3030
I'm not seeing any evidence of Knex not passing client connection settings to database driver. Also, if Bookshelf is irrelevant in your case there is no need to include that information. If you think it is relevant, then you should move this to the Bookshelf repo, but I'm pretty sure the connection settings are being passed correctly, considering both Knex's and Bookshelf's test suites are current

[2019-02-04 19:24] reediculous456 commented on #3030
Looking at the console output, it looks like maybe i'm only seeing the default config of pg and not the one knex is passing it. either way, something is wrong with the combination of knex, pg, and Postgres 8.4.20
What other documentation would you like given the error output i'm receiving?

[2019-02-04 19:34] scorbin commented on #2998
FYI, I ran brunolm's  example and  knex 0.15.2 works while knex 0.16.3 does not work

[2019-02-04 19:42] ricardograca commented on #3030
PostgreSQL 8.4 is approaching 10 years old. It predates Knex by several years. I'm not sure (if?) when was the last time someone tested Knex with such an old version.

[2019-02-04 21:37] elhigu commented on #2998
@scorbin yes, I was able to reproduce that too with docker, but not locally on osx. That is why I reopened this.

[2019-02-04 23:45] michaelh-mg opened #3031 "Returning doesn't work with insert on MySQL"
# Environment

Knex version: `0.16.2`
Database + version: MySQL 5.6.42
OS: Node Docker container running on MacOS Mojave 10.14.2

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

When doing an `insert` with `returning`, the fields specified in `returning` are not returned. Instead, just

[2019-02-05 00:15] elhigu commented on #3031
Duplicate + docs say that mysql db does not support `returning` statement. So this is limitation of the mysql database, not knex.

[2019-02-05 00:15] #3031 closed

[2019-02-05 00:33] michaelh-mg commented on #3031
@elhigu Actually, the docs do not say that MySQL doesn't support the `returning` statement. The docs say that MySQL does not support _multiple inserts_ with `returning`. Also, can you please post the issue number to which this ticket is a duplicate? I searched the issues before creating this ticket and didn't see any existing ticket for this issue.

https://knexjs.org/#Builder-returning

[2019-02-05 01:07] tylerjwatson opened #3032 "RFC: Add `.raw` support to Builder instances analogous to `.whereRaw` et al."
# Environment

Knex version: any
Database + version: Azure SQL
OS: Linux

# Feature discussion / request

Hello Knex,

I would like to request that `.raw` be added to Builder instances for the purposes of appending dialect-specific statements to the end of built queries.

1. Explain what is your use case

Hold onto your hats Ladies and Gentlemen.

My Knex instance is responsible for connecting to,

[2019-02-05 01:21] reediculous456 commented on #3030
[code]
gave result
`select * from "users"`
with correct response so this seems to be a bookshelf error

[2019-02-05 06:46] elhigu commented on #3032
tl;dr I would like to see something like this in knex, proposed API is a bit too ambiguous though and needs more discussion.

As far as I understood, the main point here was to have kind of `builder.raw` method, which will actually modify builder by wrapping query to a `.raw` in the last phase when building the query.

Some time ago there was almost the same  kind of feature, which was asking for

[2019-02-05 06:55] elhigu commented on #944
@azlan I don't think thats a good idea / also not really relevant since it is just trying to extract schema instead of importing SQL data dump.

[2019-02-05 07:04] wubzz commented on #3032
I think adding functions that turn the builder into `Raw` doesn't make much sense, especially not if the `query` (builder) parameter is not used. Very confusing.

The example posted above is how I usually wrap builders if there's something I need that isn't already in the API:

[code]

Sounds like your issue is not having access to `Raw` without passing around the `knex` object which could be solv

[2019-02-05 07:05] tylerjwatson commented on #3032
Perhaps consider `.prependRaw` and `.appendRaw` instead.

On Feb 5, 2019 4:46 PM, Mikael Lepistö <notifications@github.com> wrote:

tl;dr I would like to see something like this in knex, proposed API is a bit too ambiguous though and needs more discussion.

As far as I understood, the main point here was to have kind of builder.raw method, which will actually modify builder by wrapping query to a

[2019-02-05 08:50] elhigu commented on #3031
There are many issues to which this is duplicate, I’ll add references when I have time.

[2019-02-05 09:17] ricardograca commented on #3030
Closing this as invalid then.

[2019-02-05 09:17] #3030 closed

[2019-02-05 09:45] elhigu commented on #3031
Looks like docs were fixed in https://github.com/tgriesser/knex/commit/5c77ee2acd6fe7747b08ade84abb22818e7f6e31 and then contradicting info was added in https://github.com/knex/documentation/pull/141 . Latter change should be reverted.

The first line of description has the correct info https://knexjs.org/#Builder-returning

Duplicates / related issues:

https://github.com/tgriesser/knex/issues/28

[2019-02-05 09:52] HurSungYun commented on #3029
there's a repo for documentation of Knex.

https://github.com/knex/documentation

maybe you can open issue there.

[2019-02-05 16:01] devinivy commented on #1521
I have a similar use-case.  I would like to use postgres as a transactional store and elasticsearch as a read store.  When records are updated within a transaction I would like to trigger an event that causes the updated records to be sync'ed to elasticsearch, but only act on it the transaction succeeds.  The transaction is created externally to the routines that use the transaction, so they don't

[2019-02-05 16:06] elunic opened #3033 "(0.16.3) Using knexSnakeCaseMappers() with sqlite3 dropColumn() breaks tables"
# Environment

Knex version: 0.16.3
Database + version: sqlite3 4.0.6
OS: Windows 7 x64

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using Objection's `knexSnakeCaseMappers()`, if `dropColumn()` is used, the original table is not deleted/modified, the temporary `table _knex_temp_alter3` is not deleted, and subsequent migrations that manipulate the

[2019-02-05 16:16] devinivy commented on #1641
I also have a use-case well-summarized by @Znarkus's comment: https://github.com/tgriesser/knex/issues/1641#issuecomment-287775668

Related issue: https://github.com/tgriesser/knex/issues/1521

[2019-02-05 17:37] hbarcelos opened #3034 "Migration fails for dynamic schema name"
# Environment

Knex version: knex@0.16.3
Database + version: MySQL 5.7.24
OS: Linux (Manjaro)

# Bug

I'm trying to setup an integration test suite using [`ava`](https://github.com/avajs/ava). As known, `ava` spawns different Node processes for each test file.

In order to make the tests isolated, I need to re-create my database and run the migrations in all test files. I started bootstrapping and

[2019-02-05 17:42] cfanoulis commented on #1588
Is there any update on this?

[2019-02-05 18:07] kibertoad commented on #1588
@cfanoulis Same still stands. When April comes, we can drop support for Node 6 and start removing bluebird.

[2019-02-06 07:48] acharotariya opened #3035 "Query chain is failed ?"
# Environment

Knex version:0.16.3
Database + version: mysql  Ver 8.0.13 for macos10.14 on x86_64 (MySQL Community Server - GPL)
OS:macos

# Bug

1. here i'm use this query to get items & passing  dynamic value (columnname,sort) but if value is not passed than query is failed.please help me.
let items = await knex.select().table('items').orderBy(`items.${columnname}`,sort).limit(limit).offset(page

[2019-02-06 07:58] danieldunderfelt commented on #2235
@realywithoutname thank you! I was wondering why a second query returned an array. I had caught the `schema` in a variable and reused it.

For people seeking help: always do `knex.schema` from the beginning for each call.

[2019-02-06 08:04] elhigu commented on #3035
Cannot reproduce. Knex usage questions should be done in stackoverflow or gitter chat.

[2019-02-06 08:04] #3035 closed

[2019-02-06 08:13] elhigu commented on #3033
Does your code work without snakeCaseMappers? Please add generated queries so that we can see where stuff goes wrong.

[2019-02-06 08:57] elunic commented on #3033
Hi, thanks your reply. Yes, the code works without the snakeCaseMappers.

When I reduce this to a single file, the outcome a random variant of (so far as I can tell):
* `table_one` is deleted and `_knex_temp_alter3` is left over
* `table_one` is NOT deleted and `_knex_temp_alter3` is left over

My bad about the single file, here it is. Note that running this without `DEBUG=*` does not produce a re

[2019-02-06 09:00] elunic commented on #3033
I've uploaded all this to a Git repo: https://gitlab.elunic.software/whefter/knex-snakecasemappers-demo

[2019-02-06 10:14] c0b commented on #1588
any 2019 update?   /cc to some core contributors or maintainers @here :  @johanneslumpe @tgriesser @wubzz   @elhigu  from https://github.com/tgriesser/knex/graphs/contributors?type=c&from=2018-01-01&to=2019-12-31

On the other hand, JavaScript community is such a dynamic, vibrant and sometimes cruel world, every 3 or 2 years (or even faster) there are replacement for something we were familiar bef

[2019-02-06 13:25] elhigu commented on #1588
@c0b no need to cc. I get mails from all the comments anyways. @kibertoad just said all that had to be said in his last comment... This issue also has nothing to do with knex supporting async/await ES2019 features better and knex is not an ORM so I'm not sure what that comment was really about.

If you need a good ORM, I can recommend objection.js. It is implemented on top of knex too, here is pre

[2019-02-06 13:34] wubzz commented on #1588
There's WIP on that I believe: https://github.com/tgriesser/knex-next

[2019-02-06 15:49] mengzhen94 opened #3037 "Error: Connection lost: The server closed the connection."
# Environment

Knex version: 0.16.3
Database + version: MariaDB
OS: ubuntu

# Description
Hi, after my app running for several hours, there is a connection lost issue `Error: Connection lost: The server closed the connection.`.
My Knex connection is:
[code]
Does anyone have any idea how to keep connection?

[2019-02-06 15:53] elhigu commented on #3037
When connection if cut by the server, knex's pool discards that connection and automatically creates new one when needed.

[2019-02-06 15:53] #3037 closed

[2019-02-06 16:14] rmeloCondor opened #3038 ".returning(['a', 'b']) is just returning the created id when used in .insert()"
# Environment

Knex version: 0.16.3
Database + version: MySql (RDS) + 5.6.40
OS: AWS RDS

# Bug

1. When I am doing an .insert() statement like db.insert().into().returning([,]) and I want to get more than one column, the statement is just returning me an array with the id created.

2. No error

[2019-02-06 17:26] elhigu commented on #3038
Returning is not supported by mysql db and also a duplicate. Last issue about this was few days ago.

[2019-02-06 17:26] #3038 closed

[2019-02-06 19:37] jbrumwell commented on #1641
This is the plugin we used as a workaround to ensure our `neo4j` server and knex transactions were linked;

[code]

[2019-02-06 22:58] elhigu commented on #3033
From queries, looks like some sqlite3 schema methods are still not using wrapIdentifiers for quoting identifiers correctly.

[2019-02-07 09:55] ricardograca commented on #3038
Maybe it's time to re-evaluate what is more useful for users: having methods that behave the same (more or less) on all dialects or ensuring that all methods only run one query. Clearly having the `.returning()` method not work as users expect it to is a regular pain point.

[2019-02-07 10:17] elunic commented on #3033
@elhigu  I managed to track it down, I believe.  The runner, when querying, doesn't await the return value of `client.processResponse().` Together with the special structure returned by `TableCompiler_SQLite3.prototype.dropColumn` and  `renameColumn` - an object with the special `output` property which returns a Promise, this resulted in the Promise itself being handed to `client.postProcessRespon

[2019-02-07 14:57] elhigu commented on #3038
tl;dr I'm strictly against that (except maybe in distant future where current features of current scope are robust and consistent and even then it would be better to implement as a separate module to keep core clean, slim and robust).

There is a feature request open about BD agnostic insert (https://github.com/tgriesser/knex/issues/2682).

Shifting out of that single query ideology would open pat

[2019-02-07 15:04] ricardograca commented on #3038
I agree that silently building wrong/unsupported query is very bad. I would still like that Knex abstracted away the various database differences in terms of supported features, but I can understand wanting to keep the scope focused. That said it should at least communicated better what is and isn't supported.

[2019-02-07 15:08] elhigu commented on #3038
I don't see any reason why that should be done by knex and not as a separate npm package. Biggest problem with that is currently that knex still doesn't have plugin interface to allow extending it's APIs.

[2019-02-07 15:43] elhigu commented on #3033
In theory change indeed did seem harmless, but I'm not sure if that postprocess response is meant to allow to return promise or not. If not, then the real problem is elsewhere. If yes, we need to check other dialects too if they have the same bug.

[2019-02-07 16:13] elunic commented on #3033
After getting more errors, I dug deeper and indeed found that that `dropColumn` and `renameColumn` have an identifier mapping problem. These:

* https://github.com/tgriesser/knex/blob/master/src/dialects/sqlite3/schema/ddl.js#L229
* https://github.com/tgriesser/knex/blob/master/src/dialects/sqlite3/schema/ddl.js#L264

use the unmapped identifier (in this case, snake_case), whereas the rows returne

[2019-02-07 17:07] ricardograca commented on #3038
Because it says so on the documentation:

This doesn't seem to be true considering that responses are not standardized in this case. If that mission has changed, then the documentation should be updated.

[2019-02-07 17:48] elhigu commented on #3038
It actually is batteries included and standardizes those responses. But indeed that has changed from early days of knex where it tried to emulate even conflicting column types, which was a bad idea in retrospective, because it didn't really work in real world use.

I will gladly change that to something more accurate, like "standardizes responses between drivers and offers offers common API to bui

[2019-02-07 19:00] pvoisin commented on #2998
Same problem here (TypeScript migrations + 0.16.3).
When `Migrator#latest` is called, its starts with `migrationListResolver#listAllAndCompleted` which in turn calls `listAll(config.migrationSource)` where `migrationSource` having `loadExtensions = [".co", ".coffee", ".eg", ".iced", ".js", ".litcoffee", ".ls", ".ts"]`, even if I `{ …, loadExtensions: ['.js'], … }` in the migrator configuration.
As

[2019-02-07 19:48] hasahmed commented on #272
Did anything ever come of this? It would be really nice to have errors be consistent across database engines.

[2019-02-08 10:55] JoeChapman commented on #1855
This was a big help, thanks

[2019-02-08 17:55] nycoag92 commented on #2492
Any update for this?

[2019-02-08 18:48] malammar opened #3042 "SQLITE3 whereIn errors"
# Environment

Node Version: v8.10.0
Knex version: v0.15.2
Database + version: Sqlite3 v4.0.4
OS: MacOSX (running nodeJS)

# Bug

I am receiving an error when running this query on an in memory Sqlite3 v4.0.4 database.

## Query

[code]

## Error Message

[code]

Test code: https://runkit.com/malammar/5c5dce448e738d001591bba2

## Workaround

[code]

[2019-02-08 20:00] tetsupanda commented on #2492
My fix works, however I just haven't gotten around to fixing the test cases for this. I just added my own custom dropColumn function in our data layer repo, with the code I wrote in the linked PR.

One day I'll address the testing aspect of this.

[2019-02-12 02:36] skunca commented on #3031
Hi,

Could you please revisit this? While MySQL doesn't support returning the ID, the libraries that knex uses to execute the queries do:

https://github.com/mysqljs/mysql#getting-the-id-of-an-inserted-row

Is it possible to surface these values in knex results? Wouldn't mind to do a PR for this.

[2019-02-12 06:12] elhigu commented on #3031
@skunca that has nothing to do with this issue. You can open new feature request about it where to discuss it further. Afaik getting id of single inserted row has never been a problem even with mysql.

[2019-02-12 14:02] abhanshgiri21 opened #3045 "Cannot create multiple auto increment columns"
# Environment

Knex version: 0.16.3
Database + version: Postgresql 10.6
OS: Ubuntu 18.04.1

# Bug

 I am trying to create multiple auto increment columns, but it gives an error i.e.
`Unhandled rejection error: multiple primary keys for table "table_name" are not allowed`

I think it is due to knex making all the auto increment columns as primary keys.
I am using following code to create a migratio

[2019-02-12 18:41] samsch opened #3047 "Instance context"
# Feature discussion / request

1. Explain what is your use case

Debugging in an http server. I want to be able to add query info (e.g., SQL and response data) to per-request debugging logs. At the moment the only way to do this would be manually adding a handler of some kind to each query (or at least calling `.queryContext()`). Ideally the feature would not require changing the usage of the kne

[2019-02-12 18:50] kibertoad commented on #3047
@samsch Have you tried withUserParams() function on knex instance?

[2019-02-12 18:54] samsch commented on #3047
I did attempt to use it, yes, but it didn't appear to be included in the
event (`query`, `query-response`) data.

On Tue, Feb 12, 2019, 1:51 PM Igor Savin <notifications@github.com> wrote:

[2019-02-12 18:58] kibertoad commented on #3047
Sounds like a bug. Could you create a failing test for sqlite with your use-case? Then I could look into it.

[2019-02-12 18:58] kibertoad commented on #3047
You can check out existing tests for withUserParams as reference.

[2019-02-12 19:12] elhigu commented on #3047
@samsch please add bugreport with reproduction code.  Also with node version... wasn't there some problems with events on node 6?  This feature seems to be the same with queryParams thing (in hindsight naming of that feature could have been better).

[2019-02-12 19:12] elhigu commented on #3047
closing as this is already supported.

[2019-02-12 20:08] samsch commented on #3047
Existing tests for withUserParams don't appear to test anything regarding the data passed to event listeners.

There is also no documentation suggesting that withUserParams would be something usable from event handlers.

I am using current node: 11.4.0.

I can't really create a bug report since I'm not sure what's it's not doing that it *should* do.

Given this code [gist of the files necessary](h

[2019-02-12 23:18] leeoniya opened #3048 "knex weighs 8.46MB (90% is deps)"
Considering using knex in a project and decided to weigh it first.

https://packagephobia.now.sh/result?p=knex

knex.js itself is just 876kB of the 8.46MB, the rest is dependencies.

http://npm.broofa.com/?q=knex

`liftoff` adds 2.57MB (used only for CLI), `bluebird` & types add 660kB (can be replaced with native Promise?), `lodash` adds 1.34MB (can be reduced by only requiring needed functions, o

[2019-02-13 01:02] leeoniya commented on #3048
also, `src` and `scripts` can probably be removed from the npm distribution, shaving ~400kB or about 50% of knex itself).

[2019-02-13 02:38] jrr commented on #3003
I first noticed this with `migrate:latest`, which interestingly throws a different error than `migrate:make`. Here's a simple repro where you can see both: https://github.com/jrr/knex-ts-issue-repro

[2019-02-13 05:40] elhigu commented on #3048
Thanks for the analysis. If some day slimming down package size is a priority this info will be helpful.

Closing as there is nothing to do for now. Btw. knex + dependencies to run querybuilder on browser is like 370kB (pretty huge, but it contains all the dialects).

[2019-02-13 05:40] #3048 closed

[2019-02-13 06:15] elhigu commented on #3047
Yes, one improvement for knex's event system that would be nice to have would be to keep reference to the query builder that was used for creating the query so that it could be included in all events . I just looked docs and it says that builder is passed to the query response events, but I need to check that out... I remember that there was actually a problem with that and the documentation might

[2019-02-13 08:28] leeoniya commented on #3048
given how old/mature this lib is, and that it's 8.5MB with 30% being a single CLI dep, i suspect that "some day" === "never". you could just be realistic about it :)

i would actually be interested in helping with this effort if there is a real chance of the work being integrated, given that all tests pass.

the codebase is pretty big and trying to figure out exactly what each dep does in this lib

[2019-02-13 09:22] elhigu commented on #3048
If stable version and complete rewrite is done some day I don't see this completely impossible. But... some day probably means distant future... flying cars, hover boards 'n stuff ;)

If it doesn't make development / fixing knex harder I don't see any reason why not to accept PRs making it slimmer. But for example dropping bluebird cannot be done yet etc. (there is another issue about it).

Node 6

[2019-02-13 14:20] tgriesser commented on #3048
Because this library was started in 2012 when there was no such thing as async/await, or bluebird, and Promises were generally frowned upon but I decided to go with them anyway... first using Q, then when.js and finally Bluebird. I'm currently working on a project where the codebase was started in 2014 using knex and it very much depends on the guarentees of Bluebird. Taking it out of knex wholesa

[2019-02-13 16:08] CodisRedding opened #3049 "Querying w/o a transaction always times-out after use of transaction on same table"
# Environment

Knex version: 0.16.3
Database + version: mssql:4.1.0
OS: macos:10.14.1
@smorey2

# Bug
Querying w/o a transaction always times-out after use of transaction on same table

1. _Explain what kind of behaviour you are getting and how you think it should do_
If I query a table within a transaction I cannot query that table again without a transaction (see `Request time` below in the `rou

[2019-02-13 16:37] CodisRedding commented on #3049
I know what is happening and it's def not a bug. I will leave incase others run across it (delete if you want). I didn't realize that the entire table would lock until the transaction committed. The solution is to query within the same transaction (which kind of sucks).

[2019-02-13 16:37] #3049 closed

[2019-02-13 17:12] elhigu commented on #3049
You mean that mssql locks the whole table when it inserts a row to it?

[2019-02-13 17:41] CodisRedding commented on #3049
Well, I cannot query that table without the use of the transaction.

[2019-02-13 18:04] CodisRedding commented on #3049
I checked what kind of lock it puts on a table when it's not committed.

request_mode = IX

IX (Intent Exclusive). Indicates the intention to place X locks on some subordinate resource in the lock hierarchy

X (Exclusive). The holding session is granted exclusive access to the resource.

[2019-02-13 18:22] samsch commented on #3047
That handler will run for any knex query, not just those made with parameterizedKnex.

Perhaps that's a actually a (different) bug? Should event listeners on a cloned instance of knex (via makeKnex or withUserParams) receive events for queries on the original knex or another cloned instance?

[2019-02-13 18:35] elhigu commented on #3047
There is a test case, which shows that adding event listener to the clone should not change the original instance

https://github.com/tgriesser/knex/blob/master/test/unit/knex.js#L146

but also the listeners of the base instance are copied to the cloned one.

[2019-02-13 18:54] samsch commented on #3047
The following code still triggers the handler:
[code]
Queries run with any clone still trigger listeners on any other. It sounds like perhaps this is not the intended functionality?

[2019-02-13 21:38] elhigu commented on #3047
which node version are you using?

[2019-02-13 21:42] elhigu commented on #3047
Ah right you are using 11 :) That does not sound correct I think... maybe those tests are not running correctly. Are you still testing with sqlite like in the gist earlier?

[2019-02-13 22:21] samsch commented on #3047
Yes, latest `knex` (`0.16.3`) and `sqlite3` (`4.0.6`).
Full file: https://gist.github.com/samsch/1c34f88116a42cb1b101dab89361c3b7

[2019-02-14 03:45] earllapura opened #3050 "MaxListenersExceededWarning in Node 8"
# Environment

Knex version: 0.16.3
Database + version: SQLite3 4.0.6
OS: Windows 10
Node version: 8.9.4

# Bug
I tried using `knex` instance on two integration tests with migrations and seeding, each with `beforeEach` hooks as:
[code]
with `knex.js` as:
[code]
The problem is I get the `MaxListenersExceededWarning` at the migration process, which seems to  with stack as below:
[code]
It seems that

[2019-02-14 04:27] JefferyHus commented on #208
If anyone is still running in this problem please use this solution
[code]

[2019-02-14 04:30] JefferyHus commented on #208
Somehow the `knex.raw()` didn't work and throws no error so I had to write the solution above that works for me.

[2019-02-14 07:06] kibertoad commented on #3050
Try using 0.16.4-next,should help.

[2019-02-14 07:07] kibertoad commented on #3047
Foes 0.16.4-next work any better for you?

[2019-02-14 07:15] earllapura commented on #3050
Oh, that fix was not yet released. That explains it.

[2019-02-14 08:05] denfm opened #3051 "Knexjs with sphinxql (mysql driver)"
# Environment

Knex version: 0.16.3
Database + version: Mysql (sphinxql)
OS: Windows 10

# Questions about how to use knex

Could you please tell how to use knexjs (builder) in order to add facet tags at the end of the request?

[2019-02-14 10:04] Zeeeeta commented on #3028
Any help please?

[2019-02-14 11:56] elhigu commented on #3051
Usage questions should go to stackoverflow. Also would be helpful if you can tell what kind of query you are trying to write. you should be able to add stuff to the end of query with:

[code]

This would be easier if we would have https://github.com/tgriesser/knex/issues/3032 feature implemented, which would allow to add `.raw` pass to be a last phase in the query building.

[2019-02-14 11:56] #3051 closed

[2019-02-14 12:40] apurvshah opened #3053 "How to lock database tables in Oracle database?"
# Environment

node: v8.9.2
Knex version: 0.16.2
oracledb: 3.0.1
Database + version: Oracle 11g/12C
OS: Windows8.1 Pro

Select applicable tempalate from below.
If issue is about knex,  oracledb
Rest of dialects doesn't need tags.

How to lock database tables in Oracle using knex?

My application is using both MSSQL and Oracle database. I would like to keep the code common for both of them. I am ab

[2019-02-14 12:54] ricardograca commented on #3048
It does? Can you give me a example documentation section where this is true? I looked at the `.returning()` section which I think should produce different queries and there was no change whatsoever when alternating between all the available dialects in the dropdown.

[2019-02-14 12:57] elhigu commented on #3053
Depends what kind of locking is needed. `select for update` can be used for locking rows otherwise you must write a helper, which recognized if knex client is oracle or mssql and then do different knex.raw call depending on dialect.

Knex usage questions should go to stackoverflow.

[2019-02-14 12:57] #3053 closed

[2019-02-14 13:00] elhigu commented on #3048
Its currently broken / fixes are not yet released to live page. There are issues about it in the documentation repo. Page shows some javascript errors, which breaks also the functionality of changing dialect.

[2019-02-14 16:34] schmod opened #3054 ".unionAll does not have the same call signature as .union"
# Environment

Knex version: 0.16.3
Database + version: MySQL 5.7
OS: N/A

# Bug

Knex's documentation states that `.unionAll()` has the same call signature as `.union()`.

In practice, `.unionAll()` only supports the callback syntax, ie:

[code]

However, `.union()` supports two additional call signatures, which are _not_ supported by `.unionAll()`, ie:

[code]

Additionally, `unionAll()` can tak

[2019-02-14 16:36] samsch commented on #3047
There's no difference using `0.16.4-next1`.

Here's a proper reproduction repo, using 0.16.4-next1. https://github.com/samsch/knex-issue-3047

[2019-02-14 19:43] muturgan opened #3056 "tinyint with auto_increment"
# Environment

Knex version: 0.16.3
Database + version: mysql 8.0.15
OS: any

# Feature discussion / request

as I can see from docs, there is only increment and bigincrement options for a primary key.
but I have really small table, and I want to do something like:
`'id' tinyint unsigned NOT NULL AUTO_INCREMENT`
in migrations too

[2019-02-15 09:38] sthnaqvi opened #3057 "Single whereIn clause to retrieve records having a certain value or null"
# Environment

Knex version:0.15.2
Database + version: 5.6.34-log - MySQL Community Server (GPL)
OS: Ubuntu

# Bug
I am not receiving any data where location is null in below query

# Query
db('users').whereIn('location', [null, 0, 'Delhi'])

1. Explain what kind of behavior you are getting and how you think it should do?

Actual result that I am getting is an empty array ([ ]).
While I expect to

[2019-02-15 11:20] elhigu commented on #3057
Not knex issue. Try stackoverflow for usage questions.

[2019-02-15 11:20] #3057 closed

[2019-02-16 07:48] sthnaqvi commented on #3057
@elhigu This is not a usage question nor is this a bug, this is just a feature enhancement proposal
Scenario:
When I use this query `db('users').whereIn('location', ['Mumbai', 'Delhi'])`  I got users who have location Mumbai , Delhi .
But when I use `db('users').whereIn('location', [null, 'Delhi'])` , I only got only Delhi location users, ideally i should get null as well as Delhi based users.

[2019-02-16 10:51] elhigu commented on #3057
https://runkit.com/embed/uqqk6szx9z3o

It seems to generate correct type of query. What kind os SQL you are trying to build? Are you sure that mysql supports passing null to where in clause?

[2019-02-16 13:25] elhigu commented on #3057
That being said if you write a proper feature request issue about it and investigate how null values works with where in different dialects and what should be made to make it work consistently between databases engines it could be left open and reconsidered (there are also potential performance drawbacks in some cases what changing this may cause).

[2019-02-17 02:48] JefferyHus commented on #2387
`.timestamps(true, true)` is not working for me `postgresql`

[2019-02-18 06:25] victorbadila opened #3058 "Using DELIMITER in MySQL knex raw query"
# Environment

Knex version: 0.16.3
Database + version: MySQL 8
OS: Ubuntu 18.04

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm trying to run a raw MySQL query that involves the DELIMITER keyword. While the query works if ran with the SQL console or workbench it throws an error with knex.

2. Error message
[code]

3. Reduced test code, for example in

[2019-02-18 07:49] elhigu commented on #3058
seems to work as it should:

[code]

Sounds like you are trying to run invalid query that is not supported by mysql server or node mysql driver. You can check out from mysql driver developers if that should work.

[2019-02-18 07:49] #3058 closed

[2019-02-18 07:52] elhigu commented on #3042
could you add the query that should be created for sqlite? I'm surprised that this is not caught by integration tests... (well not so surprised after all, because most of the tests of knex actually just checks that query is generated the way that it was meant to be done and not that query does what it should).

[2019-02-18 07:53] elhigu commented on #3042
I really need to contact runkit people again about its sqlite3 require... it has been broken for months again :|

[2019-02-18 10:07] meghna2109 commented on #2808
(function (exports, require, module, __filename, __dirname) { import ...
getting error - on import statement.

[2019-02-18 19:46] samsch commented on #3047
Any confirmation that this isn't (or is) expected behavior?

[2019-02-19 12:02] marianogappa commented on #272
Experimental support would be enough. Even if it solves for 80% of cases, 80% of supported databases, and improves over time. It's better that each and every implementation doing our own :)

[2019-02-19 14:09] kapouer opened #3059 "yarn plug and play and optional peerDependencies"
Hi,

`yarn --pnp` is a really interesting thing to speedup module loading:
https://yarnpkg.com/en/docs/pnp
however it needs all modules to declare what they depend on to be able to work properly.

In the case of modules like knex, where one of the dependencies is declared by a parent module, the plug and play system fails (e.g. knex won't find pg).
pg, mysql2, sqlite3 (...) should be in peerDepend

[2019-02-19 18:49] fogine opened #3060 "feature: hook up into and modify query builder before compilation"
# Environment

Knex version: 0.16.3

# Feature discussion / request
Knex currently emits the `start` event once on a top-level (parent) query builder which
allows to modify the query before its executed, for example appending timestamps etc..
However the event is not run for sub-query builder objects:

[code]
meaning that its not currently possible to modify subqueries before they are executed.
It

[2019-02-20 08:54] elhigu commented on #3060
This is more like a feature request... IIRC `start` event is currently emitted once for query... But since it is done before compilation phase I don't see why it could not be emitted for each builder...

However actually that being an event is kind of bad thing, since it will mean that we might be running an event code and query compilation code parallel and it would  mean that by the time when ev

[2019-02-20 11:35] vinay07A opened #3061 "how can i write query to get random rows with limit in postgresql using knex?"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2019-02-20 12:50] elhigu commented on #3061
Please use stackoverflow for usage questions as is stated in the issue template you left here. Closing as being disrespectful for the OS community + not following rules of knex issues.

[2019-02-20 12:50] #3061 closed

[2019-02-20 13:35] elhigu commented on #272
@marianogappa you might consider this one, even that it is not done directly on top of knex https://github.com/Vincit/objection-db-errors

@hasahmed for now this is not in scope of knex.

I think this problem is better to be solved outside of knex since it is potentially huge task to do when trying to support every db driver in the world.

There is no reason why it couldn't be implemented as separ

[2019-02-20 15:19] bradobro opened #3062 "Consider bumping major version to be fully semver compliant."
# Environment

Knex version: 0.16.3
Database + version: not applicable
OS: not applicable.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I expect to be able to use package auditing tools, such as `npm-check`, to audit my `package.json`. I expect core dependencies, such as my database libraries, to adhere to the semver spec, including the use of major ver

[2019-02-20 23:56] jeffkenney opened #3063 "Migrations can no longer be run from within a transaction"
# Environment

Knex version: 0.16.0+
Database + version: Postgres 9.6.12
OS: MacOS 10.13

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

**1. Explain what kind of behaviour you are getting and how you think it should do**

Since version 0.16.0, migrations can no longer be run within a

[2019-02-21 11:43] elhigu commented on #3062
That has been considered various times. Will be bumped when ready. Look for issues about version 1.0 for more info and add related issue links if you feel like it.

[2019-02-21 11:43] #3062 closed

[2019-02-21 15:37] BaronMing1 commented on #2514
Had the same problem, and I solve it on a curious way, but I did it.
When I ask for my method getOracleClient, if I already have a connection at the beginning I was doing nothing. Now I test my Query. If I have a connection error like Ora-03114 or Ora-03135 I set my client to undefined and I ask for a new connection. That works.  Don't reset your client on some other errors because it won't works.

[2019-02-21 17:57] IsCruz opened #3064 "exists a way to define the charset for the connection?"
Actually i'm using db2 as dat base, i'm looking if exists how to define the charset;
some special chars in spanish are changing once are inserted in the database

[2019-02-21 18:03] elhigu commented on #3064
Check db drivers docs if it can be set in connection parameters or it might be set during db creation maybe or set separately when new connection is created with afterCreate callback that can be given in knex config.

[2019-02-21 18:03] #3064 closed

[2019-02-21 18:04] elhigu commented on #3064
Knex doesnt have any separate mechanish just for it.

[2019-02-21 18:05] IsCruz commented on #3064
That's why i'm asking. I'm not found info about the charset.
thanks

[2019-02-22 20:24] bradobro commented on #3062
Thanks @elhigu

[2019-02-23 01:25] samsch commented on #3047
@elhigu If this is the expected behavior, can we re-open this issue, since the functionality doesn't exist? If not, then I can open a new bug issue with the reproduction, and possibly look into fixing it.

[2019-02-23 10:55] kibertoad commented on #3047
I'll try to find time to look into it on this weekend, sorry for delay!

[2019-02-23 23:50] mmarvick opened #3065 "Typescript - Allow more strict typings for insertion/update type and return type"
# Environment

Knex version: 0.14.2
Database + version: postgres 9.6.3
OS: MacOS 10.14.2

# Feature discussion / request

1. Explain what is your use case

When using typescript, having stronger typing for updates and insertions would be useful, in addition to return types.

2. Explain what kind of feature would support this

I'm probably missing out on tons of complexity here, but being able to c

[2019-02-24 04:50] sjlongland opened #3066 "MySQL back-end doesn't escape quotes in comments"
# Environment

Knex version: 0.16.3
Database + version: MariaDB 10.3.12
OS: Gentoo Linux/AMD64

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Basically, I was creating a table with a comment, and the comment had the `'` character present which should be escaped in whatever scheme the back-end database uses (in MySQL/MariaDB's case, should be escaped as `\

[2019-02-24 10:54] fogine opened #3067 "public API for query builder state inquiring & tweaking"
# Environment

Knex version: 0.16.3

# Feature discussion / request

I propose the following additional methods to be implemented:
- `query.hasWhere()`
- `query.hasOrder()`
- `query.hasSelect()`

where each method would accept optional parameters in the same format as `where()` & `orderBy` & `select` methods. The methods would return boolean value of whether the query builder has matching clause s

[2019-02-24 12:15] ctkcoding commented on #2988
there is a [@mysql/xdevapi ](https://github.com/mysql/mysql-connector-nodejs)nodejs mysql driver that supports the new caching_sha2_password scheme. it looks like it's maintained by an oracle employee as well

[2019-02-25 13:34] elhigu commented on #2988
Best would be to use docker-compose to setup all databases to not need to relay on versions that travis supports. This will be done at some point.

[2019-02-25 14:01] elhigu commented on #3067
I think this is a good feature to have, but the API for this seems a bit too limited.

I would like to see more discussion about API and use cases before this is implemented.

To me more useful API would be asking complete information about `where`, `order by`, `select` or `update` parts and allow to traverse through that info.  That way user doesn't have to know in advance what columns / values t

[2019-02-25 14:12] elhigu commented on #3065
You could try using objection with typescript. It already supports this kind of return types for queries that are made to table of certain model etc. I believe ORM level is much more appropriate to do this kind of checks that DB level, where actually resulted data can be pretty much anything.

Adding this feature is probably not be as useful as you think.

Anyhow... if this doesn't break old typin

[2019-02-25 14:15] elhigu commented on #3047
Re-opening as there might be also a bug involved. Someone should take time to check out if they can reproduce the problem and figure out why current tests are not catching it.

[2019-02-25 14:21] elhigu commented on #3063
Thanks for the report.

This might be hard to fix since IIRC that user params is used to create clone of query builder, with disabling custom identifier wrappers to make sure that internal names for migration tables etc are consistent...

[2019-02-25 14:53] roytz commented on #2183
https://github.com/brianc/node-pg-types/issues/56#issuecomment-323223477

[2019-02-25 17:12] oladon commented on #2183
Thanks roytz!

[2019-02-25 18:02] IsCruz opened #3068 "Save Spanish Chars?"
is a way to save this kind of chars -> ç¡'ºª\¨·¿ñ
as their original form?

[2019-02-25 18:43] elhigu commented on #3068
Set your db to use utf8 when you create it. There is no special support in knex to make it happen. Also knex usage questions should not be done here as issue template also mentions.

[2019-02-25 18:43] #3068 closed

[2019-02-25 20:36] JQuezada0 commented on #2445
@samin Did you ever figure out a way to make this work? I've encountered the same issue. Specifically in a Lambda environment the transaction emits `BEGIN` but never moves beyond that.

[2019-02-26 00:34] booboothefool opened #3069 "PgBouncer transaction pooling vs. Knex pooling?"
I am running a minimal PostgreSQL instance that allows `max_connections = 25`.

This number is very small, so I noticed that as a single user clicking through my app, I reach this limit very easily. When running `select count(*) from pg_stat_activity` after every query, the number steadily climbs and holds onto the connection long after the query is finished. As a result, I get an error `remaining

[2019-02-26 06:41] wubzz commented on #3069
How are you creating the knex instance/object in your app? And at what scope level?

It sounds to me like you are either:

A) Using pool settings that exceed that of your postgres config

B) Creating a knex object per request _(thus creating a new connection)_

Using correct pool settings on a single knex instance should never generate these issues. It would wait for a connection to be available f

[2019-02-26 06:44] mgarf opened #3070 "Upgrading Knex & MSSQL Break Schema Routing"
# Environment

Knex version: 0.13.0 > 0.16.3
Database + version: Azure MSSQL
OS: Windows

@smorey2

# Bug

When upgrading from any version higher than 13, KnexJS can no longer find the tables anymore.

`Invalid object name 'users'`

Adding the schema into the object still causes the same issue

`Invalid object name 'dbo.users'`

Connection settings are setup as:

module.exports = {
  client: proce

[2019-02-26 09:21] bockelie93 opened #3071 "Date-fields have time appended when retrieved"
# Environment

Knex version: 0.16.3
Database + version: PostgresSQL + 11.1
OS: Windows 10

# Bug

1. I have a date field created by a migration script (table.date(foo)). When I check the database, the dates are stored on the format YYYY-MM-DD (i.e. 2019-02-26).

2. When I retrieve that field through knex, I get: { foo: "2019-02-25T23:00:00.000Z" }. I expect to get { foo: "2019-02-25" }.

[2019-02-26 17:14] xyluet opened #3072 "CLI knexpath"
# Environment

Knex version: **0.16.3**

# Bug

I just newly upgrade to `0.16.3` and I found in CLI options `--knexpath`.
https://github.com/tgriesser/knex/blob/2c2fe19ad8fb7f948b9a1e1398d1d596281b1c82/bin/cli.js#L116
But in your,
https://github.com/tgriesser/knex/blob/2c2fe19ad8fb7f948b9a1e1398d1d596281b1c82/bin/utils/cli-config-utils.js#L36-L38

I try like `migrate:latest --knexpath ./config/db.

[2019-02-26 21:02] ducaale commented on #1287
You can use File uri like `file:/pathto/mydb?mode=ro`

[2019-02-26 22:00] elhigu commented on #1287
Thanks ducaale

[2019-02-26 22:00] #1287 closed

[2019-02-26 22:10] elhigu commented on #3071
Use pg-types to set driver to parse date column values differently. I am a bit surprised if you are really getting ISO8061 datetime strings instead of Date() objects from the driver.

[2019-02-26 22:10] #3071 closed

[2019-02-26 22:20] elhigu commented on #3070
Please add complete but minimal reproduction code, which sets up database for this and creates a query causing the error. There are integration tests already which verifies that mssql is generally working. Closing until reproduction code provided.

[2019-02-26 22:20] #3070 closed

[2019-02-26 22:49] elhigu commented on #3045
This actually sounds like a good way to patch current system without breaking backwards compatibility 👍 PR is welcome. (though this is actually a feature, not a bug😬)

[2019-02-27 01:55] booboothefool commented on #3069
Thanks for your insight!

At the top scope in one of my files I create the knex like:
[code]
and export it to use throughout the rest of my application (Objection.js uses knex under the hood). A typical request would run a function that looks something like this:

[code]

^ so if I click on a bunch of profiles, I seemingly get a bunch of new connections that get held onto for a while (without PgBo

[2019-02-27 03:01] xyluet commented on #3072
Sorry my fault, `migrate:latest` has no options.

[2019-02-27 03:01] #3072 closed

[2019-02-27 03:33] NRauh commented on #2886
I also ran into this issue.

You lose some type checking, but if you can't (or don't want to) do the solution above, this works.

[code]

[2019-02-27 07:05] euclid1990 opened #3073 "lock to"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2019-02-27 07:05] #3073 closed

[2019-02-27 08:15] bockelie93 commented on #3071
You end up with a date object, which then defaults to a ISO8061 datestime string when sent.

Ended up just having to return the string when 'parsing' it.
[code]

This would result in an ISO8601 string
`const parseDate = (value) => new Date(value);
`

Thanks for the quick reply and solution. 🥇

[2019-02-27 08:53] wubzz commented on #3069
Ok, so a cluster resulting in multiple knex instances with default pool settings. Makes sense it would eventually exceed the limit. This setup would be a total of max 40 clients and each connection has an idle timeout of 30 seconds by default.

What worries me is that the pool seems to create a new connection for each request. It should re-use idle connections as much as possible. That however is

[2019-02-27 17:14] rkaw92 commented on #2985
Hi, I'm also running into difficulties using `knex.raw` to assemble queries from parts. For me, the use case is constructing an `INSERT` query, and appending some modifiers (such as `ON CONFLICT ...`) to the end, which this library does not apparently support natively.

Example code:
[code]
This relies on the (incorrect) assumption that `knex.raw` will accept and execute the output of `query.toStr

[2019-02-27 17:40] jrr commented on #3003
Also noticed today that `knex --knexfile knexfile.ts migrate:make (...)` will create a .js file instead of .ts. (previously, when knex automatically picked up `knexfile.ts`, it would also automatically produce .ts migrations)

[2019-02-28 10:56] eamonnmcevoy commented on #1782
[https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png](url)

[2019-02-28 10:57] eamonnmcevoy commented on #1782
![](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)

[2019-02-28 12:31] rkaw92 commented on #2985
Aha, I think I've found a clean way to do it:
[code]

[2019-02-28 13:50] elhigu commented on #2985
You can pass query builders directly as bindings like:

 knex.raw(’? on conflict do nothing’, [query])

[2019-02-28 13:53] rkaw92 commented on #2985
@elhigu This works, thanks. It's still a bit weird that a single `?` can get replaced by a complete query builder - I was under the impression that you would need `??` for this (since it's not a value).

[2019-02-28 14:56] elhigu commented on #2985
Both ? and ?? should work all the same and both are unintuitive in my opinion (not identifier and not really a value either) 🙂

[2019-02-28 15:01] akdj opened #3075 "How to perform row level security on prostgreSQL with knex? and bookshelf?"
Hello!

I am trying to secure the access control of my service server, with an authentication by user, and also by setting a [row level security]( https://www.postgresql.org/docs/9.5/ddl-rowsecurity.html) on my database postgreSQL.

However I don't know how to perform it with knex and bookshelf. how to set the user identity to one specific user in the query to the db?

Are there someone who alread

[2019-02-28 15:18] grundiss opened #3076 "Feature request: allow call .select() with an object"
# Feature discussion / request
Hi,
It would be nice to be able to call `.select` like this:
[code]
and see it as a synonym to:
[code]

[2019-02-28 15:22] rkaw92 commented on #2985
Time for `???` I guess...
(Seriously though, is this `.raw()` behavior in the doc? Seems similar to `.wrap()`, too.)

[2019-02-28 15:32] rwbrockhoff commented on #2327
I recently ran into this issue and was able to resolve it by turning my exports.up and exports.down into an async function. I was doing async work in my functions without using async/await or promises. This resolved the same comment I was getting while running tests.

`exports.down = async function (knex, Promise) {
    await knex.schema.dropTable("name_of_your_table");
};`

[2019-02-28 15:50] mmarvick commented on #3065
You're probably right that this makes more sense at an ORM level. I agree with you that (at least for a return type), this might not add that much value anyways -- what's the point of declaring it with generics when I can just cast it from `any` anyways.

I think inserts/updates are probably the clearest use case that adds some tangible value - partially for the typesafety, but mostly for the auto

[2019-02-28 16:00] elhigu commented on #2985
Yeah. I dont see any reason why knex would need that wrap method anymore unless it keeps return value prosessing of the query builder intact (unlike normal query builders knex.raw returns unprocessed result from db driver) and docs might be missing info about binding query builders as value.

[2019-02-28 18:11] IceBroForever commented on #590
You are f*cking genius

[2019-02-28 19:14] elhigu commented on #3032
This is a bit related to what`.wrap()` does. Wrap could be actually modified to support bindings and in that case it would do pretty much the same that this FR I suppose.

[2019-02-28 19:18] elhigu commented on #3076
It already works like that https://runkit.com/embed/astdig72bjnx

[2019-02-28 19:18] #3076 closed

[2019-02-28 19:19] elhigu commented on #3075
With knex.raw queries. No special support for this in knex.

[2019-02-28 19:19] #3075 closed

[2019-02-28 19:20] grundiss commented on #3076
Oh, great!

May be add it into the documentation then?

[2019-02-28 19:21] elhigu commented on #3076
Docs would be nice 👍 I'll add issue to knex/documnetation issue tracker.

[2019-02-28 19:22] elhigu opened #5871 "Select might be missing object syntax documentation"
Check if missing and add some if needed https://github.com/tgriesser/knex/issues/3076

[2019-02-28 20:34] jrr opened #3077 "missing type definition for withRecursive"
# Environment

Knex version: 0.16.3
Database + version: postgres 10.5
OS: Mac OS

# Bug

The following [example](https://knexjs.org/#Builder-withRecursive) from the docs:

[code]

Doesn't type check 😟

Indeed, it doesn't appear in this file at all: https://github.com/tgriesser/knex/blob/master/types/knex.d.ts

[2019-03-01 09:42] elhigu commented on #3069
Closing as knex usage issue, please keep on discussing here if you like to.

Using pg-pool for handling pooling when running knex in multiple processes sounds like nice idea. I have usually just set databases connection limit to (knex instance count * knex pool size), but having external shared connection pool might be a better choice in some cases, for example where you are not able to tune datab

[2019-03-01 09:42] #3069 closed

[2019-03-03 02:38] samsch commented on #3047
So, taking a look through this again, the events do appear to be working properly (handler is only called for queries on the instance it's attached to) on the current master.

I had tested with `0.16.4-next1` available on npm previously, but attempting to dive into this again and figure out the problem, I cloned the master repo and installed from it locally.

Running (a modified version of) the te

[2019-03-03 02:38] #3047 closed

[2019-03-03 08:53] santiagochen commented on #2684
did you find the solution for clickhouse with knex  ?

[2019-03-03 09:37] xaeli opened #3078 "Set custom route for knex migrate:make"
Currently, I have this project structure:
src
-entities
--users
---model.js
---migrations
----20190303042400_create_users_table

What I'm trying to accomplish is to have my config setted up to my entities folder, so I can do like:
`npx knex migrate:make create_users_table --migrations-directory users`

But I can only accomplish this by doing:
`npx knex migrate:make create_users_table1 --cwd="./src

[2019-03-03 11:55] elhigu commented on #3078
I don't quite understand what are you after... why do you have to give `--cwd` there and not only `--migrations-directory users/migrations`.

Closing as this sounds like knex usage question and github issue tracker should not be used for that. Can be reopened if there is a knex bug involved.

[2019-03-03 12:10] elhigu commented on #3059
That is interesting... If it can be setup to package.json without breaking npm functionality, I don't see why it couldn't be added. I don't think that just having `peerDependenciesMeta` attribute there will break anything.

However I still didn't understand how that should work in a way that only needed DB driver package would be included... could you elaborate it more how knex's package.json and

[2019-03-03 19:36] elhigu commented on #2581
That is really weird and doesn't make sense at all... if someone likes to write test case and figure out what is going on please do.

[2019-03-03 20:42] xaeli commented on #3078
@elhigu So this is a bug, cause when I do just the command that you suggest, the migration is been created at the same level as `src` in the usual migration folder, not even creating the folder users inside it
I expect that command to at least create something like:
src
migrations
-users
--my_new_migration.js

Even when I try: `npx knex migrate:make create_users_table1 --migrations-directory src/e

[2019-03-04 10:50] akdj commented on #3075
Thank you.  I will try it!

[2019-03-04 12:33] shuangq commented on #3050
I met the same problem even using 0.16.4-next1.  I use `knex.migrate.rollback()` before each test. As the number of tests grows, Node throws the same warnings.
[code]
Any help?

[2019-03-04 13:14] kibertoad commented on #3050
It was not in next1 for some reason, master only. We'll release soon.

[2019-03-04 18:42] davidspiess commented on #3065
I feel you @mmarvick, i too find myself constantly defining partial interfaces similar to your `book` example.

[2019-03-05 00:04] kibertoad commented on #2581
Closing as cannot reproduce anymore. Added tests that are not failing in master.

[2019-03-05 00:04] #2581 closed

[2019-03-05 09:33] elhigu commented on #3078
Sounds like a bug I suppose... should write jake test to verify this.

[2019-03-05 12:12] urbandroid commented on #2462
Asking about java world concept to js people, lol classic. They are not that advanced. i will keep tracking this issue to witness origin of a new cargo cult.

[2019-03-05 16:35] TheThing opened #3087 "beforeDestroy is deprecated despite being the only way (AFAIK) to detect disconnects"
# Environment

Knex version: 0.16.3
Database + version: postgresql 11.2
OS: Centos 7

# Feature discussion / request

Currently the beforeDestroy event in pool is marked as deprecated (for some odd reason).
From all my testing and reading the source code for knex, detecting database connections dropping/disconnecting unexpectedly (like say, shutting down the database or from network going down) is

[2019-03-06 09:03] abdulkaderjeelani commented on #701
Utility funciton to generate upsert query
Usage:  ``` upsert(data, 'tableName', [], ['colName']); ```
[code]

[2019-03-06 13:35] elhigu commented on #701
@abdulkaderjeelani which is filled with SQL injection security threats...

[2019-03-06 16:22] joziahg opened #3089 "MySQL 8.0.13^ Default value as expression support."
My first issue, let me know if I messed something up.

# Environment

Knex version: 0.16.3
Database + version: MySQL 8.0.13
OS: Windows 10 / AWS RDS MySQL

# Feature discussion / request

1. Explain what is your use case
MySQL 8.0.13^ comes with the ability to set the default value of a field to an expression. More information from the MySQL docs [here](https://dev.mysql.com/doc/refman/8.0/en/data

[2019-03-06 19:01] wubzz commented on #3089
If I understand the issue correctly then you should be able to solve this by doing

[code]

[2019-03-06 20:47] joziahg commented on #3089
You do understand the issue correctly. My first thought was to use knex.raw() but I wasn't aware you could use it anywhere. I can confirm your solution does work. I think it would be valuable to add a small snippet on the docs for defaultTo() that describes how to use 8.0 default expressions. Thanks!

[2019-03-06 20:47] #3089 closed

[2019-03-07 05:17] wubzz commented on #3089
I agree we should make a note of this in the docs, but maybe not specifically under `defaultTo`. Thing is knex is very flexible, even more so than is described in the API. Whether that is by design or accident, that's just how it is. Things like `Raw`, `Ref`, `Builder` etc can be used as an argument _almost_ anywhere in the API.

[2019-03-07 08:56] tecky-dev commented on #3003
We also use `Knex` for writing the query to a PostgreSQL server. We discovered that the best way to generate is as follow.

1. Generate Migration File
[code]

2. Run Migration File
[code]

3. Generate seed File
[code]

4. Run seed File
[code]

The `--knexfile knexfile.ts` won't be necessary if you use `knexfile.js` since the typescript cannot provide any type checking for you for the config file.

[2019-03-07 11:15] davidspiess commented on #2886
This was merged a few days ago, see https://github.com/tgriesser/knex/pull/3043.

[2019-03-07 17:26] dealercontrolrachel commented on #3058
I am having the same issue.

At the bottom of my migration file I have
`.then(() => knex.raw('DELIMITER |'))`

and I get

[code]

[2019-03-07 17:53] dealercontrolrachel opened #3091 "Triggers that Perform Inserts"
# Environment

Knex version: 0.16.3
Database + version: Mysql8
OS: Ubuntu

# Feature discussion / request

Apparently setting delimiters does not work. Therefore, as far as I can tell there is no way to execute a trigger that does an insert

I want to run this through knex raw:
[code]

Currently I see no way to do so.

One way to fix this that I have seen with other frameworks would be to provide

[2019-03-08 06:50] victorbadila commented on #3058
@dealercontrolrachel I debugged this issue further and it seems that `DELIMITER` is not a SQL token but more of a sql client prop that lets it do certain magic, i.e. change how certain code blocks are interpreted without ending the script / query. The problem is that `node-mysql` that this repo uses as a dependency doesn't fully implement a sql client, more info here: https://github.com/mysqljs/my

[2019-03-08 07:16] JoueBien opened #3092 "setting date time to null crashes migrations"
# Environment

Knex version:
Knex CLI version:  0.16.3
Local Knex version:  0.15.2
Database + version:
MYSQL 5.7
OS: OSX

# Bug
Setting date time to null no longer works as expected. Using null causes error. Documentation dose not reflect this change or provide a defaultTo example for null date times.

Not Working Example that used to work
[code]

 # Error message
[code]

[2019-03-08 12:30] dhensby opened #3093 "Upgrade mssql lib"
The `mssql` package is now stable v5.0.0 and v6.0.0 is in alpha.

v5 mitigates some issues around `generic-pool` and it's *interesting* `acquire` logic.

v6 removes the `generic-pool` dependency and replaces it with `tarn.js`. v6 also upgrades the underlying `tedious` library to v6.

Both deal a lot better with lost connections.

I don't believe either introduce and breaking changes that would aff

[2019-03-08 14:06] dhensby commented on #1758
fixed by #2066?

[2019-03-08 15:28] Gamerunder commented on #3017
please boys, I have exactly the same problem, I'm 3 days trying everything and nothing works. I use the MySql Workbench database 6.3.

I throw erroneously {idx: 1} the correct {id: 1}, as I am wanting to update an array with many objects, all before the error are written and remain recorded in the database, trx.rollback does not work, if I use trx.rollback () there total crash. Abstract, objects b

[2019-03-08 15:51] kibertoad commented on #3093
Personally I think we should be testing against "recommended" version, so I would say whatever version you personally would encourage people to use in production today.

[2019-03-08 16:44] Gamerunder opened #3094 "Rollback Knex do not work !!!?"
# Environment

Knex version: 0.61.3
Database + version: MySql Server 8.0.15 + Worbench 8.0.15
OS: Windows 10 ultimate

I'm 3 days trying everything and nothing works. I use the MySql Workbench database 6.3.

I throw erroneously {idx: 1} the correct {id: 1}, as I am wanting to update an array with many objects, all before the error are written and remain recorded in the database, trx.rollback does

[2019-03-08 17:25] dealercontrolrachel commented on #3058
@victorbadila yeah I realized it was a command line thing late last night. Thank you for looking into it anyways. I also opened this issue if you are interested #3091

[2019-03-08 18:08] cthurston opened #3095 "Transactions as a promise"
# Feature discussion / request

Is there a specific design choice in transaction requiring a callback?

I would love to write my transactions with async/await like below.  And I'm not sure if the trx.commit() should be outside or inside the try/catch.

[code]

As a work-around I made a utility function that I can await.  Is this going to cause me problems down the road?
[code]

[2019-03-08 19:14] dhensby commented on #3093
Well, v5 is going to be a very short lived version as v6 is under development with a view to release it soon™️

But I wouldn't ever recommend anyone uses our alpha in production...

As I don't think we'll see any issues with v5, lets bump it to that for now?

[2019-03-08 19:15] kibertoad commented on #3093
Makes sense!

[2019-03-08 19:52] arthuranteater commented on #2009
knex('users').where('columnName', 'like', '%rowlikeme%')
Outputs:
select * from `users` where `columnName` like '%rowlikeme%'

[2019-03-08 20:40] #3093 closed

[2019-03-08 21:47] elhigu commented on #3094
Yes. You should not return promise from transaction handler if you are calling commit/rollback explicitly.

[2019-03-08 21:47] #3094 closed

[2019-03-08 23:30] stephenhuh commented on #2193
I'm having a similar issue, where I'd specifically like certain seed files to be shared across environments. @elhigu I've seen you post before about specifically putting in seed data into migrations. Is this the approach you recommend when using knex?  i.e. treating DDLs + (data that always exists for processing) together in migrations.

[2019-03-09 10:38] kibertoad commented on #3095
@cthurston It's funny that you mention it, I've got a thought to implement exactly that last night. I'll give it a shot this weekend.
And no, there shouldn't be a problem with your approach, if you are not returning a promise within your transaction initialization callback, it expects you to handle it manually.

[2019-03-09 10:39] kibertoad commented on #3092
Ouch. I'll check it out, thanks.

[2019-03-09 10:39] kibertoad commented on #3077
@jrr Would you consider contributing a PR for this?

[2019-03-09 10:44] kibertoad commented on #2193
@stephenhuh This is correct. Recommended approach for data that you only seed once is to put it into migrations. If you want to do it in a clean way, it is recommended to put them in separate folders (e. g. /db/seeds and /db/migrations) and specify multiple migration directories for the Migrator (supported in 0.16.x+)

[2019-03-09 10:44] kibertoad commented on #3029
@capaj Would you consider contributing a PR for this?

[2019-03-09 10:49] kibertoad commented on #2193
@GodefroyClair I think this is a good idea, we already support that for migrations, I don't see why we couldn't support that for seeds as well.

[2019-03-09 10:56] kibertoad commented on #3034
@hbarcelos Migrator `schemaName` does not affect schema of migrations themselves, it is only to specify what schema to use for internal migration tables (lock and changelog). If you want to parametrize your migrations based on knex instances, use this:

[code]

Then you can get schema from e. g. `knex.userParams.schema` inside the migration.

[2019-03-09 13:29] Gamerunder commented on #3094
Finally after 4 days looking for a solution, I discovered the problem. I used only WorkBench doing an instance simulating MySql Server. This way Rollback does not work.
I installed Mysql Server, I did the Migrations again and now the 'commit' / 'rollback' is running 100%.

Thank you for your help.

[2019-03-09 14:59] osher opened #3097 "knex production distribution pulls @types/bluebird and @babel/polyfill"
# Environment

Knex version: `-- knex@0.16.3`
Database + version: irrelevant, but well... - mysql 5.7
OS: irrelevant, but well - windows 10 with GNU on Windows (GOW)

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it

[2019-03-09 15:20] kibertoad commented on #3097
Appreciate the effort put! We did get rid of polyfills at some point, and see comment next to PR with explanation why bluebird types are needed. See https://github.com/tgriesser/knex/issues/2948 that was raised when we removed types.
Thank you! Since this is not a bug, I'm closing the issue.

[2019-03-09 15:20] #3097 closed

[2019-03-09 15:21] kibertoad commented on #3097
I wonder if there is a better solution that wouldn't require people to include typings manually, though, or would at least inform them about what the problem is and how they can address it.

[2019-03-09 15:29] kibertoad commented on #2948
@mmouterde Do you have any ideas how this could be addressed in a better way? Basically problem is that unless user explicitly adds bluebird types as a dependency to his package.json, compilation of his project that uses knex is going to fail.

[2019-03-09 16:15] kibertoad commented on #3092
@JoueBien Can you check if this works with exact same DB and driver version, when using older knex version? From what I'm seeing it is MySQL and not knex that is throwing the error. I guess we could improve null handling for MySQL driver, though - since MySQL default to null already, we can simply ignore it.

[2019-03-09 16:22] kibertoad commented on #3092
I think what you are encountering is insane MySQL defaults: https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_explicit_defaults_for_timestamp

We've encountered same issue in production ourselves - I have no idea who could have ever thought that updating all TIMESTAMP columns in a table to current date unless instructed otherwise is a good idea. You might want to change t

[2019-03-09 16:38] sgoll commented on #2948
@mmouterde For published packages, it is in fact necessary to put the `@types/…` dependencies into the regular `dependencies` even though they are not needed at runtime. This is necessary for all types that are exported by the bundled `.d.ts` file of the published package.

See this Stack Overflow answer for details:

[2019-03-09 17:10] kibertoad commented on #3092
While what is said above still stands, there definitely was a room for improvement on knex side as well; it is important to set nullability explicitly for timestamp column due to aforementioned reasons, and previously this was not happening. You would have to recreate your table for fix to have effect, but it seems to work well now.

[2019-03-09 19:40] radiumrasheed commented on #2767
any workaround for this?

[2019-03-09 19:51] kibertoad commented on #2767
@radiumrasheed Well, if you contribute failing test for this, I could fix it :)

[2019-03-09 19:56] radiumrasheed commented on #2767
sure, a guide will help

[2019-03-09 19:58] kibertoad commented on #2767
@radiumrasheed Take a look at https://github.com/tgriesser/knex/blob/master/test/integration/migrate/index.js

To execute tests only on a single DB, run `cross-env DB=mysql npm run plaintest`

[2019-03-09 23:55] barroudjo commented on #681
If I may, for this to be valid in PostgreSQL, there should be no comma between the

[code]
and

[code]
In short the valid sentence in PostgreSQL is:
[code]
which can obviously be obtained by:
[code]

[2019-03-10 07:47] shahnizz commented on #3026
+1 @patrickdet Did you ever find a solution for this? Just ran into this same issue

[2019-03-10 09:47] capaj commented on #3029
opened as https://github.com/knex/documentation/pull/183

[2019-03-10 11:15] kibertoad commented on #3026
@shahnizz Workaround is simple - contribute PR with fixed typings :D
See types/knex.d.ts

[2019-03-10 15:15] kibertoad commented on #3092
Makes sense to keep it open until related PR is merged.
@JoueBien Were you able to resolve original issue?

[2019-03-10 17:33] iamnoone opened #5872 "Typo: "knex.migrations" should be "knex.migrate""
I think there is a typo in the docs. In several of the code examples, it says to use `knex.migrations.latest()`, which was causing an error for me. As far as I know, this should actually be `knex.migrate.latest()`.

[2019-03-10 17:41] osher commented on #3097
Excuse me, I cannot understand the sense of your answer - as far as I understand - your answer refers to **development** time, not **production** time.... I'm sure of that because interfaces belong to the IDE, not to production time.
Can you please help me understand what am I getting wrong?

[2019-03-10 18:10] kibertoad commented on #3097
@osher See https://stackoverflow.com/a/46011417

Basically imagine you are a developer and you pull in knex as a dependency. Suddenly you are getting build errors because you also need bluebird typings that knex depend upon and does not bring transitively (since devDependencies are not resolved transitively). Unfortunately, npm provides no mechanism for transitive devDependencies, hence bundling b

[2019-03-10 18:14] #5872 closed

[2019-03-10 23:31] JoueBien commented on #3092
@kibertoad sorry about that I didn't mean to close the issue - saw it late last night but didn't get a chance to re-open it. In any case thanks for the fix.
I've been look at getting an environment up with and earlier build of MySQL but haven't had much luck - all the traditional tools I've used seem to have bumped versions and I'm just figuring out how to get MySQL community server up at home on

[2019-03-11 17:22] fortunes-technology commented on #2092
@HenriqueLimas Can you explain how we can make VarChar as the default for string?

[2019-03-11 17:41] voidcenter opened #3102 "Confirming that a transaction can be rolled back multiple times"
# Environment

Knex version: 0.14.0
Database + version: Postgres 10
OS:

Hi I have a pretty general question on if the "rollback" function of a transaction can be called with no errors after the transaction has already been committed/rolled-back. I saw this in our use case that we can call the `rollback` function without any errors even after commit. I was expecting some errors. Wonder if this is

[2019-03-12 10:49] RachelleJanssen opened #3103 "No error being thrown when I was expecting one"
# Environment

Knex version: 0.16.3
Database + version: MSSQL 14.0.2002.14
OS: Windows 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm not getting an error where I expect one. I tried inserting a new user into my table but it didn't succeed. I have tried various ways of catching the error that I'm supposed to get, but no luck so far. The best I can

[2019-03-12 10:54] RachelleJanssen commented on #3103
sorry I'm so stupid. My catch had a console.log('error')..... instead of console.log(error)

[2019-03-12 10:54] #3103 closed

[2019-03-12 13:14] #1218 closed

[2019-03-13 13:47] justvinz opened #3106 "affectedRows on raw query"
# Environment

Knex version: 0.16.3
Database + version: MySql 5.7.25
OS: ubuntu

@smorey2

# Bug

I'm executing a raw query:

[code]

As stated in [MySql documentation](https://dev.mysql.com/doc/refman/5.7/en/insert-on-duplicate.html):

**1. First execution**

[code]

✔️ affectedRows: 1 (insert)

**2. Second execution:**

[code]

✔️ affectedRows: 2 (existing row updated)

**3. Third (and following

[2019-03-13 21:47] #3063 closed

[2019-03-13 21:59] #3033 closed

[2019-03-13 22:29] kibertoad commented on #2998
Should be fixed in 0.16.4-next2

[2019-03-13 22:30] kibertoad commented on #3050
Fixed in 0.16.4-next2

[2019-03-13 22:30] #3050 closed

[2019-03-13 22:33] kibertoad commented on #3063
Fixed in 0.16.4-next2

[2019-03-13 22:34] kibertoad commented on #3033
Fixed in 0.16.4-next2

[2019-03-14 05:38] wubzz commented on #3106
AFAIK this isn't a knex question since this response comes straight from the driver, in your case `mysql` or `mysql2`.

[2019-03-14 09:10] justvinz commented on #3106
@wubzz

Thank you.
Yes, I realized it's definitely a problem of the driver, I've tested it directly without knex.

[Opened issue on mysqljs/mysql](https://github.com/mysqljs/mysql/issues/2194), I'm closing here.

[2019-03-14 09:10] #3106 closed

[2019-03-14 23:12] JonnyLinja commented on #285
I'm implementing the same thing as @farzher and @Msea. I have it working, but am unsure as to two things.

**1. Separate Connection vs Pool**

Are there any disadvantages to acquiring a connection from the pool, listening to the channel, and then releasing the connection back into the pool? Specifically, I see that maintaining a separate connection via `.client.acquireRawConnection()` was recommen

[2019-03-15 23:03] juliancoleman commented on #2998
Just tried 0.16.4-next2. Sad to see the same error

[2019-03-16 00:34] elhigu commented on #2998
@brunolm can you confirm that 0.16.4-next2 still fails this?

[2019-03-17 10:45] koskimas opened #3110 "queryContext not passed to wrapIdentifier when `raw` is used"
# Environment

Knex version: 0.16.3
Database + version: Any
OS: Any

# Bug

Hi!

So I noticed that, at least in some cases, `queryContext` is not passed to `wrapIdentifier` called by raw instances inside queries. Here's a reproduction:

[code]

[2019-03-17 10:49] koskimas commented on #3110
Same thing with subqueries by the way, but one might argue that this is not a bug:

[code]

[2019-03-17 13:36] koskimas commented on #3110
Ok, I found that you can call `queryContext` for the `raw` instance, but that's not documented anywhere (is it?). If documented, I could live with that feature.

This however, should just work:

[code]

but it also throws.

[2019-03-17 13:41] kibertoad commented on #3110
I'll take a look when I'm hime, thanks for reporting!

[2019-03-17 19:27] kibertoad commented on #2998
@pvoisin Does it work for you with  0.16.4-next2?

[2019-03-17 20:05] kibertoad commented on #3110
@koskimas Do you think any part of documentation should be improved?

[2019-03-17 21:29] FindAPattern commented on #2998
@kibertoad I'm getting the exact same error on 0.16.4-next2.

[2019-03-17 22:07] kibertoad commented on #2998
OK, so the proper fix for this would be to fully remove dependency on knexfile from migration:make (since it not really needs it).

[2019-03-18 05:34] juliancoleman commented on #2998
I don't want to beat the dead horse, but @kibertoad said it _should_ be fixed. Where was the evidence of this fix? Have regression tests been written? Saying it should be fixed, closing the issue, and having the same issue present is not the way releases should be pushed.

[2019-03-18 08:37] jajm opened #3112 "Using .raw with an escaped question mark ('\\?') produce a syntax error"
# Environment

Knex version: 0.16.3
Database + version: mysql  Ver 14.14 Distrib 5.7.25, for Linux (x86_64) using  EditLine wrapper
OS: Debian buster

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Using .raw with an escaped question mark (`'\\?'`) and other methods (limit, where, ...), database server returns a syntax error

2. Error message

[code]

3. R

[2019-03-18 08:55] wubzz commented on #3112
Shouldn't it be `'\\?'` rather than `"\\?"` ? Not too keen on mysql syntax.. But using Postgres the example above works just fine _(after replacing " with ' ofc)_

[2019-03-18 10:03] elhigu commented on #3112
Knex seems to be doing there what it is supposed to be doing: https://runkit.com/embed/fn2wqp4ylahy (note that toString() doesn't give very truthful image what query is actually been run by knex).

However... since mysql uses `?` marks natively as paramater bindings , maybe they require some special escaping for mysql driver?

[2019-03-18 11:24] elhigu commented on #2998
@juliancoleman this has been difficult to reproduce. But indeed there should have been regression test added in the fix (didnt check if there actually was and test just didnt fail on ci env).

[2019-03-18 11:35] koskimas commented on #3110
If calling `queryContext({ something })` for a `raw` instance is part of the public API, I think it should be documented somewhere.

[2019-03-18 13:44] samin commented on #2445
@JQuezada0 not yet

[2019-03-18 16:41] juliancoleman commented on #2998
Difficult to reproduce is actually fair as I've looked back and have seen that no one, including myself, has added steps to reproduce.

1. Add `knex@0.16.4-next2` to dependencies
2. Create a `knexfile.ts`
3. (optionally using ObjectionJS) instantiate knex config on `Model.knex`
4. Add the following script to `package.json`
  - `"knex": "knex --knexfile ./path/to/Knexfile.ts"`
5. Make migrations

[2019-03-18 16:42] juliancoleman commented on #2998
I've verified these steps on a project I just started the other day, which brought me to this issue

[2019-03-18 21:48] brunolm commented on #2998
[code]

[code]

[code]

[2019-03-18 22:51] kibertoad commented on #2998
I apologize, it was a late hour here in Amsterdam and my choice of words was really not the best. It should have been "Please let me know if 0.16.4-next2 fixes the problem", as, TBH, I would have been very surprised if it did. There was a unit test written that verifies exactly what this fix actually fixes, and now I'm fairly sure that I'm not misunderstanding anything and that problem is exactly

[2019-03-18 23:41] brunolm commented on #2998
@kibertoad

This is not true, see my previous comments. Everything works on 0.15.

[2019-03-18 23:44] kibertoad commented on #2998
@brunolm But can you explain on a technical level how Node.js may not choke while parsing Typescript file even hypothetically? I'll check the PR out, but I suspect that it achieves same thing ultimately (although by different means) - bypasses the knexfile.

[2019-03-18 23:45] #3110 closed

[2019-03-19 00:28] juliancoleman commented on #2998
@kibertoad I am presently using ts-node. I'm not sure why this happens on a technical level

[2019-03-19 00:28] juliancoleman commented on #2998
If I had the time to check the source, I would, but I've been using Knex for years and I just trust it works at this point

[2019-03-19 00:55] brunolm commented on #2998
if you do this you can see it fully working on knex `0.15`, not ignoring the knexfile.ts file

[code]

however if you run the exact same thing on knex `0.16` you will see the error. If you clone this I suggest cloning in a different folder so you can make sure you're on the right version

[code]

[2019-03-19 08:15] elhigu commented on #3110
From implementation I got an impression that queryContext was not added to public api of raw, but just patched in when used as a part of queries with .whereRaw etc.

[2019-03-19 12:22] jajm commented on #3112
I tried with simple quotes but it doesn't work (same error message)

The only way I found to escape '?' for mysql client is by using `mysql.raw`.
The following snippet works:
[code]
while the following doesn't work
[code]
Note that if I remove the `.limit(1)`, then the query works as expected:
[code]

[2019-03-19 15:06] mmarvick commented on #1875
I don't like bumping the thread like this, but since I think it's getting lost in the comments, @mooyoul's [answer above](https://github.com/tgriesser/knex/issues/1875#issuecomment-321033705) worked great for us.

If you don't turn that flag to false, Lambda waits for the event loop to be empty. If you do, then the function finishes execution as soon as you call the callback.

[2019-03-19 16:36] barroudjo commented on #285
+1 @JonnyLinja
These are very good questions, I'm also interested in the answers !

[2019-03-19 18:34] elhigu commented on #285
1.  if you are not using knex at all why to even get connection from its pool? That code doesn't make sense at all. Also you need to be more careful to return the connection to the pool manually, instead of having knex to get connection, do the query and return the connection automatically.

2. For example doing:

[code]

would be better that using acquireConnection, but one can make their own pin

[2019-03-19 18:49] elhigu commented on #3112
Thanks for the info.

It is not unexpected that second one doesn't work and the last one works kind of by accident, because there are no value bindings at all in the query.

I would accept PR which converts escaped ? automatically to mysql.raw value replacements in mysql dialect. I consider this actually as bug, since toSQL().toNative() should produce query and bindings that are runnable through m

[2019-03-19 19:03] elhigu commented on #2998
I verified those examples of @brunolm earlier I was never able to create reproduction case for this that would fail on macos, but I was able to reproduce docker setup.

So the problem currently would be to be able to create test case for knex CI, which actually also fails on 0.16 and works with 0.15. Since CI is running some old ubuntu, maybe that test case works (meaning fails) there just fine.

[2019-03-19 20:10] JonnyLinja commented on #285
@elhigu Thanks for responding! I might be misunderstanding what you're saying so bear with me. Some context - I have a REST-ish API that uses Knex. The server needs to notify clients of certain changes and I want to do so with websockets via the architecture shown in the diagram at https://devcenter.heroku.com/articles/websockets, just with PostGres Listen/Notify instead of Redis pub/sub.

**1. Se

[2019-03-19 20:14] JonnyLinja commented on #285
Also, I just realized that a callback upon a successful connection DOES exist already. https://knexjs.org/#Installation-pooling-afterCreate

I could technically do the `connection.query('Listen foo');` and `connection.on('notification', (msg) => {});` there, I'd just have to ensure that only one connection ever is listening for the channel. Hmm.

[2019-03-19 23:57] elhigu commented on #285
You need to do some initial query to make pool to create connections, but I suppose that should work for setting up that channel listening. Also that way is using knex public APIs 👍

No it doesn't. If connection error is got, connection is discarded from pool and new one will be created on next acquire call. I did confuse this issue being just about making sure how to check if DB is online in last

[2019-03-20 00:21] elhigu commented on #3087
Sounds like  that is a bug. query-error should be called the same way it is called for any other error that is coming form db driver / pool.

There is no beforeDestroy if nothing was created so afterCreate is actually called if beforeDestroy is called or there might be another bug there.

As a work around for knex.on('query-error', ...) not working, you can setup own listener to connection in afte

[2019-03-20 01:20] JonnyLinja commented on #285
Nod nod. I'm fine with requiring an initial query to set up the listen. Using public APIs and having less polling code running in the background is less risky from a code safety standpoint.

How would I unregister the listeners? I'm looking through the knex documentation and the documentation of node pg at https://node-postgres.com/api/client and I don't see it. Is there an "off" option?

[2019-03-20 08:43] TheThing commented on #3087
I'm also not so sure I want `knex.on('query-error')` to be the place for detecting connection status although I do agree that it's an annoying bug that `query-error` does not get called on all those exceptions.

My reasoning is that if the database suddenly goes down or internet explodes, I'd like to be able to detect that and start handling it immediately without having to wait for the next user

[2019-03-20 09:08] wubzz commented on #3087
I think it's important to distinguish between 'query' errors and 'connection' errors. What is described here is a loss in connection, or a server going down. That by definition cannot be classified as a 'query' error. The `query-error` event in knex is only emitted when the sql server - for whatever reason - cannot process the sql it has been provided. That was by design when it was added. Whether

[2019-03-20 09:22] elhigu opened #3113 "knex.on('query-error', ...) does not trigger on some connection errors"
# Environment

Knex version: 0.16.3
Database + version: at least pg
OS: probably all
# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

[code]
2. Error message

Query rejects with some error about not being able to connect to DB.

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to mysql or postgresql,

[2019-03-20 09:23] elhigu commented on #3087
Even that is not a good place to do it since having single connection close doesn't mean that DB/network is down. It just means that single connection was closed. Best way to check that DB is available is to write simple polling routine and check it for example every second (it is simple and robust, there is no reason to make it more complicated).

If database goes suddenly down or internet explod

[2019-03-20 09:23] #3087 closed

[2019-03-20 10:18] TheThing commented on #3087
Thanks for creating that issue. I also wanted to expand on a few things.

Maybe but I'm trying to avoid needlessly polling the database every second, especially when I know I can do it smarter.

I actually do that. When a pool connection is unexpectedly dropped I check for the reason in the event handler:

[code]

this gives me a somewhat red flag that tells me something might be up with the datab

[2019-03-20 11:40] elhigu commented on #3087
Smarter means usually less robust and more work (e.g. you might suddenly create 1000 status check queries to DB just because all connections were dropped / or make accidental retry-fail loop etc. )  here is some nice dude from AWS talking about it https://youtu.be/O8xLxNje30M?t=2744

Even on websites I many times opt to simple polling instead of using for example websockets, becuase that polling c

[2019-03-20 11:51] TheThing commented on #3087
Very good input elhigu.

In conclusion, I think I still plan on using `beforeDestroy` myself for connection monitoring within the pool and to the database. I just wanted to raise the issue due to the deprecated message stating us to let you know if we were to use it and how we were using it.

That tarn issue looks really cool and it would be nice to have access to the tarn pool so we can hook into

[2019-03-20 11:56] barroudjo commented on #285
@JonnyLinja I tried your proposal with afterCreate, and I noticed a major flaw: it relies on the idea that the pool of connections will always have at least one "active" connection. But a quick test yesterday showed that such is not the case, there are times when there are no active connections in the pool. Hence no listener for a notify sent by the db (and indeed I saw that in this case the serve

[2019-03-20 14:42] RaimoJohanson commented on #590
You may find this helpful:
`env $(cat .env) knex migrate:latest`

Please note that in this case Knex is expected to be installed globally

[2019-03-20 15:18] Jakobud commented on #590
@RaimoJohanson A more proper way to do that would be

`env $(cat .env) ./node_modules/.bin/knex migrate:latest`

or if you are using an NPM Script:

`env $(cat .env) knex migrate:latest`

[2019-03-21 15:59] FindAPattern commented on #2998
Quick update on my end. Not sure if this is useful or not, but my issue was that I was using multiple `tsconfig.json` files in my project, and `knex` was using the default. When I overrode this functionality by directly launching `knex` using `ts-node`, I was able to get around this error.

My updated `package.json`:

[code]

How I run migrations now:

[code]

Hopefully this helps someone.

[2019-03-21 17:49] juliancoleman commented on #2998
@FindAPattern would you mind posting your tsconfig? Here's mine. I only use one, since I have no need to build as I serve with `ts-node`

[code]

[2019-03-22 03:55] privateOmega opened #3115 "Migration failing with error relation does not exist"
# Environment

Knex version: 0.16.3
Database + version: PostgreSQL  10.5
OS: Windows

# Bug

1. Migration failing with error message `alter table "meraki"."role_permissions" add constraint "role_permissions_role_id_foreign" foreign key ("role_id") references "roles" ("id") - relation "roles" does not exist`
2. https://gist.github.com/privateOmega/18bff0b56e70d4260f8c0d0897134ca8

Discussion on SO

[2019-03-26 03:26] shaungreen opened #3116 "typescript definition does not match code for mssql domain"
# Environment

Knex version: 0.16.3
Database + version: mssql (any version)
OS: (any)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Typescript type Knex.MsSqlConnectionConfig specifies that the 'domain' attribute should be found under the 'options' object, but the code in src/dialects/mssql/index.js (line 97) expects the 'domain' attribute to be found as

[2019-03-26 12:22] jpegram2 opened #3117 "Unexpected token export"
# Environment

Knex version: 0.16.3
Database + version: Any
OS: Linux

1. Using node 11.10.0 Knex is throwing an Unexpected token export error on line 3 of knex/lib/index.js
export default Knex

2. Error message

/Users/direwolf/Sites/node/api-node/node_modules/knex/lib/index.js:3
export default Knex;
^^^^^^

SyntaxError: Unexpected token export
    at new Script (vm.js:85:7)
    at createScript (

[2019-03-26 16:10] soumyamishra12 commented on #1901
Is there any new PR for solving this issue.It would be really helpful if it does.

[2019-03-26 17:25] mjurincic commented on #385
Any news on this?

[2019-03-26 18:26] rotimi-babalola commented on #2649
Hello. Is there a way to set `null` as the default value for `table.text`? I'm using Postgres and my migration file looks like this:

[code]

When I run the migration, I don't see `null` as the default value for that column in my database client - Postico. Is there a way to resolve this issue? Thanks

[2019-03-26 18:51] kibertoad commented on #2649
@rotimi-babalola And when you make column nullable and insert entry without value, what it defaults to?

[2019-03-26 19:06] rotimi-babalola commented on #2649
It does not default to anything @kibertoad it is just blank

[2019-03-26 20:43] kibertoad commented on #2649
@rotimi-babalola So you are saying that you are getting different results when you are explicitly passing null and when you are passing nothing?
Documentation for PostgreSQL states this: "If no default value is declared explicitly, the default value is the null value", so I'm slightly confused that you are not getting null by default.

[2019-03-27 09:53] rotimi-babalola commented on #2649
Oh I see. Thanks @kibertoad

[2019-03-27 13:50] begueradj opened #3120 "Can not create MySQL longblob type"
Knex version: current
Database + version: mysql  Ver 14.14 Distrib 5.7.25, for Linux (x86_64) using  EditLine wrapper
OS: Ubuntu !8.04 LTS

Knex.js has only [binary][1] field type to store images.

I want to use the MySQL BLOB type which Knex.js does not have.
But Knex.js says you can create it (if I understand well) using the [`table.specificType()`][2] method:

I am not sure how to use this.

I

[2019-03-27 13:58] begueradj commented on #3120
I just had a typo, sorry this is not a bug.

[2019-03-27 13:58] #3120 closed

[2019-03-28 12:11] tahv0 commented on #1439
Getting this message with knex 0.15.2

[2019-03-28 20:32] elhigu commented on #1439
@tahv0 please provide also some code for reproduction if you think that is a bug.

[2019-03-28 20:59] kibertoad commented on #1439
@elhigu Considering that we dont have pg-native dialect, isn't it obvious pg-native as driver won't work?

[2019-03-28 22:19] elhigu commented on #1646
Closing as there is no knex reproduction case for this. Sounds like bookshelf is passing undefined bindings somewhere.

[2019-03-28 22:19] #1646 closed

[2019-03-28 22:22] elhigu commented on #1439
@kibertoad this issue is not much related to a that fact... I cannot remember where that original error actually ended up trying to require pg-native. Maybe code like stringifying value was trying to access require('pg').native or something....

[2019-03-28 22:51] elhigu commented on #3095
That is actually pretty easy way to leak connections, when forgetting to call commit/rollback for transaction in weird error cases. That being said it is really useful many times to just get that transaction like that 👍

[2019-03-28 22:52] elhigu commented on #3095
I'm also pretty sure that there has been discussion about this earlier somewhere in the issues...

[2019-03-28 22:55] elhigu commented on #1758
yep https://runkit.com/embed/qh57udiyjwoi

[2019-03-28 22:55] #1758 closed

[2019-03-28 23:00] elhigu commented on #3091
You need to setup mysql driver to allow multiple statements in single query. IIRC there is an option for it in mysql client configuration. Escaping will not help anything `knex` doesn't really care if there are semicolons in those strings or not.

[2019-03-28 23:00] #3091 closed

[2019-03-29 00:19] elhigu commented on #3034
Closing as this doesnt seem like a bug, but expected behaviour.

[2019-03-29 00:19] #3034 closed

[2019-03-29 06:20] wubzz commented on #3095
Yeah there's been multiple discussions around this, and even an implementation or two. Previously it was always halted with reasoning *"for 1.0"* or *"for rewrite"*. But definitely always been of interest.

[2019-03-29 11:45] tahv0 commented on #1439
I made some more research and my issue were not related to this library. Sorry for opening this thread for nothing.

[2019-03-29 17:02] elhigu commented on #3117
Are you using node <6 ?

[2019-03-29 17:03] elhigu commented on #3117
Please provide reproduction code for this. Can be reopened if can be verified.

[2019-03-29 17:03] #3117 closed

[2019-03-29 17:40] juliancoleman opened #3122 "knex seed primary keys don't start at 1"
# Environment

Knex version: `^0.15.2`
Database + version: Postgres@9.6
OS: MacOS / Docker (CentOS)

# Questions about how to use knex

When running a seed without specifying the PK field, it seems that my id's start at 9 instead of 1, every time I rerun the seeds. Even when using Truncate+Cascade. I don't feel like I should have to specify a pk in each seed as I'm expecting my `increments` to sta

[2019-03-29 17:47] juliancoleman commented on #3122
<img width="97" alt="Screen Shot 2019-03-29 at 10 46 25 AM" src="https://user-images.githubusercontent.com/11545939/55252378-08acaf80-5210-11e9-8972-e8619036a39a.png">

[2019-03-29 17:47] juliancoleman commented on #3122
Why is this expected behavior? This is actually incorrect

[2019-03-29 17:48] elhigu commented on #3102
Looks like additional commits / rollbacks actually fails, but error is silenced somehow (but still logged to debug):

[code]

I don't know if that is intentional or not. However if transaction is ended, then no more queries can be sent in, so extra rollbacks / commits not failing actually sounds pretty harmless.

Also some times transaction is rolled back directly by DB driver. In that case client

[2019-03-29 17:48] #3102 closed

[2019-03-29 17:53] elhigu commented on #3122
Show me your database truncate code.

[2019-03-29 17:55] elhigu commented on #3122
Also questions how to use knex doesn't belong here, as issue template also states.

[2019-03-29 17:55] #3122 closed

[2019-03-29 17:55] #3054 closed

[2019-03-29 17:56] juliancoleman commented on #3122
Using Postico, right click on the table name, click `Truncate...`, and rerun the seed is how I currently do it. I'm sorry about the formatting. I didn't really understand the issue template.

[2019-03-29 17:57] juliancoleman commented on #3122
However, in my unit tests, I use `knex-db-manager` with the following in my `afterAll` block

[code]

[2019-03-29 18:01] elhigu commented on #3122
thats strange, since I've written that truncate code for knex-db-manager and I know that it gives an option to query, which truncates also id sequences of corresponding table.

Please check from your database after truncate that those sequences are also set to 0.

[2019-03-29 18:05] elhigu commented on #3122
also knex truncate with postgresql seems to work just fine

[code]

[2019-03-29 18:06] elhigu commented on #3122
Try to come up reproduction case for this one and I'm sure you will find what is the problem in your code.

[2019-03-29 18:07] juliancoleman commented on #3122
## Steps taken

1. Truncated database (restarting identity and cascading)
2. Ran migrations using `npm run knex migrate:latest`
3. Ran seeds using `npm run seed:run`

Issue seems to have resolved itself. This doesn't quite make sense to me, though. Is there some way you might be able to explain it to me? Why on a fresh database would this happen?

[2019-03-29 18:08] juliancoleman commented on #3122
Could I run `dbManager` in my seed file to ensure proper indexing?

[2019-03-29 18:09] elhigu commented on #3115
So according to stackoverflow problem is that withSchema value is not appended to `.inTable()` declaration?

[2019-03-29 18:13] elhigu commented on #3122
knex(tableName).del() doesn't reset sequence, so that might have been a problem

[2019-03-29 18:15] juliancoleman commented on #3122
I don't doubt that might have been the issue. And I was certain it was an issue with how I'd written it, not an issue with the library itself. Would it be bad practice to truncate instead of `.del()`?

[2019-03-29 18:24] elhigu commented on #3122
Truncate and del creates different queries. .truncate() does restart identities and does TRUNCATE query and del() does just DELETE table without where statement, so everything gets deleted. Neither one is a bad practice, just different queries.

Documentation of truncate could be better 😐 I don't know if it restarts sequences on every dialect, but with postgres it does.

[2019-03-29 18:28] juliancoleman commented on #3122
So calling `knex.truncate` restarts identities. Does it also cascade?

[2019-03-29 18:29] juliancoleman commented on #3122
If worst comes to worst, I'll just use `raw` to accomplish this, but it would be much better to have it in the library

[2019-03-29 18:30] elhigu commented on #3122
i don't think it cascades. Yea, I think there is open issue about truncate and cascade somewhere here.

[2019-03-29 18:30] juliancoleman commented on #3122
Ah, lemme find it because this may just end up being a duplicate of that issue

[2019-03-29 18:32] juliancoleman commented on #3122
https://github.com/tgriesser/knex/issues/1506#issuecomment-446975889

[2019-03-30 04:27] mrdulin commented on #666
Need this feature to rollback db to a specific migration version.

The command maybe like: `knex migrate:rollback --version 20190330113112`