[2017-10-17 12:28] sdwrage commented on #2084
@elhigu Awesome. Thanks for the update :)

[2017-10-17 12:31] elhigu commented on #2270
This is not supported and as usual if you try to run node code in browser, you need to pack all the dependencies with the compiled lib and face those libs, which are not supported by browser (e.g. ones that tries to make tcp connection to database etc.).

Afaik no-one has ever tried to pack objection to be able to be used from browser. This is not really related to knex. Maybe in stackoverflow som

[2017-10-17 12:31] #2270 closed

[2017-10-17 12:41] elhigu commented on #2269
Wouldn't hurt to have this data.

[2017-10-17 13:39] elhigu commented on #2268
Probably single context object is enough, but yeah something like this would be good to have. The same context could be also passed to query events.

[2017-10-17 16:54] slim-hmidi opened #2271 "How can I use nextVal on knex?"
I have a database filled with 400 rows and I want to add some more rows, when I tried to use `knex('tableName').insert({name: 'name', lastName: 'lastName', address: 'Address'}` I got an error such as `duplicated primary key constraint`.
Does Knex recognize `nextVal` to add an element at the end of the table?

[2017-10-17 17:20] richraid21 commented on #2268
So something like
[code]

that would then get propagated to `wrapIdentifier`, `postProcessResponse`, and events?

I agree that we probably don't need keyed properties since you could just key your own.

[2017-10-18 06:56] friend0 commented on #1771
Wondering why this hasn't been addressed yet - I'm seeing the same issue in v13

[2017-10-18 07:05] friend0 opened #2274 "`Having` doesn't work with function as column"
See this runkit for a quick example: https://runkit.com/friend0/59e6fa9e8caff40012a0c1cd

[code]

Produces:
[code]

I expected:
[code]

(the queries are non-sense, of course)

`where` accepts a function as parameter for composing complex sequences.
`having`, it appears, also supports this (poking through the source, doesn't seem to be documented) but doesn't produce the query I'd expect. Am I doin

[2017-10-18 07:18] elhigu commented on #2274
Thanks for the excellent report! This like many other place in knex certainly needs more complete tests to check that all the parameters are accepted as they should be.

[2017-10-18 07:23] elhigu commented on #1771
@friend0 because there are too few contributors right now to take care everything, closing in favor of #2274

[2017-10-18 07:23] #1771 closed

[2017-10-18 07:50] #2269 closed

[2017-10-18 08:02] friend0 commented on #2274
No problem :)
I can take a look at this - seems like the implementation should mirror what happens with where.
Will report back and PR if I can figure it out.

[2017-10-18 08:24] elhigu commented on #2271
You have to update your databases id sequence to match the amount of data that you added to table (with hardcoded ids I suppose). This has nothing to do with knex. It depends on database how it can be done.

[2017-10-18 08:24] #2271 closed

[2017-10-18 08:28] slim-hmidi commented on #2271
@elhigu On the seed file I hardcod the id of each row but when I want to insert a new element I got an error. I think that it can't add the new element at the end of the database.

[2017-10-18 08:47] elhigu commented on #2271
There is no such thing as "end of the database" there is only id sequence that is used to generate id's for new rows that doesn't have id field give.

If you have hardcoded id:s in seed, it means that database will not call nextval to get the id for each row -> so table's id sequence remains in  initial value (1). So when next time you are inserting row, where you haven't given the id explicitly,

[2017-10-18 14:42] weicn opened #2275 "i installed knex failed when running "npm install knex --save" in win7"
[code]

[2017-10-18 15:27] rapzo commented on #2275
Are you sure you have node-gyp working on your machine?

https://github.com/nodejs/node-gyp#option-2

On Wed, Oct 18, 2017 at 3:42 PM, weicn <notifications@github.com> wrote:

--
Rui Pedro Lima

[2017-10-18 16:05] lehni commented on #233
@elhigu you mention overriding  query compilers for each dialect [here](https://github.com/tgriesser/knex/issues/233#issuecomment-220386909). Is there more information about this somewhere?

[2017-10-18 16:34] rapzo commented on #2274
Why are you using `.having` with a callback function? I didn't spot it in
the docs.

if you:
[code]

will result into
[code]

Isn't that what you're looking for?

On Wed, Oct 18, 2017 at 8:05 AM, Ryan <notifications@github.com> wrote:

--
Rui Pedro Lima

[2017-10-18 16:36] rapzo commented on #2274
Why are you using '.having' with a callback function? I didn't spot it in
the docs.

if you:
[code]

will result into
[code]

Isn't that what you're looking for?

[2017-10-18 17:15] roytz opened #2276 "Postgres arrays are retrieved as objects"
I have a table (in Postgres) with a field of type `TEXT[]` but when I use knex (simple select query) I get that field as an object instead of an array.
I read [this](https://github.com/tgriesser/knex/issues/569) issue but it doesn't give an answer for that.

[2017-10-18 17:35] friend0 commented on #2274
Right, it’s not in the docs, but the piping is there in the source. I realize that this can be accomplished as you wrote, but should also work with a callback. Also, I will not be composing queries by hand, rather my queries will be built using come custom objects. Having the callback makes my code much cleaner, and I don’t need special logic and raw statements to wrap my expressions in parenthese

[2017-10-18 18:38] richraid21 commented on #2274
Utilizing undocumented features is normally frowned upon, but regardless I agree this should probably be fixed.

[2017-10-18 21:30] cazzer commented on #1882
I'm also having some issues getting @RickDT's suggestion working. My connection looks like this:
[code]
But my requests are all timing out, and the traces show as pending:
![image](https://user-images.githubusercontent.com/2466842/31743573-70a942c8-b410-11e7-94b4-09020c0c9c81.png)
My Lambda is limited to 3 seconds, but increasing to 30 yields the same results.

[2017-10-18 21:57] elhigu commented on #2274
Using function syntax is fundamental feature in knex to be able to group ands and ors in a way that parenthesis are set right. Wouldn’t hurt to have that documented also for having.

[2017-10-18 22:55] roytz commented on #2276
Thanks @richraid21 , sorry I wasn't specific enough
I'm creating my whole db using `knex.raw` and passing it a script I wrote.
I the column I referring to isn't actually a `TEXT[]` but an enum type I created.
I created a type using `CREATE TYPE some_type AS ENUM ('text1', 'text2', 'text3')` and then created a table with a column of type `some_type[]`.
When returning it using knex I get an object i

[2017-10-19 03:22] richraid21 commented on #2276
Ok so I confirmed the error, but this is actually a problem with the underlying postgres driver that Knex uses, [pg](https://github.com/brianc/node-postgres). You will have to bring it up there and then Knex can upgrade when the bug gets fixed.

Heres the reproduced example using just `pg` driver

[code]

[2017-10-19 07:21] shai32 commented on #2276
Thanks
https://github.com/brianc/node-postgres/issues/1479

[2017-10-19 07:27] nanom1t opened #2277 "MySQL BIGINT"
Hi,

I'm using BIGINT (64 bits) type for IDs in MySQL database. I know that JavaScript does not support 64-bit numbers, so I'm also using [Long.js](https://github.com/dcodeIO/long.js) package in my app.

Does knex support 64-bit values? How can I configure it?

For example, I have MySQL table with two fields: id (BIGINT) and name (VARCHAR). I just want to execute queries with BIGINT fields and get

[2017-10-19 12:59] elhigu commented on #2277
Check from your database driver documentation how to work with 64bit integers. There is no special support for it made in knex. Usually drivers sends and receives them as strings.

[code]

[2017-10-19 12:59] #2277 closed

[2017-10-19 13:02] elhigu commented on #2276
I suppose there is nothing to do in knex side to fix this, closing.

[2017-10-19 13:02] #2276 closed

[2017-10-19 13:10] elhigu commented on #233
@lehni I'm not sure what are you looking for... the comment was  about internal implementation detail how that can be done in knex. It is not suitable way to workaround this issue. More information is when you look code of compilers of each dialect.

[2017-10-19 13:14] elhigu commented on #2275
Try `npm run babel` then check the `babel` script from package.json, run the command and figure out why it fails. There are not many people developing knex on windows, so I wouldn't be surprised if development support for it has been broken...

[2017-10-19 13:50] roytz commented on #2276
Thanks @richraid21

[2017-10-19 15:09] stringbeans opened #2278 "Statements are out of order when using .alterTable"
In a migration I have the following code:

[code]

However when to `.toString()` the statement above I get the following:

[code]

Notice how the ordering of the alter statements do not match the order in the original `alterTable` code block

[2017-10-19 15:14] emirotin opened #2279 "Using SQLite extensions"
SQLite does support runtime-loadable extensions. They can add functions (like JSON support) or change the behavior of the engine.
Many of them are per-session, i.e. are unloaded when the connection is closed.

Loading extensions is supported by the sqlite3 client: https://github.com/mapbox/node-sqlite3/wiki/Extensions

Would it be possible to make knex support them?

I could use sqlite3 directly b

[2017-10-20 21:45] mmiller42 opened #2280 "When is the next release?"
I'm curious, as some bugs have been fixed (notably, I came here to report a bug where `NOT ILIKE` is not a supported comparison operator in `where` queries). Looks like that was fixed in August, but there haven't been any releases since April?

I understand some features may still be in development, but `master` is stable, no? Could you at least release a patch with bugfixes of this kind?

[2017-10-22 16:37] lackdaz opened #2282 "WhereIn with subquery doesn't seem to be working"
I am trying to return rows by unique columns:
[code]

https://runkit.com/lackdaz/59ecc4d5bab82900124ec531

But Knex query builder doesn't return unique ids as intended. Is this is a known bug?

[2017-10-22 20:36] jimsimon opened #5831 "toSQL doesn't handle parameters correctly for postgres"
When using knex as purely a query builder (not specifying connection details), the output of toSQL has `?`'s in it instead of `$1`, `$2`, etc.  The `?` placeholder is bot valid for postgres.  This doesn't appear to be an issue when specifying connection details.

[2017-10-23 05:23] #5831 closed

[2017-10-23 05:34] elhigu commented on #2282
What do you mean by "not return unique ids as intended"? You are not selecting any unique id, just timestamp, device and data. What would you consider as "intended" functionality in this case?

In the runkit example the SQL generated by `knex` did seem to match the knex query.

[2017-10-23 05:34] #2282 closed

[2017-10-23 05:59] elhigu commented on #2280
I'll be doing 0.14 release in this or next month. I'm not going to  put my time to patch release, but if someone likes to do in it is ok. Currently there are so many breaking changes in that it might be difficult or might be easy...

[2017-10-23 05:59] #2280 closed

[2017-10-23 06:13] elhigu commented on #2279
Can you setup loading extensions in afterCreate callback http://knexjs.org/#Installation-pooling ?

That is called to every DB connection just after connection has been created. Usually all the per-session related stuff is done there.

[2017-10-23 06:13] #2184 closed

[2017-10-23 06:19] emirotin commented on #2279
Oh, didn't find it in the docs, thanks, will try and let you know how it goes. There's a slight downside of tit being called on each connection when I really only need it for the final phase, but that sounds like not that big deal, at least before I really see it slowing the things down.

[2017-10-23 06:26] elhigu commented on #2278
I believe this is a bug (or more like implementation decision long ago, which doesn't sound right to me).

To me it makes sense to keep the order of table statements and also document that it is intended behaviour that knex doesn't try to reorder statements.

For now as a workaround I suppose you need to do multiple separate .alterTable calls or raw to force ordering.

[2017-10-23 06:50] elhigu commented on #2279
Yeah it would be nice to be able to get dedicated connections from knex without need to fake them with transactions. I hope I get time to implement that at some point next year...

[2017-10-23 08:30] lackdaz commented on #2282
To elaborate: I was looking to get entire rows by unique `device`(s) based on its last known timestamp, like this: https://imgur.com/a/VX92J
I ran this SQL query in DBeaver to be sure that this was the output I wanted.

I crafted the same SQL query using Knex, as shown above. And this was the result: https://imgur.com/a/9a7ni

Which does not display unique `device` (s) but instead shows an entirel

[2017-10-23 08:49] elhigu commented on #2282
Looks like you are generating html out of the query result got from knex.

Please show the console logged unmodified result from `knex` and I'm sure that the result will be the same that pure SQL query returns.

[2017-10-23 10:03] lackdaz commented on #2282
My bad, I ran through the simulation and the subquery **does work**. There was some git branch phantom code affecting the query.

Thank you @elhigu  for taking the time to look through this

[2017-10-23 14:47] emirotin commented on #2279
Hm, interesting enough I get segfault when using this method + transaction around the "INSERT SELECT" statement (raw query), but not when doing the same query directly on the sqlite driver myself.
It depends on the number of records being transferred, the total number of records I have is 300K+ and it doesn't fail if I limit the number of them to something like 10K.

[2017-10-23 14:59] ahmesaab opened #2284 ""\u0000" in json will lead to invalid message format error for postgresql builder"
The knex query builder doesn't escape the null character. The query string generated from the builder will contain the null characters that will cause the postgresql to fire an error.

[2017-10-23 15:26] hetsch opened #2285 "Support for sqlite3-offline"
Hi,

while trying to compile sqlite3 for my electron app (and miserably failing as many others ...), I stumbled over an issue where a dude provides prebuilt binaries for sqlite3 and offline app usage. The original thread can be found at https://github.com/mapbox/node-sqlite3/issues/840 and his repository is located at https://github.com/DenisCarriere/sqlite3-offline.

I wanted to ask if there is a

[2017-10-23 20:49] lehni commented on #1278
It looks like the new `wrapIdentifier ()` config option will be perfect for this:

https://github.com/tgriesser/knex/blob/9658c78d4fba55a129acc3843b5150de93d553c4/src/client.js#L175

[code]

This will only be available once 0.14.0 is out...

[2017-10-23 22:23] #1278 closed

[2017-10-24 00:15] mgarf opened #2286 "MSSQL Depcreation Warning"
Using MSSQL with Latest Knex and Azure SQL Database. When I run knex migrate:latest i get the following error:

(node:5416) [DEP0064] DeprecationWarning: tls.createSecurePair() is deprecated. Please use tls.Socket instead. TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?

Still investigating if its from the connection side but

[2017-10-24 01:19] #2286 closed

[2017-10-24 09:30] ewdave commented on #138
Hi, any update on this feature on knex yet?

[2017-10-24 11:51] elhigu commented on #2285
You can hack it like this (in client arg one can actually give the Dialect object that knex should use):

[code]

https://runkit.com/embed/90b3cpyr4jh2

[2017-10-24 11:51] #2285 closed

[2017-10-24 12:00] elhigu opened #5832 "Document to config.client attribute option that one can pass Dialect instance there to allow using custom dialects"
Example found in https://github.com/tgriesser/knex/issues/2285#issuecomment-338964642

[2017-10-24 12:15] elhigu commented on #2279
I think we cannot help more with this issue, closing. Feel free to keep on discussion though.

[2017-10-24 12:15] #2279 closed

[2017-10-24 12:19] elhigu commented on #2284
Cannot reproduce https://runkit.com/embed/6v3ccxjyhj3t please add an example that demonstrate the problem.

[2017-10-24 12:19] #2284 closed

[2017-10-24 13:29] danielraban opened #2287 "PCI Compliance."
Hi, I am wondering if knex is pci compliant?

[2017-10-24 13:41] elhigu commented on #2287
Does PCI compliance has anything to do with the DB library that is used? Isn't it just about how you use it and how you build your application.

If you can list here all the requirements for being PCI compliant, in that case I can add more detailed answer.

[2017-10-24 13:41] #2287 closed

[2017-10-25 03:40] brianhuangyl commented on #1128
@ifullgaz, I've tried your solution, but I got errors as below. Did you run into a similar issue?
[code]

[2017-10-25 07:07] rajats-smpx opened #2289 "No option to partitioning a table"
Please consider adding options for
1. Adding partitions in the table that would correspond to something like
'CREATE TABLE [tableName] (...) `PARTITION BY RANGE([columnName])'
2. Appending table with raw queries like if we used createTableIfNotExists([tablename], (table) => {...});
we can append it like table.raw('[something for partitioning the table]')

[2017-10-25 08:31] elhigu commented on #2289
Please describe some initial API proposal and how it will work in all the different dialects.

[2017-10-25 09:11] kirrg001 opened #2290 "Autocommit option for MySQL"
Hey 👋

I would like to disable autocommit (`SET autocommit=0`) on a single connection for innodb via knex. I don't want to set it globally in my MySQL config, just per connection. The reason is that multiple insert statements are autocommitted in InnoDB, even a rollback.

If i raise a PR, does it get merged and released?

It looks like Oracle supports this already, [see](https://github.com/tgriess

[2017-10-25 09:26] wubzz commented on #2290
Maybe `afterCreate` could be used for this?

[code]

Haven't tested (or ever used) this myself, it just occurred to me.

[2017-10-25 09:27] kirrg001 commented on #2290
@wubzz Thanks for your suggestion.

But that wouldn't work with transactions i assume?

[2017-10-25 09:35] elhigu commented on #2290
@kirrg001 the example @wubzz gave will run `SET autocommit=0;` query to every connection that is opened by the pool. Also connections that are used by transactions. Just remember that disabling autocommit will not has an effect on statements causing implicit commit https://dev.mysql.com/doc/refman/5.7/en/implicit-commit.html

[2017-10-25 09:36] #2290 closed

[2017-10-25 09:48] elhigu commented on #1128
@brianhuangyl have you correct ownership etc. to the node_modules directory and all ist content (you have not ran npm install as root at any moment)?

[code]

[2017-10-25 09:51] kirrg001 commented on #2290
Yeah exactly, this is because of autocommit's behaviour. Insert statements are autocommitted.

[code]

(do the same with autocommit is off)

[2017-10-25 10:03] elhigu commented on #2290
Your example has an error...

[code]

Like this you can do it correctly and rows inside transaction are not autocommitted

[code]

[2017-10-25 10:24] kirrg001 commented on #2290
Interesting. I didn't knew that the table creation autocommits the transaction. Thanks.

Still i am not sure if i am able to determine if a table get's created during my transaction or not. That's why i am still interested how i can run the transaction with autocommit disabled?

So imagine i allow to execute any database statements (table creation, inserts, updates) from an external caller/lib, bu

[2017-10-25 11:13] elhigu commented on #2290
In mysql autocommit and implicit commit are 2 different things.

Autocommit causes that if statement is  outside of transaction, the implicit transaction created for the statement is automatically committed after success. But as seen in my test code above autocommit doesn't cause that inside explicit transaction data would be committed after each statement (which would effectively prevent complete

[2017-10-25 12:02] kirrg001 commented on #2290
Thanks for taking time and explaining.

Yeah makes 100% sense.

Correct.

I know but right know i think it's somehow hard to manage 🤔  Because as a migrator tool you never know when a table get's created and if other insert statements will follow.

I understand that `autocommit` and `implicit commits` are two different concepts, but why does this work?

[code]

---

I think your inbuilt [knex migr

[2017-10-25 13:11] slim-hmidi opened #2291 "How to use modify function using multiples req.query.params?"
I'm trying to use `modify` function in order to take some constraints provided by a query:
[code]
And there is another solution which I think of:
[code]
is it correct to make complex code such as on the second example on modify function and test the combination of some conditions or it should simplify the code such as on example 1  and verify each param on a separate bloc?

[2017-10-25 13:17] elhigu commented on #2290
in your example I suppose that following happens:
[code]

I'm not sure what you mean by "the same problem". I don't remember from top of my head if each migration in changeset is ran in separate transaction or not... if new transaction is opened for each, then I would expect that inserts would not have been rolled back if that migration was success.

Also that insert migration should have entry in

[2017-10-25 13:18] rajats-smpx commented on #2289
Regarding adding of partitions-
Partitioning option is available for all knex supported databases
But 'Partitioning By' is available in following databases-
1. Mysql
ex - CREATE TABLE ti (id INT, amount DECIMAL(7,2), tr_date DATE)
    ENGINE=INNODB
    PARTITION BY HASH( MONTH(tr_date) )
2. Postgresql
ex - CREATE TABLE measurement (city_id int not null, logdate date not null, peaktemp int, unitsal

[2017-10-25 13:24] rajats-smpx commented on #2289
I was proposing that it should be something of following sort-
knex.schema.createTableIfNotExists([tablename], (table) => {
           table.integer('id').primary();
           table.timestamp('createdAt');
           table.partitionBy([type], [column]);
});
ex - table.partitionBy('range', 'createdAt');
[type] can be range or list (The basic partitioning types)

[2017-10-25 15:56] pavoni opened #2292 "Possible problem with SQL generation on correlated subquery"
I'm trying to do a correlated subquery using `whereNotExists` and I'm seeing some surprising SQL - at least to me!

This is a simplified example
[code]
This generates:
[code]
Which seems to expect a binding for `table.id` and not the subquery I was expecting.

What I was expecting is what I get from
[code]
Which is
[code]

I also tried:
[code]

which also gives the same SQL with a binding for `tab

[2017-10-25 16:00] wubzz commented on #2292
@pavoni You can't use the syntax "table.column" as the `value` in regular `.where*` builder functions, because knex can't possibly know if you are trying to match `"table"."column"` or the actual string `table1.id`, thus knex considers it a regular binding and it is escaped and treated as such.

This works with `raw` as you already figured out, because that is raw strings.

Using `knex("table2").w

[2017-10-25 16:09] pavoni commented on #2292
Got it - what you suggest works - thanks very much. And thanks for the super quick answer!

[2017-10-25 16:09] #2292 closed

[2017-10-25 17:17] kirrg001 commented on #2290
Thanks for testing. So my example proofs that disabling autocommit for specific transactions/connections, rolls back insert statements - doesn't matter if a table was created within the transaction?

[2017-10-25 19:02] elhigu commented on #2291
I wouldn't use `modify` at all in this case. This question should be in stackoverflow. Knex issues are meant only for bug and development related discussions.

[2017-10-25 19:02] #2291 closed

[2017-10-25 19:07] elhigu commented on #2289
Sounds reasonable.

[2017-10-25 19:24] elhigu commented on #2290
It doesn't prove anything about general situation. It just happens to work that way in this specific case where there was no other statements triggering implicit commits, but only one in the start of transaction. It would be exactly the same case where create table is done first in one transaction and after that inserts are done in the second transaction.

Even if autocommit is disabled in the sta

[2017-10-26 13:02] verekia commented on #360
For SQLite, you can run this query:
[code]
To get an array of just the names inside an `async` function:
[code]

There might be equivalent metadata tables in other database types, but at least this works well for SQLite and testing things in memory.

[2017-10-26 14:33] JemiloII opened #2293 "Why doesn't knex support all the bluebird methods?"
It's been quite frustrating to run into errors or having to create bluebird wrappers around knex promises because they do not support the full set of bluebird methods. some, tap, tapCatch, etc... Why aren't these supported?

[2017-10-26 19:28] aurium opened #2294 "Update the NPM package"
Hi, the `interpret` version dependence was updated on `package.json` to load the new coffee transpiler. It will be nice to get it working on the knex package from NPM.

[2017-10-26 19:59] richraid21 commented on #2293
I'm not really sure I understand what you mean.

[code]
These all work.

[2017-10-26 20:46] acarl005 opened #2295 "include passed bindings when "Error: Undefined binding(s)" is thrown"
We've had issues in our code which causes this error:
[code]

We know the problem is one of the values of the bindings is `undefined`. However, we don't know which one. It would improve the debugging experience if the error message that was thrown includes the values of the bindings. Something like this perhaps:

[code]

Then we would know which one of our bindings was the culprit.

[2017-10-26 21:48] JemiloII commented on #2293
I see now. I was doing ->

`knex('table').select('*').then().tapCatch();` I'll try it without the then.

[2017-10-26 22:33] richraid21 commented on #2295
I'm not sure this is a good idea. [Exposing possible sensitive information through errors/logs](https://cwe.mitre.org/data/definitions/209.html) should be avoided.

Of course, open for discussion!

[2017-10-26 22:55] Palisand opened #2296 "Foreign key checks question (MySQL)"
Why does
[code]
output:
[code]
while
[code]
in a mysql shell outputs:
[code]
?

Shouldn't both be `0`?

I've seen `knex.transaction` used to ensure `foreign_key_checks` remains `0` for the duration of the transaction, but I'd rather not use transactions for this particular case (I don't want a rollback to occur on failure).

[2017-10-27 06:30] wmhafiz commented on #1271
i would like to know as well!

[2017-10-27 08:25] elhigu commented on #1271
@noosxe there has been no progress with this and IMO this is out-of-scope feature for knex, since it really only loops over multiple update commands. I recommend to use some higher level library than knex (or if someone likes to create knex-utils library or something like that, it would be good solution too).

Closing as out-of-scope.

[2017-10-27 08:25] #1271 closed

[2017-10-27 08:50] hetsch commented on #2285
Yes! Thank you for quick response. This was exactly what I needed!

[2017-10-27 11:34] elhigu commented on #2296
You are running 'SET foreign_key_checks = 0' and 'SELECT @@foreign_key_checks' in different connections. So you need transaction to make sure that those queries are executed in the same session.

Even when you run stuff in transaction it is not obligatory to rollback if some queries are failing. Just end the transaction with `commit` anyways.

[2017-10-27 11:34] #2296 closed

[2017-10-27 11:45] elhigu commented on #2293
Because knex should migrate away from the bluebird dependency eventually.

[2017-10-27 11:45] #2293 closed

[2017-10-27 11:45] elhigu commented on #2294
already fixed in master

[2017-10-27 11:45] #2294 closed

[2017-10-27 12:28] maxstoyanov commented on #2295
This behavior could be enabled with the debug switch. Since debug mode is usually not engaged in production environments important information would not be leaked into logs.

[2017-10-27 13:34] honestserpent commented on #1937
Would be really useful

[2017-10-27 16:28] JemiloII commented on #2293
Why should it? ES6 Promises are not as robust as bluebird...

[2017-10-27 16:37] mattbrunetti commented on #2293
@JemiloII But they are standard. And with user-land packages on npm and es-next language features, we don't really need bluebird's extra features. See this https://github.com/sindresorhus/promise-fun

[2017-10-27 16:55] aurium commented on #2294
Hi elhigu, i'm new here on knex, what is the rule (or politics) to update the NPM package?

[2017-10-27 18:52] richraid21 commented on #2295
`KNEX_MODE= dev | prod` ?

[2017-10-27 19:42] hagabaka commented on #1232
When I try @olalonde's suggestion, `npm run knex migrate:make`, or `npm run knex` with any additional arguments, just exits without displaying anything. Just running `npm run knex` displays the usage as normal though. npm docs say that I need to put `--` before the script arguments like `npm run knex -- migrate:make`, but that still exits with no output.

[2017-10-27 23:12] elhigu commented on #2293
@JemiloII ES6 promises are robust and I would be surprised if node implementation performance, isn't already in par with bluebird. Anyways promise performance in `knex` with native promises won't be a problem.

Also when one declares async functions, they will implicitly create standard promises to return values. So when knex is returning bluebird and async functions standard promises it might et

[2017-10-27 23:16] elhigu commented on #2294
in case if there is major version change, one should check more carefully if the new version is compatible... but mostly just send update PR and if tests pass it should be fine.

[2017-10-29 22:52] nakedible-p commented on #1882
I am seeing the same error: `Cannot read property 'name' of undefined`. Looking at the XRay code and the Postgres client code it would seem that the XRay code is meant to work with a very old version of the Postgres client. It assumes that the `query` method returns the created `Query` object, where as the pg client that supports Promises will either return a straight up Promise, or nothing at all

[2017-10-29 23:43] #2263 closed

[2017-10-30 17:57] danilohgds opened #2299 "How to set DEBUG to analyze information from pool."
Hi all,

My application is having tons of troubles working with knex, I keep getting connection pool errors, despite usage being low:

export function createKnexConnector(): knex {
    return knex({
        client: 'oracledb',
        connection: {
            user: DB_USER,
            password: DB_PASSWORD,
            host: `${DB_HOST}:${DB_PORT}`,
            database: DB_NAME
        },

[2017-10-30 18:36] elhigu commented on #2299
Have you tried running app with `DEBUG=knex:*` environment variable it should output information about acquiring and releasing connections.

[2017-10-30 18:36] #2299 closed

[2017-10-30 19:48] kirrg001 commented on #2290
Just wanted to share this. I just looked at a different popular [migrate tool, node-db-migrate](https://github.com/db-migrate/node-db-migrate).

And they are disabling `autocommit` for running migrations on MySQL. See https://github.com/db-migrate/mysql/blob/master/index.js#L25 to avoid this problem.

[2017-10-30 20:52] elhigu commented on #2290
That looks strange, they are disabling auto_commit before starting transaction, and then starts transaction which will anyways make implicit commit 🤔 So I have no idea what problem they are trying to solve, since auto_commit setting wont affect to those implicit commits. So yeah that migration lib works a bit differently than knex / sequelize. It doesn't make transactions to work in a general case

[2017-10-30 20:55] danilohgds commented on #2299
export function createKnexConnector(): knex {
    return knex({
        client: 'oracledb',
        connection: {
            user: DB_USER,
            password: DB_PASSWORD,
            host: `${DB_HOST}:${DB_PORT}`,
            database: DB_NAME
        },
        fetchAsString: ['number', 'clob'],
        acquireConnectionTimeout: 120000,
        pool: { min: 2, max: 500, idleTimeoutMillis: 15

[2017-10-31 10:08] elhigu commented on #2299
It is environment variable, not knex configuration option. You should set it before running your app.

[2017-10-31 14:57] kirrg001 commented on #2290
Your example is helpful and shows that it can cause nasty side affects. But i think `autocommit=0` should only be executed straight before/after the transaction starts - i think it's unexpected that random statements are executed before the transaction starts, because this is in the control of the migration tool? `autocommit=0; BEGIN;....COMMIT;autocommit=1;`

But they explicitly allow to disable

[2017-10-31 17:42] acarl005 commented on #2295
Agreed that persisting the bindings could expose sensitive data. It certainly should not be the default behavior. Perhaps something like `DEBUG=knex:bindings` to enable it?

[2017-10-31 19:26] wubzz commented on #2295
Definitely only under a debug flag.

Currently `DEBUG=knex:bindings` logs the bindings: https://github.com/tgriesser/knex/blob/master/src/query/compiler.js#L75

I think that's a bit stale and should also include the sql.

There are two additional sources of information that can be used:

**Fully compiled SQL**: Use `this.client._formatQuery(val.sql, defaults.bindings)` *(+Add support [here](https:

[2017-10-31 19:31] elhigu commented on #2290
Allowing to disable / set it would be good feature to have I have nothing against having some option for that.

Actually it makes sense that `autocommit=0` and `autocommit=1` is set outside of transaction. Unsetting / setting them inside transaction would make rolling back completely impossible:

[code]

As I have already mentioned in this thread, even with `autocommit=0` rolling back will leave t

[2017-10-31 22:10] #2111 closed

[2017-11-01 01:55] maxhammad commented on #2286
This is a [known issue](https://github.com/tediousjs/tedious/issues/515) relating to the `tedious` module that `mssql` uses by default. If you are on Windows, you have the option to switch the default TDS driver in the `mssql` module with the Microsoft / Contributors Node V8 Driver for Node.js for SQL Server driver, which `mssql` [now supports](https://github.com/patriksimek/node-mssql#microsoft--

[2017-11-01 07:22] #2196 closed

[2017-11-01 07:29] wubzz commented on #2124
[this](https://github.com/tgriesser/knex/blob/master/src/helpers.js#L25) file is the only source. Most of these should probably be under a `DEBUG=knex:x` flag, while the `warn` in specific should probably always be displayed unless a new config option to suppress warnings is set to true.

Does that sound ok?

[2017-11-01 07:32] wubzz commented on #2165
From my previous tests this should be fixed by #2208, so closing this for now. If it's still an issue in upcoming 0.14, feel free to reopen.

[2017-11-01 07:32] #2165 closed

[2017-11-01 07:33] wubzz commented on #2106
Based on tests in #2165 this should also be fixed by #2208 in 0.14. If not, please reopen.

[2017-11-01 07:33] #2106 closed

[2017-11-01 07:33] wubzz commented on #2103
I believe explanation above is satisfying. Closing!

[2017-11-01 07:33] #2103 closed

[2017-11-01 08:56] elhigu commented on #2124
I would prefer allowing to override logging functions in the configuration, so that one can decide to do whatever they like with messages and it would close multiple issues at once.

btw. having separate { debug: true } flag and completely differently working DEBUG  env variable is pretty confusing :)

[2017-11-02 04:29] Suhel182 opened #2302 "getting "Knex: Timeout acquiring a connection. The pool is probably full." error"
I am facing "Unhandled rejection TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?" issue. There are tons of running queries so i'm not able to find the query causing it. This problem seems to get serious when postgres size increases. Is there any solution?

[2017-11-02 21:23] wubzz commented on #746
Despite the comments above this is way outdated and the arguments for removing or deprecating existing aliases are too weak in my opinion. Removing aliases now would just result in a breaking change, eventhough the aliases not having been documented.

It makes a lot more sense to keep supporting syntactic sugar when applicable. In the case of `andwhereNotNull`, a simple [one-line](https://github.c

[2017-11-02 22:25] VictorioBerra commented on #257
[code]

[2017-11-02 22:47] melissanoelle commented on #746
Ok, I'm new to knex, so the the confusion for me stems from `where()` and `andWhere()`. It _seems_ as if I should do something like `knex.raw(...).where(...).andWhere(...).andWhere(...)` etc, so when I also needed to check for null values my initial thought was that maybe I needed to do something like `knex.raw(...).whereNotNull(...).andWhere(...).andWhere(...)` but then if I needed to check for `

[2017-11-03 05:44] wubzz commented on #746
Actually `raw` is not an instace of the querybuilder, so you cannot use any `where` function as part of a chain to `raw`.

And yes, multiple calls to the same `where` function results in "and" automatically.

[2017-11-03 10:38] skumar568 commented on #2106
@wubzz  is 0.14 available now as http://knexjs.org/ still says 0.13.0 is the latest release. Please confirm.

[2017-11-03 11:18] wubzz commented on #2106
@skumar568 No, 0.14 is not available now.

[2017-11-03 11:51] skumar568 opened #2303 "Knex 0.11.9 is not releasing DB connection"
Hi,

Below is the DB connection configuration that I am using.
const db = knex({
  client: mysql2,
  debug: false,
  acquireConnectionTimeout: 10000,
  connection: {
    host: config.HOST,
    port: config.PORT,
    user: config.USER,
    password: config.PASSWORD,
    database: config.DB_NAME,
    ssl: {
      ca: fs.readFileSync(config.RDS_SSL),
    },
  },
  pool: {
    min: 5,
    max: 50,

[2017-11-03 11:54] skumar568 commented on #2106
What is the ETA for this release?

[2017-11-03 11:55] skumar568 commented on #2302
I am also facing this issue.

[2017-11-03 12:50] elhigu commented on #2303
Try if this still happens with latest knex. Also I don't see from log where connections are aquired / returned to pool.

[2017-11-03 12:50] #2303 closed

[2017-11-03 14:02] skumar568 commented on #2303
@elhigu
I removed acquireConnectionTimeout from connection and requestTimeout, idleTimeout,syncInterval from pool configuration. Issue is still same. Attached more logs as well,
[knexConnectionPoolLogs.txt](https://github.com/tgriesser/knex/files/1441258/knexConnectionPoolLogs.txt)

[2017-11-03 14:03] skumar568 commented on #2303
@elhigu Also memory was detected in higher versions which was claimed to be fixed in 0.14 which is not available for download. Hence, not upgrading until 0.14 is not available.

[2017-11-03 14:48] wubzz commented on #2302
The solution is to isolate the source and fix it. This is not a "query" error, but rather an application architecture issue. The error occurs when knex is unable to acquire a connection within (default) 60 seconds, and most likely the reason for that is that the pool is full.

In other words there are many things that can cause the error. Two of the most common are:
1. You forget to commit transac

[2017-11-03 14:48] #2302 closed

[2017-11-03 15:58] elhigu commented on #2303
Did you see from logs that some connections were acquired but not returned to pool? I dont remember what kind of logs is generated for resource returning. Since you have not had this error before, I suppose that you have bug related to transactions in your app.

[2017-11-03 16:00] elhigu commented on #2106
This year

[2017-11-03 17:11] kblomster opened #2304 "Datetime column in MSSQL migrations"
In `knex.schema`, creating or altering a column using `table.dateTime()` or `table.timestamp()` generates a query that uses the `datetime` type. Microsoft [discourages the use of this type for new work](https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime-transact-sql) and recommends using `datetime2` instead, since it's got considerably better precision, a wider representable range and

[2017-11-03 17:16] wubzz commented on #2304
I believe that if Microsoft recommends *against* the use of `datetime` then definitely knex should follow this recommendation.

I don't know much about MSSQL let alone the detailed differences between `datetime` and `datetime2`, so I can't determine if this would be a breaking change, but nevertheless the upcoming release already contains some breaking changes so I think 0.14 would be good for thi

[2017-11-03 17:31] kblomster commented on #2304
I don't think it'd be a breaking change in Javascript for most people (barring extremely weird edge cases relying on `datetime`'s precision, or something). `datetime` is just all around worse than `datetime2` - most glaring issue is that it has a precision of 3 milliseconds, while datetime2 offers 100 nanoseconds) - and the only reason to use it that I'm aware of is for backwards compatibility wit

[2017-11-03 17:32] mateuscb opened #2305 "Question: Why does `.timestamp()` generate sql with `ON UPDATE CURRENT_TIMESTAMP`"
What is the reason for automatically adding the `ON UPDATE CURRENT_TIMESTAMP` when a `table.timestamp()` column is created? It seems that at some point this was brought up (https://github.com/tgriesser/knex/issues/1928), and looks like it made into code?

If that is the expected behavior, I think we should add it to the documentation.

On a related note, does `table.datetime()` also add `ON UPDATE

[2017-11-03 17:40] danilohgds opened #2306 "Pool object not retrievable from knexInstance itself"
My app is using knex as follows:
[code]

We ran into many issues where the pool is going crazy , creating over 50 clients right off the bat. We wanted to use the pool.stats()  from pool2 library, however I cannot find any way in the documentation to get the pool from a knex object...can you guys help?

[2017-11-04 11:55] frsechet opened #2307 "changing order of comparison crashes query"
I'm using knex 0.13.0, on node 6.11.0, with MySQL 5.6.

Using the below table:
[code]

The following request:
[code]
returns the following error: `ER_CANT_AGGREGATE_2COLLATIONS: Illegal mix of collations (utf8_general_ci,COERCIBLE) and (latin1_swedish_ci,NUMERIC) for operation '>'`

Now:
- The query below works in the same exact conditions (only `ended_at < 'NOW()` was switched):
[code]
- This one

[2017-11-05 13:55] elhigu commented on #2307
That error is coming from db, raw queries are sent directly to driver, so if there is an issue it must be in mysql driver. However im pretty sure its an user error. Maybe your sql client does sanitation or something tonthe query. Try mysql shell client to se if problem shows there too.

[2017-11-05 13:55] #2307 closed

[2017-11-05 13:56] elhigu commented on #2307
Or your sql client might set some collation configuration to opened connection...

[2017-11-05 14:10] elhigu commented on #2304
I wouldnt like to make this as default, but to add some deprecation notice maybe. If we change the type now, it means that when existing project updates knex and runs new migrations they will have mixed datetime types in their db which sound pretty scary...

Im not sure how to handle this.

[2017-11-05 16:33] elhigu commented on #2306
Knex uses `generic-pool`. It should be found from `knex.client.pool`. Try to find out, which parts of your app is hogging all the connection and reproduce you problem in small scale. That way you should be able to pinpoint the problem which causes it.

If you can provide test case where just initializing knex will create many connections (they shouldn't go over pool max, which is 30 in this exampl

[2017-11-05 16:33] #2306 closed

[2017-11-05 16:37] elhigu commented on #2305
It doesn't add automatically it to table timestamp, nor to datetime.

https://runkit.com/embed/rgzmv396whtv

var knex = require("knex")({ client: 'mysql' })

[code]

`create table `woo` (`foo` timestamp, `bar` datetime)`

[2017-11-05 16:37] #2305 closed

[2017-11-06 08:54] kblomster commented on #2304
@elhigu Well, yes. However, `datetime` and `datetime2` are pretty much interchangeable and can be compared directly without casts. Converting a column from the old to the new format can be done with a simple `ALTER TABLE ... ALTER COLUMN` (presuming there are no constraints or indexes). I agree that mixed types is a hairy situation to be in but I'm not sure if it actually has any real practical im

[2017-11-06 09:15] elhigu commented on #2304
I suppose that one correct flow for this would be allow using `datetime2` with `.timestamp({ highPrecision: true })` flag or something like that and add deprecation warning that in 0.15 `highPrecision: true` will be changed to be default. So if they don't add `{ highPrecision: false }` to their timestamp commands, during 0.14, then their code will work differently in 0.15 release.

That option sho

[2017-11-06 09:16] kblomster commented on #2304
That sounds reasonable. I'll take a look at setting up a PR.

[2017-11-06 10:09] joelmukuthu commented on #2268
I'd like to work on a PR for this, can I proceed with the strategy proposed by @richraid21? (asking because this is still tagged with the "discussion" label)

[2017-11-06 10:35] elhigu commented on #2268
I think this is good to go for PR.

Remember to test that when query is cloned / used in transaction that context will be also passed on in those cases and maybe also `.hookContext()` without parameters should act as getter that returns context of the query (so that one can actually merge more stuff to context).

[2017-11-06 11:34] tragiclifestories commented on #2106
@lucagrulla FYI

[2017-11-06 12:36] danilohgds opened #2308 "Documentation is misleading, wrong mentions to generic-pool"
Can you guys please confirm what is the current lib being used for connection pooling?

In the documentation itself we have a statement saying pool2 is now being used:

While other pieces of the documentation mentions generic-pool... can you please address which technology is the one in place right now?

[2017-11-06 12:40] elhigu commented on #2308
in 0.13 it was changed back, because pool2 caused so many problems :|

[2017-11-06 12:40] #2308 closed

[2017-11-06 12:44] elhigu commented on #2308
But yeah it sill is confusing and wrong that upgrade mention, since pool2 was actually taken in to use in 0.8 according to changelog. Please open an issue to docuementation repository knex/documentation.

[2017-11-06 13:18] danilohgds opened #5833 "Documentation is misleading, wrong mentions to generic-pool"
Can you guys please confirm what is the current lib being used for connection pooling?

In the documentation itself we have a statement saying pool2 is now being used:

While other pieces of the documentation mentions generic-pool... can you please address which technology is the one in place right now?

original issue :  https://github.com/tgriesser/knex/issues/2308#issuecomment-342137864

[2017-11-06 15:43] mateuscb commented on #2305
@elhigu found the problem: It's expected behavior in MySQL 5.5:

https://dev.mysql.com/doc/refman/5.5/en/timestamp-initialization.html

Thanks for the quick response.

[2017-11-06 16:19] elhigu commented on #2305
good to know 👍

[2017-11-06 16:27] slim-hmidi opened #2309 "orderBy order the data asc without mention the direction"
I'm trying to order data using `orderBy` but I found that without mentioning the direction the data are ordered in an ascendant way:
[code]

Adds an order by clause to the query.
knex('users').orderBy('name', 'desc')
Outputs:
select * from "users" order by "name" desc

I didn't know if it is normal and this function order the data `asc` if nothing was mentioned.

[2017-11-06 18:10] JemiloII commented on #2293
I still find it unexpected to have to run:

[code]
Than to run:

[code]

[2017-11-06 21:02] avanarden commented on #2061
Experiencing a similar issue when changing `first()` with `del()`

[2017-11-06 21:53] elhigu commented on #2152
I think we can say that one should not use identifiers containing `?` or `.` characters when using knex (pretty marginal case).

[2017-11-06 21:53] #2152 closed

[2017-11-07 04:39] markasoftware opened #2311 "Inconsistent types for aggregate types"
It seems like `count` query results are returned as numbers, e.g: `knex('accounts').count('*')` =>

[code]

But `max` as numbers: `knex('accounts').max('karma')` =>

[code]

Shouldn't both of these be numbers? And what about other aggregate functions?

[2017-11-07 11:29] elhigu commented on #2311
It is probably because count returns always `bigint` and max returns the same type that column 'karma' is. Not related to knex.

[2017-11-07 11:29] #2311 closed

[2017-11-07 13:22] rsfernandes commented on #2302
I am also facing this error.

While we are working to dig our architecture connections, Theres a way to prevent this error to crash the application? Or at least the error could point out the stack ?

`rejecter(new _bluebird2.default.TimeoutError('Knex: Timeout acquiring a connection. The pool is probably full. ' + 'Are you missing a .transacting(trx) call?'));
                 ^
TimeoutError: Knex

[2017-11-07 15:38] Glavin001 commented on #2141
@atiertant What did you do to fix this problem with knex@0.12.9 and OracleDB?

[2017-11-07 15:47] wubzz commented on #2302
@rsfernandes As long as you use `catch` handlers on your builders I don't see how this error would crash the entire application.

As for the stack, I recommend `longStackTraces`. There's nothing built into knex specifically for this error stack.

[2017-11-07 19:01] lehni opened #2312 "truncate() on SQLite does not reset the id value in the sqlite_sequence any longer"
Upon upgrading to 0.14.0, I've realised that my primary keys don't get reset anymore when I use  `truncate()` with the SQLite dialect.

It looks like the code that's supposed to do the reseting in `truncate()` is actually producing an error:

https://github.com/tgriesser/knex/blob/bf8aa4db100ed34756d1d77268e3b391d5d2b528/src/dialects/sqlite3/query/compiler.js#L89-L99

If you replace `noop` there w

[2017-11-07 19:04] elhigu commented on #2312
Thanks for report, looks like there are various places where identifiers are not wrapped properly.

[2017-11-07 21:46] kenmorechalfant opened #2313 "Timeout acquiring a connection"
I am having trouble getting Knex working at all. I have Postgres installed, I have made myself a user (no password) and made a database and put in a table with a couple rows and that all works fine over the psql command line tool.

Now I have an Express app, I've installed knex and pg with Yarn, and I just went into my `routes/index.js` file to try to get started and see if Knex is working. Here i

[2017-11-07 22:30] elhigu commented on #2313
Please make standalone app, without express. I cannot reproduce the problem.

[code]

[2017-11-07 22:30] #2313 closed

[2017-11-07 22:31] elhigu commented on #2313
Bluebird is not necessary either. Usually you can mix native promises and bluebird promises wihtout any problems.

[2017-11-07 22:34] elhigu commented on #2313
Also how did you test the connection with psql? try connecting like this `psql postgres://kenmore@localhost/kenmore` to be sure you are not using unix socket with your psql connection.

[2017-11-07 23:42] kenmorechalfant commented on #2313
@elhigu Yeah I tried doing it a half dozen different ways, but I figured it out thanks to your last comment. When I tried that it asked me for a password, however neither blank nor my account password worked. I did not think there was a password set because the psql command never asked me for one and I did not remember setting one. Anyhow, I have now set a new one and it is working.

Sorry for the

[2017-11-08 04:22] malexdev commented on #1588
Would definitely be interested to help with this.

Does this mean Knex would start maintaining its own TypeScript definitions? Would allow us to do some cool stuff with generics that autogenerated typings will never support.

[2017-11-08 07:15] elhigu commented on #2313
Yeah... I think it has earlier mentioned about not being able to connect with an error. Which knex versions you were using? Does 0.13.0 give an error in your case?

[2017-11-08 08:55] thu commented on #944
@spruce-bruce Here is my solution:
[code]
I just post it on SO: [https://stackoverflow.com/a/47175173/3414180](https://stackoverflow.com/a/47175173/3414180)

[2017-11-08 15:27] kenmorechalfant commented on #2313
This is on v0.14.0.

[2017-11-08 21:43] richraid21 commented on #2312
This works on previous versions?

[2017-11-09 07:32] elhigu commented on #2312
@richraid21 No. Those plain string replacements has been always there.

[2017-11-09 09:16] marcpre commented on #801
👍 Highly relevant and would be extremely useful!

[2017-11-09 14:29] lehni commented on #2312
Well... `truncate()` actually did work for me before, as in it was resetting the ids without problems until I upgraded to 0.14.0

[2017-11-09 15:25] hodorswit commented on #2222
Thanks for the clarification @elhigu! I was looking through the docs but didn't find anything obvious, where does knex expose the underlying database driver through its API?

[2017-11-09 16:29] atiertant commented on #2141
@Glavin001 you should have a look at this:
[code]

[2017-11-09 17:52] skumar568 opened #2315 "Knex connection pool setiing"
Hi,

I have configured min 5 and max 50 connections in DB connection pool. At application start up, dbConnection starts with 5 and goes up as per usage. However, during idle time, it is down to zero.

Is this expected? As per my understanding, it should never go below 5.

Knex 0.11.9
Node 6.9.1

Thanks,
Sanjeev

[2017-11-09 19:26] #2315 closed

[2017-11-09 19:30] elhigu commented on #2222
There is no public APIs which would expose driver through knex.

[2017-11-09 19:30] #2222 closed

[2017-11-09 19:49] elhigu commented on #2312
Ah, ok it might have something to do with the change where sqlite identifier quoting was changed from `"`to backtick ``` ` ```. Old `"`  (https://github.com/tgriesser/knex/pull/2087).

with " -style quotes, non existent column "iDontExist" was interpret as string, instead of throwing error. (https://github.com/tgriesser/knex/issues/1048).

[2017-11-09 20:04] elhigu commented on #2312
Did you check the query (sql string) was throwing the ```{ Error: SQLITE_ERROR: no such column: dummy errno: 1, code: 'SQLITE_ERROR’ }``` error? I was not able to reproduce this.

I mean  it really seems to set quotes correctly https://runkit.com/embed/g4idd055djit (I suppose this.tableName already had quotes around it).

Maybe the code throws an error because some column / table which actually di

[2017-11-09 23:22] lehni commented on #2312
Hmm I'm not sure I understand you correctly. Back-ticks aren't the right quotes for this statement. The table names are strings in the `sqlite_sequence` table's `name` column`, so running this doesn't work:

[code]
This works as expected:
[code]

Using back-ticks makes SQLite think that `table_name` is a column name to match against within the same table, while we really want to match against the

[2017-11-09 23:48] lehni commented on #2312
I think the right thing to do is:

- Use `"${this.tableNameRaw}"` instead of `${this.tableName}`
- Find a way to wait for the 2nd query to complete

[2017-11-10 01:30] sombriks opened #2316 "please set up patreon / open collective so we can donate to the project"
it's pretty far to say that a lot of people are glad that **knex** exists. it allow us to go home earlier. it works like a charm, it`s elegant ad hardly bring us something that comes to be impossible.

i would like to show some gratitude. and i might be not the only one.

such gratitude might even help to keep things evolving, i am pretty sure that @tgriesser and collaborators can have a few more

[2017-11-10 07:38] NemoAlex commented on #452
I just experienced this error on 0.14.0.

[2017-11-10 14:11] calebeaires opened #2317 "Knex TimeoutError when acquiring a connection"
After the upgrade to knex 1.14 an single select starts to show this error message, then it stops to make database calls.

When I downgrade to 1.13, this errors is fixed.

knex conection config

[code]

**The error**
[code]

[2017-11-10 14:27] rkaw92 commented on #2109
Hi, the issue is caused by this code in `runner.js`:
[code]

The documented assumption is wrong when anything after `ensureConnection`, but before actually executing `runner.client.stream(...)` throws an error. This includes the `.toSQL()` call. Thus, what actually happens is:
* toSQL throws
* The promise (variable named "promise" in `stream()`) rejects
* The `catch()` handler is entered, but does

[2017-11-10 14:40] rkaw92 commented on #2109
Here's how I managed to "promote" the promise rejection to a stream error (this still doesn't look great, though):
[code]

Can this cause two `error` events to be emitted on the resulting stream? Not quite sure - it seems like this should only happen if `client.runner.stream` both propagates an `error` event to the stream *and* rejects/throws itself. Anyway, with decent code on the `error` event h

[2017-11-10 14:40] calebeaires commented on #2313
Same here

[2017-11-10 14:45] skywickenden opened #2318 "Updating a mediumtext field in mariadb not always working."
Running an knex update to a text field does not always update the field yet it reports success.

Before the update the column contains 'HAPPY 30TH\nBIRTHDAY\nMARGARET-CLAIRE Test\n'

The knex code:

	knex('design_text')
		.update({
			text: 'HAPPY 30TH\nBIRTHDAY\nMARGARET-CLAIRE\n',
		})
		.where({
			designId: 500127,
			areaId: 1
		})
		.debug()
		.then((repsonse) => {
			console.log('success',

[2017-11-10 15:09] skywickenden commented on #2318
This only seems to be an issue on the Linux (Ubuntu) server. It doesn't happen on my Windows setup.

[2017-11-10 17:17] elhigu commented on #2318
Cannot reproduce.  There is testcases doing update on linux with mariadb and they are not failing.

[2017-11-10 17:17] #2318 closed

[2017-11-10 17:19] elhigu commented on #2313
I think knex should try to recognize the case where database access doesn't work and system is failing because of it.

[2017-11-10 17:29] elhigu commented on #2317
Please add complete test case and add results from DEBUG=knex:*. I cannot reproduce this.

[code]

[2017-11-10 17:29] #2317 closed

[2017-11-10 17:35] elhigu commented on #452
@NemoAlex do you have some test code to reproduce that?

[2017-11-10 17:49] elhigu commented on #2316
I've been thinking about that after brianc set the page for pg driver and I think, that anyone who likes to setup their patreon page for `knex` maintenance can do it 👍

I'm not sure how collective thing would work though?

ps. I'm not interested of setting one for me :)

[2017-11-10 18:20] elhigu commented on #2312
@lehni  You are right, I didn't thought that table name as column value. Shouldn't `'` quotes be the correct one in this case then like is used normally with string literals? But yeah, now I understand why it fails with knex 0.14.

[2017-11-10 22:06] lehni commented on #2312
I'm not familiar enough with it to say which quotes are best. Maybe it's better to pass the value as an actual binding to the sql statement?

[2017-11-10 23:00] mlarcher commented on #2109
Nice catch @rkaw92. That is looking spot on!

I believe it's better to risk maybe propagating an error twice rather than being sure it is not propagated at all in some cases.

I'm not sure how the maintainer feels about this, considering this issue didn't get much attention, but it looks like a PR would be in order ;)

[2017-11-11 17:48] elhigu commented on #2312
Yep, that would be the best option 👌

[2017-11-11 18:38] lehni commented on #2312
I can give this a go but I have no idea what to do about the two queries and the promise of the 2nd.

Could the queries simply be joined by `;`?

[2017-11-11 18:39] lehni commented on #2312
I also can't tell if `this.single.table` is correct in every situation. It works for me, but I'm not using schemas (not even sure if SQLite supports them). And I'm by no means enough aware of Knex' internals.

[2017-11-12 07:04] affanshahid opened #2319 "Support for standard MySQL connection strings?"
I can't seem to connect to my database using the following:

`Server=myServerAddress;Port=myPort;Database=myDataBase;Uid=myUsername;Pwd=myPassword;`

but this works fine:

`mysql://<username>:<password>@<host>:<port>/<db_name>`

Is the former not supported?

[2017-11-12 18:53] leebenson commented on #1833
As someone that is seeing this thread for the first time after running into rejected connection promises, could someone please do me a quick favour and summarise the status of the fix?

I'm seeing this in my error logs:

ERRORS -> { Error: Can't add new command when connection is in closed state
    at Connection._addCommandClosedState (/app/node_modules/mysql2/lib/connection.js:158:13)
    at Con

[2017-11-12 19:13] ignitenet-martynas opened #2320 "knex.initialize() calls client.initialize() that has been renamed to client.initializePool()"
Line 46 of src/util/make-knex.js:
[code]

However the corresponding method in Client has been renamed from initialize() to initializePool(). So the call should be changed to client.initializePool().

It might make sense to rename initialize() to initializePool() for Knex also as that's what it actually does? Maybe keep initialize() with a deprecation warning?

I could do a PR but would like to dis

[2017-11-12 21:13] Bram-Zijp commented on #1939
I was running the migrate commands from my terminal instead of from inside the docker container.
When I ran the migration from within the container which is hosting the node.js app it migrated fine.

I use this in my knexfile.js as connection:
[code]

this is my docker-compose.yml
[code]

`docker exec CONTAINER_NAME sh -c "npm run migrate"`
The migrate script in my package.json looks like this:
`"

[2017-11-13 07:26] tuananh opened #2321 "Can't add new command when connection is in closed state"
This happened to me today when i upgrade to `0.14.0`. Not sure when the bug was introduced.

Also, i saw this along with the above message: `This socket has been ended by the other party`

Previously working version seems to be 0.13.0

node 8.9.1, knex 0.14.0, "mysql2": "1.4.2"

[2017-11-13 07:58] wubzz opened #2322 "Pool settings confusing in 0.14 (IdleTimeout)"
Version 3 docs for generic-pool are extremely vague and unclear on many changes. One of these changes is a new setting called `evictionRunIntervalMillis` which essentially equals the old `reapInterval` setting. Unfortunately knex test suite did not cover this in #2208.

In short the setting is used to start a timer which checks two other settings: `idleTimeoutMillis` and `softIdleTimeoutMillis`.

[2017-11-13 07:58] wubzz commented on #2322
CC @elhigu

[2017-11-13 09:12] elhigu commented on #2321
Which db, how to reproduce? has it worked in some earlier version?

[2017-11-13 09:21] tuananh commented on #2321
Updated.

[2017-11-13 09:30] elhigu commented on #2321
Ok, so it seems to be new bug. Could you provide the code for reproducing this problem?

[2017-11-13 09:52] elhigu commented on #2320
I think it can be just changed to call initializePool. However I am pretty amazed that test suite didn't catch this one. Is it not called at all by any of the tests?

[2017-11-13 09:55] elhigu commented on #1833
@leebenson I believe there is new bug in 0.14 which is causing that error. Maybe related to this https://github.com/tgriesser/knex/issues/2320 and here is other issue about your problem https://github.com/tgriesser/knex/issues/2321

[2017-11-13 10:01] tuananh commented on #2321
I'm not sure how it happens but when it does, a simple `knex.select(1)` will fail.

[2017-11-13 10:03] elhigu commented on #2312
@lehni they shouldn't be forced to transaction unless it is initialized by the user. Both queries should be able to be done by `.with` query.  As far as I know it should be supported by sqlite. So first one does delete query in `.with` part and then in real query part just reset the sequence.

[2017-11-13 10:47] elhigu commented on #2319
I don't see that being supported by node-mysql driver https://github.com/mysqljs/mysql#connection-options

Please check out if it is supported and it it is I suppose it should be doable throug knex too

[2017-11-13 10:47] #2319 closed

[2017-11-13 10:49] leebenson commented on #2321
@elhigu - per https://github.com/tgriesser/knex/issues/1833#issuecomment-343758417, I'm seeing this error when I have long-running connections (typically 1-3 days old, that have perhaps timed out or just disconnected.)

I'm also seeing:

    at TLSSocket.writeAfterFIN [as write] (net.js:355:12)
    at Connection.connection.write (/app/node_modules/mysql2/lib/connection.js:389:20)
    at Connection

[2017-11-13 12:45] lehni commented on #2312
Hmm but I don't think I can call `.with()` there?

`truncate()` needs to return a objection with a `sql` property which is a string. So do mean something like this?

[code]

[2017-11-13 12:47] lehni commented on #2312
I don't think the statement in the paranthesis can be a delete command. I think it needs to be a select statement:

[code]

[2017-11-13 12:57] lehni commented on #2312
And lastly, isn't truncate() supposed to return the amount of deleted rows?

[2017-11-13 13:06] ammar08429 opened #2323 "Reconnect to mysql on disconnect or error"
If the MySQL server goes down, or it down scales or something
the previous connection of the application server with MySQL get corrupted and the server starts throwing this issue
`PROTOCOL_ENQUEUE_AFTER_FATAL_ERROR Cannot enqueue Query after fatal error`
We face multiple errors in such scenarios, In the docs, I couldn't find anything regarding reconnecting the only solution that we have is restart

[2017-11-13 13:40] elhigu commented on #2323
Which knex version are you using? Pool reconnecting after connection failure was improved in 0.14.

[2017-11-13 13:55] tuananh commented on #2321
Yes. It seems to be same in my case as well

[2017-11-13 14:03] elhigu commented on #2312
I was trying out some sqlite CTEs and indeed it seems that with sqlite one cannot do any updates in those... I need to look more to it. About the returned value,  I suppose count if fine, probably most of the dialects just return something truthy.

[2017-11-13 15:37] rkaw92 opened #2324 "stream.end() does not return connection to pool - race condition"
I'm currently using the stream API on Node v8.1.4 with knex 0.14.0.

It seems that the connection is correctly returned to the pool when I read the entirety of the stream's contents. However, if I don't reach the end of the stream, but instead use `stream.end()` immediately (or do nothing, it really doesn't seem to matter), the connection is never returned to the pool.

This is contrary to [the wi

[2017-11-13 15:45] rkaw92 commented on #2324
P.S. To see pool operations, call the example script with `DEBUG=knex:*`

[2017-11-13 16:40] #5833 closed

[2017-11-13 16:40] wubzz opened #5834 "Add notice about 0.14 pool settings"
Original issue: https://github.com/tgriesser/knex/issues/2322

[2017-11-13 17:08] #5834 closed

[2017-11-13 17:08] #2322 closed

[2017-11-14 03:20] ealtamir opened #2325 "Knex insert hangs and increases CPU load considerably."
I'm trying to insert an object into my postgres database. I created the table using Knex migrations and everything worked fine, which means the connection to the DB works properly. Now I'm executing a simple insert statement in my app, it hangs and increases my notebook's temperature considerably. I'm using TypeScript. The statement is:

[code]

The SQL that the statement would produce is:
[code]

[2017-11-14 06:35] w4-hojin commented on #1267
API was updated
[code]

[2017-11-14 08:12] ammar08429 commented on #2323
Ok ok that's great I will give it a try, we were using the last 0.12.9 version

[2017-11-14 09:14] treble-snake commented on #2323
@elhigu Hi!
I started getting those errors, like out of the blue, since I've updated knex from 0.13.0 to 0.14.0.
I'm using `mysql: 2.15.0`.
Is there a chance that something relevant to mysql reconnection was broken in 0.14.0 release?

[2017-11-14 09:53] wubzz commented on #2323
@treble-snake Taking a shot out of the blue here, but given that this seems to be Pool issues, could you try to append `evictionRunIntervalMillis: 1000` to your pool config and see if that helps?

The upgrade of pool library could have more unexpected consequences than discovered in #2322.

[2017-11-14 10:48] treble-snake commented on #2323
@wubzz Thanks, I'll give it a try!
Though, I don't have any reproduce strategy other than "wait for it" :)
So I'm gonna wait for it first to confirm it's not just some random thing and then try pool settings.

[2017-11-14 12:05] ammar08429 commented on #2323
@elhigu
I updated the version of knex, When we downscale or restart MySQL server we still get this error
[code]

[2017-11-14 12:24] treble-snake commented on #2323
Btw, is it possible to retrieve connection object in order to inject log statement like [this one](https://github.com/mysqljs/mysql/issues/1478#issuecomment-233737511)?

[2017-11-14 12:40] ammar08429 commented on #2323
@elhigu
what exactly is `evictionRunIntervalMillis` this for?

[2017-11-14 13:28] ealtamir commented on #2325
After debugging for a while I realized that my problem was that I tried to establish a connection with a nonexistent database. However, I find it strange that instead of throwing an error, knex would simply increase the CPU load and hang.

[2017-11-14 16:47] cemremengu opened #2326 "Converting the column names to cameCase"
I am using the `oracledb` dialect. The resulting responses from db are like below (as expected):

[code]

How do I convert these column names to camel case so that the result would be:

[code]

I tried using `postProcessResponse` but no luck :(

[2017-11-14 16:48] bsloan334 opened #2327 "Migration Failing"
I am trying to migrate with knex and my code keeps failing. I get the following error after using the command 'knex migrate:latest --env development':
`Using environment: development
Knex:warning - migrations failed with error: Invalid migration: connection.js must have both an up and down function
Error: Invalid migration: connection.js must have both an up and down function
    at Migrator._vali

[2017-11-14 18:21] joelmukuthu commented on #2326
`postProcessResponse` should work. could you post the code from your hook responsible for camel-casing the output?

[2017-11-14 19:09] georgemp commented on #1623
Hi,

Just checking in for confirmation that SID is not supported? Thanks

[2017-11-14 19:14] MoJoE3131 commented on #1623
I'm not aware that it's now supported...

[2017-11-14 19:31] elhigu commented on #1623
@atiertant might know about this.

[2017-11-14 19:33] #2326 closed

[2017-11-14 19:38] elhigu commented on #2327
Your migration file or knex configuration is not correct. Migration system is trying to run `connection.js` as migration.

[2017-11-14 19:38] #2327 closed

[2017-11-14 19:48] elhigu commented on #2325
Maybe reconnecting or something like that goes to busyloop... will fix if I'm able to reproduce.

[2017-11-14 20:43] elhigu commented on #1267
I don't think this is knex's problem.

[2017-11-14 20:43] #1267 closed

[2017-11-14 20:47] elhigu commented on #2322
Awesome!

[2017-11-14 21:43] rkaw92 commented on #2321
Hi, just today we've observed (by placing a few good ol' `console.log`s) that the `factory.validate` function which `knex.js` provides to `generic-pool` is **never called**, which might explain how already-dead connections are still being dispensed from the resource pool. Supposedly, `generic-pool` will validate resources before dispensing, and if they seem broken, create and dispense a new one (i

[2017-11-14 23:23] elhigu commented on #2325
which dialect were you using?

[2017-11-14 23:33] elhigu commented on #2325
Looks like knex needs to be less aggressive with trying to reconnect, maybe few seconds. Also some warning message is needed to tell that there was connection problem and maybe even to throw an error if db is responding, but credentials or something else is failing and connection couldn't been acquired because of that.

[2017-11-14 23:36] elhigu commented on #2325
Hard thing there is to not to fail in that case if there are just too many connections made to DB which causes acquire connection to fail.

[2017-11-15 01:01] elhigu commented on #2321
@rkaw92 sounds good, now we just need a test case and make knex to enable that setting always. I will do that if I can get first one other bug fixed that I'm working on.

[2017-11-15 01:27] eBaeza opened #2330 "could not determine data type of parameter"
I'm trying to binding :clng, :clng, :meters and :type into

[code]
but I get an error:

[code]

My js code is
` DB.raw(queries.getNearStoreKeepersQuery, { clng, clat, meters, type })`

[2017-11-15 02:04] elhigu commented on #2330
You are not showing the whole query that is created and not bindings that are passed to the query.

DB is saying that inputted data in not good I suppose. Cannot reproduce this.

[2017-11-15 02:04] #2330 closed

[2017-11-15 07:31] cemremengu commented on #2326
Strange, I was probably doing something wrong but I was definitely getting `undefined` errors inside `postProcessResponse`  last night. This morning it worked, I guess my node was tired 😄

Thanks for the quick responses!

[2017-11-15 09:47] oliviertassinari commented on #2323
We have noticed the same issue upgrading from knex v0.13.0 to v0.14.0.

[2017-11-15 09:49] oliviertassinari commented on #2323
It seems to be the same for @NemoAlex https://github.com/tgriesser/knex/issues/452#issuecomment-343397051.

[2017-11-15 10:32] fpattis commented on #2159
hi, sry for the delayed answer.I was using the toString() method in order to add some MSSQL specific expressions. I had to addSET IDENTITY_INSERT dbo.users ON;
in front of the insert statements and; SET IDENTITY_INSERT dbo.users OFFafterwards in order to be able to seed some records where I wanted to provide the ID.
    Am Montag, 18. September 2017, 12:46:53 MESZ hat Mikael Lepistö <notifications

[2017-11-15 12:40] treble-snake commented on #2323
I've just performed some tests and can confirm it's reproducible.

- Install knex 0.14.0
- Use pretty much default config (see below)
- Run the app
- Restart MySQL server
- Got `PROTOCOL_ENQUEUE_AFTER_FATAL_ERROR` on a next DB call

Same steps work OK (reconnect with no error) with knex **0.13.0**.

@wubzz I've tried adding `evictionRunIntervalMillis: 1000` to a pool's config, but unfortunately it

[2017-11-15 12:43] treble-snake commented on #2323
@ammar08429 I'd suggest you use **0.13.0** version for now, it seems more stable

[2017-11-15 12:56] elhigu commented on #2321
I debugged issue https://github.com/tgriesser/knex/issues/2325 last night and it is also pool related and I have already test case for it. I probably need to review the whole pool code through and check why connection error exceptions are not passed to knex and why dead connections are not evicted.

[2017-11-15 12:58] elhigu commented on #2323
@treble-snake I'm fixing some new pool problems to 0.14.1

[2017-11-15 13:02] rkaw92 commented on #2321
@elhigu As far as I can tell, knex does react to connection errors by setting the `__knex__disposed` property - it's just that the pool isn't using the validator so it doesn't know to evict those "tagged" connections.

Now, I'm also tracking [this pg pull request](https://github.com/brianc/node-postgres/pull/1503) which fixes some pg-specific issues regarding connection loss. If you were testing w

[2017-11-15 14:04] ammar08429 commented on #2323
@elhigu Please Re-open this issue
I tried what @treble-snake did.
And i get error in 0.14.0, but in 0.13.0 it reconnects properly

[2017-11-15 14:35] eBaeza commented on #2330
@elhigu the whole query is this

[code]

[2017-11-15 15:40] shwuhk commented on #452
I have encountered into this issue too.
We use mysql with pool. This error happen when the connection is idle for a long time(like more than ten minutes) and then we do some query.
I suspect that this was happening because knex is trying to use a connection which is already timeout.
Any ideas?

[2017-11-15 16:20] elhigu commented on #2330
It still doesnt say what data is passed in clng and clat parameters.

Also query.toSQL().toNative() output would be useful.

[2017-11-15 16:43] eBaeza commented on #2330
@elhigu when I use .toNative() i get an error `TypeError: READ.raw(...).toSQL(...).toNative is not a function` I do not know if it's because it's just a .raw()

[2017-11-15 18:01] tangrianand opened #2333 "How to Rollback a particular migration without rolling back all the migrations created after it ?"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ Grimace1975 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs

[2017-11-15 21:49] caub opened #2334 "Create schema constraint with a regexp interprets some chars like parameters"
knex: 0.14
db: postgresql
os: linux

with a migration file like below:
[code]

then when printing the schema from psql:
[code]

you can see the regexp is quite altered, it seems '?' are incrementally replaced by $1, $2, ...

[2017-11-16 06:29] #2333 closed

[2017-11-16 07:34] wubzz commented on #2334
Pretty sure you need to escape `?` using `\\?` when using `knex.raw`

[2017-11-16 08:43] #2334 closed

[2017-11-16 09:50] leebenson commented on #2321
Thanks for tracking this @rkaw92, appreciated. FWIW, I'm using `mysql2`, so the errors are present with other drivers.

Hoping we can figure this out soon in our build-- at least once every day or two, the API process needs restarting because of this. Order forms, member dashboards, everything goes down. I wound up putting in a hard `process.exit(1)` for Kubernetes to re-build the lost Pod, and th

[2017-11-16 10:02] rkaw92 commented on #2321
@leebenson One thing to try without code modification is to pass `testOnBorrow` to knex, like so:
[code]

This should tell you if it's caused by the connection recycling bug. Of course, it's just a temporary workaround, but it would be helpful if we can see whether it's this or another sneaky one.

If successful, at the time when the connection fails, you're going to see this printed to console.lo

[2017-11-16 10:04] leebenson commented on #2321
Good to know, thanks. Should `min` and `max` values still work with `testOnBorrow: true`?

[2017-11-16 10:05] rkaw92 commented on #2321
Yeah, you can pass other pool options, too.

[2017-11-16 10:33] Yunoo commented on #2321
@rkaw92 I am testing this workaround since yesterday morning and it seems to work fine. Before that I had to restart API processes at least once a day, otherwise database connection will eventually close without reconnection.

[2017-11-16 15:03] fernandocanizo opened #2335 "knex now requires me to specify the schema"
# Environment

Knex version: knex@0.14.0
Database + version: postgres (PostgreSQL) 10.1
OS: Archlinux Kernel 4.13.12-1-ARCH #1 SMP PREEMPT

# Bug ?

Not sure if it's a bug since I just did a big upgrade on my machine and switched from Pg 9.6 to 10.1, and from PostGIS 2.3 to 2.4, at the same time, since I found several issues not presented here, I ended upgrading from knex 0.13.0 to 0.14.0.

1. Old

[2017-11-16 15:47] wubzz commented on #2335
It's not so much that knex requires you to specify schema, but rather knex not being able to handle multiple schemas anymore, due to a bug introduced by me in #2172 .

Since postgres is case-sensitive when it comes to schema/searchpath, I intended to fix it in that issue, missing to take into account the support for multiple searchpaths.

**Solution**
For next release of knex (0.14.1?) we should c

[2017-11-16 16:00] fernandocanizo commented on #2335
I believe changing `'public,datasources'` to `['public', 'datasources']` will be a breaking change, just to consider not using `0.14.1` but `0.15.0` ... (Now that I see this written I recall there was a difference between software not reaching version 1.0 yet and those still at 0.x.y, ignore my comment if that's the case)

[2017-11-16 16:05] wubzz commented on #2335
Yes, it could be considered a breaking change. However, unless the bugfix involves an Array, there is no way to ensure the case-sensitive bugfix can work. Splitting on `,` is not an option given that postgres supports using `,` in schemaname so a searchPath of `"public", "test,"` must work as well.

[2017-11-16 17:41] elhigu commented on #2330
hmm.. yeah, probably because of that (which is actually a bug). Well you can get the plain toSQL() output so that I can see what data is passed to query.

[2017-11-16 17:50] elhigu commented on #452
@shwuhk I would recommend to not use 0.14 until 0.14.1 is released. There are couple of nasty issues which were missed when generic-pool was updated. I'm working on those and hope to get 0.14.1 out this week.

[2017-11-16 17:54] elhigu commented on #2323
@ammar08429  I though this was a duplicate of https://github.com/tgriesser/knex/issues/2321 but looks like error message is a bit different. Better to reopen to make sure that this get fixed too.

[2017-11-16 19:15] fernandocanizo commented on #2335
True, I didn't know schemas can have commas:

[code]

So it cannot be split on `,`. But to avoid forcing everyone who are using multiple schemas to change their configurations, detecting if `searchPath` is an array may be the way, so it can keep supporting being configured by a single string. But then... To avoid incurring into hard to spot bugs, besides proper documentation, maybe `knex` could is

[2017-11-16 19:24] wubzz commented on #2335
Yes, enforcing `Array` for multiple schemas whilst warning of `,` usage sounds fine to me. I think you can simplify the example by reducing down to a single `connection.query` call without the `connQueryCallback` assignment:

[code]

[2017-11-16 21:34] elhigu commented on #2325
problem was that pools create callback must never reject or pool tries to get the resource until acquireConnectionTimeout is triggered.

[2017-11-17 04:48] ckanthony commented on #2323
+1 on the same situation in 0.14.0

[2017-11-17 07:28] shwuhk commented on #452
I would try it again then when 0.14.1 is out. Thanks.

[2017-11-17 08:50] alexc101 commented on #556
@58bits @bendrucker I'm trying to do something similar, but don't understand how to build the values statement.

Here is what I have -

[code]
Here is an sql fiddle of query I'm trying to recreate : http://sqlfiddle.com/#!17/62529/8

Hope you could help point me in the right direction?

Cheers

[2017-11-17 11:01] orlando commented on #637
In case someone is looking for a solution, I'm using the code in migrations to generate the timestamp to prepend it to the seed file. https://github.com/tgriesser/knex/blob/f66b524af71adf434cddc1830fd9b369d2f48a32/src/migrate/index.js#L411-L426

I think is a good idea to have it that way by default @bendrucker, if that's the case I can send a PR

[2017-11-17 11:01] leebenson commented on #2321
Ah, drats. Seeing this in the logs, even with `testOnBorrow: true`:

[2017-11-17 11:25] rkaw92 commented on #2321
It's possible - sockets do get closed, after all. If a connection fails between acquiring and returning to the pool, you are still going to get errors. The important thing is, is your pool getting starved?

One easy way to check if dead connections are being recycled is to enable `DEBUG=knex:client`, or manually log the client object's `__knexUid` property along with your errors. The Uid is alloca

[2017-11-17 11:34] leebenson commented on #2321
Thanks, I'll add the extra debug checks. And of course, sockets do get closed. But the expectation of a pool is that it's going to _anticipate_ sockets being closed, and re-connect automatically/silently to reattempt the query. Isn't that the point of a pool? If something drops, handle the logic to reconnect?

Throwing an error every time a long-running socket disconnects is definitely not expecte

[2017-11-17 11:57] rkaw92 commented on #2321
@leebenson You're correct in saying that the job of the pool is to handle reconnection. However, it does this at very specific points: before handing out the client (connection) object to the user. When the client is in the user's hands, there are several reasons why it can't transparently reconnect nor retry queries:
1. It represents a real connection to the database - that is, a stream. A stream

[2017-11-17 16:26] eBaeza commented on #2330
@elhigu this the toSQL output
`
{ method: 'raw',
  sql: 'SELECT \n  s.id, \n  s.id || \' - \' || s.first_name || \' \' || s.last_name AS label, \n  type,\n  transport_media_type, \n  s.updated_at, \n  payment_type, \n  first_name, \n  last_name, \n  profile_pic, \n  telephone,\n  lat, \n  lng, \n  COUNT(o.id) AS orders_in_progress,\n  CASE \n    WHEN array_agg(o.id) = \'{null}\' \n    THEN NULL EL

[2017-11-17 16:53] leebenson commented on #2321
Thanks for the detailed insight, @rkaw92.

In this particular case, the MySQL instance is hosted on Google Cloud. No proxies are being used. Something is definitely wrong, somewhere -- I'm seeing `This socket has been ended by the other party` both in long-running production (Docker instances hosted via a Kubernetes cluster, connected across the Google Cloud network) and on my local machine to the

[2017-11-17 17:27] elhigu commented on #2321
indeed looks like validate reject doesn't doesn't automatically try to find  working connection... I have test case already for this, but still need to figure out work around.

[2017-11-17 17:39] rkaw92 commented on #2321
Hm, doesn't the pool automatically call the factory when it needs to replace an invalid resource? Should result in a new resource being fetched, it seems. An easy test for this might involve generic-pool itself and a fake resource that fails after a random timeout - I don't think we need to involve actual networks if the pool recycler algorithm is the culprit.

Dnia 17 listopada 2017 18:27:56 CET,

[2017-11-17 18:07] elhigu commented on #2309
Default for orderBy is ascend.

[2017-11-17 18:07] #2309 closed

[2017-11-17 18:24] rkaw92 commented on #2321
@leebenson Knex passes a pool validator function which checks a flag and rejects the connection if the flag has been set. In theory, when the connection breaks, the underlying driver should asynchronously set the flag so that it's picked up when the connection is being acquired from the pool.

I'm starting to think this may be mysql2-related: https://github.com/sidorares/node-mysql2/issues/447

If

[2017-11-17 19:03] tswayne commented on #2321
FWIW I have also verified this bug using the standard mysql driver too (and mysql2), and fixed when bumping the version back down.  It also occurred during long running connections but I can repro by restarting mysql while the app using knex is running.  @elhigu thanks for the quick response to the issue!

[2017-11-17 19:03] #2325 closed

[2017-11-17 21:22] caub opened #2337 "multiple .returning can't be used, unlike .select"
knex: 0.14
OS: linux
DB: postgresql 9.6

**Problem**:
`.returning` overwrites a previous one:
[code]
I expected it to work like `.select`:
[code]
`*` is preserved there

[2017-11-17 22:43] richraid21 opened #2338 "Schema .timestamps() suggested changes"
# Feature discussion / request

**1. Explain what is your use case**

I would like to make the `.timestamps(boolean, boolean)` API more robust. The current arguments are hard to understand at a simple glance (currently using simple booleans) and there is very little configuration available

**2. Explain what kind of feature would support this**

I would like to provide the ability to change the de

[2017-11-18 00:35] elhigu commented on #2337
That make sense for consistency. Also merge style of functionality should be also documented.

[2017-11-18 00:36] elhigu commented on #2337
But this is breaking change so I wouldnt like to get this implemented until few more months.

[2017-11-18 00:51] elhigu commented on #2338
My opinion is that the whole .timestamps function should be deprecated, because adding two separate lines for them is trivial and much more powerful. I always have more complex defaultColumns helper in my projects for adding these + other e.g. modifier name and soft delete fields... so i have never used this method at all and strongly feel that it shouldnt be in knex, because even after these chan

[2017-11-18 01:27] timhuff commented on #1780
I wanted to do this so I spent way too long making a duplex stream that does it. I ran across this thread in search of one and figured I'd share it with you guys. Disclaimer: this is my first time implementing my own stream, so you might wanna look it over (criticism is welcome - I'm not very confident about if using a `isCorked` flag was the right thing to do). Honestly wouldn't be a bad thing to

[2017-11-18 08:20] caub commented on #2337
thanks ok, no worry

[2017-11-18 13:33] elhigu opened #2339 "Lets use Tarn.js as a pool instead of generic-pool"
# Environment

Knex version: > 0.8
Database + version: all
OS: all

# Feature discussion / request

Knex uses currently `generic-pool`, which has been source of multiple problems and it is not very actively maintained (author is not replying to issues / pull requests). I opened this issue, after I noticed that the `testOnBorrow` feature, which is needed by `knex` didn't have any tests (had one tha

[2017-11-18 14:12] wubzz commented on #2339
From briefly looking at `Tarn.js` docs it seems to cover everything we're currently relying on from `generic-pool`, even _(almost)_ under the same config syntax, which is great. I have to agree that every upgrade of `generic-pool` has resulted in at least one or more major bugs in a release, and for that reason I strongly support this request.

I think for me `generic-pool` crossed the line when t

[2017-11-18 16:09] #2335 closed

[2017-11-18 17:57] richraid21 commented on #2338
That's a good argument against it. Perhaps I will implement a local helper.

Expanding on that, I still think some type of helpers for repeated columns in tables would be beneficial. Perhaps more generic than `timestamps()`, but i'm unsure of that the API would even look like.

Gotta think about it.

[2017-11-18 18:00] richraid21 commented on #2339
If this change is going to occur, it might be a great moment to add support for different read/write endpoints. For high availability systems, this need is crucial.

Accomplishing this at the pool level would be the most robust solution.

[2017-11-19 13:01] #1030 closed

[2017-11-19 13:04] elhigu commented on #794
Closing due to inactivity + lack of specs how this should work. Other issue about the same with slightly more discussion is here https://github.com/tgriesser/knex/issues/2253

[2017-11-19 13:04] #794 closed

[2017-11-19 13:11] elhigu commented on #138
Moving discussion to https://github.com/tgriesser/knex/issues/2253 where has been collected links to many related issues.

[2017-11-19 13:11] #138 closed

[2017-11-19 13:12] #1951 closed

[2017-11-19 13:12] elhigu commented on #842
Pool2 is not used anymore

[2017-11-19 13:12] #842 closed

[2017-11-19 13:19] elhigu commented on #2339
@richraid21 that is a separate issue, better to talk about it in its own ticket https://github.com/tgriesser/knex/issues/2253. Starting do specify there how that master/slave configuration should actually work and what kind of APIs knex would provide for it would be a good start.

[2017-11-19 15:45] elhigu commented on #2321
@rkaw92 @tswayne now that I wrote test for it and tried the `testOnBorrow : true` setting again. For some reason pool validate functionality seems to work correctly and I cannot anymore reproduce the problem, where connections closed by DB are returned from the pool.

Validate factory method indeed seem to do the reasonable thing, which is that if resource is bad, it evicts it from the pool and tr

[2017-11-19 15:48] elhigu commented on #2321
Hmm.. looks like there is still something fishy going on... running the test case alone worked fine, but running all tests still gives `Error: select 1 - This socket has been ended by the other party`, so maybe not releasing in few hours after all... gotta keep on debugging a bit more.

[2017-11-19 16:43] #2321 closed

[2017-11-19 16:44] elhigu commented on #2321
Please test this with 0.14.1 and lets reopen if there are still problems.

[2017-11-19 16:44] elhigu commented on #2323
Please test this with 0.14.1 and lets reopen if there are still problems.

[2017-11-19 16:44] #2323 closed

[2017-11-19 17:00] elhigu commented on #2338
My create tables code in migrations always looks like this (unless I really like to do table without default fields):

[code]
and what is in that default columns functions depends on which project I'm working on. In current project it looks like this:

[code]

I don't see any way how some extra API in `knex` would make this simpler. Maybe you have some case where it does.

[2017-11-19 17:18] lehni commented on #2312
I'd like to suggest two measures here:

1. Roll out a quick fix for 0.14.1 that restores 0.13.0 behavior, by fixing the delete statement, without fixing the issue of the 2nd SQL statement not being waited on. This wasn't an issue for anyone so far, so it seems to be fine, perhaps simply a question of timing working out in our favor.
2. Find a fix for this more complex problem with a bit more time,

[2017-11-20 01:10] premchelliah commented on #763
@akras14 were you able solve your 'use database' scenario? I have a similar need to do 'set session' every time a connection is acquired from the pool. Thanks!

[2017-11-20 07:14] elhigu commented on #763
@premchelliah afterCreate is called every time after new connection is created. For this issue `.withSchema` may work? If that doesn't work and the number of tenants is not too high you might want to create separate knex instance for each tenant with some small pool setup.

Feature which would provide work around for all of this kind of problems, would be the one, which allows user to choose using

[2017-11-20 07:14] #763 closed

[2017-11-20 09:25] rkaw92 commented on #2253
@richraid21 You stated in #2339 that having read/write routing inside the pool would be the most robust solution. I disagree:
* A pool is, by name, a collection of similar resources. Making them dissimilar splits the pool into separate pools conceptually. Thus, it seems more natural to keep this resulting division in code and preserve the guarantee that each pool stores objects that are functional

[2017-11-20 11:25] unhawkable commented on #416
@kabirbaidhya i am looking forward! have you had any success implementing a dry-run option and showing sql queries without executing them?

[2017-11-20 13:54] treble-snake commented on #2323
Simple scenario with server's restarting seems to be fixed.

[2017-11-20 14:26] fernandocanizo commented on #2335
Beautiful. Thanks. :+1:

[2017-11-20 15:52] premchelliah commented on #763
@elhigu appreciate your quick response. '.afterCreate' will not work bcoz, we need to set the session (in postgres, [set session var = 'value'])  value every time the connection is acquired from the pool and not just the first time after connection creation. '.withSchema' also will not work as we have only one schema for our use case. The last solution (separate knex instance) could work; but unfo

[2017-11-20 16:47] elhigu commented on #763
@premchelliah there is no support for such use case currently in any public APIs. Pretty much the only way to achieve that is by overriding some `knex` internal implementation...

[2017-11-20 16:50] elhigu commented on #452
@shwuhk 0.14.1 it is out

[2017-11-20 17:09] elhigu commented on #2159
.toNative() is now available in 0.14.1

[2017-11-20 17:09] #2159 closed

[2017-11-20 20:51] premchelliah commented on #763
Thank you @elhigu for clarifying.

[2017-11-21 00:17] Palisand commented on #97
@elhigu I am using the mysql2 driver which is ["mostly API compatible with mysqljs"](https://github.com/sidorares/node-mysql2) and I am specifying `timezone` as `+00:00` since my database's global timezone has been set to `+00:00`. While mysql returns a datetime of `2017-11-20 22:59:44`, knex returns `2017-11-21T03:59:44.000Z` instead of the expected `2017-11-20T22:59:44.000Z`. Even if I set `time

[2017-11-21 02:34] jingsam opened #2342 "Connection reset when idle"
# Environment

Knex version: 0.14.0
Database + version:   MySQL 5.5.33 mysqljs 2.15.0
OS: Ubuntu 16.04 LTS

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ Grimace1975 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I use knex connect a MySQL database,  a `rea

[2017-11-21 02:45] fennecbutt commented on #1848
Call to execute function for prepared statement exceeds the maximum numbers of parameters to a function in Postgres; we were having the same issue.

You just need to insert in smaller batches, you can get the maximum number of parameters that your build of Postgres accepts for functions, go slightly below for a safe limit and then calculate your batch size for a table at runtime by doing `var batc

[2017-11-21 05:52] NemoAlex commented on #2342
https://github.com/tgriesser/knex/issues/2323
Please try 0.14.1 out.

[2017-11-21 06:09] #1848 closed

[2017-11-21 06:10] elhigu commented on #1848
Baseline is that even when using knex, one has to respect limits set by the underlying DB.

[2017-11-21 06:11] #2342 closed

[2017-11-21 10:21] tuananh commented on #2339
have an upvote. however, when i look at tarn.js, it's even less active. last update was 1 year ago

[2017-11-21 10:28] elhigu commented on #2339
@tuananh Its not active, because it was created for knex to be ~drop in replacement for generic-pool. If it is changed, then it will be maintained by the same maintainers with knex and objection.js.

[2017-11-21 11:39] elhigu commented on #2312
That would be good start. I got no problem with that.

[2017-11-21 12:16] nnfans commented on #97
I am using 'pg' driver with afterCreate but every date is still return in 'UTC'

<pre>
pool: {
  afterCreate: function(connection, callback) {
    connection.query('SET time_zone = timezone;', function(err) {
      callback(err, connection);
    });
  }
}
</pre>

[2017-11-21 21:21] ammar08429 commented on #2323
Simple restart is working right now

[2017-11-21 21:59] ewdave commented on #2253
I also recently had a need for knex to be able to direct some table queries to a replica DB. It's d be great to see this feature added in the nearest future.

+20

[2017-11-22 06:56] elhigu opened #2344 "Make .toNative() not be enumerable property"
# Environment

Knex version: > 0.14.0
Database + version: all
OS: osx

# Bug

When `.toNative()` function was added to `.toSQL()` result, it was not set to be non-enumerable. To prevent it from showing as normal attribute `Object.defineProperties` can be used to make it behave more like class methods.

[2017-11-22 14:16] roytz opened #2345 "fromJS doesn't support multiple arrays"
When using fromJS you can't set multiple arrays conditions (`.whereIn(...).andWhereIn(...)`) because you can only have 1 key called `whereIn` in the object passed to fromJS

[2017-11-22 15:53] elhigu commented on #2345
what is fromJs? Is this feature request? please try to follow the new issue template that was added. There is a section for stuff to check when writing feature request.

[2017-11-22 16:19] TriStarGod opened #2346 "Not able to run more than one query without restarting express server"
# Environment

Knex version: 0.14.1
pg: 7.4.0
Database + version: postgresql 9.6
OS: Windows 10 Pro x64

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ Grimace1975 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Refer to https://stackoverflow.com/questions/474

[2017-11-22 16:20] antonyarchukcodemotion opened #2347 "How can I create varchar column w/o actual length? (VARCHAR instead of VARCHAR(x))"
https://github.com/tgriesser/knex/blob/d98c0b1abc44b8090f426a3d62e0541a394142d8/lib/schemabuilder.js#L151

In the source code, it looks like I have to specify varchar length.
If I will not do it then 255 will be used as vchar length.

I'm using PG.
For the sake of consistency, I would like to add columns just as VARCHAR (not a VARCHAR(...)) because I already have columns with type VARCHAR.

How ca

[2017-11-22 17:24] elhigu commented on #2347
with .specificType

[2017-11-22 17:24] #2347 closed

[2017-11-22 17:30] elhigu commented on #2346
Cannot reproduce. Please create the runnable test case that can be  executed by other people too.

[2017-11-22 17:30] #2346 closed

[2017-11-22 23:21] roytz commented on #2345
[fromJS](https://github.com/tgriesser/knex/commit/c14efb7b016bef0518cb9dabfb7ff7a89c73b0f3) is is the option added (instead of the [PR](https://github.com/tgriesser/knex/pull/761) pr we chat about a few days ago) to allow simpler syntax to use more complex queries.

[2017-11-22 23:52] elhigu commented on #2345
Uff looks like it is just completely missing documentation. First thing would be to add documentation for the feature, but I would much rather just deprecate the whole method, since it seems to be really out of scope of `knex` and IMO should be implemented in separate module. I think that it could be easily implemented with `.modify` + some npm lib.

Questions / comments above are still open.

ps.

[2017-11-23 07:55] lehni commented on #2312
Ok, I will tackle this now... First a simple commit to address 1), and I have some ideas for 2) as well:

What if `sql` in the return value of `truncate()` was allowed to either be a string or an array of strings? And the code that runs the `sql` always converts to an array, and uses `Promise.all()` to wait for the results?

[2017-11-23 08:02] lehni commented on #2312
It also looks like the SQLite bindings don't currently support schema, which they could / should? That would be a separate issue: https://www.sqlite.org/lang_attach.html

[2017-11-23 08:28] lehni commented on #2312
Here the proposed fix for 1) now: 9b724fbcfda4b6ed081eadf13346f58c77a9f5db

[2017-11-23 09:36] tuananh commented on #2339
@elhigu can you get in touch with them first? what if they don't want to commit to that project now.

[2017-11-23 12:02] elhigu commented on #2339
@tuananh I work at the same company (actually in the same room) @Vincit with @koskimas who wrote that pool replacement module for knex (who is also author of objection.js ORM).

I’ll add full access to Tarn for me and for the other knex collaborators. Our employee also supports this kind of open source work so we can put up to 20 hours per month to it.

[2017-11-23 12:04] koskimas commented on #2339
@elhigu You mean our employ**er**, not employ**ee** 😄

[2017-11-23 13:20] santosh-indpro opened #2349 "bundling failed: Error: require() must have a single string literal argument"
# Environment

Knex version:0.14.1

When using knex inot any import statment as "import knex from 'knex';" in any react -native view.
The packager is throwing below mentioned exception.

error: bundling failed: Error: require() must have a single string literal argument
    at pushDependency (/Users/santoshkumar/Documents/GitHub/dreams-react-native/node_modules/react-native/node_modules/metro-bund

[2017-11-23 13:36] elhigu commented on #2349
Should it be?

[code]

Anyways this doesn't look like knex bug. Closing.

[2017-11-23 13:36] #2349 closed

[2017-11-23 13:39] michaelmilkov opened #2350 "Knex and Instance Name problem"
# Environment

Database: MSSQL
OS: CentOS

Hello guys. I have a problem running knex to accept instance name SQLEXPRESS

I am getting Failed to connect to IP:1433 - connect ECONNREFUSED or Failed to lookup instance on server - getaddrinfo ENOTFOUND server"

I tried adding instanceName in the options. Databases without instance names are working like a charm.

Somebody experienced with named instan

[2017-11-23 17:57] P-Seebauer opened #2351 "knex has the wrong exit status on bad command"
# Environment

Knex version: 0.12.9 and 14.1
Database + version: does not matter
OS: ubuntu

# Bug
1. Explain what kind of behaviour you are getting and how you think it should do

knex (-cli) does exit with 0 if the command supplied was wrong.
It should exit with a non-zero exit code, except you state in your documentation something like

```knex ⟨anything else⟩ print this help message and exit.`

[2017-11-23 22:34] elhigu commented on #2351
Looks like this is only happening on **unknown commands**, not for example in those cases when invalid parameters are given or when command fails.

I have hard time to believe that anyone is currently relaying on this functionality (just printing knex client help texts and passing also invalid command string in) so dropped the `breaking change` flag from this.

[2017-11-23 22:51] elhigu commented on #2350
Sounds like mssql driver issue, did you check https://github.com/patriksimek/node-mssql ?

Try to create connection first directly using the mssql driver and when you get that working try to apply the same approach with knex.

[2017-11-23 22:51] #2350 closed

[2017-11-24 02:09] TriStarGod commented on #2346
FInally got a runkit sample. Could not get a pg one working so using SQLIte.
https://runkit.com/tristargod/runkit-npm-knex

[2017-11-24 03:20] P-Seebauer commented on #2351
No, I'm not relying on it, I just had a typo in a CI script was looking in the wrong spot because of that. It's probably easily fixable. Maybe I'll give it a try.

[2017-11-24 07:09] elhigu commented on #2346
tldr; Knex query builders are mutable so when re-using them .clone() is necessary.

nice example, from that it was easy to spot the problem 👍

You are reusing the same query builder multiple times without cloning it between the queries. If you would run your code with DEBUG=knex:* environment variable set, you would see that constructed queries are not correct after the first call.

[2017-11-24 18:10] gkarthiks commented on #1789
To give little more clear Idea on @dmitrydyomin workaround,

Import the oracledb in your code at first place and assign the maxRows like below.

Then import the knex.js statement and configure the connection. Now `knex.js` should refer to the `oracledb` library which has a overridden row count.

[code]

[2017-11-24 18:30] elhigu commented on #1789
Documentation + 10k rows default would be good enough fix for this.

[2017-11-24 18:55] TriStarGod commented on #2346
@elhigu That makes sense. Didn't consider how queries were constructed by knex.
In my example, instead of clone, I plan to use the following since its shorter.
[code]
Is that fine or would I take performance hit?

Also, by set environment variables, do you mean in Windows 10 x64, open System Properties > Advanced tab > Environment Variables > System variables > New > variable name: DEBUG / variabl

[2017-11-24 20:49] rsfernandes commented on #1789
Using TypeScript i'm unable to use this workaround, because the compiler says its a constant.

[2017-11-24 21:37] elhigu commented on #1789
@rsfernandes you are doing something wrong. Can you add example code how you try to do it with typescript? const shouldn't prevent from setting attributes of the reference.

[2017-11-24 21:38] rsfernandes commented on #1789
Sure. Its very simple actually.

`import * as oracledb from 'oracledb';

oracledb.maxRows = 10000;`

[2017-11-24 21:42] gkarthiks commented on #1789
@rsfernandes  I think there is something to do with the ES6. Can you try
[code]

with **TypeScript + Babel**

[2017-11-24 21:42] elhigu commented on #2346
Building the queries is pretty much never performance bottleneck. It is usually deserialising data read from DB. { debug: true } config parameter and that DEBUG environment variable are different things (I know that is really confusing). I would use git bash and set environment variable there. Or either way also in cmd just use commandline for setting them when running knex like `DEBUG=knex:* node

[2017-11-24 21:45] elhigu commented on #1789
@rsfernandes try

[code]

typings might have exported it as constant.

[2017-11-24 21:49] rsfernandes commented on #1789
Just works! Thks a lot!  ;)

[2017-11-25 16:27] leebenson commented on #2321
same issue with 0.14.1:

`This socket has been ended by the other party`

[2017-11-25 18:01] elhigu commented on #2321
@leebenson please open new issue, share some test case or guide how to reproduce and which mysql driver are you using. Only way that happen that I can think is that for some reason connection closed event is not recognised... but according to test case that I wrote it is. There might be windows of few milliseconds, between connection close and that being noticed by the pool, so if you are able to

[2017-11-25 18:38] leebenson commented on #2321
@elhigu - this is my connection string:

[code]

I'm accessing the DB _very_ infrequently - literally 2-5 SQL commands per day, max. It's used as part of an API server that is processing sales via a new (limited access) order form.

The API server is loaded from a Docker instance, running on Google Container Engine. MySQL is running via Google managed DB, and connected to directly over public IPv4

[2017-11-25 19:07] elhigu commented on #2321
@leebenson for 0.14.1 i wrote a testcase which killed connections and then tried to use them. I had that exact error message on 0.14.0 when testOnBorrow was set. To 0.14.1 I fixed that problem... so if you cannot provide some test case I cannot know if the problem is now in your setup or happening generally to everyone. On 0.14.1 testOnBorrow is set automatically so you can try to drop that at lea

[2017-11-25 19:18] leebenson commented on #2321
Will set-up some test cases as soon as I can. Out of interest, how did you kill the connection in your test? Did you do that via knex, or did you somehow (more abruptly) pull the plug? Did you also test timeouts? Thanks for your help.

[2017-11-25 19:37] mscheffer commented on #257
that's just a loop

[2017-11-25 19:44] VictorioBerra commented on #257
@mscheffer the question was:

Which my answer solves. If you have a faster better solution please provide it.

[2017-11-25 20:41] TriStarGod commented on #2346
Ok, got it. Thanks. #

[2017-11-26 18:49] elhigu commented on #257
@VictorioBerra Splitting from `;` doesn't work in general case, since there can be `;` inside string literals and comments. If you are reading in data dump, I would say that easies way is to pipe the SQL dump code to sqlite shell. Sadly that doesn't work for in-memory databases, because they are just single connection.

Also in your case, where you are creating SQL strings in inside template strin

[2017-11-26 19:02] elhigu commented on #2321
@leebenson I just told mysql to kill the connection (https://github.com/tgriesser/knex/blob/master/test/tape/pool.js#L105) there are also some docker based tests where actual server process is shutdown.

[2017-11-26 20:56] vjpr commented on #1833
I saw infinite loop of trying to reconnect in 0.14, but it is now fixed in 0.14.2 just as an FYI.

[2017-11-26 22:47] cklanac commented on #1738
@tgriesser I'm looking to pass the `application_name` as well. Is this issue still on your radar?

[2017-11-27 03:59] abus120 commented on #54
Hi, Can anyone help me to fix batchinsert() using knex for Oracle DB. I'm facing following error during batchinsert for multiple rows.

begin execute immediate 'insert into "KSN_ACTIVATE_ERROR" ("AERR_MESSAGE", "AERR_SYSID_PK", "FK_ORDE_SYSID", "FK_REQU_SYSID") values (:1, KSN_AERR_SEQ.NEXTVAL, :2, :3) returning "AERR_SYSID_PK" into :4' using :1, KSN_AERR_SEQ.NEXTVAL, :2, :3, out :4; execute immed

[2017-11-27 04:01] timhuff commented on #54
@abus120 Can you provide the code that's causing this error?

[2017-11-27 04:05] abus120 commented on #54
Hi,

Really appreciate your quick response and thanks in advance to assist to fix this issue.
Hang-up with this error since 2 days but can’t able to resolve.

db.knex.transaction(function (trx) {
            var chunkSize = 1000;
            var rows = [{ AERR_SYSID_PK: db.knex.raw('KSN_AERR_SEQ.NEXTVAL'), FK_REQU_SYSID: 44628, FK_ORDE_SYSID: 135292, AERR_MESSAGE: 'KSM_RPRO_0059' },
            {

[2017-11-27 05:14] timhuff commented on #54
I'm currently wrapping up some work, myself, but I took a quick look at your code. I would suspect that the cause of your issue is `db.knex.raw('KSN_AERR_SEQ.NEXTVAL')`. If you have an auto-incrementing primary key on this table (via `.increments()`), you don't need to specify it explicitly like this. It'll populate automatically. Either way, I would create a separate issue for this. It's not real

[2017-11-27 07:27] abus120 commented on #54
FYI, DB tables doesn’t have an auto increment for PK.  However I try to insert for single record then it would works fine without error, but got error when inserting multiple records.
I’ve suspected too db.raw() only cause this error, but I don’t found any other way to achieve this spend lot of time.

It might be so helpful, if you provide any solutions to fix this issue.

Thanks
Siddik

From: Tim

[2017-11-27 07:39] elhigu opened #2354 "Parsing postgres connection strings query parameters"
Knex version: 0.14.2
Database + version: pg
OS: all

# Feature discussion / request

Currently postgres query string parser doesn't include all query parameters automatically to the connection object. I haven't checked the current code, but according to #1738
`postgresql://user:pass@host/dbname?application_name=app-name` parameter is not passed to the driver.

I suppose we could use some standard

[2017-11-27 07:40] elhigu commented on #1738
@cklanac didn't

[code]
way work?

Anyways, since this should be already possible I'm closing this one and added issue about fixing connection url parser https://github.com/tgriesser/knex/issues/2354

[2017-11-27 08:09] elhigu commented on #54
@timhuff @abus120 how is this discussion related to upsert feature? Please move discussion to elsewhere.

[2017-11-27 11:35] abus120 commented on #54
@timhuff any possibilities to fix this issue? otherwise would you please suggest me some alternatives for batchinsert() my DB tables doesn't have auto increments for PK.

[2017-11-27 11:39] timhuff commented on #54
@abus120 As @elhigu said, create a new issue and mention me and we can discuss further if you'd like. The long and short of it: I don't know why this is erroring and I'd need to reconstruct your db and reproduce the error to investigate further but the need to use sequences in this way is puzzling and seems to indicate a deeper issue.

[2017-11-27 12:10] abus120 opened #2355 "batchinsert() throws error when inserting multiple rows using Oracle DB"
# Environment

Knex version: 0.13.0
Database + version: Oracle 11g
OS: Windows 7

# Bug
@oracledb
1. Explain what kind of behaviour you are getting and how you think it should do

- Using batchinsert() for multiple rows got error ORA-01006, but when trying to insert single row it would works fine. Using oracleDB, the tables doesn't have auto increment for PK hence I'm using db.raw() for sequences,

[2017-11-27 12:11] abus120 commented on #54
@timhuff this is my new case# 2355

[2017-11-27 12:22] timhuff commented on #2355
I'm not too experienced with Oracle 11g but I would say that your use of sequences in this way is going to cause errors that have nothing to do with knex. If you need to use sequences this way, you might want to consider reading the current value of the sequence, then setting the `AERR_SYSID_PK` property of the nth row to something like `baseVal+n`. Then altering the sequence to `baseVal+length` a

[2017-11-27 13:25] elhigu commented on #54
Deleted discussion of unrelated issue.

[2017-11-27 17:40] vjpr opened #2356 "`wrapIdentifier` not running when altering table schema"

[2017-11-27 17:44] elhigu commented on #2356
Please fill with according to issue template. Needs example code how to reproduce.

[2017-11-27 17:44] #2356 closed

[2017-11-27 22:31] kurtzilla commented on #2337
not sure if this is relevant to your exact use-case, but I found this to be helpful to alias some return columns...
[code]
returns all of the columns with an additional aliased "createdAt" column

[2017-11-28 13:09] igor-savin-ht commented on #1368
@elhigu Any way to contribute to this issue? Would e. g. test that reproduces the issue help?

[2017-11-28 18:54] keevitaja opened #2357 "How to retrieve the inserted row"
[code]

Any idea how to get the inserted row? The code above is not working...

[2017-11-28 19:10] keevitaja commented on #2357
[code]

[2017-11-28 19:10] #2357 closed

[2017-11-29 09:59] lanttu opened #2359 "Obscure error when unable to connect MSSQL database"
# Environment

Knex version: knex@0.14.2 (mssql@4.1.0)
Database + version: MSSQL 2017-CU2 (docker)
OS: macOS 10.12.6, nodejs 8.9.1

@Grimace1975

# Bug

Knex produces obscure error message when running migrations and connection to MSSQL database fails.
[code]
[code]
[code]

[2017-11-29 12:58] elhigu commented on #2359
Is that valid mssql connection string? https://www.connectionstrings.com/sql-server/ anyways better error message would be nice.

[2017-11-29 14:57] lanttu commented on #2359
Yes it is. Domain is just wrong and not responding.

[2017-11-29 17:58] elhigu commented on #1368
@igor-savin-ht PR with test + fix would be really helpful. I don't have fixing this issue in my todo list.

[2017-11-29 19:52] aldeed commented on #2274
@friend0 @elhigu I just ran into this issue. I was going to attempt a PR when I realized that it does work, except that you have to use `where` within the `having` callback. There is a test for it here, where you can clearly see the weirdness: https://github.com/tgriesser/knex/blob/master/test/unit/query/builder.js#L1393-L1404

I have to imagine that was an accident? If so, there is an easy fix. C

[2017-11-30 00:17] jeremymarc opened #2360 "clear orderBy"
To paginate, I'm using query.clone().count('* as count'), but because the query has an ORDER BY, I'm getting an error: "must appear in the GROUP BY clause or be used in an aggregate function".

Is there a way to clear the query orderBy?

Thanks

[2017-11-30 00:55] brunocascio commented on #1027
Updates? I'm facing the same problem on AWS Lambda + RDS

[2017-11-30 01:14] demisx commented on #1846
Same problem here. Seeing this issue on our CI server.

[2017-11-30 03:53] richraid21 commented on #2253
@rkaw92 I think we have the same idea, I just didn't express my thoughts adequately. I agree that this should not be done _inside_ the pool.

To clarify, if I'm understanding correctly, you are imagining a system in which:

1. A pool is created for each endpoint and is assigned 0..N `tags`
3. A pool contains between `min` and `max` resources (connections)

When `knex` requires a connection, it wil

[2017-11-30 09:46] elhigu commented on #1027
Closing, Pool2 has not been used since knex ~0.11

[2017-11-30 09:46] #1027 closed

[2017-11-30 16:45] maxwondercorn opened #2361 "Incomplete/parameterized where clause generated by .where()"
# Node 8.9/Express

Knex version: 0.14.1
Database + version: mysql/mariaDb using mySQL2 driver 1.4.2
OS: osx - DB is running on remote server

# Bug

I have a SELECT query that Knex correctly generates but when I try to add a WHERE clause, the generated SQL has a variable assignment.

So this query:
[code]
is generated as follow:

[code]

The correct SQL query is generated and data retrieved.  If

[2017-11-30 18:03] c0debreaker opened #2362 "Unhandled rejection Error: pool is draining and cannot accept work"
My table is empty right now.

[code]
Here is the complete details of the error
[code]

[2017-11-30 18:33] #2362 closed

[2017-11-30 18:47] c0debreaker opened #2363 "Quitting back to console after insert is done"
Here is my code. If I uncomment ` knex.destroy();`, I get an error saying `Unhandled rejection Error: Unable to acquire a connection`. If it's commented out, the insert is successful but I have to press ctrl-c to go back to the console.

[code]

[2017-11-30 20:32] elhigu commented on #2363
You are launching bunch of promises which are not part of your promise chain if forEach part and then in `finally` you destroy knex before those promises has been resolved.

Instead of for each do return Promise.all(res.map((i) => { return knex('build_info')...;}))

[2017-11-30 20:32] #2363 closed

[2017-11-30 20:34] elhigu commented on #2362
I suppose that the problem here was that knex.migrate.latest() was not ready when the query was done and knex eventually destroyed.

[2017-11-30 20:38] c0debreaker commented on #2363
Cool! Trying it now.

[2017-11-30 20:48] elhigu commented on #2361
All that you pasted looks correct. How are you running the queries? https://runkit.com/embed/dcgbmjizxsay

Am I missing something, I don't see any bug here.

[2017-11-30 20:48] #2361 closed

[2017-11-30 21:21] elhigu commented on #2360
No there is not :( PR for that is always welcome.  As a workaround you may be able to clone() query builder before orderBy is added?

[2017-11-30 21:21] #2360 closed

[2017-11-30 21:26] elhigu commented on #2274
@aldeed  Huh, it indeed looks like an intended behavior :o I think it would be just easiest to document current functionality of nested having for now and not touch it.

[2017-11-30 22:12] maxwondercorn commented on #2361
Okay, so my first mistake was not understanding that .where() generates a statement with bindings.  It wasn't obvious from the docs and I hadn't looked at any of my working Selects using .where().  I had some pretty ugly queries that Knex has handled without issue.

Being a bit smarter, I looked at the back end and realized that data inconsistency was causing the failure.  The query was implemente

[2017-12-01 01:00] JulesAU commented on #1752
I'm on `"0.13.0"` using Postgres and still it appears that destroy() does not reliable close the entire connection pool.

[2017-12-01 18:34] leebenson commented on #2321
@elhigu - after a bit of local testing, it seems that Google Cloud SQL simply times out after 10/15 minutes of idle usage.

Apologies if this has been answered elsewhere (couldn't see anything obvious in the docs), but is there is a way to set an 'idle' connection timeout so that an 'old' connection won't even be attempted?

[2017-12-01 21:37] orlando commented on #637
Adding @tgriesser for input

[2017-12-02 09:34] blackmatch opened #2365 "how can I create a char(8) column not varchar(8)"
# Environment

Knex version: `0.13.0`
Database + version: `mysql5.7`
OS: `ubuntu16.04`

I want to create a char(8) column when I create a table using schema builder, but I always got the varchar(8) column.

I try:

[code]

[code]

[code]

anyone can tell me how to create a char column with `knex.schema`?

[2017-12-02 10:06] elhigu commented on #2365
with `.specificType` http://knexjs.org/#Schema-specificType

[2017-12-02 10:06] #2365 closed

[2017-12-02 10:27] elhigu commented on #2321
@leebenson it actually really isn't even attempted. It is attempted in a sense that
1. pool tries to verify connection (checks one internal variable)
2. if there had been an error it discards old resource and call `create`
3. after getting new connection query is sent.

https://github.com/coopernurse/node-pool There are also parameters for setting idle timeout. I believe in addition to ide timeout

[2017-12-02 11:44] elhigu commented on #1752
@JulesAU `knex.destroy()` does graceful destroy, so it waits until running queries are ended and empties pool. Open new issue if you have an example where it doesn't work right with knex >= 0.14.2.

[2017-12-02 11:44] #1752 closed

[2017-12-02 11:52] elhigu commented on #1752
I also tried the code from original post with 0.12.3 and 0.14.2 and with both knex versions process did exit immediately after error was thrown about non existing database.

knex 0.14.2:
[code]

[2017-12-02 12:16] leebenson commented on #2321
Thanks @elhigu. There's a thread I've commented on [here](https://github.com/sidorares/node-mysql2/issues/447#issuecomment-348625502) that @rkaw92 mentioned earlier, which I think is the real underlying issue. The problem seems to be the mysql2 driver not evicting connections.

A workaround suggested in that thread (using sequelize) is to attempt a `select 1` before _every_ SQL query, which is obv

[2017-12-02 12:18] leebenson commented on #2321
I'll test this today, thanks @elhigu.

[2017-12-02 13:00] elhigu commented on #2321
That might be case some times, but in my tests `mysql2` was emitting connection was closed error or something like that when I killed the connection in knex tests here https://github.com/tgriesser/knex/blob/master/test/tape/pool.js#L105

I'll try to reproduce and see if that really is a problem in mysql2. If that is the case, maybe knex with mysql2 driver should set some defaults to generic-pool s

[2017-12-02 13:09] leebenson commented on #2321
I'm still wondering if there's a distinction between a connection that is explicitly terminated, and one where the connected socket simply times out.

[2017-12-02 13:27] elhigu commented on #2321
Just tried by setting idle connection timeout

[code]

Seems to work as expected.

[2017-12-02 19:16] c0debreaker commented on #2362
Yup, it was my promise written at the wrong place. :)

[2017-12-03 21:10] anoopmd opened #2367 "Pooling strategy for connecting to different database based on the logged in user"
I am using Knex.js for a B2B SAAS Application that wil connect to a different mysql database based on which user is logged in.

I am seeing two options
1. Create a pool for every request and destroy it once the request completes
2. Once a pool is created, Cache the pool for future connections

The disadvantage with the second option is that, over time the number of connection pools would keep inre

[2017-12-03 21:21] elhigu commented on #2367
This kind of question should be sent to stackoverflow or some other place as mentioned in issue template.

If only database changes, but database server remains the same I suppose you can use `.withSchema` to select which schema to use. Creating pool for every  request is a bad choice. If you have multiple database server maybe you can create one pool for each server and then select which DB to us

[2017-12-03 21:21] #2367 closed

[2017-12-03 21:29] anoopmd commented on #2367
@elhigu Thanks  :) The database server remains same, I didn't know I could use .withSchema

[2017-12-04 11:51] leebenson commented on #2321
FWIW, I switched to Sequelize and the problem disappeared. Not sure if they're setting `evictionRunIntervalMillis` under the hood, but they have a pool function [that looks like this](https://github.com/sequelize/sequelize/blob/85ee83d9f78be8c425adf20d119897a72c79a9ce/lib/dialects/mysql/connection-manager.js#L171) to detect whether the connection has dropped.

[2017-12-04 13:07] calebeaires commented on #2186
@mochini do you get this issue resolved? If so, how do you get an workaround?

[2017-12-04 13:28] wubzz commented on #2186
I have a few apps in production where I had the same architectural challenge. I ended up doing something similar to this:

[code]

Basically every incoming request creates a new transaction object which is then sent as an argument to whatever function needs it, while also making it available in any and all middlewares via `req.transaction`. The `Response` handler will commit the transaction prior

[2017-12-04 13:53] shivamtandon commented on #1833
Is there a version of mock-knexwhich supports the latest version of knex 0.14.2 as on their page it says it supports maximum upto 0.11 of knex.

Please help?

[2017-12-04 14:28] raijinsetsu opened #2368 "JSON(B) datatype uses "text" in most databases which causes issues"
This could be considered a bug or enhancement depending on the direction development goes.

# Environment

Knex version: 0.12.9
Database + version: mssql, mysql, maria, and others
OS: any

# Feature discussion / request
We have a mandate to use an SQL database and cannot use a document store but we still want to primarily work with JSON data to minimize table conversions. We primarily support MSSQ

[2017-12-04 19:40] Dan195 opened #2369 "self.values = self.values.map(utils.prepareValue);"
Knex version:
PostgreSQL,  "knex": "^0.12.9",

OS:
LINUX

# Bug

When passing columns into a method for a query, I get the above error.

[code]
and in my models file...

[code]

Yet when I run knex("Textbooks").columns("id").select(); everything returns normally. Is there something I am missing to enable this sort of functionality when the columns parameters change?

[2017-12-04 20:23] elhigu commented on #2369
Please include complete example of your problem. For example now in your current code you are calling `Textbook.getAllTextbooks` which is not included and you seem to implement somewhat similar functionality in model called `Portal`.

In runkit knex template all the knex initialization code is written already, should be easy to write runnable example to demostrate what is the problem.

[2017-12-04 20:23] #2369 closed

[2017-12-04 20:41] elhigu commented on #2368
A) not worth it to do runtime check, we trust that people will use enough modern mysql if one likes to use json datatype (there is PR to fix it for mysql, waiting for travis to get 5.7 easily available)

B) with `.specificType` + simple helper which decides type by dialect you can do this already very easily

C) No need for this, option B) should be enough automatic detection makes things unnecess

[2017-12-04 20:45] elhigu commented on #1833
@shivamtandon your comment has nothing to do with this issue and the question is not really about knex, but `mock-knex` package. Please ask from their developers or stackoverflow.

I'll delete these comments at some point in future since these does not have anything to do with this thread.

[2017-12-04 21:30] Dan195 commented on #2369
This is the full example less the configuration server information. I updated it to reflect exactly what I have as the previous example had incorrect variable names from copying and pasting. I am getting the same error when using runkit as well.

[2017-12-04 21:40] elhigu commented on #2369
@Dan195 https://runkit.com/embed/qiz3b94vxrb4 I don't see any error there, the query generated is `select "id" from "Portals"` which seems exactly as it should. So if you are getting an error it is elsewhere, not in the code that you have shared. Please add complete example which shows the error you are experiencing.

[2017-12-04 22:06] Dan195 commented on #2369
@elhigu Thanks for the example! I missed line 2 in runkit, so that's what caused the error when trying to replicate the problem. I now see that there was old pg code from a previous version of this project that was inluencing knex's response. I have since removed that and everything is working.

[2017-12-04 22:38] fluxsauce commented on #2365
Does `specificType` support the length?

[2017-12-04 22:57] elhigu commented on #2365
it supports pretty much anything you give to it https://runkit.com/embed/3k33qe7kq7i0

[2017-12-04 23:12] fluxsauce commented on #2365
Ah, I didn't quite understand that from the docs. Here's an example specific to `CHAR`:

[code]

Thanks!

[2017-12-04 23:23] elhigu commented on #2365
Adding default value there is a nice touch 👍 I had never thought of that, might be useful some time :) Btw. is it necessary to explicitly tell default value if it is `NULL`?

[2017-12-04 23:37] fluxsauce commented on #2365
Honestly, probably not. I'm migrating an existing schema and trying to leave it untouched. Cleanup pass will be next!

[2017-12-05 01:06] DariaDesiderata commented on #1747
I am having the same issue. The solution proposed by @elhigu has absolutely nothing to do with the problem. Knex is somehow looking at old migrations folder instead of the current one. In my case the old folder is from March 2017 and the current one is from December 2017.

[2017-12-05 03:40] blackmatch commented on #2365
@elhigu Thank you very much! I create a 'char(8)' column like this:

[code]

[2017-12-05 16:02] raijinsetsu commented on #2368
Hi Elhigu,
Thanks for the input. I disagree that checking for supported datatypes at connection time would be difficult, complicated, or introduce significant performance drain. Doing so would elevate Knex by increasing the number of things the drivers could abstract.

As far as a solution for our problem, we can evaluate altering the columns to use the appropriate TEXT datatype in the four primar

[2017-12-05 16:38] elhigu commented on #2368
Looks like you haven't tried to do that with all the time growing set of mysql compatible DB engines. It is complicated to maintain because there are 100 mysql clones and more are coming out all the time. Each clone might return different version strings / numbers and keeping that mapping up is the problem (this happened already with postgresql dialect).

Also I still don't consider that being ver

[2017-12-05 16:44] elhigu commented on #1747
@DariaDesiderata knex tries to look migrations from the folder that is mentioned in knexfile. I might be able to help if you can show me the list of your migration files in those directories and contents of your `migrations` table.

If you have once ran migrations from your `March 2017` directory to your database, then you cannot just change the migration directory to point to `December 2017`, bec

[2017-12-05 16:44] #1747 closed

[2017-12-05 16:48] elhigu commented on #1747
Though there is no reason why it couldn't support that.

So if you make feature request for some option to disable migration directory consistency check I don't see why it couldn't be implemented if someone is motivated enough to do it.

[2017-12-05 17:09] GAumala commented on #2234
I think it would be nice if knex had something like `.foreignIncrements([name])` which under the hood does the same as `.integer([name]).unsigned().notNullable()`.

From reading the documentation, it is not obvious that `.increments()` sets these constraints. If the user needs to understand the `.increments()` implementation in order to reference it in another table, then it is a bad abstraction I

[2017-12-05 17:28] #1061 closed

[2017-12-05 17:33] #1079 closed

[2017-12-05 22:50] JemiloII opened #2370 "Question: How do I modify the knex configuration for a single migration file?"
I need to set the connection timestamp to UTC for a single migration. I am using postgres and we have the timestamps as the primary key. We are merging tables into a single table while renaming the old tables. When I go to `batchInsert`, some of the timestamps are now the same. no timestamp was the same before. So what I found out is that the date is wrong. But when I set the timezone to UTC in th

[2017-12-06 00:07] elhigu commented on #2234
@GAumala I wouldn't.

1. `.integer([name]).unsigned().notNullable()` is a bit too opinionated, since `notNullable()` is not something one always likes to have for foreign keys, but index usually is, except for those who doesn't want that either.
2. For consistency one should add similar helper for bigincrements
3. Name sounds kind of confusing since it doesn't create really incrementing column (I

[2017-12-06 00:16] elhigu commented on #2370
Use `knex.raw('...<set timezone>...')`. Migrations are ran in a transaction, so that setting should remain for all the queries at least until transaction ends.

[2017-12-06 00:16] #2370 closed

[2017-12-06 14:28] GAumala commented on #2234
Fair enough, I'll try to submit PRs to the documentation repo.

[2017-12-06 21:20] fernandocanizo commented on #1931
Hello, we found the same problem in **knex@0.14.1**, we use Archlinux and Ubuntu machines, the problem appears on the Ubuntus, not in the Archlinuxes.

I don't know how it can be related as we use `nvm` to manage our Nodejs version.

Platform details where it fails:

- Ubuntu 16.04.3 LTS
- Node v8.9.2
- npm 5.5.1

Stacktrace:

[code]

Our solution was to `npm i --no-save lodash` (we don't use loda

[2017-12-07 08:58] jesobreira opened #2371 "Unable to use other port than 3306 in MySQL"
If I try setting `connection.port` to anything, this is what I get:

[code]

Couldn't find mentions to this error message nowhere on the docs or in the internet.

This is my code:
[code]

And `dbconfig` is:
[code]

**Edit: this looks like rather a mysql library issue...**

[2017-12-07 09:10] #2371 closed

[2017-12-07 17:01] rkaw92 commented on #2253
@richraid21 That's conceptually it, yeah. Additionally, this layer should live between knex and the pools themselves so as to be re-usable outside of knex and not add any bloat.

[2017-12-07 21:49] podtrackers commented on #2253
Hey all. Not sure this is needed anymore for Aurora... The now offer a master-master serverless DB https://aws.amazon.com/rds/aurora/serverless/

[2017-12-07 22:02] elhigu commented on #2253
@podtrackers Updated issue header to be more general, some need for this still remains .

[2017-12-07 22:12] justinsoliz commented on #2253
@podtrackers I think that's a good point. As far as I can tell, Aurora serverless looks to be more useful in terms of decreasing costs for low-load, non-prod environments. We'll utilize it where we can but will probably continue to run dedicated clusters in our prod environments where the traffic is more consistent.

[2017-12-08 10:33] capaj opened #2373 "Knex:warning - migration file "null" failed"
when a migration fails before any migration file, this slightly confusing warning is logged into the console.
this was the full log:
[code]

[2017-12-08 11:26] #2373 closed

[2017-12-08 11:44] unhawkable commented on #607
Would be great if a simple glob pattern for migrations directory is handled in migrations/directory config option.

[2017-12-08 11:51] antonyarchukcodemotion opened #2375 "'select ... as...' with a dot in colum name"
Knex version: 0.13.0
Database + version: PG
OS: *nix

I have a select query with joins. It works great, but when I'm doing:
`.select('table1.*', 'table2.name as specific.name', 'table3.*');`
I'm getting the field with name `specific_name` instead of `specific.name`, so the dot was replaced with the underscore.
I've tried to add quotes, escape dot with `\`  etc. but the dot is replacing anyway.
At

[2017-12-08 11:55] elhigu commented on #2375
Sorry, `period` in identifiers is not supported and there is no plan for supporting them, since knex internals are heavily using that as a separator for identifier quoting etc.

[2017-12-08 11:55] #2375 closed

[2017-12-08 12:03] antonyarchukcodemotion commented on #2375
What else can I use instead of `period` and `underscore` to indicate nested structure in knex?

[2017-12-08 12:35] elhigu commented on #2375
semicolon, colon, magic separator string, number... any char / string that is valid identifier for your SQL dialect and that you are not using in your identifier names otherwise.

[2017-12-08 12:36] elhigu commented on #2375
Except question mark. That will mess up queries too.

[2017-12-08 14:07] antonyarchukcodemotion commented on #2375
colon/semicolon is replaced with `_` too :(

[2017-12-08 14:30] elhigu commented on #2375
by who? https://runkit.com/embed/5nu9kbrsx506

[2017-12-08 16:21] antonyarchukcodemotion commented on #2375
`.toSQL()` shows `:`, but when I'm looking at the result object it is replaced with `_`.
ver 14.2

[2017-12-09 00:42] elhigu commented on #2375
No its not.

[code]

If in your code that is replaced, it is not the knex who is doing that replacement.

[2017-12-09 17:40] antonyarchukcodemotion commented on #2375
my bad, it was objection.js who replaced `:`
thanks again

[2017-12-09 19:27] elhigu commented on #2375
@antonyarchukcodemotion Yeah, objection uses `:`for some internal stuff and it is also part of extended identifier syntax there, which allows to refer attributes inside JSONB fields etc. And also IIRC in some other parts when declaring nested relation filters...

[2017-12-09 22:11] ddantzler commented on #1527
Any ideas how to adjust the behavior of offset in order to make this work? Could someone point me to the location in the code where the FETCH occurs?

[2017-12-10 20:34] machineghost commented on #1232
@sirgalleto you shouldn't need `npm run ` in your `package.json` scripts; it's implied when you run `np run` to invoke the script.

[2017-12-11 00:50] moltar commented on #2061
Hm, I kinda assumed `update().first()` would return a single updated row, instead of an array. Maybe a `.single()` method would be useful for such cases, if we want to avoid having a double meaning for `.first()`?

[2017-12-11 01:08] moltar commented on #2061
A note on the above, for posterity.

Since knex uses bluebird promises under the hood, it is possible to use the [`.spread` method](http://bluebirdjs.com/docs/api/spread.html), which flattens returned array into function arguments.

[code]

[2017-12-11 07:28] elhigu commented on #2061
Yes. It would make sense for update().first() to try to return first updated item if possible. But that throwing error in impossible cases would still be good to have.

[2017-12-11 11:02] verekia opened #5835 "SQL injections"
Currently, the only place SQL injections are mentioned is the Raw section. It would be great to have a short section talking about this (or even one sentence somewhere). It is not clear whether Knex prevents or not SQL injections, and if there are any particular considerations regarding this topic when using Knex.

[2017-12-11 13:29] rsfernandes opened #2377 "Knex cant recycle the connection pool"
We use Knex with generic pool as our Query Builder and Pool Manager for our Oracle 11.2 Database.

The problem we are facing is that some time Knex / generic-pool starts to accumulate connections and cant recycle them.

I tried to pass some parameters to Knex / Generic Pool to make them kill connections after some point, but looks like it did not worked out.

Packges version:

- Knex: v0.13.0
- Or

[2017-12-11 20:09] elhigu commented on #2377
What kind of code is it that accumulates connections. Please add complete example code to reproduce. Just a config is not enough. Does this happen with latest knex too?

[2017-12-12 03:21] guosenor opened #2378 "How to show sql?"
# Questions about how to use knex

How to show sql on console when application running ?

[2017-12-12 11:07] rsfernandes commented on #2377
@elhigu

Some sample code here. I will try with the latest version.

`return rxifyPromiseFn(() => this.knexInstance.client.acquireRawConnection())
            .switchMap((connection: oracledb.IConnection) => {
                return fromPromise(connection.execute(sqlCommand, bindings))
		}).then(doSomething)
		  .catch(error)`

[2017-12-12 12:29] analytik commented on #1833
This isn't resolved for me in 0.14.2. When I kill a database *in between* making knex queries, everything works. When I make queries, then scale the database to zero replicas, attempt to make more queries, I get the following error - and I get the same error even when I scale the database back up and it's accepting connections and everything.

[code]

So, steps to reproduce:
* make an knex query a

[2017-12-12 15:10] VMBindraban commented on #2378
http://knexjs.org/#Installation-debug

Run `DEBUG=knex:*` as environment variable.

[2017-12-12 15:20] VMBindraban opened #2379 "Determine which transaction the query belongs to when using DEBUG"
# Feature request

I would like to see to which transaction a query belongs when using `DEBUG`.

[code]

As you can see `trx2` is the transaction id but it isn't clear to which transaction the query belongs to.

[2017-12-12 15:43] elhigu commented on #2378
And toSQL().toNative() shows query in format that it is sent to sql driver. Also you can hook up printing to knex.on(’query’, ...) event

[2017-12-12 15:43] #2378 closed

[2017-12-12 15:47] elhigu opened #2380 "Set toNative() to be not enumerable"
# Environment

Knex version: 0.14
Database + version: all
OS: all

# Feature discussion / request

Since it should work like class method, not being enumerable would be correct behavior.

[2017-12-13 12:42] bennyn commented on #322
I also expected that `knex.schema.createTableIfNotExists` **doesn't** run the callback if the table already exists. So the official workaround is to check with `hasTable` beforehand?

[2017-12-13 13:09] mathiasgmz commented on #2359
Hello! could you explain how did you resolved? I have this inside the config/database.js

mssql: {
    client: 'mssql',
    connection: 'Server=DESARROLLO;Database=test;User_Id=test;Password=test*;'
  }
and is not working yet, could you help me please?

[2017-12-13 14:34] elhigu commented on #2359
I think this issue should be rephrased so that it would be feature request for supporting different connection string formats of the driver https://github.com/patriksimek/node-mssql/blob/master/README.md#general-same-for-all-drivers

[2017-12-13 14:56] lanttu commented on #2359
At least for me the issue wasn't unsupported connection string format. The problem was just that there were no SQL server listening the given address. That resulted an error which was hard to decipher.

[2017-12-13 23:52] dylanpyle opened #2382 "Idea: Wrap raw `where` clauses in parentheses"
# Environment

Knex version: 0.14.2
Database + version: Postgres 9.5.1.0
OS: macOS 10.13.1

# Feature discussion / request

I'm chaining multiple queries using `andWhere` depending on arguments. One of these is a raw query which contains an `or` operator. Since this wasn't explicitly grouped, it ended up affecting other `where` clauses.

Here's some sample code:

[code]

There's undoubtedly other

[2017-12-14 06:42] wubzz opened #2383 "Memory leak in 0.14.x"
# Environment

Knex version: 0.14.2
Database + version: Postgres 9.4
OS: Debian

# Bug

I've been experiencing quite the extensive memory leak since having updated my production app's knex version from 0.13 to 0.14. Leaving the app running from friday afternoon 'til monday morning resulted in ~500mb rss which never decreased after that.

After a lot of struggling and testing I managed to eventuall

[2017-12-14 17:35] blondie63 opened #2384 "server port"
Hi, looking on http://knexjs.org/ i've no found the syntax to create connections to mysql with port different from default.. i think it's:
client: 'mysql',
        connection: {

            host: '192.168.33.10',
            port: '3307',
            user: 'birdbase',
            password: 'password',

            database: 'birdbase',
            charset: 'utf8',

        }

Is it correct ? or p

[2017-12-14 18:25] Jakobud commented on #590
@mbavio Thanks that fixed it the issue. The problem for me specifically was that I have my knexfile.js is a subdirectory of my project, not at the root directory. So therefore it couldn't find my `.env` without passing the path to it. Thanks again!

[2017-12-15 07:38] gregkowalski commented on #1128
@ifullgaz I found the suggestion from https://www.laurivan.com/make-electron-work-with-knex-js/ to fix the **Critical dependency: the request of a dependency is an expression**

Specifically, this part worked for me:
`config.plugins = [
  // ...
  new NormalModuleReplacementPlugin(/\.\.\/migrate/, '../util/noop.js'),
  new NormalModuleReplacementPlugin(/\.\.\/seed/, '../util/noop.js'),
];
`

[2017-12-15 13:17] slim-hmidi opened #2385 "How to use option cascade in truncate function?"
I'm trying to use the function `truncate()` and I found that the default option was `restart identity` when I execute this query:
[code]
Added to that I need to truncate mutiple table in the same query:
[code]
But I got an error. So I changed it to this query:
[code]
and it works. Can I add multiple tables in the same time to the function truncate and how can I choose the option for it?

[2017-12-15 16:43] joaonice opened #2386 "Error selecting constant value (could not determine data type of parameter)"
# Environment

Knex version: 0.14.2
Database + version: PostgreSQL 9.4.5
OS: OSX El Capitan

Hi there, I'm trying to do this simple `select` instruction with constant values and values from one table (Later, I'll use this `select` instruction to insert values)

[code]

And I'm getting the following error:

``
could not determine data type of parameter $1
``

What's the correct way to raw select co

[2017-12-15 19:52] Jakobud opened #2387 "Bug: .timestamps() is not setting default values"
# Environment

Knex version: 3.10.10
Database + version: MariaDB 15.1, Distrib 10.2.8-MariaDB
OS: Ubuntu 16

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I have the following schema builder code:

[code]

According to this line:

https://github.com/tgriesser/knex/blob/master/src/schema/tablebuilder.js#L174

`updated_at` and `created_at` should have defau

[2017-12-16 02:28] #2387 closed

[2017-12-16 02:29] Jakobud commented on #2387
My mistake. I should have been using `.timestamps(true, true)`. That fixed it.

[2017-12-18 05:22] shrimaliakash opened #2389 "knex transaction not work in multiple table using mySQL database"
I'm using knex in loopback for DB operation with mysql. My task is to update the 2 table by using the transaction. When I enter new entry in one tabe, i want to use id of that entry for 2nd query operation.

But when transaction throw the error it not rolling back the data/ removing the first table entry if second table entry throws error. but in my case transaction always do commit not rollback i

[2017-12-18 07:48] bradleythughes commented on #1846
FYI, it seems that setting the NODE_PATH environment variable works around this problem.

[2017-12-18 09:02] VMBindraban commented on #2384
You can define the port as a number and as a string.
The example you described is correct.

[2017-12-18 09:10] VMBindraban commented on #1982
I also would like to see this as a feature.

[2017-12-18 13:58] wubzz commented on #2383
Nothing really sticks out in our codebase [between 0.13 and 0.14](https://github.com/tgriesser/knex/compare/0.13.0...0.14.0) as potential memory leak (imo). Not sure how to proceed here, been trying to make a simple app to reproduce this but no luck so far.

[2017-12-18 15:32] tgriesser commented on #2383
I have a feeling this does have to do with the generic-pool bump to 3.x - there's a few issues that seem related including https://github.com/coopernurse/node-pool/issues/197

I'm going to try to take some time this week to get caught up with the latest changes and see what we might want to do here. Generic-pool did some [pretty huge internal changes](https://github.com/coopernurse/node-pool/compa

[2017-12-18 16:19] wubzz commented on #2383
@tgriesser +1000 for defaulting to client default when possible, that's something I would like to see happen.

I would happily take the time to implement this for `pg` as a starting point if you're on board.

[2017-12-18 18:35] jamesdixon opened #2390 "timeout in 0.14.2"
# Environment

Knex version: 0.14.2
Database + version: Postgres 9.5.10
OS: OSX/Windows

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

After 5 minutes or so of inactivity, subsequent requests to the database timeout. I'd expect this to not be the case. Reverting to Knex 0.13.0 resolves the issue.

2. Error message

Receiving an ETIMEDOUT message from the

[2017-12-18 18:54] hodorswit commented on #2222
In case anyone stumbles upon this - after digging through the code, I was able to acquire the underlying driver's connection using the following approach:

[code]
The `pool` property is an instance of the `generic-pool` package that knex uses under the hood. This allows you to access the driver's connection from the connection pool without instantiating new connections solely for multiple result s

[2017-12-19 19:26] cyorobert commented on #2321
Any update on this issue @elhigu I just updated to 0.14.2 in production and began seeing the warning `Knex:warning - Connection Error: Error: Connection lost: The server closed the connection.` come up every couple of minutes when I run transactions.

Oddly enough, this did not occur locally for me running node 7.10.1 on a macbook pro. Is there a reason that running transactions would cause the se

[2017-12-20 00:03] machineghost commented on #732
refactorized's point still doesn't seem to have been addressed.  The docs still say:

But what actually gets returned from a postgresql INSERT (without a `returning` specified) isn't an array of inserted IDs at all, it's:

    {
      command: 'INSERT',
      rowCount: 1,
      oid: 0,
      rows: [],
      fields: [],
      _parsers: [],
      RowCtor: null,
      rowAsArray: false,
      _getTyp

[2017-12-20 04:33] tmcdonnell87 commented on #2359
I get the same error when there is a firewall (or other similar) issue on otherwise valid connection string format. Minor point but I agree a nicer error would be great.

[2017-12-20 04:35] tmcdonnell87 commented on #2390
We also started getting transient errors immediately after upgrading to 0.14.x (with MSSQL 4.1.x). Came here looking to see if anyone has encountered it and also don't have a reproducible sample.

[2017-12-20 14:48] honestserpent opened #2391 "Set time zone in migrations"
I am using knex migrations to create the database models.
The first thing I would like to do when running migrations is to explicitly set the timezone of the db (postgres in my case) to 'UTC'.

I have a migration file that does just that, as follows, but it does not work.

[code]

[2017-12-20 14:54] sheerun commented on #2031
I've added programmatic api and support for creating migrations to knex-migrate

[2017-12-20 18:58] brunocascio opened #2392 "[Question] Query with nested WHERE conditions"
I have this query:

[code]

I'am trying with:

[code]

The sql query output is:

[code]

And should be:

[code]

[2017-12-20 19:05] brunocascio commented on #2392
I resolved that with this:

[code]

[2017-12-20 19:05] #2392 closed

[2017-12-20 23:38] roytz opened #2393 "Passing object search within object passed to knex.raw"
Is there a way doing something like this -
[code]
or
[code]
I know of the way doing that but using knex `raw` function but I need a way doing that by changing only the object passed to the `where` function (that's the only object I have access to).

thanks

[2017-12-20 23:39] roytz commented on #2393
@elhigu I'd appreciate your input. thanks

[2017-12-21 03:21] demisx commented on #1476
Would love to have this also work with `.where`.

[2017-12-21 14:22] rsfernandes commented on #2377
Sorry for take so much time to reply.

I'm testing with Knex 0.14.2 in our homologation environment starting today.

[2017-12-21 20:23] sgoll opened #2394 "Use `undefined` to update column to DEFAULT value"
`.insert(data)` allows the `data` object (or the array of objects) to contain properties set to `undefined` to explicitly set the corresponding columns to DEFAULT (or NULL when `useNullAsDefault` is set).

`.update(data)`, on the other hand, ignores any property set to `undefined` (as opposed to properties that are simply absent from the object). The docs are rather explicit about this:

The relev

[2017-12-24 05:11] alvis commented on #1303
I agree. Otherwise, createTableIfNotExists can work with table without any index, which is useless.

[2017-12-25 13:38] psaung commented on #1506
If you are using mysql, you can specify mysql not to check foreign key constraint before truncating.

[code]

[2017-12-26 17:54] slim-hmidi opened #2395 "How to handle double precision type in knex?"
I need to use the `double precision` type in postgres database but it is not handled in knex. How can I use this in knex. I tried with `decimal(10,6)` and it did not give me the suitable results. How can I fix that?

[2017-12-26 19:25] AntJanus opened #2396 "Why is Knex still on 0.X version?"
The project has been around for quite a few years.

[2017-12-28 20:18] brandonramirez commented on #657
I'm interested in taking a stab at this feature since it seems (at first glance) easy enough and it would benefit my team.  I'm not familiar with the knex code base, so I can't commit to getting it done nor commit to a timeframe, but I'll see what I can do.

Not all RDBMS's support partial indexes.  I know PostgreSQL does and MySQL does not.  My focus is PostgreSQL, but if I can make it re-usable

[2017-12-28 21:04] fer22f opened #2397 "Support for composite foreign keys?"
In the docs, it states that knex has support for composite foreign keys. However, when trying it, I was met with an error (yes, I am using MS SQL, but it seems irrelevant):
[code]
Using the syntax the docs referenced:
[code]
I started to dig into the code, and found no relevant tests for it [in postgres](https://github.com/tgriesser/knex/blob/7032dffe70e62543621c2393f26b7fccae1c985e/test/unit/sche

[2017-12-29 01:26] wubzz commented on #2383
Seems like a pretty straight-forward almost 'drop-in-replacement' to use built-in `pg` pooling rather than `generic-pool`. @tgriesser Would you be OK with merging this change now instead of waiting for the refactoring-overhaul?

[2017-12-29 11:20] slim-hmidi opened #2398 "pool connection full"
# Environment

**Knex version:** 0.13.0
**Database + version:** 9.6.0
**OS:** ubuntu 17.04

I have a knexfile.js:
[code]

I want to save data from file to postgres db:
[code]
I have a huge amount of data to save in the database (about 3000 rows). When I run the app I got this error:
[code]
How can I fix that?

[2017-12-29 13:22] elhigu commented on #2398
Please report problems with objection.js code to objection's isssue tracker.

Try to make your code to work with one or two rows at first and try to create your code incrementally and verify that each row does what you think it is doing. Your code example is not complete for anyone to reproduce your problem without first having to fiddle at lest 15-30 mins with the code.

Fast notes:

[code]

[2017-12-29 13:22] #2398 closed

[2017-12-29 13:30] elhigu commented on #2396
duplicate https://github.com/tgriesser/knex/issues/1331

[2017-12-29 13:30] #2396 closed

[2017-12-29 13:33] elhigu commented on #2395
If you like to use certain datatype of your favorite DB, you can us `specificType()` to create that type of columns.

[2017-12-29 13:33] #2395 closed

[2017-12-29 13:52] elhigu commented on #1303
As per my earlier comments I still stand behind deprecating the whole `createTableIfNotExists` method since it causes only problems.

Using `hasTable` + adding all the initially necessary code of table creating inside that block is a lot more powerful and pretty much as easy as having that `createTableIfNotExists` for that specific single use case.

[2017-12-29 14:16] elhigu commented on #2394
It is intentional that in `update` with `undefined` attribute is not updating value to `default` nor `null`. This was discussed carefully when support for default values when inserting multiple rows was added (not sure where the whole discussion was but here is part of it https://github.com/tgriesser/knex/pull/962).

To update row with default you should do `.update({ column: knex.raw('DEFAULT') }

[2017-12-29 14:16] #2394 closed

[2017-12-29 14:30] elhigu commented on #2393
Knex really doesn't have support for easily to refer attributes inside jsonb columns. Objection.js has extended column reference syntax to be able to do that in a somewhat similar way that you are trying to do it in the first example.

In knex probably your only choice is to do something like:

[code]

[2017-12-29 15:09] elhigu commented on #2391
use `afterCreate` in knex configuration. Also in what way that doesn't work? What are you trying to do?

[2017-12-29 15:09] #2391 closed

[2017-12-29 15:25] elhigu commented on #2321
@cyorobert do you have some code example that I could use to reproduce the behaviour?

[2017-12-29 15:32] elhigu commented on #2384
look correct.

[2017-12-29 15:32] #2384 closed

[2017-12-29 15:42] elhigu commented on #2389
Please ask this one in stackoverflow or some other forum. You are using transactions wrong in many ways. Knex issue tracker is mainly for for knex development, not for user support how to use knex.

[2017-12-29 15:42] #2389 closed

[2017-12-29 15:57] elhigu commented on #2386
Looks like postgresql does not support passing values as parameter bindings to `select` or it is just about that postgres needs explicit type cast there. So your query `select $1, "id" from "someTable"` is invalid. Or maybe this works:

[code]

If that doesn't work there are many ways to implement the thing you are trying to do. However I cannot say which is the best way without knowing more about

[2017-12-29 15:57] #2386 closed

[2017-12-29 16:00] elhigu commented on #2385
I think there is no way to pass multiple tables to truncate right now. AFAIK that can be done only with knex raw.

[2017-12-29 16:00] #2385 closed

[2017-12-29 16:24] elhigu commented on #1833
@analytik thanks for I'll look into the report and try to reproduce it by shutting down postgres and your instructions.

[2017-12-29 22:38] brandonramirez commented on #2359
I got this error too when I had the wrong port number configured.  I'd love to see better error handling.

[2017-12-30 03:12] brandonramirez commented on #2397
I get this exact same error when running the integration tests.

      1) mssql | mssql Schema createTable rejects setting foreign key where tableName is not typeof === string:
         TypeError: Cannot read property 'sql' of undefined
          at TableCompiler_MSSQL.TableCompiler.alterTableForCreate (lib/schema/tablecompiler.js:9:16687)
          at TableCompiler_MSSQL.TableCompiler.create (lib

[2017-12-30 03:20] brandonramirez commented on #2397
It's interesting that in the case of the test, the error occurs in a test which specifically asserts that this error occurs.  I think it's a bug in the test that the exception is not properly caught.

[2017-12-30 12:09] tankers746 opened #2400 ".returning places the OUTPUT clause in the incorrect location when updating with joins (MSSQL)"
# Environment
@Grimace1975
Knex version: 0.14.2
Database + version: SQL Server 2016
OS: Windows 10

# Bug

**1. Explain what kind of behaviour you are getting and how you think it should do**
When using .returning, with a join, the outputted query has OUTPUT after the joins.

See correct usage:
https://stackoverflow.com/questions/4170389/inner-join-within-update-output-in-one-t-sql-query

**2. Err

[2017-12-30 23:37] fer22f commented on #2397
That specific test seems to test something else, which is the `inTable` method, which specifies where the table should be joined to. This brought me light into the `inTable` method however, I didn't see it before! Apparently this does work correctly:
[code]
So the issue becomes:
* The `references(['table.column1', 'table.column2'])` form doesn't work, but `references(['column1', 'column2']).inTabl

[2018-01-01 22:43] seeden opened #2402 "columnInfo is not using wrapIdentifier"
we are using automatic camelCase transition for tableName and columns as well.
but columnInfo is not changing tableName https://github.com/tgriesser/knex/blob/7de07c966a6ab63087b31cbdd10216d3ddbf8230/src/dialects/postgres/query/compiler.js#L79

[2018-01-02 05:23] PatrLind opened #2403 "forUpdate() should not require a transaction if Knex is used as a query builder only"
I use Knex as a query builder (not using the built in connection support) and I have problems with forUpdate() requiring a transaction.
I am using a transaction, but not via Knex. So if Knex is not connected to a database (used as a query builder only) I don't think it should require a transaction. To get around this problem I have to manually add the FOR UPDATE statement to my queries. Would it b

[2018-01-02 08:17] honestserpent commented on #2391
Well, I was expecting the `set time zone 'UTC'` to work and properly set the time zone on the database. I didn't see the afterCreate method, I'll give it a try.

Thank you very much and happy new year!

[2018-01-02 09:12] elhigu commented on #2403
Sounds like a legit use case. I don't see any reason why this couldn't be implemented.

[2018-01-02 09:14] elhigu commented on #2402
Yeah, there are many places specially in schema methods, which are not using wrapIdentifier correctly. These should be fixed.

[2018-01-02 09:19] elhigu commented on #2400
#2399 was merged... is this fixed now?

[2018-01-02 10:13] Sachavent opened #2404 "knex raw changing query ..."
My environment:
knex: 0.13.0
pg: 7.4.0

I'm using some regexp postgre function with knex.raw() but it is like regexp is not effective... (it is "parsing" the regexp")

I think it is because knex trying to escape or something like that...

Any clue to solve this ?

[2018-01-02 10:30] Sachavent commented on #2404
Ok seems like it is nothing to deal with knex.

The problem is the way I'm writing my regexp (it is bad interpretaing).

I'll use the constructor new Regexp(string) to fix this.

[2018-01-02 10:30] #2404 closed

[2018-01-02 14:05] tankers746 commented on #2400
All good.

[2018-01-02 14:05] #2400 closed

[2018-01-02 15:26] koskimas commented on #2402
I'm working on a fix for this. I'll submit a PR soon.

[2018-01-02 16:23] timobehrens opened #2406 "knex migrate:rollback does nothing when renaming a column called "end""
# Environment

Knex version: Knex CLI version:  0.14.2, Local Knex version:  0.13.0
Database + version: PostgreSQL 9.6.3
OS: MacOS 10.13.1

# Bug

1. Knex migration silently fails to do the change and can't be rolled back (it hangs)

2. This is the migration:
[code]

# Feature discussion / request

1. Since I unbeknownst of the consequences named a column `end`, it is likely that the transaction i

[2018-01-02 16:31] timobehrens commented on #2406
After restarting the db machine it worked. Seems it was another issue. Closing..

[2018-01-02 16:31] #2406 closed

[2018-01-02 16:40] honestserpent commented on #2391
@elhigu should I use `afterCreate` in my `knexfile.js`, together with the definition of the database(s) settings, like client, connection, pool sizes etc?

[2018-01-02 21:03] xujiyuan opened #2408 "Migration_lock case issue with to_upper case wraper"
# Environment

Knex version:0.14.2
Database + version: oracle 11
OS: mac

@atiertant

# Improvement

1. Explain what kind of behaviour you are getting and how you think it should do

The official released wrapper for dealing with oracle db object case (camel/snake/upper/lower) really helped but I noticed the migration process always add hard coded "_lock" to the migration_lock table with caused pr

[2018-01-02 22:05] #2402 closed

[2018-01-03 08:22] atiertant commented on #2408
@xujiyuan do you have a failing test and/or bug fix?

[2018-01-03 15:56] #2344 closed

[2018-01-04 03:59] Navya-adft opened #2409 "Not able to view the data in table"
Hi,
i am new in Psql and Knex..
i create the migration file and seed files..it run sucessfully..but when checking on commandline not view the values ..displaying 0 rows..
groups migration file  is,

[code]

and my seed file is ,
[code]
is any problem ?
 want to do any update...is i want to use commit ? but when go through the documents,when using promices no need to use commit...

[2018-01-04 04:44] HadiAkmal opened #2410 "How to use parentheses with AND?"
# Environment

Knex version: 0.14.2
Database + version: Postgres 10
OS: Windows

I'm trying to generate this query:

[code]

I'm stuck at the `parentheses`. How can I add parentheses to my code?

Here's what I have:

[code]

Thanks in advance

[2018-01-04 06:15] falnos24865 commented on #2383
I can confirm there is something wrong here. I ran a small test that did nothing but run a SELECT using knex repeatedly and monitored the heap usage after each query. Knex.js was burning anywhere from 700k to 2MB of heap per query, which crashed after a few hundred queries when it hit the node heap limit at around 1.5gb.

[2018-01-04 06:23] wubzz commented on #2410
[code]

[2018-01-04 06:23] wubzz commented on #2410
Please use stackoverflow for these types of questions.

[2018-01-04 06:23] #2410 closed

[2018-01-04 08:38] honestserpent commented on #939
@sombriks could you please add more info on where and how you are using them in your migrations? Possibly, could you put an example migration file where you use it?

[2018-01-04 12:53] crumhorn commented on #2359
I recently upgraded knex to 14.2 (14.0 worked) and am now getting exactly this on a "used to be valid" code and cannot for the life of me figure out what may be wrong. Has anyone managed a connection to mssql on 14.2? Basically my string is:

`let knex = require('knex')({
      client: 'mssql',
      connection: {
        host: '127.0.0.1',
        user: 'myuser',
        password: 'mypass',

[2018-01-04 13:14] elhigu commented on #2409
Please try asking if someone in stackoverflow has time to debug this. I'm sure this is just an user error and is not related to any knex bug / missing feature.

[2018-01-04 13:14] #2409 closed

[2018-01-04 13:45] sombriks commented on #939
Hi @honestserpent , i have a sample project on that: https://github.com/sombriks/sample-knex-cookbook

[2018-01-04 13:56] honestserpent commented on #939
Thank you! Have you ever used [objection ](http://vincit.github.io/objection.js/#introduction) with that?

[2018-01-04 14:15] elhigu commented on #2383
@falnos24865 please share your test app

[2018-01-04 19:07] slim-hmidi commented on #2395
@elhigu thank you.

[2018-01-04 19:10] slim-hmidi commented on #2385
@elhigu  what about the option? It's setted `restart identity` by default. Is it possible to change it or should I use `raw` ?

[2018-01-04 19:11] dsego opened #2411 "MySQL float (precision, scale) should be optional"
# Environment

Knex version: 0.14.2
Database + version: MySql 5.6.37
OS: ubuntu

# Feature discussion

Currently, knex defaults to `float(8,2)` instead  of simply `float` without precision & scale.
The undocumented `double` method actually does the right thing and doesn't default to some arbitrary precision.
[code]

This just seems common sense, no?
There should be a way to specify I don't want pr

[2018-01-04 23:49] rkmax opened #2412 "Migrate rollback - Error: Unable to acquire a connection"
# Environment

Knex version: 0.14.2
Database + version: Postgres 10.1
OS: Archlinux  4.14.5-1-ARCH x86_64 GNU/Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

expected: running `npx knex migrate:rollback` execute the down of each migration in the last batch
current: running `npx knex migrate:rollback` got a error message

2. Error message
[code]

3. M

[2018-01-05 01:28] phaddius opened #2413 "update() with returning("*") is returning empty array"
Knex version: 0.14.2
Database + version: Posgres 9.5.3.0
OS: mac, and heroku

I'm expecting my update query to return the rows affected, using the returning clause (and also tried the second parameter in the update() function).

Not sure whats going on here. The returning() function works in other parts of code when using insert() or using update() with a simple where(key,value), but not with this

[2018-01-05 05:33] jsartisan commented on #801
Much need feature :) 👍

[2018-01-05 07:06] crumhorn commented on #2359
Just to reply to my own foolishness, apparently my port setting was non-default. According to the SQL startup log (in my case at: C:\Program Files\Microsoft SQL Server\MSSQL10.SQL2008\MSSQL\Log) I should've been on port 51439 rather than the default port. I also enabled TCP/IP connections for the server which were off (not sure if this matters, but in case someone else runs into issues it's worth

[2018-01-05 07:57] elhigu commented on #801
As a workaround you can seed single file already by just writing node script that does the seeding and running it directly:

[code]

I don't see much benefit of having separate seed file. For running tests creating separate custom populate schemes is lot more flexible and fast that using knex client + seed file system.

[2018-01-05 14:17] rkmax opened #2414 "knex seed:run - Error: Unable to acquire a connection"
# Environment

Knex version: 0.14.2
Database + version: Postgres 10.1
OS: Archlinux 4.14.5-1-ARCH x86_64 GNU/Linux

# Bug

1. I'm trying to create a seed for my database, I use the followinf knexfile.js

[code]

execute `knex seed:make my-seed` and the file `seeds/my-seed.js` was created later on I write the seed like follow

[code]

2. Error message

[code]

[2018-01-05 14:38] rkmax commented on #2414
I found the issue, it was related to my environment var DATABASE_URL under some circunstances is not defined

[2018-01-05 14:38] #2414 closed

[2018-01-05 14:39] rkmax commented on #2412
I found the issue, it was related to my environment var DATABASE_URL under some circunstances is not defined

[2018-01-05 14:39] #2412 closed

[2018-01-06 13:58] mfbx9da4 opened #2415 "Storing `DATETIME` in UTC in mariadb"
# Environment

Knex version: 0.13.0
Database + version: 5.5.5-10.2.7-MariaDB-10.2.7
OS: mac os + docker

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ Grimace1975 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I have the following date stored
[code]
When I

[2018-01-06 23:02] elhigu commented on #1116
duplicate  https://github.com/tgriesser/knex/issues/1461

[2018-01-06 23:02] #1116 closed

[2018-01-06 23:02] elhigu commented on #2415
Duplicate https://github.com/tgriesser/knex/issues/1461

[2018-01-06 23:02] #2415 closed

[2018-01-07 06:48] hedikasmanto opened #2416 "JSON column from query select() should be returned as json instead string"
# Environment

Knex version: 0.14.2
Database + version: MySQL 5.7.20
OS: OSX 10.13.2 High Sierra

# Bug

1. I have created migration for create table 'users'
`return knex.schema.createTable('users', function (t) {
    t.uuid('id').primary()
    t.string('username').notNull()
   t.string('password').notNull()
    t.string('email').notNull()
    t.specificType('access', 'JSON').notNull()
   t.timest

[2018-01-07 09:00] hedikasmanto commented on #2416
I have solved this problem by using typeCast on knex config

[code]

https://github.com/mysqljs/mysql/issues/1267

[2018-01-07 09:00] #2416 closed

[2018-01-07 21:43] elhigu commented on #2413
Maybe there was no rows to update? I just tried this with knex_test database's accounts table and it did return all the columns of the updated rows:

[code]
Please add complete test case which allows to reproduce your problem.

[2018-01-07 21:43] #2413 closed

[2018-01-07 22:06] elhigu commented on #2385
That kind of feature would be welcome which allows to select if sequences should be reset or not. Currently I suppose `raw` is the only way to prevent that.

[2018-01-07 22:10] elhigu commented on #2411
Is this duplicate of https://github.com/tgriesser/knex/pull/2353 ?

[2018-01-07 22:52] elhigu commented on #1833
@analytik Sorry, I couldn't reproduce your problems with knex 0.14.2.

[code]

[2018-01-08 00:08] dsego commented on #2411
Not really, that one is for decimal, this is for float.

[2018-01-08 04:15] phaddius commented on #2413
I think its specifically the whereIn() function.  Other uses of returning() using a standard where(key,value) seem to work. Would you mind retrying your test with whereIn()?

[2018-01-08 05:32] maxwondercorn opened #2417 "Invalid alter table statement"
# Environment

Knex version: 0.14.2
MariaDb using mysql2 driver
OS: osx

I'm getting an unknown column error:

[code]

from the following migration:

[code]
It seems that an additional SQL fragment is being tacked on to the end of ALTER TABLE statement.  Using debug, the following SQL is being generated:

[code]
Not sure if this a bug or I am using alter incorrectly.

[2018-01-08 06:47] elhigu commented on #2411
I mean the part of reasoning why to not change the current default behaviour and how the support can be implemented if someone likes to implement it. I'll reopen and change description a bit so that this is open for anyone to implement.

[2018-01-08 07:23] elhigu commented on #2417
Your table does not have column named `sitecode` whose type / etc. you are trying to alter. If you need to add new column then you should not add `.alter()`  to end of column declaration.

[code]

[2018-01-08 10:08] maxwondercorn commented on #2417
But it does have a 'sitecode' column.  I didn't show it for brevity, but I'm dropping a foreign key on that column before I try to alter it.  If I try the SQL generated in phpMyAdmin it fails.

If I modify it to just be:

`alter table `user` modify `sitecode` varchar(3) null`

it works.  'modify `sitecode` varchar(3)` should not be part of the generated sql statement

[2018-01-08 10:40] elhigu commented on #2417
Right I didn't see the second ```..., modify `sitecode` varchar(3)``` part.

However I'm not able to reproduce this: https://runkit.com/embed/pv2ucmwes4yx

Query generated by that alterTable is only: ```alter table `user` modify `sitecode` varchar(3) null```

Where you are getting that

[code]

query?

Please add complete tests case to be able to reproduce the issue.

[2018-01-08 10:40] #2417 closed

[2018-01-08 12:14] HOTTIN opened #2418 "How to add extra custome column in knex.select()"
# Environment

Knex version: v0.12.9
Database + version: mysql+5.7.19
OS: cenos7

I want to add an extra custome column in my result from knex.select(), just like: select id,'123' as type from tb, but knex return an error to me -> "ER_BAD_FIELD_ERROR: Unknown column '123' in 'field list'" ,
how can i resolve this problem?
If i commit a duplicate issues, i'm very sorry for that~~

[2018-01-08 12:33] elhigu commented on #2418
does `.select('id', knex.raw('?', ['123']))` work for you? stackoverflow is the correct place to ask for user support.

[2018-01-08 12:33] #2418 closed

[2018-01-08 15:46] dsego commented on #2411
A general solution would be to have something like `knex:upgrade_migrations`. It's ridiculous to have the API stuck with bad decisions from the past.

[2018-01-08 15:59] elhigu commented on #2411
@dsego I know. There are lots of API changes that I would like to do, but this is not right time for that. Writing completely new migration APIs and slowly deprecating old ones would be pretty safe path, but just breaking one API every now and then would be pretty annoying for everyone and wont make overall quality of migration APIs much better.

[2018-01-08 16:26] dsego commented on #2411
I'm not in favor of that decimal solution, it does not spark joy.  This should be fixed in some future version, but `specificType` is better than retrofitting special values. I am all for closing this issue and moving on

[2018-01-08 16:33] elhigu commented on #2411
I would do the same :)

[2018-01-08 16:33] #2411 closed

[2018-01-08 20:26] irakliOrbis commented on #590
I have the problem when I want to run `knex migrate:currentVersion` it is not loading from .env file. what can I do to resolve that?

[2018-01-09 01:08] HOTTIN commented on #2418
i want to get a field in result that not exits in scheme, which i can name it and give it a value.Such as i have a table which has 3 fields: id, name, gender, when i use knex.select(),i want add a field in result named "type",and i can give it a value,

[2018-01-09 01:11] HOTTIN commented on #2418
In SQL, i write this: `select id, name, gender, "haha" as type from tb`, and i will get a result that has a field named "type",but when i use knex.select(),it return an error to me.

[2018-01-09 02:11] HOTTIN commented on #2418
i have resolve this problem,i should write like this:
knex.select('id', 'name', 'gender', knex.raw('\'123\' as type')).from('tb').
3q~

[2018-01-09 02:12] HOTTIN commented on #2418
i have resolve this problem,i should write like this:
knex.select('id', 'name', 'gender', knex.raw('\'123\' as type')).from('tb').
3q~

[2018-01-09 02:13] HOTTIN commented on #2418
i have resolve this problem,i should write like this:
knex.select('id', 'name', 'gender', knex.raw("'123' as type")).from('tb').
escape the value '123'
3q~

[2018-01-09 02:14] HOTTIN commented on #2418
i have resolve this problem,i should write like this:
knex.select('id', 'name', 'gender', knex.raw('\\'123\\' as type")).from('tb').
escape the value '123'
3q~

[2018-01-09 07:20] elhigu commented on #2418
Are you sure that this doesn't work:

[code]

The way you are doing it might have sql injection vulnerability (unless you are really passing that '123' as a constant to the select).

[2018-01-09 08:11] HOTTIN commented on #2418
it works, thank u very much!
I should carefully read the document, i didn't know why .raw use "?" to accept said binging as its second parameter before, now i know,3q~~~

[2018-01-09 16:22] pjpsoares opened #2419 "Using .catch clips the stack trace"
# Environment

Knex version: 0.14.0
Database: pg
OS: macOS

# Bug

I'm using Bluebird with longStackTraces enabled, to easily pinpoint eventual issues and I stumbled upon what appears to be a bug on the way knex handles the errors.
This stacktrace
[code]
is different from
[code]
And the only difference between them is that the second is more complete making me believe, that the chained catch from

[2018-01-09 18:13] rsflaherty commented on #2359
I am seeing a similar error with oracledb.  When I give an invalid database name or mess the connection string up in some other way, I get an error saying "TypeError: connection.executeAsync is not a function" .  When I try the same thing with plain oracledb I get a more helpful error indicating that there is no database with that name ("Error: ORA-12514: TNS:listener does not currently know of se

[2018-01-09 19:56] ericeslinger opened #2420 "sqlite3 date column parsing as string"
# Environment

Knex version: 0.14.2
Database + version: sqlite3
OS: linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I created a database with a date column (`timestamp with time zone`). In other dialects, the response to a .select() call including that column is a Date object, in this case it is a string.

3. Reduced test code, for example in https:/

[2018-01-09 21:03] ericeslinger commented on #2420
ah, this is probably because sqlite doesn't actually store things as dates, but as strings with no real date support. I'll close this.

[2018-01-09 21:03] #2420 closed

[2018-01-11 07:32] martinheidegger commented on #912
Knex is quite mature now. What is keeping you from adopting semver? It would be really quite a relief to have that!

[2018-01-11 12:06] itaysabato opened #2421 "Add a pluckFirst function"
Pretty self-explanatory - `.pluck()` is great and `.first()` is great, but many times I find myself wanting to pluck a single value from the first row.

Sure, it's not a lot of code, but it would be pretty useful to have a built-in `.pluckFirst()` function IMHO.

[2018-01-11 12:35] analytik commented on #1833
Hi @elhigu, thank you for putting effort into this! One more idea - since I'm using docker, the restarted postgres instance can have a different IP address than the previous one. Maybe you know - is the IP address of the service cached at any point, in the pool or in pg driver itself? If yes, that could be an easy thing to fix.

If not, I will try to prepare some more extensive test and try to cra

[2018-01-11 17:21] roemhildtg commented on #2360
I'm running into this too and would be willing to take a stab at fixing it if I could get a little bit of help on where to start.

I'm using feathers-bookshelf-service with bookshelf.

[2018-01-11 19:09] elhigu commented on #2360
@roemhildtg here is the PR where clearSelect and clearWhere was added https://github.com/tgriesser/knex/pull/1912 it should serve as a good reference how to implement more clearXXX methods

[2018-01-11 19:16] elhigu commented on #1833
@analytik I have no idea if pg caches resolved DNS address, maybe opening new issue would be good if you start figuring that out / allowing knex to re-resolve it after connection failures.

[2018-01-11 19:21] elhigu commented on #2421
I have never heard anyone missing this before and I don't think knex should start implementing this kind of quite specialised helpers. Lets consider again if there is big demand for this.

[2018-01-11 19:21] #2421 closed

[2018-01-11 19:30] elhigu commented on #912
@martinheidegger  knex is following semver + this is duplicate https://github.com/tgriesser/knex/issues/1331

[2018-01-11 19:30] #912 closed

[2018-01-11 20:22] elhigu commented on #2419
I just ran this with node 8.9.0:

[code]

Both did print out exactly the same error. Cannot reproduce and I know that catch does not do any stack trace truncating to thrown errors. Problem must be in some other part of your code.

[2018-01-11 20:22] #2419 closed

[2018-01-11 20:29] elhigu commented on #1501
oops, this was duplicate of https://github.com/tgriesser/knex/issues/1440 (which should be moved to knex/documentation repo)

[2018-01-11 20:29] #1501 closed

[2018-01-11 20:31] elhigu opened #5836 "Documentation for passing custom dialect / client for knex."
Original issue / PR of the feature found here https://github.com/tgriesser/knex/issues/1440 and https://github.com/tgriesser/knex/pull/1428 and other usage example here https://github.com/tgriesser/knex/issues/2285

[2018-01-11 20:32] elhigu commented on #1440
Related to this https://github.com/tgriesser/knex/issues/2285  and closing, becuase issue was moved to documentation repo

[2018-01-11 20:32] #1440 closed

[2018-01-11 23:40] elhigu commented on #2382
Kind of makes sense that single where raw could be wrapped to parenthesis, but in current way it is more versatile. To add parenthesis there is trivial to do manually in those cases when they are needed:

[code]

In this case I prefer to have functionality that enables more use cases.

[2018-01-11 23:40] #2382 closed

[2018-01-12 00:00] elhigu commented on #2390
Cannot reproduce. Please add some configuration / test code, error messages etc. to be able to get some pointers whats happening.

[2018-01-12 00:00] #2390 closed

[2018-01-12 00:47] FelixButzbach commented on #1276
Just stumbled over this problem as well.
Knex returned '1899-11-30T02:00:00' for date fields with null in it from our mariadb database
I "solved" it with the following test:
`let birthday = user.dt_nascimento.toISOString().slice(0,10);
birthday = birthday === "1899-11-30" ? null : birthday;`

This should work because nobody that born in this year will register in our page, or update their data...

[2018-01-12 02:42] fakhrul8moo commented on #2059
`Knex:warning - migrations failed with error: table.integer(...).notNullable(...).unsigned(...).references(...).inTable(...).withKeyName is not a function`

It not working. I am using knex ^0.11.10

[2018-01-12 08:46] elhigu commented on #2059
it was implemented in 0.12.7
https://github.com/tgriesser/knex/blob/master/CHANGELOG.md#0127---17-feb-2017

[2018-01-12 08:48] elhigu commented on #2059
Moved documentation issue to docs repo issues

[2018-01-12 08:48] #2059 closed

[2018-01-12 11:48] honestserpent commented on #2391
@elhigu any hints? Sorry to bother but I can't make it to work

[2018-01-12 12:08] elhigu commented on #2391
How do you think that setting default timezone in migrations should effect?

Please share an example where you think that timezones are working in a wrong way. Probably there is just confusion in understanding how postgresql handles timezone information.

For example if you are inserting data to database and you pass timestamps as iso8061 strings containing timezone offset the timezone setting of

[2018-01-12 13:41] honestserpent commented on #2391
So, my goal is to, once I perform the migration, set the timezone to `UTC`. In postgres I can achieve this with `set time zone 'UTC'`.

I have a PostgreSQL instance hosted on ElephantSQL. By default, its timezone is `GMT`, at least for the free tier (i'm using it for testing purposes).

I want to set the timezone of postgres to `UTC`. To do so, I tried to use the `afterCreate` option as suggested

[2018-01-12 15:15] elhigu commented on #2391
What do you mean that timezone is not set to 'UTC'? How are you verifying it? It must be set to every connection separately. So if you connect there with `psql` at start you must first set timezone parameter correctly.

If you are creating new connection for that query, you need to set the timezone again to 'UTC' before making the query. If you are using knex to run that query, knex automatically

[2018-01-12 15:50] honestserpent commented on #2391
Ok, I am dumb. I was expecting to use the command and set the default timezone for postgres. I don't know why I didn't realize I was setting it just for the session.

Thank you, and sorry for making you lose time

[2018-01-12 19:57] riccardopietropala commented on #1846
I don't know if this is the same issue, but I've this behavior:
`$ knex --knexfile ./config/database.js migrate:make create_users`
`Created Migration: [PROJ_DIR]/config/migrations/20180112151745_create_users.js`

Run `knex --knexfile` without `--cwd`, it changes the working directory.
I think that specify the knexfile, it should not change that.

[2018-01-12 22:43] qinwei-gong commented on #519
`??` works!

[2018-01-13 20:38] #979 closed

[2018-01-14 07:48] kcheang commented on #590
I had the same problem when I tried to run migrations as npm scripts. It worked when I changed the script to `node -r dotenv/config ./node_modules/knex/bin/cli.js migrate:latest`.

[2018-01-14 19:08] ziyaddin opened #2423 "Renaming migration file"
General question:
Let's say I created a migration file and applied migration to my database. Then I realized that I did a mistake in naming of this file. Now I want to rename this migration file. Should I take additional steps like renaming the migration name in `knex_migrations` table besides just renaming the file?

[2018-01-14 21:51] elhigu commented on #2423
Yes you need to rename file also in migrations table of every database where migration has been applied. Otherwise you'll see error about corrupted migrations directory.

[2018-01-14 21:51] #2423 closed

[2018-01-14 22:14] ziyaddin commented on #2423
Thanks!

[2018-01-14 23:13] juanlet opened #2424 "query working on pgadmin but not with knex.raw. Promise appears as pending and it swallows the error"
# Environment

Knex version: 0.14.2
Database + version: postgresql 9.6.1
OS:  Ubuntu 16.10

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ Grimace1975 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
The built query works fine on pgadmin but not with not if I p

[2018-01-14 23:42] elhigu commented on #2424
Please add some minimal test case reproducing the error. At least I'm not going to start debugging that (would take at least half an hour to setup DB and get it run somehow... probably more).

For example try to reproduce your problem with trivial queries like `select 1` etc. and remove all the code that is not needed for reproducing the problem.

Also make the reproduction code to be in single ru

[2018-01-14 23:57] juanlet commented on #2424
I'm quite a noob, it will be quicker to try to rewrite the query without using raw. There's some serious bug with raw parsing. It's the 4th time I have to rewrite queries that works perfectly on pg admin to non-raw format in order to get the query executed.

[2018-01-15 00:52] martinheidegger opened #2425 "A quicker, lighter, less stressful version 1"
# Feature discussion / request

There have been a few of issues _(#1659 most recently)_ about a 1.0 release of knex. And it feels to me like there is a lot of effort about this going on for something that could easily give value with a quick solution: Set the semver to 1.0.

Knex as-is is (widely) used in production. Every API change will have some impact to users and being forthcoming about the f

[2018-01-15 02:49] juanlet commented on #2424
Hey @elhigu...for some reason I changed to another faster wifi connection and it worked...I don't know if the broadband made the server produce a timeout or something since it took more than 5 seconds to complete the query...I'll kkep you posted if it happens again

[2018-01-15 08:10] martinheidegger commented on #2425
While I generally agree I think this specifies the case that the **API** is ready for production use - not necessarily every implementation - There are always going to be bugs popping up that need to be fixed (already found ones and not found ones).

[2018-01-15 09:31] #2424 closed

[2018-01-15 09:39] elhigu commented on #2425
Fact that thousands of people is using knex in production slightly hints that knex actually is production ready.

But I'm not understanding how just changing semver to 1 will make knex any quicker / lighter. Or you just meant that this would be one way to get 1.0 without doing one more rewrite?

Closing as duplicate https://github.com/tgriesser/knex/issues/1331

[2018-01-15 09:39] #2425 closed

[2018-01-15 09:41] martinheidegger commented on #2425
" meant that this would be one way to get 1.0 without doing one more rewrite?" < exactly.

[2018-01-15 10:27] elhigu commented on #2425
yes

[2018-01-15 10:30] Li-saltair opened #2426 "Multiple data source connection are supported？"
# Environment

Knex version:
Database + version:
window 10:

[2018-01-15 10:34] elhigu commented on #2426
no

[2018-01-15 10:34] #2426 closed

[2018-01-16 09:18] jpike88 opened #2427 "Console.log() should get SQL string by default"
I think the most common reason why anyone would usually log a pre-built non-executed knex query is to see what the sql output would be, to then paste it in an SQL client to debug/improve on it/etc.

So I think default behaviour should be calling toString() on the variable on a console.log... is that possible?

[2018-01-16 10:29] krutiparmar opened #2428 "table.bigIncrements is not working with Oracle."
# Environment
Windows 8

NodeJs version: 6.3.1
KnexJS version : 0.12.8
Database + version: Oracle 12c

@atiertant.

I am creating a table with the following code in Oracle using Knex :
 knex.schema.createTable('APIUsers', function(table) {
      table.bigIncrements('UserId').primary().unsigned();
      table.string('UserName', [100]).notNullable().unique();
      table.string('Password', [256]).no

[2018-01-16 13:29] elhigu commented on #2427
I'm not sure... maybe. Its open for discussion. But either way I would rather output `.toSQL()` output instead of `.toString()`. Because IMO current .toString() / .toQuery() methods should be deprecated, since they are a bit dangerous when used for anything else than debugging and in that in most of the cases toSQL() does the same.

Other thing to consider is if there is any value of having this k

[2018-01-16 21:26] seeden opened #2429 "next release | question"
Hi guys I am just wondering when you are going to release new version. I am waiting for merged changes. Thanks for the answer.

[2018-01-16 22:24] capaj opened #2430 "badly formatted debug output for knex:bindings when I use "%" in my string"
# Environment

Knex version: 0.14.2
Database + version: postgre 9.6.2
OS: ubuntu

I have this query:
[code]

this produces this debug output:
[code]

I believe that `+6ms` should be placed on the end of that line, not inside the array as it is.

[2018-01-16 23:18] cjloong opened #2431 "Dynamic createTable"
# Environment

Knex version:0.14.2
# Bug
We are trying to dynamically create table using the TableBuilder. Code sample is as follows:
[code]

2. Error message
table.increments is not a function

However, it is observed that switching part 1 and part 2 around works.

[2018-01-17 04:41] tylerjwatson commented on #322
I've also bumped up against this.  There is no point in a `createTableIfNotExists` function when the callback gets executed regardless.  It's not such a big deal for statements inside the `CREATE TABLE` expression, but it'll break completely for indices and other constraints which are executed outside it.

Can we please either get some clarification on its intended behaviour?

Cheers

[2018-01-17 19:37] afbruno commented on #701
I did a resume that works:
/**
 * Returns an INSERT/UPDATE MYSQL command.
 * Requires knex, lodash libs.
 * @param{string} table - Table Name
 * @param{Array} data - Data Array
 * @param{Array} pks - Primary Keys
 * @return an INSERT/UPDATE Mysql command
 */

function insertUpdate(table, data, pks) {
	var firstData = data[0] ? data[0] : data;
	if (typeof pks === "undefined") {
		pks = ["id"];
	}

[2018-01-18 04:15] mamdi52 commented on #2367
I tried below but it connects the default public schema everytime.
var dbconfig = {
        client: 'pg',
        connection: {
            host: 'localhost',
            user: 'postgres',
            password: 'mypassowrd',
            database: 'mydb',
            charset: 'utf8',
            port: 5432,
            debug: true,
            timezone: "UTC",
            searchPath:["myschema"]

[2018-01-18 05:28] wubzz commented on #2367
@mamdi52 `searchPath` should be outside the `connection` object.

[2018-01-18 09:28] elhigu commented on #701
There is design for this feature in https://github.com/tgriesser/knex/pull/2197 which I would like to see implemented at some point. Closing as duplicate.

[2018-01-18 09:28] #701 closed

[2018-01-18 16:50] stevenvachon commented on #2084
@elhigu anything happen?

[2018-01-18 17:00] roemhildtg commented on #1527
I get this error too. This is with sql server 2012.

GeneralError: select [users].* from [users] offset @p0 rows fetch next @p1 rows only - Invalid usage of the option next in the FETCH statement.

I believe FETCH requires an ORDER BY in order to work correctly.

[2018-01-18 17:24] jacobmischka opened #2434 "Question/request: Coerce to promise to use with async/await without explicit .then()"
Forgive me if there's a way to do this that I couldn't find, but it would be great if there were a way to coerce the call to a promise without calling `.then()` explicitly, so results could be used with `await` directly.

I'm currently doing the following, which works fine, but it would be nice if there were just a _little_ bit of sugar for it:

[code]

Thank you!

[2018-01-18 22:07] elhigu commented on #2434
Query builder is thenable, so you don't have to call `.then()` when using await to resolve it (await value is pretty much the same that when you call `Promise.resolve(value)`, but nicer syntax).

Just do:

[code]

it works.