[2021-05-04 23:32] code-ape opened #4468 "Feature request for `NOCACHE` support for Oracle sequences"
# Environment

Knex version: 0.95.3
Database + version: Oracle 18c
OS: Ubuntu

Tagging @atiertant for Oracle support issue.

# Feature discussion / request

## Need
I recently stumbled across the fun fact that Oracle "caches" sequences where an insert operation reserves a default range of 20. Thus if you insert 3 values with an auto incrementing primary key then they get id's `1`, `2`, and `3`. Bu

[2021-05-05 05:25] elhigu commented on #4467
Closing doesn't seem to be a knex bug. Usage questions should go to stackoverflow.

First bug in the code is on the first line https://runkit.com/embed/qmb80cdlby0a

[2021-05-05 05:25] #4467 closed

[2021-05-05 16:17] waitingsong commented on #4460
@ziyaddin  I write a demo, the trxId not clean up .
https://github.com/waitingsong/knex-demo/blob/master/packages/demo/test/10.knex.test.ts#L46

[2021-05-05 16:29] ziyaddin commented on #4460
@waitingsong what is the purpose of `tb_user` and `tb_user_ext` tables? I want to understand what you are trying to accomplish.

[2021-05-05 16:59] waitingsong commented on #4460
@ziyaddin
Hi, the tables (tb_user, tb_user_ext) generation file  https://github.com/waitingsong/knex-demo/blob/master/packages/demo/test/helper.ts, and i changed the test case only with table "tb_user"

I want to subscribe knex event by knex.on('query' | 'query-response') with rxjs.
But it seems the value of data.__knexTxId not clean up after a query with transaction.

[2021-05-05 18:49] kibertoad commented on #4468
@code-ape What kind of SQL would you expect to be generated when this parameter is passed?

[2021-05-06 08:26] mglimmerveen commented on #4466
I have the same issue after trying to upgrading knex to 0.95.
After this upgrade I did the following:
-  I upgraded TypeScript devDependency from 3.8.3 to 4.2.4
- I also did a global install of typescript, so that tsc -v now gives version 4.2.4
- I changed the knex imports according to the upgrading.md

Do you have any idea as to what may cause this?

[2021-05-06 08:37] kibertoad commented on #4466
Could someone provide a simple repro for the issue?

[2021-05-06 08:43] mglimmerveen commented on #4466
You mean creating a test repository and seeing if it reproduces the issue?

[2021-05-06 08:44] mglimmerveen commented on #4466
By the way, I just found this issue: #4439, where javonclarke apparently solved the issue. I'm gonna ask him there if he has more information.

[2021-05-06 08:46] mglimmerveen commented on #4439
Hi @javonclarke, I have the same issue now.
Can you elaborate a bit on how you solved it? DId you upgrade typescript?

[2021-05-06 08:47] kibertoad commented on #4466
@mglimmerveen Repository would be ideal, but a code chunk which fails to compile and versions for knex and TS might suffice too.

[2021-05-06 09:07] mglimmerveen commented on #4466
The odd thing is that the compilation error appears to be in the knex dependency, so I doubt that it's caused by my code.  It seems to me that it is more likely to be a configuration error somehow. Do you agree?

I also just noticed

The problem is that my package is private and also uses some private dependencies, so I'm not sure if it will be easy to reproduce.  I can try to reproduce it myself

[2021-05-06 09:14] mglimmerveen commented on #4466
Ah, I might have solved it...

It seems my root package.json in my monorepo still pointed to TypeScript 3.8.3, so even though tsc -v said it used 4.2.4 and my package itself said it used 4.2.4 it didn't compile correctly.

Let me solve a few remaining issues and confirm that it is working...

[2021-05-06 09:14] kibertoad commented on #4466
Yup, that really looks like it. If there are errors shown on knex types themselves, it's 100% a TypeScript version issue.

[2021-05-06 15:43] newhouse opened #4470 "Suppport "MATERIALIZED" and "NOT MATERIALIZED" modifiers on WITH/CTE"
# Environment

Knex version: 0.21.12 (yes, old I know)
Database + version: Postgres 12.6
OS: Mac / Linux

# Feature discussion / request

I have a complex query with several CTEs that's something like this:
[code]

Having logged the generated SQL, I have debugged a slow query case to being fixed by adding the `MATERIALIZED` keyword to the `baz` CTE.
Changing from `WITH ..., "baz" AS (...) ...` to

[2021-05-06 16:18] javonclarke commented on #4439
@mglimmerveen I did upgrade my typescript version to the latest version at that time which was 4.2.4

[2021-05-06 18:58] mglimmerveen commented on #4439
Thanks!  It turned out to be the same for me; I had done a partial update.

[2021-05-06 20:10] its-me-ilia commented on #4466
I have Typescript 4.2.4 installed both globally and locally but it's still throwing errors

[2021-05-06 20:11] kibertoad commented on #4466
@its-me-ilia Can you provide some repro?

[2021-05-06 20:16] its-me-ilia commented on #4466
Yea the thing is my code is compiling with no problem, it goes to dist and everything it's just vscode errors and typescript errors in console, so i am almost sure it does not have to do anything with code

[2021-05-06 20:38] its-me-ilia commented on #4466
some of the errors are:

Namespace '"__DIR__/node_modules/knex/types/index"' has no exported member 'Raw'.
122   type Raw = RawBuilder | Knex.Raw;

Namespace '"__DIR__/node_modules/knex/types/index"' has no exported member 'JoinClause'.
(table: TableRef<QB>, cb: CallbackVoid<Knex.JoinClause>): QB;

Namespace '"__DIR__/node_modules/knex/types/index"' has no exported member 'QueryBuilder'.
toKnexQue

[2021-05-06 20:47] its-me-ilia commented on #4466
Closing because objection can only be integrated with knex 0.95 on version 3, so only option is to downgrade knex, until objection 3.0.0 is released

https://github.com/knex/knex/issues/4389

[2021-05-06 20:47] #4466 closed

[2021-05-07 09:27] Redirts opened #4472 "Changelog on knexjs.org seems broken"
![image](https://user-images.githubusercontent.com/23477559/117429192-51b6ae00-af16-11eb-9de6-c25d5ed65db6.png)

Also, why can't I find on github's changelog any mention of version 0.21.18 and 0.21.19 which are available on npm?

[2021-05-07 10:47] kibertoad commented on #4472
I'll take a look, thanks!

You can always check https://github.com/knex/knex/blob/master/CHANGELOG.md for older versions.

[2021-05-07 10:56] kibertoad commented on #4472
I think we've lost some of 0.21.x changelogs when switching to 0.95.x. Thank you for bringing this up, I'll try to fix.

[2021-05-07 12:39] alexandra-c opened #4473 "Cannot use aliases on output object after an update with includeTriggerModifications set to true"
# Environment

Knex version:  latest
Database + version: MSSQL latest
OS: Windows 10

@smorey2

# Bug

I'm trying to update a table that has a trigger defined, and i need to define an alias for some of the columns including the primary key.

Here's my code:

[code]

I get the following error:
![image](https://user-images.githubusercontent.com/46926675/117450667-3796c300-af4a-11eb-9b8a-17ccbd62254a

[2021-05-08 02:01] waitingsong commented on #4460
also one query on case:  https://github.com/waitingsong/knex-demo/blob/master/packages/demo/test/12.knex.test.ts#L60

00: undefined
01: trx2
02: trx2
      1) 02

[2021-05-08 02:56] lautiamkok opened #4474 "Not compatible with Webpack 5"
There are tons of errors below when using it with Webpack 5:

[code]

[2021-05-08 08:23] cayter commented on #4447
I looked into the source code and found:

- the migrator is relying on [this](https://github.com/knex/knex/blob/master/lib/migrations/util/import-file.js#L10) to decide if it should use `import()` to load the `.ts` file.
- however, the [function](https://github.com/knex/knex/blob/master/lib/migrations/util/is-module-type.js#L3) it's relying on only works with `.mjs` file extension or we would need

[2021-05-08 08:27] cayter commented on #4447
I looked into the source code and found:

- the migrator is relying on [this](https://github.com/knex/knex/blob/master/lib/migrations/util/import-file.js#L10) to decide if it should use `import()` to load the `.ts` file.
- however, the [function](https://github.com/knex/knex/blob/master/lib/migrations/util/is-module-type.js#L3) it's relying on only works with `.mjs` file extension or we would need

[2021-05-08 10:09] kibertoad commented on #4447
@cayter Thank you for looking into it! Would you consider sending a PR for this?

[2021-05-10 08:06] felixmosh opened #4475 "Typescript: Can make a custom Client work with Config types"
# Environment
Node 14
Knex version: 0.95
Database + version: any
OS: any

# Bug
I'm working on a custom Client ([mockClient](https://github.com/felixmosh/knex-mock-client) for tests), there are 2 issues with types that are related to each other.

1. I must extend `knex.Client` but it is not exists in types
![image](https://user-images.githubusercontent.com/9304194/117625739-fe936400-b17e-11eb-8af3

[2021-05-11 08:25] KristjanTammekivi commented on #4474
I don't see how this is an issue with Knex? Isn't this just all about your own webpack config?

[2021-05-11 09:38] Erchoc commented on #4461
you are so funny.

[2021-05-11 10:05] kibertoad commented on #4461
@Erchoc It is the correct syntax, though. What is the problem that you have?

[2021-05-11 10:06] kibertoad commented on #4461
@elhigu I think what is meant here is this: https://www.w3schools.com/mysql/func_mysql_case.asp

And I don't think there is any built-in support for that, you'd have to use knex.raw

[2021-05-11 10:19] #4475 closed

[2021-05-11 20:46] kibertoad commented on #4472
This should be fixed now.

[2021-05-11 20:46] #4472 closed

[2021-05-11 23:38] acrosman opened #4481 "MySQL Back-end does not appear to escape ' in enum values."
# Environment

Knex version: 0.95.4
Database + version: MariaDB 10.5.9
OS: Windows 10

# Bug

When building tables with enum columns, providing a value list that contains `'` within the values results in a SQL Syntax error triggered by the `'`.  Taking the generated query and escaping the values results in a functional query.

## Resulting error:
Standard SQL Syntax error

## Reproducing code samp

[2021-05-12 12:05] ramos-ph commented on #4481
Hi, @acrosman ! Have you been able to solve your problem already?
I were able to reproduce the issue. It seems Knex itself is not handling the error, as it is thrown from the dialect module.
I'm trying to investigate and come to a solution as soon as possible!

[2021-05-12 12:25] ramos-ph commented on #4481
Found the issue on the compiler.
Here's an console.log:
[code]

[2021-05-12 12:50] acrosman commented on #4481
I slapped a slapped into my project cause I needed a quick solution, but it is not nearly as good as having it fixed in knex.

[2021-05-12 12:52] ramos-ph commented on #4481
A quick but dirty solution I found on your snippet is to write double backward dashes:
[code]
This causes the table to create but I am not sure enough how SQL will deal with that. I'm investigating it further

[2021-05-12 12:57] ramos-ph commented on #4481
The solution above worked, however:
![Screenshot from 2021-05-12 09-55-57](https://user-images.githubusercontent.com/50644753/117978496-51e4ee00-b308-11eb-8cb1-b3e068474bd4.png)

I'll try to fix on knex as well.

[2021-05-12 14:29] ramos-ph commented on #4481
Just fixed it! It's working properly now.
I'll open a PR and let you know ASAP.

[2021-05-12 14:51] ramos-ph commented on #4481
@acrosman Just opened a Pull Request to fix this. Mind giving it a look?
Thanks in advance! :smile:

[2021-05-12 15:04] sajid-ad commented on #3160
any update on this issue?

[2021-05-12 16:18] joshkay opened #4485 "MSSQL expose database connection"
# Environment

Knex version: 0.95.4
Database + version: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
OS: Windows 10

# Feature discussion / request

1. Explain what is your use case

I am currently looking at integrating `knex` into an existing nodejs application that uses the `mssql` library.
In order to use `knex` I need to create an additional connection to the database alongside the exi

[2021-05-12 20:13] jahudka commented on #2002
Hi, thanks everybody for your work! I'm mostly writing to add a "plus one" to show interest in this feature and to get notifications about further updates, but I also have a question which seems relevant enough to ask here: will this driver support specifying multiple hosts in the connection URL, similarly to what `libpq` allows?

TL;DR - In `libpq`-based clients one can specify multiple `host:por

[2021-05-12 20:21] kibertoad commented on #2002
@jahudka There is mostly complete support for pg-native: #4327

[2021-05-12 20:59] jahudka commented on #2002
@kibertoad yeah I know, but if I understand correctly, the `pgnative` driver, when finished, will be compatible with Postgres, but not with Cockroach (in the sense that it won't solve the problems that @intech's Cockroach driver discussed here solves), right? So I'll then have either the option to use the Cockroach driver, but only connect to a single configured node, or to use `pgnative`, but may

[2021-05-13 11:10] nicoburns commented on #4456
Don't have time to look into this properly right now. But this looks like a codegen bug in knex. `excluded.` is the postgres/SQLite syntax for getting at the conflicting row during an upsert. MySQL should be using `VALUES()`.

[2021-05-13 11:13] nicoburns commented on #4443
Perhaps it would be better to implement a general syntax for JSON queries? Index creation syntax would then fall out of that naturally. Objection.js has this: https://vincit.github.io/objection.js/recipes/json-queries.html

[2021-05-13 22:12] azebuji commented on #4395
I'm having the same problem, i'm using the transaction like this

` return await knex.transaction(async (trx) => {
      return 'teste'
    })`

   "inside of this code there are some rows, but I removed it for better comprehension".

   I tested a lot of times, and the pool is getting full and don't commiting the transactions, if I save the project when It running the commit occurs, I really don'

[2021-05-13 22:41] azebuji opened #4486 "Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
# Environment
I'm having the problem with pool full, but i'm using the commit and rollback and the auto-commit method, none of them have effects.

`return await knex.transaction(async (trx) => { return 'teste' }) `

"inside of this code there are some rows, but I removed it for better comprehension".

I tested a lot of times, and the pool is getting full and don't commiting the transactions, if I

[2021-05-14 03:08] Brainicism commented on #944
For anyone else running using this solution and running into memory leaks, yep. `mysql` appears to consume the exact same amount of memory as the size of the SQL dump being imported, and never releasing it. Gave up and just ended up using execing the `mysql` CLI instead

[2021-05-14 11:12] kamweti commented on #3678
@kibertoad could someone please merge the PR, its misleading that documentation states knex supports this feature when it doesn't

[2021-05-14 13:06] xiaoyu-tamu opened #4487 "[Typescript] support column alias without `knex.ref`"
# Environment

Knex version: 0.95.5

# Feature discussion / request

as version 0.95.5, the query `knex.select('id as identifier').from<User>('users');` will infer to any

It would be nice to use Template Literal Types parse column alias, someone already proof it can be  done, https://github.com/koskimas/kysely/blob/master/src/parser/select-parser.ts#L92-L102

1. Explain what is your use case

kne

[2021-05-14 13:39] 0neMiss opened #4488 "whereBetween and whereNotBetween returning innacurate results."
# Environment

Knex version: 0.95.4
Database + version: postgresql v13.3
OS: Windows 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I am trying to write a where clause that checks if lat lon coordinates are between a range of coordinates.

When I use a whereBetween on my minimum and maximum lat lon varibles it does the opposite of what I would expect t

[2021-05-17 06:31] elhigu commented on #4486
Can you provide the complete test code, how you are getting that error just by running that row of code?

[code]

If you are just looping over that line, you should not be getting that error.

[2021-05-17 08:58] elhigu commented on #4485
There is no plans to expose the connection pool through stable APIs, but it is found from `knex.pool` underlying mssql pool is not really used by knex, since knex uses Tarn.js pool and gets single connctions from db driver.

[2021-05-17 08:58] #4485 closed

[2021-05-17 15:53] azebuji commented on #4486
I'm having this erros in all my routes that have BD manipulation, when I login so many times in the same connection,
When I delete or save something in the system with the same transaction "trx".

this is one of my routes, this route is recover a password.

`export async function putSend(email: string) {

  try {

    const trx = await knex.transaction();

    return await trx<Login>('login').sele

[2021-05-17 16:25] elhigu commented on #4486
You need to isolate your failing code. This is still not reproducable. Closing as doesn't look like knex bug / cannot reproduce.

May be reopened if minimal reproduction is provided and there is reason to suspect that this is indeed a bug in knex.

See https://github.com/knex/knex/blob/master/CONTRIBUTING.md#what-is-minimal-code-to-reproduce-bug-and-why-i-have-to-provide-that-when-i-can-just-tell-

[2021-05-17 16:25] #4486 closed

[2021-05-18 17:01] rustamsmax opened #4490 "Feature request: Add opposite of select - EXCLUDE"
# Environment

Knex version: 0.95.1
Database + version:
OS: MAC

# Feature discussion / request

1. I've a table A which has a column Z of type tsvector

2. I want to exclude this column because it is used only for filtering

3. knex('table_name').select('*').exclude('column_name')

[2021-05-18 17:25] kibertoad commented on #4490
@rustamsmax Considering that it's impossible to generate SQL out of that (knex doesn't know which columns table has), that would merely be a postprocessing of data already retrieved, which sounds like something that would better be done with something like Ramda or Lodash.

[2021-05-18 19:17] rustamsmax commented on #4490
Oh. Certainly
Thank you

[2021-05-18 19:17] #4490 closed

[2021-05-19 01:05] saostad commented on #3975
I tried it with SQL server more than 100k records in a chunk and it failed, and the error message was too many parameters.
ended up setting chunk size to 80 to get it to work. it took 50 mins to finish the process.
with [windows bcp utility](https://docs.microsoft.com/en-us/sql/tools/bcp-utility?view=sql-server-ver15#D) it around took 20 seconds!
I did a quick search in [previous issues](https://g

[2021-05-19 07:12] kibertoad commented on #3975
@saostad PR for built-in batching functionality would be most appreciated. I believe there is a separate batch insert util included in knex, but I think it had some limitations.

[2021-05-19 09:57] jjshinobi commented on #4421
Have the same issue

[2021-05-19 10:35] kibertoad commented on #4421
@jjshinobi Would you be open to submit PR for this?

[2021-05-19 10:49] KristjanTammekivi commented on #4488
Weird, I tried it and it constructed the correct query, can you use runkit to create a minimal demo? https://npm.runkit.com/knex

[2021-05-19 14:56] ungrim97 opened #4492 "knex.ref() in .columnInfo query doesn't unpack the Ref object"
# Environment

Knex version: 0.95.4+
Database + version: Postgresql 9.6
OS: Alpine docker running on Mac BigSur 11.2.1

# Bug

1. The following knexQuery:

[code]

generates the following SQL and binds:

sql:
[code]

Binds:
[code]

2. Error message
```TypeError: select * from information_schema.columns where table_name = $1 and table_catalog = $2 and table_schema = current_schema() - Converting ci

[2021-05-21 14:27] newhouse opened #4495 "Same migration running twice...when `transaction: false`"
# Environment

Knex version: 0.21.12
Database + version: Postgres 12.6
OS: Linux

# Bug

We use K8S and leverage `initContainer`s to be responsible for running our migrations via `knex migrate:latest` when we deploy, before the pods running the new code are fired up.

If we have more than 1 pod, that means more than 1 `initContainer` will run. It is expected that 1 init container will be successfu

[2021-05-21 17:20] 0neMiss commented on #4488
I'll make one over the weekend thanks for looking for me!

[2021-05-21 18:31] 0neMiss commented on #4488
No need to investigate any further I figured it out, my input was just incorrect. Sorry for the confusion.

[2021-05-21 18:31] #4488 closed

[2021-05-23 09:38] Kostanos commented on #701
I've inspired by @NathanJPhillips and created the Gist for PostgresQL - https://gist.github.com/Kostanos/2c12029a3d917d26c2333463016a62bc

[2021-05-24 09:24] KristjanTammekivi commented on #4495
Do you have readinessprobes on the pods?

[2021-05-24 09:35] KristjanTammekivi commented on #4495
What I was thinking was that maybe the first pod became ready before the migrations are done, but no, initcontainer should be finished before that happens, right?

[2021-05-24 10:42] TheNoim commented on #3987
Oh man, this blocks the implementation of generated columns in [mikro-orm](https://github.com/mikro-orm/mikro-orm/issues/1623#issuecomment-826073752). I hope one day we will get generated columns support.

[2021-05-24 10:51] kibertoad commented on #3987
@TheNoim Would you consider contributing PR for this?

[2021-05-24 10:54] TheNoim commented on #3987
The thing is, I already implemented generated columns for typeorm. I learned some things about it. I can't promise it, but at least I will try looking into it. First, I need to take a closer look at knex in general to understand how it works.

[2021-05-24 13:39] newhouse commented on #4495
I believe that that the `initContainer`s run and must exit successfully **_before_** the nodes in the Pod will be started up. But, as I mentioned, we have 2 Pods so each has an `initContainer` that runs at roughly the same time.

[2021-05-25 07:06] ungrim97 commented on #4495
@newhouse Have you tried this against the latest version of KnexJS (0.95.5)?

[2021-05-25 16:38] mrdnote commented on #4421
I created a pull request for this: https://github.com/knex/knex/pull/4500

[2021-05-26 05:25] akay0214 commented on #852
works for me

[2021-05-26 10:57] Bessonov commented on #4117
@kibertoad at least from source code - no, only isolation level was implemented.

[2021-05-26 22:36] chb0github opened #4503 "Augment the DB metadata table"
# Environment

Knex version: 0.96.6
Database + version: N/A
OS: N/A

# Feature discussion / request

1. `Explain what is your use case`: *To prevent and detect out-of-tool tampering with the DB*
2. A metadata table, though useful, is insufficient for auditing purposes. Being able to traceback the entire execution change is useful for security and accountability.

3. Give some API proposal, how the

[2021-05-26 22:38] chb0github opened #4504 "[Feature]: State assertion, dependency traversal"
# Environment

Knex version: 0.96.6
Database + version: N/A
OS: N/A

# Feature discussion / request

1. `Explain what is your use case`: *To prevent and detect out-of-tool tampering with the DB*
2. A metadata table, though useful, is insufficient guarantee that a migration should be run, and will do as expected, and doesn't  supply enough audit information. There are more reliable ways to achieve

[2021-05-27 09:10] Taha-Firoz commented on #4097
I'm building for google cloud functions and running into these TSC errors, anyone have an idea how to fix it?
[code]

[2021-05-27 10:28] kibertoad commented on #4097
@Taha-Firoz Which knex version and what TypeScript version? Also this seems like a different issue, could you please open separate ticket for this?

[2021-05-27 14:58] Taha-Firoz opened #4507 "Type Errors on TSC"
# Environment

Knex version:`"^0.95.6"`
Database + version: Postgresql 12
OS: PopOS! 20.10

@lorefnon.

# Bug

1. When I go to deploy my Firebase server-less function `tsc` is invoked after which the errors occur.

2.
[code]

3. This is a compile time issue, I have only one line
[code]

[2021-05-27 15:05] Taha-Firoz commented on #4097
@kibertoad [Done](https://github.com/knex/knex/issues/4507)

[2021-05-27 15:16] kibertoad commented on #4507
@Taha-Firoz Most likely you are running outdated TypeScript version. Please check the [Migration guide](https://github.com/knex/knex/blob/master/UPGRADING.md)

[2021-05-27 20:22] Taha-Firoz commented on #4507
Oh! I'm running `3.8.0` I wasn't aware of that. I'll update my typescript version and get back to you!

[2021-05-28 14:25] vladshcherbin commented on #4133
I'd second this feature.

My use case is to select rows where boolean is `null` or `true` (not `false`). Using `whereNot('column', false)` will produce `where not "column" = false` which won't return rows with a null value.

To overcome this issue, query has to be `where "column" IS NOT FALSE` or `where "column" IS DISTINCT FROM FALSE`.

I believe currently there is no method for this except `wher

[2021-05-29 14:02] viniciusnazario opened #4509 "[MSSQL] Support: NOLOCK on sql server"
### Environment
Knex version: 0.96.6
Database + version: MSSQL 18
OS: N/A

Hello! Is there any support for using nolock for sql server on knex?
I need to use it for heavy queries. Thank you for your attention!

[2021-05-31 20:19] laktak opened #4510 "insert().onConflict().ignore() returns Response instead of any[]"
# Environment

Knex version: 0.95.4
Database + version: Postgres 13
OS: Linux/Arch

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

According to Typescript the return type of this should be `any[]`

[code]

but `console.log(c)` prints

[code]

I am trying to determine if a row already existed or a new one was created.

Looking for `rowCount` I guess that `p

[2021-06-01 13:19] kibertoad opened #4511 "Add support for better-sqlite3"
See https://github.com/JoshuaWise/better-sqlite3

[2021-06-02 13:10] vdimitrieski opened #4512 "Aurora MySQL Data API - migration fails on knex_migrations insert step"
# Environment

Knex version:  "0.95.6",
Database + version: Aurora MySQL 5.7 Serverless accessed through Data API
OS: Ubuntu 20.04
Client: "knex-aurora-data-api-client": "1.5.4",

# Bug

_1. Explain what kind of behaviour you are getting and how you think it should do:_
When trying to run a migration to create a simple table, it fails on inserting a tuple into the knex_migrations table. After the

[2021-06-02 14:24] azban commented on #4447
not sure this is totally relevant, but seems like https://github.com/cfware/get-package-type#readme may be a robust alternative to using npm_package_json.. especially given that the yarn 2 core dev(s?) seem opposed to adding that variable. as a result, i'm guessing this is currently broken with yarn 2.

see:
- https://github.com/yarnpkg/berry/issues/1659#issuecomment-770465913
- https://github.com

[2021-06-02 19:42] vdimitrieski commented on #4512
It was due to a bug in the driver https://github.com/markusahlstrand/knex-data-api-client/issues/62

[2021-06-02 19:42] #4512 closed

[2021-06-02 22:52] rhazegh commented on #1488
If you are using PostgreSQL 13 and want to use UUID V4, you no longer need to use `uuid-ossp` extension.

So you could write:

[code]

`gen_random_uuid()` function returns a version 4 (random) UUID.

[2021-06-03 20:36] whitelynx commented on #4002
Just to follow up here, it looks like the above gist turned into a full project: https://github.com/htunnicliff/knex-snowflake-dialect

[2021-06-04 19:36] JefferyHus opened #4513 "[BUG] Converting circular structure to JSON"
# Environment

Knex version: 0.95.6
Database + version: Mysql 5.7
OS: Linux

# Bug

1. Explain what kind of behavior you are getting and how you think it should do
[code]
This should return something of this SQL query string
[code]
But instead I am getting this
[code]

2. Error message
I am getting this error message `Converting circular structure to JSON` this is thrown because of `knexql.raw('RE

[2021-06-04 19:45] kibertoad commented on #4513
it appears that some of the params you are passing are complex objects. check them and convert up-front.

[2021-06-06 17:08] DominicRoyStang commented on #3866
Going to close this issue, as I've started using ECMAScript Modules (which don't support `NODE_ENV` either)

[2021-06-06 17:08] #3866 closed

[2021-06-06 23:05] code-ape opened #4514 "Expand withRecursive database support via supporting column name declarations"
# Environment

**Knex version:** 0.95.5
**Database + version:** Sqlite 3.x, Oracle 18c, Postgres 13.x, SQL Server 2016
**OS:** Ubuntu Linux, Windows Server

# Feature discussion / request

1. Explain what is your use case

I need support for recursive `WITH` syntax on Oracle DB and SQL Server in addition to Sqlite and Postgres. All four databases support recursive CTE `WITH` statements so this is

[2021-06-06 23:42] JefferyHus commented on #4513
Not really complex
[code]

[2021-06-07 08:20] elhigu commented on #4513
@JefferyHus Yep Looks like update doesn't support passing raw directly to it. But the query in your example should actually output

[code]

or maybe:
[code]

So it is some unspecified functionality and your query has a bug.

This should create correct query for you:
[code]

[2021-06-07 08:20] #4513 closed

[2021-06-08 07:45] douglas-treadwell opened #4516 "Feature request: model definitions and auto-migrations"
# Model definitions and auto-migrations

I'm comparing using TypeORM, Sequelize, and Knex.  Knex has the best query builder interface, so I'd like to use Knex.  However, TypeORM and Sequelize conveniently provide a model definition mechanism and auto-migrations, and Knex does not.

1. Explain what is your use case

I'd like to be able to define models because a) it would give me one place where th

[2021-06-08 07:55] kibertoad commented on #4516
Have you considered MikroORM and/or Objection.js? Both come with models and increased amount of batteries, but also expose knex API you can always hop on when need be.
knex itself will never have neither models, nor schema generation. It is just a SQL builder.

[2021-06-08 07:58] douglas-treadwell commented on #4516
@kibertoad Thanks for the tip!  Objection doesn't fit the style I'm looking for, but MikroORM is looking good so far!

[2021-06-08 09:22] #4516 closed

[2021-06-08 13:08] Zyles commented on #3523
I got this problem today.

If I use pooling and let the app sit for a couple of hours, then make a request I get "Connection Error: Connection ended unexpectedly". After that first failing request the second request works.

[2021-06-08 13:14] RodolfoSilva commented on #3523
@Zyles, I've the same problem.

[2021-06-09 07:07] Kematia opened #4517 "Knex migrate:* attempts to load '.d.ts' files"
# Environment

Knex version: 0.95.6
Database + version:
OS: Ubuntu via WSL2 (Win 10)

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @lorefnon .

Reproducible repo: https://github.com/Kematia/knex-loads-types

# Bug

1. Explain what kind of behaviour

[2021-06-09 11:01] fkaempfer opened #4518 "Small possible issue with Typescript definitions in onConflict when using knex.raw"
# Environment

Knex version: 0.95.6
Database + version: PostgreSQL 13
OS: Linux

If issue is about TypeScript definitions, tag @lorefnon

# Bug / Maybe Feature request

1. Explain what kind of behaviour you are getting and how you think it should do
In PostgreSQL it is possible to use expressions in the ON CONFLICT target clause, for instance ON CONFLICT ("name", COALESCE(table_id, -1)). This is p

[2021-06-10 06:21] ewax opened #4519 "Error [KnexTimeoutError]: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
# Environment

Knex version: "^0.95.6"
PG: "^8.6.0"
Next: "^10.2.3"
OS: macOS

# Bug

I'm working several months on my project. Since yesterday I get suddenly the error: "Error [KnexTimeoutError]: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?".

I've seen that others had similar issues with node 14 and knex <8.X. But I'm not using these

[2021-06-10 15:32] asteinarson commented on #4516
I add here a schema management tool [knemm](https://github.com/asteinarson/knemm) I'm working with, running on top of Knex.

It allows for declaring and manipulating schema in simple YAML. It is also two-way, so one can generate YAML from existing databases.

[2021-06-10 15:37] kibertoad commented on #4516
@asteinarson Looks cool! Would you consider adding it to knex ecosystem doc? https://github.com/knex/knex/blob/master/ECOSYSTEM.md

[2021-06-10 15:56] asteinarson commented on #4516
Absolutely! I was searching for something like that.

I will likely come back with comments / issues, as I've used knex schema
functions quite a bit in the tool.

Thanks,
Arne S.

On Thu, Jun 10, 2021 at 5:37 PM Igor Savin ***@***.***> wrote:

[2021-06-10 17:14] karthikep commented on #913
For anyone who is struggling with this issue, here's my workaround,

1. Create a query that would return an empty set
`
let query :Knex.QueryBuilder;
query.from('<tableA>').select('*').whereRaw('1 = 0');
`

2. Then, add the queries for the rest of the tables to this query using **unionAll**
`
query.unionAll(function () {
        query.from('<tableA>').select('*').where('<condition>').groupBy('<col

[2021-06-10 18:04] mohannad-musleh commented on #707
Is it possible to cancel the query manually?

for context:
I'm building a desktop application using electron js, and i need to give the user the capability to cancel the running query

[2021-06-11 04:13] manjuhubballi02 opened #4521 "How do i get MySQL connectionId using knex npm package while establishing the connection?"
let data = require('knex')({ client: 'mysql', connection: { host: 'localhost', user: 'root', password: 'root', database: 'aaaaaa', charset: 'utf8' }, pool: { min: 1, max: 20, destroyed: true }, })

this is my connection request. how do I find a connection id for this?

[2021-06-11 20:34] joshgo opened #4522 "How to add FORCE_LEGACY_CARDINALITY_ESTIMATION for MSSQL ?"
One of the projects I am working has a SQL call that use the OPTIONS statement at the bottom of a complicated query. Without falling back to raw sql mode, how do I specify the OPTIONs using the knexjs QueryBuilder?

For example, suppose I had this SQL statement that I want to write in Knex:

[code]

The select statement would look like:

[code]

Now, the QueryBuilder has an options() function, but

[2021-06-12 14:00] aidenfoxx commented on #4013
@msudhayaraj Did you ever find a solution to the concurrency issue? I'm currently facing the same thing with a knex in a CMS I'm testing out. It tries to make concurrent updates to a row, but the table gets locked and knex hangs.

[2021-06-12 20:44] kibertoad commented on #4013
@aidenfoxx Unfortunately, I don't have access to an Oracle DB right now, and setting up one locally is very tricky. If you could investigate this issue further and propose a fix, that would be appreciated very much.

[2021-06-12 21:21] aidenfoxx commented on #4013
@kibertoad If you want an easy OracleDB instance, I recently set up `knex-schema-inspector` with a container for integration testing. I've been using that when I want to easily spin up and tear down an instance.

But I will continue digging into this at some point.

[2021-06-12 22:58] guntribam commented on #2262
Please @elhigu accept the pull request. I'm using an ORM build on top knex(lucid) and without this i lost a great power. Please reconsider

[2021-06-13 01:46] Mahdhir commented on #4517
I can look into this.

Any guidance on where I should get started will be appreciated.

[2021-06-13 12:49] Ahacad opened #5911 "Add `port` to connection"
I tried a non-standard port and it can be used in knex, and I think it may be better to list the port option in the doc.

[code]

[2021-06-14 03:08] dadiorchen opened #4523 "Knex can not get the newest data after update."
# Environment

Knex version: knex@0.21.5
Database + version: Postgresql 11
OS: MacOS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
  New connection got stale data from DB, the code sequence is:
  1. Update table1 (await the promise to be solved)
  2. Get a new knex connection, the way to get the connection is below:
[code]
  3. Select data from the table

[2021-06-14 11:08] elhigu commented on #4523
Please add complete reproduction code. Doesn't sound like a knex issue. You should not even need to set `TRANSACTION ISOLATION LEVEL SERIALIZABLE` to haave that cycle work where you do update, commit, select and have the latest data in select.

postgresql is ACID so so that guarantees that after the transaction where update is made is committed the next select will return the updated data.

Closin

[2021-06-14 11:08] #4523 closed

[2021-06-14 19:26] aidenfoxx commented on #4076
After digging into this issue I have some unfortunate findings. Firstly that the code which sets `UV_THREADPOOL_SIZE` doesn't work, and will actually set a `UV_THREADPOOL_SIZE` of NaN since `this.driver.poolMax` is undefined. I assume the correct value should be `this.pool.max`.

However, this doesn't really matter since `UV_THREADPOOL_SIZE` is ignored unless its set before execution. At least on

[2021-06-14 20:02] rijkvanzanten opened #4524 "dropColumn doesn't remove foreign key constraint in SQLite"
# Environment

Knex version: 0.95.6
Database + version: SQLite 3.31.0
OS: macOS 11.4

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using `dropColumn`, any existing foreign key constraints are copied over to the temp table. This causes it to attempt to create a foreign key constraint for a field that isn't included in the create table sql.

2. Error

[2021-06-15 07:27] Kematia commented on #4517
I've set up a repo to reproduce the error: https://github.com/Kematia/knex-loads-types

[2021-06-15 08:37] Mahdhir commented on #4517
@Kematia
I added `loadExtensions:['.js']` to knexfile.js and your repo worked without producing an error.

[code]

And I had to install `ts-node` as well.
Not exactly sure if this is a bug or expected behavior

[2021-06-15 08:52] dadiorchen commented on #4523
@elhigu Thanks, yes, eventually I found the problem, it's not a problem of knex, I can put my problematic code here to give people a bad case:
[code]

Here `res` is `Express` response object. So I commit the database transaction too later, when I move the below line to the above, I get the correct result.

[2021-06-15 09:58] Kematia commented on #4517
`loadExtensions:['.js']` seems like will fix my issue! Thank you :)

I do think that knex trying to load `.d.ts` files is a bug, it should try to load either `.ts` or `.js` files.

[2021-06-15 10:30] elhigu commented on #4517
Yep... this issue actually yells for support to give regexp style matching to allow more complex load patterns.

Current config doesn't allow to distinguish for example  `.generated.js` and `.d.ts` from desired `.js` and `.ts` files

[2021-06-15 11:49] codestrong commented on #4141
Same issue here. Using Directus.io (which uses knex) on DigitalOcean and MySQL 8. I hope this gets fixed soon.

[2021-06-16 09:05] atiertant commented on #4076
@cjbj @kibertoad in our tests, if `UV_THREADPOOL_SIZE` wasn't set correctly, some transaction never finish without any error.
maybe driver has change...
see https://github.com/oracle/node-oracledb/issues/395

[2021-06-16 09:53] aidenfoxx commented on #4076
@atiertant I also experienced this. And the suggestion in that thread about releasing the connection doesn't help.

For better debugging I replaced the tarn pool with the default oracle pool for the oracledb dialect, with explicit connection releasing whenever anything finishes. The connections would still lock up as soon as the pool exceeded the `UV_THREADPOOL_SIZE`.

Feels to me like this is an

[2021-06-16 12:47] cjbj commented on #4076
@aidenfoxx @atiertant You definitely need UV_THREADPOOL_SIZE set correctly - at the right place and right value.  Some users have (had) it quite high to cope with code that tries constructs like `Parallel.all()` on a single connection.  In node-oracledb 5.2 the [execution queue enhancement](https://github.com/oracle/node-oracledb/commit/6700e39f645c956f3d9a503e0eaef80340598177) can help reduce the

[2021-06-16 13:09] timd73 opened #4525 "pool.idleTimeoutMillis not working, idle connections never seem to time out"
# Environment

Knex version: 0.95.6
Database + version: PostgreSQL 13.2
OS: MacOS

# Bug

I am trying to set a low idle timeout for the connections in the pool.
I am using knex like:

[code]

No matter what I set for `idleTimeoutMillis`, the idle connections show up in postgres for a long time.

I am checking those with

`SELECT * FROM pg_stat_activity WHERE datname = 'DATABASE_NAME'`

When I do s

[2021-06-16 13:19] elhigu commented on #4525
I have no idea if pool (Tarn) is actually set to destroy discarded connections... should be verified from code what is done for them. Pg's pool is not used by knex so it has nothing to do with this issue.

[2021-06-16 13:36] timd73 commented on #4525
@elhigu , I know that Pg's pool is not used by knex. I was giving that information point just for comparison.
If Tarn's pool is not set to destroy idle connections, what's the meaning of the (documented) `idleTimeoutMillis` setting on the pool?

tarn docs say
[code]
I also tried setting `reapIntervalMillis` but it didn't have an effect.

[2021-06-16 13:46] timd73 commented on #4525
Found the issue.
I need to set `max: 0` on the pool if I want it to destroy all idle connections.  I think this is very unintuitive behavior on Tarn's part but I guess it's according to spec.

[2021-06-16 13:46] #4525 closed

[2021-06-16 14:01] elhigu commented on #4525
`max: 0` is not the config you should be setting... it should be `min: 0` which allows all idle connections to be removed from pool..

It would be really unintuitive if all connections would be cleaned up from pool if configuration says that it should keep e.g. minimum of 5 connections there.

[2021-06-16 14:29] timd73 commented on #4525
I meant min, of course.  I see what you mean, on the other hand, timing out idle connections could be done regardless. I guess because I didn’t specify a min, and apparently it defaults to 2, it seemed unintuitive to me. But you’re right that if I specified min, I’d expect idle connections up to the min to persist.  Not sure I understand why the default would be 2.  Seems like it should be 0.

[2021-06-16 14:37] Isaquedias opened #4526 "set Postgres date/time"
# Environment

Knex version: 0.21.19
Database + version: PostgreSQL 9.6.20
OS: (Ubuntu 9.6.20-1.pgdg18.04+1)

# Feature discussion / request

I need to pass a configuration to the imported Postgres instance, which is inside the file "node_modules\knex\lib\dialects\postgres\index.js"
on line 49
" var pg = require('pg');
    var types = pg.types;
    types.setTypeParser(1114, function (stringValue)

[2021-06-16 15:55] elhigu commented on #4525
Roger 👍 makes more sense.

That is basically the only thing where `min: 0` configuration has an effect on. So if they would be timed out regardless of `min` value, the whole setting should be removed, since it would not do anything.

I agree that 0 would be better default for it. It is 2 because of historical reasons when different pools were used, which also did behave in different manner when in

[2021-06-16 21:33] rijkvanzanten commented on #4518
The same problem applies to a couple other places where .raw can be used as a drop-in replacement for a string identifier, like all the `where*` methods

[code]

[2021-06-18 00:05] SephReed opened #4528 "Wall of issues when using typescript"
[code]

For whatever reason `skipLibCheck: true` is not enough to make this go away.

[2021-06-18 06:10] kibertoad commented on #4528
Which TypeScript version?

[2021-06-18 09:47] Warkanlock commented on #3523
I'm on the same boat as everyone here, first request fails but after that everything works as expected

[2021-06-18 16:19] SephReed commented on #4528
4.3.2 in my workspace, just realized `tsc` was using a global version that was old as dirt.

Thank you.

[2021-06-18 16:19] #4528 closed

[2021-06-18 16:23] kibertoad commented on #4528
np!

[2021-06-20 11:35] mauriop commented on #4470
Really useful if this is going to be supported!
@newhouse what is the workaround that you followed for it?

[2021-06-20 11:44] rizkyramadhan commented on #3523
Do you have any idea how to fix this from the root cause ?

[2021-06-20 13:14] Warkanlock commented on #3523
I was really packed at work that day, but I can try to dig into today and see what I can do

[2021-06-20 13:17] Warkanlock commented on #3636
**This could be related to this issue**
https://github.com/knex/knex/issues/3523#issuecomment-864553289

[2021-06-20 14:27] Warkanlock commented on #3523
I might have found something, correct me please If I'm wrong because this is my first time digging the code:

On the method ``acquireRawConnection()`` on ``postgres/index.js`` dialect, we are using an event handler for the event type "**end**" which I think is incorrect because we dispose of the error to the pipe think this cause the "idle" error we currently see (correct me here If I'm wrong and

[2021-06-20 15:33] fdevibe opened #5912 "Move IRC channel to a different network"
Given the recent decline of Freenode (https://en.wikipedia.org/wiki/Freenode#Ownership_change_and_conflict, https://arstechnica.com/gadgets/2021/05/freenode-irc-has-been-taken-over-by-the-crown-prince-of-korea/), it would be useful to move the IRC channel to a different network. Freenode has also banned IRCCloud in its entirety, so as an IRCCloud user I can no longer join IRC channels on Freenode.

[2021-06-20 17:37] rizkyramadhan commented on #3523
Wow, this is great start. This week I don't have any bandwidth to do the digging, pardon. This bug is hard to replicate because we have to wait for the timeout, we don't have any reliable way to confirm whether this is fixed or not... Maybe we can take look another postgres library how they did the pool ?

[2021-06-20 21:25] intech commented on #3523
I know of an easy way to reproduce this error, since I forward the remote port via ssh from the server, then I just interrupt the forwarding and start reconnect. I suppose the same behavior will happen with a simple restart of the database.

[2021-06-20 22:07] intech commented on #2002
@jahudka don't worry about streaming, cockroach doesn't support it.

You are right, pg does not have the ability to pass a list of nodes, and I agree that this should be added to the pg package. The problem is in the architecture of different databases using the same postgres dialect, that not all of them work in master-master mode and failover will be different.
We need to take as an example the

[2021-06-21 00:01] Warkanlock commented on #3523
I could reproduce the error emulating a postgresql database based on @intech comments (but here it's 100% offline)

Steps to reproduce the bug:

1- Emulate and expose a Postgres instance using ``docker-compose``

[code]

2- Run a Node.JS script with a ``setInternal()`` to hit the database constantly while **we are doing step 3**

[code]

2- Run, as a superuser, this query (will shutdown all connec

[2021-06-21 02:01] newhouse commented on #4470
I eventually homed in on this explanation in the docs that pointed out that, starting with Postgres 12, the rules about "materializtion" of CTEs changed: https://www.postgresql.org/docs/12/release-12.html

In particular, I found this line interesting:

Since knex would not currently let me add the `MATERIALIZED` modifier/keyword, I focused on the `"referenced only once"` statement, and triggered t

[2021-06-21 05:03] jpike88 opened #4531 "Thrown undefined bindings promise does not carry the full stack in the error"
# Environment

Knex version:0.95.6
Database + version:mysql 5.6
OS:macOS

This is a big issue that ends up wasting a lot of time fishing in production code for a specific query, rendering any error reporting tools next to useless.

I deliberately make this void line to force an uncaught promise:
<img width="723" alt="Screenshot 2021-06-21 at 11 53 22 AM" src="https://user-images.githubusercontent.

[2021-06-21 15:52] vy-ton commented on #2002
@intech If you have time over the next few months to work on the CockroachDB support, I would like to discuss a sponsorship opportunity.

[2021-06-21 16:55] intech commented on #2002
Wow, this is unexpected! I have interests to be closer to Cockroach Labs, let's continue communicating by [email](mailto:ru31337@gmail.com) (we have already communicated with Andy, Rafi and Jesse earlier).

[2021-06-21 18:28] FelipeEmerim commented on #4526
If you want to override a type parser, you can do that before initializing knex in your code.

[code]

[2021-06-21 18:39] rizkyramadhan commented on #3523
@Warkanlock use [patch-package](https://www.npmjs.com/package/patch-package).

[2021-06-21 21:12] rizkyramadhan commented on #3523
Wow, if you fixed it, can you share the .patch file in patches directory ? That file is generated by patch-package.

[2021-06-21 21:22] kibertoad commented on #3523
@Warkanlock Wouldn't it be better to fix the problem upstream in the library itself? What changes are you doing via that patch?

[2021-06-21 21:34] Warkanlock commented on #3523
I didn't use ``patch-package`` but ``npm link`` instead, I'm doing a PR with the changes but before pushing something. I'm looking for advice here, quite unsure about the results. I don't know at 100% if this is the way to replicate the issue (despite the fact the errors return the same message and status) nor if this bug is the bug we all saw before.

But here a demonstration of the connection re

[2021-06-22 12:13] NelsonFrancisco commented on #3523
@Warkanlock thank you so much for the insight and provided solution. As far as I can help, I've made some tests.

- I was previously using postgres 12, but instead made the tests with version 11, so we are on the same page;
- Same knex configuration;
- I ran the tests in a similar environment as you: making requests within an interval. I had more intervals, that's the only difference;

Results: ex

[2021-06-23 09:41] acro5piano opened #4533 "`__knexQueryUid` is missing for arguments of schema creation event listener"
# Environment

Knex version: 0.95.6
Database + version: SQLite3
OS: Arch Linux

# Problem

I would like to create a logger to log schema migration commands. However, `__knexQueryUid` is missing for arguments of schema creation event listener. Is this expected?

### Reproduction

[code]

![image](https://user-images.githubusercontent.com/10719495/123074968-bd1af780-d452-11eb-8152-d55daf928da2.png)

[2021-06-23 16:10] HappyZombies commented on #3538
Has there been any update on a "fix" for this if even possible? It's been 2 years since a comment or status...

[2021-06-24 12:33] sahil-syze commented on #2529
@tgriesser I think this might not be working anymore. In this age, whenever I come across any website which is not SSL secured, I feel that this website/product is of low quality due to the way browsers present these non-SSL sites.
Same thing happened with me today, when I came from google to **http**://knexjs.org.
Later I realized that knexjs is a huge library for nodejs db after looking at your

[2021-06-24 16:49] idelMojahid commented on #732
Vamos @machineghost  🦾🦾🦾🦾

[2021-06-24 21:53] vpeltola opened #4535 "Add DPI error codes to isConnectionError() function for oracle"
# Environment

Knex version: 0.21.19
Database + version: Oracle 19c
OS: Oracle Linux Server release 7.8

@atiertant

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
When a database connection is lost, the automatic reconnect is no longer working, for example when I'm using knex.raw('select ...', ...) method.  Until just recently knex was able to reconnect to

[2021-06-25 00:31] Lvl4Sword commented on #2529
https://hstspreload.org/?domain=knexjs.org doesn't show the site being preloaded nor redirecting from HTTP, as well. Though in Firefox it redirected to HTTPS. The preloading is still a good idea though.

[2021-06-25 14:46] CountRochester commented on #2762
find the answer: use
`wrapIdentifier: value => value`
in options when you initialize the knex:
[code]

[2021-06-25 20:37] vpeltola commented on #4535
Note this problem only starts when using the oracledb 5.2.0 or higher node module.  Downgrading oracledb to 5.1.0 is a solution that works, too, because the new DPI- error codes were only introduced in 5.2.0.

[2021-06-25 20:38] kibertoad commented on #4535
@vpeltola Would you be open to submit a PR for this?

[2021-06-25 21:47] vpeltola commented on #4535
@kibertoad sure, I can do that.

[2021-06-25 22:03] vpeltola commented on #4535
I have created PR https://github.com/knex/knex/pull/4536

[2021-06-25 22:33] cskeogh opened #4537 "Unable to CREATE USER with password using raw - syntax error at or near "$1""
# Environment

Knex version: 0.95.6
Database + version: postgres 13.3.2
OS: Windows 10

# Bug

1. Unable to CREATE USER with password using `.raw`. Expected result is new user created.

2. Error message

[code]

3. Reduced test code:

[code]

Thank you for Knex.js!

[2021-06-26 16:01] elhigu commented on #4537
Looks like postgresql doesn't allow using parameter bindings for setting password of an user. So you need to validate password not being malicious and include it as part of sql string.

Closing as not being bug.

[2021-06-26 16:01] #4537 closed

[2021-06-26 18:00] kieranmaine opened #4538 "CLI fails when running typescript migrations without a knexfile"
# Environment

Knex version: 0.95.6
Database + version: sqlite3
OS: windows

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When running typescript migrations without a `knexfile.ts` file the migrations fail. The failing command is:
[code]
2. Error message
[code]

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   datab

[2021-06-26 21:43] elhigu commented on #2762
@CountRochester some cases might work like that, but other places, which relay on parsing `<table_name>.<column_name>` semantics and then use those parts separately in other parts of the query may fail.

[2021-06-28 05:46] jpike88 commented on #4531
@kibertoad thoughts?

[2021-06-28 05:53] andykapteyn opened #4539 "Unable to disable transactions on a per migration basis when using knex migrate:up"
# Environment

Knex version: 0.95.6
Database + version: PostgreSQL 10.15
OS: WSL: Ubuntu-18.04

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm trying to run a migration using `knex migrate:up` with transactions disabled by including `export const config = { transaction: false };` (as documented here: http://knexjs.org/#Migrations-API-transactions) but

[2021-06-28 06:51] joselcvarela commented on #4524
I am experiencing this too.

I found no constraints are being removed on drop column:

https://github.com/knex/knex/blob/22002fd8de440fe5e94ce189307d5aa5d6058f41/lib/dialects/sqlite3/schema/ddl.js#L290-L335

The query result of asking the table schema to SQLite is something like this:
[code]

But `dropColumn` method don't search in contraints.

[2021-06-28 20:44] elhigu commented on #4526
This feature is out of scope of knex. Each DB driver has their own methods how to setup parsing values from SQL to javascript values.

Something like what @FelipeEmerim is suggesting works for postgresql. `pg = require('pg'); pg.types.setTypeParser()`

[2021-06-28 20:44] #4526 closed

[2021-06-29 01:30] wwei-flux commented on #2378
How to turn on native SQL logging for all knex queries? The `knex.on(’query’, ...)` event passes an `data` parameter which doesn't have the `toSQL` method.

[2021-06-29 09:05] elhigu commented on #4462
I don't think knex should try to emulate features of different databases under a single API unless those features are next to trivial to implement.

I have been thinking already years that the migration/schema building engine should be out of scope of knex query builder and have their own project(s). Schema builder already breaks one of the knex's basic design principles by using multiple queries

[2021-06-30 07:08] sprusr commented on #3578
Hey, digging this issue up again. I have pretty much the same use-case with rotating creds. Currently the only reliable way I've found to expire connections using stale creds is to `.destroy()` and `.initialize()` the connection pool.

I think the [proposed solution](https://github.com/dsbrgg/knex/blob/connection-timeout/lib/client.js#L266-L309) three comments above is a very reasonable one, and s

[2021-06-30 08:07] LeopoldBriand opened #4545 "Property 'collate' does not exist on type 'ColumnBuilder'"
# Environment

Knex version:  0.95.6
Database + version: mysql 2.18.1
OS: Linux

# Bug
Hello,
Typescript says that the 'collate' property is not exposed by the Column builder class. While the documentation suggests the opposite: https://knexjs.org/#Schema-collate .
Here the issue on VSCode:
![image](https://user-images.githubusercontent.com/53423281/123923910-bd9f1b00-d989-11eb-9b88-9e716a77f470.p

[2021-06-30 08:42] LeopoldBriand commented on #4545
I am working on solving this but a few questions come to mind:
Is it better to have a specific type informing the supported collates like :
[code]
And then :
[code]
in ColumBuilder interface ?

Or just :
[code]
in ColumBuilder interface ?

[2021-06-30 12:05] elhigu commented on #3578
@sprusr I don't like that expiration checker way of implementing it.  It is really limited and seems hacky.  Just allowing that the configuration is a callback function returning configuration object or a promise resolving to configuration object should be enough for knex to know when the configuration is changed and requires reload (just simply by comparing identity of old configuration and the o

[2021-06-30 12:35] sprusr commented on #3578
@elhigu not sure I agree that the `expirationChecker` is limited or hacky, but certainly comparing what is returned/resolved from `connection` callback would also work nicely. Although I expect that currently in many uses of Knex, people are doing quite heavy lifting in that async `connection` function, expecting it to be called very rarely or even only once. In that respect this could be consider

[2021-06-30 14:09] elhigu commented on #3578
If there is too much heavy lifting done, then they should add cache to it.

I thought knex didn't allow passing function to connection object yet. If it already is like that then yeah, it will be a breaking change, but still easy to fix with any memoize helper.

[2021-06-30 16:19] adrianhelvik commented on #3876
I did build an async iterator extension. I didn't manage to assign `Symbol.asyncIterator` to the iterator, so it is assigned to the query builder instance through `builder.asyncIterator()` instead. Not a big deal, and this works well for my use case. But it would be very nice to be able to do `for await (const x of knex('x')) {}`.

**Implementation**
[code]

**Usage**
[code]

[2021-06-30 19:19] pranavsreedhar92 opened #4546 "Knex insert with ignore not working for partial index."
# Environment
Production
Knex version: 0.95.5
Database + version: psql (10.17 (Ubuntu 10.17-1.pgdg20.04+1))
OS:
Ubuntu
Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Implementing knex insert with ignore functionality.

2. Getti

[2021-07-01 06:58] sprusr commented on #3578
There's a section under here, 8th code example down: https://knexjs.org/#Installation-client

Just to give as much context as possible: that example is also again the use-case which I'm working with here, that the creds expire after some time. The trouble with the example is that open connections continue to be used, and the way that my credentials are expired are just that privileges for that use

[2021-07-01 15:11] cozzbie commented on #2387
Was a PR ever created for this?

[2021-07-01 16:08] michaelbrewerdavis opened #4551 "migrate:up not respecting disabled transactions"
# Environment

Knex version: discovered in 0.21.13, but code unchanged in master
Database + version: pg 11.11
OS: os x

Select applicable template from below.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Running

    knex migrate:up <migration>

for a migration with configuration

    export const config = { transaction: false }

does not respect the co

[2021-07-01 16:13] StanleyMasinde commented on #2387
Thanks for the reminde @cozzbie .

[2021-07-01 23:20] andykapteyn commented on #4551
The associated PR would also fix #4539.

[2021-07-02 11:23] elhigu commented on #3578
Right. Yeah now I get it and makes sense to use that ready made feature.

Though I'm a bit sad that the dynamic configuration thing was implemented that way...

Probably it was fine for their use-case to be using old connections made with old credentials when the feature was written.  And I 'm still not sure if it should be there always of is that also something opinionated functionality, that for

[2021-07-02 11:53] BYohann commented on #2998
i had the error and was trying to run ts file while having the --esm flag in my commans line, i removed --esm and it worked

[code]

[2021-07-02 19:28] calvinmetcalf opened #4552 "on postgres .onConflict().ignore() should be able to take no columns"
# Environment

Knex version:0.95.4
Database + version: postgres 12.7
OS: OSX

# Bug
running
[code]

generates

[code]

when it should generate

[code]

it looks like a fairly simply fix [around here](https://github.com/knex/knex/blob/228b49f4afb7d2cb03f4219b6cb0d1bb854d60f8/lib/dialects/postgres/query/pg-querycompiler.js#L79) which I might be able to open a pr for next week, amusing my wife doesn'

[2021-07-02 23:20] jeff-permiso commented on #4112
I'm still running into this issue.

Knex: 0.95.6
Postgres: 11
OS: osx 10.15.7

[code]

[2021-07-02 23:21] jeff-permiso commented on #4551
I'm am all running into this issue.

Knex: 0.95.6
Postgres: 11
OS: osx 10.15.7

exports.config = { transaction: false };

exports.up = async function (knex) {
  await knex.raw(`
    CREATE INDEX CONCURRENTLY IF NOT EXISTS foo on bar;
  `);
};

exports.down = async function (knex) {
  await knex.raw(`
    DROP INDEX IF EXISTS foo;
  `);
};

[2021-07-03 08:55] laurent22 commented on #2581
Happened to me too with this kind of migration:

[code]

My fix was to split it into two migrations, although it would be nice if it could be done without hack.

[2021-07-03 09:01] laurent22 commented on #2581
Additionally, this doesn't work either:

[code]

[2021-07-03 21:04] waqarmm commented on #4519
I am having the same issue on heroku  server. IT was working before

[2021-07-04 11:54] kibertoad commented on #4539
@andykapteyn Thank you for the report! Would you be open to submit a PR (including test) for this issue?

[2021-07-05 03:27] hash-bang commented on #3876
Nice one @adrianhelvik thats a very handy utility.

For anyone wondering how to add it to their project you need to apply the following somewhere:

[code]

[2021-07-05 08:19] adrianhelvik commented on #3876
Thanks! I will try to get around to making an NPM package for it after my vacation.

[2021-07-05 10:13] elhigu commented on #4519
[code]
Configuration above works for me.  May be an user error of opening transactions but not not ending them or something like that.

Try to disable code from your heroku app until that problem disappears and then start looking that code if there is a problem...

Closing as cannot reproduce, Can be reopened if complete test case is provided.

[2021-07-05 10:13] #4519 closed

[2021-07-05 10:23] aojiaoshou666 opened #4554 "knex internal files trying to import other ts files which do not exist"
# Environment

Knex version: 0.95.6
Database + version: sqlite3@5.0.2
OS: 10.15.7

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
The project is buil

[2021-07-05 11:29] code-ape opened #4555 "Support extending SchemaBuilder for table creation"
# Environment

Knex version: 0.95.6
Database + version: mssql, oracle, postgres, sqlite
OS: linux, windows

# Feature discussion / request

## Use Case

I would like to create my own plugins for table creation like I currently can for query creation. This would allow for supporting some unusual actions that are unique to a legacy project (example, use a different schema depending on the DB type).

[2021-07-06 01:35] aojiaoshou666 commented on #4554
Issue fixed. It turned out in my project I could only successfully import knex through commonjs require. However, the types knex declared could be imported using ES6 or TS import syntax.

[2021-07-06 01:35] #4554 closed

[2021-07-06 06:48] alex-paterson opened #4556 "Knex does not seem to pass authentication options through to tedious"
# Environment

Knex version: 0.95.6
Database + version: MSSQL AzureDB
OS: MacOS

# Bug

I have an application that is using both sequelize and knex to talk to an MSSQL database. I believe both of these libraries are using tedious under the hood and are supposed to pass configuration options through to this underlying library. I am trying to use `azure-active-directory-password` authentication stra

[2021-07-06 17:13] calvinmetcalf commented on #4552
update: she hasn't so I opened up a pull #4557

[2021-07-06 19:29] RobIsHere commented on #1881
Would be great to have this "where() and andWhere() are aliases" documented. It really makes things easier. I just searched for this fact, because my gut told me that maybe they are aliases.

With this knowledge it's easy to gather applicable criteria of where in an array first and do a
[...].forEach(criteria => builder.where(criteria) ) when ready.

Instead of
a = [...]
if (a.length) builder.wher

[2021-07-06 20:08] azban commented on #4546
running into something similar.. based on https://dba.stackexchange.com/a/151438, there needs to be a WHERE clause corresponding to the ON CONFLICT clause. this doesn't currently seem possible with knex.

[2021-07-09 08:30] manjuhubballi02 opened #4559 "heap out memory issue."
I was starting my node application and running react application. after 5 min getting a memory issue. can anyone please look over here?
verison:
knex :v0.16.5
node :v12.16.3
<--- Last few GCs --->
5)[13792:0000017CED66F5B0]   115487 ms: Mark-sweep 2046.8 (2051.4) -> 2046.3 (2051.9) MB, 948.3 / 0.0 ms  (+ 75.5 ms in 16 steps since start of marking, biggest step 30.0 ms, walltime since start of mark

[2021-07-09 09:24] yuchi518 opened #4561 "rowNumber does not exist"
# Environment

Knex version: 0.95.6
Database + version: PostgreSQL 13
OS: Linux

@lorefnon

# Bug

1. I got an error in following code.
`knex
        .select('*')
        .rowNumber('row_number', orderByString)
        .from(tableName)`

2. Error message
TS2339: Property 'rowNumber' does not exist on type 'QueryBuilder  []>'.

Thanks.
Yuchi

[2021-07-09 11:31] sandeepjadhav opened #4562 "Knex Seed: Keep track of ran seed files so that on subsequent run command runs only the newly added seeds"
# Environment

Knex version: 0.21.1
Database + version: Postgres 12.7
OS: Windows 10

I am new to the knex.

# Feature discussion / request

While working with migrations and seeds I am not table to run the seeds for the multiple times as it throws foreign key error.

Do the knex has feature keep track of the ran seed files like migrations so that only newly added seeds files can run for the subse

[2021-07-09 12:40] ClementParis016 opened #4563 "PostgreSQL: migrations table created both in `public` and target schema"
Hi 👋🏻  I'm looking for clues to investigate the following problem:

# Environment

Knex version: 0.21.17
Database + version: PostgreSQL 11.9
OS: Ubuntu

# Bug

A few days ago I pushed to production some code including a migration to bootstrap a PostgreSQL schema with Knex, which failed in weird ways.

This is the Knex config used:
[code]

And here is the relevant part (redacted) of the migration i

[2021-07-09 15:43] elhigu commented on #4562
This has been discussed already few times. Seed files with tracking is effectively the same thing that migrations.

Some related issues...

https://github.com/knex/knex/issues/4074
https://github.com/knex/knex/issues/3456
https://github.com/knex/knex/issues/2010
https://github.com/knex/knex/issues/579

though I was not able to find anything that had the most elaborate discussions about this

[2021-07-09 15:43] #4562 closed

[2021-07-09 21:00] minaairsupport commented on #2820
I got the same error but the reason was VPC

[2021-07-10 06:12] valdeniomarinho opened #4565 "[SOLVED] TypeScript: import Knex from 'knex'"
# Environment

Knex version: "^0.95.6"

#  Problem

![image](https://user-images.githubusercontent.com/36814117/125153769-6db01900-e12c-11eb-9d40-61bdff1e3997.png)

![image](https://user-images.githubusercontent.com/36814117/125153722-18740780-e12c-11eb-8a0d-e8c9f51d7901.png)

# Solution

Correct way of type importing using ES module imports:
`import { Knex } from 'knex'`

[2021-07-10 06:22] #4565 closed

[2021-07-10 12:13] #4165 closed

[2021-07-10 12:52] kibertoad commented on #4165
Released in 0.95.7

[2021-07-10 12:52] kibertoad commented on #4552
Released in 0.95.7

[2021-07-10 12:52] #4552 closed

[2021-07-11 08:22] Egor-Koldasov commented on #873
There is also an issue in that `.del()` method accepts "returning" part as the first param and options as the second. There is no obvious place right now to put the definition of tables in the query with multiple tables.

It would be great to have recommendations on how to extend its interface to include it.

[2021-07-11 16:40] robertkibet commented on #590
I have this setup, was struggling with same situation also, which is working for me now:
[code]

[2021-07-11 23:15] kibertoad commented on #4556
@alex-paterson Can you replicate working configuration directly with tedious and paste it here? I don't know how sequelize handles its connection parameter, we pass ours directly to the tedious.

[2021-07-11 23:19] kibertoad commented on #4507
@Taha-Firoz Did it help?

[2021-07-11 23:20] kibertoad commented on #4452
@khalilst Would you consider submitting a PR for this?

[2021-07-12 00:30] hash-bang commented on #3876
I don't suppose its also possible to get a `eachAsync(row => ...)` function added also? Similar to the Mongoose [QueryCursor.eachAsync](https://mongoosejs.com/docs/api.html#querycursor_QueryCursor-eachAsync) function?

This is a little easier to use in functions where a full async / for of / generator pattern is a bit cumbersome.

[2021-07-12 03:01] Taha-Firoz commented on #4507
Yup, already built and deployed with it

[2021-07-12 03:01] #4507 closed

[2021-07-12 04:19] khalilst commented on #4452
@kibertoad Sure. I will create a PR today.

[2021-07-12 07:18] msudhayaraj commented on #4013
can you pls refer this [link](https://stackoverflow.com/questions/64467599/nodejs-knex-oracle-concurrent-call-table-is-locked).

[2021-07-12 11:30] mdomasevicius opened #4570 "Rollback does not work as expected"
# Environment

Knex version:  0.95.6,
Database + version: MYSQL 8.0.25
OS: Manjaro

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Config:
[code]

Two migration files

[code]

[code]

![image](https://user-images.githubusercontent.com/20511486/125280186-73b91c00-e31d-11eb-8100-81b6d4b0ef32.png)

`t.bigInteger('user_id').references('id').inTable('users').in

[2021-07-12 15:34] adrianhelvik commented on #3876
Something like this should work. **Not tested.**

[code]

[2021-07-12 15:37] adrianhelvik commented on #3876
Any more suggestions? Could build a "knextra" library. 😄

[2021-07-12 15:40] kibertoad commented on #3876
@adrianhelvik knex_utils is a thing :)

[2021-07-12 20:46] kibertoad commented on #873
@Egor-Koldasov Can you give an example of a delete SQL query that deletes from multiple tables?

[2021-07-12 20:56] kibertoad commented on #2002
@intech I've started working on CockroachDB as a Knex dialect. Are there any insights or changes you had to do so far, that you could share?

[2021-07-12 23:23] hash-bang commented on #3876
@adrianhelvik - well since you're asking the [Mongo equivalent](https://mongoosejs.com/docs/api.html#querycursor_QueryCursor-eachAsync) does support specifying the number of parallel threads to run at once as a second parameter... I do think this is going to be painful to write with generators but I'll admit my knowledge of them is rather limited.

@kibertoad - it would be nice to throw it into th

[2021-07-13 06:17] Egor-Koldasov commented on #873
@kibertoad In MySQL and MSSQL the part after `delete` specifies tables from which selected data will be deleted. In this case `comment, post`:
[code]

[2021-07-13 11:08] intech commented on #2002
@kibertoad After refactoring Knex itself is not yet. Make a cockroachdb branch with base dialect from postgres and we will work on it together.

[2021-07-13 11:10] intech commented on #2002
Saw already in https://github.com/knex/knex/tree/feat/cockroachdb!

[2021-07-13 14:32] jpike88 commented on #4531
@kibertoad I understand you're a busy guy, but just your 5 cents on this would be appreciated.

[2021-07-13 15:15] jpike88 commented on #4531
never mind I just realised why this is an issue, it's due to #2253

[2021-07-13 15:22] jpike88 commented on #2253
There's one shortcoming with @Frolanta's code, which has been useful to me anyway:

If you're using asyncStackTraces, and there are undefined bindings in a query, an error gets thrown at toSQL() in the wrapper. This causes an useless error as the asyncStackTraces code never had time to execute. At first I lodged #4531 because I thought it was a Knee internal issue but over time realised the real i

[2021-07-14 00:54] alex-paterson commented on #4556
@kibertoad Thanks for the response here. Here's the equivalent functional tedious configuration:

[code]

[2021-07-14 00:58] alex-paterson commented on #4556
Should note:

[code]

For the above tests.

[2021-07-14 11:20] Dakuan commented on #3636
very much still an issue

[2021-07-14 11:21] Dakuan commented on #3523
very much still an issue, seems to be happening to all M1 macs, suggested workarounds not resolving

[2021-07-14 20:52] intech commented on #4452
@khalilst could you do? Did not find PR.

[2021-07-15 06:11] khalilst commented on #4452
@intech Yes. I will submit it.

[2021-07-15 12:54] Agilulfo1820 commented on #3841
I have same error with AdonisJs v4, which is using Knex under the hood.

I get this errors in jobs
[code]

But this error usually it's not caused by that job but from some other job or connection to db opened elsewhere.
I'm trying to use await `Database.close()` mostly everwhere to prevent this but I still get this issue.

[2021-07-15 15:24] jeremy-w opened #4573 "SQL Server: columnInfo() fails for a case-sensitive database"
# Environment

Knex version: Encountered in v0.21.12, but review of the code for HEAD shows it should still repro there.
Database + version: MS SQL Server 2019 Developer Edition
OS: macOS 11

For MSSql tag: @smorey2

# Bug

Attempting to retrieve column info on a database using a case-sensitive collation fails:

[code]

3. This needs a set-up MSSQL database to repro. Create it with a case-sensitiv

[2021-07-16 03:48] alex-paterson commented on #4556
The issue is on this line, where `authentication.type` in the options passed to tedious is set to `settings.type` instead of `settings.authentication.type`:

https://github.com/knex/knex/blob/c335fda65723e73c9de5d1a92fe7444f0cfb4071/lib/dialects/mssql/index.js#L39

Therefore, I was able to successfully authenticate with the database by passing the undocumented parameter `connection.type`:

[code]

[2021-07-16 11:23] lancejpollard opened #4574 "Module '"knex"' has no exported member 'Knex'. Did you mean to use 'import Knex from "knex"' instead?"
# Environment

Knex version: 0.95.7
Database + version:
OS: Mac

@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

It should allow me to use type definitions in migration files.

2. Error message

[code]

3. Reduced test code

[code]

Error when running migration.

[2021-07-16 12:19] kibertoad commented on #4574
What TypeScript version? Also are you sure there are no conflicting knex versions? it is common to have separate global knex for cli operations.

[2021-07-16 18:12] lilfrootyloops opened #4575 "Why am I unable to rollback my migrations?"
# Environment

Knex version: 0.95.7
Database + version: PostgreSQL, 13.2
OS: macOS 10.15.7 (19H1217)

# Bug

After my tech lead implemented a new role permissions system in our application, I've been unable to clear the database via rolling back migrations. The command I usually run is `knex --env local migrate:rollback --all`. It seems as though the new migration file (i.e., 12345_updatePermissio

[2021-07-16 18:22] david-wb commented on #3523
Does knex have any built-in retry behavior for queries that fail with **Connection terminated unexpectedly**. It seems like that should exist, because network issues can happen at any time. Basic retries with exponential backoff and a `maxRetries` config setting would be great.

[2021-07-16 22:44] armandAkop opened #4577 "Not passing useTz in datetime column creation results in "datetime without timezone"
# Environment

Knex version: ^0.21.17
Database + version: postgres 13
OS: MAC OS Catalina 10.15.7
Additional Info: Running this with docker-compose using the latest postgres image (v13), node 14-alpine

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm not sure if this is a bug with knex, or just a [documentation bug](https://knexjs.org/#Schema-datetime).

[2021-07-17 00:11] lancejpollard commented on #4574
Hmm, it's possible I had a global knex

[2021-07-17 10:08] elhigu commented on #2682
Complex,  non-trivial compatibility layers, should be done outside of knex as an external npm packages, where scope of those features and implementation will be well separated from the minimal core query building functionality of knex. It allows knex core functionality being made more robust without need to try to handle cornercase etc. issues of unnecessary higher level. Also in that way those pa

[2021-07-17 10:11] elhigu commented on #4577
Looks like a bug, PR welcome.

[2021-07-17 10:35] elhigu commented on #3523
No, the root cause should be fixed. Retrying is pretty much impossible, because there is no way to know what was that connections state when it happened. For example if there was transaction going on etc. Also your app should be always prepared that any of your SQL queries may fail at any moment.

@Warkanlock and others so were you really able to reproduce this problem, killing db connections whil

[2021-07-17 10:42] zeotuan commented on #4577
Hi i want to work on this. Do i need to get assigned or i can just work and create a PR?

[2021-07-17 10:47] elhigu commented on #4575
Documentation probably should list types which are supported by .alter(). With enums it doesn't seem to make very reasonable queries.

[2021-07-17 10:50] elhigu commented on #4575
To alter check constraint type of your enum you first need to drop the old constraint and then create a new one. Also with down script you would need to decide what to do with rows, which has `AdvancedResearcher` role set.

[2021-07-17 10:50] kibertoad commented on #4577
@zeotuan Go ahead!

[2021-07-17 11:59] elhigu commented on #4570
If running migration fails, then its down script is implicitly called and migration is not written to database. So you should not call .rollback() on migration fail.

[2021-07-17 11:59] #4570 closed

[2021-07-17 12:26] elhigu commented on #4559
can be re-opened if some information sis provided that suggests this being bug in knex.

[2021-07-17 12:26] #4559 closed

[2021-07-17 12:32] elhigu commented on #4546
Is there anything knex could do to prevent this?

Sounds like you are trying to make a query that is not supported with your index configuration.

Maybe you would like to add an additional feature request to onConflict functionality?

Closing since this doesn't look like a bug.

[2021-07-17 12:32] #4546 closed

[2021-07-17 14:28] lilfrootyloops commented on #4575
Hi @elhigu, thanks for helping me out! Could you please explain what you mean by "drop the old constraint." What is the "old constraint" and how would I go about dropping it?

[2021-07-17 20:14] elhigu commented on #4555
Probably you will be just better off by writing js functions that are not extensions, but take knex as a input parameter.

But if someone likes to implement support for this PR is welcome.

[2021-07-17 20:19] elhigu commented on #4575
If you have created enum, it is usually done as a string column that has `CHECK` constraint, with values that are allowed to be set to that column. So you can drop that constraint with `knex.schema.raw()` and probably you will also need `.raw` for creating a new constraint with updated enum values.

[2021-07-17 20:19] #4575 closed

[2021-07-17 20:35] elhigu commented on #2581
@laurent22 your problem is not the same that in original post, but something else: https://runkit.com/embed/aj7p07d29vz0

It clearly looks like a bug though, so please open a separate bug report for that.

[2021-07-17 20:55] lilfrootyloops commented on #4575
I appreciate your taking the time to help me, but I still don't understand how to apply what you've explained. Furthermore, my issue isn't resolved yet, so I'm a bit confused as to why you closed this issue.

[2021-07-17 21:38] elhigu commented on #4575
The issue was closed , because it doesn't seem to be a bug rather than missing documentation that does not mention about limitations of the .alter().

The rest of the question is about general  SQL knowledge which should be asked about in knex gitter or stackoverflow. Also if someone has time to explain further about enums that are implemented as string columns that has check constraint for making

[2021-07-17 21:55] elhigu commented on #4521
You will not get any connection id. There is actually not connections made when knex in initialized. The first connection is created when the first query is done.

When pool creates a new connection afterCreate callback is created, which also provides handle to underlying connection.

[2021-07-17 21:55] #4521 closed

[2021-07-18 04:19] MoSheikh opened #5913 "Deeply nested insert "INSERT INTO Table (a, b, c) SELECT (a, b, c)""
Hi, I'm trying to look for the "suggested" way to perform a nested SELECT query within an insert. I'm essentially looking for the knex equivalent to this following query:

[code]

I've looked around for a number of places and tried out some ways but they didn't result in successfull queries.

[code]

Thanks a lot for your help!

[2021-07-18 04:37] zeotuan commented on #4577
After some poking around i found out that only when datetime or timestamp is created using option providing both useTz and precision is created with the correct type.

Easiest way to recreate the problem no database required (look abit ugly though)
![image](https://user-images.githubusercontent.com/48720253/126055863-4763fb03-c0db-446b-975b-c38633607ea3.png)
result:
![image](https://user-images.gi

[2021-07-18 04:57] MoSheikh opened #4579 "TS Error on "Insert" sub-query despite correct results."
# Environment

Knex version: 0.95.7
Database + version: Postgres 13.3
OS: Windows 10 19041.1110

@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

    I'm currently getting a TS23222 error from what I believe to be working query. Using an active database connection, the end result ends up being correct when I put in a ts-ignore,

2. Error message

[2021-07-18 08:22] abemm7787 commented on #1747
@annnfrann
I would just copy and paste the 20160712115200_create_books.js  back into the explorer.

[2021-07-19 14:30] rijkvanzanten commented on #2682
Thanks for the in-depth insight @elhigu 🙂 This all makes perfect sense 👍🏻

With all of this in mind, I can't help but wonder: should a next major version of Knex drop the dependency on the actual DB connection altogether in favor of emitting "clean" SQL queries that can then be executed using whatever third party package? That would alleviate a lot of overhead in the codebase, and prevents issues

[2021-07-19 18:26] kibertoad commented on #2682
@rijkvanzanten Isn't that already possible by using .toSQL/.generateDdlCommands?

[2021-07-19 18:30] rijkvanzanten commented on #2682
@kibertoad Yeah! The use case is already possible, I was just wondering what the benefits are of having the actual connections configured through Knex itself if the main focus is generating SQL queries. It seems like working around/supporting different connection libraries adds quite a bit of overhead that could be seen as out-of-scope for a query builder. (Same thing for schema manipulation and m

[2021-07-19 18:32] kibertoad commented on #2682
@rijkvanzanten Why would an average user want to manually pass generated SQL to a driver or use some additional wrapper on top of knex to execute the statement?
If knex was designed this way from the get-go, sure, such focus would be great and would position knex as a strictly "library for the library authors". However, doing this change now would be an abandonment of an existing huge userbase who

[2021-07-19 19:03] rijkvanzanten commented on #2682
So it's connection library agnostic. In order to utilize `mysql2` instead of `mysql`, `knex` had to be updated to support it. Now that it does, the new kid on the block is `@mysql/xdevapi` which now creates more maintenance overhead in Knex to support.

I couldn't agree more with this. That being said, I'm noticing that a lot of these discussions end in a back and forth on what Knex is, was, and i

[2021-07-19 20:36] kibertoad commented on #2682
@rijkvanzanten I think that the best path forward for that would be to extract something like `knex-core` as a separate library and make `knex` depend on it for SQL building. Then it could be a non-breaking change for existing users. Not sure if there is anyone willing to contribute enough effort for that to happen, though.

[2021-07-20 07:07] elhigu commented on #2682
Would be nice if pool + connection handling and query building parts would be more separated. Usually people either wants the whole thing or just the query builder.

IMO having just the query builder as knex-query-builder package, that can be included without need for nodejs would be nice.

Though complete knex would still have also nodejs dependent parts for crossdb compatible query and transacti

[2021-07-20 11:01] israelidanny commented on #4329
Getting exactly the same problem. @bartversluijs did you manage to solve it somehow?

[2021-07-20 11:11] bartversluijs commented on #4329
Hi @israelidanny, unfortunately I could not find a fix for this.

I created a workaround, which was creating a tunnel using [tunnel-ssh](https://www.npmjs.com/package/tunnel-ssh) and tunneled the port 3306 to 127.0.0.1:3306, and connected to that. So instead of using the MySQL2 engine to do that, I created a tunnel for the whole Node.js application.

**Before you do this**, after a while I got a n

[2021-07-20 11:24] kibertoad commented on #4329
@bartversluijs It is unlikely that maintainers will find a solution for this, because unfortunately all of them are very busy and are unlikely to dedicate any time to investigating a problem as niche as this. However, any community contributions here would be dearly appreciated.

[2021-07-20 11:28] bartversluijs commented on #4329
@kibertoad I totally get that. As said, if I find some time / resources to debug this problem, I probably will. I totally agree it's a niche problem.

Just hoped that someone would see this and thought: "Oh, that's an easy fix" 🙂

[2021-07-20 14:32] VladislavArkavenko commented on #1641
If someone is just looking for how to just execute anything right after the transaction finish you can use this
`transaction.executionPromise.then(() => {})`

[2021-07-20 18:53] elhigu commented on #1641
@VladislavArkavenko you don't need executionPromise for that... knex.transaction() returns a promise.

[code]
... or the same with async / await...

[2021-07-20 22:53] nguymin4 commented on #4561
@yuchi518 @elhigu This was fixed in #4544 and released with Knex version 0.95.7

[2021-07-21 07:15] elhigu commented on #4561
Ok, closing 👍

[2021-07-21 07:15] #4561 closed

[2021-07-21 13:25] dpankros commented on #1136
I just ran into something similar.  In my case, I was using Apollo and each datasource (the part that accesses knex) was RECREATING knex each time, rather than using the existing knex instance.  Once that was switched most of the issues went away.  I had a couple other small issue unrelated to knex (read: irrelevant for this discussion) that needed to be fixed too.

More detailed explanation: The

[2021-07-21 17:09] wizardnet972 opened #4581 "How to get the instance from inside extend function?"
This is an advanced question.

I extended the `QueryBuilder`:
[code]
And I have many databases:
[code]
How to get the current instance inside my `someFn` function?
Where inside `this` I can find the instance?

for example something like this will be helpul:
[code]
[code]

[2021-07-22 04:51] wizardnet972 commented on #4581
Found it, `this.client`.

[2021-07-22 04:51] #4581 closed

[2021-07-22 19:05] orlovcs commented on #2820
Issue for me were the inbound rules as well, helps to do a quick `psql` from the EC2 instance to make sure it has access.

[2021-07-23 06:38] PhakornKiong commented on #4575
@lilfrootyloops

I think the `Drop the old constaint` is something like this (Not exactly for ur case, but could be similar)

Just quick info, what I was doing is that I'm `incrementally` adding column to the table, and I wanted to have a default value for the column since it can't be `null`. Yet I do not want the `constraint` of the table to be there after the migration, hence I remove it using `

[2021-07-23 09:09] qwerty30112 opened #4582 "MSSQL unicode"
cannot generate N'中文' for MSSQL(SQL Server)

[2021-07-23 11:24] kibertoad commented on #4582
@qwerty30112 Are you sure this is a problem on knex side? Does using tedious directly work correctly?

[2021-07-23 11:47] tishko18 opened #4583 "knex js snippet (auto complete) doesn't work?"
in previous version I hadn't problem in knex.js, but in latest version when I wanna write code snippet(auto complete) doesn't work?

thanks

[2021-07-23 11:55] kibertoad commented on #4583
I think it is same problem as described here: https://github.com/knex/knex/issues/4346
Best solution would be to use TypeScript, that would provide perfect autocomplete.
Other than that, if you can come up with a way that preserves current typing structure, and also is friendly with JS autocompletion, please send in a PR!

[2021-07-23 11:55] kibertoad commented on #4583
Also https://github.com/knex/knex/issues/4392

[2021-07-23 18:50] qwerty30112 commented on #4582
waht's the relationship between knex and tedious?

[2021-07-23 19:15] kibertoad commented on #4582
knex uses tedious as a mssql driver.

[2021-07-23 20:29] qwerty30112 commented on #4582
How to do that?

[2021-07-24 02:57] zeotuan commented on #4577
@kibertoad Hi i think this issue should be closed.

[2021-07-24 08:24] qwerty30112 commented on #4582
But I only want to generate sql string instead of using sql driver to connect to mssql server

[2021-07-24 09:04] acro5piano commented on #3391
Seems that `partition by` with order is not supported by Knex.

[2021-07-25 03:16] zeotuan opened #5914 "Sidebar element link to same section"
Right now the id of each section is formed like this: ```id={href ? href : `${section}-${method}```. This cause part of section where method have same name such as Schema Builder - Unique and Schema Builder - Chainable - Unique to be linked to the same section :
Here both are linked to ```table.unique()``` part
![image](https://user-images.githubusercontent.com/48720253/126886185-fc89e329-309e-445

[2021-07-25 08:37] #5914 closed

[2021-07-25 09:27] zeotuan commented on #4392
Hope this help but I can still get code recommendation importing knex like this:
![image](https://user-images.githubusercontent.com/48720253/126893928-30b1fc19-1ddc-4039-93a8-a62c0b709340.png)
![image](https://user-images.githubusercontent.com/48720253/126894020-65e1c760-930a-4dd6-9017-d8cc765fc59f.png)
Version: 0.95.7
works on both Window 10 and  WLS2 Ubuntu 20.04

[2021-07-25 09:40] zeotuan commented on #4582
@qwerty30112 can you show some code that reproduce the problem?

[2021-07-25 12:25] qwerty30112 commented on #4582
@zeotuan
the code is:

import knex_ from 'knex';
const knex = knex_({client: 'mssql'});

let sql = knex('Table').update({FullName:'造字'})
console.log(sql.toString())

------------------------------
the output is:

update [Table] set [FullName] = '造字';select @@rowcount
------------------------------

But I want to generate
update [Table] set [FullName] = N'造字'
there is a 'N' in the front of the stri

[2021-07-25 17:35] kibertoad commented on #4292
Released in 0.95.8

[2021-07-25 17:35] #4292 closed

[2021-07-25 17:35] kibertoad commented on #873
Released in 0.95.8

[2021-07-25 17:35] kibertoad commented on #873
Keeping this open for multi-table delete

[2021-07-25 17:47] kibertoad commented on #4574
@lancejpollard Did you manage to resolve your issue?

[2021-07-25 23:31] cjbj commented on #4535
The PR was merged and @kibertoad released 0.95.8
Yay!

[2021-07-26 00:18] #4535 closed

[2021-07-26 15:47] zeotuan commented on #4582
@qwerty30112 If you set FullName to 造字 shouldn't the output also be 造字? If you want to have N'造字 then the code should be
```let sql = knex('Table').update({FullName:'N\'造字'})``` since ```'``` is a special character

[2021-07-26 16:24] qwerty30112 commented on #4582
@zeotuan
But the output is
----
update [Table] set [FullName] = 'N''造字';

[2021-07-26 16:37] solanoam commented on #1128
thanks, worked on my end with mysql

[2021-07-26 20:34] Naragod commented on #4574
I am facing the same issue.

Typescript version: 4.3.5
knex version: 0.95.7
pg: 8.6.0

[2021-07-27 05:53] arladmin commented on #4141
I've run into this issue as well.

Trying to access my DigitalOcean managed database, MYSQL 8, from a docker based Directus (v9.0.0-rc.86) instance.
Note:
- I've edited DO's password encryption to ```Legacy – MySQL 5.x```
- Am passing the downloaded certificate via the ```DB_SSL__CA``` env parameter

Error received:
[code]

How to resolve this?

[2021-07-27 10:46] Jimmy89 opened #4588 "BUG: parameter `specify` of seeds.run() fails to accept array, in contrary with documentation and cli"
# Environment

Knex version: 0.95.8
Database + version: postgres (no impact)
OS: Doesn't matter

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When directly calling `knex.seeds.run()` with the parameter `specific` set to an array `["test1.js", "test2.js"]` the function `async run(config)` within `Seeder.js` does not expect the parameter to be an Array, on

[2021-07-27 16:06] elhigu commented on #4582
[code]

Is for debugging use only. It doesn't guarantee generating valid / runnable SQL.

When query is executed values are passed as parameter bindings to the query. So what is the problem when you run:

[code]

[2021-07-27 16:19] #4577 closed

[2021-07-27 16:45] elhigu commented on #4522
IIRC .options() is for passing special options to driver's method that actually executes the query.

I don't think that the query is possible to do without `.raw`. I would create the query above like this:

[code]

Downside with that query is that the result is direct result from the mssql driver so the result object is not directly an array of rows.

[2021-07-27 16:45] #4522 closed

[2021-07-27 23:59] ariwbolton opened #4590 "Add ability to pass raw SQL to onConflict()"
### Use Case

Postgres supports partial unique indices, which unfortunately require some extra work when writing `INSERT ... ON CONFLICT` queries against them:

[code]

Note the `WHERE deleted_at IS NULL` portion; that's required so that PG can infer the correct unique index to use for conflict detection.

Unfortunately, `knex` doesn't support this: the `onConflict()` method expects either a `colu

[2021-07-28 02:04] qwerty30112 commented on #4582
[code]

[2021-07-28 04:21] Neurrone commented on #4130
Just ran into this too. I rolled back a migration that involves creating a new enum and upon re-running the migration, it failed because the enum already existed.

[2021-07-28 05:59] elhigu commented on #4582
Generally knex does not support outputting SQL strings where parameter values are sloppily escaped inside to the outputted SQL string. It works sometimes though, but is not meant for production.

As I said earlier, one has to use the `sql.toSQL().toNative()` to render SQL string + bindings and send queries as parametrized queries to the database.

Using `.toString()` is not safe because it allows

[2021-07-28 05:59] #4582 closed

[2021-07-28 06:30] elhigu commented on #4504
I think the first validation part should be pretty trivial to add to the current script just by adding it as a first call in `up()` script.

[code]

Second part of having dependency tree of migrations that are dependent of each other I cannot think any real usecase for that.

I cannot imagine any cases where all the migrations are not related to each other in some way or another so in that case th

[2021-07-28 07:10] elhigu commented on #4503
How will rolling back already applied migrations work with this? (*)

Btw. Would you be interested of writing a new robust migration engine for knex?

Currently the biggest problems with migrations are:

1. how to recover in cases where there was an error during execution of migration (most of the databases doesn't support transactions for DDL queries)
2. how to make sure that multiple processes a

[2021-07-28 07:17] elhigu commented on #4503
I don't have any objections of having additional data in migration table, but making the table append only is a bit too much for knex.

As far as I understand it would require more thinking of the whole security aspect, since we would need another set of users just for creating the migration tables and trigger for preventing that it is append only and another set that is actually for running migra

[2021-07-28 07:35] elhigu commented on #701
Knex already supports `.onConflict()` https://knexjs.org/#Builder-onConflict

[2021-07-28 14:18] Musinux opened #4591 "pg: incorrect "delete + join" query since 0.95.8"
# Environment

Knex version: 0.95.8
Database + version: postgresql 12.7
OS: linux/debian 11

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I get an incorrect `delete` postgres query, containing the table name in the `delete` statement:
[code]
It should produce this code instead:
[code]
2. Error message
error from postgres:
[code]

3. Reduced test code, fo

[2021-07-28 14:37] kibertoad commented on #4591
This is due to https://github.com/knex/knex/pull/4568
@Egor-Koldasov Could you please take a look?

[2021-07-28 16:45] chb0github commented on #4503
You would definitely need 1 user to install the meta tables so the trigger could be put in place, but this isn't without precedence.

Frequently, different users for different cases. This all came out of a real enterprise solution I had to develop. The migration was actually done by a single-click CD job, but because of the number of teams involved and the industry this app ran in, user level isol

[2021-07-28 16:52] Egor-Koldasov commented on #4591
@Musinux  Seems like this query you specified will not work in PG too:
[code]

I tested a similar query it will give an error `syntax error at or near "left"`. I think PostgreSQL does not support such joins in the delete query, can you confirm?

True, although dropping the join silently might result in unintentional data erasure: https://github.com/knex/knex/issues/873#issuecomment-808735961

Ther

[2021-07-28 17:55] code-ape opened #4592 "table.increments() errors on Oracle when .withSchema()"
# Environment

**Knex version:** `0.95.6`
**Database + version:** Oracle 18c (@atiertant)
**OS:** Ubuntu Linux

# Bug

1. **Explain what kind of behavior you are getting and how you think it should do**

When using Oracle and attempting to create an incrementing column in a table with a non-default schema Knex crashes with an internal error.

2. **Error message**

[code]

3. **Reduced test code, f

[2021-07-28 19:01] chb0github commented on #4504
@elhigu

You're right: It's so trivial. But, your sample above makes it also dead obvious: It's entirely optional and that's the problem

DB Migration tools are about _state management_. By breaking out a predicate function you can have `knex` pre/post assert the state of the DB - this means that there is `no logical chance` that your `down` function does something that your `up` function didn't d

[2021-07-28 19:04] sabbaghAtKait opened #4593 "Ignoring invalid timezone passed to Connection: UTC"
# local

Knex version: 0.95.7
Database + version: MySQL2 2.2.5
OS: WIN

We are trying to select a date from DB and the date retrieved with a timezone offset. and to resolve this issue we are using
`connection: {
    timezone: 'UTC',
  }`
but after using `timezone: 'UTC',` we are getting this message `Ignoring invalid timezone passed to Connection: UTC` in the console.

Is that an expected thing?

[2021-07-28 22:29] elhigu commented on #4504
Even if there would be pre/post condition hooks it is entirely optional to write them properly, so additional security is neglible.

Also it is still trivial to write your own helper layer on top of knex's up/down hooks, where you write migrations like:

[code]

So knex provides unopinionated building blocks to implement more opinionated features. I regularly use bunch of project specific helpers

[2021-07-28 23:33] #4504 closed

[2021-07-29 08:19] Musinux commented on #4591
@Egor-Koldasov You're totally right, I must have overlooked the expected result too quickly.

I tested the `USING` statement on my own db and it works with a similar query to yours, so I think that would be the right way to go.

However, it might be interesting to alert users when the generated query is likely to be incorrect. I did not know about this incorrect behaviour before yesterday even tho

[2021-07-29 13:03] #3944 closed

[2021-07-29 14:07] #4592 closed

[2021-07-29 20:37] code-ape opened #4595 "knex.dropTable() errors on Oracle when .withSchema()"
# Environment

**Knex version:** `0.95.8`
**Database + version:** Oracle 18c (@atiertant)
**OS:** Ubuntu Linux

# Bug

1. **Explain what kind of behaviour you are getting and how you think it should do**

When attempting to delete a table for a given schema (called a "user" in Oracle) then the migration fails with an error.

2. Error message

[code]

3. Reduced test code, for example in https://np

[2021-07-29 20:40] code-ape commented on #4595
It appears this can be resolved by fixing the following functions in [`knex/lib/dialects/oracle/schema/oracle-compiler.js`](https://github.com/knex/knex/blob/124107e0eca5073049b10fb3d8628723e5505cd5/lib/dialects/oracle/schema/oracle-compiler.js):

1. `dropTable` needs to use schema name if it exists (`this.schema`).
1. `dropTableIfExists` needs to use schema name if it exists (`this.schema`).
1. `

[2021-07-30 01:08] Venryx commented on #581
For PostgreSQL, I'm currently using this and it works fine:
[code]

Is my code above equivalent to `knex.transaction({isolationLevel: 'repeatable read'})`? If not, what are the differences?

[2021-07-31 09:55] softplace-io opened #4597 "Knex - Authentication Login"
# Environment

Knex version: Last Version
MySQL 8
OS: Linux Manjaro

I tried in several ways but I can't validate if the username and password are correct.

[code]
**Postman (Result)**
[code]

Thanks!

[2021-07-31 10:30] kibertoad commented on #4597
you are missing quotes, so db thinks these are column names and not text values

[2021-07-31 10:30] #4597 closed

[2021-07-31 15:46] tslater opened #4598 "Equivalent of whereNot for joins"
# Feature discussion / request

1. Explain what is your use case

  I'm currently assembling join conditions dynamically with complex logic. I love knex's ability to nest and/ors  using grouped chains. You can currently wrap these grouped chains with a "not" operator in a where clause (from docs):
[code]

2. Explain what kind of feature would support this
 I would simply like to be able to do this

[2021-07-31 16:25] #4595 closed

[2021-07-31 20:06] kibertoad commented on #4595
Released in 0.95.9

[2021-08-03 09:35] ziyaddin commented on #4460
@waitingsong Have you been able to fix the problem? Replying after a long time but I think the block where it logs `undefined` should use `await trx('tb_user')` instead of `await knex('tb_user')` because first you create a transaction by `const trx = await knex.transaction()`, so you should use `trx` itself, instead of `knex`.

[2021-08-03 23:03] mremick commented on #1833
@brandonros what was your solution?

[2021-08-04 04:07] SephReed commented on #3351
I found this fix on stack overflow:  https://stackoverflow.com/questions/65423969/foreign-key-constraint-ignored-by-knex-js

Basically, all you have to do is run this:
[code]

I see no reason why this should not be enabled by default.

[2021-08-04 17:06] florian-milky opened #4604 "RowNumber and Desc order does not work"
# Environment

Knex version: latest
Database + version: postgresql

# Bug

[code]

Output sql doesn't contain DESC

# workaround

[code]

[2021-08-04 19:46] trojancode commented on #1355
worked for me

[2021-08-05 09:42] himharsh1997 commented on #1037
Just to add on this answer "Try to avoid composite index and use index with single column if possible"

[2021-08-05 16:34] tvcong0999 commented on #1592
var output = raw[0][0];

[2021-08-06 18:17] rijkvanzanten opened #4608 "SQLite column delete fails when column name contains special characters"
# Environment

Knex version: 0.95.9
Database + version: SQLite 3.31.0
OS: macOS Big Sur

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When dropping a column that has special characters in the name, like `*my_column:`, the operation will crash

[code]

2. Error message
[code]

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs

[2021-08-08 13:42] wvvinicius commented on #2820
Hi devs, i have the same problem with my application.

Today it has a service that crashes the application and I need to restart.

I've tried a lot of things but I wasn't successful.

Here is my error and current configuration.

`import knex from 'knex'

const connection = knex({
    client: 'mysql',
    connection: {
        host: '*****',
        port: *****,
        user: '***',
        passwor

[2021-08-08 13:45] wvvinicius commented on #3831
Hi devs, i have the same problem with my application.

Today it has a service that crashes the application and I need to restart.

I've tried a lot of things but I wasn't successful.

Here is my error and current configuration.

`import knex from 'knex'

const connection = knex({
    client: 'mysql',
    connection: {
        host: '*****',
        port: *****,
        user: '***',
        passwor

[2021-08-08 21:09] stefan-girlich commented on #3598
Experiencing the original error using version 0.21.20 on MacOS 10.14, Node 15.4.0.
Workaround from the original post works.

[2021-08-09 03:48] EntropyAu opened #4610 "Incorrect version 0.21.20 registered with npmjs.com registry (rather than current 0.95.8)"
It appears an old version of knex may have been accidentally published to npmjs.com (https://www.npmjs.com/package/knex) - we're seeing version 0.21.20 rather than the latest 0.95.8 version (per the repository change log).

[2021-08-09 06:30] kibertoad commented on #4610
Interesting that it would pick it up as latest. It was no mistake, there was a hotfix in older branch. I'll publish a new 0.95 to set versions properly, though.

[2021-08-09 07:17] Bazze commented on #3831
@wvvinicius not sure you're getting the async stuff or commit/rollback statements right.

You should have something like below, mixing await & .then is a bit confusing and you were missing a rollback in the catch block.

[code]

[2021-08-09 07:57] elhigu commented on #2820
Maybe this code works better, which implicitly closes transactions also in case of an error...

[code]

[2021-08-09 11:55] ParallelUniv3rse opened #4611 "0.21.20 has DOS line terminators"
# Environment

Knex version: 0.21.20
Database + version: PostgreSQL 13
OS: MacOS 11.2.1

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

knex migrate:latest fails with error
`env: node\r: No such file or directory`
The same issue has been observed before in https://github.com/knex/knex/issues/3598.

[2021-08-09 12:03] kibertoad commented on #4611
thanks, will try to fix today, but probably we also need a test for this :-/

[2021-08-09 13:49] sagar-tts opened #4612 "Mysql connection not close issue"
Here is code example of serverless and mysql2 with knexjs lib
in the AWS lambda function not close connection after idle time set 1000ms

used libs
- serverless
- Mysql2
- Knexjs v0.95

[code]
It continuously increase and DB connection and it close around after 10 minuets

Thanks,

[2021-08-09 14:42] elhigu commented on #4612
Please add some code allowing to reproduce the problem. The code above cannot behave like described, since it doesn't even create any connections, since no queries to DB is done.

[2021-08-09 17:57] mike20007 opened #4613 "oracle stored function"
# Environment
Oracle Release 11.2.0.4.0

Knex version:
Latest release knex 95.8

Database + version: Oracle Release 11.2.0.4.0

OS: Linux

# Questions

Hello,

When I call an oracle stored function using Knex RAW, I get the below error.

Code:
return await knex.raw(
    "BEGIN :resp := func_test(p1=>:p1, p2=>:p2, p3=>:p3, p4=>:p4); END;",
    {
        resp: { "dir": knex.BIND_OUT, "type": knex.VA

[2021-08-09 18:02] kibertoad commented on #4613
Are you passing any undefineds as parameters?

[2021-08-09 18:23] mike20007 commented on #4613
No, I even hard-coded val

[2021-08-09 18:33] elhigu commented on #4613
https://runkit.com/embed/0uwoybt4zboh

There is no such enums like `knex.BIND_IN`, `knex.VARCHAR2` etc. so those are triggering that error. Though I'm not sure if that is a bug or not.

[2021-08-09 19:10] TiagoGouvea commented on #4611
You owe me one day of life because today I just debugged.
😅

[2021-08-09 19:32] elhigu commented on #4611
@TiagoGouvea Luckily we have countless days already in our "time invested to knex bank", so feel free to take one of those 👍

[2021-08-09 19:34] TiagoGouvea commented on #4611
I love you guys! Thanks for everything you have done! 😁

[2021-08-09 21:09] mike20007 commented on #4613
Thanks, I changed it like ou mentioned. Now, I get NJS-013: invalid bind direction.

what is integer value for BIND_OUT?

[2021-08-09 23:47] netogerbi opened #4614 "Knex breaking on migrate: /usr/bin/env: ‘node\r’: No such file or directory"
# Environment

Knex version: 0.21.20
Database + version: Postgres 12.4
OS: Debian Buster

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm using N

[2021-08-10 00:28] kibertoad commented on #4611
Could you please test 0.21.21 and report back?

[2021-08-10 00:29] kibertoad commented on #4614
Could you please try 0.21.21 and report back?

[2021-08-10 01:21] ffxsam opened #4615 "NPM publishing mistake?"
[code]

@kibertoad Going from version 0.95.8 to 0.21.21..?

[2021-08-10 04:59] sagar-tts commented on #4612
Above code used as separate file and import where it needed in the AWS lambda function using serverless.

when request comes to lambda function it will going to create new connection and not close.
I used `idleTimeoutMillis` flag for close connection if more then 1 second open idle time(if not used that connection).

Simple use any lambda function this issue will generate.

Please let me know want

[2021-08-10 08:27] elhigu commented on #4613
Check from oracledb driver's documentation. Where did you find the example in the first place? 🤔

[2021-08-10 08:29] elhigu commented on #4612
The code above does not create any database connections. Knex doesn't create connections until some db queries are made.

[2021-08-10 09:55] sagar-tts commented on #4612
Added simple query at detail.

[code]

[2021-08-10 10:48] elhigu commented on #4612
Maybe the process is just killed before DB connection is closed, though it is strange if it stays open if process dies. You could add `await rdsClient.destroy()` before ending.

[2021-08-10 10:58] netogerbi commented on #4614
solved! thank you very much!

[2021-08-10 11:30] #4614 closed

[2021-08-10 13:46] mike20007 commented on #4613
ok, thanks!

[2021-08-10 15:51] jrohland commented on #4611
0.21.21 fixed this issue for me.

[2021-08-10 21:01] JoaoHamerski commented on #3831
I'm stuck on this issue for 3 days, i already tried all possible o solutions of the internet and have no idea what is going on. I send the project for other friends to test and it works normally, but to me this error persist, i have all package on last version, node, yarn and npm on last version, nothing works.

The error is throw when trying to run a seed, inserting data in a table using Knex.

A

[2021-08-10 21:04] christhegrand commented on #3831
What version of node and pg are you on?

[2021-08-10 21:07] JoaoHamerski commented on #3831
@christhegrand
Node v14.17.4 - I tried using v14.16.1, v14.0 (the projects only accepts > 14.2) nothing worked.
pg: "^8.7.1" - I tried downgrade to version 8.3.0 and < 8 but nothing worked too.

[2021-08-10 21:25] elhigu commented on #3831
@JoaoHamerski  Probably not the same problem though, since this issue was specifically the case with node 14 and pg 7.

Are you running database locally? I don't believe there is much that anyone can help without seeing the code that causes failing.

Closing this issues, since this is starting to collect many unrelated issues.

[2021-08-10 21:25] #3831 closed

[2021-08-10 23:09] AdriDevelopsThings commented on #4615
https://github.com/knex/knex/issues/4610

[2021-08-11 02:03] ffxsam commented on #4615
Thanks!

[2021-08-11 02:03] #4615 closed

[2021-08-11 05:20] sagar-tts commented on #4612
Above is just one example I have multiple query at many place and don't know or detect queries is running or finish all of them.
So where to add **destroy** method/function.

I have added **tren** pool parameters and function destroyRequest and destroySuccess but all connection are not going to close.

It open 10 connection and close only 6 or 7.

[2021-08-11 09:00] elhigu commented on #4612
Umm... how does AWS lambda know that your function has done its work and its context can be destroyed? You do wait that all the
queries returns and only after that return from the lambda function?

[2021-08-11 09:07] elhigu commented on #4612
Have you read this one? https://docs.aws.amazon.com/lambda/latest/dg/nodejs-handler.html currently it just sounds that you are not using it correctly. Try to make reduced test case of your code in a way that you can pinpoint where things doesn't work anymore.

Anyways basic principle is that you should do event handler:

[code]

Closing as this doesn't seem to be knex bug, but usage support.

[2021-08-11 09:07] #4612 closed

[2021-08-11 09:11] sagar-tts commented on #4612
It seems issue with lambda or serverless not in knexjs.

Thank you for clear this things.

[2021-08-11 16:35] leedm777 opened #4617 "Version 0.21.21 published as "latest""
When 0.21.21 was published the other day, it was published as `latest` in npm.

[code]

Given that the past several releases have been 0.95.x releases, and the version listed on https://knexjs.org is 0.95.x, I'm assuming that this is a mistake.

Please update the `latest` dist-tag to 0.95.9.

[2021-08-11 18:05] moshen commented on #4617
This made for a very confusing project setup for me

[2021-08-12 10:31] jarcodallo commented on #4511
Hi @kibertoad any news about this? I can open a PR to add support to better-sqlite3 or replace sqlite3 with this one.

[2021-08-12 10:41] kibertoad commented on #4511
@jarcodallo PR would be greatly appreciated! Separate dialect would be preferable, similarly to mysql/mysql2 ones.

[2021-08-12 10:51] jarcodallo commented on #4511
Awesome @kibertoad. I will start working on this next week 🚀

[2021-08-12 13:10] joseph-naked commented on #4290
Hi @keyserfaty

Why did you close this ticket?

I am also facing the same issue. Did you manage to resolve it?

[2021-08-12 13:46] elhigu commented on #4290
@joseph-naked It is most probably caused by code that doesn't use transactions correctly. Try to create minimal reproduction code, which still triggers the problem and then it should be easy to see what was wrong,

[2021-08-13 05:00] sagar-tts commented on #4612
Will raised issue on AWS support.

You can close this thread.
Thanks for quick response.

[2021-08-14 04:00] zeotuan opened #4620 "Missleading Typescript Type For onDelete on onUpdate Function"
# Environment

Knex version:
Latest release knex 95.8

@ lorefnon.

# Bug

1. At the Moment, Knex only support onDelete and onUpdate with foreignKey constraint but typescript suggest that onDelete and onUpdate can be chained off Column

![image](https://user-images.githubusercontent.com/48720253/129433347-8ed17bbe-bfa0-437c-b73e-3121ed8cfc8a.png)

[2021-08-14 11:36] meftunca opened #4621 "Add a new chain for lateral join to joins support"
# Environment

Knex version: 0.95.8
Database + version: PostgreSQL +  13.2
OS: MACOS

# Feature discussion / request

Add a new chain for lateral join to joins support

[2021-08-14 12:11] ShivamJoker commented on #4574
I am also getting this typescript error

[2021-08-15 17:35] ayroblu commented on #581
Isolations level are very specific ideas relating to what happens when other transactions try to reference the same data that you're using in your current transaction, basically from no checks to full table locks / aborts

The deferred constraint checking is whether checks occur immediately or at the end of the transaction

[2021-08-16 04:09] tlhunter commented on #4404
I get the same error with:

- `knex@0.21.21`
- `node@16.3.0`

[2021-08-16 23:05] azebuji commented on #1913
I made this by that way.

After the migration was created, I create a second file with this code.

export async function up(knex: Knex) {
    //MÉTODO PARA CRIAR A TABELA
    return await knex.schema.hasTable('company').then((exists) => {
        if (exists) {
            knex.schema.hasColumn('company', 'gateway_id_customer').then((column) => {
                if (!column) {
                    r

[2021-08-17 02:30] tlhunter commented on #3571
I believe this fixes the stub error (pointed out by @kevinfiol):

[code]

Basically, I think it's looking for an MJS file in the package directory but the authors don't seem to have one. So, you'll need to create your own.

[2021-08-17 11:41] Pacmard opened #4622 "Add knex.round feature"
# Environment

Knex version: 0.21.21
Database + version: PGSQL 13.4
OS: Windows 10

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Feature discussion / request

1. I need to select AVG value rounding it to 1 number after comma, (ex. 4.

[2021-08-17 15:05] TroyAlford commented on #4421
Given that #4500 is now closed/merged, this can probably also be closed.

[2021-08-17 15:06] #4421 closed

[2021-08-17 18:14] andersonqi opened #4625 "Knex: Timeout acquiring a connection"
# Environment

Knex version: 0.21.1
Pg version: 8.3.0
Node: 14

# Config

`
connection: {
      connectionString: process.env.DATABASE_URL,
      ssl: {
        rejectUnauthorized: false
      }
    },
    pool: {
      min: 0,
      max: 100,
      afterCreate: (conn: any, done: any) => {
        done();
      }
    },
    acquireConnectionTimeout: 60000
`

# Bug

1. I can't run migrations or see

[2021-08-17 19:00] elhigu commented on #4625
Cannot reproduce. You need to add complete reproduction code. Check CONTRIBUTING.md.

[2021-08-17 19:00] #4625 closed

[2021-08-18 03:41] RicardoValdovinos opened #4626 "Windows Authentication Support"
Are there any plans to add support for msnodesqlv8 to allow for Windows Authentication support?

Additionally, in the event that there aren't any plans to support it, are there any changes I can personally make to be able to use msnodeqslv8 with Knex?

I did see this old issue from 2019 but nothing really addressed the issue at hand.
https://github.com/knex/knex/issues/3376

[2021-08-18 10:37] michele-amati commented on #1683
I'm having this problem now with knex + aurora mysql. Your solution worked (even though it's `notNullable` now instead of `notNull`). Maybe the problem derives from the fact that primary key components must no be NULL https://stackoverflow.com/a/11001408 but why does it work locally? Also, I printed the query that supposedly knex sends to mysql and if I run it on aurora through something like MySQ

[2021-08-18 16:12] Collin3 opened #4627 "[Feature Request] - Allow use of aliased column names in where clause."
# Environment

Knex version: 0.95.9
Database + version: MSSQL version 14
OS: Linux

# Feature discussion / request

### Use Case
Enable use of aliased column names within where, order by, group by, etc. methods.

### Example
What (I believe) is required by knex today:
[code]
What could make for a better developer experience:
[code]
Just pulling that example from the knex docs, but might not make f

[2021-08-18 20:04] elhigu commented on #4627
Aliases already work the way you described.

The last query can be written like:

[code]

and it generated valid SQL with correct aliases and uses them when filtering rows. It is plain SQL feature, knex doesn't have to do anything special to make it work.

[2021-08-18 20:04] #4627 closed

[2021-08-19 12:41] abdulrahman-khankan commented on #4617
@elhigu do you have author permissions for the npm package so that you can fix the `latest` tag?

[2021-08-19 13:06] kibertoad commented on #4617
@abdulrahman-khankan I'll fix it today, sorry, was a bit of a hectic time.

[2021-08-19 13:36] petetnt opened #4628 "Knex doesn't parse JSON values in connectionURIs causing incompatibility with mysql / node-mysql2"
# Environment

Knex version: 0.95.9, 0.21.21
Database + version: MariaDB 10.3, `mysql` package 2.18.1 but also affects node-mysql2
OS: MacOS Monterey

# Bug

## 1. Explain what kind of behaviour you are getting and how you think it should do

I am trying to pass in a connectionURI that contains JSON in the `searchParams`.

[code]

This might seem funky at first, but it is actually supported by bot

[2021-08-19 14:06] Collin3 commented on #4627
Oh weird 🤔  when I use that syntax using knex on Microsoft SQL Server I get
[code]
I feel like I must be missing something

[2021-08-19 14:14] elhigu commented on #4627
Strange... according to https://www.sqlservertutorial.net/sql-server-basics/sql-server-alias/ they should work just fine also with SQL Server.

[2021-08-20 10:07] kibertoad commented on #4617
Fixed.

[2021-08-20 10:07] #4617 closed

[2021-08-20 10:07] kibertoad commented on #4610
Fixed

[2021-08-20 10:07] #4610 closed

[2021-08-20 10:07] #4611 closed

[2021-08-20 10:10] kibertoad commented on #4628
Would you be open to send a PR for this?

[2021-08-20 10:11] kibertoad commented on #4591
@Egor-Koldasov Will you be able to add USING support, btw? I think @elhigu blessed the approach, so it's just a matter of implementation at this point.

[2021-08-20 10:20] Egor-Koldasov commented on #4591
@kibertoad I have plans for it, but I might need about a month to get to this issue. If you or anyone wants to implement this it's good.

[2021-08-20 10:25] petetnt commented on #4628
Hi @kibertoad!

Sent a PR in https://github.com/knex/knex/pull/4629 (first time using GitHub Codespaces to do it 😸 , hopefully it works & tests pass, if not I'll do the changes later locally :))

[2021-08-20 11:08] BroJenuel commented on #3727
How to configure this in build, or in production mode. It seems that I cant make it work in production.

[2021-08-20 11:17] amd032 opened #4630 "Query is not executed and timeouts after ~16 minutes"
# Environment

Knex version: 0.95.10
Database + version: postgres, client pg@8.7.1, server PostgreSQL version 10
OS: node:12.22.3-alpine3.12

# Bug

There's a transactions started on the client side which is never executed on the server. BEGIN is visible in the knex logs on the client and is NOT visible in postgres server statement logs. Other transactions and queries are executed normally at the

[2021-08-20 11:20] kibertoad commented on #4630
@amd032 Can you share your code? Are you sure the transaction is correctly committed or rollbacked at the end?

[2021-08-20 11:36] amd032 commented on #4630
I can share the code, but as I said, the long timeout may happen also outside the transaction, so I don't think it has something to do with this particular transaction handling. It just happens in this piece of the code, as it's executed most often and takes more time to finalize. I guess the probability is just higher here.

[code]

Transaction is for sure not commited, because postgres server lo

[2021-08-20 11:38] kibertoad commented on #4630
Where is the `await trx.commit`? Also having catch block with `trx.rollback` is highly recommended.

[2021-08-20 11:55] amd032 commented on #4630
Ah, sorry, forgot to paste it :) I updated my previous answer.
It really looks more or less like this
[code]
as you can see we don't use `await` for `trx.commit()` and `trx.rollback()` calls. Should we?

[2021-08-20 12:14] kibertoad commented on #4630
@amd032 Yes, definitely, both of them return promises.

[2021-08-20 16:25] lilfrootyloops commented on #4575
I ended up solving my issue after playing around with the script for a bit. All I had to do was swap out table.enu('role', ['Admin', 'SuperUser', 'User']).defaultTo('User').alter() in favor of table.dropColumn('role') in line 14. The following is the contents of the updated 12345_updatePermissions.js:

[code]

[2021-08-20 16:41] toanvc commented on #3578
@elhigu Hello I'm getting this exact issue in my project and it's a blocker for me. The [proposal solution](https://github.com/dsbrgg/knex/blob/connection-timeout/lib/client.js#L266-L309) seems to be exact what you are mentioning in your comment `give a custom validation function for tarn in pool's config.`

Proposal idea adds `expirationChecker` in `validate` function and this is passed to tarn c

[2021-08-20 16:47] julrich1 commented on #3578
Right now we are blocked from using RDS with IAM authentication due to this bug. expirationChecker is in the Knex documentation but currently does nothing at all, how can we get a fix merged in?

[2021-08-20 17:17] kibertoad commented on #3578
@julrich1 Best solution would be implementing support for custom validation function in https://github.com/vincit/tarn.js/
Second best would be making knex.js implementation more flexible.

PRs for either approach would be most welcome.

[2021-08-20 17:19] julrich1 commented on #3578
It looks like this proposal https://github.com/dsbrgg/knex/blob/connection-timeout/lib/client.js#L266-L309 does indeed pass the expirationChecker to the Tarn validate function, I'd be happy to work on an MR but it seems like @elhigu had some concerns with the approach.

[2021-08-20 17:23] kibertoad commented on #3578
@julrich1 Is there a way to implement it in a way that would be completely opt-in and does not affect people who don't need it?

From my understanding the main concern was this: `And I 'm still not sure if it should be there always of is that also something opinionated functionality, that for some people it should be there and for others it is not necessary.`

[2021-08-20 17:35] julrich1 commented on #3578
The proposed change makes use of the existing expirationChecker field from the Knex configuration object (which currently does nothing) and only uses it if it is set, unless users are setting that expirationChecker property, there would be no behavior change for them.

[2021-08-20 17:38] kibertoad commented on #3578
@julrich1 Sounds like a good approach then.

[2021-08-21 00:25] jeremy-w commented on #4514
You actually already have recursive CTE support under SQL Server, it just doesn't work if you use the `withRecursive` function, because it hasn't been taught to omit the `RECURSIVE` keyword. SQL Server does not require a column list in order to enable recursive queries. It can be omitted unless you have duplicate column names in your query:

If you scan through all the examples, you'll eventually

[2021-08-21 08:10] marceliwac commented on #3594
Has this issue been resolved?

I have recently ran into this problem and to my dismay realised that (as mentioned) running `up()` repeatedly was the only solution I had found to make it work.

Is there no way (or flag) to disable the wrapping transaction without disabling the transactions on a per-migration-file level? If not, that's a shame because the above discussion clearly suggests that it's

[2021-08-21 15:58] jeremy-w commented on #4129
For global logging with Node, we could eliminate any dependency at all, provided the minimum target version is high enough:

- Node v0.11.3 added [`util.debuglog`](https://nodejs.org/api/util.html#util_util_debuglog_section_callback), which lets you log to a log channel that can be flipped on using `NODE_DEBUG` environment config instead of `DEBUG`
- Node v14.9.0 added an alias, [`util.debug(secti

[2021-08-21 16:12] kibertoad commented on #4129
@jeremy-w Would you be open to submitting a PR adding optional support for Node API here with fallback to (optional) debug?

[2021-08-21 18:29] #4204 closed

[2021-08-21 18:34] #4404 closed

[2021-08-21 20:52] jeremy-w commented on #4129
I’ll take a look. The situation around optional packaging and npm seems less than clear, so I’d appreciate some direction before beginning package surgery. 😸

Assuming:

- We do not want NPM to install debug unless especially asked for it.
- We want to leave the door open to browser usage, so cannot assume util.debuglog will be there. (Is this indeed a concern?)

The two best options look to be:

[2021-08-21 21:02] kibertoad commented on #4129
@jeremy-w I agree that `optional peer` provides better developer experience. Since you've already mentioned browser as a concern, I think we should handle cases when `util` is not available gracefully.

[2021-08-22 02:58] MegaNoam opened #4634 "[BUG] Docker sqlite3"
Knex version: `0.95.6`
Database + version: `sqlite3: "5.0.2"`
OS: `node:12.2.0-alpine`

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @smorey2.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do:

I am trying to run Docker which contains **knex in version 0.95.6** together with **sqllite3 in version 5

[2021-08-22 07:11] MegaNoam commented on #4511
Any news?

[2021-08-22 14:44] jarcodallo commented on #4511
I'm working on it 😬

[2021-08-22 16:23] shellscape commented on #3851
Stopping by to lend my support for this request.

[2021-08-22 19:09] exoRift opened #4635 "Inserting an empty array into a JSONB column"
# Environment

Knex version: 0.95.3
Database + version: PostgreSQL 11.12
OS: Debain 10

# Bug

Inserting an empty array (unstringified) into a Postgres JSONB column ends up being an empty object

[2021-08-22 20:38] jeremy-w commented on #4129
It looks like browserify (which seems to be the main target for [the “browser” field](https://github.com/browserify/browserify-handbook#browser-field) in our package.json) [includes a polyfill](https://github.com/browserify/browserify-handbook#builtins) for node’s util module.

Is there a browser test suite I should run as a check?

I was surprised to see peerDependenciesMeta but no accompanying p

[2021-08-22 22:06] kibertoad commented on #4129
@jeremy-w There is not one yet, but if you could create a simple smoke one, that would be awesome.
Story is this: https://github.com/knex/knex/issues/4437

[2021-08-22 22:31] kibertoad commented on #4635
Does it work correctly when using `pg` driver directly?

[2021-08-22 22:35] jeremy-w commented on #4129
Thanks! It’s unfortunate - keeping just meta loses the ability to specify a version bound. The [package.json docs and examples](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#peerdependenciesmeta) sure make it sound like peerdeps + optional together can opt out of autoinstall and render them truly optional:

I can test against a recent Node + npm to see if we can re-introduce the peerD

[2021-08-22 22:37] kibertoad commented on #4129
@jeremy-w Would MySQL even work inside browser? Probably in-memory SQLite is about the only sensible option.
Sure, would appreciate testing that!

[2021-08-22 22:44] jeremy-w commented on #4129
Sqlite sounds good. 👍🏽

If I work at it, I can come up with scenarios where someone would connect directly to a database server from a frontend. Eg no-install devtools that currently wind up shipping as Electron apps.

[2021-08-22 22:45] kibertoad commented on #4129
@jeremy-w I think you can use airtap for browser testing, see https://github.com/fastify/secure-json-parse/pull/21#event-4255199353 as an example. Not sure if we have any sqlite tests in tap already, but if we don't, we could add some.

[2021-08-23 00:31] exoRift commented on #4635
Using `toString()` on the query confirms that it's Knex's doing

![image](https://user-images.githubusercontent.com/20345400/130375410-7206a0a6-5f49-4db6-a01b-b915261393e4.png)

[2021-08-23 07:22] #4634 closed

[2021-08-23 07:31] kibertoad commented on #4634
Did you manage to resolve the problem? I think it was related to failing to install dependencies, not to knex itself.

[2021-08-23 07:39] elhigu commented on #4635
Actually that doesn't prove anything, since knex is not using `.toString()` when executing queries. Most accurate result what is sent to DB driver can be get by calling `.toSQL().toNative()` which returns template SQL string + bindings.

Though when you are writing JSON to jsonb column you need first convert the input data to json. In this case: `JSON.stringify([])` should do.

[2021-08-23 07:39] #4635 closed

[2021-08-23 08:12] glensc commented on #3987
@TheNoim link perhaps for your relevant changes?

[2021-08-23 09:20] molomby commented on #4630
I have something similar in the logs of an app running Knex [0.20.6](https://github.com/knex/knex/releases/tag/0.20.6), released late 2019.

I've been trying to understand an outage we had last week. Basically, the DB server dropped offline then, about 16-17 minutes later we have 80 `read ETIMEDOUT` errors as the 10 pooled connections across 8 threads all error out.

The DB itself was only offline

[2021-08-23 11:18] exoRift commented on #4635
Regardless of the fact of whether `toString` is used, it's still a Knex-isolated method that's converting an empty array to an object which seemingly implies that the other methods do the same.

Also, how come Knex doesn't auto-stringify, if you don't mind me asking?

[2021-08-23 11:20] kibertoad commented on #4635
@exoRift @elhigu They way knex handles json fields is by simply calling `toString()` on them, and not JSON.stringify. I'm not sure why it's done that way and whether there are any downsides to doing stringifying on our end already. @elhigu Any thoughts? Existing behaviour doesn't seem very helpful, I can't imagine anyone depending on it. We might want to throw an error if we get an object there, t

[2021-08-23 11:52] glensc commented on #1840
@knex: perhaps close, as indexType was added with #2890.

[2021-08-23 11:53] glensc commented on #1840
[code]

[2021-08-23 11:55] #1840 closed

[2021-08-23 12:04] glensc opened #4637 "Add support for index hash type for MySQL dialect"
I would like to be able to specify index hash type for `.index` and `.unique` methods for MySQL:

[code]

----

https://github.com/knex/knex/pull/2890 said it added support for `UNIQUE` | `FULLTEXT` | `SPATIAL` referred as `indexType` for MySQL dialect. However, the syntax they referred has also had `index_type` for a different purpose for `USING {BTREE | HASH}`.

So, I'd call the second `index_ty

[2021-08-23 12:05] glensc commented on #4637
Until this is possible via Knex, I suppose the way is to use `knex.raw`?

[2021-08-23 12:09] jeremy-w commented on #4573
Fixed by #4633.

[2021-08-23 12:09] #4573 closed

[2021-08-23 12:09] glensc commented on #4637
What would the Knex syntax be if the third parameter already is `indexType`?

[2021-08-23 12:10] kibertoad commented on #4637
@glensc Would you be open to create a PR for this?
I would suggest using `options` object for this, to avoid having too many positional params.
Not sure what name could be. Any suggestions?

[2021-08-23 12:15] glensc commented on #4637
@kibertoad what is `options` object? can you give pointers?

[2021-08-23 12:17] kibertoad commented on #4637
Here is a good example: https://knexjs.org/#Schema-column-unique

One of the supported parameters is an object with named fields, as opposed to just bunch of strictly positional parameters.

[2021-08-23 12:31] glensc opened #4638 "0.95.10 release missing in github"
I got 0.95.10 from npm registry (`yarn add`), but it's missing from GitHub release/tags:
- https://github.com/knex/knex/releases

is it a legitimate version or has somebody managed to publish under Knex account?

[2021-08-23 12:32] kibertoad commented on #4638
It is legitimate, will create release notes now :)

[2021-08-23 12:33] #4638 closed

[2021-08-23 12:34] kibertoad commented on #4574
@Naragod @ShivamJoker Could you please share your code? Also can you check that there is no older version of knex installed globally?

[2021-08-23 12:39] jeremy-w commented on #4514
Oof, Oracle does require both:

- omitting the RECURSIVE keyword (see [with_clause](https://docs.oracle.com/en/database/oracle/oracle-database/21/sqlrf/SELECT.html#GUID-CFA006CA-6FF1-4972-821E-6996142A51C6__GUID-7BFCEBF8-6459-4328-8CFC-6FF044E8A147) and [subquery_factoring_clause](https://docs.oracle.com/en/database/oracle/oracle-database/21/sqlrf/SELECT.html#GUID-CFA006CA-6FF1-4972-821E-6996142A5

[2021-08-23 16:40] glensc commented on #4637
@kibertoad where the matching code would be?

the mysql dialect seems to get only two parameters:
- https://github.com/knex/knex/blob/e469766689712e46744a71511614541d7e809f5e/lib/dialects/mysql/schema/mysql-tablecompiler.js#L231-L240

[2021-08-23 16:44] glensc commented on #4637
oh, it's just second argument needs to be type-checked:
- https://github.com/knex/knex/blob/e469766689712e46744a71511614541d7e809f5e/lib/dialects/oracle/schema/oracle-tablecompiler.js#L134-L150

[2021-08-23 16:51] ShivamJoker commented on #4574
Guys you need explicitly tell the latest library version, IDK for some reason it is downloading the old version of library.
[code]

Also make sure the typescript version is latest too.

[2021-08-23 16:53] kibertoad commented on #4637
Yup!

[2021-08-23 16:54] glensc commented on #4637
@kibertoad but, how to name the parameter then?

Let me remind you that `index()` already has `indexType`:

- https://github.com/knex/knex/blob/e469766689712e46744a71511614541d7e809f5e/lib/dialects/mysql/schema/mysql-tablecompiler.js#L209-L218

[2021-08-23 16:55] kibertoad commented on #4637
how does mysql documentation differ between the two?

[2021-08-23 16:57] glensc commented on #4637
that's the thing, the MySQL documentation (linked in issue body) doesn't name it, it just lists values.

and yes, they are totally different things!

you can't interchange them: you can't be doing `USING FULLTEXT` or `CREATE BTREE TABLE`

ps: plz quote reply, to understand what to you replying to:
![image](https://user-images.githubusercontent.com/199095/130486718-9f8d29a2-f3e9-493b-8b78-04b917f13

[2021-08-23 16:59] glensc commented on #4637
here they name them as "hash indexes":

- https://dev.mysql.com/doc/refman/8.0/en/index-btree-hash.html

use `hashIndex` as a parameter name then?

[2021-08-23 21:56] rathboma opened #4641 "Regex Error in Safari / WebKit browsers (including Gnome Web)"
The comment regex in the Postgres column compiler has a look-behind. This isn't supported by Safari or WebKit, and so causes any web bundled app to crash.

This line:

[code]
This file:
https://github.com/knex/knex/blob/master/lib/dialects/postgres/schema/pg-columncompiler.js#L7

Here's an error output from `Gnome Web (Midori)`:
![image](https://user-images.githubusercontent.com/279769/130524670-a

[2021-08-24 04:58] thiagoarioli commented on #2253
Hi guys, wee have any update on this? thanks!

[2021-08-24 05:25] amd032 commented on #4630
@molomby I was wondering about connectivity issues, but I have some incidents when our application begins two queries within the same millisecond, one of them succeeds, while the other one hangs.

I have modified my code, added missing `await` and `.timeout()` as suggested. None of that helped. The time in the log between `Transaction starting` and `Transaction started` is ~16 minutes. Postgres se

[2021-08-24 07:56] mistercorea opened #4642 "In postgres array is being converted to JSON in JSONB type column"
# Environment

Knex version: "0.95.10"
Database + version: postgres 13.3
OS: OSX

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Inserting an array to a JSONB typed column.

table create
[code]

json data
[code]
the original location value is in an array  like
[code]
but it converts to `{ '664fa3e0-bcf3-49c0-b034-fd8db98e4903' }`

[code]
raw query looks lik

[2021-08-24 09:44] mistercorea commented on #4642
https://github.com/knex/knex/blob/e469766689712e46744a71511614541d7e809f5e/lib/dialects/postgres/index.js#L306
This is causing the problem but I am not sure why it is converting array to wrapped with`{}`

[2021-08-24 10:16] elhigu commented on #4642
duplicate https://github.com/knex/knex/issues/4635

[2021-08-24 10:16] #4642 closed

[2021-08-24 10:26] elhigu commented on #4635
@exoRift I have no idea what do you mean by that?

@kibertoad  I don't think that knex even calls `.toString()` in this case https://runkit.com/embed/s9zq3a5rblem

As I said, knex cannot possibly decide how array should be stringified in every case. Knex does not know to which kind of query the value is passed to. Historically postgres `{}` array format was used when outputting arrays in debug `qu

[2021-08-24 10:35] mistercorea commented on #4642
OK.

basically, the value needs to be converted to stringify before it can be inserted.

[code]

that worked. it's a bit awkward but it will do the job.

[2021-08-24 13:12] giovanni-bertoncelli commented on #913
This should not be closed @unsign3d . Is there any progress on this bug?

[2021-08-24 16:45] glensc commented on #4637
@kibertoad so, name suggestion from you?

[2021-08-24 16:48] glensc opened #4645 "Why unique() does not have "string" type for columnNames?"
- https://github.com/knex/knex/blob/0.95.10/types/index.d.ts#L1915-L1920:
[code]

it came to me as surprise that `index()` and `unique()` methods do not share signatures.

why `index()` allows string, but `unique()` only array of strings for `columnNames`?

[2021-08-24 20:01] kibertoad commented on #4637
@glensc "storageEngineIndexType" maybe?..https://mariadb.com/kb/en/storage-engine-index-types/
b-tree is not a hash index

[2021-08-25 01:41] jeremy-w commented on #4509
not in the builder syntax per se, but you can squeeze it in using knex.raw. here's an example from a REPL session:

[code]

[2021-08-25 01:49] jeremy-w commented on #4274
i'm not seeing an `mssqlPoolSettings` in the codebase any more, so i reckon this one's fixed?

[2021-08-25 06:12] #4274 closed

[2021-08-25 06:43] FelixChow commented on #3651
Same problem, happening when using knex 0.21.16 / 0.95.10 & oracledb 5.1 / 5.2 in a containerized environment.
I am facing these issues with the docker for windows 10 pro and also with the redhat openshift.
I tried to make a regular ping query (4 mins) to keep the connection alive.
It seems work for the trigger to disconnect was extended, however, when it was idling for a day longer the case still

[2021-08-25 08:26] glensc commented on #4637
Ok, I'll go with `storageEngineIndexType`, because [naming things][1] is hard

[1]: https://martinfowler.com/bliki/TwoHardThings.html

[2021-08-25 09:06] olahjendev opened #4646 "Rank with function syntax does not accept descending property"
# Environment

Knex version: 0.95.9
Database + version: pg: 8.7.1
OS: Mac

# Bug

I'm trying to use the rank() call in the way demonstrated below, but it does not accept 'desc'.

[code]

by running the above code, I get an ascending order for the ranks, therefore it looks like orderyBy() ignores 'desc' as a second parameter when ran inside rank()'s callback. I solved the issue by using the raw for

[2021-08-26 20:08] MagsMagnoli opened #4650 "Transaction execution order issue"
# Environment

Knex version: 0.95.10
Database + version: pg 8.7.1
OS: Linux

# Bug
Since 0.20.11 there is a transaction synchronization issue. On a production workflow even with forUpdate locking this causes data to be read and executed on out of order. The transaction is rearranged to the proper order after the commit but with values that 'arent possible' if it had been executed sequentially.

1.

[2021-08-26 20:26] kibertoad opened #4651 "Add diagnostics_channel hooks"
Consider using https://github.com/simon-id/diagnostics_channel-polyfill#readme polyfill for older Node versions.

[2021-08-27 09:49] ald890 opened #4655 "Sqlite JSON is string"
# Environment

Knex version: 0.95.10
Database Sqlite3 5.0.0
OS: Linux

# Bug

A column with a json type, does not return json, but a string.
I have schema with:
`
table.json('stack')
`

But knex returns this represenation:
`
stack: "[\"Javascript\",\"NodeJs\",\"React\",\"PHP\",\"Ruby\"]"
`

[2021-08-28 02:23] maximelkin commented on #4650
I will try, but no guaranties i will succeed, sorry in advance

[2021-08-28 03:02] maximelkin commented on #4650
Locally tested, `BEGIN;` query finish not in the ascending order, dont think it wrong behavior.
Can you please provide more info?

Also await before insert supposed to be omitted? (i tested both, `await` variant constantly provide sequential results as expected)

[2021-08-28 06:00] acro5piano commented on #882
I also wrote a module that does this (simple one using `whereIn`)

https://github.com/acro5piano/knex-with-relations

[2021-08-28 14:30] MagsMagnoli commented on #4650
@maximelkin sure

In our real use case we use a row lock before reading then writing the difference in a status change. What we write is `old_status` `new_status`. We use an await before the row lock, before the read, and before the write.

What happens is the item that is out of order, say 5 coming after 7, 5 will read the data from number 7 then its `old_status` will be what 7 wrote. After all t

[2021-08-28 14:52] MagsMagnoli commented on #4650
Heres the code for a slightly more complex example:

Migration file for db:
[code]

Test code:
[code]

|**0.20.10**|**0.20.11+**|
|---|---|
|![image](https://user-images.githubusercontent.com/4146037/131221953-8c76b526-fd0b-450c-8f47-0d30eaf62cdb.png)|![image](https://user-images.githubusercontent.com/4146037/131221972-c317771b-9df7-43df-8441-832faa10cd36.png)|
|![image](https://user-images.github

[2021-08-28 14:56] MagsMagnoli commented on #4650
@maximelkin so as you can see above iteration 7 of the issue which starts after 9 was able to read the value of 9 and update to its value of 7 but then was rearranged to being lower than iteration 9

[2021-08-28 21:23] jtai-omniex opened #4658 "Hooks on table creation?"
# Feature discussion / request

Is it possible to create a hook on table creation, rather than the standard insert/select/update/delete? What I'd like to do is build a separate auditing table for every standard table in my database, but build a wrapper about it such that developers don't need to remember to create this separate auditing table in the future.

1. Explain what is your use case

2. Ex

[2021-08-29 04:19] maximelkin commented on #4650
But why

[code]

and not
[code]
Not sure its good idea to be dependent on order of their execution in first case. (This is start of 10 independent tasks, ordered only by start, they could go in other order from any difference in execution time i.e. BEGIN query execution time)

Sorry, probably I'm trying to solve wrong problem, because I can't understand, why this should be explicitly in that way.

[2021-08-29 05:29] MagsMagnoli commented on #4650
@maximelkin in our production system we have separate services issuing requests. each does call await but since they are separate systems in this example its misleading to do it here

[2021-08-30 15:35] MagsMagnoli commented on #4650
@maximelkin for our use case we should be able to get by with switching to clock_timestamp but that indicates that the first log message announcing the start of the transaction is actually later than it "really" started if the timestamps it generates occur earlier. would that maybe have to do with the `db.transaction` statement issuing `begin` before it has a pool connection or some other processi

[2021-08-30 17:19] #4628 closed

[2021-08-30 20:02] mormsbee commented on #3807
as we were calling the following in our app init:
`knex.migrate.latest(config);`
our solution was to add ts-node to package.json:
`"ts-node": "^8.10.2"`
 and the following near the top of our server.ts file.
`require('ts-node/register');`

[2021-08-31 00:42] maximelkin commented on #4650
I can't really get which conditions should order your parallel transactions in correct way. Maybe you should change

[code]
to also require strictly previous step? (i.e. add filter & check after if any rows selected)

[2021-08-31 01:13] maximelkin commented on #4630
Maybe you exhausted connection pool by some long txs?

[2021-08-31 08:55] amd032 commented on #4630
In scenarios when pool is full I get a message `Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?`
I don't think it's the case here. I have few hundreds queries per minute and one in a while one of them hangs for exactly 15-16 minutes.

[2021-08-31 17:31] elhigu commented on #4630
Please provide a reduced testcase that can reproduce the error. That code provided cannot be tested by anyone else.

Also interpolating `${insertQuery}` the way it is done above if completely wrong and probably throws an error in DB side since the generated query will be ` "[object Object] ON CONFLICT (id1, name, id2) DO UPDATE SET data = ?, _modifiedts = ?"` https://runkit.com/embed/en80x1fx26uj

[2021-08-31 20:23] statico commented on #2500
I tried to replace `global.Promise` with Bluebird. This got us great stack traces but subtly breaks because [Bluebird doesn't support `allSettled`](http://bluebirdjs.com/docs/api-reference.html) per the Promise spec.

[2021-09-01 01:33] maximelkin commented on #4650
I probably get it, going to recheck why this would happen

[2021-09-01 01:36] maximelkin commented on #4650
So basically, start of transaction A on postgres server happens before start of transaction B, but on applications side transaction A start observed after start of transaction B.

[2021-09-01 05:52] sanket143 commented on #1331
uhmm... well.. [v0.95.10](https://github.com/knex/knex/releases/tag/0.95.10) 😶

[2021-09-01 05:55] kibertoad commented on #1331
1.0.0 is coming this year. Pinky promise.

[2021-09-01 06:51] amd032 commented on #4630
@elhigu
Thanks for the answer. I really appreciate it.
In your runkit you used `.toSQL()` call, we use `.toQuery()`. I guess it makes a difference, right?
`dataJson` is set to `JSON.stringify({ this: 'will', work: 'fine' })`

Now moving to the main point. It's rather impossible to provide a test to reproduce it. We see it only on our production environment, where the load is pretty heavy. And as I

[2021-09-01 07:11] kibertoad commented on #4630
@amd032 I've checked the code, and Knex itself only sets timeouts on rollback operations and on acquiring connections. All other timeouts are either included by users, or come from external factors.

I've looked up what PostgreSQL has to says about it, found this:
[code]

Coming back to your earlier question. I don't think it's currently possible to set timeout on transaction initiation, but that

[2021-09-02 09:10] abdulrahman-khankan commented on #3667
You can use `.orderByRaw('colName desc NULLS LAST')`

[2021-09-03 01:04] cekvenich2 commented on #4511
Ideally with all the extra flags it supports:
this._db.pragma('cache_size = -' + mem); //
		console.log('cache', this._db.pragma('cache_size', { simple: true }));
		this._db.unsafeMode(true)
		this._db.pragma('busy_timeout=' + 120 * 1000); // 2 minutes
		this._db.pragma('mmap_size=' + mem); //
		this._db.pragma('synchronous=OFF');

		this._db.pragma('journal_mode=OFF'); // MEMORY or WAL
		this._db

[2021-09-03 19:50] kibertoad commented on #1218
Released in 0.95.11

[2021-09-03 19:51] kibertoad commented on #4204
Released in 0.95.11

[2021-09-03 19:51] kibertoad commented on #4404
Released in 0.95.11

[2021-09-03 19:52] kibertoad commented on #4628
Released in 0.95.11

[2021-09-04 06:02] joselcvarela commented on #4524
I have tested at our side and I believe this is now fixed in 0.95.11.
Have tried to remove a foreign column and delete a referenced table and no problems found.

[2021-09-04 06:48] kibertoad commented on #4524
Released in 0.95.11

[2021-09-04 06:48] #4524 closed

[2021-09-04 07:48] kibertoad commented on #4514
@code-ape Could you please check if implementation in 0.95.11 satisfies requirements of this ticket?

[2021-09-04 11:01] emmesbef opened #4660 "InnerJoin with andWhere doesn't work correctly"
# Environment

Knex version: 0.95.9
Database + version: MS-SQL 12.0.6433.1
OS: Windows 10

@smorey2

# Bug
when Using andWhere with InnerJoin leads to undefined result. The resulting SQL-Statement which is build does work on the Server without any Problems.
code example:
[code]
This results in the following SQL build by knex:

[code]

where the binding p0 and p1 have the correct values.

is there

[2021-09-04 18:36] #4514 closed

[2021-09-05 06:22] hyfydistro opened #4661 "Do you have social media that people can join? e.g. Slack, Discord?"
I think it would be great to have a community to join.

[2021-09-05 12:51] WankkoRee opened #4662 "maybe the documentation needs to be updated"
[https://knexjs.org/#Builder-onConflict](https://knexjs.org/#Builder-onConflict)

![image](https://user-images.githubusercontent.com/21287731/132127342-8ea70eb0-acbb-4db0-b3e9-761039e56f1c.png)

As far as I know, it uses the table's PRIMARY KEY or a UNIQUE index, right?

[2021-09-06 01:14] rustyconover commented on #2002
Any luck yet with migrations and cockroachdb?

[2021-09-06 05:36] kibertoad commented on #2002
Working on it!

[2021-09-06 06:07] praveenphoenix42 opened #4663 "Knex 0.95.11 using vulnerable version 1.0.6 of path parse"
Latest version of Knex 0.95.11 is using vulnerable version 1.0.6 of path parse. Path parse 1.0.6 is vulnerable to Regular Expression Denial of Service (ReDoS) via splitDeviceRe, splitTailRe, and splitPathRe regular expressions. ReDoS exhibits polynomial worst-case time complexity. Path parse version 1.0.7 is available.
Knex should use updated path parse version 1.0.7

[2021-09-06 06:14] kibertoad commented on #4663
Doesn't "npm update" help?

[2021-09-06 08:13] jpike88 commented on #1588
Is this effort dead? I'm struggling trying to make sense of our server's errors and it's a real problem for us.

[2021-09-06 08:20] kibertoad commented on #1588
@jpike88 Latest knex version does not use Blubird anymore, native promises are used for everything.

[2021-09-06 08:20] #1588 closed

[2021-09-06 13:50] Sleepful commented on #2324
seems like stream doesn't close its connection ever, and then you get a stream that is already depleted when you try to use it again. Very odd.

[2021-09-06 14:36] Plaffont opened #4665 "Filtered catch not transmited after a transaction (for Bluebird promises)"
# Environment

Knex version: 0.95.8
Database + version: PostgreSQL 10.6
OS: Ubuntu

# Bug

When using a [Bluebird filtered catch](http://bluebirdjs.com/docs/api/catch.html#filtered-catch) after a transaction only the first parameter is transmited to the actual promise. This parameter is then considered has the handler by bluebird and then causing distinct troubles.
For instance, with a filtered ca

[2021-09-06 21:26] omeroot commented on #4507
Update TypeScript version to 4.4.2

[2021-09-07 12:56] Zak4sad opened #4667 "Run Knex migration agains ATP instance"
# Environment

Knex version: 0.16.3
OS:  oraclelinux ( docker Image )
Database + version: Oracle ATP - Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production

# Issue
I am working on a container based application. And I want to launch migration scripts against my Oracle ATP.
I used to use this configuration to target a local Oracle Db container

[code]

[code]
And I want to modify

[2021-09-07 12:58] kibertoad commented on #4667
Can you explain your need with more details? The way this script works, you are simply loading all connection details from environment variables. If you put credentials for your Oracle ATP in env variables, if ATP is API-compatible with Oracle database, that should just work.

[2021-09-07 15:31] tkalliom commented on #4401
Since `set not null` is idempotent in PostgreSQL, how about skipping `drop not null` if `notNullable()` is present? That would make a primary key compliant implementation possible without introspecting the schema. Although having to always add `notNullable()` after `primary()` when altering would be clumsy, it would still be better than changes to primary keys being impossible.

[2021-09-08 09:24] miss61008596 commented on #3028
the same problem.

[2021-09-08 09:27] miss61008596 commented on #3028
Can you give an example code please, thank you so much!

[2021-09-08 09:32] miss61008596 commented on #3028
yes, you're right.

[2021-09-08 10:51] miss61008596 commented on #3028
@Zeeeeta  I think this code can help. but this year is 2021 T_T.
[code]

[2021-09-08 10:57] kibertoad commented on #3028
@miss61008596 PR to improve support on knex side would be most welcome!

[2021-09-08 18:01] ffxsam opened #4669 "TypeScript definition for `whereIn` doesn't match documentation"
# Environment

Knex version: 0.95.11
Database + version: Postgres 10.x
OS: macOS

When using `whereIn` like so:

[code]

I'm getting this TypeScript error:

[code]

For some reason, it's expecting an array of strings as the first argument to `whereIn`, but the docs clearly show it takes a single string, followed by an array.

[2021-09-08 20:39] Zak4sad commented on #4667
Actually I want to target ATP and install schema using knex-js.
I found in the documentation , that I shall use the Easy Connect string, something like :

[code]
in which connectString is equal to :
```protocol://host:port/service_name?wallet_location=/my/dir&retry_count=N&retry_delay=N```

The issue that I have is that **_connectString_** is not a knexjs attribute so I won't  be able to use it.

[2021-09-09 01:43] miss61008596 commented on #3028
ok, it's a good idea.

[2021-09-09 07:31] acro5piano commented on #950
I created a package for this. Just import them to extend Knex query builder.

https://github.com/acro5piano/knex-first-or-fail

Note that it doesn't throw error if there are two or more rows in the result set.

[2021-09-10 14:32] thefoxie commented on #2047
@elhigu
Still having this issue. I'm trying to pass parameter with $.

Works
[code]
Doesn't work
[code]

[2021-09-10 21:32] RANGELJ commented on #4271
Any update on this?, it will be awesome if the types use template strings so even in joins we could catch errors

[2021-09-10 21:40] kibertoad commented on #4271
@RANGELJ Would you be open to send a PR for this?

[2021-09-10 22:43] robertpitt opened #4672 "SyntaxError: An identifier or keyword cannot immediately follow a numeric literal"
# Environment

Knex version: 0.95.11
Database + version: MySQL (5.7.12-log Amazon RDS)
OS: Mac OS Big Sur 11.2.1

tag @lorefnon as this is in regards to the typescript types

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

We are not able to generate types for columns that start with a number.

2. Error message
[code]

# Questions about how to use knex

Git

[2021-09-11 14:12] flaviosilveira commented on #3356
I know this is an old one, but in the last versions we have --directory option.

[Seeds CLI options](https://knexjs.org/#Seeds-CLI)

Looks like (at least for me, version ^0.20) override that config via command line is not working, I will try a PR in order to fix that

[2021-09-12 12:38] craigcosmo opened #4673 "TypeError: Converting circular structure to JSON"
error
[code]

system
[code]

query
[code]

full code
[code]

database
[code]

[2021-09-12 13:38] craigcosmo commented on #4673
I missing `await` at the  query

[2021-09-13 14:59] glensc opened #4675 "Parameter 'trx' implicitly has an 'any' type."
# Environment

Knex version: 0.95.11
Database + version: MySQL 8.0
OS: macOS/Linux

# Problem

Trying to update to 0.95.x and getting type error which is not mentioned in UPGRADE documentation:
- https://github.com/knex/knex/blob/0.95.11/UPGRADING.md

[code]

I can't find any typing in examples for `trx` from https://knexjs.org/

So, how to resolve the error, and this problem should have at least

[2021-09-14 16:09] FrankFang commented on #1828
Why does mysql do this?

[2021-09-14 18:00] FrankFang commented on #1739
But I get the number of affected rows:
[code]
Is it possible for knex to return the affected number?

[2021-09-14 18:42] FrankFang commented on #1739
https://github.com/knex/knex/pull/4677

[2021-09-15 08:28] abjrcode opened #4678 "Multiple DDL statements inside of a migration Up or Down function"
# Environment

Knex version: 0.95.11
Database + version: MySQL 5.8
OS: Windows 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

If there are multiple DDL statements such as creating multiple tables inside of a single migration script's `up()` function and one of them fails then I expect knex to call that migration script's `down()` to revert/rollback any

[2021-09-15 19:39] andreluizsgf opened #4679 "type error when combining .sum() and .limit or .offset"
Hi, im trying to paginate a few data but when i try to combine `.sum` and `.limit`/`.offset` knex change the result type.

[code]

knex is assuming the query above returns `({ discountValue?: any; } & { totalValue?: any; })[]`.
If i remove both `.sum({ discountValue: "tp.discountValue" })` and ` .sum({ totalValue: "tp.value" })` or ` .limit(pagination.limit)` and `.offset(pagination.offset)` it wo

[2021-09-16 11:57] vvo commented on #2820
Hey there, I too had this error in development, and I wasn't explicitly using transactions. Maybe one of the objection.js codes I was using was, but I doubt it given logs.

It turns out I was running docker-compose with postgres:13.2-**alpine** on my MacBook m1 computer. The alpine version is built for amd64 architectures, while m1 MacBooks are running on arm64 architectures.

While this works wit

[2021-09-16 12:56] KristjanTammekivi commented on #4661
Gitter https://gitter.im/tgriesser/knex

[2021-09-16 13:01] KristjanTammekivi commented on #4678
MySQL has a bit strange behavior on this, since it [autocommits after certain actions](https://dev.mysql.com/doc/refman/8.0/en/implicit-commit.html). On other databases that's not the case and the DDL executed in up is simply rolled back. Down migrations are only run to rollback (successfully) completed migrations.

In your case I'd recommend adding a try / catch, calling down from there and then

[2021-09-16 13:02] KristjanTammekivi commented on #4675
Can you show a bigger example? What's the type of this.knex?

[2021-09-16 13:03] KristjanTammekivi commented on #4675
I suspect your error is originating from the first point in the upgrading guide
![image](https://user-images.githubusercontent.com/8754356/133617003-c7a0cf87-ba5e-4fa0-8571-fe9101636f7f.png)

[2021-09-16 13:07] KristjanTammekivi commented on #4672
Doesn't look like it's related to knex? When declaring object literals in JavaScript (and interface/object literal members in TypeScript) you have to surround the member name in quotes.
[example](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAnsANqA5sg3gKGSOQGYATAZwgQFcoIAuZEGgWwCNoBufAX33yhIsRCgAOcChWx5CxAETkqtevKYsO3PkA)

[2021-09-16 13:10] KristjanTammekivi commented on #4665
Knex removed bluebird a long time ago, the Promise returned from knex.transaction is vanilla

[2021-09-16 13:15] glensc commented on #4675
@KristjanTammekivi updated example, it's just an object created from `knex()` function. and the error is on `trx` not on `knex` instance. If I used wrong import, the error would be different (This expression is not callable, Type 'typeof Knex' has no call signatures).

[2021-09-16 13:17] glensc commented on #4675
Found tye symbol, it should be typed as `trx: Knex.Transaction`.

[2021-09-16 13:22] glensc commented on #4675
So, the question is, can somehow type inference be improved so that don't need to add type hint in a callback:
- https://www.typescriptlang.org/docs/handbook/type-inference.html

...or the upgrade document updated that the type hint is now required if `noImplicitAny` is enabled in tsconfig.
- https://www.typescriptlang.org/tsconfig#noImplicitAny

I hope for the former!

[2021-09-16 13:26] KristjanTammekivi commented on #4675
The thing is...this already works fine for me
![image](https://user-images.githubusercontent.com/8754356/133620502-dd980ef7-dbc8-4931-8d6a-1a52381f8379.png)

[2021-09-16 15:39] abjrcode commented on #4678
Alright if this is something by design then I understand. Indeed there are two possibilities:
* Do one DDL statement per migration file (which is what I am doing now)
* Like you mentioned, catch the exception and deal with it.

It is messy to deal with both ways.

Thanks for your help.

[2021-09-16 16:16] KristjanTammekivi commented on #4678
Yeah I guess one ddl per file would actually be nicer, but still not perfect.

[2021-09-16 16:29] KristjanTammekivi commented on #4660
Not sure what you mean but this seems to work just fine https://runkit.com/kristjantammekivi/614370c214eb660008432880

[2021-09-16 16:37] KristjanTammekivi commented on #4655
The parsing is done inside the client you're using.
I guess in your case you can use postProcessResponse https://knexjs.org/#Installation-post-process-response

[2021-09-16 16:41] emmesbef commented on #4660
your example is working with sqlite - my issue is with mssql

[2021-09-16 17:13] glensc commented on #4675
@KristjanTammekivi try `tsc --noImplicitAny true`

[2021-09-16 17:25] glensc commented on #4675
very odd. I can not reproduce myself anymore either. I even tried to downgrade to 0.95.10, which I might had used initially.

[code]

[code]

[2021-09-16 17:25] #4675 closed

[2021-09-17 09:38] aidenfoxx opened #4681 "[Oracle] Cannot make text column "notNullable""
# Environment

Knex version: 0.95.11
Database + version: OracleDB 18
OS: Ubuntu

# Bug

When trying to alter a text field to be "notNullable" Oracle throws the error:

[code]

This can be reproduced with the following test case:

[code]

There is no data in the table, so it's not an issue of existing data containing null values.

@atiertant

[2021-09-17 09:52] aidenfoxx commented on #4681
This isn't the first time I've had similar issues with knex. This would be easily solved if we had some way to communicate that we don't want to update the underlying column type; just the constraints. For example, the following query works correctly:

`ALTER TABLE "test_table" MODIFY "test_column" DEFAULT NULL;`

It would be nice to have some kind of way to only target constraints with a syntax l

[2021-09-17 09:54] kibertoad commented on #4681
@aidenfoxx Funny that you mention that. 0.95.11 introduced exactly that, `table.setNullable()`. Can you give it a try?

[2021-09-17 10:00] aidenfoxx commented on #4681
Good timing! Yes, that absolutely works. Sorry for creating the unnecessary issue!

[2021-09-17 10:00] #4681 closed

[2021-09-17 10:02] kibertoad commented on #4681
No worries!

[2021-09-17 12:14] aidenfoxx commented on #4681
@kibertoad Is there any particular reason why `dropNullable` isn't supported for SQLite?

[2021-09-17 12:55] kibertoad commented on #4681
@aidenfoxx Because SQLite itself doesn't support that operation, I think, when using `.alter()` approach the whole table gets rebuilt.
If you could implement a working approach for SQLite, would be more than happy to accept PR for that.

[2021-09-17 13:09] aidenfoxx commented on #4681
If I get a moment this weekend I'll look into adding it. I think the `dropNullable` function is great for overall compatibility, so it would be nice to have it working for all vendors. 😄

[2021-09-17 13:26] kibertoad commented on #4681
@aidenfoxx That would be amazing, thank you!

[2021-09-17 20:03] ald890 commented on #4655
The problem exists only in Sqlite3, I checked the same project and database in Postgres and JSON parsing works.

[2021-09-17 20:11] kibertoad commented on #4655
@ald890 Then it should be fixed on SQLite driver level.

[2021-09-17 20:18] slim-hmidi opened #4682 "Key columns "role_id" and "id" are of incompatible types: integer and uuid."
# Environment

Knex version: 0.95.11
Database + version: Postgresql 13.4
OS: Mac OS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

roles.ts:
[code]
users.ts:
[code]

2. Error message
I got this error:
[code]

[2021-09-17 20:20] kibertoad commented on #4682
`Key columns "role_id" and "id" are of incompatible types: integer and uuid.`

This is an error in your schema.

[2021-09-17 20:29] slim-hmidi commented on #4682
But ` id` in roles table is not `uuid` according to `table.uuid('id').primary().notNullable()` and I mentioned `uuid` as type to reference `role_id` in `table
          .uuid('role_id')
          .references('id')
          .inTable('roles')
          .onDelete('CASCADE')
          .onUpdate('CASCADE')
          .index()`

Is it wrong like that?

[2021-09-17 20:31] kibertoad commented on #4682
`        table.increments('id').primary().notNullable()` this is integer
`        table
          .uuid('role_id')
          .references('id')` this is uuid

Yes, it is wrong.

[2021-09-17 20:34] kibertoad commented on #4682
OK, I see what you are saying, you are referencing a column on another table which is allegedly also a uuid.

Can you try running SQL generated from those operations by hand in DB and see what happens? I wonder if it's knex generating wrong SQL or DB reacting in a weird way.

[2021-09-17 20:35] kibertoad commented on #4682
Before going very deep, can you check that there is no leftover old table with the wrong type? Since you are doing (a very strongly advised against) conditional schema creation, it may very well be that first migration is not executed and you have some old table structure in place.

[2021-09-17 20:40] slim-hmidi commented on #4682
I updated them:
[code]
[code]
      And it works fine, it was due to old migrations and config.

[2021-09-17 20:40] #4682 closed

[2021-09-17 22:06] slim-hmidi opened #4683 "invalid input syntax for type uuid:"
# Environment
Knex version: 0.95.11
Database + version: Postgresql 13.4
OS: Mac OS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I have two tables `roles` and ` users`:
[code]
import { Knex } from 'knex'

// eslint-disable-next-line import/prefer-default-export
export async function seed (knex: Knex): Promise<void> {
  // Deletes ALL existing entries
  aw

[2021-09-17 23:10] #4683 closed

[2021-09-19 19:16] craigcosmo commented on #3851
I want this too

[2021-09-20 03:47] kasvith opened #5915 "Improve documentation by integrating VuePress"
Often when using `Knex.js` documentation I find it rather difficult to search for something. Also, the font size is too small. If we moved to a system like VuePress we get a lot of things out of the box

- Search(default or Algolia)
- Rendering support with themes(dark mode included)
- Ability to run JS(for example we can run Knex snippets as we already doing)
- Documentation with Markdown
- And t

[2021-09-20 09:43] AhmedBenHadj2 opened #4687 "Lower case insensitive not applied to `LIKE` condition"
# Environment

Knex version: 0.95.1
Database + version: sqlite3
OS: Mac Os

# Bug

1. Trying to execute the following code:
[code]
But `result` is `1` and not `0`

3. Here is an example [npm-run-kit](https://runkit.com/ahmedbenhadj2/61485302cfe90d00082174f2)

# Feature discussion / request

1. My use case, is to be able to use the `LIKE` condition with case insensitive

2. Perhaps there is a force

[2021-09-20 14:58] AhmedBenHadj2 commented on #4687
Problem resolved by doing this:
[code]

[2021-09-20 14:58] #4687 closed

[2021-09-21 13:48] glensc opened #4688 "Remove extension from migration names"
So, having your migrations in TypeScript, running them via `ts-node` locally works fine, but when deploying production the migrations are compiled to `.js` files via `tsc`.

So migrations recorded in the production database have `.js` extension, and when such database dump is attempted to be used in the development, you'll have name conflict as seems like migrations not applied.

Workaround is thi

[2021-09-22 18:20] kaitlynreese commented on #4675
I'm getting the same errors as @glensc here on Knex `0.95.11`:

This declaration:

[code]
yields the error `Namespace '"/node_modules/knex/types/index".Knex' has no exported member 'Transaction'.ts(2694)`.

As well as:
[code]

gives `Parameter 'trx' implicitly has an 'any' type.ts(7006)`.

Downgrading to `0.95.10` also did not help. Thanks all!

[2021-09-22 18:24] KristjanTammekivi commented on #4675
Are you getting this error inside your editor or also when compiling? The only thing I can think of is that your editor might need a restart after installing the newest knex....

[2021-09-22 19:41] kaitlynreese commented on #4675
@KristjanTammekivi I get both error in the editor as well as on compilation. Thanks for your help!

[code]

[2021-09-22 19:44] kaitlynreese commented on #4675
I'm on TypeScript v3.8, could this be causing issues?

[2021-09-22 19:50] kibertoad commented on #4675
@kaitlynreese Yes. Knex 0.95+ requires TS 4.1.
See https://github.com/knex/knex/blob/master/UPGRADING.md

[2021-09-22 20:19] glensc commented on #4675
@kaitlynreese different error, different problem. please create a new issue instead. closed issues are likely not monitored by maintainers.

[2021-09-23 14:56] tdubs42 commented on #1360
I see this issue was closed but I have found the solution. Between [this](https://gist.github.com/samsch/668801ae6913f8ecbe28f050998d2ca9) tutorial and ES6 arrow functions, we are able to next 2 levels of joins. To complete the question above, you would want:
[code]

[2021-09-24 02:23] HamzaKV commented on #4389
Facing same issue.

Environment:
- typescript: 4.4.3
- objection: 2.2.16
- pg: 8.7.1
- knex: 0.95.11
- Node: 16.8.0

[code]
Following the guide did not help.
Solved it by downgrading knex to less than 0.95.0

[2021-09-25 19:31] elhigu commented on #4663
Should this be closed?

[2021-09-26 12:39] elhigu commented on #4401
It comes from the design that knex actually doesn't know anything about the schema so it doesn't know if the constraint was there in the first place.

Having schema system completely out from knex core repo would be a lot better for the project to allow more relaxed feature development on that side. I wont like to have really sophisticated schema functionality on core repository, because It will e

[2021-09-26 12:46] elhigu commented on #4673
Cannot reproduce.  But basically that error happens when you try to convert object to json, which has reference to itself. Without `await` you are trying to jsonify knex query builder which does have that kind of dependencies.

[2021-09-26 12:46] #4673 closed

[2021-09-26 12:51] elhigu commented on #2047
Yeah, probably regular expression there requires that named replacement is alphanumerical or something like that.

[2021-09-26 13:03] elhigu commented on #950
I think we have now ecosystem document somewhere where this can be added 👍

[2021-09-26 13:08] elhigu commented on #4667
Where did you get this tip? Would be great to know the source, since this should not be done. Knex is designed to work when that is set true.

I've tried to comment everywhere in internet, where people is doing this, but it still pops out regularly 😢

[2021-09-26 13:36] elhigu commented on #4655
This is out of scope of knex.

[2021-09-26 13:36] #4655 closed

[2021-09-26 13:45] elhigu commented on #4678
I think that when `up()` fails, then `down()` should be called. So I would incline on this being a bug. At least I have also thought that it should be done exactly because it allows to write cleanup code easily for partially done migration and wouldn't require 2 different down handlers (one for exception handled reverting and another for down function).

Anyhow if this is decided not to be a bug,

[2021-09-26 17:29] elhigu commented on #4660
I cannnot see anything wrong in that query. What kind of query are you expecting?

Can be reopened if this end up to look like a bug in knex.

All looks good here as well https://runkit.com/embed/fpeyz1vdbl1x

[2021-09-26 17:29] #4660 closed

[2021-09-26 17:41] elhigu commented on #4665
merged, the change did seem to be implemented backwards compatible way.

[2021-09-26 17:41] #4665 closed

[2021-09-26 17:43] elhigu commented on #4672
Closing as this doesn't seem like a knex problem.

[2021-09-26 17:43] #4672 closed

[2021-09-26 17:44] #4661 closed

[2021-09-26 18:26] emmesbef commented on #4660
The Statement(query) is correct but the return result is empty. Statement which I get from the Debug( .toSQL().toNative()) message with the same values(bindings) directly fired on the Server is returning a result.

[2021-09-26 19:04] elhigu commented on #1828
@FrankFang That you should ask from people who has created mysql database.

[2021-09-26 19:12] elhigu commented on #4688
I agree that not having migration file extension in the database would be a good thing.

[2021-09-26 19:44] elhigu commented on #4574
@kibertoad was this fixed?

[2021-09-26 19:48] kibertoad commented on #4574
@elhigu It's not a bug, it's migration guide being ignored.

[2021-09-26 20:15] elhigu commented on #4650
I don't see any problem in the original post.... If you launch 10 queries / transactions in parallel, nothing guarantees their execution order.

[2021-09-26 20:19] elhigu commented on #4650
Closing since this doesn't look like a bug, but expected behavior.

[2021-09-26 20:19] #4650 closed

[2021-09-26 21:17] elhigu commented on #4646
First query generates:

[code]

 raw generates:

[2021-09-26 21:27] elhigu commented on #3651
Next step would be to get some verified testcase to  reproduce this, so that someone motivated can write the fix.

[2021-09-26 21:38] elhigu commented on #4660
What queries and parameters exactly are you running in knex and in mssql commandline? Might be problem with invalid types?

Can you try executing that query with mssql db driver directly? What result that returns? (remember to use parameter bingings)

[2021-09-26 21:39] elhigu commented on #4660
Also checking out server logs might help to see what is the difference between a query that did not return anything and with the correct query.

[2021-09-26 21:41] elhigu commented on #4574
mm ok, so closing this 👍

[2021-09-26 21:41] #4574 closed

[2021-09-26 21:55] elhigu commented on #3667
Any syntax that is backwards compatible if fine for me. Sorry for really delayed answer though. That would be a useful feature.

[2021-09-27 06:19] yhaskell commented on #4401
I think simplifying it would be better actually:
adding `.dropNonNullable()` explicitly should drop the non null constraint, and not adding it should not touch it at all.

That would make the schema alter completely deterministic, and also not require any schema reading.

[2021-09-27 08:12] glensc commented on #4688
implementation wise, the code could fetch name from database, strip extension, then compare. i.e not do `select * from knex_migrations where name='123_111.js'` but rather do `select` without `where`.

[2021-09-27 08:14] kibertoad commented on #4401
@yhaskell PR for this functionality, as long as it is not a breaking change, would be most welcome!

[2021-09-27 08:15] kibertoad commented on #4688
@glensc Would you consider sending a PR for this?

[2021-09-27 08:30] elhigu commented on #4688
I thinkg that implementation sounds also good. It should be backwards compatible. I'm not sure about the case where the same directory has migration_name.ts and migration_name.js available and both extensions enabled in configuration.

Should that throw an error or just silently select either one of those to run. In any case it is probably good to have complete file name in the database and just i

[2021-09-27 09:13] elhigu commented on #4401
That  would be a breaking change and would induce need for all other type of additional .dropXXX() methods, which can already be used separately without `.alter()` syntax. For example with mysql no dropping is done, because it allows alterin column type and constraints exactly the way this feature does.

 In which case drop + recreate is a problem?

Giving option to `.alter({ dropNotNullable: fals

[2021-09-27 09:33] yhaskell commented on #4401
@elhigu drop + recreate fails on all alters of a primary key column

[2021-09-27 09:49] elhigu commented on #4401
@yhaskell Ah right. Yeah then giving options to `.alter({ dropNotNullable: false, })` would fit the best in the original design of the feature and it is also backwards compatible.

[2021-09-28 07:36] ftaiolivista commented on #61
One disavantage os using JSON is that you loose date and time column information. Usually knex convert datetime columns to javascript Date object but this not happen for json returned fields that remains strings.

[2021-09-28 18:10] Zyles opened #4696 "Update set on conflict merge"
# Environment

Knex version: 0.95.9
Database + version: PostgreSQL 13.3 (Ubuntu 13.3-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit
OS: Ubuntu 18.04

# Feature discussion / request

I seem to be unable to do a custom UPDATE SET when ON CONFLICT. Unless I am missing something in the docs.

How can I execute the following upsert query:

[code]

Sho

[2021-09-29 03:46] maximelkin commented on #4696
[code]
https://knexjs.org/#Builder-onConflict

[2021-09-29 03:53] maximelkin commented on #4662
Yes, but knex still ignore passed columns and  build SQL without them

[2021-09-30 01:04] DanielGibbsNZ commented on #4625
@andersonqi I've recently encountered a similar issue. Everything was working fine with Node 12 but as soon as I changed to Node 14 I started getting this error. I eventually managed to solve the issue by upgrading `pg` from version 7 to version 8 (as per this issue here: https://github.com/brianc/node-postgres/issues/2388).

[2021-09-30 12:40] #4662 closed

[2021-09-30 13:18] AlexandrosMelissas opened #4698 "Knex migration wont recognise tsconfig path"
# Environment

Knex version: 0.95.11
Database + version: Postgresql 13
OS: Windows 10

@lorefnon

# Bug

1. Path from tsconfig.json wont be recognised in knex migration files

2. Getting this error ``` Cannot find module 'src/lib/examplePath/examplePath/file.ts' ``` when migrating

[2021-09-30 18:21] corysimmons commented on #3478
Tried turning my `Knex.TableBuilder` typings to `Knex.MySqlTableBuilder`

[2021-09-30 18:42] kibertoad commented on #3478
@corysimmons Would you consider sending PR for this?

[2021-09-30 18:49] corysimmons commented on #3478
`MySqlTableBuilder` doesn't seem like it even exists in the repo.

[2021-09-30 19:46] Zyles commented on #4696
Great. That works.

[2021-09-30 19:46] #4696 closed

[2021-10-01 01:16] emahuni commented on #2983
Any news on this? This feature is so obvious and useful that I scoured through documentation thinking it's there. Those his can be added in migration config as well.

[2021-10-01 06:39] kibertoad commented on #2983
@emahuni Would you be open to submit a PR for this?

[2021-10-01 10:37] kasvith commented on #4409
I came across the same thing. PostgreSQL wiki states that not to use something like `varchar(n)`

[2021-10-02 16:22] jkalandarov commented on #1355
Returned `Promise { **pending** }`
Used following method to resolve: `variable.then(function(result) {
   console.log(result)
})`

[2021-10-03 09:20] pulli23 opened #4700 "Insert into... select"
# Environment

Knex version: 0.21 (but also 0.95)
Database + version: postgresql
OS: linux

# Feature discussion / request

1. Explain what is your use case

Well in sql there is the statement
[code]
In knex while one could use subqueries it then becomes near impossible to select the columns that are provided (and hence the database expects even automatic generated rows like ID to be provided).

2

[2021-10-03 09:48] elhigu commented on #4700
It can be done like this:

[code]

https://runkit.com/embed/t5eer0p1x55u

[2021-10-03 16:07] pulli23 commented on #4700
@elhigu no as I said that would give an sql like:

[code]
So it tries to insert into the first column of the `my_table` (which could be the ID column) the selected field.

[2021-10-03 16:37] elhigu commented on #4700
Ah right.  I’ll add later on laptop how to do it currently. If special syntax would be added, then syntax should ve probably something else than the one proposed here, since if passing query builder / builder callback default behavior is changed that might be confusing.

[2021-10-03 18:18] kibertoad commented on #2002
@intech Rudimentary CockroachDB landed in master already. Not all tests pass yet, but core functionality should work already. Any chance you could take a look, and maybe you have any code for the driver itself on top of what we currently have that you could share?

[2021-10-03 19:29] laurisvan opened #4703 "Feature request: Inject raw statements to prepend/append a set of existing queries"
Use case: Prepend raw (SET x=y) statements before each query to implement Postgres row level access control.

Our product (built on graphql+Objection.js+knex+Postgres stack) is investigating ways to implement safer multi-tenancy support, and maintainability-wise, implementing this in Postgres level would be the cleanest and safest option. Technically this is implemented in setting session or local

[2021-10-03 19:37] elhigu commented on #4700
So this is how it would be written currently:

[code]

https://runkit.com/embed/u3xjbebskd4s

[2021-10-03 19:45] pulli23 commented on #4700
While that would be the case, it uses `knex.raw` and really makes the whole query hard to read. (Especially if you have to layer `knex.raw` statements to add static data as well.

A use case for example would be a request where one wishes to add "managers" to an "organizations", the organization ID (which is public) is given, but to add a manager the user has searched/given the username of the new

[2021-10-04 06:29] elhigu commented on #4700
Maybe this could be a place for implementing `.insertFromSelect()` knex extension?

How to extend knex is described near here in the docs https://knexjs.org/#Builder-queryContext (documentation didn't have direct link to that subheader)

Method sounds quite opinionated (but also useful). If it reaches huge userbase something like that probably could be added to knex core also, but for now I believ

[2021-10-04 08:51] SimplyKot opened #4704 "limit not working from MS SQL 2000"
# Environment

Knex version: 0.95.11
Database: MS SQL 2000
OS: Windows 10

# Bug

1.  Using LIMIT in simple query causes error

2.   RequestError: select top (@p0) [firmid] from [firm] - Line 1: Incorrect syntax near '('.
      at Parser.<anonymous> (F:\_dev_\misgkh-api\node_modules\tedious\lib\connection.js:1160:27)
      at Parser.emit (events.js:400:28)
      at Readable.<anonymous> (F:\_dev_\m

[2021-10-04 09:45] elhigu commented on #4703
I remember that somewhere should be quite a lot discussion about this feature, but I was not able to find it yet....

[2021-10-04 11:44] jagjot10 commented on #3651
Noticing same problem randomly on one of our API which do not receive much traffic.
Using
[code]

pool config:
[code]

Error Message:
[code]

@FelixChow  Can you please share how are you achieving "regular ping query (4 mins) to keep the connection alive"?

[2021-10-04 12:48] amd032 commented on #4630
@kibertoad I will consider creating a PR for `timeout` on transaction and let you know here.

However I have been digging more in this area and found out that ~16 minutes timeout comes from outside of our service. It seems that either IP stack in OS, or some external "device/service/router" is dropping the connection between PG client and PG server after this magic value of ~1000 seconds.

I have

[2021-10-05 19:43] FrancoisPala opened #4705 "[MySql, Typescript] .unique('var_name', { indexName: 'unique_VAR_NAME'}) returns the wrong SQL statement"
Typescript
Knex version: 0.95.11
Database + version: MySql 8.0.26

This could be a Typescript definition issue so I'm tagging @lorefnon

# Bug

I am using the schema builder in a migration to create a table with a **named** unique key. I want to use the `unique()` function but it is not working as intended or described. This is my code:
[code]
Running this works of course, but creates the wrong na

[2021-10-07 10:34] opravil-jan opened #4707 "Lodash CVE produces warning"
Hello,

can you please fix the critical vulnerability in knex

# npm audit report

lodash  *
Severity: critical
Arbitrary code execution in lodash - https://github.com/advisories/GHSA-8p5q-j9m2-g8wr
fix available via `npm audit fix --force`
Will install knex@0.4.13, which is a breaking change
node_modules/lodash
  knex  >=0.5.0
  Depends on vulnerable versions of lodash
  node_modules/knex

2 crit

[2021-10-07 15:50] BanTheRewind opened #4708 "Knex passes config to pg with promises, not values. pg module crashes."
# Environment

Knex version: 0.95.11
Database + version: AWS RDS Postgres
OS: node 14, Strapi 3.6.8, Windows 10 (local), Ubuntu 20 (remote)

# Bug

1. Explain what kind of behavior you are getting and how you think it should do

I'm running Strapi with Postgres according to Strapi's documentation. The server is unable to start, generating the error below. Upon investigation, I found that the value

[2021-10-07 16:07] #4708 closed

[2021-10-07 16:15] miszczu-drako opened #4709 "Handling of query read timeout in PG transaction BEGIN is not consistent"
# Environment

Knex version: 0.95.10
Database + version: postgres, client pg@8.7.1, server PostgreSQL version 10
OS: node:12.22.3-alpine3.12

# Bug
I have been playing around with `query_timeout` recently and spotted that timeout during transaction BEGIN behaves differently for `.transaction()` and `.transaction(handlerFunc)`
To make it easily reproducible I have modified my `node_modules/pg/lib/c

[2021-10-07 17:25] kibertoad commented on #4707
OK, so first of all, this is a vulnerability in Lodash, not in knex, and there is no version that is not affected by this available.
Second, `template` function affected is only used for generating migrations from templates, so the only way user can be affected is if they somehow produced vulnerable migration stub and opted into using it.
Third, Lodash authors dispute it is even a vulnerability an

[2021-10-08 01:59] MaximeEvangeliste commented on #2037
This is what made it work for me! Thanks

[2021-10-08 11:12] soulchild commented on #4707
Hmm ... I'm still getting the high security vulnerability related to `set-value`:

[code]

@kibertoad, I [see](https://github.com/knex/knex/blob/28fd257cfc79562122189d0c4c948517bf37e18f/CHANGELOG.md#0950---03-march-2021) that 0.95 dropped `liftoff` completely due to several security-related issues. Unfortunately, as mentioned, we can't yet upgrade to knex 0.95.11 because of the incompatibility wit

[2021-10-08 14:47] jackson-stone-ableto opened #4712 "Audit failures for latest 0.21 release"
# Environment

Knex version: 0.21.17
Database + version: N/A
OS: N/A

# Bug

Without upgrading to the breaking 0.95, npm audit's fail presently for the latest 0.21 release. Upgrading to the latest and greatest would be awesome but our project uses Objection which does not support 0.95 at the moment. So we are in a pickle with getting npm audit to not have issues. `npm audit fix` will attempt to au

[2021-10-08 22:58] OlivierCavadenti commented on #4608
It seems this issue is resolved thanks to https://github.com/knex/knex/pull/4648 (the line that raise the error is refactored : https://github.com/knex/knex/pull/4648/files#diff-5f25c0fa1385a69dcdb2fdfc6a534146c0a945831dbede0e43be423c317c3a57L161)

You can try it here : https://runkit.com/embed/nofoablygsjn

[2021-10-09 14:25] OlivierCavadenti opened #4715 "Case When support"
# Environment

Knex version: 0.85.11
Database + version: all db
OS:

# Feature discussion / request

1. Explain what is your use case

The goal is to add CASE WHEN in SELECT, UPDATE, DELETE, WHERE, ORDER BY and HAVING.
https://modern-sql.com/feature/case

2. Explain what kind of feature would support this

I see that kind of syntax for select clause for example:

[code]

[code]

or with column nam

[2021-10-10 08:09] marceliwac opened #4719 "Inconsistent listing of migrations in the Knex.Migrator API"
# Environment

Knex version: 0.21.21
Database + version: (irrelevant)
OS: (irrelevant)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do.
When using the `Knex.Migrator` API to run migrations programmatically, listing the migrations returns the completed and pending migrations in two different formats. This could be pinpointed to the `migration-list-resolver.j

[2021-10-10 13:25] kibertoad commented on #4719
@marceliwac We are planning to release another semver major this year, so this might make the cut. Would you consider sending PR for this?

[2021-10-11 08:50] OlivierCavadenti commented on #3667
can be closed, resolved with https://github.com/knex/knex/pull/4720

[2021-10-12 04:05] Uttam-EWW opened #4727 "TypeScript Definition: Renaming column name returns ColumnBuilder, but actually it's not."
# Environment

Knex version:
0.95.11
OS: Windows
TypeScript definition bug.
@lorefnon.

# Bug
[code]
In the above code when I try to rename column it returns ColumnBuilder so that i'm able to access defaultTo method on it
but when i run this migration i'm getting error that there is no defaultTo function.
2. Error message
[code]

[2021-10-13 14:47] thebrownfox opened #4733 "[Feature request] Conditional notNull()/notNullable()"
Hey, I have a usecase, where I would benefit of being able to conditionally set nullable, like:
[code]
It's because I create columns in loop based on data provided, thus the need for this condition.

Found the line that needs to add/pass the argument:
https://github.com/knex/knex/blob/2b1e37ca44bbd75ced9ca7367e6c6bacebe599e7/lib/schema/columnbuilder.js#L66

Should I create PR?

[2021-10-13 20:52] mweber-ak opened #4734 "Error when used with pg-promise"
# Environment

Knex version: 0.95.11
Database + version: PostgreSQL 12.8
OS: Windows
Driver: pg 8.7.1

# Bug

1. We have set up Knex in a API we also use pg-promise in for querying the DB. We tried to run various selects and get the same error message every time. I believe there is a conflict somehow between pg-promise and knex.

2. Error message
[code]

3. Reduced test code, for example in https:

[2021-10-13 21:13] #4734 closed, assigned to nobody

[2021-10-13 21:34] jamescammarano opened #4735 "No error handling for tedious error "ESOCKET"on connection"
# Environment
knex: 0.95.11
tedious: 13.1.0
MSSQL

OS:
MacOS

For MSSql tag @smorey2.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Currently on connection to an MSSQL database through tedious I get an error during connection.

I would expect knex to be able to handle the connection and fail gracefully on socket error.

2. Error message
[code]

[2021-10-13 22:17] kibertoad commented on #4735
Would you consider sending PR for this?

[2021-10-13 22:41] rijkvanzanten commented on #4735
I'm wondering if it's because we only attach the on error event handler in the callback of the "connect" method here:

https://github.com/knex/knex/blob/2b1e37ca44bbd75ced9ca7367e6c6bacebe599e7/lib/dialects/mssql/index.js#L142-L164

It could be that the connection fails for whatever reason before it gets to that callback, which is then no longer caught by Knex. Could be a bug in Tedious as well, a

[2021-10-14 15:07] TopoR1 opened #4737 "Query results in knex in mysql workbench do not converge"
I think this is caused by the behavior of knex itself. How to solve this problem?

Result in workbench:
![image](https://user-images.githubusercontent.com/19995663/137345088-e6f1e65c-e4fe-44a2-978b-286c68bd33b6.png)

Result in knex:
![image](https://user-images.githubusercontent.com/19995663/137345173-26293b35-8272-4901-b55b-e22ea61de63e.png)

Procedure code:
![image](https://user-images.githubuse

[2021-10-15 01:04] SharpBCD opened #4739 "error: "cannot insert multiple commands into a prepared statement" when deleting from 3 tables"
# Environment

Knex version: 0.95.6
Database + version: postgresql 12
OS: windows

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
[code]

2. Error message
`cannot insert multiple commands into a prepared statement`

# Feature discussion / request
I need to process multiple commands, not to await each one just to use prepared statement.