[2018-08-25 16:30] Kryten0807 commented on #2781
I would argue that this *is* a bug. Consider the following examples from the documentation:

    knex('books')
      .returning(['id', 'title'])
      .insert({title: 'Slaughterhouse Five'})

On postgresql, it returns `id` & `title`; on MySQL (and other databases that don't support it), it returns simply the new `id` value. It doesn't generate invalid SQL and the difference in behaviour is clearly

[2018-08-25 17:18] elhigu commented on #2781
Its better that code throws an error than just working plainly wrong. The same applies for returning and other, which actually doesnt throw yet, but only creates invalid code which actually doesn’t work the same way with different dialects.

Behaviour where code silently works wrong is way more dangerous, than having an exception of not supported db feature.

You will have false sense of safety th

[2018-08-26 22:10] dyllandry commented on #1855
@Dakkers Same solution here. Manually inserting ids anywhere will not update the table's auto_inc value, so it will try an insert with id=1 to start and run into already existing and conflicting rows.

[2018-08-28 02:23] cvburgess opened #2787 "Plugin support? Would like to add caching and batching"
# Environment

Knex version: 0.15.2
Database + version: Postgres 9.6
OS: Mac OS X

# Feature discussion / request

1. Explain what is your use case

In building a GraphQL server there are a lot of duplicate requests to the database, I would like to reduce those without changing the developer experience.

2. Explain what kind of feature would support this

Extending Knex with plugins or first-party

[2018-08-28 07:16] elhigu commented on #2787
IMO this kind of functionality is too opinionated and should not be implemented in knex.

It is really hard to implement and test properly and probably will create big burden for maintainers and tons of bug reports and additional feature requests when cache is not working for people in a way they would like it to behave.

If you have repetitive queries, those results should be cached outside or yo

[2018-08-28 11:22] heartstchr opened #2788 "Pivot Query"
# Feature discussion / request

1. I want to use a pivot query in MSSQL any way to use that now. Or doc is missing

[2018-08-28 13:54] taybin commented on #2787
@cvburgess Just wanted to make sure that you're using https://github.com/facebook/dataloader, if you're having N+1 query issues.  Otherwise, I'm curious about how graphql is adding more duplicate queries than a different request protocol (REST or whatever).

[2018-08-28 14:12] taybin opened #2789 "Callback before query is executed"
# Feature discussion / request

I'd like to add query annotations to my postgresql queries for better tracking/integration with database monitoring tools (https://github.com/ankane/shorts/blob/master/The-Origin-of-SQL-Queries.md)

In python tools like sqlalchemy, it's easy to have a function called on the query right before execution, allowing you to modify the query.  It'd be nice to have a simil

[2018-08-28 17:47] cvburgess commented on #2787
@elhigu Sorry, I was trying to be as open as possible but I may have missed the mark. This does not need to be a core feature of Knex but it would be nice if there were hooks so i could do this without overwriting the internals as I am currently doing. Hooks or a plugin system would allow for extending Knex without adding to the core. I would love to see some ability to extend Knex!

@taybin [my e

[2018-08-28 17:56] taybin commented on #2787
@cvburgess I'm sorry, I missed that the first time.  This is a neat idea.  We have a bunch of functions returning `BatchLoadFn<ID,Object>` that wrap the knex query.  This seems like less code, but maybe that's because of the simplicity of the example.

[2018-08-28 18:36] cvburgess commented on #2787
@taybin yeah i guess it works well if you only have a few functions or you are working strictly with IDs but as the application gets more complex and the same function accepts more than just IDs the loaders get more complex. It would be nice if I could take the SQL query ( like I did in the Gist ) and use that as the key for data loader to batch off of. It moves the complexity of the batching out

[2018-08-29 10:12] juliusza commented on #2253
Having load balancing in db driver has many advantages by removing all the intermediate services (pgpool/virtual interfaces). As it was already mentioned there should be a separate pool per each DB node. But we'd also need health checks so that requests are not sent to servers that are offline (High Availability).

This will also have to be implemented per db driver, because of a need to check **r

[2018-08-29 10:34] VividVisions commented on #1633
👍

[2018-08-29 10:43] qubyte commented on #1588
How's this progressing? I reckon a good first step would be to factor out Bluebird specific method calls within knex (i.e. don't actually remove it yet). Removing bluebird and providing an option for a custom Promise constructor would follow (and give folks using Bluebird methods an upgrade path).

I don't starting work on the first step if there are no objections. Existing work appears to have di

[2018-08-29 10:44] qubyte commented on #1588
How's this progressing? I reckon a good first step would be to factor out Bluebird specific method calls within knex (i.e. don't actually remove it yet). Removing bluebird and providing an option for a custom Promise constructor would follow (and give folks using Bluebird methods an upgrade path).

I don't starting work on the first step if there are no objections. Existing work appears to have di

[2018-08-29 10:45] kibertoad commented on #1588
@qubyte I don't think there is an active effort to do the change, incremental changes were made here and there, but that's about it.

[2018-08-29 10:48] qubyte commented on #1588
Ok. In my next chunk of free time I'll make some small-as-possible changes to factor out each method.

[2018-08-29 13:49] nev3rm0re commented on #1480
@edzis Your example is slightly wrong, `database` should be outside of the `options`. If the user connecting is not permitted to access default database server will report "Login failed for user" message. Supplying correct database name as `connection.database` property resolves this error

[2018-08-29 14:48] elhigu commented on #2789
You may be able to use https://knexjs.org/#Interfaces-Events `start` event for this.

[2018-08-29 14:55] elhigu commented on #2789
Let me know if your use case cannot be implemented with `start` event and in that case we need to reopen and discuss more about this.

[2018-08-29 14:55] #2789 closed

[2018-08-29 15:08] elhigu commented on #2788
Please check mssql docs how to do it.

[2018-08-29 15:08] #2788 closed

[2018-08-29 15:09] elhigu commented on #2788
Closed since this really was not proper feature request at all...

[2018-08-29 15:39] elhigu commented on #1588
@tgriesser Any opinions when we should go forward with this one (if ever)? To me next April would sound like a reasonable time for it when Node 6 LTS reaches end of line.

[2018-08-29 15:49] #5856 closed

[2018-08-29 17:10] elhigu commented on #2014
Isnt it visible in `knex.client.config` either?

[2018-08-29 17:11] elhigu commented on #2779
You don't need to run / rollback migrations after every test.

[2018-08-29 17:11] #2779 closed

[2018-08-29 17:28] ricardograca commented on #2782
That works for me.

[2018-08-29 17:43] #2136 closed

[2018-08-29 17:46] elhigu commented on #2779
or knex-db-manager's truncate method write simple truncate helper by hand...

[2018-08-29 17:50] elhigu commented on #2783
Is this a bug or feature request or what?

[2018-08-29 18:05] elhigu commented on #2782
I actually started to write out design guide + initial API spec for  my vision for new schema builder API... I've been thinking about it so long that maybe I'll just write it as a next feature I'll implement.

Have to lookup old rants where I have talked about it earlier :)

[2018-08-29 18:08] asafigan opened #2791 "Multicolumn foreign constraint does nothing"
# Environment

Knex version:0.15.0
Database + version: postgres

# Bug

`references(columns)` does nothing. I am trying to build a foreign key from multiple columns. But when I run the migration with debug I noticed that the foreign constraint was never built and it throw no error. When I look at the source code it looks like knex does nothing when the input to references is an array.

example: `t

[2018-08-29 18:17] taybin commented on #2789
That's a good place to start.  Thanks.

[2018-08-29 20:15] elhigu commented on #2732
Implementation could be as easy as just allow to return promise from knexfile.js instead of synchronous configuration object.

[2018-08-29 20:37] elhigu commented on #2791
duplicate https://github.com/tgriesser/knex/issues/1933

[2018-08-29 20:37] #2791 closed

[2018-08-29 21:34] capaj commented on #2783
bug

[2018-08-29 21:34] asafigan commented on #2791
Thank you

[2018-08-29 21:55] elhigu commented on #2783
Reproduction code is missing from report.

[2018-08-29 22:04] elhigu commented on #2161
Closing this one... if someone likes to have trigger creation methods, they can open new feature request with info how to create them on all different databases + api proposal.

[2018-08-29 22:04] #2161 closed

[2018-08-29 23:36] capaj commented on #2783
repro:
[code]

when I run that with `DEBUG=knex*`
I get this output:
[code]

expected output is:
[code]

[2018-08-30 06:06] elhigu commented on #2783
Right... I suppose there is not much to do on knex side unless debug library adds support for disabling those formatters. Linking https://github.com/visionmedia/debug/issues/597 to be able to track its status easily.

[2018-08-30 06:59] mk-nickyang opened #2792 "Data stored in `timestamptz` column not being correctly returned"
# Environment

Knex version: 0.14.6
PostgreSQL 9.6.2 on x86_64-pc-linux-gnu, compiled by gcc (Debian 4.9.2-10) 4.9.2, 64-bit

# Bug

I have a column named `post_date` in `timestamptz` type, example date: `2018-08-10 17:05:07+00`

When I run
`knex.raw('SET timezone="Australia/Brisbane"; select post_date from TABLE_NAME')`
Result is `2018-08-10T17:05:00.000Z`, which is wrong, no offset.

However, if

[2018-08-30 07:46] elhigu commented on #2792
You cannot put multiple queries separated with semicolon in single `raw` call. You don't have to cast timestampz to timestamp...

Its easier if you handle your timestamps always in UTC and only cast them to certain timezone when you really need to do it (for example when showing in UI to the end user). You can do timezone conversions for example with luxon on JS side https://moment.github.io/luxon

[2018-08-30 07:46] #2792 closed

[2018-08-30 07:48] elhigu commented on #2792
And if you like to setup your DB to always return timestamps in `Australia/Brisbane` timezone, you should use pool's `afterCreate` attribute to set timezone to where you want when new connection / session is created.

[2018-08-30 08:11] mattishaden commented on #2779
We already use knex-cleaner, truncating is not the issue. We just don't want the clutter if we run a single test with .only and see 200 migrations before/after.

[2018-08-30 08:31] flipace commented on #2756
We have similar issues here, and we were thinking that it would actually be enough for us if it were possible to ignore the extension (omitting it when storing the filename in the database or ignoring it when comparing the list of migrations).

[2018-08-30 08:35] kibertoad commented on #2756
I'll pick this task up after https://github.com/tgriesser/knex/pull/2775 is merged, otherwise I might introduce some conflicts.

[2018-08-30 08:49] elhigu commented on #2779
where are you getting those prints? are you calling knex command line client for running and rolling back migrations? You could call it also directly with migration API which doesn't print any info about ran migrations if you don't want to.

If its knex command line client who is creating those prints --silent switch for that could be reasonable feature to have.

[2018-08-30 08:54] ricardograca commented on #2779
If you really must run migrations each time the test suite runs (is it a CI service?) and it bothers you that much just turn off output temporarily before running migrations.

Alternatively, if you must re-create the schema each time from scratch (like you seem to be doing) you could thumbs up #1086.

[2018-08-30 10:51] kibertoad opened #2793 "Update to Babel 7"
Babel 7 just got released, bringing bags of goodies, among them faster transpilation. Probably it's a good idea for us to upgrade as well.

[2018-08-30 10:51] kibertoad commented on #2793
@elhigu If you approve, I could work on this.

[2018-08-30 20:36] baer commented on #2787
Thanks for sharing that implementation! I love the idea of a pre-request hook since it opens the door to clean implementations of logging, query optimization and data-loader style batching.

For the caching case, however, why not just manage that in your model?

[code]

I love the idea of Knex hooks but it's going to be tricky to define a single global cache that has an appropriate TTL for all que

[2018-08-30 23:33] Prefinem opened #2794 "Upgrade to support mssql 4.2"
# Environment

Knex version: 0.15.2
Database + version: mssql 2016
OS: Mac OS X

# Feature discussion / request

1. Explain what is your use case

Tedious has deprecation warnings in mssql 4.1.0 which is fixed in mssql 4.2.1

[2018-08-31 05:00] elhigu commented on #2794
We have locked mssql version to current one because I had to monkeypatch some of its code to make driver to be more stable...

If it must be touched again it is easier to drop mssql driver and use tedious directly.

[2018-08-31 05:45] elhigu commented on #2793
I suppose it can be updated. I would like more if we could drop it completely, but I don't think that is going to happen at least this year.

[2018-08-31 07:48] DHFW commented on #2262
My solution to this problem is listed below. However, it feels like bypassing the strength of knex. I liked @kamote 's solution however that not was not merged. Or, if there was a way to do the wrap function around an insert would also be nice. @elhigu do you have a better solution because the provided code example did not work. It seems that every command is a separate context for MS SQL Server,

[2018-08-31 08:34] kibertoad commented on #2793
Well, if we migrate to Typescript we could drop it immediately, but since that isn't likely to be completed anytime soon either, April 2019 sounds realistic for when we could drop Babel directly (I don't think we really need any Node 10 features such as async iterators).

[2018-08-31 12:52] Prefinem commented on #2794
Where is the location of the monkeypatch code and would you be interested in someone making a fork and working on switching over to tedious?

[2018-08-31 12:55] davidfurlong commented on #2725
Getting this issue despite returning Promise.resolve(). Any ideas on how to run an empty migration?

[2018-08-31 13:01] elhigu commented on #2794
I've been planning to do it at some point, but there are more important things to do for me before that. Monkey patch code is in mssql dialects code IIRC where driver in initialized.

[2018-08-31 13:10] kibertoad commented on #2793
Blocked by https://github.com/59naga/babel-plugin-add-module-exports/issues/65

[2018-08-31 14:52] cvburgess commented on #2787
@baer In the case of a simple `id` lookup i absolutely agree, but as the parameters and joins and such get more complicated the construction of a cache-key becomes more complex. It would be nice to be able to use the knex-genereated query as the key but that might not be the best way to go

[2018-08-31 15:08] mkiddTempus commented on #2732
I'm having this exact issue as well. Does anyone have suggestions for a work around?

[2018-08-31 15:14] elhigu commented on #2732
@mkiddTempus dont use knex commandline client for running migrations and that way you can decide to first fetch all secrets before trying to create DB connection

[2018-08-31 15:28] mkiddTempus commented on #2732
How do you not use the CLI for running migrations?

I did just create a second cli-specific knexfile with hard coded values and passed it in via --knexfile and  while that worked locally I don't think my devops team will go for it.

[2018-08-31 15:51] elhigu commented on #2732
By calling migration API in your app code https://knexjs.org/#Migrations-latest

[2018-08-31 16:06] mkiddTempus commented on #2732
In the mean time since I posted I did some searching and also found this solution: https://york.io/2016/05/04/knex-reset-migrations.html

This still would be a nice feature to have.

[2018-08-31 16:43] cvburgess commented on #2787
Yeah that might be the way to go here. Its a bit less "magical" but it gets the job done for caching.

Still would be nice to have the hook for batching which i don't think can be solved as easily but I'll keep diving into the DataLoader internals and see what I can come up with.

[2018-08-31 17:45] baer commented on #2787
I'm working on the exact same problem and, if I figure out anything nice, I'll try to post here. You should do the same.

[2018-08-31 18:39] cvburgess commented on #2787
Absolutely will do 👍

[2018-08-31 19:41] elhigu commented on #2599
This should be done by running schema through separate knex instance as @kibertoad mentioned.

[2018-08-31 19:41] #2599 closed

[2018-09-01 11:08] elhigu commented on #793
Follow this up in here https://github.com/tgriesser/knex/pull/2197

[2018-09-01 11:08] #793 closed

[2018-09-02 08:33] c0debreaker opened #2795 "Insert to multiple tables"
I have two tables(users, userdata) that I'd like to insert data when I make a single call to my Express api endpoint. `http://www.example.com/signup`

And the payload that I submit via post is
[code]

I'd like to insert name into `users` table. The webBrowser should be inserted to `userdata` data.

What will be the knex insert code for this?

[2018-09-02 08:48] elhigu commented on #2795
Try stackoverflow.

[2018-09-02 08:48] #2795 closed

[2018-09-03 11:37] kibertoad opened #2796 "Update operations do not support joins"
# Environment

Knex version: 0.15.2

# Bug

[code]

This is going to execute without an error, but entire join part will be ignored and all entries will be silently updated.

https://github.com/tgriesser/knex/issues/1534 suggests either using raw or subquery, but neither of these solutions is particularly elegant, and API-wise there is no reason why this shouldn't work, so I would consider this a

[2018-09-03 11:38] kibertoad commented on #2796
I could try giving it a shot, but I have no idea how complicated this is going to be. @elhigu any pointers where to start?

[2018-09-03 13:09] elhigu commented on #2796
Not bug, but a missing feature. This has been discussed a lot during history and is one of the most wanted features in my list. I don't know if it would be hard to implement or not. I would suggest reading builder / compilation code of update operation to see if join parameters are even collected to builder for update operations.

[2018-09-04 13:05] so-abahadur commented on #2764
like this =>
const knex = knexInstance({
    client: 'mssql',
    connection: {
        host: environment_1.Database.host,
        user: environment_1.Database.username,
        password: environment_1.Database.password,
        database: environment_1.Database.dbName,
        options: {
            encrypt: true
        }
    }
});

[2018-09-04 14:47] dhensby opened #2797 "Pluck doesn't play nicely with postProcessResponse"
# Environment

Knex version: 0.14.6
Database + version: MSSQL 2017-CU9
OS: Mac OS 10.13.6

For MSSql tag @smorey2 .

# Bug

1. When using `pluck` in conjuction with a `postProcessResonse` callback that re-writes object keys, the pluck returns empty objects instead of the appropriate values.

2. No error messages, incorrect return type and value

3. https://runkit.com/dhensby/5b8e99c06ea1f900121315

[2018-09-04 17:37] qwang07 opened #2798 "PostgreSQL - Authentication success with pg, but fail with knex?"
# Environment

Knex version: v0.15.2
Database + version: PostgreSQL v10
OS: Mac OSX

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
As my title said authentication fail in knex, but works in pg with the same connection config. It seems like knex do accept the config but does not pass it to driver.

2. Error message
error: password authentication failed for

[2018-09-04 20:15] mashaalmemon opened #2799 "Migrate into Postgres Database Schema other than 'public'"
# Environment

Knex version: 0.15.2
Database + version: postgres 9.5.3
OS: mac

# Questions about how to use knex

Is there a way to run a migration and have it execute inside a postgres SCHEMA other than 'public'? Note I am running the migration programatically, not through the CLI.

I've tried this (https://github.com/tgriesser/knex/issues/1138) by setting tableName config option to be '<schema>

[2018-09-05 06:51] elhigu commented on #2798
Try to use directly `pg` driver to connect it will fail the same way that knex does when you are trying to make query. I don't see anything here which would suggest there is bug in knex causing this.

If you still think this is bug in knex please create single file test with DB initialization etc. to make it possible for others to verify that it doesn't work.

[2018-09-05 06:51] #2798 closed

[2018-09-05 08:08] dhensby commented on #2797
Yes, I agree that is the most likely cause.

It seems a pretty severe limitation of `pluck` if it can't work with the documented use case of `postProcessResponse` (to manipulate column names).

[2018-09-05 08:12] dhensby commented on #2797
Could the API of pluck be added to to accept a hash of SQL column to rewritten column? Or just a second argument?

[2018-09-05 08:18] elhigu commented on #2797
It is probably easier to just write `knex('test').select('id').map(row => row.ID)`

[2018-09-05 17:30] pgebheim commented on #2793
Well, this means that knex will break other projects which try to use Babel 7.

Would love to see this upgraded, but also -- why do you require babel-runtime as a non-dev-dep?

[2018-09-05 17:35] kibertoad commented on #2793
@pgebheim Why would it break them? Other projects consume already transpiled sources so they do not depend on how knex uses Babel.
Babel-runtime is an interesting topic, though. @elhigu Could you comment on why we need it if we transpile anyway?

[2018-09-05 17:56] pgebheim commented on #2793
@kibertoad Right now its breaking projects because babel-runtime is specified as a dependency, so it gets tracked into every project that includes Babel.

The end result is that there are multiple babel-runtime versions in the project and babel will break.

[2018-09-05 18:17] pgebheim commented on #2793
Upon further investigation I think the error is a bit of a red herring. Knex definitely shouldn't be exporting babel-runtime as a real dependency, but the issue I am seeing is because electron-compile needs babel6.

It just so happens that since knex provided a real dep for babel-runtime and its version is newer than specified in electron-compile, the loading of the dep resolves to the version spe

[2018-09-05 20:08] mashaalmemon commented on #2799
@kibertoad, absolutely.

Ultimately we have a multi-tenant system. Each tenant lives in a postgres 'schema' other than the default 'public' schema. So if I have a database with tenant1 and tenant2 in it, then that database would contain 3 postgres schemas:

'public' - nothing stored here
'tenant1' - tenant 1 has tables
'tenant2' - tenant 2 has tables

I want to define a general migration for any t

[2018-09-05 20:15] kibertoad commented on #2799
Elegant solution would be https://github.com/tgriesser/knex/pull/2778. Since it is not currently merged and it's unclear at this point whether it would ever be, you could take advantage of the fact that migrations are executed sequentially and set schema as a "global" variable somewhere that migration script would read from.
Alternatively, since you have access to knex instance in your migrations,

[2018-09-05 20:18] mashaalmemon commented on #2799
#2778 is definitely elegant. When would a decision be made one way or the other? Why would it not be merged? I think it adds even more power to an already fantastic tool!

I don't want to hack the knex object. Its always best to have a supported methodology that'll be maintained and will work in future releases. So I'd lean away from that and use #2778 or the solution I discussed above.

[2018-09-05 20:33] kibertoad commented on #2799
I pinged one of the maintainers on this topic already, we'll see. I agree that #2778 makes sense.

[2018-09-06 10:38] nicosierra commented on #913
@elhigu @Raphyyy I think there are spaces missing in your .join statement i.e. ` .join(' UNION ALL ')`

[2018-09-06 17:06] codytaft opened #2800 "--all"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2018-09-07 13:29] ashbc opened #2801 "Does knex support peer authentication?"
# Environment

Knex version: 0.15.2
Database + version: PostgreSQL 10 (pg module@7.4.3)
OS: Ubuntu 18.04

Use case: running postgres and Node app on the same VM, intending to connect via peer authentication

The only information I could find online was #227, which was closed without being resolved.

Current knexfile:
[code]

Output on running `knex migrate:latest`:
`error: password authentication

[2018-09-07 13:31] kibertoad commented on #2801
@ashbc Can you make it work using pure Postgres driver?

[2018-09-07 13:47] ashbc commented on #2801
Using `pg` with the same connection string gives the same error. Sorry for not trying this out first :P

[2018-09-07 13:51] kibertoad commented on #2801
np :)

[2018-09-07 13:53] ashbc commented on #2801
It appears at some point `pg` may have dropped support for connection strings.
https://github.com/brianc/node-postgres/issues/613#issuecomment-285454310

Changing the options to `connection: { host: '/var/run/postgresql', database: 'dbname' }` works fine.

[2018-09-07 13:53] #2801 closed

[2018-09-07 14:53] kibertoad commented on #2801
@ashbc Thank you for posting the solution!

[2018-09-07 14:54] kibertoad commented on #227
For whoever comes here, #2801 describes the solution.

[2018-09-08 00:43] felipefdl commented on #1882
Any update? the solution from marianzange/knex-aws-xray not work for me.

[2018-09-10 10:49] kibertoad commented on #2800
@codytaft I'm sorry, but... what?.. Could you please either make a proper request or close it?..

[2018-09-10 13:38] jdukleth commented on #1115
+1

[2018-09-10 13:40] kibertoad commented on #1115
See https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md -> "I would like to add support for new dialect to knex, is it possible?"

TL;DR -> no new dialects to be added to knex.js, create new npm package for that instead.

[2018-09-10 15:15] #2800 closed

[2018-09-10 18:01] aliyeysides-vg commented on #1218
@et

Your code worked for me but I also had to do `.notNullable().defaultTo(1).alter();` to avoid an error thrown when rolling back in scenarios where my tables already had null values.

[2018-09-11 15:08] dhensby commented on #1829
Pretty sure this is done and can be closed

[2018-09-11 23:20] Gregroam opened #2803 "Using .with and .update with some raw objects mixes up bindings"
# Environment

Knex version: 0.15.2
Database + version: Postgres 9.6.9
OS: Mac High Sierra

# Bug

Setup:
[code]

Expected SQL Output:
[code]

Actual SQL Output:
[code]

As you can see, it's mixed up some of the bindings between 2 different raw objects.
In this example, the "foo" with table has nothing to do with the update part, it was just a quick simple example to show the problem.

[2018-09-11 23:45] Gregroam commented on #2803
Furthermore, if we separate the raw objects into their own variables and log them

[code]

console.log(raw1.toString());
[code]

console.log(raw2.toString());
[code]

Then these 2 show the correct sql pieces,

console.log(query.toString());
[code]
this still mixes them up

[2018-09-12 10:31] elhigu commented on #2803
Reopen if this doesn't work with master or with 0.16.0 release... maybe we really should start doing @ next releases to npm to make it easier to verify these.

[2018-09-12 10:31] #2803 closed

[2018-09-12 10:48] kibertoad commented on #2803
"@next" releases would definitely be appreciated greatly :)

[2018-09-12 10:53] elhigu commented on #2803
I'll try to do one and document the process so that others can do it too afterwards.

[2018-09-12 10:55] kibertoad commented on #2803
@elhigu I could contribute some time to do releases if that would speed up the process

[2018-09-12 11:06] elhigu commented on #2803
I dont think we are ready yet to release 0.16.0, but updating those ’next’ releases would be helpful so that I wouldnt have to think about them (thats the main reason I havent done them so far)

[2018-09-12 15:43] jerfowler commented on #2794
@elhigu Could we maybe consider monkey patching 4.2 as well? Those tedious deprecated messages are super annoying... Not sold on why using tedious directly would be much better. The syntax is much simpler to use node-mssql as async/await abstraction layer on top of tedious.

[2018-09-12 15:46] kibertoad commented on #2794
@jerfowler Because generic-pool is buggy as hell. @elhigu already said he is not going to spend any additional effort on updating node-mssql support. Not sure if he would consider someone else's PR.

[2018-09-13 07:55] elhigu commented on #1882
I don't think here is nothing that knex should do about this, maybe people working with marianzange/knex-aws-xray can help how to get it work. Closing.

[2018-09-13 07:55] #1882 closed

[2018-09-13 08:16] kibertoad commented on #1882
@elhigu Well, `I am trying to pass the aws sdk's monkey-patched postgres connection to knex using the .connection(dbConnection) feature as mentioned in the documentation. But it is not working.` sounds like a potentially legitimate knex bug.

[2018-09-13 08:19] elhigu commented on #1829
I will take this in consideration while writing updated schema API

[2018-09-13 08:19] #1829 closed

[2018-09-13 08:29] elhigu commented on #2794
I have read and played with the code of `node-mssql` quite a lot when I was debugging knex's mssql stability issues.

I am very much convinced that using tedious directly is better choice for stability, getting new features faster, getting rid of extra dependency and well... `node-mssql` doesn't bring any benefits for knex over tedious. Only drawbacks.

This is not relevant for knex. Driver does o

[2018-09-13 08:51] elhigu commented on #1882
Actually IIRC that `.connection` is not implemented at all nor it has been properly specified what it should even do... https://knexjs.org/#Builder-connection

So feature request for that would be the way to go and good specification what it should really do... for example if it should take same kind of object that acquireConnection() returns or what.

[2018-09-13 09:58] kibertoad opened #2804 "Passing existing connection to knex"
.connection is not implemented at all nor it has been properly specified what it should even do. https://knexjs.org/#Builder-connection

For consistency and simplicity it should take same kind of object that acquireConnection() returns.

[2018-09-13 09:58] kibertoad commented on #1882
https://github.com/tgriesser/knex/issues/2804 -> will improve on it later

[2018-09-14 11:16] AncaElena10 opened #2805 "Field with more fields"
Which would be the equivalent of

[code]

from Mongo do Knex-MySql? How do I create a field with more fields? (like comments)

[2018-09-14 11:51] elhigu commented on #2805
Sorry, this is not user support channel, try stackoverflow / gitter chat.

Knex doesn't support this kind of functionality well either (there are no convenience APIs for handling json column types. Also the code pasted does not have anything to do with knex.

Maybe you should start by reading about SQL databases and relations to understand how things work in SQL world.

[2018-09-14 11:51] #2805 closed

[2018-09-14 14:27] flmg opened #2806 "Group by fails on binded jsonb column"
# Environment

Knex version: 0.15.2
Database + version: PostgreSQL 10.0
OS: MacOS 10.13.6

# Bug

Grouping by a jsonb binded column doesn't see to work. Here is the query I'm trying to build with knex.js:

[code]

## Error message
Building this query with knex.js, I get the following error:
[code]

## Reduced test code

[code]

I tried using `groupByRaw` but didn't get any luck. Am I doing this ri

[2018-09-14 14:50] flmg commented on #2806
All right I can make it work using `groupByRaw(field.toString())` but I'm not sure this is the way to go. Will close this issue if this it is.

[2018-09-14 18:11] jerfowler commented on #2794
@elhigu Thank you, very good points. However, wouldn't removing node-mssql be a breaking change? There could be numerous knex users that have a need to use the native Microsoft driver with node-mssql, perhaps for the Integrated Windows Authentication and Linked Servers which isn't quite supported by tedious yet. Both are very much valid use cases for utilizing the native driver and there could be

[2018-09-14 19:32] flmg commented on #2806
Unfortunately I'm creating something that uses knex to automatically build queries based on some parameters and I can't alias the field as it might be inside a function like `sum()`.

[2018-09-15 09:50] nanom1t opened #2807 "Process not exit"
Hi,

I'm using knex.js in my project and it work well. But I've faced with the next problem. I want to execute some script with cron and it works, but the process not exiting. I know about knex.destroy() method, but it does not help.

Worker.js:
[code]
Module1.js:
[code]
Module2.js:
[code]
database.js:
[code]
Module1 and Module2 use database.js to work with database as separate units and it works

[2018-09-15 11:49] nikiask opened #2808 "Generated typescript migrations and seeds have type errors"
# Environment

Knex version: 0.15.2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Getting type errors, shouldn't have any.

2. Error message
[code]

This is because the bluebird promise type is incompatible with the typescript Promise type. This can fixed by simply wrapping the function body in Promise.resolve(...) and returning that instead.

## Example

[2018-09-15 16:29] nanom1t commented on #2807
This issue also happens with next case:
worker.js
[code]
module1.js:
[code]
module2.js:
[code]
database.js is the same as in previous example.

[2018-09-15 19:07] Industrial commented on #1633
Would love to see this.

[2018-09-15 22:50] elhigu commented on #2807
Try to use stackoverflow for help for knex usage. If you can create runnable singlefile test code showing that knex.destroy is not working this can be reopened.

If anyone likes to take better look on this please feel free to keep on discussing also here.

Closing as knex usage issue.

[2018-09-15 22:50] #2807 closed

[2018-09-16 07:21] layverns opened #2809 "migration failed with error: Cannot read property 'knex' of undefined"
# Environment

Knex version: 0.15.2
Database + version: MySQL Community Server 5.7.23
OS: mac os high sierra

# Bug
1. when i run knex migrate:latest, I get an error. I have ran knex init and other command follow the official doc.

The full error message is as follow:
[code]

[2018-09-16 10:26] wubzz commented on #2809
Fixed in #2730

[2018-09-16 10:26] #2809 closed

[2018-09-16 17:15] beltschatsar commented on #2665
How about keeping tarn pool then ? I have something that seems to work by keeping tarn pool while having pool delegated to dialect.

If you agree with that, I can detail how those functions should behave exactly.

[2018-09-17 11:02] jensMG commented on #1551
Thanks for the info. Can you further expain on your recommendation not to do so? I have a user table and a authorization id table and would like to adjust the onDelete in users to cascade so authorization token will be deleted when a user is deleted.

[2018-09-17 13:05] elhigu commented on #2808
Wouldnt it be better to declare function as async?

[code]

[2018-09-17 17:20] MNGoldenEagle commented on #2368
@elhigu This reasoning makes sense from a practical standpoint but the Knex documentation doesn't make this clear.  Specifically the line "defaulting to a text column in older versions or in unsupported databases" for the json() method would lead many people (including myself) to believe that for any client that doesn't natively support json/jsonb, it will switch to text under-the-covers, when in

[2018-09-17 21:48] elhigu commented on #2368
@MNGoldenEagle I agree that how current schema API of `knex` is confusing in many ways. Because of historical reasons in many places it tries to emulate unsupported datatypes with some non compatible column types among other non-obvious ways for user. Sadly we really cannot change much current API either because it makes it too hard for old projects to migrate to changed behaviour (everyone would

[2018-09-18 10:02] nikiask commented on #2808
Yes that's what I started doing shortly after filing the issue, should have updated it.

[2018-09-18 14:34] lmoralejo opened #2811 "Syntax Error in disposeTimeout"
[code]

_Originally posted by @elhigu in https://github.com/tgriesser/knex/issues/1871#issuecomment-273721116_

Sorry guys, but there is a syntax error in these lines. It says disposeTiemout, instead of disposeTimeout

[2018-09-18 19:06] ricardograca commented on #2811
I'm pretty sure that's just a typing mistake on that example.

[2018-09-18 22:20] rapodaca commented on #203
This issue was the top hit for many of the searches I did, but didn't address my question. For those who also end up here for the same reason...

Postgres users can add a full text index to a tsvector column using the third argument to `table.index`. For example:

[code]

Also see:

https://knexjs.org/#Schema-index

and

https://stackoverflow.com/questions/45871474/how-to-add-gin-index-using-knex-

[2018-09-19 03:07] flockonus opened #2812 "bug: "syntax error at or near" when queries nest too much IN/ANY"
# Environment

Knex version: 0.14.2
Database + version: Postgres 9.6
OS: osx

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When running this query on `.raw` get an error that I don't get if i run the query directly on Postico:

[code]

Table structure:

[code]

2. Error message
` - syntax error at or near "  and"`

3. Reduced test code

[code]

This will

[2018-09-19 07:13] elhigu commented on #2812
I'll check this out when I'm on machine where I have knex installed.

Btw. here is some guidance what is reduced  and complete test code: https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md#what-is-minimal-code-to-reproduce-bug-and-why-i-have-to-provide-that-when-i-can-just-tell-whats-the-problem-is

It should be runnable just by copy-pasting it, otherwise there is too much room for user

[2018-09-19 07:31] elhigu commented on #2811
:D I went ans fixed my old comment. Now it says disposeTimeout.

[2018-09-19 07:31] #2811 closed

[2018-09-19 12:17] lmoralejo commented on #2811
The error I took from the botpress code, in version 10.24.4.

[2018-09-19 12:43] lmoralejo commented on #2811
The anecdotal thing is that this bug, should not be in this forum, but in the botpress !! haha, I was wrong, thanks guys!

[2018-09-19 17:15] flockonus commented on #2812
@elhigu thanks for the quick response! Updated with a test case

[2018-09-19 21:41] rapodaca commented on #2130
The suggestion from @ricardograca worked for me. However, the quotes need to be (escaped) single as in his example. My integration tests were setting the auto-generated id, so I put the `setval` command into a seed file:

[code]

Double quotes around `foos_table_id_seq` will produce an error:

[2018-09-20 17:29] flockonus commented on #2812
@elhigu is there any wayyou know around it? Maybe going directly to the connection pool and sending the plain query and skipping this scanner/parser lib?

[2018-09-20 19:35] knobandre commented on #1036
What is the status for adding support for JSON Data Type for SQLite?

[2018-09-20 22:10] kibertoad commented on #1036
@knobandre You are welcome :-P

[2018-09-20 23:51] flockonus commented on #2812
Might be relevant... i thought it was on the `pg` lib, but seems to not be the case - https://github.com/brianc/node-postgres/issues/1731

[2018-09-21 12:52] juhguu commented on #1527
I have this bug using SQL server 2017 for linux on Docker.

[2018-09-23 14:52] rfink commented on #1982
Also support

[2018-09-23 15:42] kibertoad commented on #1982
@rfink Typically it's better to use emoticons on original request to voice support for the feature rather than making "+1" comments, as these spam everyone subscribed to the issue.

[2018-09-23 20:08] rfink commented on #1982
First attempt at adding this: https://github.com/tgriesser/knex/pull/2815

[2018-09-24 08:03] pmead commented on #801
For schema and changes to existing data as a result of the schema change sure, but for new data (especially large amounts of it) can be quite problematic in migrations. It seems to be a general consensus across frameworks, talking to peers googling around a bit, that migrations are kept free of data where possible.

[2018-09-24 21:20] brandonros opened #2818 "Migration create table race condition?"
# Environment

Knex version: 0.15.2
Database + version: Postgres 10.5
OS: Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I would have expected the Knex migrator to work without error.

2. Error message

`create table "knex_migrations" ("id" serial primary key, "name" varchar(255), "batch" integer, "migration_time" timestamptz) - duplicate key value

[2018-09-24 21:26] kibertoad commented on #2818
@brandonros This doesn't looks like sufficient amount of code to reproduce. What are the migrations that you are actually running? Your code shouldn't be running migrations more than once.

[2018-09-24 22:07] brandonros commented on #2818
Unfortunately, that was all the code that was running. It was in a Jasmine `beforeAll` block. It worked on my machine, but not my teammate's nor Jenkins. I had to work around it all. I wonder if it was some kind of concurrency or something?

[2018-09-24 22:07] #2818 closed

[2018-09-24 22:34] kibertoad commented on #2818
@brandonros A bit too early to close it, don't you think?

You do understand what `db.migrate.latest()` is doing, right? It runs migrations from directory specified in config. Are you saying that there is no directory and no migrations?

[2018-09-25 01:42] henryjw commented on #1350
I finally found some time to put together a [POC](https://github.com/henryjw/knex-db2-poc).
It works fine for a few basic tests I've run (select, insert, delete). I'll probably start working on the real version in the next week or two.
Feel free to try out the POC and provide any feedback.

[2018-09-25 01:51] henryjw commented on #1115
Anyone interested in this should probably see [#1350](https://github.com/tgriesser/knex/issues/1350).
I'm currently working on a POC for a DB2 dialect.

[2018-09-25 09:10] kibertoad commented on #1350
@henryjw Would be useful to also include instructions on how to setup knex to consume the dialect.

[2018-09-25 09:11] kibertoad commented on #1350
@elhigu Do you think that it makes sense for knex.js to start listing 3rd-party dialects in documentation? (similarly to how Objection.js is listing plugins).

[2018-09-25 10:35] henryjw commented on #1350
@kibertoad updated the docs.

[2018-09-25 15:09] elhigu commented on #801
Well if that is static data to populate to every DB (for example information about categories, which are the same for every installation etc.), migrations are exactly correct place to do it.

Otherwise it depends on the data. Populate scripts are not good for adding large amount of data which is suitable only for single database and not to other installations / test setups.

If its one-time data t

[2018-09-25 15:44] ricardograca commented on #801
I also disagree with this. That is precisely what seeds are for, not migrations. Migrations are only meant to change the database structure, not its data. On top of that migrations are supposed to be transitory, and can be deleted once they have served their useful purpose. If they contain data this will not be possible.

[2018-09-25 15:50] kibertoad commented on #801
@ricardograca Theoretically, yes. Practically migrations are the best way to ensure that you have consistent datasets across different environments. And I disagree that "transactions can be deleted", typically you want to keep them around forever so that you can always recreate an environment from a scratch (at least the part that is not dependent on external input).

[2018-09-25 15:50] kibertoad commented on #801
@pmead What we typically do in production with big datasets is use migrations to call importers and store actual data in CSV files that may or may not be stored in repo (based on how much long-lasting value they have and on their size)

[2018-09-25 16:10] ricardograca commented on #801
Not really. You only want to keep them around forever now because there's no better system to recreate the schema from scratch with Knex, like the schema file functionality from Rails. But even still, once all machines that are running your code are updated to the latest version of the schema you can safely delete all migrations and create a new one based on the current state that will take the pl

[2018-09-25 16:17] marudits commented on #1128
Any suggestion for this issue in Angular?
I try using express project, it is normal (not showing any error). But when I use it in Angular project, it shows the error:

`
ERROR in ./node_modules/knex/lib/dialects/oracle/utils.js
Module not found: Error: Can't resolve 'crypto' in '/Users/marudits/Documents/CODE/PROJECT/MOJOMARET/app-member/node_modules/knex/lib/dialects/oracle'
ERROR in ./node_modul

[2018-09-25 16:30] pmead commented on #801
One of the particular use case where population scripts are useful is when you want the data set to be refreshed but it doesn't happen frequent enough to warrant another method e.g. say an annual import of data.

Migrations at that point feel somewhat cumbersome because for some environments they will have already run meaning you would need a new migration and couldn't just change the CSV (which I

[2018-09-25 17:50] elhigu commented on #1982
Which databases actually supports this?

[2018-09-25 18:02] #1558 closed

[2018-09-25 18:08] elhigu commented on #2796
IIRC postgresql also supports kind of joins in updates, but it uses from keyword to implement them. I'm not sure how much different they are from joins. Mssql also seems to support it. For oracle there doesn't seem to be anything else but hacks for it https://stackoverflow.com/a/2446859/360060

[2018-09-26 01:12] #1551 closed

[2018-09-26 05:49] elhigu commented on #1350
@kibertoad yes it does.

[2018-09-26 06:11] elhigu commented on #1128
In webpack most probably.

[2018-09-26 06:40] elhigu commented on #801
Just to start with actual support of seeds I want to say clearly:

**Having support for seeds in knex doesn't help anything with any of the points discussed in this reply**

Now that being said, we can continue philosophical discussions about migrations and schema things :)

That sound really rails-centric and purifist view to the subject.  I would like to hear any real actual reason why migration

[2018-09-26 06:46] elhigu commented on #801
@pmead

It doesn't work so well in the real life and you can easily have directory full of database population scripts without any seed wrapping around them. Then you can just call `node seeds/refresh-yearly.js` and your data gets populated.

Yeah, rails is quite a different setup and active record is much higher level tool than knex. Sure we can learn from there too.

[2018-09-26 08:00] bertho-zero opened #2819 "Create migrations with the CLI without knexfile"
### Feature discussion / request

It would be convenient to be able to create migrations without knexfile, one could pass the required arguments to the CLI.

In my case only `client` or `dialect` is necessary but one can also imagine passing the directory of the migrations or other by the arguments.

[code]

[2018-09-26 08:37] ricardograca commented on #801
Well, it's mainly an issue when it comes to setting up a new machine. For example, why would you want to go through all the process of creating a column, modifying it, modifying it again, and again and then dropping it? This will happen if you have all the migrations and it makes no sense. This is just an example, the same same thing will happen with tables, and a large project can easily accumula

[2018-09-26 09:43] umaar opened #2820 "TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
# Environment

Knex version: 0.15.2
Database: sqlite3
OS: Ubuntu 18

I'm getting lots of errors like `TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?`

Any ideas? All my code lives in this one file: https://github.com/umaar/wiki-globe/blob/master/index.js - that code powers [this globe](https://umaar.com/globe/) which I poste

[2018-09-26 10:35] elhigu commented on #801
No need to run migrations before every test, once for every test suite is enough and after that truncating data + inserting new data is enough. Running/rolling back migrations before each test is a bad practise. Also initial SQL dumps loaded to DB before running the tests eliminates need for that.

As mentioned in this thread already few times, one does not seed file system for that at all since i

[2018-09-26 13:58] osher commented on #2080
IMHO - as it's written now, it will not auto-delete.

If you want to keep using it as a permanent table - (what will leave your code db-provider independent) - then  I advise you to:

create the temporary table with an additional column and fill in that column a value unique for this transaction. This will let you filter the records in that table so that you can delete in the end of that transacti

[2018-09-26 17:50] wjohnsto commented on #2820
From the documentation:

[code]

So if you're using sqlite3 you will run into issues with more than 1 connection.

[2018-09-26 17:56] umaar commented on #2820
Oh got it, so the issue is: many clients are backed up in a queue waiting for a single available connection to sqlite3, but the timeout passes and that error is thrown? As a quick fix for a hobby project, I wonder if it's acceptable to simply increase the timeout

[2018-09-26 17:56] #2820 closed

[2018-09-26 17:59] elhigu commented on #1115
Exactly as @kibertoad said. Closing.

[2018-09-26 17:59] #1115 closed

[2018-09-26 19:05] brandonros commented on #1738
[code]

Does somebody need to update `@types/knex` to support this?

[2018-09-26 20:37] elhigu commented on #2819
Why do you need that?

Currently big problem with command line client is that it really doesn't have any tests. So until someone writes some test setup for running tests for it we have not been accepting any additions to that part of knex.

[2018-09-26 20:39] kibertoad commented on #2819
Some projects don't have knexfile in the first place and only pass config to knex instance programmatically. I've seen projects with fictitious knexfile just for generating migrations.
So if someone volunteers to make a solution for testing CLI, this feature request could proceed?

[2018-09-26 20:42] kibertoad commented on #2799
@mashaalmemon Solution coming in a "@next" release soon, would be great if you could test it on real-world scenarios!

[2018-09-26 20:47] elhigu commented on #1982
I'm referring any kind of comment with the query. I understand it is really useful for that proxy.

[2018-09-26 21:06] #2541 closed

[2018-09-26 21:07] elhigu commented on #1738
That issue should be filed to @types/knex repo, those typings are not maintained by us.

[2018-09-26 21:35] elhigu commented on #2819
Sure, this is not the first time that something like this has been requested.

[2018-09-26 21:42] #2799 closed

[2018-09-26 22:10] kibertoad commented on #2799
@mashaalmemon next with this feature is out, please give it a try and let me know how it works for you!

Here's the documentation - https://github.com/knex/documentation/pull/135

[2018-09-27 00:13] brandonros commented on #2818
Why not change the migrations code to `create table if not exists` ?

[2018-09-27 06:05] bernardmo commented on #1982
Well I know that mysql/mariadb, postgresql and sqlite support query comments. I'm not sure for other DBs which are supported by knex (I didn't worked with them)

[2018-09-27 06:31] elhigu commented on #1982
Yea, looks like `/* comment */` are standard SQL stuff, I had always seen just line comments earlier :) Other thing to check about this is to see if Node's DB drivers supports them.

[2018-09-27 09:16] jgomes94 opened #2822 "Nullable References"
# Environment node.js

# Questions about how to use knex

Hello I have the following migration:

[code]

However when i try to create a null reference in application field

it gives me error.. **insert or update on table "activity" violates foreign key constraint "activity_application__c_foreign"**

**PS:** I didn't show the model because i think it seems like this is a problem with the migration

[2018-09-27 09:49] elhigu commented on #2822
Usage questions should go to stackoverflow, github issues are for development usage (as mentioned is issue template). Closin, but if anyone likes to help, feel free to keep on discussion here. IIRC those should be nullable by default.

[2018-09-27 09:49] #2822 closed

[2018-09-27 10:54] elhigu commented on #2818
Probably this issue was actually caused, because it was removed from there... it was removed, because we added warning about using it because in most of the cases users actually doesn't want to use it because it would work really unexpected way when created table has also constraints / indexes.

Some locking mechanism could be added there though, or add parameter to crateTableIfNotExist for suppre

[2018-09-28 03:59] Gregroam opened #2823 "knex.val() similar to knex.ref"
# Feature discussion / request

Is there something like `knex.val('hello world')` similar to `knex.ref('column name')`? Use case would be something like join clauses.

[code]

this is just a simplified example, there are cases when you need to compare a column to a value in a join condition, but knex assumes the left and right hand sides of the expression will be column names. Currently the workar

[2018-09-28 05:30] Miteshdv commented on #2820
I am facing this issue though i am just trying to create a table in sample project , only one client is connected still this error , Any fix for this ?

[2018-09-28 05:50] Miteshdv opened #2824 "TimeoutError: Knex: Timeout acquiring a connection. error using Pool.afterCreate property"
# Environment

Knex version:0.15.2
Database + version:Sqlite3
OS:Linux Mint Sarah 18

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug
By Adding Pool Property , i am getting Connection Timeout error. Even there is just one client, even if i specify max and min pool i get error
TimeoutErr

[2018-09-28 06:15] elhigu commented on #2824
Looks like you are not calling done() callback to tell that `afterCreate`  hook is ready.

Try:

[code]

[2018-09-28 06:15] #2824 closed

[2018-09-28 07:53] candyapplecorn opened #2825 "Coalesce"
# Feature discussion / request

1. Explain what is your use case
Using Coalesce to get the first non-null value from a series of expressions.

2. Explain what kind of feature would support this
Implementing SQL's COALESCE

3. Give some API proposal, how the feature should work
I'd like to be able to use coalesce without knex.raw. API might look like this:

knex('Users as U').select(knex.coalesce('

[2018-09-28 08:29] ricardograca commented on #2793
Fixed with #2813.

[2018-09-28 08:29] #2793 closed

[2018-09-28 08:53] Miteshdv commented on #2824
Thank you , I apologize for bothering you .
It seems i missed this part in docs

[2018-09-28 14:45] peterfronc opened #2826 "emove"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2018-09-28 14:45] #2826 closed

[2018-09-28 15:43] bertho-zero commented on #2014
Personally I use `const { schemas } = knex.client.config` in my migrations.

[2018-09-29 06:56] elhigu commented on #2014
Fixed by #2802

[2018-09-29 06:56] #2014 closed

[2018-09-29 07:27] elhigu commented on #2825
Seems kind of reasonable for being able to pass very simple coalesce usage, but won't be useful for any more complex cases (also having `.as` support there tells that this is mostly useful in selects).

Like most of the SQL functions I think having this over using `knex.raw('coalesce(??,??,?) as ??' ['U.phone_number', 'U.email', '', 'contactInfo'])`... Also given example syntax will not work, sinc

[2018-09-30 11:11] mixkungz opened #2828 "SQL to Knex style"
Database: MySQL
If I have a where clause
`where user_id=? and status = ? (month(column1) = ? and year(column1) = ?) or (month(column2) = ? and year(column2) = ?`

How can I write with knex style?

[2018-09-30 11:17] k-j-kleist commented on #2828
Why do you ignore this part of the issue template?

`# Questions about how to use knex
Github issues are for knex development. Please send questions how to use knex to
stackoverflow or ask about it in gitter chat.`

[2018-09-30 11:52] ricardograca commented on #2828
Closing this for the reasons @k-j-kleist listed.

[2018-09-30 11:52] #2828 closed

[2018-09-30 12:17] iilei commented on #2756
I am about to start working on a patch that allows pattern matching utilizing [globby](https://www.npmjs.com/package/globby). It seems to me that it would also have potenial for merge conflicts, so my question is @kibertoad : as the mentioned PR is merged – is it a valid assumtion it is better to forge my patch on top of this branch?

[2018-09-30 12:53] mixkungz commented on #2828
sorry for mistake.

[2018-09-30 12:58] iilei commented on #2756
@sgoll Assuming in your usage scenario the compiled files are to be ignored from version control I suppose it would be also an option to have them ignored via a pattern as it is provided to `.gitignore` - right?

If so, the work I am doing on my patch mentioned above would provide an interface to globby - [allowing to ignore the same files based on `.gitignore`](https://www.npmjs.com/package/globb

[2018-09-30 18:42] kibertoad commented on #2756
@iilei All of my changes were merged to master already, so feel free to branch off that.

[2018-09-30 20:07] IsaaX opened #2830 "Inserting/saving object with timestamps saving as localtime without timezone instead of UTC with timezone."
# Environment

Knex version: ^0.15.2
Database + version: postgres 10.5
OS: mac osx

# Bug
Hello! Really love this package! Am having some issues with postgres db and I've referred to all previous issues with this and have not been able to come to the desired result.

1. Explain what kind of behaviour you are getting and how you think it should do
So I've been trying to get my timestamps in my data

[2018-09-30 20:42] elhigu commented on #2830
Check what type of columns are you having in your DB for your timestamps. They should be `timestamptz` and check from database directly what is stored there. This issue needs complete testcase for reproduction, check CONTRIBUTING.md for details.

Currently what is described in this issue there are many places where you just might have an user error so actual code for all the stuff you are listing

[2018-09-30 20:42] #2830 closed

[2018-10-01 09:46] JakeGinnivan commented on #2808
Could also use `PromiseLike`

ie

[code]

[2018-10-01 13:33] elhigu commented on #2808
Fixed https://github.com/tgriesser/knex/pull/2816

[2018-10-01 13:33] #2808 closed

[2018-10-01 14:53] m00dy commented on #1414
I think this shouldn't be completely out of scope of knex. Knex is a query builder and therefore connect's to databases. Using ssh-tunnel is one of the common security practices today in database world.

[2018-10-01 14:56] kibertoad commented on #1414
@m00dy And what is the problem with just using tunneling on an OS level?..

[2018-10-01 15:02] elhigu commented on #1414
@m00dy that is completely out of scope of knex. Tunneling is handled OS level or database driver level, but definitely not knex level.

[2018-10-01 15:06] PierBover commented on #1414
For what it's worth, I used `mysql-ssh` to solve this, although I ended up using raw queries because I couldn't figure out how to use it with Knex.

[2018-10-01 15:15] elhigu commented on #1414
Disagreed (even that these speculations are not relevant to this issue) people are using more and more each clouds own database services (RDS / Cloud SQL mostly) and each of them has their own support how to connect them securely remotely. Cloud SQL has their own local proxy thing and RDS uses AWS security groups. I haven't spawned my own database servers years (except for local testing of course)

[2018-10-01 15:31] antony opened #2831 "innerJoin with 'on' drops date value."
# Environment

Knex version: 0.15.12
Database + version: MySQL 5.7
OS: Ubuntu 18.10

# Bug

1. If I attempt a join with a date value, the date value is not inserted into the SQL string. If I try this in a where clause, it is fine, and if I try this with a string value instead (using raw), it is also fine.

2.

From MySQL:

[code]

From `.debug()`:

[code]

3.

[code]

[2018-10-01 17:36] elhigu commented on #2830
Here is maybe the best explanation, that I could find from knex issues... it starts about mysql, but in the end also postgresql is discussed https://github.com/tgriesser/knex/issues/1461#issuecomment-304671676 and the thing mentioned in that comment could be the one you are facing.

[2018-10-01 17:41] elhigu commented on #2830
ps. It seemed that you didn't read the https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md#what-is-minimal-code-to-reproduce-bug-and-why-i-have-to-provide-that-when-i-can-just-tell-whats-the-problem-is

[2018-10-01 17:59] IsaaX commented on #2830
I don't believe I follow. I saw the various explanations that you've put out and have followed the suggested recommended solutions `pg-types` in which all lead to the same result of storing the timestamp in my localtime instead of UTC time. Looking at that comment https://github.com/tgriesser/knex/issues/1461#issuecomment-304671676 (which I saw many times before reporting), not sure how that appli

[2018-10-01 18:19] kirrg001 commented on #2763
@elhigu Any news on this? :)

I am running into trouble having two versions of knex in one project.

e.g.

- Ghost uses knex 0.14.6 in our model layer
- knex creates an instance of raw when using `orderByRaw` ([see](https://github.com/tgriesser/knex/blob/0.14.6/src/query/builder.js#L486))
- our migrator tool uses a clone of knex 0.14.6 with the patch for sqlite backsticks
- this knex clone get's t

[2018-10-01 18:45] tgriesser commented on #2830
@IsaaX is the [timezone of your node app](https://stackoverflow.com/questions/8083410/how-can-i-set-the-default-timezone-in-node-js) set to UTC?

[code]

[2018-10-01 19:01] IsaaX commented on #2830
@tgriesser correct, I tried both `TZ` and `PGTZ`. I also tried the `afterCreate` hook in the pool settings.

[code]

When I do print statements inside of the node server, it prints out the expected UTC time. What I find odd is why isn't that value being stored in the database instead?

[2018-10-01 19:29] elhigu commented on #2830
This was the most important point in the other message. Timestamptz in postgres is stored as utc and values returned for those columns are returned in that timezone which is set for the session (for example in afterCreate). So actual timezone in which data was inserted is never stored to database. It is just converted to UTC.

I know it is not meant to, but without complete single file test-case r

[2018-10-01 19:38] elhigu commented on #2763
Looks like no one has taken charge of fixing this. PRs are welcome.

[2018-10-01 19:40] kibertoad commented on #2763
@kirrg001 Could you contribute a failing test for this? I could give it a shot then.

[2018-10-01 19:44] kirrg001 commented on #2763
Thanks for fast reply :)

I have written tests [here](https://github.com/kirrg001/knex/commit/bce2fd7f6dd29e2fb4d203922ba6a807e3f95b22).

@kibertoad How can i help speeding this up? Should i PR the tests to proof that it will fail?

[2018-10-01 19:49] kibertoad commented on #2763
@kirrg001 That one looks like it has both tests and the fix :). Is there a failing test for the use-case that you mentioned with knex clone that fails for you?

[2018-10-01 19:50] IsaaX commented on #2830
That's exactly what I'm saying, the timestamps in my database are not UTC time, they are my current time without the timezone. I'd be more than happy to have a UTC time without a timezone but that's not what my issue is. Once again I want to show my appreciation for taking the time to chat it out with me, I've seen how active you are so keep up the work!

Ill use the current time right now to draw

[2018-10-01 19:52] kirrg001 commented on #2763
Yeah 👍 Should i PR that?

Do you mean the use case from [this comment](https://github.com/tgriesser/knex/issues/2763#issuecomment-426010188)?

[2018-10-01 19:54] kibertoad commented on #2763
Think so, @elhigu 's opinion would be needed to figure out how to proceeed.

Yup.

[2018-10-01 20:03] kirrg001 commented on #2763
Not rly. It happens if you have two knex dependencies installed and they are both used in the same query.

`instanceOf Raw` is then no longer true, because it's a different class reference. That is hard to proof in a test.

[2018-10-01 20:07] kibertoad commented on #2763
@kirrg001 Can't you do if .name === 'Raw' check instead?

[2018-10-01 20:15] kirrg001 commented on #2763
Yeah knex could do that 👍 Should i PR that too?

[2018-10-01 20:16] kibertoad commented on #2763
@kirrg001 Probably as a separate PR, I'm not exactly sure what solution is and would be curious to take a look at it.

[2018-10-01 20:38] IsaaX commented on #2830
I've figured out the issue and it was a user error on my end. The data is correct in the database and the visualizer tool that I use auto casts it into my localtime since there was not timezone stamp on it. Sorry for all the confusion and appreciate the help you gave me @elhigu Keep up the good work guys!

[2018-10-02 00:55] dealercontrolrachel opened #2832 "Migrate: rollback down functions in reverse order from up functions"
# Environment

Knex version: 0.15.2
Database + version: Mysql 8.0 Ubuntu docker container
OS: macOs High Sierra 10.13.6

# Feature discussion / request

There may be a solution to this and if so, I apologize but I cannot figure it out.

1.
I have lots of migrations files that all create and drop tables. There are some foreign keys that reference tables in different files.

ex:
 - base_migration: u

[2018-10-02 07:27] elhigu commented on #2832
That sounds like a bug if it indeed does that. Should test it out to make sure (I never use down -scripts myself)

[2018-10-02 16:52] dealercontrolrachel commented on #2832
Okay I don't know what happened but it seems to be working fine now. I swear it was going in reverse. I put console.logs in the down functions. I was also using knex-migrate so maybe that was doing something weird?

[2018-10-02 16:52] #2832 closed

[2018-10-02 18:36] sgoll commented on #2756
@iilei

Yes, that it correct: the compiled files are not put into version control (in my case).

That would be quite useful. However, my original intention here was not to unconditionally ignore `.js` files but tell Knex that it should prefer `.ts` over `.js` files when both are available, and use either in case only one is available (see rationale with regard to testing versus production environm

[2018-10-02 18:52] sgoll opened #2834 "Allow table names with `forUpdate`/`forShare`"
# Environment

Knex version: 0.15.2
Database + version: PostgreSQL 10.5
OS: Linux

# Feature discussion / request

I would like to build `SELECT … FOR UPDATE` (and `SELECT … FOR SHARE`) queries that only lock some tables from the selection. In particular, this is required for queries that contain nullable outer joins such as LEFT JOIN on nullable columns.

PostgreSQL 9+ supports this with the synt

[2018-10-02 18:54] elhigu commented on #2756
But sholdnt it work other way around, that compiled/.gitignore files are actually ran 🤔 doesnt make much sense to compile them if they will never be ran...

[2018-10-02 18:55] elhigu commented on #2756
That sounds a bit too opinionated behaviour to my taste.

[2018-10-02 20:15] sgoll commented on #2834
I went ahead and prepared pull request #2835 that implements the proposed change.

[2018-10-03 00:21] jaredLunde opened #2836 "Allow createTable callbacks to be asynchronous"
# Feature discussion / request

1. *Explain what is your use case*
So far as I can tell there isn't a way to asynchronously build columns inside the createTable callback. I came across this use case while creating some helper functions for creating special column types. As it stands, one would have to create extensions, functions, etc. outside of the createTable scope but that seems superfluous (t

[2018-10-03 02:27] tgriesser commented on #2836
`createTable` isn't going to become async as that would break a ton of the internals. I've been working on a rewrite of the internals for the past two weeks that will allow for better conventions for extension with custom behavior. Hopefully going to get a repo up later this week so people can take a look, though it probably won't be ready for awhile.

I'm not sure what `column` is doing there and

[2018-10-03 02:27] #2836 closed

[2018-10-03 02:32] jaredLunde commented on #2836
Cool, figured something like that was the case. Thanks!

[2018-10-03 08:05] sgoll commented on #2756
@elhigu

Jest uses the raw `.ts` files for running tests. This is particularly useful when running Jest in `--watch` mode for test-driven development.

[2018-10-03 08:37] wubzz commented on #2831
I think this is primarily caused by `on/andOn` being intended _(at least in the first place)_ for _column1 <operator> column2_. I'm actually surprised the _stock.quantity > _0 works at all. Changing 0 to '0' would break it, though.

Next version contains #2746 which should be able to handle this correctly. _(Though syntax was [renamed](https://github.com/tgriesser/knex/commit/b83fc4db476d596d3fb13

[2018-10-03 08:56] antony commented on #2831
Ah that's useful to know! I was trying to replicate a where clause from some existing SQL and hadn't spotted that it was for column-to-column clauses.

[2018-10-03 10:35] wubzz commented on #2831
I think you can do this for now:

[code]

[2018-10-03 11:00] elhigu commented on #2756
@sgoll I understand that use case very well (along with others), but it doesnt really invalidate my comment.

[2018-10-03 12:10] JakeGinnivan commented on #2756
@iilei you mean like https://github.com/knex/documentation/pull/133?

[2018-10-03 13:53] mariohmol commented on #1527
@juhguu  me too.. did u figure it out?

[2018-10-03 14:05] mariohmol opened #2839 "MSSQL Docker and Knex"
# Environment

* Knex version: 0.15.2
* Database + version: Using latest mssql docker image
* OS: OS X

# Bug

1. Explain what kind of behavior you are getting and how you think it should do

I've seen the docs where says that knex should work with latest SQL Server. But i'm trying to connect to knex using this latest SQL Server docker build and i'm getting this error:

`Error: This knex version d

[2018-10-03 14:19] var-kar commented on #2671
If you are still looking for this please find this repo. https://github.com/jasny/knex-hdb. Although I am not sure why custom client class in not working for him(jasny).

[2018-10-03 14:56] kibertoad commented on #2839
This is not related to your DB version. You are trying to use unsupported version of "mssql" npm dependency. Use "4.1.0".

[2018-10-03 16:09] mariohmol commented on #2839
Thank you.. i got confused about the mssql DBRMS x node module...

its working as expected!!

Again.. thanks for the quick response

[2018-10-03 16:10] kibertoad commented on #2839
np :)

[2018-10-03 17:27] sgoll commented on #2756
@elhigu

You are right (and I never intended to insinuate that you weren't). Personally, I think an approach like the one suggested by @iilei would work best: have the ability to resolve migrations (and seed files) with some custom resolver function.

This resolver function would be able to support both use cases:

- Select `.ts` over `.js` when both are present
- Implement elaborate glob pattern

[2018-10-03 22:13] antony commented on #2831
Thanks @wubzz !

[2018-10-04 02:13] JakeGinnivan commented on #2756
@sgoll not sure if you had a look at my links, but this functionality exists already inside knex `@next`.

[code]

[2018-10-04 12:47] pineapplemachine commented on #2094
I ran into this issue also, and was able to get the behavior I expected by adding this code before creating a `knex` client object:

[code]

[2018-10-04 13:14] juhguu commented on #1527
@mariohmol basically I'm using the solution of the @roemhildtg. =/

[2018-10-04 13:39] #2834 closed

[2018-10-04 13:44] mariohmol commented on #1527
thanks.. i had the issue with mssql to be 4.1.0 .. all good here .=)

[2018-10-04 20:05] sgoll commented on #2756
@JakeGinnivan

That looks exactly like what I need. I'll give it a try as soon as possible.

Is there something similar for seed files as well?

[2018-10-05 00:12] henryjw commented on #1350
I've set up the repo for the [real version](https://github.com/henryjw/knex-db2) of the DB2 dialect and published it to NPM, although it's still in development so use it at your own risk. Feel free to try it out and provide any feedback or report issues.

[2018-10-05 00:53] JakeGinnivan commented on #2756
I didn't do seed files, that would be a good enhancement.

[2018-10-05 01:05] danderson00 commented on #2743
I hit this issue, and it took me a little while debugging to figure out what's happening. I have logging suppressed (passing log object with empty log functions - any error logging is done on promise rejection - I'm not interested in "warnings") to avoid console spamming, and the process exiting without any explanation is not ideal.

While I agree with your statement that a missing require is almo

[2018-10-05 07:37] wubzz commented on #2743
Hm, I missinterpreted this issue. I thought the crash was simply due to not installing the driver module, but we actually end the process explicitly in knex.. I can understand why that isn't optimal.

While I don't see a use-case keeping the application alive with broken knex, I guess I can agree that the lib shouldn't close the application completely on its own accord..

[This](https://github.com

[2018-10-05 10:59] danderson00 commented on #2743
So I was going to submit a PR with a simple test, but after thinking about it, I'm not convinced the try..catch block here is actually necessary. It's hard to see a scenario where passing the error to the logger gives additional value over just allowing the exception to bubble, and rethrowing the error has the disadvantage of obscuring the original stack trace. I dunno, your call.

Thanks for main

[2018-10-05 11:02] wubzz commented on #2717
@tgriesser This is something I really think would make knex shine even more. Personally I can work on this on freetime and at work, but what's stopping me is not knowing what's going on next in the repo. Doing something rather big like this seems like a bad idea if the entire codebase is going to be rewritten _(be it with TypeScript or not)_.

I agree the codebase suffers a lot. In many areas it's

[2018-10-05 11:04] kibertoad commented on #2717
@wubzz We still support Node 6 until April, so we can't drop Babel yet if we need async/await, as it was first introduce in Node 8.

[2018-10-05 11:08] danderson00 commented on #2743
Sorry, this is not right - it adds the instructions to install the module to the message. I'll do a PR next week.

[2018-10-05 11:09] wubzz commented on #2717
Alright, so maybe not drop babel quite just yet, but the point remains the same.

[2018-10-05 11:33] wubzz commented on #2823
If this is just a wrapper around `knex.raw('?', value)` then it's very simple to add in the same was `.ref` was added.

If there are additional features for it to handle lets document them here before starting to work on it.

[2018-10-05 12:06] wubzz commented on #2797
Can we close this and instead add a note about it in docs for pluck? @elhigu @dhensby

I understand the problem, but there's no correct way of solving this as far as I can tell. `postProcessResponse` can be used for anything - not just altering column names - so there is no way for `pluck` to know whether or not columns are being changed or not, and if so into what.

In this case it sounds like yo

[2018-10-05 12:11] wubzz commented on #2731
Closing, this was merged. Thanks.

[2018-10-05 12:11] #2731 closed

[2018-10-05 12:12] wubzz commented on #2707
Closing, feature merged towards next version. #2746

[2018-10-05 12:12] #2707 closed

[2018-10-05 12:18] elhigu commented on #2743
That error print is pretty useful there so that people knows why that require can fail. Error message could always be more extensive. In this case I dont think that loosing original stacktace matters at all. At least I cannot think of any other reason for failing, but missing npm package... hmm or actually also missing depent native library maybe. Anyways if the original error is thrown it should

[2018-10-05 12:19] wubzz commented on #2571
@tgriesser What's your take on this? Do you see any reason why knex should be looking at the _returning_ value from builder once the response from SQL has been received?

My mindset is always postgres, so maybe I'm missing something relating to other dialects. But I would like to think whatever was returned from database using builder's _returning_ value should be correct without knex doing any ex

[2018-10-05 12:41] tgriesser commented on #2823
Actually, I think we should add `leftJoinVal` and `rightJoinVal` to match the `onVal` syntax that was merged, since it's a common enough use case.

[2018-10-05 12:42] tgriesser commented on #2823
Also, once we have that I think I'd be good for a 0.16 release

[2018-10-05 12:44] tgriesser commented on #2831
@wubzz I reverted that rename, I was mistakenly thinking of the [whereColumn](https://github.com/tgriesser/knex/pull/2837) when I renamed it, which is the inverse of the `onVal` for where clauses (allows a column binding on the right hand side).

[2018-10-05 12:48] wubzz commented on #2831
@tgriesser Ah, cool. I can understand the confusion. :)

[2018-10-07 15:34] martinsik commented on #79
I just encountered the same thing. I'm wondering if there's any recommended best practise...

[2018-10-07 20:18] Gregroam commented on #2823
What if you want to mix columns and values in a single join object?

[code]

That would be nice to have

[2018-10-07 22:50] kibertoad opened #2841 "Remove Node.js 7 from Travis configuration"
Are there any reasons why we are running tests against Node.js 7? As is the case with all odd development releases, it's not officially supported.

[2018-10-08 05:44] Jakobud opened #2844 "Migrate rollback all, similar to Laravel"
# Environment

Knex version: 0.15.2
Database + version: MariaDB
OS: Linux (Ubuntu)

# Feature discussion / request

1. Ability to rollback all migrations in a single CLI command. Something like `#knex migrate:reset`, very similar to Laravel (https://laravel.com/docs/5.7/migrations#rolling-back-migrations).

2. The CLI would be where the command would be supported

3. I don't know if an API is nece

[2018-10-08 12:19] stefanmaretic commented on #2725
What value do I need to resolve?

[2018-10-08 17:52] elhigu opened #5857 ".whereColumn is missing documentation"
https://github.com/tgriesser/knex/pull/2837

[2018-10-08 20:55] tgriesser commented on #2823
Fair enough. I'd be fine accepting a PR for `knex.val`.

[2018-10-08 21:28] kibertoad commented on #2844
Sounds pretty straightforward. Would you be willing to contribute PR for that? (note that there are currently no tests for CLI, so you would also have to come up with a way to test it).

[2018-10-08 21:33] kibertoad commented on #858
@hidetaka-f-matsumoto Sorry, this took forever, but I think what you are asking for was finally implemented in https://github.com/tgriesser/knex/pull/2817 and is available in 0.16.x "@next" branch.

[2018-10-08 21:34] kibertoad commented on #1036
@elhigu Do we only close issues after non-next version with new functionality is released?

[2018-10-08 21:40] kibertoad commented on #1232
@olalonde Is this still relevant in a world where all popular Node.js versions support ES6 out-of-the-box?

[2018-10-08 21:41] mAAdhaTTah commented on #1232
@kibertoad Node doesn't support ESModules yet.

[2018-10-08 21:44] kibertoad commented on #1232
@mAAdhaTTah It sorta kinda does: https://nodejs.org/api/esm.html

[2018-10-08 21:49] kibertoad commented on #2761
Interesting. Syntax appears to be correct, here is official example:

[code]

I wonder if it needs to be CURRENT_DATE to work with Date column. I'll check with MySQL database, it could be that we need fn.nowDate() equivalent for dates; also we definitely could improve our documentation for knex.fn.now()

[2018-10-08 21:53] mAAdhaTTah commented on #1232
@kibertoad Yeah, but it's very experimental & unstable, so you can't rely on it.

[2018-10-09 01:55] Jakobud commented on #2844
I'm working on trying to get this thing to build. Running into the following npm install issue:

[code]

[2018-10-09 05:00] wubzz commented on #1036
It should auto close if issue is mentioned in commit / PR and PR is merged. I can see support for SQLite was added which is great, but I don't think it concludes the original issue? (MySQL)

[2018-10-09 08:06] wubzz commented on #1036
Hm, wasn't referenced here, that's why I missed it. I'll close this then.

[2018-10-09 08:06] #1036 closed

[2018-10-09 09:20] elhigu commented on #2797
Yep 👍

[2018-10-09 09:48] #2797 closed

[2018-10-09 09:48] wubzz opened #5858 "Add note about pluck and postProcessResponse"
See original issue for details: https://github.com/tgriesser/knex/issues/2797

[2018-10-09 16:44] kraftman commented on #2253
I took a stab at this here: https://github.com/tgriesser/knex/pull/2847
looking for feedback on the approach taken

[2018-10-10 06:02] wubzz commented on #2841
I think we should remove it. Node 7's 'End-of-life' was 2017-06-30.

I don't see a problem adding the 'inbetween' versions of Node to Travis so long as their enddate has not passed.

[2018-10-10 08:46] kibertoad commented on #2841
@wubzz Gotcha. Made a PR for that. And yeah, we should add the Node 11 when it lands :).

[2018-10-10 14:34] tgriesser commented on #2723
I believe they're saying it should be:

[code]
rather than
[code]
Which after a quick test actually does look to be true, though it breaks if anyone was using `.where` instead. There's not tests for either case, though the API should be to only use `having*` inside a having closure block.

[2018-10-10 15:06] kibertoad commented on #2723
@tgriesser Considering that next release is 0.16.0 with breaking changes anyway...

[2018-10-11 11:39] kibertoad opened #2849 "Support executing arbitrary SQL before SELECT query"
# Environment

Knex version: 0.16.next2
Database + version: MySQL 5.7

# Feature discussion / request

**Problem statement**

Currently there is no way to execute multi-statement queries with proper selected value mapping that look like this:
[code]

It is obviously possible to execute it within single knex.raw statement, but that prevents result row mapping from working which defeats the whole pu

[2018-10-11 12:03] nikitalpopov opened #2850 "Buggy syntax error reporting"
# Environment

Knex version: 0.15.2
Database + version: PostgreSQL 10
OS: macOS 10.14

# Bug

1. I've made a little mistake while was creating database raw request:

[code]

2. But the error I get when I'm trying to run the query is misleading (while there is only syntax error, it says that column is not present):
[code]

3. The `images` table was created with the following knex migration, so colu

[2018-10-11 13:10] ricardograca commented on #2850
What happens if you run the same incorrect query directly on the PostgreSQL server?

[2018-10-11 14:34] nikitalpopov commented on #2850
@ricardograca the same error. So I have to close this issue?

[code]

[2018-10-11 14:49] kibertoad commented on #2850
Yup, as it is not related to knex, we are just returning whatever driver does.

[2018-10-11 14:52] ricardograca commented on #2850
Yeah, Knex only passes along any errors from the database driver which itself only passes along errors from the database server.

[2018-10-11 15:34] Willian-Girao opened #2851 ".returning() method not working with MariaDB."
# Environment

Knex version: 0.15.2
Database + version: MariaDB 10.0
OS: Windows

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug
 The .returning() method, according to the documentation, "specifies which column should be returned by the insert and update methods.". When I use this meth

[2018-10-11 15:46] elhigu commented on #2851
Mariadb / msyql doesn't support that DB feature.

[2018-10-11 15:46] #2851 closed

[2018-10-11 15:47] #2850 closed

[2018-10-11 15:47] elhigu commented on #2850
Working as expected. Invalid query throws an error.

[2018-10-11 15:51] maximedupre opened #2852 "Ability to chain forUpdate and forShare to the transaction object"
# Environment

Knex version: `v0.15.2`
Database + version: MySQL `v5.7.18`
OS: macOS `v10.13.6`

# Feature discussion / request

I think we should be able to do:

	let transactionStarted = async (trx) => {
         await trx.forUpdate().select('p.*').from('projects as p')
	}

	await knex.transaction(transactionStarted);

Instead we have to do this:

	let transactionStarted = async (trx) => {

[2018-10-11 15:54] elhigu commented on #2849
One can already implement this outside of knex level by selecting to send multiple queries to the same connection. That has been one design principle of knex, that single builder does not generate multiple queries.

If your driver supports multiple statements (which is for example with mysql pretty dangerous IIRC because it would require to not use bindings) one should be able to do this by:

[cod

[2018-10-11 15:54] #2849 closed

[2018-10-11 15:56] kibertoad commented on #2849
@elhigu Thanks!

[2018-10-11 16:00] elhigu commented on #2852
I'm surprised if that doesn't work. I'm sure I have used select for update with trasactions without .transcating syntax. Please add single file reproduction case.

There is actually test case for this: https://github.com/tgriesser/knex/blob/1c782cf2c89969695301307f52fe55b8452ba07b/test/integration/builder/selects.js#L1082

Does
[code]

work?

[2018-10-11 16:17] #2841 closed

[2018-10-11 16:29] #858 closed

[2018-10-11 17:02] Willian-Girao commented on #2851
I see. Thx for the reply. I guess MySQL is only able to return auto-incremented values generated by the DBMS.

[2018-10-11 17:57] maximedupre commented on #2852
Oh it does work when use trx as a function.

√ `await trx('projects as p').forUpdate().select('p.*');`
X `await trx.forUpdate().select('p.*').from('projects as p')`

[2018-10-11 17:57] #2852 closed

[2018-10-11 18:48] kibertoad commented on #2758
Probably this issue can be closed now?

[2018-10-11 19:16] kibertoad opened #2854 "Add npmignore"
Since we don't have .npmignore, we publish everything that is not specified in .gitignore, including original source files, tests and CI configs. Probably not all of them are useful for end users.

[2018-10-11 19:45] kibertoad commented on #2804
Implemented.

[2018-10-11 19:45] #2804 closed

[2018-10-11 19:46] kibertoad commented on #2763
@kirrg001 Is second PR still coming?

[2018-10-11 19:46] kibertoad commented on #2743
@elhigu Probably this can be closed now?

[2018-10-11 19:58] danilodeveloper opened #2855 "Error when try to run migrations"
# Environment
MacOSX 10.14 (18A391 - Mojave)

Knex version:
_0.15.2_
Database + version:
_PostgreSQL 10_
OS:
_MacOSX 10.14 (18A391 - Mojave)_

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do:
_I just migrate from Knex 0.13.0 to Knex 0.15.12 and my migrations stopped running, if I return to Knex 0.13.0 everything works well.
Even droping all tables I still ge

[2018-10-11 20:02] kibertoad commented on #2855
See https://github.com/tgriesser/knex/issues/2499
tl;dr - schemaName for migrations can't be passed as a part of changelogName anymore, pass it as a separate config value `schemaName`

[2018-10-11 20:07] danilodeveloper commented on #2855
Cool! You solved, thank you @kibertoad !!!

[2018-10-11 20:07] #2855 closed

[2018-10-11 20:08] kibertoad commented on #2855
np, glad I could help!

[2018-10-11 20:13] kirrg001 commented on #2763
@kibertoad Sorry i am very busy right at the moment 😫Will try as soon as possible.
If there is anything else who wants to take this over, let me know :)

[2018-10-11 20:13] kibertoad commented on #2002
Would anyone volunteer to create a failing test that would assert not triggering the undesired operation from within migrations? I consider giving this issue a shot if there is any interest in it.

[2018-10-11 20:15] kibertoad commented on #2763
No hurry! Just was curious whether we want to keep this issue open to track progress on second PR or close it already.

[2018-10-11 20:50] #2743 closed

[2018-10-11 20:52] #2758 closed

[2018-10-12 08:59] mrleex opened #2856 "how to get one page data list and total count from database with knex.js?"
# Environment

Knex version: 0.15.2
Database + version: pgsql 10.1
OS: windows

Tried the following:
[code]
but get { "totalCount": "11", "data": [ { "count": "11" } ] }
how can I get dataList without write where twice?

stackoverflow link:
[https://stackoverflow.com/questions/52775863/how-to-get-one-page-data-list-and-total-count-from-database-with-knex-js](url)

thank you :)

[2018-10-12 09:38] wubzz commented on #2856
The problem here is that you're reusing the builder for two different type of queries; Count & Select.

This is the builder:
`var model = knex.table('users').where('status',1).where('online', 1)`

This makes the builder a 'Count' query:
`var totalCount = await model.count();`

This only appends an offset and limit to the same builder from `totalCount`:
`var data = await model.offset(0).limit(10).s

[2018-10-12 09:38] #2856 closed

[2018-10-12 12:01] mrleex commented on #2856
@wubzz thank you !

[2018-10-12 18:40] tomasikp commented on #738
Bump

[2018-10-12 18:46] elhigu commented on #738
There is pretty good spec in one pull request how this should work... I’ll find it and link it here.

[2018-10-15 11:56] NicoAiko opened #2860 "Should load MySQL, tries to load mssql"
# Environment

Knex version: 0.15.2
Database + version: MariaDB v10.3
OS: macOS Mojave (v10.14)
**Typescript: v3.1.1**

# Bug

**Expected behaviour:**
Should load the **MySQL** dialect.

**Actual behaviour**
Tries to load the **mssql** dialect.

**Error Message:**
"Module not found: Can't resolve 'mssql/package.json' in 'XYZ/node_modules/knex/lib/dialects/mssql'

**My code:**

[code]

[2018-10-15 12:02] kibertoad commented on #2860
That's highly improbable, given that code for resolving dialect is

[code]

and there is no alias for mssql.
Please double-check your code, e. g. do mass-search of a word "mssql", I'm pretty sure it is referenced somewhere, e. g. inside a knexfile.

[2018-10-15 12:05] NicoAiko commented on #2860
![screenshot 2018-10-15 14 03 45](https://user-images.githubusercontent.com/22343587/46949913-47481680-d083-11e8-8bc6-ab38808930f8.png)

No "mssql" found, sorry. I also didn't alter anything. The project is pretty small and the only database I define is in this very file.

[2018-10-15 12:07] kibertoad commented on #2860
@NicoAiko Could you upload entire project in a zipfile somewhere? I'm pretty sure this has to work.

[2018-10-15 12:07] NicoAiko commented on #2860
I can make a repository for it, one sec

[2018-10-15 12:12] NicoAiko commented on #2860
Here's the repo: https://github.com/NicoAiko/typescript-knex-error

[2018-10-15 12:13] elhigu commented on #2860
does it try to load mssql also if you try to use postgresql or sqlite? This could be related to a fact that knex monkeypatches mssql internally... maybe those requires are leaked by accident somewhere.

[2018-10-15 12:16] elhigu commented on #2860
no need to make new repository, just try it out

[2018-10-15 12:16] NicoAiko commented on #2860
Changed it to
[code]

Same as before: Tries to load mssql.

[2018-10-15 12:18] elhigu commented on #2860
Does CRA bundle all the code somehow? That could be one reason why it fails (there would be other errors too from other dialects though)

[2018-10-15 12:19] kibertoad commented on #2860
It appears that transpilation is to blame, as error is not thrown from inside the knex. I think what happens is that you attempt to resolve all import from within all dependencies, and since dialects attempt to import their drivers, that fails.

[2018-10-15 14:30] NicoAiko commented on #2860
The same also happens with sequelize, it seems. I try to load the mysql dialect and it wants to require `pg-hstore` which is for postgres :/

Is that only on my machine? What am I doing wrong?

[2018-10-15 14:35] kibertoad commented on #2860
@NicoAiko Considering that it seems to be failing during bundling phase, can you try disabling bundling and see if that helps?

[2018-10-15 14:36] kibertoad commented on #2860
I see that node_modules are excluded in TS configuration, so it's likely to be a Webpack thing.

[2018-10-15 14:37] NicoAiko commented on #2860
Oof... I have to look into that actually. I have no custom webpack config.

[2018-10-15 14:38] kibertoad commented on #2860
Yeah, so probably easiest way would be to eject config and see what's inside. Could be that default webpack config bundles way too aggressively, you may need additional excludes there.

[2018-10-15 14:44] NicoAiko commented on #2860
Would you be able to tell me what might be wrong? Because I don't really know.

[2018-10-15 14:46] NicoAiko commented on #2860
I have the webpack config on the master branch in my repo that I linked above.

[2018-10-15 14:55] kibertoad commented on #2860
@nickwhiteley Why are you bundling a backend dependency inside of a frontend application anyway, though?

[2018-10-15 14:57] NicoAiko commented on #2860
It's a test project on what I can do with typescript. It doesn't matter that much if there is the database stuff in the react-project. I just want to try things out.

[2018-10-15 14:57] NicoAiko commented on #2860
And I'm not Nick Whiteley :D

[2018-10-15 14:59] kibertoad commented on #2860
Sorry :D.
I would recommend you to start two separate projects, one for frontend React/Webpack, and another  one for backend with Node.js/Knex.
Since currently you are trying to solve a problem that you are unlikely to ever have in real world.

[2018-10-15 15:00] NicoAiko commented on #2860
Seems about right ^^'
Though still unfortunate that this happens.

[2018-10-15 15:02] kibertoad commented on #2860
It is, but I don't think it could be resolved from knex side gracefully, unfortunately.

[2018-10-15 15:55] NicoAiko commented on #2860
I close this issue as the transfer to a backend project really solved it.
Stupid webpack xD

[2018-10-15 15:55] #2860 closed

[2018-10-16 07:47] wubzz commented on #2823
@tgriesser Simple `knex.raw('?', value)` proxy or do we want it to be more sophisticated than that?

In theory this could be used for postgres arrays where we currently have to stringify the input. IE
[code]

That is to say `knex.val` would stringify it automatically.

Personally I think this would just make things a bit more confusing, so I'd opt for a simple `Raw` proxy the same way `ref` works.

[2018-10-16 21:29] kibertoad commented on #816
Linked snipped no longer exists and issue is really old, if it is still relevant, hopefully someone would raise it again.

[2018-10-16 21:29] #816 closed

[2018-10-16 21:32] kibertoad commented on #988
Documentation was updated to state `unique — table.unique(columns, [indexName])`, so this seems to have been resolved.

[2018-10-16 21:32] #988 closed

[2018-10-16 21:34] kibertoad commented on #1230
I think knex is pretty active lately and also plenty of people are actively contributing, so I would consider this resolved.

[2018-10-16 21:34] #1230 closed

[2018-10-16 21:36] kibertoad commented on #1369
Knex seems to support Node 6 just fine these days, so I'm resolving this issue.

[2018-10-16 21:36] #1369 closed

[2018-10-16 21:40] kibertoad commented on #1491
PR was merged, issue can be resolved.

[2018-10-16 21:40] #1491 closed

[2018-10-16 21:41] kibertoad commented on #1457
Known memory leaks were resolved after changes in connection pooling. If problem is still observed in 0.15+ versions, please raise a new issue.

[2018-10-16 21:41] #1457 closed

[2018-10-16 21:44] kibertoad commented on #1800
There is proper support for JSON columns (given that you are using MySQL version 5.7.8+) in latest knex versions, so I am resolving this.

[2018-10-16 21:44] #1800 closed

[2018-10-16 21:48] kibertoad commented on #1876
@tgriesser Can this be done? MSSQL is also missing.

[2018-10-16 21:51] kibertoad commented on #2275
This issue appears stale, so I'm closing it. Feel free to raise it again if you are still observing it with latest versions of knex and Node.js (note that latest Node.js 10 Windows builds provide option to automatically install tools for building native modules out of the box)

[2018-10-16 21:51] #2275 closed

[2018-10-16 21:52] kibertoad commented on #2602
@heisian Any chance you could do that isolation? Sounds like a useful fix.

[2018-10-17 00:35] Gregroam commented on #2823
Maybe a way to cast its type?
[code]

produces in postgres
[code]

[2018-10-17 08:46] kibertoad commented on #1944
Considering that this is a year-old issue and no suggestions were provided, unfortunately, we probably should close it as stale, since even if a solution comes up, it is likely to be too late for original poster to benefit.

[2018-10-17 08:46] #1944 closed

[2018-10-17 12:12] belaarany opened #2862 "Migrations directory problem"
# Environment
Knex version: 0.15.2
Database + version: MySQL - Server version: 5.7.23-0ubuntu0.18.04.1 (Ubuntu)
OS: Ubuntu 18.04.1 LTS

# Bug
1. I have changed the migrations' path to a different one. Then I used the `knex migrate:make` command and it created the migration file to the desired folder as I expected. So it recognizes the `directory` property within the `migration` object.
\
Then I tr

[2018-10-17 12:16] wubzz commented on #2862
This is most likely same as #2725 which is fixed in #2730 (not yet published)

[2018-10-17 12:17] kibertoad commented on #2862
It was published in 0.16.nexts, though, so please try updating to that and see if it helps (e. g. "0.16.0-next3")

[2018-10-17 12:37] belaarany commented on #2862
In the meantime I figured out it is due to I tried to run "empty" migrations without Promise would have been returned. So it is the problem that I didn't return a Promise?

[2018-10-17 12:53] kibertoad commented on #2862
Yes, but you don't need to in a newer version.

[2018-10-17 13:41] belaarany commented on #2862
Thank you guys for the help!

[2018-10-17 13:41] #2862 closed

[2018-10-17 14:01] rickschubert commented on #1851
@andresmatasuarez @thomasboyt

Just a quick thing because I have read that other people had the same issue: I added a chrome extension to my WDIO test by adding it base64 encoded to `capabilities.chromeOptions.extensions`. Due to that, I saw the following error on each exit though: `Maximum call stack size exceeded`, even when the feature didn't have any errors. The solution was to remove the exte

[2018-10-17 14:36] kibertoad commented on #2854
@tgriesser Mmm, right. However, we still include "src" and "scripts". Is that intentional?

[2018-10-17 23:46] dealercontrolrachel opened #2863 "Selecting a null dateTime"
# Environment

Knex version: 0.15.2
Database + version: Mysql 8.0 Ubuntu docker container
OS: macOs High Sierra 10.13.6

# Bug

Okay I don't think this has been asked before, I can't find anything else about it. If it has or if it is supposed to function this way, I apologize. Also I am new to knex so please bear with me.

I have a table with a nullable dateTime column. When I insert a null value

[2018-10-18 08:33] wubzz commented on #2863
Potentially same as #1276

[2018-10-18 08:37] kibertoad commented on #2863
@dealercontrolrachel This looks easy enough, I'll try to address it today.

[2018-10-18 11:19] kibertoad opened #2864 "Enable GreenKeeper"
https://greenkeeper.io/

Do we want to enable GreenKeeper to automate dependency updates?

[2018-10-18 13:00] burningTyger commented on #2860
I'm having the same issue. There's some recent changes going on with webpack that breaks things. Can't pinpoint it though.

[2018-10-18 13:10] kibertoad commented on #2860
@burningTyger Why do you need webpack on backend application, though?

[2018-10-18 13:18] burningTyger commented on #2860
@kibertoad I edited my comment. It's an electron app.

[2018-10-18 13:44] kibertoad commented on #2860
@burningTyger OK, that's actually a legitimate use-case. Please let me know if you will find either a configuration solution from your side or figure out what knex could be doing differently to avoid breaking stuff - so that we could improve either our documentation or implementation.

[2018-10-18 14:06] burningTyger commented on #2860
Can we move this to gitter? I posted an error log some time ago to which you answered

[2018-10-18 16:49] dealercontrolrachel commented on #2863
@wubzz I saw that post and I think this is a similar issue but not the same. Also the solution you linked there is not applicable anymore (that parseType function does not exist in the current build at all) so there is currently no fix to this problem there.

[2018-10-18 17:45] dealercontrolrachel commented on #2863
Looks like the problem was actually being caused by moment.js in my own files.... Sorry guys!

[2018-10-18 17:45] #2863 closed

[2018-10-18 17:47] burningTyger commented on #2860
moving stuff to the main thread helped a lot

[2018-10-18 23:08] willmorgan commented on #1480
`node-mssql` user/maintainer here.

Yes, you'll need to add `encrypt: true` under `options` otherwise it won't work on SQL Azure.

This can probably be closed.

[2018-10-19 04:53] wubzz commented on #2863
Yes, looks like the other issue has been resolved since 2016, one way or another.

[2018-10-19 04:54] #1480 closed

[2018-10-19 09:08] kibertoad commented on #1480
@willmorgan I've started Recipes wiki for things like this, could you please review first entry of https://github.com/tgriesser/knex/wiki/Recipes for correctness?

[2018-10-19 09:40] willmorgan commented on #1480
@kibertoad Reviewed!

[2018-10-19 11:14] elhigu commented on #2823
@Gregroam: @wubzz had IMO a better idea how to do the casting in a way that it could be use in more places.

[2018-10-19 14:16] wubzz commented on #2823
Cast proposal is #2587 - In this scenario it would be
[code]
_(Actually would work even without knex.val in that example)_

[2018-10-19 14:21] #1276 closed

[2018-10-19 14:45] Fi1osof commented on #1476
Still waiting for...

[2018-10-19 15:06] kibertoad commented on #1476
@Fi1osof Would you consider creating a PR for this?

[2018-10-19 16:52] kibertoad commented on #1480
@willmorgan Thanks a lot!

[2018-10-19 17:21] kibertoad commented on #1276
@FelixButzbach Which version of Knex was that? From my understanding this shouldn't be happening if you used mysql driver in any of particularly recent Knex version.

[2018-10-19 17:26] kibertoad opened #2867 "Create unit tests for PostgreSQL schema functionality"
See https://github.com/knex/documentation/pull/80 for details

[2018-10-19 18:01] FelixButzbach commented on #1276
@kibertoad I can't tell for sure, but I think it is with 0.13.0. Also, we use MariaDb if that makes any difference.

[2018-10-19 18:10] kibertoad commented on #1276
@FelixButzbach Well yeah, I think problem was only reproduceable with Maria :). I assume upgrading is not an option?

[2018-10-19 18:15] FelixButzbach commented on #1276
@kibertoad I see. We are in a relatively big upgrading process, knex will probably be upgrade as well.
The problem is fixed in the latest version of knex?
As I told in my first comment, I found a good workaround and we are using it ever since...

[2018-10-19 18:18] kibertoad commented on #1276
@FelixButzbach Yeah, it should be resolved if you switch from maria dialect (which was since removed) to just mysql driver; if you ever decide to do that, I would be grateful if you shared your experience of how that worked out.
Haha, yeah, workarounds are fun, but it's always better not to have them :D

[2018-10-19 18:31] kirrg001 commented on #2763
@elhigu Regarding the problem with `instanceof Raw`, which i have reported in [my comment](https://github.com/tgriesser/knex/issues/2763#issuecomment-426010188). Do you think we should raise a separate issue for that? Is an alternative approach e.g. checking the class name, something we should change in the whole code base to avoid running into such problems?

Would like to get some feedback first

[2018-10-20 10:04] jazoom commented on #1833
So the solution to this is roll back 3 major releases to Knex version `12.6`? That's a little uncomfortable.

[2018-10-20 11:08] kibertoad commented on #1833
@jazoom Have you tried latest 0.16.next version? I wonder if it's any better in this regard. If you can still reproduce the issue on a latest version, PR with failing test would be most appreciated

[2018-10-20 11:13] kibertoad commented on #1833
If test can't be created, then at least some kind of reproduction is essential for this to be fixed - e. g. docker-compose configuration file with manual steps to reproduce.

[2018-10-20 11:17] jazoom commented on #1833
That'll be tricky since it only happens once or twice per day in the production system. I think it might be related to idle time (as others here have also suggested). I've fiddled with the pool settings to see if that helps. It's 9pm now so I'll see how it goes overnight. The version is 15.x, I'm pretty sure.

[2018-10-20 11:18] jazoom commented on #1833
I guess I mean 0.15.x.

[2018-10-20 11:31] jazoom commented on #1833
Yes. Nothing is more frustrating than dealing with issues you can't reproduce.

I'll let you know how it goes. I'll also try updating to 0.16.x, but then I'll have to leave it for another day or two again.

By the way, this is in a Kubernetes cluster using Docker images. But, since pretty much everyone is using Docker nowadays I'm not sure if it's significant despite it being a commonality in this

[2018-10-20 11:34] kibertoad commented on #1833
@jazoom It's more likely related to how database connections are managed server-side. Are you using some sort of cloud provider?

[2018-10-20 11:40] jazoom commented on #1833
No. I administer the cluster myself. I have other projects in the cluster, using Knex, connecting to the same database, that don't have this issue. One difference between the projects is this new one doesn't get nearly as much traffic and has little ongoing database activity.

[2018-10-20 22:37] jazoom commented on #1833
No errors overnight. I'll leave it for another day and see how it goes. If it seems to be fixed I'll share the changes I made.

[2018-10-21 10:06] Fi1osof commented on #1476
@kibertoad done, but tests shows error https://github.com/tgriesser/knex/pull/2868

[2018-10-21 11:39] elhigu commented on #2763
Separate issue with simple testcase would be good for that, to figure out the root cause for it 👍

[2018-10-21 18:16] kibertoad commented on #1833
@jazoom Thank you for the update!

[2018-10-21 18:28] kibertoad commented on #1127
Closing this down as a stale issue. Please open a new one if it is still relevant.

[2018-10-21 18:28] #1127 closed

[2018-10-21 18:29] kibertoad commented on #1405
Original suggestion is too opinionated and shouldn't be implemented in knex, so I'm closing this issue.

[2018-10-21 18:29] #1405 closed

[2018-10-21 18:30] kibertoad commented on #1347
New dialects will not be implemented within the scope of knex, they should be created as separate npm packages.

See https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md -> "I would like to add support for new dialect to knex, is it possible?"

If you implement a new dialect, though, please let us know, we'll link to it from our documentation.

[2018-10-21 18:30] #1347 closed

[2018-10-21 18:32] kibertoad commented on #1433
@elhigu We implemented this already, right?

[2018-10-21 18:34] kibertoad commented on #1845
@jahead New dialects will not be added to knex, see https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md -> "https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md". Instead they should be implemented as separate npm packages. Should you create one, please let us know, we'll link to it from our documentation!

[2018-10-21 18:34] #1845 closed

[2018-10-21 18:34] kibertoad commented on #1439
@rhys-vdw Is this something that we may, need and want to address?

[2018-10-21 20:12] FelixButzbach commented on #1276
@kibertoad I updated knex to the latest version (0.15.2) and I am now using the mysql driver. The problem is gone!
When a date field is NULL in the database, it is returned as undefined :)

Thanks for all the work!

[2018-10-21 20:52] kibertoad commented on #1276
You are welcome! Glad it helped :)

[2018-10-22 07:47] ChieveiT commented on #1833
Has any one noticed that the pool used by knex(>=14.0) is actually [tarn](https://github.com/Vincit/tarn.js) rather than [generic-pool](https://github.com/coopernurse/node-pool) used by knex(<14.0) and mentioned in the document? If this issue is related to connection, I think the difference between tarn and generic-pool is the key.

I found my knex hang infinitely in production too. But I haven't

[2018-10-22 07:47] ChieveiT commented on #1833
Has any one noticed that the pool used by knex(>=14.0) is actually [tarn](https://github.com/Vincit/tarn.js) rather than [generic-pool](https://github.com/coopernurse/node-pool) used by knex(<14.0) and mentioned in the document? If this issue is related to connection, I think the difference between tarn and generic-pool is the key.

I found my knex hang infinitely in production too. But I haven't

[2018-10-22 08:01] kibertoad commented on #1833
@jazoom Thank you! I'll create a recipe out of this, do you remember what kind of error you were getting?

[2018-10-22 08:29] jazoom commented on #1833
Far out. Those docs really need to be updated. So it seems the `evictionRunIntervalMillis` option I used doesn't even exist then...

[2018-10-22 08:35] jazoom commented on #1833
@kibertoad `Connection Error: Connection ended unexpectedly`

[2018-10-22 08:36] jazoom commented on #1833
GitHub failing again

[2018-10-22 11:16] kibertoad commented on #1833
@jazoom I think I've updated the docs re: pool already, we just need to rebuild them after next version is out. Sorry for misleading info before that.

And thanks for the error message!

[2018-10-22 11:41] elhigu commented on #1439
I don't think there is nothing to address here.

[2018-10-22 11:41] #1439 closed

[2018-10-22 11:41] elhigu commented on #1439
I don't think there is anything to address here.

[2018-10-22 14:33] elhigu commented on #1833
@jazoom are you using mysql or mysql2 dialect? In my stress test I have noticed that some connection error is not caught correctly with mysql2 driver.

[2018-10-22 23:10] MarkHerhold commented on #2864
Maybe also consider https://www.npmjs.com/package/renovate

I have no preference/opinion either way, just throwing it out there.

[2018-10-23 01:18] Gregroam commented on #2823
Oh nice. Yeah that sounds good. Can't think of any other special needs that knex.val would need. Just make it a wrapper for `knex.raw('?', binding)`

[2018-10-23 06:00] elhigu commented on #1833
@jazoom ah right ’pg’ then. And are you sure that connection is already broken when it is got from pool and doesnt get ended during a query being processed?

[2018-10-23 06:32] jazoom commented on #1833
@elhigu I'm not sure about anything here because I cannot reproduce this and it only happens once every few days in production. I also haven't had time to dig deep into it, which I know will take ages due to the nature of the problem.

[2018-10-23 09:31] ricardograca commented on #2440
The problem here is that Knex is just passing along whatever the dialect adapter returns with its stream implementation, and it seems that all dialects are passing an *object* into the writable stream's `write()` method. The issue is that streams created with `fs.createWritableStream()` expect either a *string* or a *buffer*.

You can add an intermediate transform stream that converts the input to

[2018-10-23 13:54] ricardograca opened #2871 "count with multiple aliased columns"
# Environment

Knex version: 0.15.2

# Feature discussion / request

It would be nice to be able to use a single `.count()` call with an object to set multiple aliased count columns instead of having to call it multiple times.

It seems most of the work for this was already done in #2449 so it should be very simple to add support for this. I can provide a PR if there's any interest in having this

[2018-10-24 06:33] HurSungYun opened #2874 "multiple columns in .orderBy()"
# Environment

Knex version: 0.15.2

# Feature discussion / request

It would be really great to be able to use a single `.orderBy()` when setting order with multiple columns.

For now, I should write code like
[code]

It can be simplified like
[code]

or like this
[code]

or some other forms better than this would also be okay.

I can work on this if this feature request is accepted.

[2018-10-24 09:17] domgee opened #2875 "Cannot access local temporary tables on MS Azure Sql DB"
# Environment

Knex version: 0.15.2
Database: MS Azure Sql DB
OS: osx

# Bug

**Explain what kind of behaviour you are getting and how you think it should do**

Trying to create and use a local temporary table inside a transaction. The temporary table should be accessible to all queries inside the transaction. But after the temporary table is created, subsequent queries have no access to it.

Prob

[2018-10-24 11:37] kibertoad commented on #1833
@jazoom isn't "reapIntervalMillis" a tarn.js equivalent for "evictionRunIntervalMillis"?

[2018-10-24 11:40] kibertoad commented on #1833
Default is 1000 though, which should be fine,

[2018-10-24 14:45] HurSungYun commented on #2874
https://github.com/tgriesser/knex/blob/66acbe7719470d22d4aa65fdc9709f2717e1bca7/src/query/builder.js#L542-L550

This code implies a single `.orderBy()` can only handle one column. So for now, I think there is no way to do it.

Another interface suggestions:
[code]

[code]

In implementation level, I wanna suggest two solutions.

* multiple `_statements.push()` in builder

[code]

* add add `type`

[2018-10-24 16:28] willmorgan opened #2876 "[mssql] Filtered unique indexes in 0.15+ cause later SQL Server QUOTED_IDENTIFIER errors"
# Environment

Knex version: 0.15.0 (0.14 did not have this problem)
Database + version: SQL Server mssql-server-linux:2017-CU9 (help @smorey2!)
OS: Docker - mssql-server-linux:2017-CU9

# Bug

Me and @dhensby have spent most of this afternoon upgrading to Knex 0.15 and trying different permutations of the Tedious and node-mssql libraries. We have found a problem not present in 0.14 which relates

[2018-10-24 16:31] dhensby commented on #2876
It's worth noting we have upgraded tedious, mssql and knex in isolation and this behaviour only occurs when knex is upgraded. The other libraries do not cause this problem

[2018-10-25 07:33] rush-levint commented on #79
You may want to utilize and abstract around the `builder.queryContext()` function found [here](https://knexjs.org/#Builder-queryContext)

[2018-10-25 10:48] dhensby commented on #2876
Just for my sanity:

[code]

@willmorgan how does it change when you use knex 0.14 v 0.15?

[2018-10-25 10:48] willmorgan commented on #2876
See updated comment @dhensby

[2018-10-25 10:55] willmorgan commented on #2876
It looks like the [new filtered unique index work](https://github.com/tgriesser/knex/pull/2653/files#diff-1457c796b66aaa61a4ca5d3edfc0ec32R130) inadvertently helps us to arrive at this problem:

https://stackoverflow.com/questions/38947947/filtered-unique-index-causing-update-to-fail-because-incorrect-quoted-identifie

Code as it is now:
https://github.com/tgriesser/knex/blob/c00ddd51373f4336fb62c

[2018-10-25 10:57] willmorgan commented on #2876
I think the resolution here, sadly, is to ensure that all stored procedures have QUOTED_IDENTIFIER set to ON. A bit tedious (pun v. much intended) but probably the safest thing to go.

[2018-10-25 11:06] kibertoad commented on #2876
@willmorgan I'm thinking we should start a migration guide between major versions because there are quite some gotchas involved. Would you consider contributing an entry on this particular issue?

[2018-10-25 11:30] smulesoft commented on #1833
@jazoom You should check [tarn](https://www.npmjs.com/package/tarn#usage) if you're using knex above version `0.14.0`. You can see [here](https://github.com/tgriesser/knex/compare/0.14.0...master) that #2450 was merged in that version.

[2018-10-25 11:39] jazoom commented on #1833
Yes I am very well aware now that Knex uses tarn. I knew as soon as @ChieveiT pointed it out.

I'm not convinced it's related to this issue, but others did have theirs fixed by downgrading, so that's interesting. I still haven't seen the issue again since I last reported it happened. I'm not even 100% convinced it's Knex's fault.

[2018-10-25 11:52] smulesoft commented on #1833
When I was testing this because we had the same problem in prod. In my case, I came up with an integration test that could reproduce the problem:
[code]
I did steps `2` and `3` using `dockerode` to create/stop a postgres-docker-container in #2017.
It would be awesome if you do the same because you'll find a way to reproduce the issue, and to add it to knex test-suite to make sure it doesn't happen

[2018-10-25 11:53] kibertoad commented on #1833
@smulesoft Would you consider contributing a test script that would be doing that?

[2018-10-25 11:58] smulesoft commented on #1833
Yeah, the PR I mentioned, #2017.

[2018-10-25 12:19] sgoll commented on #2874
My two cents: I find the suggested syntax `orderBy('a', 'asc', 'b', 'desc', 'c', 'desc')` very confusing: at first glance it is not clear at all that every other argument has a special meaning (`asc`/`desc` for direction) and is not just another column name. This becomes more problematic when using a variable for the arguments, e.g. `orderBy(...columnsWithDirections)`.

The same goes for `orderBy(

[2018-10-25 14:18] you-fail-me commented on #1738
I'm trying to specify application name like
[code]
but it just won't work. knex 0.15.2, pg 9.6.6. Any ideas, how to pass it?

[2018-10-25 14:20] kibertoad commented on #1738
@you-fail-me See https://github.com/brianc/node-postgres/blob/master/lib/connection-parameters.js
`application_name` seems correct. Can you try debugging and see if your application_name gets set inside the driver? ('pg')

[2018-10-25 14:22] kibertoad commented on #1738
I'm reopening this since typing are now handled internally and we can fix them.

[2018-10-25 14:42] HurSungYun commented on #2874
@sgoll thanks for kind reply and suggestion. I totally agree with you and I like your suggested form of type definition. It would be more clear.

In addition, I believe it would be great to provide single-column and multi-column `.orderBy()` in a single function. So the extended type definition of `.orderBy()` can be like this.

[code]

and how about use `order` instead of `direction`?

[2018-10-25 14:46] kibertoad commented on #2874
@HurSungYun Yeah, I think SQL documentation everywhere uses `order` term to describe asc/desc and not `direction`

[2018-10-25 14:52] HurSungYun commented on #2874
@kibertoad thanks for comments. I changed my description above. :)

[2018-10-25 15:05] sgoll commented on #2874
@HurSungYun Yes, that looks good. Depending on whether the first argument to `.orderBy()` is an array (via `Array.isArray()`) we can branch into old-style single-column or new-style multi-column.

Please use `order` since this is in fact the preferred term—though PostgreSQL, MySQL, and MSSQL docs seem to use both terms somewhat interchangeably, "order" is used significantly more often.

Your type

[2018-10-25 15:40] HurSungYun commented on #2874
@sgoll it seems to be excellent. 👍

@elhigu Is there any other stuff to consider before starting to implement this issue?

[2018-10-25 15:48] willmorgan commented on #2876
@kibertoad I'd be glad to look over anything that someone has already contributed, but having been bottlenecked by this issue as well as spending some recent personal time looking after the mssql repo, I'm not in a position to own the work right now.

[2018-10-25 18:59] Mati365 commented on #493
Any changes?

[2018-10-25 19:02] kibertoad commented on #493
@Mati365 Would you consider contributing a PR for this?

[2018-10-25 23:51] maikelmclauflin opened #2878 "bluebird warning"
# Environment

Knex version:
Database + version:
OS: mac osx 10.14 (18A391)

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
warning from bluebird package
2. Error message
[code]
3. Reduced test code, for

[2018-10-26 01:18] mwilliammyers opened #2879 "TypeError: mixed.hasOwnProperty"
# Environment

Knex version: `knex@0.15.2`, `pg@7.4.3`

Database + version: PostgreSQL 10.3 (Debian 10.3-1.pgdg90+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516, 64-bit

OS: `Debian GNU/Linux 9 (stretch)`, `macOS 10.11.6`, and `Ubuntu 18.04.1 LTS (Bionic Beaver)`

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

   Not err

[2018-10-26 05:14] wubzz commented on #2878
Based on the information [here](https://github.com/petkaantonov/bluebird/blob/master/docs/docs/warning-explanations.md#warning-a-promise-was-created-in-a-handler-but-was-not-returned-from-it) I'd take a gander and say that it might occur when the update matches 0 rows meaning `user` would be undefined, and is returned, whereas the attached link states:

Just a guess without deep investigation.

[2018-10-26 07:43] kibertoad commented on #2879
@mwilliammyers Could you please add test to that fix as well?

[2018-10-26 07:54] jnst opened #2880 "Custom cast feature"
# Feature discussion / request

## 1. Explain what is your use case

* https://knexjs.org/#Schema-bigInteger

Basically JavaScript will treat `bigint` as string.
In my case, I using [long.js](https://github.com/dcodeIO/long.js#utility) on the application logic side.

[code]

But it is annoying to convert it to `Long` type after receiving it with `string` type (from `bigint`) each time.
Please defi

[2018-10-26 14:05] maikelmclauflin commented on #2878
If anyone else is seeing this and would prefer not to, i found this in the documentation for now: http://bluebirdjs.com/docs/api/promise.config.html
[code]

[2018-10-26 16:06] wubzz commented on #2878
Based on the response I guess I was right, in which case this is not a knex issue. Closing.

[2018-10-26 16:06] #2878 closed

[2018-10-26 20:10] maikelmclauflin commented on #2878
not necessarily. i looked into this and found that a length of 0 users was never found during the query. happy to make a project if nothing pops out as the cause of this

[2018-10-26 21:21] ricardograca commented on #2878
If you can create a reproducible test case we can take a look.

[2018-10-27 07:14] wubzz commented on #2878
Feel free to reopen if you discover this to be a knex issue.

[2018-10-27 11:35] xyluet opened #2882 "Knex migrations for multi schema"
# Environment

Knex version: 0.15.2
Database + version: MySQL 5.6
OS: Windows 7

I have 2 schemas for my database, for example
[code]

They exactly same table, but with different language. But how to make knex, make the knex_migrations table to both schema ?

[2018-10-27 11:40] kibertoad commented on #2882
@xyluet If I understand your use-case correctly, you need to execute knex.migration with two different schemaName values (see https://knexjs.org/#Migrations-API);

In case migrations have to be executed somewhat differently based on which schema you are writing for, take a look at this new feature available in knex NEXT release: https://github.com/knex/documentation/pull/135/files

Please don't he

[2018-10-27 12:40] xyluet commented on #2882
@kibertoad Thank you for quick response. But i have more problem.

My DB:
[code]

and if in the future there is new language, it should
[code]

which I need to make 3 migration files
[code]

I quite don't understand how to execute knex.migrate with n schemaName, can you give example?

[2018-10-27 13:52] kibertoad commented on #2882
Something along the lines of

[code]

Are you confident about approach you are taking, though? Duplicating entire table structure just for localization purposes sounds weird; or dataset are actually different based on locale?

[2018-10-27 18:38] xyluet commented on #2882
Yeah, my team want to use that approach :( Duplicating entire table with same datasets.

Anyway thanks @kibertoad , I finally found workaround for my 'awesome' case.

[code]

[2018-10-27 18:38] #2882 closed

[2018-10-28 14:29] Ohadbasan opened #2883 "Disable pretty print on debug"
# Environment
Mac

Knex version: 0.15.2
Database + version: Postgresql

# Feature discussion / request

1. I Wish to enable the knex debug log and send the result to elastic search

2.  Since knex outputs the debug data in a pretty-print format log shippers and appenders split the output to multiline and index it wrong.

3. I suggest allowing the user to supply a "debugFunction" that will print th

[2018-10-28 15:07] Ohadbasan commented on #2883
I found out the "log" key in the config object.
thank you!

[2018-10-28 15:07] #2883 closed

[2018-10-29 02:33] jnst opened #2885 "こで"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2018-10-29 02:47] jnst commented on #2880
I'm sorry, my poor English was broken.
The text was corrected. (maybe)

[2018-10-29 09:52] kibertoad commented on #2885
@jnst Could you please fix this report? It contains no useful information.

[2018-10-29 11:18] jnst commented on #2885
Wow, sorry. This issue is mistakes.

[2018-10-29 11:18] #2885 closed

[2018-10-29 13:41] elhigu commented on #1833
Yeah, AFAIK that shouldn't be the problem anymore.

[2018-10-29 13:46] kibertoad commented on #1833
@elhigu Did #2017 land in one of 0.15.x releases or is it only in NEXT?

[2018-10-29 14:38] elhigu commented on #1833
@kibertoad I think it has been in already in 0.14 or something like that. Long enough that it was already broken at some point... I wouldn't have it implemented the way it was anymore and I haven't tried that recently.

[2018-10-29 14:52] smulesoft commented on #1833
@kibertoad Adding [this callback](https://github.com/tgriesser/knex/blob/c500d771ef9eda2f919d0bcd797bc75652d4c895/src/dialects/postgres/index.js#L117) was the fix to my problem. You can track it down to know in which release it was merged, but it was in 0.14 for sure.
Note that it was a fix for `PSQL`. I don't know who's having the problem now, but @jazoom mentioned CockroachDB, which may need to

[2018-10-29 15:03] kibertoad commented on #1833
@smulesoft CockroachDB is actually using pg driver.

[2018-10-29 16:16] israelidanny commented on #2622
@elhigu I'm not sure this should be closed?
I have another use case - upon migration, I run a few SQL files that contain some functions, types e.t.c that I want to use in my app.

A few of the functions have question marks inside of strings or regex objects, and knex is butchering them.

Surely there has to be a way to not assume that every question mark is a binding?

[2018-10-29 16:18] israelidanny commented on #2567
@elhigu I think you're missing the point though. Not *every* single time a question mark is introduced, it should be replaced and turned into a binding. I'm running into the same exact issue with trying to migrate some 'CREATE FUNCTION' statements, and my functions contain some regex and stuff, where question marks are part of the syntax.

Surely there has to be a way to disable this behavior? The

[2018-10-29 16:40] kibertoad commented on #2567
@IsaacLessard You mean `To prevent replacement of ? one can use the escape sequence \\?.`, right? @elhigu

[2018-10-29 16:42] israelidanny commented on #2567
@elhigu @kibertoad well, technically you're right. In my case that's what I'm doing - I'm loading up an SQL source file, and since that file should stay a manual file - I end up doing a string replace on it.

It feels like a bit of a hack though.

Don't you think that allowing an unescaped query is appropriate for use cases when one just wants to run an SQL script?

[2018-10-29 16:48] smulesoft commented on #1833
Thanks for the info. Then we should wait until we have a way to reproduce this consistently and then debug the problem...

[2018-10-29 22:10] gerbus commented on #590
With Babel (ES6) you can do:

[code]

[2018-10-29 22:30] elhigu commented on #2622
@israelidanny Yes this should have been closed. The thing described in OP is not a bug, but expected behaviour. If you have separate feature request for different functionality you can open one.

[2018-10-30 07:35] israelidanny commented on #2567
I see what you mean.

The behavior you described seems optimal (no bindings passed - no
replacement)

Can I submit a failing test for that?

[2018-10-31 21:21] OneOfCats commented on #2201
How did you make it work with encrypted db? It says "file is not a database"

[2018-10-31 23:18] kibertoad commented on #2201
@glogan91 I've added slightly adjusted version to recipes https://github.com/tgriesser/knex/wiki/Recipes, could you please review it?

[2018-10-31 23:22] glogan91 commented on #2201
@kibertoad You bet. I'll examine & run it in my env in the next day or so.

[2018-11-01 03:16] glogan91 commented on #2201
@kibertoad - It looks great to me!

@OneOfCats - If you post your problem on stack exchange, tag it with "knex.js" and include the code you've attempted, I'll look and see if I can help.

[2018-11-02 03:10] deelienardy opened #2886 "@types/knex interface enum not same on doc for Postgres"
# Environment

Knex version: 0.15.2
Database + version: Postgres v 10
OS: Linux Ubuntu

# Missing / erroneus documentation

I am using typescript for my project and postgres for db
when i looking on document for enum, its says

but on @types/knex, it did not have options for it

It make me can't make enum type, so what is the correct way to make enum type for postgres on typescript?

sorry if this

[2018-11-03 05:18] eliranlevi opened #2888 "Create multiple tables safely in a single migration"
# Environment

Knex version: 0.15.2

# Feature discussion / request

#### 1. Explain what is your use case:

When migration for creating multiple tables fails, you can't really rollback. The situation is that you're stuck with just a half of your migration fully migrated to the database, running `knex migrate:rollback` either throws an error or logs `Already at the base migration` (because when er

[2018-11-03 09:41] elhigu commented on #2888
This is too specific functionality to certain edgecase to be added to knex and it will still fail if for example db is disconnected during migration or if process is killed or if it hangs.

However would be good if we would add runstatus for migration table to see if running some migration has failed. Then we could just run separately down handler of migration to clean it up (separate feature requ

[2018-11-03 09:41] #2888 closed

[2018-11-03 21:33] Vibpositive commented on #2651
This is essential!!

[2018-11-04 09:12] chentsulin commented on #1588
Interesting information in 2018:

`promises-native-async-await` has better performance than `promises-bluebird` in node 10.
Reference: https://github.com/petkaantonov/bluebird/tree/master/benchmark

So performance is not a reason to keep bluebird anymore. We should go for async/await.

[2018-11-05 01:30] #1755 closed

[2018-11-05 10:44] kibertoad commented on #2567
@israelidanny Any update on the failing test part? I would like to start working on this in the nearby future, test would make sure that I would be solving the right problem :)

[2018-11-05 12:32] douglasjunior commented on #1840
This is very important, how can I create an index of type FULLTEXT?

[2018-11-05 13:37] elhigu commented on #1840
@douglasjunior with `knex.schema.raw()` at least. I cannot remember if passing index type was already fixed.

[2018-11-05 13:38] kibertoad commented on #1840
@douglasjunior According to documentation, it is supported, see https://knexjs.org/#Schema-index
If you try and it doesn't work, please consider raising a PR with failing test for it, then we could address it rapidly.

[2018-11-05 13:42] douglasjunior commented on #1840
I'm writing a PR right now. 😆

[2018-11-05 13:47] douglasjunior commented on #1840
Done #2890.

[2018-11-06 08:14] elhigu commented on #2875
Check out what queries are sent to SQL server by running knex with environment variable `DEBUG=knex:*` set in shell. From that debug info you will be able also to verify that the same connection is used for every query in transaction (they should, many tests would fail if transactions wouldn't be working) + try out if the same queries work correctly without knex.

[2018-11-06 08:18] elhigu commented on #2874
Sounds good to me 👍

[2018-11-06 08:38] elhigu commented on #2880
Each database driver has hooks to tell how different column types read from database should be converted to javascript types. Knex doesn't even have the information of column types so it really cannot be done on knex side.

[2018-11-06 08:38] #2880 closed

[2018-11-06 08:39] elhigu commented on #2880
If you know which columns should be converted you can use https://knexjs.org/#Installation-post-process-response to modify data returned from query.

[2018-11-06 08:42] elhigu commented on #1833
I think this issue has too much clutter already from ancient history and different issues, that this should be closed and add new issues when something reproducible happens. Closing.

[2018-11-06 08:42] #1833 closed

[2018-11-06 08:54] jazoom commented on #1833
As a bit of closure, yesterday I finally worked out what the problem was in my case. It was actually a problem with the database, which has now been resolved with the latest version of CockroachDB that was just released.

[2018-11-06 09:03] #2819 closed

[2018-11-06 09:20] kibertoad commented on #1833
@jazoom Glad to hear that! Would you consider providing a bit more details (e. g. link to resolved issue in CockroachDB tracker) for people with same issue who stumble upon this ticket?

[2018-11-06 09:34] rawwar999 opened #2891 "Thanks"
Awesome lib, thanks for your work, It helps me every time

[2018-11-06 09:53] #2891 closed

[2018-11-06 10:15] jazoom commented on #1833
I actually don't know which issue it was fixed in, or even if it had an issue. I noticed sometimes the metrics would catch a spike in RAM and CPU usage and the CockroachDB logs said something about a heartbeat timeout.

I updated to version 2.1.0 (a major update with a great many fixes and changes) and the problem hasn't happened since. But, it's only been 1 day, so I can't be too sure.

[2018-11-06 10:43] kibertoad commented on #1833
@jazoom I would appreciate it if you reported back after having it run for a while, whether or not problem reappeared again :)

[2018-11-06 10:44] elhigu opened #5859 ".modify is missing from sidebar"
Yep... its missing.

[2018-11-06 10:46] jazoom commented on #1833
No probs. Will do.

[2018-11-06 19:01] antoniuslin opened #2892 "Postgres checkVersion issue"
Hello.

I'm using CockroachDB when I encountered an error, specifically having to do with the source line citation below.

[code]

https://github.com/tgriesser/knex/blob/932fa4b683812781b5f7ade96e4e26aafe9f7268/src/dialects/postgres/index.js#L145

Instead of the original current line:
`/^/^PostgreSQL (.*?)( |$)/`
I fixed it to be the following:
`/^(PostgreSQL |CockroachDB CCL v)(.*?)( |$)/`

(I'm

[2018-11-06 19:10] kibertoad commented on #2892
@antoniuslin Yes, we do strive to support alternative dbs, such as CockroachDB; version property was introduced specifically for that purpose.
So PR would be most welcome; would be awesome if you included unit tests; not sure if previous behavior is already covered, if not, please consider writing tests both for new and old style version numbers :)

[2018-11-06 19:11] kibertoad commented on #2892
@antoniuslin Are you sure that your fix is correct, though? I think people mostly specify Postgres version and not Cockroach when using Cockroachdb; could you explain why this is needed?

[2018-11-06 19:42] elhigu commented on #2892
As kibertoad said, version attribute in configuration is exactly for telling with which pg version your postgres clone is compatible with.

[2018-11-06 19:42] #2892 closed

[2018-11-06 21:54] kibertoad commented on #2892
@antoniuslin I've updated wiki with an explanation: https://github.com/tgriesser/knex/wiki/Recipes
Please let me know if it's unclear.

[2018-11-06 22:06] antoniuslin commented on #2892
@kibertoad I also did specify postgresql in my `knexfile` as you alluded (just like most people) do. Here's an excerpt of the content:

[code]

And here's the initialization block:

[code]

Here's the server identifier from CockroachDB:

[code]
Which caused the issue since it doesn't at all say `PostgreSQL`, and whose issue disappeared just by changing the match pattern to recognize `CockroachDB`

[2018-11-06 22:09] kibertoad commented on #2892
@antoniuslin But that's the thing, you are not specifying PostgreSQL version as you expected to do when using CockroachDB. Here's an example:

[code]

(7.2 should be whatever PostgreSQL version that CockroachDB is compatible with, you can start with 7.2 and try bumping it up until/while it works).

[2018-11-06 22:19] antoniuslin commented on #2892
@kibertoad :) Thanks for responding again. I thought we were leaving it off as a closed, non-issue. In any case, I might've miscommunicated the issue somehow. So, okay, I added in the `version: #` property as taught in your recipe and comment. But it didn't seem to do the trick. And I'm still receiving the same crash error. I included the server identifier in my last entry to indicate that it's po

[2018-11-06 22:21] antoniuslin commented on #2892
A little more additional info:
[code]

[2018-11-06 22:33] antoniuslin commented on #2892
@kibertoad And as far as the due diligence to follow the examples and instructions, I have just tried, `7.2`, `9.2` and `10` and they all resulted in the same error message. And yes, that's what I tried to report earlier, that `knex` has no idea how to work with CockroachDB, and I was inquiring if maybe `knex` team would consider it as a compatible dialect considering that CockroachDB team indicat

[2018-11-06 22:36] kibertoad commented on #2892
@antoniuslin Can you post your complete config? I suspect you are putting version argument in the wrong place and it gets ignored, it should be in root config, not in connection branch.
If version parameter is specified, the entire resolution branch which is failing for you should be skipped:

[code]

[2018-11-06 22:41] antoniuslin commented on #2892
Here's the current one:
[code]

[2018-11-06 22:44] kibertoad commented on #2892
@antoniuslin Thank you. I'll write a test to be 100% sure that this logic works that I think it works. It should, since there are people out there who are actually using cockroachdb with knex...

While I write the test, can you debug into
[code]
to see if you are actually getting the config that you have passed there? It does look like it gets overriden somewhere somehow in your code, so debugging

[2018-11-06 23:13] farnetani commented on #2073
I see in https://github.com/niradler/rve-knex-migration, but it's not complete!

[2018-11-06 23:37] antoniuslin commented on #2892
@kibertoad I'll dive deeper to test further. Apologies I haven't been responsive quickly enough; have had to run toward other (unrelated) issues at the moment. For I do want to say much thanks for all the reviews. I'll come back and post my findings when I catch myself back on this point.

[2018-11-06 23:37] kibertoad commented on #2892
@antoniuslin Btw, if you are still using this code:
[code]

then behavior is pretty much to be expected, you are copying connection params but totally ignoring the version string from config.

[2018-11-06 23:40] farnetani commented on #1135
I see in: https://github.com/niradler/rve-knex-migration, but it's not complete!

I'd like to have it too!

[2018-11-06 23:46] antoniuslin commented on #2892
**Confirming non-issue / programmer's problem**

I changed the config block in `knexfile` with the `version: '10.5'` property added, and changed setup block to: `let k = require('knex')(knexfile[knexenv]);`, and reverted my changes to the orig. matching pattern. And it runs as expected.

Thank you very much.

[2018-11-06 23:46] kibertoad commented on #2892
Yay, we solved it!

[2018-11-07 01:35] jnst commented on #2880
I understood. Thank you. 😀

[2018-11-07 09:17] kibertoad commented on #1135
I don't think anyone from the core knex team is working on anything similar, but if anyone would consider contributing such functionality, that would be cool :)

[2018-11-07 10:43] Sh4dow opened #2896 "Increments column is setting Unsigned only on mysql driver"
# Environment
Knex version: 0.15.2

I don't know why, but only for mysql, table.increments() is setting column as unsigned. The problem is that I must unset this with raw sql query. Is there any reason this is made that way?

[2018-11-07 10:44] kibertoad commented on #2896
@Sh4dow Why would you want negative values in automatically incremented table?

[2018-11-07 10:46] Sh4dow commented on #2896
Because I can and i'm using it. Why I can do it in oracle or mssql and can't in mysql

[2018-11-07 10:52] kibertoad commented on #2896
Yup, seems to be pretty explicitly set in mysql dialect: `increments: 'int unsigned not null auto_increment primary key'`. Seems to be rather old code too.
@tgriesser Do you by any chance remember why it was done this way? It's an easy thing to change, but I wonder if there was a reason in the first place.

[2018-11-07 12:08] elhigu commented on #2896
AFAIK also postgresql creates automatically unsigned column for `.increments()`.

[2018-11-07 12:10] kibertoad commented on #2896
@elhigu Here's the line for PostgreSQL: ` increments: 'serial primary key'`
So knex seems to be using db default here.

[2018-11-07 12:33] elhigu commented on #2896
Yep, which is unsigned and probably mysql choice has been made to be compatible with it. IIRC postgresql was the main dialect for knex's base dialect implementation back in days,.

[2018-11-07 16:12] jyrkiput commented on #2732
I had the almost similar issue with AWS Lambdas, where I wanted to get secrets from Secret Manager. My solution was to write custom client, where most the code comes from Postgres client and AWS examples

[code]
Then my configuration is
[code]

Now I'm able to run migrations from CLI if needed, and lambdas also have access to credentials in Secrets Manager.

Btw, I'm not too familiar with Node, so

[2018-11-07 23:14] jazoom commented on #1833
It's been 3 days now and I still haven't seen the problem. Hopefully that means it has been resolved, at least in my case.

[2018-11-08 02:10] HurSungYun commented on #2874
Maybe now this issue can be closed. 👍

[2018-11-08 06:55] Sh4dow commented on #2896
Ok, thanks for clarify that

[2018-11-08 06:55] #2896 closed

[2018-11-08 08:09] #2874 closed

[2018-11-08 09:00] HurSungYun opened #2897 "when passing empty list in `.whereIn()`"
# Environment

Knex version: 0.15.0
Database + version: mysql 5.7
OS: mac OS X

# Bug

I tried this
[code]

expected
[code]

but actually
[code]

I believe it should be either the first one or throwing error.

I'd like to work on this issue.

[2018-11-08 09:11] wubzz commented on #2897
Honestly I think its perfectly fine the way it is. When calling `.whereIn` you are expecting to return rows based on specific criteria, in this case a list of values. If that list happens to be empty, we shouldn't ignore the fact that it was still a criteria for the query to begin with. Right now knex solves this by doing a `1 = 0` query returning no rows at all.

To me this is the same as saying

[2018-11-08 09:17] HurSungYun commented on #2897
@wubzz I agree with your point.

thanks for your explanation in detail :)

[2018-11-08 09:29] HurSungYun commented on #2897
I think that throwing error can be a better solution for this situation.

In my use case, it makes business logic broken when ignoring empty list and returning nothing.

I believe it can be safer when knex throws an error. Users can realize their bugs more quickly, if we throw errors.

How do you think about it? @wubzz

[2018-11-08 13:01] wubzz commented on #2897
I still think its wrong to throw an error. You could just simply do this:

[code]

Most use-cases consist around argument to `whereIn` being a dynamically populated array, which may very well be an empty array sometimes. Changing this to throw an error is not only a breaking change, but also a hazzle in practise. Doing so would result in __always__ having to do the example above unless your list o

[2018-11-08 13:05] kibertoad commented on #2897
@wubzz I wouldn't call it a breaking change since current behaviour doesn't seem to be documented, and I don't think it's the one that most users would expect.
Can you imagine a real-world use-case when you would actually prefer query to return nothing when some filtering criteria is empty?
I agree with @HurSungYun here, if we don't want to surprise users, it makes sense to require them to be more

[2018-11-08 14:40] rdsedmundo opened #2898 "Wrong typings on overload for interface RawBuilder"
Hello.

The following overload:

[code]

For the `knex.raw` call is incorrect. At least is not compatible with the JavaScript implementation. If I try to use it, it throws an error saying that the number of expected bindings diffs from the actual that was seen. i.e `knex.raw(sql, value1, value2)` doesn't work, but `knex.raw(sql, [value1, value2])` does.

[2018-11-08 14:59] wubzz commented on #2897
@kibertoad If we're evaluating breaking changes as something that must exist in documentation then I guess we are free to change or remove _a lot_ in Knex without a breaking-change warning..

The reason I call it a breaking change is because for some applications that may have used Knex extensively will undoubtedly have used `.whereIn` in this exact context. Changing something like this in a minor

[2018-11-08 15:06] kibertoad commented on #2897
@wubzz I'm basing this on precedents within the project; previously @elhigu mentioned that he does not consider changing ambiguous undocumented aspects of functionality a breaking change (e. g. how "schema.tableName" syntax became unsupported without a prior warning in some places). Which actually did break some production code :).

I agree that ignoring criteria is also going to be surprising, pe

[2018-11-08 20:46] wubzz commented on #2897
I feel there's a need to differentiate between accidental and deliberate breaking changes, documented or not. Don't know about the change you're referring to _(even if maybe I should)_ and if it was deliberate or not, but in this case we'd know the outcome beforehand.

We seem to agree that silently ignoring is out of the question. The remaining alternative is to throw an error. Neither of these c

[2018-11-08 20:53] kibertoad commented on #2897
@wubzz I mean https://github.com/tgriesser/knex/issues/2499 which was caused by https://github.com/tgriesser/knex/commit/7ff766f7a380dbea97b99e4d3bd2077a7b9f8f35 - but you are right, there wasn't originally an expectation it will break anything.

Documentation claims otherwise:
`Supplying knex with an undefined value to any of the where functions will cause knex to throw an error during sql compil

[2018-11-09 01:43] HurSungYun commented on #2897
Of course, everyone should write code like this `if(condition) { builder.whereIn() }` and I agree with it.

However, in my case of using Knex for the first time, I didn't know that fact and made a mistake of not checking the `list.length`.

Because Knex ignores invalid input and builds query like `1 = 0`, I spent lots of time to understand the reason my query doesn't work well.

I believe if Knex

[2018-11-09 07:18] elhigu commented on #2897
This is actually a feature and it works like this by design. So closing as not a bug. Could be documented though.

[2018-11-09 07:18] #2897 closed

[2018-11-09 08:18] honestserpent commented on #581
Any news on this feature?

[2018-11-09 08:46] kibertoad commented on #581
@honestserpent I could try working on it. Which databases are you interested in? Would you consider contributing sample SQLs to illustrate what expected output is?

[2018-11-09 08:49] kibertoad commented on #2897
Right, so we have team majority on the issue and path forward is clear 👍.
I'll update documentation.

[2018-11-09 08:53] kibertoad opened #5860 "Clarify documentation for .whereIn() with empty array"
Raised in https://github.com/tgriesser/knex/issues/2897

Expected behavior is to produce a query that always returns empty result.

[2018-11-09 09:17] honestserpent commented on #581
I'm working on Postgres.
As far as the sample SQL that I would expect is simply: `begin transaction isolation level repeatable read;`

[2018-11-09 09:48] ricardograca commented on #2897
OTOH, `whereIn([])` seems it should logically map to `WHERE something IN ()` which is invalid syntax, so the fact that in knex it still generates a valid syntax could be a bit unexpected.

[2018-11-09 09:49] kibertoad commented on #2897
@ricardograca Yup, that's pretty much how I personally see it, for me empty array is pretty much same thing as undefined in this case.

[2018-11-09 10:03] elhigu commented on #2897
Main point is that it was done current way by design and it was not an accident and it is the same way that many other ORMs handle it (like e.g. hibernate). It is just the way Tim wanted it to work originally, because it is more convenient for the end user of knex API.

For average user of knex `.whereIn('colName', [])` throwing an error because of invalid SQL syntax is very unexpected behavior. T

[2018-11-09 10:11] ricardograca commented on #2897
That makes sense as long as it's documented, so I think this should be reopened until the docs are updated.

[2018-11-09 10:13] kibertoad commented on #2897
@ricardograca I've created separate issue in doc repo for that.

[2018-11-09 17:46] pushplay commented on #2886
@deelienardy
The project you're looking for is https://github.com/DefinitelyTyped/DefinitelyTyped (with knex stuff in https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/knex).

[2018-11-09 17:47] kibertoad commented on #2886
@pushplay Actually, typings were moved inside knex recently: https://github.com/tgriesser/knex/commit/b2450a94dce9e9bdba9e9fd2cc6107539b72967f

[2018-11-09 18:05] pushplay commented on #2886
Oh sweet!

[2018-11-09 19:34] jrr opened #2899 "when chaining wrap() calls, on the last takes effect"
# Environment

Knex (and CLI) 0.15.2
Database: `postgres:10.5` docker image

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

It seems like you can't chain multiple .wrap() calls. For example, if I:

[code]

I expect to get `exp(sum(foobar))`, but I seem to get only `exp(foobar)`.

So, the last one wins. Related (?): https://github.com/tgriesser/knex/issues/

[2018-11-10 06:57] hyry1121 opened #2900 "sqlite3 statement of create table is empty"
# Environment

Knex version: ^0.15.2
Database + version: sqlite3^4.0.2
OS:  Windows 10, electron^3.0.0

# Bug

i'm using vue-cli3 to create an app, and using electron to run the app. following knex examples:
[code]

then, i got an error:
[code]

it looks like the sql create table statement is empty, so i log the sql with ```.toSQL()``` :
[code]

and it shows:
[code]

i have searched the issues, bu

[2018-11-10 07:22] iamluca opened #2901 "Knex issue with MySQL"
# Environment

Knex version: latest
Database + version: MySQL - latest
OS: Ubuntu 18.04

[code]

[2018-11-10 15:46] kibertoad commented on #1833
@jazoom Given that it was a week by now, is it still going strong?

[2018-11-10 15:47] kibertoad commented on #764
Closing this as a stale issue. If it's still relevant now, please consider opening a feature request with API proposal.

[2018-11-10 15:47] #764 closed

[2018-11-10 15:49] kibertoad commented on #921
@myndzi Would you consider this issue still relevant?

[2018-11-10 15:50] kibertoad commented on #1881
@elhigu Why do we have andXYZ aliases in the first place? Don't they only confuse users?

[2018-11-10 16:18] elhigu commented on #1881
Because @tgriesser wanted to have them during early days of knex (maybe those existed in the library where knex api was inspired from). I never use them and would love to deprecate them at some point.

[2018-11-10 16:33] kibertoad commented on #2901
@iamluca Can't be sure without looking at you code, but I think what is happening is that you are passing undefined value as a parameter which by default throws an error. This is an expected behaviour. See documentation:

[code]

[2018-11-10 16:35] kibertoad commented on #2901
Actually, I think I'm wrong; this is only for not specified keys, undefined values are always incorrect. Again, documentation:
[code]

[2018-11-10 16:59] iamluca commented on #2901
Ok; let me pass this along to the dev team.

[2018-11-10 20:06] elhigu commented on #1881
Yes. As long as knex officially supports those aliases we should make sure that they are implemented completely.

[2018-11-10 20:38] jazoom commented on #1833
Actually, it happened once, but I'm pretty sure it was CockroachDB's fault, or perhaps a brief network outage. I don't think it had anything to do with Knex.

[2018-11-10 22:19] elhigu commented on #2900
Seems strange. Does it have compilation phase to see what kind on js is generated from that type script. And try to debug what kind of object is passed to createTable callback function (console.dir(table)).

[2018-11-11 01:29] iamluca commented on #2901
@kibertoad I'll invite you to the discord & the github resp. I'll pay too.

[2018-11-11 07:08] hyry1121 commented on #2900
@elhigu  thanks for the reply !
I took the same code from ```main.ts```(vue entry, also electron render) to ```main.js```(electron main), and changed some ts syntax to js(eg: (table: any) => {} --> (table) => {}). It works! So i think the problem is about electron render, because i use ```electron.remote.require``` to require knex in ```main.ts```.

Console.dir(table) in main.ts shows:
[code]

All

[2018-11-11 09:29] kibertoad commented on #2901
@iamluca Problem looks extremely trivial and doesn't seem to be anywhere in the realm of something deserving to be paid for; if I can take a look at sources, I'm pretty sure it would be pretty easy to figure out what's going on; likely some parameter is not being passed.

[2018-11-11 09:36] codingpop commented on #1232
If you're using [esm](https://github.com/standard-things/esm) with Knex, on Windows, try this:
`node -r esm node_modules/knex/bin/cli.js migrate:make migration_name`.

On Linux and Mac, try
`node -r esm node_modules/.bin/knex migrate:make migration_name`

[2018-11-11 16:59] elhigu commented on #2899
I have no idea why wrap method even exists.  It is so much cleaner to write:
[code]

Yeah, I always have to select node 8 for runkit to work 😐

Anyways, as long as `.wrap` is supported, we should either document that it works for only single level or make it work when multiple wrappings are added.

[2018-11-11 17:02] elhigu commented on #2901
@iamluca please provide way to reproduce the issue as it is instructed in issue template. Closing this until bug report is complete and there is something that we can do about.

[2018-11-11 17:02] #2901 closed

[2018-11-12 21:29] kibertoad commented on #2573
@qcom Any chance you could finish that repro? We'd love to fix it if it's still a thing.

[2018-11-12 22:05] GeoffreyHervet opened #2902 "Never finish execution"
# Environment

Knex version: 0.15.2
Database + version: MySQL 8.0.12
OS: Mac OS Mojave 10.14.1 (18B75)

# Bug

When I run the following code, node never stop the program. Their is no error message, like an infinite loop.

[code]
[code]

Is their something wrong with the current knex version ?

[code]

[2018-11-12 22:46] aluzed commented on #2902
Hi dude,

add

`knex.destroy();`

after your console.log(item)

[2018-11-12 22:48] GeoffreyHervet commented on #2902
thanks

[2018-11-12 22:48] #2902 closed

[2018-11-12 22:56] kibertoad commented on #2902
Added to troubleshooting section: https://github.com/tgriesser/knex/wiki/Troubleshooting

[2018-11-13 10:36] GeoffreyHervet commented on #2902
@aluzed  @kibertoad I found a better solution. According to the pool configuration ( https://github.com/Vincit/tarn.js ), with a low idleTimeoutMillis, it's working e.g:
[code]

[2018-11-13 10:44] elhigu commented on #2902
That means that your pool discards connections almost immediately after it is returned to pool so knex will actually create new connections to the database server a lot more often. It might degrade performance a lot (or it also might not, depending on application)

[2018-11-13 11:21] affanshahid opened #2903 "Change index name of compound key"
Is it possible to give a custom when creating a compound primary key in knex migrations. I know it possible with a single column by doing `column.primary('some-name')`. How do I go about this with multiple columns.

Knex version: 0.15.2
Node version: 10.8.0

[2018-11-13 11:42] elhigu commented on #2903
[code]

Example: https://runkit.com/embed/0ko3dkbqy5

Seems to work. It is missing documentation though.

[2018-11-13 11:42] #2903 closed

[2018-11-13 11:44] elhigu opened #5861 "How to set index name for compound index is missing"
https://github.com/tgriesser/knex/issues/2903

`.primary()` method doesn't have complete argument list documented.

[2018-11-13 22:42] kibertoad commented on #1134
Message was really unclear and it doesn't look like that split was doing anything useful, hence I'm getting rid of it.

[2018-11-14 03:18] deelienardy commented on #2886
so, i can't use @types/knex right now for postgres enum ?

[2018-11-14 04:59] qcom commented on #2573
@kibertoad I'll try to post something by this weekend – thanks for the followup! I nearly forgot about this issue since I've been proceeding with my `Single Item` case and not `Global`.

[2018-11-14 10:46] ricardograca commented on #1928
We're mixing Knex and Bookshelf issues here, but @Ice32 if you don't want to use the automatic timestamp feature of Bookshelf, you have to remove `hasTimestamps: ['createdAt', 'updatedAt']` from your model definition. The code that @codeclown posted above will then work as expected.

[2018-11-14 13:12] zefexdeveloper opened #2906 "Custom stub for migrations"
I was wondering if it's possible to use a custom stub for migrations, for example, that is how my migration looks like:

[code]

I'm doing like this specially cause eslint complains by using `function` instead of arrow functions.
It would be nice that when running `migrate:make` it would generate the migrations using arrow functions.

[2018-11-14 13:15] zefexdeveloper commented on #2906
Never mind, I found in another issue that is not documented: https://github.com/tgriesser/knex/issues/1319

[2018-11-14 13:15] #2906 closed

[2018-11-14 19:31] theprobugmaker opened #2907 "Knex migrations refresh"
I was wondering if it's possible to refresh the migrations from the database, cleaning everything and calling migrations again.

Things that would be nice:

- `refresh` - rollback everything and call migrations again
- `reset` - rollback all the migrations

Also if it had a `--seed` so it would call `seed` automatically as well, like `knex migrate:refresh --seed`

[2018-11-14 21:48] kibertoad commented on #2907
@zefexdeveloper This is similar to https://github.com/tgriesser/knex/issues/2844
After that one is implemented, one can have this functionality by simply chaining rollback + migrations + seeds, why have redundant operations for that?

[2018-11-15 00:48] zefexdeveloper commented on #2907
@kibertoad It was just a suggestion, it was nice that the similar issue mentioned Laravel because that was the main reason I suggested `--seed` and the other functionalities, but chaining would work as well.

[2018-11-15 15:35] Zakini opened #2909 "renameColumn fails when composite foreign keys are present"
# Environment

Knex version: 0.14.6
Database + version: MySQL 5.7.21
OS: macOS 10.13.6

# Bug

Renaming a column in a table that has composite foreign keys fails with the following message:
[code]

Here are the simplified definitions of the tables causing this:
[code]

Setup these table, then create and run a migration containing:
[code]

The problem here seems to be twofold:
- `renameColumn` drop

[2018-11-16 00:30] ekeric13 commented on #2602
Woops. Sorry we missed this. We used async await to fix it, so it looks like this solution fits better with the existing code base.

[2018-11-16 12:23] #1134 closed

[2018-11-16 13:42] s97712 opened #2913 "join using syntax error"
# Environment

Knex version: master
Database + version: postgresql 10
OS: archlinux

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
[code]
That's my code, it should be generator `select * from tb1 inner j

[2018-11-16 13:45] kibertoad commented on #2913
@s97712 Thank you for your report! Would you consider contributing a failing test for this case?

[2018-11-16 16:31] heisian commented on #2602
not sure how we had such a bad time in our version, but the merged solution looks clean & great. we still have to use our own knex due to the `max_batch` issue, though.

[2018-11-16 16:36] kibertoad commented on #2602
@heisian I hope we'll eventually resolve the max_batch issue and you could return upstream, but I would need to discuss with @elhigu what could be done.

[2018-11-16 16:50] kibertoad commented on #2644
@heisian Any chance you could create a failing test for reproduction of the issue? I want to try implementing overriding config within single query scope and would appreciate easy repro for the issue to play with.

[2018-11-17 19:52] kibertoad commented on #2644
@heisian Actually, no need, I've succesfully reproduced everything that I needed and finalizing solution now :)

[2018-11-17 20:00] kibertoad commented on #2644
@heisian Please review! https://github.com/tgriesser/knex/pull/2914

[2018-11-18 00:59] heisian commented on #2644
This is great! I still have much more to learn about the Knex internals. @ekeric13 and I will check it out on Monday

[2018-11-18 01:03] kibertoad commented on #2644
@heisian ahahaha, yeah, Knex internals are fun :D

[2018-11-18 02:17] ManuelDevelopment commented on #2913
I'm experiencing this issue as well, but I also ran into problems when using sub-querys in the [#from()](https://knexjs.org/#Builder-from) method. The generated queries look fine, but are missing any parantheses, which makes them invalid for (in my case) _SQLite3_. Could this be a more general issue with brackets in queries?

[2018-11-18 15:31] elhigu commented on #2913
@ManuelDevelopment open separate issue please

[2018-11-18 15:32] elhigu commented on #2913
This report seems legit: https://runkit.com/embed/eopc3c8web21

https://www.postgresql.org/docs/9.2/queries-table-expressions.html

[2018-11-18 17:58] wubzz commented on #2913
I believe this is fixed in next version. #2136 #2713

[2018-11-18 18:00] kibertoad commented on #2913
@wubzz @elhigu We reaaaaaally need to push 0.16.0 out of the door. Can I help with those Oracle failures somehow?

[2018-11-18 20:18] kibertoad commented on #1933
@adrianhelvik Created PR. Is the problem only for multiple columns use-case? Is the documentation for a single column correct?

[2018-11-18 21:33] elhigu commented on #2913
Installing docker and running `npm run oracledb:test` runs tests in docker against oracle. I just tried it and it is column renaming test which seems to hang.

[2018-11-18 21:41] kibertoad commented on #2913
@elhigu Took a look at how `renameColumn` is implemented in Oracle. Holy cow. I'm not surprised there's  a problem with it. Do you suspect that we actually have a regression?

[2018-11-18 22:03] elhigu commented on #2913
I haven't checked when the problem started. If there was just a new integration test added in that case I suppose it has been broken all the time.

[2018-11-18 22:15] kibertoad commented on #2913
@elhigu I don't have nearly enough Oracle expertise to fix the issue myself, unfortunately. What's our plan to proceeed with it? Do you think that you might have time in the nearby future to take a look at it yourself?

[2018-11-18 22:47] elhigu commented on #2913
I think renameColumn should not have been implemented in knex side, because it seems to be far from trivial operation in many SQL dbs :) I'll check out if it is regression, probably it is not. In that case we can just throw an error on oracle to prevent it from hanging.

[2018-11-18 22:48] elhigu commented on #2913
maybe add new feature request for it if someone is willing to fix the implementation.

[2018-11-18 23:33] adrianhelvik commented on #1933
From what I can recall, yes.

[2018-11-18 23:48] elhigu commented on #2913
closing this issue since it has been fixed in master as @wubzz mentioned.

[2018-11-18 23:48] #2913 closed

[2018-11-19 06:40] elhigu opened #2915 "Oracledb tests are failing"
# Environment

Knex version: master
Database + version: 11g
OS: docker test run

# Bug

Running tests against oracledb is failing

[code]

Related discussion https://github.com/tgriesser/knex/issues/2913

Looks like there is also more problems in oracle dialect than just renameColumn test... I found 3 different tests failing during bisecting where the renameColumn started failing. Need to look mor

[2018-11-19 07:09] #5860 closed

[2018-11-19 07:13] kibertoad commented on #2915
@elhigu Do we still consider this to be a blocker for 0.16.0 release? By the looks of it it was triggered by adding tests, not by changing functionality. And since new tests seem not to be the ones failing, looks like it is some kind of leakage between tests.

[2018-11-19 07:15] #1933 closed

[2018-11-19 08:58] ttencate opened #2916 "useTz parameter to timestamp() has a very misleading name"
Not sure if this is a docs issue or a code issue, but here goes. From the [`timestamp` docs](https://knexjs.org/#Schema-timestamp):

But the argument is named `useTz`, which can only be interpreted as "use timezone", even though it actually means "_don't_ use timezone".

[2018-11-19 09:09] elhigu commented on #2916
Might be both, code and doc issue.

[2018-11-19 11:55] #2644 closed

[2018-11-19 13:46] tahv0 commented on #2820
+1 having this issue too

[2018-11-19 13:55] elhigu commented on #2820
@tahv0 there are 100 different reasons why that might happen, so you need to find out how to reproduce the problem. Probably by then you will also see why that is happening.

[2018-11-19 18:06] kibertoad commented on #2644
@heisian Anything else before you can return upstream :-P?

[2018-11-19 20:05] heisian commented on #2644
I could use some Grey Poupon....

[2018-11-19 20:34] kibertoad commented on #2644
:D

[2018-11-20 12:23] jkob opened #2917 "SQLite, Insert returns number of records"
# Environment

Knex version: 0.15.2
Database + version: SQLite, whichever version npm package sqlite3 v4.0.4 downloads
OS: Windows

# Feature discussion / request

I wanted to create a *user* record and have knex return the *ID* of the *user* just created.
But instead of returning the *ID*, Knex returns the number of records in *user* table.
Forcing me to query the *user* table with the returned (

[2018-11-20 12:31] kibertoad commented on #2917
@jkob SQLite doesn't have "RETURNING" clause support. See https://github.com/tgriesser/knex/issues/1479

[2018-11-20 12:46] jkob commented on #2917
That sucks 😢
Closing the issue since nothing won't happen.

[2018-11-20 12:46] #2917 closed

[2018-11-20 12:55] kibertoad commented on #2917
@jkob Note that you can use `last_insert_rowid()` function instead of the code that you've provided.

Here is similar code we used for MySQL:

[code]

[2018-11-20 13:09] elhigu commented on #2917
I wrote some time ago feature request for crossplatform compatible insert https://github.com/tgriesser/knex/issues/2682

Not sure if it can be made to support sqlite though.

[2018-11-20 18:32] kibertoad commented on #2915
@elhigu I'm somewhat concerned that one of the least popular knex dialects is basically holding entire knex project hostage; we can't release new version with fixes of problems that people keep encountering and reporting, nor update the documentation which has lots of reported and fixed problems. I understand why it's important to understand and address the root cause for this, but considering how

[2018-11-20 22:22] kibertoad commented on #2916
@ttencate Thank you for reporting the issue! Could you please check out linked PRs and comment whether you think that it's an improvement?

[2018-11-20 23:05] damusix commented on #2844
Would this be acceptable for MariaDB / Mysql?

[code]

This is what I'm currently doing.

[2018-11-20 23:10] kibertoad commented on #2844
@damusix This is just straightforward deletion of everything. Migrations might be much more granular than that and potentially exist on top of some preexisting DB structure that should remain after all the migrations are torn down.

[2018-11-20 23:10] kibertoad commented on #2844
Also this probably is going to leave some garbage behind, e. g. table-level functions?..

[2018-11-21 02:32] JSEA commented on #2820
Knex version: 0.15.2
Database: MySQL 8
OS: MacOSX

I'm having the same connection issue when I run "knex migrate:latest", and have scoured google with no luck. I've tested connections between Node and MySQL with a simple SQL script and that's connecting fine. Initially there was an authentication issue with the connection which I was able to resolve by altering the user privileges with 'mysql_nati

[2018-11-21 07:31] elhigu commented on #2915
IMO the main problem here was that oracle tests were removed from Travis, because of random failure in one oracle test (maybe some problem in oracle transactions). We should have just disabled that single test and add bug report issues about it.

Now that oracle tests were completely disabled caused the whole dialect to rapidly rot, because no one cared anymore if their PRs broke oracle (or in cas

[2018-11-21 07:37] radiumrasheed commented on #443
@guanzhou-zhao how can this be mapped to lool like this...
[code]

[2018-11-21 08:05] JSEA commented on #2820
Update, I've reverted back to MySQL version 5.7.24 and I'm still getting the same timeout error

[2018-11-21 08:18] tahv0 commented on #2820
For me this was Google Cloud specific problem, because one can not take connection from GAE to Google SQL with public IP. I fixed problem by reading some more docs.

[2018-11-21 08:39] elhigu commented on #2915
My plan was just to go one by one all commits where something went broken and decide if there is something to fix or bug to report + disabling test.

[2018-11-21 08:54] elhigu commented on #2844
I don't see how this could work except by just running `.down` function for every migration (that is what laravel reset seems to do).

[2018-11-21 09:03] elhigu opened #2921 "Sqlite prints out rejection error during test run, but test is not failing"
# Environment

Knex version: 0.16-next..
Database + version: sqlite3
OS: osx / linux at least

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Should not spam messages that actually looks like errors or if those really are errors, tests should fail or to be disabled if sqlite doesn't support the tested feature.

2. Error message

https://travis-ci.org/tgrie

[2018-11-21 12:07] hubitor opened #2922 "Parse Error when inserting records into tables in many-to-many relationship"
# Environment

Knex version: 0.15.2
Database + version: MariaDB 10.1.37
OS: Antergos (Arch Linux)

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I have 2 tables (users, permissions) which are linked over

[2018-11-21 13:15] kibertoad commented on #2644
@heisian 0.16.0-next4 is available now! Please let me know how testing it goes :)

[2018-11-21 16:20] elhigu commented on #2922
Try to use mariadb driver directly to run that query and report back if it works there.  Nothing in this report suggests that there is a bug in knex causing this.

[2018-11-21 16:20] #2922 closed

[2018-11-21 16:48] kibertoad commented on #2844
Yep, and this doesn't look too complicated to implement.

[2018-11-21 18:03] heisian commented on #2644
woooooo!

[2018-11-21 18:58] heisian commented on #2644
@kibertoad It seems that specifying a `knexfile` doesn't work:
`knex/bin/cli.js:296` - `console.log(argv.knexfile) // outputs path correctly`
`knex/bin/cli.js:58` - `console.log(env.pathToKnexFile) // undefined`

[2018-11-21 18:59] kibertoad commented on #2644
ouch. thanks for bug report. let me do a hotfix and update our testsuite

[2018-11-21 23:10] kibertoad commented on #2644
@heisian Please review! https://github.com/tgriesser/knex/pull/2923

[2018-11-22 11:29] kamote commented on #2915
@elhigu I made some adjustment on failing tests here https://github.com/kamote/knex/commit/fc9b75e82baefa28926a519ec427d85d0b9c6eb3

However I have found some issues on `increment()` and `decrement()`

`increment` and `decrement` failing after this commit https://github.com/tgriesser/knex/commit/66acbe7719470d22d4aa65fdc9709f2717e1bca7

[code]

[2018-11-22 13:29] kamote commented on #2915
Made a followup commit for `increment()` and `decrement()` empty query issue https://github.com/kamote/knex/commit/1c5effeeeadffff508f259f68c5fcbba2e3e40ba

[2018-11-22 13:31] kibertoad commented on #2915
@kamote Would you consider creating a PR with these fixes?

[2018-11-22 13:32] kamote commented on #2915
@kibertoad yep here https://github.com/tgriesser/knex/pull/2924

[code]

[code]

[2018-11-22 23:58] acoulon99 commented on #801
There are paradigms where you don't want to maintain consistent DB state across your environments. A/B testing is one example. Separating DB schema from DB data adds additional flexibility.

[2018-11-23 00:08] builtbyproxy commented on #2761
I used your code @maximedupre
However instead of table.date i used, table.timestamp

`table.date('date').notNullable().defaultTo(knex.fn.now())`

`table.timestamp('date').notNullable().defaultTo(knex.fn.now())`

[2018-11-23 00:53] xdevnull commented on #637
@orlando what about
```knex seed:make $(date +%s)_UsersTableSeeder```

[2018-11-23 07:43] elhigu commented on #2915
@kamote thanks a lot. I'll take a look!

[2018-11-23 08:26] kibertoad opened #2925 "Oracle: Failure in migrations does not reset migration lock"
# Environment

Knex version: 0.16.0
Database + version: Oracle

# Bug

Migration lock doesn't reset automatically after migrations error out.

Reproduction: remove cleanup code introduced in https://github.com/tgriesser/knex/pull/2924

[2018-11-23 11:42] kibertoad commented on #2644
@heisian Can we do the take 2? `0.16.0-next5` with fix is already out.

[2018-11-23 12:33] #2915 closed

[2018-11-24 11:58] boylove142 commented on #2295
Any update on this? Currently, for me, the error message is really not helpful in detecting errors.

I think we could enable/disable this feature using some config e.g. turning `secureError: false` (default secureError is true)

[2018-11-24 18:55] elhigu commented on #2295
@boylove if you are getting that error and you dont know where you are passing undefined parameters, then you should definitely not turn those errors off 😮 also I wouldnt want to even allow to globally configure anything like that. We haven’t even defined what different methods should do when undefined is passed to api. Some method for building query that allows to pass undefined to where clauses

[2018-11-24 20:50] JSEA opened #2928 "JSON type MySQL column insertion issue"
# Environment

Knex version: 0.15.2
Database + version: MySQL 5.7.24
OS: OS X El Capitan 10.11.6

 @smorey2

# Bug

1. JSON column unable to handle an array that contains objects/object with multiple properties. Works as specified with an array with an object with a single property.

2. Error message:

[code]

# Issue discussion

I'm seeding a db with data from a CSV, one column contains an array

[2018-11-24 21:53] base698 commented on #2809
What's the workaround?

[2018-11-24 22:40] kibertoad commented on #2809
@base698 simplest solution would be to use latest 0.16.0.next version, but you can also return promise explicitly.

[2018-11-25 08:38] elhigu commented on #2928
Print out chunks which you are trying to insert and reduce this testcase to be a single failing insert. From that it wil be easier for you to find out how to insert that single chunk correctly.

Closing as knex usage issue.

[2018-11-25 08:38] #2928 closed

[2018-11-25 15:30] A-Tokyo commented on #2231
@riteable @elhigu

You can use `decimal(null);`
Specifying NULL as precision creates a decimal column that can store numbers of any precision and scale. (Only supported for Oracle, SQLite, Postgres)

[2018-11-25 15:55] JSEA commented on #2928
Thanks for the response.

Single test case has been done prior to reporting this issue. I am knew to JS and Knex so I could be missing something however.

The below object inserts with no issues
[code]

The below does not insert
[code]

Instead the above inserts as the following (basically stopping after the first property and ignoring the second property.
[code]

Resulting in the following error:

[2018-11-25 17:18] elhigu commented on #2928
So if I understood correctly this works:

knex(’table’).insert([{”image” : ”a”}])

And

knex(”table”).insert([{ “image” : “a”, “color”: “p”}])

does not?

[2018-11-25 19:40] JSEA commented on #2928
Yes, that is exactly what I'm facing.

[2018-11-25 22:12] ricardograca commented on #801
This isn't asking to store information about which seeds have run or to verify that the same seed is not run multiple times. It's only asking for the ability to specify a single random seed file to be run. E.g. `npm db:seed --grep=users`.

[2018-11-25 22:50] kibertoad commented on #801
@ricardograca It does make sense. How do you think seed file could be identified? by full filename?

[2018-11-25 23:15] ricardograca commented on #801
I think that would make the most sense yes. However, not sure if a full grep like functionality is needed, or just something like `--single=my_seed_file.js`.

[2018-11-25 23:32] elhigu commented on #2928
Ok... none of them are working correctly. Since you are passing an array to `.insert` knex will think that you are inserting multiple rows with for example columns `image` and `color` in this case.

There is nothing in your code, which hints at all that you have JSON type of column used somewhere... 😐

[2018-11-25 23:34] elhigu commented on #2928
So would be best to first try to add some correct data manually (by hard coding some queries with knex) to your table and that way you will also learn how to deal with inserting JSON data. You might need to use `JSON.stringify` before inserting javascript object to JSON column, but I don't know for sure how mysql driver behaves.

[2018-11-25 23:51] kibertoad opened #2929 "Improve CLI Jake test structure"
Instead of * wildcard in package.json we should be using this approach: http://jakejs.com/docs#breaking_things_up_into_multiple_files

[2018-11-26 00:02] JSEA commented on #2928
Thanks for your response. My apologies, I did not include it initially, but the JSON type column was specified in the table creation.

[code]

I will continue to study the issue to see what is the cause. I was thinking there may be something I overlooked.

[2018-11-26 06:23] MoonCall opened #2930 "queryContext is missing in type declarations"
# Environment

Knex version: 0.15.2

(I think those are not needed information, however, I included)
Database + version: MySQL  5.7.22
OS: OSX 10.12.6

# Bug

I found .queryContext is supported as written in knex documents(https://knexjs.org/#Builder-queryContext), and used that in one of my projects. However, when I applied @types/knex typescript compile error occured because queryContext is miss

[2018-11-26 08:37] kibertoad commented on #2930
@MoonCall It is correct to report it here; would you consider raising a PR with fix?

[2018-11-26 09:10] MoonCall commented on #2930
@kibertoad Sure, I'll make a PR soon.

[2018-11-26 09:22] kibertoad commented on #2930
Thanks!

[2018-11-26 09:22] #2916 closed

[2018-11-26 13:32] MoonCall commented on #2930
@kibertoad
I made a PR for this issue (#2931).

While I was working on this, I found queryContext is missing not only in QueryBuilder but also in SchemaBuilder, TableBuilder and ColumnBuilder. Of course queryContext is also missing in Raw, but I skipped Raw because its documentation does not list queryContext as a possible method. Finally, in addition to adding `queryContext(context: any): QueryBu

[2018-11-26 13:37] #2930 closed

[2018-11-26 15:50] camlegleiter commented on #2874
Should the documentation be updated to indicate that this interface change is supported? Currently it still shows the original single column order by functionality. I only discovered this change digging through to see if `orderBy` supported something else.

[2018-11-26 16:04] kibertoad commented on #2874
@camlegleiter It will be updated after 0.16.0 is out, which, hopefully, should be rather soon.

[2018-11-26 16:04] kibertoad commented on #2874
There is already https://github.com/knex/documentation/pull/143 which we'll merge before release and rebuild the doc.

[2018-11-26 17:06] heisian commented on #2644
@kibertoad sorry, we were on short week here last week, will be sure to test it out again today!

[2018-11-26 23:10] heisian commented on #2644
@kibertoad It seems that the `--cwd` flag no longer applies to the `--knexfile` flag. With `0.16.0-next5` I need to specify my `knexfile` path relative to `node_modules/knex/lib/index.js`.

[2018-11-26 23:14] heisian commented on #2644
One thing I've noticed is that table names in migrations are no longer case insensitive, i.e.:
[code]
and
[code]
are not the same, though I see this as a good thing.

[2018-11-26 23:21] heisian commented on #2644
Ah okay, I've found a big issue - `knexSnakeCaseMappers` no longer seem to get applied to migrations. here is my knexfile, which is the same as when using knex `0.15.x`:

[code]

When running migrations with `0.16.0-next5`:
[code]

[code]

[2018-11-27 10:10] elhigu commented on #2644
Ouch... that is really bad, and I just released 0.16.0... we need to fix that and release 0.16.1 asap.

[2018-11-29 19:52] necevil commented on #1833
Hey guys,
Not sure if this one has been officially solved in the most recent versions or not — but on Azure AKS — when you are running Ghost with a remote database outside the cluster it was happening due to the Azure enforced 4 minute connection kill when connected to an external IP / port.

You can see some of my trouble shooting process over here:
[https://stackoverflow.com/questions/50706483/w

[2018-11-29 20:57] radichc commented on #385
Workaround:
[code]

[2018-11-30 01:43] beltschatsar commented on #2665
@elhigu is there anything I can do to help for this ?

Is it possible to add these hooks, but documents them as « experimental » ?

This would help in let them be used for special cases.

Actually, i’m Struggling with getting my fork to be « npm install » compatible since the generated lib folder cannot be included in my branch (npm install must also  install the /lib folder).

[2018-11-30 05:32] wubzz commented on #385
If I understand the previous investigation on this topic correctly then pressumably knex forces a primary key strictly because some DBs (ie MySQL) cannot create serials without it being a primary key? If such is the case, I wouldn't worry too much about backwards compatibility when it comes to Postgres.

A MySQL user would then expect it to be a primary.
A Postgres user would not. _(Which is evide

[2018-12-01 04:29] mceachen opened #2936 "Consider removing bluebird?"
Thanks so much for knex, the API is brilliant, and it makes working with SQL so much more comfortable!

Now that [all supported node versions have native Promise support](https://github.com/nodejs/Release#release-schedule), have you considered removing your dependency on bluebird? It's a >700Kb transitive dependency that I'd love to drop from my projects.

[2018-12-02 12:00] rakakhrl opened #2937 "These dependencies were not found"
# Environment

Knex version: ^0.15.2
Database + version: mysql  Ver 15.1 Distrib 10.1.36-MariaDB
OS: Windows 10

# Bug

I created an electron app with vue.js (https://github.com/nklayman/vue-cli-plugin-electron-builder), and i installed knex and mysql driver for node. The problem is when i try to serve the aplication i got an error.

[code]
Can someone help me fix this?

[2018-12-02 12:41] elhigu commented on #2937
Maybe someone in https://github.com/nklayman/vue-cli-plugin-electron-builder repo might be able to help or electron app / vue community. Closing as not knex bug.

[2018-12-02 12:41] #2937 closed

[2018-12-03 07:36] phao5814 opened #2938 "Case-sensitivity for Postgres"
I started using KnexJS today and it became apparent that all references passed to KnexJS are case-sensitive by default for PostgreSQL.

For example `knex('SomeTable')...` doesn't work for me but `knex('sometable')...` does. The same goes for column names. This behaviour seemed a little unexpected to me since queries using the 'pg' package directly would have accepted both of those formats.

I trie

[2018-12-03 08:37] kibertoad commented on #2938
@phao5814 This is not a KnexJS-specific functionality, PostgreSQL as a database is case-sensitive.
`For example knex('SomeTable')... doesn't work for me` is not an accurate depiction of what is happening. If you have table that matches case of "SomeTable" exactly, it will work. If case is different, it won't. Same should be the case when using 'pg' directly.

[2018-12-03 08:49] phao5814 commented on #2938
@kibertoad Apologies if my initial comments were misleading - I'm still new to DBs in general so I may struggle to verbalise what I mean.

What I was trying to convey is that I believe in Postgres, identifiers that are not double-quoted are folded to lower case in PostgreSQL as outlined in [this SO post](https://stackoverflow.com/questions/20878932/are-postgresql-column-names-case-sensitive).

Thi

[2018-12-03 08:51] #2936 closed

[2018-12-03 09:04] elhigu commented on #2938
Knex adds quotes to all identifiers to make them case sensitive. If you really want to change how quotes are added around identifiers, you can pass custom `wrapIdentifiers` implementation to knex configuration.

Anyways I don't think that is a good idea to override. Better would be to use identifier names correctly and in a case sensitive manner, so that if you have lowercase names in the database

[2018-12-03 09:04] #2938 closed

[2018-12-03 20:04] dearsaturn opened #2939 "ER_ACCESS_DENIED_ERROR after several hours of idle or minimal usage"
# Environment
Knex version: 0.15.2
Database + version: MySQL 5.7.22 (on RDS)
OS: 64bit Amazon Linux/4.5.3

knex configuration:
[code]

# Bug (or our own misuse)?
After an indeterminate (but usually, 11 hours or more) period of little or no usage, we start to see connections refused, with each call throwing `ER_ACCESS_DENIED_ERROR: Access denied for '...'@'an-ip-address'`. It isn't after the _first

[2018-12-03 20:48] elhigu commented on #2939
You should use always the same knex instance which is initialized just once when node process is started (or multiple knex instances if you need to connect to multiple databases).

The configuration you pasted in the original post does not seem correct. It doesn't describe which database client you are using and pool setup should be done in upper level than connection details. However I don't thin

[2018-12-03 20:48] elhigu commented on #2939
Also closing currently as cannot be reproduced :(

[2018-12-03 20:48] #2939 closed

[2018-12-03 22:19] elhigu commented on #2939
No worries, let me know if you are able to see that there indeed is situations, where RDS closes connections in a way that knex doesn't notice. Also would be good to make sure that you have latest version of mysql driver installed.

[2018-12-03 22:33] dearsaturn commented on #2939
Sure thing. I may honestly opt for instance restarting until I have the bandwidth to get to the bottom of this. If it is of any use, before it starts happening, we see:

`Connection Error: Error: Connection lost: The server closed the connection.`
I see that warning [comes from the validate function](https://github.com/tgriesser/knex/blob/46dbe917d7cbc1748aba2ee9050dafea0b840fc0/src/client.js#L279

[2018-12-03 23:21] elhigu commented on #2939
Yes, sounds like old connections are disposed just fine, but new ones cannot be created anymore...  but that error is coming from database server so I have no idea why it could stop accepting old credentials or maybe that error code can mean something else too.

You can also monitor connection count etc. from RDS while figuring it out. Other old trick has been to add debug printouts to nearby the

[2018-12-04 11:32] senyaak commented on #1846
I'll try to make an PR with fix - but for now you can use env variable KNEX_PATH to set path to knex

[2018-12-04 11:36] elhigu commented on #1846
Please try knex 0.16.1-next1 which was released last night if this still fails

[2018-12-04 12:40] kibertoad commented on #2644
@heisian 0.16.1-next1 should have addressed CWD and query execution processing regressions, could you take a look? (and sorry for needing so many iterations to get it exactly right)

[2018-12-04 12:41] kibertoad commented on #2929
This was already done in master.

[2018-12-04 12:41] #2929 closed

[2018-12-04 17:11] ivosabev opened #2940 "Cannot access the query object returned from an async function"
I assume this is due to lack of understanding of the internals of Knex, but it is very common to have a async/await function that awaits on some other async call and then proceed to generate a Knex query which I would like to return without executing so I can continue to augment it.

Here is a very naive example that is currently impossible:
[code]

[2018-12-04 18:55] heisian commented on #2644
no worries, thank you all for the efforts. I will test it out today. thanks for the update

[2018-12-04 19:37] heisian commented on #2644
okay, we always explicitly specify the knexfile, so will give it a shot, ty for the heads up

[2018-12-05 08:01] wubzz commented on #2940
[code]

[2018-12-05 08:05] wubzz commented on #2940
Since querybuilder is a 'thenable' calling await on it will issue the query and return the result. The example is a bit confusing to me. The function takes userId but also runs a lookup from this userId -> user.id. Seems redundant?

There are other ways of solving this but it does not involve using await at all, which I'm guessing is what you really want.

[2018-12-05 08:14] elhigu commented on #2940
Not knex problem. As @wubzz mentioned, that is just the way how promises / async / await works with thenables. If you want to return `thenable` from async function without causing it to resolve, you have to wrap it to for example inside an object for returning.

[2018-12-05 08:14] #2940 closed

[2018-12-05 08:30] ivosabev commented on #2940
@elhigu Thanks for your explanation, I understand that is not per se Knex issue, but could you provide an example of how it could be done with the object wrapping?

[2018-12-05 08:32] elhigu commented on #2940
[code]

[2018-12-05 08:35] ivosabev commented on #2940
I expected promises to be chained and resolved one by one by every single await. Thanks for the example, maybe it should be included somewhere as a FAQ.

[2018-12-05 20:33] heisian commented on #2644
oh got it ok will start using it in CI, and will report any discrepancies. I've manually verified that batches are handled correctly. thank you!

[2018-12-05 20:34] kibertoad commented on #2644
Woohoo! Glad to hear that!

[2018-12-06 05:33] mrdulin commented on #1633
Two years, any update?

[2018-12-06 23:10] malykhin commented on #201
You can try this:

[code]

[2018-12-07 06:10] elhigu commented on #1633
@mrdulin yes. API for this feature was designed year ago https://github.com/tgriesser/knex/pull/2197

Please feel free to implement. Only thing missing for this feature is someone who wants to have this enough to actually make it happen.

[2018-12-07 07:59] elhigu commented on #201
in 0.16.1 there will be https://knexjs.org/#Builder-connection which can be used to explicitly give connection to the query builder, where to send the query.

[2018-12-07 18:56] whyayala commented on #2940
I also feel this should be documented. Had the same question myself which led me here.

[2018-12-08 03:08] dearsaturn commented on #2939
@elhigu I wanted to mention that I see this in the mysql logs right before this happens. Additionally, it's not all connections in the pool that fail, just some.

[code]

It looks like an issue where DNS resolution fails (which isn't extraordinary in my opinion) but the pool isn't discarding the connection mysql aborted. It continues to try to run queries on it and gets back `ER_ACCESS_DENIED_ERRO

[2018-12-09 03:03] MatiasOlivera opened #5862 "The sidebar font is small"
Hi guys, I think that the actual sidebar font _Lucida Grande_ is not very readable and it is small. Is it possible to change it with a more readable and bigger font? A _sans serif_ font could be a good alternative, something like _Helvetica_. Thanks!

[2018-12-09 23:36] elhigu commented on #2939
Does all errors go away if you replace REDACTED_1 / REDACTED_2 with real IP instead of DNS name or if you add IP:s for those hosts to be resolved locally by application server i.e. in `/etc/hosts`?

That sounds like a bug somewhere if connections are not discarded from pool in case of DNS error... can that be reproduced by just trying to connect to some invalid DNS name? If that can be reproduced,

[2018-12-09 23:36] MartinKolarik opened #2942 "v0.16.1 messes with global Promise"
[code]

[2018-12-09 23:40] elhigu commented on #2942
Might have something to do with a fact that babel compiles knex now compiles to ES6 target. I didn't find anywhere that knex source code would have messed with it.

[2018-12-10 00:06] dearsaturn commented on #2939
They _are_ real IPs, I think MySQL does the reverse lookup regardless if `skip_name_resolve` is false.

So far, I've been getting around this by terminating the process and restarting it, but I think it can be reproduced by throttling the mysql host's dns server.

I can't really edit /etc/hosts because I'm spinning up new hosts pretty often.

I think I can also work around by setting `skip_name_re

[2018-12-10 04:33] kibertoad commented on #2942
Let me catch my breath after the flight and I'll take a look... Thanks for the report! And it does look like polyfill thing indeed.

[2018-12-10 04:55] dashmug opened #2943 "Typescript types seem to be missing from npm."
# Environment

Knex version: v0.16.1
Database + version: MySQL
OS: MacOS

# Bug

The changelog for v0.16.1 mentioned it already includes the typescript typings. However, after updating to v0.16.1, and removing `@types/knex`, my build now fails due to missing types.

Upon further inspection, my `node_modules/knex` folder does not contain the `types/directory` at all.

See screenshot below.

![scree

[2018-12-10 04:57] kibertoad commented on #2943
Gah! We need to fix package.json. Thanks for the report!

[2018-12-10 05:15] dashmug commented on #2943
No worries. Keep up the good work!

[2018-12-10 05:55] elhigu commented on #2942
Marked as discussion, because I’m not so sure if this is a bug or documentation issue or what (it is a bit nasty to override global Promise to cause all the libs use something unexpected. Of course optimal thing would be to not to touch it by knex.

[2018-12-10 06:32] elhigu commented on #2939
I meant to just try it out if it that actually fixes the problem, it could be caused by that DNS server problem... but if it is because of reverse DNS resolution I'm not sure if /etc/hosts is even used for that.

Sounds pretty far fetched that reverse lookup would be causing the problem, mysql should do it only once per IP address https://dev.mysql.com/doc/refman/8.0/en/host-cache.html

Anyways le

[2018-12-10 06:46] dearsaturn commented on #2939
Thanks for the guidance, I really appreciate it. I'll try to reproduce this and will report back here. Something absolutely strange I'm seeing is that our host_cache table is empty?? That's probably why it's doing reverse lookups up all the time. Will be a fun little adventure figuring that one out!