[2019-10-23 06:40] elhigu commented on #3493
You can query it by your self with `knex.select(knex.raw('txid_current()'))`.

If this can be easily implemented for all of the drivers without need to create implicit queries, then I suppose we could always use database's native transaction id also inside knex.

Can be reopened if you can show me how to get transaction id from `node-postgres` driver without need for an additional query (`begin` q

[2019-10-23 06:40] #3493 closed

[2019-10-23 06:42] elhigu commented on #3493
You can also extend knex with your own transaction methods, which does that query automatically after creating transaction and then stores it to connection.

[2019-10-23 06:55] elhigu commented on #3373
![adjust-the-boat-thanks](https://user-images.githubusercontent.com/696345/67365760-e519cf80-f57a-11e9-81fb-7005961346a5.png)

😸

[2019-10-23 07:12] elhigu commented on #3396
Was this fixed by #3480 ?

[2019-10-23 07:17] #3402 closed

[2019-10-23 09:09] SentientClee opened #3494 "Promise undefined when running migrations"
Our knex dependency recently got upgraded from `^0.13.0` to `^0.19.5` and some of our migrations no longer run because `Promise` is no longer defined when the exported `up` function is called. The screenshot shows the error received. Is the `Promise` parameter no longer supported in exported migration functions? These migrations run perfectly fine when using the older version `^0.13.0`.
[code]
<im

[2019-10-23 09:34] ricardograca commented on #3494
You can fix this by changing your migration files to:

[code]

[2019-10-23 09:53] kapouer commented on #3485
@edvardchen that'd be nice !

[2019-10-23 09:56] edvardchen commented on #3485
@kapouer kinda busy this week. I would do it in the weekend. Sorry to reply so late

[2019-10-23 12:08] meelash commented on #1267
For posterity, you can use the shouldAdvanceTimers option on sinon.useFakeTimers or call clock.runAll to have this work correctly while stubbing setTimeout and other functions besides Date.

[2019-10-23 13:22] abskmj commented on #3373
@kibertoad can I raise a PR for this ?

[2019-10-23 15:00] elhigu commented on #3373
@abskmj this has been tried to be fixed couple of times already some kind of integration test would be nice to be included if you start fixing this.

[2019-10-23 15:10] abskmj commented on #3373
I will start with a simple PR which has the right ORA codes. Do I need to create separate issues to resolve this with multiple PRs?

[2019-10-23 23:02] SentientClee commented on #3494
Thanks @ricardograca, I noticed that new migration files generated on version `0.19.5` don't include the `Promise` parameter. Is there a changelog or specific commit you can point me to that includes this change? That way when we do upgrade to/past that version, we can be sure to modify our migration files accordingly.

[2019-10-23 23:03] kibertoad commented on #3494
See UPGRADING.md

[2019-10-24 00:09] nextmat commented on #141
A common case for this is defining an object to run multiple queries against the same table. For example:

[code]

In this instance the second query fails because it will select where type equals both values as the state stacks. I've seen a bunch of ways to get around this, but it seems like a common enough case that it might be worth supporting with some kind of immutable stub?

[2019-10-24 02:22] #3494 closed

[2019-10-24 08:03] elhigu commented on #141
There is a `.clone()` method for that...

[code]

of course immutable query builder would be nicer (even that it would break pretty much everyone's current code. Also to implement immutability efficiently knex internals should be pretty much rewritten.

[2019-10-24 08:09] elhigu commented on #3373
Thanks! The whole bug should be fixed in a single PR.

[2019-10-24 13:20] ctiaffay-conserto commented on #2998
Why is this closed ? It's totally broke when working with kexfile.ts, tried all I could from this thread ... (latest version + typescript 3.6.4)

[2019-10-24 13:27] elhigu commented on #2998
Open new issue and provide reproduction code (for example a link to example project where your problem occur). This was closed because @brunolm found his solution for his problem.

[2019-10-24 14:08] #3489 closed

[2019-10-24 16:43] edvardchen commented on #3485
Almost done. I would add more test before submitting PR

[2019-10-24 17:12] nextmat commented on #141
@elhigu - Thanks for the response. That makes sense and thanks for the pointer to `.clone`.

I totally get what you are saying about breaking the current implementation and a generalized immutable query builder. To be more clear I guess I was wondering if adding a different method for immutable table selection was possible without breaking everything else, treating it as a special case because it

[2019-10-24 17:22] mmiszy commented on #2998
It's still broken with `--cwd`:

[code]

[2019-10-25 07:57] ctiaffay-conserto commented on #2998
So, I won't' raise a new issue as I don't know how it's even supposed to be working. A minimal full typescript example in the docs would be ... godsend
Objectin.js typescript example didn't bother to use knex in typescript, so I think they had the same problem ...

Well ...What I wanted to have :
- all my source code in ts
- knexfile.ts in typescript
- migrations in typescript (to have createTable

[2019-10-25 09:20] brunolm commented on #2998
@ctiaffay-conserto you could try this example (replace `knexfile` with `cwd`)
https://github.com/brunolm/knex16bug/tree/knex16

[2019-10-25 15:35] wwwouter commented on #3463
Sorry for the long the delay, I wanted to get this right, so we're all on the same page :)

To get an overview of the problems that need to be solved, I created an example database. I've worked out examples for selecting data with SQL, with Knex and with different typed options.

If I missed something, please let me know.

The goals are:

-   Be useful for 80% of the use cases, for the other 20% e

[2019-10-25 19:21] kibertoad commented on #3467
@matthieu-1989 Could you please try with 0.20.0?

[2019-10-25 19:22] #3419 closed

[2019-10-25 19:22] kibertoad commented on #3396
Should have been, yes.
@PeterMerkert Could you please try using 0.20.0 and report back?

[2019-10-25 19:22] #3396 closed

[2019-10-25 19:24] kibertoad commented on #3321
Haven't seen it in a while, closing.

[2019-10-25 19:24] #3321 closed

[2019-10-25 19:24] #3286 closed

[2019-10-25 19:25] kibertoad commented on #3170
@alubbe Bluebird was being removed bit by bit lately. Additional PR for replacement of .then() blocks would be most welcome.

[2019-10-25 19:26] kibertoad commented on #3116
@shaungreen Could you please open PR against our repo with the fix?

[2019-10-25 19:26] #3077 closed

[2019-10-25 19:28] kibertoad commented on #3489
Released in 0.20.0

[2019-10-25 19:28] kibertoad commented on #3473
Released in 0.20.0

[2019-10-25 19:30] koskimas commented on #3489
Awesome! Thank you @HurSungYun and @kibertoad

[2019-10-26 04:30] PeterMerkert commented on #3396
I got the upgrade and for me all my features are still working. The new version is in my code.

But remember, I have reported before that I did maybe not use the functionality which was broken in the first place.

Thanks a lot for the new version though anyways!

[2019-10-26 05:41] kibertoad commented on #3396
@PeterMerkert Awesome, I was wondering if we broke something while fixing something :D

[2019-10-26 06:04] #3367 closed

[2019-10-26 07:14] lookfirst commented on #3463
I really don't understand the benefit of writing SQL with an API. It is like writing HTML or CSS with an API. Nobody benefits because now you have to not only learn SQL, but also some API that just wraps the same statements, in the same statements. You spend half your time just outputting the results from the API to see if it matches up with the SQL you could write yourself anyway.

Thus, I'd much

[2019-10-26 10:23] iki commented on #3458
@lorefnon thanks, it works perfectly

[code]

[2019-10-26 10:23] #3458 closed

[2019-10-26 17:51] #3341 closed

[2019-10-26 18:28] #3405 closed

[2019-10-26 18:44] lorefnon commented on #3478
Those methods still exist but are only available for MySQL client.

Currently the only way to tell typescript to allow MySQL specific APIs is by casting `table` to `Knex.MySqlTableBuilder`.

[2019-10-26 18:45] kibertoad commented on #3478
@lorefnon Wouldn't it be better to expose them always, but throw NotImplemented error on other dialects?

[2019-10-26 19:13] lorefnon commented on #3478
That is actually the [current  behavior](https://github.com/knex/knex/blob/9aa7085b052938dc5252d10b2b418a475637eda5/lib/schema/tablebuilder.js#L80-L82). I'll just update the typings to remove the need for explicit cast.

[2019-10-27 12:52] yigaldviri commented on #3422
I'm having the same error as in the title.
Migrated to 0.20.0 from 0.15.1
I'm using Bluebird in my project instead of the native Promise (which is overrided by Bluebird) so there's a conflict between my promise's timeout  and Knex's timeout.

[code]

Is there a way to use Bluebird as my project's Promise and still use Knex?

[2019-10-27 12:59] kibertoad commented on #3422
@yigaldviri `timeout` method in Knex does not come from Bluebird, it is implemented internally, hence signature is not compatible.
As long as you don't expect Knex to return Bluebird promises to you, you should be able to mix Knex native promises with your in-project Bluebird promises. Probably simplest way to achieve that would be to wrap all knex interactions within `repository` files that would

[2019-10-27 13:02] kibertoad commented on #3422
I wonder if signature will become compatible if we make options an optional argument. I see no reasons why not to. @lorefnon, what do you think?

[2019-10-27 13:10] yigaldviri commented on #3422
@kibertoad - the thing is that i do "expect Knex to return Bluebird promises to you". I'm using Bluebird instead of native Promises sort of like this: `global.Promise = BluebirdPromise;` and that's why I'm getting this error. Is there any thing I can do to solve this?

Also, I'm using async/await and don't have a problem with Bluebird

[2019-10-27 13:16] kibertoad commented on #3422
@yigaldviri Right, so that forces all calls to `new Promise` to actually instantiate a Bluebird promise? Other than casting Knex native promises to Bluebird promises, I don't think there is a possible solution for existing version; however, we are definitely going to look into at least addresing the `.timeout` use-case.

[2019-10-27 15:30] elhigu commented on #141
Big problem with allowing immutable + non-immutable query builders at the same time is that we would have to add lots of testing to cover both ways well enough.

Basically if that support would be implemented I would prefer deprecating non-immutable way as soon as possible, but still providing at least one knex version that could be used to migrate projects easily that supports the both ways, but

[2019-10-27 15:54] edvardchen commented on #3485
All dialects except 'sqlite3' require that subquery must have an alias.

1. Should we add an anonymous alias for them like `T`,
2. or just let the dialects to complain?
    The error messages thrown from dialects are really comprehensible.

@kapouer @elhigu @kibertoad

[2019-10-27 18:25] kibertoad commented on #3485
@edvardchen What's the advantage of anonymous aliases, if they are not referenced anywhere in the query anyway? If messages are explicit enough for users to understand what is happening, I think that's good enough.

[2019-10-28 02:29] edvardchen commented on #3485
Anonymous aliases can make the query executable even not being referenced. Like:
[code]
But I worry that it may not be expected and would cause confusions

[2019-10-28 03:49] lorefnon commented on #3422
In response to [@3mini's comment](https://github.com/knex/knex/issues/3422#issuecomment-530241087) we had already made the options argument as promise, and it was released in 0.20.0.

However with 0.20.0 the error reported by @yigaldviri should not be possible (absent external interference with types) because ChainableInterface no longer extends Bluebird so `ChainableInterface#timeout` should not

[2019-10-28 08:33] DarkToast opened #3499 "Possible SQL injection via the `defaultTo` method"
# Environment

Knex version: `0.20.0`
Database + version: `PostgreSQL 11.5 on x86_64-pc-linux-musl, compiled by gcc (Alpine 8.3.0) 8.3.0, 64-bit`
OS: `Ubuntu 18.04.3 LTS - LinuxKernel: 4.15.0-66-generic`

# Bug

When creating a table with knex schema and setting a default value to a column, the given parameter will not be escaped and therefore can produce a SQL injection.

Given this code:

    co

[2019-10-28 09:21] yangguoguo opened #3500 "sql"
# Environment

Knex version:
Database + version:
OS:

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for exa

[2019-10-28 09:21] #3500 closed

[2019-10-28 10:15] edvardchen commented on #3499
Reasonable. I can take it

[2019-10-28 10:44] kapouer commented on #3485
[An interesting thread to read](https://www.postgresql.org/message-id/flat/CAKFQuwYYY4OyJ2Z39v9NyZGwcEAGHRvymJ24zJhAjiV1u4F4pA%40mail.gmail.com#06869c49dceb228c92be857b12c6f0a4) about bringing anonymous aliases to postgresql.
@edvardchen the main problem seems to be sure anonymous aliases won't conflict with anything.
Maybe it's safer stick to whatever SQL dialect is available.

[2019-10-28 11:35] edvardchen commented on #3485
OK.

[2019-10-28 12:47] yigaldviri commented on #3422
Hi @lorefnon ,
1. I'm not using `@types/knex`.
2. I do use  `@types/bluebird-global `

[2019-10-28 14:57] DarkToast commented on #3499
Thanks alot.

[2019-10-28 20:28] nextmat commented on #141
@elhigu - That makes sense, thanks for the explanation!

[2019-10-28 20:38] #3485 closed

[2019-10-29 04:40] lorefnon commented on #3463
My familiarity with C# is somewhat limited, but I don't quite get the point of a function which is never called. Do you intend to stringify function body and extract information from there ? This is generally problematic because transpilers etc. are common in js ecosystem.

Also given that we have the `User` class that contains all the schema information, can we can do something like:

[code]

Whe

[2019-10-29 06:01] idododu commented on #3078
I specified multiple migration directories, and after run `knex migrate:make create_table_name`, it always create file in the last folder in directories(`migrations/DML/201901010101_create_table_name.js`).
[code]

after debugging, I find below line in knex source `migrationGenerator.js`
[code]

[2019-10-29 08:36] mrdulin opened #3504 "db migration file naming conventions"
This question is primarily opinion-based so that I can't ask on stackoverflow. It confuses me a long time. Here are the naming conventions I had tried.

### `datetime_[action]-[tableName]`

E.g.

`20190116143040_update-CAMPAIGN_RESULT`
`20190225151200_createTable-google_account`
`20190227190440_alterTable-LOCATION`

Cons: If you look at the file name, you don't know what operations this migration

[2019-10-29 09:31] ricardograca commented on #3504
You're always going to have to open the file to check the details, so go with whatever you prefer. I would never go with `datetime_[jira task id]` though, because then you have absolutely no idea what it does, whereas with the other options it's easy to know at least what table it touches.

[2019-10-29 09:35] elhigu commented on #3499
I'm not convinced at all that these injection holes in schema API should be fixed. Schema calls should never be got directly from user anyways. If this functionality is changed it may cause big problems to people, who has been using `.defaultTo` if their migrations starts to work differently on new machines... this kind of errors are potentially very dangerous, since they might not fail at all in

[2019-10-29 10:14] kibertoad commented on #3499
@elhigu If someone relied on part of `.defaultTo` parameter leaking into overall SQL statement, that doesn't sound like something that we should be supporting on encouraging. Isn't it less confusing and more logical if entire parameter is properly escaped in this case?

[2019-10-29 15:16] BrendanBall commented on #799
I'm also interested in this. Mostly because I'm tired of sqlite3 npm package always breaking after a while with a specific version (the prebuilt binary just 404 or 403s after a while for whatever reason, I assume the maintainer doesn't want to keep old binaries and then it tries compiling sqlite3 with node-gyp which always breaks) and would rather just not have any native dependencies. I only real

[2019-10-29 17:35] lorefnon commented on #141
@elhigu Do you think there is value in the following approach:

1. Knex QueryBuilder supports an intermediate JSON/serializable representation (along with fromJSON and toJSON functions) and internals (Query compiler etc.) depend on this JSON.

2. Two query builder implementations (mutable and immutable) can target the same representation internally with same (or almost same) APIs.

3. Over time th

[2019-10-29 22:38] #3059 closed

[2019-10-29 22:43] kibertoad commented on #3059
Released in 0.20.1

[2019-10-29 22:44] kibertoad commented on #3422
Released in 0.20.1

[2019-10-29 22:44] kibertoad commented on #3485
Released in 0.20.1

[2019-10-29 22:44] kibertoad commented on #3367
Released in 0.20.1

[2019-10-29 22:45] kibertoad commented on #3340
Released in 0.20.1

[2019-10-29 22:45] #3340 closed

[2019-10-29 22:52] elhigu commented on #3499
@kibertoad I'm not saying that it should be encouraged, but I would really not like to make any breaking changes to schema API.

IMO the whole schema API should be re-implemented (with consistent functionality and same default parameters of different types which does not try to emulate certain type if it does not exist in that dialect etc.) and the old API should be left untouched to maintain supp

[2019-10-30 18:36] wwwouter commented on #3463
I can understand that without a C# background, lambda expressions can seem a little bit weird. Basically you use them to point to something you want. The reason I use them in the current iteration of typed-knex, is because it was the most typesafe and most succinct way to write that I could write query code.

I don't stringify the function, but do some stuff with Proxy to find out at run-time what

[2019-10-31 04:20] NguyenTheSon opened #3506 "seed --specific not working"
I ran the command 'knex seed: run --specific = filename.js'
command line error: error: unknown option `--specific'

[2019-10-31 12:50] sonalirhcl opened #3508 "RequestError: Connection lost - read ECONNRESET"
# Environment

Knex version: 0.15.2
Database + version:  Microsoft SQL + 12.0
OS: ubuntu 16.04

Select applicable template from below.
@ smorey2 , @ lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
unpredictable works at windows 10 system fine that is on my local not on dev environment which is at azure with ubuntu 16.04

2. Error message
RequestErr

[2019-11-01 07:36] Haisum92 commented on #2023
@Ginden , it raised due to two reasons at my side and so sharing for ease
_**Error: knex: Required configuration option 'client' is missing.**_

1. Wrong **environment name** in the knexfile.js.
    In my .env **NODE_ENV = development** and at **knexfile.js** there was no entry in it
[code]
 2. Wrong client name at configrations
         client: config.DB_DIALECT, // either key doesn't exits or wr

[2019-11-01 21:49] tmmcguire opened #3510 "Oracle: streaming over rows emits 'end' too soon"
# Environment

Knex version: 0.20.0
Database + version: oracledb 3.1.2 (not sure of Oracle DB version; will check)
OS: Windows / RHEL

@atiertant

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The 'end' message for the row stream does not obey stream.pause().

The following code runs a query on a table with a CLOB column and streams over the returned rows

[2019-11-02 17:06] lorefnon commented on #3506
what is the version of knex you have installed (both global and local) ?

[2019-11-02 17:10] lorefnon commented on #3504
I usually prefer [datetime]_[data/schema]_[tables] where tables is alphabetically sorted dunder separated names of tables affected.

[2019-11-03 06:21] abskmj commented on #3373
ORA codes are corrected part of PR #3498

[2019-11-03 10:11] kibertoad commented on #3373
@vpeltola Could you please try 0.20.1 and see if problem was fixed?

[2019-11-03 15:44] Level0r0s opened #3511 "Dialect Firebird"
please .Firebird support must be included in the official distribution.

Look
https://github.com/igorklopov/firebird-knex

https://github.com/FraGoTe/knex/tree/master/lib/dialects/firebird

[2019-11-03 15:48] kibertoad commented on #3511
Please check out https://github.com/knex/knex/blob/master/CONTRIBUTING.md:
[code]

Please let us know if there are any issues with maintaining these dialect modules due to some Knex implementation details, maybe we can provide some additional flexibility if needed.

[2019-11-03 15:48] #3511 closed

[2019-11-03 17:43] jeremychone opened #3512 "Build - Warning messages about missing mysql and sqlite peer"
# Environment

Knex version: 0.20.1
Database + version: Postgresql
OS: Mac, Linux

# Feature discussion / request

1. Explain what is your use case

We are using knex with Postgresql, but somehow on "npm install knex" we get the following messages:

[code]

This seems to have been there since 0.20, but not sure.

We are using postgres and those are warning messages for the developers or the DevOps

[2019-11-03 17:46] kibertoad commented on #3512
@jeremychone Which version of yarn/npm are you using? I think this is related to https://github.com/knex/knex/pull/3081 and should be resolved by upgrading your package manager.

[2019-11-03 17:51] jeremychone commented on #3512
@kibertoad npm 6.12.1, seems to be the latest.

[code]

[2019-11-03 18:53] kibertoad commented on #3512
@jeremychone Fixed upstream: https://github.com/npm/pacote/commit/7a400d3b4172d04d90d1699958c14b137bf93411

[2019-11-03 19:50] jeremychone commented on #3512
@kibertoad Thank you very much for this amazing responsiveness. Will check it out in next release.

[2019-11-03 20:21] kibertoad commented on #3512
@jeremychone You are welcome! I've submitted PR to npm project, hopefully they'll pick it up for the next release.

[2019-11-04 10:59] lpillai commented on #3467
Fix doesn't seem to work with BLOB data type.

Checked with knex v0.20.1: CLOB data can be retrieved successfully but knex hangs when retrieving data from a BLOB column. Debugging shows the execution waiting forever at line #353 when trying to concatenate two buffers:
        data = Buffer.concat([data, chunk]);
in knex\lib\dialects\oracledb\index.js"

I have oracledb v4.0.1 installed with 'Oracle

[2019-11-05 07:02] immortalx opened #3514 "Metadata added to queries since 0.15.0"
# Environment

Knex version: 0.20.1 mysql2 driver
Database + version: mysql 5.7
OS: Ubuntu 16

# Bug
The same query result comes with the metadata TextRow on Knex 0.20.1, this is true since 0.15.0.
Currently I'm using version 0.14.6 and tried to upgrade to the latest version.

[code]

Query:
[code]

0.14.6 Results:
[code]
0.20.1 Results:
[code]

[2019-11-05 07:22] notaphplover opened #3515 "Type definitions: QueryBuilder is no longer a Promise"
# Environment

Knex version: 0.20.1
Database + version: N/A.
OS: N/A.

This is a Typescript definition issue related, so I'm  tagging @lorefnon.

# Bug

Typescript is unable to threat a QueryBuilder as a Promise. On knex 0.19.5 it was possible to create a query like this one:

[code]

But now it's no longer possible:

`Conversion of type 'QueryBuilder<unknown, number>' to type 'Promise<any>' may b

[2019-11-05 08:27] elhigu commented on #3515
Your original typing was wrong. `QueryBuilder` is not a `Promise`, so correct typing would be:

[code]

If you want to return a `Promise` you must convert `QueryBuilder ` to `Promise`. You can do it by making delete to `async` method, which will implicitly resolve `QueryBuilder` (thenable) to `Promise`.

[code]

Or you can resolve `QueryBuilder` manually to `Promise`

[code]
[code]

[2019-11-05 08:37] kibertoad commented on #3514
Are you sure you are using same version of mysql driver in both cases?

[2019-11-05 10:21] immortalx commented on #3514
Yes, even tried different versions of mysql2 to make sure.

[2019-11-05 11:44] notaphplover commented on #3515
@elhigu Thank you so much for you quick response.

In Typescript, Promise<T> is an interface. Interface implementation in Typescript can be achieved in two ways: explicitly and implicitly. Typescript, as an OOP language supports polymorphism. Keeping this in mind, knex 0.19.5 implemented implicitly Promise<T>, but this implementation is no longer supported in knex 0.20.1, ¿is this made on purpose?

[2019-11-05 13:36] elhigu commented on #3515
@lorefnon can decide about this, but in my opinion it is dangerous to thing that you are saying that object returned from method is a Promise, when the returned object is actually not a Promise and does not behave like one.

Though you are right that one can think about it from many sides, but I don't see any upside of making QueryBuilder to pretend being a promise - only confusion.

Typescript is

[2019-11-05 13:47] KristjanTammekivi opened #3516 "Type Definitions: Awaiting on knex queries violates no-invalid-await rule from SonarTS"
# Environment

Knex version: 0.20.1
Database + version: Postgres 11.4
OS: Ubuntu 18.04

If issue is about TypeScript definitions, tag @lorefnon

This might be considered a duplicate of #3515, two sides of the same coin sort of deal

# Bug

1. Awaiting on querybuilders/raw queries violates [no-invalid-await](https://github.com/SonarSource/SonarTS/blob/1.9.0.3766/sonarts-core/docs/rules/no-invalid-a

[2019-11-05 14:43] elhigu commented on #3515
Is `PromiseLike` the actual interface that thenable's should implement? Thank API looks like thenable http://jbeard4.github.io/SCION-CORE/interfaces/__nvm_versions_v8_4_0_lib_node_modules_typedoc_node_modules_typescript_lib_lib_es5_d_.promiselike.html

[2019-11-05 14:43] notaphplover commented on #3515
@elhigu now I understand your point of view. You are absolutely right. Sorry, this was a bit confusing. Sincerely, I knew that theenables do not need to conform the Promises/A+ spec, but I did not get it in [this](https://github.com/knex/knex/issues/3515#issuecomment-549715489) comment 😅.

Now everything is clear, I will reconsider my code. But maybe docs should be changed, [some parts of them](ht

[2019-11-05 14:58] notaphplover commented on #3515
@elhigu I will keep the issue opened until the Typescript maintainers answer about the type question (on my opinion, PromiseLike is a good choice), but pls feel free to close this as soon as you want.

[2019-11-05 18:13] lorefnon commented on #3515
I agree with @elhigu that returning query builder from something whose return type is Promise is confusing esp. for someone new.

I am not opposed to adding a `Symbol.toStringTag` getter (which will return something like "QueryBuilder" and not "Promise") - though signature compatibility with Promise may not be the ideal reason for doing this.

Depending on `PromiseLike` seems like a good idea if y

[2019-11-05 19:41] notaphplover commented on #3515
That part describes well the behavior of the queries, but what I miss is what @elhigu explained previously: successive calls to QueryBuilder.then will generate different query executions. I don't find that in the docs. Maybe I'm missing something.

[2019-11-05 20:45] EdwardSo-GBI opened #3519 "Type Definitions: QueryBuilder type"
# Environment

Knex version: 0.20.1
Database + version: postgreSQL 11

@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using `knex(table).delete().where(column, 0)`, it returns a `QueryBuilder<Resource, number>` object. However, `number` doesn't seems to be an acceptable generic on `QueryBuilder`

2. Error message

 `Type '(resourceId: strin

[2019-11-05 23:06] notaphplover commented on #3515
I think we can close the issue now. Thank you so much for the quick responses and knowledge :)

[2019-11-05 23:06] #3515 closed

[2019-11-06 04:09] immortalx commented on #3514
@elhigu Sorry, i missed that changelog line in 0.15:

Thanks for your explanation!

[2019-11-06 04:09] lorefnon commented on #3516
I think this happens because their `hasThenMethod` [checks](https://github.com/SonarSource/SonarTS/blob/0a71d2479222264b8aa09d7d2d9f8d3490adfb0f/sonarts-core/src/rules/noInvalidAwaitRule.ts#L59) if `.then` property has `ts.SymbolFlags.Method` flag set which won't be in our case because we use a callable interface for the then property of Knex so `then` technically doesn't qualify as a method.

May

[2019-11-06 04:24] lorefnon opened #3521 "Use JSDoc comments to generate type definitions"
# Feature discussion / request

TS 3.7 makes it possible to use use `--declaration` and `--allowJS` simultaneously ([details](http://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#--declaration-and---allowjs)).

This means we can use JSDoc comments for public APIs and have typescript definitions generated from them.

I think this may be better than our current approach of s

[2019-11-06 08:11] elhigu commented on #3521
I don't see any reason why not to try it out 👍

[2019-11-06 08:28] elhigu commented on #3515
I agree... it is not correct, since "coerces" means that it will modify QueryBuilder to behave like a promise, which it does not.

Originally QueryBuilder was meant to be implemented to work like that, but I'm glad it never was implemented correctly. There would have been internal promise which is resolved just once and its result would have been returned on every `.then` call.

I think that docum

[2019-11-06 08:32] elhigu opened #5886 "Make promises part of documentation more clear"
Currently documentation basically says that calling `.then` makes query builder to a promise, which is not true.

http://knexjs.org/#Interfaces-Promises

Some discussion about it is found in https://github.com/knex/knex/issues/3515#issuecomment-550201065
but the whole section should be revised.

[2019-11-06 10:07] tejasmanohar commented on #2756
Is there a canonical solution here? I renamed a migration file from .js to .ts when migrating to Typescript, and I think Knex thinks it needs to re run the migration

[2019-11-06 12:24] elhigu commented on #2756
@tejasmanohar easiest way for you is to manually fix filenames in migration table. I don't thing that separating extension from migration filename check has been done.

[2019-11-06 12:36] tejasmanohar commented on #2756
@elhigu Cool cool, thats what I figured. Thanks!

[2019-11-06 12:36] elhigu commented on #3078
@idododu it is expected behavior that migration is created to the last of the configured migration directories. Please add feature request if you need it to work in a different manner.

[2019-11-06 12:50] elhigu commented on #3508
Sorry. Cannot reproduce, nor understand this report.

Please try to reduce the reproduction code of your problem to be runnable single file test code (without objection). Can be reopened if someone understands what is this about...

[2019-11-06 12:50] #3508 closed

[2019-11-06 13:17] amendezcabrera opened #3522 "Wrong data retrieving information from different tables together"
# Environment

Knex version: 0.20.1
Database + version: PostgreSQL 12.0.
OS: Debian 12 (DB) and Linux 4.14.148 (Boot2Docker) for the app

I'm retrieving data from two `many to many` related tables. I created a [sample project](https://github.com/amendezcabrera/knex-data-error) where I add three tables to the database, `dog`, `person` and `dog_person` which handles the relationship between both.
Th

[2019-11-06 14:11] elhigu commented on #3522
Sounds like you are hitting pg-driver functionality, where same column name from joined rows overrides original table's data.

You need to list manually fields that you like to get from joined tables:

[code]

[2019-11-06 14:48] amendezcabrera commented on #3522
Yes, I have been trying to do the same but using only the `pg` driver directly and it has the same behaviour, it seems that the JSON design is the guilty so we are going to manually require and alias the needed fields.
Thank you

[2019-11-06 15:12] elhigu commented on #3522
IIRC there is  actually some option which can be used to make driver to return row as an array of columns instead of an object, but it has not been tested how it works with knex. It actually might work anyways (though I wouldn't use it, since sounds like it would cause more inconvenience than it just having to list selected fields when joining).

[2019-11-06 15:12] #3522 closed

[2019-11-06 15:35] amendezcabrera commented on #3522
I gave it a try and the access to the data seems to be hardest than manually retrieving the required fields

[2019-11-07 00:26] rafamel opened #3523 "Bug: Connection terminated unexpectedly"
# Environment

Knex version: 0.20.1
Database + version: postgres:11.5
OS: Alpine Linux

Additional information:
- Database: I've confirmed the bug to happen in *postgres* versions at least up from `9.5`. The database is running on a container, currently [`postgres:11.5`](https://hub.docker.com/_/postgres).
- Knex environment: Knex is currently running on node v12, though I've confirmed the bug to

[2019-11-07 09:57] RayZoey opened #3524 "Problem about inserting array"
# Environment

Knex version:
0.19.5
Database + version:
postgreSql
OS:
os x and windows

# Bug
when i insert some data, contains array, knex.js will report an error
code:
<img width="421" alt="Snipaste_2019-11-07_17-55-52" src="https://user-images.githubusercontent.com/24807484/68378916-e73d7a00-0187-11ea-9775-6aaedc40d164.png">

error:
<img width="566" alt="Snipaste_2019-11-07_17-54-53" src="http

[2019-11-07 10:04] RayZoey commented on #3524
i think i find a solution
 Note that when setting an array (or a value that could be an array) as the value of a json or jsonb

[2019-11-07 10:04] #3524 closed

[2019-11-07 10:21] kibertoad commented on #3512
@jeremychone Can you try again with npm 6.13.0?

[2019-11-07 15:25] wtrocki opened #3525 "Invalid types in 0.20.1"
# Environment

Knex version: 0.20.1
Database + version: Postgress
OS: Macos

# Bug

 Migrating to 0.20.1 causing type error:
`
Type '"then" | "catch" | "finally"' does not satisfy the constraint '"then" | "catch"'.
  Type '"finally"' is not assignable to type '"then" | "catch"'.
`
https://app.circleci.com/jobs/github/aerogear/graphback/1295

[2019-11-07 21:28] wtrocki commented on #3525
Upon investigation. Types from 0.20.1 will clash if the project uses @types/knex.
Removing them will resolve problem.

[2019-11-08 08:32] iki commented on #1355
@arch-mage If there should be only single matching result, then it's a best practice to ensure it, common `single` implementations do it using `limit 2`. Here's how to add it to Knex.

[code]

@wubzz would you be interested in a PR adding the `single` method to `QueryInterface`?

[2019-11-08 08:52] iki opened #3526 "TypeScript Definitions: fix Knex.QueryBuilder.extend signature"
# Environment

Knex version: 0.19.5

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Function passed to `Knex.QueryBuilder.extend` uses `this` as `QueryBuilder` . However it is typed as `Knex`.

2. Error message

TypeScript complains about `QueryBuilder` methods like `toSQL` or Promise methods like `then` when used on `this` in the extending function.

```P

[2019-11-08 11:19] Frolanta commented on #2253
This is my two cents on the issue.
Note that I'm using Aurora PostgreSQL and maybe this is a very bad suggestion, I don't know ;)

Since aurora provide two endpoints: reader and writer (master) where the reader one load balance automatically between all read replicas, we can use only those two.

I show you how I split my queries between read and write and use the correct endpoint.

I also added a

[2019-11-08 12:23] wtrocki commented on #3525
Still happening

[2019-11-08 13:11] elhigu commented on #3523
Would be good if you can provide test code to verify that. For example simple example project with docker-compose file and knex app that waits long enough to encounter that error.

We have got various reports of that bug, but no-one has been able to show if the problem is in user's code or in knex.

If you can catch that error with env variable DEBUG=knex:* set it would also be helpful to verify t

[2019-11-08 13:50] elhigu commented on #3525
That page is not found... sounds like you have invalid typings somewhere? For example if you are passing QueryBuilder's around pretending them to be promises.

Can be opened if reproduction provided.

[2019-11-08 13:50] #3525 closed

[2019-11-08 15:31] oranoran opened #3527 "Support Postgres per-query type conversion"
Applies to: **Postgres with pg driver >= 7.10**

Until recently, `pg` driver supported only a global definition for converting SQL types returned from queries into JS types. Therefore users had to try and find a global configuration matching their needs.

For example, for supporting a high-precision float arithmetic in a specific query, a developer might need to use a custom converter into a JS hi

[2019-11-08 15:50] lorefnon commented on #3525
@wtrocki Is this happening only in Node 8 ?

[2019-11-08 15:51] lorefnon commented on #3526
@iki Since you have already figured out the solution, would you consider creating a PR for this ?

[2019-11-08 16:05] wtrocki commented on #3525
@lorefnon Using node 10

[2019-11-08 16:06] elhigu commented on #3527
There is an API to pass extra arguments to driver for query...  https://knexjs.org/#Builder-options

If that doesn't work, lets convert this issue to bug report.

[2019-11-09 00:02] tjr226 opened #3529 "Unique constraint not working in SQlite3"
# Environment

Knex version: 0.19.5
Database + version: sqlite3 4.1.0
OS: macOS mojave 10.14.5

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I would like to force a field to be unique. But when I run the migration, the generated DDL code in SQLiteStudio doesn't show a Unique constraint.

2. Error message

Here's the generated DDL code. This is consistent

[2019-11-09 16:28] galkatz373 opened #3530 "MSSQL database with json query doesn't work"
I'm trying to query json with knex and it doesn't work,
It does work with regular sql query.
I'm using MSSQL

Example to query that doesn't work:
`knex("versions").select("JSON_QUERY([Data], '$')")`

[2019-11-09 19:22] elhigu commented on #3530
You need to use knex.raw like when calling functions.

[code]

[2019-11-09 19:22] #3530 closed

[2019-11-09 20:50] oranoran commented on #3527
Got it, I missed this existing API.
Hopefully it works for this use case, let's see.

[2019-11-10 03:50] citycide commented on #3525
This is also likely due to the TypeScript `target` or `lib` array in your tsconfig. You'll need to target `es2018` or newer, or include `es2018.promise` as a lib. `Promise.prototype.finally` is an ES2018 feature that only Node 10+ supports.

[2019-11-10 04:25] lorefnon commented on #3525
This should get fixed (by https://github.com/knex/knex/commit/af129408ca7173bfa0f4a777fb5d3206339cd634) once master is released.

[2019-11-10 10:28] rafamel commented on #3523
I have good news! After further investigating the issue, I believe I can point towards a solution -I'll leave that for last, as there's a bit to unpack.

Unfortunately, I haven't been able to reproduce the error locally, even with the same setup and compose configuration as the remote server. It is quite a strange thing, as the only difference I can appreciate between both environments is I'm runn

[2019-11-10 13:03] elhigu commented on #3523
Thank you very much. Those findings are really useful. Looks like things are happening as I expected so that error is not either happening or registered before it is taken away from pool and data is actually sent over the connection.

One can probably work around this issue by setting minimum pool size to 0 and set idle timeout to be like 5 minutes or so. In that way connections will be discarded

[2019-11-10 13:51] wtrocki commented on #3525
@citycide Thank you so much! This was the issue. I have cleaned up types but only when I have added promise lib it started working.

[2019-11-10 14:07] rafamel commented on #3523
Hi, thank you for taking the time ;) In general, I can see where you're coming from, however:

I'm failing to get the point here. When a connection error occurs, knex will discard it and acquire a new one, hence there's a expectation that connection errors (not other kind of query errors, but yes, connection errors) will be handled, when possible to reconnect, by knex. This case fits there, with t

[2019-11-10 21:39] elhigu commented on #3523
I have explained why knex does not retry on connection errors or on any other errors so many times to so many people that I should probably just find a link to some older discussion 😬

If there is a connection error when connection is in pool we know that it is not used by anyone so it is owned by knex and we can do what ever we want to with it (actually we don't discard it until someone tries to

[2019-11-10 21:48] elhigu commented on #3504
Knex does not have any opinion how you should name these. Except that it will run them in alphabetical order. I personally do `<datetimestamp>_feature-name-to-which-migration-relates` or `<datetimestamp>_tell-what-migration-does`.

Anyways I usually just use search to see all actions done to a table...

[2019-11-10 21:48] #3504 closed

[2019-11-10 23:51] #3519 closed

[2019-11-10 23:51] #3472 closed

[2019-11-11 02:33] RayZoey opened #3533 "Update if it exists, otherwise insert"
Knex version:
0.19.5
Database + version:
Postgre

Hi there,i have some question,when i use knex 'insert' or 'batchinsert',i don't know how to create or update
1.if the record is exist, i want to update them or ignore
2.if the record is not exist, i want to insert them

Does anyone have a simple plan? Thanks.

[2019-11-11 02:35] RayZoey commented on #3533
i don't want use raw

[2019-11-11 08:57] vukhoa30 opened #3534 "Migration doesn't rollback after failed on OracleDB"
Knex version: 0.20.1
Database + version: OracleDB 18.3.0
OS: Ubuntu
The issue is about oracledb support, tagging @atiertant

Hello knex team, my app is supporting Postgresql and already using several migration files. Now I'd like it to support OracleDB as well, and see an issue when trying to do the migrations.
When I executed a migration file, it failed midway but the scripts executed before that

[2019-11-11 10:10] elhigu commented on #3534
Oracle DB like mysql does auto commit after each query that changes schema https://docs.oracle.com/cd/E11882_01/server.112/e41084/statements_1001.htm#SQLRF30001 . So schema updates cannot be rolled back automatically with those databases. You need to add error handling manually.

If you want a generic way to be able to rollback failed migration on oracle/mysql/sqlite you will need to take backup d

[2019-11-11 10:10] #3534 closed

[2019-11-11 11:02] elhigu commented on #3533
You need to first select row for update in transaction, if no results do insert with .insert(...) if it did exist update needed columns with .update(...). There is no support for on conflict feature of postgres.

Related feature request: https://github.com/knex/knex/issues/3186

[2019-11-11 11:02] #3533 closed

[2019-11-11 11:56] pepsivontwist opened #3535 "knexfile migration path not working properly when in subfolder"
# Environment

Knex version: 0.19.5
Database + version: SQLITE3
OS: OSX 10.14.6

Knexfile:

[code]

# Bug
Knexfile is in `config/knexfile.js`

When running knex migrate from CLI in the root folder with a path to the knexfile, it uses the migration path relative to the knexfile, which is incorrect.

When running the application and passing the knexfile contents to knex when initializing, it uses th

[2019-11-11 12:11] rafamel commented on #3523
Hi, thank you for taking the time of explaining the reasoning for this (yet again). I know it can get tiring; thank you.

From your previous statements I got the idea that passing errors and not retrying queries was intentional, but not necessarily not handling connection errors. Your latest explanation makes it clear that it is your intent that connection errors are explicitly managed by the user

[2019-11-11 13:11] donpaul120 opened #3536 "How to set VARIABLES for a session using KNEX"
Prior to running a query is it possible to set a mysql variable e.g
SET SESSION group_concat_max_len = 1000000;
`SELECT GROUP_CONCAT(...) FROM tableName;`

[2019-11-11 16:03] ctusch commented on #3523
I'm having the same problem. It's very hard to reproduce since it's only occurring on the system of my remote colleagues (no docker). I can run the server here and have it idle for hours and it still doesn't happen. Also no signs of it on our dockerized ECS instance. They all connect to the same Postgres server. I'll try the workaround.

[2019-11-11 16:06] tjr226 commented on #3529
Closing issue because my code already forces the Unique Constraint.

Seems like SQL actually performs two commands - first to create the table, then another command to create the unique index. I was seeing the first but not the second.

Tested and confirmed that this existing code forces unique constraints - check out this helpful SO answer for more details

https://stackoverflow.com/questions/587

[2019-11-11 16:06] #3529 closed

[2019-11-12 03:20] lorefnon commented on #3535
I don't think this is desirable. This will always require people to run knex cli from the project root where as currently I can run a run knex commands wherever I am in the directory tree.

In general having relative paths behave same as require is a reasonable choice IMHO.

[2019-11-12 07:54] Ali-Dalal commented on #2253
@Frolanta Thanks for the idea. Are you sure this gonna work with Aurora pgsql with read replica? I have exactly the same stack (nodejs, aurora postgres) but I also included bookshelf.js above knex.

but overall, it worth to implement this as a feature inside Knex API

[2019-11-12 07:55] elhigu commented on #3536
https://knexjs.org/#Installation-pooling-afterCreate

[2019-11-12 07:55] #3536 closed

[2019-11-12 09:52] pepsivontwist commented on #3535
The issue here is that it's not behaving in a consistent way.

[2019-11-12 12:38] elhigu commented on #3523
Certainly that would be good to have 👍

[2019-11-12 13:16] johncmunson commented on #3380
I can confirm that these both work equally...
[code]
[code]

[2019-11-12 23:46] bri3d opened #3538 "creation of rows in knex_migration_lock table is not safe concurrently"
# Environment

Knex version: 0.19.5
Database + version: XtraDB 5.7
OS: CentOS

# Bug

We have encountered a concurrency-related issue around the knex_migration_lock table. The issue we have observed is as follows:

3 nodes concurrently try to execute db.migrate.latest() against a database which has not yet been initialized for use with Knex.

The knex_migration_lock table is created with three ent

[2019-11-12 23:47] bri3d commented on #3538
I think this  might be #3457 , but against MySQL rather than Postgres.

[2019-11-13 00:04] bri3d commented on #3457
@johnmaia - I think we are experiencing the same issue. I filed #3538. It can be more easily reproduced with process-level concurrency rather than IO concurrency - that is, by executing that same promise chain in many Node processes concurrently. However, a reading of the code shows that the issue is clearly possible, as outlined in my comment. Please let me know if this helps or you can reproduce

[2019-11-13 08:28] elhigu commented on #3538
Please add simple single file reproduction code. Explaining steps is not enough.

It is normal behavior that `Migration table is already locked` error is thrown if you are running multiple migration calls / processes at the same time.

[2019-11-13 08:36] elhigu commented on #3538
That might be a bug (but not necessarily since actual locking is done at different stage). I just read migration / migration locking code once more and I still feel that it could be better... It seems to be also using implicit transactions for every database, which might cause problems with mysql, oracle and sqlite...

[2019-11-13 10:38] elhigu commented on #3380
Anyways test case for afterCreate should be added. That is why I have left this open.

[2019-11-13 17:34] johnmaia commented on #3457
@bri3d, yes it seems to be the same issue. I've followed your suggestions and I was able to recreate the same problem with process-level concurrency. I've ran the following node script:

[code]

On 5 concurrent processes with the following bash script:

[code]

And got the following output:

[code]

Thanks for referring my issue!

[2019-11-13 19:57] bri3d commented on #3538
Yes, but it is not normal behavior that the lock is never correctly released and migration cannot ever succeed in the future.

Let me be more clear about the observed behavior as well as try to provide a test case. Unfortunately testing concurrency is challenging in a "single file" type of scenario, but I will do my best to provide something that can illustrate the issue we saw. In my reading of t

[2019-11-14 16:34] mastermatt commented on #3512
I am still seeing this output on npm 6.13.0

[2019-11-14 17:03] jeremychone commented on #3512
@kibertoad Sorry for the delay. As the comment above, still see it:

[code]

[2019-11-14 18:31] #3434 closed

[2019-11-14 19:28] davidlandais commented on #203
Does this still working for you guys ?
I have tried to use table.index('title', null, 'FULLTEXT') and the SQL result is :
`alter table `products` add index `products_title_index`(`title`)`

Even using table.index('title', null, 'BOOM'), knex isn't throwing an error and the sql result is the same.

Did i missed something ?

[2019-11-14 20:21] kibertoad commented on #3512
@jeremychone @mastermatt  OK, it could be that it needed to be published with newer npm. Can you please try 0.20.2 and see if you still get it?

[2019-11-14 20:22] kibertoad commented on #3434
Released in 0.20.2

[2019-11-14 20:22] kibertoad commented on #3472
Released in 0.20.2

[2019-11-14 20:23] kibertoad commented on #3519
Released in 0.20.2

[2019-11-14 22:28] mastermatt commented on #3512
0.20.2 no longer prints the warning for me with npm 6.13.0. Thanks

[2019-11-14 22:28] #3512 closed

[2019-11-14 22:28] kibertoad commented on #3512
Thank you for reporting back!

[2019-11-14 22:30] jeremychone commented on #3512
Yep, same here, knex 0.20.2 with npm 6.13.0 does not print the warnings.

[2019-11-14 22:31] kibertoad commented on #3512
You are welcome!

[2019-11-15 11:43] z3us94 opened #3540 "How to get multiple error happening records from a btach insert?"
Environment

Knex version: 0.20.2
Database + version: postgres 9.6
OS: Ubuntu 18.4

# Questions about how to use knex

Hey guys,
My problem is that im doing batch insert to a table where it has a composite key. What i want is when there is an instance where one record is in the DB and duplicate records getting entered, get the duplicate records that fails from the error. But all im getting is the

[2019-11-15 15:31] ivan-kleshnin commented on #1446
@Offirmo are there better solutions at the moment?

I'm trying to use Knex with Zeit and getting down the rabbit hole:

[code]

causes

[code]

[2019-11-16 11:58] kibertoad commented on #1446
@ivan-kleshnin fs-migrations doesn't work with Webpack.

Check `Webpack migration source example` part on https://knexjs.org/ for working solution.

[2019-11-16 21:18] Offirmo commented on #1446
@ivan-kleshnin is'nt that only a warning? I have it as well, my app works fine.

[2019-11-17 09:08] ivan-kleshnin commented on #1446
@Offirmo thanks! I somehow fixed those warnings by restructruring my folders. Not sure if it's relevant to the issue so I won't describe my steps in details.

[2019-11-18 20:17] ghost opened #3542 "Make dialects chosen more-statically"
# Environment

Knex version: 0.2.02
Database + version: N/A
OS: N/A

# Feature discussion / request

Right now, a dialect is chosen by passing a string to the constructor. This leads to a fair number of issues in webpack ([like these](https://github.com/knex/knex/issues?utf8=%E2%9C%93&q=is%3Aissue+webpack+)) and also means that a lot more code can get bundled than is actually needed.

What would b

[2019-11-19 09:42] elhigu commented on #3542
You can replace modules that you are not using with stubs in webpack and you will not end up with any extra code. Also dialects can already be setup as separate packages which is described for example in contributing.md and loaded without using static strings.

However this feature is much wanted and very well known issue (and possibly dupplicate) and I think we may be able to improve this in back

[2019-11-19 12:41] jsilveira2 opened #3543 "Use leftJoin with condition in inside on;"
# Environment

Knex version: ^0.16.3
Database + version: postgres
OS: Windows 10

# Doubt

1. I need make a select using left join with multiple conditions inside on;
2. One of this conditions needs to be: column in array;

My sql: **SELECT * FROM table1 LEFT JOIN table2 ON(table1.columnA in (1, 2, 3, 4, 5));**

My attempt at: **knex.select('*').from('table1').leftJoin('table2', function({
  this.

[2019-11-19 12:48] elhigu commented on #3543
http://knexjs.org/#Builder-onIn

[2019-11-19 12:48] #3543 closed

[2019-11-19 17:12] dsbert opened #3544 "mssql stream out of memory"
# Environment

Knex version: "0.20.2"
Database + version: SQL Sever 2016
OS: Windows 10

@smorey2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Running into out of memory exceptions when using the stream interface for MSSQL. The stream should handle back-pressure correctly and pause the readable. However, as far as I can tell, there are two problems that

[2019-11-19 17:32] jsilveira2 commented on #3472
Hi, i updated my knex version to 0.20.2, but i still cant use distinctOn.
Knex return:  **knex(...).distinctOn is not a function**;

Do i have to call the method like this? knex('table1').distinctOn('columnA').

[2019-11-19 17:54] lorefnon commented on #3472
@jsilveira2 Can you please provide an example of how you are using it ?

[2019-11-19 18:01] jsilveira2 commented on #3472
@lorefnon Yes of course, thanks for answer.

My complete query:

[code]

I using after select, but i try before and the same error is returned.

Sorry for my bad english.

[2019-11-19 20:10] codeclown commented on #3186
After taking a stab at implementing this, here's some more things to consider I unfortunately found out:

|          | can support ignore() | merge({ ... }, ['foo']) works | merge({ ... }, []) works |
| --- | --- | --- | --- |
| Mysql    | No* | No** | Yes |
| Postgres | Yes | Yes | [No](https://stackoverflow.com/a/39134240/239527) |
| Oracle   | [Yes](https://stackoverflow.com/a/17946783/239527)

[2019-11-19 20:23] JCMais commented on #269
I suppose this issue can be closed, since the mentioned PR above has been merged.

[2019-11-20 07:51] SherloxFR commented on #3186
Hey @codeclown, just trying to understand here.

For the `ignore()` part, the Postgres version is `ON CONFLICT DO NOTHING` right ?
If so, why would you need to have a workaround with schema knowledge in MySQL if you can just `INSERT IGNORE INTO` ?

Am I missing something here ?

[2019-11-20 10:09] elhigu commented on #3186
@codeclown Thank you for further investigation! I think we can work around those limitations to still have crossdb compatible functionality in addition to more DB specific variations (which can be used if there is no need to support multiple DBs).

To give more schema knowledge for method, we can give one more options parameter to the API where user can provide necessary information to make some c

[2019-11-20 11:31] fiznool commented on #1364
Just to weigh in with my own 2c: I've also been searching for a way to validate that the DB is up and accepting connections during app boot. I've opted to go for `SELECT 1` as the 'validation query' as this [appears to be well supported across various different databases](https://stackoverflow.com/questions/3668506/efficient-sql-test-query-or-validation-query-that-will-work-across-all-or-most).

[2019-11-20 11:44] AndreiIgna commented on #2354
Just encountered a similar problem with MySQL.

Until now I was using `mysql` lib directly with a connection string like this one `mysql://user:pass@localhost/db?socketPath=/cloudsql/project:region:dbname`
This was fine until I switched to using Knex, with same connection string. The config parser Knex doesn't use the query strings, so the connection to database fails.

I've checked the implementa

[2019-11-20 12:18] alecdotico opened #3546 "Redshift: column "knex_migrations.id" has unsupported type "serial""
# Environment

Knex version: 0.20.2
Database + version: Redshift, cluster version 1.0.11262
OS: Node 12 docker image (Debian)

# Bug
Knex migrations don't work with Redshift, but the documentation doesn't mention that it is not supported.
1. Migration schema [attempts to create](https://github.com/knex/knex/blob/9aa7085b052938dc5252d10b2b418a475637eda5/lib/migrate/table-creator.js#L39) an `id` col

[2019-11-20 12:28] elhigu commented on #3546
ping, @acofer who is taking care of redshift dialect

[2019-11-21 00:04] acofer commented on #3546
I’ll take a look tomorrow.

[2019-11-21 14:15] fiznool opened #3548 "Inserting a JSON value with an `undefined property` via `knex.raw` causes an exception"
# Environment

Knex version: 0.20.2
Database + version: SQLite 4.1.0
OS: macOS Catalina

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using a JSON column, inserting a JSON value with `undefined` via `knex.raw` causes an exception.

The code below demonstrates this issue. Note this is obviously a contrived example - the bug originally manifested itse

[2019-11-21 18:28] ericbiewener commented on #1928
I think `timestamps()` needs to either provide this auto-update functionality or the docs need to explicitly state that it does not. I simply assumed that functionality was a critical reason for why the `timestamps()` method exists at all.

[2019-11-22 11:15] o8e opened #3549 "Property 'after' does not exist on type 'ColumnBuilder'"
# Environment

Knex version: ^0.20.2
Database + version: MySQL
OS: macOS 10.14.6

_@lorefnon / typescript_

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Should be able to use after() on ColumnBuilder

2. Error message

`Property 'after' does not exist on type 'ColumnBuilder'. Did you mean 'alter'?ts(2551)`

3. Reduced test code, for example in https://np

[2019-11-22 11:59] frimuchkov opened #3550 "Lost async context withount manually .then"
# Environment
Knex version: 0.17.3
Database + version: PotgreSQL 11
OS: Ubuntu 18.04
Node.js: 12.2

Hi!
I have found some strange behavior.

In this case:
`
await knex.select('id').from('table').then(res => res)
`
knex/lib/interface.js "then" will be execute in current async context (async chain)

![Current context](https://user-images.githubusercontent.com/19934346/69423965-7f1a9680-0d38-11ea-996

[2019-11-22 12:08] kibertoad commented on #3550
Can you try with latest knex version? Could be bluebird shenigans.

[2019-11-22 13:03] frimuchkov commented on #3550
I updated knex and bluebird to latests versions, but It didn't help

[2019-11-22 13:23] kibertoad commented on #3550
Thanks, I'll take a look.

[2019-11-22 14:11] tkambler commented on #2964
@jaskle Did you ever figure out a workaround for this?

[2019-11-22 22:13] acofer commented on #3546
Oh! I see the problem. In your `knexfile.js`, you have `client: 'postgresql',`. That's why it's trying to create a `serial primary key` column for `id` when the schema builder calls `t.increments()`.

Change it to `client: 'redshift',` and it will instead use `integer identity(1,1) primary key not null` for that column.

Let me know if that doesn't work.

[2019-11-24 19:25] KristjanTammekivi commented on #3550
Related to https://github.com/nodejs/node/issues/22360

[2019-11-24 21:18] towc commented on #949
can I argue this is a fairly common usecase, and I'd be fine if it actually just limited to 1 and turned to a boolean for every implementation? It could then use optimizations, but the main point is that it helps keep your code semantic

[2019-11-25 07:38] KristjanTammekivi commented on #3516
Reported it in sonarts now, closing this one

[2019-11-25 07:38] #3516 closed

[2019-11-25 09:31] alecdotico commented on #3546
Indeed, that worked like a charm! Thanks a lot, Adam.

I couldn't find that option on the documentation, nor dig that much into the source code. Is there any specification of the `knexfile.js` config?

[2019-11-26 08:46] mohaalak commented on #882
I write a module that does this even it generate types for it
https://github.com/mohaalak/nested-knex

[2019-11-27 01:49] robmcguinness commented on #3467
I'm seeing the same results as @lpillai

- **knex** `v0.20.2`
- **instant client** `v19.3.0`
- **oracledb** `v4.0.1`

investigating 🤔

[2019-11-27 02:19] robmcguinness commented on #3467
Modifying the `readStream` function at https://github.com/knex/knex/blob/f4099af3fbf416975b44295ca3af1ac8a3a878ed/lib/dialects/oracledb/index.js#L342 to

[code]
resolves the issue. This essentially splits the code to handle streams of type `string` differently from non-strings.

I'll try and submit a PR possible.

[2019-11-27 07:49] elhigu commented on #3540
No, there is no way to get all errors. I'm not even sure if it is possible in SQL to do since multiple rows are added with single query and on first error all rows in the query are rolled back. batchInsert is meant to either successfully insert everything or insert nothing.

[2019-11-27 07:49] #3540 closed

[2019-11-27 07:58] #269 closed

[2019-11-27 08:11] elhigu commented on #3548
JSON does not support `undefined` values so this seems to be more like undefined behavior than a bug...

http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf

What do you expect to be written to DB if you do an insert like that? Are you expecting that key should just not be added to `jsonb` column if its value is `undefined` (the same way that JSON.stringify does)?

Also I'm p

[2019-11-27 08:20] elhigu commented on #3548
However this still might be a bug, since I don't think that knex should try to do anything to the object that has undefined inside.

[2019-11-27 14:04] Bouncey opened #3553 "Postgres client not parsing node-native BigInt insert values"
# Environment

Knex version: 0.20.2
Database + version: Postgres 10.10
OS: Ubuntu

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Postgres client not parsing node-native `BigInt` insert values correctly, other clients can handle them correctly.

2. Error message
None

3. Reduced test code
[code]
Output:
[code]

[2019-11-27 14:08] kibertoad commented on #3553
Does the same work when you are using `pg` driver directly?

[2019-11-27 14:22] Bouncey commented on #3553
If I use `pg` directly, the `BigInt(Number.MAX_SAFE_INTEGER * 2)` value gets added to the `count` column correctly.

[2019-11-27 14:22] elhigu commented on #3553
Try `.toSQL()` or running real query with BigInt.  `.toString()` should be only used for debugging. However I suppose that could be fixed. IIRC pg driver indeed calls toString() of parameter binding automatically... or maybe it was some special function for conversion from object -> sql.

[2019-11-27 14:24] kibertoad commented on #3553
@Bouncey Would you consider contributing PR with a failing integration test that passes with other dbs? Should be an easy fix from there.

[2019-11-27 14:34] Bouncey commented on #3553
`.toSQL` does indeed parse the `BigInt` correctly.

I'll see what I can muster up with a PR

[2019-11-27 21:04] kibertoad commented on #3467
@robmcguinness Is is the same as https://github.com/knex/knex/pull/3545/files?

If you can confirm that fix is sufficient, I can release a new version with fix.

[2019-11-27 21:10] robmcguinness commented on #3467
@kibertoad it does appear to be the same and more concisely written 😄

[2019-11-27 21:18] kibertoad commented on #3467
Released in 0.20.3

[2019-11-27 21:18] #3467 closed

[2019-11-27 21:19] kibertoad commented on #3467
@robmcguinness Please let me know if new version fixes the issue for you!

[2019-11-27 23:18] maximelkin opened #3555 "oracledb transaction"
# Environment

Knex version: 20.3 and older
Database + version: oracle
OS: any

Select applicable template from below.
@atiertant

# Bug

1. Incorrect behavior for failed to commit transaction
commit error will trigger unhandled rejection
https://github.com/knex/knex/blob/1ca7bc2f2b1e683d60bb906cf182d3010c3ecde3/lib/dialects/oracledb/transaction.js#L70

[2019-11-27 23:20] maximelkin commented on #3555
Also not sure this._rejecter(err) call is needed, because disposer will be called only after executionPromise (see lib/transaction.js) fulfilling

[2019-11-28 00:22] robmcguinness commented on #3467
the fix appears to work. much appreciated @kibertoad! 🙏

[2019-11-28 16:06] atiertant commented on #3555
@maximelkin do you have some code to reproduce a bug?

[2019-11-28 18:41] maximelkin commented on #3555
Nope, I found it by just looking at code

[2019-11-28 18:44] maximelkin commented on #3555
commitAsync always resolved with undefined (see https://github.com/knex/knex/blob/1ca7bc2f2b1e683d60bb906cf182d3010c3ecde3/lib/dialects/oracledb/index.js#L109)

and commitAsync rejection not handled

[2019-11-29 12:53] KaKi87 commented on #545
Hello,

This issue should be reopened and a connection method should be implemented.

Thanks

[2019-11-29 15:36] elhigu commented on #545
@KaKi87 nope. This should not be reopened and I have no idea what you mean by connection method 🤷‍♂ Please open a feature request if there is a new feature that you would like knex to have.

[2019-11-29 22:21] evasyuk commented on #1855
I am very glad that everyone of you ran into this trouble and noone explained how to fix that.

In order to get rid of this problem you need to perform manual counter reset to appropriate number.

example query to run: ALTER SEQUENCE product_id_seq RESTART WITH 1453
how to find 'product_id_seq' using DBeaver: open desirable table, open details for exact column, take a look at pkey_constraint

<img

[2019-11-29 22:22] evasyuk commented on #1855
I am very glad that everyone of you ran into this trouble and noone explained how to fix that.

In order to get rid of this problem you need to perform manual counter reset to appropriate number.

example query to run: ALTER SEQUENCE product_id_seq RESTART WITH 1453
how to find 'product_id_seq' using DBeaver: open desirable table, open details for exact column, take a look at pkey_constraint

[2019-11-29 23:05] dyllandry commented on #1855
The fundamental problem: Don't manually insert primary keys because postgres' auto_increment value will not update, and when it is later used to automatically set a new row's primary key, it will conflict with an existing row.

Somewhere in resolving this problem, if you do want to take advantage of postgres' auto increment feature, you must stop manually setting new rows' primary keys and modify

[2019-12-01 18:04] evasyuk commented on #1855
@dyllandry IMHO you are facing in the wrong direction. Seems like I should agree that problem is fundamental and you has to avoid inserting primary_key within your business logic, but I faced this problem after perfoming 'batchInsert' operation. In this case I can not avoid insert of primary_keys operation. Seems like this problem is inavitable, while you are still quite right

[2019-12-01 18:19] dyllandry commented on #1855
@evasyuk right. If you have to do it, just be aware auto_inc must be caught up.

[2019-12-02 10:04] evasyuk commented on #1855
so far the best solution described in the similar topic: https://github.com/knex/knex/issues/2130

[2019-12-02 10:34] fiznool commented on #3548
@elhigu thank you for your replies.

Thanks for bringing this to my attention, TIL!

I'm not really sure what the 'correct' outcome of this should be. I'm flagging this up since the error message is a little confusing, and it requires digging into the query in more detail with the `DEBUG` env var to really get to the bottom of things:

[code]

At a minimum I guess the error message should include

[2019-12-02 10:40] elhigu commented on #3548
That is what user application should do at least with postgresql. Knex cannot do that internally, because knex does not have any information about column types in DB schema. So when you tell knex to insert something to DB it should just pass that value to DB as is.

Anyways the part where `.raw` causes object in binding to be unwrap needs more investigation so lets leave this open and maybe someon

[2019-12-02 14:30] fiznool commented on #3548
Agreed. Perhaps there can be something further in the documentation that advises this.

I've just modified my code to use `JSON.stringify()` the values and this works nicely, so I will use this from now on.

[2019-12-02 19:48] ebekebe opened #3557 "Incorrect time zone handling for postgres timestamps"
# Environment

Knex version: 20.2
Database + version: postgres:11-alpine
OS: Docker on Mac and Linux

# Bug

Postgres distinguishes between timestamps with timezone information and those without. This bug is only concerned with timestamps without timezone information.

Knex deserializes timestamps without timezone information incorrectly:

[code]

Instead of the exected value, knex returns `2019-0

[2019-12-02 19:50] ebekebe commented on #3557
Nevermind, just realized it is an in-house parser issue.

[2019-12-02 19:50] #3557 closed

[2019-12-03 05:47] nikitamankovskii opened #3558 "`knex migrate:up` gives error `TypeError: initKnex(...).migrate.up is not a function`"
Hello, i need to make a single migration, when i tried `knex migrate:up filename.js`:
[code]
also some info:
[code]

[2019-12-03 08:08] kibertoad commented on #3558
Knex local seems outdated, can you update it?

[2019-12-03 08:29] nikitamankovskii commented on #3558
@kibertoad you right? but still having this:
[code]
i tried this, but i though its same error, my bad

[2019-12-03 08:39] kibertoad commented on #3558
Check tarn.js documentation for supported options, you are passing wrong pooling parameter in your connection config.

[2019-12-03 10:18] jpike88 opened #3559 "Knex 0.20.3 knexFactory type is a non-promise value"
# Environment

Knex version: 0.20.3

I'm getting errors all over the place like this:

[code]

The knexFactory variable type seems to be broken.

[2019-12-03 10:32] jpike88 commented on #3559
Would be nice to add some type tests to the test suite as this is a pretty fundamental way to break

[2019-12-03 11:44] elhigu commented on #3559
Policy is that each fix actually should have regression test included.

[2019-12-03 14:31] MyElectricSheep commented on #1091
Ok, quite late as well for @techniq 's question, but for people needing a `dropColumnIfExists` alternative (yes, it does happen we don't know for sure which column will actually exist); I did the following that worked well:

First I defined my target tables in an array, then mapped through it with an index, and for each table, mapped through the columns I needed to remove. It went like this:

`con

[2019-12-03 22:29] a2937 opened #3560 "Preload dotenv with commandline argument"
# Environment

Knex version: 0.20.3
Database + version: Postgres Sql
OS: Windows

# Feature discussion / request

1. Explain what is your use case
Recently I found out that I am able to preload my dotenv file via the require argument when running my node application. It has actually been preferred to do this according to the dotenv development team.
`"node -r dotenv/config your_script.js"`

Unfort

[2019-12-04 18:54] Ygilany opened #3561 "BatchInsert doesn't work with SQLite"
# Environment

Knex version: 0.20.3
Database + version: Sqlite3 - npm package 4.1.0
OS: macOS

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm no

[2019-12-05 04:17] nikitamankovskii commented on #3558
yeah, it is. thank you so much, closing issue

[2019-12-05 04:17] #3558 closed

[2019-12-05 10:12] hansnull commented on #3559
BTW: Knex version 0.20.1 and 0.20.2 have the same problem.

[2019-12-05 14:54] kibertoad commented on #3559
@jpike88 Can you provide some example code that fails to build for you?

[2019-12-05 20:39] douggr opened #3563 "columnInfo fails if you use connectionString/connectString (postgres)"
# Environment

Knex version: 0.20.3
Database + version: postgres (any)
OS: any

# Bug

`columnInfo` fails if you use `connectionString`/`connectString` instead of full connection options.

Digging it further, I think this is related to `connection.database` being empty.

**Works**

[code]

**Buggy**

[code]

[code]

[2019-12-06 00:16] timscott opened #3564 "Dynamic LIKE is Impossible"
# Environment

Knex version: 0.20.2
Database + version: MS SQL Server

# Bug

It seems there is no way to do a dynamic like.

[code]
Logs this:

I tried many other ways:

```.whereRaw('target_name like ?', [`\%${q}\%`])```

And:

```.where('target_name', 'like', `%${q}%`)```

And:

```.whereRaw(`target_name like '%${q}%'`)```

And:

````.whereRaw(`target_name like '\%${q}\%'`)````

If it's not a b

[2019-12-06 03:21] jpike88 commented on #3559
Typescript 3.6.3

[code]

![Screen Shot 2019-12-06 at 10 21 33 am](https://user-images.githubusercontent.com/9585787/70292930-3374ec00-1812-11ea-9e5f-5a8c43874e42.png)

[2019-12-06 07:12] wubzz commented on #3548
In the past we've always recommended and applied the `JSON.stringify` technique for dealing with this issue. I'm not so sure this should be classified as a bug. Knex is actually in the right here since it detects the undefined value correctly, as intended. Knex has no way of knowing if this undefined value was intended to be undefined or not, so taking the safe route of exiting could also top pote

[2019-12-06 16:44] timscott commented on #3564
Upon further investigation, the bug is in the logging. The [utility](https://github.com/visionmedia/debug/blob/825d35a2da0a9fa115baffea2f07d22b876332fc/src/common.js#L67) that formats output for logging makes a mess of percents.

[2019-12-07 03:42] lorefnon commented on #3559
TSlint can be configured to allow thenables other than Promise.

From their docs:

So something like:

[code]

should fix this.

[2019-12-07 12:18] jpike88 commented on #3559
I already account for type “thenable” in my tslint, wasn’t this how it’s supposed to work

[2019-12-07 14:34] #3564 closed

[2019-12-07 17:42] lorefnon commented on #3559
As the quoted part of the docs states, the tslint rule just compares by name. So specifying `Thenable` wouldn't work unless we use a type named `Thenable` which we currently don't.

We recently stopped using the Promise type (https://github.com/knex/knex/issues/3422) so this would have started failing for you after that. Technically though, what knex query builder returned was never a promise.

[2019-12-07 20:58] MrToxy commented on #2907
Any news on this?

[2019-12-07 21:14] kibertoad commented on #2907
@MrToxy Is this https://github.com/knex/knex/pull/3187 what you are looking for?

[2019-12-07 21:16] #3526 closed

[2019-12-07 21:18] MrToxy commented on #2907
Not really, I don't think  #3187  is actually correct in the "refresh" context.
Taking a look at laravel's artisan, running `php artisan migrate:refresh` will re-run all of the migrations creating fresh tables with no data, that's exactly what I'm looking for.

[2019-12-07 21:19] kibertoad commented on #2907
@MrToxy Wouldn't you get same thing if you run first rollback:all, and then migrate:all?

[2019-12-07 21:22] MrToxy commented on #2907
@kibertoad can't find any references to migrate:all

[2019-12-07 21:27] kibertoad commented on #2907
@MrToxy Sorry, should actually be `migrate:latest`

[2019-12-07 22:57] #3363 closed

[2019-12-07 23:06] kibertoad commented on #3363
Released in 0.20.4

[2019-12-07 23:06] kibertoad commented on #3526
Released in 0.20.4

[2019-12-07 23:06] kibertoad commented on #3564
Released in 0.20.4

[2019-12-08 00:21] MrToxy commented on #2907
Alright that did the trick, thanks.
I have another question, let me know if I should open a new issue for this but here it goes.

I'm using strapi which has some issues, mainly it doesnt create migrations and when you delete/rename a table field it doesnt actually delete it from the table, and if you rename it'll just create a new field with the new name but keep the other.
This could be easily fi

[2019-12-08 06:51] lorefnon commented on #2907
@MrToxy You can use the [knex.mgirate](http://knexjs.org/#Migrations-API) API along with a [custom migration source](http://knexjs.org/#custom-migration-sources).

[2019-12-08 10:51] MrToxy commented on #2907
Could you link me an actual working example of a custom migration source?

[2019-12-08 14:00] hansnull commented on #3559
This seems to be confusing, as a developer I would expect a promise.

[2019-12-08 14:25] denysaw commented on #203
Guys ) I've thought off workaround without any .then()'s:
`table.index(null, 'product_fulltext_index', "GIN (to_tsvector('english', name || ' ' || description)); SELECT NOW");`

[2019-12-09 03:17] designalchemy commented on #54
Did this get added ?

[2019-12-09 05:06] designalchemy commented on #738
any update?

[2019-12-09 08:23] elhigu commented on #738
No. This issue is now tracked in https://github.com/knex/knex/issues/3186

[2019-12-09 08:23] #738 closed

[2019-12-09 08:24] elhigu commented on #54
There is feature request and spec in https://github.com/knex/knex/issues/3186

[2019-12-09 08:38] elhigu commented on #3548
No. Knex should not see that `undefined` value since it is inside an object that is passed as parameter binding. `knex.raw('?', [insert]);`

One possibility why it happens could be the named bindings feature, where bindings are passed as an object. Might be that when query is done through `knex.raw` instead of plain `.insert` somehow those kick in even that they should not...

[2019-12-09 08:59] elhigu commented on #3563
This is not supported. If you want to use connect string you should do

[code]

However there is room for improvement how knex should support different database driver's native connect strings / generic parseable connect strings and connection objects in a way that obligatory connect parameters needed internally by knex will always be parsed.

[2019-12-09 19:03] maximelkin commented on #3561
@Ygilany is this browser or node?

[2019-12-09 19:21] poliha opened #3570 "Debugging is turned on by default and can not be turned off."
# Environment

Knex version: 0.20.3
Database + version: postgresql 11.5
OS: mac

I am not sure if this a bug or by design, but it seems that debugging is always on and you can't turn it off.  The documentation says

So I expect that if this flag is not passed, I should not get debug messages. But this is not the case.  These messages can be overwhelming. Its hard to keep up when running migrations

[2019-12-09 21:32] AlexSench commented on #1964
Removing port from knex config fixed it for me.

[2019-12-09 21:33] AlexSench commented on #1939
Removing port from knex config fixed it for me also.

[2019-12-09 21:37] boggddan opened #3571 "Knex doesn't support knexfiles written in ECMAScript Modules"
Hi,
Knex-cli does not work with [ECMAScript Modules](https://nodejs.org/api/esm.html#esm_code_package_json_code_code_type_code_field) when i run migrate.

# Environment
node: 13.3.0
knex: 0.20.4

package.json
[code]
knexfile.js

[code]

[code]

Output error:

[code]

Thank's

[2019-12-10 08:16] elhigu commented on #3570
Please add your reproduction code / output prints. I have never seen debug prints if I haven't asked for them. Closing until more info is provided.

[2019-12-10 08:16] #3570 closed

[2019-12-10 09:43] elhigu commented on #3561
Please add full reproduction code for this. Closing until more info provided.

[2019-12-10 09:43] #3561 closed

[2019-12-10 14:58] Ygilany commented on #3561
This is node.
Lib function
[code]
route function:
[code]
test with Jest
[code]
The test times-out not matter what timeout setting I used. The same test works fine when running with other databases. so it's not an issue with jest.
[code]
also as I mentioned in the issue above, when I commented out the delay function in the batchInsert file, it works

[2019-12-10 14:59] Ygilany commented on #3561
@elhigu more info is added, please re-open

[2019-12-10 17:16] jerinseba opened #3575 "knex_migrations already exists"
# Environment

Knex version: 0.16.3
Database + version: PostgreSQL 10.6
OS: alpine (docker)

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I have a

[2019-12-10 19:14] maximelkin commented on #3561
@Ygilany by default jest uses jsdom for running tests

[2019-12-10 19:32] MrToxy opened #3576 "Custom migration source not working"
# Environment

Knex version: 0.20.4
Database + version: MySQL, latest
OS: MacOs Mojave

I'm using strapi alongside knex, however strapi doesn't create any migrations and when you edit a content type (Model) by deleting a property or renaming it, it doesn't delete the targeted property, it just creates a new one, and when you delete a model it doesn't actually delete the table on the database.
This

[2019-12-10 21:13] elhigu commented on #3561
@Ygilany that reproduction should depend only from knex package (and preferably be single runnable file)... problem you are encountering still might be caused by something else (for example the thing that @maximelkin pointed out)

[2019-12-10 21:16] elhigu commented on #3575
This needs information about your knex config and existing DB schema (where is that knex_migration table that knex doesn't notice, but which prevents from re-creating it).

[2019-12-10 21:54] kibertoad commented on #3575
@jerinseba What could be happening is that you used schema name as a part of tableName parameter for migrations. This is no longer valid. Instead, use explicit schemaName parameter. See https://github.com/knex/knex/pull/2559/files

[2019-12-11 00:43] jerinseba commented on #3575
@elhigu, @kibertoad Thanks for the quick reply. Please find the configuration below.

migrations: {
    directory: __dirname + "/migrations",
    schemaName: "public",
    tableName: "knex_migrations"
  },

The application is using a different schema.

[2019-12-11 05:25] jerinseba commented on #3575
config/knexfile.js
[code]

app.ts
[code]

[2019-12-11 06:46] elhigu commented on #3575
Thanks! When you look your database in which schema that `knex_migrations` table is?

[2019-12-11 07:16] jerinseba commented on #3575
It is there in public schema.

[2019-12-11 07:46] jordansoltman opened #3577 "Time zone configuration is not used for insert causing dates to be inserted improperly"
# Environment

Knex version: 0.16.3
Database + version: mysql 5.7
OS: MacOS 15.1

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When inserting into the database, knex ignores the timezone configuration and dates/times are always assumed to be local.

2. Error message

N/A

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs rea

[2019-12-11 08:00] elhigu commented on #3577
Your problem is that when you create `new Date(...)` it is a local time.

[code]

So it doesn't matter what timezone you configure to your database driver. It affects only how data is returned from database and (maybe) how timestamps without timezone are inserted. Date object always has timezone info so by inserting `new Date(2019, 11, 10, 10)` you are telling DB that it should store '2019-11-10T1

[2019-12-11 08:31] jordansoltman commented on #3577
Thanks for the quick reply, but I still think it's a problem. I am creating a date intentionally in local time as an example.

The knex implementation of dateToString (in the lib/query/strings.js file) which seems to be based off of the sql string library adds a line `const timeZone = ctx.timeZone || 'local';`. The problem is, that the timeZone is never passed down here so dates are **always** ass

[2019-12-11 08:51] elhigu commented on #3577
Could you add complete (runnable single file) reproduction code to show your problem exactly. Code shown in original post does work as it should. So you should add also the code for example schema creation to see complete picture what are you doing.

[2019-12-11 08:54] elhigu commented on #3577
Also I thing knex should not do any handling to date objects... it has been confusing for years that everything else is passed directly to the driver, but dates are handled differently... 😕

[2019-12-11 09:28] jordansoltman commented on #3577
Yes, it is quite confusing! But dates are a pain, so I'm not surprised it's a bit messy.

  I'll work on a fully executable example, but in the meantime will leave this for consideration.

With both mysql and knex using the exact same config, `{ connection: {   ..., timezone: "UTC" }, client: "mysql" }`

[code]

`knexString` is equal to `"insert into `users` (`date`) values ('2019-12-11 01:25:33.3

[2019-12-11 12:25] dsbrgg opened #3578 "expirationChecker won't recreate connection object with Postgres client"
# Environment

Knex version: 0.20.3
Database + version: psql (PostgreSQL) 12.1
OS: macOS 10.14.6

# Bug

The `expirationChecker` property on the connection  object is not being called to recreate the connection object with new credentials for the database, even though the timeout was reached.

The first time that a request is being made, it works fine but after the timeout, it won't allow to make

[2019-12-11 16:27] jordansoltman commented on #3577
Alright, I've put together some fully working code that reproduces the issue:

[code]

If you run this on a computer **not** in the UTC timezone, you'll get something like this:

```MySQL Driver Query insert into `users` (`date`) values ('2019-12-11 16:25:34.552')```
```Knex Query insert into `users` (`date`) values ('2019-12-11 08:25:34.499')```

The dates being inserted are completely different

[2019-12-11 16:49] o8e commented on #3549
@lorefnon would really like to remove `//@ts-ignore` from these migrations soon. Any idea?

[2019-12-11 16:56] elhigu commented on #3577
Thanks! Opening this until I have time to check if that is expected or not.

[2019-12-11 17:33] elhigu commented on #3577
Looks like mysql driver does modify Date() objects according to timezone configurations 👍 So I would say that there is a bug in knex that it touches Date objects before passing them to the driver.

Here is also runkit which calls .toSQL().toNative() which is more close to the actual query that is ran https://runkit.com/mikaelle/5df12776671025001a63d3e2

Knex messes up Date object to string before

[2019-12-11 17:39] kibertoad commented on #3577
@elhigu I am fine with releasing this as a breaking change in next major version.

[2019-12-12 16:39] bdahon commented on #3447
I tried again to  reproduce the error, but still without success. I tried to restart the database, kill connections, .... And the validation at the pool stage works fine. However we still have the isssue on all our environments.

@elhigu Any idea on how to reproduce a ECONNRESET error ?

[2019-12-12 17:14] stevesob commented on #2092
Where or how can this be set in KNEX from MSSQL?
sql.map.register(String, sql.VarChar)

Can it be done in the initial config?

Since all my tables use VarChar and all parameters from Knex are NvarChar, all queries cause a table scan.

[2019-12-13 04:14] lorefnon commented on #3576
My familiarity with Strapi is limited, so I may be somewhat wrong in inferring your use case.

Also, what I don't have clarity is whether these changes to schema happen at development time or in the deployed application.

At a high level, you have basically two options:

1. Generate the source code that uses knex APIs for migrating tables using a template engine like liquid and invoke them through

[2019-12-13 04:23] lorefnon commented on #2092
@stevesob You can use the type mapping API in node-mssql documented [here](https://github.com/tediousjs/node-mssql/blob/a16180bd4253656753093de08cb50a627808b6b2/README.md#input-name-type-value).

Please consider opening new issues instead of commenting on issues that were closed years ago.

[2019-12-13 04:34] lorefnon commented on #3571
So far ES modules are not explicitly supported by Knex.

I guess to support this, we need to:

1. Detect whether knexfile/migration/seed file is a module (by looking at extension: mjs or looking at package.json type field).
2. In case of module, we can use [dynamic import](https://nodejs.org/api/esm.html#esm_code_package_json_code_code_type_code_field) instead of require if the environment support

[2019-12-13 04:47] lorefnon commented on #3559
You you write `knex('foo')` you can either await on it directly, or continue building the chain further down `knex('foo').select(['col'])`. This makes APIs much more convenient.

If you really want a promise, you can call `chain.then()` when you are done.

[2019-12-13 04:47] #3559 closed

[2019-12-13 04:49] lorefnon commented on #3521
I explored on this briefly: One pain-point is that this has to be an all-or-nothing migration.

I couldn't find a clean way to just add comments to some js files and continue using them alongside manual typings, which makes this a somewhat larger endeavour.

[2019-12-13 06:51] elhigu commented on #3447
I have tried to reproduce that in multiple different ways, closing / restarting database, killing connections with SQL queries, using toxiproxy to cut / slowdown connections in certain time or after sending some amount of bytes and running all that in stress test looping. Still I have no idea how to get this error...

Where is your DB server running in production environment? Maybe trying to get _

[2019-12-13 08:19] kibertoad commented on #3571
@lorefnon wasn't module support declared stable in latest Node?

[2019-12-13 12:27] lorefnon commented on #3571
They made it possible to use without a flag. But stability level in docs is still marked as experimental.

[2019-12-13 12:50] kibertoad commented on #3571
@lorefnon My mistake. You are right :)

[2019-12-13 14:35] bdahon commented on #3447
We get that behaviour on all our cloud hosted instances. Our production instance is deployed on a VM without any sort of proxy. Our dev / test instances are running as docker containers on kubernetes, which are exposed to the outside world through a nginx reverse tcp proxy.

[2019-12-15 12:43] elhigu commented on #3447
Is it cloud hosted just so that virtual machines are in the cloud or somekind of clound managed instances like RDS or google? If they are plain VMs you could try to launch those production VMs locally and see if they work the same that docker instances does. That could rule out differences in database configuration / version / build.

[2019-12-16 03:27] jordansoltman commented on #3577
Upon further review, knex is **not** modifying the dates before they go to the DB. It appears that the toString() method is what is incorrectly showing the dates.

[2019-12-16 03:27] #3577 closed

[2019-12-16 03:34] jordansoltman commented on #738
Just a warning! The .toString() method is for debugging only and **does not handle dates when a timezone is set on the connection correctly.**

[2019-12-16 05:46] elhigu commented on #3577
@jordansoltman Looks like you are right.

I checked out again the bindings in that example and yup that date actually is an objects, I was also confused about how runkit printed out those date objects :)

[2019-12-16 20:04] loujaybee commented on #3377
Agree'd I confused another engineer for a while today about why it wasn't emitting the promise object as a string. Is the `.toString` method overwriting the inherited `.toString` prototype method? If so I believe that alone would be a strong enough use case to deprecate and replace the name.

[2019-12-17 09:36] bdahon commented on #3447
We have a bit of  both, VMs we own, and cloud managed instances (Google Cloud SQL). We could not reproduce it locally.
We tried a suggested fix which was to set the pool minimum size to 0 (we had a greater value before), and the problem seems to be gone.

[2019-12-17 12:14] osherElmakayes opened #3582 "Connection string timeZone not working"
Hey,

(DB is mysql)
I have tried to find any solution for this and there was many threads opened here but none of them was closed for good reasons,

I am trying to init a knexConnection with connection string and timezone params in the connection string, from some reason he does not read the timezone property to UTC,
When I try to do as object like :
{
host..
password..
user..
timezone:
}
its all

[2019-12-17 15:43] Speedkore opened #3583 "error: "error running transaction query" is not throwing exception"
# Environment

Knex version:     "knex": "^0.20.4", "pg": "^7.14.0"
Database + version: PostgreSQL 11.3 on x86_64-pc-linux-musl, compiled by gcc (Alpine 8.3.0) 8.3.0, 64-bit
OS: debian testing

This code below should return an exception while inserting a FK id that doesn't exists, instead executes trx.commit() and returns a silent debug error "trx1 error running transaction query". In the other ha

[2019-12-17 19:24] nhusby commented on #3178
Hopefully you've solved this problem (perhaps by accident) by now, but I'll post as an FYI for anyone that comes across it.

If I read correctly, you're seeing an 11 second round trip on the first query (which is reporting as 37ms execution time).  That's like a quarter of eternity in CPU time.  The phenomenon you're experiencing is probably a DNS lookup.  The lookup has to go across the internet

[2019-12-17 20:59] ben-turner commented on #3377
It isn't a promise—it's a query builder. Promises don't have methods like `select`, `where`, or `join`. The best string representation of the query builder is the current query itself, which is what `toString` outputs. The issue is that many users expect `toString` to output safe SQL, which it doesn't.

[2019-12-18 15:12] Lowhearth opened #3584 "Lost bind messages while seeding large datasets"
Bind message supplies less parameteres than required while seeding large datasets:

  `  bind message supplies 54542 parameters, but prepared statement "" requires 185614 `

I imagine this is a problem with the length of the query executed since the seeding data contains 18 000 ish rows,

Just wanted to know if my assumptions are correct and which will be the correct aproach for seeding such a lar

[2019-12-18 20:06] tkambler opened #3585 "fetchAsString config option missing from types"
# Environment

Knex version: 0.20.4
Database + version:
OS:

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

fetchAsString config option missing from types

# Feature discussion / request

1. Explain what is your use case

2. Expla

[2019-12-18 23:13] elhigu commented on #3583
This might be a bug... but you are using knex transaction in a wrong way. You should also keep reference to the Promise returned by knex.transaction(...) call.

Try this:

[code]

Also checkout `knex.transactionProvider` example from documentation. We should checkout from code, how trx.commit() and trx.rollback() actually works and clarify it in documentation. It might be that calling `await trx.c

[2019-12-19 01:52] madeinspace opened #3586 "EDGE SCRIPT1028: SCRIPT1028: Expected identifier, string or number"
# Environment

Knex version: 0.20.4
Database + version:
OS: windows 10

# Bug

1. Errors on Edge trying to run my Nextjs application

2.SCRIPT1028: SCRIPT1028: Expected identifier, string or number (client.js)

3.  initializePool(config = this.config) {
    if (this.pool) {
      this.logger.warn('The pool has already been initialized');
      return;
    }

    const tarnPoolConfig = {
      **..

[2019-12-19 05:02] helxsz opened #3587 "Error: ORA-12154, could execute oracle database query"
# Environment

Knex version: latest version
Database + version: oracle 11
OS: mac os

@atiertant

i am using knex to work on an oracle database.here is my code to execute a sql query.

[code]

The code throws out an error saying

any idea how to solve it?

P.S. as i am using oracledb library, it is working very well. The code is shown below

[code]

[2019-12-19 08:12] elhigu commented on #3587
You can check what kind of query is sent to DB by setting DEBUG=knex:* environment variable to shell, before executing the code.  Also your direct oracledb code doesn't show which query is working.

However from exception it actually seems that your oracledb connection parameters are wrong somehow, since pool is not able to get connection from your database. You doesn't seem to have
`connectString

[2019-12-19 08:12] #3587 closed

[2019-12-19 08:19] elhigu commented on #3586
Please add steps to reproduce the error. Doesn't sound like a knex problem. Can be re-opened if there are any reason to believe that this is a bug in knex.

[2019-12-19 08:19] #3586 closed

[2019-12-19 10:51] Speedkore commented on #3583
Indeed your way works correctly and it would save me from missing to put a commit or a rollback. I will change my code everywhere with this way. And you are right again, a clear example as you showed me would be great in documentation, thanks a lot!

[2019-12-19 11:13] elhigu commented on #3584
Try to insert them in smaller batches. Databases has limitations how many bindings / how big statements can be sent to them in single query.

[2019-12-19 11:13] #3584 closed

[2019-12-19 11:45] elhigu opened #5887 "Document exact behavior of trx.commit() and trx.rollback()"
Currently it is unclear if

[code]

does/should throw an exception if committing fails. Also docs mention that trx.rollback() returns rejected promise, which is not true.

ref: https://github.com/knex/knex/issues/3583#issuecomment-56725445

[2019-12-19 11:46] elhigu commented on #3583
Added issue about documentation to documentation repository.

[2019-12-19 11:46] #3583 closed

[2019-12-19 13:56] lynxtaa opened #3588 "No colors in debug mode after 0.20.4 update"
# Environment

Knex version: 0.20.4
Database + version: Postgres
OS: Windows

# Bug

After 0.20.4 update there are no colors in debug mode.

Version 0.20.3:
<img width="336" alt="Screenshot 2019-12-19 16 52 26" src="https://user-images.githubusercontent.com/22496946/71179040-6b534900-2280-11ea-9056-0438ad43c9af.png">

Version 0.20.4:
<img width="337" alt="Screenshot 2019-12-19 16 53 07" src="https

[2019-12-19 16:44] chelliwell opened #3589 "Question: Using .raw in a transaction"
MySQL + knex 0.20.2, Windows OS

I have a complex raw query, as part of a transaction.
I tried .trx.raw(), but that "is not a function". I got it working with a .select because the first item in the raw query is a SELECT.
So far I have

[code]

But I find I need to ensure a USE on the correct database.
So really, I need to 'raw' the whole thing. Or else some other way to get the transaction perfor

[2019-12-19 16:52] kibertoad commented on #3589
@chelliwell This sounds strange, Knex.Transaction interface extends Knex, so it should have .raw method on it. Can you share exact code that is not working for you?

[2019-12-19 17:16] chelliwell commented on #3589
That's pretty much an accurate precis of the code as I have it now.
A simple/dumb example that shows the .raw error is:

[code]
dbConn is the standard _require('knex')({  })_  object.

It throws "trx(...).timeout(...).transacting(...).raw is not a function"

But even if/when that is fixed, I'll still get the deprecated warning for no tableName. It doesn't seem to flood my log file, but it might no

[2019-12-19 17:54] jpgilchrist opened #3590 "Batch Insert Optimization for MSSQL"
The batchInsert functionality is incredibly inefficient. Shouldn't it utilize the underlying driver's utilities for batch processing? I.e., for mssql it should use

https://github.com/tediousjs/node-mssql#bulk-table-options-callback

[code]

EDITED BY @mercmobily: Docs task folded from #3975: document batchInsert parameter limits (MSSQL 2100; SQLite 999) and the sizing formula (chunkSize × columnC

[2019-12-19 23:36] SephReed commented on #1684
Not working for me.  Returns an object not a string.  Can't find any documentation on it.

[2019-12-20 06:55] wubzz commented on #3589
I believe it's because you're calling `trx()` and then `.raw`. The first call returns a `queryBuilder` which if I'm not mistaken does not contain a `.raw` function.

`trx.raw` exists but not `trx().raw`

[2019-12-20 19:55] SephReed opened #3591 "Empty .update() call detected! Update data does not contain any values to update. This will result in a faulty query"
I get this bug all the time.  It's a nightmare to debug.

It'd be really helpful if wherever this error is coming from, some information on what table/column/etc was being modified, and what the bad data is.

[code]

[2019-12-21 11:47] elhigu commented on #3591
Your application is sending empty object to update() query. You might be able to trigger that error earlier if you add debug code near to you .update() queries which will call query.toSQL() before actually awaiting the query builder. Closing as this is not a knex bug, but user error / usage question.

[2019-12-21 18:47] elhigu commented on #3589
also when you are using trx.something etc. you don't need to add `. transacting(trx)`. It is needed only if you start building query directly from knex instance.

[2019-12-21 18:47] #3589 closed

[2019-12-21 18:47] elhigu commented on #3589
Closing as user error if no more broken examples (where knex is used correctly) are given.

[2019-12-21 20:27] elhigu commented on #3588
https://github.com/knex/knex/commit/65e1a3a3d0fd2107059d22736ec8c7379c3095a9

Maybe that commit could mess them if color codes does use % char for something... I suppose with debug mode you mean the debug attribute in knex config (there is also environment variable DEBUG=knex:*  which adds debug prints).

[2019-12-21 22:26] elhigu commented on #3590
IMO batch insert should not even exist in knex level, since it iis more of a helper than a single query that is built.

Anyways if this kind of optimization is implemented to mssql dialect with good integration tests that it works the same way with other drivers I don't have any reason why not to accept PR for this (if it doesn't complicate any other parts in knex).

[2019-12-23 07:01] ShGKme commented on #2998
It works but... why? It doesn't look right solution as `--knexfile` supposed to work.

[2019-12-23 11:43] wubzz commented on #3548
@elhigu That is not how it is designed. The check for undefined values/bindings is recursive. Arrays, objects, they all apply. So yes, by design it should detect it, and it does.

Whether or not the circumstances behind that design has changed or not I do not know.

[2019-12-23 19:45] elhigu commented on #3548
Not sure if designed to work that way, but seems to be implemented at least that way.

Might be that unlimited recursion there is an accident which was to make handling array of bindings vs. single binding easier.

Anyways that certainly sounds like invalid functionality. There is no way for knex to know how to properly check for internals of different type of objects that are actually passed dire

[2019-12-24 15:18] willsoto commented on #3032
@elhigu I am working on this now, but I am curious: is it possible to know where in the query builder chain a particular method was called?

I am looking to address the following point:

I think this API would be much more useful if the user had the ability to inject arbitrary raw expressions into the query as it is being built.

Here is another - somewhat contrived - example:

[code]

would outpu

[2019-12-24 18:43] elhigu commented on #3032
Afaik the data is just accumulated to the query builder instance on every call. So there is no way to separate each `.raw` call after they are merged together and they will be appended to the query builder state in the same order how calls to `.raw`
were executed.

[2019-12-25 14:47] brunolm commented on #2998
@ShGKme these are the changes needed to make it work: https://github.com/knex/knex/pull/3005

But no one wants to address it, since `cwd` works I'm happy enough to just accept that.

[2019-12-26 05:34] ebugusey opened #3594 "Warning when running migrations with data update"
# Environment

Knex version: 0.20.4
Database + version: MariaDB 10.4.10
OS: Knex - Windows 7, DB - docker 10.4.10+maria~bionic

# Bug

I have 2 migrations:
1st creates a table:
[code]
2nd fills it with data (because it's a dictionary):
[code]
When I run `knex migrate:latest` I get a warning `Transaction was implicitly committed, do not mix transactions and DDL with MySQL (#805)` referring to issue

[2019-12-26 10:34] KristjanTammekivi commented on #3594
I believe it runs all migrations in the batch in the same transaction so if one fails it rolls them all back

[2019-12-27 01:05] tsondergaard opened #3595 "knex uses synchronous API"
Running node with --trace-sync-io for an application that uses knex outputs warnings such as this one:

[code]

Using a synchronous API is undesirable even if the randomBytes() function is normally very fast. If for no other reason, just for the fact that it makes --trace-sync-io much less useful when knex creates a lot of noise.

Looking at the use if uuid.v4() in knex master branch (commit a613f

[2019-12-27 05:47] ebugusey commented on #3594
I think it should run each migration in a separate transaction, because migration is atomic operation on a database.
It's expected behavior, because other migrators (like FluentMigrator for .net) do it as well.

[2019-12-27 10:55] elhigu commented on #3595
It is used to allow to certain event handlers to know that some events are happening to the same query.

Perf is not an issue here, since it is not any bottleneck in knex query execution. But getting rid off the `WARNING: Detected use of sync API` warning is good enough reason to change it.

[2019-12-27 11:51] kibertoad commented on #3595
@tsondergaard Would you consider opening PR for this?

[2019-12-27 12:54] tsondergaard commented on #3595
Yes, I will be happy to.

[2019-12-28 12:46] gjtorikian opened #5888 "Can you release docs for 0.24.1?"
Thanks!

[2019-12-28 19:08] SephReed commented on #3591
This is a user error, but I'm putting in a feature request for better error messaging.

Obviously I did something wrong, but if the error message I get doesn't help me understand, you've also done something wrong.

[2019-12-28 20:56] kibertoad commented on #3591
I agree.

[2019-12-28 21:34] #5888 closed

[2019-12-28 21:36] #3591 closed

[2019-12-28 21:37] kibertoad commented on #3595
fixed in #3596

[2019-12-28 21:37] #3595 closed

[2019-12-28 22:59] #3588 closed

[2019-12-28 23:11] kibertoad commented on #3588
Released in 0.20.5

[2019-12-28 23:11] kibertoad commented on #3591
Released in 0.20.5

[2019-12-28 23:12] kibertoad commented on #3595
Released in 0.20.5

[2019-12-29 01:22] shanestillwell opened #3598 "0.20.5 has DOS line terminators, breaking knex seed:run"
# Environment

Knex version: 0.20.5
Database + version: pg: 7.16.0 (postgres 11.6)
OS: macOs Catalina

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
When running `knex seed:run`, get an error.
[code]

2. Error message
[code]

`find . -name "*.js" | xargs file -k {} \;`

[code]

All files have **dos** style line endings. Changing them to unix fixes the prob

[2019-12-29 09:44] egorovli commented on #3598
Having the same issue. This temporarily fixes it, as @shanestillwell mentioned:

[code]

[2019-12-29 10:24] kibertoad commented on #3598
I wonder at what stage it got messed up, if git or npm is to be blamed. Can you check if line endings are correct in repo itself?

[2019-12-29 10:27] kibertoad commented on #3598
OK, I think I know what happened - autocrlf for git only works when committing stuff back, but not on npm publish, so I published wrong terminators from my local machine. will try to fix it now

[2019-12-29 10:31] egorovli commented on #3598
@kibertoad, in `master` with latest commit a2a66605a3 all line endings are fine.

[2019-12-29 18:33] elhigu commented on #3598
I always configure git to preserve original line endings also on windows... Is prettier configured to also use linux line endings? Or were those broken only for some files? I think we could also use .gitattributes to force line endings.

[2019-12-29 19:00] fer22f opened #3600 "RFC: Add a `.asSubQuery()` or `.asNonExecutable()` and `.asExecutable()`"
# Feature discussion / request

1. Explain what is your use case

Take a code that builds a subquery:

[code]

Now, because we are dealing with `async` functions, `myQuery` will work, but for the wrong reasons: `mySubQueryBuilder` will start fetching right away and return results, and won't be embedded into the query. A code that would work is as follows:

[code]

But now we can't do anything fanc

[2019-12-29 19:09] elhigu commented on #3600
This has been popping up every now and then. I still don't think it is a good idea to add this to knex.

This is common problem when coding javascript and it doesn't make any sense for knex to have some specific way how to treat this when one can easily solve the problem by wrapping the asynchronously built query builder to an object like this:

[code]

Having dedicated way for knex to do it doesn

[2019-12-29 19:09] #3600 closed

[2019-12-29 19:12] elhigu commented on #3600
Old discussion about the subject found here: https://github.com/knex/knex/issues/2940

[2019-12-29 19:21] kibertoad commented on #3598
@elhigu Sources in git are fine, and my git client was actually converting back to unix endings on commit correctly. Problem was with publishing from my new machine since that doesn't convert anything pre-publish 😅 . Reconfigured now, and will unpublish and republish.

[2019-12-29 19:30] kibertoad commented on #3598
@shanestillwell @egorovli Could you please try 0.20.6?

[2019-12-29 23:04] adrianhelvik commented on #3571
I am writing some code for a new project now. I'd rather use ESM than CommonJS or Babel, as the project is a long way from reaching production status. So I for one would be very happy if this was fixed!

[2019-12-29 23:30] fer22f commented on #3600
Seems reasonable. Thanks.

[2019-12-30 03:05] shanestillwell commented on #3598
@kibertoad 0.20.6 works as expected. Thanks for the quick turn around.

[2019-12-30 03:05] #3598 closed

[2019-12-30 21:45] D10221 commented on #3571
Hi ,
@lorefnon , I can see we had the same idea :)
One thing I'm not convinced ....  is the 'import' keyword.
It will move the engine requirement up to v13 without experimental flags, ...because
Node v8.x, v9.x needs '--experimental-modules' to avoid  syntax error "Unexpected token import"
Node v10, v11, v12 needs '--experimental-modules' to avoid  syntax error "Unexpected token export"
Node v13 w

[2019-12-31 05:22] D10221 commented on #3571
Related to my previous comment on the 'esm' loader , I pushed a [branch](https://github.com/knex/knex/compare/master...D10221:%233571_('esm')) on my repo related to it
Includes a small test case that I ran on node v8/10/12 & 13 and it seems to be doing just right
Do you think it could be a better solution?

[2019-12-31 10:14] davidrtpereira opened #3602 "Cannot read property 'type' of undefined"
Error executing query on table with column with data type CLOB.

[code]

What is your Oracle Database version?
11G

Table Structure SQL

[code]

Error:

![image](https://user-images.githubusercontent.com/20539715/71599095-38367280-2b28-11ea-8512-d5b1d06a941d.png)

console.log **stream** variable:

https://gist.github.com/davidrtpereira/3f6b4e152d898018dcc15974858af757

Modificated lines 340 and 34

[2019-12-31 18:41] lorefnon commented on #3571
@D10221 Sorry, I didn't see your commit before. You can continue with your branch here, I don't mind discarding my PR.

I haven't looked very closely into esm module, but it looks promising.

[2020-01-01 01:04] Level0r0s commented on #2766
@kerwynrg  not found dialect firebird in

This is the repo Knex(0.15.2) with Firebird FWIW.

please send

[2020-01-01 05:05] D10221 commented on #3571
@lorefnon No prob. at all ...I wouldn't mind dropping mine either.
I'll continue testing  the seeds/migrations with 'esm' ...
I stumble on a 'esm' [issue](https://github.com/standard-things/esm/issues/855) with package.type.module , it might defeat the purpose

[2020-01-02 11:13] D10221 commented on #3571
I did setup a [repo](1), kind of a big gists, where I run the migrations,seeds and share the configration using almost exclusively ESM modules.
All that with ['esm'](2) loaded externally, without the need to touch knex source.

The basic Idea is that you need to launch node with `-r esm`.
So esm can handle the requires.

It does get a bit noisy when your main package is type='module' or you want t

[2020-01-02 18:28] jamesgeorge007 opened #3603 "[CLI]: warning message showing up on passing in the root command"
Typing in `knex` is expected to show up the help information and exit. But, as of now a warning message shows up which isn't intended.

[2020-01-02 19:39] jakecoffman opened #3605 "oracledb not releasing connection from pool after disconnect"
# Environment

Knex version: 0.20.6
Database + version: Oracle 12c
OS: Linux & OSX

@atiertant

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do:

When oracledb falls of the network or the application can't connect and there's an open transaction, the pool doesn't empty. After the pool is full we see `Knex: Timeout acquiring a connection. The pool is probably

[2020-01-02 22:40] briandamaged commented on #2998
I spent the afternoon looking into this because I was encountering a closely-related initialization problem.  I believe that @brunolm 's assessment is correct: the `Liftoff#launch(..)` method is being invoked w/ the wrong parameters.  You can see the details in #3005

Roughly speaking, `Liftoff` appears to behave as follows:

[code]

Since there is currently a bug in the way that `Liftoff#launch(.

[2020-01-03 12:40] elhigu commented on #3605
Connection should not be removed from pool at that point yet. However it should be marked to be disposed next time when it is tried to be aqcuired from pool.

Your example is also using transactions in an invalid way, that might be the reason why you are getting unhandled rejection. Check transaction provider from latest docs and set rejectioin handlers properly.

It is not documented well, but `t

[2020-01-03 12:46] kibertoad commented on #2998
@briandamaged Could you provide a fix pr that wouldn't break existing tests?

[2020-01-03 15:51] jakecoffman commented on #3605
I updated my example in the linked repo: https://github.com/jakecoffman/knex-oracle-bug/blob/68ea525f0ea2887f50e29c1ef3a7ba0fb9b6786e/index.js

I changed it to match how you use transactions in the issue you linked. I removed the call to commit as I think that's a separate issue.

I'm still seeing it not release the connection at the end of the script running. Here's the output when I pull the net

[2020-01-03 16:17] briandamaged commented on #2998
@kibertoad + @brunolm : I'll try to put something together either later today or tomorrow.  I'm still making sure I understand the big picture first.  From what I can tell, it looks like the Knex CLI might be duplicating some of the functionality that is already provided by the `Liftoff` library.

[2020-01-03 16:46] kibertoad commented on #2998
@briandamaged Could be. As long as cli tests pass so that we know we are not introducing breaking changes for users, feel free to refactor as deeply as necessary.

[2020-01-04 01:46] machineghost opened #3607 "Documentation Uses .increments() With No Argument, but No Default Argument Value is Documented"
Disregard (filing in documentation repo)

[2020-01-04 01:48] #3607 closed

[2020-01-04 01:55] machineghost opened #5889 "Documentation Uses .increments() With No Argument, but No Default Argument Value is Documented"
# Missing / erroneus documentation

The entry for `.increments()` in the documentation makes no mention of a default value for its name argument, but other code in the docs uses it with no arg.  Presumably it has an undocumented default value of `id`?

# Feature discussion / request

Add one sentence to the docs for `.increments`: "Adds an auto incrementing column.  If no name is provided this wil

[2020-01-04 13:16] TillDeathCoder opened #3608 "SQLITE_ERROR: too many SQL variables"
# Environment

Knex version: 0.20.3
Database + version: SQLite3
OS: Windows 10

# Bug

1. Explain what kind of behavior you are getting and how you think it should do:

I develop the desktop application using Electron, Angular, SQLite3, and Knes. I faced the issue during inserting more than ~180 elements.

2. Error message
`[Error: SQLITE_ERROR: too many SQL variables] {
    errno: 1,
    code: 'S

[2020-01-04 20:57] briandamaged commented on #3426
From what I can tell, it looks like the support for `--knexpath` might have been broken in a previous release.  More specifically: the `--knexpath` and `--knexfile` flags are being passed to the `Liftoff` library incorrectly; as a result, the values are being dropped before the Knex CLI can use them.

Fortunately, it looks like you can still provide a custom Knex path via the `KNEX_PATH` environme

[2020-01-04 21:56] #3605 closed

[2020-01-04 21:57] #3603 closed

[2020-01-04 23:17] kibertoad commented on #3608
@TillDeathCoder Could you please try performing same query using SQLite3 driver directly, without Knex? If it works correctly, that would indeed confirm that problem is on Knex side. However, considering the error message that you are getting, that seems unlikely.

[2020-01-04 23:18] kibertoad commented on #3602
@davidrtpereira What knex version are you using?

[2020-01-04 23:19] kibertoad commented on #3555
@maximelkin I think https://github.com/knex/knex/pull/3606 addresses specifically that. Is that correct?

[2020-01-05 05:14] elhigu commented on #3608
Doesn't seem to have anything to do with knex. Number of parameters in query is around `conditionRows * columnsInConditionsTable` also you can check number of bindings by calling `trx('conditions').insert(conditions).toSQL()`.

[2020-01-05 05:14] #3608 closed

[2020-01-05 06:00] maximelkin commented on #3555
@kibertoad yes, this can be closed

[2020-01-05 06:00] #3555 closed

[2020-01-05 16:49] makavalon opened #3610 "Error on project start"
# Environment

Knex version: 0.19.4
Database + version: Psql 11.4
OS: Windows 10

@lorefnon.

# Bug

1. On npm start project should successfuly compile and started

2. E:\ntts\node_modules\knex\lib\client.js:258
        return this.acquireRawConnection().then(async (connection) => {
                                                                               ^
SyntaxError: Unexpected token (

[2020-01-05 16:50] kibertoad commented on #3610
Which Node version are you using? Sounds like it's older than Node 8, which is not supported.

[2020-01-05 16:58] #3610 closed

[2020-01-05 17:45] jakecoffman opened #3612 "oracledb: commit is a no-op"
# Environment

Knex version: 0.20.6
Database + version: Oracle 12c
OS: Linux & OSX

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The oracledb commit is a no-op. I think it should perform the actual commit immediately.

2. Error message

There's no error message.

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   data

[2020-01-06 18:05] davidrtpereira commented on #3602
0.20.6

[2020-01-06 19:41] jakecoffman commented on #3612
I can't reproduce with a test. Starting to wonder if it's not an issue at all and I fixed the main problem in #3606.

Will reopen if it comes up again.

[2020-01-06 21:16] elhigu commented on #3602
Did I understood correctly that there is missing test that `stream.iLob` actually exist? What could cause `stream.iLob` to be undefined or are we just missing an integration test for this?

[2020-01-07 00:32] kibertoad commented on #3603
Released in knex@0.20.7

[2020-01-07 00:32] kibertoad commented on #3605
Released in knex@0.20.7

[2020-01-07 00:37] kibertoad commented on #3602
TBH, that doesn't look like 0.20.6 at all: first of all, it is clearly transpiled with Babel, second, current relevant code looks like this:
[code]

As you can see, it includes check for `stream.iLob` already, while the code that you were fixing does not. Please check that knex version is indeed what you expect it to be and there are no additional versions of knex being transitively resolved as de

[2020-01-07 00:37] kibertoad commented on #3602
Latest version of knex should work with Oracle CLOBs just fine.

[2020-01-07 06:40] elhigu commented on #3602
Closing as cannot reproduce for now. As @kibertoad investigated doesnt seem to be bug in knex.

[2020-01-07 06:40] #3602 closed

[2020-01-08 22:59] radiumrasheed commented on #3037
@elhigu are you saying it just logs this as a warning, and that it can be ignored ?

[2020-01-09 03:16] vkruoso commented on #2213
This should be closed as #3440 is already merged?

[2020-01-09 05:45] demisx opened #3618 "Every knex command prints usage first"
Not sure why, but every knex command I run now prints usage. Even  a simple one like this first prints usage and then outputs the results:

[code]

[code]

[2020-01-09 10:05] #2213 closed

[2020-01-09 10:09] elhigu commented on #3037
@radiumrasheed no. I'm not saying that. Try to read my comment again.

[2020-01-09 11:59] DataTables opened #3619 "Typescript: .first('*') returns `any[]`"
# Environment

Knex version: 0.20.4
Database + version: Postgres 10
OS: Fedora

@lorefnon

# Bug

1) Explain what kind of behaviour you are getting and how you think it should do

This is a continuation of #3229 which noted that `first()` was returning `any[]`. That has been fixed if you don't specify any columns, but if you do `.first('*')` the return type is still `any[]`.

2) Error message

Typ

[2020-01-09 15:25] Jindam opened #3620 "MultiSubnetFailover settings in Knex package"
# Development

Knex version: 0.20.1
MSSql Database + Version 15.0
OS: macOS 10.14.6
@smorey2

**How can we add settings in the connection config for connecting it to MSSQL Server Multi-Subnet Failover Clusters, right now it can't connect ?**

[2020-01-09 17:31] lorefnon commented on #3619
Thanks for reporting this.

On an unrelated note, thanks for creating DataTables :). We used it for multiple years in several projects.

[2020-01-09 20:12] elhigu commented on #3620
It should be done in mssql driver's configuration... at least tedious seems support it https://github.com/tediousjs/tedious/issues/387 I don't know if node-mssql does.

Anyways knex should not care about it. Closing as this should be inmplemented in driver level.

[2020-01-09 20:12] #3620 closed

[2020-01-09 23:21] IanChokS commented on #3620
Yes Tedious supports multiSubnetFailover.
[Tedious Docs](https://tediousjs.github.io/tedious/api-connection.html)

[2020-01-10 10:23] #3619 closed

[2020-01-10 12:42] simon-lorenz commented on #3618
I have the same problem with 0.20.7 while 0.20.6 seems fine.

[2020-01-10 17:06] PascalUlor commented on #3071
@arcollector thanks, your approach works

[2020-01-10 17:08] timorthi commented on #3618
There's an open PR to fix this right now: #3617

[2020-01-10 17:54] repl-raymond-bolander commented on #2500
We've run into this issue of snipped / incomplete stack traces when using async.

This seems to rear its head periodically during development;  Devs end up having to fiddle around to get to the bottom of why a particular knex-dependent section of code is failing, wasting time in the process. So this _does_ have impact, at least for our team.

**Has anyone tried using asyncStackTraces under load wh

[2020-01-11 08:01] a9korn commented on #3130
I used sqlite3, and I ignored all other modules:
import module: "const {IgnorePlugin} = require('webpack');"
add plugin: "[ new IgnorePlugin(new RegExp('^(mssql*|mariasql|.*oracle.*|mysql.*|mssql/.*|tedious|pg.*|node-pre-gyp)$')),]"
it works for me!

[2020-01-11 18:16] royalcala opened #3622 "warming message"
# Environment

Knex version:"knex": "^0.20.6"
Database + version:"sqlite3": "^4.1.1"
OS:ubuntu 18

1. Explain what kind of behaviour you are getting and how you think it should do
Running this funcion trx.del({_id}).into(tableName).where({ _id }), I have in console this  warming:
   .returning() is not supported by sqlite3 and will not have any effect.
Im not using the chain returning and appears

[2020-01-11 18:18] royalcala commented on #3622
adding .returning() is resolved.

[2020-01-11 18:18] #3622 closed

[2020-01-11 20:27] elhigu commented on #3622
Probably you had added earlier .returning(‘something’) and by adding .returning() that earlier statement was “canceled”... so you seemed to find a workaround to your problem. Underlyin issue why .returning was there in the first place is probably still there.

With sqlite you should never use .returning() method.

[2020-01-13 03:58] JaneJeon opened #3623 "Prefix seeds with timestamp like migrations"
# Feature discussion / request

When using the knex cli, you can run `knex migrate:make $name` and it'll generate a `$timestamp_$name.js` in the migrations directory. Is it possible to do the same for the seeds? Because when I run `knex seed:make $name` it generates a `$name.js` _without_ the timestamp and I have to add it in manually :/

[2020-01-13 10:35] ricardograca commented on #3623
Why do you think you need a timestamp for seeds?

[2020-01-13 10:49] JaneJeon commented on #3623
The same reason we'd want timestamp for migrations - to order them (prefixing with a number doesn't work out, since after seed number 9, 10 wraps around and gets run before seed number 2).

[2020-01-13 12:17] ricardograca commented on #3623
Use `01-99` then, or `001-999` if you really need that many. Timestamps won't guarantee that the correct insertion order is followed anyway, so it's not the correct solution to that problem.

[2020-01-13 13:56] JaneJeon commented on #3623
Then why do we have that feature with migrations?

[2020-01-13 13:59] JaneJeon commented on #3623
Not to mention our company had to do a rolling “01-99” to “001-999” for its migrations just recently so I know it can be annoying to “upgrade” your migration versions when you hit that cap.

[2020-01-13 16:38] ricardograca commented on #3623
Because migrations should indeed be run in a specific order and they always build on the previous ones. Seeds do not. You may have to add seed data for a table that is depended upon by other seed data that already exists. If you use timestamps that dependency is broken.

If you were using `01-99` for migrations that was also a bad design decision.

[2020-01-13 17:30] JaneJeon commented on #3623
They do, when you have one table that depends on the rows from another. Just like migrations, using timestamps allows me to control the exact order that the seeds run in. In fact, by controlling the order in which I create the seeds (when it's prepended by a timestamp), it allows me to get over the thing you're saying: "If you use timestamps that dependency is broken." Timestamps is the _solution_

[2020-01-13 17:33] JaneJeon commented on #3623
@kibertoad thoughts?

[2020-01-13 21:56] kibertoad commented on #3623
I have no strong opinion on this matter. I can see value behind executing seeds in order, especially when they are incremental and depend on each other, but since the introduction of named seed execution, I can also see how it can be inconvenient for people who don't run seeds in batches.
I am open to merge a PR that would introduce an optional CLI switch (and/or knexfile config option) that would

[2020-01-13 23:01] vpeltola commented on #3373
Hello!
I just rested this.  First, as a sanity check, I tested with knex@0.19.1 + oracledb@4.1.2 which still failed as in the original bug description.
I then updated to knex@0.20.7, re-tested and the problem no longer happens.
Looks like the problem has been corrected.  Thank you!

[2020-01-13 23:01] #3373 closed

[2020-01-14 10:43] thomastrinque commented on #1128
I put pg dependency as "external" and it solved the problem thanks a lot, does it mean that webpack parse the back-end dependencies ?

[2020-01-14 16:12] pdemarino opened #3624 "__knexQueryUid not generated for ROLLBACKs"
# Environment

Knex version: 0.20.7
Database + version: MySQL 5.6 (RDS)
OS: Lambda

# Bug / Missing documentation?

## Issue
Rollbacks generated by Knex should lead to a unique query ID being generated and reported through the event mechanism (`Knex.on("query-response", (resp,obj)=> { ... }`).

Instead, I am seeing events like these:
[code]

[2020-01-14 16:15] pdemarino commented on #3624
I also noticed this missing from a number of table definition calls.

[code]

[2020-01-14 17:05] alessandrocaprarelli commented on #93
I have the same problem with:
- knex: `"^0.20.7"`
- pg: ` "^7.17.1"`
- postgresql: `11.6`

[2020-01-14 20:54] kibertoad commented on #3619
Released in 0.20.8

[2020-01-15 01:33] yeonhoyoon commented on #3618
This issue is fixed in `0.20.8`.

[2020-01-15 09:40] xiyoung commented on #1537
this is my solution

`const queryAll = _db
      .table('group_org_device')
      .leftJoin('group_org', function() {
        this.on('group_org.org_id_str', 'group_org_device.org_id_str').on(
          'group_org.ldap_id',
          'group_org_device.ldap_id'
        );
      })
      .select('group_org_device.device_mark')
    if(!toAll) {
      queryAll.whereRaw('group_org.group_id in (' + allG

[2020-01-15 09:43] xiyoung commented on #1537
this is my solution
`
const queryAll = _db .table('group_org_device') .leftJoin('group_org', function() {
  this.on(
  'group_org.org_id_str', 'group_org_device.org_id_str').on(
  'group_org.ldap_id',
  'group_org_device.ldap_id' );
}) .select('group_org_device.device_mark') if(!toAll) { queryAll.whereRaw('group_org.group_id in (' + allGroupIds.map(_ => '?').join(',') + ')', [...allGroupIds]) }
`

[2020-01-15 09:45] xiyoung opened #3626 "The original raw query works as it should for the other drivers: `mysql`, `sqlite`, `oracle`, `mssql`. This is definitely a `pg`-specific issue. It's also converting numbers to strings - which doesn't happen in the other drivers. So `limit 10` ends up being `limit '10'` (see #1001)."
The original raw query works as it should for the other drivers: `mysql`, `sqlite`, `oracle`, `mssql`. This is definitely a `pg`-specific issue. It's also converting numbers to strings - which doesn't happen in the other drivers. So `limit 10` ends up being `limit '10'` (see #1001).

If the inner query is built using knex, it mostly works - again with the caveat that numbers are turned into string

[2020-01-15 09:46] #3626 closed

[2020-01-15 17:03] dsbrgg commented on #3578
So, after a couple of digging, I think I was able to find the issue and at least provide some kind of solution, even if a naive one.

The [connectionConfigExpirationChecker](https://github.com/knex/knex/blob/4feefdf3d2532c23f2f662c538bf2d81700daeb1/lib/client.js#L271) property is not being used except for the first time. That is happening because it's only being called on the first [create call](h

[2020-01-16 21:09] marianomerlo commented on #1937
Thank you so much for this! Closing issue since you all rock!

[2020-01-16 21:09] #1937 closed

[2020-01-17 13:17] ThomWright opened #3628 "toNative is not implemented for Raw"
# Environment

Knex version: 0.20.8
Database + version: pg 9.6
OS: Linux

@lorefnon

# Bug

This should work according to the TypeScript types, but it throws:

` knex.raw("id = ?", ["hello"]).toSQL().toNative()`

The error is:

`TypeError: knex.raw(...).toSQL(...).toNative is not a function`

The relevant TypeScript types are:

[code]

Code to reproduce:

[code]

[2020-01-17 15:06] wimil commented on #3206
same problem, using version 0.20.8 of k'nex, any solution without having to download the version?

[2020-01-17 15:18] kibertoad commented on #3206
@wimil What version of yarn or npm are you using?

[2020-01-17 16:01] jan-osch commented on #2284
When user input is serialized as JSON and contains `\u0000` it causes the following exception when passed to the pg driver.
`Invalid byte sequence for encoding "UTF8": 0x00`

What is your recommended way of dealing with that?  Should I sanitize all the user-inputs on application level?

[2020-01-17 21:24] wimil commented on #3206
@kibertoad
node: v12.12.0
npm: 6.13.4
yarn: 1.19.1

install the package with yarn

[2020-01-17 21:35] kibertoad commented on #3206
@wimil These are up-to-date enough not to cause a problem. However, considering the error that you are getting, I suspect you are using some bundler, e. g. webpack, and that seems to be causing the problem.
If that is the case, can you please check if solution from https://github.com/knex/knex/issues/3130 would work for you?

[2020-01-20 08:51] elhigu commented on #93
@alessandrocaprarelli are you saying that your table.jsonb columns are not created as jsonb columns, but text? Sounds like you are having some different problem.

[2020-01-20 10:00] ilya-dikovitsky commented on #2651
https://github.com/knex/knex/issues/1928

[2020-01-20 12:46] elhigu commented on #2651
Also this feature needs more background research which databases supports this kind of functionality. In last discussions were decided that for example knex should not be creating any triggers to implement it for any database, since it is too much magic and can cause unexpected issues in future.

If this would be only mysql feature, documentation should then state it and other dialects should thro

[2020-01-20 13:19] elhigu commented on #2284
Maybe you should ask that in pg driver issues? Knex will not do any processing to your string inputs.

[2020-01-20 13:29] elhigu commented on #3578
I actually don't like or understand why there even is `expirationChecker` attribute in connection. To me would be better if `connection` could be declared as a function which then may return config directly or it may return promise, which resolves config.

Then it would be up to client code to implement logic when it wants to get fresh config and when it wants to for example return the same alread

[2020-01-20 21:19] kferrone opened #3630 "Nested Columns in Query Result"
is it possible to control how the object returned by a query is shaped? I want to group some of the columns in a query into their own property of the result.

For example we have the following table:

User Table:
[code]

Basically I want to query the result to be like so:

[code]

Unfortunately I can only get the result to have flat properties like so:

[code]

Here is what I thought would work:

[2020-01-20 21:51] elhigu commented on #3630
No. Knex doesn't have any support like that and I have no idea why would you have thought that would have worked. There is nothing in documentation of anything like that 🤔  Closing as this is not a bug nor feature request.

[2020-01-20 21:51] #3630 closed

[2020-01-21 05:56] derencel20 opened #3631 "Transaction doesn't work with map"
Code:

![image](https://user-images.githubusercontent.com/17394978/72779038-a8cb3d80-3c55-11ea-911e-599fc9abd6fa.png)

Expected output:
Working query

Actual output:
![image](https://user-images.githubusercontent.com/17394978/72779083-cf897400-3c55-11ea-92d4-4210967a4646.png)

Question, Is this really the expected behavior?

[2020-01-21 06:14] wubzz commented on #3631
Seems correct to me. One of the queries in the map is failing for whatever reason, while another query in the iteration is triggered simultaneously. The failing query in turn issues a rollback due to the error, but the second query is already underway. So it becomes a form of race-condition.

That's how I would interpret the issue given the information you have provided.

Adding a try/catch block

[2020-01-21 06:24] derencel20 commented on #3631
In the code, I added a return value for ones with errors as `{ }`

![image](https://user-images.githubusercontent.com/17394978/72780268-64da3780-3c59-11ea-97ea-9ba69cf77e4a.png)

This is the result in localhost

![image](https://user-images.githubusercontent.com/17394978/72780367-a4088880-3c59-11ea-9603-36ee4a4181b5.png)

This is the stacktrace
![image](https://user-images.githubusercontent.com/17

[2020-01-21 06:35] elhigu commented on #3631
You should not send many queries to same transaction parallel. There is no performance benefit in that since they all have to be executed sequentially through single connection anyway.

Looks like mssql driver does not buffer multiple requests to the same transaction automatically and throws an error. And it is expected that driver can throw an error if it is used wrong and in that case knex passe

[2020-01-21 06:35] #3631 closed

[2020-01-21 14:12] owais opened #3632 "Feature request: Hooks to enable observability and debugging use cases."
# Feature discussion / request

1. Explain what is your use case

To enable enhanced observability like detailed contextual logging and tracing. Projects like OpenTelemetry, Jaeger, Prometheus etc and paving the way for next gen observability for both cloud-native and traditional setups. One of the biggest hurdles in extracting maximum possible benefit from such systems is that the applications ne

[2020-01-21 17:58] dsbrgg commented on #3578
@elhigu I believe that this `expirationChecker` was introduced along with the PR that I've mentioned, that also introduced the async `connection`.

I can't tell for every case but at least in my case, this property `expirationChecker` would be very handy because I need to get new credentials for the database after a set amount of time and I believe this way would be easier since `knex` could just

[2020-01-21 19:52] jamesdixon commented on #3523
@rafamel I'm running Knex 0.20.7 and I'm still seeing this occur occasionally even with `pool.min = 0`. Was there anything else you did to work around this?

I read in another thread that handling the error is good enough just so it doesn't crash the app, which is why I'm assuming this wasn't an issue in older versions of Knex.

[2020-01-21 19:56] machineghost opened #3633 "Knex Should Include the Query String in Error Messages"
# Environment

Knex version: ^0.20.8
Database + version: psql (PostgreSQL) 9.5.19
OS: Linux

# Feature discussion / request

1. Explain what is your use case

I am a Knex user who gets an error

2. Explain what kind of feature would support this

A slight improvement to Knex's error handling code.

3. Give some API proposal, how the feature should work

I recently got the following, oh so helpful

[2020-01-22 02:02] Ali-Dalal commented on #3578
@dsbrgg to be honest, I haven't tried the `expirationChecker` because, in my cause, It is not needed. But setting the connection config as an async function works like a charm.

@oranoran can you put your resolution on this?

[2020-01-22 04:08] adevine opened #3635 "Feature Request: Support for identity columns in lieu of serial in postgres"
# Environment

Knex version: 0.20.8
Database + version: Postgres 11
OS: Debian Stretch

# Feature discussion / request

1. Explain what is your use case
Wish to create tables where the autoincrementing primary key uses identity columns (e.g. `id int GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY`) instead of using serial

2. Explain what kind of feature would support this
New method on table, or per

[2020-01-22 05:02] adevine commented on #3635
Actually, just realized I can do what I want with 'specificType'. Still would be good to at least add this to the documentation in increments.

[2020-01-22 07:35] oranoran commented on #3578
@dsbrgg is your expectation for the configuration to expire at the timeout, or for actual living connections that were created using it to expire?
The intention was to implement the former not the latter.
The implementation has nothing to do with tarn, it's part of the client code that creates new connections and isn't related to maintaining them once created.

[2020-01-22 08:53] elhigu commented on #3633
Yeah, since knex is not going to start wrapping errors thrown by db-drivers / other libraries etc.  it is pretty much impossible. How ever you write for example knex.on('query-error', ...) handler to print out query that failed.

I have always lots of event handlers registered to log long query times / long transactions ++ to help debugging when something goes wrong.

[2020-01-22 08:53] #3633 closed

[2020-01-22 09:00] elhigu commented on #3523
@jamesdixon maybe there really are some connection errors occuring. You need to be able to pinpoint if those messages are coming from connections that you are using in application code or from those which are actually still reserved in pool. However those errors should not crash the app.

You could open a new issue with more information, when and what is exactly happenin in your case and then some

[2020-01-22 10:46] elhigu commented on #3578
That would be as easy or even easier if knex would just always reload config if it is changed. Then there would be no need for that kind of timer. So to me that parameter still looks like a hack to me instead of feature. I remember that async knex configuration feature first implementation was not very versatile for many use cases either (IIRC it only made possible to get async config once and the

[2020-01-22 11:27] dsbrgg commented on #3578
@Ali-Dalal Yes, like I said, the async config works fine. My problem has been with the `expirationChecker` exclusively.

@oranoran I suppose both. Since the connection would have to expire after a timeout, the resource would have to be recreated or you would end up with an invalid knex instance which would not have the right credentials or whatever to do further interactions with the DB.

Regardle

[2020-01-22 12:53] elhigu commented on #3578
I mean something like this:
let config = {};
setInterval(() => {
  config = generateNewConfig();
}, 5000);

[code]

That would cause knex to reload every 5 seconds,  since returned configuration object is changing every 5 seconds (of course connection callback could also return a promise which would be asynchronously resolved).

I'm pretty sure that it does not check if the connection is valid, bu

[2020-01-22 14:35] dsbrgg commented on #3578
@elhigu Thanks for the example. I guess this could do it.

I think this is not actually happening. At least from what I've tested, even after the expiration was passed, `connection` was not being called again to re-read the config/update the config details.

That's what I mean when I say that the connection is valid or not, since the expiration, for me, means that at that point that the connection

[2020-01-22 19:11] mdoliner-st commented on #266
Just want to reference https://github.com/knex/knex/pull/2364 so this issue gets linked to it. It's a work-in-progress PR (and maybe very out of date/abandoned) to add a `.check()` function for schema building.

[2020-01-22 19:14] tkellen commented on #266
What a blast from the past.

For those still living in a world where they think a javascript DSL in front of their database migrations is desirable, I implore to you to reconsider your approach. This whole concept is ridiculous and unnecessary.

It's quite easy to use any functionality your database engine provides when you use plain SQL migrations. You may also find this useful: https://sqitch.or

[2020-01-22 19:53] jamesdixon commented on #3523
@elhigu thanks. These issues are occurring in a Lambda environment so it's certainly a possibility there's an underlying issue. I haven't had the best of luck with Knex and pooling in AWS.

[2020-01-23 01:09] jamesdixon commented on #1833
@brandonros did you ever solve the issue?

[2020-01-23 01:36] jamesdixon opened #3636 "Connection terminated unexpectedly (Postgresql / AWS Lambda)"
# Environment

Knex version: 0.20.8
Database + version: Postgres 9.5.14
OS: AWS Lambda - Node 12.x

Recently, I've been seeing upticks in a `connection terminated unexpectedly` error. I can't find a discernible pattern at this point but unlike #3523, it doesn't seem to occur after long periods of activity. I see instances that are minutes apart in some cases.

I added some logging to the Knex `aft

[2020-01-23 09:28] JReinhold commented on #3635
For the time being, as a workaround, I've created a helper function that uses `specificType` to achieve this:

[code]

[2020-01-23 18:26] thiagotigaz commented on #2764
Any update here? I'm having the same issue, I need to read the returned parameters

[2020-01-23 20:10] maximelkin commented on #1588
Which level of promise library independence we need?
1) all use native promises
2) internals native promises, user can set own promise lib for interface
3) user can set promise lib for internals and interface

[2020-01-24 07:39] avinashsingh2222 opened #3637 "How to convert sql query joine with multiple table to knex ORM?"
`'select ag.id answer_group_id, ag.name answer_group_name, ag.client_id, ag.status answer_group_status, ' +
    ' ag.created_on answer_group_created_on, ag.updated_on answer_group_updated_on, ' +
    ' ag.effective_from  answer_group_effective_from, ag.effective_till answer_group_effective_till, ' +
    ' aga.sequence_number, ans.id answer_id, ans.answer, ' +
    ' ans.created_on as answer_created

[2020-01-24 10:28] elhigu commented on #3637
Closing as issue is not following template / issue guidelines,

[2020-01-24 10:28] #3637 closed

[2020-01-24 10:47] elhigu commented on #3632
Many of the hooks you are looking for are already there as knex.on() events and as tarn.js hooks, which can be used to monitor pool functionality very closely.

preConnection/postConnection - tarn has acquire connection hooks with start / success / fail handlers, knex has afterConnect callback and actually there... I'm not sure what you actually mean
with these since, creating new connection is ac

[2020-01-24 11:19] jgoux commented on #983
Hi, sorry for bumping into this old issue. 😅

Why is `knex.connection()` not available using this initialization approach? It would be handy to be able to create a knex instance with only an external connection.

My use-case is to use knex in my postgraphile environment. Postgraphile provides an instance of pg's connection with an open transaction, so if I could pass this to knex and have my clien

[2020-01-24 11:23] elhigu commented on #983
Is it not? Did you try?

[2020-01-24 11:28] elhigu commented on #3636
have you tried hooking some logging to:

knex.on('query', ...) , knex.on('query-success', ...), knex.on('query-error', ...), knex.on('error', ...)

Also you could wire tarn.js hooks to output what pool is doing when errors happen. Tarn instance is found from `knex.client.pool`

[2020-01-24 11:32] elhigu commented on #3578
I don't think that my example will work at all, since it is an imaginary API how I would have wanted that configuration reloading feature to work.

[2020-01-24 16:56] jamesdixon commented on #3636
@elhigu I have not, but I'll give it a shot. Odd that this seems to only occur with Node 10/12. Thanks for the tips!

[2020-01-24 17:35] dsbrgg commented on #3578
Oh sorry, I thought you meant as if that could solve it.

Could it be possible that this function would actually be called upon [validation of a connection](https://github.com/knex/knex/blob/4feefdf3d2532c23f2f662c538bf2d81700daeb1/lib/client.js#L304)?

This way the connection could be destroyed and also the connection would be rebuilt at that point. This way it would prevent any type of timer.

I

[2020-01-24 20:19] elhigu commented on #3578
Maybe... more people should read through those connection parts of the code base to make sure that it is a valid solution... I don't know when I would have time to concentrate on that.

[2020-01-27 07:18] dsbrgg commented on #3578
I don't need this immediately as I came up with this issue for an upcoming feature on my project but it would be great if this could be implemented. Thanks for the responses as well @elhigu!

[2020-01-28 21:33] clintharris commented on #2964
I'm also seeing the same issue; `metadata` events are not being emitted.

[2020-01-29 03:59] thgaskell commented on #3219
I really enjoy this feature!

Can stubs be managed through packages?

## Use case
I'd like share stubs across multiple projects, but want to avoid copy/pasting because it will be difficult to maintain.

I'd imagine I can get by referencing the `node_modules` directory, but I feel like this may not be safe depending on the version of `npm` that the user is using? 🤔

[2020-01-29 06:20] sidzan opened #3641 "Not able to dropForeign PSQL"
# Environment

WORKING ON:
Knex version: 0.14.6
Database + version: 9.6.11
OS: ubuntu

ISSUE WITH:
Knex version: 0.14.6
Database + version: 10.4
OS: ubuntu
# Bug

I am currently unable to drop foreign key using `table.dropForeign('controller_user_id')` for db version 10.4

 Error message:
`error: constraint "myi_user_vehicle_controller_user_id_foreign" of relation "myi_user_vehicle" does not exist

[2020-01-29 07:15] the-vampiire commented on #3219
thanks man. this was my first open source contribution. hacked it to work locally and figured it would be worth sharing properly into the codebase.

maybe @kibertoad has a better idea but a quick solution can be to store the stubs in a gist. the stub gist can then be cloned into the migrations directory so they can be referenced by `--stub <name>` option.

i know its not what you requested but con

[2020-01-29 11:58] elhigu commented on #3641
As you can see that knex internally creates foreign key name:

https://runkit.com/embed/23yj09pm5mci

Maybe key was created with some earlier version of knex which did generate it with different name. Probably the best shot here is to use knex.schema.raw and drop it manually.

[2020-01-29 11:58] #3641 closed

[2020-01-30 07:16] the-vampiire commented on #3219
i got curious and decided to see how it would work. i dont think an exec call will pass review but at least i got to learn about `child_process` along the way.

# POC

## usage

[code]

[code]

[code]

## CLI

[code]

## utils

[code]

[code]

[2020-01-30 10:53] throrin19 opened #3642 "Support of postgres.js"
# Feature discussion / request

I start using the library [Postgres.js](https://github.com/porsager/postgres). It's a powerfull postgres client, more powerfull than pg but I can't use it with Knex

It would be nice if it's possible to use this with knex to easily build requests.

Thanks in advance

[2020-01-30 11:27] elhigu commented on #3642
Check CONTRIBUTING.md inheriting new dialect from current pg dialect using different driver should be easy and can be released as a separate npm package.

[2020-01-30 13:22] throrin19 commented on #3642
I'm sorry, I misspoke. I didn't mean that postgres.js was based on pg. It's another library for connecting to postgres servers, but it's not pg-based.

[2020-01-30 13:33] elhigu commented on #3642
I did understand that those drivers are not related, but if you read that CONTRIBUTING.md there is instructions, how to inherit new dialect for knex for example based from old postgresql dialect and to override the code related to the used database driver.

That way you will be able to use postgres.js driver instead of pg for executing the queries (and also you can use all configuration options of

[2020-01-30 19:31] waleedahmed3045 opened #3643 "useNullAsDefault: true property still throws Undefined binding error"
# Environment

Knex version: 0.20.8
Database + version: Oracle 12c, MySQL 8.0.18
OS: Windows 10

 @atiertant @smorey2 .

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Knex is throwing undefined binding error, where as per documentation if i use property "  useNullAsDefault: true" knex should ignore it

2. Error message
Undefined binding(s) detected when co

[2020-01-30 19:55] elhigu commented on #3643
`useNullAsDefault` has nothing to do with that error you are occuring. It only affects to some code that inserts multiple rows with single query.

There is no option that allows knex to pass undefined bindings to driver.

[2020-01-30 19:55] #3643 closed

[2020-01-30 20:04] waleedahmed3045 commented on #3643
@elhigu  is there a way to ignore undefined binding and not throw an error?

[2020-01-30 20:42] elhigu commented on #3643
No. You should not pass undefined bindings to knex. That was removed, because it was a huge security risk (and that risk had actually been realized many times, like allowing access to admin user rights without giving password etc.).

[2020-01-30 21:07] mike-robison opened #3644 "postgres: table.timestamp('tn', { precision: 0 }) doesn't give 'timestamp(0)'"
# Environment

Knex version: 0.20.8
Database + version: N/A
OS: N/A

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
when calling `table.timestamp('column_name' { precision: 0 })`, since 0 is falsy, the precision isn't applied.
see [here](https://github.com/knex/knex/blob/c14252d907855cee310db7b57fe37a776fd4424a/lib/dialects/postgres/schema/columncompiler.js

[2020-01-30 21:35] kibertoad commented on #3642
@elhigu Can we make an exception to the rule if there is a volunteer from maintainer team to support the new dialect, though? I've been looking at postgres.js with great interest lately, and supporting it out-of-the-box might be nice for futureproofing knex.

[2020-01-30 21:44] elhigu commented on #3642
I suppose we could if there is a maintainer, but I would rather have only single official driver for each DB supported by knex.

Anyways if difference is only query methods and driver I don't think there is a big problem of maintaining driver (like with mysql2) only thing is that it should be added to integration and stress tests to make sure that basic functionality works.

If that driver does ha

[2020-01-30 21:45] kibertoad commented on #3642
@elhigu Thanks! I'm reopening the issue then.

[2020-01-30 22:27] waleedahmed3045 commented on #3643
@elhigu Thank you, would you be able to tell the last version before this feature was removed?

[2020-01-30 22:53] elhigu commented on #3643
I think it was this PR https://github.com/knex/knex/pull/1459 ages ago around 0.11.5. You should not be using that version on knex....

[2020-01-31 07:48] hansnull commented on #3463
Exactly, thats why people using Angular or React or t3n or ...
The benefit in knex: You can use the same code for mssql, postgresql, sqlite ...

[2020-01-31 07:55] hansnull opened #3645 "raw type definition in SchemaBuilder wrong?"
# Environment

Knex version: 0.20.8
Database + version: any
OS: any

# Bug

`interface SchemaBuilder` declares
`raw(statement: string): SchemaBuilder;`
I would expect
`raw(statement: string, placeholder?: any): SchemaBuilder;`
because
`raw("DROP VIEW :fullViewName:", {fullViewName})`
is a valid call.

[2020-01-31 13:16] JReinhold opened #3646 "Gracefully handle inserts that exceed the max allowed amount of bindings"
# Environment

Knex version: ^0.20.7
Database + version: PostgreSQL 10.7
OS: MacOS 10.14.6

# Feature discussion / request

1. Explain what is your use case

Most database engines have a max number of bindings per statement. My research tells me, that for PostgreSQL, the max number of bindings per statement is 65.535. (see https://github.com/brianc/node-postgres/issues/1091)

It is not totally unh

[2020-01-31 13:41] elhigu commented on #3646
There is batch insert for this particular case... It is intended behavior that knex is not going to split inserts to multiple queries (knex can create only single query from builder).

There are various reasons why knex doesn't want to start generating multiple queries from single builder. You could also use objection instead, which can automatically handle this case (and much more).

Having knex

[2020-01-31 13:41] #3646 closed

[2020-01-31 16:08] JReinhold commented on #3646
Those are valid points, I agree!
I haven't seen the `batchInsert` function, it is exactly what I'm looking for!

For anyone else ending up here, Objection.js only handles this issue automatically if you are using `insertGraph`, and **not** when using plain ´insert´.

[2020-01-31 16:17] KhalidBhyan commented on #2073
Take the SQL parts that you need to be migrated then execute them using knex.raw()
I didn't test that but you can give it a try

[2020-01-31 19:02] lookfirst commented on #3463
The reality of that for general simple CRUD applications is true... but when you get into more complicated usecases, supporting specific database features is difficult to avoid.

[2020-02-01 14:19] tkambler commented on #2964
@jaskle No, I did not.

[2020-02-01 15:41] sleewoo opened #3648 "Postgres native array parsing issue"
Wonder why knex is not parsing string arrays as is it parsing integer ones.

for `t.specificType('tags', 'int[]')`
result is an array: `[ 1937, 1938, 1941 ]`

for `t.specificType('tags', 'varchar(50)[]')`
result is a string: `'{a,b,c}'`
should be an array too?

thanks.

[2020-02-01 15:58] sleewoo commented on #3648
sorry, it works well for `varchar`

the troubling column is actually a `citext` array: `t.specificType('tags', 'citext[]')`

any chance to parse this into an array as well?

thanks.

[2020-02-01 18:43] elhigu commented on #3648
I suppose you need to override that columnt type in pg-types. AFAIK knex is not doing that parsing.... maybe openin issue in node-pg repo will help.

[2020-02-01 18:43] #3648 closed

[2020-02-02 10:01] sleewoo commented on #3648
thanks for directions.
as `citext` is an extension it has no permanent `oid` so can not be added to `pg-types`.
rather it's `oid` should be queried on connection.
here is a solution i came up with:

[code]

[2020-02-02 20:34] JimBeem commented on #3463
Posting to say that I gave typed-knex a try and it was really great to see good typing help with selects and joins and seeing the correct result typing come back, for me it was the closest thing to using linq and entity framework that ive experienced on the typescript side. If I had the option to combine the great typing of typed knex in the main knex project itd be a no brainer. In fact it would

[2020-02-04 03:38] juicetin commented on #581
Is there a workaround that would enable a `trx` object to be passed around?
E.g.

[code]

[2020-02-04 08:17] elhigu commented on #581
@juicetin check `knex.transactionProvider()` docs.

[2020-02-05 12:28] robincsamuel opened #3651 "ORA-03135: connection lost contact (intermittent)"
# Environment

Knex version: 0.20.8
Database + version: Oracle Database 11g EE Extreme Perf Release 11.2.0.4.0
OS: ANy

@atiertant

`ORA-03135: connection lost contact` when querying after a while.

Note: I use Objection.js as an ORM.

[2020-02-05 12:50] elhigu commented on #3651
Cannot reproduce

[2020-02-05 13:16] robincsamuel commented on #3651
@elhigu It's an intermittent issue, not sure when exactly happens. I'm trying to get more info, but I got this when my queries were approximately 30 mins apart.

This is my code.
[code]

<img width="903" alt="Screenshot 2020-02-05 at 6 46 13 PM" src="https://user-images.githubusercontent.com/4545992/73845043-ce586980-4847-11ea-9a06-179ea1448ad3.png">

[2020-02-05 13:24] zardilior commented on #3594
This is an expected mySQL issue, create table and alter table cannot be used in transactions because they implicitly commit. Should be run in separate migrations to not violate atomicity of migrations

[2020-02-05 13:25] elhigu commented on #3651
But is that error thrown when you query:

[code]

or is it just happening somewhere on the background?

[2020-02-05 13:25] zardilior commented on #148
@tgriesser you solution has problems as alterTable and createTable cant be rolled back in mySql as according to @rodhoward

[2020-02-05 13:27] elhigu commented on #3651
This should be pretty easy to check with knex's integration testsuite, which has dockerized oracle setup ready. So if you or someone else can reproduce it with that, this can be reopened. In CONTRIBUTING.md is reasoning why reproduction is really mandatory.

[2020-02-05 13:29] ebugusey commented on #3594
They are in separate migrations. Problem is knex runs all migrations in one big transaction.

[2020-02-05 13:30] robincsamuel commented on #3651
I'll try to reproduce it with the integration test suite, thanks! And I totally understand why it needs to be reproduced :)

[2020-02-05 13:33] robincsamuel commented on #3651
It's not like this. Basically I have an API that makes a query to the database. If my last API call was before 5 minutes (**I just tried a couple of times and realized it's 5 minutes**) and the server was idle for the time being, my next API call will give me this error. But this is not limited to just one API/Query.

[2020-02-05 14:01] robincsamuel commented on #3651
Sorry, I was overlooking the code. Actually what you said is correct, this is throwing the error with 6 minutes.

here is what I tried,

[code]

Console:
<img width="838" alt="Screenshot 2020-02-05 at 7 31 13 PM" src="https://user-images.githubusercontent.com/4545992/73848426-1da19880-484e-11ea-825b-15c3489321b0.png">

I'll reproduce with an integration test and re-open the issue.

[2020-02-05 14:36] robincsamuel commented on #3651
@elhigu Can you please try the above code once? Actually, I'm in a remote area and the docker images are taking a lot of time & bandwidth.
Thanks!

[2020-02-05 23:30] nmaxcom commented on #3375
I had the same issue. Since you removed it, I'd like to know if it's advisable to use promises for migrations?

What "method" would you suggest?

[2020-02-06 01:14] nmaxcom commented on #3115
I am having the same error showing up with migrate:latest. How can I get passed it? I've tried with `.schema.withSchema('public')` and also `table.foreign('author').references('id').inTable('public.users');` but I still get pretty much the same:

How to get passed this?!

[2020-02-06 07:18] falcon-lin-development commented on #2489
@Damaged-Organic  In knex version 0.20.8
you code will not create a table as expected. An additional 'return' is required.
`
[code]

[2020-02-06 12:02] ricardograca commented on #3375
@nmaxcom Did you see my last comment? It explains what to do...

[2020-02-06 13:39] nmaxcom commented on #3375
No, it doesn't. You said:

This explains how to use Promise.all in Knex in case I want to, which is great, but it's not what I asked. _Because_ you guys removed it from Knex's migration template I'm wondering if it's because it's not a great idea to use them. Thus my question.

Is it advisable to use Promises in migrations? Is there a better way to work with migrations?

[2020-02-06 14:04] elhigu commented on #3375
Generally using promises / async / await is pretty much obligatory, since migration up / down expects that promise is returned.

However using `Promise.all` is not a good idea, because it tries to run many requests parallel., which may cause problems with some drivers at least (drivers should buffer queries that are going to single transaction and should run them sequentially). `Promise.all` also

[2020-02-06 16:27] FreddyJD commented on #3636
I'm having the same issue with MySQL. Same behavior

[2020-02-06 16:38] ricardograca commented on #3375
The reason it was removed from the template is precisely because it's been available natively as a global object since Node 0.12, and it was left up to the user to decide on what Promise implementation to use. Previously it was being passed as second argument as a convenience to the user.

[2020-02-06 17:13] jamesdixon commented on #3636
@FreddyJD ah, good to know that I'm not the only one.

As I mentioned above, reverting back to Node 8.x solves the issue. That said, I've had to resort to running a custom Node 8 runtime on Lambda as it's officially been deprecated so functions can no longer be created or updated to Node 8.

Have you found that Node 8 resolves the problem?

[2020-02-06 18:22] nmaxcom commented on #3375
Thanks @elhigu ! Very informative.

I wanted to know because I found many different implementations of this in the wild. It would be great to mention it in the docs because if it's not there people won't know about it and we'll keep using it despite not being great for Knex.

[2020-02-06 20:06] rodrigograca31 commented on #2412
@rkmax under what circuntances? because Im having the same problem

[2020-02-07 02:20] mouhannad-sh commented on #3636
I'm having the same issue too with Postgres

[2020-02-07 03:09] FreddyJD commented on #3636
@jamesdixon We've read about setting ```   context.callbackWaitsForEmptyEventLoop = false; ```, so the function shutdowns when the event loop is finished. I'll have to wait until we release it.

I found the problem in Node10.X

[2020-02-07 03:20] mouhannad-sh commented on #3636
@FreddyJD in production we are using
[code]
and the issue is still there
I just made a new release where I work and removed that line, we'll have to wait for few hours to monitor as the issue happens randomly

[2020-02-07 04:07] jamesdixon commented on #3636
@FreddyJD @mouhannad-sh our functions also were running `context.callbackWaitsForEmptyEventLoop = false;` in production but as mentioned, the issue didn't pop up until Node 10+. I guess the interesting thing is that this happening for both MySQL and Postgres. More likely that it's a Knex-related issue then?

[2020-02-07 04:10] mouhannad-sh commented on #3636
it probably is, we've spotted the same error happening again after removing that line

[2020-02-07 13:53] maximelkin opened #3652 "Typescript knex.fn.now() update support"
# Environment

Knex version: latest
Database + version: any
OS: any

@lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

[code]

2. Error message

TS2345: Argument of type '{ updatedAt: Knex.Raw<Date>; }' is not assignable to parameter of type 'MaybeArray<Partial<User>>'.   Type '{ updatedAt: Knex.Raw<Date>; }' is not assignable to type 'Partial<Use

[2020-02-07 14:53] maximelkin opened #3653 "Typescript readonly structures in where and update"
# Environment

Knex version: latest
Database + version: any
OS: any

@lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

[code]

2. Error message

TS2769: No overload matches this call.   The last overload gave the following error.     Argument of type 'readonly (readonly [string, string | null])[]' is not assignable to parameter of type 'QueryBuild

[2020-02-07 17:24] DataTables opened #3654 "leftJoin will prefix schema even when passed a `raw`"
# Environment

Knex version: 0.20.8
Database + version: postgres 10
OS: Fedora 29

# Bug

## 1 - Explain what kind of behaviour you are getting and how you think it should do

When using `withSchema()` and `leftJoin` the schema name is prefixed to `knex.raw()` parameters for the joining table name. Since a `raw` statement is being passed in, I would not expect the schema name to be prefixed.

I th

[2020-02-07 18:01] DataTables commented on #3654
Looking into this, I believe the issue is [here](https://github.com/knex/knex/blob/589ea747c2388c8ef00afb933da193eb10201735/lib/query/compiler.js#L297):

[code]

If you agree that this is an issue, then I think the fix is:

[code]

Happy to send a PR with this change if you think it is suitable.

[2020-02-07 19:15] elhigu commented on #3651
Sorry, I don't have time to do that either.

[2020-02-07 19:37] robincsamuel commented on #3651
No worries, I'll do that in a couple of weeks. Thanks!

[2020-02-08 18:05] kibertoad commented on #2998
@brunolm @ShGKme @mmiszy @ilkka This should work better in 0.20.9 thanks to amazing work of @briandamaged. Please give it a try and let me know if the changes were helpful for you.

[2020-02-09 03:38] Silas-Yang opened #3656 "Got an error while compiling version >= 0.20.2, as well as the latest(0.20.9)"
# Environment

Knex version: ^0.20.9
Database + version:
OS: MacOS

Select applicable template from below.
@lorefnon
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Compilation error in version 0.20.9.
Version 0.20.1 works well.

2. Error message
[code]

[2020-02-09 03:50] lorefnon commented on #3656
Can you please also:

1. Share one usage (source code snippet) that is failing.
2. Check if you have `@types/knex` and/or `bluebird-global` installed.

[2020-02-09 04:00] Silas-Yang commented on #3656
1. Share one usage (source code snippet) that is failing.
[code]

2. Check if you have @types/knex and/or bluebird-global installed.

Checked and re-installed both packages. The error still occurred.

[2020-02-09 04:01] lorefnon commented on #3653
Knex typings currently don't contain information about what properties and arguments are only read and never mutated. But I do think appropriately marking inputs are readonly is the right thing to do.

I'll take this up within next 3-4 days.

[2020-02-09 04:02] lorefnon commented on #3656
Did you already have both of them installed ? Can you remove `@types/knex`. That package is no longer required.

[2020-02-09 04:06] Silas-Yang commented on #3656
Yes. After removed `@types/knex`, It is still the same error.

[2020-02-09 04:10] Silas-Yang commented on #3656
It is Ok now. I removed both `@types/knex` and `bluebird-global`. It works!
Thank you so much!

[2020-02-09 04:12] #3656 closed

[2020-02-10 14:03] ShGKme commented on #2998
@kibertoad All works, thanks a lot 👍

[2020-02-10 19:05] mogzol opened #3657 "Altering a colum to an enum with useNative: true fails, tries to create enum twice"
# Environment

Knex version: 0.20.9
Database + version: Postgres 12
OS: Linux (Ubuntu)

# Bug

If you attempt to alter a column to change it's type to an enum, and you use the `useNative: true` enum option, knex will try to create the enum twice, which causes a "type already exists" error.

Here is an example migration which demonstrates the problem:

[code]

If you look at the debug output from t

[2020-02-10 19:47] brunolm commented on #2998
@kibertoad **thank you** so much! I can confirm it's working 100% now!

[code]

[2020-02-10 20:30] elhigu commented on #3657
`.alter()` basically doesn't know any information, what was the original type of the column that you are changing to be `enum` so it doesn't have any information about for example foreign keys / enum types etc. that should be removed.

Even `existingType: true` probably doesn't work in this case, because it was added for slightly different scenario https://github.com/knex/knex/pull/2719

I suppose

[2020-02-10 20:32] elhigu commented on #3657
I changed this from bug -> feature request, since knex actually work in this case exactly as expected.

[2020-02-10 21:04] mogzol commented on #3657
But in this scenario I wouldn't expect alter to delete the existing type, so that's fine, I just don't see why it is trying to create the type twice? This essentially makes it impossible to use `.enum()` with `.alter()` if you're using native enums.

Is there any scenario where `.alter()` **should** create the type? It seems like the `.enum()` part is responsible for that, so why does alter also t

[2020-02-10 21:29] elhigu commented on #3657
So... you are not changing the list of valid enum values and those have been `["coffee", "tea", "water"]` all along?

It is trying to recreate enum type, because knex does not know that enum type has already been created earlier. In that case for you `existingType: true` would work, since it tells to knex that enum type (with name `drink_types `) was already previously declared.

For example if yo

[2020-02-10 21:32] mogzol commented on #3657
This is what I am trying to do. In the example I posted I initially create `drink` as a `text` column, and then try to alter it to an `enum`. This causes the error described.

The issue seems to be that `ColumnCompiler.getColumnType()` (which add the `create type` query) gets called twice for `.enum().alter()`.

First it is called while building alterColumns here: https://github.com/knex/knex/blob

[2020-02-10 21:40] mogzol commented on #3657
So maybe a simple flag inside the `ColumnCompiler` instance to keep track of whether the `create type` query has already been added would resolve this? Then only the first call to `getColumnType()` would add the query?

[2020-02-10 21:41] elhigu commented on #3657
True... there seems to be bug in that:

https://runkit.com/embed/xemoadwjsojw

It really tries to create column type twice 👍

[2020-02-10 21:53] elhigu commented on #3657
It sounds like a bad idea that `getColumnType()` creates that query as a side effect. Without looking the code to me it would make more sense to have createColumnType() and getColumnType() as a separate methods.

[2020-02-10 22:07] mogzol commented on #3657
Ah didn't see that comment. Well then I can update that MR once I have some free time later, unless someone else wants to do it

[2020-02-11 10:28] nik-lampe commented on #662
For me this still happens when I run the seeds programatically.

Running
 await knex.seed.run({ specific: 'dev.js', env: 'test' })
sets `null` for the missing values
whereas running
knex seed:run --specific dev.js --env test
sets `DEFAULT`

[2020-02-11 18:09] briandamaged commented on #3571
FYI: It looks like the `0.20.8` release of Knex might have introduced basic support for ESM via the `--esm` command-line argument.

[2020-02-12 07:50] rlee89 opened #3660 "No longer resolving file paths correctly - Error: ENOENT: no such file or directory, scandir"
# Environment

Knex version: 0.20.9
Database + version: Postgres 10.6
OS: debian

# Bug

1. Since the latest version of Knex (0.20.9), once knex has switched to the working directory. Knex doesn't resolve the full path correctly. From the logs, I can see that Knex is trying to resolve the files from, for example, `/app/migrations` when in fact our folder structure is:
[code]
2.
[code]
3.
Looks to

[2020-02-12 08:35] kibertoad commented on #3660
@briandamaged

[2020-02-12 11:00] suryacaprice commented on #1833
facing the same issue

[2020-02-12 13:02] Isanderthul commented on #3375
instead of removing the second argument, I did the following:
[code]

[2020-02-12 15:20] wtrocki commented on #1588
What is the current state of this issue. Generally knex work now with async await but typescript will report warning that we awaiting method that is not native promise.

So to answer the original issue question. Current workaround is to simply await and add something like `// tslint:disable-next-line: await-promise`

[2020-02-12 16:53] briandamaged commented on #3660
@rlee89 : Howdy, and sry about that!

I'm attempting to recreate the issue, but I have not had any success so far.  I setup a standalone project w/ the following structure:

[code]

When I run `knex` from within the `foo/` folder, I receive the following output:

[code]

This seems to match the behavior that you were expecting to see... 🤔

So... here are a few other thoughts:

1. Perhaps it's a re

[2020-02-12 18:21] briandamaged commented on #3660
@rlee89 : Hi again!  Can you please include the NPM debug log as well?  For the run you posted earlier, this log was located at:

[code]

Based upon what I'm seeing in the code so far, my guess is that one of the following is happening:

1. Your `knexfile.js` is creating a custom MigrationSource.  This MigrationSource is attempting to resolve some paths before the process's current working directo

[2020-02-12 18:25] briandamaged commented on #3660
@kibertoad : To clarify my earlier point: from the end-user's perspective, Knex would still retain its current behavior.  But, its implementation would no longer be tightly coupled to `process.cwd()`.  Thus, even if the value of `process.cwd()` gets changed after Knex was initialized, Knex would still be able to resolve paths correctly.

[2020-02-12 18:50] kibertoad commented on #3660
Yeah, I agree, that would indeed be an improvement.

[2020-02-12 20:43] elhigu commented on #3375
@Isanderthul instead of removing second argument, you could have as well done

[code]

[2020-02-12 22:10] rlee89 commented on #3660
Thanks @briandamaged for the quick reply and investigation!

here are the first couple lines of initializing any paths:
[code]

We're running in the /app directory. Your standalone projects structure is similar to how we've laid out our folder structure.

Nope

You're correct, not the case.

Attaching the requested logs (different date because the output dir for those logs were in a container and

[2020-02-12 22:24] briandamaged commented on #3660
@rlee89 : Okay, I think I see the issue now.  The sequence of operations within the Knex CLI is:

1. Open the `knexfile.js`
2. Change the process's current working directory
3. Attempt to run the migrations / etc.

Your `knexfile.js` is resolving some paths as soon as it's opened.  The problem: they are being resolved _before_ Knex has changed the process's current working directory.  This is caus

[2020-02-12 22:44] briandamaged commented on #3660
@rlee89 : Actually, this sorta relates to the earlier conversation between @kibertoad and I.

Generally speaking, it's risky for modules to make assumptions about the current value of `process.cwd()`.  It can lead to all sorts of surprises when another piece of code changes the process's current working directory.

If possible, you should try to resolve paths relative to a fixed value, such as `__

[2020-02-12 22:45] rlee89 commented on #3660
Yup, we look good! Removed the `path.resolve(...)` and that worked. We'll look at seeing if can't suggest cleaning that up for all our services too... 😄

[code]

[2020-02-12 23:40] Bessonov commented on #1588
@maximelkin I vote for the option 1. In long term I hope every promise library would be obsolete.

[2020-02-13 02:13] chaffeqa commented on #1588
id second that, at this point we are beyond promise polyfills even for the majority of browsers

[2020-02-13 22:14] maximelkin commented on #1588
@Bessonov currently on knex depends libraries (and maybe projects), which requires exactly bluebird

we should give some fallback solution for them

[2020-02-14 00:16] madigan opened #3663 "Feature Request: Introspect Queries"
# Feature discussion / request

I'm using knex in a project purely as a query builder- we use it to generate SQL which we execute using a separate database connection (uses a different connection pool). We do a lot of dynamic query generation, and when things go wrong we'd like to be able to see which tables and columns were involved without having to parse the raw SQL.

Today the `Builder` class

[2020-02-14 01:59] JoaoRabelo98 commented on #2624
Thanks @elhigu
It's works perfectly!!

[2020-02-14 07:50] elhigu commented on #2825
Closing as proposal doesn't seem feasible.

[2020-02-14 07:50] #2825 closed

[2020-02-14 07:59] elhigu commented on #3663
There is a need for an API to ask from query builder what kind of query it contains, but the API for that should be designed better.

Just adding single introspected attribute to the builder for this single case won't be reasonable approach. Also knex builder internals doesn't currently support this very well...

Currently you could exploit knex internal properties and write your own introspection

[2020-02-14 08:01] elhigu commented on #3663
Closing since this proposal is currently not suitable to be implemented.

[2020-02-14 08:01] #3663 closed

[2020-02-14 08:44] elhigu commented on #2021
@bonespiked

It is kind of funny that first you are talking about adding mid-level abstraction than may allow crossdb support and then you mention that it is particularly  useful for postgis that is not at all crossdb compatible (and this issue would not help with that). Mostly DB functions that you need to be calling are not crossdb compatible and if they are you can as easily use knex raw to cal

[2020-02-14 08:50] elhigu commented on #1588
It doesn't matter if knex's users are dependent on bluebird. Knex can still use native promises and they will interoperate just fine with bluebird promises. We should absolutely not give any fallbacks.

[2020-02-14 11:46] igasparetto opened #3664 "MariaDB JSON_VALUE is not working when creating views"
# Environment

Knex version: 0.20
Database + version: 10.3.18-MariaDB
OS: Any

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
CREATE VIEW myView AS SELECT json_value(jsonColumn, '$.key') as myKey FROM myTable

2. Error message
er_sp_does_not_exist: function json_value

[2020-02-14 12:01] elhigu commented on #3664
Not knex bug and cannot reproduce

[2020-02-14 12:01] #3664 closed

[2020-02-14 17:48] akaraivanov commented on #3612
I've got some tests of our code that fail once in a while using knex with oracledb dialect. The description of this tickets is a pretty good match to our use case. In short, we create a transaction, insert data, use explicit commit on the transaction, await on the commit then read data in second transaction. When our test fails, the second transaction does not see the data committed by the first.

[2020-02-14 18:41] jakecoffman commented on #3612
I wouldn't mind getting the fix in since it just seems more correct to have `commit` actually perform the commit. We just can't make a test that recreates the problem. Thoughts @kibertoad?

[2020-02-14 20:30] akaraivanov commented on #3612
There are also 2 integration tests from Transactions group that are skipped for oracledb. I wonder if 2b290e9 would make them stable...

[2020-02-14 21:29] alechirsch opened #5890 "onVal and other `on` chainables are not documented"
I was trying to use knex to join on some additional values that are not `column = column` and couldnt find any way to do it in the documents. After from googling, I found that `onVal` is in knex, but it is not documented. Other functions similiar to onVal are not documented, such as orOnVal and notOnVal

[2020-02-15 15:56] kibertoad commented on #3612
@akaraivanov If you would like to take a lead on this and contribute test that fails without a fix, I'm all for reopening the issue.

[2020-02-16 11:02] akaraivanov commented on #3612
I can have a look. Integration-stress test and unit test using sinon spies are doable. Anything else - probably not so much, unless code under test is also changed to provoke a failure as I do above by adding a delay.

[2020-02-16 11:30] kibertoad commented on #3612
Yeah, should be good enough. Thanks!

[2020-02-16 13:46] #3535 closed

[2020-02-16 14:39] sripberger opened #3667 "Support for 'is null' in 'order by'"
I'd like to request a feature, which I would be happy to implement myself since it doesn't seem like it would be all that big of a change. Feel free to correct me if I'm wrong.

1. Explain what is your use case

Needing to specify the sort order of nulls within a nullable column is fairly common use case. I see that this is discussed [here][1] many years back, and it seems like the conclusion was

[2020-02-16 16:42] elhigu commented on #3612
This thing also happens every now and then in oracledb migration tests, when there is IIRC wrong lock value left migration lock table or something like that.

[2020-02-16 19:26] #3612 closed

[2020-02-16 19:31] kibertoad commented on #3660
@rlee89 Fix released on 0.20.10.

[2020-02-16 19:31] #3660 closed

[2020-02-16 19:32] #3618 closed

[2020-02-16 19:32] kibertoad commented on #3612
@akaraivanov Released in 0.20.10.

[2020-02-16 19:34] kibertoad commented on #2998
@brunolm Haha, @briandamaged is the real hero. Glad it works fine now!

[2020-02-16 19:34] kibertoad commented on #3225
Released in 0.20.10.

[2020-02-16 19:34] #3225 closed

[2020-02-16 19:35] kibertoad commented on #3612
@akaraivanov Would appreciate it if you could test new version with your use-cases and report back if you'll observe any changes in stability of your tests.

[2020-02-16 20:31] akaraivanov commented on #3612
@kibertoad , @jakecoffman Thanks for merging the fix and making a release.I will test and let you know.

[2020-02-17 10:40] tomdohnal commented on #1541
Unfortunately, it doesn't work for Postgres.
The way to go for Postgres is using `await knex.raw('TRUNCATE TABLE your_table_name CASCADE')`

[2020-02-17 11:46] nmaxcom commented on #3375
@elhigu Not sure why you edited your post to add:

I don't know what you wanted to achieve by adding such an unproductive and arrogant comment like that. But more importantly, it is wrong.

It does make perfect sense to ask that when I know very little about Knex, SQL and much less migrations. A brand new concept for me. Any form of reasoning needs prior knowledge whether it comes from observation

[2020-02-17 12:16] ricardograca commented on #3375
You can open new issues on the documentation repository for things that you think are lacking: https://github.com/knex/documentation

[2020-02-17 12:19] KristjanTammekivi commented on #3635
For a bit of extra motivation, Postgresql wiki recommends not using serials https://wiki.postgresql.org/wiki/Don%27t_Do_This#Don.27t_use_serial

[2020-02-17 13:08] akaraivanov commented on #3612
@kibertoad, we run tests (including stress tests) with new version and there have been no problems with that.

[2020-02-17 18:20] elhigu commented on #3375
@nmaxcom Now that I checked the documentation page I didn't see it explicitly mentioned there so you are right. Question actually did make sense. I'm sorry that the final response did feel arrogant.

I edited it because I sent it before I had finished writing the post completely. I do it all the time. To me it was obvious, that one should use promises in some way and one should actually nowadays i

[2020-02-17 22:31] cirotarini opened #3669 "knex on brower: Uncaught TypeError: promisify is not a function"
# Environment

Knex version: knex@0.20.10 + + mysql@2.18.1
Database + version: 10.3.22-MariaDB-0+deb10u1

OS: Linux debian - browser chrome
I serve the static page with apache
I packed the knex npm module with browserify.

# Bug
I woud like to try a query in my broswer (serving the html static page with apache).
I know this is insane but I want to try.

2. Error message

bundle.js:21075 Uncaught T

[2020-02-17 22:48] elhigu commented on #3669
so... are you trying to query your database directly from chrome? It will not work. You should be able to build queries though (like knex documentation page is doing). But you will not be able to execute them, because db drivers cannot work in browser.

[2020-02-17 22:48] #3669 closed

[2020-02-17 22:48] elhigu commented on #3669
definitely not a bug :)

[2020-02-18 04:49] juicetin opened #3670 "Configuring SQL Server timeout"
# Environment

Knex version: 0.19.5
Database + version: SQL Server 2018
OS: Windows (AWS RDS)

@smorey2.

# Bug

This may not strictly be a bug and more of a bug/feature request hybrid (I'd lean towards the former).
When setting the `connectionTimeout` option for SQL Server, it doesn't seem to actually apply - i.e., the default is `15000ms`, and after setting the value to `30000`, it still times o

[2020-02-18 08:33] elhigu commented on #3670
There is no such config as `connectionTimeout` in knex. Did you try setting `acquireConnectionTimeout` of knex to be bigger than SQL server's timeout?

For knex pool http://knexjs.org/#Installation-pooling there are various other timeouts that can be passed https://github.com/vincit/tarn.js/ .

If you are talking about node-mssql driver's attributes, those connection attributes should be passed di

[2020-02-18 09:21] elhigu commented on #3670
Closing issue until it is clear what it is about exactly.

[2020-02-18 09:21] #3670 closed

[2020-02-19 01:26] juicetin commented on #3670
Hi @elhigu

[code]

This is where the `connectionTimeout` option was set, as you pointed out in a past issue
https://github.com/knex/knex/issues/2699

However, this option didn't take effect, as the default timeout of 15000ms was still being enforced (as stated in the error when knex killed the request at 15000ms).

[2020-02-19 02:21] simoami commented on #2167
For anyone looking for the raw command:
[code]

[2020-02-19 06:14] bompus commented on #3642
I went ahead and made a proof of concept. It's not thoroughly tested, but I was able to run several queries with knex and objection through it and all seemed well.

I didn't implement error handling, _stream, and I'm not using Bluebird, rather native async/await, but you get the idea.

[code]

Tagged: porsager/postgres#28

[2020-02-19 07:56] elhigu commented on #3670
Ok, that looks valid. Please check if the `connectionTimeout` option is respected if you use node-mssql directly.

Also please be clear what error you are getting? Currently from this issue I cannot see what kind of problem you are experiencing nor how to reproduce it exactly.

[2020-02-19 12:01] sfabriece opened #3672 "Show names of run/rolledback migrations"
# Environment

Knex version: latest
Database + version: Postgres and other supported
OS: all supported

# Feature discussion / request

1. Explain what is your use case
It would be useful to see the names of the applied/rolled back migrations
2. Explain what kind of feature would support this
console logging the names of each run migration in a batch
3. Give some API proposal, how the feature shou

[2020-02-19 21:18] panzarino opened #5891 "Side menu links incorrect for schema builder chainable section"
The links on the sidebar in the `Schema Builder > Chainable` section are incorrect due to duplicate IDs on the page. For example, there is an `index` link under both `Schema Builder > Chainable` and `Schema Builder > Schema Building` sections, and clicking on either brings you to the `Schema Builder > Schema Building > index` method information. This happens because both are linked to `#Schema-ind

[2020-02-20 09:36] gerardolima commented on #1988
hey, @elhigu, since supporting UPDATE with JOIN is/will be handled in another thread, could you, please, hefer it on this one?

[2020-02-20 09:55] elhigu commented on #1988
Maybe this one https://github.com/knex/knex/issues/2796

[2020-02-20 09:57] elhigu commented on #2514
Closing due to inactivity, might be fixed already.

[2020-02-20 09:57] #2514 closed

[2020-02-20 09:59] elhigu commented on #58
There is nowadays recipes book in github wiki. Closing old inactive issue.

[2020-02-20 09:59] #58 closed

[2020-02-20 12:14] Jhenri-silva opened #3675 "Can't migrate TS, DOCKER, POSTGRES"
Created a postgres container on docker,
mounted the basic setup for `knex migration: lateset`
but the database don't receive the migration.

Knex version: latest
OS:Ubuntu 18.04

don't see to be an issue at all,
but I don't know why it doesn't updating the database in postgres, on my docker container.

How can I migrate in the simplest way, using a docker container to connect my postgres, and use

[2020-02-20 13:14] #3675 closed

[2020-02-21 05:51] phormio opened #3677 ""cast(... as ...)" with 'where' causes syntax error"
I ran this program:

[code]

I got this output:

[code]

You can see that Knex is generating SQL with a syntax error.

[2020-02-21 07:39] weituotian commented on #1527
@kibertoad please tell more people that knex not support old version of mssql, you should write this issue in the docs . then they will not use knex any more!

[2020-02-21 10:39] elhigu commented on #3677
You are using it wrong.

Should be:

[code]

But looks like there is also another transformation (quoting `identifier as alias` syntax that is used many times with joint / selects) kicking in, which I'm not so sure if it should with `.where`.

[2020-02-21 10:39] #3677 closed

[2020-02-21 23:49] thgaskell opened #3678 "[Feature Request] Support running multiple specific seed files"
# Feature discussion / request

Currently, it's not possible to control the execution order of seed files even when the `--specific` flag is used. Users are required to execute multiple separate commands which is error prone, and doesn't make use of the underlying [`_waterfallBatch` method](https://github.com/knex/knex/blob/c9be84890cf7d3211c6103d7c914a60b4b84647b/lib/seed/Seeder.js#L109).

It wou

[2020-02-24 15:00] 592da commented on #3636
any solution? urgent for us. thanks

[2020-02-24 15:58] ShGKme commented on #2038
Does it mean, I cannot use connection string with sqlite?

@francisbrito 's example doesn't work with things like `:memory:?cache=shared`...

[code]

[2020-02-24 16:07] jamesdixon commented on #3636
@592da we ended up using a custom Node 8 runtime, which has worked for us. Not ideal but we didn't have the time or resources to dig deep into this issue -- we just needed things to work :)

[2020-02-24 16:19] briandamaged commented on #3636
Howdy!  I'll try to investigate this in the next day or so.  (Sry -- I'm currently assisting w/ a large merge request.  I want to get that resolved before making additional changes to the code)

[2020-02-24 23:51] DanielGibbsNZ opened #5892 "Examples under Raw Parameter Binding are showing errors"
A couple of examples under the **Raw Parameter Binding** section are showing errors when they should show the resulting query:

[code]

[code]

[2020-02-25 00:01] briandamaged commented on #3636
@jamesdixon : Can you plz provide the full stack trace for the `"Connection terminated unexpectedly"` that you are observing?

Based upon my initial investigation, it looks like the `"pg"` package is most likely throwing this error (as opposed to `"knex"` throwing it).  The error seems to occur when:

1. Something has closed the low-level connection w/ the PG server, but
2. The `"pg"` library was

[2020-02-25 00:06] kibertoad opened #3686 "Refactor tests"
1. We should consider retiring chai.should() in favor of expect(..). (Why? Because chai.should() monkey-patches various Javascript objects, which can occasionally lead to some surprising results);

2. Se should consider eliminating global variables (e. g. `global.expect`) that are referenced throughout various test cases.

3. We should be using a sinon sandbox rather than patching the prototype ou

[2020-02-25 00:13] jamesdixon commented on #3636
@briandamaged  you're correct on the stack trace pointing to the `pg` client. Seems like someone else opened up a similar issue here: https://github.com/brianc/node-postgres/issues/2112

[code]

Let me check on your question about `package-lock.json`.

[2020-02-25 00:15] briandamaged commented on #3636
@FreddyJD

Can you please provide the full error message / stacktrace?  I suspect that you are observing the similarly-worded `"Connection ENDED unexpectedly"` error, which might be pointing to a separate problem.

[2020-02-25 00:18] briandamaged commented on #3636
@FreddyJD

(To clarify: the `"Connection terminated unexpectedly"` error is not produced by Knex.  However, Knex does produce a `'Connection ended unexpectedly'` error via a separate control path)

[2020-02-25 00:30] #3653 closed

[2020-02-25 08:35] liees opened #3687 "Migration API => knex.migrate.latest()"
"client": "sqlite3",
"knex": "^0.20.0"

terminal： `npm run knex migrate:latest ` is ok

api:  UnhandledPromiseRejectionWarning: Error: Cannot find module
   '/Users/migrations/20200225125504.js'
    at webpackEmptyContext (webpack:///./node_modules/knex/lib/migrate/sources_sync?:2:10)
    at FsMigrations.getMigration (webpack:///./node_modules/knex/lib/migrate/sources/fs-migrations.js?:83:89)

[2020-02-25 09:22] elhigu commented on #3687
cannot reproduce, sounds like you are not using webpack correctly.

[2020-02-25 09:22] #3687 closed

[2020-02-25 14:32] edtownend commented on #3571
@briandamaged does this flag work for you? I'm getting
[code]
 when using this flag with `"type": "module"` set in package.json.

[2020-02-25 15:03] D10221 commented on #3571
@edtownend

that is 'node resolution'  complaining.
you can stop it adding a 'non-module'  package.json file to your migrations directory (simply 'yarn init -y' then set to private).
or removing the type: 'module' from your main project file.

What node version are you using ?
Where Is your migrations 'dir' in relative path terms to your src/ dir or main file if any :)
Just curious :)

[2020-02-25 15:08] edtownend commented on #3571
@D10221 Bingo, that worked great thanks! That's using node v13.7.0 and the migrations dir is in the root of my project

[2020-02-25 23:58] briandamaged commented on #3636
On the `"pg"` side: it looks like there might be a bug in the `"pg"` library itself.  Consequently, the `pg` library does not realize that a `Client`'s connection has ended until after it tries to use it again.  This then produces the `"Connection terminated unexpectedly"` error.

Interestingly: once this error has been thrown, the problem gets "fixed" on the `pg` side.  Afterwards, `knex` detects

[2020-02-26 02:27] liees commented on #3687
I see,  thank you

[2020-02-26 18:30] briandamaged commented on #3636
Another quick update on this front:

Currently, it's looking like both `"pg"` and `"knex"` have the same bug within their respective pool implementations.  Specifically: neither pool implementation appears to be re-validating the connection before handing it off to the caller.  This is providing an opportunity for the connections to the closed silently while they are sitting idle within the pool.

[2020-02-26 18:31] briandamaged commented on #3636
cc: @brianc   ☝️

[2020-02-26 20:17] elhigu commented on #3636
I had been suggesting that the problem is actually some proxy server in AWS lambda network infra, which would be acting like the connection is just fine until some real query is sent through it. Maybe AWS postgres implementation just work different 🤷‍♂

Anyways it really would be nice if pg driver is able to recognize the broken connection internally and emit an error or end event for that client

[2020-02-26 20:57] briandamaged commented on #3636
@elhigu : Agreed -- there's a good chance that it's a piece of network infrastructure that is discarding the connection silently.  The hope is that there is some way to detect this condition.  If so, then the pool implementations can verify that the connections are still valid before handing them off to the caller.

[2020-02-26 23:01] jamesdixon commented on #3636
Do you guys have any thoughts about why this would be present with Node 10 / 12 but not Node 8?

[2020-02-26 23:03] kibertoad commented on #3636
First thing that comes to mind is changes in EventEmitter logic between Node 8 and Node 10.