[2019-03-30 05:16] privateOmega commented on #3115
@elhigu Yup exactly. Just like Fazal answered, we need to prepend schema table with table name in inTable.

[2019-03-30 07:37] elhigu commented on #3115
Thanks! I think that the correct functionality would be to default schema to table’s schema and to document that behaviour where schema is allowed to be passed to inTable.

[2019-03-30 09:58] sheerun commented on #666
@mrdulin It's `knex-migrate down --to 20190330113112 `

[2019-03-30 13:58] #3092 closed

[2019-03-30 15:00] dgadelha opened #3123 "PostgreSQL Composite Types"
It would be nice if Knex was able to handle Javascript objects during insert/updates and treat them as *composite type* representations.

[code]
[code]

Related documentation: [PostgreSQL Composite Types](https://www.postgresql.org/docs/current/rowtypes.html)

[2019-03-30 15:04] kibertoad commented on #3123
Isn't ORM solution like Objection.js or Bookshelf a better library to implement that kind of logic?

[2019-03-30 15:27] Buzut opened #3124 "Set charset and collation for the connection"
# Environment

Knex version: 0.16.3
Database + version: MariaDB 10.1.38
OS: Ubuntu 18.04

# Bug

There is apparently no way to set the connection charset and collation. For instance, with the mysql driver, `charset: 'utf8mb4_unicode_ci'` allows to define what needs to be used.

Adding this in the `connection` object has no impact. I've also tried `knex.raw('SET NAMES utf8mb4')` but it doesn't seem

[2019-03-30 15:33] kibertoad commented on #3124
@Buzut Shouldn't be happening. You can in the sourcecode the following:

[code]

So knex literally is passing entire `connection` object to the driver when establishing connection. Please investigate further or provide a complete reproduction.

[2019-03-30 15:40] elhigu commented on #3123
If pg driver supports them, I don’t see any problem why knex would not. This is out of scope of knex.

[2019-03-30 15:40] #3123 closed

[2019-03-30 15:59] dgadelha commented on #3123
Hi,

The problem is how Knex deal with them (https://runkit.com/embed/x8oyg5l7xre3):

[code]

Results in:
[code]

And the expected would be:

[code]

[2019-03-30 15:59] Buzut commented on #3124
Indeed, my bad. I had set the DB to the old utf8 charset 🤦🏻‍♂️

[2019-03-30 15:59] #3124 closed

[2019-03-30 16:11] elhigu commented on #3123
You cannot use .toQuery() or toString() when you are figuring out how knex deals with stuff. toSQL() and toSQL().toNative() will show you what is sent to db driver (more or less).

(because of this I've been many times hoping to completely remove toQuery() and toString() methods from knex)

[2019-03-30 16:12] elhigu commented on #3123
So please check if pg driver supports those.

[2019-03-30 22:11] dgadelha commented on #3123
Hello,

Now I was able to understand your point about why pg driver should support it, not Knex.

I'm really sorry for my lack of knowledge about which function to use to detail how Knex would deal with stuff.

Kind of agree with you about toQuery, maybe start with a depreciation?

Thanks a lot!

[2019-03-30 23:03] elhigu commented on #3123
toString is kind of useful in some cases when one needs to copy paste queties to sql IDE or command line client. In most of the cases it works just fine, but one still has to remember that it is not the same thing that knex does internally. That was the reson why I havent pushed deprecating it forwards.

[2019-03-31 13:45] caiya commented on #1527
i got this issue too with sqlserver version 2008R2, that is a bad story.

[2019-03-31 13:53] kibertoad commented on #1527
@caiya PRs for support of older mssql versions are most welcome.

[2019-04-01 05:54] mrdulin opened #3125 "Improve the debug logs output"
# Environment

Knex version: ^0.15.2
Database + version:
OS:

# Feature discussion / request

1. Explain what is your use case

[code]

current the debug logs output:

[code]

When using GCP stackdriver logging, each `binding` value using one newline.

expect output:

`bindings`: should not using newline for each value. Just use one newline is enough. Like: `JSON.stringify(bindings)`

`sql`:  As y

[2019-04-01 08:54] elhigu commented on #3125
Which logs are you talking about? Also there are configuration parameters to override logging functions https://knexjs.org/#Installation-log .

[2019-04-01 08:54] #3125 closed

[2019-04-01 15:30] eduardobcastro commented on #169
It would be good to have wrappers to the most common functions like COALESCE / NVL, UPPER, LOWER, etc, and also CASE/WHEN/ELSE

[2019-04-02 13:12] bentesha commented on #2907
Anyone working on this? Will have some free time next week.

[2019-04-02 15:10] twigs67 opened #3126 "How to perform batch updates with INSERT IGNORE?"
This isn't a bug, but a question. I'm trying to perform a bulk insert, but use INSERT IGNORE, which means I have to do a raw query. I have the following:

[code]

The SQL statement comes out as:
[code]

I keep getting the error: "Expected 8 bindings, saw 96".

I'm guessing I'm not inserting the bindings (values) correctly, but I've tried a number of different ways.

Any help would be appreciated.

[2019-04-02 15:35] #3126 closed

[2019-04-04 06:46] JonnyLinja commented on #285
Note, the aforementioned method with afterCreate has a critical flaw and should not be used as is. It operates under the assumption that a connection is lost only when the database server goes down, thereby causing the pool to have 0 connections.

However, it turns out that it is possible for a connection to be lost while the database itself is online. If this happens and there are other connectio

[2019-04-04 07:24] elhigu commented on #285
What do you mean by that? I didn't see in your code anything, which is checking that pool is empty. Instead of that it sets listening status to `false` when ever the connection in which listening was started is ended because of any reason. Then when next connection is opened by pool, listener is set again (so there might be delay between last listener was closed and next one is opened in case if n

[2019-04-04 08:59] FabianTe opened #3127 "Missing typeCast documentation"
# Missing / erroneus documentation

I am missing documentation on the property `Config.typeCast` that is being mentioned here: https://github.com/tgriesser/knex/issues/1240#issuecomment-195534490

Am I simply not finding it or does it not exist?

Is this feature production ready or shouldn't I use it since it is not well documented?

[2019-04-04 09:07] FabianTe commented on #1240
Is `typeCast` even supported anymore?

[2019-04-04 09:28] elhigu commented on #3127
It is mysql driver's option, doesn't have anything to do with knex. Connection object is passed pretty much directly to underlying driver, so knex will not document those options.

[2019-04-04 09:28] #3127 closed

[2019-04-04 12:20] MartinMuzatko commented on #1240
knex doesn't care whether or not you use 1/0 or true/false when saving. But reading is mostly different.
Like dates should be cast to a `new Date`, and numbers to `Number`, BOOLEAN tinyint should be true or false.

[2019-04-04 12:35] Raphyyy commented on #913
This should not be closed

There is still no way to perform a query to retrieve data from 2 tables and perform an ORDER BY over all.

My case is pretty simple : I have 2 tables containing time series. One is for "prod" and the other one for "dev". They both have the same structure. I would like to perform a query to fetch datas from those 2 tables, like this :

[code]

This case looks pretty simpl

[2019-04-04 13:18] elhigu commented on #1240
@MartinMuzatko are you saying that knex should do that conversion? Knex does not care how database returns different column types (actually knex doesn't even know anything about column types of the server)... so if your driver likes to return those fields for example as strings, then knex will return them as strings.

[2019-04-04 20:59] JonnyLinja commented on #285
The issue with the `afterCreate` approach is that acquiring a connection from the pool does not trigger `afterCreate`. Acquiring a connection does not necessarily involve creating a new connection, it first tries to re-use an existing connection. For example...

**1. INITIAL STATE:**
Say you have the following connections in the connection pool.

**2. CONNECTION B DISCONNECTS:**
Now for whatever r

[2019-04-04 21:08] JonnyLinja commented on #285
@elhigu Gotcha, I'll manually pull from the pool and release back into it, along with some polling code when the connection goes down. My reasoning is that keeping a connection to the database likely has a cost (else I could just maintain over 9000 of them). Given that, it makes sense to have a connection be used for both queries and for listening on a channel.

Thanks again!

[2019-04-05 05:45] wubzz commented on #913
@Raphyyy Can't?

[code]

FROM "prod"
WHERE "id_sensor" = 123
UNION ALL
(SELECT "id_sensor", "value", "datetime" FROM "dev" WHERE "id_sensor" = 123)
ORDER BY "datetime" DESC

[2019-04-05 07:04] elhigu commented on #285
Cost of one additional connection / connection pool of single connection is irrelevant. I would still suggest to create additional pool (for example with max connections of 2)  for that listener, because that way you can be sure that there is connection slot available in pool when you need it (for example transactions can hog all the connections from pool thus making acquireConnection to fail when

[2019-04-05 15:48] Raphyyy commented on #913
@wubzz I am sorry this post is old, the query I would like to build is not the one I published yersterday, but the one I published last year :

[code]

The whole difference is that the first statement of the union use a `group by` and not on the second statement. The `order by` wrap the final query, not each statement.

[code]

The `group by` is attached to the the whole final query.

Sorry again

[2019-04-05 15:58] JonnyLinja commented on #285
Ah good point about obtaining from and release to the pool, I had not considered the case where the pool maxed out. I think I'll operate without the pool then. `acquireRawConnection` it is.

I'm not certain I want a separate pool for this - even a separate pool does not guarantee that the connection is never dropped, so it adds a lot of complexity. I'd also have to ignore notifications coming off

[2019-04-05 16:26] barroudjo commented on #285
@JonnyLinja I'm very interested in your final solution !

[2019-04-05 18:17] cassvail opened #3128 "clear Having"
# Environment

Knex version: 0.16.3
Database + version:
OS:

# Feature discussion / request

Would it be possibile to implement a ```clearHaving``` function with the same behaviour of ```clearWhere``` but on "having" clause?

Thanks

[2019-04-06 16:44] ffxsam opened #3129 "Documentation on migrations is lacking"
IMO the documentation on migrations is pretty thin, and leaves a lot of questions.

For instance, this is shown in the docs:

[code]

But it doesn't give any explanation of how to actually write migrations. What is `Promise` for? The migrations section starts of well enough, explaining the CLI commands. But then:

and you're left to guess how this is done.

[2019-04-06 18:23] elhigu commented on #3128
Yes. PR please.

[2019-04-06 18:27] ffxsam opened #3130 ""Module not found" errors when used with webpack"
# Environment

Knex version: 0.16.3
Database + version: N/A
OS: macOS 10.14.4

I'm running into errors when using webpack 3.12.0:

[code]

The only DB I'm using is postgres, so the `pg` package is installed. Nowhere am I referencing any of these other libraries.

I've done a search through the issues and found some other people with the same problem, but none of those solutions worked for me. Belo

[2019-04-06 20:37] ffxsam commented on #3130
`externals: { knex: 'commonjs knex' }` actually did work, but I'm using [Serverless](https://serverless.com/), so I had to specify some other config on that side.

[2019-04-06 20:37] #3130 closed

[2019-04-08 06:37] JasperTack commented on #3007
Is there any update about this? I have this problem as well

[2019-04-08 07:47] blacksonic commented on #1382
After upgrading to version `0.16.3`, the example still fails.
Only specifing a smaller `requestTimeout` than `acquireConnectionTimeout` seems to work.

[2019-04-08 13:33] zachelrath commented on #3129
@ffxsam Agreed, these could be fleshed out a bit more with a basic example. I also think that `Promise` could be removed from the docs, as it's not a commonly-used parameter in my experience. It's easy enough to use either a native Promise or to import a more full-featured Promise library like Bluebird if you really need some fancy Promise semantics.

What do you think about this example?

[code]

[2019-04-08 14:52] elhigu commented on #1382
@blacksonic could you open new issue with also has reproduction code that you refer.

Since this issue was opened lots of things have changed and better to start looking into it in clean issue...

[2019-04-08 16:10] ffxsam commented on #3129
@zachelrath I think that example is perfect. It provides enough of a starting point for a dev to go "Oh ok, I need to look at the schema builder section of the docs." As it stands now, it just kind of leaves you hanging with no idea what to do.

[2019-04-08 19:36] zachelrath commented on #3129
@ffxsam I submitted a PR to the docs repo for this change: https://github.com/knex/documentation/pull/187

[2019-04-08 20:16] elhigu commented on #3129
fixed by knex/documentation#187

[2019-04-08 20:16] #3129 closed

[2019-04-09 00:10] kswope commented on #802
Why did this issue go nowhere?  This seems like an important improvement, at least in the case of mysql.  Not only do you get the safety of server-side prepared statements, but no need for repeated client side escaping and transmission of SQL.

You can see the difference in the mysqld logs between using mysql2 execute() and knex, which is probably just using query().

mysql2
[code]

knex using mys

[2019-04-09 06:05] soubhikchatterjee commented on #353
I have switched to Sequelize after having so much issues with knexjs. I am now a happy Sequelize user :)

[2019-04-09 06:38] elhigu commented on #802
Nobody has needed the feature so badly that they would have implemented it. Also because this issue is mixing couple of separate things in its comments.

Original issue was about having real prepared statements, which are sent to session  and then being able to be executed multiple times with different parameters and having that feature available in a crossdb compatible manner.

For example pg-dri

[2019-04-09 06:41] elhigu commented on #353
@soubhikchatterjee good for you, I hope it suits well for your needs 🙂 In my opinion knex is way too low level library to be used directly in app development anyways.

[2019-04-09 08:23] kswope commented on #802
This was my point, that's why I included the mysql logs and not toString() which is what everybody seems to do and then gets reprimanded :)

Although I don't think I explained it fully.  In node-mysql2  query() and execute() seem to be interchangeable.  But with execute() you get real server-side prepared statements (subject of this issue).

The first log proves server-side prepared statements, an

[2019-04-09 09:16] elhigu commented on #802
You did explain it just fine in the first place, thats why I said you are right and pasted a link to documentation, which explains what mysql does with `.query(sql, args, cb)` (does escaping for values and creates a string). `.execute` is clearly preferable way to go and as a bonus it has internally built cache for those prepared statements (IIRC pg-driver doesn't cache those).

Thats good to know

[2019-04-09 09:19] elhigu commented on #802
Locked conversation in here to force everyone to open clean and properly scoped feature requests for prepared statements / parameter bindings related issues.

[2019-04-09 23:02] ctrimble opened #3131 "rollback all running in wrong order"
# Environment

Knex version: 0.16.4-next2
Database + version: Aurora PostgreSQL
OS:

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

We ran `knex.migrate.rollback(migrationsConfig, true)` in an effort to rollback a set of legacy migration files.  We expected this to execute the scripts in reverse chronological order, so that it would have the same effect as

[2019-04-10 14:17] guerrerocarlos commented on #2820
The attribute **_propagateCreateError_** should be set to **_false_** to prevent the `Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?` error.

Example _pool_ configuration:

[code]

### Explanation:

The **propagateCreateError** is [set to _true_ by default in **Knex**](https://github.com/tgriesser/knex/blob/1948c3d423b812e33c38da435bc449d3d898f

[2019-04-10 14:21] notaphplover commented on #360
@chrislondon Nice code, ¿could it be a good idea to switch using knex.client.driverName?

[2019-04-10 15:29] nusendra commented on #97
mee too @nnfans. After trying in two days, the timezone still in UTC :-(

[2019-04-10 17:05] wickedest opened #3134 "oracledb returning numbers as strings"
# Environment

Knex version: 0.15.2
Database + version: Oracle 12
Driver: oracledb
OS: Linux

tag: @atiertant

# Bug

1. I would expect that values returned from an insert would broadly reflect the schema.  E.g. if my table has an integer field ID, then when returning "ID", I would expect an integer value.

2. There is no error message.

3. Sample code demonstrating the problem

[code]

It might b

[2019-04-11 07:02] emahnovets commented on #2886
HI, @davidspiess . May be you know, when this changes will be released?

[2019-04-11 07:05] kibertoad commented on #2886
@emahnovets Updating to latest knex version is not an option? That would remove your dependency on external typings.

[2019-04-11 07:54] RaimoJohanson commented on #590
@Jakobud I read up about the .bin directory being used by Node internally in npm scripts - thanks for that!

[2019-04-11 08:39] atiertant commented on #3134
the problem is knex don't know the row type and oracledb driver need a type, string is the default value....
see https://oracle.github.io/node-oracledb/doc/api.html#executebindParams
you can try ask oracle for a `this.driver.AUTO` feature or use `parseInt()`

[2019-04-11 09:12] elhigu commented on #97
Are you sure you are using timestamptz type of columns when getting time?

[2019-04-11 09:16] elhigu commented on #3134
Not knex’s responsibility.

[2019-04-11 09:16] #3134 closed

[2019-04-11 11:34] davidspiess commented on #2886
@emahnovets sorry i'm not part of the core team, but waiting as well.
@kibertoad the types are updated in master but there is no official release yet.

[2019-04-11 13:33] kibertoad commented on #2886
@davidspiess Sorry for inconvenience. I'll try to cleanup changelog and release official version tonight.

[2019-04-11 14:42] ffxsam commented on #2907
Just started using knex and realized `migration:reset` does not exist like it does in Adonis. Seems like a pretty major thing to not include.

[2019-04-11 17:52] elhigu commented on #2820
@guerrerocarlos please open bug report with some reproduction steps if you think there is a bug

[2019-04-11 18:10] elhigu commented on #2907
@ffxsam pretty major or pretty trivial and rarely needed. It is usually faster to drop old db and re-create from ground up.

[2019-04-11 18:12] ffxsam commented on #2907
@elhigu "rarely needed" - not during the development phase, when one is still working on the schema. With Adonis, we've run `migration:reset` several times in the beginning.

[2019-04-11 19:23] maximedupre opened #3135 ""Incorrect string value" when adding a row, but can easily add the same row manually"
# Environment

Knex version: `0.16.3`
Database + version: MySQL `5.7.18`
OS: macOS Mojave `10.14.2`

@smorey2

# Bug

I'm trying to insert a row with the string "kické-accent.wav".

My table uses the "latin1_swedish_ci" collation and that seems juste fine, as I am able to insert the row without a problem using the MySQL Workbench.

However, when attempting to create the row with `knex`, I get the

[2019-04-11 19:36] kibertoad commented on #3135
@maximedupre Could you try doing same insert by using Node.js MySQL driver directly without knex? I suspect that driver is converting UTF to ASCII behind the scenes and that generates incorrect values, but would be nice to exclude knex as a suspect.

[2019-04-11 19:44] elhigu commented on #3135
You cannot pass row like that to RAW. Knex cannot know what to do to that javascript object.

I suppose you are trying to do
[code]

[2019-04-11 19:44] #3135 closed

[2019-04-11 20:31] kibertoad commented on #2886
@davidspiess 0.16.4 was just released. Please give it a try and let us know if something is wrong!

[2019-04-11 22:01] tavizon opened #3139 "New version 0.16.4 throws an error and breaks our CI"
# Environment

Knex version: 0.16.4
Database + version: Mysql v5.5.59
OS: circleCi

# Bug

1. Your 0.16.4 version auto updated from '0.16.3' and this caused our circleCi build process to throw an error and fail when attempting to run migrate:latest. Since this can cause this breaking issue, we feel this release should be re-released as '0.17.0'. This does not occur locally

2. Error: You are using

[2019-04-11 22:12] kibertoad commented on #3139
related #2955

[2019-04-11 22:17] #3139 closed

[2019-04-11 22:19] kibertoad commented on #3139
@tavizon 0.16.5 was just released. Please let us know if it resolves the problem in a satisfatory way.

[2019-04-11 22:28] tavizon commented on #3139
Thank you for the quick response. As soon as the release is available I will update.

[2019-04-11 23:12] maximedupre commented on #3135
@kibertoad You are right, the problem occurs directly with the MySQL driver. I'll file an issue over there.

@elhigu Well it might be a coincidence that it's working, but I have this code at many places in my app and have no problems. I think that Knex does not know what to do to that js object, but the mysql driver does.

Thanks for both of your answers.

[2019-04-12 06:45] soumyamishra12 commented on #2514
Hi Team,
Any update on this issue i am using oracle knex .16.3 version for the same getting same issue and project is dependent on this as will be using this frquesntly

[2019-04-12 06:45] kibertoad commented on #3139
@tavizon What do you mean? It was released already.

[2019-04-12 07:26] nusendra commented on #97
@elhigu
[code]

Here my migration file

[2019-04-12 08:13] ricardograca commented on #3139
It fixed the problem in my case.

[2019-04-12 08:36] kibertoad commented on #2514
@soumyamishra12 Could you please try 0.16.6-oracle-fix ? It has improved Oracle error handling quite a bit, I wonder if it addresses the specific problem that you are having.

[2019-04-12 08:38] elhigu commented on #2514
@soumyamishra12 this one https://github.com/tgriesser/knex/pull/2608 we are currently unable to run oracle tests so its a risky business to do changes there :(

[2019-04-12 08:39] kibertoad commented on #2514
@elhigu ahahaha, GMTA. Yeah, exactly for that reason I published it as a separate tag so that at least someone could test it.

[2019-04-12 10:28] elhigu commented on #97
Please check from DB schema, thats the ultimate truth.

Then run in your SQL console:

[code]
And see that timezone actually is +2 or +3.

If that all matches up, problem might be 'pg' driver parsing your timestamps to javascript Date objects. You can use pg-types to get them as strings instead. Also remember to check that you are not sending 'SET time_zone = timezone;' to driver in after connect.

[2019-04-12 11:17] soumyamishra12 commented on #2514
@elhigu @kibertoad  have just changed it to 0.16.4 in my server and it's working correctly.Is it fixed for the version?

[2019-04-12 11:25] kibertoad commented on #2514
@soumyamishra12 Now that's interesting 😅. Must have been a side-effects for some of the fixes done there. Please let us know if it keeps being stable for you after a while.

[2019-04-12 14:43] jasonmacdonald commented on #3007
Same problem. There doesn't appear to be a log config anymore but the docs says it should be there.

[2019-04-13 19:08] marcpre opened #3142 "Seed file does not write anything into the sqlite-db"
# Environment

Knex version: "^0.16.5"
Database + version: sqlite3 + 3.24.0
OS: Windows 8.1

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I am trying to seed my previously created database. The database exists and my migration file ran correctly:

![image](https://i.imgur.com/CvfZKkY.png)

2. Error message

When running

`npx knex seed:run` I get no erro

[2019-04-14 04:16] lorefnon commented on #3142
You can update your seed file to return a promise:

[code]

[2019-04-14 07:17] #3142 closed

[2019-04-14 11:02] ralphtheninja opened #3143 "Mind tagging 0.16.5?"
Noticed version 0.16.5 is out but there's a tag missing in the git repo

[2019-04-14 11:47] kibertoad commented on #3143
Thanks for noticing! Will create now.

[2019-04-14 11:58] kibertoad commented on #3143
Done!

[2019-04-14 11:58] #3143 closed

[2019-04-14 12:30] ralphtheninja commented on #3143
Rock n roll :metal:

[2019-04-15 00:17] tonypee commented on #732
returning('id') seems to result in an array eg: [12] i used destructuring to get it out:
[code]

[2019-04-15 03:46] soumyamishra12 commented on #2514
@kibertoad Sure will observe for someday and let you know

[2019-04-15 08:55] FabianTe commented on #1240
After reading into this and the several database drivers, I am unsure about this.

On one hand it is annoying that I have to manually parse some value types. In the application I am developing, I am exposing database tables via an API generically by using the `INFORMATION_SCHEMA`. For that use case it is annoying that knex.js (or the underlying db drivers) sometimes don't return the expected value

[2019-04-15 15:26] kamote opened #3145 "Oracle migration issue on Oracle12C"
# Environment

Knex version: ^0.16.5
Database + version: Oracle Database 12c Standard Edition Release 12.1.0.2.0 - 64bit Production
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
`knex migrate:latest

[2019-04-15 15:29] atiertant commented on #3145
@kamote do you have some code reproducing this error ?

[2019-04-15 15:32] atiertant commented on #3028
you could replace BlobHelper instance by BlobHelper.value

[2019-04-15 15:34] kamote commented on #3145
@atiertant I don't have its only normal migration using Oracle12c.

My migration file content is copied from knex website

[code]

[2019-04-15 15:37] kamote commented on #3145
@atiertant running the generated sql thru razorSQL will also result same error

### SQL generated code
[code]
### Screenshot
<img width="654" alt="Screen Shot 2019-04-15 at 11 33 42 PM" src="https://user-images.githubusercontent.com/3262664/56145577-21baac00-5fd7-11e9-9d65-f88248cbafda.png">

[2019-04-15 16:42] kamote commented on #3145
@atiertant it seems the error exist on multiple "database" setup

<img width="650" alt="Screen Shot 2019-04-16 at 12 39 49 AM" src="https://user-images.githubusercontent.com/3262664/56149904-38193580-5fe0-11e9-889f-9e5df8f0dac5.png">

<img width="647" alt="Screen Shot 2019-04-16 at 12 41 39 AM" src="https://user-images.githubusercontent.com/3262664/56150024-74e52c80-5fe0-11e9-8eff-2494d82806c8.png

[2019-04-16 00:46] tavizon commented on #3139
I am good now. I was seeing the changes to master but not the actual release.

Thank you again!

[2019-04-16 03:24] deswhelan opened #3147 "delete"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2019-04-16 03:25] #3147 closed

[2019-04-16 05:37] soumyamishra12 commented on #2514
@kibertoad I have tracked this issue but it's inconsistent, after 4 or 5 times calling it's again showing 3114 error. Please let me know if we can find a fix for this issue in some build

[2019-04-16 06:11] kibertoad commented on #2514
@soumyamishra12. Yes. Please try 0.16.6-oracle-fix

[2019-04-16 06:46] elhigu commented on #3139
@tavizon did you update your knex to 0.16.5?

[2019-04-16 07:12] elhigu commented on #1240
Knex does not query column types separately from DB. Knex just sends the query to database driver and then gets the result that driver gives. Knex doesn't know anything about schema of the database or DB types of returned values.

I don't know if all the database drivers are returning database types of returned values with query results to knex (at least pg driver does). If that would be true we c

[2019-04-16 09:03] soumyamishra12 commented on #2514
@kibertoad you mean to say 0.16.6 version?

[2019-04-16 10:47] robations opened #3148 "Type definitions missing Config.log"
# Environment

Knex version: 0.16.5
Database + version: n/a
OS: n/a

# Bug

1. Explain what kind of behaviour you are getting and how you think it should work

The type definitions here:

    https://github.com/tgriesser/knex/blob/master/types/knex.d.ts

don't define the log configuration options documented here:

    https://knexjs.org/#Installation-log

From what I understand, this should be def

[2019-04-16 18:18] blackwindforce opened #5873 "Cannot change example query output by language selector"
1. Go to https://knexjs.org/
1. Change language selector
1. Nothing happened
1. Open developer tool
1. Go to console
1. Should not see any error logs

[code]

[2019-04-16 18:58] #5868 closed

[2019-04-16 19:19] elhigu commented on #3135
@maximedupre yep, ypu are right looks like it happens because mysql escaping actually escapes object to `key1 = value1, key2 = value2` type of string. https://runkit.com/embed/2r5t4a4pu6i0

If we change mysql2 driver to use prepared statements instead of escaped strings, that code might break though (it has been requested while ago and should be more efficient and secure).

[2019-04-16 19:26] kibertoad commented on #3135
@elhigu Considering that Node 6 deprecation is right near the corner and we should start thinking about 0.17 already, I would suggest going for it.

[2019-04-16 19:31] elhigu commented on #2907
@ffxsam if you really run migrations down for resetting your DB I suppose that for you it would be frequently needed operation. Still trivial to to implement in your own npm scripts.

I could never recommend resetting DB like that. It is slow as hell and if there is single poorly written down script it can leave state to database so that next time when you run migrations initial state is different

[2019-04-16 19:38] elhigu commented on #3135
Are we in hurry with that? Is there some breaking changes in queue that we would really like to get out? We can just naturally drop node 6 support when we release first breaking changes after 6 reached end of line. I don't think we need to create 0.17 just for dropping node 6.

[2019-04-16 19:40] kibertoad commented on #3135
@elhigu Main reason why I'm eager to drop Node 6 ASAP is because it would allow us to start usiong async/await in tests :D

[2019-04-16 21:29] savovs commented on #407
Hope this helps
[code]

[2019-04-16 23:49] elhigu commented on #2143
This should not happen anymore since `tarn` pool  does never autostart and fill connections on pool creation. So connection error is not thrown until the first query is done.

[2019-04-16 23:49] #2143 closed

[2019-04-17 09:08] soumyamishra12 commented on #2514
I have deployed new change and took 0.16.6-oracle-fix  still the bug exists. It's not consistent enough after 1 or 2 hr interval if I try throws the error.

[2019-04-17 09:19] elhigu commented on #2514
@soumyamishra12 could you paste the error message? Are you sure it is the same one?

[2019-04-17 20:18] Trahtenberg opened #3150 "shielded slashes"
Hello!
I have JSON in the cell. I request data selection and get shielded slashes. How to disable shielding? I need to get the data in the form in which they are stored in the table.

[code]

[2019-04-17 23:00] elhigu commented on #3150
I have no idea what are shielded slashes, but anyways you should check your db driver docs how to get the data out. Knex doesn’t modify values that driver returns.

Closing as this seems to be knex usage issue and should be asked in gitter or stackoverflow.

[2019-04-17 23:00] #3150 closed

[2019-04-18 03:53] ctkcoding opened #3151 "unable to alias in update"
I am unable to find a way to alias a column name. I want to do this
[code]
where column is a passed in value. However knex thinks I want to update a column named "column" and while I saw a similar issue (#83) from 2013, the "solution" is crazy unwieldy

[2019-04-18 04:18] jpsepulvedaf opened #3152 "How to use knex.js and integrate functionalities of model tree structures with nested sets"
How to use knex.js and integrate functionalities of model tree structures with nested sets, like for example "Sequelize" with its library "[sequelize-nested-set](https://www.npmjs.com/package/sequelize-nested-set)". Maybe there is a library that solves this problem of records tree, and that it is used together with "knex.js",
Any suggestions?

[2019-04-18 07:21] petermilan opened #3153 "Print query with bindings"
# Feature discussion / request
From time to time, when debugging bigger complex queries, I am grabbing output from knex and using it in adminer directly. The debug output will print the query without rendered bindings.
it would be nice to see the output of query directly.

[2019-04-18 07:29] petermilan commented on #3153
For a workarround I tried to do update the toSQL function in
`knex/lib/query/compiler.js`

where before the query is returned I am injecting just quickly built query into the response:
[code]

which will generate output like this :
[code]
which can be easily used for debugging of query.

Would something like this make sense to be built in knex?

[2019-04-18 13:34] CesarManriqueH commented on #1446
I realized we can use `webpack.ContextReplacementPlugin` to solve the error caused by other database drivers that are being required but not used. This way we only need to reference the driver we are using from our webpack config, e.g for mysql2 driver:
[code]
Note: I also had to install `mysql` in my project.

Additionally when bundling knex for running migrations and seeds produces some further

[2019-04-18 19:10] natw2012 opened #3154 "Mac OS Electron-Packager Issue"
# Environment

Knex version: 0.16.3
Database + version: SQLite3 4.0.6
OS: OSX El Capitan 10.11.5

# Bug

1.
Error seems to be because it can't find the database file. Works totally fine during development before packaging as long as database file is in same directory.

I'm able to develop and package on Windows 10 and it works so seems to be OSX specific.

2. Error message: "Sorry! Uncaught Except

[2019-04-18 20:08] Trahtenberg commented on #3150
query return this:

`{"selector":"a[class=\\"xf-product-title__link js-product__title\\"]","site":"https:\\/\\/www.ya.ru\\/catalog\\/kartinki\\/nasha/"}`

but need:

`{"selector":"a[class=\"xf-product-title__link js-product__title\"]","site":"https://www.ya.ru/catalog/kartinki/nasha/"}`

[2019-04-20 07:10] pvider opened #3156 "Type inference in JS for select queries"
# Environment

Knex version: 0.16.5
Database + version: Postgres 10 / Any knex compatible
OS: Windows/Linux/MacOS
IDE: Visual Studio Code (latest)

# Feature discussion / request
I need type inference in JS for select queries, right now I don't know better way to get it than write some helpers. Here is primitive oversimplified helper example, of course it can be extended to support other knex meth

[2019-04-20 12:07] elhigu commented on #3150
Happens because js strings always require double backslashes for representing backslash. So for example is string literal ’\\foo\\’ is written to file or printed with console.log it will output just \foo\ without any doubles.

[2019-04-20 20:03] thebrodmann commented on #55
The issue exists as mentioned in https://github.com/tgriesser/knex/issues/55#issuecomment-85361904. Are there any workarounds?

[2019-04-21 10:43] elhigu commented on #55
@thebrodmann Please open bug report, this issue was closed, because it was about different thing.

[2019-04-22 13:44] elhigu commented on #1559
This seems to be fixed, at least test case is passing for every dialect, except oracle and sqlite.

[2019-04-22 13:44] #1559 closed

[2019-04-22 14:00] filbertteo commented on #3131
I encountered the same issue too.

[2019-04-22 17:43] jsumners opened #3158 "Documentation for returning functionality in MySQL is not clear enough in all cases"
# Environment
Knex version: 0.16.5
Database + version: MySQL 5.7

# Bug

[code]

That sort of statement is giving `returning() is not supported by mysql and will not have any effect.` Note that this statement is _not_ using `returning()` but is relying on Knex's internal version of it for MySQL.

[2019-04-22 23:33] elhigu commented on #3154
Sounds like user error of electron or bug in sqlite3 driver. Nothing in this report seem to point knex having a bug. First try to use sqlite3 directly and if you can make that work with your electron setup only then try to include also knex.

Can be reopened if this problem is shown to be caused by a bug in knex.

[2019-04-22 23:33] #3154 closed

[2019-04-23 09:41] karam94 opened #3159 "Prevent Timeout Error with AuroraDB?"
I'm using a serverless AuroraDB.
One of the advantages of a serverless database is cost saving as the database goes to sleep after a certain amount of inactivity.

Is there no solution to preventing the timeout error that occurs every time the database starts from cold by increasing a timeout of some sort?

This comment here:
https://github.com/tgriesser/knex/issues/2820#issuecomment-481710112

Su

[2019-04-23 10:20] elhigu commented on #3159
Change `acquireConnectionTimeout` to be long enough to handle case where DB is unresponsive or add some pre-query method, which waits for database to get available, before doing any queries.

Also you should setup pool timeouts to purge idle connections very aggressively, so that pool is empty when aurora goes sleeping.

[2019-04-23 10:20] #3159 closed

[2019-04-23 10:29] elhigu commented on #3159
However you should *not* set configuration property  `propagateCreateError: false`. That will cause you some nasty problems in unexpected connection errors. So if Aurora is responding with failure when it is not ready, you indeed should first create some code to make sure aurora is available before doing queries.

That sounds like strange design from aurora side to not have option for transparent

[2019-04-23 13:21] mjurincic commented on #1382
Any news on this is this still an issue, we experience also quote few sporadic ""Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"", trying to figure out is this related to this issue or should we tweak poll connection config instead.

[2019-04-23 14:37] mifi commented on #2302
FWIW I got this error with an AWS Aurora database service, and it was caused by auto shutdown feature which terminates the database after inactivity (auto-startup of the database takes like a minute or so, and that caused knex to time out)

[2019-04-23 15:13] elhigu commented on #2302
https://github.com/tgriesser/knex/issues/3159 There is list of some work around suggestions for aurora.

[2019-04-23 15:15] elhigu commented on #1382
@mjurincic please open an issue, there may be a problem with oracledb in certain error cases, but generally this problem is solved already.

[2019-04-23 16:15] ccocoual opened #3160 "Alter of column to set default return `RequestError: Incorrect syntax near the keyword 'default'.`"
# Environment

Knex CLI version:  0.16.3
Local Knex version:  0.16.3
Database + version:
[code]
OS: MacOS Mojave 10.14

Select applicable tempalate from below.
For MSSql tag .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Hi @smorey2 , I create a migration to add default value to some columns with an alteration. I get

[2019-04-23 17:07] karam94 commented on #3159
Well, this is the thing.
According to the docs here for acquireConnectionTimeout: https://knexjs.org/
The default is 60 seconds. Aurora takes about 20-30 seconds to boot up, not 30. However knex seems to stop trying after about 10 seconds. Are changes required to the connection pools too?

[2019-04-23 17:34] elhigu commented on #3159
Knex passes that timeout to the pool internally and there is a test case that for example with timeout of 100ms that error is thrown. It is of course possible that there is a bug somewhere with default timeout or with longer timeouts... but...

[code]

So according to my brief test it waits 60 seconds just fine. So if there is some reproduction, which actually shows knex really having a problem wi

[2019-04-24 07:28] ozziest commented on #2253
I wonder is there anything new about this? We are using AWS RDS and we have read replicas. We use [AdonisJs](https://github.com/adonisjs) as backend framework and it uses knex.js as database provider. Without read replica support, I guess we have to change our stack.

[2019-04-24 10:04] avimar commented on #2253
@ozziest I don't know another stack will automagically do this for you.

The "simple" way is to have a knex handle for writes and a knex handle for reads.
Alternatively, check earlier comment: https://github.com/tgriesser/knex/issues/2253#issuecomment-333715066

[2019-04-24 11:02] elhigu commented on #1446
mysql2 is inherited from mysql driver, so that is the reason, why you need both. Thanks for all the webpack info.

[2019-04-24 14:01] eswarmdv opened #3161 "possible to use our own pg pool using knex."
# Environment

Knex version:
postgres +0.16.3 :
OS: windows

# Questions about how to use knex

Hi,
 Is it possible to use our own pg pool using knex.

[2019-04-24 14:52] lfernando-silva commented on #3113
it would be nice if there were a separate event to detect connection problems. But having this check would be also great.

[2019-04-24 17:59] lfernando-silva opened #3162 "Connection Taking Too Much Time To Start"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real

[2019-04-24 17:59] #3162 closed

[2019-04-24 17:59] lfernando-silva opened #3163 "Connection Taking Too Much Time to Start"
# Environment

Knex version: 0.16.5
Database + version: PostgreSQL 11
OS: OSX (Mojave)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Connection should be made quick after application start, but it is taking about minutes to start. Once it is connected, the query works quickly.

2. Error message

Actually there is no message, but the connection is really

[2019-04-24 18:54] oscarlnetoo commented on #2514
Hello there,
@elhigu Any updates for this issue?

[2019-04-24 20:03] #3163 closed

[2019-04-24 20:03] lfernando-silva commented on #3163
Debugging here, realized that is not related to knex itself, but something in my OS blocking the requests.

[2019-04-24 20:24] elhigu commented on #3161
No. Closing as duplicate https://github.com/tgriesser/knex/issues/2665

[2019-04-24 20:24] #3161 closed

[2019-04-24 21:05] elhigu commented on #3153
.toQuery() and .toString() does interpolate queries to string with bindings in string format. However those doesn't work perfectly in some special cases.

[2019-04-24 21:05] #3153 closed

[2019-04-24 21:10] elhigu commented on #3152
As far as I know there is no tool like that, if anyone know feel free to comment here. This seems to be out of scope for knex issue tracker so closing.

[2019-04-24 21:10] #3152 closed

[2019-04-25 07:06] siberiadev opened #3164 "Knex doesn't return result of joint query because associated field is NULL"
Hello, everybody!
I have some troubles with this code:
[code]

This query returns me nothing when my topic_groups.last_message_id is NULL.

How can I return topic_groups strings with no joints if associated field is NULL?

[2019-04-25 08:47] ricardograca commented on #3164
Use `leftJoin()` instead of `innerJoin()`.

[2019-04-25 08:47] #3164 closed

[2019-04-25 11:48] DanrwAU commented on #924
I'm having the same issue with this, i need to do an if (!exists) as per the original poster to not try and run on existing tables, how should we handle this to prevent the below errors?

migration 20190322204706_create_messages_table.js did not return a promise

My Migration file is:
[code]

[2019-04-25 11:59] DanrwAU opened #3165 "Migration did not return a promise"
# Environment

Knex version: 0.16.5
Database + version: SQLite 3
OS: Ubuntu 18.04

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Migration file needs to be run on both new databses and databases where tables may already exist, using the example from the documentation results in an error about not returning a promise.

Is this a use case for knex.createTab

[2019-04-25 12:11] elhigu commented on #3165
Your up/down methods are not returning promises.

[2019-04-25 12:11] #3165 closed

[2019-04-25 12:15] DanrwAU commented on #3165
I may be being thick here, would you mind spending 30 seconds with an example of how to handle this? removing the .then and .catch resulting in this hard failing.
As it is now it does work, just throws an error at the console.

Thanks :)

[2019-04-25 14:55] enapupe commented on #1528
Maybe this project can help https://github.com/vitaly-t/connection-string

[2019-04-25 15:47] elhigu commented on #3165
exports.up = function(db, Promise) {
  return db.schema...
}

Like that. Sorry i dont like coding with mobile phone so im not gonna write longer example :)

[2019-04-25 18:21] CamShft opened #3166 ""With" knex... error table or view doesn't exist"
# VSCode

Knex version: 0.14.5
Database + version:  Oracle - 10.2.0.3.0
OS:  window 7

 @atiertant

# Bug
i tried to implement the "With" like the doc said: https://knexjs.org/#Builder-with
but i got a bug.
1. The bug is when i tried to get a result from this query :
knex queryBuilder:
[code]
sql genereated :
[code]

2. Error message :

Thanks !

[2019-04-25 22:06] elhigu commented on #3166
And what is expected query in that case? Please create minimal reproduction code. You just might have written any table name wrong and oracle would throw that error.

Closing as cannot reproduce, can be reopened if reproduction code or correct output sql is added.

[2019-04-25 22:06] #3166 closed

[2019-04-25 22:19] elazar opened #3167 "defaultTo() doesn't JSON.stringify jsonb columns"
# Environment

Knex version: 0.11.0, but this likely applies to the latest release
Database + version: PostgreSQL 11.2
OS: OS X 10.14.4

# Bug

I think the fix for #280 in bd3147964cf6fb6693fe73e991494448e54721b4 should have been applied to the `jsonb` type as well as the `json` type on [this line](https://github.com/tgriesser/knex/blob/0e845489ca742f4052bbe4f717e81c24bb1544f5/src/schema/columncom

[2019-04-26 00:00] kibertoad commented on #3165
Or, a much simpler solution - make both functions async.

[2019-04-26 14:01] CamShft commented on #3166
if the name was incorrect, why i can execute the sql in TOAD and i get the result that i expected :o

[2019-04-26 22:11] elhigu commented on #3166
That is not the same query, nor copy/paste from knex. One generated by knex would look completely different as you can see here https://runkit.com/embed/sc33wjmqgjen and in the error message returned by oracle. Maybe you have case sensitivity issue since I see you are not quoting your identifiers.

Please add reproduction case if you find out that there is actually bug in knex.

[2019-04-27 14:23] lorefnon commented on #3156
I believe the ideal solution for this is to make the typescript APIs generic in terms of the the type of row of the (potentially joined) table being operated upon and the result of the current operation.

I have a preliminary implementation in https://github.com/tgriesser/knex/pull/3168 which does something similar (but needs more testing).

This happens to be my first PR in this repo so I would l

[2019-04-28 08:45] angristan commented on #612
Thaks! 🙏

[2019-04-28 10:56] lukebyrne commented on #1446
@Levino I am having the same issue with this demo repo I set up for this issue using  https://github.com/serverless-heaven/serverless-webpack/issues/43#issuecomment-487254053

https://github.com/lukebyrne/typescript-express-jwt-lambda

I tried out your examples above but had no joy. Do you think you could take at look at my demo app and see if you can see anything I am missing? It is driving me nu

[2019-04-28 16:33] alubbe opened #3170 "Dropping support for node v6 and using async/await"
With v6 out of LTS and v12 introducing async stacktraces, would you at all be interested in refactoring the codebase by replacing all `.then`/`.catch` with `async/await` and `try/catch` for the performance & debugging improvements? If you are, I'll be happy to help out with a few PRs

[2019-04-28 16:45] kibertoad commented on #3170
Async/await is definitely something that we want to do, although I'm not sure about performance benefits; isn't it still at least slightly slower than promises? That said, I want async/await for tests badly, so we are most likely dropping support for Node 6 in next major version anyway. So please do send these PRs in!

[2019-04-29 06:31] alubbe commented on #3170
Good point - regarding performance, native async/await has caught up in v12:
[code]

Also here's more detail about the improved debugging: https://v8.dev/blog/fast-async

[2019-04-29 12:32] chaffeqa commented on #3158
Can confirm, due to this change obv: https://github.com/tgriesser/knex/pull/3039

[2019-04-29 19:39] kibertoad commented on #3158
@jsumners Why are you passing second param to `insert`? It is literally a `returning` argument.

[2019-04-29 19:40] kibertoad commented on #3158
All it does is `if (!isEmpty(returning)) this.returning(returning);`, so it's pretty much same thing.

[2019-04-29 19:41] chaffeqa commented on #3158
According to what I understand, that is the only way to get a result from an `insert` in mysql dialect (since `returning(...)` syntax doesnt work?)

[2019-04-29 19:42] kibertoad commented on #3158
No, it's exactly same thing and is unlikely to have any effect either, warning is correct.

[2019-04-29 19:43] chaffeqa commented on #3158
oh intiresting... well it works for mysql then... whats the warning for?

[2019-04-29 19:45] kibertoad commented on #3158
Can you try removing it and see if that makes any difference?

[2019-04-29 19:47] chaffeqa commented on #3158
[code]

Oh wow I guess not... so the default is to return an array of `id`s inserted?

[2019-04-29 19:53] jsumners commented on #3158
The documentation promotes this syntax:

![image](https://user-images.githubusercontent.com/321201/56922742-f1731300-6a96-11e9-9aa5-69f955adea29.png)

[2019-04-29 19:54] kibertoad commented on #3158
If what I'm seeing in builder tests is correct, unfortunately no, just an array of last id inserted. Likely because LAST_INSERT_ID() is used somewhere (can't find reference in knex, could be mysql driver thing).
MySQL is not a great DB.

[2019-04-29 19:56] kibertoad commented on #3158
@jsumners Documentation is not MySQL-specific. Also it says: " It's a shortcut for returning method". And documentation for `returning` method says this: "Utilized by PostgreSQL, MSSQL, and Oracle databases".

Not a bug, works as designed.

[2019-04-29 19:59] jsumners commented on #3158
Wow.

1. Yes, the documentation _is_ MySQL specific. I highlighted the dropdown that indicates it is so.
2. It shouldn't matter what the documentation behind the "returning method" says because this documentation is clearly indicating that Knex will do the right thing for MySQL when given this syntax.

[2019-04-29 20:01] kibertoad commented on #3158
@jsumners OK, documentation is misleading here and needs to be clarified. In MySQL case it is actually likely to return 3 and not 2, and also regardless of returning param. This is definitely not communicated properly.

[2019-04-29 20:03] kibertoad commented on #3158
`documentation is clearly indicating that Knex will do the right thing for MySQL when given this syntax.` - not really. Fact that it only returns you single ID on MySQL is already a strong hint that it's not doing the right thing, but yes, that should have been explained in much less ambiguous terms.

[2019-04-29 20:05] chaffeqa commented on #3158
ugh I feel for you guys, yea very difficult to explain, but thanks for the clarification!

FYI for the curious, the implementation looks to be in https://github.com/mysqljs/mysql#getting-the-id-of-an-inserted-row (though a quick search didnt help me understand the exact spot).

Along those lines, it *looks* like this is race condition safe (which was my immediate next concern)

I miss postgres 😢

[2019-04-29 20:07] kibertoad commented on #3158
@chaffeqa Thanks for investigating this further!
Totally share your feelings towards PostgreSQL 😂

[2019-04-29 20:07] jsumners commented on #3158
You and me both.

[2019-04-29 22:05] elhigu commented on #3158
Afaik that dropdown in upper corner only selects dialect that is used to generate output from example builders... so rest of the docs are static and the same for all the dialects (and that is intentional to highlight for everyone those parts of docs where builders are not generation cross db compatible queries). If anyone is up to make this part more clear in docs please do.

This issue could be a

[2019-04-30 01:43] jimwei opened #3173 "the inner data in multiple result set not is an array"
Hi,
 i use sequelize.query to get a mutiple result set, such as
const results = await sequelize.query('select * from user; select * from region;', {type: sequelize.QueryTypes.SELECT});

the results is an array, and the inner data in results is not an array, but an object.
is this a bug?

thank you!

[2019-04-30 07:46] elhigu commented on #3173
Please ask that form sequelize developers.  This is `knex` issue tracker.

[2019-04-30 07:46] #3173 closed

[2019-04-30 07:50] jimwei commented on #3173
oh, sorry, it's my mistake.

[2019-04-30 11:16] fl0w commented on #285
This shouldn't be necessary @elhigu. [From pg docs](https://www.postgresql.org/docs/current/sql-listen.html):

[2019-04-30 15:46] booboothefool commented on #2302
@wubzz

If this is the issue, what are possible recommendations to take if cannot simply do less work? 😅

[2019-04-30 16:26] ulysset opened #3175 "Possible SQL Injection issue when using strings with periods as parameter binding."
Hi!
First, thanks a lot for this library, it is very useful.
# Environment
Knex version: 0.16.3
Database + version: PSQL 10.4
OS: MacOS 10.14.4

# Bug
1. I'm trying to use knex.raw to bind parameters to the raw query.
I would expect the parameter `"Russian Federation & U.S.S.R."` to be used in the final query as `"Russian Federation & U.S.S.R."` but the final query is rendered like this : `"Russia

[2019-04-30 16:39] elhigu commented on #3175
You are using it as identifier, `:groupName:` notice colons on both sides of the replacement. So naturally it is rendered as identifier and not as value binding.

[2019-04-30 16:39] #3175 closed

[2019-04-30 17:19] ulysset commented on #3175
Thanks for the quick answer @elhigu !
Actually, I want it to be an identifier and not as value binding.
The `:groupName:` is an `AS` clause and requires double quotes in psql.
[code]
This query work when I run it manually :
![image](https://user-images.githubusercontent.com/13087992/56979480-391e9b00-6b7a-11e9-9a73-533fb75c437e.png)

I added the AS clause word to the knex.raw. Here is the rendered

[2019-04-30 19:04] j0h commented on #701
Most of these solutions seems to be filled with potential SQL injection threats. Here is a simple generic function for anyone looking to do this on Postgres.

[code]

Usage: If you have a **foo_bar** table with a unique key on **foo_id** and **bar_id** named **foo_bar_uk** with **data_number**, **data_string** and **data_json** columns, use the function as follows:

[code]
This will create an entr

[2019-04-30 21:00] mifi commented on #2302
Increase the timeout?

[2019-05-01 08:07] tsondergaard opened #3176 "knex silently broken with sqlite3 and config.pool.max > 1"
# Environment

Knex version: 0.16.5
Database + version: node-sqlite3 version 4.0.6, sqlite3 version 3.26.0
OS: Fedora 29 Linux x86_64
Node version: nodejs-10.15.3-1.fc29.x86_64

# Bug
If knex is configured with `{ client: "sqlite3", pool: { max: 10 } }` then things fail in obscure ways

Steps to reproduce:

run the following program with `npx ts-node example.ts`

[code]

It produces the following

[2019-05-01 13:53] elhigu commented on #3176
Yes, we could add dialect basis validator for knex configuration parameters and throw an error if configuration has values which are certainly not compatible with database... however you can get same kind of error when you try to use too big pool size for any database. And I'm not sure if sqlite really limits to single connection nowadays.

If sqlite database can work with multiple connections, th

[2019-05-02 18:26] elhigu commented on #3175
Yep identifiers with periods are not supported by knex (because of identifier parsing and automatic quoting) and spaces... I'm not sure, but I wouldn't try it :)

[2019-05-02 18:27] elhigu commented on #3175
And passing user defined value as identifier without special validation is an sql injection hole indeed.

[2019-05-03 09:26] tsondergaard commented on #3176
I have seen very strange behavior with multiple connections and sqlite in code that uses trivial SQL and where the same code appears to work fine with MS SQL. I haven't quite gotten to the bottom of it. SQLite and multiple knex connections behaves quite differently from MS SQL as it will fail with SQLITE_BUSY whenever it hits a locked file instead of trying again. PRAGMA busy_timeout helps a bit w

[2019-05-03 12:46] ulysset commented on #3175
Thanks @elhigu, it wasn't user-defined so I'll just remove the periods!

[2019-05-03 14:03] SebSchwartz commented on #3130
@ffxsam How did you make it work with serverless?
I tried put the same externals as you but doesn't work, it doesn't include the modules at all :(
Thanks for help ;)

[2019-05-03 14:05] ffxsam commented on #3130
@SebSchwartz

In my serverless.yml:
[code]

[2019-05-03 14:44] SebSchwartz commented on #3130
Great it's working :)

Thanks for your help!

For those with new webpack version:
[code]

[2019-05-03 20:08] mathieumagalhaes opened #3178 "1 Persistent connection"
# Environment

Knex version: 0.16.5
Database + version: MySQL 8
OS: MacOS Mojave

# Feature discussion / request

This does not seem the case for me. Or we misunderstood eachother. I'd like a persistent, non releasable single connection. If needed this can be one without the pool ofcourse, my pull request was a way to implement this but I admit it's hacky. With pool max 1 and min 1, connection sti

[2019-05-03 20:46] jsumners commented on #3158
@chaffeqa it looks like this is where the returning in happening

https://github.com/tgriesser/knex/blob/a2ab754eedcc1d8fe6328cb40adf0e31b2b3576a/src/dialects/mysql/index.js#L153-L154

But I do not see where it is appending the `set ?`.

[2019-05-03 21:12] mathieumagalhaes commented on #3178
Could someone also explain me this phenomenon?
And possibly provide a workaround?

Running two identical queries one after the other in an API, I'm seeing a delay in the first query across multiple request. Even with #3177.

I understand that the first request will still need to acquire a new connection but future request doesn't as I can confirm with knex:debug logs.
But I'm still getting slower

[2019-05-03 21:27] elhigu commented on #3178
Then you need to fix your code. If that happens only when you are doing separate API requests, it means that your API code has a bug. I suppose you are reinitializing new knex instance on every request or something like that.

Please add that reproduction code, I'm pretty tired of having to ask that repeatedly 😞

Below is an example of complete reproduction code (which shows that knex actually wor

[2019-05-03 21:27] #3178 closed

[2019-05-03 21:37] mathieumagalhaes commented on #3178
@elhigu Isn't the case as I'm testing with a console.log in Knex' constructor and not seeing it twice.

Also your example is showing exactly what I'm trying to prevent/discuss?
Releasing connection to pool after each query

Nevermind though.

[2019-05-04 09:05] elhigu commented on #3178
@mathieumagalhaes ok, good.

No it is not. You are not trying to prevent connections being released back to pool. You are trying to prevent connections from being discarded from pool.

When connection is released back to pool it is still kept active in pool and it is not disconnected from DB server (as you can see from numUsed / numFree that when pool starts it is empty and after first query is do

[2019-05-04 09:22] lorefnon commented on #3065
I didn't see the discussion here before, but I believe this has been addressed by https://github.com/tgriesser/knex/pull/3168

[2019-05-04 13:54] mmarvick commented on #3065
I would agree - nice work! Thanks @lorefnon

[2019-05-04 13:54] #3065 closed

[2019-05-04 19:28] sarneeh commented on #913
@unsign3d Why this issue has been closed?

[2019-05-04 19:54] elhigu commented on #913
@sarneeh better to open new issue for the original post with proper reproduction + example what kind of query should be created if it is still a problem.

[2019-05-04 20:21] CodyEakins opened #3179 "Fix the typescript definition for table.timestamps() (and maybe also update the docs)"
# Environment

Knex version: 0.16.5
Database + version: Postgres 11.2
OS: Windows 10, WSL and VSCode

# Bug

**Current Behavior:**
If you try to use the `options` argument of `table.timestamp()` in TypeScript, it raises a type error with the following message:
`Argument of type '{ useTz: boolean; }' is not assignable to parameter of type 'boolean | undefined'.`

**What is should do:**
According to

[2019-05-04 20:51] pvider commented on #3156
With #3168 knex is greatly typed, big thanks to @lorefnon!

[2019-05-04 20:51] #3156 closed

[2019-05-04 22:26] dalvan-bevilaqua commented on #739
how my code

SELECT
	id, sum(coalesce(qtdsaida, 0)) as qtdsaida, sum(coalesce(qtdentrada, 0)) as qtdentrada FROM
(

    SELECT tmp.id, qtdsaida, qtdentrada FROM
    (

        SELECT
            p.id,
            sum(coalesce(vp.quantidade, 0)) as qtdsaida,
            0 AS qtdentrada
        FROM
            produto p
        LEFT JOIN venda_produto vp on (p.id = vp.idproduto)
        WHERE

[2019-05-05 03:07] shelru opened #3180 "WhereRaw and other options at the end"
Mysql
[code]

[2019-05-05 06:32] lorefnon commented on #3179
Seems like the type-definitions are dialect agnostic, where as the signature of timestamp function varies across dialects [<sup>[1]</sup> ](https://github.com/tgriesser/knex/blob/0115f933ca09b20bf457d1e47e3e06a9e26b0ae1/src/dialects/mysql/schema/columncompiler.js#L86) [<sup>[2]</sup>](https://github.com/tgriesser/knex/blob/0115f933ca09b20bf457d1e47e3e06a9e26b0ae1/src/dialects/postgres/schema/colum

[2019-05-05 08:12] elhigu commented on #3179
Object format is official way to go. Old parameter is left there only to not brake backwards compatibility (and all old migration files using the parameter).

[2019-05-05 08:14] #3180 closed

[2019-05-06 05:47] shelru commented on #3180
@elhigu what's wrong?
Is that normal way with query raw building?

[2019-05-06 06:31] shelru commented on #3180
![image](https://user-images.githubusercontent.com/9306996/57209598-18c36600-6fea-11e9-868e-48fd3636fd2f.png)

[2019-05-06 12:52] nwolfman opened #3182 "Does Knex support "batch" insert in Oracle?"
I'm actually using objection and want to understand if knex already has this implemented or not?

There are two ways of mass storing collection of records into Oracle using array binding and the multiple record insert syntax.  Does knex use either one?

[2019-05-06 13:26] elhigu commented on #3182
Have you tried it if it works?

[2019-05-06 13:41] elhigu commented on #3182
Looks like it might.. would need to check testsuite to be sure https://runkit.com/embed/1r6wheq9c8or

[2019-05-07 20:51] felixmosh commented on #701
I've wrote tiny lib, that adds `onDuplicateUpdate` function to Knex QueryBuilder.
https://github.com/felixmosh/knex-on-duplicate-update

[2019-05-08 08:11] felixmosh commented on #793
I've wrote tiny lib, that adds onDuplicateUpdate function to Knex QueryBuilder.
https://github.com/felixmosh/knex-on-duplicate-update

[2019-05-08 10:19] qw4n7y commented on #734
Actually @invernizzie had raised a reasonable question. It would be nice to have an option to skip those migrations which are in knex_migrations table but not exists on file system. that would make switching between branches much easier. please correct me if i am wrong

[2019-05-08 17:00] CodyEakins opened #3184 "Fix the name value in the knex_migrations table when using custom migration sources"
# Environment

Knex version: 0.16.5
Database + version: Postgres 11.2
OS: Windows 10, with WSL and VSCode

# Bug

**Current Behavior:**
When using a custom migration source in `knex.migrate.latest()`, migration names are incorrectly saved to the database with their relative path to the migrations directory.

For example, if I have migration named `20190503112250_initial.ts`, it should be saved to

[2019-05-09 07:11] thevirajshelke opened #3185 "Knex Migration 'Unknown configuration option 'client' value ${clientName}'"
# Environment

Knex version: 0.16.5
Database + version: PostgreSQL 10.7
OS: Ubuntu 18.04

**knexfile.js**

[code]
**Running Knex Migration**
[code]
**Error**
[code]

I have tried using `client: "pg"`, `client: "postgres"` but both results into the same error! I have checked the `constants.js` file of the source code and it supports `pg`, `postgres`, `postgresql` still I am facing the same issues.

[2019-05-09 07:21] thevirajshelke commented on #3185
I tried doing this & results are same!

[code]
[code]
[code]

[2019-05-09 07:35] elhigu commented on #3185
knexfile should not export knex instance, but only configuration.

[2019-05-09 07:35] #3185 closed

[2019-05-09 07:37] thevirajshelke commented on #3185
[code]
**I tried running migrations from the code itself and this works fine**
**So I think it is a bug! Can anyone confirm this bug?**

[2019-05-09 17:36] CodyEakins commented on #3184
It turns out that this was an issue with the `WebpackMigrationSource.ts`; here is the updated, working custom migration:
[code]
Note the added `path.parse()` to `getNigrationName()`...

@elhigu or @lorefnon - Maybe you can update the custom migration example in the docs to account for this difference in name resolution? I don't want others running into the same problem by following the original ex

[2019-05-09 17:52] danielscotiabank commented on #2832
Hi there! I'm bringing this back to life because I've been able to reproduce the issue with knex 0.16.5. Some context: my organization has a quality gate that requires enough test coverage and my build was failing because the migration files were being picked up. While there are ways around it I decided to entertain the possibility of testing my migrations at build time with an in-memory database.

[2019-05-09 19:16] elhigu opened #5874 "Update WebpackMigrationSource example"
Original issue here:

https://github.com/tgriesser/knex/issues/3184#issuecomment-490997158

[2019-05-09 19:17] elhigu commented on #3184
@CodyEakins thanks for the info!

[2019-05-09 19:17] #3184 closed

[2019-05-09 19:17] elhigu commented on #3184
Added issue to documentation repo

[2019-05-09 19:36] elhigu opened #3186 "Crossdb support for INSERT ... ON CONFLICT / MERGE upsert"
# Environment

# Feature discussion / request

1. Explain what is your use case

To support MERGE / ON CONFLICT features of databses.

2. Explain what kind of feature would support this

Full discussion about the feature is in https://github.com/tgriesser/knex/pull/2197#issuecomment-325934623

Conclusion by @jordansexton  was:

Okay. I'll finish the implementation for `DO NOTHING/UPDATE` on Postgr

[2019-05-09 19:55] intellimat commented on #1628
thanks a lot guys,
I spent a whole day triyng to make it work, and THEN it was the fu**ing 'then()'

[2019-05-10 21:24] ziggi commented on #3158
Can we got an ability for disable this warning? Because I use knex with mysql and with `returning` feature as well. And returning only `first` inserted id is enough for me.

By the way, why we can just fix the mysql knex dialect with changes below?

Just change this line:
https://github.com/tgriesser/knex/blob/a2ab754eedcc1d8fe6328cb40adf0e31b2b3576a/src/dialects/mysql/index.js#L154
to this:
[code

[2019-05-11 19:29] algil commented on #2998
Hi! Is there any progress on this?

[2019-05-11 22:48] kibertoad commented on #3131
0.16.6 is out which should address this problem. Please reopen the issue if you are still experiencing the problem after update.

[2019-05-11 22:48] #3131 closed

[2019-05-11 23:11] kibertoad commented on #734
@qw4n7y Recommended approach is using this: https://github.com/tgriesser/knex/pull/2968 (CLI option coming soon). Then you can return to clean slate before switching to another branch without completely messing up your db.

[2019-05-12 06:56] brunolm commented on #2998
@algil I didn't need to update or start a new project yet, so I'm still using 0.15 for the most part.

But I did make a PR that solves this issue, You can fork knex and apply these changes to it: https://github.com/tgriesser/knex/pull/3005

[2019-05-12 17:54] Msea commented on #285
FWIW I did the polling option. It seemed to work fine, but I haven't gotten to the point of more intensive testing, so I can't say it necessarily solves all the problems. In case you all are interested:

[code]

[code]

[2019-05-12 23:11] kibertoad commented on #2998
It's not so simple, unfortunately. I'll try to come up with a fix that doesn't break any use-cases this week.

[2019-05-13 09:26] joshuaavalon opened #3192 "knex.initialize() does not exists on TypeScript declaration"
# Environment

Knex version: 0.16.7
Database + version: N/A
OS: N/A

# Bug

`knex.initialize()` exists but it does not exists in `index.d.ts`.

[2019-05-13 09:40] Xiphe opened #3193 "Breaking change in 0.16.6 (when used with typescript)"
# Environment

Knex version: 0.16.5
Database + version: sqlite3@
OS: macos

# Bug

1. After moving to `v0.16.6` when compiling my application with typescript I get the following error

2. `Generic type 'Knex<TRecord, TResult>' requires 2 type argument(s)`

3.
[code]

---

I understand that the typescript definitions might not be your primary API. But  https://github.com/tgriesser/knex/pull/3168 is

[2019-05-13 09:47] loxs commented on #3193
I will also reference my comment on the pull request itself: https://github.com/tgriesser/knex/pull/3168#issuecomment-491749022

[2019-05-13 09:58] felixmosh commented on #3193
and mine :]
https://github.com/tgriesser/knex/pull/3168#issuecomment-491756537

[2019-05-13 10:30] kibertoad commented on #3193
Can you try 0.16.7?

[2019-05-13 10:54] Xiphe commented on #3193
Hey @kibertoad
Thanks for the fast response.
In my case using `v0.16.7` does not compile in TS without problems.

[code]

This is not the same error as in `v0.16.6` but still does not allow "just installing the new version"

[2019-05-13 10:56] Xiphe commented on #3193
I suspect that the idea behind #3168 is pretty cool in regards of type-safety. And would really like to understand how to use it but was not able to wrap my head around it.

[2019-05-13 10:59] kibertoad commented on #3193
@Xiphe I think you are trying to use array as a non-array, hence the problem. Are you on gitter? We could try grilling into problem together. And yeah, looks like it should be 0.17 instead, will republish.

[2019-05-13 11:04] felixmosh commented on #3193
I used this version, and all of Knex related stuff were broken.

[2019-05-13 11:24] kibertoad commented on #3193
@felixmosh Will unpublish ASAP.

[2019-05-13 11:33] kibertoad commented on #3193
0.16.6 and 0.16.7 were unpublished. I will rerelease current master as 0.17.0-next so that we could investigate incompatibilities and prepare migration guide.

[2019-05-13 11:47] loxs commented on #3193
I am also willing to experiment with @next when I have some time.

[2019-05-13 12:03] felixmosh commented on #3193
Thank you!

[2019-05-13 14:10] thevirajshelke opened #3194 "Migration using typescript"
# Environment

Knex version: 0.16.5
Database + version: postgreSQL 10.8
OS: Linux
Node Version: v10.15.3

**knexfile.ts**
[code]
**connection.ts**
[code]

**migration.ts**
[code]

**main.ts**
[code]

The above code is giving me error as follows
[code]

Any suggestions on how should you write migration scripts in typescript?
I am compiling my source to javascript and then using it.

[2019-05-13 14:52] felixmosh commented on #3193
`npm i knex@next` installs knex@0.16.4-next2, this version not includes this PR.

[2019-05-13 17:18] kibertoad commented on #3193
It wasn't released yet, give me an hour or so :)

[2019-05-13 18:32] kibertoad commented on #3193
0.17.0-next is now out. Suggestions, problem reproductions and PRs most welcome!

[2019-05-13 18:33] kibertoad commented on #3194
@thevirajshelke Are you compiling your migrations as well? Because error is clearly stating that you are trying to run non-transpiled code. You can use ts-node for that.

[2019-05-13 19:48] rochdev commented on #1588
Just wanted to also mention that not using native promises results in https://github.com/nodejs/node/issues/22360 when using `async_hooks` which causes the current context to be lost.

[2019-05-13 20:46] kibertoad commented on #1588
Trust me, we don't need additional reasons to move, we want to do it as bad as you all do :). However, we still need to release a couple more fixes to Node 6 branch, and then (finally), we'll drop it and start gradually phasing bluebird out.

[2019-05-13 22:10] elhigu commented on #3158
@ziggi that warning is there for a reason. You should not use `.returning()` with mysql. It does not do anything . There is a separate issue for adding crossdb compatible insert to knex https://github.com/tgriesser/knex/issues/2682 ... that could be place to talk about that change. I have to say that I don't remember reasons why knex was never changed to generate those "missing" ids (anyways this

[2019-05-14 01:48] whalelephant commented on #852
yes but also required in the URL

 `{connection:url...?ssl=true, ssl=true}`

[2019-05-14 05:26] elhigu commented on #852
@whalelephant you cannot give connection string and the object at the same time...

[2019-05-14 05:41] whalelephant commented on #852
yes, sorry that was a typo, to be clear I meant
[code]

[2019-05-14 06:24] elhigu commented on #852
I didn't mean the typo.  Your { ssl : true } in your example is not in the connection object. You added it as a knex configuration object's top level attribute and it does not do anything in that level.

In pseudo typescript knex configuration object looks like:

[code]

I'll remove this and other messages about the confusion, to prevent them from polluting this issue. Hope this answer reaches you

[2019-05-14 06:26] elhigu commented on #852
removed some a bit off-topic  discussion

[2019-05-14 07:19] thevirajshelke commented on #3194
@kibertoad Yes, I am compiling the migration files as well and generating `js` file. Like you pointed out the error states that I am trying to run the non-transpiled code, so I just checked and found out that my `tsc` is generating `*.d.ts` files as well! And somehow how knex while migration reads these declaration files as well! **So when I deleted the `*.d.ts` file and ran the same code migratio

[2019-05-14 07:29] kibertoad commented on #3194
There is extensions config param for this purpose, I believe.

[2019-05-14 08:24] capaj opened #3196 "npm showing version 0.16.5"
https://www.npmjs.com/package/knex

shows 0.16.5 as latest version

![image](https://user-images.githubusercontent.com/1305378/57682429-2011f180-7632-11e9-8e37-92a7de410008.png)

Seems like NPM lost the 0.16.7 version that was published 2 days ago.
Not sure how, but it happened. Can someone republish it please? We can downgrade back 0.16.5 in the meantime, but it would be nice to have the latest o

[2019-05-14 08:29] thevirajshelke commented on #3194
**I just referred docs**

**_loadExtensions:_** array of file extensions which knex will treat as migrations. For example, if you have typescript transpiled into javascript in the same folder, you want to execute only javascript migrations. In this case, set loadExtensions to ['.js'] (Notice the dot!) (default ['.co', '.coffee', '.eg', '.iced', '.js', '.litcoffee', '.ls', '.ts'])

**_extension:_**

[2019-05-14 08:30] kibertoad commented on #3196
It was unpublished due to breaking changes. You can use 0.17.0-next if you don't use TS or if current versionof typings work fine for you

[2019-05-14 08:46] capaj commented on #3196
thanks for the explainer. Will close this and use 0.17.0-next  for now.

[2019-05-14 08:46] #3196 closed

[2019-05-14 09:14] nareshsr commented on #2153
You can create and destroy connection for per request

[code]

[2019-05-14 09:16] nareshsr commented on #2186
You can create a connection and destroy connection for every request

[code]

[2019-05-14 09:20] wubzz commented on #2186
@nareshsr That's gonna blow up your server resources on heavy load.

[2019-05-14 09:20] wubzz commented on #2153
@nareshsr That's gonna blow up your server resources on heavy load.

[2019-05-14 09:40] kibertoad commented on #3194
It was fixed in master, you can use 0.17.0-next

[2019-05-14 09:44] thevirajshelke commented on #3194
Okay sounds cool! :) I'll close this issue then :+1:
@kibertoad Thanks for all the help :+1:

[2019-05-14 09:44] #3194 closed

[2019-05-14 10:01] nareshsr commented on #2153
Every connection gets created and closed after query execution.

[2019-05-14 10:05] vincent-ogury opened #3197 "Import CSV from stream during a transaction"
Hi,

I'm looking for a way to use CSV import stream inside a transaction.

Here a quick example:

I have a table:
[code]

When I run
[code]

I've got
[code]

The transaction fails properly but the data is present inside the table. So it ignored the transaction.

How can I use the current transaction to start streaming data inside a table?

Thanks

[2019-05-14 10:56] wubzz commented on #2153
@nareshsr That doesn't matter. What eats a lot of resources is creating the connection in the first place. Multiply that resource usage with amount of requests per seconds and your server will be choking in no time.

[2019-05-14 11:16] elhigu commented on #2153
#1878 actually made it possible to pass to query builder, which connection to use to execute the query

[2019-05-14 11:16] #2153 closed

[2019-05-14 11:23] elhigu commented on #3197
Usage questions should go else where. This doesn't seem like a bug nor feature request. Closing, but if anyone sees this and have time to investigate, feel free to keep on discussion here.

I would recommend to use pg driver directly to do something like that.

[2019-05-14 11:23] #3197 closed

[2019-05-14 15:36] kanolato opened #3198 "0.16.7 not appearing on npm"
# Environment

Knex version:
Database + version:
OS:

Select applicable tempalate from below.
If issue is about oracledb support tag @ atiertant. For MSSql tag @ smorey2 .
Rest of dialects doesn't need tags.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Yesterday I installed the version 0.16.7, and today one of my colleagues tried to do the same and the p

[2019-05-14 20:36] jigneshk5 opened #3199 "Does Knex support Cloud SQL connection with node.js"
I'm getting error on the following line:
[code]
which is a part of documentation provided by Google for making Cloud sql connection to node JS as attached below:
[code]
I want to confirm if knex supported config objects with socket path given above. It's in alpha-version mentioned by google so I want to know if knex can make sql connection with this database or not?

[2019-05-14 20:44] kibertoad commented on #3199
It's not a knex parameter per se. All knex is doing with it is passing to a driver, so if the driver that you are using supports it, it will work.

[2019-05-14 20:44] #3199 closed

[2019-05-14 23:34] kibertoad commented on #3198
0.16.6 and 0.16.7 were unpublished due to breaking changes in typings. If you are brave or don't use Typescript, you can switch to 0.17.0-next, which is the same as 0.16.7.

[2019-05-15 05:04] #3198 closed

[2019-05-15 18:11] rclmenezes opened #3200 "Runtime async errors don't show full traceback, even with asyncStackTraces enabled"
Run the following with `NODE_ENV=development`:

[code]

And you get the following error, without the original line that called the query:

[code]

While `asyncStackTrace` revealed the error in https://github.com/tgriesser/knex/issues/2500, it doesn't seem to work for runtime errors like mine.

[2019-05-15 20:25] hpeinar opened #3201 "Behaviour change with .whereIn non array|callback|builder argument handling"
# Environment

Knex version: Bug introduced in 0.14.5, present in current latest from npm 0.16.5
Database: Tested with dialect mysql2

# Bug

There was a silent change in how **non** array|callback|builder arguments are handled for .whereIn in version 0.14.5 and it now produces invalid SQL.
Probably introduced with a fix for #1390
I didn't find any actual documentation of how this should or is han

[2019-05-15 21:39] MiOnim opened #3202 "Feature Request - Join inside Where clause"
Hey guys,

I am using Knex to generate SQL query from an expression tree. For example, if a tree looks like the following:
[code]
The query I need to generate should have the following in WHERE clause:
`WHERE (X) AND (Y OR Z)`

I wrote a recursive function to achieve this:
[code]
Inside the `buildQuery(...)` function, I have a JOIN statement.

Knex is removing the JOIN statements from the final qu

[2019-05-15 22:59] elhigu commented on #3202
Please add simple sample sql of the query you are trying to build. Im sure it is possible to build with knex. I have no idea how you could have join inside of where unless you are using subqueries.

[2019-05-15 22:59] #3202 closed

[2019-05-15 22:59] elhigu commented on #3202
Closes as usage question

[2019-05-16 07:02] lokisanhitleson commented on #385
Can we use increments like this? any update?

[2019-05-16 14:24] jeremychone opened #3203 "npm does not reference 0.16.7 anymore (had to roll back to 0.16.5)"
# Environment

Knex version: 0.16.7
Database + version: -
OS: OSX

# Bug

There is an npm issue which it cannot find the 0.16.7 as of today at least. Few days ago, I updated to it, but now it says not found. I check the npm site, and the last version seems to have rolled back to 0.16.5.
![image](https://user-images.githubusercontent.com/74671/57861445-76ef0680-77ab-11e9-8f25-b2c490de7b84.png)

[2019-05-16 14:45] kibertoad commented on #3203
See https://github.com/tgriesser/knex/issues/3198 :)
tl:dr -> breaking TypeScript changes, hence rereleased as 0.17.0-next

[2019-05-16 16:50] jeremychone commented on #3203
Thanks, 0.17.0-next worked.

[2019-05-16 16:50] #3203 closed

[2019-05-16 22:05] olgeorge opened #3204 "MySql decimal returns Number instead of String"
# Environment

Knex version: 0.14.6
Database + version: MySql 5.7.12
OS: OSX

# Feature discussion / request

Don't convert decimal to Number automatically.

I have a decimal column with precision 8 and scale 8
[code]

When I fetch the records decimal is converted to Number:

[code]

I expect knex to return string, so that I can use Decimal.js to avoid floating-point operations. Converting decimal

[2019-05-17 00:04] Sphinxs commented on #2189
Any update ?

[2019-05-17 07:43] wubzz commented on #3204
Unlikely a knex issue. Knex returns response from driver. So the issue is probably in `mysql` / `mysql2` which ever driver you are using. They both seems to have config flags you can use to return strings instead of Numbers.

https://github.com/mysqljs/mysql
https://github.com/sidorares/node-mysql2/tree/master/documentation

`Knex({config})` passes config to the driver.

[2019-05-17 07:45] wubzz commented on #3201
Probably a miss when it was rewritten. I find the syntax awful to be honest, but since it's documented as accepting single column I guess this really is a bug.

[2019-05-17 07:50] hpeinar commented on #3201
I'm not sure it is documented as such? I looked at the current documentation from knexjs.org and it states:

it doesn't say anything about \~mixed\~ parameters.

Is this documented under something else? Or am I missing something.

[2019-05-17 08:26] wubzz commented on #3201
Ah, my bad. Read documentation all wrong. So it isn't documented.

Personally I wouldn't want to support single value like this when the operator is _always_ a list/array. But no strong opinion. Leaving bug label for now.

[2019-05-17 08:56] ivosabev commented on #2879
What is the status of this, I am having the same issue?

[2019-05-17 11:46] jhammond2012 commented on #2470
Just in case someone stumbles across this and doesn't pay attention as I do 😆... The second call of `exists` is missing a 's'. It should be `if (!exists) { `

[2019-05-17 14:31] noreplyme opened #3206 "Knex >= 0.15.0 always require mssql npm package"
# Environment

Knex version: 0.15.0 and newer
Database + version: no db, only generating sql queries under sqlite2
OS: osx

# Bug
Seems Knex requires `mssql` npm package installed in project.
Error I got after adding Knex into project:
[code]

After adding `"mssql": "^5.1.0"` build pass sucessfully.
But in scope of my project I dont need mssql nor any other adapter except sqlite (if it required fo

[2019-05-17 15:23] kibertoad commented on #3206
Are you using webpack or something along these lines?

[2019-05-17 17:53] elhigu commented on #3206
this should be fixed in the latest version I believe. Closing as cannot reproduce. Please add enough details for validate the issue.

[2019-05-17 17:53] #3206 closed

[2019-05-17 17:56] elhigu commented on #2879
status is cannot reproduce. not enough details in issue to take any actions.

[2019-05-17 17:56] #2879 closed

[2019-05-17 18:08] elhigu commented on #3204
Knex doesn't touch values that are returned from DB driver (except in some rare cases), so you need to setup mysql driver in a way that you get the data in wanted format.

[2019-05-17 18:08] #3204 closed

[2019-05-17 19:21] jayunit100 commented on #734
@qw4n7y  can you provide some details on how we can use #2968 to solve the general problem of having a different knex directory ? it seems like for my app what i need is like a `-f` option that will make it so that when i do an update, it ignores missing files.

[2019-05-18 06:00] olgeorge commented on #3204
Yes, thanks. To change that I had to either switch to `mysql2` or add:
[code]

[2019-05-18 21:39] tito300 commented on #2302
My problem was not with knex but rather with the security group inbound rule on my aws RDS. It was set to my local machine ip address only and so I could not connect to it from the ec2 instance. was frustrating because the error message was not helpful.
If you have this error message, it could be related to the fact that knex cannot establish a connection. so check your networks too!

[2019-05-19 06:12] jsonmaur opened #3210 "Unable to compile Typescript with --esModuleInterop enabled"
# Environment

Knex version: 0.17.0-next3
Node version: 10.15.3
Typescript version: 3.4.5

# Bug

When I try to compile a Typescript app using Knex, the following error occurs with the `--esModuleInterop` [TS compiler option](http://www.typescriptlang.org/docs/handbook/compiler-options.html):

[code]

[2019-05-19 06:38] lorefnon commented on #3210
@jsonmaur Thanks for reporting this. This has been addressed in https://github.com/tgriesser/knex/pull/3209. In the meanwhile you can consider using version 0.16.5 which should not have this issue.

[2019-05-19 08:47] elhigu commented on #2302
Yeah, I suppose that can happen if connection is blocked completely... maybe setting up different connection timeout and acquite timeout could distinguish between these two cases.

[2019-05-19 09:03] djordje commented on #3210
Trying to build my app I realised it builds using `0.17.0-next`, but starting with `0.17.0-next2` it fails with this error.

[2019-05-19 11:00] kibertoad commented on #3210
Fix released in knex@0.17.0-next4. Please try it out!

[2019-05-19 11:03] #3210 closed

[2019-05-19 12:52] loxs commented on #3210
@kibertoad have in mind that `@latest` is still `next3` so people are hitting it because of this

[2019-05-19 14:21] kibertoad commented on #3210
Strange, I unpublished it a couple of hours ago. Could you please check if that's still the case?

[2019-05-19 15:30] loxs commented on #3210
@kibertoad yeah, it still shows as latest in my `yarn info knex` and also here: https://www.npmjs.com/package/knex

[2019-05-19 15:45] jsonmaur commented on #3210
Thanks for the quick fix! `0.17.0-next4` seems to solve it. But `0.17.0-next3` is still published under the `latest` tag on npm (`next4` is under the `next` tag.)

[2019-05-19 15:48] kibertoad commented on #3210
Will look into it, thanks. For some reason unpublish didn't work?..

[2019-05-20 13:06] Areshetcov commented on #2998
Maybe it will help someone. Fixed when change in tsconfig.json "module": "es2015" to "module": "commonjs"
Command in package.json => "migrate": "ts-node -P ./tsconfig.json node_modules/.bin/knex migrate:latest --knexfile knexfile.ts".

[2019-05-20 17:43] Meldiron commented on #2998
Not optimal solution but works fine.

[2019-05-20 22:26] kibertoad commented on #3210
Looks like second time did the charm, seems gone now. Thank you for bringing it up!

[2019-05-21 13:28] junh2017 opened #3213 "update a nonexistent record won't throw an error?"
Knex version:0.16.3
Database + version:mysql 5.7
OS:

When I update a nonexistent record it returns 0 instead of throwing an error?

[2019-05-21 13:33] kibertoad commented on #3213
This is how SQL works. Update is an operation on 0 or more rows that satisfy given filtering criteria. You can write custom helper function updateOne that throws on wrong amount of entries modified.

[2019-05-21 13:33] #3213 closed

[2019-05-22 02:40] boutdemousse commented on #1276
Using knex 0.16.5, mysql 2.17.1, moment 2.24.0 :
I get the very same issue with `NULL` date values.
Is this bug reappearing out of nowhere ?

[2019-05-22 02:52] kibertoad commented on #1276
Please check out #3092. Chances are, your db congiguration is to blame, or your column was not created nullable. Check db for triggers created by mysql.

[2019-05-22 07:05] icelic commented on #1179
How would you do this but for the case where are foreign keys both from different tables.

For example something like this:
`table.foreign(['id1','id2'])
        .references(['id1','id2'])
        .on(['table1', 'table2']);`

This ofcorse throws an error:
`Unhandled rejection TypeError: Expected tableName to be a string, got: object`

[2019-05-22 12:51] barissenkal opened #3216 ""colorette" dependency breaks browserify builds."
# Environment

Knex version: 0.16.5
Database + version: Not relevant for this issue.
OS: macOS, Safari (14607.2.6.1.1) and Chrome (76.0.3800.0)
**Edit:** Browserify version: 16.2.3

# Bug

**1. Explain what kind of behaviour you are getting and how you think it should do**

Having `colorette` as dependency breaks browserify builds. This includes your website at the moment. ![Screenshot](https://i.

[2019-05-22 14:01] kibertoad commented on #3216
Can you raise issue with colorette as well?

[2019-05-22 14:25] barissenkal commented on #3216
Sure. Created a [pull request](https://github.com/jorgebucaran/colorette/pull/36) on the colorette repo.

[2019-05-22 16:28] gaperton commented on #2976
I would contribute to that project.

[2019-05-22 18:10] lorefnon commented on #3077
This was taken care of as a part of https://github.com/tgriesser/knex/pull/3209

[2019-05-22 18:11] lorefnon commented on #3026
This was taken care of in https://github.com/tgriesser/knex/pull/3215.

[2019-05-22 19:40] MacgyverMartins opened #3217 "How can I use UUID as a primary key in MySQL"
# Environment

Knex version: 0.16.5
Database + version: MySQL 5.7.19
OS: Mac OS

I create this migration:
[code]
But when insert a new user, I got this error message
`Field 'id' doesn't have a default value`
I think, it happens because I use MySQL instead of PostgreSQL. So I should put some `.defaultTo()`, but what value I put inside the function? Or, can I use uuid as primary keys in MySQL ?

[2019-05-22 23:59] francisbrito commented on #2038
In case someone's how to get `knex` to work with `sqlite` in memory, this snippet should do the trick:
[code]

[2019-05-23 07:04] elhigu commented on #2976
https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md#i-would-like-to-add-support-for-new-dialect-to-knex-is-it-possible

[2019-05-23 07:04] #2976 closed

[2019-05-23 07:09] elhigu commented on #3217
Closing as usage question.

I don't know if it is possible to do with mysql, but if it is you need to give default value for 'id' column, like incremental is always adding sequential value to it. Maybe this works:

[code]

[2019-05-23 07:09] #3217 closed

[2019-05-23 07:47] #3128 closed

[2019-05-23 08:23] boutdemousse commented on #1276
Well almost : actually this is a problem with moment.js as I am using a `typeCast` in the configuration.
The `field.string()` returns `null` as it should be so there is no problem on the knex side.
Thank you for your quick answer !

[2019-05-24 20:02] candyapplecorn opened #3218 ".first() Doesn't Work on Insert"
# Environment

Knex version: 0.16.5
Database + version: PostgreSQL 10.5 on x86_64-apple-darwin17.7.0, compiled by Apple LLVM version 9.1.0 (clang-902.0.39.2), 64-bit
OS: Mac/Apple

# Feature discussion / request
.first() returns the 1st item from a list of results. However it doesn't work on insert statements, _even though insert statements also return a list_

calling .first() on insert statement

[2019-05-24 20:36] MacgyverMartins commented on #3217
@elhigu, Really, it is not possible to enter a default value for the UUID in Mysql. Even with `knex.raw('UUID()')`.

So I create these :
So, I created this "workaround" based on [this answer](https://stackoverflow.com/questions/36728899/knex-js-auto-update-trigger/48028011#48028011)
[code]
and into kinexfile I add this:
[code]
I don't know if it's a good solution, but it works.
Maybe can help othe

[2019-05-25 00:18] raijinsetsu commented on #1179
I think you need to split the calls. Try something like this:

table.foreign(['id1']).on(['table1']);
table.foreign(['id2']).on(['table2']);

On Wed, May 22, 2019 at 3:05 AM Ivan Ćelić <notifications@github.com> wrote:

[2019-05-25 06:05] the-vampiire opened #3219 "[Feature] knex CLI migrate:make add --stub option (implementation inside)"
# Feature discussion / request

1. Explain what is your use case

- be able to designate a stub file from the CLI when creating migration files with `knex migrate:make`

2. Explain what kind of feature would support this

[code]

- path is relative to `knexfile` location

[code]

- `stub-name.stub` in `config.migrations.directory`

3. Give some API proposal, how the feature should work

- allows u

[2019-05-25 19:52] lorefnon opened #3222 "Knex QueryLab link in the README is defunct"
Relevant repo: https://github.com/michaelavila/knex-querylab

[2019-05-25 19:53] #3042 closed

[2019-05-26 19:52] #3192 closed

[2019-05-26 19:53] #3148 closed

[2019-05-26 23:29] kibertoad opened #3225 "Flaky Oracle test"
# Environment

Knex version: 0.17.0
Database + version: Oracle
Node 6

From CI:

[code]

[2019-05-27 00:59] kibertoad commented on #3225
Observed on Node 10:
[code]

[2019-05-27 01:03] #3095 closed

[2019-05-27 01:09] kibertoad commented on #3193
0.17.0-next* releases seem to have solved the problem.

[2019-05-27 01:09] #3193 closed

[2019-05-27 09:07] elhigu commented on #3225
Thanks. I'll fix those. Probably adding forUpdate() to some query when checking value from DB is enough. There are already other disabled tests which will catch this error.

[2019-05-27 09:35] SherloxFR commented on #3186
I think this feature is really important to implement, currently it seems I'm only able to do it this way:
[code]

Surely we can all agree this is really an awful way to write SQL.

[2019-05-27 09:50] elhigu commented on #3186
Removed a lengthy comment that basically said +1 and didnt add any value to the thread.

[2019-05-27 13:38] #3026 closed

[2019-05-27 20:22] elhigu commented on #3218
It is not that straightforward... Inserts returns different things on different dialects. Also with select .first() also adds limit 1 to the query, which is not possible to do with insert.

Please add more details proposal how it is expected to work in different cases, for example with databases that doesn't support `returning()` statements.

Also if we start expanding places where `.first()` is o

[2019-05-27 20:46] elhigu commented on #3222
I think it could be replaced, with runkit link, since that works usually to check out what kind of queries gets generated.

[2019-05-28 00:07] DealerUp commented on #1928
My Solution:

const Database = use("Database");
....

table
        .timestamp("created_at")
        .notNullable()
        .defaultTo(Database.raw("CURRENT_TIMESTAMP"));

    table
        .timestamp("updated_at")
        .notNullable()
        .defaultTo(
            Database.raw("CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP")
        );

[2019-05-28 21:37] kibertoad commented on #3203
Final version of 0.17.0 is out.

[2019-05-28 21:37] kibertoad commented on #3198
Final version of 0.17.0 is out.

[2019-05-28 21:37] kibertoad commented on #3193
Final version of 0.17.0 is out.

[2019-05-28 23:19] kibertoad commented on #3170
After https://github.com/tgriesser/knex/pull/3227 is merged, we can finally get started!

[2019-05-28 23:20] kibertoad commented on #1588
After https://github.com/tgriesser/knex/pull/3227is merged, we can finally get started!

[2019-05-29 09:30] felixmosh commented on #3193
@kibertoad , @Xiphe Thank you for this feature, this is awesome and it works perfectly !! 🙏🏼

[2019-05-29 10:26] kibertoad commented on #3193
@lorefnon is the hero here :)

[2019-05-29 11:05] chaffeqa commented on #1588
I know you [mentioned before](https://github.com/tgriesser/knex/issues/1588#issuecomment-342679155) a you could use help in this migration, if thats still the direction you want to go, could we help in any way?

I'm thinking: make a Project, add a couple tasks, and see if anyone (maybe I have time) could get assigned and set some dates?

[2019-05-29 11:15] agarbund commented on #2440
I know this question is 8 months old, but just faced the same issue and spent a few hours looking for a solution so just want to share it here in case anyone else will have the same problem.

What @ricardograca wrote is mostly correct, however, `Transform` stream also doesn't accept objects by default so the same error will be thrown. The solution is `objectMode: true` setting which causes any wri

[2019-05-29 17:14] lorefnon commented on #3193
Thanks a lot for your patience and helping out with your feedback. :)

[2019-05-29 17:25] spacejack opened #3229 "Incorrect type definitions for single row queries"
Knex version: 0.17.0

Example:

[code]

`result` then has the type `any[]` which breaks previously working code. Eg:

[code]
Now results in the error: `Property 'id' does not exist on type 'any[]'`

The following also does not work:

[code]

As a typescript user I appreciate continued efforts to improve types but I feel that unless a distinction can be made between single/multi-row selects then re

[2019-05-29 17:43] kibertoad commented on #3229
@lorefnon

[2019-05-29 19:54] Hongbo-Miao commented on #1875
For me, it worked on my local machine but not after deploying. I was kind of be mislead. It turns out the RDS inbound source is not open to my Lambda function. Found solution at https://stackoverflow.com/questions/37555670/aws-lambda-cant-connect-to-rds-instance-but-i-can-locally

After updating RDS inbound source, I can Lambda with Knex successfully.

The Lambda runtime I am using is Node.js 8.10

[2019-05-29 20:48] #3229 closed

[2019-05-29 22:14] spacejack commented on #3229
Wow, I see you've already tackled the issue. Thanks for the quick response!

I should have added that it would be fair to return a type of `T | undefined` for a single row query. But I'm not sure how precise of a type you're implementing. `any` is fine as well.

[2019-05-29 22:18] kibertoad commented on #3229
@lorefnon Any reason why we might prefer `any` over `T | undefined?`

[2019-05-29 22:19] spacejack commented on #3229
No, `T | undefined` is preferable. I'm not sure how to get a type for `T` though?

[2019-05-30 03:27] lorefnon commented on #3229
Yes, you are right. This should include undefined.

[2019-05-30 08:29] Xiphe commented on #3193
I only wrote the issue and then stopped being involved. Thanks everyone for the awesome work, can't wait to try it out!

[2019-05-30 13:27] victorgois07 opened #3233 "Client does not support authentication MYSQL 8"
ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MySQL client

[2019-05-30 14:56] elhigu commented on #3233
Not knex issue. Please report to mysql driver maintainers.

[2019-05-30 14:56] #3233 closed

[2019-05-30 15:58] david1602 commented on #3200
Reading the commit that apparently fixes it, it checks for `asyncStackTraces`, not `asyncStackTrace`, meaning you are not using the right property.

https://github.com/tgriesser/knex/commit/e086427db01e116f042f50a2acaf1e65c6bd2edd#diff-ff9eb136561ea616d243650733d24677R19

However, it doesn't work for me either. I'm using version 0.16.3. Since the latest version is 0.17.0 and I don't feel comfortab

[2019-05-30 17:04] rclmenezes commented on #3200
Fixing the typo and moving to 0.17.0 fixed this! Thanks!

[code]

[2019-05-30 17:04] #3200 closed

[2019-05-30 17:17] elhigu commented on #3233
But you can see from knex’s docker-compose.yaml how to setup mysql 8 in a way to get pass through that error. There was some switch that should be given to server in startup.

[2019-05-30 17:19] kibertoad commented on #3200
@david1602 My apologies for the inconvenience caused. Are you talking about https://github.com/tgriesser/knex/pull/3231 or some other issue?

[2019-05-30 18:58] david1602 commented on #3200
@kibertoad it's a pretty old change, we went from like 0.13.x to 0.16.3 at some point, and undefined query bindings would fail, such as:

[code]

not really a problem since have fixed it in all places in our code now (which is a 200k+ sloc project), but we're very careful about updating our libs again in general

[2019-05-30 19:45] kibertoad commented on #3200
@david1602 0.17 is a much tamer uodate in this regard, only potentially breaking changes are in TypeScript bindings, so if you are not using TS, it is both safe and recommended upgrade.

[2019-05-30 20:41] david1602 commented on #3200
@kibertoad thanks for the info, we're already considering it, especially for that stack update since that often causes issues when looking for failed queries

[2019-05-30 21:08] wertlex opened #3234 "Custom transaction management or copy Knex with single connection instance"
Hey!

I'm playing with Knex and XA transactions across multiple databases at the moment, and after writing tiny POC stucked a bit with knex part.

**Few words on XA transactions**
Let's consider single MySQL instance which not make any sence in XA terms, but simplify example a lot.
In MySQL XA transactions are as simple as:
[code]
So whole XA part could be done using `knex.raw(...)` which is not r

[2019-05-30 23:18] kibertoad commented on #3229
@spacejack Could you please try knex@0.17.1-next and see if it solves your problem in satisfactory way?

[2019-05-30 23:21] kibertoad commented on #3234
@wertlex using `.connection` method appears to be the most straightforward way to achieve what you want. You probably are still going to end up creating custom wrapper/repository to pass it conveniently. Considering that single-connection use-case is going to become more and more popular given the rise of Lambda functions, PR providing a more convenient way to handle this type of use-cases would b

[2019-05-30 23:24] kibertoad commented on #3234
Btw, wouldn't reusing same transaction while having a connection pool of 1 max connection help you here? Doing that in 0.17.0 is as simple as calling `const trx = knex.transaction()` and then passing trx around and using it for all the queries you are making. Or you can use knex.transactionProvider() if you want to begin transaction lazily.

[2019-05-31 02:47] 3mini opened #3236 "decimalNumbers is missing in MySqlConnectionConfig interface"
# Environment

Knex version: 0.16.4
Database + version: MySQL 5.7.22
OS: OSX 10.14.5

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Because we're using [MySQL2](https://www.npmjs.com/package/mysql2), we need `decimalNumbers`  as connection option.

I think that `MySqlConnectionConfig` interface have to add an optional key as below.

[code]

2. Error messa

[2019-05-31 03:18] spacejack commented on #3229
@kibertoad thanks for the update. With this version, the example I showed above now returns an 'any' type, so I can apply my own type as before:
[code]
Also works with 'where' clauses:
[code]
However if I chain a `count()`, `sum()` or other aggregate functions then the result type switches back to an array. Unfortunately I use `first()` a lot when doing aggregates.
[code]

[2019-05-31 07:35] disbelief commented on #1875
Something I'd like to draw people's attention to is the [serverless-mysql](https://github.com/jeremydaly/serverless-mysql) package, which wraps the standard `mysql` driver but handles a lot of the lambda-specific pain points around connection pool management that are described in this thread.

However I don't think Knex will work with `serverless-mysql` at this time (according to [this issue](http

[2019-05-31 07:40] disbelief commented on #1875
Also, was thinking in the meantime, I could use Knex to _build_ but _not execute_ MySQL queries. So just call `toSQL()` and pass the output to `serverless-mysql` to execute.

What I'm wondering though is if Knex can be configured without any db connections? There's no sense opening a connection that's never used.

Would the following work?
[code]

[2019-05-31 08:31] kibertoad commented on #3229
@spacejack 0.17.1 with fixes for this issue is out!

[2019-05-31 08:57] elhigu commented on #1875
@disbelief You can initialize knex without connection. There is an example how to do it in the end of this secion in docs https://knexjs.org/#Installation-client

[code]

[2019-05-31 09:29] disbelief commented on #1875
@elhigu ah cool, thanks. Will give that a shot in the interim.

[2019-05-31 09:45] wertlex commented on #3234
Hey, @kibertoad
Thank you for fast reply.

Yeah, I was considering both cases. If not diving into deep water of Knex transaction management it'll be great to have a method which can create knex copy with provided connection instance.
Like `Knex.withConnection(connection)`.

Or even better something like `.transaction` method but without transaction itself. Like:
`Knex.withConnectionDo( async knexT

[2019-05-31 10:26] elhigu commented on #3234
To me sounds like using knex.client.acquireConnection() to get connection from pool and passing that
 to https://knexjs.org/#Builder-connection to run all queries would be your best bet to make it work for now.

We should add some officially public and documented methods for getting / releasing connections manually. Currently knex.client.aquire / release connection are not part of public API, but

[2019-05-31 12:28] kibertoad commented on #3236
PR would be most appreciated! Should be an easy change.

[2019-05-31 14:44] disbelief commented on #1875
Update: the above doesn't appear to work. Knex throws an error if it can't establish a db connection, even if there's never any call to execute a query.

[2019-05-31 17:12] robations commented on #3007
I think this might have been resolved through #3148 and #3221 . Not sure why I didn't see your bug report first, I usually/always search for pre-existing bugs.

[2019-05-31 17:17] kibertoad commented on #3007
Should have been fixed by 0.17.0, please reopen if it is not.

[2019-05-31 17:17] #3007 closed

[2019-05-31 21:30] spacejack commented on #3229
Thank you, it seems more correct now for single-row queries.

It is still a bit awkward to declare the response types for both single and multi-row queries however. These no longer work:
[code]
`Property 'count' is missing in type 'Dict<string | number>' but required in type '{ count: number; }'`
I can do this:
[code]
But count is `string | number`.

The following works but gets a bit ugly with th

[2019-06-01 05:06] lorefnon commented on #3229
I believe your original usage should continue to work, and after https://github.com/tgriesser/knex/pull/3239 it will.

Result of `await knex('foo').first().count({count: '*'});` will be inferred as `{count: any}` and so it will be assignable to `{count; number}`.

For more control it would be possible to pass a type param to count:

[code]

[2019-06-01 09:36] kibertoad opened #3240 "Flaky MySQL test"
[code]

[2019-06-01 15:43] #3216 closed

[2019-06-01 15:47] kibertoad commented on #3229
Fix released in 0.17.2.

[2019-06-01 15:47] kibertoad commented on #3216
Fix released in 0.17.2.

[2019-06-01 16:40] Bouncue opened #3241 "KnexJS How to create multiple inner join"
I need to transform this SQL query to KnexJS query

[code]

I have read the doc here [https://knexjs.org/#Builder-join](https://knexjs.org/#Builder-join) but I barely understood how to use the given example to meet my need because there is no example for such multiple inner join.

Help me please

[2019-06-01 19:06] spacejack commented on #3229
Thanks! Here is another case:
[code]
The result type is `{days: any}[]` and does not include the `userId` or `duration` fields. Same if using `first()` instead of `select()` (though it is a single object not array.)

It is solvable as described in my last comment by appending `as {userId: number, duration: number, days: number}[]`

[2019-06-01 21:32] MANTENN opened #3243 "Regex in directory option for migrations and seeds"
# Feature discussion / request

1. Regex in the directory option

2. directory, seed, and models

3. Similar to TypeORMs implementation where the user specifices **/*.ts for entities
For ex: `{directory: './src/modules/**/migrations'}`

There is going to be a minor performance loss, but imo the trade of will be worth for the productivity gain from forgetting to update multiple directory paths.

[2019-06-01 21:32] kibertoad commented on #3243
@MANTENN PR for that would be most appreciated!

[2019-06-01 22:41] Niklv commented on #2076
@odigity what if we what to test structure like that:

[code]

I your way all functions must have additional arg (for example `trx`) to pass transaction into actual query builders.
https://knexjs.org/#Builder-transacting

I think the right way must be something like that:
1. Create trx in `beforeEach`.
2. Somehow inject it. In my example `require('./db')` sould return trx value.
3. Do tests.
4. Ro

[2019-06-02 06:13] MANTENN commented on #3243
Also KnexJS does not support multiple migration paths, what is the point of having an array for directories when the last directory is grabbed?

[2019-06-02 12:18] 3mini commented on #3236
@kibertoad
I made a PR for this issue (#3244).

[2019-06-02 17:49] austinChappell commented on #2413
@phaddius What about this?

[code]

[2019-06-02 17:51] Niklv commented on #2076
After a day of reading knex code I try this approach:

[code]

And it kinda works. So I override `.raw` and `.client.runner` methods. `.client.runner` calls internally when you `.then` a query builder. `db` in this functions is knex client `knex({ /* config */})`.

[2019-06-02 20:56] kibertoad commented on #3229
@spacejack Fixed in 0.17.3 thanks to tireless ninja @lorefnon!

[2019-06-02 20:57] kibertoad commented on #3236
0.17.3 with this improvement was released!

[2019-06-02 20:57] #3236 closed

[2019-06-03 00:20] Niklv opened #3246 "Transaction rollback cause unhandled rejection"
Example code:

[code]

Output:

[code]

I can not define error handler cause `.transaction()` returns `trx.initPromise`.
https://github.com/tgriesser/knex/blob/master/src/util/make-knex.js#L41-L52

My temporary workaround:
[code]

[2019-06-03 00:25] kibertoad commented on #3246
@Niklv See #3235 :D. You can try 0.17.1-next (the only version that included this change) and see if it causes any unwanted side-effects.
Had discussion with @elhigu recently about this. Quote:
[code]

So current behaviour is more or less intended but could be (cautiously) improved.

[2019-06-03 00:29] kibertoad commented on #3246
And probably we need to expose same promise that you get from .transaction(callback) for .transaction() somehow.

[2019-06-03 05:54] mact200590 commented on #668
and when you need to use 3 diffent tables and use join. how can i do that

[2019-06-03 07:44] jpike88 opened #3247 "DistinctCount, Count return type is too complex"
https://github.com/tgriesser/knex/blob/0d1fb16240d4d4a482513ba1e07d31b6cc272a08/types/index.d.ts#L501
https://github.com/tgriesser/knex/blob/0d1fb16240d4d4a482513ba1e07d31b6cc272a08/types/index.d.ts#L502

^ this is causing  over 100 errors in my TS check because I'm treating the return types as a number, but now it's number | string... the errors look like this:

```Type 'string | number' is not a

[2019-06-03 08:02] kibertoad commented on #3247
@lorefnon

[2019-06-03 08:03] kibertoad commented on #3247
@jpike88 What version are you using?

[2019-06-03 10:49] lorefnon commented on #3247
I think the current type is correct because in pg count can return bigint which will be casted to string (by default)

You can consider using `count<Record<string, number>>()`.

[2019-06-03 10:55] jpike88 commented on #3247
0.17.3

I use mysql, where a count = a number... this really causes a lot of cruft, I have to shove a generic in like 70 places and remember to do that every time I write a count check. I'll have my devs scratching their heads because they can't have count go straight to a function that has a return type of number. I think this should be reconsidered, maybe have a function that is an alias of coun

[2019-06-03 13:02] elhigu commented on #2076
@Niklv as I already explained here; using transaction to reset test data is generally a bad idea and I would even consider it as an anti-pattern. So is overriding knex internals. Truncate + repopulate db on every test or for set of tests is recommendation. It doesnt take many milliseconds to do if test data is reasonably sized.

[2019-06-03 14:09] elhigu commented on #3241
By adding multiple `.innerJoin(...)` parts to the query builder. Also knex issues is not correct place for usage questions. StackOverflow or gitter are for those.

[2019-06-03 14:09] #3241 closed

[2019-06-03 20:45] lorefnon commented on #3247
I don't have a very strong opinion on this. I've reverted the change here in https://github.com/tgriesser/knex/pull/3249 and will leave it up to the maintainers of the project to take a call here.

[2019-06-03 21:09] kibertoad commented on #3247
@lorefnon For all intents and purposes you are as much a maintainer as the rest of us :). The technicalities of finalizing that were slow due to the only maintainer with admin permissions was travelling in Europe, but hopefully he will catch up this week.
I fully trust your judgement on this particular issue. What do you think is going to be the most commonly convenient option here? Is bigint conv

[2019-06-03 21:16] elhigu commented on #3247
I think `number | string` is correct and there probably will be other parts in api where this will cause same kind of problems. I wouldn't be very happy to have just `any` typing here either, since it is too allowing, but I understand that this is really inconvenient from user's perspective. Problems of trying to type dynamic results...

I wish there would be a way for user to tell what is actuall

[2019-06-03 23:34] kibertoad commented on #1588
@chaffeqa Will create some more granular tasks soon, have #3250 up for a first round of easy changes. Mainly we need to replace bluebird.tap, bluebird.method and bluebird.try usages with something native-based. If you have some time already, you could try branching off #3250 and taking a look at any remaining 'bluebird' requires (I would recommend starting with non-dialect-specific ones so that yo

[2019-06-03 23:36] kibertoad commented on #1588
@qubyte If you would like to contribute, now is the time!

[2019-06-04 04:33] jpike88 commented on #3247
Why not just have an alias for count called countBigInt or something, or overload count with a second optional argument that returns a number/string on command?

Ergonomically it sidesteps this problem, and for those Postgres users who need the flexibility, it would satisfy them? How often will we run into a scenario like this again? Seems like an edge case to me.

[2019-06-04 05:37] lorefnon commented on #3247
MySQL count also returns bigint (
https://dev.mysql.com/doc/refman/8.0/en/group-by-functions.html#function_count).
So this is not just a postgres issue. Although it is likely that connectors
handle the conversion differently.

I'll go through the code to understand better how it handles large numbers
(by loosing precision or by stringifying) and get back here.

In general, in typed languages, type

[2019-06-04 08:26] qubyte commented on #1588
@kibertoad am I safe to use async/await now?

[2019-06-04 08:27] kibertoad commented on #1588
You mean in knex codebase? Sure. In your own one you always were :-D

[2019-06-04 11:03] RamK777 opened #3252 "Can 't Create table"
I am just installed knex version .
But i am not able to create table it always throws me an error

`Error: create table `user` () - SQLITE_ERROR: near ")": syntax error`

`let knex = electron.remote.require("knex");`

[code]

[2019-06-04 12:14] elhigu commented on #3252
Try first to learn how to do it in node without electron. There are many tests, which creates tables with sqlite just like that. Im pretty sure that your problem is not in the code you pasted here. Also knex usage questions should go to stackoverflow or gitter. This tracker is for bugs.

Closing as cannot reproduce.

[code]

[2019-06-04 12:14] #3252 closed

[2019-06-04 12:27] elhigu commented on #3247
Knex should not do `parseInt` here automatically even with safety checks, one should setup their DB driver to do that conversion. When data is still in DB driver we know the original database type of the returned column and can interpret them as we like. Knex cannot do that parseInt there also because it has no idea when results are got that certain column was returned because of someone added .co

[2019-06-04 12:38] elhigu commented on #3247
Maybe one option would be to provide generic solution where one can tell that return type is string or number and non-generic one that is number | string which is actually truth in general case.

like:

[code]

funny thing is that actually with typescript you need to setup all builder methods anyways in a correct order to be able to get correct return type for the generated query. So actually this

[2019-06-04 13:29] jpike88 commented on #3247
Maybe give it a generic default type of number? That way if someone wants the extra 'power' they can force it, but general use cases expect the value to be treated like a number

[code]

[2019-06-05 01:19] kibertoad opened #3253 "[Bluebird] Remove Promise.try usage"

[2019-06-05 01:19] kibertoad opened #3254 "[Bluebird] Remove Promise.method usage"

[2019-06-05 01:20] kibertoad opened #3255 "[Bluebird] Remove .tap usage for promises"
Remove usage of `tap()` method provided by Bluebird promises but not available for native ones.

[2019-06-05 01:21] kibertoad opened #3256 "[Bluebird] Remove Promise.each usage"

[2019-06-05 01:23] kibertoad commented on #1588
https://github.com/tgriesser/knex/issues/3253
https://github.com/tgriesser/knex/issues/3254
https://github.com/tgriesser/knex/issues/3255
https://github.com/tgriesser/knex/issues/3256
are up for grabs.

[2019-06-05 01:25] kibertoad opened #3257 "[Bluebird] Replace bluebird.promisify with util.promisify"
Pay attention to native promises not accepting context for method being executed as a second parameter (as opposed to bluebird)

[2019-06-05 02:30] JulesAU opened #3258 "Error: Connection terminated unexpectedly"
# Environment

Knex version: 0.16.5
Database + version: pg lib ver 7.11.0. connecting to Postgres 9
OS: Alpine linux in docker

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Still getting regular `Error: Connection terminated unexpectedly` errors in production log.

Downgrading to `0.13.0` avoids this - I stayed on that version for a long time because thi

[2019-06-05 05:34] jpike88 opened #3259 "Weird type error with 'DeferredKeySelection'"
Knex 0.17.3

[code]

Gives me a TS error:

```Return type of exported function has or is using name 'DeferredKeySelection' from external module "/Users/joshpike/Projects/aquipa/server/node_modules/knex/types/index" but cannot be named```

[2019-06-05 05:37] jpike88 opened #3260 "Type error when casting to a type"
Another type error... knex 0.17.3

[code]
[code]

[2019-06-05 05:51] jpike88 commented on #3247
Would appreciate movement on that PR, I've added a couple more type issues, types are pretty problematic right now.

[2019-06-05 07:14] elhigu commented on #3258
Cannot reproduce

[2019-06-05 07:14] #3258 closed

[2019-06-05 20:58] lorefnon commented on #3247
From https://github.com/tgriesser/knex/issues/3247#issuecomment-498429671:

Yes, I concur. I am not inclined to change this to just `number` because I'd like to minimize the possibility of types lying to consumers<sup>[1]</sup> as much as possible.

This is actually possible. I have updated my PR to support this. By default count will continue will resolve to `number | string`, but following one t

[2019-06-05 21:12] lorefnon commented on #3260
I have not been able to reproduce this. Would you be able to provide an isolated minimal example using which this error can be reproduced ?

When I tried testing out a similar query, rhs resolved to `any[]` which was expected, so assignment to any array in lhs should have succeeded.

[2019-06-05 21:21] mjurincic commented on #2820
We are also having this issues is "propagateCreateError": false a real solution seems this should be handled by library itself.

[2019-06-05 22:00] elhigu commented on #2820
@mjurincic please bug report if you think its a bug... I have no idea what are you talking about

[2019-06-05 22:04] elhigu commented on #3247
Not to mention, that actually in most of the drivers user can choose how for example bigints are serialised (for example to some bigint library object). So being able to tell the correct type would be really useful.

[2019-06-05 22:08] kibertoad commented on #1588
If there is anyone willing to hunt down the reason why last PG test is failing for https://github.com/tgriesser/knex/pull/3250, that would also be most appreciated.

[2019-06-05 23:42] mihaivinaga opened #3261 "Insert doesn't work all the time"
Knex 0.17.3
mysql 5.7
OS: macos

Full disclousre, I am new to knex, hell I am new to nodejs and I am having a difficult time getting knex to insert multiple rows on a consistent basis. I am running the following query:

[code]
 And most of the time it works but  once in a while I get the following error:

[code]

Any thoughts with what I am doing wrong?

[2019-06-06 05:22] knoxcard commented on #3261
Does this only happen when you a run a lot of queries at once?

[2019-06-06 05:37] jpike88 commented on #3260
typescript 3.5.1

[code]

[2019-06-06 06:24] #3247 closed

[2019-06-06 06:24] #3259 closed

[2019-06-06 11:28] elhigu commented on #3261
@mihaivinaga please add complete reproduction code (single js file, which runs knex queries in a way that you get that error) for the issue. Problem is not in the code that you pasted.

Closing as cannot reproduce.

[2019-06-06 11:28] #3261 closed

[2019-06-06 13:08] magorn opened #3262 "Unhandled rejection on rollback"
[log.txt](https://github.com/tgriesser/knex/files/3261698/log.txt)

# Environment
 "knex": "^0.17.0"
"pg": "^7.11.0",
Database + version: Postgres 11.3
OS: Mac OS X

# Bug

1. Expects a clean roll back

2. Error message
[code]

3.
#run against database
[code]

 #Code
[code]

[2019-06-06 14:16] elhigu commented on #3262
`column "acccountnumber" of relation "account" does not exist`... comes from database, meaning that your account table doesn't have column named accountnumber.

Please add a row to your account table in setup code and before doing anything else run

[code]

I suspect your DB is not what you think it is and that will rule it out if it works.

also you could checkout what https://knexjs.org/#Builder

[2019-06-06 14:16] #3262 closed

[2019-06-06 14:59] magorn commented on #3262
I know that the column is faulty that is the test case, the code works if I change acccountnumber to acountnumber
 var accounData = {acccountnumber: 202, customernumber: customerData.customernumber};
I expect the rollback to rollback everything cleanly without , which is the customer insert, so I get all or nothing.

[2019-06-06 15:06] elhigu commented on #3262
Right, ok so this is duplicate of https://github.com/tgriesser/knex/issues/3246

[2019-06-06 15:11] magorn commented on #3262
No I read that one and I do think I have handler for both outcomes, how do I code to not get the error when I am doing rollback?
createAccount().then(
    result => console.log(result)).catch(error => {
    console.log(error);
});

[2019-06-06 16:55] elhigu commented on #3262
afaik it is the same problem and currently there is no way to fix it if I understood the last comment from @kibertoad right. So there is an internal promise left which rejects/resolves on rollback / commit, which doesn't have handler for errors.

I suppose for now you need to use transactions like this:

[code]

[2019-06-06 17:20] oleoneto commented on #569
`table.specificType('tags', 'character varying(20)[]')`

[2019-06-06 17:46] magorn commented on #3262
Great, Thank You for the rewrite and explanations,  one other thing why can I not get the real stack ,
I mean rownumber with the failing row below  and call stack?
var accounData = {acccountnumber: 202, customernumber: customerData.customernumber};

[2019-06-06 17:54] magorn commented on #3262
hmm, guess,  that parseE
msg = new Error(fields.M)
is the real error, which then is the subexception

[2019-06-06 21:42] elhigu commented on #3262
Try to set `asyncStackTraces: true` to config, now there seems to be a typo. It should record stack trace where query builder was created and return that when DB errors are thrown.

[2019-06-07 03:12] magorn commented on #3262
Yes, that made the trick,Thanks.

[2019-06-07 06:01] stoplion commented on #2023
same issue and my client is hard coded

[2019-06-07 06:11] jpike88 commented on #3260
any ideas?

[2019-06-07 06:42] kibertoad commented on #2023
@stoplion Can you please share your config?

[2019-06-07 07:17] elhigu commented on #2023
@stoplion not the same issue, in this was about wrong documentation. But yeah you have a problem in your config or how you read your config from knexfile.js because `const knex = require('knex')({client: 'pg'})` definitely works. I write that line at least few times a week, when verifying knex issues.

[2019-06-07 13:03] mejt opened #3264 "Knex + RDS + bindings = increasing ClientRead"
# Environment

Knex version: 0.17.3
Database + version: postgres 9.6.9
OS: AWS RDS

# Bug
Hi, it is probably that I detected issue in knex related with prepared statements. Unfortunately I am not sure that it is problem with implementation of knex but I want to describe my problem for potential detect issue.

I build queries using knex query builder and as I understand it use by default bindings.

[2019-06-07 13:13] elhigu commented on #3264
It id not safe and may cause many kind of problems, creating prepared statements for queries is done by pg driver, so there is not much that knex can do about it. Sounds like you have some problems on application code, which causes too much pressure to database...

With current information and without any reproduction there is very little that we can do to help. You could try to setup connection l

[2019-06-07 13:15] elhigu commented on #3264
closing for now, since there is nothing we can do for this right now. Can be reopened if it seems to be a bug in knex.

[2019-06-07 13:15] #3264 closed

[2019-06-07 14:03] magorn commented on #3262
Does knex handle sequencers? I tried below with no luck
 var nextAccountNumber = await trx.raw('SELECT nextval(\'account_sequencer)\'');
#DB setup
CREATE SEQUENCE account_sequencer START 200100;
SELECT nextval('account_sequencer');

[2019-06-07 14:46] elhigu commented on #3262
you have invalid quotes there

[2019-06-07 15:12] magorn commented on #3262
Yes, thanks, works!

[2019-06-07 16:53] mmarvick commented on #783
It looks like this got added and the issue can be closed: #3187

Pinging @kibertoad, since you merged that PR and probably have the permissions to do this

[2019-06-07 21:30] #3253 closed

[2019-06-07 22:40] #3260 closed

[2019-06-07 22:40] kibertoad commented on #3260
Fixed in 983f23a8b2ae4768a74f1db82161db64491858c8

[2019-06-07 23:05] kibertoad commented on #3170
Node 6 support was dropped in master. PRs with refactorings for async/await usage are most welcome now.

[2019-06-07 23:06] kibertoad commented on #3116
@shaungreen Would you consider submitting a PR to fix this issue?

[2019-06-07 23:08] kibertoad commented on #2988
@elhigu I can't find mysql version in our docker-compose. Do we just automatically pickup the latest one?

[2019-06-07 23:09] kibertoad commented on #783
@mmarvick Thanks for the heads-up!

[2019-06-07 23:09] #783 closed

[2019-06-07 23:14] #2886 closed

[2019-06-07 23:51] kibertoad opened #3268 "[Bluebird] Remove .spread usage for promises"

[2019-06-08 05:10] shaungreen commented on #3116
No problem - what branch should I use?

[2019-06-08 18:07] lorefnon commented on #3222
The site seems to be back up again. Closing.

[2019-06-08 18:07] #3222 closed

[2019-06-08 19:50] dgadelha commented on #3003
Any plans on fixing that? It's been hard to increase Knex adoption with this issue :/

[2019-06-08 19:53] kibertoad commented on #3003
@dgadelha Thanks for the reminder! I'll take a look today or tomorrow.

[2019-06-08 21:58] kibertoad commented on #3259
@jpike88 0.17.4 with all the latest typing improvement was released, please give it a try!

[2019-06-08 22:30] jeremychone opened #3271 "Missing types/result.d.ts in v0.17.4 package, typecscript can't compile app code."
# Environment

Knex version: 0.17.4
Database + version: postgresql 11
OS: mac

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

After upgrading to v0.17.4 (from v0.17.3), we get a typescript error

![image](https://user-images.githubusercontent.com/74671/59152867-aaffc500-8a01-11e9-8a6d-1cc46d92a654.png)

in `v0.17.4` the new `types/result.d.ts` seems to be

[2019-06-08 22:32] kibertoad commented on #3271
ouch. lemme fix it real quick

[2019-06-08 22:37] kibertoad commented on #3271
@jeremychone Could you please try 0.17.5?

[2019-06-08 22:42] jeremychone commented on #3271
@kibertoad Just did, works. Thank you!

[2019-06-08 22:42] #3271 closed

[2019-06-08 22:44] kibertoad commented on #3271
np, thanks for reporting it quickly!

[2019-06-09 04:42] jpike88 opened #3273 "Remove @babel/polyfill as a dependency"
Add a post install script that checks node version, and if 6, and no @babel/polyfill package is present, throw a warning.

[2019-06-09 04:46] #3273 closed

[2019-06-09 04:52] jpike88 opened #3274 "new 'Pick' type throwing errors everywhere"
knex@0.18.0-next1

I get that typing is nice, but I now have 181 errors in my project due to errors like this:

Error:TS2339 Property 'id' does not exist on type 'Pick<any, "assessment.*">'.

For lines like this:

```const assessmentAttrs = await sql.knex('attribute_assessment_map').whereIn('assessmentID', assessments.map(a => a.id));```

This can't be working correctly.

[2019-06-09 05:15] lorefnon commented on #3274
Can you please also post how are you retrieving the assesments array ?

[2019-06-09 12:34] jpike88 commented on #3274
[code]

[2019-06-09 15:12] lorefnon commented on #3274
This version does not seem to exist, has it been unpublished ?
I can not reproduce the error in either master or the latest 0.17.x release.

[2019-06-09 15:14] kibertoad commented on #3274
@lorefnon it wasn't published, just use master. Since no babel is involved, knex git branches can finally be used in npm.

[2019-06-09 15:14] kibertoad commented on #3274
@jpike88 can you still reproduce it with latest master?

[2019-06-09 15:32] jpike88 commented on #3274
my package lock is on ```github:tgriesser/knex#4b6429ebf958b6a3211cb2e2c85ae2d9338b3867```, so yes the problem is on latest commit

[2019-06-09 16:15] ziggi commented on #3158
But it's do, with `.returning()` I can receive first inserted id.

[2019-06-09 19:12] #3274 closed

[2019-06-10 02:23] jpike88 commented on #3247
[code]

putting this is globals doesn't make errors like this:

```Type 'string | number' is not assignable to type 'number'.```

[code]

[2019-06-10 02:24] jpike88 opened #3276 "type issue, getting first item of any[] doesn't give me any type"
# Environment

Knex version: latest on master
[code]

![Screen Shot 2019-06-10 at 9 24 23 am](https://user-images.githubusercontent.com/9585787/59168802-8cb0db00-8b61-11e9-8afa-66c45548da50.png)

[2019-06-10 04:17] lorefnon commented on #3276
Type of variable gets inferred from first assignment and doesn't change later. This is general typescript behavior and not knex specific.

You can either use `let nextChild: any = await knex('file').where(...)`
or assign te result of `nextChild[0]` to a new variable (whose type will be inferred as any).

[2019-06-10 04:50] jpike88 commented on #3276
Ah yep, been getting so much type drama I thought this was Knex's fault!

[2019-06-10 04:50] #3276 closed

[2019-06-10 04:52] jpike88 commented on #3247
@lorefnon can you repro? if so can this be reopened

[2019-06-10 06:21] elhigu commented on #3158
@ziggi you will get that id also without adding any ‘.returning()’ call there. Check from ‘.insert()’ documentation what it returns by default... as I said, ‘.returning()’ is not supported at all but mysql server and now knex emits a warning because you are trying to use it with wrong dialect.

[2019-06-10 07:13] felixmosh commented on #3193
With knex v-0.17.5 there is an issue with `.first` operator.

[code]
![image](https://user-images.githubusercontent.com/9304194/59178690-617dba00-8b68-11e9-9078-daa9dd532b72.png)

[2019-06-10 10:49] elhigu commented on #2988
Yep, it uses latest. This issue has been fixed while ago.

[2019-06-10 10:49] #2988 closed

[2019-06-10 15:32] lorefnon commented on #3247
If you add an import for the module being augmented, it should work as expected:

[code]

[2019-06-11 01:02] colbyallenc commented on #1628
Where do you put then `.then()` ???

[2019-06-11 15:30] itsjzt opened #3278 "Thank You ♥️"
🏆🏆🏆

Thank you guys for making this kind of thing which provides a very clean abstraction over SQL with just the most required features. I always find SQL better than using any kind of ORM but writing raw SQL has some of its own problems like not having database like independence, migrations.

I actually never knew this kind of clean abstraction  can exists which don't provide very high level API

[2019-06-11 15:31] kibertoad commented on #3278
Much appreciated!

[2019-06-11 17:15] ziggi commented on #3158
@elhigu ohh, thanks, my bad.

[2019-06-12 03:38] pupudu commented on #2664
I had the same issue. Ended up just copy pasting the types to my own module.

[2019-06-12 06:42] kibertoad commented on #2664
@pupudu Types are now included in knex repository. Please let us know if some of the ones you need are still private in 0.17.x

[2019-06-12 06:54] atassis opened #3280 "inversal methods for clear<Statement> (clearWhere) functions"
I am using [knex-hooks](https://github.com/alekbarszczewski/knex-hooks) to fire events after database events happening. I want to get the data for already made update queries, but can't get it properly from query builder object. It would be nice to have method to parse for example where statements from the query to use them next in new ones. It might be looking as 'extractWhere' or modifier functi

[2019-06-12 07:02] pupudu commented on #2664
@kibertoad That's good news indeed. I tried to grab `Partial`, `SafePartial` and `MaybeArray` and failed. Maybe the way I was trying to do is wrong?

Here's what I tried:
[code]
Please advise the right way to do it.

[2019-06-12 07:24] elhigu commented on #3280
Not following issue template + duplicate of many issues, for example https://github.com/tgriesser/knex/issues/624 https://github.com/tgriesser/knex/issues/1893

[2019-06-12 07:24] #3280 closed

[2019-06-12 07:25] #470 closed

[2019-06-12 07:29] elhigu commented on #821
Closing old issue. I don't see any drawbacks if someone likes to implement this though.

[2019-06-12 07:29] #821 closed

[2019-06-12 07:40] elhigu commented on #798
Closing old issue. New feature request with proper API proposal should be added if this is still wanted.

Though I'm having a hard time to see how this would prevent the misuse of forgetting to use `.clone()`,  also this kind of factory functions are trivial to write and are easier to understand (for people new to knex) with plain JS and not having to read through docs trying to figure out what is

[2019-06-12 07:40] #798 closed

[2019-06-12 08:03] #3278 closed

[2019-06-12 13:53] onehorsetown commented on #3026
I know Typescript support is "best effort", but the above code fails to compile in Typescript `3.5.1` even with the new `knex.ref` types.

[code]

`Where<TRecord, TResult>` does accept a single `Raw` parameter, but not a `Raw/Ref` + value.

As such, I think https://github.com/tgriesser/knex/blob/f3e991d2a45b999898efca074d6c6066f74f7e30/types/index.d.ts#L1021

should be changed to:

[code]

typescr

[2019-06-12 14:42] jsumners opened #5875 "Missing docs for save points"
https://github.com/tgriesser/knex/issues/2213#issuecomment-327595596

[2019-06-12 14:42] jsumners opened #5876 "Missing docs for save points"
https://github.com/tgriesser/knex/issues/2213#issuecomment-327595596

It seems the documentation around how passing a `transaction` instance around will work with regard to save points.

[2019-06-12 14:45] #5875 closed

[2019-06-13 08:13] vytautas-pranskunas- commented on #882
yohairosen KnexNest(NestHydrationJS) it isnice however it works only with underscores and is postgres returns data separated by dots it is useless :(

[2019-06-13 09:32] boutdemousse opened #3281 "Rollback in wrong order"
**What I want to do**

Rollback my migration that has a lot of table creation in the same batch, using `knex migrate:rollback`

I suppose this is what happened here too : https://github.com/tgriesser/knex/issues/2832#issue-365698120

**What should happen**

The rollback should happen.

**The problem**

If I have two migration files with table A and table B, with a foreign key to A.id in B, then th

[2019-06-13 11:14] novito commented on #2152
@elhigu escaping `?` works, but escaping `.` still gives the issue. What's your suggested workaround?

[2019-06-13 11:52] elhigu commented on #2152
Dont use periods or dont use ?? binding in that case. ?? bindings treats periods as special character and that is not going to change.

[2019-06-13 11:55] elhigu commented on #3281
Please add reproduction code.

[2019-06-13 11:56] novito commented on #2152
thanks elhigu! I will find a workaround to decorate those columns after knex has been used!

[2019-06-13 14:40] boutdemousse commented on #3281
While I was trying to reuse my work project on the computer at home to isolate the error and share the repo, I actually encountered another bug that I don't have at work.

I guess it's not my day with knex ?

[code]

[2019-06-13 16:47] novito commented on #2152
@elhigu what's the easiest way for me to find out which characters I should avoid when using `??`?

[2019-06-13 17:26] elhigu commented on #2152
safest to avoid everything that is not `a-zA-Z0-9_-.` that binding should be used for `'table.column'` type of references.

[2019-06-13 19:34] kibertoad commented on #3281
@boutdemousse Try using explicit name for constraint, autogenerated one does not satisfy DB requirements.
Which knex version are you using? Rollback order bug was fixed in latest ones.

[2019-06-13 19:46] stf8 commented on #2952
We experienced the same drawback @demisx described (we moved from 0.15.2 to 0.17.5 recently). My understanding is that now the behavior of the knex cli is not consistant with a typical node `require` loading.

Eg, in our apps we have :

[code]

While at the same time one could use :

[code]

It seems to me the `--cwd` option is now kinda misleading as it's really not the working directory from whi

[2019-06-13 19:48] kibertoad commented on #2952
@stf8 I'll try to address it this week.

[2019-06-13 20:04] elhigu commented on #3281
closing until there is reproduction... that limit should not be hit easily. Please open separate bug report with reproduction code for that.

[2019-06-13 20:04] #3281 closed

[2019-06-13 21:30] kibertoad commented on #3003
@dgadelha 0.17.6 with fix for this was released. Unfortunately, fix for resolving extension from knexfile extension will only be available on master (starting on it right now).

[2019-06-13 21:55] kibertoad commented on #3003
Please review!
https://github.com/tgriesser/knex/pull/3282

[2019-06-13 21:56] mathieumg commented on #3003
@kibertoad Just installed 0.17.6 and that behavior still happens, even when specifying ".ts" in the Knexfile. Are they separate bugs?

[2019-06-13 21:57] kibertoad commented on #3003
@mathieumg Yes. See PR that I've created a couple of minutes ago and referenced from this issue :D

[2019-06-13 21:58] mathieumg commented on #3003
@kibertoad I did! The description makes it sounds like that was rather for inferring the extension based on the same extension as the Knexfile, so I wasn't sure.

[2019-06-13 22:01] kibertoad commented on #3003
`The description makes it sounds like that was rather for inferring the extension based on the same extension as the Knexfile` -> well yeah, it's about automatically inferring extension from knexfile, no matter whether it is explicitly specified one or the autoresolved one.
0.17.6 fixed autoresolution of TS knexfiles.

[2019-06-13 22:02] mathieumg commented on #3003
Alright! Because 0.17.6 with `extension: "ts"` still gave the ".js" result. Thanks for fixing those bugs! 😄

[2019-06-13 22:05] kibertoad commented on #3003
Ah, you mean you have knexfile that has
[code]
in it? That one was fixed in https://github.com/tgriesser/knex/commit/a65a95bc672563e01c08b40384e1dc2b079ecee1, you can already access it by locking your version at this commit (if you don't want to point at master directly).
Unfortunately it won't be backported to 0.17

0.18.0 is still quite ahead, but if depending on commits not an option for you, I

[2019-06-13 22:21] kibertoad commented on #3219
PR with test would be welcome :)

[2019-06-13 23:35] dgadelha commented on #3003
Hey, I've commented the PR, thanks a lot!

[2019-06-14 01:43] jonathansilva opened #3283 "Performance solution UUID in MySQL and/or MariaDB"
# Feature discussion / request

Please implement the functions:
UUID_TO_BIN
BIN_TO_UUID
IS_UUID (would be cool too)

This will solve 3 problems:
- increased storage: 36 characters
- more difficult to debug
- performance issues: mainly because of the size and not being ordered

link: https://mysqlserverteam.com/mysql-8-0-uuid-support/

[2019-06-14 05:19] mathieumg commented on #3003
@kibertoad Awesome, thanks for the precision! We can wait on 0.18, no stress. 😄

[2019-06-14 06:44] #3003 closed

[2019-06-14 07:15] elhigu commented on #3283
Please add API proposal how you thing those should be supported. Like this you should be able to use them easily with for example `knex.raw('UUID_TO_BIN(??)', ['column_name'])`.

Usually we don't implement special APIs for stuff that is used just one dialect, closing for now until there is some kind of proposal how this feature should work. This is too unclear like this.

[2019-06-14 07:15] #3283 closed

[2019-06-14 16:53] machineghost commented on #1232
So the last update I see on this ticket involves esm and is over half a year old ... has anyone managed to get this working with Babel?  I particular curious with all the changes to Babel and then new preference of using @babel/register instead of babel-node.

[2019-06-14 16:57] kibertoad commented on #1232
@machineghost You can try latest master, it doesn't use any transpilation, so might work better. If you run into any remaining limitations, please let me know.

[2019-06-14 17:14] machineghost commented on #1232
It still doesn't seem to work.  My `package.json` is the following:

    "knex": "npx @babel/node node_modules/.bin/knex --knexfile=src/database/knexfile.js",
    "migrate": "npm run knex migrate:latest",

and my `knexfile.js` is super simple:

    import { development } from './realKnexFile';
    module.exports = {
        development
    };

But it can't get past the first line. When I run `npm

[2019-06-16 17:11] gopalakrishnan-subramani opened #3284 "question: knex query as json format and json format to knex query"
We have a requirement where as the SQL select query is build on a visual tools in the browser,
then store the query as JSON format into DB at the  backend, then execute the query on the node.js on need basics.

I have few questions, please help to validate.

1. Will knex work on browser?
2. Can I convert knex query into JSON format so that the JSON shall be stored into DB record as it is.
3. Can I

[2019-06-16 17:40] runnerpaul commented on #1360
@saurabhghewari did you ever find a solution for this question? I'm trying to do something similar.

[2019-06-16 18:59] chaffeqa commented on #1588
Sorry for being MIA this past week, things are ramping up for our company so I'm having to focus there.

Wanted to close the loop on [some of the discussion](https://github.com/tgriesser/knex/pull/3263#issuecomment-499904988) we had on one of the bigger blocks to the upgrade: replacing [the `Disposer` usage](http://bluebirdjs.com/docs/api/disposer.html).

Its a pretty deep wole when you start goin

[2019-06-16 22:04] kibertoad commented on #1588
@chaffeqa Np, appreciate you still finding the time to get back to this!
I highly doubt bluebird people will be open for suggestions to seriously reengineer their implementation, they have repeatedly reiterated the point that at this point they are interested in stability above everything, and they do recommend people to actually use native promises unless one really needs advanced features provid

[2019-06-16 22:08] kibertoad commented on #1588
@ericeslinger FWIW, TS typings shouldn't be a problem in master anymore, we are typing our promises as the native ones now to discourage users from relying on Bluebird features. This may cause issues down the road when native Promises implement something that Bluebird promises don't, so we still want to replace promises used as much as possible. Any contributions along these lines would be greatly

[2019-06-16 22:16] chaffeqa commented on #1588
Nuts I figured as much 😞
I agree doing something like the `DisposablePromise` is probably the way to go in this case, especially since the item that is really needed is [still in proposal](https://github.com/tc39/proposal-using-statement).

The downside is that it's going to be very important to engineer something like `DisposablePromise` in a judicious way... and frankly I dont even know if my im

[2019-06-16 22:22] kibertoad commented on #1588
@chaffeqa How complicated is the Bluebird implementation? Maybe we can simply extract it and add on top of native promise?

[2019-06-16 22:26] kibertoad commented on #1588
@chaffeqa Worst case scenario - we can remove all other Bluebird usages and keep this one due to its complexity if we deem it too risky to touch. Not ideal, but eventually `using` is going to happen.

[2019-06-16 22:30] chaffeqa commented on #1588
unfortunately [pretty complicated](https://github.com/petkaantonov/bluebird/blob/master/src/using.js)... the implementation piggybacks on the fact that bluebird controls the promise lifecycle.  I think the best approach is to see what it's trying to do (which is pretty close to the link on `using` above) and create as simple and performant a shim as possible for it.

The problem is that the pipeli

[2019-06-16 22:33] kibertoad commented on #1588
Worth an experiment :)

[2019-06-16 22:36] kibertoad commented on #3284
1) Unlikely. Which DB are you using?
2) I don't think query serialization is a feature that we currently support. However, are are definitely open for PRs that would implement something along these lines.

Unfortunately, I'm not aware of other solutions that support this use-case.

[2019-06-17 00:14] #3268 closed

[2019-06-17 00:15] kibertoad opened #3286 "[Bluebird] Remove Bluebird.map usage"

[2019-06-17 03:42] joemillervi opened #3288 "(postgres) knex.raw INSERT INTO wrapping string values in double quotes instead of single"
# Environment

Knex version: 0.17.6
Database + version: postgres (PostgreSQL) 9.5.3
OS: mac os el capitan 10.11.6

# Bug

1. When a raw query is made using kenx.raw and values are passed in as an object, it wraps the strings with double quotes by default. PostgreSQL interprets " as being quotes for identifiers, ' as being quotes for strings, so this creates an error.

2. Error message: error: colu

[2019-06-17 08:12] stoplion opened #3289 "timestamps not working"
# Environment

Knex version: ^0.17.3
Database + version: Postgress 9.6
OS: OS X

# Bug

1. According to the docs, `timestamps` 'Adds created_at and updated_at columns on the database, setting each to datetime types.'  But this is not working.

[code]

No created_at and updated_at columns are created.

Are the docs giving the complete steps needed to make this work?

[2019-06-17 10:41] chaffeqa commented on #1588
oooo also [an option](https://github.com/benjamingr/bluebird-api) I found based on https://github.com/petkaantonov/bluebird/issues/1593

Either way, I think a good step forward was what you started on a previous branch, where we isolate all the `Promise` usage that actually is a `BluebirdPromise`, that way we can start playing around with dropping in replacements like `DisposablePromise` or `Blueb

[2019-06-17 11:00] shahsank3t commented on #2684
@darky @santiagochen did you guys find any wrapper or Knex support for ClickHouse?

[2019-06-17 11:00] #3255 closed

[2019-06-17 11:08] kibertoad commented on #1588
@chaffeqa You mean the `Bluebird.setScheduler(fn => Promise.resolve().then(fn))` part?
Overall conversion is proceeding really smoothly, I fully expect to migrate everything other than Disposer logic quite soon; and if we could keep Disposers in Bluebird while making them use native promises under the hood, that might actually be a good solution.

[2019-06-17 11:19] elhigu commented on #3289
You are not executing your schema builder. Add await or return your schema builder from migration handler.

[2019-06-17 11:19] #3289 closed

[2019-06-17 11:26] kibertoad commented on #3289
@elhigu Our documentation doesn't mention that part, though: https://knexjs.org/#Schema

Probably we should make that part more explicit.

[2019-06-17 11:59] elhigu commented on #3289
Also that seems to be wrong... since they doesn't return promises, but schema builder instance that is thenable and needs to be executed separately.

Anyways, saying that it returns promise would imply that one has to wait until promise is resolved before continuing. But true, it could be made more explicit.

[2019-06-17 12:55] elhigu commented on #3288
You are using identifier binding for `:username:` instead of value binding `:username` so it will be quoted as identifier instead of passing it as value.

[2019-06-17 12:55] #3288 closed

[2019-06-17 13:01] elhigu commented on #3284
Knex can be used in a browser for query building purposes. In your case closest thing probably would be to build queries in browser and then send toSQL() or toSQL().toNative() result to backend and execute those as raw queries.

Knex builders doesn't support any inspection / serialization capabilities so if you want to create query builder instance from serialized form, there is no way to do it.

[2019-06-17 13:01] #3284 closed

[2019-06-17 13:08] elhigu commented on #1360
I have to say I'm not sure if knex supports nested joins at all... I didn't see any tests or documentation for that case, so I'm pretty sure they are not supported. Please add feature request for this.

[2019-06-17 13:08] #1360 closed

[2019-06-17 16:02] juliancoleman commented on #2998
@Areshetcov @Meldiron  I've been using `commonjs` module as you can see [above](https://github.com/tgriesser/knex/issues/2998#issuecomment-475335893). I think what really needs to happen is a deeper support, not necessarily causing a ton of user configuration

[2019-06-17 16:14] juliancoleman commented on #2998
Considering how this issue is related to a release that's now behind, is this currently an issue with `0.17.3`?

[2019-06-17 16:37] icj217 commented on #2514
Running `0.16.6-oracle-fix` and it still does not recover from the ORA-03114 error. Here's the error/stack returned:
[code]

[2019-06-17 22:07] #3254 closed

[2019-06-17 22:16] kibertoad commented on #2998
@juliancoleman Using ts-node is still the best solution, as knex still tries to open knexfile.js and explodes if it is not in Javascript format. There were improvement to handle TS extensions more gracefully in more cases (e. g. migration generation or resolving knexfile in default location), however. Which particular issue are you having?

[2019-06-17 22:20] kibertoad commented on #2998
In any case, thank you for reminding me about this issue. I'll try to take another swing at it on the weekend, hopefully I can at least understand why it worked in the past :D

[2019-06-17 23:39] kibertoad commented on #3274
Released in 0.18.0-next1

[2019-06-18 03:19] joemillervi commented on #3288
Ah ok thanks. Will look into this.

[2019-06-18 04:49] brunolm commented on #2998
When I made that PR I noticed that it is supposed to work not only with TypeScript, but also with babel and some other stuff, there's a package that handles all that - if I remember correctly.

My PR might have some useful hints https://github.com/tgriesser/knex/pull/3005/files

[2019-06-18 11:57] ViggoV commented on #3003
@kibertoad The commit you refer to only works if it is defined directly under
[code]
But the migrations object that defines where to put, and read from, migrations have to be defined under
[code]
If I move the `migrations` object out of the environment object the migrations directory will be ignored.

[2019-06-18 13:35] icj217 commented on #2514
I've been able to implement a workaround for this issue for the time being using a Proxy wrapper. It relies upon on having a simple `db.js` module that establishes the knex object before exporting it and using it in other modules.

Basically, I'm using the `query-error` event to trigger a re-establishment of the connection and changing the value of the `myDb` variable. The Proxy is used to ensure

[2019-06-18 14:11] elhigu commented on #2514
Sounds like something in that implementation is failing... IIRC it was not merged because tests were missing...

[2019-06-18 14:55] kibertoad commented on #3193
@felixmosh Is it any better in 0.18.0-next1?

[2019-06-18 14:59] kibertoad commented on #3003
@ViggoV Thanks for the bug report! Will try to address this today.

[2019-06-18 23:33] kibertoad commented on #3003
@ViggoV Can you try latest master and report back if it works correctly in your case now?

[2019-06-19 00:28] olingern commented on #1550
I think this can be closed as of #3205

[2019-06-19 03:47] nmummau opened #3295 "Passing the type of database row as a type parameter is not working as documented"
### Environment

Knex version: knex 0.16.5
Database + version: pg 7.11.0
OS: Ubuntu 18.04.2 LTS
Node: 10.16.0
Typescript: 3.1.6

I'm reading the [TypeScript Support docs](https://knexjs.org/#typescript-support), specifically the section that describes:

I'm just trying to select a row from a table and get a typed output row. The Knex documentation makes it look so simple, but I cannot get it to wo

[2019-06-19 04:11] lorefnon commented on #3295
Can you please give me the result of `npm ls knex`, `npm ls @types/knex` and `npm ls typescript`.

[2019-06-19 04:49] nmummau commented on #3295
`npm ls knex`
knex@0.16.5

`npm ls @types/knex`
(empty)

`npm ls typescript`
typescript@3.1.6

PS: During troubleshooting, I did `npm install @types/knex`, but I had the same results. I have since removed @types/knex since I read it was deprecated.

[2019-06-19 05:28] lorefnon commented on #3295
That feature didn't exist in knex@0.16.5. please consider updating to
latest stable and let us know if you continue facing this issue.

On Wed, Jun 19, 2019, 10:19 AM Neal Mummau <notifications@github.com> wrote:

[2019-06-19 05:35] nmummau commented on #3295
That'll do it... I'm new to npm and assumed `npm install` would get me the lastest. I ran `npm install knex@latest` and am now on knex@0.17.6 and it appears to be working. Thank your you help, I really appreciate it. Sorry for the trouble.

[2019-06-19 05:35] #3295 closed

[2019-06-19 07:05] felixmosh commented on #3193
@kibertoad yes it still happens but now with different error,
![image](https://user-images.githubusercontent.com/9304194/59743765-b365c480-9279-11e9-92a9-a07305f09a32.png)

[2019-06-19 07:12] kibertoad commented on #3193
@lorefnon Any ideas?

[2019-06-19 16:57] lorefnon commented on #3193
I am unable to reproduce this. Can you please post your tsconfig.json and the full error that tsc gives you ?

[2019-06-19 18:08] amrita019 commented on #732
For anyone who needs it in the future:
as mentioned above returning('id') results in an array so we can get the value by id[0]
[code]

[2019-06-19 19:42] machineghost commented on #732
Or with ES6 destructuring that can just be:

    knex('table name')
                .insert(dataset)
                .returning('id')
                .then(([id]) => console.log(id));  //id here

[2019-06-19 20:24] kibertoad commented on #3095
@cthurston There was a further improvement in master: now you can access executionPromise that gets resolved or rejected after transaction commit/rollback, in case you need it. See https://github.com/knex/documentation/pull/205 for details.

[2019-06-19 20:27] juliancoleman commented on #2998
The issue I have is when I run `npm run knex migrate:latest`, I get an `unexpected token '{'`. I use ts-node only for this API. I don't run it through any bundler and I don't compile the TS. It's probably not a good thing to _do_ that, but that's what I'm doing for now. I am, however, aware that Typescript cannot import third-party typescript files. They must be built first. I've experienced this

[2019-06-19 20:37] kibertoad commented on #2514
@icj217 Can you try latest master?

[2019-06-19 20:51] kibertoad commented on #2514
@icj217 Just released 0.18.0-next2, would appreciate if you could give it a try and report back.

[2019-06-19 20:51] kibertoad commented on #3003
Released in 0.18.0-next2

[2019-06-20 00:25] jeremychone opened #3298 "question - any way to avoid babel dependencies and its deprecation messages?"
# Environment

Knex version: 0.7.3
Database + version: Postgres 10, 11
OS: OSX, AWS Linux

# Questions about how to use knex

This is not a request, but more of a wish disguised in a question.

Right now, when doing a fresh npm install of knex (.e.g., each docker build), we get a lot of babel messages deprecation and otherwise. Nothing seems to break, but it's a little worrisome, as we usually do

[2019-06-20 02:06] pupudu commented on #3151
Hi @ctkcoding
I am doing something similar in a project I am working on. If I understand your question correctly, you can do this:
[code]
The trick is to use `[]` brackets around the object property name.

[2019-06-20 04:36] felixmosh commented on #3193
Actually `knex@0.18.0-next2` do solves the issue.

Did you removed blueBird promises from knex? at this version all `.map`/ `.reduce` statements are red
[code]

[2019-06-20 04:47] lorefnon commented on #3193
Yeah, there is a parallel ongoing effort to remove bluebird.

[2019-06-20 05:52] kibertoad commented on #3298
You can use 0.18.0-next2. It does not use babel anymore.

[2019-06-20 08:29] kibertoad commented on #3193
@felixmosh Can't you just call map on result array after awaiting the results?

[2019-06-20 08:43] felixmosh commented on #3193
Yeah I can, but this will be breaking changes :]

[2019-06-20 12:12] ShanChathusanda93 opened #3299 "Returning date from MySQL database as ISO format only"
# Environment

Knex version: 0.15.2
Database + version: MySQL 5.7.26
OS: Ubunut 18.04.1

# Feature discussion / request

Currently I am trying to get some data from a table in a MySQL database. Here I tried to get the **date** only from a **Datetime** column. The data in this column is stored as the local time. But when I get the result by using knex, I only received the date with the format of IS

[2019-06-20 12:31] ViggoV commented on #3003
Sorry, I ended up switching to `{ ext: 'ts' }` which works as I would expect but doesn't seem to be documented. I will test when I have the time

[2019-06-20 13:10] icj217 commented on #2514
@kibertoad Just tested out `0.18.0-next2` and it seems to be working for me!

[2019-06-20 13:11] ricardograca commented on #3299
This is the underlying mysql driver doing the formatting. Knex isn't involved in that. You can probably use the `timezone` and/or `dateStrings` options to achieve what you want: https://github.com/mysqljs/mysql#connection-options

[2019-06-20 14:36] loxs commented on #3193
@felixmosh  Where is the discussion about this ongoing effort? I'd like to at least help with testing (and ensure my systems don't fail). Please keep me in the loop if possible.

[2019-06-20 14:40] elhigu commented on #3299
Knex doesn't decide how data is returned from database. Its responsibility of DB driver as @ricardograca said..

[2019-06-20 14:40] #3299 closed

[2019-06-20 15:00] elhigu commented on #3298
as @kibertoad said

[2019-06-20 15:00] #3298 closed

[2019-06-20 15:02] jeremychone commented on #3298
One last question, is 0.18.0-next2 as stable as 0.17.x or should we wait the official 0.18.0?

[2019-06-20 15:05] bj-bg opened #3300 "Joining tables with same underlying column name causes conflict"
# Environment

Knex version: 0.17.6
Database + version: PostgreSQL 11.3
OS: macOS 10.14.5

# Bug

The query:
[code]
produces the sql:
[code]
as expected. Everything works fine when the user has an OTP entry. However, if there is no OTP associated with some user then knex returns:
[code]
i.e. the `user_id` is `null` even though a user entry exists. Running the sql query directly on the DB (via psql

[2019-06-20 15:30] kibertoad commented on #3298
@jeremychone I don't expect 0.18.0-next2 to be any less stable than 0.17.x, we didn't get to any scary structural changes (such as redoing transaction disposal mechanism) yet, so unless you hit some really weird edge case that escaped both our testing and our automated test suite, you should be as good or better using 0.18.0-next2; and we definitely would appreciate getting some feedback from you!

[2019-06-20 15:31] kibertoad commented on #3298
TBH, I would expect official 0.18.0 to be less stable than 0.18.0-next2 at this rate, unless we decide to postpone disposal mechanism replacement until 0.19.0, which we may ultimately decide to do.

[2019-06-20 15:33] kibertoad commented on #2514
@soumyamishra12 It seems that updated fix is working; could you also try `0.18.0-next2`?

[2019-06-20 15:39] ShanChathusanda93 commented on #3299
Thank you for the quick response.

[2019-06-20 15:45] jeremychone commented on #3298
@koistya Ok, I am going to use 0.18.0-next.. for one of my prod application and will report any issue.

I am having other deprecation warnings (see below) which I think come from `0.18.0.-next...` or one of its sub-dependencies (not urgent, but from my client's project, I usually like to not have those warnings). I can log a separate ticket if you want.

 0.18.0-next2 deprecation warning
[code]

[2019-06-20 16:04] kibertoad commented on #3298
@jeremychone Could you please generate full dependency tree and figure out which knex dependency is causing these warnings? We are quite up-to-date with our dependencies, so to fix that I would need to raise a PR in someone else's repo.

[2019-06-20 16:29] jeremychone commented on #3298
Here you go.

Anyway, you can see below set-value@2.0.0, set-value@0.4.3, and mixin-deep@1.3.1, but they are quite deep indeed.

[code]

[2019-06-20 21:29] kibertoad commented on #3298
https://github.com/jonschlinkert/remarkable/pull/340
Rabbit hole goes deep... Started from the bottom, will bubble up from there. Hopefully projects with outdated dependencies are at least semi-maintained at this point :D

[2019-06-20 23:38] elhigu commented on #3300
Doesn't look like knex issue, but just how database / pg driver behaves in this particular case. If complete reproduction code is provided allowing other to verify the issues, this can be reopened.

[2019-06-20 23:38] #3300 closed

[2019-06-21 10:08] bj-bg commented on #3300
Relevant code is:
[code]
and for reference, the DB schema:
[code]

[2019-06-21 10:56] #3246 closed

[2019-06-21 13:06] kibertoad commented on #3246
@Niklv This issue was addressed in master. Would releasing 0.18.0-next3 with this change be helpful for you?

[2019-06-21 13:07] kibertoad commented on #3262
@magorn Transaction rollback handling was improved in master. Would releasing 0.18.0-next3 with this change be helpful for you?

[2019-06-21 14:25] hassenc commented on #2240
Why doesn't knex throw an Error in this case ? (.first() query on empty result)

[2019-06-22 11:04] SouthRibbleTech opened #3302 "Does raw strip tags"
# Environment

Knex version: 0.15.2 in Adonis 4.1
Database + version: MySQL
OS: Windows

If I try to run a raw query to create a stored procedure, I get an error which is due to all line breaks being removed.

However in MySQL when you use the `DELIMITER //` command it has to be on its own line.

If knex.raw is stripping tags, is there a flag you can pass to leave the query as is and not remove an

[2019-06-22 11:08] elhigu commented on #3302
Knex is not stripping anything. Try directly with mysql driver if your query works there. If it does work in directly like that, it might be a bug in knex.

[2019-06-22 11:08] #3302 closed

[2019-06-22 11:22] elhigu commented on #3300
As I said, DB init data is important and thats not complete example, that will still require maybe 10 minutes to run it and still wouldn't be sure if it even works as is...

https://github.com/tgriesser/knex/blob/master/CONTRIBUTING.md#what-is-minimal-code-to-reproduce-bug-and-why-i-have-to-provide-that-when-i-can-just-tell-whats-the-problem-is

Queries for both of the cases would be needed

And t

[2019-06-22 11:35] elhigu commented on #3151
I have no idea what either of you are trying to do. Please tell what kind of SQL you are trying to make knex to generate.

Issue #83 refers to SQL languages alias feature, which allows one to have different names for SQL identifiers... If you are just tying to pass column name in javascript variable, it works just like this:

[code]

Having brackets around property name just does make string conve

[2019-06-22 11:35] #3151 closed

[2019-06-22 11:39] elhigu commented on #2998
Do you mean that `ts-node` cannot load typescript files with `require()`? Migrator uses `require()` to load those migration files dynamically...

[2019-06-22 14:02] magorn commented on #3262
Yes, great!

[2019-06-22 20:27] schuyler1d opened #3303 "knex migrate:latest --fake"
# Environment

Knex version:0.17.2
Database + version: generic, but postgres, sqlite
OS: linux

# Feature discussion / request

1. Explain what is your use case
Instead of starting from scratch, it would be good to be able to set migrations to a certain point without running the migrations themselves -- that way we can get an existing DB that has already updated state, but not with knex migrate, s

[2019-06-22 21:01] pupudu commented on #3151
@elhigu The [] brackets have nothing to do with knex or any sql adapters. That's plain javascript, allowing us to use dynamic values as object property keys.  Not sure why you call it as some hack.

The question is about how to use aliases(probably not the most correct terminology) dynamically. And that is what I answered.

[code]
Being a maintainer, you surely know that the same can be achived us

[2019-06-22 21:05] kibertoad commented on #3303
Sounds useful. PR would be most welcome!

[2019-06-23 01:24] elhigu commented on #3151
@pupudu wow, sorry about that. I cannot believe that how I've been able to code javascript over 10 years without knowing that :D

And looks like I had another brainfart there in my post mixing object syntax, when I was supposed to use the update syntax of the OP...

[2019-06-23 01:42] pupudu commented on #3151
@elhigu hahaha not sure if you are trolling or not. Anyways I was just trying to help the person who asked this question. All hail knexJs

[2019-06-23 11:11] dekelev opened #3304 "Error when inserting string with question marks"
# Environment

Knex version: 0.17.6
Database + version: MySQL 5.7.25 (NPM module: mysql 2.17.1)
OS: Mac OSX 10.14.5

# Bug

Syntax error is thrown when using a query with parameters bindings and strings that contains question-marks ?/??

**Live example:**

https://repl.it/repls/MerryExcitedColdfusion

**Expected behavior:**

Question marks in strings should be ignored when replacing binded paramet

[2019-06-23 12:13] elhigu commented on #3304
No. Raw doesn't know anything about what kind of content you are trying to send to DB. It doesn't parse it and it should not parse it. If you need to put questionmarks to raw strings, you have to escape them with like `\\?`

[2019-06-23 12:26] elhigu commented on #3151
Sadly no trolling 🙈

[2019-06-23 14:43] realazthat opened #3305 "CLI --connection option is difficult to use"
# Environment

Knex version: 0.17.3
Database + version: All (but using postgres)
OS: All (but using Ubuntu 18.x)

# Bug

Conditions:

- There exists a knexfile
- And while running `npx knex  --client pg --connection <dsn> migrate:latest`

Result:

- DSN is ignored; even if no connection is specified in knexfile

Expected:

- An option to ignore a knexfile.js if it happens to be in the same path.
-

[2019-06-23 16:01] dekelev commented on #3304
Escaping question-marks doesn't just affect the parameter binding replacement. it will also save these escaping slashes in the DB field, which is an undesired side-effect.

The library should handle this more gracefully, like removing the escaped characters or use a regex to exclude question-marks inside string literals (i.e. inside single-quotes).

[2019-06-23 17:17] kibertoad commented on #3305
@realazthat Would you consider submitting PR for this, with test?

[2019-06-23 17:18] kibertoad commented on #3305
There are good examples of CLI tests already: https://github.com/tgriesser/knex/blob/master/test/cli/knexfile-test.spec.js

[2019-06-23 17:22] elhigu commented on #3304
Escaping questionmarks doesn't save anything to DB, those slashes are never sent to the database. I have no idea what you mean by that.

Sounds like you are storing raw queries to database... which is fine, though obviously they need to be in a format that knex understands... otherwise maybe you should try using mysql driver directly to run those queries?

Sadly starting to parse and trying to fix

[2019-06-23 23:21] Niklv commented on #3246
@kibertoad Godd job, thank you! Will try it in my projects.

[2019-06-23 23:32] kibertoad commented on #3246
@Niklv All right, knex@0.18.0-next4 with this feature is out.

[2019-06-23 23:52] kibertoad commented on #1588
OK, so these ones still need attention:
https://github.com/tgriesser/knex/issues/3257
https://github.com/tgriesser/knex/issues/3286
https://github.com/tgriesser/knex/issues/3256

Help would be most appreciated!

[2019-06-24 15:09] dekelev commented on #3304
@elhigu Thanks for the reply. The issue was only raised after starting to use the 3rd-party knex module, knex-on-duplicate-update.

When using the `onDuplicateUpdate` method with data that contains escaped question-marks, the escaped characters are saved in the DB.

The code is available [here](https://github.com/felixmosh/knex-on-duplicate-update/blob/master/lib/index.js)

Can you suggest a solut

[2019-06-24 17:46] elhigu commented on #3304
One could fix that module and get rid off `this.toString()` which is really dangerous to use like that. It shoudl be used only fro debugging. I suggest

[2019-06-24 17:46] #3304 closed

[2019-06-24 21:00] dekelev commented on #3304
Thanks, I'll check it out.

[2019-06-24 22:29] jonathansilva opened #3306 "INNER JOIN with 'AND'"
How to use the AND operator with INNER JOIN ?

INNER JOIN produto_pedido PP ON (PC.produto_id = PP.produto_id AND PC.combinacao = PP.combinacao)

RESOLVED:
[code]

[2019-06-24 22:44] #3306 closed

[2019-06-25 10:04] evritt commented on #2533
This seems to be happening for mysql as well.

[2019-06-25 21:17] parm-rm opened #3307 "Schema qualifier for enums"
# Environment

Knex version: 0.17.6
Database + version: PostgreSQL 11.4
OS: Manjaro Linux 18.0.4

# Feature discussion / request

While creating a table with an explicit schema and I'm looking to use a native enum as one of the columns. I haven't found any documentation about how to qualify an enum declaration with schema name.

I've tried the following
[code]
but it lead to creation of `other_sch

[2019-06-25 22:37] elhigu commented on #3307
Yep, looks like a bug that enum type creation does not respect withSchema.

https://runkit.com/embed/e0rde4cgbloq

for a workaround this should work though:

[code]

[2019-06-25 22:38] elhigu commented on #3307
Do you want table and enum type to live in different schemas?

[2019-06-26 00:15] parm-rm commented on #3307
No, just wanted it to respect table schema context. Having an schema override for enums too is "nice-to-have".

[2019-06-26 09:37] elhigu commented on #3307
Ok, I'll label this as a bug then :)

[2019-06-26 14:23] kibertoad commented on #3298
0.18.0 is released. Not many changes since next2, TBH, and we postponed scary changes till later, so it's a safe update.

[2019-06-26 14:24] kibertoad commented on #3281
Should work fine in 0.18.0

[2019-06-26 14:25] kibertoad commented on #3273
Resolved in 0.18.0

[2019-06-26 14:25] kibertoad commented on #3262
Resolved in 0.18.0

[2019-06-26 16:23] vonagam opened #3309 "Issues in last changes to transactions"
@kibertoad, i see two issues with pull requests #3235 and #3297 which were published in 0.18:

In first one, you check sql equality to `"ROLLBACK"` string, but what about nested transactions which use `"ROLLBACK TO SAVEPOINT ..."` for rollback?

In second one, you did not just expose `executionPromise`, you created it. It means that now everybody should handle this new promise (especially people w

[2019-06-26 17:24] kibertoad commented on #3309
thanks for raising the issue! I will take a look

[2019-06-26 23:45] davidroman0O opened #3310 "The famous : Timeout acquiring a connection. The pool is probably full error"
# Environment

Knex version: ^0.18.0
PG version: ^7.11.0
Database + version: PostgreSQL 11
OS: unknown, hosted on DigitalOcean with their managed database cluster BUT same issue on my local OSX

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm trying to reach a PostgreSQL 11 database on the managed database cluster of DigitalOcean.

When working in local

[2019-06-27 01:45] elhigu commented on #3310
Cannot reproduce, you need to add code which triggers that exception.

Anyways you are creating pool with size of 1 so if you are trying to do 2 parallel queries or transactions it will already be filled...

Also that is a strange error... does your user have rights to create new databases?

Please don't do that. It will cause just error loop until acquireConnectionTimeout in case of invalid conne

[2019-06-27 01:45] #3310 closed

[2019-06-27 03:51] davidroman0O commented on #3310
Thx for the tips, I'll try and comment when it's working 😄

[2019-06-27 09:10] Saka7 opened #3311 "CLI version output is empty"
# Environment

Knex version: 0.18.0
OS: Linux (Debian 9)

# Bug

Currently, `--version/-V` output looks broken (empty output):

[code]
fixed in PR #3312

[2019-06-27 11:00] ricardograca opened #3313 "Trying to run tests complains that oracledb doesn't exist"
# Environment

Knex version: master (ae6bb64cbe7787e6ddfe883b3b2a4fc6c27d653e)
Database + version: I don't have OracleDB installed
OS: Ubuntu 18.10

# Bug

@atiertant

1. Trying to run the test suite on a fresh install complains that `oracledb` cannot be found.

2. Error message (without complete stack trace):

[code]

3. Steps to reproduce:

- Clone the repository: `git clone https://github.com/t

[2019-06-27 12:46] parm-rm commented on #3307
That workaround doesn't seem to work. Instead of generating the following SQL
[code]
it generates
[code]
which is invalid and leads to `zero-length delimited identifier at or near """"` error.

[2019-06-27 14:14] elhigu commented on #3307
Right I missed that... so looks like there is no nice workaround for that, but one must use knex.schema.raw() to create type manually... That double quoting problem seems to be also when type name is used when creating enum column :(

[2019-06-27 14:53] elhigu commented on #3313
Oracledb driver needs to be installed separately, bacause currently there is no node 12 supported version available (So node 12 tests were failing when running `npm install`).

When they release node 12 version of it, then it can be added back to dev dependencies like all other drivers are there too.

So this is expected and temporary behavior... We  could leave this issue open until node 12 versi

[2019-06-27 19:00] joaosousafranco commented on #522
Ive got the same issue in 0.18.0, ive reverted to 0.17.2 and it works

[2019-06-27 21:18] elhigu commented on #522
Closing old issue. In next tarnjs version, pool exposes events, which anyone can use to monitor pool behaviour closely. If there is something specific to discuss about error handling then new issue about it should be opened.

[2019-06-27 21:18] #522 closed

[2019-06-28 07:22] fruuf commented on #3309
having a similar error here, if you throw an exception within the knex.transaction handler an unhandled rejection bubbles up all the way to process.on

[2019-06-28 09:56] elhigu commented on #3309
@fruuf AFAIK it is normal behavior and has always been like if transaction handler throws an exception, it is leaked... you should handle those exceptions by your handler. However if you make handler to be async function, then it implicitly return a promise, which triggers knex's implicit commit / rollback functionality.

I would suggest always using `knex.transaction(asyc (trx) => {...})` type of

[2019-06-28 13:32] optii commented on #3309
I seem to be having similar problems since the 0.18 update with transactions. I will try and open an issue with reproduction code if I get time

[2019-06-28 13:55] vonagam commented on #3309
Just to be clear, you can find reproduction code for this issue in knex tests. For example [second one for transaction](https://github.com/tgriesser/knex/blob/ae6bb64cbe7787e6ddfe883b3b2a4fc6c27d653e/test/integration/builder/transaction.js#L25), you can see unhandled rejection warning in [travis log for second PR](https://travis-ci.org/tgriesser/knex/jobs/547885316#L2266).

To not get any warnings

[2019-06-28 14:01] optii opened #3314 "Regression to transaction"
# Environment

Knex version: 0.18.0
Database + version: postgres 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

This relates to #3309 and is an example of what is occurring. Here is the repro code, explanation is below.

[code]
[code]
When running this code in knex v0.17.x the duplicate error gets caught by the `catch`. In knex v0.18.x the error is cau

[2019-06-28 15:35] kibertoad commented on #3314
Thank you for the repro! I'm flying back from tech summit in Germany right now, will take a look at this first thing when I'm fully operation again :D

[2019-06-28 22:12] the-vampiire commented on #3219
@kibertoad sorry i have been on vacation.

i am trying to implement the tests but i am confused on the structure. i forked the repo and was working off of the `master` branch. however, the `bin/cli.js` file is different from what i had modified on my own module back when i created this issue.

**original, `knex@0.16.5`**
this one had a `config` variable i was using to attach `env.workingConfig` pr

[2019-06-28 22:27] the-vampiire commented on #3219
in terms of the tests i have some questions. i am not familiar with jake / FileTestHelper etc. but i am doing my best to work within the bounds. tbh i didnt know anything about knex or commander before my modifications earlier and i got that working so i am confident with some guidance i can sort these tests out too.

my goal here is to test that it creates the migration (like the other tests) but

[2019-06-28 22:29] ericbiewener opened #3315 "count() returns something like [ { '': 1 }]"
# Environment

Knex version: 0.18.0
Database + version: MS SQL 2017
OS: Mac 10.14.5

# Bug
The docs say that `.count()` should return `number | string`, but I'm getting `[ { '': 1 } ]`. My code is simply:

[code]

Perhaps this is a MS SQL specific issue?

[2019-06-28 22:33] the-vampiire commented on #3219
i usually use jest as my test runner. when i run `test:cli` it seems to run a different set of tests (`jake/jakelib/migrate-test.js`) not the one in `test/cli/migrate-make.spec.js`. so i installed mocha and ran the file directly to test it.

i want to make sure that these spec tests are being run correctly when i finish and open the PR. should i be adding my tests to the `migrate-test` file instea

[2019-06-28 22:38] kibertoad commented on #3219
@the-vampiire There is an old set of tests that use Jake directly, and a new set that uses cli-testlab instead. If you introduce a new test file, make sure to add it to https://github.com/tgriesser/knex/blob/master/test/index.js

[2019-06-28 22:40] kibertoad commented on #3219
Sounds good, feel free to use that convention.

Good point, let me add missing feature into FileTestHelper.

Do you see any downsides to using the tag?

[2019-06-28 22:59] kibertoad commented on #3219
@the-vampiire Please try new `getFileGlobTextContent` function in cli-testlab 1.7.0 for reading file content by provided glob.

[2019-06-28 23:00] kibertoad commented on #3219
Having stubs as preexisting files is fine.

[2019-06-28 23:05] the-vampiire commented on #3219
i wrote some test utilities and got the test to pass:

**--stub test utils**
[code]

**test**
[code]

[2019-06-28 23:11] kibertoad commented on #3219
@the-vampiire Awesome! Could you open a PR with these changes?

[2019-06-28 23:36] the-vampiire commented on #3219
@kibertoad oop sorry man my page hadnt realoded with your comments so i chugged along to make it work. just saw them now when page reloaded. PR is open

how can i update the documentation? i didnt see that in readme

[2019-06-28 23:45] kibertoad commented on #3219
There's a separate repo for documentation: https://github.com/knex/documentation

[2019-06-28 23:51] the-vampiire commented on #3219
ah alright. i put all these tests in the existing `migration-make.spec` so i did not add anything to this file. good to know for future thank you

[2019-06-28 23:58] the-vampiire commented on #3219
@kibertoad all tests passed on PR. do you have any preference on where in the documentation to add info about the `--stub` option? [here is where i was targeting](https://github.com/knex/documentation/blob/gh-pages/sections/migrations.js#L76)

[2019-06-29 00:16] the-vampiire commented on #3219
https://github.com/knex/documentation/pull/208

leave a comment if you want me to change any of it. not familiar with that style of docs, i may have goofed. cheers man

[2019-06-29 05:04] TienHuong opened #3317 "Knex is crashed when using webpack"
# Environment

Knex version: 0.16.3
nodejs/mysql2: 1.6.1
Database + version: mysql 8.0.16
OS: mac

# Bug

 I try to use webpack to build my project. It's crashed when starting with error code 'PROTOCOL_UNEXPECTED_PACKET' but it's ok if I run without bundle.  Pls help me fix this issue
Here's is all source code:
`
// Test knex
const knex = require('knex')

let client = knex({
    client: 'mysql2',

[2019-06-29 09:01] TienHuong commented on #3317
after taking some hours for searching, I found the cause is that mysql2 is likely not compatible with webpack+minification

[2019-06-29 09:01] #3317 closed

[2019-06-29 21:38] ianwremmel commented on #3314
Ran into this where I'm relying on the previous behavior to implement insertOrUpdate (admittedly, there's probably a better way to do this:

[code]

[2019-06-30 05:00] lorefnon commented on #3315
I have found this very confusing too but the docs don't really say that.

Knex just runs a `count(*)` operation and maps the resulting single row table to an array of objects just like any other query result. So the key name you end up with in that dictionary is specific to the database you are using.

So you'd want to do something like:
[code]

I'd love to see this change but it would be breaking

[2019-06-30 09:08] kibertoad commented on #3315
@lorefnon Can't we introdu a differently names count() method and start showing deprecation warning for old one?

[2019-06-30 10:23] kibertoad opened #3320 "Treat unhandled rejections as tests failure"
Ideally we should add this snippet to knex mocha setup to treat unhandled rejections as tests failure and not just warnings:

[code]

But first we need to fix all our existing unhandled rejections in tests.

[2019-06-30 10:23] kibertoad commented on #3309
Created #3320 for test improvement.

[2019-06-30 10:35] lorefnon commented on #3167
I don't think the original fix (https://github.com/tgriesser/knex/commit/bd3147964cf6fb6693fe73e991494448e54721b4) actually worked (Ref: https://github.com/tgriesser/knex/commit/bd3147964cf6fb6693fe73e991494448e54721b4#r6637388)

[2019-06-30 10:40] kibertoad commented on #3314
@optii Could you please check 0.18.1 and report back if it resolves the issue completely for you?

[2019-06-30 10:41] kibertoad commented on #3309
0.18.1 was released, please report back if it works properly now.
Will take a look at first part of this issue later today. Wonder if using plain `.startsWith` is a safe choice.

[2019-06-30 12:51] lorefnon commented on #3315
Do you have a good name in mind ? 😅

[2019-06-30 13:13] kibertoad commented on #3315
@lorefnon Most obvious would be `countAsNumber` and `countAsString`, including appropriate conversions when necessary. Alternatively: `countReduced`, `countFlat`.

[2019-06-30 13:16] kibertoad opened #3321 "Flaky test on pg/Node 8"
Don't think I've seen it failing before:

[code]

Maybe we need to slightly increase timeouts.

[2019-07-01 03:16] vonagam commented on #3320
Here is a package that you can use instead of custom snippet - [`loud-rejection`](https://github.com/sindresorhus/loud-rejection). Just require `loud-rejection/register` through mocha `--require` option or in setup file. It will allow tests to finish running instead of abrupt exit on an unhandled rejection.

[2019-07-01 08:08] optii commented on #3314
`0.18.1` seems to have resolved the issue denoted above, thanks for the quick fix on this ! :+1:

[2019-07-01 08:08] #3314 closed

[2019-07-01 08:32] kibertoad commented on #3314
@vonagam is the real hero :D

[2019-07-01 08:53] elhigu commented on #3320
I'd rather have that snipped instead of extra dev dependency just for that.

[2019-07-01 08:55] TD092854 commented on #3309
When I use:
[code]
I still get an unhandled promise rejection warning whenever the transaction is rolled back.
If I use the code following code I'm now able to catch the rejection.
[code]

Shouldn't the rollback only throw an error if it actually fails to roll back?

[2019-07-01 09:03] kibertoad commented on #3309
@TD092854 You are using 0.18.1?

[2019-07-01 09:05] TD092854 commented on #3309
@kibertoad Yes I am.

[2019-07-01 16:35] vonagam commented on #3320
Ok, here is a snippet that won't abrupt exit tests:

[code]

[2019-07-01 16:42] vonagam commented on #3309
@TD092854 Do you pass an argument to `rollback()`?

[2019-07-01 21:10] candyapplecorn commented on #2193
### As a developer writing and running tests I want the option to run seed files from multiple directories

e.g. With a directory like so:

![image](https://user-images.githubusercontent.com/5856981/60466816-93cf8400-9c09-11e9-9e9e-eb1ca0b8808f.png)

I should be able to pass this list of paths to `directory`:

`
directory: ["seeds/development", "seeds/production"],
`

The seeds should be executed

[2019-07-01 21:16] candyapplecorn commented on #2193
@kibertoad Can you tell me if anyone is currently working on this feature? I don't know if this Knex project has a Kanban board (or other tool) listening who's actively working on what.

[2019-07-01 21:18] kibertoad commented on #2193
@candyapplecorn Unfortunately, we are not that well-organized, nor there is constant development time budget for anyone on this team 😂. If anyone would volunteer to pick up this feature, that would be grand!

[2019-07-01 21:19] candyapplecorn commented on #2193
@kibertoad Thanks for your quick response. I am trying to find out if anyone else is working on this, because if they were, it'd be a waste of _my_ time to pick it up. Duplicate work = **sad!** If nobody is working on it I'd like to find some time to do it.

[2019-07-01 21:19] kibertoad commented on #2193
Yay!

[2019-07-01 21:32] elhigu commented on #2193
Yep, usually me or kibertoad knows if some feature is being worked on by someone, since people tend to tell about their efforts in these issues and at least I read all of them :) And there are not so many people working on stuff so its really easy to keep track.

[2019-07-01 21:36] elhigu commented on #3321
If there is some millisecond specific waiting or something like that, usually its good to wait at least 5ms extra...

[2019-07-01 21:48] candyapplecorn commented on #2193
I'd like to change the feature request a little bit. Originally I thought it'd be good if we just took all the seed files from all the directories, put them into a flattened list, sorted them alphabetically (how knex seed currently works?) and then ran them. However after speaking with my coworker we think it makes to execute all the seed files in one directory (in alphabetical order) before movin

[2019-07-01 21:51] kibertoad commented on #2193
@candyapplecorn There's definitely an opportunity for improvement :).
However, note that knexfile already supports multiple environments:
[code]
You can probably use that to achieve what you are trying to do already. If you want something more flexible, might make sense to discuss it upfront. If I understand correctly your original proposal, idea is to pass array of strings, and then parse directo

[2019-07-01 21:51] elhigu commented on #3315
I believe that docs are broken at this time and .count() actually should return a row with count, like DB does.

Having two different methods will just cause unnecessary confusion and extracting single number out of the count query might cause some unexpected behaviour when that is used for example in subqueries or otherwise as a part of more complex query (not sure if that is a real problem thoug

[2019-07-01 21:54] kibertoad commented on #2193
@candyapplecorn Ah, so the idea is to move control over which directories to run over to whoever is doing the call, so that you can build array conditionally before calling seed API? Yeah, that definitely makes sense.
I would suggest to do it in a way that would be consistent with how migrations handle multiple directories - by default all seeds from all directories are sorted among themselves alp

[2019-07-01 21:54] candyapplecorn commented on #2193
@kibertoad

If receiving a list of strings (paths to directories full of seed files), execute **all** the files in **all** the directories.

So my test environment's knex config would pass a list of directories to the directory option, whereas my production environment's knex config would only pass a single directory

I want the ability to run all of the seed files for our "production" environment

[2019-07-01 21:58] kibertoad commented on #2193
Yup, makes sense! And just to clarify why seemingly less convenient behaviour is the default one - it allows more seamless transition for existing seeds/migrations: one might split them across multiple directories however he likes without being forced to rename anything to avoid disrupting original sequence of execution. This, admittedly, is more important for migrations than seeds (as you really

[2019-07-01 22:31] stoplion opened #3322 "Seeding fails"
# Environment

Knex version: 0.17.3
Database + version: Postgres 10
OS: 10 X

I

[code]

[code]

`Posts` have a `user_id` foreign key referencing `User.id`.

results in this error:

[code]

[2019-07-01 22:39] elhigu commented on #3322
You are trying to delete all users while you are still referring them from posts table. Not knex bug, usage questions should go to stackoverflow.

[2019-07-01 22:39] #3322 closed

[2019-07-01 22:40] kibertoad commented on #3322
@stoplion Make sure to delete referenced data before deleting referencing data.

[2019-07-01 23:09] stoplion commented on #2236
issue comes up a lot on GH issues.. might be worth mentioning in the docs

[2019-07-01 23:15] stoplion commented on #1506
ty..this fixed my issue https://github.com/tgriesser/knex/issues/3322

[2019-07-02 07:41] TD092854 commented on #3309
I am calling rollback with an argument as stated in the documentation.

But even without an argument it throws an error that I cannot catch when awaiting the rollback.

[code]
Putting a try/catch around that block does nothing.
The error that is always thrown from the rollback (with or without argument) bubbles up to the catch on the transaction as defined in my first comment.

[2019-07-02 08:26] vonagam commented on #3309
Putting `try ... catch` around does nothing because `trx.commit()` or `trx.rollback()` never reject, instead they may reject a transaction promise. You can access this promise in two ways:

- If you use `knex.transaction()` with a container function then the return value is this promise. (so second snippet from your first comment works)

- If you use `knex.transaction()` without a container functi

[2019-07-02 09:43] elhigu commented on #2236
I don't think we should start teaching how SQL databases work in the docs. That is nothing specific to knex.

[2019-07-02 11:24] TD092854 commented on #3309
It still fails in the same way as before with your snippet.
The catch on the executionPromise is called but, I still end up getting an unhandled rejection (with or without argument to trx.rollback()).

[code]

[2019-07-02 13:28] Redirts opened #3323 "PostgreSQL GROUP BY prepared statement/bindings/raw error"
# Environment

Knex version: 0.18.0
Database + version: PostgreSQL 11.2
OS: Windows 10

# Bug

1. **behaviour**
We built a raw query that will produce a prepared statement with bind variables that has a GROUP BY clause and when it is executed via Knex/PG driver it produces an error.

2. Error message

2019-06-27T15:37:57.660Z error: {
  "message":
"select date_trunc($1, ora12_sysmetric.timest) as

[2019-07-02 16:43] 2color commented on #3309
I'm experiencing the same thing as @TD092854 with version `0.18.1`

For example, just to test rolling back a transaction I did the following

[code]

I get the following when running the code:
 `other exception Error: Transaction rejected with non-error: undefined`

[2019-07-02 18:11] lorefnon commented on #3179
This issue can be closed as it was addressed by https://github.com/tgriesser/knex/pull/3181.

[2019-07-02 18:25] #3179 closed

[2019-07-02 21:36] derhuerst commented on #3199
FYI: The `pg` (PostgreSQL) driver *does not* support it, as of knex `0.18.1`. You have to pass the the socket path as `host`. More info: https://github.com/brianc/node-postgres/issues/1617

[2019-07-02 21:39] kibertoad commented on #3199
@derhuerst Are you sure this is a `knex` and not `pg` issue? I remember we managed to get it working with Google Cloud SQL back in the day (I think we had to pass connection explicitly, though), so unless something got broken, should work.

[2019-07-02 21:46] derhuerst commented on #3199
I just tried to get it working in a Cloud Run instance. It dug into the Knex code base and logged the options passed to `pg`, and AFAIR they we wrong.

[2019-07-02 22:17] vonagam commented on #3309
@TD092854 @2color

Ok, i might have reproduced an unhandled rejection (but only when rollback has an argument).

Can you try to replace [those lines](https://github.com/tgriesser/knex/blob/56c3af8512a84d6eff77fe33c5105fe2b6f55436/src/transaction.js#L110-L113) in your `node_modules/knex/src/transaction.js` with:

[code]

And then run your code and check if any cases will stop to produce unhandled r

[2019-07-02 23:52] kibertoad commented on #3309
@TD092854 @2color Could you please try the freshly released 0.18.2?

[2019-07-03 02:53] lorefnon commented on #3167
This was fixed in https://github.com/tgriesser/knex/pull/3318 and is available in [0.18.2](https://www.npmjs.com/package/knex/v/0.18.2).

[2019-07-03 08:38] 2color commented on #3309
@vonagam That fixed the problem.

@kibertoad Thanks for the quick release of `0.18.2`

Question regarding the docs, is there any reason to use the callback style transactions?
I personally prefer to do async/await all over but perhaps I'm missing something?