[2021-01-02 15:19] #1653 closed

[2021-01-02 15:36] maximelkin commented on #4187
Yes

[2021-01-02 15:54] wjohnsto opened #4198 "Support for MSI for MSSQL/Tedious"
@smorey2

1. Explain what is your use case

  node-mssql/tedious support MSI through an "authentication" option. It doesn't look like that is possible using the MSSQL client with knex.

2. Explain what kind of feature would support this

  I believe the only thing necessary to make this work is adding the ability to send the authentication configuration parameter in with your database config. Happ

[2021-01-02 15:59] kibertoad commented on #4198
@wjohnsto Doesn't knex pass-through everything in `connection` parameter directly to the driver? What is missing currently? That said, would be happy to accept a PR that would amend the situation and update typings as well.

[2021-01-02 16:19] wjohnsto commented on #4198
Hmm, nevermind you are absolutely correct. I was having an issue, turns out it is not related to this. Closing, thanks!

[2021-01-02 16:19] #4198 closed

[2021-01-03 14:57] martinmacko47 opened #4199 "Support for MySQL optimizer hints"
# Environment

Knex version: n/a
Database + version: MySQL
OS: n/a

# Feature discussion / request

1. Explain what is your use case

    Sometimes we need to run a query with an [optimizer hint]. Such as:

[code]

    Please note that optimizer hits are something else than [index hints] which have different syntax and use.

2. Explain what kind of feature would support this

    AFAIK, currently

[2021-01-03 15:02] kibertoad commented on #4199
@martinmacko47 Would https://github.com/knex/knex/pull/2815 allow to achieve same thing, or syntax for comments and hints is different?

[2021-01-03 15:30] martinmacko47 commented on #4199
@kibertoad If I understand #2815 correctly, it adds comments **before** the verb. Like in:

[code]

However MySQL optimizer hits must be **directly after** the verb otherwise they don't work:

[code]

For instance, for select method it would need to be rendered [here between `select` and `distinctClause`].

There could be some other argument for `.comment(...)` method that would specify the commen

[2021-01-03 15:41] kibertoad commented on #4199
@martinmacko47 Gotcha.
I think that optimizer hint functionality would definitely be useful. Would you be open to submitting a PR for that? Probably you can use #2815 as a base for how to implement it, I imagine it to be quite similar in implementation.

[2021-01-03 22:11] kibertoad commented on #2038
@juanpaco @elhigu Is this even valid syntax? https://github.com/mapbox/node-sqlite3/wiki/API#new-sqlite3databasefilename-mode-callback doesn't mention it, nor can I find it anywhere else. When I pass such value to driver, it chokes. We could remove the protocol part ourselves and just pass the rest of the string, but should we?

[2021-01-04 11:43] martinmacko47 commented on #4199
@kibertoad Ok. I'll try to make a PR. It will take a week or so.

[2021-01-04 12:11] schmetzyannick opened #4201 "Sqlite drop composite foreign keys"
# Environment

Knex version: 0.21.15
Database: Sqlite3
OS: Win10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do:

   When calling the dropForgin key method an error is throw. The problem seems to be located in the dropForeign function of
   the following file: lib/dialects/sqlite3/schema/ddl.js.
   In the method the statement is splitted by coma which resu

[2021-01-04 12:27] kibertoad commented on #4201
@schmetzyannick Could you please share reproduction code?

[2021-01-04 12:55] schmetzyannick commented on #4201
This should help

            const db = knex({
                useNullAsDefault: true,
                client: 'sqlite3',
                connection: {
                    filename: "./mydb.sqlite"
                },
                pool: {
                    afterCreate: (conn, cb) => conn.run("PRAGMA foreign_keys = ON", cb),
                },
                acquireConnectionTimeout: 900000,

[2021-01-04 12:56] kibertoad commented on #4201
Thanks, I'll take a look.

[2021-01-04 13:24] schmetzyannick commented on #4201
I already started to fix the issue by writing a test. Now I will have a closer look to the dropForeign function.

[2021-01-04 15:34] Masoud-kamali opened #4203 "load 'mod_spatialite' extension to knex sqlite3"
Hi guys,
I searched for how to load extension in sqlite3 connection in knex and I found afterCreate to solve this issue.
this is my code:
[code]
but it does not work for spatialite extension and this error ocurrs.

[code]
I have no idea how can load extension in knex
I use windows10 64bit and Nodejs v14.15.0

[2021-01-04 15:36] kibertoad commented on #4203
@Masoud-kamali How do you load an extension in plain SQLite?

[2021-01-04 15:43] Masoud-kamali commented on #4203
I use "SELECT load_extension('mod_spatialite');"  command in cmd and it works in extension directory. but it does not works in nodejs. Also i used this code
[code]
but I got this error.
[code]
I changed my 64bit loadable extension to 32bit, but it does not works too

[2021-01-04 15:46] kibertoad commented on #4203
@Masoud-kamali Then it's not an issue with knex. After you manage to get it work with pure SQLite3 driver (https://www.npmjs.com/package/sqlite3), if you find that there is no way to do the same with knex in between, please share your findings and we'll do our best to assist.

[2021-01-04 22:48] aggaton commented on #1322
Just want to point out for any poor Oracle souls out there. To get above code working on Oracle you need a .from('DUAL') right before .whereNotExists, in case you haven't already spotted it.

[2021-01-05 03:21] alexanderankin opened #4204 "MSSQL Comments in SchemaBuilder are not used, using exec sp_updateextendedproperty in lieu of comments"
# Environment

Knex version: 21.12
Database + version: mssql (just the dialect)
OS: ubuntu

Select applicable template from below.
If issue is about MSSql tag @smorey2.

# Feature discussion / request

1. Explain what is your use case

I would like to use the `db.schema.createTable('mytable', t => t.string('somecol').comment('the col'));` method and have the resulting comment be persisted in the d

[2021-01-05 11:58] #4201 closed

[2021-01-05 12:16] kibertoad commented on #4204
@alexanderankin This looks very MSSQL-specific, so I would be wary of adding this as something that user has to be aware of and explicitly invoke, unless you can find equivalent cases for other databases - e. g. PostgreSQL has no such limits, as far as I'm aware, so you can just use comments directly. I'm open to adding this kind of a feature if it can be handled transparently inside of MSSQL dial

[2021-01-05 12:38] jason1039 opened #4205 "'Knex' and 'mssql' versions are incompatible, what version should be used to execute"
# Environment

Knex version:0.21.15
Database + version: "mssql"+"6.3.1"
OS: Windows10

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Uncaught (in promise) TypeError: this.driver.ConnectionPool is not a constructor

2. Error me

[2021-01-05 12:39] kibertoad commented on #4205
Please share full reproduction code. Sounds like you are doing something wrong.

[2021-01-05 12:43] alexanderankin commented on #4204
@kibertoad yep, by expanding, you can see in the diff references mssql dialect files. I'm proposing to reuse that same api, and add warnings to tell users when their data is discarded on the mssql dialect

[2021-01-05 12:48] jason1039 commented on #4205
[code]
I use Vue serve

[2021-01-05 12:48] alexanderankin commented on #4204
before, this `comment(comment)` method did nothing, so i added the `pushQuery` to dialect's table compiler which can add the comments to the internal metadata table, which is the mechanism for comments in that database (which i unfortunately have to use for work)

[code]

[2021-01-05 12:54] alexanderankin commented on #4116
I believe that `[]` is just standard notation for optional parameter.

[2021-01-05 12:54] kibertoad commented on #4205
`msnodesqlv8` is not supported, only `tedious` is. If you remove `driver: 'msnodesqlv8',`, it should work.
If you absolutely must use `msnodesqlv8`, PR that would implement compatibility with it would be welcome.
 https://github.com/knex/knex/blob/37eab27d98cac987909168259ccac3f9c77b6d01/lib/dialects/mssql/index.js#L65 would be a good starting point for it.

[2021-01-05 12:54] #4205 closed

[2021-01-05 12:56] kibertoad commented on #4116
@alexanderankin Not in TypeScript. There it means an array.

[2021-01-05 12:59] lorefnon commented on #4116
I don't think there is any issue here.

I think @alexanderankin was referring to this text in documentation:

[code]

where it is used to indicate that textType is optional.

That method does not actually accept an array.

[2021-01-05 12:59] kibertoad commented on #4204
@alexanderankin Shouldn't this code be inside the length check, so that it wouldn't be used for shorter comments?
This can be included, I guess, but definitely needs an integration test. See test/integration2/schema for examples.

[2021-01-05 13:00] kibertoad commented on #4204
Also needs a comment explaining what it is and why, and preferably a link to that article.

[2021-01-05 13:00] kibertoad commented on #4116
@lorefnon Thank you!

[2021-01-05 13:00] #4116 closed

[2021-01-05 13:04] alexanderankin commented on #4204
@kibertoad yes it should probably only be used if its within the length (but maybe failing fast is good too?), I just wanted to include a minimal example for explanation. Is that the right way to get the table and schema names? I'm sure that there should be a better place to hardcode that 'dbo' (maybe also get a default from an option configurable in the client?), and for some reason, its generati

[2021-01-05 13:09] kibertoad commented on #4204
It seems generally correct, yes.

[2021-01-05 19:04] mgummelt opened #4206 "Add support for subqueries in the join clause"
# Environment

Knex version: 0.21.12
Database + version: mysql 8.0
OS: ubuntu 20.04

# Feature discussion / request

1. Explain what is your use case

I would like to construct this query:

[code]

2. Explain what kind of feature would support this

A `join` interface that supports either a `QueryBuilder` or a `QueryCallback` in the join clause.

As far as I can tell, no existing interface does so

[2021-01-05 20:20] oguimbal commented on #651
FYI: This is not an actual mock, but I added support of knex to [pg-mem](https://github.com/oguimbal/pg-mem).

[2021-01-05 22:07] rhys-vdw commented on #1323
@TSiege you should create a new issue for this.

[2021-01-05 22:08] rhys-vdw commented on #1322
@aggaton you should create a new issue for this.

[2021-01-06 07:11] himharsh1997 commented on #3310
I have same version of knex and pg but still getting error

[2021-01-06 10:07] ImreC commented on #1875
@jamesdixon just reading this now while refactoring some of our knex implementations on lambda. Any updates on this? Has `context.callbackWaitsForEmptyEventLoop = false` stopped working?

[2021-01-06 14:36] eyalch commented on #2167
This works for MariaDB, but not for MySQL. Haven't tested others.

[2021-01-06 15:19] dgurr opened #4209 "Feature request: Added functionality for onConflict / upsert query building (PostgresSQL)"
# Environment

Knex version: 0.21.12
Database + version: PostgresSQL

# Feature discussion / request

1. I am running into what I think is a limitation of the `onConflict`.  In PostgresSQL I want to do an batch upsert like ...
[code]

and have the generated sql be like:

[code]

Right now this is not possible AFAICT, and it's frustrating because the only option is a full merge, but I just want to

[2021-01-06 16:22] kibertoad commented on #4209
Would you like to send a PR for this?

[2021-01-06 16:48] dgurr commented on #4209
Sure, I'll see if I can create something this week.

[2021-01-06 17:09] SacDin commented on #3732
Hi @danielrearden
Any plans to support this in near future ?

[2021-01-06 17:13] kibertoad commented on #3732
If someone contributes this, it could be included in knex.

[2021-01-06 19:43] kibertoad commented on #2092
If someone is looking for a way to create a VARCHAR column in mssql, the best way is by using `specificType` - https://github.com/knex/knex/pull/4211/files

[2021-01-06 21:26] #4151 closed

[2021-01-06 21:29] LDrawe commented on #1217
I got this error too and removing the migrate.rollback() line solved for me

[2021-01-07 07:04] geofrey-s commented on #2820
It is a fact that this error can be caused by very many issues, today I found out a new one the hard way after scrolling up and down countless threads like this one to no avail.

when setting up the pool, there knex allows us to optionally register `afterCreate` callback, if this callback is added it is imperative that you make the call to the `done` callback that is passed as the last parameter t

[2021-01-07 12:01] elhigu commented on #4209
Would :

[code]

be basically just syntactic sugar for:

[code]

?

[2021-01-07 12:20] elhigu commented on #4206
Can be done with usual tricks of passing query builder instead of string literal to join... Had to add `knex.raw()` to make query builder to be interpolated inside parenthesis.

[code]

https://runkit.com/embed/cru2twc56ue8

[2021-01-07 12:20] #4206 closed

[2021-01-07 12:29] elhigu commented on #4203
Closing since doesn't seem to be knex bug.

[2021-01-07 12:29] #4203 closed

[2021-01-07 12:33] elhigu commented on #4199
I think that comment feature could be extended with options that allows to tell that the comment should be actually mysql hint.

[2021-01-07 12:43] elhigu commented on #2038
I think we should have separate native connection string which is just passed to driver directly and separate knex connection string that is parsed as well as knex can understand it and then parsed data would be passed to driver... I think there is actually some PR / FR about this somewhere...

If current connection: string is already parsed, I think we could just ignore the sqlite:// part.

[2021-01-07 13:20] elhigu commented on #4187
AFAIK `.raw(builder)` is not valid syntax, so for `raw(qb().select('*').from('users').where('id', '=', 1)).wrap('(', ')')`  toString() is called implicitly which causes the behaviour.

Correct syntax would be all these:

[code]

[2021-01-07 13:20] #4187 closed

[2021-01-07 13:30] martinmacko47 commented on #4199
@elhigu I agree a universal optimizer hints API would be better. Do we know how optimizer hints are implemented in other SQL dialects? I just know that MySQL supports optimizer hints as described above, and that Postress does not support optimizer hints.

Btw, not to be confused with index hints which have different syntax and use. There can't be a single API for both optimizer and index hints.

[2021-01-07 13:37] elhigu commented on #4199
AFAIK hints are usually special comments which then proxy / server interprets. I didn't mean that specific hints should be automatically converted to different DB:s, but merely to offer same knex api method for passing passing hints to different databases...

for example:

[code]

or something like that.

[2021-01-07 20:22] oranyelik opened #4216 "Runtime error with MSSQL@7.0.0-alpha.4"
# Environment

Knex version: `0.21.15`
Database + version:
[code]
Database library: `mssql@7.0.0-alpha.4`
OS: `macOS 11.1 (20C69)`

Tagging @smorey2 .

# Bug

1. Runtime error occurs when using the alpha version of MSSQL database library with latest version of knex.

2. Error message:
[code]

3. Reduced test code:
[code]
[code]

[2021-01-07 20:43] kibertoad commented on #4216
Looks like your  pooling configuration is wrong. Can you check `pool` branch of your config? See https://knexjs.org/#Installation-pooling

[2021-01-07 20:49] oranyelik commented on #4216
Here's some information that appears to be relevant to the issue:

MSSQL@6.3.1 depends on Tarn@1.1.5: https://github.com/tediousjs/node-mssql/blob/6/package.json
MSSQL@7 depends on Tarn@3.0.1: https://github.com/tediousjs/node-mssql/blob/master/package.json

Tarn does not and has never supported the `evictionRunIntervalMillis` option. See: https://github.com/Vincit/tarn.js/blob/master/src/Pool.ts

[2021-01-07 20:51] oranyelik commented on #4216
I am using the default pooling configuration. The reduced test code provided in the original issue description is the entirety of a codebase that reproduces the issue.

[2021-01-07 20:59] oranyelik commented on #4216
Note that a similar PR was created and closed in 2019 for unrelated reasons: https://github.com/knex/knex/pull/3044.

[2021-01-07 21:04] kibertoad commented on #4216
@oranyelik You don't need contributor permissions to create a PR, you can create one from your personal fork of the repo.
I'm fine with dropping support for old node-mssql versions, but it has to be mentioned in `UPGRADING.md`

[2021-01-07 21:18] oranyelik commented on #4216
@kibertoad To expand on what you said, `node-mssql` changed from depending on `generic-pool@3.6.1` to `tarn@1.1.4` in this commit: https://github.com/tediousjs/node-mssql/commit/a799be574e0558a3053820d97bea27a2ac8e0874#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519. Right after this commit, `node-mssql` transitions from `v5` to `v6.0.0-alpha.1`.

This is significant because

[2021-01-07 21:33] kibertoad commented on #4216
@oranyelik Considering that we list `mssql` peer dependency at `^6.3.1` and next knex release is semver major, as I've said, I'm fine with dropping support for older node-mssql versions, as long as it is properly documented. Better yet, we should throw an error from the dialect ourselves if version is too old.
This would be a good place: https://github.com/knex/knex/blob/0bef361ffdc089714d0b5c81fe

[2021-01-08 06:38] ShinRai1090 commented on #2265
sorry for necro~ing on this, but has this resulted in any function / variation that can be used? I need to perform a case insensitive compare in postgres,

[2021-01-08 08:34] kibertoad commented on #2265
Not yet. PR would be appreciated!

[2021-01-08 09:13] elhigu commented on #2265
@ShinRai1090 did you try `.where('field', 'ilike', 'value')`?

[2021-01-08 09:48] elhigu commented on #4216
I don't see how `tarn` or `generic-pool` that is used by `node-mssql` internally has anything to do with knex. Knex shouldn't pass its pool options to node-mssql's pool, because knex avoids using any pool implementations of DB driver libraries (though node-mssql doesn't allow to omit it completely).

Also we don't want to support any mssql which is still using generic pool. That version had many c

[2021-01-08 09:51] elhigu commented on #4216
If the old mssql monkeypatch code is still in mssql dialect that should be removed and relay on newer mssql versions only.

[2021-01-08 12:20] redamsy commented on #1871
this is not working for me:
Type '{ min: number; max: number; disposeTimeout: number; idleTimeoutMillis: number; }' is not assignable to type 'PoolConfig'.
  Object literal may only specify known properties, and 'disposeTimeout' does not exist in type 'PoolConfig'.ts(2322)
index.d.ts(1694, 5): The expected type comes from property 'pool' which is declared here on type 'Config<any>'

[2021-01-08 17:02] kibertoad commented on #1871
@redamsy See https://github.com/vincit/tarn.js/
I think `destroyTimeoutMillis` is the tarn.js equivalent of `disposeTimeout`

[2021-01-09 16:28] elhigu commented on #1871
also `idleTimeoutMillis` should not have any effect, because min and max is 1. That single idle connection will not be removed from pool even after that timeont.

[2021-01-09 18:54] cozzbie opened #4221 "Class constructor Client cannot be invoked without 'new' during migration rollback"
# Environment

Knex version: 0.21.15
Database + version: Pgsql 12
OS: Docker running linux

# Bug
I am trying to run a migration rollback on a column against a Postgres table.

[code]
and for the love of me I am getting the following error

[code]
And this is the complete debug error

[code]

Any help will be greatly appreciated.

[2021-01-09 18:57] #4221 closed

[2021-01-09 18:58] kibertoad commented on #4221
@cozzbie What was the issue?

[2021-01-10 05:27] cozzbie commented on #4221
@kibertoad if you take a look at the syntax I was passing the wrong types into the _dropColumns_ function. I should have been passing strings instead

[code]

[2021-01-10 07:07] tslater commented on #4199
Just put in $20. Love to see this!

[2021-01-10 19:23] gpetrov commented on #1626
Any news on views creation in the Knex API? Would be really nice to have an generic API integration instead of database dependent creation commands.

[2021-01-10 19:24] kibertoad commented on #1626
@gpetrov This functionality is still missing, but any contributions on that front would be dearly appreciated.

[2021-01-10 19:40] gpetrov commented on #1626
Maybe @rijkvanzanten can help - there is also a great need for query the views schema, next to creating and managing them. All databases, even SQLite have Views support and those are pretty powerful.

[2021-01-11 09:35] KristjanTammekivi opened #4223 "Misbehavior between .pluck and .first"
# Environment

Knex version: 0.21.12
Database + version: Postgres 13
OS: Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Combining .pluck() with .first() yields strange behaviors. If .first() is before .pluck(), then the result is an array of plucked elements. If .first() is before .pluck() then the result is object with the plucked key and value

[c

[2021-01-11 09:39] KristjanTammekivi commented on #4223
So... had a quick look at the code and apparently they're mutually exclusive, which prompts the question of whether or not this should be changed or just the typing should be fixed so you can't chain .first and .pluck
![image](https://user-images.githubusercontent.com/8754356/104165031-7afc7d00-5401-11eb-9191-020872af0789.png)

[2021-01-11 11:31] kibertoad commented on #4223
@elhigu Do you have an opinion on this?

[2021-01-11 12:06] elhigu commented on #4223
I kind of hate both of the methods, because even that both of the operations are really trivial to do outside of knex, it is not really obvious what is done in query level when those are added to the builder (first() actually adds limit 1 to the query and pluck is just some postprocessing to the result). I have never used them, basically because I find that my code is more readable without them.

[2021-01-11 17:02] Cellule commented on #2324
in node internals `_stream_writable.js` it seems to destroy the stream on `finish`
https://github.com/nodejs/node/blob/a4fce32eabf40e6a1a34f384999bf8660b59639a/lib/internal/streams/writable.js#L743-L771

So even in the normal happy path, `stream.on("error", err => {})` is called with `"stream destroyed"`

I haven't managed to setup my environment properly, but it feels like `error` event would be

[2021-01-11 18:06] redamsy opened #4224 "@nestjs/testing access real database (postgres)"
hello, i am trying to achieve an **e2e** testing for a controller in my **nestjs** (typescript) project, i am using **knex**, and **postgres**.
so i made a .spec file for a controller (let say: ProductsController), and a dbConfig.ts file:

[code]
then i used this **db** object to ran **migrations**, and **seeds** in **beforeEach** and and droped the tables in **afterEach**, then in one of the test

[2021-01-11 18:18] kibertoad commented on #4224
@redamsy This sounds like an issue with how an application is implemented. What kind of a behaviour change would you like to see on knex side?

[2021-01-11 18:40] redamsy commented on #4224
sorry if this is not the right place of this kind of question, i hoping if someone has done this kind of testing, and if it's applicable

[2021-01-11 18:50] kibertoad commented on #4224
@redamsy This looks more related to DI in NestJS, so I would recommend asking either there, or on Stack Overflow.

[2021-01-11 18:50] #4224 closed

[2021-01-11 19:49] redamsy commented on #4224
i will, thanks man

[2021-01-12 10:35] anshulsahni commented on #2048
do we have a better solution than using `raw()` now?

[2021-01-13 09:17] cliedeman commented on #4075
I can also verify that this issue happens. In my case it was with a local postgres docker image.

Rolling back to node 12 resolve it for now. Did not test if updgrading node-postgres would fix it

[2021-01-13 15:51] luismanoel12 opened #4226 "Salvar em mais de uma tabela em uma mesma requisição"
`const bcrypt = require('bcrypt-nodejs')

module.exports = app => {
    const { existsOrError, notExistsOrError, equalsOrError } = app.api.validation

    const ecryptPassword = password => {
        const salt = bcrypt.genSaltSync(10)
        return bcrypt.hashSync(password, salt)
    }

    const save = async (req, res) => {
        const user = { ...req.body }           // Posso criar duas vari

[2021-01-13 16:58] #3359 closed

[2021-01-13 18:10] elhigu commented on #4226
Knexiä koskevan käyttökysymykset tulisi tehdä gitter chatissa tai stackoverflowssa. Myöskaan issue templatea ei ole noudatettu. Suljen foorumisääntöjen vastaisena postauksena.

[2021-01-13 18:10] #4226 closed

[2021-01-13 23:16] elhigu commented on #2048
No.

[2021-01-14 01:05] anupvarghese opened #4227 "Liftoff in dependency"
# Environment

Knex version: 0.21.15

# Issue

I saw this [PR](https://github.com/knex/knex/pull/4122) for dropping liftoff as a dependency from knex. I tried adding the new version in my project and I can see `liftoff` is still listed as a dependency.

![image](https://user-images.githubusercontent.com/4844577/104530951-3242ff00-5661-11eb-9085-05f7a08026d8.png)

[2021-01-14 01:12] kibertoad commented on #4227
@anupvarghese It is currently only available in master. Version 0.95.0 is likely to come out somewhere in February, but if it is crucial for you, I can publish a preview version on npm.

[2021-01-14 01:28] anupvarghese commented on #4227
@kibertoad Liftoff exposes a [vulnerability](https://github.com/npm/ini/commit/56d2805e07ccd94e2ba0984ac9240ff02d44b6f1) from an old version of `ini` package used under the hood. It was fixed in ini but never updated in liftoff.

I can still add a resolution to fix this problem and wait till the major release.

thank you

[2021-01-14 01:28] #4227 closed

[2021-01-14 12:05] pulli23 opened #4228 "Knex columninfo typing return doesn't give correct type when no are columns provided"
# Environment

Knex version: 0.21.1
Database + version: postgres
OS: ubuntu

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.
@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When calling `

[2021-01-14 20:57] jmoral1943 commented on #2685
It doesn't work with EnterpriseDB timestamps I get null

[2021-01-14 20:58] jmoral1943 opened #4229 "Support EnterpriseDB for knex"
Environment
Knex version: 0.15.0
Database + version: EnterpriseDB 9.6.2.7
OS: Windows

Feature discussion / request
Explain what is your use case

I use unleash server, unleash server for node using knew to connect to a postgres DB, but I have an error trying to get the field `created_at` which is type `timestamp with timezone` from my enterpriseDB. I have fixed the version issued stated here http

[2021-01-14 21:02] rebolyte opened #4230 "Oracle migrations - table.increments() doesn't really increment"
# Environment

Knex version: 0.21.12
Database + version: Oracle Database 12c Enterprise Edition Release 12.2.0.1.0 - 64bit Production
OS: macOS

cc @atiertant.

# Bug

When running migrations against Oracle 12c, `table.increments()` doesn't seem to actually create an auto-inecrementing sequence:

[code]

This creates a column like `"ID" NUMBER(*,0) NOT NULL ENABLE`, no increment by default.

My wo

[2021-01-14 21:19] kibertoad commented on #2685
@jmoral1943 Could you please submit reproduction code?

[2021-01-14 21:22] kibertoad commented on #4230
@rebolyte Would you be open to submitting a PR for that?
Relevant code is here:
lib/dialects/oracle/schema/oracle-columncompiler.js ->
`  increments()`

[2021-01-14 21:23] kibertoad commented on #4230
@rebolyte Note that I've checked the code, and the way autoincrementing is implemented is by creating a trigger. Is that not working for you?

[2021-01-14 21:24] kibertoad commented on #4230
This is the trigger: https://github.com/knex/knex/blob/0b2a2ca4d1fbe2339974e4521945684ad1a37eb7/lib/dialects/oracle/schema/internal/trigger.js#L46

[2021-01-14 21:25] kibertoad commented on #4229
@jmoral1943 Would you be open to submit a PR for this? Relevant code is here:
`lib/dialects/postgres/index.js` ->
`checkVersion(connection) {`

[2021-01-14 21:34] jmoral1943 commented on #4229
I could tell you how to set it up since it involves running an enterpriseDB and knex

[2021-01-14 21:35] jmoral1943 commented on #4229
I have version
const knex = require('knex')({
  client: 'pg',
  version: '10.9.17',
}

and I tried retrieving something with `timestamp with time zone`

[2021-01-14 21:39] kibertoad commented on #4229
@jmoral1943 Change in version check should not require setting up a DB, as long as you know the expected string. You could extract the version resolving logic into a separate method and write a unit test for that.

[2021-01-14 21:40] kibertoad commented on #4229
@jmoral1943 Does the same code work when using `pg` driver directly or you need a different one?

[2021-01-14 21:42] jmoral1943 commented on #4229
I need a new pg driver for enterpriseDB because when I query the DB with knex I don't a `timestamp with time zone` column value instead I get `null`

[2021-01-14 21:44] kibertoad commented on #4229
@jmoral1943 I understand that part. What I'm asking is whether using `pg` driver (https://www.npmjs.com/package/pg) directly work correctly for your use-case?
Alternatively, can you check what SQL gets generated for your query and compare it to what you would write by hand for the same case?

[2021-01-14 21:48] kibertoad commented on #4229
Also it seems that you simply copied a different issue, while the problem that you have is different. Could you please update the original issue with correct error description and correct DB and knex versions that you are using?

[2021-01-14 21:51] kibertoad commented on #4229
Also getting null sounds rather odd here, I would suspect that there is an error in your query. Again, I would recommend generating SQL by usint `.toString()` and try running it by hand in your DB, and see if results are what you expect.

[2021-01-15 01:00] kibertoad commented on #4229
@jmoral1943 How is `created_at` field populated? Do you use default value `now()`? Do you use .returning()?

[2021-01-15 01:07] jmoral1943 commented on #4229
It’s default is now()

On Thu, Jan 14, 2021 at 6:00 PM Igor Savin <notifications@github.com> wrote:

--
Sincerely,
Jonathan Morales

[2021-01-15 01:18] kibertoad commented on #4229
@jmoral1943 Do you use .returning() on your query to instruct it to return inserted values?

[2021-01-15 01:26] christian4leaflabs opened #4231 "Can't use another port that default"
# Environment

Knex version: 0.21.5
Database + version: MySQL 8.0.21
OS: Manjaro Linux

# Bug

I'm using this configurations to initialize the db connection:

[code]

2. Error message

[code]

[2021-01-15 01:36] kibertoad commented on #4231
@christian4leaflabs Could you please share full knex config? What you shared is a `connection` branch, I wonder if it is set correctly.
I've checked the code, and I think we are passing `connection` to mysql driver as-is, so that should work if used correctly.

[2021-01-15 01:41] christian4leaflabs commented on #4231
Of course, the dbConfig var is the objet that i post before
[code]

[2021-01-15 01:47] kibertoad commented on #4231
@christian4leaflabs Can you try changing host in that dbConfig to see if config is actually being used and not overriden somewhere?

[2021-01-15 01:53] christian4leaflabs commented on #4231
Yes, when i change the host it throw me this error (the host that i use don't exist)
[code]

[2021-01-15 02:09] kibertoad commented on #4231
@christian4leaflabs As you can see in #4232, port resolution works.
Can you try latest knex version? I don't think we changed any related code, but doesn't hurt to double-check.

[2021-01-15 02:16] christian4leaflabs commented on #4231
Of course, i just update knex to the version 0.21.15 and the error is the same

Don't know if this help but if i do a log of the dbCon
[code]

i get this
[code]

[2021-01-15 02:28] kibertoad commented on #4231
@christian4leaflabs This looks correct and should work correctly. Can you try debugging and see if the error is actually being  thrown from this particular client instance and not from something else?

[2021-01-15 02:49] christian4leaflabs commented on #4231
I just create a simple project, the connection works fine with any port, it should be an error in my code, thanks for your help

[2021-01-15 03:23] #4231 closed

[2021-01-15 12:23] ericmaicon commented on #3636
any news on this one? I have 3 environments with the same code in AWS...different accounts. Suddenly I started to received it in on of them. Not in the others.

[2021-01-15 17:01] jmoral1943 commented on #4229
No I don't I use .returning on my query to return the inserted values, I use .then afterwards

[2021-01-15 17:03] jmoral1943 commented on #4229
And even when I tried using `pg` I still get the same value back `null` for timestamp

[2021-01-15 17:04] kibertoad commented on #4229
Then it is not a problem with knex, something is wrong either with your query, or with your data.

[2021-01-15 17:04] #4229 closed

[2021-01-15 17:12] jmoral1943 commented on #4229
@kibertoad its not an issue with the query or the data since 1. I can query the db from pgadmin 2. the query is not wrong because I get all the data back for each field expect for created_at, and my query uses `select * `

[2021-01-15 17:13] kibertoad commented on #4229
@jmoral1943 But if `pg` already is losing your data, `knex` as an interim layer is definitely not at fault. You might want to ping `pg` project instead, But would def be easier if you shared your code, I might have some ideas then.

[2021-01-15 17:15] jmoral1943 commented on #4229
@kibertoad
const knex = require('knex')({
  client: 'pg',
  version: '10.9.17',
  port: "5444",
  connection: {
    host: 'host,
    user: 'user',
    password: 'password',
    database: 'unleash',
    port: "5432"
  }
});

[2021-01-15 17:16] jmoral1943 commented on #4229
@kibertoad
const knex = require('knex')({
  client: 'pg',
  version: '10.9.17',
  port: "5444",
  connection: {
    host: 'host,
    user: 'user',
    password: 'password',
    database: 'unleash',
    port: "5432"
  }
});

knex.raw('SELECT * FROM public.events ORDER BY id DESC LIMIT 10').then((users) => {
  console.log(users)
}).catch(err => console.log("ERRROR: ", err));

[2021-01-15 17:49] kibertoad commented on #4229
@jmoral1943 This seems simple enough. Again, have you tried `.toString()` this particular query and running it in pgAdmin manually?

[2021-01-15 18:03] glensc commented on #1780
@timhuff this.writableFinished is read-only, so it can not be assigned.

- https://nodejs.org/api/http.html#http_request_writablefinished
- https://github.com/DefinitelyTyped/DefinitelyTyped/blob/e171ff82775039c75dc37231e7f4c8df35ae5eaa/types/node/stream.d.ts#L143

[2021-01-15 18:03] eav opened #4233 "Update called multiple times with objects"
# Environment

Knex version: 0.21.12
Database + version: postgres
OS: ubuntu

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

Some queries:

[code]

After executing the first query I get "Update called multiple times with objects",

[2021-01-15 18:25] jmoral1943 commented on #4229
@kibertoad Do you mean `toString()` the js function and yes I have tried running the query in pgAdmin manually and gives the correct data back

[2021-01-15 18:41] kibertoad commented on #4229
@jmoral1943 `knex.raw('SELECT * FROM public.events ORDER BY id DESC LIMIT 10').toString()` should give you exact same query that knex executes. Try running that in pgAdmin. Does that work differently?

[2021-01-15 18:57] jmoral1943 commented on #4229
No it does work differently I get the created_at value back in pgadmin

[2021-01-15 19:01] kibertoad commented on #4229
@jmoral1943 With literally the same query that knex generates for you? Then you should raise a ticket in `pg` project.

[2021-01-15 22:41] #3560 closed

[2021-01-15 23:16] Jordan24 commented on #1699
@holloway Thanks for the migration code example. Just what I was looking for. I'm running into one issue though. 'myColumnName' is throwing an error when migrating. The message says "column 'mycolumnname' does not exist". Notice the camelCase is now missing. Any ideas on how to get around that?

[2021-01-15 23:18] kibertoad commented on #1699
@Jordan24 Can you share your code?

[2021-01-15 23:21] Jordan24 commented on #1699
[code]

[2021-01-15 23:24] Jordan24 commented on #1699
If I wrap the columnName in double quotes I get a syntax error because the single quotes aren't removed in the raw code.
I think I might drop the function and just write the raw code out twice.

[2021-01-15 23:25] kibertoad commented on #1699
@Jordan24 Without the quotes PostgreSQL folds all identifiers to lowercase.

[2021-01-16 14:16] #3657 closed

[2021-01-16 16:35] redamsy commented on #1871
thanks everyone i figured it out

[2021-01-16 18:54] yasinkya commented on #1975
knex.raw('call listS();').then((rows)=>{
  console.log(rows[0][0])
})

[2021-01-16 22:14] Paratron commented on #4141
I just noticed the same problem when trying to connect a project to a MySQL 8 cluster when using sqlite locally before.

Like you noted above, the table is created without a key at first and the key is being added in a later command. The server refuses this.

By reading a bit of knex' source code I found out that there seem to be inconsistencies in the schema builder. If you call the `increments()

[2021-01-17 12:09] kibertoad commented on #4216
@oranyelik Hotfix was released in 0.21.16, and next semver major will feature a completely redone integration with mssql dialect, dropping support for older versions.

[2021-01-17 12:09] #4216 closed

[2021-01-18 12:23] mittalyashu commented on #1767
Any updates on this feature?

[2021-01-18 13:31] kibertoad commented on #1767
@mittalyashu Would you like to send a PR?

[2021-01-19 08:14] glensc commented on #3056
you should be able to use `.specificType()`:
- http://knexjs.org/#Schema-specificType
- https://stackoverflow.com/a/62904543/2314626

[2021-01-19 09:34] elgatoflaco commented on #3115
I recently had a similar problem and fixed it by editing the model manually.
In my case spaces had a many to many relationship with spaceCategories and did not recognize the relationship, so I edited the model manually, adding
`"collectionName": "spaces_space_categories__space_categories_space"`

<img width="675" alt="Captura de pantalla 2021-01-19 a las 10 12 06" src="https://user-images.githubus

[2021-01-19 13:32] msudhayaraj opened #4241 "How to get Postgress function logs (RAISE NOTICE/ RAISE INFO) using nodejs server"
# Environment

Knex version: 0.20.11
Database + version: Pg 11
OS: Ubuntu 16.04 LTS

# Question
How to get Postgress function logs ?
i am using knex and pg 11. i had some pg procedures and function,
i need to access the procedure log (**RAISE NOTICE** & **RAISE INFO**) using nodejs server.

i tried below code.

[code]

This is my sample nodejs code.
my pg procedure is

[code]

I need to get the pr

[2021-01-19 13:50] elhigu commented on #4241
Knex doesn't have any special support for this.

Though maybe that client in your pg example is actually connection. You could try to bind those event handlers in https://knexjs.org/#Installation-pooling-afterCreate when knex actually creates new pg connection to its pool.

Closing as non-knex issue (and as usage question). If anyone knows better, please feel free to keep on discussion in this thr

[2021-01-19 13:50] #4241 closed

[2021-01-19 14:00] msudhayaraj commented on #4241
my pg sample is just for the reference code. Likewise i need to get pg database procedure logs using knex.it might be the knex issue.
is there any way to get the pg database procedure logs ?
if there pls guide me.

[2021-01-19 14:16] elhigu commented on #4241
Did you try setting that `notice` event handler in https://knexjs.org/#Installation-pooling-afterCreate ? It may do the same thing that your reference code is doing.

Knex doesn't have any special support for that. So if your reference code does it, then knex.raw and that `notice` event binding in knex should work.

[2021-01-20 00:31] danielbucket commented on #3365
I'm having a similar problem when running the script 'knex migrate:make'. I've asked the question and added details on StackOverflow. Nothing I've attempted or found has proven to be helpful. If anyone can help me solve this issue, I'd be very appreciative.

Here's a link to my post: https://stackoverflow.com/questions/65801414/knex-migration-error-spread-not-a-function

[2021-01-20 01:12] kikeflowers commented on #3636
I downgraded to node 8.x and it does not worked

[2021-01-20 03:00] microCloudCode commented on #3651
same problem，Is there a solution?

[2021-01-20 05:13] msudhayaraj commented on #4241
Thank you @elhigu

I tried with pooling-afterCreate, i got the result.

The code is below

[code]

[2021-01-20 15:15] lmmattr opened #4242 "Where clause kept across chained query promises"
# Environment

Knex version: 0.21.16
Database + version: postgres 10
OS: Debian stretch

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Where clause appears to be retained after execution into the following query

2. Error message

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to MySQL or Postgre

[2021-01-20 15:43] elhigu commented on #4242
Seems to work as expected.

[2021-01-20 15:43] #4242 closed

[2021-01-20 16:07] lmmattr commented on #4242
@elhigu, thank you for your concise response. It appears we have different expectations.

If I've executed the query, why are the parameters retained?
Do I have to clear the class somehow to reuse it?
Do I have to create multiple Knex instances to run multiple queries?

[2021-01-20 17:00] FaresKi commented on #3071
Thanks a lot! You're the real hero

[2021-01-20 17:00] martinmacko47 commented on #4199
@elhigu

For now I didn't implement this optional second parameter as there is no other method with such parameter yet. And I don't want to invent entire new convention in the API. We may add it later.

[2021-01-20 19:26] micheal-w-wells opened #4244 "knex.raw should error when creating view with invalid sql."
# Environment

Knex CLI version: 0.21.12
Knex Local version: 0.21.12
Database + version: PostgreSQL 9.6.19 on x86_64-redhat-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-37), 64-bit
OS: redhat (see above)

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScri

[2021-01-20 20:07] elhigu commented on #4244
Sounds like an user error, maybe you are not running that query at all. Would need complete reproduction. If knex runs an invalid query to DB, db throws an error and knex does throw that to the user (it is quite well tested feature). Closing until sufficient reproduction is provided.

[2021-01-20 20:07] #4244 closed

[2021-01-20 20:18] elhigu commented on #4242
This is your problem I suppose:

[code]

You are expecting that it creates a knex instance with single connection, but  seems like you just create a query builder instance.

`.connection` method is designed to be used for single knex query builder instances... not for creating new knex query builder factory (like const knex = require('knex')({ client: 'pg' }))

Basically you are doing this:

[code

[2021-01-20 23:36] Naddiseo opened #4246 "onConflict/merge don't work with Knex.CompositeTableType"
# Environment

Knex version:  0.21.15
Database + version: postgresql 13
OS: ubuntu

@lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
`onConflict` and `merge` should interact nicely with `Knex.CompositeTableType`

2. Error message
for `.onConflict`: `Argument of type 'string' is not assignable to parameter of type 'readonly ("base" | "insert" | "up

[2021-01-21 10:08] lmmattr commented on #4242
Ah ok. That makes some sense. Thank you for your help.

[2021-01-21 11:45] KristjanTammekivi opened #4247 ".distinctOn() is undefined before .from() even though typings say it's there"
# Environment

Knex version: 0.21.15
Database + version: Postgres 13
OS: Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Typing says .distinctOn is always there, but in reality it needs to be after .from or knex('tableName'). I assume the typings are as it should be.

2. Error message

knexPg.distinctOn is not a function

3. Reduced test code

https:

[2021-01-21 13:22] kibertoad opened #5907 "Improve "connection" method documentation"
See confusion in https://github.com/knex/knex/issues/4242

[2021-01-23 00:30] adarshmadrecha commented on #4223
My 2 cents. We should not deprecate these methods. These are very handy methods.
Just the typing should be fixed so we can't chain `.first` and `.pluck`

[2021-01-23 23:57] kibertoad commented on #4223
@adarshmadrecha I agree. Both are widely used so removing them at this point doesn't seem helpful. Would appreciate if someone would send in a PR that would throw an error if a combination of `pluck` and `first` is used.

[2021-01-24 00:47] hscstudio commented on #3233
Can You show me working example of docker compose mysql ?

[2021-01-24 01:10] alanfelipeneres commented on #2820
I had this problem but I was using Postgress

To resolve this problem you need to reinstall the node.js on version 12.18.2. I did this and my app is ok.

[2021-01-25 08:54] elhigu commented on #3233
Did you check knex's docker-compose.yml?

[2021-01-25 08:57] elhigu commented on #4223
Those should be also easy to implement as knex extensions for providing easy backwards compatibility. But just fixing those will probably be less of hassle.

[2021-01-25 14:44] hscstudio commented on #3233
Yes, but this [docker-compose.yaml](https://github.com/knex/knex/blob/master/scripts/docker-compose.yml) do hack via `command: --default-authentication-plugin=mysql_native_password`, and this is not default authetication plugin in MySQL version 8

[2021-01-25 16:53] mashaalmemon commented on #2395
Would be great to `.double()` documented officially.

[2021-01-25 17:47] thiagopsnfg opened #4249 "Option to disable interpolation for raw queries"
# Environment

Knex version: 0.21.1
Database + version: Postgres 12
OS: Linux

# Feature discussion / request

1. Explain what is your use case:
I need to perform a json object merge in postgres as follow:
`knex.raw(`answers || '${JSON.stringify(answers)}'::jsonb`)`
but inside that json object has a string with ?, because it is a url, in that case knex try to replace this ? to a positional paramat

[2021-01-25 19:03] elhigu commented on #4249
Actually there has already been planned this kind of feature, but API would be that if no bindings are given to `knex.raw`, then nothing gets replaced... though I'm not sure if that will work easily in case where `knex.raw` is part of bigger query for example like:

`knex('table').select(knex.raw('?'), 'id').where('id', 1)`

[2021-01-25 19:20] elhigu commented on #3233
Did you check the first comment? If there something that knex can do to make mysql driver to support new mysql authentication? Driver is the part that connects to the server, knex doesn't have much to do with that part.

Also for starting server in docker with new authentication just drop the `--default-authentication-plugin=mysql_native_password`  parameter from docker-compose.yml. Then look help

[2021-01-26 02:12] flesicek commented on #721
Hey Guys, how this PR looks like? Knex is still using that crazy union hack. It is now 2021 and SQLite is supporting multi insert for years.

Is anybody still working on this issue or do you need help with it?

[2021-01-26 04:46] cthuluhoop123 opened #4250 "Creating a new foreign key with onDelete results in "undefined" ON DELETE in query."
# Environment

Knex version: 0.21.16
Database + version: sqlite3
OS: Windows 10
Node: 14.15.4

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Using knex migration to create a foreign key column works until you use `.onDelete('SET NULL');` where the raw query ends up with `...ON DELETE undefined`, causing the migration query to fail.

This only happens if t

[2021-01-26 11:38] elhigu commented on #721
afaik nobody has been working with this. PRs are welcome!

[2021-01-26 17:08] JefferyHus opened #4251 "Unable to run one migration file using the API"
# Environment

Knex version: 0.20.13
Database + version: mysql 5.7
OS: macOS

# Bug

1. Explain what kind of behavior you are getting and how you think it should do
I am trying to tun migration using the API. So far it works, but I can't run a specific file.
[code]
I tried also this:
[code]
2. Error message
n/a

[2021-01-26 17:59] kibertoad commented on #4251
@JefferyHus Could you please explain what do you mean by "can't"?
What is the config that you are passing? `config.name` regulates what to run.

[2021-01-26 18:05] JefferyHus commented on #4251
I mean that I want to use the API to run a specific migration (file). The `.up()` function load doesn't have a configuration property that can be used to specify a file name or migration name. So falling back to the existing documentation I was able to find that I can somehow specify a name inside the global configuration object `config.name`.

I check the src code as well and `config.name` was ki

[2021-01-26 18:18] kibertoad commented on #4251
[code]

please provide value of your `config` variable

[2021-01-26 18:21] kibertoad commented on #4251
[code]

this works

[2021-01-27 14:50] JefferyHus commented on #4251
Thanks, @kibertoad I was hoping to see something possible using `knex.up` function without falling back to CLI.

[2021-01-27 18:50] kibertoad commented on #4251
@JefferyHus What I'm trying to say is that function per se works, can't see why API won't. Will write test for it just to be sure.

[2021-01-27 19:32] JefferyHus commented on #4251
@kibertoad It looks like it doesn't pick the file name. I will try to debug more once I got some free time. Thanks

[2021-01-27 19:46] mightypenguin opened #4254 "Jasmin can't spyOn connection.raw"
# Environment
Typescript 4.1.3
nodejs 10.22.1
Jasmine 3.6.4

Knex version: 0.21.16
Database + version: postgres 9.5
OS: linux

# Bug

1. Behaviour:
For unit testing I need to be able to control the behavior of the "raw" method.
`spyOnProperty(db, "raw").and.returnValue(...)`
or with
`spyOn(db, "raw").and.returnValue(...)`

2. Error message
Error: <spyOnProperty> : Property raw does not have access

[2021-01-27 20:08] JefferyHus commented on #4251
As for now I use this code to get it work:

[code]

[2021-01-27 21:13] gpetrov commented on #2767
is there eventually a solution to this @kibertoad ?

Just to do simple rename on a column created initially as incremental?

[2021-01-27 21:35] kibertoad commented on #2767
@gpetrov Which DB are you using?

[2021-01-27 22:00] gpetrov commented on #2767
Well MySQL but it seems it is a common problem.
On column rename or type change the incremental is lost and there is no way to add it back.

[2021-01-28 04:04] nautilux2 opened #4255 "Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call? on OracleDB"
# Environment

Node:12.18
Database: Oracle
OS: Linux

Package:
    "oracledb": "^4.2.0",
    "graphql": "^15.0.0",
    "knex": "^0.21.1"

I got
    KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?
error when multiple single insert query (not batch). How can I resolve this problem

[2021-01-28 07:28] elhigu commented on #4255
Cannot reproduce. You need to reduce your code so that you can pinpoint the area which causes that error happening. Then there can be various reasons why it happens. For example you might try to create more transactions that connections are available in pool or you might forget to commit them or you might try to doo too many parallel queries or it might be something else completely.

[2021-01-28 07:28] #4255 closed

[2021-01-28 09:38] renarsvilnis commented on #3463
Wondering now with an introduction with Template Literal types and key remapping ([link](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#key-remapping-in-mapped-types) can can `.select` with aliases and  `.join` (enforced use of alias `<table-name>.<column>`) be used to improve on those cases?

![image](https://user-images.githubusercontent.com/3515099/106116673-d9905d80-615a-

[2021-01-28 12:46] pavanmehta91 commented on #3201
We're stuck with `0.13.0` due to this issue.
We don't have tests written for our application.
Sorely missing extending QueryBuilder feature which came after `0.19`

[2021-01-28 12:56] kibertoad commented on #3201
@pavanmehta91 Why can't you just pass array always?

[2021-01-28 15:08] M-Hoogie opened #4257 "SSL connection string issue"
# Environment

Knex version: 0.21.16
Database + version: Postgres 12
OS: Linux

# Bug

1. The postgres connection string isn't connecting to the database anymore. This wasn't an issue with knex 0.21.12 so I'm doubtful that it is a configuration issue.

2. `Error no pg_hba.conf entry for host "[REDACTED]", user "[REDACTED]", database "[REDACTED]", SSL on`

3. Just the connection string: `postgresql

[2021-01-28 15:29] M-Hoogie commented on #4257
Nevermind, it was configuration option with multiple workers.

[2021-01-28 16:54] pavanmehta91 commented on #3201
We definitely should do that. But there's a lot of code written earlier. There are 800 odd instances where we've used whereIn and nobody in the team is confident that all the places receive array in the argument.

[2021-01-28 17:10] pasim commented on #1446
@erikfrisk thanks for commenting this - worked for me too.

[2021-01-28 17:48] elhigu commented on #3201
Maybe it is good time to write tests if you are going to be maintaining that code (like updating libraries to non backwards compatible versions).

[2021-01-28 18:41] pavanmehta91 commented on #3201
Yes true that.

[2021-01-29 17:09] pthieu opened #4259 "`t.timestamp('createdAt')` not working as expected, renamed to `created_at`"
# Environment

Knex version: 0.21.16
Database + version: Postgres 12
OS: MacOx 10.15.6

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

`t.timestamp('createdAt').defaultTo(knex.fn.now());` in a migration creates a datetime column a

[2021-01-29 17:13] pthieu commented on #4259
Further investigating the issue, it seems that knex converts anything from `camelCase` to `snake_case`
Or maybe this is a PG thing

[2021-01-29 17:16] pthieu commented on #4259
I'm an idiot, I boilerplated my project with a boilerplate I made a while back. I had this in my `knexfile`:

[code]

Closing.

[2021-01-29 17:16] #4259 closed

[2021-01-30 04:51] MattGson commented on #4209
@elhigu In some ways yes, in others, not really.

` .onConflict('email').merge([ 'email', 'name' ])` is database agnostic.
` .onConflict('email').merge({ email: knex.ref('excluded.email') , name: knex.ref('excluded.name') })` works for pg and sqlite but not for MySQL.

For MySQL, we would have to change it to:
`.onConflict('email').merge({ email: knex.ref('values(email)') , name: knex.ref('values(

[2021-01-30 14:31] gpetrov opened #4260 "Implement migration "up to" and "down to" specific migration file"
# Feature request

When running migration bound to version control, you want to sequentially go up to specific version and also sequentially go down to other specific version on revert. This is how "up to" and "down to" migration commands  are implemented in other migration solutions like: https://github.com/tj/node-migrate#running-migrations

The migrations need always to be executed sequential f

[2021-01-30 17:53] kibertoad commented on #4250
Should be fixed in  0.21.17, would appreciate if you could confirm.

[2021-01-30 17:53] #4250 closed

[2021-01-30 17:54] kibertoad commented on #4199
Released in 0.21.17

[2021-01-30 17:54] #4199 closed

[2021-01-30 18:55] onzag commented on #1586
I don't understand how that makes for two main tables, you just need to add an "updateFrom" that simply adds a "from tableName" after the set, it's a simple string.

Another option would be to add an options to the update method.

this.knex.table("table1").update({id: 2}, {from: ["table2"]})

Or

this.knex.table("table1").update({id: 2}).updateFrom(["table2"]);

[2021-01-30 20:55] vladev commented on #4069
@lorefnon What would be the best type of the `...args` that are passed to raw? I would love to open a PR to fix this, but I'm not sure which is the right type.

[2021-01-30 21:05] onzag commented on #1586
I have implemented a `this.knex.table("table1").update({id: 2}).updateFrom("table2", "alias2").updateFrom("table3", "alias1");` solution, if anyone can tell me what should be done for testing, since this is pgsql specific and seems like it's hard of a thing to test as I can't get my head around these tests.

I was thinking to use the update options but there are so many overloads I found it bloate

[2021-01-31 01:25] almeidaalex commented on #3912
Thank you a lot! I don't have too much experience with node environment (I'm reading a book that uses node examples). I've just upgraded pg package to 8.4 and the error stopped.

[2021-02-01 10:07] tarunsinghh opened #4262 "knex.raw returns promise"
# Environment

Knex version:0.20.13
Database + version: pg 12
OS: ubuntu

can i use the below code 0.20.13
        promises.push( db.raw('SELECT 1'));
then using await Promise.all(promises) where promises is an array
in the webstorm debugger it is showing it as an raw object not promise also i tried below its not going inside then nor inside catch

 db.raw('SELECT * from school_event_mapping limit

[2021-02-01 10:18] kibertoad commented on #4262
@tarunsinghh Check the documentation for `raw`, you would typically use it as a parameter inside more typical query-building structure: https://knexjs.org/#Raw

[2021-02-01 10:18] #4262 closed

[2021-02-01 10:37] tarunsinghh commented on #4262
@kibertoad  iam making a healthcheck api,how do i then write select 1 in knex that will return promise

[2021-02-01 10:46] tarunsinghh commented on #4262
also @kibertoad  The knex.raw may also be used to build a full query and execute it, as a standard query builder query would be executed. The benefit of this is that it uses the connection pool and provides a standard interface for the different client libraries.

knex.raw('select * from users where id = ?', [1]).then(function(resp) { ... });,   so what Iam doing wrong

[2021-02-01 10:50] tarunsinghh opened #4263 "knex.raw('select 1') doesnt return promise"
Knex version:0.20.13
Database + version: pg 12
OS: ubuntu

can i use the below code 0.20.13
promises.push( db.raw('SELECT 1'));
then using await Promise.all(promises) where promises is an array
in the webstorm debugger it is showing it as an raw object not promise also i tried below its not going inside then nor inside catch

db.raw('SELECT 1').then((row)=>{
console.log('koknnoko',row.rows);
}
).c

[2021-02-01 11:22] cthuluhoop123 commented on #4250
Thanks, confirmed to be fixed.

[2021-02-01 16:59] kibertoad commented on #4262
@tarunsinghh Probably you are not awaiting your promise or something along these lines. I just tried
[code]

and `x` is definitely a Promise there. Do you instantiate `db` correctly?

[2021-02-01 17:00] kibertoad commented on #4262
@tarunsinghh You can use heartbeat util from here, if you want: https://github.com/kibertoad/knex-utils/blob/master/lib/heartbeat.utils.js

[2021-02-01 17:37] elhigu commented on #4263
It doesn't return a Promise. It does return a query buider that is thenable.

You can return promise by executing the raw query builder for example by calling it' s `.then()` method, which returns a promise.

[2021-02-01 17:37] #4263 closed

[2021-02-01 17:55] elhigu commented on #4260
Just as a side not. Currently actually migrations are not necessary ran in the same order to the database in which they are in directory listing (is new file is added to middle of the list, it will be applied to top of all migrations; that might happen for example when two feature branches are merged to main and the feature which was created later is merged first), so it should be also decided how

[2021-02-01 18:04] bluenote10 opened #4264 "TypeScript example in readme doesn't work"
This is a super tiny issue, and most likely highly trivial to fix. But since I only had a few seconds look into knex, I can't fix it myself and thought I can at least leave a short report: The example fails at the `import { Knex, knex } from 'knex'`, apparently because the library has changed to default exports.

[2021-02-01 18:18] gpetrov commented on #4260
Good point but as all files are prefixed with timestamp a simple sort order should bring them in the right order before processing.

The tricky part is when using version control for publishing new releases of your code and migrations and when you want to be able to revert and bring down the necessary migrations.

So when upgrading to new version from git, you will first push the new code then app

[2021-02-01 18:32] tarunsinghh commented on #4263
@elhigu

My problem is :-
I am writing a healthcheck api , i have a function

function check() {
 try {
          info = await healthCheck()
        } catch (error) {
          logger('healthcheck failed', error)
          return sendFailure(res, { error: error.causes })
        }
        return sendSuccess(res, { info, verbatim: healthChecks.verbatim })
      }
}

and in healthcheck function Iam

[2021-02-01 18:35] tarunsinghh commented on #4262
@kibertoad

My problem is :-
I am writing a healthcheck api , i have a function

function check() {
try {
info = await healthCheck()
} catch (error) {
logger('healthcheck failed', error)
return sendFailure(res, { error: error.causes })
}
return sendSuccess(res, { info, verbatim: healthChecks.verbatim })
}
}

and in healthcheck function Iam performing certain checks like pinging mongo, postgres, re

[2021-02-01 19:07] kibertoad commented on #4264
@bluenote10 This is accurate for master; we just need to release next semver major soon :)

[2021-02-01 19:07] #4264 closed

[2021-02-01 20:22] lorefnon commented on #4069
@vladev Apologies for late reply and thanks for your interest in contributing to the project.

This had previously been addressed in other places, but seems like SchemaBuilder was left out.

We can update [SchemaBuilder.raw](https://github.com/knex/knex/blob/50be910/types/index.d.ts#L1737) to return a RawSchemaBuilder similar to the [RawQueryBuilder](https://github.com/knex/knex/blob/50be910/types

[2021-02-01 20:23] elhigu commented on #4263
Problem in your code is not knex.  If you want to be sure that you are waiting for promise, just do:

[code]

also duplicate issue...

[2021-02-02 10:19] pavanbellamkonda commented on #3854
@kibertoad I created a Pull request for these changes.

[2021-02-02 16:10] jeremy-w commented on #4204
i recently noticed my comments weren't making it from my schema to the db as well, so i'm happy to find this discussion!

is this still something you're working on @alexanderankin? (if not, i might have a go.)

i think we can also eliminate that 255-char warning. afaict from [the sp_addextendedproperty docs](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-adde

[2021-02-02 16:37] alexanderankin commented on #4204
sorry, this dropped off of my radar - please feel free to attempt to
implement this.

On Tue, Feb 2, 2021 at 11:11 AM Jeremy W. Sherman <notifications@github.com>
wrote:

[2021-02-03 01:57] nautilux2 commented on #2661
Any new update on this issue?

[2021-02-03 07:21] Vaclovas commented on #4227
Why this issue is closed?

[2021-02-03 08:03] TrySound commented on #4227
@Vaclovas Not an issue. Just wait until next release.

[2021-02-03 09:32] olso commented on #3463
Not sure if this was mentioned, but this is really painful

![Screenshot 2021-02-03 at 10 31 42](https://user-images.githubusercontent.com/7975158/106726757-0a650c80-660b-11eb-97a1-d7723a3c7b7c.png)

[2021-02-03 09:43] Vaclovas commented on #4227
Why this is not an issue if knex uses dependency with critical vulnerability and there is no proper release currently? The solution to adjust package-lock.json is more like a hack.

[2021-02-03 09:54] anupvarghese commented on #4227
@Vaclovas the vulnerability is in `ini` package, which has been fixed already.
If you add a resolution block in `package.json` it will refer the patched version in package.lock or yarn.lock

This is what I have done.
[code]
Specific to this version, it is not going to break anything as it only avoids prototype pollution.
It would be a better solution than patching in `package.lock` directly.

[2021-02-03 10:02] kibertoad commented on #4227
@Vaclovas master is not yet ready for a full public release. As I've mentioned before, I can do a preview release if there is demand for it.

[2021-02-03 10:22] olso opened #4271 "Typescript autocompletes column names, but doesn't catch wrong column names"
# Environment

Knex version: v0.21.17
TS version: v4.1.3
Database + version: pg@12.5
OS: MacOS Big Sur
Node version: v14.15.4

Select applicable template from below.
@lorefnon

# Bug

## 1. Explain what kind of behaviour you are getting and how you think it should do

Typescript autocompletes column names, but doesn't catch wrong column names

It only catches error if column names are passed as ob

[2021-02-03 11:22] olso commented on #4271
I guess, this is why https://github.com/wwwouter/typed-knex exists...

[2021-02-03 18:48] davidchai717 opened #4274 "Pool uses mssqlPoolSettings as opposed to user input"
# Environment

Knex version: "knex": "^0.21.16"
Database + version: "mssql": "^6.3.1",
OS: Mac OSX

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
@smorey2
# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
We have been running into issues with SQL resource overload ever since we updated to n

[2021-02-03 19:03] femartinez92 commented on #2441
In my case i was i was making the import like this:
const knex = require("knex/knex");
i fixed it by changing it to this:
const knex = require("./knex/knex");  (Notice the ./ before knex)
Also this ws the file knex.js on folder knex
![image](https://user-images.githubusercontent.com/7012413/106795747-3bf4cc80-6639-11eb-8e83-a87a190fbc22.png)

[2021-02-03 21:32] #3854 closed

[2021-02-04 08:03] Vaclovas commented on #4227
Sorry, for being picky, but I don't understand, why close an issue if it is not fixed. I totally understand, that this is a dependency issue, but it would be good to see, that issue is still not resolved and the fix is on the go because now the situation is misleading, people can think, that issue is fixed and they have a problem elsewhere, but this is not the case.

[2021-02-04 20:33] kibertoad opened #5908 "Document generateDdlCommands"
see https://github.com/knex/knex/pull/4194/files

[2021-02-05 13:27] pingvinen opened #4276 "Feature request: support for modifying data input to write queries before sending it to the driver"
Hi

I am building my first project with knex (which I am using in order to support multiple SQL variants). So far I like it, but I constantly have to duplicate the same code in order to make data about to be written to the db ready for the underlying driver to handle.

In my specific case I keep having to add `JSON.stringify` and convert my date and time representations. This gets tedious and is v

[2021-02-08 09:09] elhigu commented on #4276
Currently there are no hooks for modifying query bindings.

Could probably be implemented pretty easily... though to make this feature more powerful and suitable to handle some other cases I have been thinking; it should allow modifying both, how binding is actually put to SQL and how binding values are modified.

That way one could even have this kind of typed inputs:

[code]

This would allow al

[2021-02-08 09:12] kibertoad commented on #4274
@davidchai717 We plan to release a first preview version of 0.95.0 that completely reworks the MSSQL driver soon, addressing this issue among many others. It should be fully production-ready, and mostly misses one breaking change for SQLite migrations. Would you be open to testing it to provide early feedback on whether there are any observable issues or gaps with the new driver?

[2021-02-08 09:16] elhigu commented on #4271
PRs for typing fixes are always welcome.

[2021-02-08 09:24] elhigu commented on #2661
That is normal that numUsed() / numFree() returns that.

Tarn does not prefill pool do when it starts there are less connections than `pool.min`.

numUsed() returns number of connections that are out of the pool. numFree() + numUsed() tells how many connections are inside pool. It can be less that `pool.max` if pool is not completely filled with connections (to make pool to be filled there must be

[2021-02-08 10:03] elhigu commented on #4254
PRs welcome. Though I don't consider this being a bug.

[2021-02-08 11:45] #4223 closed

[2021-02-08 15:41] kibertoad commented on #4274
Anyone willing to help with the testing of the new MSSQL driver (which should be more performant and stable than ever before), please give `0.95.0-next1` a shot! Final 0.95.0 version should be released at some point in February.

[2021-02-09 01:30] picolloo commented on #1928
In case you're looking for a way to create this columns in a automated way I've found this solution from the docs:

[code]

[2021-02-09 08:04] #4106 closed

[2021-02-09 08:04] #4209 closed

[2021-02-09 10:26] qchapelet opened #4285 "Is Raw type missing in onIn JoinClause ?"
# Environment

Knex version: 0.21.6
Knex types version: 0.16.1
Database + version: mssql 6.2.3

# Feature discussion / request

I want to perform a subquery with an `in` operator like so
[code]

Actually, I have found how to do it but it's not clear since i'm forcing `unknow` cast :

[code]

The expected type of `onIn` values is `any[]`. So I'm wondering why I have to cast it as `unknow` and if i

[2021-02-10 13:34] douglasjunior commented on #4141
This is a very critical situation for us, as Digital Ocean's managed databases do not allow tables without a primary key.

Our workaround is also:

[code]

[2021-02-11 20:06] serv commented on #1482
This worked for me

[code]

[2021-02-12 11:37] keyserfaty opened #4290 "Timeout on Node 15"
# Environment

Knex version: "knex": "^0.21.17"
Database + version: "pg": "^8.5.1"
Node.js: v15.8.0
OS: macOS Big Sur. (Apple M1/Sillicon).

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Not receiving connections.

2. Error message
`Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?`

3. Reduced test

[2021-02-12 11:54] #4290 closed

[2021-02-12 23:33] Marlliton commented on #2820
Comigo funcionou atualizar as versoes

[2021-02-13 00:00] markwongsk opened #4291 "Github releases and git tags not in sync with published npm releases."
1. The latest release published on npm is marked 13 days ago at 0.21.17: https://www.npmjs.com/package/knex.
2. The latest release on github and on the website is tagged 0.21.15 on 12/26/2020.
3. When checking out the code, there is no git tag marking 0.21.17.

[2021-02-13 16:08] yodhcn opened #4292 "Please support "DEFERRABLE INITIALLY DEFERRED""
# Feature request
Is there any chance to have a Knex native way to set "DEFERRABLE INITIALLY DEFERRED" on a table with foreign key constraints ?

[code]

[2021-02-13 16:10] kibertoad commented on #4292
@yodhcn PR for this would be most welcome, and if you need any help with finding the right spot in source or writing tests, would be more than happy to help.

[2021-02-13 19:12] akindo commented on #3831
Using Node 12 instead of 14 also fixed it for me.

[2021-02-13 19:58] kibertoad commented on #3831
@akindo Have you tried upgrading `knex` and `pg` without downgrading Node? That should also work.

[2021-02-13 20:42] michaelavila commented on #2860
@kibertoad I have a one off application https://michaelavila.com/knex-querylab/ that I found useful when I was writing a lot of knex, and I've tried to keep it online over the years in case others find it useful. This site is made to let you quickly tinker with the knex dsl. All of the work is done in the browser.

I could pass the input off to a server to translate and send back to me, but that w

[2021-02-13 20:50] kibertoad commented on #2860
@michaelavila But knex is already doing that, all drivers are lazy-loaded when first used, which is why most applications work just fine with just a subset of drivers. The only case where all drivers are loaded eagerly is when using a misconfigured webpack.

Note that react-scripts are using webpack under-the-hood. See this thread for advice on how to configure webpack externals so that knex works

[2021-02-13 20:53] michaelavila commented on #2860
@kibertoad I'll dig into that now, thanks!

[2021-02-14 05:32] umonaca commented on #453
Any news on this issue?
I am writing some migrations, and I have to turn foreign keys on and off manually in the program, not in the afterCreate() function. However, the following code in the main program (not in afterCreate()) does not work for me:
[code]

If I run
[code]
It returns
[code]

I know that SQLite disables foreign key by default. I was expecting the result to be ON after the code is r

[2021-02-14 06:16] umonaca commented on #453
Follow up:
By using `DEBUG=knex:*` environment variable I found out that the `PRAGMA foreign_keys=on` is wrapped inside a transaction. However, SQLite does not support changing this PRAGMA inside a transaction. It only works when it is running outside of a transaction.

[2021-02-14 18:54] GAumala commented on #453
@umonaca since Knex is just a query builder, I think you should turn foreign keys off using SQLite's CLI or Node.js driver.

With CLI:

[code]
With Node.js:

[code]

If you don't want to do this manually during every migration you can write a script in Bash or JavaScript that turns the foreign keys off, runs the migration, and finally turns foreign keys back on.

[2021-02-14 19:40] DanielOrtel opened #4293 ""returning" does not return timezone information, while "select" does"
# Environment

Knex version: 0.21.16
Database + version: Postgresql 12.5
OS: probably N/A osX Catalina

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using `knex(table).select('some_timestamp')`, the returned value includes the timezone: `2021-02-14T18:16:05.041364+00:00`, however, when using `knex(table).insert(someValues).returning('some_timestamp'

[2021-02-14 21:29] DanielOrtel commented on #4293
Actually, just noticed that `Z` is there in the timestamp, indicating that it's UTC, however, the inconsistency is still there.

[2021-02-14 21:44] #4293 closed

[2021-02-15 08:13] unfinishedteleporter opened #4294 "Migration files out of order due to using local timezones"
# Environment

Knex version:^0.21.16
Database + version: Postgresql 12
OS: Ubuntu Linux

Experience level: Just starting with knex.

I couldn't find an existing issue on this topic, but I feel like there is a reason this hasn't been implemented / I've missed something.

# Feature discussion / request

1. Explain what is your use case
Working with a team on a repository across multiple timezones, t

[2021-02-15 09:49] elhigu commented on #4294
I think there was a pull request trying to implement this.

[2021-02-15 10:06] unfinishedteleporter commented on #4294
Oh, you are absolutely right: https://github.com/knex/knex/pull/4245

[2021-02-15 10:44] richardsimko opened #4295 "ES Modules broken on npm@7"
# Environment

Knex version: 0.21.17
Database + version: N/A
OS: N/A

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When setting `type: 'module'` in `package.json` knex fails to use ESM to load the migration files on `npm >= 7.0.0`. This works on lower versions. The reason being that npm has removed the environment variable which knex uses to determine if

[2021-02-15 12:35] kibertoad commented on #4295
@richardsimko Uh-oh, thank you for pointing out the issue! Would you consider sending a PR with a fix?

[2021-02-15 12:38] richardsimko commented on #4295
Sure, I can probably put something together. Just in case anyone else stumbles on this before a fix is released, a workaround is to change the knexfile to end with `.mjs`.

[2021-02-15 12:42] kibertoad commented on #4294
Will try to write a test for it today, merge and release a new preview version.

[2021-02-15 12:43] kibertoad commented on #4291
Thanks for noticing! Published a new tag.
For curiosity sake, what are you using tags for?

[2021-02-15 15:38] richardsimko commented on #4295
@kibertoad I opened #4296

[2021-02-15 17:33] kibertoad commented on #4295
Released in 0.95.0-next2

[2021-02-15 17:33] #4295 closed

[2021-02-15 17:33] kibertoad commented on #4294
Released in 0.95.0-next2

[2021-02-15 17:33] #4294 closed

[2021-02-15 21:05] markwongsk commented on #4291
Was going to checkout code locally based on some version.

[2021-02-15 21:20] kibertoad commented on #4291
Got it!

[2021-02-15 21:20] #4291 closed

[2021-02-15 21:32] jeremy-w opened #4297 "mssql: schema builder: Enable specifying the name for a column's default constraint"
# Environment

Knex version: knex@0.21.12
Database + version:

OS: Docker under macOS

For MSSql tag @smorey2.

# Feature discussion / request

1. Explain what is your use case

It's much easier to work with a database with predictable constraint names. Since SQL Server has stuck with treating column defaults as constraints, I'd like to be able to easily control the name it assigns those constrain

[2021-02-15 21:48] kibertoad commented on #4297
@jeremy-w Considering that we already do that for most constraints, adding that for `defaultTo` should be pretty straightforward. Would you be open to send a PR for this?

[2021-02-16 08:52] Mohammad4 commented on #3831
@kibertoad  I'm facing the same error, my DB is hosted on AWS RDS. the node version is 14.15.5 the pg is 8.3.0 and knex 0.21.2. and the error is the same. `error KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?` any advice ?

[2021-02-16 13:05] StanleyMasinde commented on #2387
Sorry for spamming a closed issue but this worked for me. I was just wondering why this is not in the documentation?

[2021-02-16 13:50] kibertoad commented on #2387
@StanleyMasinde Would you be consider creating a PR for https://github.com/knex/documentation?

[2021-02-16 14:19] StanleyMasinde commented on #2387
@kibertoad sure 👍. I'll do that.

[2021-02-16 14:24] kibertoad commented on #2387
Thanks!

[2021-02-16 17:28] tsothcott opened #4299 "KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full."
# Environment

Knex version: 0.21.17
Database + version: MySQL 8.0.20
Node Version: 14.15.4
OS: Unsure - Digital Ocean database droplet 1 GB RAM / 1vCPU / 10 GB Disk / Primary only

@atiertant

Edit: Node 12.13.0 LTS works fine.

# Bug

I am trying to do a basic query against a MySQL database, The code is:

                const db = require("knex")({
                    client: 'mysql',

[2021-02-16 18:33] sysaxis commented on #4233
This warning should be omitted or at least enabled to be turned off.

[2021-02-17 09:15] elhigu commented on #4299
You should not pass cool parameters to mysql driver.

Try this instead:

[code]

[2021-02-17 09:15] #4299 closed

[2021-02-17 09:23] elhigu commented on #4233
Probably warning is implemented in too high level in query builder and it is not checked in `.update('content', 'text')`. Warning could be more clear stating why it is a problem.

It can be turned off by overriding logger in knex configuration. That is currently the official way to silence unwanted warnings / messages. I'm not saying that is perfect, but "this is the way".

[2021-02-17 12:58] ravshansbox commented on #4028
Can't we accept a function inside knex config file that maps migration files to migration names?

[2021-02-17 14:15] kibertoad commented on #4028
@ravshansbox I think it's already possible by using custom migration sources, see http://knexjs.org/#Notes-about-locks

[2021-02-17 14:35] ravshansbox commented on #4028
@kibertoad does knex include default one, so that we can override only migration name resolving part? Implementing it from scratch may take more time.

[2021-02-17 14:38] kibertoad commented on #4028
@ravshansbox Yes, check lib/migrations/migrate/sources/fs-migrations.js

[2021-02-17 19:36] ravshansbox commented on #4028
@kibertoad thank you 🙏

[2021-02-17 19:39] kibertoad commented on #4028
You are welcome!

[2021-02-18 01:49] Marguelgtz commented on #3831
Having the same issue connecting to a AWS RDS pg database, I have played around with different versions of node but no success.

**"pg": "^8.5.1",
"knex": "^0.21.17",
node at v15.8.0**

[code]

When downgrading to **node v12.16.3**

[code]

[2021-02-18 01:50] Marguelgtz commented on #3831
@Mohammad4 were you able to solve the issue?

[2021-02-18 07:35] sondresj commented on #4246
Bump, same issue here

[2021-02-18 08:23] Marguelgtz commented on #3831
I was just able to solve my error, if you are using RDS for the first time like me is very likely that this may solve it

It was an aws issue, the server IP needed to be whitelisted to connect to the database. To do this you need to go into the db security group and add an inbound rule w/ your db port and your CIDR IP (`<your ip>/32`).  You can then tested w/ `telnet <rds webpoint> <port>`

[2021-02-18 11:29] lualfer99 commented on #1928
why two true's ??

[2021-02-18 12:45] picolloo commented on #1928
@lualfer99 got from the [docs](https://knexjs.org/#Schema-timestamps)
![image](https://user-images.githubusercontent.com/29408363/108358870-00780780-71ce-11eb-8508-65b77c8b2fa4.png)

[2021-02-18 15:40] SergiuAlexandruPop commented on #2820
life saving comment.

[2021-02-18 21:56] jeremy-w commented on #4297
Glad to hear that's the way to go. I'm open to it; hopefully in the next fortnight. 🤞

[2021-02-18 22:23] kibertoad commented on #4297
Would be awesome!

[2021-02-19 01:00] david-wb commented on #3831
I'm seeing this issue when submitting concurrent requests (2 at a time). I'm not using any transactions and the connection pool max size is 6 connections. I'm using Node 12.

[2021-02-19 04:05] ytaborda17 opened #4303 "How can I user bindings inside a knex.raw with LIKE condition"
# Environment

Knex version: 0.21.17
Database + version: MySql v5.7
OS: Ubuntu 20.04.0 LTS

# Bug

1. Current behiviour Vs. espected:
I'm trying to get an sql query with this syntax:

[code]

2. And as espected, I get the error message
Error: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'daily'

[2021-02-19 08:33] elhigu commented on #4303
[code]

[2021-02-19 08:33] #4303 closed

[2021-02-19 14:50] PedroNishimura commented on #2219
Olá marcelo, poderia me dar uma luz de como você fez essa query com upper, sei que essa issue é antiga mas ficaria grato com sua ajuda.

[2021-02-19 14:55] jebricker commented on #2054
Is this similar when using .withSchema and .joins?

[code]
produces
select srt.SUBMISSION_REQ_TMPLT_ID from rcubed.[object Object] inner join rcubed.[object Object] on srt.SUBMISSION_REQ_TMPLT_ID = ptr.SUBMISSION_REQ_TMPLT_ID where PRODUCT_TYPE_ID = 1

Before adding the join it worked

[2021-02-19 16:48] eav commented on #4233
Frankly I don't understand the point of this message at least by default as all that is valid code. This is very similar to displaying the warning in case of builder.select('first_name').select('last_name').
When I started to get this message I thought something wrong with my code and had to check the source code to make sure that the problem is not on my side.

[2021-02-19 23:35] fernandocamargo commented on #1128
What do you think about using aliases? In my case I was having similar issues using `create-react-app` and solved it this way.

https://classic.yarnpkg.com/en/docs/cli/add/#toc-yarn-add-alias

https://docs.npmjs.com/cli/v6/commands/npm-install

On your package.json (you may have to do the same for other drivers):
[code]

[2021-02-20 03:18] timhuff commented on #1780
@glensc Yea, this was written in the days before I started using typescript. If you're able to fix it, please post the update for others.

[2021-02-20 04:08] ClappTrap opened #4304 "missing types?"
# Environment
Knex version: 0.21.17
Database + version: Postgres 11.x
OS: Mac OS.
typescript: 4.1.5
Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I

[2021-02-20 11:31] cajlonbatista opened #4305 "On delete CASCADE - Cannot add foreign key constraint"
![image](https://user-images.githubusercontent.com/63024734/108594012-29c39f80-7356-11eb-9036-619855480c12.png)

![image](https://user-images.githubusercontent.com/63024734/108593960-a904a380-7355-11eb-84bc-cb247d444b28.png)
Hi
Good Morning
For some reason I am not able to run this migration, with some foreign keys, I already checked and issue #245 , but the problem still persists on the console.

[2021-02-20 12:30] elhigu commented on #4305
That error is coming from database, check your schema why that query fails. maybe there is no `code` column in table `product`

[2021-02-20 12:30] #4305 closed

[2021-02-21 12:40] samhess commented on #701
let url = new URL('https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest')
  url.search = new URLSearchParams({start:1, limit:100, convert:'USD'})
  let response = await fetch(url, {headers:{'X-CMC_PRO_API_KEY':'xxxxxxxxxxxxxxxxxxxx'}})
  let data = await response.json()
  let coins = data.data.map(coin => {
    return {
      'id' : coin.id,
      'symbol' : coin.symbol,
      'name

[2021-02-21 13:13] felixmosh commented on #701
@samhess Or use my small util https://github.com/felixmosh/knex-on-duplicate-update#readme which does something similar :)

[2021-02-22 12:02] kibertoad commented on #4295
Released in 0.21.18

[2021-02-22 20:41] leoplaw commented on #1713
Thank you David! That solved my problem.

[2021-02-22 21:12] ClappTrap commented on #4304
I think it was because the my type was wrong. sorry new to typescript.

[2021-02-22 21:12] #4304 closed

[2021-02-22 22:34] gaetaneferon opened #4309 "knex migrate:latest --> Error: Access denied for user"
# Environment

Knex version:  0.21.18
Database + version: mariadb  Ver 15.1 Distrib 10.3.27-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
OS: Linux Debian 10

# Bug

When I launch the command
`$ knex migrate:latest`

I get the following error :

[code]
My knexfile.js is :

[code]

Any idea to solve the issue? Many thanks in advance

[2021-02-22 22:39] kibertoad commented on #4309
This seems like an authentication issue. Does it work when you connect to database directly using exact same credentials?

[2021-02-22 23:12] gaetaneferon commented on #4309
Yes indeed
`mysql --host=localhost --user=myuser --password=pwd mybdd`
I get:
`ERROR 1045 (28000): Access denied for user 'myuser'@'localhost' (using password: YES)`

But when I check on phpadmin it seems to be correct parameters. how can I check in command line?

[2021-02-23 00:01] gaetaneferon commented on #4309
I solved my issue this way :

I duplicated myuser with host "localhost" because in database it was created with host "%"
Now it works fine

this link help me understand the issue : https://stackoverflow.com/questions/10823854/using-for-host-when-creating-a-mysql-user

[2021-02-23 00:01] #4309 closed

[2021-02-23 21:14] jeremy-w commented on #4297
Trying to get a clean test run to start, but I'm not having much luck. The connection config appears to be getting ignored by some parts of the test suite? Is it expected that the KNEX_TEST config does not work, or should I maybe fix that first?

I already happen to have mssql running in Docker for my own dev purposes, so I wanted to use my existing container when running tests.

## What I'm Seein

[2021-02-23 23:11] kibertoad commented on #4297
@jeremy-w `TypeError: Cannot read property 'client' of undefined` is happening because `parsedConfig` is nil, which is resolved like this.
Most common reason for this is a mismatch between driver name passed and expected, but if you are using `mssql` as a driver name, that should work. If you could push your branch, I could take a look.

[2021-02-23 23:47] jeremy-w commented on #4297
The errors appeared on a fresh checkout of master - c58794b2ad “Prepare to release 0.95.0-next3”. I did npm install, then tried to run the tests as described. No changes yet outside the config file and patch I shared - I was trying to verify I had a working local test rig before I started changing anything.
--
Jeremy W. Sherman
http://jeremywsherman.com/

[2021-02-23 23:48] jeremy-w commented on #4297
Other config details: node version v14.15.4 with npm 6.14.10.

[2021-02-23 23:49] kibertoad commented on #4297
@jeremy-w Considering that CI on master is green, must be some local fluctuation, probably not even worth investigating unless there will be CI failures for the PR.

[2021-02-24 00:05] jeremy-w commented on #4297
I’ll try running with a more CI-like config then. 👍🏽 I need to start with a clean slate so I can know anything broken is my fault. 😂
--
Jeremy W. Sherman
http://jeremywsherman.com/

[2021-02-24 02:48] vy-ton commented on #2002
@intech @kibertoad Hi, Product Manager at Cockroach Labs here.

I would love to discuss how the work @intech started is going and how the CockroachDB team could help with these efforts?

[2021-02-24 03:14] jtomaszewski opened #4311 "Feature request: `findInBatches`"
Would you be interested in adding a function like `findInBatches` or something? That would return an `AsyncIterable` that lets one iterate over all the rows, with the knex querying the rows in bulks of `n` rows to avoid the `n+1` query problem.

We've made some basic implementation of that already here: https://github.com/ailohq/knex-utils/blob/master/src/knex-utils/findInBatches.ts . I could make

[2021-02-24 07:39] elhigu commented on #4311
Function will create multiple queries from a single query builder, which is against one of knex's base design principles (we have already broke that rule couple of time, which I regret).

Also there is no reason why this kind of complicated higher level functionality should be in knex core. I would suggest to implement and keep its development in a separate npm-module and we can mention it in knex

[2021-02-24 07:39] #4311 closed

[2021-02-24 13:37] jeremy-w commented on #4297
Got to green:

- Updated that integration2 file to respect the KNEX_TEST config.
- Updated my mssql knex_test DB config to match that established in the Docker file. The bits I was missing before were `ALTER DATABASE knex_test SET ALLOW_SNAPSHOT_ISOLATION ON; ALTER DATABASE knex_test SET DELAYED_DURABILITY = FORCED`. (I think it's only the "allow snapshot isolation" that was required, but the othe

[2021-02-25 14:55] dhensby commented on #1348
It looks like this issue can be closed as it was fixed in #1348?

[2021-02-25 14:57] kibertoad commented on #1348
@dhensby Do you mean #1401?

[2021-02-25 14:58] dhensby commented on #2304
fixed in #2757

[2021-02-25 15:02] #2304 closed

[2021-02-25 15:09] dhensby opened #4316 "mssql: schema-builder - mutliple altered columns results in syntax error"
# Environment

Knex version: 0.21.16
Database + version: mssql azure sql
OS: linux

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When attempting to

[2021-02-25 15:22] nickwhiteley commented on #1348
Fixed in PR #1401

[2021-02-25 15:22] #1348 closed

[2021-02-25 17:34] #4316 closed

[2021-02-26 00:32] jtomaszewski commented on #4311
I see, you have good reasons against accepting this. I understand. Thanks for the detailed response.

For now we'll keep it in the library of ours: https://github.com/ailohq/knex-utils/blob/master/src/knex-utils/findInBatches.ts . It's published to npm as `@ailo/knex-utils`, so if anybody wants to use that, or maybe even improve that, feel invited. We use knex quite heavily in our projects, so we'

[2021-02-26 00:34] kibertoad commented on #4311
@jtomaszewski If you feel like collaborating upstream, we have started https://github.com/knex/knex-utils a while ago, we could merge the two.

[2021-02-27 08:01] Mohammad4 commented on #3831
@Marguelgtz the issue occurred because the database has its own VPC, I solved the error by connecting to the VPC with a VPN. btw I could solve it using your solution but the issue that I can not add the IP for every device that will work with this db. thank you, dear.

[2021-02-27 17:33] himharsh1997 commented on #1795
select 1 doesn't require to go to any table so can't decide the performance base on your example.

[2021-02-28 00:58] marceliwac commented on #3115
I can confirm that I am also running into a similar issue (possibly related), where running two consecutive migrations using `migrate:latest` fails, as the second one throws an error. The first one is responsible for building schema for all tables, which works fine, but the latter which attempts to insert into those tables, fails with "relation xxx does not exist".

[2021-02-28 07:58] kamikazechaser commented on #3523
Still an issue. I suggest that the docs be changed to reflect the suggestions given above.

My stack trace:

[code]

[2021-03-01 09:16] Crusader4Christ commented on #4117
Please reopen

[2021-03-02 11:48] bartversluijs opened #4329 "MySQL2 stream option 'Illegal invocation' error"
# Environment

Knex version: 0.21.18
Database + version: MariaDB 10.2.37
OS: macOS 11.2.2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I want to connect to MySQL via an SSH tunnel. So I've set up an SSH tunnel via `ssh2` and used the `ssh2.forwardOut` to create the tunnel. This works as expected.

I've tried to create a connection with MySQL2 and query r

[2021-03-02 12:46] jeremy-w commented on #4297
@dhensby Thanks for your work on supporting setting the constraint name for `defaultTo`! Looking forward to the next release! 🎉

[2021-03-02 12:46] #4297 closed

[2021-03-02 15:04] dhensby commented on #4297
Ah, I hadn't seen this issue at all, or realised you were working on it. Sorry @jeremy-w if that meant any wasted time for you. Glad we've got it in, though!

[2021-03-02 19:29] kibertoad commented on #4117
@Crusader4Christ Wasn't this implemented in https://github.com/knex/knex/pull/4185 already?

[2021-03-02 19:29] kibertoad commented on #4117
You can test it by using 0.95.0-next3 or wait a bit until a final public release is out.

[2021-03-03 01:01] x80486 commented on #4032
I ran into the same thing; you can use the original approach if you use the `default export` instead. Took me a couple of hours to figure it out 😓

[2021-03-03 08:35] aghArdeshir opened #4335 "Preventing negative `offset` by default"
# Environment

Knex version: 0.21.17
Database + version:  `~#: mysql --version -> mysql  Ver 14.14 Distrib 5.5.62, for debian-linux-gnu (x86_64) using readline 6.3`
OS: Debian

# Bug

1. I mistakenly set a negative offset:
[code]
I mistakenly passed `0` to this function, and my query became:
`select * from `` order by `Time` desc limit 20 offset -20`

2. Error message
![Screenshot from 2021-03-03

[2021-03-03 19:55] kibertoad commented on #4246
Should be fixed in 0.95.0, please reopen if you still have an issue.

[2021-03-03 19:55] #4246 closed

[2021-03-03 19:58] kibertoad commented on #1368
Released in 0.95.0, please reopen if this still does not work for you.

[2021-03-03 19:58] #1368 closed

[2021-03-03 19:58] kibertoad commented on #2767
Released in 0.95.0, please reopen if you still experience the issue.

[2021-03-03 19:58] #2767 closed

[2021-03-03 19:59] kibertoad commented on #2607
Released in 0.95.0

[2021-03-03 19:59] #2607 closed

[2021-03-03 19:59] kibertoad commented on #3854
Released in 0.95.0

[2021-03-03 19:59] kibertoad commented on #3657
Released in 0.95.0

[2021-03-03 20:01] kibertoad commented on #4118
Released in 0.95.0

[2021-03-03 20:01] kibertoad commented on #4050
Released in 0.95.0

[2021-03-03 20:02] kibertoad commented on #4227
Fix was released in 0.95.0

[2021-03-03 22:43] jeremy-w opened #4337 "Unable to use most Knex types with my TypeScript code due to their not being exported"
# Environment

Knex version: 0.95.0

Updating from: 0.21.12, where the code shown later did work.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The types in typings should be exported so they can be used in applying types to code using Knex.

2. Error message

A config builder function declared like so:

[code]

Fails to compile with `tsc` due to Knex.Co

[2021-03-03 22:45] kibertoad commented on #4337
Taking a look now!

[2021-03-03 22:49] kibertoad commented on #4337
@jeremy-w Which TypeScript version are you using?

[2021-03-03 22:49] jeremy-w commented on #4337
Version 4.0.5

[2021-03-03 22:50] kibertoad commented on #4337
See UPGRADING.md for migration guide - `TypeScript version 4.1+ is needed`. I think that should resolve your problem!

[2021-03-03 22:51] jeremy-w commented on #4337
I'll give that a shot and let you know. :)

[2021-03-03 22:51] kibertoad commented on #4337
Thanks!

[2021-03-03 22:55] jeremy-w commented on #4337
That seems to have done it. Past the typings issue to the [tedious issue](https://github.com/tediousjs/tedious/issues/377).

[2021-03-03 22:55] #4337 closed

[2021-03-03 22:57] kibertoad commented on #4337
@jeremy-w If it's currently impossible to pass the necessary param to Tedious through knex, please raise an issue for us!

[2021-03-03 22:59] jeremy-w commented on #4337
Must be something else than that config flag - using `tedious` directly connects fine, but i'm hitting the error as described there - same error, different cause, presumably. If it boils down to a knex issue, i'll let you know. Thanks for your help!

[2021-03-03 23:01] kibertoad commented on #4337
happy to help! if you manage to resolve the issue, please post here too, most likely other users will encounter same problem.

[2021-03-04 00:32] paulo-santana opened #4338 "knex init command is looking for a stub knexfile on the wrong directory"
# Environment

Knex version: 0.95.0
Database + version: Not applicable
OS: Debian 10.8 "Buster"

# Bug

Whenever I type `knex init` or `npx knex init` I get an error that says the following:

[code]

After investigating, I realised the file it's looking for is actually at `node_modules/knex/lib/migrations/migrate/stub/knexfile-js.stub` (note the folder **migrations/** before migrate/

If necessary

[2021-03-04 05:42] kibertoad commented on #4338
PR would be appreciated!

[2021-03-04 05:42] #4338 closed

[2021-03-04 09:16] opravil-jan opened #4340 "Strange version number"
Hi,

the new version number 0.95.0 is correct version number or it is mistake and will be changed soon?

Thanks

[2021-03-04 10:07] kibertoad commented on #4338
Released in 0.95.1

[2021-03-04 10:08] kibertoad commented on #4340
Pretty intentional! It is supposed to be the last major version prior to 1.0.0, and numbering is intended to highlight that.

[2021-03-04 10:12] kibertoad commented on #4335
@Ardeshir81 Considering that error thrown by driver in this case is pretty confusing, I think throwing an explicit error from Knex would be an improvement. PR would be most appreciated.

[2021-03-04 10:24] manbomb opened #4342 "Auth error with current user"
# Environment

Knex version: 0.21.2
Database + version: postgres 12.5
pg pakage on node: 4.5.5
OS: ubuntu

# Bug

When I try to run `npx knex migrate:latest` I have this error response:

[code]
module.exports = {
  development: {
    client: 'pg',
    connection: {
      host: process.env.HOST,
      database: process.env.DB,
      user: process.env.USER,
      password: process.env.PASS
    },

[2021-03-04 10:25] kibertoad commented on #4342
Judging by the error, password is wrong. Try using debugger or outputting it using console to see if it is what you think it is, likely configuration is wrong.

[2021-03-04 10:25] #4342 closed

[2021-03-04 10:26] Ardeshir81 commented on #4335
That's good news @kibertoad . I'll start working on it. I'll ask your help if I had problem understanding things.

[2021-03-04 10:30] manbomb commented on #4342
This is the log saved:

`
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@6.14.4
3 info using node@v10.19.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle migrations@1.0.0~prestart: migrations@1.0.0
6 info lifecycle migrations@1.0.0~start: migrations@1.0.0
7 verbose lifecycle migrations@1.0.0~start: unsafe-

[2021-03-04 10:32] manbomb commented on #4342
I have made a connection  using these user, pass, db and host. It worked fine. The pass is correct.

[2021-03-04 10:33] manbomb commented on #4342
I have made a connection using these user, pass, db and host. It worked fine. The pass is correct.

[2021-03-04 10:34] kibertoad commented on #4342
@manbomb Add `console.log(process.env.PASS)` to confirm that it is what you expect it to be. In 95% cases this error is caused by wrong configuration.

[2021-03-04 10:38] manbomb commented on #4342
@kibertoad The password showed is correct

[2021-03-04 10:41] kibertoad commented on #4342
And user "ubuntu" is also correct?

[2021-03-04 10:44] kibertoad commented on #4342
If all else fails, my recommendation would be to try to invoke knex Migration API programmatically (http://knexjs.org/#Migrations-API) and try to debug what is happening, which exact parameters are being passed to the driver in the end. We don't do any magic on PostgreSQL credentials, they should be passed as-is, so it is unlikely that problem is on knex side specifically, but it is hard to figure

[2021-03-04 10:52] manbomb commented on #4342
ubuntu is the username of my EC2 machine, but my db username is other.

[2021-03-04 10:56] manbomb commented on #4342
I have made this connection using psql directly:

`psql --host=database.xxxxxxxxxxx.us-east-2.rds.amazonaws.com --port=5432 --username=postgres --password --dbname=singdb`

Using the same credentials.

[2021-03-04 10:58] kibertoad commented on #4342
@manbomb Please read the logs that you pasted.
[code]

You are passing `ubuntu` as a username. Why and how - I don't know, but this is definitely a wrong configuration issue.

[2021-03-04 11:07] manbomb commented on #4342
You are right. When I call process.env.USER the returned value is the current user. I have changed the name of the key in env file to USER_DB and it is working. Thanks @kibertoad. Sorry about my english.

[2021-03-04 11:08] kibertoad commented on #4342
np!

[2021-03-04 11:55] opravil-jan commented on #4340
Ok. Thanks for explanation.

[2021-03-04 12:52] szabolcsmaj commented on #4028
A general question for this issue: what is the added value of storing the file extension of a migration file anyway?

Just as others do, I use typescript to work locally but ship js to production. I still don't see how to make the migration work at deployment without ugly hacks or custom workarounds.

My goal was to run `npx knex-migrate` (I know it's not `knex` but the end result should be the sa

[2021-03-04 13:34] jeremy-w commented on #4337
@kibertoad OK, I figured it out. I'll need to file a bug and an enhancement request.

## BUG: duplicate connect: use on('connect') not connect()
First off: The TDS_VERSION was a red herring. The version being used was fine, which my test directly using tedious confirmed.

The issue instead is an illegal state operation. The connection failure is due to knex triggering connect when a connect is alr

[2021-03-04 13:38] kibertoad commented on #4337
@tylerjwatson Could you take a look at last comment?

[2021-03-04 14:52] #4340 closed

[2021-03-04 19:08] immutablesyntax opened #4343 "knex@0.95.1 fresh install doesn't install typescript definitions."
# Environment

Knex version: 0.95.1
Database + version: mysql@2.18.1
OS: Ubuntu 20.04

# Bug

-knex@0.95.1 fresh install through npm doesn't install typescript defintions for the package

Fix - fixed the issue by installing previous stable version of knex@0.21.19 and then updating the knexjs package. The type definitions started showing again.

[2021-03-04 19:16] kibertoad commented on #4343
Do you use TypeScript version 4.1 as per https://github.com/knex/knex/blob/master/UPGRADING.md?

[2021-03-04 23:02] tylerjwatson commented on #4337
Holy moly, there is a _lot_ of stuff in that comment.

1) Am I right in assuming there's a connection issue in mssql?  I haven't been able to reproduce anything of that sort.

2) I am not familiar with `driver.map` and haven't implemented anything of that sort in mssql tedious, can I please get some help outlining that mechanism?

3) The debug thing I can do.

[2021-03-04 23:04] tylerjwatson commented on #4337
@jeremy-w are you able to provide a minimal reproducible sample so I can test what I am fixing is working?

[2021-03-04 23:16] tylerjwatson commented on #4337
Upon further investigation, Microsoft's own sample at https://www.microsoft.com/en-us/sql-server/developer-get-started/node/mac/step/2.html doesn't work.  It's not possible to avoid calling `.connect()` in tedious, and that pattern is used everywhere in tedious' own samples.

[2021-03-04 23:47] jeremy-w commented on #4337
Hmm. I ran that first sample, and it connected successfully. Which is a useful tell.

I now suspect I somehow wound up with an older Tedious package: There was a breaking change on 13 January https://github.com/tediousjs/tedious/commit/16b10bf0f01d998de3aadfac2e2794d20aed4775#diff-a6be0583428e46844273df76939f02077073da3075716fc57d291a5f2463eaf5 that moved from autoconnect on construction to waitin

[2021-03-04 23:55] jeremy-w commented on #4337
Confirmed Knex 0.95.0 has a peer dep constraint of ^11.0.3 https://github.com/knex/knex/blob/0.95.0/package.json#L60 and the Tedious breaking change happened in v10.0.0 https://github.com/tediousjs/tedious/releases/tag/v10.0.0 so I’m at a loss for how I wound up with new Knex and old Tedious installed without npm yelling at me. But that appears to be the root of my issue.

I hope this helps anyone

[2021-03-05 00:00] tylerjwatson commented on #4337
@jeremy-w Perfect! I'm glad the fix was a simple one.

[2021-03-05 01:07] jeremy-w commented on #4337
That’s what’s odd: It was installed (I ran the Microsoft sample code), but it was _old._ Missing would have been obvious; version-incompatible was a total surprise to me!

[2021-03-05 02:39] abcd-ca commented on #233
how can I do a case insensitive order by? with a raw query I could do `ORDER BY lower("firstName"), lower("lastName")`

[2021-03-05 03:44] jtal commented on #233
It looks like I +1 request for this feature in 2016. I no longer remember
what a knex is. But I'd like to renew my +1, for old times' sake. Lets get
case insensitive order by in whatever this thing is!

On Thu, Mar 4, 2021 at 7:39 PM Andrew Blair <notifications@github.com>
wrote:

[2021-03-05 05:10] immutablesyntax commented on #4343
Yes, I do. I am currently on Typescript 4.1.5.

Another issue I found that the intellisense for knex methods also don't show up on a fresh install of knex. Only after reverting back to previous version and then upgrading to 0.95.1 they start to show up again.

A fresh install of knex@0.95.1 through npm only adds 17 packages, while knex@0.21.19 used to add 153 packages.

[2021-03-05 08:25] rizkyramadhan commented on #3523
Yes this still happen to me... instead of setting pool, I think it's better if we have know how to catch time out and recover properly.

[2021-03-05 11:49] terkolaka opened #4346 "0.95 with old type behaviour"
# Environment

Knex version: 0.95
mySQL + 5.7:
OS: macOS
Node: 14.16
NPM: 6

When using "type": "module" in package.json, is there any way to get old (0.28) behaviour of types export.

I am getting errors in the VS Code and when run node app

![image](https://user-images.githubusercontent.com/80103765/110111723-71681380-7db9-11eb-868d-f5b8dd45a373.png)

![image](https://user-images.githubuserconte

[2021-03-05 12:20] kibertoad commented on #4346
See https://github.com/knex/knex/blob/master/UPGRADING.md for migration guide.
I believe what you are looking for is `import { knex, Knex } from 'knex'`

[2021-03-05 12:24] kibertoad commented on #4346
Please let me know if that works!

[2021-03-05 12:27] kibertoad commented on #4346
All these import styles should work.

[code]

[2021-03-05 13:46] terkolaka commented on #4346
No, it doesn't works

Just a point that i am using js files with type=module in package.json because the import/export which I found more comfortable to use.

![image](https://user-images.githubusercontent.com/80103765/110123197-42f23480-7dc9-11eb-8b2d-6da87ffc8c15.png)
![image](https://user-images.githubusercontent.com/80103765/110123735-f4916580-7dc9-11eb-96f6-f81b8b9e7920.png)

[2021-03-05 14:09] kibertoad commented on #4346
`Knex` is a type/namespace, so doesn't exist outside of TypeScript world. What are you trying to use it for?

[2021-03-05 14:32] cormacrw opened #4347 "Types don't seem to be included with npm package ( or at least they aren't being found )"
# Environment

Knex version: 0.95.1
Database + version: mysql
OS: Windows

@lorefnon
# Bug

## Behavior
When attempting to build the typescript project lots of errors are flagged from the `/knex/types/index.d.ts`

The project still builds correctly and runs fine.

tsconfig.json:
[code]

dependencies:
[code]
2. Error message
[code]

[2021-03-05 14:34] kibertoad commented on #4347
As per https://github.com/knex/knex/blob/master/UPGRADING.md, could you try updating your TypeScript to 4.1+?

[2021-03-05 14:35] terkolaka commented on #4346
With 0.21 I got autocomplete in VSCode which doesn't appears on 0.95

![image](https://user-images.githubusercontent.com/80103765/110129414-9a47d300-7dd0-11eb-9af2-2295e8817b96.png)

[2021-03-05 14:36] kibertoad commented on #4346
@lorefnon Considering the amount of breakage observed by users, probably I'll just revert the export changes in 0.95.0 and switch to the old behaviour. Looks like there are still edge cases that are not handled correctly.

[2021-03-05 14:37] cormacrw commented on #4347
That worked thanks! sorry should've spotted that..

[2021-03-05 14:37] #4347 closed

[2021-03-05 14:45] kibertoad commented on #4346
I hope it can still be fixed thoough. @terkolaka could you create a simple repro repo for this problem?

[2021-03-05 16:43] terkolaka commented on #4346
@kibertoad sure, https://github.com/terkolaka/knex021test here it works with 0.21 but not in 0.95

[2021-03-05 21:57] gustavosizilio opened #4349 "toString formating date to local timestamp"
Hello guys, I have a table with the last_update value, which is a timestamp with timezone on Postgres 9.

If I execute the command, everything works fine!

[code]

But if I store the toString of the command to execute later, which is basically what I need, I have a problem. The toString method is converting the dates before outputting the string... In other words, the command above is not the same

[2021-03-06 01:40] elhigu commented on #4349
.toString() should be used only for debugging purposes.

[2021-03-06 01:40] #4349 closed

[2021-03-06 12:42] sebastian-nowak opened #4351 "knex@0.95.1 generates inconsistent constraint names in PostgreSQL"
# Environment

Knex version: 0.95.1
Database + version: PostgreSQL 13
OS: n/a

# Bug

Run the code:

[code]

It generates the following queries:

[code]

Notice how one constraint name correctly preserves the CamelCase (`TestTable_pkey`) while the other one ignores it (`testtable_otherid_foreign`). Knex should be consistent and either always keep the original formatting or always convert it to low

[2021-03-06 13:26] sebastian-nowak commented on #266
Yikes, this issue is almost 7 years old and it's still not supported. Is there a way to chain `.raw()` with `table.integer()` to add a `check` that I'm missing?

[2021-03-06 14:29] kibertoad commented on #266
@sebastian-nowak PR implementing this is welcome!

[2021-03-06 17:15] kibertoad commented on #4343
@immutablesyntax We dropped liftoff, that reduced amount of dependencies.

[2021-03-06 17:23] kibertoad commented on #4351
@sebastian-nowak Is this a new behaviour in 0.95? I checked the code and it is like to be pretty old.

[2021-03-06 17:30] kibertoad commented on #4351
@elhigu We have this code in generic Tablecompiler:

[code]
Can you think of a good reason for lowercasing there? PG Tablecompiler doesn't lowercase anything.

[2021-03-06 19:37] sebastian-nowak commented on #4351
You're right it was like this for a while, I haven't used Knex before.

Maybe whoever added the `.toLowerCase()` there simply wasn't sure whether he can keep the original formatting? It's a generic compiler so it was a safer bet. Also, this module defaults to lower case for SQL keywords (`select` instead of `SELECT` etc) so it could have been personal preference too.

I think we can rather safely

[2021-03-06 21:13] kibertoad commented on #4351
@sebastian-nowak I'm mostly concerned that at this point changing logic would be something of a breaking change, because it is possible that someone wrote constraint-manipulating SQL (e. g. for dropping some of the constraints by name) taking the knex behaviour into consideration, and changing observable behaviour outside of semver major is not a good thing to do. And considering that original log

[2021-03-07 05:25] vishvajitgirase opened #4353 "Error: No event 'socketConnect' in state 'SentPrelogin'"
I am trying to connect mssql database with node.js using knex but i am facing issue
Error: No event 'socketConnect' in state 'SentPrelogin'
at Connection.dispatchEvent (C:\Users\temp\Documents\PRactice\node_modules\tedious\lib\connection.js:1281:26)
at Connection.socketConnect (C:\Users\temp\Documents\PRactice\node_modules\tedious\lib\connection.js:1303:10)
at C:\Users\temp\Documents\PRactice\node

[2021-03-07 05:45] mouhannad-sh opened #4354 "Feature proposal: support postgres json_build_object function"
# Environment

Database + version: PostgreSQL - all versions that support `json_build_object`

# Feature discussion / request

## Use case

As I'm building reports and analytics APIs over the past few years I found myself always needing to implement nested responses that need to fetch columns/records from different tables.

In many use cases the final outcome would look like:

[code]
usually my qu

[2021-03-07 10:10] thousandsofraccoons opened #4355 "On conflict on constraint upsert + postgres"
# Environment

Knex version: 0.95.1
Database + version: PostgreSQL 13.0, compiled by Visual C++ build 1914, 64-bit
OS: Win 10

# Feature discussion / request

https://knexjs.org/#Builder-onConflict

I haven't found in the documentation how to upset rows with unique constraints.

Given following constraint:
[code]

I trying to perform upsert with following code:
[code]

Which generates
[code]

For

[2021-03-07 10:45] kibertoad commented on #4353
Remove mssql dependency and replace it with latest tedious version, that should work.

[2021-03-07 10:50] kibertoad commented on #4354
Is this a PostgreSQL-specific feature, or it is possible to find equivalents elsewhere? For pg-specific features I think that different module would make more sense, e. g. the knex-utils, or a dedicated module, extending the querybuilder (take a look at knex-paginate for an example).

[2021-03-07 12:58] elhigu commented on #4354
Just having a helper for specific part of the select (like you have done it) is better way than having dedicated select just for this kind of queries... I would hate to see knex API having tens of `.selectXXXConversionFunction` methods, while they usually could be implemented as completely isolated helpers for conversion.

[2021-03-07 12:59] elhigu commented on #4354
There was a place `knex.fn.` for those which are  somehow usable with multiple databases.

[2021-03-07 15:22] gustavosizilio commented on #748
Actually, you cant. As @elhigu commented on the other issue (https://github.com/knex/knex/issues/4349) you cant do as @wubzz  suggested. So, this is not a proper answer.

[2021-03-07 15:23] gustavosizilio commented on #748
We have a bug if we follow this approach @wubzz. Please, look at the closed issue (https://github.com/knex/knex/issues/4349)

[2021-03-07 17:08] elhigu commented on #748
@gustavosizilio im sure @wubzz knows all about that. If you want something like this, please open proper feature request and it can be discussed there. This thread is really outdated.

[2021-03-07 17:10] elhigu commented on #748
...and you might be able to use .toSQL() and combine sql strings + bindings to a single raw query, but I have no idea which drivers supports it.

[2021-03-07 21:09] gudleik opened #4357 "Cannot read property 'QueryBuilder' of undefined"
Compiling and running a simple typescript example results in `TypeError: Cannot read property 'QueryBuilder' of undefined`.

# Environment

Knex version: 0.95.0
Node version: 14.16.0
Typescript version: 4.2.3

# Steps to reproduce:

[code]

Create a test.ts file with:
[code]

Then
[code]

This yields the following error:
[code]

The `Knex` variable is not exported from the package, only `knex`.
A

[2021-03-07 21:14] kibertoad commented on #4357
@gudleik What are you trying to achieve?
`Knex.QueryBuilder` is a compilation-time type, you can't log it.
What is the example that you are trying to follow?

[2021-03-07 21:21] gudleik commented on #4357
The issue is that I have code like

[code]

The compiled output of this typically looks like
[code]

And this won't execute because `Knex` is not exported

[2021-03-07 21:24] kibertoad commented on #4357
@gudleik try
[code]

[2021-03-07 21:27] gudleik commented on #4357
But that won't even compile

[code]

[2021-03-07 21:55] kibertoad commented on #4357
That does sounds like a problem with our types. I'll take a look tomorrow. Code itself should work, I think we just miss a type there.

[2021-03-07 21:55] kibertoad commented on #4357
@gudleik Can you try adding ts-ignore for now and see if code itself works?

[2021-03-07 22:05] gudleik commented on #4357
Yeah, the code works fine with ts-ignore 👍

Not sure if there are any undesired side effects, but adding this to knex.js seems to work fine:

[code]

[2021-03-07 22:15] kibertoad commented on #4357
@gudleik And TypeScript is happy with that too?

[2021-03-07 22:25] gudleik commented on #4357
Yes

[2021-03-07 22:43] kibertoad commented on #4357
@gudleik Could you try using version from #4358? I believe it should work correctly with `knex.QueryBuilder`

[2021-03-08 07:56] gudleik commented on #4357
yes, the pull request version works 👍

[2021-03-08 13:56] terkolaka commented on #4346
No it still doesn't works. May be something on my VS Code. But I think that it's because refer to Knex types which is not exported anymore. Thank you for your support @kibertoad

[2021-03-08 14:07] kibertoad commented on #4346
@terkolaka Can you update your example repo to show what is not working?

[2021-03-08 17:53] manbomb opened #4359 "Double callback action, update is not working"

[2021-03-08 17:57] machineghost commented on #1699
Any news on this?

If there's no fix coming, could we just get a single line added to the documentation for .enum ... something to the effect of:

?

[2021-03-08 18:07] kibertoad commented on #1699
@machineghost PR for this would be most welcome :)

[2021-03-08 18:25] #4359 closed

[2021-03-08 21:18] #4357 closed

[2021-03-08 23:52] brandondoran commented on #4355
@thousandsofraccoons If I recall correctly, I accomplished this by passing and array of column names that make up unique key instead of the key name.

[2021-03-09 03:12] btilford commented on #2037
Where in the docs repo? I'm surprised all the examples I've found pipe the raw results back to an express response.

[2021-03-09 06:33] elhigu commented on #2037
![image](https://user-images.githubusercontent.com/696345/110428571-28160d80-80b2-11eb-8752-608a1e51d5da.png)

there

[2021-03-09 06:55] Alucard17 commented on #4292
hey @kibertoad  can I take this issue?

[2021-03-09 07:28] bentesha commented on #3678
Anyone working on this? Would like to create a PR

[2021-03-09 14:57] fengkx opened #4360 "Error: no pg_hba.conf entry when using postgresql"
# Environment

Knex version: 0.95.1
Database + version: PostgreSQL 13.2
OS: Ubuntu (Heroku postgres running on Ubuntu)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I can't connect to the database using the `DATABASE_URL` env var provided by heroku. But I can connect to it with postgreSQL cli

2. Error message

[code]

Then I try to add ssl=true query in

[2021-03-09 17:09] sebastorama commented on #266
I don't really mind messing with raw migrations. One problem that I'm having is that I can't handle errors from PG check constraints. As in:

[code]
I have a check constraint not allowing special chars for the name field, yet this test fails:
[code]
It's possible to do a migration with just raw sql, no big deal, you tend to deal with migrations only a few times, but I have no idea how to handle th

[2021-03-09 17:35] machineghost commented on #1699
How does one submit a documentation PR?  I don't see any files for the website in the main repo: is there a separate one for the documentation site?

[2021-03-09 18:37] kibertoad commented on #1699
Yup! https://github.com/knex/documentation

[2021-03-09 21:43] Ardeshir81 commented on #4335
I'm only familiar with `mysql`. Is negative offset invalid for all databases?

[2021-03-10 04:24] vishvajitgirase commented on #4353
It worked thank you for help.

[2021-03-10 09:45] elhigu commented on #4360
Try to connect directly with pg driver. If that works we can re-open. Closing as this doesn't seem like a knex bug.

[2021-03-10 09:45] #4360 closed

[2021-03-11 08:19] sebastian-nowak commented on #4351
That's a good point, it could affect existing migrations. One possible solution is to make the new behavior opt-in in knex config, and it would become enabled by default only when there's a major release.

I think the majority of users prefer snake case for columns names, so they were not affected. Bigger projects would usually set key and constraint names manually to avoid surprises like this, so

[2021-03-11 09:11] ungrim97 opened #4364 "UnionAll + First generates invalid SQL"
# Environment

Knex version: 0.95.1
Database + version: Postgresql 9.6
OS: Alpine docker running on Mac BigSur 11.2.1

# Bug

1. The following knex query:

[code]

generates the following sql

[code]

2. Error message
```ERROR:  SELECT * with no tables specified is not valid at character 8```

3. Reduced test code

https://runkit.com/ungrim97/6049dd2b75fafb00195923c2

4. Expectation

That code did

[2021-03-11 09:44] santialbo opened #4365 "Knex.QueryBuilder.extend and 0.95.x"
# Environment

Knex version: 0.95.1
Database + version: doesn't matter
OS: doesn't matter

@lorefnon

# Bug
Upgrading to 0.95, I upgraded my knex extensions in TypeScript as follows

[code]

This fails with `TypeError: Cannot read property 'QueryBuilder' of undefined` because `Knex` is only a type namespace.
[code]

The following does work however but needs the any because the types are incorrect.

[2021-03-11 18:08] kibertoad commented on #4365
@santialbo Please update to (just released) 0.95.2, `knex.QueryBuilder.extend("whereLike", ... );` should work there!

[2021-03-11 18:08] #4365 closed

[2021-03-11 18:09] kibertoad commented on #4357
@gudleik 0.95.0 with the fix released!

[2021-03-11 18:13] kibertoad commented on #4346
@terkolaka Could you please try checking out my fork at https://github.com/kibertoad/knex021test.git and see if still doesn't do IntelliSense correctly for you? As far as I've checked, it should work that way.

[2021-03-12 02:04] kempsteven commented on #1064
Source: https://chartio.com/resources/tutorials/understanding-strorage-sizes-for-mysql-text-data-types/

TINYTEXT: 255 characters - 255 B
The TINYTEXT data object is the smallest of the TEXT family and is built to efficiently store short information strings. This type can store up to 255 bytes (expressed as 2^8 -1) or 255 characters and requires a 1 byte overhead. This object can be used to store

[2021-03-12 11:16] intech commented on #2002
@vy-ton Sorry for the long awaited response.
Right now I have added the previously missed `WINDOW` functions to my checklist.
As for the progress of the work, I have been busy for a while, but I will return to the task soon. For me it is very relevant in my current work.

[2021-03-12 11:50] vdegenne commented on #2820
This feeling when you think you'll spend the entire day trying to fix such a damn issue, but you find the right spot and the right people that ease the pain in a flash 😃

[2021-03-12 14:33] rijkvanzanten opened #4369 "[SQLite] `dropForeign` is silently ignored"
# Environment

Knex version: 0.95.2
Database + version: SQLite (any)
OS: macOS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using [`.dropForeign()`](http://knexjs.org/#Schema-dropForeign) in SQLite, it's silently ignored. When inspecting the queries made, it correctly creates a new temp table for the `alterTable` call, but fails to strip out the `F

[2021-03-12 14:36] rijkvanzanten commented on #4369
I'm also a little confused why the tests haven't caught this 🤔

There is [an integration test for foreign keys](https://github.com/knex/knex/blob/master/test/integration/schema/foreign-keys.js) that does seem to test for this:

https://github.com/knex/knex/blob/2bce36e3eef467354f47370802379fcac56d1084/test/integration/schema/foreign-keys.js#L80-L91

but it still passes in SQLite..

I did see that

[2021-03-12 15:24] nickrum commented on #4369
I think the issue with the integration test is that it doesn't actually check if the foreign key constraints have been deleted.

[2021-03-12 15:53] rijkvanzanten commented on #4369
I'd expected that insertion on 86 to throw an invalid key constraint error though, seeing it didn't delete the foreign key constraint 🤔

[2021-03-12 16:15] nickrum commented on #4369
Yeah right, but the test would pass anyway without an `expect` assertion, wouldn't it? 🤔

[2021-03-12 16:25] rijkvanzanten commented on #4369
Hmm I was under the impression that an unexpected error (in this case the throw from `insert`) would mark the test as failed. You might be right tho!

[2021-03-12 17:33] workatease opened #5909 "Update Doc for Date.now"
Need to update the doc where Date.now() is used as it is not supported by all Databases.
https://github.com/knex/documentation/blob/ffc142397086583b0843cc2680db417995ae2429/sections/builder.js#L1758

as Date.now() generates a number, eg 1615566339809. Does that work cross-database?
and it throws error  as ` date/time field value out of range: "1615567689268"`

suggestion to change to new Date() in

[2021-03-12 21:51] bentesha commented on #3678
@kibertoad is there a guideline on how singular/prurals should be handled in error messages? Need feedback on the below
[code]

[2021-03-13 02:07] umaar opened #4370 "[SQLite] Support .returning in the latest SQLite"
[`.returning()`](http://knexjs.org/#Builder-returning) doesn't work on SQLite, however it looks like their latest version does support it now: https://nalgeon.github.io/sqlite-3-35/

Any chance of getting this working in Knex? Thanks

[2021-03-13 04:03] thekevinbrown opened #4371 "TypeError: The operator "~=" is not permitted"
# Environment

Knex version: 0.21.19
Database + version: PostgreSQL 12
OS: Mac OS 11.2.1 (Big Sur)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When trying to use the ~= operator that's supported by PostgreSQL, I get:

[code]

2. Error message

TypeError: The operator "~=" is not permitted

3. Reduced test code, for example in https://npm.runkit.com/kne

[2021-03-13 07:23] Alucard17 commented on #4292
hey @yodhcn can you provide the compiled SQL query of above mentioned example.

[2021-03-13 08:33] #4371 closed

[2021-03-13 08:36] kibertoad commented on #4370
@umaar We depend on node-sqlite driver for that, which is only on 3.32.3 for now (https://github.com/mapbox/node-sqlite3/releases/tag/v5.0.1).
As soon as update version of driver is released, we'll check if any changes on our end will be needed for `returning` to work correctly with SQLite.

[2021-03-13 12:58] bentesha commented on #3678
@kibertoad
I would appreciate feedback on PR #4374

[2021-03-14 00:55] JulianSoto commented on #738
This works for me

https://knexjs.org/#Builder-onConflict

[2021-03-15 00:39] umaar commented on #4370
Thanks for raising an issue there! https://github.com/mapbox/node-sqlite3/issues/1453

[2021-03-15 13:30] nickrum commented on #4369
I just checked it and it seems like tests indeed pass even if there was an exception. Mocha even says `No unhandled exceptions`. Maybe this is due to the test being asynchronous.

But in this case the `insert` doesn't throw an exception because apparently if you drop a composite foreign key by specifying the individual columns, all foreign keys are dropped.

[2021-03-15 16:38] bentesha commented on #4251
@JefferyHus You should be able to programmatically run `knex migrate:up migration-filename.js` using the `knex.migrate.up` API. Tested and working fine on my end

[code]

I am able to run migration-2 with below script

[code]
I am able to verify this with:
[code]

[2021-03-15 20:45] #4369 closed

[2021-03-17 13:31] thefoxie opened #4378 "[Feature] Support package.json imports in CLI (migrate/seed)"
# Environment

Knex version: 0.95.2
Database + version: PostgreSQL 13.2
OS: Arch Linux

# Feature discussion / request
I use aliases to import modules/files. https://nodejs.org/api/packages.html#packages_imports
package.json
[code]
randomSeedFile.js
[code]
I get error when I use it with knex cli for seeds
`Error: Cannot find module '##/database/helpers/models.js'`

[2021-03-18 18:19] Sugan-Joe opened #4379 "READ ONLY User Can't take lock to run migrations"
# Environment

Knex version:0.95.2
Database + version: Postgres
    "pg": "^8.3.0",
    "pg-connection-string": "^2.3.0",

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
2. While using  READ ONLY user to access DB for local development, the application tries to take lock to run migrations but fails because of RO access (below error). Is there a way to avoid

[2021-03-18 18:28] Sugan-Joe opened #4380 "New READWRITE DB user fails DB connection"
# Environment

Knex version:0.95.2
Database + version:
Postgres
"pg": "^8.3.0",
"pg-connection-string": "^2.3.0",

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Initally Created postgres DB with master user, connection from application through knex client works perfect. Now created a new DB user with RW access, while connecting to DB with new RW user, tri

[2021-03-19 13:25] adamlove01 opened #4381 "Add 'cjs' to list of Seeder.js extensions to support Node "type": "Module" projects"
# Environment

Knex version: 0.21.17
Database + version: postgres (PostgreSQL) 11.5
OS: MacOS Big Sur 11.2.3
NodeJS: v14.15.1

# Bug

I am running NodeJS with ES modules enabled ("type": "module") and with Knex running with .cjs extension:

knexfile.cjs
knex.cjs

Migration files and seed file also have .cjs extension:
migrations
   ↳ articleTable.cjs
   ↳ userTable.cjs
seeds
   ↳ articleTable.cjs

[2021-03-19 13:29] kibertoad commented on #4381
@adamlove01 Could you please send a PR for this?

[2021-03-19 13:40] adamlove01 commented on #4381
Sure!

[2021-03-19 14:19] adamlove01 commented on #4381
https://github.com/knex/knex/pull/4382

[2021-03-19 14:19] VictorLessa commented on #3158
Good morning guys I need a way to remove the warnning logs, how do I do this?

[2021-03-19 15:54] wouthoekstra opened #4383 "sqlite parameters in raw query fail to bind"
# Environment

Knex version:
Database + version: sqLite 3.32.3
OS: Ubuntu

# Bug
Bindings seem to bind too late. After executing a bulk insert query I get the following error:

[code]
If executed directly, the sql as shown in the error works as expected.

The executed code is the following:
[code]

Note that according to the sqlite docs I should have done something like `VALUES (?,?,?,?),(?,?,?,?)

[2021-03-20 16:47] kamikazechaser commented on #4360
This is a workaround fix:

[code]

Then in heroku config vars set: `PGSSLMODE=no-verify`

[2021-03-21 08:28] vladshcherbin commented on #4340
Such versioning is just confusing and insane 😕

[2021-03-21 12:34] elhigu commented on #4340
@vladshcherbin it did get your attention though, so seems like it did what it was meant to do. Insane is pretty strong word to describe it 😕

[2021-03-21 16:57] vladshcherbin commented on #4360
Also having this issue, previous projects used to work on heroku with just `DATABASE_URL`, now there is an ssl error.

@elhigu can you please share how to connect directly for test?

[2021-03-21 17:17] vladshcherbin commented on #4360
I've managed to solve this by following [example from heroku docs](https://devcenter.heroku.com/articles/heroku-postgresql#connecting-in-node-js):

[code]

`PGSSLMODE` alternative is also mentioned there at the bottom.

[2021-03-21 23:34] #2211 closed

[2021-03-22 09:38] elhigu commented on #4380
Maybe that table is in wrong schema / DB or somehow not visible for your new user. You could try to remove the old table or change the owner of it to new user.

[2021-03-22 09:42] elhigu commented on #4379
Sounds like expected behaviour. Migrations by definition does changes to the DB.

[2021-03-22 09:42] #4379 closed

[2021-03-22 17:09] vinusorout opened #4385 "MSSQL query is not correct"
# Environment

Knex version: 0.95.2
Database + version: MSSQL

# Bug
I am trying to simply select get date in select query, I am using knex to just creating queries,  like
[code]
Following is my code:
[code]

Expected query should be
[code]

But I am getting:
[code]

Error: '[' with 'GETDATE' function is causing the issue while executing the statement.

[code]

[2021-03-22 17:16] kibertoad commented on #4385
You should use knex.raw instead of just passing string there. See this: https://github.com/knex/knex/issues/146

[2021-03-22 17:16] #4385 closed

[2021-03-22 17:22] vinusorout commented on #4385
Thanks @kibertoad , it is now working

[2021-03-23 06:02] sitentweb opened #4386 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/knex) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2021-03-23 11:35] pkantsedalov commented on #1217
@MrEfrem thank you very much for your comment. `PostgreSQL` really has this problem: **`if you have bigint as an id column data type in your knex_migrations_lock table, then this error persists`**.

[2021-03-23 18:43] Zeswen opened #4388 "Feature request: TABLESAMPLE"
It would be great to have the `TABLESAMPLE` functionality (available from PostgreSQL 9.5 onwards) on the `QueryBuilder`.

https://www.postgresql.org/docs/12/sql-select.html#SQL-FROM
https://wiki.postgresql.org/wiki/TABLESAMPLE_Implementation

[2021-03-23 22:13] slim-hmidi opened #4389 "Objection 2.x does not support knex 0.95"
# Environment

Knex version: 0.95.2
Database + version: postgresql 13
OS: windows 10
typescript: 4.2.3
ts-node: 9.1.1
nodemon: 2.0.7

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
When I launch the app with nodemon I got many errors concerning knex/types
2. Error message
[code]

[2021-03-23 22:19] rijkvanzanten opened #4390 "Order of schema `alterTable`"
# Environment

Knex version: 0.95.0
Database + version: MS SQL Server 2019
OS: macOS Big Sur

# Bug (/ Possible Improvement)

MS SQL doesn't allow you to alter a column if said column has a unique index ("object") associated with it. Therefore, running something like:

[code]

will instantly fail with

[code]

In order to solve this, I figured I'd drop the unique constraint first, alter the column

[2021-03-23 22:21] rijkvanzanten commented on #4390
Follow up question (in case this is an XY-problem): should Knex abstract this error away altogether? We could update the MS SQL dialect to temporarily remove any indexes before doing the column alter, and add it back in. I know that the line between SQL generator and Database Abstraction is very blurry nowadays, but seeing that we're effectively doing the same thing on steroids on the SQLite side

[2021-03-24 04:59] kibertoad commented on #4389
Please check the migration guide: https://github.com/knex/knex/blob/master/UPGRADING.md
There were breaking TS changes.

[2021-03-24 05:00] kibertoad commented on #4389
Note that Objection will only support knex 0.95+ in 3.0 which is yet to be released.

[2021-03-24 10:54] mrenigman opened #4392 "Missing hints in the IDE"
# Environment

Knex version: 0.95.2
OS: Windows 10

# Bug

After the last update, I lost the hints in my IDE. On version 0.21.15, they were.
![image](https://user-images.githubusercontent.com/65979419/112298915-b2649100-8cb0-11eb-9a75-52c25aac66b7.png)
0.95.2
![image](https://user-images.githubusercontent.com/65979419/112298969-c27c7080-8cb0-11eb-98d7-0e7ff5c01cd3.png)
0.21.15

[2021-03-24 13:03] #4355 closed

[2021-03-24 14:42] rijkvanzanten commented on #4369
@kibertoad I hate to be _that guy_, but when is the next patch release scheduled? 😁
This fix is a pretty massive deal for us, as our SQLite migrations are totally bust 👀

[2021-03-24 15:25] kibertoad commented on #4369
@rijkvanzanten Apologies for the delay, another swamp surge came in and consumed me entirely. Appreciate the ping, will do the release tonight.

[2021-03-24 15:28] rijkvanzanten commented on #4369
No worries! I totally understand the business and _life_ getting in the way 😄

[2021-03-24 16:41] dimitrov-adrian commented on #4346
I think this is the same as #4392

I personally solve it with jsdoc hints and ts import.

So in the upper example

[code]

or in type

[code]

Hope it helps!

[2021-03-24 17:34] JasonDictos opened #4393 "Inserting uuid's always adds {}'s around causing postgresql to error"
# Environment
Database + version: Postgresql (Docker) 13.2 (Debian 13.2-1.pgdg100+1)
Knex version: 0.95.2
OS: Windows 10 x64 20H2

# Bug

I'm using uuids as a primary key:
[code]
2. Error message
Every time I try to select the row by its id like so:

```knex.table("entity").select().where("id", id)```

It generates a query with braces around the string:
``` "{"236f7763-8d9a-4230-a1cc-d07ef9698513"

[2021-03-24 17:37] JasonDictos commented on #4393
Not reproducible, I think the data type was an array instead of a string

[2021-03-24 17:37] #4393 closed

[2021-03-24 18:45] ZRELOLERZ commented on #1077
I had the same the same problem in WSL. What worked for me was using `sudo`

[2021-03-25 06:39] MuhammadZaidSE commented on #3387
@andrew-caines did you solve this issue? If yes! what was the solution?

[2021-03-25 07:59] ankitverma0786 opened #4394 "How to use Oracle ListAgg function inside Knex JS"
# Environment

Knex version: latest
Database + version:  oracle 12c
OS: windows

@atiertant How to use Oracle LISTAGG function inside Knex.JS query builder, i'm writing query below which is giving error.
@lorefnon

# Bug

Query is:
knex.select('TB_RL_USERS.ID_USER',
		'LISTAGG(TB_RL_GRP_USER_OUTLETS..ID_BUSINESS_OUTLET_ITEM, ', ') WITHIN GROUP(ORDER BY TB_RL_GRP_USER_OUTLETS..ID_BUSINESS_OUTLET_IT

[2021-03-25 09:45] kibertoad commented on #4369
Released in 0.95.3.

[2021-03-25 14:20] calevio commented on #1128
What I ended up doing was adding:
[code]
to `webpack.config.js` so that it doesn't bundle them (adjust for the connector you're using), and then doing:
[code]
Where prefix is the webpack output directory, right after `npm run build` (or `webpack` command)

[2021-03-25 17:10] kibertoad commented on #4392
@kur4ch I'm open to doing non-breaking adjustments on knex side that would result in hints being restored. Can you try doing changes to knex locally and see what brings hints back? Technically speaking, index.d.ts should still work, as default export is the `knex` builder function, so I am confused as to why IDE wouldn't catch that properly, if TypeScript does.

[2021-03-25 20:20] himharsh1997 commented on #2820
Hi! guys in my application I was facing (sometime in between)
 **TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?**

My config of knex is

[code]

and I'm using it something like
[code]

[2021-03-25 20:23] himharsh1997 opened #4395 "Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
Hi! guys in my application I was facing (sometime in between)
 **TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?**

My config of knex is

[code]

and I'm using it something like
[code]

[2021-03-25 23:13] vintagexav commented on #4395
Did you try adding the following?

[code]

Connection is automatically closed when on connection idle after idleTimeoutMillis

[2021-03-25 23:38] Duarte007 opened #4396 "Cannot use namespace 'Knex' as a type"
Knex version: 0.95.3
Database + version: MySQL 5.6
OS: Debian GNU/Linux 9 (stretch)

I am having problem with typescript and knex. When I try to type a Knex variable using the Knex interface defined in index.d.ts it seems that the namespace is overwriting the interface and I get the following error: "Cannot use namespace 'Knex' as a type."

This started to happen when I updated the knex to latest

[2021-03-25 23:39] kibertoad commented on #4396
@Duarte007 Could you please share your code? Also did you check the migration guide?
https://github.com/knex/knex/blob/master/UPGRADING.md

[2021-03-25 23:44] Duarte007 commented on #4396
@kibertoad the migration guide solved my problems !! Sorry about that, I hadn't seen it yet

[2021-03-25 23:51] #4396 closed

[2021-03-25 23:52] kibertoad commented on #4396
np! glad it worked

[2021-03-26 04:03] bentron2000 opened #4397 "Missing type definition for isTransaction()"
Hi all,

The documented `isTransaction` property on transactions is missing from the typescript definition. I would submit a PR but I do not know how to write such a thing. Apologies.

B

[2021-03-26 05:14] himharsh1997 commented on #4395
idleTimeoutMillis: 600000

Did we really require this. There must be default value less than this.

[2021-03-26 09:27] elhigu commented on #4395
You are creating transactions and  never committing/rolling them back. That fills the pool until there is no connections left.

Better way to use transactions with automatic commit/rollback is like this:

[code]

[2021-03-26 09:27] #4395 closed

[2021-03-26 12:48] monotykamary opened #4398 "bug(type): Incorrect typing for stream() method"
# Environment

Knex version: 0.95.3
Database + version: Postgres 13
OS: Ubuntu 20.04

Select applicable template from below.
~If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.~
~Rest of dialects don't need tags.~
If issue is about TypeScript definitions, tag @lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Example quer

[2021-03-26 13:05] himharsh1997 commented on #4395
Sorry, at the time I write sample code I mistakenly forget to add commit/rollback but I have added them in actual code. But still getting the same error in between.

[2021-03-26 13:16] himharsh1997 opened #4399 "Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
Hi! guys in my application I was facing (sometime in between)
 **TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?**

My config of knex is

[code]

and I'm using it something like
[code]

[2021-03-26 13:19] himharsh1997 commented on #4399
Please don't close it quickly.

[2021-03-26 13:22] elhigu commented on #4395
Another error there is that you are creating a new query, which is outside of transaction for every result line:

[code]

Depending on result set size, those queries can overwhelm DB and are not ran fast enough to meet the acquireTimeout. Other possible problem is that if that code is ran concurrenctly many times it is possible that first 100 concurrent transactions take all the connections and th

[2021-03-26 13:26] himharsh1997 commented on #4395
I didn't get the context of "Another error there is that you are creating a new query, which is outside of transaction for every result line:"

[2021-03-26 13:27] himharsh1997 commented on #4395
So using this way we will never fall into this error and connection will get manage properly?

[2021-03-26 13:28] elhigu commented on #4399
Cannot reproduce. Code above doesnt throw that error. Can be reopened if complete reproduction code with database initialization is provided (in this case database rowcounts etc are important for reproduction).

[2021-03-26 13:28] #4399 closed

[2021-03-26 13:30] himharsh1997 commented on #4399
It is throwing error sometime like 3-4 times a day.

[2021-03-26 13:30] elhigu commented on #4395
It can still happen, but probably in that case you need more resources to the database, since error will be caused because of DB not being able to handle queries fast enough.

[2021-03-26 13:31] elhigu commented on #4395
[code]

That query is not executed through the same transaction that the first query is.

[2021-03-26 13:32] himharsh1997 commented on #4395
But I passing all the same transaction instance created in first like outside the try catch block.

[2021-03-26 13:46] himharsh1997 commented on #4395
We are using db.m6g.large

[2021-03-26 15:59] yhaskell opened #4401 "Knex tries to drop `not null` during alter table migration"
# Environment

Knex version: 0.95.3
Database + version: PostgreSQL 12.5
OS: MacOS 11

# Bug

I am trying to write a migration that changes a type of a column to the other type:

[code]

Migration #1 passes correctly and is not relevant in any way except for providing example structure.

Migration #2 fails (for both primary and alternative version) with the following message:

[code]

I added a log

[2021-03-26 18:12] #4398 closed

[2021-03-26 18:16] kibertoad commented on #4398
Released in 0.95.4

[2021-03-27 00:47] OzzyTheGiant commented on #97
Still getting the same error as others are. You know what's even weirder? It's not even UTC time. I have a datetime string set at 17:00:00 in the database, and when Knex fetches it, if it's converting to UTC, it should be 23:00:00 but no, it's 22:00:00, so that means I have to offset by 5 hours when it should be 6 hours.

[2021-03-27 13:50] tkalliom commented on #873
Lack of support for this does not always lead to an invalid query. If one wanted to delete rows for which there exists a counterpart by some criteria, `knex("a").join("b", ...).del();` might seem natural – “since it’s an `INNER JOIN`, rows from `a` which are not joined to anything are not touched”. However, that quietly produces `DELETE FROM a;`. Supporting queries like that would be nice, but in

[2021-03-27 14:57] kibertoad commented on #4389
We are waiting for https://github.com/Vincit/objection.js/pull/1992 to be merged.

[2021-03-27 18:23] slim-hmidi commented on #4389
@kibertoad thanks for your answer.

[2021-03-28 14:54] elhigu commented on #4401
That is how it was designed to work http://knexjs.org/#Schema-alter
. If you want to keep .notNullable() constraint after .alter() it should be given in the alter statement:

[code]

Though looks like it doesn't work for changing primary key column type (it actually only works for some really basic cases). I suppose that it could recognize when primary column in PG is modified and not try to drop

[2021-03-28 19:47] yhaskell commented on #4401
I also noticed that if you provide the constraint, it first deletes it and then applies it again.

Tuat is an easier way to do it I guess, but it doesn't work in cases like that.

I think it might be doable to check if there is still a not null able constraint and in this case not generate drop not null at all.

Or make it explicit (which would be a breaking change)

[2021-03-29 07:11] marniwild commented on #2952
Probably didn't do a npx knex init. Solved problem for me

[2021-03-29 08:56] peey opened #4403 "`Error: Cannot chain .first() on "insert" query!` for queries with `returning`"
# Environment

Knex version: 0.21.19
Database + version: Postgres 13
OS: Linux/Docker

# Bug

1. I cannot issue this query: `await this.knex('table').insert(data).returning('id').first()`
   I should be able to, because knex wraps results of `returning` into an array (whether this is needed or not, I do not know)

2. Error message

[code]
3. Reduced test code:  https://runkit.com/6050519d497187001

[2021-03-29 09:14] peey commented on #4403
This also happens on "update" queries.

[2021-03-29 18:11] tomhoad opened #4404 "ESM Import: no such file or directory, open 'lib/migrations/migrate/stub/mjs.stub'"
# Environment

Knex version: 0.95.4
Database + version: Postgres 13
OS: Mac OS 10.14.6

# Bug

1. I have a `knexfile.mjs`:

[code]

I run:

[code]

2. Error message:

[code]

[2021-03-29 19:12] B4nan commented on #3351
Actually this is still not working properly. While #4194 is great for advanced sqlite migrations, here it was never needed - in the OP I was asking for support to add new column with a FK - which is possible with sqlite without doing the temp table magic. Currently knex will first add the new column as one query, and then tries to do the temp table magic - but the new column is not yet added in th

[2021-03-29 22:29] maximelkin commented on #4403
Knex.js before used Bluebird for promises, which have .first() method. Current version uses native promises.

[2021-03-29 23:18] maximelkin commented on #4403
I think .first() on update could be confusing, i.e.
`knex('table').update({column: 2}).returning('id').first()` => Should it return random id from updated rows, or limit all updates to only 1 row?

[2021-03-30 06:42] himharsh1997 commented on #4395
Absolutely agree with you. From my code when I try to debug query in knex using DEBUG:knex:* I found out that all query executing in the same transaction but the connection is not getting release back at the end to the pool after taken. I try your method which automatically commit + release connection back to pool on return and rollback on throw error.

[2021-03-30 10:03] peey commented on #4403
@maximelkin I think your objection could equally well apply to `select` and `insert`

In the case of `select`, does knex append `limit` to the query or does it execute the original query but doesn't retrieve results beyond the first result from the results cursor?

If it's the former then I'd agree that there can be a confusion, in case of the latter I think it should follow the same semantics as

[2021-03-30 16:33] maximelkin commented on #4403
Yes, knex apply limit 1

[2021-03-30 16:36] TheMeteoRain commented on #4389
Not sure if I'm barking the same tree, so I won't make a new issue.

The namespace that knex is providing to import is kinda odd. I have checked multiple times that it should work and that it's exported correctly and pointing to the right namespace. Yet I keep getting this error.

[code]

This is how I import my Knex namespace

`import { Knex } from 'knex'
`

[2021-03-30 16:40] kibertoad commented on #4389
Which TypeScript version are you using?

[2021-03-30 16:46] kibertoad commented on #4389
@TheMeteoRain See the migration guide: https://github.com/knex/knex/blob/master/UPGRADING.md
4.1+ is needed.

[2021-03-30 16:51] TheMeteoRain commented on #4389
Really!? I did read that just before commenting, but seems like I missed that part.
First time i've come a cross typescript version requirement hitting so close to my own.

I've just updated my typescript. Seems to be working now. Well, thanks for that!

[2021-03-31 07:33] peey commented on #4403
In that case I think I misunderstood it.

It'd still be nice to have some syntax when you know you're only getting back a single result, e.g.

[code]

but I don't know how valid this is as a feature for inclusion in knex, perhaps it's better off as a utility in my own code (e.g. `.then(single)` where `single = rows => rows[0]`)

[2021-03-31 07:33] #4403 closed

[2021-03-31 14:56] ziyaddin opened #4407 "Update query response mismatch for PostgreSQL"
# Environment

Knex version: 0.95.4
Database + version: PostgreSQL 13.2
OS: MacOS

@lorefnon

# Bug

I want to update a user record. I am running an example code like this:

[code]

Then I log the value of `numUpdatedUsers` to view the count of updated rows:

[code]

The expected type of `numUpdatedUsers` is `any[]` but I get a value with type `number` instead:

[code]

# Missing / erroneus docume

[2021-03-31 15:40] cerino-ligutom commented on #2756
Any updates on this?

[2021-04-01 06:29] JE-lee opened #4408 "knex.raw can't excute two SQL statements"
# Environment

Knex version: 0.21.17
Database + version: mysql 8.0+
OS: any
# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

the code beflow can work
[code]

but with two SQL statement, it fail

[code]
2. Error message
[code]

[2021-04-01 09:22] elhigu commented on #4408
Looks like the query where from your error message is coming from and query you have entered here are not the same... error says that your query has `COMMENT` part.

[2021-04-01 14:33] JE-lee commented on #4408
I have reduced my code for privacy。so this is the

For privacy, I streamlined my code before. I have re-updated my question.
You can reproduce that.

[2021-04-01 15:45] ziyaddin opened #4409 "Allow .string() to create varchar field with unlimited length if length is not specified on PostgreSQL"
# Environment

Knex version: 0.95.4
Database + version: PostgreSQL 13.2
OS: MacOS 10.15.7

# Feature discussion / request

Currently, there is no way to create `varchar` field with unlimited length with the help of `.string()`.

I would expect to get `varchar` with *unlimited length*, if I **do not specify** length like this:

[code]

and `varchar` with *specific length*, if I **specify** length l

[2021-04-01 16:00] martinmacko47 commented on #2211
@kibertoad I've found another case when cancelling timeouted queries in a transaction fails on MySQL:

[code]

As the queries are in the transaction, they get queued in the driver which sends them to DB one by one. As all queries will timeout at approximately the same time, all their `KILL QUERY ?` commands will be also sent to DB at approximately the same time. Therefore they will kill only the f

[2021-04-01 23:09] bakewellcake commented on #2186
any updates to this?

[2021-04-02 11:27] pate313373 commented on #2764
I agree, calling stored procedures with both input and output parameters would be quite a basic feature needed.

[2021-04-03 13:39] LorhanSohaky opened #4410 "Unable to run migration in Typescript"
# Environment

Knex version: `^0.95.4`
Database + version: `sqlite3@^5.0.2`
OS: Linux

# Bug

@lorefnon, I trying to use the knex in my migrations, but when I run its raised a exception.

[code]

20210401032203_createDatabase.ts
[code]

knexfile.ts
[code]

the command that I ran
[code]

[2021-04-03 14:16] elhigu commented on #4408
You need to  enable multi-query support in mysql connection parameters. Also it may make your code vulnerable to SQL injection attacks. Check more info from mysql driver docs.

[2021-04-03 14:16] #4408 closed

[2021-04-03 14:17] elhigu commented on #2186
yep, still closed

[2021-04-04 13:20] izzuddinraffar opened #4411 "How to Join two differences database, MySQL with PostgreSQL"
Hi everyone..

I have two differences db, mysql and postgresql to create a leftjoin
the figure as below:

// **db** is postgresql configuration
// **db_old** is  mysql configuration

[code]

thanks for helping me (y)

[2021-04-04 15:42] elhigu commented on #2764
@pate313373 would you like provide PR for this needed basic feature.

[2021-04-04 16:57] pate313373 commented on #2764
Basically, the example [at tedious](https://github.com/tediousjs/tedious/blob/master/examples/stored-procedure-with-parameters.js) should be more than sufficient to implement a `StoredProcedure `class for knex.

Unfortunately, I have 3 projects with thight deadlines at the moment, so I'm using knex and the npm package mssql natively at the same time. - However, I really don't like this workaround.

[2021-04-04 17:07] kibertoad commented on #2764
@pate313373 As long as API is DB-agnostic and could potentially be implemented for other databases (which should throw an error for now), that would be an option.

[2021-04-04 21:35] TimNZ opened #4412 "% formatters not escaped in debug output"
# Environment

Knex version: 0.95.4
Database + version: Postgres 13.2
OS: OS X

# Bug

% formatters e.g. %c not escaped in DEBUG output for bindings.
As per screenshot

<img width="990" alt="knexbug" src="https://user-images.githubusercontent.com/1051701/113522099-2298de00-95f2-11eb-9932-bedf4823216f.png">

[2021-04-05 11:04] elhigu commented on #4412
Why % should be escaped?  Also in the first debug print you are just printing out an array that has nothing to do with knex. In the second example if you do something like .where('col', '%') having `%` in bindings is expected.

[2021-04-05 15:00] Lesnock commented on #3017
@tariq-tb Thanks!
It worked for me!

Because of that, I changed all my migrations (for creating tables) adding:
[code]

[2021-04-05 17:32] TimNZ commented on #4412
@elhigu  Ok another lazy screenshot and a tighter description.
This is only about the DEBUG output.

I'm using Objection js.

As you can see in the screenshot, Objection debug above the Knex debug shows '%c%' for the third binding value.

I know Knex is sending '%c%'  binding value to Postgres as it returns the expected results for the query.

But '%c' is being stripped from the debug output in Kn

[2021-04-05 20:52] elhigu commented on #4412
Ok right, now I get it 👍 `c%`  is stripped out. Maybe that formatter support could be turned off from debug library or does it provide escaping support or something like that?

[2021-04-05 22:56] TimNZ commented on #4412
Going by https://github.com/visionmedia/debug#formatters, you just need to replace '%' with '%%' before you send it to debug

[2021-04-06 06:48] elhigu commented on #4411
Closing as knex usage questions should go to gitter or stackoverflow (which is told in issue template).

[2021-04-06 06:48] #4411 closed

[2021-04-06 06:56] elhigu commented on #2211
Actually also in postgresql it is configurable behaviour if transaction should fail when one of the queries sent to it fails. Is it possible to make mysql to rollback transaction implicitly in that case too?

I'm not sure what actually should be done in this case... Maybe it is better to open new issue for this.

[2021-04-06 11:28] asteinarson opened #4414 "Diffficulty using Knex w TypeScript from an ES module"
# Environment

Knex version: 0.95.4
Database + version: PG 12.x
OS: Ubuntu 20.04 on WSL2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Using the Knex library (in TypeScript) from a CommonJS module and an ES module (ES6 imports) should work the same. (Which it did in version 0.21.x when I last used it). It no longer does.
With a more elaborate syntax, I ca

[2021-04-06 11:35] kibertoad commented on #4414
@asteinarson Do you have an idea what needs to be tweaked from Knex export side for that to work? Would love to support it, but wonder if it's even possible without breaking support for non-EMS.

[2021-04-06 13:22] kibertoad commented on #4414
@asteinarson Well, I know exactly which PR affected this behaviour: https://github.com/knex/knex/pull/4181

However, I don't think it became worse. Previously named imports were not supported at all, the only option was to import the whole thing. Now it "works in most cases". Wonder if it can be made to work always.

What does ESM need from code side for named import to work?

[2021-04-06 13:50] asteinarson commented on #4414
Hmm, as stated above, this works from both CJS and ESM:
[code]
If there are some options in _tsconfig.json_ that would break this, I don't know.
The settings `allowSyntheticDefaultImports` and `esModuleInterop` did not change anything when I tested different things.

Keeping the type object separate from the JS knex object makes sense to me. And strictly speaking, the JS knex object is a default e

[2021-04-06 15:38] morgler commented on #1414
Though this might be out of scope for knex, it would be great to see an example mentioned in the docs. As others have said, SSH is a common way to connect to a DB and thus a common stumbling block for getting started with knex.

[2021-04-06 16:52] martinmacko47 opened #4415 "`.timeout(ms, {cancel: true})` for with queued queries in transaction"
# Environment

Knex version: current `master`
Database + version: MySQL - any version
OS: any

# Bug

If we queue multiple slow queries with timeouts in a transaction, not all of them will get cancelled after timeouting. E.g.:

[code]

As the queries are in the transaction, they get queued in the driver which sends them to DB one by one. As all queries will timeout at approximately the same time,

[2021-04-06 16:53] martinmacko47 commented on #2211
@elhigu Ok. I opened a new issue for it: #4415

[2021-04-06 16:54] martinmacko47 commented on #4415
This bug was originaly mentioned in https://github.com/knex/knex/issues/2211#issuecomment-812007040, where @elhigu commented:

[2021-04-06 17:43] martinmacko47 commented on #4415
We could use `KILL CONNECTION ?` instead of `KILL QUERY ?` in `cancelQuery` method for MySQL. This would close the entire connection. Then the reamining queued queries will crash immediately:

[code]

And also the final attempt to `COMMIT` will crash:
[code]

However I didn't manage to handle those errors properly, to raise `KnexTimeoutError` instead, and to discard the connection from the pool.

[2021-04-06 17:53] martinmacko47 commented on #4415
I created a PR #4416 with an attempt to fix it by removing the timeouted queries from the driver queue. However the solution messes with the driver internal queue quite a bit, so I'm not sure it's safe. But I haven't come up with any other working solution yet.

[2021-04-06 18:52] frbuceta opened #4417 "Knex is not a constructor"
# Environment

Knex version: 0.95.4
OS: MacOS 15

TypeScript TAG -> @lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I am extending a class with Knex and it gives me an error

2. Error message

TS2507: Type 'typeof knex' is not a constructor function type.

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   da

[2021-04-06 18:53] kibertoad commented on #4417
See `https://github.com/knex/knex/blob/master/UPGRADING.md`
You should be using `import {knex, Knex}`

[2021-04-06 20:35] frbuceta commented on #4417
It doesn't work either.

With knex -> TS2507: Type 'typeof knex' is not a constructor function type.
With Knex -> TS2507: Type 'typeof Knex' is not a constructor function type.

[2021-04-06 20:36] frbuceta commented on #4417
The example is like this but it doesn't work either

[code]

[2021-04-06 20:43] kibertoad commented on #4417
Do you use TypeScript 4.1+?

[2021-04-06 20:44] kibertoad commented on #4417
Also it is important to note that `knex` is, indeed, not a class and never was. If it worked previously, it's by mere coincidence and shouldn't be relied upon.

[2021-04-06 20:46] kibertoad commented on #4417
You can see working example of latest knex here: https://github.com/knex/knex-utils/blob/master/test/integration/helpers/knexInstanceProvider.ts

[2021-04-06 21:05] elhigu commented on #4415
I mean... is there a way to setup mysql to also automatically rollback transaction if any of the queries fail. Current functionality is consistent with postgresql, since any failing query (for example insert conflict) will rollback the postgresql transaction, but it won't rollback in mysql.

So wouldn't making timeout to be a special case rolling back in mysql would make knex behaviour more incons

[2021-04-06 21:06] elhigu commented on #4415
I'm still not convinced that this behaviour even should be changed.

[2021-04-06 21:10] elhigu commented on #1414
Feel free to add an example for it to github wiki.

[2021-04-06 21:55] ps2goat commented on #4389
were 0.94.x versions removed?!

[2021-04-07 12:12] martinmacko47 commented on #4415
@elhigu

Not that I'm aware of. But even if there is such option, the timeouted query cancelation should work reliably even without using this option.

Not really. It would be nice for MySQL and Postres to behave consistently, but it is probably not possible, as their query cancellation commands behave differently.

My goal it to make cancelation of timeouted queries working reliably also in trans

[2021-04-07 12:31] martinmacko47 commented on #4415
Sorry, we probably didn't understand each other. No, I don't want to rollback the transaction in MySQL, I just want to cancel timeouted queries. And yes, preferably without closing the transaction nor the connection if possible.

Btw, even in Postgress the user may still resurrect their transaction after it is marked failed. They can create a savepoint before the slow query, try run it, and roll b

[2021-04-07 12:34] LucasHFS commented on #4397
Trying to fix in PR #4418 , any changes needed let me know :) .

[2021-04-07 14:09] martinmacko47 commented on #4415
Another example to demonstrate to problem:

[code]

**Expected behaviour**
1. Query A is sent to DB. Query B is queued.
2. After one second: Query B raises timeout exception and is cancelled. Query A is left running in DB.
3. After two seconds: Query A completes
4. After three seconds: No query is running in DB

**Current behaviour**
1. Query A is sent to DB. Query B is queued.
2. After one second

[2021-04-07 15:29] ariden84 commented on #3523
you can reproduce the bug in any environment by entering

`    "pool": {
      "min": 0,
      "max": 1
    },
    "acquireConnectionTimeout": "10"`

a max pool to 1 or an acquireConnectionTimeout to 10ms and call several requests in a row

[2021-04-07 16:01] elhigu commented on #4415
Ah right... looks like there wasn't any switch in DB for that, but only setting for `psql` which is indeed implemented with implicit savepoints. https://www.postgresql.org/docs/current/app-psql.html

[code]

[2021-04-07 17:01] ziyaddin commented on #4410
@LorhanSohaky you have a TypeScript error and that error interrupts your migration process. The reason of error is having `noImplicitAny` flag enabled in project's `tsconfig.json` file. More about the flag [here](https://www.typescriptlang.org/tsconfig/#noImplicitAny).

[2021-04-08 08:28] NelsonFrancisco commented on #3523
I got some timers running and making queries. First query fails if settings are as @ariden84 said
[code]

[2021-04-08 09:11] oddeirik opened #4421 "Tedious option 'trustServerCertificate' missing from types"
# Environment

Knex version: 0.95.4
Database + version: SQL Server 2017 and Azure SQL
OS: Windows and Ubuntu

Typescript definitions tag: @lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I have an MS SQL server with a self-signed certificate, which means I need to set the trustServerCertificate in mssql/tedious options. However, it seems the optio

[2021-04-08 10:05] LVMuser opened #4422 "Add constraint when specifying schema syntax error"
# Environment

Knex version: 0.21.17
Database + version: Postgres 12.3
OS: Windows 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Creating unique constraint on column of table in specified schema `test` creates malformed SQL, I would expect
` alter table "test"."user" add constraint "user_pkey" primary key ("id")`
or
` alter table "test"."user" add con

[2021-04-08 10:11] LVMuser commented on #4422
Apologies, I missed `withSchema()`

Answer for my own issue here.

[code]

[2021-04-08 10:11] #4422 closed

[2021-04-08 11:08] itsameandrea opened #4423 "Error while migrating: canceling statement due to statement timeout"
# Environment

Knex version: 0.21.19
Database + version: Postgres 12.4
OS: Ubuntu 20.04

# Bug

1. Running a migration to create a materialized view. The migration is failing with a timeout error. Worth noting that the actual code works when the tables don't have much data. However, those tables combined have ~4M rows.

Running the same query in DBeaver works as expected.

2. canceling statement d

[2021-04-08 12:34] Jakub41 opened #4424 "How to solve syntax error near a SELECT inside a join"
Hello,

I'm searching help about an issue I got building a Knex query and after asked around and no responses, I hope here I could find the solution which will unblock my work :)

I hope you will be able to give me the right solution

The query is giving this error:

[code]

The error happens in the `SELECT`inside the `.join()` and the SQL generated from it gives same error and I share also the ra

[2021-04-08 18:12] sdemjanenko opened #4425 "Knex returns Result object instead of empty array of results"
I've noticed the following behavior
[code]

The behavior of the 2nd and 3rd cases is what I expect. I do not expect a Result object to ever be returned when I provide a `returning` as part of the query.

[2021-04-09 08:08] B4nan commented on #3351
Can we reopen this or should I create new issue? As mentioned above, this is still not fixed at all, the original issue in the OP is not addressed, and the new way via `generateDdlQuery` just fails in a different way (as the create temp table query ignores the just added column).

I was able to get around this for simple columns by patching knex again, but it is rather nasty hack than a real solut

[2021-04-09 10:42] elhigu commented on #4425
shouldn't first one throw an exception from database because of invalid query? also not following issue template and missing information.

[2021-04-09 10:44] elhigu commented on #4425
yeah... with pg it generates completely empty query https://runkit.com/embed/5ykovnc5ix0v might run with success, but I would rather say that it is invalid usage of knex.

[2021-04-09 11:18] elhigu commented on #4424
Usage question and doesn't follow issue guidelines.

[2021-04-09 11:18] #4424 closed

[2021-04-09 17:09] LorhanSohaky commented on #4410
I found out that the error was due to the typescript version.

It would be interesting to warn this type of error when run any action, as eslint does

![image](https://user-images.githubusercontent.com/16273730/114216393-3d928780-993d-11eb-8a88-4b409ec43674.png)

[2021-04-09 21:03] corysimmons commented on #3158
**Tip:** If you're mutating a record in the database, and you have the input data, just return that directly upon a successful mutation.

ExpressJS example:

[code]

I ***think*** this is correct, but someone feel free to correct me.

[2021-04-09 23:05] ffxsam opened #4427 "Is there any chance of seeing more feature-complete Postgres support?"
# Environment

Knex version: 0.95.4

# Feature discussion / request

Is there any chance that we'll see more complete support of Postgres when it comes to query-building? There are a few things that aren't possible with knex, such as `UPDATE...FROM` and `DELETE...USING`. It would be great to see these officially included.

[2021-04-10 09:00] elhigu commented on #4427
APIs for those features should be designed database agnostic way so that they can be implemented easily for most of the supported DBs. Please open separate feature request for each feature and API proposals etc. can be discussed in those separately.

For update from this is older feature request https://github.com/knex/knex/issues/2796 if someone likes to implement it. PRs would be welcome.

Closi

[2021-04-10 09:00] #4427 closed

[2021-04-10 12:25] ziyaddin commented on #4410
I think the error was not related to the TypeScript version you had. `noImplicitAny` flag is a part of `tsconfig.json` file which is an integral part of any TypeScript project regardless of the TypeScript version the project uses.

[2021-04-11 00:47] LorhanSohaky commented on #4410
But I changed the typescript version from `3.x` to `4.y` and it worked

[2021-04-11 21:53] sdemjanenko commented on #4425
Given that insertions may be stored in a variable and that variable may be an empty array, I think knex should do the expected thing and return the same type (or throw an error). Returning a Result object certainly is not what I expected it to do and led to a runtime error in my code.

[2021-04-12 02:17] Linksku opened #4428 "with() doesn't work with update statements?"
# Environment

Knex version: 0.95.2
Database + version: MySQL 8.0.22
OS: WSL Ubuntu 20

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When using `with()` with `update()`, the `with` statement doesn't appear in the query.

2. Error message

None

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to

[2021-04-12 12:50] LucasHFS commented on #1767
@kibertoad I would like to send a PR. This would be my fist PR, some advice?

[2021-04-12 15:26] kibertoad commented on #1767
Thank you!

[2021-04-12 16:49] LucasHFS commented on #1767
I'm new to the lib & this would be my first PR, I'm sutdying the lib, can I consider **.fromRaw** a convenience helper for `.from(knex.raw(query))` like the **.whereRaw** is to **.where** case? I'm accepting advices 😃

[2021-04-12 20:23] wholebuzz commented on #3112
`knex.raw()` seems to be replacing question marks within strings.  e.g. `knex.raw(INSERT INTO foo (bar) VALUES ('hello ?')` gets inserted with `hello $25`.  I was trying to use `knex-migrate-sql-file` to do some bulk INSERTs from a pg_dump file and everything blew up with corrupted data.

[2021-04-12 21:04] wholebuzz commented on #3112
I created PR https://github.com/ozum/knex-migrate-sql-file/pull/4 to escape question marks in SQL file.  Any suggestions appreciated.  Works better than it did for me, but I worry there's more edge cases to trip over in the future.

[2021-04-12 21:21] JakeHamix commented on #3779
I have just encountered the same issue! I've been trying to reuse my functions, that are defined as Knex queries quite nicely in my project. However, the fact that the `with` queries are not moved to the top in **Oracle** nor **MSSQL** makes it a real pain to deal with - and quite frankly ruins the idea of query reusing. I am currently using my own fork (more pain) with this behavior implemented,

[2021-04-12 22:27] LucasHFS commented on #1767
Made a PR #4429  to solve this, if there's some change needed let me know.

[2021-04-13 05:44] JeongJuhyeon opened #4430 "Knex returning single row while generated SQL returns multiple"
# Environment

Knex version: 0.21.15
Database + version: Postgres 13.2
OS: Docker

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

All rows should be returned

2. Error message

Only one row is returned

Knex generated SQL:

[code]
The generated query is correct so no problem there.

This very much looks like a node-postgres issue rather than Knex but is th

[2021-04-13 05:53] elluard opened #4431 "How can I use query without from clause"
# Environment

Knex version: 0.21.19
Database + version:
OS: Postgresql 12.6

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Questions about how to use knex

Hello,

I use knex to develop my service

I have a question during using this

[2021-04-13 06:17] JeongJuhyeon commented on #4430
Issue seems to lie in extract(DAY FROM __) in node-postgres returning different value than in psql.

[2021-04-13 06:17] #4430 closed

[2021-04-13 06:18] elhigu commented on #4431
knex.select(knex.raw('nextval(??)', ['sequenceName']))

[2021-04-13 06:18] #4431 closed

[2021-04-13 12:14] ShadabFaiz602 opened #4432 "Muliple Join response in nested json format"
I have 2 tables.
1. User
2. Address
3. OTHER

I want to join these 3 tables and get the response in nested json format.
[code]

I have seen a post here where it is demonstrated for postgress, but how can i do the same in mysql?

Link to the post to postgress example:
https://github.com/knex/knex/issues/61#issuecomment-390277477

[2021-04-13 17:31] vy-ton commented on #2002
@intech That sounds great!
I can also set up a video call with our engineers? They can provide insights into the remaining failed tests.

[2021-04-13 17:35] frbuceta commented on #4417
Ok, Thanks. I'm going to close this issue

[2021-04-13 17:36] kibertoad commented on #4417
we still need to update examples

[2021-04-14 07:22] av131996 opened #4434 "Compatibility between knex and mock-knex"
#4434 #knex compatibility

Knex version: 0.95+
Database + version:
OS:

@atiertant

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I've updated my knex package to 0.95.4 and my tests, which are made using mock-knex failed.

2. Error message
 Unable to locate version: 0.95.4

      // Mock the connection if running jest
       if (config.mock) {
       Mock

[2021-04-14 15:24] koistya commented on #3463
Consider generating TypeScript definitions from the actual database schema (right after migration).

Using `knex-types` will generate the following output:

#### Schema (migration)

[code]

#### Generated types

[code]

https://dev.to/koistya/generate-typescript-definitions-from-postgresql-4i6l

[2021-04-14 19:29] Cellule opened #4435 "Add typings for on JoinClause for `onVal`"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `knex@0.21.15` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-04-14 19:32] kibertoad commented on #4435
Thank you!
Would you be open to submit a PR for this?

[2021-04-14 19:33] Cellule commented on #4435
Related #2746

[2021-04-15 03:47] boostbob opened #4437 "remove peerDependencies and keep peerDependenciesMeta only."
The npm v7 will install peerDependencies automaticly, it will install mysql,mysql2,pg,sqlite3,tedious, so just keep peerDependenciesMeta will be suitable.

[2021-04-16 05:42] JeongJuhyeon commented on #2173
This works perfect:

[code]

Being able to substitute knex-built subqueries into raw queries is such a fantastic feature!

[2021-04-16 06:39] muhammetkocyigit0 opened #4438 "MSSQL connection crash"
# Environment

Knex version: 0.95.4
Database + version: MSSQL 2016
OS: Windows Server 2016

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I created a basic mssql db connection with knexjs. Its was work great before but i getting this error right now.

2. Error message
Uncaught Error: No event 'socketConnect' in state 'SentPrelogin'

[2021-04-16 07:43] elhigu commented on #4438
that error is coming from mssql drive so knex cant do much about it. Also cannot reproduce.

[2021-04-16 07:43] #4438 closed

[2021-04-16 18:38] javonclarke opened #4439 "Knex failing to compile with Typescript - "Type error: Type expected""
# Environment

Knex version: 0.95.4
Typscript version: 4.0
ts-node: 8.10.2
Database + version: p=PostgreSQL 11
OS: MacOS & Ubuntu

I've been using Knex successfully in development. When I try to build and deploy, I get a typescript compile error. After inspecting the code, I also get bunch of lint errors around the block of code that causing the build issues.

I'm using Nextjs framework in typescr

[2021-04-16 18:54] kibertoad commented on #4439
0.16.1 is very old. Have you tried using newer Knex? Also which TypeScript version are you using?

[2021-04-16 18:56] javonclarke commented on #4439
I followed the install instructions - I didn't specifying a version.

[2021-04-16 18:58] javonclarke commented on #4439
I specified the wrong version in the details -_-

[2021-04-16 19:01] kibertoad commented on #4439
Which TypeScript version? 0.95.x requires 4.1+

[2021-04-16 19:04] javonclarke commented on #4439
I'm getting a new error that I'm able to fix. Thank you.

[2021-04-16 19:04] #4439 closed

[2021-04-16 20:42] leo-holanda opened #4440 "Initializing Knex doesn't work when using enviroment variable to select configuration"
# Environment

Knex version: "^0.95.4"
Database + version: PG, "^8.5.1"
OS: Pop!_OS 20.10

# Bug

This is the first issue that I open in all my life so please if I did something wrong let me know. I tried everything I could before creating this issue.

I'm getting this error when I run my tests in Jest that connects with a Postgres DB through Knex.

[code]

This is the database.js file.

[code]
Wh

[2021-04-17 15:14] xiangnanscu opened #4441 "Uncaught TypeError: The "original" argument must be of type Function"
# Environment

Knex version:0.95.4
Database + version:pg+
OS:win10 + chrome  89.0.4389.114

# Bug

1. Can't initialize knex. In fact, when you open site http://knexjs.org, the console will print this error too.

2. Error message

[code]

3. Just simple code:
[code]

[2021-04-17 15:24] xiangnanscu commented on #4441
I doubt it is webpack related because when I run `node test.js`, everything is OK.

[2021-04-17 16:14] meelash opened #4442 "schema .primary() does not use custom key value"
# Environment

Knex version: 0.95.4
Database + version: sql server
OS: Fedora 33

@ smorey2.

# Bug

The following line in a migration:
`table.increments('jsID').primary('tblVisitClaims_pkey')`
produces this sql:
`knex:mssql request::request sql=ALTER TABLE [tblVisitClaims] ADD [jsID] int identity(1,1) not null primary key +1ms`

This line:
`table.integer('AllVisitClaimID').notNullable().primary('

[2021-04-17 20:49] kibertoad opened #4443 "Implement cross-db method for creating JSON indexes"
https://stackoverflow.com/questions/38389075/how-to-create-index-on-json-column-in-mysql
https://stackoverflow.com/questions/17807030/how-to-create-index-on-json-field-in-postgres
https://docs.oracle.com/en/database/oracle/oracle-database/12.2/adjsn/indexes-for-json-data.html#GUID-7DD291FB-F22C-4AB9-ABDD-9D55CFB6CCAD

[2021-04-19 08:45] amuammer opened #4445 "disable oracledb autocommit"
i have used knex with oracledb client with the next config

[code]
**when execute any query it's auto committed and i want to disable it !**
[code]

[2021-04-19 11:22] elhigu commented on #4445
In general case with multiple connections it cannot be done.

 To prevent autocommit you need to start transaction and run queries that should not be autocommitted there. If you disable autocommit you will not have any idea in what state each db session created by pool  is.

 Though if you don’t care what result you may get or use just a single connection in that special case disabling autocommit

[2021-04-19 11:22] #4445 closed

[2021-04-19 13:37] vvo opened #4447 "Cannot import ESM modules when using TypeScript"
# Environment

Knex version: 0.95.4
Database + version: sqlite3 5.0.2
OS: macOS Big Sur 11.1

@lorefnon (since related to TypeScript)

Hi there, I spent quite a bunch of time on this without finding the proper way to resolve it.

# Bug

1. Explain what kind of behavior you are getting and how you think it should do

When trying to `import randomInt from "random-int"` from a TypeScript migration fi

[2021-04-19 13:39] andrescellini commented on #4440
can you show us the knexfile?

[2021-04-19 13:44] andrescellini opened #4448 "QueryBuilder.extend undefined"
# Environment

Knex version: ^0.21.16
Database + version: Postgres
OS: Ubuntu 21.04

# Questions about how to use knex

trying to extend querybuilder i get undefined. this is my db file.

[code]
with error

`TypeError: Cannot read property 'extend' of undefined`

[2021-04-19 15:47] leo-holanda commented on #4440
Sure!
[code]

[2021-04-19 16:41] elhigu commented on #4448
Docs says that you should call

    const Knex = require('knex');
    Knex.QueryBuilder.extend(...);

and then create confugured knex instance.

Now you are trying to extend already created knex instance instead of the Knex class.

[2021-04-19 16:41] #4448 closed

[2021-04-19 16:42] andrescellini commented on #4440
if you hardcode "development" like const enviroment = 'development' what happend?

[2021-04-19 16:56] leo-holanda commented on #4440
With this
[code]
When I run yarn dev ("supervisor server/server.js") I get this in terminal
[code]
And it keeps repeating until I do Ctrl + C

[2021-04-19 17:05] leo-holanda commented on #4440
With this
[code]
It runs fine!

[2021-04-19 19:05] andrescellini commented on #4440
its a client side app that its builded before deploy? like react or vue? maybe running a dev env the NODE_ENV var its set, but after compiling and serve statics files its undefined.

[2021-04-19 20:38] leo-holanda commented on #4440
Yes, it's React! And I think you found what was causing the problem! I searched "React NODE_ENV" and found this [link](https://create-react-app.dev/docs/adding-custom-environment-variables/) that says that NODE_ENV is defined by default and I can't override it, and how its value change when using npm start, test and build. Must be something like this that is causing the problem.

So, If I do:
[cod

[2021-04-20 07:57] vladshcherbin commented on #4404
Same error, thrown if `migrations.extension` is set to `mjs`

[2021-04-20 09:10] maximran800 commented on #3727
Thank you very much!!
I also face similiar problem. I only installed knexjs and sqlite3, but it ask for all other DB installation.
installing them leads to different problem.

[2021-04-20 11:44] chucksellick opened #4449 "Missing typings for andOnVal etc in join clauses"
Example code:
[code]

This will product a Typescript error with "andOnVal" because this method and others are missing in the typings for JoinClause here: https://github.com/knex/knex/blob/master/types/index.d.ts#L1204

[2021-04-20 15:07] #4440 closed

[2021-04-20 20:08] gpetrov commented on #1337
@elhigu your JSON queries function seems pretty useful, maybe it is time to add something like this on Knex after all those years :)
and the great JSON support all databases now have.

[2021-04-20 20:15] kibertoad commented on #1337
@gpetrov PRs would be most appreciated :D

[2021-04-20 20:25] gpetrov commented on #1337
I think making the JSON compatibility universal for all databases will be a great win for Knex, just as it did on the SQL area.

Currently each database type has its own JSON functions and those are all different, so uniting them in Knex and making them universal will an amazing feature of Knex.

Maybe more people of the core team can join in and make this a core Knex feature.

[2021-04-20 22:26] kibertoad commented on #1337
@gpetrov Core team is mostly involved in reviewing community contributions, very limited amount of development is happening within it. Everyone is busy :)

[2021-04-21 07:50] tkalliom opened #4450 "Alter of enum column produces duplicate check constraint on SQLite"
# Environment

Knex version: 0.95.4
Database + version: sqlite3 3.27.2
OS: Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Trying to change the values of an enum column produces a duplicate constraint on SQLite3. The schema will contain the new check constraint first, and then the former check constraint.

2. Error message

N/A

3. Reduced test code

[2021-04-21 21:50] #4435 closed

[2021-04-21 21:51] #4397 closed

[2021-04-21 21:52] kibertoad commented on #4437
Any chance you could provide PR for this?

[2021-04-22 15:48] denisdifazio commented on #4434
I don't think this is the correct place for this type of issue, but, indeed, `mock-knex` is currently not compatible with version 0.95.
There is an open PR to update it [here](https://github.com/jbrumwell/mock-knex/pull/127)

[2021-04-24 12:53] khalilst opened #4452 "Returning supported by lastest MariaDB, but not working in Knex"
# Environment

Knex version: 0.95.4
Database + version: MariaDB 10.5.8
OS: Ubuntu 20.04

@smorey2

# Bug

1. MariaDB's latest version is supporting `returning`, but calling `.returning` using `knex` has no effect.

2. Error message:
[code]

[2021-04-26 03:05] jbrumwell opened #4453 "Stream method does not throw on error"
# Environment

Knex version: 0.95.4
Database + version:
OS: ubuntu (popos)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do;

I maintain mock-knex module and on this update to 0.92, one of my tests started to fail;

[code]

In this test the catch is never executed, from the screenshot below it seems that it is caught but never re-thrown to allow it to bubble

[2021-04-26 19:05] MatissJanis commented on #1875
`serverless-mysql` is a great package for managing MySQL connections in the AWS Lambda context. However, it was not playing nicely together with knex, hence I built a simple dialect to solve the problem: https://github.com/MatissJanis/knex-serverless-mysql

This is another way to solve the same problem.

[code]

[2021-04-26 19:20] kibertoad commented on #1875
@MatissJanis Would you be open to submitting a PR adding your dialect to https://github.com/knex/knex/blob/master/ECOSYSTEM.md?

[2021-04-26 20:09] MatissJanis commented on #1875
@kibertoad sure, here you go: https://github.com/knex/knex/pull/4454

[2021-04-27 10:40] maxbol commented on #1614
+1, any movement on this? @JonathanCMitchell 's solution does nothing for me, and explicitly referencing the schema in inTable is not an alternative.

[2021-04-27 11:25] BhattMeet98 opened #4456 "How to use knexjs onConflict and merge method in nodejs."
I have an issue in knex js merge method.

I have use MYSQL database.

I have refer below link
http://knexjs.org/#Builder-merge

It is not working properly,

Please Check below screenshot.
![DD](https://user-images.githubusercontent.com/81350109/116233290-bcc6ee80-a778-11eb-9eac-d9ef4121dbdd.PNG)

If anyone can have a demo or example link please share with me.

Thanks & Regards
Meet Bhatt

[2021-04-28 06:23] JeongJuhyeon opened #4458 "CLI Migrations and PostProcessResponse"
# Environment

Knex version: 0.95.4
Database + version: Postgres 13.2
OS: Docker

The problem we're having is that we want to use a PostProcessResponse hook, but this causes our CLI migrations to fail because the imports in the hook expect everything to be initialized which is not the case when doing a CLI migration. So basically I'm looking for a way to exclude the PostProcessResponse from the co

[2021-04-28 13:27] laurent22 commented on #1851
I had this problem when running tests within Jest. Not sure if it was due to Jest, but in the end the only fix was to use a RAW query instead.

[2021-04-28 13:31] laurent22 commented on #1851
For information the same error happens when using the query builder syntax (`where((qb: Knex.QueryBuilder) => { ... }`) which presumably doesn't or shouldn't rely on function binding.

[2021-04-28 15:29] MikeRippon commented on #1128
I fixed it in webpack 5 using the IgnorePlugin.

[code]

[2021-04-28 17:28] MikeRippon commented on #1128
I'm at a loss with the 'Critical dependency: the request of a dependency is an expression' error in later versions of knex. Looks like the warning now comes from `knex/lib/migrations/util/import-file.js`.

I tried a modified version of @mdlavin's solution, which fixes one of two errors:

[code]

... but there is still a warning generated by the following line, and there doesn't seem to be an equiv

[2021-04-28 21:47] kibertoad commented on #1851
@laurent22 Can you create a failing test with the repro?

[2021-04-29 06:30] waitingsong opened #4460 "__knexTxId not clean up after transaction"
# Environment

Knex version: 0.95.4
Database + version: PG 13
OS: CentOS 8

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

[code]

[2021-04-29 07:37] Erchoc opened #4461 "How can i use case where"
# Environment

Knex version: 0.95.4
Database + version: mysql5.7.27
OS: macos10.12

# Questions about how to use knex

hi，how can I use case where when mysql update? the document doesn't provide related desc，must use mysql query?

[2021-04-29 08:56] laurent22 commented on #1851
Unfortunately it's hard to extract just that part, but if you're willing to try I've put the issue in this branch:

https://github.com/laurent22/joplin/tree/knex_max_call_size_bug

To try it would just be:

[code]

To view the database structure, you can comment out `await afterAllTests();`, then run the test again, and open `db-shares.test.sqlite`.

If you want to test and make changes, from anot

[2021-04-29 10:56] elhigu commented on #1851
@laurent22  Could you check if this still fail:

[code]

[code]
  If that works, it is probably a different problem.

[2021-04-29 14:06] laurent22 commented on #1851
@elhigu, I can't replicate it with your code, but I can if I add a "whereIn" condition:

[code]

In that case I get the error `RangeError: Maximum call stack size exceeded`. I guess `whereIn` is the issue then as I'm also using this in my code where the infinite loop is happening.

[2021-04-29 14:16] elhigu commented on #1851
`qb.whereIn('id', qb.select('1'));`  looks wrong.

It should be `qb.whereIn('id', knex.select('1'));`

[2021-04-29 15:08] laurent22 commented on #1851
Indeed it doesn't give the error with this syntax, although I would expect that the query context should be the same all along, so using the same query builder? And, in any case, if it's wrong shouldn't it print an error rather than go into an infinite loop?

In any case I can't quite wrap my head around these nested queries, some using "qb", some "knex", some "this" so I'll probably keep using ra

[2021-04-29 15:34] elhigu commented on #1851
In your case you are creating query builder instance and then you modify inplace that instance and put it inside itself... same kind of case like in this, but in more sutil form:

[code]

[2021-04-30 12:08] ziyaddin commented on #4460
Why do you use

[code]

and

[code]

instead of

[code]

and

[code]

[2021-04-30 12:19] ziyaddin commented on #4407
The root of the issue is this type:

https://github.com/knex/knex/blob/a81a90a15c47d7d7514ca728ef8f1ce5e37eb2d0/types/index.d.ts#L763-L774

[2021-04-30 15:10] elhigu commented on #4461
knex('table').update('text', 'bar').where('text', 'foo')

[2021-04-30 15:10] #4461 closed

[2021-04-30 16:32] rijkvanzanten opened #4462 "Altering `string` to `text` fails in Oracle"
# Environment

Knex version: `knex@0.95.4`
Database + version: Oracle 18XE
OS: Docker

# Bug / Feature Request

When changing the type of a column from "string" to "text" in Knex, it works across databases except for Oracle. In the following case:

[code]

Oracle throws the following error:

[code]

because it's not allowed/supported to directly change a `varchar` to a `clob` in OracleDB.

---

No

[2021-04-30 18:19] aidenfoxx commented on #4462
I tend to agree. If the point of using knex is to aggregate various SQL syntax's into a common interface, then it should stand to reason that the common interface should always behave in the same way (as much as possible). And this seems like an instance where knex could handle the odd Oracle quirk.

[2021-05-02 09:45] Meleeman01 commented on #1065
it would be nice to have onDelete() methods for timestamp and similar data types. this would make tracking deleted content much easier.

[2021-05-03 11:33] elhigu commented on #1065
Closing old issue. onDelete() is basic SQL functionality and documented there. Basically CASCADE and SET NULL are the most commonly used behaviors.

[2021-05-03 11:33] #1065 closed

[2021-05-03 17:41] mohghaderi commented on #1282
@elhigu Should it this be closed as well?

[2021-05-03 19:36] elhigu commented on #1282
Actually I don't know if these works nowadays.. reopening until proven fixed

[2021-05-03 20:28] its-me-ilia opened #4466 "Knex not working with typescript"
# Environment

Knex version: 0.95.4
Database: Postgres
OS: Windows

@lorefnon

# Bug

i am writing knex with typescript, while hitting tsc causes bunch of errors in knex/types/index.d.ts, i don't know if bug is with my version or my config but i could not even access knex.tablebuilder and knex.config, when i tried.

Error messages are (few of them):
Type expected column1: `${TTable1}.${TKey1}`,
';

[2021-05-04 19:51] AnsaDhedhi opened #4467 "Unable to set a variable in a query."
# Environment

Knex version:
Database + version: PostgreSQL

I am trying to send some variables in a knex Query and get the data.

I am using this Query. I declared activityone as 'completed_order' and used it in a query but the output I am getting is not correct.

[code]

How to use the variable in a query and get the correct output? What I am trying to do is, If the user selects the option from

[2021-05-04 21:32] uiii opened #5910 "Knex is not defined"
Hi, something is broken in knex website so the `Knex` object is not available in console (dev tools). It was very handy to be able to try the examples live.

![image](https://user-images.githubusercontent.com/179219/117072621-02635880-ad31-11eb-819c-a1f1af852498.png)