[2020-04-30 07:45] elhigu commented on #3833
@mike20007 there might be, but it depends on exact query that you are trying to write.

[2020-04-30 07:57] KrishnaPG opened #3834 "Custom migration source is always overwritten with FsMigrations"
# Environment

Knex version: 0.21.1
Database + version: SQLite 3
OS: Windows 10

# Bug

When using a customer migration source, the call to `make` method is not using the supplied custom source. Rather it always goes back to the built-in `FsMigrations`.

After debugging, the culprit seems to be at this line: https://github.com/knex/knex/blob/fe8340a6274202b5c59cb623f3e387aa7801f569/lib/migrate/Mig

[2020-04-30 10:53] elhigu commented on #3834
Please add reproduction code. IIRC there is a test for non-FsMigrations based migration source.

[2020-04-30 11:52] KrishnaPG commented on #3834
Please try the below to reproduce the bug:
[code]
If it is working, then you should see console log output.

[2020-04-30 18:08] sleewoo commented on #2253
Would be useful if connection could be a function, eg:

[code]

but ended up with this not so ugly hack:

[code]

using async cause i'm selecting the server based on `show transaction_read_only` query result

[2020-05-01 02:11] mike20007 commented on #3833
@elhigu

Here is the exact query I tried and got an empty array for a number of rows affected.

return knex.raw(
`update logtable set COL1 = ?, COL2 = ? where logkey = 1`,  [col1val, col2val])
.then( count => { console.log(count);return count;})

Is there a workaround for this like insert.

Thanks!

[2020-05-01 10:58] mirajehossain commented on #2414
Hey, I am facing same issue, but i don't know what hapen witht my db url
my url is ->  `mysql://user:pass@127.0.0.1/db`

[2020-05-01 19:03] vajdagabor commented on #590
With multiple `.env` files it might be a solution to use the `DOTENV_CONFIG_PATH` environment variable. In my `package.json` I created a `test` script that picks up `.env`, and a `test:knex` that works with `.env.test`:

[code]

[2020-05-02 17:30] nfantone commented on #3333
@kibertoad I meant a version of the default stub closer to what @Enitoni suggested. Something like:

[code]

If you feel like the `@ts-check` directive is _too_ opinionated, it could be left out altogether.

[2020-05-04 00:36] nahtnam opened #3836 "Node 14 - Knex PG can't connect"
# Environment

Knex version: 0.20.13
Database + version: pg, 12.1
OS: MacOS Catalina

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Migrating and even querying does not work with node 14

2. Error message

[code]

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to MySQL or PostgreSQL, then single

[2020-05-04 07:47] elhigu commented on #3833
For that query there is no need for any workarounds:

[code]

[2020-05-05 10:08] nikhilgy commented on #2948
It is already included but still getting the error

![Screenshot (20)](https://user-images.githubusercontent.com/63981603/81055486-62d57500-8ee6-11ea-979e-681e8525f0d2.png)

Please have a look at the screenshot

[2020-05-05 10:21] kibertoad commented on #2948
@nikhilgy You are using sequelize which has nothing to do with knex.

[2020-05-05 11:36] wellyssongodinho opened #3837 "update() with returning("*") is returning 1"
# Environment

Knex version:
    "knex": "^0.21.0",
Database + version:
    "oracledb": "^4.2.0",
OS:
Oracle Linux
NodeJS:
v12.16.3

Issue is about oracledb support, tag @ atiertant.

# Bug

update() with returning("*") is returning 1

1. When use object bellow with "*":

user = await connection('users').where('user_id', req.params.user_id).update(req.body).returning("*")
or
user = await connectio

[2020-05-05 12:09] elhigu commented on #3837
Here is runnable reproduction: https://runkit.com/embed/658sj80v3lox

Looks like oracle has special treatment for returning('*')

[2020-05-05 13:31] venables commented on #3836
@nahtnam This appears to be [an issue with node-postgres](https://github.com/brianc/node-postgres/issues/2170), not with Knex, and should be fixed in already, just use  **pg v8.0.3** or higher.

[2020-05-05 15:31] KrishnaPG commented on #3834
Also, after struggling for the past few days working on this custom migration source implementation, it turns out that this whole API section needs complete refactoring.

For example, the `getMigrations()` method supports promises, but the `getMigrationName()` and `getMigration()` does not support promises, nor even callbacks (and rather they expect the result to be returned from these API calls i

[2020-05-05 15:32] kibertoad commented on #3834
@KrishnaPG I finally have some time, will take a look today.

[2020-05-05 16:47] kibertoad commented on #3834
@KrishnaPG There might be another issue with config override, I will look into it after merging first refactoring PR. Tests might have missed that, since they call migrator directly, bypassing the CLI part.

[2020-05-05 18:17] wellyssongodinho commented on #3837
Not working accordingly yet. I need that returning in JSON format.

1. See the result now (here I put all colluns):

user = await connection('users').where('user_id', req.params.user_id).update(req.body).returning(['*']).toSQL().sql;

Result:
{
  "user": "update \"users\" set \"user_avatar\" = ?, \"user_country\" = ?, \"user_country_cca2\" = ?, \"user_country_calling_code\" = ?, \"user_region\" =

[2020-05-05 20:05] wellyssongodinho commented on #3837
Thanks for helps, but not working accordingly yet.

I need that returning in JSON format.

See the result now using special treatment for oracle:
user = await connection('users').where('user_id', req.params.user_id).update(req.body).returning(['*']).toSQL().sql;

Result:
{
"user": "update "users" set "user_avatar" = ?, "user_country" = ?, "user_country_cca2" = ?, "user_country_calling_code" = ?, "

[2020-05-05 20:16] elhigu commented on #3837
Yes... It is not working. That reproduction I added is just for other to easily see what is the problem if they want to fix it.

I have no idea why it seems to work for insert...

[2020-05-05 21:16] kibertoad commented on #3834
@KrishnaPG See #3839
Can you double-check that you don't have FS-related configs in your knexfile that would result in your migration source being reset?

[2020-05-06 01:53] NickBeukema opened #3841 ""Error: aborted" when querying for results not found in database"
# Environment

Knex version: 0.21.1
Database + version: Postgres, 11.2
OS: MacOS, Linux for Database (Docker)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

After upgrading from `0.20.15` to `0.21.1`, any of my queries that would return no results are getting an aborted error, seems like it's dealing with the connection pool.

2. Error message

[code]

3.

[2020-05-06 01:56] KrishnaPG commented on #3834
Thank you @kibertoad

I do not have any configs at all except for indicating the client connection and migration source.

The reason why this problem happens is when you call `knex.migrate.make()` the code executes as below: https://github.com/knex/knex/blob/fe8340a6274202b5c59cb623f3e387aa7801f569/lib/migrate/Migrator.js#L296-L300

Note the code `this.generator.make(name, this.config)`. Now notic

[2020-05-06 02:00] maxtomczyk opened #3842 "Heavy database load and long query execution time"
# Environment

Knex version: 0.21.1
Database + version: PostgreSQL 12.1 on x86_64-apple-darwin16.7.0, compiled by Apple LLVM version 8.1.0 (clang-802.0.42), 64-bit
OS: MacOS 10.15.4 (19E287) (tested with same result on Windows 10)
Node.js: 12.16.1

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Running query with knex (without raw) causes very high load of

[2020-05-06 08:50] iamaquaman opened #3843 "Knex timeout with private VPC while using serverless."
# Environment

Knex version: 0.20.13
Postgre: 11.6
OS: Mac OS Catalina

1. I am using serverless to deploy a Nodejs lambda. I am using node 12.
I am using Knex and I get the error bellow whenever I do not use a VPN because my database is a Postgre Aurora DB that is inside a private VPC. Whenever I do use a VPN, serverless deploys my lambda just fine. Why is Knex trying to establish a connection to

[2020-05-06 12:27] elhigu commented on #3843
Closing since this doesn't look like a knex bug.  Also you probably should not set `useNullAsDefault` unless you are aiming with SQLite3 compatible code.

[2020-05-06 12:27] #3843 closed

[2020-05-06 13:00] kibertoad commented on #3841
@elhigu Could we have broken something in tarn.js update? I think that's the main change in mentioned version change interval.

[2020-05-06 13:37] elhigu commented on #3841
Probably has something to do with it. Need to write reproduction of to our test bench... I would say that it is really strange if this common case is not catched by any of the test suites.

[2020-05-06 20:49] elhigu commented on #3842
Probably some query parameter are not the same in stringified query which causes databse to be able to supress result set early. Check out if the returned data si the same for both of the queries.

Doesn't sound like any bug in knex. You can try to compare what kind of query is outputted by result from query.toString() and query.toSQL(). Then you can try instead of knex.raw(query.toString) run kne

[2020-05-06 20:49] #3842 closed

[2020-05-06 20:50] elhigu commented on #3842
Also running code with environment variable DEBUG=knex:* might help (or might not) with debugging.

[2020-05-06 21:03] elhigu commented on #3842
Also #2: try to drop `.whereRaw('e.date > ?', [startDate])` from the query and see if both are equally slow/fast after that.

Also `.andWhereRaw('owner_id NOT IN (??)', [ownersIds])` is a hack and wrong... you are using identity replacement instead of passing all the ids as separate bindings. Though it shouldn't cause any difference in this case.

[2020-05-07 07:49] codingstill commented on #3058
I had a similar issue when trying to update a stored procedure with `knex.raw()`. Turns out that the sql passed in `raw('')` does not need to set/change the delimiter at all.

For example the following fails via `knex.raw()`
[code]

The following though runs via `knex.raw()`
[code]
knex: 0.14.6, MySQL: 8.0.18

[2020-05-07 12:32] maxtomczyk commented on #3842
I tried all things you recommended, hope I didn't forget about anything.

### Is the same data returned from both queries?

I modified code to print first element and rows count and it looks like its the same. To be sure I dumped both results to JSON and compared both files and full results are also the same.

[code]

### Queries generated by .toSQL() and .toString()
Outputs cannot be just differe

[2020-05-07 13:42] iostreamer-X opened #3844 "Closed connections not being released from pool"
# Environment

Knex version: 0.21.1
Database + version: Postgres 11.5
OS: macOS

# Bug

### Setup:
I set up min & max as 3 for my pool size. I then start 3 transactions asynchronously.
Each transaction:
-  sets a local statement and idle timeout as 200 seconds
- queries `pg_backend_pid`
- sleeps for 200 seconds

Except that one of those 3 transactions has 1 second as its statement and idle timeout

[2020-05-07 14:03] kibertoad commented on #3844
@iostreamer-X Could you please provide full reproduction code?

[2020-05-07 14:14] iostreamer-X commented on #3844
Surely! @kibertoad
Here's the code on runkit: https://runkit.com/iostreamer-x/5eb41789ebd8c60014486a13
Ping if you need anything else.

[2020-05-07 20:50] mikefrancis commented on #148
I'm using knex 0.21.1 and running the following migration:

[code]

[2020-05-07 20:53] mikefrancis commented on #148
I'm using knex 0.21.1 and running the following migration:

[code]

And if migrations were transacted by default, I wouldn't expect `test.some_column` to exist as the statement straight afterwards for `table_that_does_not_exist` fails - but `test.some_column` is there.

Am I missing some config or something?

[2020-05-08 08:41] EduardsE commented on #3805
Does JSON.stringify solves your problem? Cause I'm still getting `invalid input syntax for type json`

[2020-05-08 11:06] jerinseba commented on #3575
Sorry for being late. Let me close this ticket. The issue was due to multiple containers trying to run the migration parallel.

[2020-05-08 11:06] #3575 closed

[2020-05-08 12:52] zardilior commented on #3594
So we should open a feature issue asking for this

It should be feasible in a code transaction as natively in the dbs it is not supported

[2020-05-08 13:11] elhigu commented on #148
@mikefrancis if you are using mysql / mariadb transactions really does not work with schema changing queries. See my earlier comment https://github.com/knex/knex/issues/148#issuecomment-457494124

[2020-05-08 13:26] elhigu commented on #3844
When connection error comes from DB closing the connection it is not evicted from pool until the next time that resource is tried to be returned from the pool. So When connection is acquired from pool next time the validation will be ran and the validation should notice that connection is not good anymore and discard it.

[2020-05-08 14:00] iostreamer-X commented on #3844
Oh! In the setup above, where there were 3 resources in pool and one of them was not `quereable` after some time.

From what you explained, when I tried to acquire a 4th connection knex/tarn should have validated the faulty connection, created a new one and returned that.

But apparently trying a 4th connection results in `Knex: Timeout error`.

Is there something I am missing @elhigu ?

[2020-05-08 14:04] iostreamer-X commented on #3844
Is the case that tarn perceived that faulty connection as a busy resource?

[2020-05-08 15:15] elhigu commented on #3844
@iostreamer-X No. Tarn.js just doesn't check any resources that are idling in the pool. They are only validated during creation and when they are about to be acquired by knex.

[2020-05-08 15:24] elhigu commented on #3844
If pool size is 3 and you are trying to acquire 4th connection timeout sounds like correct thing to return. In your debug prints you are listing always used resources. Doesn't it just mean that you have never ended those transactions you have opened?

[2020-05-08 15:29] elhigu commented on #3844
You could try to run your code with DEBUG=knex:* environment variable set to see in which point stuff is fetched and returned to the pool. Also tarn has pretty good amount of events to track down what is happening there internally.

[2020-05-08 15:37] iostreamer-X commented on #3844
Got it. Essentially if for some reason application is unable to commit or rollback a transaction, knex will still view that as a live resource which is being used. And until we make the transaction to commit/rollback knex won't validate the connection.

So if a transaction was cancelled by server and then we try to commit it we might get and error like `Client is not querable`, and the correspondi

[2020-05-08 15:57] elhigu commented on #3842
Ok. Looks like because parameters are a bit different that postgresql decides to make different execution plan for the query.

[2020-05-08 16:03] elhigu commented on #3844
As far as I know I thought that calling trx.commit() should always return connection to the pool even if commit fails. And when connection is acquired next time from the pool it should be discarded. I'm not sure though if it actually works exactly like that currently.

[2020-05-09 10:41] tsondergaard opened #5896 "queries outside transactions"
The documentation says:

This makes it a little unclear whether there is any special about " queries outside of transactions". I suspect there is nothing wrong with running queries outside of transactions, except if you holding a transaction open and wont return it to the pool until after your "out-side-transaction" query completes.

[2020-05-09 16:08] maxtomczyk commented on #3842
Thanks for your answer. Is it desired/correct effect as queries generated by toSQL() and toString() was the same?

[2020-05-09 16:36] chescos opened #3847 "trx.commit() does not throw error when commit fails"
# Environment

Knex version: 0.21.1
Database + version: PostgreSQL 12.2
OS: Ubuntu 18.04

# Bug

When calling the `commit()` method on a transaction and the transaction fails because it was timed out by PostgreSQL through the `idle_in_transaction_session_timeout` setting, then no exception is thrown. Instead, the `commit()` method just returns `undefined` instead of an object.

Here's a code examp

[2020-05-09 22:19] patrickdevivo opened #3848 "Add TODOs Badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.com/knex/knex)](https://www.tickgit.com/browse?repo=github.com/knex/knex)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments in public github repos. It can h

[2020-05-10 10:11] prk3 opened #3849 "javascript knexfile can't run typescript migrations"
# Environment

Knex version: 0.21.1
Database + version: postgres 12
OS: Linux

# Bug

1. Description

When the knexfile has `js` extension, typescript migrations and seeds can't be run. The error thrown suggests these files are not loaded with typescript loader. Changing knexfile extension to `ts` fixes the problem.

This is rather unexpected, as the documentation suggests that knex can run migrat

[2020-05-10 13:32] ilja903 commented on #1939
I have lost a couple of days on that issue.

Here is what I got: Knex migration fails in docker-compose if the database was not created or if it did not have any migrations run before. Somehow if you run at least one migration from the external system (mine was just localhost pointing to docker-compose), then magically all next migrations start to work inside the docker container...

I have no ide

[2020-05-10 13:33] elhigu commented on #3847
I'm pretty sure that calling `trx.commit()` actually should never throw an error even if it did fail because of connection error. Probably the reason to that is that transaction actually might get committed / rolled back also implicitly at any time, so basically the consistent way to find out if transaction is committed or rolled back is to `await trx.executionPromise` result.

Commit returning un

[2020-05-10 13:33] #3847 closed

[2020-05-10 13:39] chescos commented on #3847
@elhigu Hey, thanks for clearing that up. So if I want to know whether the transaction was actually commited, I should always check the result of `await trx.commit()`? E.g:
[code]
That's how it's supposed to be used? If so, I really think this should be in the docs. Otherwise, I think most people would assume that `await trx.commit()` not throwing an error means that it succeeded.

[2020-05-10 13:41] #5896 closed

[2020-05-10 13:43] kibertoad commented on #3847
@chescos See documentation (it should work with any transaction, I think, not just with the one you get from transactionProvider, but worth a check):

[code]

[2020-05-10 13:45] elhigu commented on #3847
[code]

[2020-05-10 13:48] elhigu commented on #3847
Some does I believe, but AFAIK the documentation doesn't say it works like that... However we really should add better documentation for trx.commit and trx.rollback methods.

[2020-05-10 13:50] elhigu commented on #1939
@ilja903 might be that your database has not started yet when you are trying to run the migrations.

[2020-05-10 13:55] elhigu commented on #3842
No. You should not run queries generated by .toString() they can easily contain SQL injection holes and parameteres might not be rendered correctly to the query's SQL string.

They are not exactly the same, even if you think they are :) Ok, sometimes they are, except that SQL database server has a little bit more type information when kind of parameters were passed to the query compared to the pre

[2020-05-10 14:37] chescos commented on #3847
Thanks, guys! That helps a lot. I have missed that while reading the docs.

[2020-05-10 15:34] javiertury commented on #3370
I have explored related issues, and in #3246 I found out what I in my opinion is the real issue. In that discussion they quote @elhigu

Transaction controlling queries('BEGIN', 'COMMIT', 'ROLLBACK', etc.) are treated different than regular queries. They are treated as non-failable, or made to appear non-failable. Any failure is silently transfered to the underlying `trx.executionPromise`.

Accordi

[2020-05-10 16:06] ilja903 commented on #1939
@elhigu
Hi, I am really sorry. It was totally another issue, I was running knex migrations for postgres but migration files also contained couchdb migrations. So CouchDB failed to initialize... Not a knex fault by any means.

Thank you for your help.

[2020-05-10 20:36] JasonWoof opened #3850 "Feature Request: .mjs (es module) migrations and seeds (no cli)"
# Environment

Knex version: 0.21.1
OS: docker node:latest

I'd like to be able to write my migrations (and seed) files as es modules with the .mjs file extension like I'm doing with all my other javascript files.

I'd like to be able to run these migrations from within node (not via the cli) like this:

    db/migrations/00001-users-table.mjs:
        export const up = export const up = knex => k

[2020-05-11 02:28] nahtnam commented on #3836
Didn't realize that, thank you!

[2020-05-11 02:28] #3836 closed

[2020-05-11 09:36] maxtomczyk commented on #3842
Okay, so what is the correct way to omit this issue? Should I just write this query in SQL and use knex.raw() to bind parameters and run query, or is there any other (better/cleaner) solution?

[2020-05-11 12:43] iostreamer-X commented on #3844
Thanks a lot for explaining this! @elhigu
I think I should close this now:

For anyone who stumbles upon this:
knex will evict as per the discussion above and will work normally. If one observes pool hogging, try looking at leaks and missing rollbacks or commits.

[2020-05-11 12:43] #3844 closed

[2020-05-11 13:47] AMUSF commented on #1569
- Recreate manually the file with the name from the error log
- Rollback:  knex migrate:rollback --all
- Delete the file you created

[2020-05-11 15:32] AMUSF commented on #2547
Maybe this helps
`router.post('/todos', (req, res) => {
	knex('todos')
		.insert(req.body)
		.then(insertedTodo => {
			console.log('insertedTodo:', insertedTodo)
			knex('todos')
				.where('id', insertedTodo[0])
				.then(selectedTodo => {
					return res.json(selectedTodo)
				})
		})
		.catch(err => res.json(err))
})`

[2020-05-11 17:25] elhigu commented on #3842
What issue? 🤔 that query takes a long time to execute?

Write the query in a different manner and hope that postgres optimize its query plan better. Query planning also depends on table sizes etc.

[2020-05-11 18:25] rajsinghUSA commented on #3571
I tried adding a non-module package.json to my migrations and seed directories, but that still didn't resolve the issue. Only thing that worked was removing type:"module" from my main project file. Would prefer not to do the latter, however. Any idea on when knex will start supporting ESMs?

[2020-05-11 20:03] maxtomczyk commented on #3842
Okay, that's what I will do. Thank you for all your replies 😊

[2020-05-12 03:06] tuananh commented on #3126
@twigs67 are you generating the `(?,?,?), (?,?,?)....` in the raw query ?

[2020-05-12 11:08] twigs67 commented on #3126
Yes, that’s what I did. I first identified the size of the insert and chunked it in order to be mindful of mysqls size limit. Although this worked well, was a pain.

I’ve moved to TypeOrm since then for future projects. It’s much better and more efficient imo.

[2020-05-12 11:49] elhigu commented on #3126
Good move (well I have no idea if type ORM is any good), IMO knex is too low level tool for application development. It is better suited as a base layer for higher level libraries that can handle DB references etc. better.

[2020-05-12 11:53] tuananh commented on #3126
I see. Thanks.

[2020-05-12 18:53] D10221 commented on #3571
@rajsinghUSA
it seems to me, that what you have experienced, is your ```package.json``` getting in the way.
the current node resolution algorithm won't let you 'import' stuff from you own package unless, it self, its a module.
You could try the 'esm' package to overcome that, 'by design', limitation.

[2020-05-12 19:17] igoventura commented on #3793
Nope. It's a NodeJS application (back-end).

[2020-05-12 19:57] maximelkin commented on #3793
Try latest version, we replaced this function with more portable variant

[2020-05-12 20:07] felipefdl opened #3851 "Deno Module"
# Feature discussion / request

I would like to use Knex on Deno (https://deno.land/).

[2020-05-12 20:08] kibertoad commented on #3851
@felipefdl Are there any solutions for CommonJS and npm dependency support available for Deno already?

[2020-05-12 20:13] felipefdl commented on #3851
@kibertoad Not sure, probably not. Maybe it's not time to implement yet, but will be great have knex on Deno.

[2020-05-12 20:15] kibertoad commented on #3851
@felipefdl Definitely. It's not clear what needs to be done for that, as obviously full fork of Knex.js over to Deno is not really feasible or sustainable.
What changes in Knex codebase would make it more compatible with Deno without breaking Node.js support?

[2020-05-12 20:31] felipefdl commented on #3851
The major problem is on import dependencies since Deno doesn't use Commonjs and doesn't use package.json as well. If Knex was written typescript, maybe it can use an alias on imports, but it isn't the case, you can use a trick, creating a file with all dependencies used by the node, and another file with all dependency used by Deno, and import by the platform. I don't know if it is a good design,

[2020-05-12 20:44] felipefdl commented on #3851
Also, the Deno has (in construction) module to add Node Compatibility.
https://deno.land/std/node/

Maybe when it is done, we can run knex without problem.

[2020-05-13 07:41] petslane commented on #2324
Found solution that works with MySQL.

Instead of using connection pooling provided by `knex`, I used that is provided by `mysql`. Before making query with `knex`, I got connection from pool, passed this connection to quey builder with `.connection()` method. And if I need to stop that query (stream), then I just destroy connection, that will end query stream and `mysql` connection pool will recre

[2020-05-13 10:22] paranoid73 opened #3852 "[electron] problem to initialize knex"
# Environment

Knex version: Lastest
Database + version: sqlite3
OS: Arch Linux

my database structure :
![2020 05 13-10 17 04 screenshot](https://user-images.githubusercontent.com/34898251/81800815-f6203300-9502-11ea-8265-2226df1bc542.png)
the commands to generate migrations and seeds work without problem , but when I launch the project without using the commands provided by knex:

connection.js

[2020-05-13 10:58] TodorTotev commented on #3165
Update @ the documentation would be great. Had this problem today and if it wasn't for this issue being posted here I would have spent even more time solving it.

If @elhigu didn't already update the docs, I can do it.

[2020-05-13 11:14] kibertoad commented on #3852
Yes. Check out the programmatic API for migrations in docs. Ping me again if you can't find it.

[2020-05-13 13:28] paranoid73 commented on #3852
finally i dop .

[2020-05-13 13:28] #3852 closed

[2020-05-13 17:06] kibertoad commented on #3852
@paranoid73 Not sure based on your last post if you found how to do it, in case you didn't: http://knexjs.org/#Migrations-API

Please let me know if you'll still have any questions.

[2020-05-13 23:04] moacirandretti commented on #3003
I don't know if you already solved the issue but in my case the solution was very simple. I just move the **_knexfile.js_** to the root of project. | installed the knex in directory **"/backend"** but for unknow reason the file moved to other directory. So i moved knexfile.js to **"backend/knexfile.js"** and works like a charm. I hope it will be useful for someone.

[2020-05-14 16:41] pdkovacs commented on #3591
I am getting this same error for the following update:

[code]
, even though `updateData` is definitely not an empty object:
[code]

Any thoughts?

[2020-05-14 16:48] pdkovacs commented on #3591
The following work-around avoids the error in my specific case:
[code]
Note the `null` fall-back values in the property assignments.

[2020-05-14 20:52] mprast opened #3853 "TableBuilder type is missing some members"
# Environment

Knex version: 0.21.1
Database + version: mysql 8.0.20
OS: Fedora 30

@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
[code]
^^this should compile (i.e. it runs fine in plain javascript) but it produces a type error. Same thing happens for CreateTableBuilder

2. Error message

`Property 'datetime' does not exist on type AlterTableBui

[2020-05-15 00:27] FreedomBen commented on #3853
There are types missing from SchemaBuilder as well.  Having a compile error with `knex.schema.createExtensionIfNotExists('uuid-ossp')`

Grepping the source it looks like the method is there in `lib/schema/builder.js` but the type definition isn't present in `types/index.d.ts`.  This is my second day with TypeScript so I don't know how to fix it, but I would if I could.

Happy to open a new issue i

[2020-05-15 04:43] Cellule opened #3854 "Typescript definition missing havingNotIn"
`havingNotIn` is missing in the typing definition here
https://github.com/knex/knex/blob/4fa6e1f8c27fac59edb88c75e1f26f801fab2aa8/types/index.d.ts#L503-L513

But it is documented here
https://knexjs.org/#Builder-havingNotIn

[2020-05-15 09:28] #2492 closed

[2020-05-15 14:36] C0Nd3Mnd commented on #3853
I would assume that `datetime` doesn't exist in the definition file because the alias `dateTime` does (and is probably preferred?). Not sure about `double` though.

[2020-05-15 22:20] trevorr commented on #738
Until #3186 is available, this workaround works for me with Knex 0.20.x and Typescript 3.8:

[code]

Put this in `@types/knex/index.d.ts` and add `@types` to `compilerOptions`.`typeRoots` in `tsconfig.json`:

[code]

[2020-05-17 20:09] criarte opened #3856 "ERROR on create migrations folder MacOs Catalina"
# Environment

Knex version: 0.21.1
Database + version: Postgres 12.3.1
OS: MacOS 10.15.4

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

when I use the command
node_modules/.bin/knex migrate:make create_users --env test

2. Error message
I get:
Using environment: test
Using environment: test
Using environment: test
Error: EROFS: read-only file system, mkd

[2020-05-17 20:13] kibertoad commented on #3856
Sounds like problem is that you are trying to write to a directory that you don't have write access to. Check your knexfile migrations configuration, looks like you have '/src' instead of `src`

[2020-05-17 20:13] criarte commented on #3856
Hi guys ,

I fix it with:

migrations: {
      directory: `${__dirname}/src/migrations`,
    },

Thks

[2020-05-17 20:15] #3856 closed

[2020-05-19 07:17] laura-bergoens commented on #3563
Hi, what is the update on this ?
Checking on this issue because we need both connection as connectionString and passing more parameters to the pg config :
Example :
[code]
Thanks

[2020-05-19 17:36] MasterEric commented on #3624
I have noticed this bug also occurs for "CREATE TABLE" queries.

[2020-05-20 00:33] Elfayer opened #3858 "How to drop increments?"
# Environment

Knex version: 0.21.1
Database + version: mssql (SQL server 15)
OS: Windows

# Feature discussion / request

1. Explain what is your use case

I need to be able to drop `increments()`. Today, increments defaults to primary and does not allow naming the primary constraint, it generates some kind of hash named constraint. I can guess it, therefore I cannot drop it.

2. Explain what kin

[2020-05-20 09:03] mnahkies commented on #873
MySQL at least it isn't able to use indexes effectively for my use case when doing a
[code]

Causing a sequential scan of a large table, making the query slow and causing knock on effects to other queries due to excessive locking.

I guess I'll implement the `JOIN` based delete using a raw query, but I think there is a definitely a use case for this type of query.

[2020-05-20 11:07] love8587 commented on #3849
You could try with ```npx knex migrate:latest```

[2020-05-20 11:16] love8587 opened #3859 "Why missed out where caluses for knex_migrations?"
# Environment
Knex version: latest

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
When I try this command ```npx knex:migrate latest``` I got error message
[code]

I understand why this error occurs. the mentioned files in error message are in the knex_migrations but I don't have the files in source directory.

I look for knex code and I found out like
[co

[2020-05-20 11:45] Crusader4Christ opened #3860 "Table dot asterisk for select/columns methods not working"
# Environment
Knex version: knex@0.21
Database + version: MySQL 5.7
OS: Linux

# Bug
`knex('table').select('table.*').join('other_table'...)`
should give sql:
```select `table`.* from `table` join `other_table` ...```
but knex give me:
```select `table`.`` from `table` join `other_table` ...```

[2020-05-20 13:06] elhigu commented on #3860
Cannot recproduce:

[code]

Outputs:
[code]

https://runkit.com/embed/zg0jee0rl6sq

[2020-05-20 13:06] #3860 closed

[2020-05-20 21:42] rodrigoroma opened #3861 "Wrong generated SQL when using Oracle + forUpdate() + limit()"
# Environment

Knex version: 0.21.1
Database + version: Oracle 12C (with oracledb 4.2.0 driver)
OS: Windows Server 2016

# Bug

When trying to query an Oracle 12C database with .first() or .limit() clauses AND a .forUpdate() clause, it gives the following error:

[code]

But if I execute `knex('TABLE').whereRaw('rownum <= 1').forUpdate()` it's ok!

Investigating, the generated SQLs are:

[code]

B

[2020-05-21 04:00] MohamedLamineAllal commented on #3390
it's no more available ! Why was it removed !

[2020-05-21 06:29] LiuWei-Luke opened #3862 "query results using @var is different between knex and mysql"
# Environment

Knex version:  0.12.6
Database + version: Mysql: 5.6
OS: centos

# Bug

I'm trying to use some @var in my knex query, but it didn't work well, Here is my usecase below.
[code]
But result was not same as using query in mysql directly,  I thought @row_numbers didn't +1 in knex query.

[2020-05-21 15:28] prk3 commented on #3849
@love8587
That's how I run migrations. Here is the exact console output. Notice that ts-node/register is used only when knexfile has `.ts` extension.

[code]

[2020-05-22 05:38] thiago-shopper opened #3864 "[Feature request] Can't make a PK AI "signed" it's forcing to create as "unsigned""
# Environment

Knex version: 0.20.14
Database + version: mysql 5.8
OS: linux

# Feature discussion / request

1. Explain what is your use case
I want to create a table with PK AI but not "unsigned" and i checked out that is not possible.
I think it is related to this part of the code.
 https://github.com/tgriesser/knex/blob/master/lib/dialects/mysql/schema/column.js#L30
`ColumnCompiler_MySQL.proto

[2020-05-22 10:45] elhigu commented on #3862
Please add complete reproduction. That is not runnable example. Closing since it doesn't seem like a knex issue. Also I'm not sure at all what `result=>result[0]` should return from `knex.raw` query. Try to run that query directly with mysql driver to see if it works there as excepted.

[2020-05-22 10:45] #3862 closed

[2020-05-22 16:46] nfantone commented on #873
@elhigu Functionally, apart from maybe indexes like @mnahkies suggested, there might not be. Semantically, it'd be nice to be able to express these kind of queries - which are not that uncommon - given that the API for it it's there already.

[2020-05-22 16:48] kibertoad commented on #873
Yeah, this is top item on my list, and I really, really want to get it done this year. Stay tuned :)

[2020-05-23 03:17] joshAg commented on #573
Is it still the recommendation to consider not using knex for large insertions?

[2020-05-23 06:31] LispyAriaro commented on #1381
You may have to switch to Node 12 NOT Node 14

[2020-05-23 06:32] LispyAriaro commented on #2302
You may have to switch to Node 12 NOT Node 14

[2020-05-23 08:16] DominicRoyStang opened #3866 "knex CLI commands do not respect NODE_PATH environment variable."
# Environment

Knex version: 0.21.1 (also tested on 0.20.8)
Database + version: postgresql:12.2
OS: linux (docker container `node:12.16.3-stretch`)

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I tend to organize my code by having the following structure:
[code]

To make my code cleaner, I set `NODE_PATH=src` so that I can treat my codebase as a module an

[2020-05-23 11:30] elhigu commented on #1381
Node 14 should work with new enough pg package version (> 8)

[2020-05-23 11:35] elhigu commented on #573
@joshAg depends completely on your case... I suppose you should be able to do at least something like 10000 rows / second with it. Depends on lot of things. So use it if it works for you.

[2020-05-23 12:18] DominicRoyStang commented on #3866
More discussion:

The call fails on `const seed = require(path.join(this._absoluteConfigDir(), name));` in [Seeder.js](https://github.com/knex/knex/blob/master/lib/seed/Seeder.js). `path.join(this._absoluteConfigDir(), name)` does give a string with the correct location. The issue is with files imported by that file.

I googled a bit and found that the Jest library had a similar [issue](https://gi

[2020-05-24 13:20] dkcamargox commented on #2860
I'm also doing a electron-react app

my knex is having the same problem.

TELL ME WHAT YOU DISCOVERED

[2020-05-24 13:24] burningTyger commented on #2860
Put your knex queries into the main thread. Don't use the renderer for knex stuff. Only communicate via IPC from main to renderer. Then you should be good. I noticed using the dB drivers directly also works from the renderer and is a lot more lightweight.

[2020-05-24 13:53] dkcamargox commented on #2860
you're awesome!!

[2020-05-26 09:19] barroudjo commented on #2686
Long after the battle, but it might still be useful:
@elhigu in fact in jest each test file is executed independently (so that they can be run in parallel). So each creates its own node export singletons, meaning each does indeed have its own knex instance, no way around it...
Here's the jest issue explaining this: https://github.com/facebook/jest/issues/7184
So  @good-idea 's way is the only way

[2020-05-26 21:17] timbrownsf commented on #1469
Was something like this ever implemented @tgriesser

[2020-05-26 21:19] kibertoad commented on #1469
@timbrownsf Can you provide an example of a wrong usage? I might try to cook something up.

[2020-05-26 21:26] timbrownsf commented on #1469
Sure, a common usage pattern:
[code]

[2020-05-26 21:28] timbrownsf commented on #1469
Perhaps I could set a `currentTransaction` property on our dataLoaders object, but without being able to check if it's open it could lead to errors. I could build my own `commitTrx(trx: Transaction)` method and use eslint to prevent devs from calling trx.commit() I guess...

[2020-05-26 21:28] kibertoad commented on #1469
@timbrownsf Wait, so how can dataLoader be aware of transaction existing elsewhere, if it is operating on its own clone of query builder?

[2020-05-26 21:32] timbrownsf commented on #1469
It isn't - thus the problem we often stumble into. Trying to figure out the best way to make dataloaders aware of current transaction.

[2020-05-26 21:37] kibertoad commented on #1469
@timbrownsf you can make a transaction parameter mandatory for dataloaders to force developers explicitly pass e. g. NO_TRANSACTION Symbol in cases you don't need one.

[2020-05-26 21:44] timbrownsf commented on #1469
I could, but trying to see if there's an easier way to do this that doesn't
require passing trx everywhere. Having a global transaction could work, but
not if I can't identify whether it's open or not.

On Tue, May 26, 2020, 2:37 PM Igor Savin <notifications@github.com> wrote:

[2020-05-26 23:47] kibertoad commented on #1469
@timbrownsf I think `transactionProvider` might be a helpful solution for you. Check out this example from documentation:

[code]

[2020-05-27 09:11] duzymaju commented on #2337
Talking about object mappings in `returning` for postgres, the only thing to do to let it works as described is to modify this conditional statement:

https://github.com/knex/knex/blob/e37aeaa31c8ef9c1b07d2e4d3ec6607e557d800d/lib/dialects/postgres/index.js#L261-L266

adding ` || _.isPlainObject(returning)` (or more sophisticated condition) to it.

It would then allow to create
[code]
receiving
[co

[2020-05-27 09:14] kibertoad commented on #2337
@duzymaju Sure, that would be great!

[2020-05-28 17:40] rossPatton commented on #1136
I am also having this issue. I am using postgres via digitalocean, which has a way higher connection limit than heroku. The app has little to no traffic (is under active alpha development).

Since the database is under very active development, tables changing constantly, I've just been destroying and seeding a new one every now and then.

After a recent deployment, the site now immediately crashes

[2020-05-28 21:15] orobert91 commented on #3463
It is pretty disappointing when you are coming from a C#/EntityFramework/LINQ world where query statements, even the most complexe ones, are fully statically typed with a well-engineered and highly-maintainable LINQ syntax where the compiler will catch almost every single mistake you make before you even run them. And then plunging into the Javascript/Typescript world where every single ORM out th

[2020-05-28 21:26] kibertoad commented on #3463
@orobert91 I hope you read previous discussion already. None of the maintainers of this project oppose the idea of fully statically-typed ORM. Problem is that knex wasn't designed with type-safety in mind, and modifying it to be properly statically-types is a non-trivial effort.

MikroORM (https://github.com/mikro-orm/mikro-orm) is a great TypeScript-first ORM, and I definitely recommend you to ch

[2020-05-28 21:32] martinblostein commented on #3591
Your workaround will insert nulls into the database if those fields are not populated. I'm not sure if that was the intention of your original query.

[2020-05-28 21:34] H6LS1S commented on #2519
Why does this work for default values ​​in migration ?

[code]

[code]

[2020-05-28 21:38] orobert91 commented on #3463
Yes I have and I already know about MikroORM and they use Knex under the hood. Their query builder is still string-based and provides absolutely no type safety:

[code]

But yes indeed I perfectly understand that modifying it to be properly statically-type would required a non-trivial effort. Still, I appreciate the effort of @wwwouter here.

[2020-05-28 21:43] kibertoad commented on #3463
It is a very impressive effort indeed, but I wonder if it's feasible to implement without essentially rewriting the core of knex.

[2020-05-28 22:18] lookfirst commented on #3463
@b4nan

[2020-05-28 22:41] orobert91 commented on #3463
@kibertoad I don't think it would be necessary to rewrite the core of knex, it's essentially making the query builder statically typed using LINQ-style arrow functions instead of strings. Functions would indeed be reorganized a bit to make them statically typed, but it wouldn't change the core of Knex. What Knex would need to change is how it gathers information from the query building functions t

[2020-05-28 22:48] kibertoad commented on #3463
@orobert91 I'm not saying that it's not doable. I'm just saying that very little of existing Knex code is likely to be helpful for implementing this approach. I invite you to try implementing this kind of a layer over existing codebase for the simplest of cases. In case it actually works out, I would be more than happy to change my opinion of how difficult this is.

[2020-05-29 04:21] laggingreflex opened #3867 "Migration directory error when using Custom Migration Source"
# Environment

Knex version: 0.21.1
Database + version: sqlite3
OS: Windows 10

# Bug

## Description

I'm using [Custom Migration Source][1]

[code]

The migrations are specified within the source itself, i.e. no need to look for a migration directory.

It works fine on the first run.

But subsequently it gives the following error:

## Error message

[code]

It's looking for a migration directory

[2020-05-29 05:12] B4nan commented on #3463
I don't want to hijack this thread, but let me reply to this - QB in MikroORM is there to allow doing basically anything, you can work with things that are not defined at the entity metadata. Also it's interesting that you picked that example, as this string based syntax was added later for easier transition from other ORMs (or raw SQL usage), the original way is to use objects for conditions, jus

[2020-05-29 05:40] wwwouter commented on #3463
@B4nan Please do not hijack the thread. My goal of this issue is to have a typed querybuilder, not an ORM. Whether that's a good idea or not, is something to discuss somewhere else.

[2020-05-29 05:52] wwwouter commented on #3463
`Users().where(u => u.id == 1);` is possible to implement, but it get's trickier when combining operators. Even LINQ can create some runtime errors if the underlying provider doesn't support it.

For me the first step would be to mimic the current Knex syntax of `Users().where(u => u.id, 1);`
That already brings a lot of value and can be 'easily' implemented (see working code of typed-knex)

After

[2020-05-29 06:56] laggingreflex commented on #3867
Ah, my bad. User error.

[code]
That fixed it.

[2020-05-29 06:56] #3867 closed

[2020-05-29 20:51] rodrigosegatto opened #3868 "Sysdate oracle"
why doesn't it work or code below?

`raw.('..... AND dt_update > sysdate -30')`

not possible `sysdate`?

[2020-05-29 21:05] orobert91 commented on #3463
@wwwouter I agree. Using arrow-functions to specify attributes would be a perfectly good start and does bring some much needed type-checking.

[2020-05-30 01:41] fuadnafiz98 opened #3869 "How to contribute to knex documentation?"
Is there any way to contribute to editing knex.org documentation. It may be helpful to add some examples in schema examples like [float-example](http://knexjs.org/#Schema-float).

[2020-05-30 10:23] kibertoad commented on #3869
Appreciate the eagerness to help! You can submit PR to https://github.com/knex/documentation

[2020-05-30 10:27] kibertoad commented on #3868
This is not a knex, this is an Oracle question.
Try stackoverflow, e. g. https://stackoverflow.com/questions/9147393/comparing-date-with-sysdate-in-oracle/9147562

[2020-05-30 10:27] #3868 closed

[2020-05-30 13:57] fuadnafiz98 commented on #3869
thanks 😁

[2020-05-30 13:57] #3869 closed

[2020-06-01 05:36] elhigu commented on #1136
Maybe you have multiple application instances running. Knex should never use 150 connections if pool has lower limit than that. Usually this kind of errors are caused because of combination of too big pool max limit and code that doesn't handle transactions propertly (if transactions are no committed / rolled back, then connections are not released to the pool). You can check out pool stats from i

[2020-06-03 12:57] mlarcher opened #3870 "postProcessResponse not called for streamed queries ?"
# Environment

Knex version: 0.21.1
Database + version: postgres 11
OS: node:14.2.0 docker container

# Feature discussion / request

It seems that `postProcessResponse` is not called on the resulting rows when using `.stream()` on a query. Can someone tell me if this is a bug or the intended behavior, and if there is a known workaround by any chance ?

[2020-06-03 21:19] zefexdeveloper commented on #3827
bump

[2020-06-04 06:44] christianodejesus commented on #3623
I think exactly about this, like Sequelize does by default.

I'm working on this now, but the config option defaults to disable, to not cause problem to anyone already uses seeds with no order

[2020-06-04 10:17] gbkwiatt opened #3871 "MSSQL varchar(MAX) support"
Is there any way to make schema and migration to create varchar(MAX) ?

currently it's max 8000 and does not allow string value (it defaults to 255).

[2020-06-04 10:48] gbkwiatt commented on #3871
I did some change in columncompiler.js in dialects/mssql/schema

[code]

[2020-06-04 11:41] kibertoad commented on #3871
Can you submit pr with test for this change?

[2020-06-04 12:06] gbkwiatt commented on #3871
well actually it's my bad-ish.
I prefer and suggest varchar in mssql not nvarchar, so I've changed those.
And then text should be varchar(MAX)

or at least there should be a way to force knex using varchar instead of nvarchar.

[2020-06-04 12:10] kibertoad commented on #3871
I agree. PR is welcome.

[2020-06-04 13:26] JeremyEllingham opened #5897 "documentation missing for .alterTable"
Unless I'm mistaken, it seems to be missing from http://knexjs.org/.

It is mentioned though in the examples for two other methods:
http://knexjs.org/#Schema-unique
http://knexjs.org/#Schema-alter

Maybe it was deprecated?  It seems to have overlapping functionality with http://knexjs.org/#Schema-table

[2020-06-04 17:34] mbabauer commented on #3841
@elhigu Did you ever figure out what was causing this issue?  I am seeing it on an insert from a unit test using sqllite3 in-memory as the DB.  It doesn't give much info other than "Error: aborted".

[2020-06-04 17:59] elhigu commented on #3841
Needs a complete reproduction. Just "querying for results not found in database" probably doesn't cause this since in that case this issue would be flooded with comments.

Closing until proper reproduction is provided.

[2020-06-04 17:59] #3841 closed

[2020-06-04 22:36] elhigu commented on #3870
It is not intentional and I don't believe that there is any workaround for it.

[2020-06-04 23:34] joaotanaca commented on #2820
for me it was a silly error, I ended up not putting the await trx.commit () before the return

[2020-06-05 13:01] pazfelipe opened #3872 "Cannot get __knexQueryUid"
Every query has its own  ___knexQueryUid_. Is there any way to get this info? I need it to map user session, query executed and access ip address. So, what should be the best way to get ___knexQueryUid_?

[2020-06-05 14:39] mlarcher commented on #3870
Thank you for the info @elhigu
I guess it counts as a bug then, as it was quite unexpected.

[2020-06-05 16:38] TSiege commented on #1322
If anyone else has stumbled here trying to do this with a `whereNotExists` clause here's an example I have working with my own code.
[code]

[2020-06-05 16:39] TSiege commented on #1323
If anyone else has stumbled here trying to do this with a `whereNotExists` clause here's an example I have working with my own code.
[code]

[2020-06-05 16:45] TSiege commented on #871
If anyone else has stumbled here trying to do this with a `whereNotExists` clause here's an example I have working with my own code.
[code]
This is the query it generates:
[code]

[2020-06-06 04:33] christianodejesus commented on #3623
@kibertoad / @JaneJeon
I've created the config option and CLI flag that allows to create seeds with a timestamp prefix, see in the PR.

[2020-06-07 20:56] sethlivingston commented on #3834
I'm having this problem. Setting

[code]

And then running the CLI with

[code]

Puts the new migration in pathABC. I would expect the CLI argument to override the knexfile.

When I looked through the code, it doesn't look like the --migrations-directory option is being used anywhere.

[2020-06-08 10:47] elhigu commented on #3834
I wonder if that directory from command line is just added to the list of migration directories. IIRC there can be multiple migration directories and new migrations are added to the first listed directory.

[2020-06-08 11:42] elhigu commented on #3872
At least by binding an event handler for the query https://knexjs.org/#Interfaces-query

[2020-06-08 11:42] #3872 closed

[2020-06-08 11:57] elhigu commented on #2820
@joaotanaca Good way to avoid that error is to use implicit commit/rollback style of transactions

[code]

[2020-06-08 13:26] joaotanaca commented on #2820
I didn't end up checking the transaction method, thank you very much

I didn't end up checking the transaction method, thank you very much

[2020-06-08 16:47] rossPatton commented on #2820
i am getting this on a small not-yet-public site with no more than 1-2 connections at a time and im not using transactions, on postgres

nothing about my setup is particularly complicated, and the db isn't very big

[2020-06-08 17:03] Aposhian commented on #3841
I got this error when I was accidentally calling knex.destroy() and then performing more queries on that knex object.

[2020-06-08 18:30] ricokahler opened #5898 "How do you pronounce "knex"?"
A few co-workers and I were having a debate on how to say it so I thought I'd ask 😅

I was looking in the docs for how to pronounce it and no luck (sorry if I missed something!).

---

- It is like my favorite childhood toy "ken-nex"?
- Or is the k silent as in "nex"?
- Something else??

That's it. Thank you!

[2020-06-08 18:42] elhigu commented on #2820
@rossPatton try to isolate the exact case where it is happening and then you might find what is wrong in your app. Maybe your queries are really slow. Anyways that error is pretty hard to create without flooding huge amount of queries or using transactions.

[2020-06-08 19:49] skarbovskiy opened #3874 "manual transaction commit + throwing error"
Knex version: 0.21.1

code below may seem weird, but actually it has some usecases and currenty not working as exprected
[code]
Currently this results to an `undefined` promise resolution, not rejecting with `some error`.

Previously this code worked as expected (last working version - `20.11`)

[2020-06-08 22:45] mauroere commented on #3426
1. They must include a knexfile.js in their project's root.
2. Re install sqlite3 (npm install sqlite3 --save)
3. Run migrations command ( ex: npx knex migrate:latest --knexfile knexfile.ts migrate:latest)

[2020-06-08 22:59] mauroere commented on #2008
Insert **useNullAsDefault: true** into knex connection file, and try again.

[2020-06-09 09:45] elhigu commented on #2008
@mauroere that is not the problem in this issue if you read it properly. Doing just select statement should never trigger that error.

[2020-06-09 10:24] elhigu commented on #3874
You should not call trx.commit() inside the async handler. It is done implicitly when handler returns a promise.

Try:
[code]

[2020-06-09 10:24] #3874 closed

[2020-06-09 10:33] skarbovskiy commented on #3874
as i mentioned before, this code can seem weird)
idea is to commit and throw error after successful commit.
Example usecase
[code]

Inner function should do some stuff inside transaction, manually commit outer transaction and do some third-party stuff, that can lead to error and without commit - to whole transaction rollback.

[2020-06-09 13:49] #5898 closed

[2020-06-09 14:05] elhigu commented on #3874
If you want to throw an error after successful commit, you cannot use `async trx => {}` handler function, because using that causes knex to do implicit commit / rollback. So you need to do something like (and be careful of not leaving transactions open anywhere):

[code]

So that design doesn't look really robust unless there is some other safety measures implemented.

[2020-06-09 14:06] elhigu commented on #3874
To me all this looked that it is failing as expected.

[2020-06-09 16:34] skarbovskiy commented on #3874
well it actually not failing) `throw new Error('some error');` simply goes to void.
Usage can obviously be wrong, but muting error is :exploding_head:

[2020-06-09 18:57] Heverson commented on #3003
Hi @moacirandretti , my **knexfile.ts** it's in the root project, but cli heroku `heroku run knex --knexfile knexfile.ts migrate: latest`
return this message.

[code]
I installed this package **ts-node** in dev dependency

[2020-06-09 20:20] Heverson commented on #3849
Hello @prk3
I have the same problem, when run knex migrate in heroku cli
[code]

[2020-06-09 21:26] NDStrahilevitz opened #3875 "Typescript: Knex query return type not resolving to TResult"
@lorefnon

Knex version: 0.21.1

As I understand it when using a knex instance as such knex<RecordType, ResultType>('sometable')
the assigned variable will be typed as ResultType[] or ResultType depending on the query. Yet as shown in this example, the variable is resolved to be of type RecordType or RecordType[] if ResultType is declared as ResultType[] in the constraints.

ResultType:
![tresult]

[2020-06-09 22:33] olso commented on #239
[code]

[2020-06-10 09:09] adrianhelvik opened #3876 "Feature request: Async iterators"
I would love to be able to iterate over a large collection of items without loading everything in memory at once. I can do that with streams, but it can be a bit cumbersome. Async iterators otoh are exactly what I'd like.

This is especially important for migrations. We sometimes make changes that affect every row in a table and I fear this could cause memory issues in the future.

What do you thi

[2020-06-10 09:25] hyz1840 opened #3877 "oracledb stream clob check error!"
# Environment

Knex version:
oracle  2018:    oracledb 4.2
OS: windows

bug:     oracledb/index.js

readStream function

stream.iLob.type === oracledb.CLOB    error, because there are no iLob prop, type prop is in stream obj.
there is stream obj props image:

![image](https://user-images.githubusercontent.com/64118876/84251044-62f90e00-ab3f-11ea-8d23-80eb466ba6cb.png)

[2020-06-10 09:26] kibertoad commented on #3877
What is the knex version?

[2020-06-10 09:34] elhigu commented on #3876
I would hate to add additional APIs for accessing results for maintaining knex. Already current stream API implementation's functionality is questionable.

Using that library for converting streams to async iterator sounds like a way to go and hopefully you can wrap that to a knex extension as a separate npm package.

Having a separate extension will also reduce knex's dependencies (this feature w

[2020-06-10 09:34] #3876 closed

[2020-06-10 10:14] Crusader4Christ commented on #2037
@mlarcher what about mysql?

[2020-06-10 11:02] elhigu commented on #3874
I suppose it gets muted because the promise which it should be rejecting is already resolved. I suppose that is just how promises work. If one tries to reject resolved promise it is just a no-operation?

[2020-06-10 16:24] stalniy opened #3878 "Feature: separate builder for where conditions"
# Feature discussion / request

1. In order to integrate my package with knex, I need to convert a limited set of mongo query into knex builder with corresponding where conditions. The current `where*` API doesn't allow seamlessly to do this.

2. Except easier transformations using recursive logic, this API is much easier to use and understand

3. To illustrate the API let's use the example from #

[2020-06-10 16:53] #3878 closed, assigned to nobody

[2020-06-11 17:34] amir-s opened #3879 "Preserving execution async resource in events"
# Environment

Knex version: 0.21.1
Database + version: sqlite and mysql
OS: MacOS 10.15.5

# Bug
I'm experiencing a weird issue with knex and node's [`async_hooks`](https://nodejs.org/api/async_hooks.html). My usecase for this is to have a universal logger that adds contextual metadata to the logs. The context comes from the parent function that is executing the query and it is shared via the [`e

[2020-06-12 00:47] abcd-ca commented on #3849
Why do we get "SyntaxError: Cannot use import statement outside a module" when we run ts files with the CLI? Is there a setting we can change to fix that?

@heverson I believe I fixed the "Failed to load external module ts-node/register" error by `npm install --save-dev ts-node` but then I got the `import` syntax error above.

Still battling even trying to get it to work with require but it would

[2020-06-12 01:29] love8587 commented on #3849
@lorefnon that's  right. I found out it from document and resolved it.

[2020-06-12 01:37] abcd-ca commented on #3849
I can't get it to run a knexfile.ts that has typescript syntax such as,

[code]

without the error,

[code]

I have tried running it like,

`knex --knexfile ./knexfile.ts migrate:make create_users_table -x ts` (tried with and without the --knexfile option and with and without the -x ts option)

If I remove the import from knexfile.ts it just hides the problem because the rest of the file is the sa

[2020-06-12 01:41] abcd-ca commented on #3849
I just noticed that 0.21.1 in the [changelog has a bug fix](https://github.com/knex/knex/blob/master/CHANGELOG.md#bug-fixes) that looks related which I suspect might be causing this side effect issue.

[2020-06-12 01:58] love8587 commented on #3859
It resolved it from https://github.com/knex/knex/pull/3814

[2020-06-12 01:59] abcd-ca commented on #3849
Is there a way to have a separate tsconfig.json file just for the knex CLI as a workaround?

[2020-06-12 02:27] abcd-ca opened #3880 "Docs for specific version?"
Is there a way to view the docs for a particular version? I'm thinking about when I have to edit my project in a year and don't want to upgrade, where am I going to find the docs? I might make a PDF now just in case, if I can.

[2020-06-12 04:07] issa-tseng commented on #2324
okay. much investigation later, here's what i think is happening here. **i have two possible patches but i need feedback on which to take** because i am not familiar with the practices and patterns in this project. /cc @kibertoad (sorry for the nickflash but i promise i did a lot of digging here.)

first, to refute claims that led me wrong:
1. it has nothing to do with reading or draining the stre

[2020-06-12 04:12] issa-tseng commented on #2324
oh. and here is my isolated case i was using to repro:

[code]

ideally, this should just keep going. without the patch, it locks up after the first try for me.
knex 0.21.1 (=> tarn 3.0.0)
pg 8.2.1
pg-query-stream 3.1.1

[2020-06-12 08:02] love8587 commented on #3849
@abcd-ca I resolved it below code.

`
const extension =
  process.env.NODE_CONFIG_ENV === 'production' || process.env.NODE_CONFIG_ENV === 'staging'
    ? 'js'
    : 'ts';

console.log('extension ============> ', extension);
`

`  migrations: {
    tableName: 'knex_migrations',
    extension: extension,
    directory: path.join(BASE_PATH, 'migrations'),
    disableMigrationsListValidation: true,

[2020-06-12 09:12] elhigu commented on #3880
Right now you can locally generate any version on documentation by fetching correct tag from documentation repo and building it. Though having an archive of old documentation versions would be nice.

[2020-06-12 12:23] KristjanTammekivi commented on #3186
Something to also consider is that you can have partial unique indexes in postgres and when you do an upsert you must specify the where

ie.
[code]

Note that we can't use .where to specify the conflict since the merge part can also have a WHERE to conditionally update

[2020-06-12 17:33] abcd-ca commented on #3849
@love8587 Yeah that's a good solution to your problem, thanks for sharing! In my case I realized it was a bit of a different problem than yours. In my case I couldn't get knex CLI to work with typescript files at all. In my case it was because my tsconfig.json didn't have `module` set to `commonjs` as it requires. Conversely, my UI framework Next.js requires `module` to be `esnext`. For now I'm sw

[2020-06-12 17:34] #3880 closed

[2020-06-12 17:34] abcd-ca commented on #3880
Closed but would be cool to put that on the roadmap

[2020-06-12 17:59] lorefnon commented on #3849
@abcd-ca You can use:

[code]

knex uses ts-node's require hook for `.ts` extension and that can accept TS compiler options through `TS_NODE_COMPILER_OPTIONS` env variable. These options will be merged into what you have in your tsconfig.json.

[2020-06-12 18:41] elhigu commented on #3186
@KristjanTammekivi how does that feature work on other dialects or is it completely postgres specific? Especially if that is not a general feature I would say that it should be implemented as a separate feature request that needs to be implemented on top of this first version. I mean having proper where conditions support may makes this a lot more complex.

[2020-06-12 18:44] KristjanTammekivi commented on #3186
Sadly, according to a quick google, it seems this is Postgres specific :/

[2020-06-12 18:49] elhigu commented on #3880
PRs are welcome for a script that generates some kind of frozen version of docs to a separate path. Then I could run that script for every tag and publish them (some older versions probably doesn't generate exactly the same way).

I would do it myself, but currently my open source hours are pretty limited.

[2020-06-12 19:04] abcd-ca commented on #3849
thanks!

[2020-06-12 19:39] NDStrahilevitz commented on #3875
@lorefnon Ok I see I misunderstood the purpose then. Thank you for the reply :)

As for why I needed it, I wasn't actually using it but I was considering using it as a solution for a key conversion problem, basically I was considering abusing the fact my DB is case insensitive to pass the "wrong" keys to the DB and then expect the actual object type back. I've since found a better and more satisfy

[2020-06-12 19:39] #3875 closed

[2020-06-12 20:57] abcd-ca commented on #3849
@lorefnon That gave me this alternative idea:

created a tsconfig.knexcli.json containing an override for module,

[code]

Then when running my commands,

TS_NODE_PROJECT=tsconfig.knexcli.json knex migrate:latest

Just slightly cleaner because the JSON when in an npm script needs to escape the quotes and gets a bit busy looking. Thanks!

[2020-06-12 21:40] aprilcoskun commented on #2860
I have this issue with angular universal.

[2020-06-12 23:24] umaar opened #3882 "Error when running the Knex CLI: TypeError: Cannot create proxy with a non-object as target or handler"
### Environment

Knex version: 0.21.1
Database + version: sqlite3 v4.2.0
OS: macOS
Node: v14.1.0

[code]

Looks like running the knex migrate command, and using ESM, seems to present this error!

[2020-06-12 23:41] umaar commented on #3882
Note, a bit of console logging shows the error coming from: https://github.com/knex/knex/blob/da54cf1ecf0acef4b3d3d51cd2656e4faf10d3e9/bin/cli.js#L45

If I wrap that line in a try catch and log the error, I see the additional error:

[code]

[2020-06-13 04:45] lorefnon commented on #3849
@abcd-ca Yes, that certainly looks like a cleaner approach.

[2020-06-13 16:54] Thomasr-02 commented on #1939
@davidgatti , The problem with your code    `  DATABASE_URL:` postgres://admin:admin@172.18.0.2:5433/dbname` , should be `DATABASE_URL:`postgres://usuario:password@0.0.0.0:5433/dbname``

[2020-06-13 21:12] mike20007 opened #3883 "Oracle: knex returns null if column value is null. Can it return empty string?"
# Environment

Knex version: 0.19.5
Database + version: oracle 11g 11.2
OS: Linux

# Question
knex returns null if column value is null.
Can it return empty string?

  return await knex.raw(
    `
     select USERID, STATUS from users
     where trunc(ENTRYDATE) = ?
     `,dt).then()

Output:
[
    {
        "USERID": "MIKE",
        "STATUS": null
    }
]

Thanks!

[2020-06-14 02:30] mike20007 commented on #3883
Any thought?

[2020-06-15 06:33] christianodejesus commented on #3623
@kibertoad I made new changes on my PR #3873 for its latest revision. It would be great if you could review these new changes. Thanks!

[2020-06-15 08:16] elhigu commented on #3883
Uh so you are asking if knex could modify null from database to be an empty string? Do you want that to happen for every column or for just one column in one query.

Easiest way to do it is to map the result and modify those nulls to be strings.

Another way is to modify your query to convert nulls in some column to strings instead of null.

For example with some query like:

[code]

[2020-06-15 08:16] #3883 closed

[2020-06-15 09:09] Toub opened #3884 "Default float precision on postgres"
# Environment

Knex version: 0.21.1
Database + version: postgres 10
OS: docker/linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The [documentation](https://knexjs.org/#Schema-float) says that default precision for floats is 8.

So on postgres, I would expect to have `float8` type created.

However, if precision is not set, `float4` type is created.

2

[2020-06-15 09:17] Toub commented on #3884
Related to https://github.com/knex/knex/issues/2945

[2020-06-15 10:41] elhigu commented on #3884
Yep, its a bad documentation + defaults. Float is 32bit float by default, unless DB supports those scale / precicion setting. `.double` is double precicion float column.

[2020-06-15 10:43] elhigu commented on #3884
closing as there is already issue about it in documentation repo + duplicate to already closed issue https://github.com/knex/documentation/pull/250

[2020-06-15 10:43] #3884 closed

[2020-06-15 15:51] mike20007 commented on #3883
Thanks @elhigu.

I need it for all the columns and I did the below.
        let str = JSON.parse(JSON.stringify(data).replace(/\:null/gi, "\:\"\""));
        res.status(200).json(str);

[2020-06-15 22:23] jmrossy commented on #608
I still see this issue when I run migrations

[2020-06-16 00:05] jmrossy commented on #2741
+1 to @kibertoad's suggestion of adding this to the docs. Enabling SSL is an important addition for production services and the docs currently don't mention this option.

[2020-06-16 06:18] elhigu commented on #3883
That sounds like a horrible hack, but great if it works for you in this particular case.

[2020-06-16 12:49] ivan-kleshnin opened #3886 "Migrate Unlock should have programmable API counterpart"
# Feature discussion / request

Add `knex.migrate.unlock` function.

There are:

[code]

[code]

etc, but:

[code]

[2020-06-16 13:39] elhigu commented on #3886
There is https://knexjs.org/#Migrations-unlock API name is just different.

[2020-06-16 13:39] #3886 closed

[2020-06-16 21:52] rijkvanzanten opened #3887 "Add support for checking existence of multiple columns at the same time (schema)"
# Feature discussion / request

Add way to check existence of multiple columns at once.

1. Explain what is your use case

I'm working on a headless CMS with a dynamic database schema ([Directus](https://github.com/directus/directus)). This means that I often have to check if columns exist before querying them. However, the only way to do that currently is by looping over the fields, and running `

[2020-06-17 08:27] elhigu commented on #3887
For this case I think you can use https://knexjs.org/#Builder-columnInfo which should be able to return info about all columns in the table among some additional information.

Though checking existing columns again and again even this way gets a bit slow when it is done all the time so you probably want to cache that information (and invalidate the cache when schema is changing).

[2020-06-17 08:27] #3887 closed

[2020-06-17 09:32] AlanHilal opened #3888 "OrderByRaw binding values"
# Environment

Knex version: 0.15.2
Database + version: PostgreSQL
OS: Mac os

# Bug
I am trying to bind direction to orderByRaw like this: orderByRaw('columnName ? NULLS LAST', [direction]).
The value of direction variable is either 'asc' or 'desc'
The binding is not working and shows a syntax error.

[2020-06-17 09:47] elhigu commented on #3888
Cannot reproduce. Everything is generated as expected:

https://runkit.com/embed/lk4qiuh41dvw

[2020-06-17 09:47] #3888 closed

[2020-06-17 10:27] AlanHilal commented on #3888
I still get this error when I execute the query:
order by columnName $2 NULLS LAST - syntax error at or near "$2"

[2020-06-17 13:21] elhigu commented on #3888
I suppose that postgresql doesn't support value bindings in that part of query. It has nothing to do with knex.

[2020-06-17 16:38] rijkvanzanten opened #3889 "Schema building: retrieving indexes"
# Feature discussion / request

Knex has a bunch of methods aimed at providing an interface to build out a schema in any of the supported environments (MySQL / PostgreSQL / SQLite / etc). This includes creating new indexes. However, Knex does not currently offer a way to retrieve some of this schema information, including existing indexes.

1. Explain what is your use case
In my exact case, I need

[2020-06-17 17:26] elhigu commented on #3889
Needs quite a more investigation how this can be implemented with different databases + proper API design. Though I would rather have some separate knex-schema inspector package (I would actually rather have also all migration APIs separated from knex for easier maintenance and since those are breaking knex's basic design principles of creating just single query per builder).

[2020-06-17 18:16] rijkvanzanten commented on #3889
That's sounds like a great idea. What would be a good place to get such a conversation / design spec started? As I'm planning on using something like that quite extensively starting right away, I'm down to pick that up! I am a little new to the Knex ecosystem though, so I would need some help coming up with a good API design. I'm assuming we can go the Bookshelf route where you can initialize this

[2020-06-17 18:21] elhigu commented on #3889
Here is good place to draft plans and get comments to the ideas.  Sure I will comment if I have any thoughts / ideas about it, but your approach sounds good.

[2020-06-17 18:22] kibertoad commented on #3889
@rijkvanzanten Personally I'm open to create it as a separate repo under the Knex org umbrella if that works for you.

[2020-06-17 18:24] rijkvanzanten commented on #3889
@kibertoad Absolutely! I just figured as it's something I would have to build for this project anyway, I might as well try turning it into something that the whole community can enjoy 🙂

I suppose the rough next steps to get this rolling would be to extract all the Schemabuilder stuff into a separate installable package under a new repo in the Knex org, and start brainstorming on how we can extend

[2020-06-17 18:31] elhigu commented on #3889
I don't think it is necessary to move schema builder there right now. Just having separate knex-schema-inspector should be fine.

[2020-06-17 18:32] rijkvanzanten commented on #3889
Based on your previous comment I figured it could be a similar effort:

But it's probably too massive of an undertaking to migrate the userbase from a single package to a split approach like that like that

[2020-06-17 18:37] kibertoad commented on #3889
https://github.com/knex/knex-schema-inspector

Personally I wouldn't mind if it's written in TypeScript from day one, but whatever works for you :)

[2020-06-17 18:43] rijkvanzanten commented on #3889
Sweet! Thanks 🙂

I primarily work in TypeScript these days so that works for me 👍

[2020-06-17 18:45] kibertoad commented on #3889
@rijkvanzanten I'll add CI pipeline to the repo later this week.

[2020-06-18 06:33] AlanHilal commented on #3888
I wrote the same query with string interpolation and it worked. knex value bindings add single quotation around the value, beacues the values asc and desc are sql keywords, postgresql gives an error.
https://runkit.com/alandzday/5ee9f1ed2357f6001a3b562d

[2020-06-18 08:16] elhigu commented on #3888
Actually knex does not add single quotes (.toString() doesn't tell you the truth about how knex sends queries to the DB), but it sends values as parametrized query with bindings, but yeah that is not the only place where value bindings are not supported.  There is also places, where string literals must be used, but parameter bound strings doesn't work.

[2020-06-18 12:57] simeonpashley commented on #1128
For those looking for a solution, this one worked for me using knex@^0.21.1, I wanted `mysql2` driver retained. I took 2 existing solutions, which worked together for me.

In webpack config  merge in a modified version of https://github.com/knex/knex/issues/1128#issuecomment-515573845
[code]

Also add in a webpack plugin, that will exclude the offending packages
ref https://github.com/knex/knex/is

[2020-06-19 13:29] rijkvanzanten commented on #3889
Closing this feature request in favor of a new project:

https://github.com/knex/knex-schema-inspector

[2020-06-19 13:29] #3889 closed

[2020-06-19 17:14] hyz1840 commented on #3877
"knex": "^0.19.5",

[2020-06-19 18:05] jmrossy commented on #3514
@elhigu Can you elaborate on why automatic conversion from driver specific result objects was removed? Is without that, it makes it much less convenient to share code across different drivers.

[2020-06-19 20:44] kibertoad commented on #3877
@hyz1840 Should be fixed in 0.20.3+

[2020-06-19 20:44] #3877 closed

[2020-06-20 23:30] KeitelDOG commented on #3185
I didn't have the time to check Knex source code on this, but since the `knexfile.js` exports an object with keys: `development`, `production`, etc.:

[code]
by importing:

    const knex = require('knex')(knexfile);

It reads the whole object, but not the environmental config `development` or `production`. By doing:

    const knex = require('knex')(knexfile.development);

It works fine. But it s

[2020-06-20 23:54] sirfilip commented on #3870
I can pick this one up

[2020-06-21 06:35] kibertoad commented on #3870
Would be awesome!

[2020-06-21 17:53] manvydasu commented on #756
@nicoburns
Have you tried your own suggested approach? I was playing with it a bit. It works fine when COPY function succeeds. However, when COPY operation returns an error (i.e. you receive error 'missing data for column "column_name"') - knex doesn't get the error in time.  In such case, it still attempts to COMMIT transaction and returns resolved promise. After some time, exception is thrown, b

[2020-06-21 22:40] sirfilip commented on #3870
Quick question is it ok if i add test coverage and can go with jest or mocha it is all the same to me, please tell me what is the project preference ?

[2020-06-21 22:46] kibertoad commented on #3870
@sirfilip Test coverage is actually mandatory for PRs with rare exceptions. Take a look at existing integration tests, they use mocha.

[2020-06-22 05:53] sirfilip commented on #3870
Thanks @kibertoad  looks like i need to get something from my sight :). Now all makes sence. I am on it!

[2020-06-22 10:36] Duchynko commented on #852
This still doesn't work

[2020-06-22 11:57] elhigu commented on #3514
@jmrossy contents and accessing the data was the same for all the drivers. So data can be accessed the same way like from plain JS object.

Conversion was a real performance bottleneck for queries containing thousands of results.

Knex still standardizes the results, because it still fetch or build if necessary the internal array of result row objects from the database.

So with all databases you

[2020-06-22 14:13] david1602 opened #3891 "Tedious deprecation warning"
# Environment

Knex version:  0.21.1
Database + version: MSSQL
OS: Ubuntu 18.04.

@smorey2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Not necessarily a bug, but there's a deprecation warning in the MSSQL driver. Since the driver for knex is a copypasta from the tedious mssql driver, I am not sure if this error actually occurs in the mssql dependency o

[2020-06-22 15:37] jmrossy commented on #3514
@elhigu Thanks for clarifying.
I found this works as expected for most queries but I did an inconsistency btwn Postgres and MySql for a count query. I worked around it by using Object.values() instead of accessing the count property directly.

[code]

[2020-06-22 15:44] elhigu commented on #3514
Count query result different is another story... it is not different because of that change. Would be good to have some way to get those in a crossdb compatible manner.

[2020-06-22 16:47] elhigu commented on #3891
Which node-mssql driver version are you using? Your error message is showing that it is indeed coming from dependency, not from knex.

[2020-06-22 17:08] elhigu commented on #3891
Your reproduction case is not showing the used configuration. It is important in this case (and usually in other cases too)...

[2020-06-22 21:10] danilofuchs opened #3892 "Document how to access raw query result"
# Feature discussion / request

I want to take advantage of knex connection pooling to run raw SQL queries.

2. Explain what kind of feature would support this

3. Give some API proposal, how the feature should work

# Missing / erroneus documentation

Send issue to documentation repo, or fix it and send PR https://github.com/knex/documentation

# Questions about how to use knex

GitHub issues are

[2020-06-22 21:13] #3892 closed

[2020-06-23 23:12] sirfilip commented on #3870
^^^ it is messy not a real pr just want to make sure that i am going in the right direction. It looks like i will have to wrap each row of the stream inside the client.postProcessResponse with the row and connection as context i think that i am maybe missing someting

[2020-06-24 06:17] Robmcmon commented on #3831
I have this same error what is odd is one project on my computer it will run and work for one database.. on another different project same setup just different postgresql database it does the same error. I'm on Node 14 but I've downgraded to 12 and there was no difference. Does anyone please have a solution for this or even to trouble shoot it?

[2020-06-24 10:25] nicoburns commented on #3831
@Robmcmon Note that you will also get this error if the database is inaccessible for some reason (e.g. if you have a typo in the server address, your database is genuinely down, there's a firewall blocking the connection, or you have no internet on the machine you are connecting from). Given that you are seeing this on Node 12 as well I'd suggest that it's likely unconnected to the issue seen here

[2020-06-24 16:58] Robmcmon commented on #3831
Well needless to say I found the issue.. on the second project that didn't work I had a error on my directory link to my env file location. should had been "'./.env'" and i had "../.env" one single "." can always derail your day!

lol Thank you for your assistance as you got me on the track of thinking that it wasn't related to the actual issue here.

[2020-06-25 08:52] AramRafeq opened #3894 "Request.tds.Request.err [as userCallback](mssql.lib.tedious:request) mssql"
# Environment

Knex version: 0.21.1
Database + version: mssql + 6.2.0
OS: linux machine

# Bug

1. i have used knex with mssql for about 10 months in production but i haven't encountered an error like this this issue appeared recently while executing some query which complains about error in a core of a mssql module  withis this path /mssql/lib/tedious/request.js

2. Request.tds.Request.err [as us

[2020-06-25 09:15] elhigu commented on #3894
cannot reproduce

[2020-06-25 09:15] #3894 closed

[2020-06-25 18:03] tubular400 opened #3895 "Cannot overwrite 'transaction' method since version 0.20.12"
# Environment

Knex version: 0.20.12
Database + version: SQLite 3.27.2
OS: Debian Linux 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I have written an automated test in which I attempt to overwrite Knex's `transaction` method.

2. Error message
When I run my test, I get the following error message:

        TypeError: Cannot assign to read only proper

[2020-06-25 21:28] DataTables commented on #2607
Just to follow up on this - I'm seeing this error as well. Made a short demonstration here: https://runkit.com/datatables/5ef516a9e73fab0019d3f74d .

[2020-06-25 21:53] jj0b commented on #2820
This issue popped up for me today on a a very simple and small project that has been working fine for weeks and whose code hasn't changed in weeks. I am not doing any transactions and there was never more than 2 connections, and those only had to handle less than 10 very small queries a day.  The only thing that I could find to fix this was to upgrade to the latest version of Knex. As soon as I di

[2020-06-26 08:03] elhigu commented on #2820
@jj0b What was the old version of knex you were using? For example one old bug which caused connections closed by the server, because of timeout to be not rejected from pool, could have caused that kind of behavior.

To be sure for your use case is probably good to set pool min: 0 and connection idle timeout to be smaller than connection timeout of the server (few minutes).

[2020-06-26 15:33] jj0b commented on #2820
@elhigu I had been using knex 0.20.15.

My Express server had been running fine for weeks, and this issue only appeared yesterday on my local development version, which was only being queried a few times a day by only two clients. My staging and production versions which are similarly very low traffic with only two connections max have not so far had this issue.

I'll take a look at the settings y

[2020-06-26 15:59] elhigu commented on #2820
@jj0b hmm.. are you sure it doesn't have something to do with thise https://github.com/knex/knex/issues/3831

[2020-06-26 19:47] jj0b commented on #2820
Not really sure. All I know is that I hadn't made any changes recently and everything had been working when this error popped up yesterday when querying the database. All I did to fix it was update the latest version of Knex and the error stopped happening. I didn't update anything else, including Node as it seems some had to in that thread you shared. I also haven't been doing any migrations whic

[2020-06-26 23:33] carvalholeo commented on #3549
Does someone have any updates? I'd like to use this typed column builder, but I get an error always I use it.

@wwwouter can you look at this?

[2020-06-27 12:36] mteachey opened #3896 "Trouble refactoring a double join query using knex"
The following query works when tested in DBeaver:
select *
FROM uplift_posts
join uplift_users on uplift_posts.user_id = uplift_users.id
join uplift_connections on uplift_connections.followee_id = uplift_users.id
where uplift_connections.user_id = 1

I am trying to refactor it with knex:
        .from('uplift_posts')
        .select('*')
        .join('uplift_users','uplift_posts.user_id', 'uplift

[2020-06-27 17:32] #3896 closed

[2020-06-27 18:49] phamdt commented on #1477
I am also seeing this using GCP CloudSQL postgres with knex version 0.10.0. In my case it happened when i had to restart an application in production after some connection timeout issues.

[2020-06-27 19:14] kibertoad commented on #3549
@lorefnon

[2020-06-27 19:23] philipyoungg opened #3897 "Typescript doesn't compile with import Knex from 'knex' => v 0.21.1"
# Environment

Knex version: 0.21.1
Database + version: Postgres
OS: macOS

Select applicable template from below.
@lorefnon
# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Typescript doesn't compile when I use
`import Knex from 'knex'`
...but it works when I use
`const Knex = require('knex')`
but VSCode intelisense breaks as my `knex` instance become `any`—

[2020-06-27 19:32] wwwouter commented on #3549
Yeah, I think @lorefnon is best suited to answer this 😅

[2020-06-27 20:02] zizzfizzix commented on #1218
Just FYI, in case you're trying to change `nullable` to `nonNullable` you first need to fill that column with something, otherwise you'll get an error.

[2020-06-28 18:45] harish2704 opened #3898 "single quoted value passed to `defaultTo` method is not escaped properly"
# Environment

Knex version: da54cf1ecf0acef4b3d3d51cd2656e4faf10d3e9
Database + version: sqlite3@4.2.0
OS: Gnu/Linux

# Bug

1. Explain what kind of behavior you are getting and how you think it should do
  - value with single quotes passed to `defaultTo` function is not escaped properly for Sqlite3 database.

2. Error message
  - Syntax error from Sqlite

3. Reduced test code
[code]

# Feature d

[2020-06-28 23:15] timbrownsf commented on #2090
Perhaps what I'm asking for is different than this question, but is there anyway to avoid passing a trx around through all of my methods? It's not clear toe why we can't set the current trx in knex and have all queries use it...

[2020-06-28 23:25] harish2704 commented on #3879
This issue is solved in latest ( v15 ) Nodejs ( you can verify this by running any nighly build of Nodejs ).
The discussion can be seen here https://github.com/nodejs/node/pull/33189 and https://github.com/nodejs/node/pull/33560

[2020-06-29 06:27] mrsufgi commented on #3849
Thanks for your solution @abcd-ca.
Seems like this thread is a mix of two issues.
1) knexfile.js doesn't transpile .ts migration files by default.
2) knex cli doesn't support 'esnext' code, even with node14.4

the workaround for 1 was changing to knexfile.ts, it should be enough for most people (as I've seen it, "commonjs" is the most common module resolution). but the workaround for 2 only indica

[2020-06-29 07:20] elhigu commented on #2090
Because multiple queries can be done concurrently by multiple users in multiple transactions. Knex would have to know to which transaction each query must be sent.

[2020-06-29 10:09] tkalliom opened #3901 "Typings: MySQL option dateStrings has incorrect type"
# Environment

Knex version: master
Database + version: MySQL
OS: Linux

Issue is about TypeScript definitions, @lorefnon

# Bug
The MySQL options have the field `dateStrings?: boolean;`. In addition to a boolean, the MySQL also supports giving a list of types which should be converted to strings. The corresponding definition in @types/mysql is `dateStrings?: boolean | Array<'TIMESTAMP' | 'DATETIM

[2020-06-29 20:44] msklvsk opened #3902 "calling createTable() from inside createTable() callback"
# Environment

Knex version: 0.21.1
Database + version: —
OS: macOS 10.15.5
# Bug

1. I’m trying to create an SQL schema from JSON and the algo involves calling `schema.createTable()` from the `schema.createTable()` callback. Naively I thought this should work, but it doesn’t, the nested call gets ignored:
1. –
1.
[code]
Is this expected?

[2020-06-29 22:48] boojum opened #3903 "enum with useNative is not being destroyed with dropTableIfExists()"
# Environment

Knex version:
Database + version: Postgres 12.3 / Knex 0.21.1
OS: Linux

# Bug

Rolling back a table which uses enum with `useNative: true` does not remove the enum. Upon running migration straight after the rollback (without altering any tables) I get:

`error: create type "role_type" as enum ('arch', 'sup', 'dir', 'pm', 'root') - type "role_type" already exists`

The example migra

[2020-06-30 02:38] Marcotsept opened #3904 "select UTC datetime value will be UTC two time"
# Environment

Knex version: 0.20.11
Database: postgres v12.3
OS: Mac

# Bug
I'm local time is gmt+8
I have saved the value is UTC Datetime but when I select that value will be UTC again that means the UTC value reduce 8 hrs again

[2020-06-30 09:05] atdi commented on #3463
What about insert/update??? I don't see any example of that, selects are useless without insert/update.

[2020-06-30 09:37] wwwouter commented on #3463
It's documented in the readme, for example https://github.com/wwwouter/typed-knex#insertItem

[2020-06-30 10:10] elhigu commented on #3904
Not knex issue. Postgresql returns times as per your timezone setting of database session / connection. You may ask help about this from stackoverflow (or search answer there I know that even I have answered various questions about this there).

Closing as this is not a knex bug.

[2020-06-30 10:10] #3904 closed

[2020-06-30 12:31] IProudNoob opened #3905 "I don't understand why .update not work"
Knex version: 0.21.1
Database + version: sqlite3 4.2.0
OS: Win 10 Pro
Electron: 8.1.1

My small test:
[code]
But when I do update:

[code]
It's not work.
What am I doing wrong?
THX!!!

[2020-06-30 12:34] elhigu commented on #3905
You are not executing any queries. You are only building them, but nothing is sent to DB.

Closing as this issue is clearly about knex usage and has nothing to do with development.

[2020-06-30 12:34] #3905 closed

[2020-06-30 13:16] IProudNoob commented on #3905
When I create:
` knex('messages').insert({ from: 'Bob', "msg": "Hello, World!" })`
I see in data.db save

[code]
I think it's saved data

[2020-06-30 13:21] IProudNoob opened #3906 "How create corrected update column?"
[My ask: ](https://github.com/knex/knex/issues/3905)
When I create:
knex('messages').insert({ from: 'Bob', "msg": "Hello, World!" })
I see in data.db save

| id |  from | msg   | created_at
| 1  | Bob    | Hi!!!!! | 2020-06-30 11:37:08

I think it's saved data

[2020-06-30 13:37] elhigu commented on #3906
Please follow knex issue tracker's rules. Issue template says that this is not place for knex usage questions.

[2020-06-30 13:37] #3906 closed

[2020-06-30 13:48] IProudNoob commented on #3906
Ok)
THX!

[2020-07-01 13:41] elhigu commented on #3903
Knex does not inspect database schema when it is dropping tables etc. I don't know if that kind of functionality "drop table XXX and all related types that are used only by this table" is possible to implement easily with SQL.

In down script after dropping table you need to explicitly also drop the type that was created while table was created. There might be also some foreign keys or constraints

[2020-07-01 13:41] #3903 closed

[2020-07-01 14:40] elhigu commented on #3902
You should not call create table inside createTable callback.

[2020-07-01 14:40] #3902 closed

[2020-07-01 17:49] MimoMoreno opened #3907 "Allow config json for migrations"
# Environment

Knex version: `0.21.1`
Database + version: postgres 9.6.11
OS: WSL (Windows Subsystem for Linux)

# Feature discussion / request

1. Explain what is your use case
I've just installed [node-config](https://github.com/lorenwest/node-config) in my project, and I wanted to add the db configuration in the files `config/default.js`, `config/production.js` and `config/test.js` as their doc

[2020-07-01 18:00] elhigu commented on #3907
Create a knexfile.js that reads configuration from node-config. Something like:

[code]

[2020-07-01 18:00] #3907 closed

[2020-07-01 18:18] rijkvanzanten opened #3908 "Add support for promises in schema builder"
# Environment

Knex version: 0.21.1
Database + version: NI
OS: NI

# Feature discussion / request

Currently, most of Knex's API return Promises allowing you to await the value:

[code]

however, the same doesn't apply to the Schema builder methods:

[code]

1. Explain what is your use case

As part of the coding style of a project, we're heavily relying on async/await and promises to avoid a call

[2020-07-01 18:21] rijkvanzanten commented on #3908
Seeing `knex.schema.table`'s callback doesn't adhere to Node's standard callback format `function (err, data) {}`, it's impossible to use `promisify` to work this in unfortunately

[2020-07-01 18:23] rijkvanzanten commented on #3897
[code]

seems to work fine on my end 👍

[2020-07-01 18:51] rijkvanzanten commented on #3908
Ah, it seems like this is already using a promise under the hood, based on https://github.com/knex/knex/issues/1221#issuecomment-187551650.

It wasn't clear from the docs that you're required to add a `.then()` to the alterTable statement in order to execute it. Apologies for wasting your time reading this ✌️

[2020-07-01 18:51] #3908 closed

[2020-07-01 20:01] hadihammurabi commented on #3078
facing same problem, waiting for solution

[2020-07-01 20:26] philipyoungg commented on #3897
@rijkvanzanten yep! Noticed that. Intelisense doesn't work though.

const Knex = require('knex')
but VSCode intelisense breaks as my knex instance become any—which is not helpful

[2020-07-01 20:58] rijkvanzanten commented on #3897
![CleanShot 2020-07-01 at 16 58 12](https://user-images.githubusercontent.com/9141017/86290829-1479e500-bbbc-11ea-88bf-8b207b96e48d.png)

🤷

[2020-07-01 22:19] philipyoungg commented on #3897
@rijkvanzanten ah yeah sorry! My title was wrong. Edited it.
running `import Knex from 'knex'`
makes Typescript didn't compile.

It shows this error.
[code]

[2020-07-02 06:09] tomlagier commented on #3844
Question: Does this imply that we need 1 connection in the pool per simultaneous transaction we intend to support?

[2020-07-02 09:12] beamodd opened #3909 "use migrationSource but Migrator is not a constructor"
hi,

I may have some problems,

node: 12,
knex: 0.21,
macos

**Electron 6.x**

[code]
WebpackMigrationSource.js
[code]

[2020-07-02 10:18] elhigu commented on #3844
@tomlagier Yes. With knex (and pretty much with all databases also) transaction requires that the related queries are sent to DB through the same connection.

[2020-07-02 10:45] david1602 commented on #3891
@elhigu sorry, the config is as simple as it can be.

[code]

The database object of that is thje config. I am using `mssql` (not node-mssql, though we might mean the same thing) at 6.2.0

[2020-07-02 10:52] elhigu commented on #3891
Right driver package name is actually just `mssql`. I suppose knex might set `enableArithAbort` implicitly to driver configuration. Looks like we might need to lock more tightly with knex which driver major versions are supported with each release to prevent need to add compatibility code for multiple differently behaving driver versions.

[2020-07-02 13:47] rijkvanzanten commented on #3897
Are you sure this is caused by the import of knex, and not a wrong usage of the package further down the line?

That error to me looks like you're trying to use `.from()` on an ill query in `src/controllers/UserController.ts` on line 56

[2020-07-02 15:27] vit1251 opened #3911 "MySQL insert from select query"
Could you please provide in documenation and in that issue my own case:

[code]

N.B. app_version contain extra columns.

[2020-07-02 15:49] beamodd commented on #3727
感谢老铁

[2020-07-02 18:19] amir-s commented on #3879
I tried it again on node v15 and I can confirm it works properly.
Thank you for providing the links to the discussions as well. Very helpful 🥂

[2020-07-02 18:19] #3879 closed

[2020-07-03 11:45] kukuruznik commented on #1089
Great issue. I made the exact same mistake :o)

[2020-07-03 17:51] genadis commented on #3723
I believe this https://github.com/knex/knex/issues/3548 is related

[2020-07-03 21:01] philipyoungg commented on #3897
@rijkvanzanten I'm pretty sure that's not the issue, because import * as knex works without code change.

Here's the code.

![ADD9F2C0-512F-46A5-BEC3-3C016CE7DE38](https://user-images.githubusercontent.com/11477718/86497191-d989d400-bdaa-11ea-9b30-f3ce61651fc8.png)

[2020-07-04 15:12] PurpleHexagon commented on #93
Putting this comment here for anyone who might experience this issue in latest version of knex. Ensure you have the correct version of Postgres specified in knexfile. I reused an old knexfile I'd been using for MySQL and forgot to change version number to 10 for Postgres this resulted in jsonb and json columns specified in migrations being added as text.

[2020-07-05 09:57] fdjones opened #3912 "Trying to run migrations when using Node v14.5.0 causes "KnexTimeoutError""
# Environment
Node: 14.5.0
npm: 6.14.5

Knex version: 0.21.1
Database + version: PostgresQL 12.3
OSX: Catalina

# Bug

When attempting to run migrations, the following error occurs:

[code]

When I revert my Node version to 12.18.2 the migrations run fine, so the issue is running the migrations while on Node 14.5.0.

[2020-07-06 13:54] ShawnStewart commented on #3912
I'm running into this same issue with [my docker-compose setup](https://github.com/ShawnStewart/docker-node-tutorial).

## Environment
Node: 14.5.0
Knex: 0.21.1
Node-postgres (pg): 8.2.1

## Issue
Attempting to run migrations or a simple query inside of my node container results in the following error:

`npx knex migrate:latest` or `await db.raw('select 1+1 as result');`

[code]

Reverting to Node

[2020-07-06 15:38] capaj opened #3913 "Feature request: an alias for creating postgre indexes CONCURRENTLY"
currently if I want to create an index in postgre CONCURRENTLY it requires some config and using the db.raw, like this:

[code]

it sure would be nice, if this could be achievable with some config alias, for example like this:

[code]

[2020-07-06 19:32] fdjones commented on #3912
@ShawnStewart Are you still seeing the same error when you try to run migrations after you revert to Node 12.18.2 or is it a different error? I had an issue where I installed the packages using Node 14.xx which caused a load of issues after I reverted and the only way to fix it was to nuke node_modules and re-install while using Node 12.xx.

[2020-07-06 20:20] drew-royster opened #3914 "Limit is hard coded when it has changed since oracle 12.2"
https://github.com/knex/knex/blob/e37aeaa31c8ef9c1b07d2e4d3ec6607e557d800d/lib/dialects/oracle/utils.js#L3

As of their 12.2 release they now support long identifiers up to 128 bytes.

https://docs.oracle.com/en/database/oracle/oracle-database/12.2/newft/new-features.html#GUID-ACC0E96C-8D2D-468F-92E0-2013C7F13455

The tricky part could be that depending on the language a character may be multiple

[2020-07-06 22:08] gjergjk71 commented on #3078
Possible solution:
[code]

[2020-07-06 22:09] gjergjk71 commented on #3078
You can do this:
[code]

[2020-07-07 00:24] ShawnStewart commented on #3912
@fdjones Sorry, I pasted the wrong error in my original comment - fixed it now. I'm getting the exact same error as you. And since I'm running in docker, I can't do a rebuild and a fresh install of dependencies is done.

[2020-07-07 03:31] ShawnStewart commented on #3912
@fdjones Just tested outside of docker. After reverting to Node 12.18.2 and fresh installing dependencies, still getting the same error. Are you connecting to Postgres running locally?

[2020-07-07 08:32] fdjones commented on #3912
Hmm, that's odd as reverting to Node 12 fixed the issue for me. Yes I'm running Postgres locally..

[2020-07-07 18:29] sayhicoelho commented on #2387
Thanks @Jakobud! I was facing the same issue here, but now I can't set "ON UPDATE CURRENT_TIMESTAMP" to `updated_at` field. How did you do it?

[2020-07-07 18:34] sayhicoelho commented on #1928
The `timestamps()` method is useless for me because can't set `on update current_timestamp`.

[2020-07-07 20:45] sayhicoelho commented on #2395
please add support for `double` type!

[2020-07-07 22:42] rossPatton commented on #2820
For future people: IIRC the issue for me was that I made a minor change to my passportjs setup and ended up DDOSing myself via deserialize for a bit until I figured it out. I also was trying to use DigitalOcean's connection pool service, which seemed to just keep all my connections open or at least, wasn't closing them consistently. Fixing the passport issue and dropping the DO pool (and just sett

[2020-07-07 22:55] KendraArb opened #3915 "knex migrate:latest ignores wrapIdentifier"
# Environment

Knex version: 0.20.11
Database + version: Oracle 12.2.0.1
OS: Windows 10 Pro

Select applicable template from below.
If issue is about oracledb support, tag @atiertant .

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I am creating a migration file to use in Oracle and am running up against some issues with capitalizations and quotation marks

[2020-07-08 01:33] nexusbr commented on #3815
Thanks @D10221

**knexfile.js**

[code]

**database.js**

[code]

and at **file_to_access_data.js**

[code]

[2020-07-08 22:07] KendraArb commented on #3915
I have found that if I enter the table name and column names as uppercase in the migration file and run the migrations with the wrapIdentifier that removes the quotes from the statements, I am able to successfully run the migration.

[2020-07-09 00:24] SaveliyP commented on #3463
A few days ago I started making a typed model definer and migration generator for knex, but after realizing that knex doesn't support types for join statements or expressions applied to columns, I decided to go all out and make a complete typed SQL builder that should eventually support all SQL operations, functions, operators, joins, etc: https://github.com/SaveliyP/ts-typed-sql.

Right now, you

[2020-07-09 05:25] wwwouter commented on #3463
Cool :) I really like the `and` and `avg` functions. Right now knex (and by extension typed-knex) is pretty verbose when doing basic `SELECT`s. Functions like these could really help, without resorting to writing a AST parser 😅

[2020-07-09 11:42] #3909 closed

[2020-07-09 18:44] capaj opened #3916 "feature request: use single transaction for all queries made in a connection"
I am using lambdas in AWS and I had an error like this today:
[code]
obviously I had a missing transaction in one of my objection.js queries, but I wondered-wouldn't it be possible to have a knexfile config like:
[code]

where knex would basically create a transaction and passed it around to all my queries without me having to explicitly state it for every one of them? In lambda I always want a be

[2020-07-09 18:57] elhigu commented on #3916
You can easily implement this by creating singleton transaction instead of knex instance.

    const trx = knex.transaction();

In handler use trx the same way you would use the knex instance:

     const res = await trx(’users’).where(’id’, 1);

And remember to commit when handler is ready... knex wouldn’t know when to do that anyways so with proposed functionality knex would rollback every time

[2020-07-09 18:57] #3916 closed

[2020-07-09 20:03] capaj commented on #3916
oh right! :facepalm:
I could initialize my objection with
[code]
thanks for that suggestion. That should work just fine!
Thanks. Will give this a shot.

[2020-07-10 02:59] castor55 commented on #233
If you wanna do an insensitive search, you can use `ilike`.
`where('colume name', 'ILIKE', '%${search word}%')`

[2020-07-10 08:25] jablonskipj opened #3918 "[BUG] Knex - Already up to date"
# Environment

Knex version: 0.16.3
Database + version: postgresql
OS: heroku

# Bug

I am struggling with a problem connected with the migrations in knex on the production environment (heroku). I have made some changes and created 8 new migrations to update the model. After creating new migrations I have reached 47 migration files. After uploading the changes to the Heroku I executed as usual `kn

[2020-07-10 11:17] elhigu commented on #3918
Maybe your code has not updated until heroku or you have forgot to git add those migration files from local machine to heroku. Anyways sounds like an user error and not a knex bug. Can be reopened if reproduction is provided.

[2020-07-10 11:17] #3918 closed

[2020-07-10 11:19] elhigu commented on #3918
You could check if knex starts failing when there is around 40-50 migration files though...

[2020-07-10 11:56] jablonskipj commented on #3918
@elhigu I have checked if the migration files are present on heroku and they are. Additionally, I have run those migrations locally and the were executed.

[2020-07-10 12:09] elhigu commented on #3918
Right... it works locally. Then the only reason I can think of is that files are not found from heroku. Or knex configuration is wrong and files are not found because of that. Though I suppose that in that case knex would give an error because of mussing migration files (unless db configuration is also so wrong that db looks empty.

[2020-07-10 12:15] elhigu commented on #2395
There is .double() already.

[2020-07-10 14:16] sayhicoelho commented on #2395
Thanks @elhigu ! Is `.double` in the docs? I can't see.

[2020-07-10 16:48] HugoLiconV commented on #97
but what if I want the date in UTC. I tried to set  it  as  `timezone:  "utc"` but it didn't  work

[2020-07-10 20:33] rbliss commented on #3912
Experienced the same issue. Fixed it by upgrading both knex and pg to latest instead of downgrading to Node 12. YMMV

[2020-07-11 03:07] anandnimkar opened #3919 "`this.knex.client.logger` is not being passed into `getMergedConfig` in all cases"
The second argument here needs to be `undefined`, not `this.knex.client.logger`

_Originally posted by @anandnimkar in https://github.com/knex/knex/pull/3839/review_comment/create_

[2020-07-11 04:36] anandnimkar commented on #3919
Fixed in PR https://github.com/knex/knex/pull/3920

[2020-07-11 15:39] anandnimkar opened #3921 "Overly verbose logging when migrations directory specified"
# Environment

Knex version: 0.21.2
Database + version: Irrelevant
OS: Irrelevant

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Due to changes introduced in https://github.com/knex/knex/pull/3839, on every call to `migrate.latest()` I now get two messages in my logs stating `"FS-related option specified for migration configuration. This resets migrationS

[2020-07-13 18:20] ShawnStewart commented on #3912
Confirmed upgrading resolved the issue for me as well. It looks like [pg 8.3.0](https://github.com/brianc/node-postgres/pull/2216) fixed the root cause.

@rbliss Thanks for the heads up!

[2020-07-14 00:29] ksmithut commented on #3921
I might also add that I'm fine if there's a more preferred method of setting custom migration directories (perhaps setting migrationSource to an instance of `FsMigrations`), but it would be nice if it were documented (and supported in the types).

[2020-07-14 12:04] derencel20 commented on #1919
![image](https://user-images.githubusercontent.com/17394978/87423648-38521780-c60d-11ea-988d-c0b17124354f.png)
What if when you want something like this?

[2020-07-14 18:48] elhigu commented on #1919
Closing as It is unclear what needs to be done.

[2020-07-14 18:48] #1919 closed

[2020-07-14 22:24] martinblostein commented on #1881
I don't think that it's clear from the documentation at all that `andWhere` is an alias for `where`. This isn't said anywhere and there are no examples of using multiple `.where` statements -- they all use `.andWhere`

[2020-07-15 02:33] derencel20 commented on #1919
What I want to know is if there's a case statement on innerjoin. What query should we use?

[2020-07-15 06:56] piyushchauhan2011 opened #3924 "knex_migrations and lock tableName are not part of wrapIdentifier"
@atiertant

# Environment

Knex version: 0.21.1
Database + version: Oracle + 12.2.0.1
OS: Ubuntu (linux) in WSL2

# Bug

I wanted to remove quoted behavior provided by knex while table creation. After using the `wrapIdentifier`, it successfully worked for tables except the `knex_migrations` and `knex_migrations_lock`. To my understanding, tables for keeping migrations should respect the `wrapIdent

[2020-07-15 06:56] junbao520 opened #3925 "knex 是否支持mysql8.0 版本？"
![image](https://user-images.githubusercontent.com/20721833/87513406-48203900-c6ab-11ea-8d3d-4c4b4aaaf729.png)

[2020-07-15 06:57] junbao520 opened #3926 "Is knex Support mysql 8.0 version"
thank you

[2020-07-15 13:19] elhigu commented on #1881
There is no need to figure out it from code... `.where()` and `andWhere()` are aliases, `.whereIn()` and `.andWhereIn()` are aliases etc. PRs for documentation goes to knex/documentation repo as mentioned in contributing.md.

[2020-07-15 13:30] elhigu commented on #3911
I don't think that query can be done without `.raw`.

[code]

[2020-07-15 13:30] #3911 closed

[2020-07-15 14:31] raijinsetsu commented on #3926
Knex supports all versions of the database supported by the underlying MySQL driver.

MySQL 8.0.4 introduced a backwards incompatibility in the authentication protocol and the MySQL driver has not been updated to handle this situation: https://github.com/mysqljs/mysql/issues/1959

You will need to use MySQL 8.0.3 or EARLIER.

[2020-07-15 14:37] raijinsetsu opened #3927 "Migrations succeed when run from beginning but not when run in parts"
# Environment

Knex version: 0.20.15
Database + version: Postgres 12.3 Docker Image
OS: Ubuntu 20.04

# Bug
The migration is not committed to the database before Knex starts the next migration. We have a long list of migrations:
[code]
When this fails, we'
The database had been migrated up through 20181207091033 prior to this run using `knex.migrate.latest(directory ['./migrations/table', './migra

[2020-07-15 15:20] raijinsetsu commented on #3927
Using "knex.migrate.up" in a loop fixed this issue in our use case.

[2020-07-15 15:30] elhigu commented on #3913
Having `table.index(..., opts)` would be knexy way to implement support for this.

[2020-07-15 15:31] kibertoad commented on #3927
@raijinsetsu There is a migration parameter which regulates whether or not all migrations are wrapped in a single transaction. Have you tried modifying it?

[2020-07-15 15:32] kibertoad commented on #3927
Are you sure that you are handling promises within migrations correctly? Knex should not attempt to execute next migration prior to promise returned by previous migration being resolved, but if you are creating any promises within that promise that you are not awaiting yourself, they will be ignored.

[2020-07-15 15:42] raijinsetsu commented on #3927
@kibertoad
I am 100% certain that the promise is being handled correctly. The code INSIDE the migration has completed before the code inside the later migration is run. I added console.log calls and you can see that "    Complete!" output BEFORE the next migration is started.

Which parameter are you referencing? There is a "disableTransactions" option which does say anything about single vs. mult

[2020-07-15 15:45] raijinsetsu commented on #3927
PS - I cannot share the code base, but here is the first migration:
[code]

[2020-07-15 16:27] capaj commented on #3913
That would be. Problem is you can't have it in transaction so you'd have to always explicitly specify this like so:
[code]

which would be okay too for me, just a little more verbose.

[2020-07-15 16:44] preston-wagner opened #5899 "orWhere not listed in "Where Methods" navigation section"
One of my coworkers yesterday couldn't figure out how to `OR` where clauses together, and while I was sure it was possible, it took a minute to find because it wasn't listed with the other functions in the sidebar.

[2020-07-15 19:26] ShreelekhaB commented on #2690
Is there a documentation on how to use this feature ? I want to create multiple migration directories and how to use make command to specify which directory to use and similar related documentation ?

[2020-07-15 21:12] llamadeus commented on #2253
Okay, so I've given it some thought and think we can realize read write clustering without too much effort.

1. We obviously need some changes to `Knex.Config`: I would propose a new `replication` key with which we can specify the cluster configuration:
[code]

2. When the client is being initialized and a `replication` configuration is present it should not create a single connection pool but ins

[2020-07-15 21:58] elhigu commented on #2690
https://github.com/knex/documentation/pull/129

[2020-07-15 22:04] elhigu commented on #3925
cannot reproduce.

[2020-07-15 22:04] #3925 closed

[2020-07-15 22:06] elhigu commented on #3924
IIRC it was intentional function that it is not used for knex's internal tables.

[2020-07-15 22:10] elhigu commented on #1919
You should not hijack threads that are about different issue and AFAIK knex does not have any special way to write case statements. So you need to use knex.raw.

[2020-07-15 22:17] elhigu commented on #3921
You can set migration directory in configuration (https://knexjs.org/#Migrations-API)

[code]

[2020-07-15 22:22] elhigu commented on #3914
Changing this will break support for older oracle databases. For pg and mysql there has been used version configuration attribute for allowing some compatibility for older databases.

Is there a particular reason why this should be changed now?

[2020-07-16 01:14] ksmithut commented on #3921
@elhigu Right, the problem is that when using the `knex` js api for running migrations, you get verbose logging `"FS-related option specified for migration configuration. This resets migrationSource to default FsMigrations"` when using that option using the latest version

[2020-07-16 07:59] gbkwiatt commented on #385
How is that going ? it's really a  pain, especially in MSSQL, PK constrain is not named by default but like "PK__requests__DD771E3CC0CD0A5E"  so I can't even drop it and create PK somehwere else.
I've trued to specify name for constrain but it does not work for increments()

[2020-07-16 08:18] piyushchauhan2011 commented on #3924
Hmm, if it was intentional then I guess it's okay to leave internal table names quoted, I'll close the issue 🥰

[2020-07-16 08:18] #3924 closed

[2020-07-16 10:10] elhigu commented on #3924
These I think:
https://github.com/knex/knex/issues/2644
https://github.com/knex/knex/pull/2914

[2020-07-16 10:17] piyushchauhan2011 commented on #3924
Thanks @elhigu 👌

[2020-07-16 12:36] PickJBennett opened #3928 "Password Security"
Hello, I'm interested in using this library, but I am concerned about the password field being exposed in plain text over JavaScript. How do you secure this so it's never delivered to the browser? Thank you!

[2020-07-16 13:10] elhigu commented on #3928
Closing as this is not related to knex development.    You can secure that password nor hash is never sent to browser for example by storing password hashes in a separate table and by accessing that table as little as possible. Mostly when checking if pw is correct or wheng changing it. Also not storing password at all is pretty guaranteed way.

[2020-07-16 13:10] #3928 closed

[2020-07-16 13:11] capaj opened #3929 "Feature request: throw error when prepared statement requires more parameters than the DB can handle"
many DBs don't handle this very nicely-their error messages are a bit confusing at times. Like for example when using 66364 parameters with postgre we get:
[code]
unless you're a seasoned developer you can get quite confused by this.

Also knex doesn't support that many DBs, so maybe it would be worth to just adding limits like this:

sqlite: 999
oracle: 64000
postgre/mysql: 65535

and when user i

[2020-07-16 13:19] elhigu commented on #3929
Are you sure that those numbers cannot be configured and are not changing between db versions? I’d rather would leave this error to be handled by db, like max statement length etc. Maybe some db error wrapper like objection has can catch and interpret this?

[2020-07-16 13:51] zjr commented on #3921
Same if running `knex migrate` from the command line. I get the message twice.

[2020-07-16 14:47] drew-royster commented on #3914
We had been having problems using sha'd Oracle object names and bumping up that limit fixed our issues. Would you be alright doing version compatibility with Oracle as well? It's been 3 years since 12.2 was released and we would love to take advantage of the new limit.

[2020-07-16 15:12] raijinsetsu commented on #3927
The issue ended up being that one of the migrations was incorrectly managing a query stream. This lead to a transaction being used after it was committed which caused a set of cascading failures.

Closing this for now. I will re-open or re-submit if I find this to still be an issue.

[2020-07-16 15:12] #3927 closed

[2020-07-16 15:30] raijinsetsu commented on #3913
@capaj I think it would work out fine. Knex does not execute those schema operations until the function returns. It then orders those operations: table creation, constraint creation, index creation - they have to occur in this order even when inside a transaction because you cannot create an index on a column that does not exist. When creating these types of indexes, the first transaction would cr

[2020-07-16 15:46] capaj commented on #3913
@raijinsetsu migrations don't deal with user input at all. There's no possibility of SQL injection there.

Right,  knex schema builder could skip the `transacting()` call. That could theoretically work.

[2020-07-16 15:49] kibertoad commented on #3914
@drew-royster Maybe we can make that value parametrized instead?

[2020-07-16 19:18] drew-royster commented on #3914
@kibertoad Pass that limit into the function? Or how would I go about this?

[2020-07-17 10:07] Sharaal opened #3930 "Remove use of different databases systems in the example `knexfile.js` of the `knex init`"
# Feature discussion / request

If I use `knex init` I would expect to have an example file with the initial recommended configuration. Because using different database systems is not the strength of `knex` (it needs a lot of tricks), I think it would be good only use one database system in the initial file.

[2020-07-17 11:37] elhigu commented on #3930
What knex init creates currently? What configuration tricks different databases needs? Which database system should be used in the initial file? 🤔 Is this issue a feature request or what?

[2020-07-17 12:52] cubikrichard commented on #3870
@sirfilip Did your fork need more work before creating a PR? Is there anything I can help with to keep it moving?

[2020-07-17 13:22] Sharaal commented on #3930
Currently the init creates `sqlite3` for development and `pg` for all other environments.

I tried it one time use knex like that, but needed to write own insert and select wrapper, because the response object differs. Also I had issues because of different timestamp column types and something like that. So I would never try it again to use different database locally than in the actual environment

[2020-07-17 20:31] Naddiseo opened #3932 "select with refs no longer infers fields after typescript 3.8"
# Environment

Knex version: 0.19.5 / 0.21.2
Database + version: postgresql 11
OS: Ubuntu 20.04

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @lorefnon.

# Bug
1. Explain what kind of behaviour you are getting and how you think it should do
When us

[2020-07-17 22:52] Naddiseo commented on #3932
This can sort of be reduced to:
[code]

This leads me to think it's a change in TS that needs to be accounted for? Or is it a bug in TS? The strange thing is, if I try to reproduce in the TS playground with minimal representations of knex types, I can get it to work:

https://www.typescriptlang.org/play/index.html#code/MYGwhgzhAEBKCmAzAPAFQMoCdjXgDwBd4A7AExnQMwEtiBzAGmlQFkwAHd2u3Qk86AG8AvgD4hAKGjR

[2020-07-18 01:39] jonahmolinski commented on #3921
@jalfd exactly!

There should be a way to suppress this message or clear documentation on how to avoid it.

[2020-07-18 08:22] lorefnon commented on #3932
@Naddiseo Thanks for bringing this to our attention, and for creating the reproducer.

Unfortunately it is quite easy to come across such edge cases in TS, and a few of my issues in TS repo have been open for months.

In this particular case, it seems like differently parameterised `Ref<*>` types are getting treated as same because the type parameters of the interface are not actually being used i

[2020-07-18 16:50] elhigu commented on #3921
Overriding loggers can be used to filter error messages. So additional configuration switches for supressing specific warnings has not been added for a long time.

[2020-07-18 16:54] jonahmolinski commented on #3921
Maybe I am missing something, but I pass in a logger via the "log" parameter in config and it's not used for this message. It is used for the debug SQL statements however. So it must be working...

How can one set the logger that is used for that message? Cheers!

[2020-07-18 17:01] Naddiseo commented on #3932
@lorefnon, I've done a bisect on typescript to see where/why this started breaking, and it leads to this PR: https://github.com/microsoft/TypeScript/pull/36261 ( commit https://github.com/microsoft/TypeScript/commit/1a10e712e62dee157abe714314c3e27e5f9c3db0 ) which is supposed to fix https://github.com/microsoft/TypeScript/issues/35805

I'm not sure if that helps. The type variance stuff is slightl

[2020-07-18 17:05] elhigu commented on #3930
Ah, right. That really doesn't make much sense (it was a common practise back in days though). 👍

[2020-07-18 17:08] elhigu commented on #3921
You need to use pattern matching in logger function to check log messages  to filter out. Docs how to set loggers is here https://knexjs.org/#Installation-log

[2020-07-19 01:04] joshkel opened #3935 ""Error: Cannot find module 'knex.js'" from running test suite"
# Environment

Knex version: master (b59161f)
Database + version: N/A
OS: Ubuntu 20.04 with Node 12.18.2 via NodeSource

# Bug

I'm trying to clone the Knex repository and run the test suite and am getting errors within the test suite.

For example:

[code]

If I then manually run one of the tests that I'm interested in:

[code]

I get the following error:

[code]

(I'm not sure if running individ

[2020-07-19 01:23] joshkel commented on #3921
It looks like it's straightforward and reasonable to modify Knex to only log if the migrationSource is actually reset; see #3936.

[2020-07-19 08:11] lorefnon commented on #3932
Oh this is interesting. I had come across the invariance of `Fn<*, ...>` before, and its good that they fixed it. But this seems like an unintentional side effect of that.

Let me try to come up with a minimal reproducer for that and file a bug with them. If you can come up with a good isolated example, please feel free to report.

[2020-07-19 10:24] elhigu commented on #3935
Running individual tests is mostly not supported (many of the tests are dependent on each other).

[2020-07-19 10:32] elhigu commented on #3914
I would rather have this being configured with passing oracle version number in config.

I would like to avoid arbitrary dialect specific switches (I'm afraid that those stack up and after few years wee have 100 different limits and knobs whose different combinations won't be tested well).

Though I don't have very strong opinion on this. So whatever is fine for me.

[2020-07-19 12:20] elhigu commented on #3913
@raijinsetsu actually identifier bindings are not correctly escaped by knex, but knex just adds siple quoting. Knex also may try to escape it to be safe, but doesn’t guarantee anything. I wouldn’t trust it being safe.

[2020-07-19 20:31] kevinfiol commented on #3571
Perhaps I'm missing something, but I'm still having issues with this. I'm simply trying to use knex in a project using ES Modules, via the `"type:": module"` option in package.json on Node v14.5.0.

1. I saw https://github.com/knex/knex/pull/3829, and tried using a `knexfile.cjs` instead, but this results in an error: `Error: ENOENT: no such file or directory, open '../server/node_modules/knex/lib

[2020-07-19 20:40] rajsinghUSA commented on #3571
For the record, I never got this resolved either. I keep having to remove `type: "module"` from `package.json` everytime I need to run migrate and seed.

[2020-07-20 01:24] PedramMarandi commented on #2302
I had a database pool limit, I could fix the issue by setting min and max

[2020-07-20 15:12] D10221 opened #3937 "ESM module interop fails if calling module/package is of type 'module'"
# Environment

Knex version: 0.21.2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

    ESM module interop fails if  calling module/package is of type 'module'

2. Error message
    Error [ERR_REQUIRE_ESM]: Must use import to load ES Module
3. Reduced test code,
[code]

This is more of an [esm](https://github.com/standard-things/esm) bug, see [#868](https:

[2020-07-20 15:17] D10221 commented on #3937
Here is a pr [#3938](https://github.com/knex/knex/pull/3938) with the proposed solution

[2020-07-20 15:24] D10221 commented on #3571
For the above related comments,

I did open a new [issue](https://github.com/knex/knex/issues/3937).
There is [linked pr](https://github.com/knex/knex/pull/3938)
That should help make the 'esm' interop easier to implement,

[2020-07-20 19:41] DHFW commented on #3217
`knex.raw('UUID()')` should be: `knex.raw('(UUID())')` (notice that `UUID()` is wrapped with `()`!

See this [article](https://mydevjourney.net/2020/03/14/knex-how-to-use-an-uuid-as-a-field-default-value-in-mysql/)

[2020-07-20 20:26] Naddiseo commented on #3932
Another interesting datapoint:
[code]

This seems to point to being a bug in the way TS infers array types?

[2020-07-21 00:13] devaku opened #3939 "Knex Configuration File and DotEnv package issue"
# Environment

Knex version:
"knex": "^0.21.1",

Database + version:
"mysql": "^2.18.1",

OS: Windows 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do:

I was working with knex, using the dotenv package ("dotenv": "^8.2.0") and I ran across an odd issue.

Upon filling the knexconfig file with the following details, I was given the following error:
[code]

[2020-07-21 23:17] Naddiseo commented on #3932
A slightly different test case, using chained selects works:

[code]

This is again seeming to indicate there's something wrong with array handling. I'm still working on getting a better minimal test case, but knowing to look at the array side is helping narrow it down

[2020-07-22 04:30] csnarain opened #3940 "knex failure on transactions"
I'm using knex (0.21.1) on mssql client and the following query results in a failure. The failure is triggering the catch at the bottom and fails with message "undefined of rollback..."

return knex.transaction((t) => {
    return knex('customer')
      .transacting(t)
      .insert(customerObj)
      .returning('custId')
      .then((response) => {
        customerObj.orders.custId = response.toS

[2020-07-22 08:05] Truth1984 opened #3941 "unnecessary deprecated warning"
# Environment

Knex version:
Mysql + 0.21.2
OS: ubuntu 16.04

# Bug

when I tried to modify tables with `knex(config)("").schema.table(name, func)`
I received following warning : `calling knex without a tableName is deprecated. Use knex.queryBuilder() instead`.

1. I don't think `queryBuilder` support schema modification
2. it's not necessary to provide a table name since I only want to perform op

[2020-07-22 08:13] sirfilip commented on #3870
Sorry for the late response what i submitted was a direction that i took to resolve this issue and it feels a bit messy so not really sure if i should continue with the implementation for the rest of the drivers. But if it looks ok from your side i can continue and implement this for the other drivers quickly, probably in the following days. Please letme know. I dont have any problem with discardi

[2020-07-22 08:23] cubikrichard commented on #3870
I used your fork as inspiration, but, it was possible to hook into the stream at a higher level, so to avoid having to implement it for each driver.

`lib/runner.js` https://github.com/knex/knex/pull/3931/files

[2020-07-22 08:32] sirfilip commented on #3870
That is awesome! I like your approach by far better then the one i took. I vote for your proposal :). Great job !!!

[2020-07-22 18:21] rijkvanzanten commented on #3941
Does it work when using `knex(config).schema.table(name, func)` (without the `("")` part)?

[2020-07-22 21:23] YajJackson commented on #3807
What is the recommended workflow for running Typescript migrations? The documentation still suggests that running `knex migrate:latest` is sufficient:

[code]

See:
[code]

[2020-07-22 23:38] Naddiseo commented on #3940
One possibility for the error is is that `rollback()` is a function, and in your example, it's not being called.
You could try `.catch(t.rollback)` directly (or `.catch((err) => { return t.rollback(err); }`)

(Also, you can use triple backticks \``` to wrap code to keep the formatting/indentation)

[2020-07-22 23:46] Naddiseo commented on #3939
I could be way off, but without seeing the dotenv file, I would assume a typo somewhere, or possibly something to do with how dotenv reads the values. My thinking is that the database is reporting an empty string as the user, so the `process.env.DB_USERNAME` is possibly undefined /empty. You could try console logging `console.log(JSON.stringify(process.env))` and see if all the variables are expec

[2020-07-22 23:54] devaku commented on #3939
DB_HOST='localhost'
DB_USERNAME='root'
DB_PASSWORD=''
DB_NAME='knex_database'

Pretty much run of the mill stuff.

And yes, I did log it, and it showed up as normal. It's completely baffling me at the moment.

[2020-07-23 00:08] Naddiseo commented on #3939
Very strange.
A couple debugging theories:
- Could you try `127.0.0.1` instead of `localhost`
- Could you try without the environment config stuff
- Could you try without the Knexfile and use knex directly
- Could you try making a new database user/password and using that

[2020-07-23 00:21] devaku commented on #3939
- The host was never the issue. It reads DB_HOST fine.

- Hardcoding it to the knex file works.

- I'm not sure how to do that.

- These are the default credentials for MySQL

[2020-07-23 01:12] Truth1984 commented on #3941
It works when you have whole functions in one go like so.
but I separated my functions like `let schema = knex(config).schema;`, and it threw a warning.

[2020-07-23 02:41] Naddiseo commented on #3939
Sorry, should have clarified better:
- re-reading the issue, this one probably wont help diagnose
- What I mean is, in the Knexfile, you're using  `development: {` (and presumably `production:{`, I'm wondering if using the values directly will work:
[code]
    If removing the production/development keys works, then it might be an issue with `NODE_ENV` or maybe [liftoff](https://github.com/js-cli/j

[2020-07-23 05:19] csnarain commented on #3940
@Naddiseo - My bad. Thanks. I wasn't trying to invoke rollback as a function. It works now.

[2020-07-23 05:32] csnarain opened #3942 "knex insert json object to multiple tables"
I have a json object with nested key/value properties that needs to be inserted to multiple tables based on the key name. It's not a straightforward insert as the output of one insert needs to be piped as input to the next insert. How do I do conditional inserts using knex to mssql? Here is the object that I'm trying to insert

[code]

In the above, the output of activity insert should be piped to

[2020-07-23 13:08] #3919 closed

[2020-07-23 14:03] pkt-zer0 opened #3943 "How to create non-parameterized queries? (with bindings inlined)"
# Environment

Knex version: 0.20.13
Database + version: MSSQL 2017
OS: Windows

# Feature discussion / request

This may or may not be an already supported feature, I didn't quite manage to figure it out so far.

It seems to me that by default, Knex turns every query into a parameterized one, extracting bindings for the values passed in. Sometimes, I don't want to do this, just trigger a query as

[2020-07-23 15:21] elhigu commented on #3943
Interpolating bindings safely textual SQL format has been considered out-of-scope for knex so far because that problem is far from trivial to solve.

In this kind of cases you should first try to figure out why it is so slow and think if there is any other ways to make it faster. If not then you could probably try writing custom validation for parameters in your project and integration tests which

[2020-07-23 15:21] #3943 closed

[2020-07-23 15:25] rijkvanzanten opened #3944 "Inconsistent camelCase use for datetime in schema"
# Environment

Knex version: 0.21.2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The docs describe creating a `datetime` column by using `table.datetime()`: http://knexjs.org/#Schema-datetime

However, the TypeScript definition and tests seem to indicate it should be `table.dateTime()`:

https://github.com/knex/knex/blob/b59161f9944acf858b149a6c2901b14f

[2020-07-23 15:38] elhigu commented on #3942
Closing as knex usage questions should go to gitter / stackoverflow.

You need to create a separate insert for each table and setup foreign keys correctly. Most probably you want to use objection.js for that which can insert nested data with correct foreign keys automatically if realation mappings has been set correctly for models.

[2020-07-23 15:38] #3942 closed

[2020-07-23 15:55] #3940 closed

[2020-07-23 15:59] elhigu commented on #3939
Doesn't look like knex issue, please provide complete reproduction example. Can be opened if reproduction is provided.

[2020-07-23 15:59] #3939 closed

[2020-07-23 16:03] elhigu commented on #3941
This should be how to do it:

[code]

[2020-07-23 16:03] #3941 closed

[2020-07-23 16:50] lorefnon commented on #3944
The same method is [aliased](https://github.com/knex/knex/blob/e37aeaa31c8ef9c1b07d2e4d3ec6607e557d800d/lib/schema/tablebuilder.js#L149) as datetime and dateTime.

The TS defs should mention both - but currently doesn't.

[2020-07-23 18:22] rijkvanzanten commented on #3944
Ahh I see. Thanks for the heads up @lorefnon 👍

Shall I open a PR to extend the `index.d.ts` file?
Do we want to update the docs to mention these aliases somewhere consistent?

[2020-07-24 00:38] Truth1984 commented on #3941
Anti pattern

[2020-07-24 16:05] gainsboroughtech commented on #2302
I had the same issue on my mac. i was running knex from command line terminal and suddenly started seeing this Knex: Timeout... issue.  I figured out that the problem was moving to zsh shell instead of bash.  I've been using bash for a long time, and i recently tried switching to zsh per Apple guidelines.  As soon as i went back to bash it was fixed.

Hope it helps someone.

[2020-07-24 18:08] lorefnon commented on #3944
@rijkvanzanten Sure. That would be cool. The knex docs are maintained in [this repository](https://github.com/knex/documentation), and can be updated there.

[2020-07-24 18:27] pazfelipe opened #3945 "Get connection session data"
**Nowadays:**
My company has a software built in `delphi` that every time it connects to the oracle database, namely initializing the software, a procedure is called to save this connection's data. Some functions run inside this procedure to get info about user connected, origin ip, etc.

**Problem:**
_We are migrating_ from `delphi` to web (`nodejs` + `vuejs`) and this procedure must skill keep r

[2020-07-25 15:10] llamadeus commented on #2253
With just a few changes to the original code I was able to extend the default `Client` class to support read-replication which I would like to PR into the code base.

There are just a couple of questions which I would like to discuss first before creating a PR.
1. **Is one write connection enough?**
2. **Which replication methods should be supported?** This should also answer **question 1**. Is re

[2020-07-25 15:13] gates17 commented on #3912
having the same issue under wsl. tried with pg 8.3 and knex 0.21.1 switched to mysql2 and throws same error.
tried with node12 node 14.5 and 14.7
any insights?

[2020-07-25 15:26] jpike88 commented on #2253
I think that should be configurable, and considering that there are typically more than a few connections at a minimum, it shouldn't default to 1... maybe 3?

Never heard of Galera Cluster, likely the market share of ppl using it versus standard configurations is so small it's not worth consideration.

Good question... my main concern with your PR is keeping scope constrained so whatever it does,

[2020-07-26 07:13] romvits opened #3947 "knexjs.org page hint"
Hi,

its not realy a bug, but could you change the value for the select box 'Show example query output as' on the homepage 'knexjs.org' for oracle from 'oracle' to 'oracledb'? ;)

bg
Roman

[2020-07-26 11:59] hsynlms opened #3948 "MSSQL: Cannot assign to read only property 'originalError'"
# Environment

Knex version: 0.21.2
Database + version: SQL Server 2017 Standard
OS: CentOS
Node.js version: v14.5.0

# Bug

Hundreds of select and insert Knex queries are executed in a cron job and sometimes below error is thrown. I think trying to change the original error object would not be a good idea. If this error happens, the connection closes and further select and insert queries won't be

[2020-07-27 05:57] pkt-zer0 commented on #3943
Sure, that makes sense. Thanks for clearing things up!

[2020-07-27 09:58] Truth1984 opened #3949 "MySQL full join issue"
MySQL doesn’t support full join, maybe as a query builder, it should automatically transform into multiple subjoins ?

[2020-07-27 11:01] elhigu commented on #3949
Please be more specific. What kind of SQL doesn't work with mysql and what would be equal mysql compatible query? Is there any pitfalls like if there are multiple full joins?

If it can be done in a compatible manner so that returned data matches the data returned for example by postgres full join I don't see any reason why it couldn't be implemented.

[2020-07-27 11:33] Truth1984 commented on #3949
`.fullOuterJoin()` produce `full outer join` query with dialect set to `mysql`
however there is no such thing as `full outer join` in mysql, and it throws syntax error.
The workaround is to use multiple subjoins to replace direct query: `full outer join`.
If you only notify users of how `full outer join` is only avaliable in certain sql languages, then it might defeat the purpose of using knex.

[2020-07-27 12:11] elhigu commented on #3949
Please give an example exactly how will that replacing query be?

There are many places in knex where this is the case. Throwing an error is just fine in that case, but ofcourse if there is a single query which returns the same results for mysql and it is possible to implement, then that would be a better solution. For example sqlite3 multi-insert is transformed query.

[2020-07-27 12:17] elhigu commented on #3948
Please add complete reproduction example and node version.  Sounds really weird if that is happening somehow random.

[2020-07-27 12:25] elhigu commented on #3947
Please send this issue to https://github.com/knex/documentation as mentioned in the issue template that you didn't follow.

[2020-07-27 12:25] #3947 closed

[2020-07-27 12:34] Truth1984 commented on #3949
i see

[full outer join example](https://stackoverflow.com/a/9214674/)

basically something like `knex.leftJoin().union(builder=>builder.rightJoin())`

[2020-07-27 12:44] elhigu commented on #2253
@llamadeus please before trying to push that solution to knex, first implement it as an external package, which uses knex internally.   I would say that you are better off with having separate getters for read / write connections already becuase of transactions.

Those are usually needed when ever you are doing anything non-trivial. So you actually have to know what kind of connection you need alr

[2020-07-27 12:49] elhigu commented on #3949
If there is good integration test that it actually works the same way also with more complex full joins etc. I would happily accept pull request implementing this 👍

[2020-07-27 13:02] elhigu commented on #3945
Check afterConnect knex configuration attribute and there you will be able to get oracledb connection where you can check everything that oracledb's APIs provides. Closing as this is not knex development related issue and not following issue guidelines.

[2020-07-27 13:02] #3945 closed

[2020-07-27 13:05] elhigu commented on #3941
Meh... That is just an example of correct usage of knex schema APIs. Nothing to do with design patterns. Would you please elaborate what do you mean?

[2020-07-27 13:06] elhigu commented on #3240
Maybe we should try out if this work nowadays :)

[2020-07-27 13:09] fdjones commented on #3912
@gates17 did you try dropping down to node 12, deleting node_modules and then re-installing your dependencies?

[2020-07-27 13:29] Truth1984 commented on #3941
Meh...
1. for all these years, I only see something like `builder(name, function() { this.xxx })`, **this** syntax in knex, instead of proper `builder(name, tool=>tool.xxx)`
2. running before initialization. we all expect `let func = knex(config).schema.createTableIfNotExist` should be a function, and it should be passed around or be wrapped by other self-defined functions, however, when you actua

[2020-07-27 14:02] pazfelipe commented on #3945
Could you tell me where I can find this attribute/config? I didn't find it on knex docs.

[2020-07-27 14:11] elhigu commented on #3945
Sorry. Remebered the name wrong. It is this one http://knexjs.org/#Installation-pooling-afterCreate

[2020-07-27 14:34] elhigu commented on #3941
1. That is old way and the builder has been provided to functions already years also as a parameter instead of this context. Also that has nothing to do with my answer.
2. I suppose before accessing that `knex` you have imported / required it without any configuration. In my example I required knex and initialized it with configuration before using it. Also when you do `knex(config)` I suppose you

[2020-07-27 17:32] gates17 commented on #3912
as i said before tried with the node versions quoted below.
i did however manage to run my current configurations under ubuntu20.04 vmware with mysql2. but i still get the pool connection error on 1st connection try which is awkward.
still i dont remember having made any installation that would mess up the pooling on both dbs under windows or wsl.

[2020-07-27 20:16] mdartic opened #3951 "Feature request : allow the seeds directory config param to accept an array of directory"
# Feature discussion / request

1. Explain what is your use case

I would like to seed my database with several directories of seeds.

My project using Knex is quite "generic", and I would like to add, depending the instance, some directories of seeds, and explain to knex - via the knexfile config file - in which directories it has to find the seeds files.

2. Explain what kind of feature would su

[2020-07-27 21:28] hsynlms commented on #3948
I faced this in our internal project of the company that I work at. I will try to give you the instructions or an example project to make it reproducable if I can.

Updated the issue with node.js version.

[2020-07-28 03:58] Ynge opened #3952 "support for mysql duplicate key update"
Hope to be able to use the " duplicate key update"

[2020-07-28 06:26] romvits opened #5900 "in documentation select oracle => db queries where not shown"
Hi,

its not realy a bug, but could you change the value for the select box 'Show example query output as' on the homepage 'knexjs.org' for oracle from 'oracle' to 'oracledb'? ;)

bg
Roman

[2020-07-28 08:50] elhigu commented on #3952
Not a proper feature request. Issue template has instructions how to write one. Also I suppose this is a duplicate issue of requesting upsert functionality. Closing.

[2020-07-28 08:50] #3952 closed

[2020-07-28 14:50] jacob-israel-turner commented on #2253
@llamadeus Let me know if there's anything I can do to help with your work.

I'm not a maintainer, just a project consumer - we implemented Knex about nine months ago and have slowly been replacing Sequelize.  However we're now to the scale where we need to implement read replicas in our Aurora cluster.  I had assumed going in that Knex supported this out of the box - I'm surprised to find that it

[2020-07-28 15:57] Lesnock opened #3953 "Knex with Electron Reload"
I'm using Knex inside electron, with electron-reload to refresh the page when I change something.

When the electron window opens, the Knex queries work, but once the electron window is reloaded, knex returns this error:

[code]

What could it be?

[2020-07-28 17:24] tgiardina opened #3954 "npm warnings: source-map-resolve"
# Environment

Knex version: 0.21.2
Database + version: MySQL
OS: Ubuntu 18.04

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When installing knex through npm, I get the following warnings:
[code]
Following the given links, I see that knex needs to use a newer version of `source-map-resolve` package to avoid these warnings.

This is obviously not very imp

[2020-07-28 18:02] erikshestopal commented on #3217
@DHFW  Only possible on MySQL > 8.0.

[2020-07-28 21:17] Mvrs commented on #3831
I just resolved my problem. Upgrading your `knex: "^0.21.2"` and `pg: "^8.3.0"` seem to help. Glad someone opened this issue 😄

[2020-07-28 23:30] MatheusAnciloto opened #3955 "Typescript only returns type any, how to return string?"
I looked up the documentation, but I can't find a way to get a string return from a query, using typescript.

I need to use the function bcrypt.compare() and to do that I must use a string in the password parameter.

[2020-07-28 23:45] MatheusAnciloto commented on #3955
I used .first() and solved my problem!!

[2020-07-29 02:22] Ali-Dalal commented on #2253
@llamadeus same here, I am not a maintainer, but I've been using Knex a lot recently.
I will be happy If I can provide any help.👍

[2020-07-29 08:15] elhigu commented on #3954
Will be fixed when deps are updated every now and then. Closing to prevent dangling open issues and since this is so minor issue. Please leave comment here, if after 6 months those warnings still exists and I will reopen this.

[2020-07-29 08:15] #3954 closed

[2020-07-29 08:19] elhigu commented on #3953
Closing as doesn't sound like a knex problem. I remember that somewhere there is discussion of something like that...

[2020-07-29 08:19] #3953 closed

[2020-07-29 09:35] serv commented on #1086
@kibertoad, I am interested in this feature and I want to clarify the requirements with you. What do you think about these requirements.

- Taking some pointers from [how Rails has done this](https://edgeguides.rubyonrails.org/active_record_migrations.html#types-of-schema-dumps), I see following data should be present in the schema dump.
  - batch: Display which the last batch updated the schema

[2020-07-29 09:43] elhigu commented on #1086
I think this is also one of those things, which should have their own repository and separate npm package where it is implemented.

[2020-07-29 16:38] tsongas commented on #3635
Will this also work for uuid instead of integer? Using integers is definitely not a best practice, it is a security risk (easy to guess) and also leaks critical data to competitors (sign up on the 1st and note your ID, then sign up again a month later and you know how many new users your competitor is getting per month). Postgres now natively supports generating uuids.

[2020-07-30 21:21] lognaturel commented on #2324
@rkaw92, @dropdevcoding, @TonyApuzzo, @petslane, @ducaale would any of you be up for taking a look at a proposed fix at #3900 and perhaps share some ideas on how to meaningfully test it? Thanks!

[2020-07-31 01:38] Adverbly commented on #3849
For those seeing

[code]

and unable to use things such as `import`, For me the fix was that I was missing ts-node from my package.json. A simple
``
npm install -D ts-node
[code]

[2020-07-31 14:17] andreaspalsson commented on #3870
Seems like the `query-response` event has the same issue. If you get the response as a stream it will not emit the event.

[2020-07-31 15:11] thefoxie commented on #3571
@rajsinghUSA I know your pain. I use Objectionjs and everything is written with ESM. I've used esm (the package) before, but managed to remove it from the project. I'm able to import and use the objection models inside my seeds but I need to remove `type: module` from `package.json` and run `npx knex --esm seed:run`, otherwise I get only errors. Btw found out that seeds got extensions option which

[2020-07-31 15:22] D10221 commented on #3571
At this point  I don't think it should be Knex's concern ... the entire esm/cjs story is quite broken ...
A library can/should only try import or require something... a module, but if the underlying platform can't make its mind on how to do it.. There is so much you can do about before becoming the platform/runtime  your self.

[2020-07-31 18:46] rijkvanzanten opened #3957 "Schema creation in transaction doesn't roll back on errors"
# Environment

Knex version: 0.21.2
Database + version: mySQL 8.0.19
OS: macOS

# Bug / Feature Request

I'm dynamically creating tables from my app, and would like to rely on transactions to ensure my database doesn't end up in a half-broken state when something fails during the creation of a new table. I expected the following to work (seeing it works amazingly well with "regular" non-schema cre

[2020-08-01 02:43] devaku commented on #3939
Here you go guys. I got caught up with personal matters but I managed to finally get off my ass and upload this repository with the aforementioned issues with dotenv.

Just run `npm install` and then run `npm run debug`. You'll be able to see nodemon outlining that there are proper credentials to be used for MySQL. Just be sure to have a XAMP running in the background to get this to work of course

[2020-08-01 12:25] nogurenn opened #3958 "MySQL 8.0.13 CURRENT_DATE as default knex throws ER_INVALID_DEFAULT at migrate:down"
# Environment

Knex version: 0.21.2
Database + version: MySQL 8.0.19
OS: Mac OS 10.14.6

# Bug

1. Expected behaviour

`down()` would work as expected after running in the CLI. MySQL supports `CURRENT_DATE` as default value for DATE columns as of 8.0.13. See https://dev.mysql.com/doc/refman/8.0/en/data-type-defaults.html#data-types-defaults-explicit

2. Error message

[code]

3. Reduced test code

[2020-08-02 18:09] jremi commented on #3939
@devaku at the top of your knexfile.js make sure you include:

[code]

[2020-08-03 07:30] elhigu commented on #3957
It is not supposed to work. MySQL database does not support transactions with schema changing DDL queries.  More info about mysql/mariadb implicit commits here https://stackoverflow.com/questions/54179669/transaction-issue-with-knexjs-typescript-and-mariadb/54180024#54180024

[2020-08-03 07:30] #3957 closed

[2020-08-03 08:20] caihaibin1991 opened #3959 "when I use oracledb to binding params, it will throw this error. but if I use raw to query, it will be normal."
await knex.raw('select * from JKPT_TEST');

await knex.raw(`insert into "JKPT_TEST" ("CTXT") values (?)`, ['asdf']);

(node:20568) UnhandledPromiseRejectionWarning: Error: Unable to acquire a connection
    at Client_Oracledb.acquireConnection

[2020-08-03 08:32] elhigu commented on #3959
Closing as there is not enough info provided to resolve what is the problem or to even understand exactly what seems to be a problem here. Can be reopened if there seems to be a bug in knex related to this.

[2020-08-03 08:32] #3959 closed

[2020-08-03 09:12] caihaibin1991 opened #3960 "when I use oracledb to binding params, it will throw this error. but if I use raw to query, it will be normal."
# Environment

Knex version:0.21.2
Database + version: oracle Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
OS:win 10

@ atiertant.
this script can run
await knex.raw('select * from JKPT_TEST');
but this script will throw error "Unable to acquire a connection at Client_Oracledb.acquireConnection".
await knex.raw(insert into "JKPT_TEST" ("CTXT") values (?), ['asdf']);

[2020-08-03 09:31] elhigu commented on #3960
Please add complete runnable test code. Did you try running those queries in reverse order?

[2020-08-03 09:34] caihaibin1991 commented on #3960
this is the table sql
CREATE TABLE "JKPT_TEST" (
  "CTXT" CLOB
);
complete runnable test code need a database, I do not have a outside database.
you can add this table into a test database. and run

[code]

[2020-08-03 09:53] elhigu commented on #3960
do you have anything special in knex configuration? If that issue indeed is that easy to reproduce it might be that oracle dialect somehow gives wrong error for some other problem that is happening there.

[2020-08-03 09:55] elhigu commented on #3960
If anyone has time please try to reproduce this with knex's docker based oracle setup to have complete reproduction case.

[2020-08-03 11:11] felixmosh commented on #1727
@MarkHerhold this will help you :]

[code]

[2020-08-03 16:38] mike20007 opened #3961 "Wait for insert to complete"
# Environment

Knex version: 0.19.5
Database + version: oracle 11g 11.2
OS: Linux

# Question:
Hello,

I insert a record to an oracle table using knex. On insert, oracle trigger calls a complex stored procedure.
On error, the stored procedure returns errors to trigger and trigger to knex.

  return await knex("production_audit")
    .insert(auditRec)
    .then(count => {
      return count;
    })

[2020-08-03 17:13] GVanderLugt opened #5901 "Clarification on transactions in migrations"
v0.21.0

The docs currently mention that:

However, I'm wondering if that means each individual migration is ran in its own transaction or if it means the entire batch of new migrations is ran in one transaction?

In other words, when running migrations using `knex.migrate.latest` or `knex migrate:latest`, is there always a single transaction for the batch of migrations being run, or multiple tran

[2020-08-03 23:00] Mossop opened #3962 "withUserParams and userParams not listed in TypeScript definitions"
# Environment

Knex version: 0.21.1
Database + version: Postgres 12
OS: macOS

If issue is about TypeScript definitions, tag @lorefnon.

The [userParams and withUserParams members](http://knexjs.org/#Installation-parametrization) of the knex object are not included in the TypeScript definitions.

At the very least having userParams defined as `any` would stop TypeScript complaining about it not be

[2020-08-04 01:12] caihaibin1991 commented on #3960
I found the reason now, thank you @elhigu .
I do the initiation of knex twice, but it is so weir, just only throw this problem. other actions like searching, executing sql, it is normal. only when I bind params to do something.

[2020-08-04 01:12] #3960 closed

[2020-08-04 05:49] paul4156 commented on #2302
This worked for me on mac docker-compose node:12 instead of node (v14). Thanks.

[2020-08-04 08:36] elhigu commented on #3961
Closing as knex issue tracker is meant for bug / development. Not general SQL / knex usage questions.

You need to figure out how would you do that waiting with plain SQL, then do the similar kind of thing with knex.

[2020-08-04 08:36] #3961 closed

[2020-08-04 15:05] mike20007 commented on #3961
Ok, Thanks!

[2020-08-04 16:08] rijkvanzanten opened #3963 "Support @mysql/xdevapi driver"
# Environment

Database + version: MySQL 8

# Feature discussion / request

1. Explain what is your use case

Allow `@mysql/xdevapi` to be used as driver for MySQL.

2. Explain what kind of feature would support this

Both `mysql` and `mysql2` don't offer support for the new default auth plugin `caching_sha2_password`, effectively preventing you from using Knex with a default installation of MySQL

[2020-08-04 19:25] rijkvanzanten commented on #3158
@elhigu is there any way to suppress that warning? My app is database driver agnostic, and so far, inserts have been the only painpoint where I haven't been able to properly make it database driver agnostic :(

MySQL returns primary keys (but only if they're auto incremented it seems), but others (Postgres) returns a "Result" object coming from Knex. My solution was to do something like

[code]

b

[2020-08-04 20:12] rijkvanzanten commented on #2682
I personally think that @ricardograca's idea of making `.returning()` cross platform compatible solves for the same use case as this extension on the `.insert()` method.

+1 to this, to me, `.returning()` should allow either a string or an array of strings (non-breaking-change): `.returning('id')`, `.returning(['id', 'name']);`

That being said, making `.returning()` cross-platform is a different

[2020-08-05 03:57] ThanhHuuTran commented on #1477
I encounter this issue while using enterpriseDB: https://www.enterprisedb.com/
query "select versions()" return
**"EnterpriseDB 9.6.18.25 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36), 64-bit"**
therefore the regex `"/^PostgreSQL (.*?)( |$)/.exec(resp.rows[0].version)"` return null in this case

[2020-08-05 05:05] gbharath5182 opened #3964 "ER_CON_COUNT_ERROR: Too many connections"
# Environment

Knex version:
Database + version:
OS:

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for exa

[2020-08-05 05:05] gbharath5182 commented on #3964
Getting ER_CON_COUNT_ERROR: Too many connections error.. knex+mysql

[2020-08-05 05:47] Phantom-Wolf opened #3965 ".update unintended change"
# Environment

Knex version: "knex": "^0.21.2"
Database + version: "pg": "^8.3.0"
OS: windows10

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do:

usi

[2020-08-05 16:21] mdartic commented on #3786
Any news on this @kibertoad ?
I need this feature for a project I currently have, I'm dividing seeds in several folders.
Could I help on the PR #3357 ?

[2020-08-05 16:25] kibertoad commented on #3786
thank you for the ping, drowning in multiple workstreams. author of that PR claimed that approach ended up not working. if you could investigate, and finish his work with CLI test, I'll make sure to review urgently.

[2020-08-05 16:27] mdartic commented on #3786
Ok, I'll give it a try.
I don't know the knex codebase, so I'm gonna look on the "migration" side (as you said it was already working).
Any info about why the PR approach wasn't the good one ?
Do you think we have to implement the subfolder drilling too ?
Is this feature already implemented in the migration one ?

[2020-08-05 16:32] kibertoad commented on #3786
@mdartic I would imagine that quite a bit of code that is currently duplicated between migrations and seeds will have to be synced up. Don't see a reason why it wouldn't work after that.

[2020-08-05 16:32] kibertoad commented on #3786
And yes, it is implemented for migrations, and you should be able to copy over most of the implementation. bonus points for extracting common code

[2020-08-05 16:57] phamdt commented on #1477
i ended up just upgrading knex@0.21.2 which for me was far enough to fix the problem without having to deal with breaking changes in my consuming app.

[2020-08-06 00:34] Phantom-Wolf commented on #3965
so looking into it more, ".update" doesn't exactly change the array into an object, it just changes the [...] into {...} while the content remains in array format (a comma separated list) which breaks the any web app that tries to interact with that damaged array format. The change also prevents JSON.parse() from work and halts the entire pull until that code is removed.

[2020-08-06 04:44] Offirmo commented on #2302
I was trying to use the server's node version by using `nvm exec 12 node ./src/index...` and was having the error above.

[2020-08-06 09:18] elhigu commented on #3965
Please provide complete runnable minimal reproduction code if you think there is a bug in knex. There is more info about it in contributing.md. Closing until reproduction is provided.

[2020-08-06 09:18] #3965 closed

[2020-08-06 09:20] elhigu commented on #3964
Sounds like you are doing something wrong. If you think there is a but in knex, provide reproduction code and write proper bug report.

[2020-08-06 09:20] #3964 closed

[2020-08-06 09:28] elhigu commented on #3158
@rijkvanzanten probably the easiest and fastest way for you is to write knex plugin, which implements crossdb insert that works in your case.

Something like:

[code]

[2020-08-06 12:49] ksinghgith opened #3966 "How to ignore/exclude the migration and seeding of certain tables"
# Environment

Knex version: 19.4
Database + version: Postgres 12.3
OS: Windows 10

Currently i have to seed all the files even though there is change in a single file csv. Is there a way that we can seed only a specific file while data seeded in the previous/existing files remains as it is in DB.

Also i wanted to know if we can separate migration & seed folders so that they don't conflict with e

[2020-08-06 15:42] flpb opened #3968 "OracleDb - Problem while using number on binding param"
Knex version: 0.21.2
Database + version: oracledb 5.0.0
OS: Linux
@atiertant.

# Bug

I was using knex v0.15.0 and  oracledb v2.3.0 - My resources were functional.
Then, recently I noticed a few things that I needed (pretty badly, as you can notice for the lack of updates since..) to update, and I did. So my problem began to appear.

There was no error log to be found... I only noticed this becaus

[2020-08-07 10:17] KarmaBlackshaw commented on #254
Hi! I've trying to extend a function but it seems that `raw` is not a function.

[2020-08-07 10:32] Absor commented on #3754
I think we are having the same problem, the call to `checkVersion` is without catch block at https://github.com/knex/knex/blob/master/lib/dialects/postgres/index.js#L123 and it seems `checkVersion` can throw.

[2020-08-07 10:33] elhigu commented on #3966
Closing as Knex usage questions should be done in gitter or stackoverflow.

You should never change existing migration files unless you are in initial development and have not deployed app to production and you always destroy DB completely and recreate it when app is updated.

Seed and migrations must be in different directories, otherwise they will be mixed together (see. documentation).

[2020-08-07 10:33] #3966 closed

[2020-08-07 10:35] elhigu commented on #254
@KarmaBlackshaw please open a bug report with reproduction code if that seems to be a bug.

[2020-08-07 11:41] elhigu commented on #3968
What is the problem there:

[code]

you are not even executing that query... please add complete reproduction with also an error that you are experiencing.

[2020-08-07 12:40] KarmaBlackshaw opened #3969 "Using raw when creating a custom function"
# Environment

Knex version: 0.15.2
Database + version: 8.0.21-0ubuntu0.20.04.4
OS: Linux

How do I use raw when creating a custom function?

[code]

[2020-08-07 12:47] elhigu commented on #3969
You should not extend knex like that. Check out documentation about how to extend knex.

[2020-08-07 12:47] #3969 closed

[2020-08-07 12:49] KarmaBlackshaw commented on #3969
Thank you! Just found it.

[2020-08-07 12:50] elhigu commented on #3969
Docs are missing the sidebar link to it, but they are written after this section http://knexjs.org/#Builder-queryContext

[2020-08-07 12:56] flpb commented on #3968
@elhigu

Ok, you are right, the code should be this:

[code]

[code]

I'm so sorry for not providing this before.. this is not the way that I call knex still.. I'll not bother you guys adding complexity over there.. But our controller part should pass to the model part an object containing Q.STATUS and the value 1 (int) from that part to the model part in an object and we spread the object and use

[2020-08-07 14:58] ike18t commented on #2236
I saw this issue while investigating a solution. I ended up with an approach like @jcrawford inquired about and made sure is the first seed executed.

[code]

[2020-08-07 15:24] mdartic commented on #2193
Seems related to #3786 ?

[2020-08-07 15:47] kibertoad commented on #3966
@ksinghgith You can't do that with migrations, this is not how they are supposed to be used. It is supported for seeds, though. As per documentation:
[code]

[2020-08-07 15:52] #3932 closed

[2020-08-07 17:08] flpb commented on #3968
The same applies with
[code]

[2020-08-07 18:07] candyapplecorn commented on #2193
Forgot to update. I abandoned working on my PR #3357 after a few days. I got all the tests to pass and when I went to test it with the command line, it completely broke. I'm not planning on working on it again so thanks @mdartic

[2020-08-07 19:06] nicolascalev opened #3970 "ORA-00972: identifier is too long"
# Environment

Knex version: 0.21.2
Database + version: oracledb 5.0.0
OS: Windows 10

Hi @atiertant , hope you are doing well.

# Bug

### 1. Expected behavior
While creating that query, the expected behavior would be an output like this

[code]

[code]
Instead, I'm getting an output like this (as you can see in the runkit example)
[code]
This query is outputed like that, just when I add a where.

[2020-08-08 12:46] KristjanTammekivi commented on #3970
It should be select "name", "username" .... etc
If you split your select fields on a comma then it would work https://runkit.com/kristjantammekivi/5f2e9db0ccc834001a665c73

I don't know why it's wrapping everything in parenthesis and selecting from it though, I assume there's some sort of a oracledb reason for it

[2020-08-08 16:51] nicolascalev commented on #3970
@KristjanTammekivi
Thanks man, I tried separating the names in an array and it worked, and yes, I wonder why that is happening.
I'm trying to build a REST api and Knex is going to help with that job a lot.

[2020-08-08 17:48] #3898 closed

[2020-08-08 17:51] kibertoad commented on #3937
Released in 0.21.3

[2020-08-08 17:51] #3937 closed

[2020-08-08 17:54] kibertoad commented on #3870
@mlarcher Could you please check if 0.21.3 addresses your issue?

[2020-08-08 17:54] kibertoad commented on #3786
Released in 0.21.3

[2020-08-08 17:54] #3786 closed

[2020-08-08 17:55] kibertoad commented on #3768
I believe this is resolved in latest master, please reopen if it's still a problem,

[2020-08-08 17:55] #3768 closed

[2020-08-08 17:57] kibertoad commented on #3506
@NguyenTheSon Could you provide more info?

[2020-08-08 17:58] kibertoad commented on #3898
Released in 0.21.3

[2020-08-08 17:59] kibertoad commented on #2324
This should have been addrfessed in 0.21.3. Additional testing and feedback would be most appreciated.

[2020-08-08 18:00] kibertoad commented on #3932
Released in 0.21.3

[2020-08-08 18:01] kibertoad commented on #3919
Released in 0.21.3

[2020-08-09 09:47] lorefnon commented on #3897
The following are expected to work:

[code]

Alternatively, you can also use `esModuleInterop: true` in tsconfig.json, and then:

[code]

Typescript's recommendations around typing commonjs modules are available [here](https://www.typescriptlang.org/docs/handbook/modules.html), which we follow.

[2020-08-09 14:20] mlarcher commented on #3870
@kibertoad I'm currently in vacation, I'll test it when I get back

[2020-08-09 14:41] mandala21 opened #3972 "Knex insert with * only returns id"
# Environment
node: docker 12-alpine

Knex version:^0.21.2
Database + version: sqlite 3
OS: linux

# Bug

When i use knex('table').insert(data,'*') this dont returns all inserted data. The return is only id
My table
[code]

my insert command
[code]

The should return object with all data in row inserted. But only return ids

example of console.log
[code]

[2020-08-09 21:06] kibertoad opened #5902 "Wrong changelog version on the website"
Currently when I open https://knexjs.org/#changelog, I get changelog for 0.20.1. Should I refresh, I am briefly shown the one for 0.21.3, but then it switches back to 0.20.1

@elhigu @lorefnon Any ideas what might be going on?

[2020-08-09 23:18] broom9 commented on #3786
Hi,

We found this breaking change when upgrade to 0.21.3.

Our seed folder structure actually uses the assumption that subfolders are not treated as seed files.

[code]

The seeds.js requires users.js and jobs.js.

After upgrading to 0.21.3, we saw error like "Invalid seed file: users.js must have a seed function".

Can you suggest how to update seed files or config to deal with this change? Than

[2020-08-10 03:13] rainmakerho opened #3973 "pool settings don't work"
# Environment

Knex version: 0.16.5
Database + version: mssql 5.1.0
OS: windows 10

# Questions about mssql connection pooling config settings

I set knex pool config is below,
[code]
I add log to show pool.used.length and this.pool.free.length at knex\lib\client.js's acquireConnection function.
[code]

It will always show used:1,free:0  when i use JMeter to run concurrency request .

=== acquireC

[2020-08-10 06:09] kibertoad commented on #3786
@broom9 Simplest solution would be to introduce one more hierarchical level so that one is not a subgolder of the other. I will try to come up with a solution that makes this change non-breaking tonight.

[2020-08-10 07:22] mdartic commented on #3786
@kibertoad  I agree

Maybe this could work :
[code]

If the `seeds.js` file is placed in a directory at the same level, you can specify in your config that the folder seed need to run is `seeds/runs`.
The `require` would still work, but you'll need to update them with a relative path `../data` ?

I don't have any idea for not having this breaking change...

[2020-08-10 07:25] mdartic commented on #2193
The MR https://github.com/knex/knex/pull/3967 is merged.
Don't know if it's enough for closing this issue @GodefroyClair ?

[2020-08-10 07:36] GodefroyClair commented on #2193
yes I think so. Thx!

[2020-08-10 07:36] #2193 closed

[2020-08-10 07:44] kibertoad commented on #3786
@mdartic The breaking change here is the recursive scanning of folder, which also makes it inconsistent with how migrations work. It should be a configuration parameter and off by default. If you have some time, would appreciate a PR for that, alternatively I'll get to it myself eventually.

[2020-08-10 08:36] mdartic commented on #3786
Got it.
You would like a new parameter like a boolean option `recursive` ?
If not set, you have the "old" way of finding files, only at the directory level, if set to `true`, we go deep in the folders ?

[2020-08-10 08:38] kibertoad commented on #3786
@mdartic Yes, exactly!

[2020-08-10 08:58] mdartic commented on #3786
Ok, I'm pushing an update in the hour.

[2020-08-10 09:21] elhigu commented on #3973
sounds like correct behaviour if you have just been using single connection and there has not been concurrent requests to DB. Please do your test like this:

[code]

If you still think there is some problem with knex pool after running test like that, please add your complete reproduction case and we can reopen.

[2020-08-10 09:21] #3973 closed

[2020-08-10 09:24] elhigu commented on #3972
https://knexjs.org/#Builder-returning

sqlite does not support returning.

[2020-08-10 09:24] #3972 closed

[2020-08-10 09:35] elhigu commented on #3970
There was some good oracle reason why the query is wrapped to subquery instead of having just a single query when using .limit(10)

[2020-08-10 09:35] #3970 closed

[2020-08-10 09:40] elhigu commented on #3968
Provide some single file reproduction code that anyone can run. Sounds like you are doing something wrong. It will help also for you with debugging if you can isolate the actual minimal code where that is happening.

[2020-08-10 13:21] kibertoad commented on #3786
@broom9 If you prefer to keep your original directory structure, you can simply update to 0.21.4. Note that if you choose to restructure your seeds, you'll have to opt-in for new logic and set `recursive` flag to true for seeding.

[2020-08-10 17:25] ianchanning commented on #3641
We have hit this problem too. From what we can tell - this happens if you do a backup via a SQL script and then restore locally. Then the restore SQL script only contains the following kind of SQL statements:

[code]

Note that there is no reference to the foreign key name. The the postgres client itself then creates the foreign keys with the postfix `_fkey`.

Now if you try to run a migration scr

[2020-08-10 17:27] ianchanning commented on #3641
Also note, that if you do a binary backup of the database, this isn't a problem because the binary backup contains the foreign key names exactly as they are found in the source database.

[2020-08-11 02:24] edugrip commented on #2624
Yes. It works. @bartbuurman , Thankyou for creating this issue. I learnt how to use dotenv here.

[2020-08-11 02:48] piobrien commented on #3891
You can enable it like this:

[code]

[2020-08-11 05:16] piobrien opened #3975 "BatchInsert with mssql only works with very small chunksizes"
# Environment

Knex version: 0.21.4
Database: Microsoft SQL Server 2016 SP2 CU13

Receiving a TransactionError when performing a simple BatchInsert when using MSSQL:

[code]

The below works fine with a chunkSize below 10 however anything higher produces a TransactionError:
[code]

The database server behind this is the latest build of SQL Server 2016 and serves other workloads just fine.

[2020-08-11 07:55] piobrien commented on #3975
Using the same data with node-mssql and it's bulk command worked fine so it's not an issue with the backend or  msssql.

[2020-08-11 07:56] kibertoad commented on #3975
@piobrien can you post SQL statement generated with knex and with node-mssql?

[2020-08-11 14:22] mdartic commented on #1476
Any news on this feature ?
I think I'm in this use case !
If needed, I could work on it.

[2020-08-11 16:09] bertho-zero commented on #3447
Could it be due to the `propagateCreateError` option on this line (documented [here](https://github.com/vincit/tarn.js/)) ?

https://github.com/knex/knex/blob/02d94d96b004a023c5ae1a77109f897e334fb21a/lib/client.js#L241

[2020-08-11 16:41] david1602 commented on #3891
@piobrien I have tried that, that doesn't work for me. I have tried updating both mssql and knex, nad that doesn't do anything for me.

[2020-08-11 17:08] sagidM commented on #1244
@rhys-vdw `global Knex.raw is deprecated, use knex.raw (chain off an initialized knex object)` (https://github.com/jfgodoy/knex-postgis/issues/20)

I updated it accordingly, using `knex-postgis` https://github.com/jfgodoy/knex-postgis/issues/20#issuecomment-312404336

Now the query: `.select(st.asText('count(*)::integer'))`
shows: `column "count(*)::integer" does not exist`

[2020-08-12 01:13] piobrien commented on #3891
@david1602 That is odd, my snippet was from a working deployment with the latest versions of Knex and mssql.

My Knexfile has this and doesn't produce the depreciation message:

[code]

[2020-08-12 01:39] yonderbread opened #3976 "Not Able To Create A Table"
I'm unable to create a table with the following bit of code:

[code]

I'm getting this error...
```sqlite does not support inserting default values. Set the `useNullAsDefault` flag to hide this warning. (see docs http://knexjs.org/#Builder-insert).```

When I query the sqlite database in DataGrip it does not show any tables.

[2020-08-12 08:38] elhigu commented on #3976
Are you getting any other debug prints from your test code? That warning `sqlite does not support inserting default values. Set the useNullAsDefaul flag to hide this warning. (see docs http://knexjs.org/#Builder-insert).` you mentioned has nothing to do with tables not being created. Please also add complete reproduction code.

Now there is no way to know how you are trying to create DB and verify

[2020-08-12 08:38] #3976 closed

[2020-08-12 08:50] elhigu commented on #1244
@sagidM `knex.raw` definitely exists. You just need to call it from configured knex instance, not from `require('knex').raw`. And about `knex-postgis` you should ask elsewhere.

[2020-08-12 08:58] chandelabhishek opened #3977 "Passing raw string to underlying driver"
# Environment

Knex version: 0.21.2
Database + version: postgres 11
OS: mac/ubuntu

# Feature discussion / request

 Requirement is to pass raw connection string without parsing to underlying driver. My use-case is specifically for postgres.

Above feature will enable drivers to use raw connection strings, and In case of postgres it can support auto-failover as pg-native driver which is based on l

[2020-08-12 09:06] elhigu commented on #3977
Does this work https://node-postgres.com/features/connecting#connection-uri ?

[code]

[2020-08-12 10:07] chandelabhishek commented on #3977
@elhigu `pg` always parses it, so I got confused. thanks, above works.

[2020-08-12 10:07] #3977 closed

[2020-08-12 10:35] bertho-zero commented on #3447
It seems that it has more to do with **TCP keepalive**.

If I completely reduce my timeout I get a different error, the ECONNRESET comes from tcp of node.

https://github.com/mysqljs/mysql/issues/1939

I see the TCP keepalive is disabled for my connection if I run this on the server:

[code]

[2020-08-12 13:47] bertho-zero commented on #3447
I thought I found the solution by adding a `pool.afterCreate` option which does a `setKeepAlive` on every new connection to keep it alive:

[code]

And I can see the difference with this command:

[code]

But that didn't fix the problem, after a short break I still had ECONNRESET errors

---

I'm using ProxySQL and by doing this on each instance I see that the connections are kept alive:

[code]

[2020-08-12 14:01] flpb commented on #3968
HI @elhigu thank you for the support... it was an issue with my docker image.. we changed to a different one and it started working again.. thank you for all the help and time that you spend on this with me. :)

[2020-08-12 14:01] #3968 closed

[2020-08-12 21:13] jawadcode commented on #2009
@bayardmartins Does that function auto escape malicious strings?

[2020-08-13 00:55] umaar opened #3978 "Problem with ESM modules"
### Environment

Knex version: 0.21.4
OS: macOS
Node: v14.4.0

[code]

That error is referring to the start of my knex.mjs file which looks like this:

[code]

When I log the value of `config`, it's `undefined` meaning something is broken with ESM via knex. This was working in `0.21.1`

Also please see: https://github.com/knex/knex/issues/3882 - can you include more ESM related tests please? It wi

[2020-08-13 05:42] kibertoad commented on #3978
@D10221 Could you please take a look at this?

[2020-08-13 06:01] issa-tseng commented on #2324
the patch as released appears to work against the test case i posted above. that test case is the closest i can i conceive to a test. if i have time i can try to work it into the suite but it'll be a while.

[2020-08-13 08:22] erwinvil commented on #3807
Workaround that worked for me using ts-node:
[code]

This successfully creates the migration file with a `.ts` extension.

As for running the migration, I still run them using the transpiled `.js` files via npm run scripts:

[code]

I tried running the migrations as `.ts` files before but I encountered weird runtime transpilation issues when running on deployed containers (not enough memory?).

[2020-08-13 08:59] D10221 commented on #3978
@umaar
Hi,
It seems related to [esm #851](https://github.com/standard-things/esm/issues/851)
'.mjs' limitations are not well documented.
I repro your case , 'mjs' extension might not be well supported by 'esm' , or not work at all
We might have to fallback to native `import` for that case (`mjs`)

Would it be possible for you to try your setup with `js' extension instead ?

[2020-08-13 13:58] elhigu commented on #2009
that will compile to SQL : `WHERE "column" like ?` and ? is sent as a binding  with value `%somthing%`. So knex is not excaping it but the driver does.

[2020-08-13 14:04] elhigu commented on #3447
@bertho-zero Is your queries returning that `ECONNRESET`  or are you only seeing it in your logs? This issue is about pool not noticing those broken connections when they are fetched from pool and that is causing that next query sent to the same connection fails.

 It is perfectly fine to have those errors in background if pool notices them before leasing the connection back to application.

[2020-08-13 14:47] umaar commented on #3978
Hi, I will be able to try later and let you know - but just a reminder, this was working in knex version `0.21.1` <- that version also used the `esm` module I think. So possibly something has changed?

Also I haven't tried recently, but a few months ago when I was trying to make ESM work with Knex, I had to call my knexfile `.mjs`. I would've preferred to use `.js` but it didn't work at the time.

[2020-08-13 15:50] hydroper commented on #3978
I'm having the same issue with latest version. I tried a foo.js at the same directory as knexfile.js.

![image](https://user-images.githubusercontent.com/52384977/90156921-75700d80-dd63-11ea-9de4-b34e512b32c6.png)

![image](https://user-images.githubusercontent.com/52384977/90156934-79039480-dd63-11ea-9ebf-112cbbcfa5d0.png)

[2020-08-13 17:42] D10221 commented on #3978
@umaar
Yes it did changed.
'esm' wasn't working when the host package is `type:"module"`, latest change is trying to solve that.
I did try latest 'knex' and locally hack the changes back (pseudo revert to previous behavior)
But is the same result you have reported here when using 'mjs' extension

Also tried with knex@0.21.1

[code]
[code]
[code]

But your reported problem still there

##### _Now i

[2020-08-13 18:13] houldsg commented on #3891
@david1602 If you are using a connection string instead of object, tedious won't parse it properly (happened to me)
https://github.com/tediousjs/node-mssql/issues/995

[2020-08-13 18:42] VitorBalotin opened #3979 "Oracledb CLOB not working on .returning()"
# Environment

Knex version: 0.21.4
Database + version: Oracle 12C
OS: Windows 10 x64

If issue is about oracledb support, tag @atiertant.
# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

    I'm running a simple insert with a returning, the table has a CLOB column, and while a select returns the CLOB field normally,     the returning function just gives me

[2020-08-13 18:46] bertho-zero commented on #3447
@elhigu It is the query which returns an ECONNRESET error.

[2020-08-13 23:26] umaar commented on #3978
Thanks for looking. All the details of how I got it working in 0.21.1 are in this comment: https://github.com/knex/knex/issues/3882#issue-638047533

Note the 'quick hack' I mentioned also.

The `knexfile.mjs` was an `.mjs` extension, node `v14.1.0` was being used, and it looked like this:

[code]

[2020-08-14 00:54] D10221 commented on #3978
Thanks,
I did look at [#3882](https://github.com/knex/knex/issues/3882#issue-638047533)
Saw you hack , nice :)
Not sure whats the idea behind that mjs sub, why didn't just leave it null/empty like the js extension ?

I couldn't repro the knex v0.21.1 success , with Node 14
But I found interesting interactions between Node v10/12/14  and `esm`.

According to Node, the 'mjs'  extension can only be '

[2020-08-14 08:06] amroczeK commented on #3589
Hey @elhigu I am facing a similar issue. Here is a sample of my code simplified.

I get the following error: TypeError: trx.raw(...).timeout(...).transaction is not a function.

The RAW SQL queries we are doing are just SELECT queries with joins, functions, unions etc. The reason I am trying to implement transactions if because we sometimes experience this error **'KnexTimeoutError: Knex: Timeout

[2020-08-14 09:34] elhigu commented on #3589
also if you do

[code]

the last part is redundand. Creating query through `trx` instance already binds the transaction correctly (and is the preferred way, `.transacting` is pretty much obsolete and probably should be deprecated)

[2020-08-14 09:36] elhigu commented on #3447
Would you be able to provide reproduction code for that which fails fast?  😮

[2020-08-14 09:45] bertho-zero commented on #3447
I notice that this does not happen with an environment where I do not enable SSL on ProxySQL.

To reproduce the problem I deploy a new Mysql Cluster environment on https://app.jpe.infomaniak.com/ and I activate SSL with my certificates, my connection works but the first request after about 15 minutes of inactivity returns an ECONNRESET.

Maybe I can send you the credentials + certificates somewher

[2020-08-14 09:55] elhigu commented on #3447
If you could provide docker configuration to reproduce the problem that would be the best 😅

I would just like to investigate thoroughly (actually I would like that someone else would investigate) the returned connection before executing it (a broken connection returned by knex.client.acquireConnection() after 15 minutes of idling) to see if there are any signs of it being closed that are only mis

[2020-08-14 11:00] hydroper commented on #3978
I just tried to turn my knexfile.js into CommonJS and, without passing `knex --esm`, I get:

I hate Node.js. No V8 snapshotting and no ESMs.

[2020-08-14 12:00] david1602 commented on #3891
That appears to be the issue. Ugh. I guess I'll just live with the warning for now, since it's easier to deal with that than not being able to use a single environment variable.

[2020-08-14 12:00] #3891 closed

[2020-08-14 13:13] aduh95 commented on #3978
FWIW it's possible to use the dynamic `import()` for both ESM and CJS files. That would still be async, but using Top-Level Await (available as of Node.js v14.8.0), it's possible to have a system that support both.

[2020-08-14 15:54] bertho-zero commented on #3447
It would seem that the minimum pool at 0 corrects the problem, at least for now.

When I reset it to 2, I happen to have an error.

[2020-08-15 05:20] guilima commented on #3978
Node: v14.8.0
npm: 6.14.6
Knex version: 0.21.3
OS: WSL Ubuntu 18.04.4 LTS
Database + version: PostgresQL 11.7

I'm facing a similar situation, but on [colorette](https://github.com/jorgebucaran/colorette) dependency:
[code]

To work around the problem It was necessary to use release v1.2.0, because in the latest (v1.2.1) ESM started to be supported https://github.com/jorgebucaran/colorette/pull/45

[2020-08-15 05:53] D10221 commented on #3978
Knex has to run on Node 10 , 12 and 14

[2020-08-15 06:05] D10221 commented on #3978
Error [ERR_REQUIRE_ESM]: Must use import to load ES Module:
/home/guilima/www/financial-back/node_modules/colorette/index.js

require() of ES modules is not supported.

require() of /home/guilima/www/financial-back/node_modules/colorette/index.js

from

/home/guilima/www/financial-back/node_modules/knex/lib/logger.js

is an ES module file as it is a .js file

whose nearest parent package.json cont

[2020-08-15 10:06] hydroper opened #3982 "No table is created during migrations"
# Environment

Knex version: 0.21.4
Database + version: PostgreSQL 12.3
OS: Windows 10

# Bug

1. During my migrations, no table is created, although I do await on `knexInstance.schema.createTable()`.

2. Error message: None, I check on pgAdmin/DBeaver and there's no table after a refresh.

3.

knexfile.js

[code]

config.json

[code]

database/migrations/20200814133628_users.js

[code]

[2020-08-15 14:48] guilima commented on #3978
Was I mistaken when I thought that the nearest parent package.json should be from knex? Because my project has `ts-node` as dependency and till April they did not fully support ESM. Now they are working on an issue to support ESM https://github.com/TypeStrong/ts-node/issues/1007, but sadly I had a problem trying to implement it.

[2020-08-15 14:59] kibertoad opened #3983 "Update dtslint"
There are a couple of errors thrown by dtslint when the latest version is used. We need to resolve them and bump the used dtslint version.

[2020-08-15 15:00] kibertoad commented on #3983
@lorefnon If you ever have some spare time, would be awesome if you could take a look.

[2020-08-15 15:04] kibertoad commented on #3978
@umaar @D10221 0.21.5-next1 is out (the only difference from 0.21.4 being the #3980 included), could you give it a try and see if it makes any of your use-cases better or worse?

[2020-08-15 16:12] musahaidari commented on #3807
https://stackoverflow.com/questions/40910864/cannot-find-module-ts-node-register

I think this solves the issue

[2020-08-15 17:19] lorefnon commented on #3983
@kibertoad I tried updating to dtslint 3.6.14 (latest) in master and running `npm run lint:types` does not show me any errors. Can you please confirm on the version that you used ?

[2020-08-15 17:31] kibertoad commented on #3983
@lorefnon Can you try creating PR for that? If it all just passes, all the better. Maybe I did something wrong.

[2020-08-15 18:22] #3983 closed

[2020-08-15 21:59] #3982 closed

[2020-08-15 22:15] D10221 commented on #3978
@kibertoad
Thanks

@umaar
Note: there is no need for '--esm' flag when using 'mjs' extensions.

[2020-08-15 22:22] D10221 commented on #3978
The stacktrace is blaming 'collorette'
 But the same module is required  by knex internally without a problem

Thats why I wander what context, triggers that bug?

[2020-08-15 22:34] umaar commented on #3978
Hey thanks for looking.

Just to clarify, I do have `"type": "module"` in my package.json.

I have tried `0.21.5-next1` as requested:

`./node_modules/.bin/knex --esm migrate:latest --knexfile knexfile.js` (esm flag, .js extension) produces the exact same error as mentioned from the start.

`./node_modules/.bin/knex migrate:latest --knexfile knexfile.js` (no esm flag, js extension) shows the error

[2020-08-15 23:02] hydroper commented on #3978
I did fork, changed a piece of knexRepository/bin/cli.js and it worked for me: https://github.com/hydroper/knex But one of the tests fail with this (incompatibility).

[2020-08-16 04:44] D10221 commented on #3978
Sorry to bullet point , but I think , there might be too many mixed concerns/angles to see this through

In theory it shoudl be fine.
But you shouldn't need to use 'mjs' extensions when package type is 'module'.
I'll double check node ['module' policies](https://nodejs.org/api/esm.html).

I Need to dig deeper on MacOS, Could be related to [interpret's issue #65](https://github.com/gulpjs/interpret

[2020-08-16 10:56] D10221 commented on #3978
I think this could be it.
And could explain why you had success 0.21.1.
It seems that the original fix for the 'ERR_REQUIRE_ESM' error.
Came with a regresion for the top level imports.

I can replicate the problem, with top level ESM imports.

This [#3985](https://github.com/knex/knex/pull/3985) seems to fix it;

[2020-08-16 16:24] kibertoad commented on #3978
@umaar @hydroper Could you please check if 0.21.5-next2 works better for you?

[2020-08-16 17:49] hydroper commented on #3978
Now it runs the configuration file without undefined import.

[2020-08-16 17:53] D10221 commented on #3978
And that's a good thing right ? :)

Did it rollback?

[2020-08-16 18:37] jowparks commented on #3807
No, this does not solve issue. I have ts-node installed locally and the issue still persists.

same error with ts-node:
[code]

[2020-08-16 20:51] jowparks commented on #3807
Found a work around here:
https://github.com/knex/knex/issues/3849#issuecomment-643411244

in my `package.json` added this line, then executed whatever command I want:
[code]
and run a command in command-line like:
[code]

Note: My problem was that `esnext` is not supported for the knex cli

[2020-08-17 08:39] elhigu commented on #3447
Minimum pool doesn't fix it, but hides the problem, because connection is removed from pool before it is closed by the server.

[2020-08-17 09:48] gpetrov opened #3987 "Add support for creating generated columns"
Please add support for specifying a column as generated by the database with `GENERATED ALWAYS`

Current support and syntax seems to be:

* Postgress: supports only stored
  `GENERATED ALWAYS AS ( generation_expr ) STORED`
  https://www.postgresql.org/docs/12/ddl-generated-columns.html
  https://www.postgresql.org/docs/12/sql-createtable.html
* mysql | mariad db:  supports both stored and virtual

[2020-08-17 18:16] kibertoad commented on #3978
0.21.5 is out and it should address all the issue reported so far. Feel free to reopen it if you experience any issues.

[2020-08-17 18:16] #3978 closed

[2020-08-17 18:17] kibertoad commented on #3962
@Mossop Would you be open to sending a PR for this issue?

[2020-08-18 07:40] gbkwiatt commented on #385
Still nothing on that ?

[2020-08-18 08:50] mlarcher commented on #3870
I tested the patch successfully on our project. Thank you guys, Ioved how everything unrolled smoothly in this issue 👍

[2020-08-18 08:50] #3870 closed

[2020-08-18 22:43] medigeir opened #3988 "MSSQL: Hanging on a query after updating in a stream in a transaction."
# Environment

Knex version: 0.21.5
Database + version: mssql-server-linux:2017-CU8
OS: Windows 10

# Bug

1. We are hanging when a query is performed after an update or delete is done in a stream inside of a transaction. We are using knex to work with multiple databases. This issue only occurs with mssql. There is a code example below. Let me know if more information is needed.  Thank you for you

[2020-08-18 23:21] Mossop commented on #3962
I can do but it might take a couple of days to find the time. @kibertoad would you prefer just a generic solution (just make the userParams property `any`) or something involving an additional generic type on the Knex type?

[2020-08-18 23:58] rutrut6969 opened #3989 "Random Issue with calling data by an ID"
# Environment

Knex version:
Database + version: sqlite3
OS: kubuntu 20.04

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
      What happens is I wi

[2020-08-19 02:27] tsongas opened #3990 "What's the difference between .table() and .alterTable()?"
I believe this migration works regardless of whether I use `.table()` or `.alterTable()` is there a difference?
[code]

[2020-08-19 02:44] tsongas commented on #3990
I see `.table()` in the [documentation](http://knexjs.org/#Schema-table) but I don't see `.alterTable` described anywhere.

[2020-08-19 06:01] kibertoad commented on #3962
@Mossop Record<string, any> would be my oreference

[2020-08-19 06:42] elhigu commented on #3990
they are aliases: https://github.com/knex/knex/blob/e37aeaa31c8ef9c1b07d2e4d3ec6607e557d800d/lib/schema/builder.js#L57 this issue should be moved to documentation repo or `.alterTable` could be deprecated to not have so many unnecessary aliases.

[2020-08-19 06:47] elhigu commented on #3989
This doesn't seem like a knex bug and is missing minimal reproduction. Please check contributiong.md how and why to report bugs with reproduction code. Usage questions should go to stackoverflow or gitter. If you try to isolate the problem that you are experiencing, you probably will find out why it is not working as you expect.

[2020-08-19 06:47] #3989 closed

[2020-08-19 06:55] elhigu commented on #3988
You does not seem to run your  queries in transaction, but firstQuery and lastQuery actually gets a new connection from pool

[code]

and

[code]

So streaming query is not done in the transaction either. Anyways that should not block anything unless mssql is doing some weird locking for rows that are updated, but not committed yet.

[2020-08-19 07:10] elhigu commented on #3988
But AFAIK that should not prevent select from finishing... you could try if this has actually anything to do with streaming by changing the first query to not use streaming.

[2020-08-19 07:21] Gabsii opened #3991 "Remote database access uses external ip address instead of defined host"
# Environment

Knex version: knex@0.21.5
Database + version: mysql 5.7
OS: db is running on debian buster, trying to deploy from Mac OSX Catalina

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I tried to deploy a web app using Vercel. When migrating to a remote database on my own server I get an error. Saying that the access was denied but when reading th

[2020-08-19 07:33] elhigu commented on #3991
Is your database user `admin` ? Anyways doesn't look like a knex bug.

[2020-08-19 07:33] #3991 closed

[2020-08-19 07:34] elhigu commented on #3991
Check mysql driver's documentation how to connect to the database.