[2021-10-15 03:02] syldor opened #4740 "Exclude aliases from wrapIdentifier"
Hi!

When requesting a db with (for example) SNAKE_CASE column names from a camelCase server we can use the `wrapIdentifier` to get our request being executed seamlessly. However the rows come back with SNAKE_CASE. To get our rows back as camelCase, we can use aliases.

Problem: when using `wrapIdentifier`, the aliases are also transformed. Can we exclude aliases from `wrapIdentifier`?

[code]

[c

[2021-10-15 10:57] elhigu commented on #4739
Try to do those queries without using parameter bindings, but hardcode ids to SQL string.

node-pg driver doesn't seem to support  prepared statements with multiple statements packed to one query (most of the drivers actually does not support that).

[2021-10-15 16:49] mrffilipe opened #4743 "Knex: autocomplete does not work in vscode v.0.95... later"
# Environment

Knex version: v0.95.x later
Database + version: MySQL (recommended version)
OS: windows 10

# Bug

Hello, I would like to report a bug: The bug is in the Knex.js library, the autocomplete in VSCode is not working.
NOTE* I noticed that in version 0.95... the autocomplete does not work, but in versions like 0.21.21 it works normally.

I'm using vanilla javascript (with NodeJS), files

[2021-10-15 18:25] kibertoad commented on #4743
Does that work with proper autocomplete?

[2021-10-15 19:18] kibertoad commented on #2660
@beltschatsar Would you be open to still contributing that feature?

[2021-10-15 19:19] kibertoad commented on #2002
This is coming in 0.95.12, most likely late October!

[2021-10-15 19:51] kibertoad commented on #2660
@paya-cz Would be great if you could test that and report back if that was sufficient for your use-case.

[2021-10-15 20:27] FilipeMrFerracioli commented on #4743
Yes, it's working fine for me, I even exported: module.exports = knex(), and imported it into another file, and I get the methods correctly through autocomplete!

But why the question? do you believe this can cause any errors? is the way I did it inappropriate (if so, what would be the most appropriate way?) ?

[2021-10-15 20:50] kibertoad commented on #4343
Note that knex definitions shouldn't actually show up, as knex embeds those types now.

[2021-10-15 20:50] #4343 closed

[2021-10-15 20:54] paya-cz commented on #2660
@kibertoad Yeah it doesn't work. I am getting `connection.executeAsync` is not a function:

https://github.com/knex/knex/blob/0142b3bfb41f74fc555c22bd21b20be734fda400/lib/dialects/oracledb/index.js#L299

It works fine if I use knex-maintained connections, since those go throught this codepath:

https://github.com/knex/knex/blob/0142b3bfb41f74fc555c22bd21b20be734fda400/lib/dialects/oracledb/index.j

[2021-10-15 21:00] paya-cz commented on #2660
@kibertoad Amazing, thank you!

[2021-10-15 21:00] kibertoad commented on #4743
@FilipeMrFerracioli So it works correctly, right?

[2021-10-15 21:13] kibertoad commented on #2660
@paya-cz Felt inspired, so implemented it straight away, but I don't have Oracle to test at hand. Could you please try 0.95.12-rc2 and report back?

[2021-10-15 21:35] #4743 closed, assigned to nobody

[2021-10-16 06:41] kibertoad commented on #2660
@paya-cz Thank you! Will attempt a fix today.

[2021-10-16 08:44] kibertoad commented on #2660
@paya-cz Could you please try 0.95.12-rc3?

[2021-10-17 01:57] flash548 opened #4746 "Certain Knex + sqlite3 + jest configuration - produces "this.driver.Database is not a constructor""
# Environment

Knex version: 0.95.11
Database + version: sqlite3 / 5.0.2
OS: MacOS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

With jest option `moduleDirectories` set to search `[ "node_modules", "." ]` sqlite3 cannot get/make a connection because the dialect class does a `require('sqlite3')` which fails because the dialect file is named `sqlite3.js`

[2021-10-17 07:02] kibertoad commented on #4746
How do you suggest fixing it? I'm not sure one can require node_module in any other way.

[2021-10-17 12:55] flash548 commented on #4746
1. Can you refactor the name of the sqlite3 dialect file?  To like `sqlite` or `sqlite3-dialect.js`?
-or-
2. You can specify `require('node_modules/sqlite3')` which forces it to look there first, but that's kinda hacky.
-or-
3. I guess just list it as a known issue for now for those that have this offending jest config.

[2021-10-17 13:31] flash548 commented on #4746
err I mean 3 changes -
- folder name change
- SUPPORTED_CLIENTS edit
- and the config `client` field named to `sqlite-3`

[2021-10-17 17:10] onosendi opened #4747 "Migrate API and 'ts-node/register'"
When I `npx knex migrate:latest` from CLI, I get the following, because the knexfile has the .ts extension:

[code]

How do I get this same behavior when using `knex.migrate.latest()`? I'm getting:

[code]

[2021-10-17 17:11] kibertoad commented on #4747
By running your file calling it with ts-node.

[2021-10-17 17:15] onosendi commented on #4747
@kibertoad hmm, it's a globalSetup.js called by Jest.

[2021-10-17 17:16] kibertoad commented on #4747
Are you using swc-node/jest or ts-jest? If not, you should.

[2021-10-17 17:17] kibertoad commented on #4747
But generally I would advise running migrations as a part of npm pipeline and not via Jest hook.

[2021-10-17 17:58] onosendi commented on #4747
Not sure if migrations can be a part of the npm pipeline since Jest creates a test database, then migrates, then destroys the test database.

Installed and configured jest to use ts-jest: `preset: 'ts-jest'` in my jest.config.js config. I'm still getting this:
[code]
I don't think that is related though? `knex.migrate.latest()` still isn't utilizing `ts-node` like you explained. Not really sure ho

[2021-10-17 18:04] kibertoad commented on #4747
please share your jest config.
and on db side - I would recommend creating, migrating and destroying db outside of jest too.

[2021-10-17 18:18] onosendi commented on #4747
[code]
[code]
[code]

[2021-10-17 21:39] kibertoad commented on #4747
@onosendi Aren't you missing the transform param? Here is an example of jest that we are using on one of our projects:
[code]

Does preset already include that?

[2021-10-17 22:01] onosendi commented on #4747
Still the same error. `knex.migrate.latest()` is trying to use CommonJS.

[2021-10-17 22:13] onosendi commented on #4747
Hmm, changing my migration to use CommonJS exports, I get an error not liking `:` in my code, which I think means is the file isn't getting transformed like it should.

[2021-10-18 08:19] #4739 closed, assigned to nobody

[2021-10-18 14:10] #4747 closed, assigned to nobody

[2021-10-18 18:29] paya-cz commented on #2660
@cjbj Sure, it's fairly straightforward. I use Oracle connection pool as well!

## Imports
[code]

## Create pool
[code]

## Create proxy connection
[code]

## Create knex
[code]

## Execute knex queries
[code]

## Release connection back to the pool, cleanup knex
[code]

[2021-10-18 22:00] cjbj commented on #2660
@paya-cz excellent.  Thanks for the detail.  If I get a free moment I'll give it a whirl.
I had envisioned a usage like:
[code]

[2021-10-19 10:51] leshy opened #4751 "typescript: unable to import QueryBuilder interface"
# Environment

Knex version: 0.95.11
Typescript version: 4.4.3

@lorefnon

# Bug

Hi,

I'm unsure how to import a QueryBuilder generic interface? (or anything from Knex namespace defined in `index.d.ts`?)

as far as I understand the typing:

[code]
will import an interface representing an active connection, knex instance.

[code]
imports an initialization function that returns an object conforming

[2021-10-20 12:33] domkck opened #4754 "SELECT .. FOR NO KEY UPDATE locking clause in Postgres"
# Environment

Knex version: all
Database + version: Postgres 9.3 and above

# Feature discussion / request

Knex currently supports the `FOR UPDATE` and `FOR SHARE` locking clauses on select queries. Postgres has two additional lock strengths, `FOR NO KEY UPDATE` and `FOR KEY SHARE`, see https://www.postgresql.org/docs/9.6/sql-select.html#SQL-FOR-UPDATE-SHARE. Could support be added for those as

[2021-10-20 12:36] kibertoad commented on #4754
PR would be appreciated!

[2021-10-20 20:23] #1626 closed

[2021-10-20 20:38] kibertoad commented on #1626
This is now available in 0.95.12-rc4

[2021-10-21 08:34] #4715 closed

[2021-10-21 12:55] ViktarDunayeu opened #4759 "Unexpected token import"
# Environment

Knex version: 0.95.11
Database + version: sqlite3 version 5.0.2
OS: Windows 10

# Bug

1. Hi, I am trying to perform the following operation to migrate a database to heroku:
**heroku run knex migrate:latest -a my-custom-app-name**

2. Error message
`Unexpected token import`
`/app/node_modules/knex/lib/migrations/util/import-file.js:11`
    `? import(require('url').pathToFileURL(file

[2021-10-21 14:36] Neamar opened #4760 "Multiple call to .then() will trigger the request multiple times"
# Environment

Knex version: master
Database + version: not relevant
OS: not relevant

# Bug
According to the Knex documentation about `.then()`:

Important part: **the query will not be executed multiple times.**

However, any call to `.then()` on a Knex query will re-trigger the request: https://github.com/knex/knex/blob/d463284349c0a653bd9c953be8e911ad654aeb01/lib/builder-interface-augmenter.js

[2021-10-21 18:13] OlivierCavadenti opened #4761 "PL/pgSQL basic support"
# Feature discussion / request

1. Explain what is your use case

As I can see, I cant find any PL/pgSQL code generator/executor in any languages. The language is quite powerful but have sometimes a verbose syntax and boilerplate code can be useful.
It can be quite natural to use JS to write procedural functionalities wrapped around the query builder.
At the first time, only few features can be im

[2021-10-21 19:13] mweber-ak opened #4762 "Issue using Parameterized Query in .raw()"
# Environment

Knex version: 0.95.11
Database + version: PostgreSQL 12.8
OS: Windows
Driver: pg 8.7.1

# What am I doing wrong?

I'm attempting to bind a parameter in a `.raw()` query. The output is giving me an error and I'm rather confused.

2. Error message

[code]

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to MySQL or PostgreSQL

[2021-10-21 19:39] #4762 closed

[2021-10-21 19:45] OlivierCavadenti commented on #1337
I see all json databases support and what kind of functions I can implements. I have start with basic functions (jsonSet, jsonReplace, jsonRemove,...).
I just want to open here a discussion about jsonPath format to specify what you want to query.

In MySQL, SQLite and Oracle the jsonPath standard is used.
In Postgres and SQLServer, syntax are totally different.

So I have two choices :
- use jsonP

[2021-10-21 19:57] gpetrov commented on #1337
I would definitely vote for using a jsonpath expressions to preserve the common usage between different databases. That is the main ideology of Knex - use common syntax no matter the database.

And if native syntax is needed, we can always turn the .raw syntax.

[2021-10-21 22:58] maximelkin commented on #4751
You can do it like this

[code]

[2021-10-21 23:04] maximelkin commented on #4759
Which nodejs version do you use?
I get this error on node 8, on v10 it's working.

[2021-10-22 02:10] leshy commented on #4751
Yes happy to do that, I'm not sure if somehow exporting the whole Knex namespace (different name?) would be a more appropriate approach? since nothing from it seems importable atm

Yeah I tried this but the above doesn't compile (yet my IDE LSP doesn't complain)
[code]

When I import `Knex` I import an interface of the same name that represents Knex instance, and not a namespace `Knex` that contai

[2021-10-22 18:38] joelalejandro opened #4766 "Conditional warning for sqlite about usage of RETURNING clause (available as of sqlite >= 3.36)"
# Environment

Knex version: v0.95.11
Database + version: sqlite 3.36 (node driver [here](/mapbox/node-sqlite3/commit/bc5d794cd7407a1aa55321fbeec3b3cf77fdc2eb))
OS: Any

# Feature discussion / request

Since commit `bc5d794cd7407a1aa55321fbeec3b3cf77fdc2eb` in mapbox/node-sqlite3, which upgrades binary sqlite to 3.36, it is now possible to use the RETURNING clause.

Knex should no longer issue a w

[2021-10-23 13:01] #4754 closed, assigned to nobody

[2021-10-24 02:58] maximelkin commented on #4751
I've tried with exactly your version of typescript and your tsconfig.json, and its working. (idk maybe i miss something)

It definetely imported namespace here

[2021-10-24 13:07] kibertoad opened #4769 "Use REPLACE to implement Upsert operation for MySQL"
Currently we only support Upsert for CockroachDB. Implementing same for MySQL should be pretty straightforward as well.

Wonder if we can also use INSERT ON CONFLICT UPDATE for PostgreSQL to ensure operation with same signature also works.

[2021-10-24 22:11] Delfio opened #4770 "Bug in .first()"
# Environment

Knex version:
Database + version:
OS: Win64

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

In one operation, I need to do 2 queries in the user database. One query by Id and one by email - to ensure the information is 100% correct.

In both the id query and the email query, I apply a .first() But knex can only perform one operation, while t

[2021-10-24 22:14] #4770 closed, assigned to nobody

[2021-10-25 09:39] #4759 closed, assigned to nobody

[2021-10-25 11:44] #4751 closed, assigned to nobody

[2021-10-25 14:22] Crisfole opened #4771 "Support createSchema for MSSQL"
# Environment

Knex version: all
Database + version: MS SQL (all)
OS: (all)

Select applicable template from below.
MS SQL: @smorey2

# Feature discussion / request

1. Explain what is your use case

MS SQL Supports Schemata almost the same way as Postgres (they *are* after all cousins). `createSchema` should work on both MSSQL. The implementation is nearly identical to Postgres's.

2. Explain wha

[2021-10-25 21:40] abcd-ca opened #4772 "insert/update with typescript generics. Syntax?"
I would love some help or an example in the docs of how to accomplish the following use of insert/update with generics:

[code]

The complier error I get for the insert arg is,
`TS2345: Argument of type 'T' is not assignable to parameter of type 'T extends CompositeTableType  > ? ResolveTableType  | readonly ResolveTableType [] : DbRecordArr...> | readonly DbRecordArr...>[]'.`

Moreover, I think t

[2021-10-26 15:35] akelmj opened #4773 "How to return nested Json object MSSQL"
I have two tables : post and post_meta.

My db is MSSQL.

the code below return flat json object:

[code]

the result is:

[code]

HOW to get NESTED json object , like:

[code]

[2021-10-27 14:18] robertowiest opened #4774 "Select Group by"
Hi, I have a database with several 1:n relationships. I am currently able to select the data from these relationships as per the select below. However, the select below selects the data day by day. If you have three data from the day 10/26/2021, the select will return three objects for a given entry of the day. I need to group (group by) this data per day.

How can I make this grouping? I tried us

[2021-10-27 19:48] avifatal opened #4775 "Can't create a table with uuid pk"
# Environment

Knex version:0.21.19
Mysql 8 / 5.7
OS: UBUNTU

# Bug

1. I have the following table creating script:
[code]

2. You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'alter table `user_entity` add primary key `user_entity_pkey`(`id`);\n"

3. The generated query is:
[code]

Thanks

[2021-10-28 09:52] OlivierCavadenti opened #5916 "Fix documentation errors"
Hi,

With 0.95.12 a lot of documentation is added, I re-read it and I see some errors (';' errors in views, 'const' errors, date errors...).

So @kibertoad I plan to fix them all soon to refresh it. If you are okay, I want to change the order in the sidebard too, especially in Schema Builder section (group schema, table and views functions together).

[2021-10-29 16:58] rubenferreira97 opened #4782 "[Bug] Typescript can't assume correct type (any retrieved) on update clause."
# Environment

Knex version: 0.95.12
Database + version: Mysql + 8.0.27
OS: Windows 10

@lorefnon
# Bug

**1. Explain what kind of behaviour you are getting and how you think it should do**

Knex can't figure out the correct type when I don't explicitly specify T on `update` clause. Knex should infer type like it does on `from` clause (base). I am expecting an error on line:
`knex('users').update(

[2021-10-29 17:20] #4782 closed, assigned to nobody

[2021-10-29 19:28] Himanshu-Singhal opened #4783 "Change in the knex query compiler to work with oracleDB ORA01795 error for using where in clause when more than 1000 resords."
# Environment
Old Knex version: 0.12.x
Knex version: 0.95.4
Database + version: oracledb 11g
oracledb version: 5.2.0
node 14
OS: windows

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are get

[2021-10-29 21:40] #1767 closed

[2021-10-30 08:22] aghArdeshir commented on #4335
I will close this issue as I think it is resolved now @kibertoad

[2021-10-30 08:22] #4335 closed

[2021-10-30 14:59] 6aKa opened #4784 "Can's set zero precision to timestamp"
# Environment

Knex version: Knex Local version: 0.95.12
Database + version: psql (PostgreSQL) 13.4
OS: MacOS Monterey 12.0.1 (21A559)

# Bug
In migration create field
`t.timestamp('confirmed_at', {useTz: false, precision: 0});`
[code]

Expected `timestamp(0) without time zone`

From PostgreSQL documentation
[code]

[2021-10-30 20:30] OlivierCavadenti commented on #4784
Thanks for the report.

I check quickly and it's seems the problem occurs with precision = 0 because of that check during the column compile phase :

`precision = precision ? '(' + precision + ')' : '';`

I will make a fix quickly.

[2021-10-30 20:59] OlivierCavadenti commented on #4783
Can you update this issue with fill sections and describe your problem ?

[2021-10-30 21:28] #4784 closed

[2021-10-31 17:19] Himanshu-Singhal commented on #4783
Hi Oliver,

As the code implemented previously was using knex 0.12.x version and the workaround to support the wherein clause where the records are more than 1000 was implemented as shown in the code below. I need to do the same with the updated knex version 0.95.x. The database used is the same oracledb 11g.

`
var inherits        = require('inherits'),
    OracleClient    = require('knex/lib/dia

[2021-10-31 17:35] OlivierCavadenti opened #4789 "Fix migration integration fail"
In migration-integration-tests.js, the test 'is not able to run two migrations in parallel when transactions are disabled' fail randomly.
It's disabled now, but need to be fixed.

[2021-10-31 18:47] kibertoad commented on #4775
@avifatal Would you consider sending a PR to fix this issue?

[2021-11-01 11:00] banyudu commented on #3746
Another solution: roll back changes and do it again with `DEBUG=knex:query` environment variable set.

[code]

[2021-11-01 15:08] Himanshu-Singhal commented on #4783
HI Oliver,

I tried to updated the file to use the new Knex version. here is the code.

[code]

[2021-11-01 15:09] Himanshu-Singhal commented on #4783
this is the error I am getting now.

[code]

[2021-11-01 15:23] bipinkumar01 opened #4790 "maximum number of experssion in a list more than 1000 using oracledb and knex"
# Environment

Knex version: 0.95.4
Database + version: oracle 11g
OS: window

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
After making connection

[2021-11-01 15:28] OlivierCavadenti commented on #4790
Maybe same issue here ?
https://github.com/knex/knex/issues/4783

[2021-11-01 16:13] bipinkumar01 commented on #4790
look like a same issue but i have try still not able resolve the issue

[2021-11-01 17:19] avifatal commented on #4775
@kibertoad  Are you sure that this is a bug? not something in my side?

[2021-11-01 17:22] kibertoad commented on #4775
Fairly sure it's a bug, likely in this case we need to create column as a primary instantly and not try to add it later on.

[2021-11-01 18:30] avifatal commented on #4775
Its kind of odd that nobody saw till now.
I will have a look

[2021-11-01 20:12] avifatal commented on #4775
@kibertoad
I forked the project and built a simple js file to reproduce error and fix it, but for some reason the error disappeared and the table has been created successfully...
[code]

When I reported the issue I was going through mikro-orm which exposes knex@0.95.11 https://github.com/mikro-orm/mikro-orm/blob/master/yarn.lock#L5362

What do you think I am missing?

Thanks

[2021-11-02 08:49] OlivierCavadenti commented on #4761
Maybe can be good to implement function/procedure yeah.
As I can see :
- MySQL have functions/procedure : https://dev.mysql.com/doc/refman/8.0/en/create-procedure.html
- Oracle have PL/SQL
- PostgreSQL have PL/pgSQL
- MsSQL have T-SQL
- Unsupported : SQLite3, Cockroach

[2021-11-02 14:10] rubenferreira97 opened #4793 "Can't execute CLI migrations using ESM typescript"
# Environment

Knex version:  ^0.95.12
Database + version: Mysql 8.0.26
OS: Windows 10

@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I am trying to do typescript migrations using the ESM. Using "type": "module" on package.json with module ESNext (project requirements).
I would expect a successful migration without errors.

2. Error message
[cod

[2021-11-02 15:29] davidf84 opened #4794 "MYSQL2 Dialect - Connection not disposed after a connection error during query execution"
# Environment

Knex version: 0.21.21 (same issue on 0.95.12)
Database + version: MYSQL 5.7
OS: Tested on Windows 10 and Linux Ubuntu 20.04.2

# Bug

1. When there is a connection issue (closed connection) during a query execution, the connection does not get removed from the pool and continues to be used, causing all queries executed after to fail with connection is closed error. The only way to r

[2021-11-02 15:38] #4719 closed

[2021-11-02 16:53] naml3i opened #4795 "How to get result of knex delete operation inside a for loop"
# Environment

Knex version: 0.95.11
Database + version: postgres, pg version 8.6.0
OS: Windows

# Bug (?)

The code is simple, however it involves getting Promises resolved after each step in a for loop.

[code]

and the part that call `customDelete (tableList)` :

[code]

Expected result: a `deleted` object: `deleted = { "table1": [1, 2, 4, 5, 6], "table2": [2,3,4,5]}` etc.
Without `await`, for

[2021-11-02 19:17] marcospont commented on #4507
I am experiencing the same errors trying to run tsc with knex 0.95.11.

I have already tried typescript versions 4.1.2, 4.2.2 and 4.4.2 and still I am getting the same 84 compilation errors.

What am I doing wrong?

[2021-11-02 20:45] kibertoad commented on #4507
@marcospont Please share the errors and the code

[2021-11-02 22:27] Juanpam commented on #1683
Confirming this is still happening and that it happens with Amazon RDS (MySQL 8.0.23 (Source distribution) for Linux).

I tried @kdmcclel workaround and it worked. No clue on why is this currently happening.

[2021-11-02 22:44] kibertoad commented on #1683
@michele-amati Are you running Aurora locally as well, or just simple MySQL? Might be down to differences in DB implementation.

[2021-11-03 11:47] jbergstroem opened #4797 "0.95.13 missing from git repository"
It seems that `0.95.13` was released on npm, but only seems to contain parts of a fix for #4784 (?).

Perhaps push a `0.95.14` with visible git history to avoid any questions with regards to the release.

[2021-11-03 13:24] kghenderson opened #4798 "TypeError: Ko._resolveFilename is not a function"
Hi all,

I'm using knex on linux, version 0.95.12, with node v16.13.0, ts-node v10.4.0, and yarn v3.1.0.
I'm using typescript for both the knexfile and migration files.
ts-node is in my dependencies and the migration file has require('ts-node/register')
This is a very basic, first attempt at getting knex working.

The command i'm trying to run is:
`yarn knex migrate:up --esm --debug`

The error is

[2021-11-03 14:17] kghenderson commented on #4798
I was able to get this working by changing/setting `"module": "commonjs"` in tsconfig.json and not using the `--esm` flag. When I use `--esm` I still get the above error, so I'll keep the issue open.

[2021-11-03 15:27] ggallovalle commented on #4795
Try this, is working for me locally.

In the test database I only have ids 5 that is why it only prints 5.

I write in a functional style hope that is not a turn off, if it is I can help you understandint such piece.
You can derived the non deleted easilly, I did not write the code but you only need to compare the return value of the custom delete with the original argument.

![image](https://user

[2021-11-03 21:18] #4364 closed

[2021-11-03 23:06] naml3i commented on #4795
@ggallovalle Thank you, it works!
But so it turns out that my other attempts to get the batch result in an object worked too. I just found out the reason the script hanged was that there's a query to LOCK one of the table somewhere above! 😭 My bad.

[2021-11-03 23:06] #4795 closed

[2021-11-03 23:51] jrj2211 commented on #4511
Just wanted to throw in my support for this feature. I've had a lot of trouble with sqlite3 (outside of knex) over the years so having another option for those times I need an sqlite database would be great.

[2021-11-04 08:08] OlivierCavadenti commented on #621
Another issue on this subject : https://github.com/knex/knex/issues/2064
Superseded by https://github.com/knex/knex/pull/3023

[2021-11-04 08:08] #621 closed

[2021-11-04 08:19] OlivierCavadenti commented on #1633
It's seems nothing more to do is planned here, insert / onConflict and upsert are implemented ! I close it.

[2021-11-04 08:19] #1633 closed

[2021-11-04 08:31] OlivierCavadenti commented on #1651
This issue is more complete and recent : https://github.com/knex/knex/issues/3732. I close this one to avoid duplicates.

[2021-11-04 08:31] #1651 closed

[2021-11-04 08:36] OlivierCavadenti commented on #3990
I add alterTable in the documentation here: https://github.com/knex/documentation/pull/352
This will be close where the documentation is merged.

[2021-11-04 14:16] Jimmy89 commented on #4588
@kibertoad my solution provided above fixes the issue

Copy paste:

[code]

However, I do not have sufficient knowledge of Knex to write a test suite. If a maintainer could help out on that part we could fix this issue :)

[2021-11-04 20:03] ggallovalle commented on #4773
This is a MSSQL question not a knex one. How would you do it in plain SQL Server flavor?
For what I can see in the docs is not that good
https://docs.microsoft.com/en-us/sql/relational-databases/json/format-query-results-as-json-with-for-json-sql-server?view=sql-server-ver15#2b---example-with-join-and-null
Maybe you have better luck finding such thing but the output following the previous link is

[2021-11-04 21:04] Miikis commented on #4329
Hi. I ran into this issue earlier today. Just thought I'd share that providing a function that returns the connection config, for the `connection` property seems to work as expected. So, instead of this:

[code]

try this instead:

[code]

[2021-11-04 21:34] t1a2l commented on #4591
@Egor-Koldasov - hey any workaround? can i use using instead ?

[2021-11-04 22:14] #3667 closed

[2021-11-04 22:28] t1a2l commented on #4591
@OlivierCavadenti - it seems that when using "using" i get an error "missing from clause":
mydb(table)
          .select("trip_points.id").first()
          .using("shipments")
          .where("shipments.id", "trip_points.shipment_id")
          .andWhere("shipments.trip_id", "trip_points.trip_id")
          .andWhere("shipments.trip_point_id", "trip_points.id")

[2021-11-04 22:36] OlivierCavadenti commented on #4591
See in my PR the syntax, 'using' is for Delete statement. So you need to replace '.select("trip_id").first()' by a 'del().from(...)' syntax.

[2021-11-04 23:12] t1a2l commented on #4591
@OlivierCavadenti - i am doing delete later, aka:
var q = mydb(table)
.select("trip_id").first()
.using("cars")
.where("cars.id", "trip_points.shipment_id")
.andWhere("cars.trip_id", "trip_points.trip_id")
.andWhere("cars.trip_point_id", "trip_points.id")
var res = await q;
if(res) q.del();

[2021-11-05 02:30] ggallovalle commented on #4772
My biggest suggestion is that you never try to make an "orm" or "query builder" like thing is never really type safe. Because you would be getting into a lot of assumptions and implementation details of the thing when what you are really after is something more of like the following "a function that stores an item into something and return that something that something being inserted with all the

[2021-11-05 03:33] abcd-ca commented on #4772
@ggallovalle I'm not trying to make it capable of inserting anything or making an ORM, I just have an app that happens to have a dozen or so entities that are almost all the same so I was trying to make it more DRY. Thank you for your input, I think this is good enough if I can't do `Knex<T>...`

[2021-11-05 04:48] Linksku opened #4805 "Allowing raw limits"
# Environment

Knex version: 0.95.11
Database + version: Materialize 0.9.10 (based on Postgres)
OS: Ubuntu 20

# Feature discussion / request

1. Explain what is your use case

Materialize (https://github.com/MaterializeInc/materialize) doesn't allow prepared values for LIMIT. As far as I can tell, Knex always makes the LIMIT value a prepared value. The only way to hardcode it in the query is some

[2021-11-05 04:53] ggallovalle commented on #4772
Yes, because what you get out of being type safe is being correct and sure about what you do without actually running the code. And with an external tool such as a query builder you can get to that, but at the end of the day it just too much work and it just cover the simplest of cases, what if you want to select just X amount of columns, or put an alias. There are so many edge cases that to me an

[2021-11-05 12:51] bipinkumar01 commented on #4790
@OlivierCavadenti
Can you add this code inside queryCompiler file to handle max number of expression in a list more 1000 in query while executing query which is more 1000 expression in Oracle DB.
Oracle DB has restrictions for more than 1000 expression in query.

So in order to handle it need to implement after where in ........ OR condition in .......

Code
 function chunk(arr , start, amount) {

[2021-11-05 17:11] t1a2l commented on #4591
@OlivierCavadenti do you understand the isaue?

[2021-11-05 23:14] Linksku commented on #4805
Closing because this works:

[code]

[2021-11-06 05:43] emahuni opened #4810 "Provide options to define custom date formart for new migrations"
# Feature discussion / request

1. Explain what is your use case
Migration filenames are not very user-friendly to reason about. I need to quickly tell when a particular migration was created without stopping to read the date carefully. eg: trying to quickly figure out a Git commits range to work with for example.

2. Explain what kind of feature would support this
20211106041053_mig_messages_refa

[2021-11-06 08:36] kibertoad commented on #4805
I think we should provide a better solution out of the box.
@OlivierCavadenti thoughts?

[2021-11-06 09:06] OlivierCavadenti commented on #4805
I see you expose the problem here : https://github.com/MaterializeInc/materialize/issues/8961
I see the problem well, but as I can see with 'raw' functions is to inject piece of SQL in the query.
joinRaw for example is useful to make natural joins.
But with 'limit' I cant see examples where you can inject more than just a number ?

By the way, to address the problem I see more an optional boolean.

[2021-11-06 09:08] kibertoad commented on #4805
I agree, optional param seems to be the way to go.

[2021-11-06 09:17] OlivierCavadenti commented on #4805
@Linksku a parameter like could be ok ? (parameter name need to be better defined I think):
[code]
Could be nice to make that for offset function too.

[2021-11-06 09:43] #4583 closed

[2021-11-06 10:40] B4nan commented on #4775
That is master, which is v5 dev. MikroORM v4 uses older knex version due to compatibility with TS 3.7 (knex 0.95 requires TS 4.1).

[2021-11-06 11:13] Linksku commented on #4805
Yep that would work! Though maybe something related to "binding" or "param" would be clearer, like "skipBinding".

[2021-11-06 13:48] OlivierCavadenti commented on #4805
@Linksku I made a PR where you can make this two syntaxes :

[code]
or shorter:
[code]

Feel free to post comments on the PR

[2021-11-06 18:43] jtlapp commented on #707
Gosh, I'm surprised there isn't a way to cancel a query that's timing out. @mohannad-musleh, I'm also facing this building an Electron app. For now, my workaround will be to shorten the timeout and repeatedly give the user the option to try again.

[2021-11-06 21:19] kibertoad commented on #707
It should be possible to add one. We already invoke query cancellation on timeout, guess it should be possible to expose manual cancellation. Is there anyone willing to work on a PR (with some guidance)?

[2021-11-07 11:55] windupbird144 commented on #3116
Is this issue still open? It looks to me like it was fixed and merged here: https://github.com/knex/knex/pull/3269

[2021-11-07 12:09] OlivierCavadenti commented on #3116
Good catch, I close it.

[2021-11-07 12:09] #3116 closed

[2021-11-07 12:14] OlivierCavadenti commented on #266
I finish a long work on Json support in Knex and then I plan to finish this PR https://github.com/knex/knex/pull/2364. Be patient some additional weeks.

[2021-11-07 13:22] #4591 closed

[2021-11-07 13:40] t1a2l commented on #4591
Why did you close? Does the PR support my case?

[2021-11-07 13:53] OlivierCavadenti commented on #4591
It's autoclosing because the PR was merged. Support both classic join syntax and using syntax.

[2021-11-07 14:11] t1a2l commented on #4591
Thanks. When a new version is going to be published?

[2021-11-07 20:32] kibertoad commented on #4591
I can make an rc release, but full 1.0.0 still is quite ahead.

[2021-11-07 20:50] t1a2l commented on #4591
Ok i will wait..

[2021-11-07 22:00] kibertoad commented on #4591
@OlivierCavadenti Now that delete + join is in, I've been thinking of waiting till better-sqlite dialect PR is finished (hopefully it is, worst case scenario I'll create one myself from a scratch) and also for your improved JSON support, then we do a pass removing deprecated functionality and old Node 10 compatibility code, and we can release 1.0.0.
Do you have any personal preferences of what you

[2021-11-07 22:21] OlivierCavadenti commented on #3644
Fix by https://github.com/knex/knex/commit/a431485aa6308aa2e9046f89b9216e7057caaa29

[2021-11-07 22:21] #3644 closed

[2021-11-07 22:22] kibertoad commented on #3644
I'll release new 0.95 today

[2021-11-07 22:28] OlivierCavadenti commented on #4591
@kibertoad After JSON, I will plan 'check' support (not big thing) and maybe could be nice to finish some old/abandonned PRs that just need rebase or tests and can be added.
If we have some times (depending when you see 1.0.0 out) I can see three subjects:
- 'cast' functions support.
- datepart functions.
- lateral join support.

[2021-11-07 22:29] kibertoad commented on #4591
I would prefer to get it out before the end of the year. Do you think that would be feasible?

[2021-11-07 22:42] OlivierCavadenti commented on #4591
Not sure about all three subjects in the same time, but json + check are sure. For Json I implement select and modification functions but I begin implementations of "where" for json too, and I plan to finish with indexes and json joins. I think it worth the wait for this feature :D.

[2021-11-08 09:06] #4663 closed

[2021-11-08 09:49] #4805 closed

[2021-11-08 15:15] christianjank commented on #4794
@davidf84 This looks like what I've been running into (let me know if you think this issue is different).

While debugging I've noticed that the validateConnection function does not check for the _protocolError property. See: https://github.com/knex/knex/blob/fdad316f01b15a25276effb30c304abdbd4e88ee/lib/dialects/mysql2/index.js#L17-L23

I've been able to fix it by replacing the function at runtime

[2021-11-08 15:41] hrmartinez commented on #3376
I was able to connect using msnodeqlv8 by making a new dialect based on [this example ](https://github.com/knex/knex/blob/master/CONTRIBUTING.md#i-would-like-to-add-support-for-new-dialect-to-knex-is-it-possible)

I just added the msnodesqlv8 module and used the following code, hopefully it helps someone out:

`require('mssql/msnodesqlv8');

let Knex = require("knex");

let Dialect = require(`knex

[2021-11-08 15:58] hrmartinez commented on #4626
here's an example of a dialect for mssql that worked for me

[code]

[2021-11-08 16:34] kibertoad commented on #4626
@hrmartinez Should be fairly simple to build an official knex dialect out of this, extending existing mssql one. Would you be open to send a pr for this?

[2021-11-08 17:21] FrancoisPala commented on #4705
It was on 0.95.11 actually. I'm working on something different right now so I'll go back, try with .12 and let you know. Thanks!

[2021-11-08 20:42] davidf84 commented on #4794
Hi @christianjank, yes that is the same issue and that solves it. At least we have a temporary fix until this is fixed in the library.

Thanks for your help.

[2021-11-08 21:00] kibertoad commented on #4794
@davidf84 Would you consider sending PR for this issue?

[2021-11-08 21:09] OlivierCavadenti commented on #4794
@christianjank thanks for the solution, it's an easy fix.

I was just on it when you send your message.

[2021-11-08 21:12] #4794 closed

[2021-11-08 23:15] kibertoad commented on #4794
Fix released in 0.95.14

[2021-11-09 01:55] bennettp123 commented on #4797
0.95.14 is missing too

are these legit releases, or should we be avoiding them?

[2021-11-09 02:07] kibertoad commented on #4797
They are legit, will put up release notes tomorrow. sorry, pretty swamped

[2021-11-09 02:40] jbergstroem commented on #4797
@kibertoad is there anything contributors (like people in this issue) can contribute with in terms of helping with automation of releases?

[2021-11-09 04:48] cedw032 commented on #626
I solved this problem with the following code

[code]

[2021-11-09 08:12] OlivierCavadenti commented on #626
As I can read, we always need to make something, maybe I can reopen it if anyone want to make a PR ?

[2021-11-09 08:14] OlivierCavadenti commented on #4790
So I close it, it's duplicate of https://github.com/knex/knex/issues/4790

[2021-11-09 08:14] #4790 closed

[2021-11-09 08:18] OlivierCavadenti commented on #4621
Duplicate of https://github.com/knex/knex/issues/3732

[2021-11-09 08:18] #4621 closed

[2021-11-09 08:47] OlivierCavadenti opened #4814 "[CI] Coverage job always fails"
At this time, coverage CI job always fail in master:
https://github.com/knex/knex/actions/workflows/coverage.yml

First fail job is https://github.com/knex/knex/actions/runs/1107515551

[2021-11-09 17:15] reynaldysaputra opened #4816 "KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
# Environment

Knex version: "^0.95.12"
Database + version: Mysql V8.0.23
OS: Mac OS Mojave 10.14.6
Next: "^10.0.3"

# Bug

I'm working on a project. Today I started getting this error: "KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?".

I've seen other posts here, that this is a problem with NODE14 and knex < 8.0.3. I'm

[2021-11-09 21:24] OlivierCavadenti opened #4817 "Partition By advanced support"
As I can see, you can make partition by on rank, danse_rank and row_number methods.
Could be really useful to support aggregate methods (sum, min, max, avg...) and raw method injection for complex partition by expressions.

[code]
to generate:

[code]

Could be nice to add rows preceding, current row and rows following to partitionBy function.

[code]

[code]

[2021-11-09 22:30] Sleepful opened #4818 "using .min does not reflect on the returned type"
# Environment

Knex version: latest
Database + version: psql
OS: macos

skipping the template because this seems straightforward...

[code]

This returns only the `min` value, but the TypeScript tells me that it returns the whole of `Expense`...I'm using knex with Objectionjs

[2021-11-09 23:14] kibertoad commented on #4814
I think something is broken in a way DB configs are resolved when we are passing a list of dbs from the commandline, judging by the errors in the console.

[2021-11-10 09:29] danielo515 commented on #3494
The answer is NO. I checked the changelog and there is no reference to the Promise object not being provided anymore. That is an important breaking change that should be notified. Too bad

[2021-11-10 09:34] VladRabota opened #4819 "Support filetype .cjs for knexfile"
# Environment

Knex version: ^0.95.14
Database + version: mysql2
OS: Ubuntu 20.04
Node version: 16.13.0

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Hi, i am pretty new to programming, so i apologize if this issue didn't make sense.
So, at my current project i need to use ESModules and i have `"type": "module",` in my package.json file.
When i run `npx k

[2021-11-10 09:35] OlivierCavadenti commented on #582
It's supported with raw syntax, but could be useful to support more concise syntax with more options ?

[code]
[code]

[2021-11-10 12:38] bakasmarius opened #4820 "`createTableLike` does not execute the callback"
# Environment

Knex version: 0.95.12; 0.95.14

# Bug

`createTableLike` only copies the old table, but does not add the extra columns from the callback.

[code]
results in the following query: `create table "new_users" (like "users" including all);`.
Expected behavior: it results in `create table "new_users" (like "users" including all, "new_column" text);`

[2021-11-10 12:54] OlivierCavadenti commented on #4820
It's a typing issue actually.
The current implementation of createTableLike dont allow callback and just copy the old table (documentation dont talk about callback function https://knexjs.org/#Schema-createTableLike).
By the way, it could be useful to improve createTableLike to take care about this callback (need special treatment because the callback dont modify the first table, but the duplicate

[2021-11-10 13:17] bakasmarius commented on #4820
Yes, the documentation code wasn't working for me, so from the typing, I assumed it works the same as `createTable`.
Would it be possible to get the functionality I was actually expecting?
It's quite useful for creating base tables that consist of common columns like `id`, `created_at`, `updated_at`, etc., and using them as a base for creating all the rest of the tables.
Without the ability to ext

[2021-11-10 13:42] OlivierCavadenti commented on #4820
Yes, I can take a look next week.

[2021-11-10 16:26] hrmartinez commented on #4626
@kibertoad Not really sure I really understand how to create a PR that would satisfy your requirements

[2021-11-10 20:24] #4820 closed

[2021-11-10 21:49] BertBR commented on #4816
@reynaldysaputra

"I've seen other posts here, that this is a problem with NODE14 and knex < 8.0.3. "

I think this version is from "pg" lib. But you are using mysql database, right ? So have you tried to upgrade your mysql and knex libs to latest version according npm ?

I solved my issue updating `knex` and `pg` in my package.json to latest version and add node version in engine tag.

Check this

[2021-11-10 22:45] tlhunter opened #4822 "Question / possible doc update RE migration timeouts"
# Environment

Knex version:0.20.10
Database + version: Postgres 11.10
OS: Red Hat 4.8.5

I'm running a migration that takes 30 minutes until the change is properly applied to the database. However, the Knex migration doesn't seem to ever complete and indeed the lock remains and the migration row is never added to the `migrations` table. The process eventually needs to be killed. After that point

[2021-11-11 08:36] klausXR opened #4823 "Request scoped query filters for multi-tenant applications"
I will rephrase this to be a feature request with an API proposition, but I couldn't figure out how to do it from the docs, so I assume that it may be an existing functionality.

I'm working on a multi-tenant application that accomplishes multi-tenancy through a `tenant_id` column in every table. This poses some security risks though, with database access/writes, because the `tenant_id` must alway

[2021-11-11 08:44] kibertoad commented on #4823
I don't think this is currently possible. PR would be welcome.

[2021-11-11 08:50] klausXR commented on #4823
Okay. I don't really have the time at the moment, but the lack of expertise would be the bigger problem. Would you assist me with the terminology here, if this approach already has a conventional name, so that I could make the issue more discoverable for other people searching for it and see if it draws any attention.

I can at least help with the API, and if you could point me to a module in the

[2021-11-11 08:58] kibertoad commented on #4823
My suggestion would be to use awilix to do per-request injection (it has wrappers for express and fastify) but inject not knex per se, but a function which on invocation returns knex builder with that parameter already set (you can't reuse it across queries tho, would need to invoke that function every time).
Happy to elaborate if needed.

[2021-11-11 08:58] elhigu commented on #4823
I don't think that this kind of feature should be implemented on query builder level. If they bring enough these ormy feaures to knex, it will eventually become an ORM (that was actually how objection was initiated).

With objection.js in the other hand this is pretty trivial to implement, you don't have to call it ORM if you prefer not to use an ORM (objectio.js does not add any limitations what

[2021-11-11 09:05] klausXR commented on #4823
I wasn't really asking for a feature designed to do this, but an API that would allow one to accomplish this, if so desired.

If we take this example from the docs for the `start` event

[code]

  If there was a hook that was fired before a `select` or `update` clause, I would be able to add a custom hook ( knex already supports scoped contexts, as far as I can see for the naming convention thing

[2021-11-11 09:14] elhigu commented on #4823
Having select / update hooks is not as trivial as it sounds, one would need to define and test how to deal with sub queries, CTE stuff, raw queries and all that... not impossible, but not trivial either.

Anyways you can hook to the common hook that is fired before query being compiled and then check what kind of query is being made and modify it if needed. That way it is very generic and you may

[2021-11-11 09:15] elhigu commented on #4823
Event handlers can be also set in global level in knex so you won't need to add them to every query separately.

[2021-11-11 09:18] klausXR commented on #4823
As long as there can be scoped context added to a knex instance, its ok if the hooks can be global, because the context will be different for every hook.

I will see how the compilation works exactly and figure out if I can accomplish it with the current API and what edge cases occur and I will keep this issue updated, if anybody else stumbles upon it.

Thank you both for the quick responses and t

[2021-11-11 12:23] edwardwu-servian opened #4825 "MSSQL unique creates index instead of column constraint"
# Environment

Knex version: ^0.95.14
Database + version: Microsoft SQL Azure (RTM) - 12.0.2000.8
OS: macOS 11.6.1

@smorey2

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
[code]
https://github.com/knex/knex/blob/27ade6f8814a5601916489a96474b55649e15462/lib/dialects/mssql/schema/mssql-tablecompiler.js#L307
According to this code, this will generate
[code]

[2021-11-11 20:05] RayanMM commented on #3576
@MrToxy  did you come up with any solution? I'm struggling with the exact same issue. Thanks!

[2021-11-11 23:50] MrToxy commented on #3576
@cronin4392 @RayanMM Hi there, unfortunately I didn't find any solutions, after some time of opening this issue Strapi proved to be lacking some features we needed for the project at hand so we ended up dropping Strapi in favor of Adonis.

[2021-11-12 02:31] jeremy-w commented on #4825
I originally thought it peculiar as well, however, on looking more closely, I found that `unique` is documented as creating an index, not a constraint:

https://github.com/knex/documentation/blob/48fcde1d402d13eb8123cefc9ed618e126e74273/sections/schema.js#L822-L826

Where I've wanted a unique constraint, I've used `knex.raw`. However, customizing the details of the index is what the options bucket

[2021-11-12 03:44] mlevit commented on #4825
@jeremy-w what about a flag on `table.unique` which allows the creation of either an `index` or a `constraint` for MSSQL?

My only concern with `knex.raw` is the interoperability between DB engines.

[2021-11-12 23:00] RayDeanTech opened #4826 "Contextually change the database for a query that is about to be executed"
# Environment

Knex version:  ^0.95.13
Database + version:  Microsoft SQL Enterprise 13.0.4466.4
OS:  Windows Server

Select applicable template from below.
For MSSql tag @smorey2.

# Feature discussion / request

I am required to use Stored Procedures, and I tie these to a JavaScript Class/Module (This represents my Model).  The Class is tied to 1 Stored Procedure, and I use the `knex.raw()` meth

[2021-11-14 14:36] reynaldysaputra commented on #4816
Thanks @BertBR, this really solved my problem, cheers to you

[2021-11-14 16:33] #4816 closed

[2021-11-14 20:36] kibertoad commented on #4797
https://github.com/knex/knex/releases/tag/0.95.14

[2021-11-14 20:36] #4797 closed

[2021-11-14 20:37] kibertoad commented on #4797
@jbergstroem I'm not a huge fan of automating such things, they require putting in place structures that are too rigid for my tastes.
What would helped if we synced our 0.95 branch changelog with the master one, I guess, then that could be a single source of truth.

[2021-11-14 22:28] OlivierCavadenti commented on #1789
It seems now the default is 0 (unlimited), I think I can close this ?
https://oracle.github.io/node-oracledb/doc/api.html#propdbmaxrows

[2021-11-15 08:37] bakasmarius opened #4827 "Make view.columns() functionality optional when creating a view"
# Environment

Knex version: 0.95.14
Database + version: PostgreSQL 13.4
OS: Windows10

# Feature discussion / request

As a PostgreSQL user, I would like to be able to create such queries for views:
`create view "users_view" as select "users".*, "user_roles"."role_code" from "users" inner join "user_roles" on "users"."user_id" = "user_roles"."user_id"`

I could achieve it this with this code:
[co

[2021-11-15 08:48] OlivierCavadenti commented on #4827
Please do, views without columns are standard (it will be optional in the code).

[2021-11-15 11:23] Mehran91z commented on #1173
Hello

It seems there is a **undocumented** method for `smallint` type:
`table.smallint('columnName');`

[2021-11-15 13:25] OlivierCavadenti commented on #1173
tinyint and mediumint exists too. PR documentation for them are welcome :D.

[2021-11-15 13:48] VladRabota commented on #4819
If path to knexfile is specified, like this `npx knex migrate:latest --knexfile knexfile.cjs`, then I can run migrations without changes to knex source code.

[2021-11-15 19:59] OlivierCavadenti commented on #4626
Just to link this existing PR : https://github.com/knex/knex/pull/3806

[2021-11-15 20:09] OlivierCavadenti commented on #4389
Objection 3.0.0 is now out https://github.com/Vincit/objection.js/releases/tag/3.0.0
And support Knex 0.95.13 at this time:
https://github.com/Vincit/objection.js/blob/f5ad7b9b2739b8e958e20680338fcdd9a8e7ed34/package.json#L70

[2021-11-15 20:09] #4389 closed

[2021-11-16 08:25] #4285 closed

[2021-11-16 10:01] OlivierCavadenti commented on #1173
I reopen this because some types missing in index.d.ts (smallint and mediumint) and need a PR here + doc.

[2021-11-16 15:45] NamedArray commented on #2764
@pate313373 How do you add the example you'd mentioned above as a class to an existing knex instance?

[2021-11-16 18:31] #4827 closed

[2021-11-16 19:46] NamedArray opened #4831 "Unexpected key added to beginning of response formatted with MSSQL's "for json path""
# Environment

Knex version: 0.95.14
Database + version: MSSQL
OS: Windows Server

Select applicable template from below.
For MSSql tag @smorey2.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm executing a stored procedure using `knex.raw()`.  The query in my Stored Procedure is using `for json path, root('error')`.  Knex seems to be appending a unique

[2021-11-16 19:52] pate313373 commented on #2764
I did not use the existing knex instance, I rather connected to the DB in parallel with tedious.

[2021-11-17 08:31] 41y08h commented on #3807
I use `env-cmd` to load env vars from script ` "migrate": "env-cmd knex migrate:make -x ts"`

[2021-11-17 19:51] woodchuck commented on #3670
For the benefit of future travelers, I believe this should be specified as follows. Note `connectTimeout` vs. `connectionTimeout`.

[code]

https://github.com/tediousjs/tedious/issues/778
https://tediousjs.github.io/tedious/api-connection.html#function_newConnection

[2021-11-18 00:06] #1173 closed

[2021-11-18 16:11] vdechef opened #4835 "Unable to run migrations: table knex_migrations_lock is not created"
# Environment
- Knex 0.95.14
- MariaDB 10.3.31 (`mysql  Ver 15.1 Distrib 10.3.31-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2`)
- Debian 10
- Node 14.16.1

# How to reproduce
I created a minimal project to cause the error: https://github.com/vdechef/knexexample
Just clone, install and run `knex migration:latest`

# Bug
When running knex migrations, I get the following error:
[code]

T

[2021-11-18 20:04] GrefriT commented on #1778
Any updates or workarounds?? We use binary uuids in our project too with directus and we need to patch knex through yarn patch to fix this issue. Maybe some thoughts how to make binary uuids work without some scary patches

[2021-11-18 20:38] OlivierCavadenti commented on #1778
I will push something quickly.

[2021-11-18 21:12] OlivierCavadenti commented on #1778
@GrefriT I push, you can check at https://github.com/knex/knex/pull/4836 if all is ok for you.

[2021-11-18 21:22] GrefriT commented on #1778
@OlivierCavadenti Awesome, thank you a lot. But I didn't understand in your PR, how UUID selects or updates. It should convert to char when you SELECT something, and when u UPDATE it should to convert from char(36) to binary(16), because you won't use binary(16) on website for example. Or I misunderstood something :)?

[2021-11-18 21:35] OlivierCavadenti commented on #1778
I see the other comment in my PR. I will check what you talking about :D.

[2021-11-18 22:16] KrisLau commented on #3939
Having the same problem now. I logged the environment values fine but plugging it into the `knexfile.js` just gives my logged in username instead of the one in `.env`

[2021-11-18 22:26] KrisLau commented on #2624
I'm still having trouble with this it seems like whenever I try to run commands from the terminal the environment values get wiped out

[2021-11-18 23:32] owenallenaz opened #4837 "postgresql `orderBy()` does not properly utilize NULLS third argument"
# Environment

Knex version: 0.95.14
Database + version: postgres 14.0

# Bug

1. The orderBy() command in postgres does not function properly for postgres. Currently, the command `orderBy('field', 'desc', 'first')` compiles to `ORDER BY ("field" is NULL) desc` but in postgres it needs to be `ORDER BY "field" desc NULLS LAST`.

2. Example generating incorrect order strings - https://runkit.com/emb

[2021-11-19 08:21] OlivierCavadenti commented on #4837
Check MSSQL specific syntax, it's the same idea : https://github.com/knex/knex/blob/e06a2c20c64f6a68b228b3b65b269cc513e7fa29/lib/dialects/mssql/query/mssql-querycompiler.js#L204

Order by null syntax is created in _formatGroupsItemValue function and it need to be overrided like MSSQL.

[2021-11-19 10:57] OlivierCavadenti commented on #4837
And please add integration test to test order of results in all DB. If we have the problem, it seems integration tests are not exhaustive.

[2021-11-19 22:41] owenallenaz commented on #4837
So if I add a function with the exact same name into the postgres-querycompiler I can expect the same input/output contract and would just need to make it spit out the postgres equivalent?

For the unit tests where do I go to add the unit tests and bootstrap in the test data accordingly? Is there an good example in the repo I can use as a blueprint?

[2021-11-21 14:30] lgh06 commented on #717
for MySQL / MariaDB, there are several drivers for Node.js, in 2021:
https://www.npmjs.com/package/@mysql/xdevapi  Oracle official Node driver for MySQL.
https://www.npmjs.com/package/mariadb MariaDB official Node driver.
https://www.npmjs.com/package/mysql
https://www.npmjs.com/package/mysql2

[2021-11-21 14:38] lgh06 commented on #4329
I am wondering which driver should I use when connecting to MariaDB v10...
as the https://knexjs.org/ says,

[code]
So knex don't support mysql2 to connet to MariaDB ?

[2021-11-21 14:39] lgh06 commented on #4329
https://github.com/knex/knex/issues/717

[2021-11-21 15:29] avardag commented on #2624
1) This issue has to be closed.
2) I had the same issue today, when i tried to set scripts in package.json of my project. Env variables weren't loading. When i tried to log them, it returned `undefined`. Only worked when I did this below:
`scripts:{
    "db:migrate": "node -r dotenv/config ./node_modules/knex/bin/cli.js migrate:latest --knexfile server/db/knexfile.js"
  }`

[2021-11-22 15:26] benjdlambert commented on #4511
@jarcodallo how is it going with the PR?

[2021-11-22 15:43] kibertoad commented on #4511
@jarcodallo I would be happy to help with finishing the PR if you have it half-done already

[2021-11-22 17:51] MehdiSaffar commented on #3828
I just hit the exact same problem and was disappointed to see that client.config does not get updated (basically the entire flow happening inside the knex constructor does not execute again for the new config), and the main reason I tried avoid recreating an instance is for the exact same reason @VeryCrazyDog mentioned :(

[2021-11-22 18:11] kibertoad commented on #3828
@MehdiSaffar Would you like to send a PR implementing support for this use-case?

[2021-11-22 20:42] MehdiSaffar commented on #3828
I will try my hand at it

[2021-11-23 08:12] MehdiSaffar commented on #3828
I opened a PR please take a look :) @VeryCrazyDog @kibertoad

[2021-11-23 08:19] OlivierCavadenti commented on #4837
Please see the test with name 'order by with null' in selects.spec.js (line 562). I made an integration test but if you have the bug, maybe it's not good enough.

For unit test, see in builder.js (in test/unit/query), line 5748 (first test is 'order by, null first').

[2021-11-23 08:32] MehdiSaffar commented on #3828
@VeryCrazyDog  Here is a temporary approach with ES6 proxies you could use if you want, not sure how correct it is but it seems to work on my side. Example:

[code]

[2021-11-23 14:11] gabriofr opened #4844 "ORA-00923: FROM keyword not found where expected on migrate"
# Environment

Knex version: 0.95.14
Database + version: Oracle 19c EE
OS: OS X + Windows + Linux

@atiertant

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The resulting SQL when running eg. `knex migrate:up` or `knex migrate:latest` is not valid SQL as the from keyword is missing, it works fine if you rollback to knex ~`v0.95.13`~ 'v0.95.0`

Here's the

[2021-11-23 15:06] OlivierCavadenti commented on #4844
Maybe could be the same problem here : https://github.com/knex/knex/issues/4835

[2021-11-23 17:27] gkarthiks commented on #1789
I haven't got a chance to verify it. But if anyone has verified, I think we can close.

[2021-11-23 17:41] natech3ng opened #4845 "q"
# Environment

Knex version:
Database + version:
OS:

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

2. Error message

3. Reduced test code, for exa

[2021-11-23 17:41] natech3ng commented on #4845
typo

[2021-11-23 17:41] #4845 closed

[2021-11-23 23:54] hermesalvesbr opened #4846 "Automigration from PostgresSQL database?"
Hi there,

How can I generate automatically migration from a database with already data inserted?

I have the database with sample data. Anyway to run a command to generate all migrations files based in the database structure or file?

If not with knexjs, another tool to do this?

Thanks for helpe me 👍

[2021-11-24 00:38] hermesalvesbr commented on #2073
Today exist any tool to do this?

[2021-11-24 08:38] gabriofr commented on #4844
Jupp, can confirm the bugs are related. If I roll back to 0.95.11 and run the migration it will succeed, after that I can go back to 0.95.14 and migrations will work again..

Jupp, can confirm the bugs are related. If I roll back to 0.95.11 and run the migration it will succeed, after that I can go back to 0.95.14 and migrations will work again..

[2021-11-24 08:41] cwkang1998 opened #4847 "Addition of standard sql dialect from BigQuery"
Right now I am using BigQuery quite frequently in my day job, writing out query manually to get some analytics via firebase functions. Thought about making some helpers to help me generate some SQL code I frequently use, and thought about knex.

A few questions regarding the addition of BigQuery support to knex:
1. Is it appropriate for it to be added as a supported dialect in knex? Considering it

[2021-11-24 11:10] amirzandi opened #4848 "create migration files from existing database and tables"
 How can I use knex while my database has already been created and I just need to create migration files from created tables.

[2021-11-24 13:56] mandaputtra commented on #4848
Why not just download your existing database and place it as migration on your code?

[2021-11-24 13:58] amirzandi commented on #4848
@mandaputtra you mean to create a dump from existing database and run it as knex.raw? if so, I'm currently doing that. I was actually looking for another solution that might be available.

[2021-11-24 14:06] mandaputtra opened #4849 "t.integer('name', 8) doesnt set to int8 on postgres"
# Environment

Knex version: 0.21.17
Database + version: postgres 13
OS: Linux, Ubuntu - Nodejs 14.x

# Bug

1. When creating migration using knex use the `t.integer('name', 8)`

2. Them migration complete but it doesnt set the integer to `int8`

[code]

# Missing / erroneus documentation

Also on docs it is missing an example too

[2021-11-24 15:04] OlivierCavadenti commented on #4849
PostgreSQL dont have length for integer (its only for Oracle and Mysql as I can see).
https://www.postgresql.org/docs/9.1/datatype-numeric.html

[2021-11-24 15:08] mandaputtra commented on #4849
Thanks I'll update the docs

On Wed, 24 Nov 2021, 22:04 Olivier Cavadenti, ***@***.***>
wrote:

[2021-11-24 23:11] OlivierCavadenti commented on #4847
Seems BigQuery sql syntax have a lot of features.
I assume to add a dialect, a large part of "classic" sql features need to be in the dialect.

The role of Knex is to abstract differences between dialects. As I see,  specific feature for 1 dialect is not really good, you lose the principal goal. So I imagine BigQuery dialect if it have enough functions of classic SQL. It seems bad if you need to i

[2021-11-25 00:55] kidCaulfield opened #4850 "knew raw create view has string constant with an E, db Table Definition missing E"
# Environment

Knex version:
Database + version:Postgres + 13.2
OS: MacOS 10.15.2

# Bug

I am trying to create a view with `regex_replace` that will take an array nested in a jsonb column and convert it to Postgres array format which will allow me to later use the Postgres `ANY()` function on this column later.

eg.

[code]

However after migrating this into the database, the Table Definition is

[2021-11-25 07:34] tkalliom opened #4851 "Typing with inferred tables fails when doing JOIN with matching column names"
# Environment

Knex version: 0.95.14
Database + version: N/A
OS: N/A

Issue is about TypeScript definitions, tag @lorefnon

# Bug

When trying to use types inferred from table names, doing a `JOIN` based on columns with matching names leads to the type being lost.

[code]

Contrast with successfully inferred types when `JOIN` columns have different names:
[code]

[2021-11-25 07:42] Sherman-Chen commented on #1128
I work with sqlite3.New version for ignore migrate and seed:

[code]

Externals for "module not found",plugins for "Critical dependency".

[2021-11-25 08:09] OlivierCavadenti commented on #4850
Just in case, you can now createView in Knex (0.95.14) so you can just make raw in 'select' function : https://knexjs.org/#Schema-createView
like, for the "as" query in view :  select(knew.raw(.....)).from('application').
Now for you problem I will check later and make tests.

[2021-11-25 11:08] samermurad commented on #4290
Just in case some other devs land on this ticket, the problem is actually the `pg` client npm and not `knex`, and has more to do with node versions than the m1 arch, see more here: https://github.com/brianc/node-postgres/issues/2413.

Long story short, Node ≥ 14 requires pg ≥ 8.

I hope this shortens your search, whoever you are 🍻  cheers

[2021-11-25 11:22] OlivierCavadenti commented on #4844
I assume that fix 'this.select(trxOrKnex.raw('?', [0]))' in _insertLockRowIfNeeded will be enough.

[2021-11-25 16:43] VeryCrazyDog commented on #3828
@MehdiSaffar I haven't thought of using `Proxy` at that time (maybe I didn't even know `Proxy` at that time). Thanks a lot for sharing, though I am no longer working with project using RDBMS now.

[2021-11-26 04:00] cwkang1998 commented on #4847
I see, it does make sense. I think I'll make another project separately to deal with BigQuery (maybe I can extend knex since it has a nice API), since its quite a specific and different use case.

Thanks a lot though !

[2021-11-26 04:00] #4847 closed

[2021-11-26 07:59] OlivierCavadenti commented on #4847
You can ping us when you have something, maybe the project could be alive as a side-project, plugins or whatever.

[2021-11-26 08:15] OlivierCavadenti commented on #4849
Thanks, can you update/add docs for smallint, mediumint, tinyint too ?

[2021-11-26 08:17] mandaputtra commented on #4849
yeah of course.

On Fri, 26 Nov 2021, 15:15 Olivier Cavadenti, ***@***.***>
wrote:

[2021-11-26 11:08] adrianhelvik opened #4853 "Feature request: Make down-migrations optional"
https://laraveldaily.com/still-need-migrations-taylor-says-no/

I have rarely written down migrations. As Taylor says in the article, they are untested bits of code
and a well-tested new up-migration is a much better way to fix an issue than to rely on buggy, possibly
destructive down migrations.

I would go so far as to suggest that the ESM migrations should allow having a single export default t

[2021-11-26 11:10] adrianhelvik commented on #4853
My pattern is to write `exports.down = () => { throw Error('Do not migrate down') }}`.

I think having an empty down migration by default is more dangerous than it is helpful. The error message could explain more for those that like down-migrations.

[2021-11-26 12:57] thefoxie commented on #4827
@OlivierCavadenti when is this going to be released?

[2021-11-26 16:32] thefoxie opened #4854 "createViewOrReplace - wrong syntax"
# Environment

Knex version: 0.95.14
Database + version: 13.4-4
OS: Arch Linux

# Bug
createViewOrReplace() got wrong implementation.
`create view or replace "table_name"` instead of `create or replace view "table_name" `

I will provide PR.

[2021-11-26 16:33] thefoxie opened #4855 "Support createViewOrReplace for sqlite3"
# Environment

Knex version: 0.95.14
Database + version: 13.4-4
OS: Arch Linux

# Feature discussion / request

createViewOrReplace() lacks support for sqlite3

[2021-11-26 20:14] Killer-Rabbit opened #4857 "Electron -Vue.js: Uncaught TypeError: The "original" argument must be of type Function"
# Environment

Knex version: 0.95.14
Database + version: sqlite3  v5.0.2
OS: win10
vue/cli version: 4.5.15
electron version: 13.6.1
electron-builder version: 22.14.5

# Bug

1. Cannot initialize knex in a Standalone Desktop App developed in Electron and Vue.js. The db schema and tables are created successfully but when I run "npm run electron:serve" the application window opens and the following j

[2021-11-26 20:49] kibertoad commented on #4827
@thefoxie Would RC release work for you?

[2021-11-28 18:26] kibertoad commented on #4853
I'm OK with having this as an option, as long as it's not default and old way still works.
Would you be open to send a PR for it?

[2021-11-28 18:27] kibertoad commented on #4846
Knex by itself does not and will not support this.
However, knex-based ORM MikroORM might help you. Check this: https://mikro-orm.io/docs/entity-generator/

[2021-11-28 18:35] kibertoad opened #4858 "Support @vscode/sqlite3"
See https://github.com/mapbox/node-sqlite3/issues/1493 for full context. If vscode version is installed, it should be picked up instead of mapbox one.
We should also consider making it a recommended default in 1.0.0

[2021-11-28 18:35] kibertoad commented on #4858
@OlivierCavadenti Thoughts?

[2021-11-29 10:30] blockpit-einicher commented on #4705
I am too having this problem right now on 0.95.11

[2021-11-29 13:28] RogVenancio commented on #385
I found this way to resolve this, I don't know if is the best way, but it worked well:
`this.schema.createTable(this.tableName, (table) => {
      table.integer('id').unsigned().notNullable().unique()
      table.string('path')
      table.enum('type', ['CPF', 'RG'])
      table.integer('user_id').unsigned().notNullable()
      table.foreign('user_id').references('id').inTable('users')
      table

[2021-11-29 13:29] RogVenancio commented on #385
I found this way to resolve this, I don't know if is the best way, but it worked well:

`this.schema.createTable(this.tableName, (table) => {
table.integer('id').unsigned().notNullable().unique()
table.string('path')
table.enum('type', ['CPF', 'RG'])
table.integer('user_id').unsigned().notNullable()
table.foreign('user_id').references('id').inTable('users')
table.primary(['id', 'user_id'])

  tabl

[2021-11-29 13:30] RogVenancio commented on #385
I found this way to resolve this, I don't know if is the best way, but it worked well:

[code]

[2021-11-29 13:34] RogVenancio commented on #385
I found this way to resolve this, I don't know if is the best way, but it worked well:

[code]

[2021-11-29 14:24] thefoxie commented on #4827
@kibertoad yeah sure :)

[2021-11-29 14:34] kibertoad commented on #4827
I'll publish 1.0.0-next1 tonight then.

[2021-11-29 16:38] ngokevin commented on #4474
Knex unconditionally requires a lot of Node-only modules. This isn't about Webpack, but Knex seems to have lost Web support a long time ago but the documentation has not been updated. I was about to get Knex working on Web but had to stub a lot of things out with patch-package.

`Knex can be built using a JavaScript build tool such as browserify or webpack. In fact, this documentation uses a webpa

[2021-11-29 16:49] ngokevin commented on #4474
I guess it's possible with this undocumented incantation: https://github.com/knex/documentation/commit/ac2a25ed264e02c45f1ad176cc1dcbe4392c78e2#diff-02ae91adb8c01906933bae29bd8a567d33c49f1750b25d60e29edb4a16d26230R39

[2021-11-29 17:22] anonrig commented on #2166
Hello from the year 2021.

![Hello general kenobi](https://media.giphy.com/media/8JTFsZmnTR1Rs1JFVP/giphy.gif)

[2021-11-29 17:27] anonrig commented on #4591
Hello General Kenobi. I've come with a regression.

![Hello general kenobi](https://media.giphy.com/media/8JTFsZmnTR1Rs1JFVP/giphy.gif)

[2021-11-29 23:58] RicardoAALL commented on #4626
Figured I should link this in case anyone runs into the same issue when using the MSSQL dialect

https://github.com/tediousjs/node-mssql/issues/346

[2021-11-30 07:43] #4819 closed

[2021-11-30 09:20] OlivierCavadenti commented on #4858
Due to the severity (and lack of patch in mapbox version), it's seems really more safe to switch to vscode version. Maybe can we make a complete audit like this for all of dependencies for 1.0.0 ? Dont know if you have similar problems in other dependencies.

[2021-11-30 12:20] benjdlambert commented on #4511
So I've picked up working on some of this in my spare time to kick this back off again. I've duplicated the entire dialect for `sqlite3` so far, as there is some differences, and thought that that extending the `sqlite3` dialect is just going to cause some pain when eventually it's removed as it's no-longer maintained, but if we'd rather extend or replace the driver underneath the `sqlite3` dialec

[2021-11-30 12:20] benjdlambert commented on #4511
Hoping to have a PR realistically by the end of the week.

[2021-11-30 12:23] kibertoad commented on #4511
@benjdlambert sqlite3 is going to be there for a long time to come for backwards compatibility reasons, I strongly recommend extending and not duplicating it.
Not aware of quote utility, need to check. Probably will need to wtite one ourselves.

[2021-11-30 12:27] benjdlambert commented on #4511
@kibertoad ok - no probs at all, I can do that pretty easily once I've got things working.

[2021-11-30 12:31] jarcodallo commented on #4511
@kibertoad @benjdlambert sorry guys this month was pretty busy for me. I couldn't finish my PR, but I was doing something similar as @benjdlambert want it to do. Let me know if you need help with that.

[2021-11-30 15:05] rubenferreira97 opened #4863 "Knex wrongly assumes that comments should have less than 60 characters on MySQL Dialect."
# Environment

Knex version: 0.95.14
Database + version: 10.4.22-MariaDB
OS: Windows

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

When running a migration that have a column/table comment with more than 60 characters the following message appears:
`"The max length for a table comment is 60 characters"`
This message shows multiple times since we have som

[2021-11-30 20:03] helderam opened #4864 "Syntax error in your SQL generated by knex - Insert into migration_lock"
# Environment

Knex CLI version: 0.95.13
Knex Local version: 0.95.14

Database + version:
Server version: 10.3.28-MariaDB-1:10.3.28+maria~focal mariadb.org binary distribution

OS:
KDE neon 5.23 (ubuntu)

Select applicable template from below.

# Bug

Error message when command:
$ knex migrate:up

insert into `migrations_lock` (`is_locked`) select 0 where not exists (select * from `migrations_lock

[2021-11-30 20:16] OlivierCavadenti commented on #4864
It's the same problem here https://github.com/knex/knex/issues/4835 and here https://github.com/knex/knex/issues/4844
I will take the point now.

[2021-11-30 23:41] #4864 closed

[2021-11-30 23:41] OlivierCavadenti commented on #4844
Resolved by https://github.com/knex/knex/pull/4865

[2021-11-30 23:41] #4844 closed

[2021-11-30 23:41] OlivierCavadenti commented on #4835
Resolved by https://github.com/knex/knex/pull/4865

[2021-11-30 23:41] #4835 closed

[2021-12-01 08:06] adrianhelvik commented on #4853
I'll try to make time for it some time this week or next!

[2021-12-01 22:37] #2312 closed

[2021-12-02 01:23] code-ape opened #4869 "Inserting Buffers for Oracle CLOBs silently fails"
## Environment

**Knex version:** 0.95.11
**Database + version:** Oracle 18c
**OS:** Ubuntu Linux

If issue is about oracledb support, tag @atiertant.

# Bug

## Behavior

The `oracle-node` driver clearly documents that the best way to insert a large string for a CLOB is to simply hand a buffer of that string to the driver for the insert parameter (reference: https://blogs.oracle.com/opal/post/nod

[2021-12-02 09:23] hanstf opened #4870 "Feature request: partial index inside unique method"
# Environment

Knex version: 0.95.14
Database + version: postgres 12.5
OS: mac

# Feature discussion / request

I saw that there is this feature request created [#2525](https://github.com/knex/knex/issues/2525) but was closed. I have also checked that this PR [#2401](https://github.com/knex/knex/pull/2401) add predicate options only for `.index` method. As postgres supports the unique partial inde

[2021-12-02 09:41] benjdlambert commented on #4511
I've just thrown a draft PR up with the progress so far. It's coming along, I think there's around 10 tests that are failing right now, some are pretty trivial to fix and are just the error messages, some are a little more tricky to fix which is I think it something to do with the `bindings` not all being supported types. But i'll get as far as I can with it and might need a little help getting it

[2021-12-03 12:19] zhuzongzhi commented on #2302
it works,thanks.

[2021-12-03 14:40] rubenferreira97 opened #4873 "Feature Request: Support MySQL Spatial Datatypes"
# Environment

Knex version: 0.95.12
Database + version: MySQL 8.0.27
OS: Windows

# Feature discussion / request

1. Explain what is your use case

Being able to use MySQL Spatial Datatypes. Want to store districts as polygons and locations as points (SRID 4326).

2. Explain what kind of feature would support this

Can store geographic data.

3. Give some API proposal, how the feature should work

[2021-12-04 00:00] vencho-mdp opened #5917 "feature: save user selected option in input"
Hi guys! First of all, thank you for the incredible SQL builder you've made, it's made my life so much easier! Anyways, I think that a cool feature that the docs could have is to save the db the user selects in the top right dropdown.

[2021-12-05 14:50] OlivierCavadenti commented on #4873
You can already store geographic with this functions (on column builder) (but without srid function and you need to use raw to insert):

[code]

[2021-12-05 20:57] #4858 closed

[2021-12-05 21:09] #4863 closed

[2021-12-06 09:52] tsondergaard commented on #4858
@vscode/sqlite3 does not seem to have very clear intentions. Are they just serving the needs of @vscode or are they a new maintained fork? If it is the first they could at least in theory start adding @vscode specific stuff

[2021-12-06 09:58] kibertoad commented on #4858
@tsondergaard How do you imagine vscode-specific SQLite driver :)?

[2021-12-06 16:24] gms1 commented on #4858
e.g will they fix issues or accept PRs not related to vscode? will they drop support for features not in use by vscode ( e.g SQLCipher extension)... we probably don't know
or will they have pre-built binaries available, so it has not be compiled everywhere

[2021-12-06 16:39] NamedArray commented on #4831
I never previously noticed this in the SQL Management Studio.

the `JSON_` prefix appears to be normal as described in this thread from the Tedious GitHub Repository:  https://github.com/tediousjs/tedious/issues/1363

Summary:  That prefix is the natural column name used by SQL when selecting JSON data.

![image](https://user-images.githubusercontent.com/21373144/144885616-6c07e7a3-a573-4029-82bb-

[2021-12-06 16:39] #4831 closed

[2021-12-06 20:40] joaogabrielmp opened #4877 "KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?"
# Environment

Knex version: 0.95.11/0.95.14
Database + version:  Postgres 11.9
OS: Ubuntu 20.04.3
Node version: 14.18.1

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
In production, after using routes that connect to the database, the error below is thrown and the system lags or hangs for a few minutes.
I'm using raw query.
I checked and at first I didn't

[2021-12-07 00:10] SaucyJack commented on #4593
This is actually a problem with the mysql or mysql2 package that you are using with Knex to connect to your database. I just figured out that it doesn't appear to like the string representations of time zones, including "UTC". You can specify the time zone relative to your database date/time, though. So if you want to keep the date as it is stored (without a time zone), you'd use as `+00:00` in yo

[2021-12-07 03:06] liho00 commented on #4155
@rijkvanzanten It seems that the knex team has ignored this problem since March. Can you suggest an alternative solution to solve this problem?

[2021-12-07 07:29] jbrawnjr opened #4878 ".forUpdate() inserts "as" when passed an array of table names"
# Environment

Knex version: 0.95.14
Database + version: PostgreSQL 12.7 (`pg` 8.7.1)
OS: AWS RDS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

I'm using `.forUpdate([])` with a list of table names. I would expect this:
[code]
to render this into the query:
[code]

2. Error message

The above is instead rendering this into the query:
[code]
These `AS` ad

[2021-12-07 08:24] kibertoad commented on #4155
@liho00 We did not ignore it, there was plenty of discussion and there is a draft PR addressing this problem, which unfortunately never got finished. Every member of knex team is a volunteer who is not sponsored by their company to work on knex, and their time is spread very thin.
Would you like to help finish the fix PR?

[2021-12-07 08:51] OlivierCavadenti commented on #4869
@code-ape could be nice if you could provide a PR with your solution + unit/integration tests.

I dont see anything wrong expect what you say about pretty print.

[2021-12-07 08:53] OlivierCavadenti commented on #4837
@owenallenaz say me if you need help for unit test. You can also push a PR and I will help you.

[2021-12-07 09:49] selarep opened #4879 "Typescript problem with knex.raw inside returning() function"
# Environment

Knex version: 0.95.14
Database + version: PostgreSQL 13
OS: Linux Mint 20.1

@lorefnon

# Bug

When I use knex.raw() inside a returning() statement, Typescript is throwing an error.
Here there is a code snippet as example:
knex
  .table('geometry_points')
  .insert(
    this.knex.raw(
      '(id, geo_point) VALUES (?, ST_GeomFromGeoJson(?))',
      [id, geoPoint]
    )
  )
  .return

[2021-12-07 10:07] OlivierCavadenti commented on #4879
As you say, the API work with raw but is typing error here:

[code]

Pretty quick to fix (btw some tests need to be added)

[2021-12-07 10:46] kibertoad commented on #4869
@OlivierCavadenti I'm 95% done with pr for the issue. @code-ape promised to fix CI for oracle, waiting on that.

[2021-12-07 13:20] code-ape commented on #4869
I have a working system for standing up Oracle on GitHub actions. A bit swamped today and tomorrow but should have it in my this weekend if that's alright?

[2021-12-07 15:08] rijkvanzanten commented on #4155
And to add to that, @nickrum and the rest of the Directus team are actually actively working on that PR as we speak 🙂

This is a non-trivial task to complete, as we're effectively "filling in the blanks" in SQLite itself to allow Knex's APIs to be used consistently across database vendors.

[2021-12-07 15:38] #1778 closed

[2021-12-07 17:39] lehni commented on #2312
🎉

[2021-12-07 18:24] intech commented on #4814
@kibertoad you are right!

[2021-12-07 18:31] #4814 closed

[2021-12-07 18:47] intech commented on #4814
@kibertoad only cockroach had problems. Most of the tests fail because the database isn't specified, most likely because the default name for the defaultdb database is used in cockroach.

I will take care of it.

[2021-12-07 19:43] svrostislav commented on #4588
@Jimmy89 it seems like the solution is ready https://github.com/knex/knex/pull/4374

@kibertoad could you take a look at travis ci error and then merge it?

[2021-12-07 20:10] svrostislav commented on #4588
as temporarily solution for my case I made next
[code]

[2021-12-07 21:52] #4879 closed

[2021-12-07 22:44] #4878 closed

[2021-12-08 03:12] IlyaSemenov commented on #4853
Note that the down migration is already marked as optional in types:

https://github.com/knex/knex/blob/de1122ae2ff44b1877554c5b7bbe5e35a3347634/types/index.d.ts#L2570-L2573

however the actual migrator code still checks that it's present and is a function.

[2021-12-08 07:54] gianpaj commented on #3233
install the [mysql2](https://www.npmjs.com/package/mysql2) npm package and set `mysql2` as `client` in your knexfile.js  - that worked for me

[code]

[2021-12-08 08:03] #4712 closed

[2021-12-08 08:09] OlivierCavadenti commented on #4545
@LeopoldBriand as say ion MySql documentation, user can define collation so `collate(collation : string);` can be enough and accept user defined collations.

[2021-12-08 12:40] #4877 closed

[2021-12-08 14:28] abhi-nestegg commented on #4355
Can anyone confirm that this is the way `onConflict` will behave in general?

For eg. I am going to use it for an index that is created like so:
[code]

So, the corresponding onConflict clause, as per above discussion, will be:
[code]
Just want to make sure that it's a feature and not a side effect.

[2021-12-09 14:19] #4511 closed

[2021-12-09 14:24] #4228 closed

[2021-12-09 14:51] rubenferreira97 commented on #4873
There is no polygon datatype. A polygon is a set of `point`s. I think it should be a valid datatype as well.

[2021-12-09 19:11] paya-cz opened #4883 "Feature request: Support `isolationLevel` for Oracle"
# Environment

Knex version: 0.95.14
Database + version: Oracle

@atiertant

# Feature discussion / request

`knex.transaction` supports specifying isolation level via the second `config` parameter. Currently this is not supported for Oracle. Please consider adding support for isolation level, the syntax is pretty straightforward:

https://docs.oracle.com/cd/B19306_01/server.102/b14200/statements_

[2021-12-09 19:33] paya-cz opened #4884 "Bug: Transactions on Oracle are broken"
# Environment

Knex version: 0.95.14
Database + version: Oracle 12cR1

@atiertant

# Bug

I have based my code on an example from the documentation:

[code]

Do notice the extra transaction config object, specifically where I pass my own connection instance.
The line with `const ids = await trx('catalogues')` throws an error:

[code]

I assume knex is monkeypatching some functions onto the connect

[2021-12-10 17:58] vitordeco commented on #1414
Does anyone have an example of how to use the connection via tunnel in knex?

[2021-12-11 22:01] rubengmurray opened #4886 "Prevent unintended (silent) side-effect of array spread binding in a `whereRaw` clause only using the first element in the array"
# Environment

Knex version: `0.21.1` (but issue is also visible on latest version at time of writing `0.95.14`)
Database + version: `Postgres 11.9`
OS: `macOS Mojave 10.14.6`

# Bug

A contrived example:

[code]

- This does not throw an unexpected number of bindings error, despite there being three elements in the array.
- This does not produce a TypeScript error, despite the `whereRaw` function

[2021-12-12 09:20] ashley-mallia commented on #4825
The current implementation of `table.unique` adding the filter WHERE ([value] IS NOT NULL) in MSSQL allows _any number_ of NULL values to be inserted into that 'unique' column.
This behaviour sounds like a bug. Why would a column column marked unique not restrict NULL values, just like any other value.
Perhaps provide an option to users for filtering, but by default there should be no filter.

[2021-12-12 16:01] jeremy-w commented on #4825
It’s not a bug - it’s actually the SQL standard behavior. NULL is not equal to NULL - it’s like asking whether the gifts in two still-wrapped presents are equal or not.

knex uses the implementation it does in order to behave the same as other engines that do follow the standard. It could certainly be unexpected if you are just targeting MSSQL and have not worked with other engines, though.

Would

[2021-12-13 01:38] code-ape opened #4888 "Task: Add CI support for Oracle 18c"
# Feature

This is a feature ticket to track the work of implementing the below changes.

Tagging user @lorefnon since this involved oracle
Tagging issue #4869 ("Inserting Buffers for Oracle CLOBs silently fails") since its resolution is blocked on this.

## Use case

Knex CI for PRs should run full test suite again Oracle so that features may be properly validated.

## Explain what kind of featur

[2021-12-13 03:35] code-ape commented on #4869
PR is open for adding CI for Oracle! https://github.com/knex/knex/pull/4889

[2021-12-13 13:00] code-ape opened #4890 "Task: All tests to date pass on Oracle 18c"
## Overview

**What:** It was recently found with the addition of CI tests for Oracle 18c (#4888 and #4889) that not all tests are passing for it. This should be fixed for proper functionality on changes and releases.

**Why:** CI has not run for Oracle for over a year since Travis CI [shutdown their free OSS tier in November 2020](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing).

**H

[2021-12-13 14:12] glensc opened #4891 "Feature Request: Print relative paths"
# Environment

Knex version: knex@0.95.11
Database + version: Irrelevant
OS:Irrelevant

# Feature discussion / request

Typically when you create a migration, you want to add it to VCS as well. As the name is generated, you want to copy-paste that. But `knex migrate:make` prints full path, and Git (for example) wants relative path. So instead of double-clicking, I have drag-select the migration na

[2021-12-13 18:59] #4155 closed

[2021-12-13 20:26] ilyanemtsov opened #4892 "typeError for pluck() with objection version 3.0.0"
Knex version: "0.95.12"
Objection version: "3.0.0
node: node:16-alpine

Once Objection version was updated to latest(3.0.0), queries started to fail on `pluck()` and few other methods failed as well.
example of error is `TypeError: Person.query(...).orderBy(...).pluck is not a function`
does the knex still support `pluck()` ?

[2021-12-13 21:19] kibertoad commented on #4892
@ilyanemtsov If you are invoking it on a query builder, yes, if you are trying to execute it on a promise you get, no.
`orderBy` returns `QueryBuilder`, which has `pluck` method on it, so your given example should be fine. Can you share a larger fragment of your code?

[2021-12-13 21:34] ilyanemtsov commented on #4892
@kibertoad
example:
this doesn't work anymore
`const ids = await Person.query().orderBy('id').pluck('id')`

i tried to look for some help in objection github repo and found  https://github.com/Vincit/objection.js/issues/1588
it works  after removing pluck and substituting to this
` const ids = await Person.query().orderBy('id').then(members => members.map(member => member.id))`

[2021-12-13 21:37] kibertoad commented on #4892
Need to check if it's on knex side or Objection is not exposing something properly

[2021-12-13 21:38] kibertoad commented on #4892
#1588 make it seem that it was a choice on Objection side. Knex still supports it.

[2021-12-13 21:39] ilyanemtsov commented on #4892
@kibertoad got it, thanks

[2021-12-13 23:33] ilyanemtsov commented on #4892
@kibertoad just confirmed with objection
`pluck was deprecated in 1.x and removed in 3.0.`

[2021-12-13 23:33] #4892 closed

[2021-12-14 12:26] GustavoContreiras-Feegow opened #4894 "Error running migration"
# Environment

Knex version: 0.95.11
Database + version: mysql 8.0
OS: macos

[code]
[code]

I like Knex but it's so full of errors....

[2021-12-14 12:32] GustavoContreiras-Feegow commented on #4894
Somehow this was fixed just by trying again and again and again..

[2021-12-14 12:32] #4894 closed

[2021-12-14 12:40] kibertoad commented on #4894
Not a knex issue. Judging by the error, it was a timeout due to a long-running operation.

[2021-12-14 17:57] rafiss commented on #2002
I believe this can be closed now, correct?

[2021-12-14 18:08] intech commented on #2002
Yes, support can be tracked by the [CockroachDB label](https://github.com/knex/knex/issues?q=is%3Aopen+is%3Aissue+label%3ACockroachDB) and [wiki page](https://github.com/knex/knex/wiki/CockroachDB-Support)

[2021-12-14 18:10] #2002 closed

[2021-12-15 08:45] Uysim opened #4895 "ER_ERROR_ON_RENAME while I didn't rename anything"
# Environment

Knex version: 0.95.14
Database + version: Mariadb 10.6.4
OS: MacOS

I am facing the issue composite PK like mention in #385. So I work around like mention in the issue.
My knex migration look like:
[code]

# Bug

1. Got error message like below:
[code]

2. Just look at my knex file above, I haven't rename anything. And it didn't make sense at all.

# Questions about how to use knex

[2021-12-15 08:46] Uysim commented on #385
Any news from this? I am using Knex 0.95.14 and I still face the same problem.

[2021-12-15 10:30] RogVenancio commented on #385
Try setting your primary key like this, that's what worked for me and it doesn't seem wrong

[code]

[2021-12-15 11:01] OlivierCavadenti commented on #385
I raise the priority and take the task. I will try to take a look quickly.

[2021-12-15 12:57] #4888 closed

[2021-12-17 11:45] frbuceta opened #4898 "hasTable method doesn't transform the name into snake_case"
# Environment

Knex version: 0.95.14
Database + version: SQLite3@5.0.2
OS: MacOS 10.15.7

# Bug

I have defined postProcessResponse and wrapIdentifier but it seems that with the hasTable method it doesn't work.

[code]
[code]

[code]
[code]

[2021-12-17 22:12] MatthewVaccaro commented on #1488
@rhazegh Ayy thank you for this! The only thing you need to add is a `.unique()` if the table is going to be referenced elsewhere.

If you don't add the `.unique();` you'll end up getting this error like this.

[2021-12-18 17:24] wodka opened #4899 "skipLocked in CockroachDB"
# Environment

Knex version: master
Database + version: CockroachDB (https://github.com/cockroachdb/cockroach/issues/40476)
OS: *

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting an

[2021-12-18 17:26] kibertoad commented on #4899
@wodka Thank you for the report! Would you consider sending a PR for this?

[2021-12-19 14:41] eyan commented on #4877
I'm getting the same error. What did you do to solve the problem?

[2021-12-19 14:45] eyan commented on #4877
Found related ticket here: https://github.com/knex/knex/issues/4816

[2021-12-19 20:43] joaogabrielmp commented on #4877
@eyan In my case, there was a part of my code with an error without try/catch.
Then, after the launch error, the transaction was not closed.

[2021-12-20 05:38] JeongJuhyeon opened #4900 "setNullable migration fails for MariaDB longtext column"
# Environment

Knex version: 0.95.14
Database + version: MariaDB 10.6.5
OS: Docker

Select applicable template from below.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

setNullable on the column makes the migration crash. It should not crash.

2. Error message

[code]

3. Test code

[code]
In the DB, the column is of type "longtext collate utf8mb4_bin".

[2021-12-21 13:14] avivshafir commented on #4590
@newhouse @ariwbolton how did you solve it ? build everything with knex.raw instead?

[2021-12-21 22:54] gbkwiatt opened #4905 "MySQL transaction 2 inserts with foreign keys"
# Environment

Knex version: latest
Database + version:  MySQL
OS: windows

# Bug

1.
I am doing 2 inserts that depends on foreign keys, so first insert, then fetch created ID  and another insert with this foreign ID, and ID

2. Error message
` Cannot add or update a child row: a foreign key constraint fails`

[code]

I can see in the error, that compny uID `lastID` is fetched correctly, however s

[2021-12-21 23:05] kibertoad commented on #4864
Released in 0.95.15

[2021-12-21 23:05] kibertoad commented on #4844
Released in 0.95.15

[2021-12-21 23:06] kibertoad commented on #4835
Released in 0.95.15

[2021-12-22 16:19] xmithd opened #4906 "Oracle: migration fails to insert into knex_migrations_lock"
# Environment

Knex version: 0.95.14
Database + version: Oracle 12c 12.1.0.2.0
OS: Linux

# Bug

The following error appears when running a migration on an Oracle 12c database.
`insert into "knex_migrations_lock" ("is_locked") select :1 where not exists (select * from "knex_migrations_lock") - ORA-00923: FROM keyword not found where expected`

The query generated to insert the migration lock recor

[2021-12-22 16:31] OlivierCavadenti commented on #4906
Can you test with 0.95.15 ? The version is released to solve this case.

[2021-12-22 16:40] xmithd commented on #4906
It's working on 0.95.15! Thanks.

[2021-12-22 16:40] #4906 closed

[2021-12-22 20:20] danielrhodes opened #4907 "Inconsistency in behavior for batch upserts vs single upsert in Postgres"
I've been using Knex's batch insert/upsert with Postgres and found some unintended behavior where values are overwritten when the inserting object's keys do not overlap. I wouldn't describe this as a bug per se, but I do think it merits a solution or clarification because of the inconsistency between a single insert and a batch insert.

### Example

[code]

This produces a query which is like
[cod

[2021-12-22 22:44] #5916 closed

[2021-12-24 16:05] dipanjanpanja6 commented on #2886
In doc its says you can use null `table.enu('column', null, { useNative: true, existingType: true, enumName: 'foo_type' })` but it give type error ``Type 'null' is not assignable to type 'readonly Value[]``

[2021-12-25 15:37] ash0080 opened #4910 ".foreign & .withSchema ?"
# Environment

Knex version:  0.95.15
Database + version:
OS:
PostgreSQL 12.7 (Debian 12.7-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
[code]
when I use .withSchema(), of course I want the foreign key to refer to test.id under the **same** schema, however, 42P01 appears

[2021-12-26 19:02] codetestmg opened #4911 "QueryBuilder not working in Typescript"
# Environment

Knex version:^0.95.15
Database + version: 10.4.17-MariaDB
OS:windows 8.1

Using Typescript ^3.3.3333 and while extending query builder I get an error.

[code]

@smorey2 @lorefnon

[2021-12-26 21:17] kibertoad commented on #4911
Your TS version is too old

[2021-12-27 22:03] liaison-victor commented on #1699
I added the double quotes to $tableName and $constraintName and it worked!

[2021-12-28 17:31] gblock0 commented on #4911
I'm seeing the same thing with Typescript v4.4.4 and v4.5.4. Knex v0.95.14.

[2021-12-30 19:57] ramos-ph commented on #4898
Hey! This is from a little while ago, but I provided a little workaround.
Let me know if it is from any help!
Cheers! :smile:

[2021-12-30 19:58] ramos-ph commented on #4898
I reproduced the issue and provided a solution.
Let me know if it is from any help! :smile:

[2022-01-01 02:15] codetestmg commented on #4911
@kibertoad I have upgraded all packages. now I have  "typescript": "^4.5.4".Still same error

[2022-01-03 18:36] KieranHolroyd commented on #754
@tgriesser is this something that could be fixed now, i'm running into similar issues, it just seems like it should have an options object with columnName as an optional attribute or something?

[2022-01-03 18:41] justinpenguin45 opened #4918 "Typed queries in knex/typescript not using class as result, just an object literal"
I'm using knex with typescript in a nestjs environment. The results of my queries do not contain getter properties. Here's a simple example of what I'm doing. Yea I know I'm overdoing the User type parameter, I was just seeing if it would work anywhere in the chain - it appears not.

export class User {
   username!: string;
   organizationRole!: ROLES;

   get isAdmin(){
     return this.organiza

[2022-01-03 18:44] U-4-E-A opened #4919 "TypeScript not recognising that fields not in interface/type"
Knex version: 0.95.15
TS version: 4.5.4

FYI, `db` is `knex`: -

[code]

[code]

It does not pick the inclusion of `doesnt_exist`, i.e. does not realise it doesn't exist in `UserType`. Can this be resolved? Thanks.

[2022-01-03 19:37] kibertoad commented on #754
@KieranHolroyd This will be fixed in 1.0.0 which should be released this week. There is a new option for that.

[2022-01-03 19:55] #385 closed

[2022-01-04 09:30] frbuceta commented on #4898
Perfect, I like it

[2022-01-04 14:35] KarmaBlackshaw commented on #1476
would it be possible to clear only a specific join?

[2022-01-06 04:50] dwjohnston opened #4921 "Knex 0.21.1 not playing nicely with webpack"
# Environment

Knex version: 0.21.1
Database + version: Any/All
OS: MacOS

# Bug

Knex not playing nicely with webpack.

I have a repro for this issue here:

https://github.com/dwjohnston/knex-webpack-issue/tree/main/take2

For a simple application like:

[code]

When webpacked up and ran, you will get an error like:

[code]

This appears to be the way that webpack resolves that dynamic require:

[2022-01-06 04:53] dwjohnston commented on #4921
This issue also occurs in knex 0.21.17

[2022-01-06 04:59] dwjohnston commented on #4441
Did you ever resolve this? I'm currently experiencing this. I'm wondering if it's because I've empty module resolved `util` in my webpack config.

[2022-01-06 05:07] dwjohnston commented on #4857
Did you ever get this sorted?

[2022-01-06 05:15] dwjohnston commented on #4441
I have a repro of this issue here: https://github.com/dwjohnston/knex-webpack-issue/tree/main/take3

[2022-01-06 05:16] dwjohnston commented on #4857
See also: https://github.com/knex/knex/issues/4441

I have a repro there.

[2022-01-06 05:43] dwjohnston commented on #4921
Possibly a dupe of this issue: https://github.com/knex/knex/issues/3542

[2022-01-06 10:30] MrAxle commented on #4798
I've had some luck leaving `"type": "module"` in `package.json` and renaming the knexfile to `knexfile.cjs`, and calling knex with the CLI option `--knexfile knexfile.cjs`.

Without the `.cjs` it all falls apart, as does any other combination of `--esm`, `.mjs`, `"type": "commonjs"`, etc. that I've tried.

Not sure if this is a complete workaround/solution but for me at least I don't have to remov

[2022-01-06 10:35] OlivierCavadenti commented on #1337
I think we can close this since a PR is merged. But I will be happy if anyone open other issues to add another json functions,.

[2022-01-06 13:05] ramos-ph opened #4922 "Some tests are not being executed"
# Environment

Knex version: 0.95.14

# Bug

On the `/test/integration2/schema/misc.spec.js` file, there are some statements like this:

[code]
This will never work because the `if` statement runs before the `describe`, which causes `knex` to be undefined, hence not executing anything inside the `describe` block because the function will always return `false`.

What we should be doing is skipping

[2022-01-06 13:13] #1337 closed

[2022-01-06 13:44] #266 closed

[2022-01-06 17:48] marcosdly opened #4924 "Different errors with different mysql libs when using --knexfile option"
# Environment

Knex version: 0.95.15
Database + version: mysql 8.0.27
OS: Pop_OS!

# Bug

When using the migrate command and specifying the knexfile path (because it isn't in my project's root) I always get errors (different ones) no matter which library I use. When I run the knexfile directly it doesn't throw any error, it's only when using the option in the CLI.

With mysql library:
`Error: ER_N

[2022-01-07 13:18] jmsunseri opened #4925 "Possible path issues when deployed to vercel"
# Environment

Knex version: latest
Database + version: cockroachdb
OS: vercel

@lorefnon

# Bug

As part of a typescript svelte project deployed to vercel.  Only when deployed and trying to execute a query do I get there error message  Error: Cannot find module '../../dialects/cockroachdb/index.js'

#

[2022-01-07 23:18] stealdre opened #4926 "Get all returning values from a transaction containing multiple queries"
I'm trying to update some rows at once.

I'm waiting for all queries to be written before executing them all in one query. However, I need some values to be returned by the query after the update. I'm using the `returning()` method for that.

I can't manage to get all the returned values at once as an array after the query has been executed. If I use a then() directly in the transaction function i

[2022-01-08 00:17] kibertoad commented on #4926
Which DB is it?

[2022-01-08 00:24] stealdre commented on #4926
I found a solution:

async function updateDB(data) {
    return await knex.transaction(async (trx) => {
        const queries = [];

        data.forEach(item => {
            const query = knex('core_exchangepair')
                .where('symbol_slug', item.s)
                .transacting(trx)
                .update({
                    last_price: item.c,
                })
                .re

[2022-01-08 00:24] stealdre commented on #4926
It's PosgreSQL database.

[2022-01-09 11:55] maximerichrd commented on #4132
I had the same error :
Switching from node v14 to v12, it finally worked.

[2022-01-10 19:27] twk commented on #4470
This would be really useful for us!

[2022-01-10 20:10] #4898 closed

[2022-01-11 22:06] Linksku opened #4929 "Inject raw expressions before/after any operator"
# Environment

Knex version: 0.95.15
Database + version: Postgres 12.8
OS: WSL Win 10 + Ubuntu 20

# Feature discussion / request

Sometimes, we need to use SQL features not supported yet by Knex. It's unrealistic for Knex to implement every feature supported by every DB. Instead, there should be a way to inject arbitrary raw expressions anywhere.

2. Explain what kind of feature would support thi

[2022-01-12 07:50] ibratoev commented on #1331
When is this year? :)

[2022-01-12 13:01] kibertoad commented on #1331
@ibratoev @OlivierCavadenti Got delayed, since we want to also get https://github.com/knex/knex/pull/4471 in, as it is a breaking change as well. After that is in, I will cut a release immediately.

[2022-01-12 13:07] OlivierCavadenti commented on #1331
Yeah I will finish #4471 today.

[2022-01-12 15:18] ayoubaayoub commented on #2624
i was have the same issue and i solve like this :
in your Knexfile.js
require('dotenv').config({path:path.join(__dirname,'../.env')});
i hope this solution can helped someone.

[2022-01-13 08:47] IlyaSemenov commented on #927
The modern alternative without hardcoding internal IDs:

[code]

[2022-01-14 05:33] sekanbas opened #4931 "Oracle Dynamic SQL - Wrong query"
# Environment

Knex version:
Oracle + version:
OS: Windows 10 Pro

@atiertant

# Bug

When creating dynamic SQL, connection parameters have been added to both the sql string and the using statement. This is wrong behavior.

`SDO_UTIL.FROM_WKTGEOMETRY(:1)) , using SDO_UTIL.FROM_WKTGEOMETRY(:2)`

Wrong result: `SDO_UTIL.FROM_WKTGEOMETRY(SDO_UTIL.FROM_WKTGEOMETRY(:2))`

# Error message

`expected CHA

[2022-01-14 10:33] mraheel83 opened #4932 "Timeout acquiring a connection. The pool is probably full."
# Environment

Knex version: "knex": "^0.20.8"
Database + version: "pg": "^7.17.1",
OS: node:12 container

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
I deployed service and it worked fine but later The pool is probably full.

# Error message
[code]
3. I am using transaction and here is my code block.
[code]

# Used containers:
- Google SQL Proxy: gcr.io

[2022-01-14 12:10] OlivierCavadenti commented on #4470
As I can see, this keyword is supported only by Postgresql and Sqlite ?

[2022-01-14 13:21] mraheel83 commented on #4932
First I insert asset in DB and then make a third party service request with the inserted asset object. Once api returns response then I commit DB transaction to persist asset in database otherwise rollbacked DB transaction.

[2022-01-15 12:11] lancejpollard opened #4935 "Getting column "1" does not exist when passing bigint to knex.raw query"
Not sure if I am doing something wrong or if this is an issue, so I thought I would post.

I have this JS:

[code]

Then I am getting this error on the latest knex (0.95.15).

[code]

Is this an issue with bigints in the raw query, or something I'm doing wrong?

[2022-01-15 12:12] kibertoad commented on #4935
i think you need to wrap number in knex.raw to avoid it bein interpreted as a column name there

[2022-01-15 12:13] kibertoad commented on #4935
why do you use raw there in the first place, btw?

[2022-01-15 12:15] lancejpollard commented on #4935
Yeah haha I realize I can just use `knex().update`.

[2022-01-15 15:55] anonrig opened #4936 "Invalid query to create type for enums on Postgresql 13"
# Environment

Knex version: 0.95.15
Database + version: Postgresql 13, pg 8.7.1
OS: macos monterey

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Running the following migration on PG 13 creates invalid query.

[code]

2. Error message

[code]

3. Solution

The following code works (Removing the schemaName from enum declaration):

[code]

[2022-01-15 15:59] #4936 closed

[2022-01-16 00:59] kibertoad commented on #266
Released in 1.0.1.

[2022-01-16 00:59] kibertoad commented on #385
Released in 1.0.1.

[2022-01-16 01:00] kibertoad commented on #4825
Released in 1.0.1.

[2022-01-16 01:00] #4825 closed

[2022-01-16 01:01] kibertoad commented on #4228
Released in 1.0.1.

[2022-01-16 01:01] kibertoad commented on #4878
Released in 1.0.1.

[2022-01-16 01:01] kibertoad commented on #4511
Released in 1.0.1.

[2022-01-16 01:02] kibertoad commented on #4879
Released in 1.0.1.

[2022-01-16 01:02] kibertoad commented on #1778
Released in 1.0.1.

[2022-01-16 01:02] kibertoad commented on #4863
Released in 1.0.1.

[2022-01-16 01:02] kibertoad commented on #4858
Released in 1.0.1.

[2022-01-16 01:03] kibertoad commented on #1173
Released in 1.0.1.

[2022-01-16 01:03] kibertoad commented on #4827
Released in 1.0.1.

[2022-01-16 01:03] kibertoad commented on #4285
Released in 1.0.1.

[2022-01-16 01:03] kibertoad commented on #4820
Released in 1.0.1.

[2022-01-16 01:04] kibertoad commented on #4805
Released in 1.0.1.

[2022-01-16 01:04] kibertoad commented on #4591
Released in 1.0.1.

[2022-01-16 01:05] kibertoad commented on #4583
Released in 1.0.1.

[2022-01-16 01:05] kibertoad commented on #4364
Released in 1.0.1.

[2022-01-16 01:05] kibertoad commented on #2265
Released in 1.0.1.

[2022-01-16 01:06] kibertoad commented on #4784
Released in 1.0.1.

[2022-01-16 01:06] kibertoad commented on #1767
Released in 1.0.1.

[2022-01-16 01:06] kibertoad commented on #4719
Released in 1.0.1.

[2022-01-16 02:09] ffxsam commented on #1586
@onzag Do you still have the code for your `.updateFrom()` method? I'd love to have it.

[2022-01-16 20:25] #4849 closed

[2022-01-16 20:28] OlivierCavadenti commented on #4470
I am ok to implement this, it's not hard, but generally we like implements things that can be used in more than 2 dialects.

[2022-01-16 20:37] kibertoad commented on #4470
As long as it is not an intrusive change, I'm ok with supporting only on two dialects, considering that one of them is PostgreSQL, which is a goto RDBMS in Node.js world.

[2022-01-17 13:46] ghost opened #4939 "API to abort a query/stream"
# Environment

Knex version: 0.21.19
Database + version: Postgres 10.17
OS: MacOS Monterey

# Feature discussion / request

1. I'm trying to handling an HTTP request that retrieves a lot of data with a stream from my database and returns the stream to the HTTP client. The response takes usually 7~10s with a payload of 5MB.
2. I've already tried by using `stream.end()` or `stream.destroy()` but it

[2022-01-17 15:02] jeremy-w opened #5918 "Documentation examples showing "knex is not a function" and similar instead of actual output"
Starting with https://github.com/knex/documentation/commit/3ab0c6164beb98aacc5513655118578ea2426d9f#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051 publishing the v1.0.1 release docs, the example output for every driver appears to be showing error text like "knex is not a function" and "Cannot read properties of undefined (reading 'select')". I looked at index.html history, a

[2022-01-17 18:28] #4922 closed

[2022-01-18 10:43] jmsunseri commented on #2002
I still need to add `disableTransactions: true,` in my knexfile in order to be able to run migrate:latest or i get an error like this.

[code]

 migrate:up works fine.

[2022-01-18 11:05] kibertoad commented on #2002
@jmsunseri Which knex version?

[2022-01-18 11:46] jmsunseri commented on #2002
"knex": "^0.95.15"

Sincerely,
Justin Sunseri

On Tue, Jan 18, 2022 at 7:05 PM Igor Savin ***@***.***> wrote:

[2022-01-18 15:03] santialbo opened #4942 "Failing types on "returning" methods"
I recently updated to the latest version of knex and I faced what I think is one of the breaking changes from the release notes:

[code]
used to return a `string[]` but now returns a `{id: string}[]`, fair enough.

However some of the overloads still reflect the previous behavior. I managed to fix it with patch-package with the following diff but I'm not 100% this is the correct solution.

Am I on

[2022-01-18 16:47] Cellule opened #4943 "MySQL alter schema increments first ignored"
# Environment

Knex version: 0.95.15
Database + version: MySQL 5.7.12
OS: Windows

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

Using `.first()` in column builder after `.increments` is ignored, it should have been included

2. Error message

No Errors, but column is created as the last column instead of the first

3. Reduced test code, for example in ht

[2022-01-18 17:14] 3commascapital opened #4944 "docs showing knex is not a function"
looks like the docs are not seeing a knex variable. also i am seeing `Uncaught TypeError: g.Renderer is not a constructor` in the console

[2022-01-19 07:45] #4935 closed

[2022-01-19 13:01] tkalliom opened #4947 "better-sqlite3: migrations with consecutive changes to same table fail with “SQL logic error”"
# Environment

Knex version: 1.0.1
Database + version: sqlite3 3.34.1
OS: Linux

# Bug
Migrations with multiple consecutive changes to the same table (workaround to #4450) fail with the error message `SQL logic error` when using the new better-sqlite3 driver support. For the below code:

[code]
the following  output is produced:
[code]

This used to work with knex 0.95 and the old `sqlite3` driver

[2022-01-20 03:22] #5918 closed

[2022-01-20 08:55] eyun-tv opened #4949 "how to global set rowMode:'array'"
I like use array
how to global set rowMode:'array' , not write .options everytimes

[2022-01-20 12:14] axelo opened #4951 "npx knex migrate:list doesn't print a readable list of completed migrations files"
# Environment

Knex version: 1.0.1
Database + version: PostgreSQL 12.7
OS: macOS 11.6.2

# Bug

1.

[code]

produces

[code]

Previous version (0.95) listed the filenames of completed migrations:

[code]

2. Error message

No error message, just a bit inconvenient to read :)

3. Reduced test code, for example in https://npm.runkit.com/knex or if it needs real
   database connection to MySQL or Pos

[2022-01-20 12:16] arthot commented on #4249
Regex is a real pain, especially in migrations. `knex.raw(createSQLFunctionWithRegexThatContainsAQuestionMark)` will mess up the function silently. We need an alternative for `raw` to use in migrations that run SQL code as-is.

[2022-01-20 13:49] alexp1917 commented on #4858
I've mentioned a docs fix here - https://github.com/knex/documentation/pull/381 but since they are not doing a good job of maintaining the library (e.g. check this out - https://www.npmjs.com/package/@vscode/sqlite3 - it links to the mapbox git repo, so where is the actual source code? wtf?), i suggest making it optional (search for both this and the "better-sqlite" whatever its called).

also pri

[2022-01-20 16:26] ssshammi commented on #1355
Funny i wanted to return all matching the ID. as my id filed is not unique. But even then i get only one row returned. Is there a way to return all matching rows

[2022-01-20 17:42] jkalandarov commented on #1355
@sshammi how many rows are there in your table with the same `id`? If `id` is declared as `primary key` and `auto_increment`, then only one unique `id` will be given to each row. Therefore, you can't return all matching rows by `id`.

[2022-01-20 21:54] #4470 closed

[2022-01-20 21:54] kibertoad opened #4952 "Add publish permissions to Olivier on npm"
@OlivierCavadenti Can you share your npm account so that I could do the change?

[2022-01-20 21:54] kibertoad commented on #4951
Will be fixed in 1.0.2, sorry!

[2022-01-20 22:07] OlivierCavadenti commented on #4952
I create one just now: https://www.npmjs.com/~olivier.cavadenti

[2022-01-20 22:13] kibertoad commented on #4952
I've just added permissions. Note that knex requires 2fa to be enabled in order to publish packages.

[2022-01-20 22:13] #4952 closed

[2022-01-20 22:25] rijkvanzanten opened #4953 "[CockroachDB] No difference between `integer` and `bigInteger`"
# Environment

Knex version: 0.95.15+
Database + version: CockroachDB v21.1.13
OS: macOS Monterrey

# Bug

Both `integer` and `bigInteger` both result in a `int8` column being created in CockroachDB, whereas Postgres creates them as `int4` and `int8` respectively. This becomes an issue, as `int8`s are always returned as a String by the `pg` connection library, causing unexpected incompatibilities

[2022-01-20 22:27] kibertoad commented on #4953
Would you consider sending a fix for this? Should be fairly straightforward to override this for Cockroach

[2022-01-20 22:27] rijkvanzanten commented on #4953
Sure thing!

[2022-01-20 22:38] rijkvanzanten commented on #4953
Are there any current tests I can enhance to check against the type creation @kibertoad @OlivierCavadenti? I noticed the schema specs under integration2 here:

https://github.com/knex/knex/blob/master/test/integration2/schema/index.spec.js

but I wasn't able to spot any test that confirms that a `.integer()` actually creates an integer.

Alternatively, we might also be able to catch this by adding

[2022-01-20 22:49] kibertoad commented on #4953
@rijkvanzanten I don't think we have tests to validate integers being integers. Probably the closes thing would be unit tests which validate SQL being generated

[2022-01-20 22:58] rijkvanzanten commented on #4953
@kibertoad I added a proof of concept "type consistency" spec file to the integration2 tests. Is that useful to have, or a bit overkill? (https://github.com/knex/knex/blob/9ea1ae98e3d8f4ce38a10971e25768b68105b8d0/test/integration2/schema/type-consistency.spec.js)

[2022-01-20 23:00] kibertoad commented on #4953
@rijkvanzanten It looks great!

[2022-01-20 23:02] OlivierCavadenti commented on #4953
Quite useful, for example on work binary uuid I did !

[2022-01-20 23:14] newhouse commented on #4470
Thanks, everyone!

[2022-01-20 23:45] rijkvanzanten commented on #4953
The same applies to `.increments()` and `.bigIncrements()`

[2022-01-21 00:03] rijkvanzanten commented on #4953
It looks like `.increments()` currently creates a `int8` with default value `unique_rowid()`, which works very differently from Postgres' `int4` with `nextval()` on a sequence. This matches the default behavior as per [the CockroachDB docs](https://www.cockroachlabs.com/docs/stable/serial.html).

If we'd want to make this consistent across databases, I guess we should have `.increments()` create a

[2022-01-21 00:08] rijkvanzanten commented on #4953
Seems like the following configuration should align Cockroaches behavior with how you would expect knex to behave by default:

[code]

[2022-01-21 00:12] kibertoad commented on #4953
This makes me question whether we should be doing any overrides of default CRDB behaviour to begin with. Forcing it to behave like pg sounds too opinionated for a query builder.
And if we keep increments an int8, then integer probably should stay one too, so that it is at least consistent with itself.
What are the implications of current misalignment between pg and crdb? numeric values need to be

[2022-01-21 00:14] rijkvanzanten commented on #4953
As of right now, it means that (for CRDB):

- There's no difference between `integer`/`bigInteger` and `increments`/`bigIncrements`
- `.increments` doesn't actually use auto-incrementing integers, like the name suggests
- All integers are returned as Strings at all times

[2022-01-21 00:17] nickrum commented on #4953
I agree with @rijkvanzanten! Maybe we could add a CRDB-only "postgres compat" option that sets those options and essentially makes it behave more like pg and the other vendors? The question then becomes if this should be enabled by default.

[2022-01-21 00:17] kibertoad commented on #4953
@rafiss Maybe you could comment on this issue and advise on whether preserving status quo or adding overrides would be better from CockroachDB perspective?

[2022-01-21 00:20] kibertoad commented on #4953
@nickrum I like that idea, but I wonder how intrusive that would be. Maybe it would be easier to achieve not as an option, but as a separate dialect, extending vanilla cockroachdb one. I would still like to hear @rafiss perspective first, because maybe we would be sabotaging crdb by overriding defaults that might be there for a good reason.

[2022-01-21 00:29] rijkvanzanten commented on #4953
I'm personally worried that the API of knex itself becomes too unexpected/unreliable between dialects 🤔 There's currently already quite a lot of "It works like X, except for in VENDOR where it does Y".

We could also add a new `.uniqueID()` (name TDB) method that would allow to explicitly use Cockroach's default row identifier, which allows knex to keep a consistent set of methods for the above me

[2022-01-21 01:34] twk commented on #4470
Thank you!

[2022-01-21 03:28] joshkel opened #4955 "Booleans in better-sqlite3"
# Environment

Knex version: 1.0.1
Database + version: better-sqlite3 7.4.6
OS: macOS 12.1

# Bug

I'm trying out the new better-sqlite3 driver in Knex 1.x (due to the maintenance questions I saw with sqlite3 and [@vscode/sqlite3](https://github.com/microsoft/vscode-node-sqlite3/issues/14)). I ran into a problem within my application's code: Knex's better-sqlite3 driver [encodes booleans as string

[2022-01-21 04:17] NayHtweDev opened #4956 "How to Raw Query in Knex with SQlite. ?"
I used knex version "knex": "^0.95.15".

My problem is How to write raw query in knex with sqlite3. I am very first to use knex.

Table 1
Id 	name
1	Rooney
2	David
3	John

Table 2

Id 	table1_id	status
1	1		pending
2	1		complete
3	2		complete
4 	3 		complete
5	3		pending

Expect Select Query

Id	name	 completed	table2_count
1	Rooney	      	1		2
2.	David		1		1
3	John		2		2

[2022-01-21 06:13] shousper commented on #3523
@elhigu I get quite a lot of errors with that `stress-test` script after just a minute or two.

[code]

I cut down the script to only include `pg` tests and the docker compose file to only run a `postgres:12.4-alpine` image container to match what we're using. I also noticed `knex` doesn't include a `package-lock.json` file anywhere in git, so running against `master` isn't necessarily a true repr

[2022-01-21 06:20] #4956 closed

[2022-01-21 06:20] NayHtweDev commented on #4956
SELECT t1.*, tt2.complete, tt1.table2_count
FROM sessions t1
LEFT JOIN (
    SELECT sessions.id,sessions.`flag` ,COUNT(sessions.id) as table2_count from sessions
    INNER JOIN scan_records ON sessions.id = scan_records.session_id
    GROUP BY sessions.id
) tt1 ON tt1.id = t1.id
LEFT JOIN (
    SELECT sessions.id,scan_records.status ,COUNT(sessions.id) as complete from sessions
    INNER JOIN scan

[2022-01-21 07:45] wodka commented on #4953
Hi - what would also be possible is to force for integer to create an INT4 - https://www.cockroachlabs.com/docs/stable/int.html
This could be done by setting the session variable to use int4 for integer

[2022-01-21 08:30] axelo commented on #4951
No worries, thanks for doing this!

[2022-01-21 12:14] #4944 closed

[2022-01-21 12:20] DiZiNnEs commented on #4932
We also have this error in our project. We increased the maximum pool to 200 and there are fewer error, but they still exists.

[2022-01-21 22:00] ilanc commented on #97
From my experimentation it appears that `timezone` is used by knex on insert but NOT on select. On select it offsets by your system timezone and you can't change this.

Here's a repo I used for these tests: https://github.com/ilanc/knex-dates. Note the comments in the README in the output section. There's output from a javascript app after using knex to select rows as well as output from doing str

[2022-01-21 22:43] newhouse commented on #4590
Yes, sadly I built what I needed using `knex.raw`...

[2022-01-21 22:49] ilanc commented on #97
Hmm, if my logic above is correct then the only solution is to:
  - avoid specifying the timezone
  - or specify the timezone explicitly but match the system timezone

Note: in either case above knex will write the **local** date string to mysql (see problem below)

You can't resolve this by specifying a different timezone to the system timezone (e.g. UTC when your system is not in UTC)  because t

[2022-01-22 10:18] OlivierCavadenti commented on #4590
I implements that, but in integration tests (and manual sql tests) a 'where' like you write dont work in the onConflict process. What is expected behavior (maybe I miss the point) ?
https://stackoverflow.com/a/44579804/1535159

[2022-01-22 12:20] ilanc commented on #97
Ok no more coding at 1am. Turns out it was just a bug in my code - I was using a different knex instance to insert vs the one I was using to select. I am now seeing `timezone: "Z"` work correctly on insert and select - utc dates are written to mysql and are deserialized correctly in node on read.

See working version: [final.mjs](https://github.com/ilanc/knex-dates/blob/main/src/final.mjs)

[2022-01-22 13:31] #4590 closed

[2022-01-22 15:13] ozziest opened #4961 "Unsupported driver used: Client_BetterSQLite3"
# Environment

Knex version: 1.0.1
Database + version: better-sqlite3,  ^7.5.0,
OS: ubuntu 20.04

# Bug

1. I can't start a connection with the `better-sqlite3`.

2. Error message

[code]

3. Example

[code]

[2022-01-22 15:49] kibertoad commented on #4961
@ozziest It should work. See https://github.com/knex/knex/blob/master/test/integration2/util/knex-instance-provider.js

Wonder if you are using older knex version in your CLI (e. g. globally installed one)

[2022-01-22 15:50] kibertoad commented on #4961
@ozziest Ah, wait, you are using knex-schema-inspector.
@rijkvanzanten I assume explicit support for better-sqlite3 needs to be added to knex-schema-inspector?

[2022-01-22 15:52] ikinciel-dev commented on #4961
@kibertoad , thank you a lot for your quick response. Yeah, I am using `knex-schema-inspector` and the version is `1.7.1`.

[2022-01-22 15:53] ozziest commented on #4961
@kibertoad , thanks a lot for your quick response. Yeah, I am using `knex-schema-inspector` and its version is `1.7.1`.

[2022-01-22 19:18] kibertoad commented on #4961
I've opened an issue at https://github.com/knex/knex-schema-inspector/issues/94
Would you be open to sending a PR to the project adding better-sqlite support? Should be fairly straightforward, you could just extend https://github.com/knex/knex-schema-inspector/blob/master/lib/dialects/sqlite.ts

[2022-01-22 19:43] rijkvanzanten commented on #4961
@kibertoad I don't think we're doing anything that's specific to `node-sqlite` in there, so adding support might be as easy as extending:

https://github.com/knex/knex-schema-inspector/blob/b0af557df44a77abdbda7137253b512b79b5cacb/lib/index.ts#L17-L19

to

[code]

[2022-01-22 19:47] kibertoad commented on #4961
@ozziest Could you do the proposed change with test?

[2022-01-22 21:44] newhouse commented on #4590
Thanks!

[2022-01-23 08:01] pablor21 opened #4962 "TableBuilder missing char method on ts definition"
Just as the title says, the char method of tablebuilder is not in the ts definition file
@lorefnon

[2022-01-23 10:33] OlivierCavadenti commented on #4962
I dont see 'char' in documentation, and nothing implemented in columncompiler. I have undefined in create table code when I try to build table with char type. Do you have example of working code ?

(I find 'char' only in tablebuilder file:
![image](https://user-images.githubusercontent.com/10152806/150674552-006cafb9-2a51-4637-becc-e20957fa95fa.png)
)

[2022-01-23 10:51] lyd0 opened #5919 "There seems to be a problem with the official documents"
https://knexjs.org/#Builder-distinct

![image](https://user-images.githubusercontent.com/29918052/150675018-9317993a-6528-4e79-8d94-8ee146ac83f8.png)

[2022-01-23 11:05] ozziest commented on #4961
@kibertoad yeah, I can handle it.

[2022-01-23 17:05] chuksgpfr opened #4963 "knexfile.ts doesn't read env files while migrating"
# Environment

Knex version: ^0.95.14
Database + version: mysql2 ^2.3.3
OS: MacOS

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

I am trying to run a migration using the script `knex --knexfile src/v1/knexfile.ts migrate:latest`

[2022-01-23 19:22] pablor21 commented on #4962
I don't have any working example, I've just tried to use with vanilla js, and the method is there, but it doesn't work (at least for mysql), so I think we better close this issue since It doesn’t seem to be a good idea to add a typing for something that doesn't work... Thank you

[2022-01-23 19:22] #4962 closed

[2022-01-23 23:52] cjbj opened #4964 "Support node-oracledb 'arraysize' for tuning multi-row fetch performance"
# Environment

Knex version: master
Database + version: Oracle
OS: all

## Feature discussion / request

@atiertant the current recommended way to tune fetching of multiple rows is with [`fetchArraySize`](https://oracle.github.io/node-oracledb/doc/api.html#propdbfetcharraysize).  Knex can support this similar to how `prefetchRows` and `stmtCacheSize` are supported.

Add

[code]

at around https://

[2022-01-24 03:11] cjbj commented on #4076
@atiertant I think the UV_THREADPOOL_SIZE setting code should be removed. It doesn't do anything because it set after the thread pool has already started.

[code]

[2022-01-24 08:13] ssshammi commented on #1355
So basically my table had multiple rows for StudentID but it;s not a primary key. When I do this i get multiple row. However the moment I add .groupBy('SessionIdentifer') it returns just 1 row. and SessionIdentifer is also not the primaty key. ActivityID is they primaty key but i don;t want that in response. Thanks again for the response @jkalandarov  ` const rows = await Database("UserActivityDat

[2022-01-24 16:19] aidenfoxx commented on #4076
I agree that the code should be removed. I would prefer instead to limit the `poolMax` value based `UV_THREADPOOL_SIZE`, and log a warning to the user that their threadpool size is incompatible with their requested pool size.

Happy to submit a PR for this if @kibertoad agrees?

[2022-01-24 19:27] #5919 closed

[2022-01-24 19:28] #5897 closed

[2022-01-25 07:01] laurisvan commented on #4703
Do you think this could potentially be done on connection pool side, e.g. that the connection pool could be fed with parameters, and in case the parameter set matches, reuse the connection with such parameters, or create a new one? In our case and Postgres 14, we might be able to live with having a pretty large pool (in theory we could support 1-2 connections per active user).

Ref: https://github

[2022-01-25 19:05] #4428 closed

[2022-01-26 12:37] OlivierCavadenti opened #4970 "Add eslint sort-keys rule to performance optimization"
I see a post about JS optimization by [@aschen](https://github.com/Aschen) that can be resolved with an eslint rule.

The eslint rule : https://eslint.org/docs/rules/sort-keys

An article that talk about this issue : https://mrale.ph/blog/2015/01/11/whats-up-with-monomorphism.html

Some benchmark : https://gist.github.com/Aschen/6a837c86edab8084dc659094ada8b197

To begin, the rule with "warn" mode

[2022-01-26 12:47] kibertoad commented on #4970
Sounds good, let's try it. Ideally it should be an `error` type, unless it is unfeasible to address everywhere at once.

[2022-01-26 15:45] xJonahS opened #4971 "afterCreate in Pool with better-sqlite3"
# Environment

Knex version: 1.0.1

# Bug

1. After switching from sqlite3 to better-sqlite3 we are having issues with the following line of code:

`knexConfig.pool = {
afterCreate: (conn, cb) => conn.run("PRAGMA foreign_keys = ON", cb),
};`

2. Error:
     `TypeError: conn.run is not a function
      at afterCreate (src/shared/database/configurations/KnexConfigFactory.ts:9:128)
      at node:inte

[2022-01-26 16:02] kibertoad commented on #4971
@benjdlambert Any chance you could take a look? I assume connection statements are executed differently in better-sqlite.

[2022-01-26 17:34] Jakub41 opened #4972 "Any known issues with Node v17+?"
# Environment

 - Docker
 - postgres:14.1-alpine
 - Node 17.3
 - Knex 1.0.1
 - PG 8.7.1
 - Objection 3.0.1

 # Project

 [Repository](https://github.com/Jakub41/testingKnexObjectionJS)

 My question is if Node v17 is supported?

 The reason is that I'm building a project with the above technologies and I'm unable to get the first query running as

 `await Pokemons.query();`

I'm getting the issue

[2022-01-27 01:36] anjee10 commented on #2690
@elhigu @kibertoad thanks for making this feature!

Does this mean, that single directory will be taken into process by ascending order? like if I have 2017, 2018, 2019, 2020, 2021, 2002 directories, and having `sortDirsSeparately` set to `true`, so will it pick 2017 first and then picking others in order?

One more thing I was wondering on, when I have above setting to `true` and have above migra

[2022-01-27 05:01] anjee10 opened #4973 "Multiple migration directories"
# Environment

Knex version: 0.21
Database + version: Postgres 9.6

# Feature discussion / request

Regarding https://github.com/knex/knex/issues/2690
@elhigu @kibertoad thanks for making this feature!

"sortDirsSeparately: if true and multiple directories are specified, all migrations from a single directory will be executed before executing migrations in the next folder (default false)",

Does t

[2022-01-27 06:26] anjee10 commented on #4973
This works! I just tested it and it maintains order and migrates well!

This didn't work, I did had 4 directories under migration directory and just gave parent migration directory in config and it ignored all migrations!

[2022-01-27 08:04] shenbagapandiyan opened #4974 "Invoke Store procedure returns error"
[code]

Returns the following error:
UnhandledPromiseRejectionWarning: Error: call shemaName.procedureName() - Incorrect syntax near '.'.

[2022-01-27 08:27] schmetzyannick commented on #4971
We also tried to execute `PRAGMA foreign_keys = ON`, after the connection is established, as a raw statement. The raw statement seems to never be resolved, nor rejected (I have waited for about 2 minutes).

Example code can be found here (add a catch clauses): https://stackoverflow.com/questions/65423969/foreign-key-constraint-ignored-by-knex-js

[2022-01-27 22:10] uiii commented on #3751
Actually the return type of `toSQL` is not `Sql` object but and array of objects containing non-native sql but without `toNative` method. Could you please correct this?

[2022-01-28 01:26] nexusbr opened #4977 "Invalid input syntax for type integer after upgrade from version 0.95.15 to 1.0.1"
# Environment

Knex version: 1.0.1
Database + version: PostgreSQL 12.9
OS: (Ubuntu 12.9-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit

# Bug

1. After in nodejs I upgrade knex from version 0.95.15 to 1.0.1

2. Error message: insert into "geosan"."redesagua" ("comprimento", "diametro_interno", "geom", "material_id", "material_nome", "no_final

[2022-01-28 08:36] kibertoad commented on #4977
See UPGRADING.md:
[code]

so it's an object with id field, not a number now.

[2022-01-28 17:09] uurtech commented on #2154
hi i have same issue ? any fix on this ?

[2022-01-28 19:15] jimmykt commented on #3120
heyyy what was your fix to your solution?

[2022-01-28 20:19] nkmnz opened #4979 "whereJsonSupersetOf does not take String as second argument"
# Environment

Knex version: 1.0.1
Database + version: pg 14.1 (latest docker image)
OS: macOS

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
According to the docs, whereJsonSupersetOf should take a column and, among others, a string to compare to. Passing a string results in an error when this string is not wrapped in brackets.

Doesn't work:
`await knex(

[2022-01-29 01:11] nexusbr commented on #4977
Thanks

[2022-01-29 01:11] #4977 closed

[2022-01-29 13:46] OlivierCavadenti commented on #4979
Seems to be this kind of issue : https://github.com/brianc/node-postgres/issues/442
I stringify the parameter, syntax error gone but the query returns nothing.
Still need investigating.

[2022-01-30 05:20] tommy-yoon opened #4980 ""defaultTo" is not working during seeding multiple records"
# Environment

Knex version:
Database + version: SQLite3
OS: Windows 10

# Bug

[1. Explain what kind of behaviour]
This is about the strange behaviour of "defaultTo" during seeding.
A column 'created_date' has set to have default value as today(knex.fn.now()).
In a seed file, I am seeding two records.
One record has a value set for the 'created_date' column.
Another record has no value for the 'c

[2022-01-30 06:12] ankush981 commented on #1223
Yeah, I think the solution presented by @SYGINT is in the spirit of Node/Knex ecosystem, so I'd request @arconus to close this issue. If you really want to separate the connections from the knexfile, you can always create another config object and keep your connection settings in the env vars.

[2022-01-30 08:21] jpike88 commented on #4972
Check the driver too. Try testing with mysql driver instead on a mysql database and see if that has drama

[2022-01-30 13:41] noam-honig opened #4981 "Wrong return type for Date column in sqlite3"
# Environment

Knex version:1.0.1
Database + version: better-sqlite3@7.5.0
OS:Windows

Select applicable template from below.
If issue is about oracledb support, tag @ atiertant. For MSSql tag @ smorey2.
Rest of dialects don't need tags.
If issue is about TypeScript definitions, tag @ lorefnon.

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
The return type

[2022-01-30 17:02] arconus commented on #1223
ok

[2022-01-30 17:02] #1223 closed

[2022-01-30 21:54] mlevit commented on #4979
Looks like I'm receiving the same error code for a simple update statement:

[code]

[2022-01-31 08:15] atlanteh opened #4983 "Allow passing experimental-specifier-resolution=node for type=module projects"
# Environment

Knex version: 1.0.1
Database + version: pg 13
OS: windows 10

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
knex migrate doesn't support passing experimental-specifier-resolution=node to allow for imports without extensions inside the migrations
Trying to use --esm just hangs in there forever
2. Error message
```Cannot find module 'XXX' impo

[2022-01-31 13:09] adrianhelvik opened #4986 "Cannot interpolate into Postgres interval"
This fails in Postgres. Is this something that can be solved?

[code]

[2022-01-31 14:35] thomaslule opened #4987 "Typo in TS types on function whereILike"
# Environment

Knex version: 1.0.1
Database + version: @vscode-sqlite3 5.0.7
OS: Windows

If issue is about TypeScript definitions, tag @lorefnon 👋

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

The `whereILike` function is unknown in TS types, instead there is a `whereIlike` (notice the lowercase `l`).

2. Error message

With `whereIlike` we get an error

[2022-01-31 14:43] thomaslule opened #5920 "Indicate which databases support the `whereILike` clause"
Hi 👋

I tried to execute the `whereILike` function against a sqlite database and got the error:

[code]

It would be nice to have the supported databases in the documentation https://knexjs.org/#Builder-whereILike

[2022-01-31 15:00] OlivierCavadenti commented on #4987
Fixed here : https://github.com/knex/knex/pull/4941

[2022-01-31 17:30] shellscape opened #5921 "Incorrect docs for single `returning` value for Postgres"
The documentation at https://knexjs.org/#Builder-returning contains the following:

[code]

While this may be true for other db platforms, it is not true for Postgres v12.7. Running an analog of that `insert` against our db, knex returns:

[code]

It's only when we specify `.returning(['id'])` in an array, that it returns the results as shown in the documentation.

This is a rather large error tha

[2022-01-31 18:04] #5921 closed

[2022-01-31 22:01] #4979 closed

[2022-02-01 00:10] toBeOfUse commented on #4955
(For future reference, this issue is fixed in PR #4982, it can now be closed at the maintainers' convenience I believe, thanks @joshkel for finding and linking to the exact line of code that had to be changed)

[2022-02-01 08:47] sanderua opened #4990 "onConflict: use of VALUES() function in MySQL is deprecated"
Note from MySQL documentation for INSERT ... ON DUPLICATE KEY UPDATE statement:

https://dev.mysql.com/doc/refman/8.0/en/insert-on-duplicate.html

[2022-02-01 09:24] #4837 closed

[2022-02-01 10:27] tonakai commented on #2689
@elhigu hi there it looks like there is not much going on with this one, but it would be useful as well, in the past I've used liquibase which has this feature, and the use case is to run all soft object creations at the of a migration run. They had almost all views as raw and modifying such view in normal ways mean copy/pasting the whole view into a new migration, that makes the source code repo

[2022-02-01 10:30] kibertoad commented on #2689
@tonakai PR is welcome :)

[2022-02-01 13:23] tamtamchik commented on #4793
Same here. Tried to hunt it down and got to this issue https://github.com/gulpjs/rechoir/issues/43

[2022-02-01 14:56] OlivierCavadenti commented on #4814
@intech it seems a `knex.raw('set database = ""');` can resolve the issue but I always search where to put it in integration tests.

[2022-02-01 22:06] kibertoad commented on #4979
Released in 1.0.2

[2022-02-01 22:07] kibertoad commented on #4955
Released in 1.0.2

[2022-02-01 22:07] #4955 closed

[2022-02-01 22:12] kibertoad commented on #4428
Released in 1.0.2

[2022-02-01 22:12] kibertoad commented on #4401
Released in 1.0.2

[2022-02-01 22:12] #4401 closed

[2022-02-01 22:12] kibertoad commented on #4590
Released in 1.0.2

[2022-02-01 22:12] kibertoad commented on #4470
Released in 1.0.2

[2022-02-01 22:14] kibertoad commented on #4972
Considering that our full CI suite is passing on Node 17, there mustn't be absolute showstoppers there, at least with the latest drivers.

[2022-02-01 22:15] kibertoad commented on #4987
Released in 1.0.2

[2022-02-02 01:53] rafaelalmeidatk opened #4995 "[TS] `alter()` requires 1 argument"
# Environment

Knex version: 1.0.2

If issue is about TypeScript definitions, tag @lorefnon.

# Bug

Since #4967, `alter()` requires 1 argument. I believe the type of the function should mark the options object as optional, since the function signature sets it as an empty object if no argument is provided:

https://github.com/knex/knex/blob/8fd1f22d2e9ccdd1d98d874d64a255858906d854/lib/schema/colum

[2022-02-02 08:18] #4995 closed

[2022-02-02 09:38] kibertoad commented on #4973
do you think adding the missing part would be useful?

[2022-02-02 12:04] onzag commented on #1586
@ffxsam sadly not anymore, I ended up moving away from knex and wrote my own wrapper on top of pg as I found more limitations, I never uploaded that change anywhere.

[2022-02-02 13:54] ffxsam commented on #1586
@onzag No worries, thanks for responding!

[2022-02-02 21:22] diontron opened #4997 "compare 2 table schemas, calculate the diff, and apply the changes"
let's say i have a table called users:

id
name
email
password

now, let's say i want to automatically add a new column to this table called birthday.

so, i can create a temp table with the schema i want (temp_users):

id
name
email
password
birthday

now, i know i can use the alterTable function, but does knex or any other package have the ability to calculate the difference between these 2 tabl

[2022-02-02 21:24] diontron commented on #4997
i think i might have found it:

https://mikro-orm.io/docs/next/api/classes/knex.SchemaComparator/#compare

https://github.com/mikro-orm/mikro-orm/blob/3f284ed/packages/knex/src/schema/SchemaComparator.ts#L24

[2022-02-02 21:57] sayhicoelho commented on #1786
@mxii How did you change default storage engine globally? I need to set `table.engine('InnoDB')` on every table migration?

[2022-02-03 00:05] anjee10 commented on #4973
@kibertoad would be nice to add that missing part, specially for a scenario where you have more than one multiple migration directories, you just need `sortDirsSeparately` flag then, no need to change config file to add all directories manually, just one parent migration directory and it will automatically discover child directories and execute migrations with align to `sortDirsSeparately` flag.

[2022-02-03 20:41] akg1 opened #4999 "Publicly export FsMigrations from the knex package"
# Feature discussion / request

1. Explain what is your use case

In our project, we're moving our database from a single instance and schema to be sharded across multiple schema names. We want to apply the same migrations within each schema name. We could do this with user params, but we'd like to not take on the risk of modifying all of our existing migrations to handle this.

2. Explain what ki

[2022-02-03 22:59] akg1 commented on #4999
Was thinking more about this -- I don't necessarily care that much about the specific class if I could get to the migration source being used. Like, being able to do `knex.migrate.resolveConfig(...)` and get back the config that would be used with the `migrationSource` would also provide everything I need.

[2022-02-04 17:10] shellscape commented on #2500
Checking in to say that e086427db01e116f042f50a2acaf1e65c6bd2edd did not resolve the issue within async stack traces. Stack traces always begin (as in the last line) with `knex@1.0.2_pg@8.7.3/node_modules/knex/lib/execution/runner.js:30:19`. This results in having to sprinkle debug statements throughout the code. Calling it a non-optimal developer experience would be putting it mildly.

[2022-02-04 17:45] LiST-GIT opened #5000 "sqlite3"
`replace into database values (?) `
sqlite3 nonsupport

[2022-02-04 23:18] sombriks opened #5001 "Cannot find module '@vscode/sqlite3'"
# Environment

Knex version: 1.0.2
Database + version: sqlite3 5.0.2
OS: windows 10 21h2 and mac os big sur 11.6.2, same problem
Node version: 14 lts

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do

`npx knex --knexfile knexfile.cjs migrate:make schema_init`

2. Error message

[code]

3. Reduced test code, for example in https://npm.runkit.com/knex or if it

[2022-02-04 23:34] kibertoad commented on #5001
See https://github.com/knex/knex/blob/master/UPGRADING.md

You need to install `@vscode/sqlite3` dependency after migrating to 1.0.0+

[2022-02-04 23:34] #5001 closed

[2022-02-05 01:43] Jerrardsmith215 opened #5002 "Knex Throwing SQLITE3 error when SQLITE3 Is Installed,"
# Environment

Knex version: 1.0.2
Database + version: sqlite3 @ latest
OS: Windows 10

# Bug

1. Hi. I am experiencing an issue where I am having an error thrown while trying to use knex. If I migrate:latest I get the error below. I have tried reinstalling sqlite3 until I recognized that it asked for a @vscode-sqlite3 package. I installed that package and still the failures.

2. Error message

Kn

[2022-02-05 01:51] Jerrardsmith215 commented on #5002
NOTE: Resolved  by going into node_modules and RENAMING vscode-sqlite3 to @vscode/sqlite3

[2022-02-05 16:42] Tomas2D commented on #2766
I did an updated version of knex firebird dialect, check out my package [knex-firebird-dialect](https://github.com/Tomas2D/knex-firebird-dialect)

[2022-02-05 16:45] kibertoad commented on #2766
@Tomas2D Would you like to send a PR, adding dialect to ECOSYSTEM.md doc?

[2022-02-05 17:42] Tomas2D commented on #2766
Sure, PR #5003 created.

[2022-02-05 21:26] lvivier commented on #4971
`better-sqlite3`'s`Database` class doesn't have a `run()` method, but it does have an `exec()` method. There's also a `pragma()` method [specifically for executing PRAGMA statements](https://github.com/JoshuaWise/better-sqlite3/blob/master/docs/api.md#pragmastring-options---results). From the docs:

You can probably do something like (not tested):

[code]

[2022-02-07 09:18] picosam commented on #1414
I think this may help: https://blog.pyrospect.com/2019/01/how-to-manage-remote-servers-and.html

[2022-02-07 21:27] fusionbeam opened #5007 "esm mjs migration files not executed"
# Environment

Knex version: 1.0.2
Database + version: pg 13.4
OS: Ubuntu Linux LTS
Nodejs: 16.13.1

# Bug

1. I am trying to switch our migrations scripts to esm.
I have a knexfile.jsm containing something like:
[code]
while ./src/config.mjs looks like:
[code]

Here is a sample migration script file:
[code]

2. Error message

When executing the migration command knex doesn't seem to import the 0_

[2022-02-07 22:00] jhiesey opened #5008 "withMaterialized and withNotMaterialized are not present on knex object"
# Environment

Knex version: 1.0.2
Database + version: postgres 12 and 13
OS: macOS and Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
The new `.withMaterialized` and `.withNotMaterialized` functions added in #4470 are not present on the `knex` object, despite the example in the docs showing them used this way.

The [docs page](https://knexjs.org/#Bu

[2022-02-07 22:18] #5008 closed

[2022-02-08 02:46] shellscape opened #5922 "Stream Has No Promise Result"
The docs for [Streams](https://knexjs.org/#Interfaces-Streams) contain a code example that doesn't work:

[code]

The result of the `.stream(...)` call is a `Transform` stream, not a `Promise`.

[2022-02-08 16:52] criles25 opened #5012 "Trying to pass knex instance as an argument, and check typescript type"
I have a `db.ts` file

[code]

and a `users-service.ts` file

[code]

but ^ gives me this error `This expression is not callable. Type 'QueryBuilder' has no call signatures`

I am probably typing the `db` parameter incorrectly.

🙏

[2022-02-08 19:25] criles25 commented on #5012
nevermind, my return type needed to be a `Promise<User | undefined>`

[2022-02-08 19:25] #5012 closed

[2022-02-09 09:21] coffeetea99 opened #5013 "[Typescript] raw query with native bigint parameter binding"
# Environment

Knex version: 0.95.14
Database + version: MySQL 5.7.33
OS: MacOS 10.15.7

If issue is about TypeScript definitions, tag @lorefnon.

# Feature discussion / request

I am trying to use raw query with native bigint.

[code]

Although this statement works well on javascript(looks like the bigints are converted into strings), I get this error on typescript.

[code]

It seems it's because

[2022-02-09 10:50] daniellockyer commented on #4141
Heads up, I believe I have a solution for this - I hope to push a PR soon 🙂

[2022-02-09 11:57] TonioloF opened #5014 "How to join two tables from different Database using knex ?"
# Feature discussion / request

Is it possible join two tables from different databases using knex ?

Ex.

Server 1 - db1
Server 2 - db2

SQL Statement Example:
 Select user_db1.*,user_db2.*  from db1.user as user_db1 inner join db2.User as user_db2 on user_db1.id = user_db2.id

[2022-02-09 15:27] OlivierCavadenti commented on #5014
I dont think it's possible (in Knex and in SQL).
Maybe you can create a foreign table if your sgbd accept that (https://www.postgresql.org/docs/13/sql-createforeigntable.html) and make joins in Knex like another two tables in the same database.

[2022-02-09 17:25] JQuezada0 opened #5015 "Delete with join on postgres produces invalid sql when providing multiple join conditions"
# Environment

Knex version: 1.0.1
Database + version: Postgres 12
OS: MacOS 12.0.1 (Monterey)

# Bug

The docs give an example of how you can do a delete with a join, which produces valid SQL on both MySql and PostgreSql. But under certain conditions, it produces invalid sql when the dialect is Postgres.

All examples in this issue are also implemented here https://replit.com/join/izyqucnvdg-jque

[2022-02-09 17:29] kibertoad commented on #5015
@OlivierCavadenti

[2022-02-09 22:01] #5015 closed

[2022-02-10 20:35] jordaoqualho commented on #581
In case you need to specify an isolation level for your transaction, you can use a config parameter isolationLevel. Not supported by oracle and sqlite, options are read uncommitted, read committed, repeatable read, snapshot (mssql only), serializable.

const isolationLevel = 'read committed';
const trx = await knex.transaction({isolationLevel});
const result1 = await trx(tableName).select();
await

[2022-02-10 21:16] oleh-melnychuk commented on #3821
Hi, everyone. Have the same issue, maybe someone have solution?

[2022-02-10 21:33] daniellockyer commented on #4141
This issue should now be resolved, awaiting release 🙂

I'll be backporting it to 0.21 tomorrow for those of us stuck on old versions 😅

[2022-02-10 21:51] kibertoad commented on #4141
@daniellockyer I would suggest giving a shot to upgrading version used in bookshelf first. old knex is old.
will publish version shortly

[2022-02-10 22:38] kibertoad commented on #4141
Released in 1.0.3

[2022-02-10 22:38] #4141 closed

[2022-02-10 22:38] kibertoad commented on #5015
Released in 1.0.3

[2022-02-10 22:39] kibertoad commented on #5008
Released in 1.0.3

[2022-02-10 22:39] kibertoad commented on #4995
Released in 1.0.3

[2022-02-11 10:09] stvsh opened #5020 "Errors with orWhereJsonPath clause"
# Environment

Knex version: 1.0.1
Database + version: PostgreSQL 13.3
OS: Windows

# Bug

1. Every use of 'orWhereJsonPath' clause in query causes an error

2. Undefined column(s): <jsonb column name>

3. I've tried to fix this bug in [#5011](https://github.com/knex/knex/pull/5011) with adding missing arguments to whereJsonPath call, you can see this change [here](https://github.com/knex/knex/com

[2022-02-11 16:17] Zauberbutter commented on #2907
@VsemP2 Additionally you don't need the `npx` in your scripts.

[2022-02-13 14:11] #5020 closed

[2022-02-14 18:47] SteveDeWald commented on #4951
I'm on version 1.0.3 and am still encountering the issue.

[code]

Thanks.

[2022-02-15 08:20] erdinc commented on #913
any updates?

[2022-02-15 08:26] kibertoad commented on #913
@OlivierCavadenti thoughts?

[2022-02-15 08:38] OlivierCavadenti commented on #913
I will take a look this week to see what I can do

[2022-02-15 10:37] jvalrog opened #5025 "Does Knex blocks when it finds a Deadlock due to forUpdate?"
I'm using transactions (promise aware) and forUpdate. I'm currently issuing several parallel transactions and I'm getting this error:

    "select * from `central_data` where `id` = 4381 for update - ER_LOCK_DEADLOCK: Deadlock found when trying to get lock; try restarting transaction`

This usually happens when I delete the table data manually and start the process again. (I think I'm missing some

[2022-02-15 23:03] KrisLau opened #5026 "Schema Builder when to use text or string?"
So I have one id that is a firebase uid that I have been using .text for but when I swapped over my client to mssql, it errored out. So now I'm trying to figure out if I need to create it with a .text or a .string? Also for first name, last name, etc which one works better?

[2022-02-16 09:03] OlivierCavadenti commented on #913
It seems the problem is due to the logic implementation of unions.
The best option imo is, in the querybuilder, to affect each groupby (and having, etc.) statements to the right query part in the case of union clause is used.
Needs some rework btw.

[2022-02-16 09:12] kibertoad commented on #5026
text is for long texts, e. g. descriptions or blog entries.
string is generally for something couple of hundreds of symbols long.

[2022-02-16 16:03] KrisLau opened #5027 "knex.fn.now erroring out when precision is specified in mssql"
# Environment

Knex version: ^0.95.14
Database + version: MSSQL @smorey2
OS: Windows

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
Getting an error because it is using `CURRENT_TIMESTAMP` but I'm actually hoping to get the `SYSDATETIMEOFFSET()` or `SYSDATETIME()`. I feel like `knex.fn.now()` should use `SYSDATETIME()` since the default timestamp created i

[2022-02-16 17:51] KrisLau commented on #5027
Also I've been trying to figure out how to recreate this in SSMS but I have been unsuccessful so far:
[code]

[2022-02-16 18:22] beltschatsar commented on #2660
@kibertoad What about a more or less syntaxic sugar around it ? For example, this:
`knex.withImpersonation('proxied_username_goes_here').select('col').from('table')`
would be equivalent to:
`
const connection = await oraclePool.getConnection({ user: 'proxied_username_goes_here' });
knex.select('col').from('table').connection(connection);
`
If I work on this, would you accept a PR this way ?

[2022-02-16 18:24] kibertoad commented on #2660
@OlivierCavadenti Thoughts?

[2022-02-17 01:27] voqum opened #5028 "Migrate knex repo to Typescript completely"
# Feature discussion / request

Hi all, I'm not sure where is the best place to discuss this, so I created this issue. This is my motivation: I have been using typeorm quite a bit, and have a mental wish list of desired features. I started by thinking I would create my own ORM on top of knex, because I have had such good experience with it. Then I discovered [mikro-orm](https://github.com/mikro-or

[2022-02-17 08:44] kibertoad commented on #5028
@OlivierCavadenti What do you think?

Personally I have mixed feelings about this. First, knex codebase is huge, and migration is going to be a very significant effort. Second, TS transpilation reduces amount of control one has for generated code, and this may result in unexpected performance issues, which is important for lower-level library such as knex.

@dustbort What about a middle ground bet

[2022-02-17 16:06] pasha-bolokhov commented on #3851
I want this three

[2022-02-17 16:12] dustbort commented on #5028
@kibertoad I am willing to put in the effort. The transpilation should not affect the performance in such a way. I have set the target as es2019, so there will not be much change to the original code, aside from the few features implemented [after es2019](https://en.wikipedia.org/wiki/ECMAScript#11th_Edition_%E2%80%93_ECMAScript_2020). Es2019 is compatible with node13+, which is what the knex docu

[2022-02-17 17:39] thylux commented on #3769
I asked myself the same question and the first google result brought me here.
Without further investigation I think it's safe to assume that the default value will be defined by the DBMS.

An example from the [documentation](https://www.postgresql.org/docs/current/sql-createtable.html) for Postgres:

[2022-02-17 21:58] benknight commented on #1683
I ran into the same issue today. Running migrations locally no issues, but running migration on newly setup RDS instance (MySQL 8.0.23) resulted in multiple ER_FK_COLUMN_CANNOT_CHANGE errors.

[2022-02-18 13:46] OlivierCavadenti commented on #4981
I will take a look, it's in all drivers sqlite3 drivers (sqlite3 and better-sqlite3) ?

[2022-02-18 17:34] KrisLau commented on #5027
Ended up just using knex.raw

[2022-02-18 17:34] #5027 closed

[2022-02-18 19:30] hbutenas opened #5029 "Can't make a migration with foreign keys."
Hello. I can't successfully make a migration when I  declare foreign keys in other tables. I have 3 tables(users, employees, clients). Employees and clients has FK from users. I can't make migration if I use .foreign property, however noticed that any other property(lets say I've tried with bigInt) runs well. I saw in one article that it's important to have PK created first by date. So I updated t

[2022-02-18 19:37] hbutenas commented on #5029
Also, tried to remove that insert query from users to seed, still the error occurs.

[2022-02-18 20:42] OlivierCavadenti commented on #4981
I checked, but SQLite seems to store date only with number, see this article :
https://www.grouparoo.com/blog/understanding-types-sqlite-node#sqlite-type-quirks

So you need to typecast rows at the end with :
![image](https://user-images.githubusercontent.com/10152806/154758358-75f7cc0f-215f-4b92-a911-88ca6d5b7a3f.png)

Result (before/after):
![image](https://user-images.githubusercontent.com/1015

[2022-02-19 19:13] guntribam commented on #4626
@hrmartinez i've used your solution but this error keeps coming:

[code]

[2022-02-19 21:03] guntribam commented on #4626
@RicardoValdovinos  did you manage to connect using this msnodesqlv8 using the solution above?

[2022-02-20 03:02] vencho-mdp opened #5923 "Integrate Vitepress"
Hi! A couple of weeks ago I told that I could migrate docs to Vuepress. Later on, I learnt that it'd be better to use vitepress for simplicity. Here is a really simple example of how it could be. Tell me what you think and the things we should change.

https://github.com/vencho-mdp/knex-docs-vitepress

Related to: knex/knex#5915

[2022-02-20 15:10] KristjanTammekivi commented on #4942
@lorefnon the patch above looks about right, please take a look

[2022-02-20 22:56] lorefnon commented on #4942
Yeah, this looks good to me as well.

[2022-02-20 22:59] kibertoad commented on #4942
@santialbo Could you please create a PR from this?

[2022-02-21 09:03] santialbo commented on #4942
@kibertoad Opened the PR on https://github.com/knex/knex/pull/5031

[2022-02-21 11:17] OlivierCavadenti commented on #913
@pmalouin I push a PR but it's seems parenthesis with union statements are not a SQL standard and fail in a lot of dialects.
Seems be need to made subquery in each union if we want group by, order by, limit... to be applied in each union select.

https://stackoverflow.com/a/4653180/1535159

[2022-02-21 11:56] arifulislamat commented on #3310
**Having same issue**

### Error logs
[code]

- PostgreSQL docker image: 11.2-alpine

### Note: PostgreSQL was deployed on Docker Swarm with three replicas.

[2022-02-21 15:23] #4942 closed

[2022-02-21 18:41] #5014 closed

[2022-02-22 06:08] guoh27 commented on #4858
npm install sqlite3 --save
Cannot find module '@vscode/sqlite3'

knex 1.0.3

[2022-02-23 11:02] RobIsHere commented on #5025
A lock can "clear", a deadlock by definition is never able to clear magically by itself. Therefore it's named "dead"lock.

To help you out of this desperate situation, the database kills one of your at least two conflicting transactions. Get yourself a good book about databases. It's no knex issue.

[2022-02-23 11:12] OlivierCavadenti commented on #5025
Article on that problem : https://karbachinsky.medium.com/deadlock-found-when-trying-to-get-lock-try-restarting-transaction-54a3ed118068

[2022-02-23 11:12] #5025 closed

[2022-02-23 16:02] lucasbesen commented on #4510
@laktak have you figured out that?

[2022-02-23 16:51] RachelAmbler commented on #3778
I'd argue `Text` and `NText` should be removed completely and replace with `VarChar(Max)` and `NVarChar(Max)`.

These older datatypes have been marked as deprecated by Microsoft since SQL Server 2005.

I raised a [bug](https://github.com/nocodb/nocodb/issues/1343) on `NoCoDb` for the same reason:

[2022-02-24 02:14] vencho-mdp opened #5033 "The server does not support SSL connections"
# Environment

Knex version: 1.03
Database + version: Postgres14
OS: Windows 11

# Bug

1. I'm getting this annoying error when building for **production**.

2. Error message: `The server does not support SSL connections`

3. Knex config:

[code]
.env

[code]

[2022-02-24 07:41] irfancnk opened #5034 "How to abort a pending migration [PostgreSQL, Knex]"
# Environment

Knex version: "knex": "^0.21.5",
Database + version: PostgreSQL
OS: macOS BigSur 11.2.3

# Feature discussion / request
When I run knex migrate:list I see one of the migration is in Pending state, for days. I wonder how I can abort/cancel it and rollback to a certain state. There is no information about that in documentation hence I did not try just going down one migration for abor

[2022-02-24 08:27] irfancnk commented on #707
Still an issue.
I am also looking for cancelling a pending migration. For example when developer accidently runs a migration that does not return a Promise, runs into a situation where migration stays on Pending, probably forever?

[2022-02-25 08:30] jvalrog commented on #5025
Oh, thanks guys, it was my first time dealing with deadlocks.

[2022-02-26 01:09] enchorb opened #5038 "Enum Arrays Do Not Return An Array Type"
# Environment

Knex: 1.0.3
Database: Postgres 14
OS: Windows 10

# Bug

When creating an enum array the return value is not an array from queries

Case 1)
`table.specificType('roles', 'text[]').defaultTo('{admin, viewer}');` --> Correctly Returns `roles: ['admin', 'viewer'] `

Case 2)
`table.specificType('roles', 'role_type[]').defaultTo('{admin, viewer}');` --> Returns `roles: '{admin, viewer}' `

[2022-02-26 18:05] #2592 closed

[2022-02-27 17:48] jonahweissman commented on #4141
Should this documentation also be updated? https://docs.directus.io/getting-started/installation/digitalocean-app-platform/#_3-create-a-managed-database-instance

[2022-02-27 17:50] jonahweissman commented on #4141
Apologies, please disregard. I got confused about which repository this was in

[2022-02-28 01:17] hodgef commented on #4858
Workaround to make the error go away, but obviously results in double deps.
[code]

[2022-02-28 01:25] enchorb commented on #4870
For the time being I have this working using this syntax:

[code]

I would prefer something like this would work, but it throws an error

[code]

[2022-02-28 01:30] hodgef commented on #3252
I had the same issue, this happens when you try to run knex in the renderer in newer Electron versions.

Essentially, you need to run the callback in the `main`, not the renderer. I was able to work around this issue by creating an interface.

eg:

main

[code]

renderer

[code]

[2022-02-28 07:32] schmetzyannick commented on #4971
@lvivier seems to work, thank you :)

[2022-02-28 07:47] benjdlambert commented on #4971
Wondering if we can close this? Do we need to update some documentation somewhere as it looks like it works just it's not compatible with the sqlite3 api, but I think that's ok right as it's the raw connection object you get,

[2022-02-28 08:17] schmetzyannick commented on #4971
I would expect the documentation it in SchemaBuilder->foreign for better- and "normal"-sqlite. I would recommend closing the issue after the documentation is completed, so it will not be forgotten.

[2022-02-28 12:43] KristjanTammekivi commented on #5038
I guess this is because you need to set type parsing for pg
https://github.com/brianc/node-pg-types
You can get the types you need to add parsers like this:
[code]

[2022-02-28 13:37] OlivierCavadenti commented on #4858
I take it as soon as possible

[2022-02-28 18:30] spencerwilson commented on #3632
Is there a recommended way to reference the tarn pool? Right now
[code]
seems to work, but the Knex docs don't mention being able to call `knex.queryBuilder()`, or referencing the client or its pool property, so I'm unsure if this is supported usage.

[2022-02-28 23:29] Kytech commented on #3914
@elhigu The original author of this issue is no longer working at our organization. I will be picking up work on this issue going forward in a new PR. I'll plan to implement an oracle version config option and I'll write a test case for the change. If there were any other items besides those two that were preventing a fix from being accepted, let me know and I'll work to address those as well.

[2022-03-01 10:24] Martindelataille commented on #3112
I tried with \\? and it's working by now.

Ticket can be close.

[2022-03-01 11:41] DominicVonk commented on #4555
See PR #5041

[2022-03-01 11:57] DominicVonk commented on #4555
For example:

Extension:
[code]

Type completion:
[code]

[2022-03-01 12:09] AllanJard commented on #203
A little addition to this for anyone who finds this thread as I did while looking for how to add custom indexes for full text search (trigram search really) in postgres. I used @denysaw's idea above and came up with:

[code]

Which gives:

[code]

This might count as SQL injection ;)

[2022-03-01 13:36] danielgindi commented on #4453
The promise is only rejected on initial connection errors, but not on errors emitted from the stream:
https://github.com/knex/knex/blob/157e27d0e3628daf73e3d279551b25bd3e610c6d/lib/execution/runner.js#L105

Should be very simple to fix that.

[2022-03-01 13:38] OlivierCavadenti commented on #4453
@danielgindi can you submit a PR for this ?

[2022-03-01 13:56] #4981 closed

[2022-03-01 13:59] #4972 closed

[2022-03-01 14:03] OlivierCavadenti commented on #4961
It's an knex-schema-inspector issue : https://github.com/knex/knex-schema-inspector/issues/94
with a corresponding issue : https://github.com/knex/knex-schema-inspector/pull/95

[2022-03-01 14:03] #4961 closed

[2022-03-01 14:15] OlivierCavadenti commented on #2265
I reopen this issue for the orWhereLike and orWhereILike implementation.

[2022-03-01 15:43] danielgindi commented on #4132
Actually, that `destroy` should probably removed completely. As everything is piped automatically, and the `transform` is processing chunks in the middle.

[2022-03-01 19:19] #2265 closed

[2022-03-02 02:46] zanechua commented on #2907
Posting the script that I wrote to handle this case as I need fresh tables for test etc and just way easier to run a command to drop and migrate. This probably won't work for all databases but should be fine for MySQL based databases.

I've been using this for months now so now that it's somewhat battle tested, should work fine.

[code]

`package.json`
[code]

[2022-03-02 09:35] mrugesh-jeeves commented on #2154
@uurtech no we haven't upgraded `knex`, we are still on older version. If you still need to fix, you need to change in your query.

[2022-03-02 11:57] bspot opened #5046 "Subquery in `ON` clause missing parentheses"
# Environment

Knex version: 0.21.19 up to the one in KNEX Query Lab
Database + version: MySql 8
OS: Linux

# Bug

When using a subquery in an `ON` clause, the subquery is not wrapped in parentheses, which does not work in MySQL.
I also can not use `as()`, because using `as tablename` is also not accepted by MySQL.

## Example

https://michaelavila.com/knex-querylab/?dialect=mysql2&query=NYOwpgHgF

[2022-03-02 18:15] cjbland commented on #4884
I think this issue is related: https://github.com/knex/knex/issues/4013

[2022-03-02 18:59] laratutodotcom commented on #1537
[solved] --->https://laratuto.com/i-get-the-query-builder-to-output-in-raw-as-string/

[2022-03-02 20:27] Naddiseo commented on #4986
This looks to be related to #1861, #4762 and #3995

I'm having the same issue, according to @elhigu's [response in #1861](https://github.com/knex/knex/issues/1861#issuecomment-273709917), "there are also some other places in postgresql syntax where value bindings cannot be used " and the `interval` value in postgres seems to be one of those.

For my own use, I'm using a window function and trying

[2022-03-03 21:52] fogine opened #5047 "union/union all bug wrapped queries"
# Environment

Knex version: 1.0.3
Database + version: PostgreSQL 13.6
OS: Linux

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
The following simple query:

[code]

generates incorrect query:

[code]

which returns results only from second wrapped query.

it should generate

[code]

which would give correct results from both queries..

[2022-03-03 22:00] OlivierCavadenti commented on #5047
I have a work in progress here : https://github.com/knex/knex/pull/5030
It works for PostgreSQL but this syntax doesnt work for all SGBD, so I still need some work (I plan to finish this PR this weekend).

[2022-03-04 08:46] madtrick opened #5048 "Wrong quouting of expression"
# Environment

Knex version: 1.0.1
Database + version: Postgres 11
OS: macOS

# Bug

(I think this is a bug but please redirect me to elsewhere if necessary :) )

In one of our queries we want to use an expression that's the concatenation of two columns as a `where` restricition. Something like the following:

[code]

After several attempts we haven't been able to get knex to properly quoute the e

[2022-03-04 16:18] mcelotti commented on #2378
@wwei-flux you could use 'start':
[code]

[2022-03-04 17:21] #5046 closed

[2022-03-04 17:55] maximelkin commented on #5028
I willing to help that effort, also +1 to

Typescript is not entire different language, usually compilation is just removing types & transpiling basic things like `.?` operators

[2022-03-05 05:25] mcpower opened #5050 "Knex does not support better-sqlite3's large integer feature"
# Environment

Knex version: 1.0.3
Database + version: better-sqlite3 7.5.0
OS: Ubuntu 20.04

MRE:

[code]

# Feature discussion / request

### Explain what is your use case
Supporting [snowflakes](https://developer.twitter.com/en/docs/twitter-ids), which are 64 (actually 63) bit integers.

better-sqlite3 [supports large integers with BigInts](https://github.com/JoshuaWise/better-sqlite3/blob/mast

[2022-03-06 11:50] bspot commented on #5046
Oh, that was fast. Thank you very much!

[2022-03-07 01:46] maximelkin commented on #5048
Hello!
You can try to do it like this:
[code]

[2022-03-07 02:02] maximelkin commented on #5013
This is not safe, because not sure all drivers supports bigint. I advise you test corner cases, i.e. inserting ` BigInt(Number.MAX_SAFE_INTEGER)+BigInt(2)` - it should insert `9007199254740993`.

(I've done some research in #3710, but unfortunately gave up, feel free to use for new PR)

[2022-03-07 12:45] #913 closed

[2022-03-07 12:45] #5047 closed

[2022-03-07 15:34] madtrick commented on #5048
@maximelkin there's another case where things break. We also have to apply the same expression in an out join and there we get the same quotation issue. Example:

[code]

yields

[code]

[2022-03-07 15:36] madtrick commented on #5048
Ah, nevermind, figured it out:

[code]

yields

[code]

[2022-03-08 02:03] maximelkin commented on #5048
You can actually pass whole string, it will be wrapped anyway.

Also check out: [docs about knex.raw](https://knexjs.org/#Raw). This could help to avoid unsafe string interpolation (i.e. using `??`).

[2022-03-08 23:02] rathboma opened #5051 "Returning behaves differently for MySQL vs postgres/sqlite/etc"
# Environment

Knex version: 1.0.3
Database + version: MySQL (all), library: mysql2 2.3.3
OS: Linux

# Bug

The following statement behaves differently in MySQL:

[code]
This was changed in version 1 to be an object, but it still works the old way for MySQL. Is this a limitation with the driver?

[2022-03-09 08:14] imiskolee opened #5052 "how to supports soft delete?"
hi,team:

# User Story

In almost ORM Framework(gorm / ruby activerecord), all of supports soft delete by timestamp field(deleted_at) and bool flag(deleted).

if a table includes deleted_at or deleted field, it's meaning the table supports soft delete. so ORM framework route delete as update SQL.

I am not sure knex already have it ?

[2022-03-09 10:11] kibertoad commented on #5052
@imiskolee Knex is not an ORM. You can use UPDATE operations for soft delete, and you can add additional WHERE clauses to exclude soft deleted entries.
It is out of knex's scope to provide built-in support for such functionality.

If you find such functionality useful, you might consider contributing PR with this feature for https://github.com/knex/knex-repositories, which is supposed to be a more

[2022-03-09 10:53] #5052 closed

[2022-03-10 08:22] jacopofranza opened #5053 "BUG - FOR UPDATE must specify unqualified relation names"
# Environment

Knex version: 1.0.3
Database + version: PostgreSQL 13
OS: Node 14

# Bug

The error comes up when you build a query like knex('users').withSchema('myschema').where('id','xyz').forUpdate('users')
It seems incompatible to use withSchema and forUpdate in the same query because withSchema add the schema also in front of the forUpdate table name, but should not.

Error message: FOR UPDAT

[2022-03-10 10:02] ftaiolivista commented on #1443
Any way to have something like postProcessResponse but with async support?

[2022-03-11 01:57] hshine1226 opened #5054 "BUG - returning method returns wrong type returning value"
# Environment

Knex version:0.95.15
Database + version: Postgresql 14.2
OS: Mac

Select applicable template from below.
@lorefnon

# Bug

1. Explain what kind of behaviour you are getting and how you think it should do
[code]

when I run above code, I expect that returning value is number type because I have number type dashboard_detail_id column.
But I got string type returning value.
And also ty

[2022-03-11 13:14] ritikbanger opened #5056 "How to give foreign key reference of a table in another database?"
# Environment

Knex version: "^1.0.1"
Database + version: MySql 8.0.23
OS: Ubuntu 20.04

Select applicable template from below.
@smorey2

# Feature discussion / request

1. Explain what is your use case:  I have two databases (sso, and items). I wish to create a migration to create a new table belonging to items database that have foreign keys referencing to a table(eg. users) in sso database.

I

[2022-03-11 16:28] santialbo commented on #5054
Is your column a bigint? If that's the case bigints don't fit into javascript numbers, that's why you get a string representation of the number. https://github.com/brianc/node-postgres/pull/353

[2022-03-11 16:40] santialbo commented on #4986
You can't interpolate within postgres strings. Bindings must be the entire value. Possible solutions:
[code]
or
[code]
or
[code]

[2022-03-12 08:28] thehydrogen opened #5057 "knexjs.org has expired or otherwise inaccessible"
knexjs.org currently just shows the default Namecheap parking page?

[2022-03-12 08:31] allenben746 commented on #5057
Seeing that too.

https://www.isitdownrightnow.com/knexjs.org.html

[2022-03-12 10:03] hshine1226 commented on #5054
@santialbo
 Yes, I have a column a bigint. I understand thanks

[2022-03-12 10:03] #5054 closed

[2022-03-12 10:14] MRNafisiA commented on #5057
Is the website source on github? Any suggestion to use the docs offline?

[2022-03-12 11:21] thousandsofraccoons commented on #913
@OlivierCavadenti thank you, do you know when these changes will be released?

[2022-03-12 13:14] kibertoad commented on #913
Today, when I'm back home :)

[2022-03-12 14:55] strarsis commented on #5057
You can access the domain `knexjs.org` [over HTTP](http://knexjs.org/) (instead of HTTPS where connection times out).

Let's hope the domain hadn't expired and is squatted now...

[2022-03-12 20:24] rijkvanzanten commented on #5028
@kibertoad A happy medium could be to start adding JSDoc type comments to every function, and enabling TypeScript to check against that. Prevents you from having to have a build-step, but you still get the type-checking benefits of TypeScript, for example:

[code]

[2022-03-13 05:16] HelloKashif commented on #175
Its down again!!

[2022-03-13 05:34] satazor commented on #5057
cc @kibertoad

[2022-03-13 08:28] kibertoad commented on #5057
I'll look into this, thank you.

[2022-03-13 10:49] sqllyw opened #5058 "two CTE with"
Hi,

I have this CTE in sqlite3:
[code]
now I know how to select from one:
[code]
how to do a 'SELECT * FROM aCTE, bCTE;'? thanks

[2022-03-13 11:26] didimitrie commented on #5057
while this gets sorted out, for anyone else landing here: https://web.archive.org/web/20220307202010/http://knexjs.org/

PS: thanks for a wonderful library!

[2022-03-13 12:47] ritikbanger commented on #5056
cc @kibertoad

[2022-03-13 13:29] kibertoad commented on #5057
@tgriesser Do you have any visibility into what happened? I would be happy to pay for knex domain, but it doesn't seem to be available.

[2022-03-13 13:31] kibertoad commented on #5057
@elhigu @OlivierCavadenti I'm considering moving our webpage to GitHub pages, similarly to https://vincit.github.io/objection.js/
what do you think?

[2022-03-13 14:01] kibertoad commented on #4942
Released in 1.0.4

[2022-03-13 14:02] kibertoad commented on #2592
Released in 1.0.4

[2022-03-13 14:02] kibertoad commented on #2265
Released in 1.0.4

[2022-03-13 14:02] kibertoad commented on #5046
Released in 1.0.4

[2022-03-13 14:03] kibertoad commented on #913
Released in 1.0.4

[2022-03-13 14:03] kibertoad commented on #5047
Released in 1.0.4

[2022-03-13 14:05] kibertoad commented on #5057
As a quick fix, I've updated package.json and and README to point to GitHub URL, and also registered knexjs.net just in case. Waiting to hear from the rest of Knex org before making any further steps.

[2022-03-13 14:10] tgriesser commented on #5057
Ah sorry about this, it was supposed to be on autorenew with the registrar but something seems to have broken there. Just renewed it & figuring out getting it back online, not sure how long that change takes to propagate

[2022-03-13 14:23] tgriesser commented on #5057
Ok this is fixed now, sorry for the trouble - will make sure this doesn't happen again

[2022-03-13 14:23] #5057 closed

[2022-03-13 14:27] kibertoad commented on #5057
Thank you!

[2022-03-13 14:35] smorey2 commented on #5056
@ritikbanger - a quick google search provides this response.

https://stackoverflow.com/questions/4452132/add-foreign-key-relationship-between-two-databases

Cross-database foreign key relationships are not a feature of database design.

You can however design your own Application specific implantation like suggested in stack overflow. But I would recommend against it.

Alternatively you could use

[2022-03-13 15:23] ritikbanger commented on #5056
Hi @smorey2 Thanks for the response, since it is not a feature of knex, Can I assume that I cannot create such a migration file? and instead need to create a table with cross-database foreign key relationship in the db dump itself.

[2022-03-13 16:20] smorey2 commented on #5056
@ritikbanger I am curious how you are planning to create a table with a cross-database foreign key?  AFAIK this is not possible, and not part of database design. But so could be incorrect.

Foreign keys are a tool to help with Data Reference Integration (DRI). But only within the same database. Cross-database DRI can not be ensured since database are separate entities which can be joined or left a

[2022-03-13 21:17] strarsis commented on #453
Currently cascading updates and deletes in SQLite don't work - the related records of deleted records slowly pile up.
How can I enable this in KnexJS + SQLite?

[2022-03-14 05:09] githubcontrib opened #5059 "Possible exploit via .update()"
Knex version: 1.03 and 1.04
Database + version: 10.5.9-MariaDB-1:10.5.9+maria~buster
OS: Debian GNU/Linux 10 (buster)

Hello,

I've found that the following results in an update to 'two':

[code]

Reproducible on a table like:

[code]

Possible exploit/security issue?

Adding toString() outputs
[code]

That's not valid SQL, but the actual query according to general_log is
[code]
Thanks

[2022-03-14 11:18] santialbo commented on #5056
Aparently mysql allows this somehow. You can always just use knex.raw in your migrations.

[2022-03-14 12:43] marianorodriguez commented on #4951
v1.0.4 still has this issue :/

[2022-03-14 13:13] ritikbanger commented on #5056
@smorey2 I am using different knex configurations for different databases. I have a docker container for mysql dbs and I am giving cross-db references in my mysql dump, it do check for tables constraint and work well in the case. It is something similar to operate multiple microservices together.

@santialbo Could you give a specific example of using knex.raw in migration files for giving cross-db

[2022-03-14 14:31] fnatte opened #5061 "Syntax errors when using union with first/limit in 1.0.4"
# Environment

Knex version: 1.0.4
Database + version: PostgreSQL 13.4
OS: Debian

# Bug

In 1.0.4 the behavior (order and wrapping) of union changed causing queries that previously worked to generate syntax errors.

One example is:
[code]

Which in 1.0.4 gives `error: select "last_name" from "accounts" limit $1 union all select "last_name" from "accounts" - syntax error at or near "union"`.

But

[2022-03-14 14:33] kibertoad commented on #5061
@OlivierCavadenti

[2022-03-14 15:05] wa11a commented on #5061
we got the same issue with postgres after upgrade. the problem we encountered is that we had a limit anf knex placed the limit inside the first statement in the union. and union statements can't have limit. only the top level query can have a limit.
downgraded to 1.0.3

[2022-03-14 16:34] Awalgawe opened #5062 "PG native driver: cannot insert multiple commands into a prepared statement"
# Environment

Knex version: 1.0.4 and 0.95.15
Database + version: PosgreSQL 12.9
OS: Ubuntu

ping @machuga

# Bug

1. Knex.raw should allow multiple commands when using pgnative driver

2. Error message: cannot insert multiple commands into a prepared statement

3. ```javascript
    knex.raw('SELECT 1; SELECT 1;')
[code]

[2022-03-14 16:59] NiallJoeMaher commented on #4703
@laurisvan did you ever find a solution to this? Also trying to hack a similar solution together before I give up on RLS completely.

[2022-03-14 20:53] OlivierCavadenti commented on #5059
Thanks for the issue, I push a fix just now. I will check later if other statements have that kind of possible exploit.

[2022-03-15 01:01] Sleepful opened #5064 "Issue using Parameterized Query in .raw()"
# Environment

Knex version: latest
Database + version: PSQL
OS: MacOs

# Bug

Simliar to https://github.com/knex/knex/issues/4762

but the issue is with double-dollar sign quoting...

e.g.

[code]
Error:
`bind message supplies n parameters, but prepared statement "" requires 0`

[2022-03-15 08:26] santialbo commented on #5059
Related: https://flattsecurity.medium.com/finding-an-unseen-sql-injection-by-bypassing-escape-functions-in-mysqljs-mysql-90b27f6542b4

[2022-03-15 09:47] #5059 closed

[2022-03-15 12:00] rajivkr commented on #4910
Facing the same issue, any updates on this ? it would be great if we the callback to the `createTable` function picks the schema from the `withSchema` method

[2022-03-15 15:17] KristjanTammekivi commented on #5061
Looks like I just hit this with .orderBy(...) as well

[2022-03-15 15:54] OlivierCavadenti commented on #5061
I will take more time to analyze this because it seems that the two views of how unions are constructed are wanted:
- put limit, orderBy, ... in main query when needed, and wrap them : https://github.com/knex/knex/issues/913 https://github.com/knex/knex/issues/913#issuecomment-334481807
- put limit at the end of the query.

Maybe I will think about define default position of clauses with unions an

[2022-03-16 14:57] felixmosh commented on #5061
Hit the same issue, using `Order By` on union query.

[code]

Outputs:
[code]

[code]

[2022-03-17 09:40] KristjanTammekivi commented on #5064
Not related to knex, see [this answer in stack overflow](https://stackoverflow.com/questions/32943370/prepared-statement-call-fails-syntax-error-and-function-does-not-exist-on-pl-p/32944649#32944649)

[2022-03-17 11:00] dimip1606 commented on #5061
Same as @felixmosh, but using `limit` instead of `orderBy` after the `unionAll`.

[2022-03-17 12:15] ritikbanger opened #5067 "How to add constraints in Migration based on other column's specific value"
# Environment
Knex version: "^1.0.1"
Database + version: MySql 8.0.23
OS: Ubuntu 20.04

@atiertant

# Feature discussion / request
Explain what is your use case: I am looking to add constraints in migration file based on the value of another field in the same table or other table. Like if field A gets the value X then keep B as not-null otherwise null.

In MySQL, we can do this like this:
[code]

[2022-03-17 12:16] ritikbanger commented on #5067
cc @kibertoad

[2022-03-17 23:07] OlivierCavadenti commented on #5061
Sorry for the wait, and thanks for all examples guys.
I have find how to fix and I added a lot of unit tests but still need more tests.
I will push tomorrow at the end of day.

[2022-03-17 23:09] OlivierCavadenti commented on #739
Old issue (discussions + recent issue here https://github.com/knex/knex/issues/5061)

[2022-03-17 23:09] #739 closed

[2022-03-18 01:01] svetlasyrimis opened #5068 "Simple UPDATE statement produces a SQL syntax error"
**Environment**

Knex version: 0.95.15
Database + version: MySQL Community 5.7.33

Working on a new project and encountered an issue with a simple UPDATE statement. Note that I am a Newbie to MySQL and Knex, and this issue should have a straightforward answer but apparently it doesn’t.

The line of code that produces the error:
[code]

**PasswordReset.js**
[code]

**Error message**

[code]

**Expl

[2022-03-18 08:21] OlivierCavadenti commented on #754
Yes, this function have now useCamelCase option:

timestamps — table.timestamps([useTimestamps], [defaultToNow], [useCamelCase])

[2022-03-18 08:21] #754 closed

[2022-03-18 08:24] OlivierCavadenti commented on #4254
More info : https://stackoverflow.com/a/59945426/1535159

[2022-03-18 11:36] lehni commented on #4447
I've created a PR for this now, I hope this solves it for everybody.

[2022-03-18 22:11] OlivierCavadenti commented on #4014
I dont reproduce the problem in 1.0.4:

![image](https://user-images.githubusercontent.com/10152806/159091334-43c9f522-e66f-4445-97cf-bdae08f2b0fe.png)

The table :

![image](https://user-images.githubusercontent.com/10152806/159091364-a176d04f-5eb2-456c-9ae8-addd02320d10.png)

[2022-03-18 22:51] #1550 closed

[2022-03-18 22:54] #1916 closed

[2022-03-18 22:55] #1979 closed

[2022-03-19 09:54] #3990 closed

[2022-03-19 11:36] #4951 closed

[2022-03-19 11:45] kibertoad opened #5074 "Coverage workflow is broken"
Something seems to be off, coverage is suspiciously low: https://github.com/knex/knex/runs/5611141558?check_suite_focus=true

Looks like we are not executing majority of tests for some reason.

[2022-03-19 11:47] kibertoad commented on #5074
Fixed in https://github.com/knex/knex/commit/9d62cbfdb154950e868ca6fb59fd3ab785b20252

[2022-03-19 11:47] #5074 closed

[2022-03-19 12:05] #5061 closed

[2022-03-19 14:15] lehni commented on #4447
With #5071 merged (81b7edd115a15849f54d5176ce4720fc5da34314), I believe this issue can be closed now, cc @kibertoad

[2022-03-19 14:29] #4447 closed

[2022-03-19 17:21] naveen1337 opened #5076 "[TypeError: table.point is not a function]"
# Environment

 knex: "^0.95.11",
MariaDb:
OS: manjaro linux

# Bug

1.In documentation it shows up the point data type supported in knex, but when I use it throws a error as points not exists

2.  [TypeError: table.point is not a function]

# Missing / erroneus documentation

[https://knexjs.org/#Schema-point](https://knexjs.org/#Schema-point)

[2022-03-19 21:03] santialbo commented on #5076
Try upgrading knex. Geometry schema helpers were released in 0.95.12 or 0.95.13

[2022-03-20 07:14] RossComputerGuy commented on #245
I've been running into this exact issue and nothing has fixed it. [My code is here](https://github.com/MidstallSoftware/cerus/blob/master/api/database/index.ts#L39-L139). I'm not sure what I'm doing wrong but I continue to get the foreign key error.

[code]

If anyone knows the solution to this then that'll be great

[2022-03-20 08:58] CristianCojocari opened #5077 "Transaction is being commited automatically even if it fails"
# Environment

Knex version: 0.95.15
Database + version: Mysql
OS: Windows

[code]

I've also tried this:

[code]

The above code runs an sql file, with create table commands.
Inside the transaction I'm splitting the statements and trying to run every one separately.
The idea is, if a single statement fails inside the file, transaction should rollback.

The sql has 2 CREATE TABLE statements. One i

[2022-03-20 09:38] santialbo commented on #5068
That is likely an issue with objection, the ORM you are using. Knex doesn't do that when passed a `.where('id', x)`

[2022-03-20 09:43] santialbo commented on #5077
In Mysql DDL statements that create or modify tables have an implicit commit.
https://dev.mysql.com/doc/refman/8.0/en/implicit-commit.html

[2022-03-20 14:03] svetlasyrimis commented on #5068
Thank you @santialbo; any remedy for that?

I only observe that behavior in deployed environment.

I think it might be an issue with the environments, when in local both `where` and `whereIn` work perfectly; when in deployed sandbox we get that error with either one of them.

[2022-03-21 06:35] ritikbanger commented on #5067
cc @smorey2

[2022-03-21 06:37] #5077 closed

[2022-03-21 06:38] CristianCojocari commented on #5077
Thanks for the response. Apparently yes, Mysql doesn't allow for alter table, create or drop table transactions, which is pretty weird.

[2022-03-21 08:06] ritikbanger opened #5080 "How to give YEAR(2) specific type in knex?"
# Environment
Knex version: "^1.0.1"
Database + version: MySql 8.0.23
OS: Ubuntu 20.04

@smorey2

# Feature discussion / request
Explain what is your use case: I am giving YEAR(2) as specific type to a field in migration but getting an error.
`  table.specificType('year', 'YEAR(2)').nullable();`

ERROR: Invalid display width. Use YEAR instead.

In MySQL, we can use YEAR(2):  [YEAR(2)](https://dev.

[2022-03-21 08:06] ritikbanger commented on #5080
cc @kibertoad

[2022-03-21 08:13] OlivierCavadenti commented on #5080
Hi,
You can also see in the documentation this note :

`The 2-digit YEAR(2) data type is deprecated and support for it is removed in MySQL 5.7.5. To convert 2-digit YEAR(2) columns to 4-digit YEAR columns, see [Section 11.2.5, “2-Digit YEAR(2) Limitations and Migrating to 4-Digit YEAR”](https://dev.mysql.com/doc/refman/5.7/en/migrating-from-year2.html).`

[2022-03-21 10:01] santialbo commented on #5080
That is not a knex issue. It's a Mysql error. The link you posted estates it very clearly.
By the way, CC'ing people is not polite. Open source does not mean free consultancy.

[2022-03-21 11:55] svetlasyrimis commented on #5068
Thank you @santialbo, after my previous comment I dug more into that and found the commit of the previous developer that actually fixed that exact problem and I simply concluded that he didn't deploy the latest working version to that specific environment. As far as git history everything is up to date, but the server code wasn't redeployed hence the bug. Ugh, so sorry about; closing that issue.

[2022-03-21 11:55] #5068 closed

[2022-03-21 19:03] LouiseEH commented on #754
Is there anywhere else you need to set useCamelCase? I get this error message on updates:
[28408] ERROR:  column "updated_at" of relation "status" does not exist at character 75

[2022-03-21 20:51] RodrigoNovais commented on #5002
Even if it does solve the issue it should not be taken as a solution nor a recomendation
Since the library is looking for a path that does not exist and cannot be installed via npm, some change should be made in order for it to locate the correct folder for the required package

Hope someone could actually solve it since it passed a month and this trick seems to be still required

[2022-03-22 09:45] nicomabs commented on #2253
Anything new to handling clustered db with knex ? For switching db automatically ?

Thanks

[2022-03-22 12:04] jamesderrick opened #5083 "Azure Authentication not handled correctly"
# Environment

Knex version: 1.0.4
Database + version: Azure SQL (mssql) @smorey2
OS: Windows 10

# Bug

I'm trying to use knex with an azure sql database. I'm using Tedious (v14.3) as my client package.
I have been able to use Tedious with Azure SQL previously by using the token authentication type and the connection works fine.
However, with knex I just get the error `"config.authentication.opti

[2022-03-22 12:17] jamesderrick commented on #5083
Might have figured it out. Although Tedious has an authentication object. Knex doesn't seem to use that.
If I put `token` outside of it, it connects.
My config looks like this now...
[code]

[2022-03-22 12:28] kibertoad commented on #5083
@jamesderrick Can you check knex TypeScript types for MSSQL connection object? I think it should be fairly in sync with Tedious

[2022-03-23 16:27] jamesderrick opened #5084 "Running Migrations in Azure App Service"
# Environment

Knex version: 1.0.4
Database + version: Azure SQL (SQL Server)
OS: Linux

# Bug

I'm trying to use knex within an Azure App Service.
I can connect to the database and run queries without any issue. But I have an issue with migrations.
I originally had a migrate script set up to run when the container starts but that was erroring. So I'm now testing it manually by SSH-ing to the cont

[2022-03-23 16:28] #5083 closed

[2022-03-24 11:47] jamesderrick commented on #5084
I have circumvented this issue by installing knex globally on startup, but that's not the ideal approach. Would still like to understand the previous issue.

[2022-03-24 21:30] Decstro commented on #1217
I'm doing something and when I try to run the tests I get these errors:

 `Cannot lock to run migrations: the migration table is already locked`
` If you are sure that the migrations are not running, you can release the lock manually by running 'knex migrate:unlock'`
 `Cannot lock to run migrations: the migration table is already locked`

What I understand is that the database is blocked by the lo

[2022-03-24 21:37] Decstro opened #5086 "Can't take lock to run migrations: Migration table is already locked"
I'm doing something and when I try to run the tests I get these errors:

 `Can't take lock to run migrations: the migration table is already locked`
` If you are sure that the migrations are not running, you can release the lock manually by running 'knex migrate:unlock`
 ` MigrationLocked: Migration table is already locked
`

What I understand is that the database is blocked by the lock system of

[2022-03-25 01:13] JQuezada0 commented on #2796
May I take a stab at this?

[2022-03-25 06:24] #4014 closed

[2022-03-25 09:07] kibertoad commented on #2796
@JQuezada0 Yes, that would be great! You might want to take a look at how DELETE with joins was implemented:
https://github.com/knex/knex/pull/4568
https://github.com/knex/knex/pull/4800
https://github.com/knex/knex/pull/5016